[2022-10-25 16:57] spapastamkou commented on #2713
I asked Marie for her preferred email and a github username, will provide them here once they are in.

[2022-10-25 18:34] InesSalome commented on #2712
Thank you for having included me in the team @spapastamkou, it was a great experience to work with you and I wish all of you the best in the future !

[2022-10-26 07:25] drjwbaker commented on #2688
@acrymble Apologies. This did get actioned. But yes, latest changes to the FR need to be taken into account for the November revision.

[2022-10-26 07:30] acrymble commented on #2688
Ok great, thanks. We only have to update every 6 months I believe, so I'll call this closed.

[2022-10-26 07:30] #2688 closed, assigned to acrymble

[2022-10-26 13:03] matgille opened #2714 "Give the reader the possibility to choose multiple topics or/and activities"
Hi,

Sometimes there are several topics/activities in a lesson, but as I understand it, only the first one is used to filter the lessons.

Would it help to allow the user to select multiple topics and activities ?

I don't know if it's feasible, it's just an idea !

Best,

Matthias

[2022-10-26 15:04] anisa-hawes commented on #2
I've added this Issue to [a Project board](https://github.com/orgs/programminghistorian/projects/2/views/1) where I am keeping note of ideas for enhancements to improve users' experience of our website and its contents.

[2022-10-26 15:55] spapastamkou commented on #2713
preferred email is: marie.flesch on gmail (@anisa-hawes @acrymble)

[2022-10-26 17:23] anisa-hawes commented on #2714
Hello @matgille. My understanding is that only one `activity` can be applied, but Authors may choose multiple `topics` if they wish. In the YAML, it might appear like this:

[code]

or

[code]

My experience is as you describe, that only one of these filters can applied productively to our Lessons Index. Users have the option to refine the Index by either activity _or_ topic, and then may choose t

[2022-10-26 17:23] #2714 closed, assigned to nobody

[2022-10-26 18:10] anisa-hawes commented on #2692
Dear @GeeAlmeida. Sending you an email about this, introducing you an educator I met in Denmark last week who uses PH in their teaching in particularly inspiring ways ✨

[2022-10-26 18:34] anisa-hawes commented on #2712
Dear @InesSalome,

I have removed you from our Google Groups, and I have checked that you do not have Twitter access.
I can also confirm that you do not have any Service Integrations linked to your accounts.

Merci pour votre contribution et bonne chance pour vos prochains projets ! ✨

--

Dear @spapastamkou,

I've prepared a PR #2715 to remove Gwenaëlle from the Project Team page. I'll request yo

[2022-10-26 18:53] anisa-hawes commented on #2709
Hello @GeeAlmeida. I've adjusted the Zoom settings so that participants will need a Passcode to join our Meeting Room.

- [x] I'll share this with you now
- [x] (and I'll update the Service Integrations notes too)

I use the Waiting Room feature already, so new participants don't join our meetings automatically. You can see who they are, and admit them individually.

[2022-10-26 19:21] anisa-hawes commented on #2682
Maybe this would be another resource list worth being on?: https://dighumlab.org/category/learning-resources/e-learning/

[2022-10-26 19:50] anisa-hawes commented on #2578
Thank you @hawc2 for re-asking the question and to @rivaquiroga for explaining how the ES team handle this.

I must admit, it is still confusing to me...

@jenniferisasi and I were chatting about this again a few weeks ago, as I tried to clarify things in my mind...

My understanding was that the YAML for a translation must include the field `original:` but omit the field `slug:`. Am I correct tha

[2022-10-26 21:13] #2710 closed, assigned to anisa-hawes

[2022-10-27 07:33] spapastamkou commented on #2712
Thanks @anisa-hawes, I merged the PR.
Given #2688, I tick @drjwbaker task. Wait for @ZoeLeBlanc to remove access to GitHub and will close this issue.

[2022-10-27 09:37] matgille commented on #2714
Hi @anisa-hawes,

Thank you for your answer. I should have read better the editor guidelines !

Best,

Matthias

[2022-10-27 10:51] anisa-hawes commented on #2707
Thank you for reporting this Issue, @rivaquiroga !

I see the two new figure images [you have created here](https://github.com/programminghistorian/jekyll/issues/2707#issuecomment-1284509668) but I notice that strangely some of the lowercase letter 'i's are displayed as uppercase 'I' and this makes the titles and labels difficult to read.

Perhaps @maxodsbjerg and @VictorHarbo could help us by rec

[2022-10-27 10:56] VictorHarbo commented on #2707
Hi @anisa-hawes

I will try to recreate the images either later this evening or hopefully tomorrow!

[2022-10-27 11:02] anisa-hawes commented on #2707
Hello @VictorHarbo 👋🏻

Thank you! Whenever you have time, there isn't a rush to complete this today – I know how busy you and your team are.

It was wonderful to meet you in Århus last week!

[2022-10-27 11:12] anisa-hawes commented on #2706
Hello @GeeAlmeida. It would definitely be good to bring Argula Rublack (librarian from Senate House Library who we spoke to at the IHR Centenary Festival) into this conversation.

[2022-10-27 11:52] anisa-hawes commented on #2713
Hello Marie,

Welcome to the project! ✨

I am sending you an email to organise a time connect. I'd like to support your orientation by introducing you our Submissions and Jekyll repositories, and explaining a bit about how we work within these spaces.

I'd also like to help you to add your profile photo (300 pixels square, greyscale image) and bio to [our Project Team page](https://programminghist

[2022-10-27 15:36] acrymble commented on #2712
@spapastamkou I've had a look and I don't think she has Jekyll access on this site. Some of our newer members may not have needed it, so I think you can close this now.

[2022-10-27 16:01] VictorHarbo commented on #2707
So, I looked at this this afternoon. Indeed there is some code and even text missing about figure 3, well spotted @rivaquiroga

I have found the missing text, can I fork the lesson from the ph-submission repo and create a pull-request with the update directly @anisa-hawes ?

Furthermore I have created three new versions of the figures. Where and how do you want them?

[2022-10-27 18:02] anisa-hawes commented on #2707
Thank you so much, @VictorHarbo! Speedy work!

You can do it that way, but simpler would be to email me the changes (to admin [@] programminghistorian.org)  / or share the updated files on your repo? Then I can slot them in.

[2022-10-27 18:16] anisa-hawes commented on #2701
The Spanish Team are helping us to circulate and promote this event within our Spanish-speaking networks:

- [x] @mariajoafana is sharing it via the LatamHD mail list that is managed by the Red de HD <http://humanidadesdigitales.net/> in Mexico and will also circulate among PhD students at Universidad de los Andes.

--

We would be grateful if other Spanish-speakers in the @programminghistorian/pr

[2022-10-27 18:45] jenniferisasi commented on #2701
I will share it with a couple of contacts (Humanidades Digitales Hispánicas (Spain) and Asociación Argentina de HD). But is there a cap to attendance, I see in the registration link that there are only 14 passes available? Thanks!

[2022-10-27 18:53] anisa-hawes commented on #2701
Thank you, @jenniferisasi!

I'm sorry to say that I'm not sure about whether there is a limit to the number of attendees...

Is this something you know, @rivaquiroga?

If not, I'll need to wait for Gisele to be able to confirm.

[2022-10-28 06:33] VictorHarbo commented on #2707
Hi again @anisa-hawes

The text and images are here: https://github.com/maxodsbjerg/ScalableReadingOfStructuredData
The images are prefixed with 20221027 and the text file itself is prefixed with 20221028.

[2022-10-28 10:43] anisa-hawes commented on #2707
Hello @VictorHarbo. I've just been taking a look at the files on your repo. – thank you for preparing these.

Comparing the two text files, I notice that your updates haven't been applied to the latest version of the .md. (My hesitation to suggest that you fork our repo was that due to such frequent updates on our site, other users' forks almost always end up behind commits on our master branch. )

[2022-10-28 11:09] anisa-hawes commented on #2713
Marie and I have arranged to meet for an initial orientation session on Wednesday 9th November.

In our session, we'll work through the following tasks/conversations:

- [x] Introduce Jekyll Issues
- [x] Introduce the Pull Request system
- [x] Add Marie's profile + portrait to the Project Team page
- [x] Introduce ph-submissions

[2022-10-28 12:02] anisa-hawes opened #2721 "Suggestion from a reader: community forum for peer-peer support"
We received a suggestion from a reader via Twitter today.

[The Tweet is here](https://twitter.com/EthanWatrall/status/1585698029478113280), and read: "_I'm surprised that @ProgHist doesn't have a community forum for peer to peer or author to learner  support on their tutorials....or am I missing something?_"

I wrote a brief reply to thank them for the suggestion and said that we could share this

[2022-10-28 12:05] anisa-hawes commented on #2721
I see that @acrymble has contributed to say that we used to host a peer-to-peer forum when our site ran on Wordpress. But that this wasn't any longer possible with our new infrastructure.

I'll add this to [a list I'm building of Issues that raise ideas](https://github.com/orgs/programminghistorian/projects/2/views/1) for enhancements to improve users' experience of our website and its contents.

[2022-10-28 12:17] #2712 closed, assigned to spapastamkou, anisa-hawes

[2022-10-28 13:42] rivaquiroga commented on #2701
@anisa-hawes, I have no idea about how the event was created on that platform :broken_heart:. I don't believe we should limit the number of attendees.

[2022-10-28 14:34] drjwbaker commented on #2701
@anisa-hawes Thanks for looking into this. If we are going to use ticketsource, we'll need this added to our service integrations (which I'm sure you've thought about already!).

[2022-10-28 14:38] anisa-hawes commented on #2701
Thank you, @drjwbaker. That is a very good point. 🙂

I'll organise a catch up with Gisele next week so that we can make sure our Service Integrations are up-to-date. It's key that more than one person in the team knows the what/why/how of any services we use.

- [x] Gisele has shared the login credentials with me and I've saved them in my password manager
- [x] I've added this information to the S

[2022-10-28 16:34] anisa-hawes commented on #2682
Another idea is to re-investigate https://open.umn.edu/opentextbooks/.

Adam shared this resource link with me a few month's before you joined us, and I found that we don't (at the moment) meet one of their criteria: _Must be a complete textbook available as a complete portable file (e.g. PDF, EPUB)._

I know this is something that has been discussed within the Project Team in the past and decided

[2022-11-01 20:21] spapastamkou commented on #2712
Thank you @acrymble and @anisa-hawes. Please not however that I still find InesSalome (which is GP's username) among the members I can assign tickets to on jekyll and on ph-submissions.

[2022-11-01 23:29] hawc2 commented on #1953
@anisa-hawes @jenniferisasi I took a look at this. I wonder if the updated version of the program, version 1.2, released 07/07/2021, addresses some of the problems you encountered, but also creates new ones.

The software notes say this version "– Fixed map display; fixed timeline display; fixed installation on recent versions of MacOX; integrated top candidate option into processing; updated gaze

[2022-11-02 07:21] acrymble commented on #2712
You're right @spapastamkou she was on something called 'French Team' which I suspect got set up and maybe never used. I've removed her now.

[2022-11-02 14:55] anisa-hawes opened #2725 "Updating link in displaying-georeferenced-map-knightlab-storymap-js"
I am making a minor update to displaying-georeferenced-map-knightlab-storymap-js. The first paragraph of this lesson links to /es/lecciones/introduccion-map-warper. Now that an EN translation of this has been published, we can link instead to /en/lessons/introduction-map-warper.

[2022-11-02 15:57] anisa-hawes commented on #1953
Dear @hawc2. Thank you for testing this.

The steps of the maintenance workflow are outlined on out Wiki here: [Achieving Sustainability: Lesson Maintenance Workflow](https://github.com/programminghistorian/jekyll/wiki/Achieving-Sustainability%3A-Lesson-Maintenance-Workflow).

Yes, we can contact the author. I found some contact details [here](https://www.ed.ac.uk/profile/dr-beatrice-alex) and I c

[2022-11-02 15:59] anisa-hawes commented on #2612
Thank you for following up @acrymble. Apologies for leaving this one hanging.

Actions:

- [x] Communicate with each of the Managing Editors about this addition
- [x] Collate resources to help us write effective alt-text
 - [Writing Alt Text for Data Visualization](https://medium.com/nightingale/writing-alt-text-for-data-visualization-2a218ef43f81) : Amy Cesal
 - [Web Accessibility Tutorials: Comp

[2022-11-02 16:03] hawc2 commented on #1953
I see - it's worth a shot with the author. If not, I'd do both options for step 3, as finding a practitioner may take a while and putting up a warning in the meantime is probably a safe bet. Happy to help think of external practitioners, so just ping me when you need recommendations.

[2022-11-02 17:19] rivaquiroga commented on #2701
Maybe we can keep using Eventbrite, as in previous events. It is available in different languages, so it is easier for non-English speakers to register.

[2022-11-02 17:22] anisa-hawes commented on #2701
Hello @rivaquiroga. On my browser (Chrome), there is an embedded Google Translate tool in the lower left corner of the Ticket Source page, where I can select a language to translate into. Does this display on your browser too?
![Screenshot 2022-11-02 at 17 21 05](https://user-images.githubusercontent.com/87070441/199558451-634ad06e-ffa1-4f12-85bd-de958713ea50.png)

[2022-11-02 17:27] GeeAlmeida commented on #2706
Good idea, Anisa! I've written to Argula!

[2022-11-02 17:33] rivaquiroga commented on #2701
No. I'm also using Chrome. In the lower-left corner I have the cookie preferences menu.
I know people can enable Google Translate on their browsers and that the translation might be good enough for them to be able to register. But it is not the same experience as having a localized platform that will also adjust things like timezone.

[2022-11-02 17:37] GeeAlmeida opened #2727 "Editing https://programminghistorian.org/en/ipp"
The Institutional Partnership page needs to include the following sentence:
Gold partners are offered two exclusive bespoke workshops per year for their students and researchers on how to get started using digital humanities tools.

[2022-11-02 17:40] anisa-hawes commented on #2701
Thank you for letting us know @rivaquiroga. I agree, localisation features such as adjusting to the local timezone are important.

@GeeAlmeida, can you double-check the settings and investigate? Maybe it is worth looking into using EventBrite for the future?

[2022-11-02 18:12] rivaquiroga commented on #2701
Hi @GeeAlmeida! I made some additional images to promote the event, so we don't repeat the same one over and over on Twitter. I thought it would be a good idea to make the title/topic the biggest thing. And to have one image with more details about the event in case someone wants to share it via email, Slack, or another platform.

![evento-ph-3](https://user-images.githubusercontent.com/31421616/1

[2022-11-02 18:20] GeeAlmeida commented on #2692
For December our guests are:
Joana Vieira Paulino
Nicolas Vaughan
Jessica Parr

More details to follow soon!

[2022-11-02 18:21] GeeAlmeida commented on #2709
Date to be confirmed, but likely to be December 16th

[2022-11-02 18:21] GeeAlmeida commented on #2709
For December our guests are:
Joana Vieira Paulino
Nicolas Vaughan
Jessica Parr

More details to follow soon!

[2022-11-02 18:28] #2727 closed, assigned to GeeAlmeida

[2022-11-02 18:33] anisa-hawes opened #2729 "Update /es/pia, /fr/pi and /pt/ppi"
I am opening this Issue to follow PR #2728.

We are updating our /es/pia, /fr/pi and /pt/ppi pages to clarify that:

EN: _Gold Tier partners are offered two bespoke workshops per year to help their communities use digital humanities tools and methods._

ES: Se ofrecen dos talleres personalizados al año a las instituciones asociadas en Gold Tier para ayudar a sus comunidades a utilizar herramientas

[2022-11-02 18:35] anisa-hawes commented on #2729
Gisele has created a digital graphic to celebrate our first Gold Tier partnership, and I'd like us to translate the text within the graphic so that we can share it across our language communities.

I've drafted the following, but let me know if corrections/adjustments are needed! Very likely! 🙂

EN ::  PH is proud to announce that Digital Scholar is a Gold Tier supporter
ES :: PH se enorgullece de

[2022-11-02 18:39] acrymble commented on #2727
@GeeAlmeida I don't remember this. Was this advertised somewhere?

[2022-11-02 18:40] acrymble commented on #2729
@anisa-hawes can you point me to where we had decided this bespoke workshop offering? I can't remember seeing it.

[2022-11-02 19:41] anisa-hawes commented on #2729
Thank you for following up, @acrymble. My understanding is that this is something @GeeAlmeida and @drjwbaker have agreed in their dialogue about IPPs.

[2022-11-02 20:34] rivaquiroga commented on #2706
@acrymble, @silviaegt is a DH librarian.

[2022-11-03 07:43] drjwbaker commented on #2727
@acrymble Context. @GeeAlmeida suggested this as part of the IPP renewal email. I suggested it would be fine if Gisele believed that/we had capacity to deliver. I also suggested we'd need to update https://programminghistorian.org/en/ipp to reflect this change, were we to go ahead with it.

On reflection, and thinking back to our articles of association it occurs to me that membership rates and te

[2022-11-03 10:02] acrymble commented on #2727
@drjwbaker thanks. Can I ask you to liaise with @GeeAlmeida to put together some notes for us all on how this will be managed? I'm just thinking aloud, but what if someone wants a workshop in Chinese or French? Or if they think this is going to be in-person, or multi-day, or they want to roll it over to another year (etc, etc). We need to make sure we manage expectations because this is a contract

[2022-11-03 10:40] anisa-hawes commented on #2727
Would you like me to reverse the change made to the website in PR #2728 @acrymble? I'm happy to do this, and we can implement the new wording after a fuller discussion.

I've halted the Tweet for now too, so that we aren't sharing a link to a page of information that may be about to change.

[2022-11-03 11:25] anisa-hawes opened #2730 "Update needed: `buildNode.js 12 actions are deprecated`"
After merging a PR yesterday, I noted [an alert message](https://github.com/programminghistorian/jekyll/actions/runs/3379954391) alongside the build check (which had passed successfully).

The alert read:

---

**Annotations**
1 warning
[build](https://github.com/programminghistorian/jekyll/actions/runs/3379954391/jobs/5612172068)
Node.js 12 actions are deprecated. For more information see: https:

[2022-11-03 12:59] rivaquiroga commented on #2643
Hi, @GeeAlmeida! Since yesterday "RStudio, PBC" is "posit, PBC". Their new website is https://posit.co/

[2022-11-03 13:22] acrymble commented on #2727
@anisa-hawes as long as @drjwbaker and @GeeAlmeida have a plan for how this will work then it's not a problem. I just hadn't heard about it.

[2022-11-03 13:31] anisa-hawes commented on #2707
In the process of preparing the updates to this lesson, I have been thinking again about a suggestion I made during the copyediting process. I expressed my preference to remove the hardcoded captions from within the images. This is for several reasons, including an important one: that makes it more difficult for me to make changes in the future if I need to. At the time, Tiago said his preference

[2022-11-03 13:45] rivaquiroga commented on #1953
Hi everyone!
I tried the 1.2 version on Linux. Unfortunately, I got stuck in the first example:
[code]
This warning means that the output looks like this:

![Screenshot from 2022-11-03 10-29-08](https://user-images.githubusercontent.com/31421616/199733594-9365c0ed-64d5-41ea-9c83-0bbfa4b0cbc4.png)

The lesson says nothing about getting an access token to use the Mapbox API. So I checked [their docu

[2022-11-03 13:53] acrymble commented on #2706
We've got one meeting set up. And a couple of other people to chat with. Thanks everyone.

[2022-11-03 13:53] #2706 closed, assigned to acrymble, GeeAlmeida

[2022-11-03 14:03] hawc2 commented on #1953
Yes, thanks @rivaquiroga. This is what happened to me too, I was confused why Mapbox wasn't brought up in the lesson. I agree with Riva, this makes the lesson problematic, and it's probably best to see what the author thinks about how it can be improved/adapted from here

[2022-11-03 14:20] anisa-hawes commented on #1953
Thank you @rivaquiroga – this is very useful.

[2022-11-03 15:56] anisa-hawes commented on #1953
I've written to the author this afternoon to ask if they (or a colleague in their team) has interest in contributing to an update/adaptation of this lesson.

In my email, I've outlined the problems we've encountered and explained that we feel the requirement to provide credit card details presents a barrier to many of our readers.

[2022-11-03 16:31] drjwbaker commented on #2727
I have written to @GeeAlmeida

[2022-11-03 16:56] spapastamkou commented on #2712
Thanks a lot, Adam! We use sometimes this collective alias to get the attention of the members without individually pinging them.

[2022-11-03 17:04] anisa-hawes commented on #2703
Hello @eiamjw.

Thank you for connecting with us and sharing your experience of the lesson.

The expression, _in hundreds of thousands_ sounds reasonably clear to me. If I understand correctly, 230 in hundreds of thousands = two hundred and thirty thousand or 230,000. Indeed, later in the lesson we encounter the figure 1520 (the total number of passengers in 1949) written as 1,520,000.

In the Mat

[2022-11-03 17:04] #2703 closed, assigned to anisa-hawes

[2022-11-04 09:40] spapastamkou commented on #2713
added MF's GitHub username in the initial comment - cc @anisa-hawes

[2022-11-04 10:58] anisa-hawes commented on #2713
Thank you, @spapastamkou!

@ZoeLeBlanc could you invite Marie Flesch: @marie-flesch to our organisation on GitHub? Thank you! 🙂

[2022-11-04 13:02] anisa-hawes commented on #2687
At l.129 of the .md file, I notice that the figure caption reads: _Each sonnet is a `<p>` with lines separated by `<br />`_ and indeed, that is the case when I View Page Source so I am not adjusting this figure image or caption.

![Screenshot 2022-11-03 at 18 07 53](https://user-images.githubusercontent.com/87070441/199970530-e752ba9f-1d04-447c-9571-33e84f3a8edb.png)

However, in my tests I found

[2022-11-04 15:34] anisa-hawes commented on #2531
Dear @joanacvp,

I'm so sorry for the long delay. I've returned to this Issue a number of times, but I'm still unable to move past event the first step of this lesson because of the incompatibility of my MacOS (Big Sur 11.5.2) and Komodo Edit 12.

System Preferences > Security and Privacy > General > clicking the lock to make changes >  'Allow'

I had to do this too (and your English is perfect).

[2022-11-04 16:42] anisa-hawes commented on #2691
Hello @GeeAlmeida. A quick note to say that if there are any Tweets you'd like to remove from the the Twitter Bot, you could follow the instructions [here](https://github.com/programminghistorian/jekyll/wiki/Retiring-a-Lesson-from-the-Twitter-Bot) to paste rows into the Deprecated tab of the sheet.

[2022-11-04 18:43] anisa-hawes commented on #2702
Hello all,

Ahead of our next Board of Trustees Meeting on Thursday 17th November, I'd like to share the file on our Project and Business repo where relevant paperwork will be collated: [/charity/Board-of-Trustees-Meetings/2022/11-2022](https://github.com/programminghistorian/project-and-business-archive/tree/master/charity/Board-of-Trustees-Meetings/2022/11-2022)

Please take the time to review o

[2022-11-04 21:34] spapastamkou opened #2734 "Use of Twitter for communication"
All - due to the changes currently in progress as a result of Elon Musk being the new boss of Twitter, maybe we should prepare to examine possible alternatives for the future. I do not say that this should be done tomorrow, as we should probably wait and see what the changes will really be and how/if they have impact on the PH communications strategies and outreach to our audience. But there is no

[2022-11-07 08:44] drjwbaker commented on #2702
Just to add, the updated Business Plan is excellent.

[2022-11-07 14:20] rivaquiroga commented on #2734
I agree with Sofia. Exploring new platforms as a complementary outreach strategy is a good idea. Not only because part of our current audience might move to other places like Mastodon but mainly because there are potential readers that are not Twitter users. Maybe having an Instagram or a LinkedIn profile could help us reach new audiences.

[2022-11-07 16:28] rivaquiroga commented on #2612
Regarding this part:

The caption is the one that should be concise, not the alt-text. The alt-text should be descriptive so that anyone using a screen reader can understand what the figure is depicting.

I'll look for some ES resources about this topic to add to our list.

[2022-11-07 17:19] drjwbaker commented on #2734
Just noting that if we do decide to go down a mailing list route as part of a comms rethink, as we are registered in a territory that observes GDPR https://gdpr-info.eu/ there are strict rules over how we look after that data, and that will take time/effort to do correctly/legally.

[2022-11-08 17:02] spapastamkou commented on #2713
hi there! I hope it is ok for Marie's @marie-flesch access on our GitHub repository so that she can make the best out of her meeting with Anisa on 9 Nov? @ZoeLeBlanc could you confirm this, please? - or alternatively could you give her access in the days to come so that I can work with her on small practical tasks? Thanks a lot!

[2022-11-08 17:12] ZoeLeBlanc commented on #2713
Just added her @spapastamkou and @anisa-hawes ! Sorry for not seeing this earlier! Welcome to the team @marie-flesch 🥳

[2022-11-08 17:55] marie-flesch commented on #2713
thanks @ZoeLeBlanc  :)

[2022-11-08 21:08] hawc2 commented on #2329
I drafted a new wikipage for documenting [Editorial Recruitment](https://github.com/programminghistorian/jekyll/wiki/Editorial-Recruitment). This covers most of what was requested in this thread, but older editor calls could still be added, and others should feel free to update this as it gets translated into other languages.

[2022-11-09 07:08] spapastamkou commented on #2713
cheers @ZoeLeBlanc, the timing is perfect :-)

[2022-11-09 10:12] GeeAlmeida commented on #2701
Hi eveyone
The cap on atendees was increased to 25 following comments here. The initial idea was to keep numbers and expectation low, as this is a first event... In my opinion, 7 tickets sold of 16 looks good... 7 tickets sold of 25 not as good. That was the thinking behind the low number in the first place.

[2022-11-09 10:13] GeeAlmeida commented on #2701
Thank you Riva!

[2022-11-09 10:38] GeeAlmeida commented on #2701
Hi Riva

I didn't know there was an Eventbrite account. Do you know the login details for it? Can you share them with me via email?

I was under the impression EventBrite charged for its services even if the events were free. A colleague told me that and I did not question. Looking for more information, I now see that they are free if the event is free. So, yes, that would be a better option. If y

[2022-11-09 10:39] acrymble commented on #2701
@GeeAlmeida I don't think there was a PH account for eventbrite. I have used my own in the past when running a PH event, and I suspect others have done the same.

[2022-11-09 10:43] acrymble commented on #2329
@hawc2 do you think we can close this and amend it as needed over time?

[2022-11-09 10:58] acrymble commented on #2730
Do we know what we use node.js for? Is it crucial?

[2022-11-09 11:45] GeeAlmeida commented on #2643
Thanks for the reminder! I'll update our website with this information.

[2022-11-09 11:56] acrymble commented on #2682
We've just had these recommended at work:

OpenStax
•Open Textbook Library
•Pressbooks Directory
•Directory of Open Access Books
•OER Commons

I haven't looked into them.

[2022-11-09 13:09] GeeAlmeida commented on #2682
I have now contacted openstax, asking if they would like to list our materials among their resources.
They replied, pointing me towards their partnership webpage: https://openstax.org/general/openstax-ally-technology-partner-program.

The next application period will open again mid December through mid January.

[2022-11-09 13:10] GeeAlmeida commented on #2682
Definitely, plus they are an IPP! I have written to our contact at the Digital Humanities Lab Denmark.

[2022-11-09 13:22] GeeAlmeida commented on #2682
@nivaca did you get a reply?

[2022-11-09 13:23] GeeAlmeida commented on #2686
This ticket can be closed, as a proposal has been submitted. Thanks to all involved!

[2022-11-09 13:23] #2686 closed, assigned to scottkleinman, ZoeLeBlanc, hawc2, GeeAlmeida

[2022-11-09 13:40] rivaquiroga commented on #2701
@GeeAlmeida, as Adam said, we have used our own accounts. Maybe we should create one for PH.
Eventbrite does not charge you if the event is free. Only if you charge participants they ask for a fee.

What do you think about adding a link for people to check at what time the event is taking place in their time zone? Something like:
"Puedes revisar a qué hora se realizará el evento en tu hora local a

[2022-11-09 14:25] ZoeLeBlanc commented on #2730
Thanks for catching this @anisa-hawes! I just pushed up a PR to fix it https://github.com/programminghistorian/jekyll/pull/2735 . Literally just involves updating one of the actions we call in the build.yml file, so not a big issue at all.

[2022-11-09 14:29] anisa-hawes commented on #2730
Thank you, @ZoeLeBlanc! This is much appreciated!

I noted that PR #2733 stalled its build checks last Friday, so I'll rebase that when this is merged in 🙂

[2022-11-09 14:43] GeeAlmeida commented on #2701
Riva I am confused about the time. 15 hs UTC = 15 hs GMT (UK time)?
I checked when I set up the event and 15 hs UTC translated as 16 hs in London. That is the time in ticketsource. That is different from the link you shared.

I think the confusion comes from the fact that a couple of weeks ago the UK changed from British Summer Time to GMT.

I have amended the ticketsource page and will inform the

[2022-11-09 14:57] rivaquiroga commented on #2701
We agreed on 15:00 UTC. When we agreed on the time and date of the event (early October), 15:00 UTC was 16:00 UK time. But on the day the event is going to take place (mid-November) 15:00 UTC is 15:00 UK time because you are not in BST anymore.
In ticketsourse the event says 4pm, but it does not mention the timezone. But the image says 15:00 UTC, so that is probably what people are taking into acc

[2022-11-09 14:58] GeeAlmeida commented on #2701
I've added the sentence and link you suggested to the event page, thanks Riva!

[2022-11-09 14:58] rivaquiroga commented on #2701
Thanks :two_hearts:

[2022-11-09 15:18] GeeAlmeida commented on #2709
I have emailed Joana, Nicolas and Jessica to finalise the booking.

[2022-11-09 16:14] hawc2 commented on #2329
yep works for me

[2022-11-09 16:14] #2329 closed, assigned to svmelton, amsichani

[2022-11-09 16:19] anisa-hawes commented on #2730
This Issue is closed by PR #2735.

[2022-11-09 16:33] marie-flesch opened #2736 "Adding myself the project team pages"
Updating our Authors (ph_authors.yml) and Avatars (avatars) files because I'm joining the French team.

[2022-11-09 16:36] GeeAlmeida commented on #2734
Hey Sofia @spapastamkou
What do you mean with downloading and archiving our account's Twitter data? This is not something I have done so far. I don't think this has been done yet.

[2022-11-09 17:30] GeeAlmeida commented on #2729
I'll make this update on Friday!

[2022-11-09 17:31] GeeAlmeida commented on #2700
I'll make this update on Friday - if you have anything to add, do it before then!

[2022-11-09 17:32] #2736 closed, assigned to marie-flesch

[2022-11-09 18:09] #2725 closed, assigned to anisa-hawes

[2022-11-10 09:39] spapastamkou commented on #2734
@GeeAlmeida Once connected to the Twitter account, use https://twitter.com/settings/account and then select `Download an archive of your data` . It may take some time but eventually the files arrive, if I remember correctly in form of sheets. Perhaps James has idea about archiving them? I would suggest to upload the downloaded folders on our repo on GitHub (see with Anisa/Adam in which repo?) and

[2022-11-10 11:12] anisa-hawes commented on #1953
Dear all,

Good news: I've received a positive reply from the author.

Beatrice Alex explained that a change was made to the Geoparser in early 2022 which introduced Mapbox instead of Google Maps. The team at Edinburgh *think* they have now found a way to utilise Mapbox without the need to supply credit card information, and so they are hoping/planning to release a new version of the Geoparser.

T

[2022-11-10 11:43] anisa-hawes commented on #2707
Hello @hawc2,

I hope you're well?

I've been working with the authors and have prepared the updates requested above in PR #2731.

I wonder what your thoughts are on removing the hard-coded captions that are included in this lesson's images? [As explained above](https://github.com/programminghistorian/jekyll/issues/2707#issuecomment-1302121103), this is something Tiago and I discussed during copye

[2022-11-10 15:02] #1953 closed, assigned to anisa-hawes

[2022-11-10 15:15] hawc2 commented on #2707
@anisa-hawes makes sense to me to avoid hard-coding the title into the plot, in keeing with our normal editorial standards and workflows. If there's anything important to this particular lesson that this practice strays from, it seems better to offer a brief disclaimer explaining why, although I doubt any reader would notice

[2022-11-10 15:32] ZoeLeBlanc commented on #2691
Hi Everyone! I think for now we should freeze the bot until we figure out both where to move the bot (could move to Google Cloud https://developer.twitter.com/en/docs/tutorials/how-to-create-a-twitter-bot-with-twitter-api-v2 or potentially Netlify) and also whether we still want to use a bot to promote lessons or not (perhaps looking at the data we get from #2734 ). The @programminghistorian/techn

[2022-11-10 15:33] hawc2 commented on #2578
@anisa-hawes did we clarify this during the translation meeting? I think we can probably close this and update our documentation with the main info

[2022-11-10 15:35] hawc2 commented on #2551
@anisa-hawes what remains to be done with this ticket? We can discuss it at next tech meeting but it sounds like data has been archived, and some customization of Google Analytics still neds to be done?

[2022-11-10 15:37] acrymble commented on #2551
I got an email about this today actually. Apparently it's just a few clicks to upgrade. I can assign myself to this as I'm an administrator on it.

[2022-11-10 15:37] ZoeLeBlanc opened #2738 "Docker Issues/Potential Options"
To help with building the site locally and also our dependence on other's software, the @programminghistorian/technical-team will be exploring options for using Docker. We are currently using a docker image I cloned of htmlproofer for our builds, but would also be good to create a docker image of the site itself to make it easier for anyone else to get our site up and running. So far we've hit a f

[2022-11-10 15:37] ZoeLeBlanc commented on #2633
Closing this because we will discuss next steps with htmlproofer in #2738

[2022-11-10 15:37] #2633 closed, assigned to ZoeLeBlanc, anisa-hawes

[2022-11-10 15:38] ZoeLeBlanc commented on #2289
Closing this because we will discuss next steps with build options in #2738

[2022-11-10 15:38] #2289 closed, assigned to ZoeLeBlanc, anisa-hawes

[2022-11-10 15:39] acrymble commented on #2691
@ZoeLeBlanc I think @GeeAlmeida finds the bot quite frustrating because it is unpredictable and not always on message, so it would be good to discuss with her how it fits in communication plans moving forward before devoting dev time to it!

[2022-11-10 15:44] hawc2 commented on #2691
yeah our discussion today was leaning towards the bot not being necessary...

[2022-11-10 16:04] ZoeLeBlanc commented on #2691
Ya there might be a middle ground we're we have more custom options with the bot so it's less unpredictable and easier to edit too. But we are definitely also considering how it fits within the broader communication strategy. @GeeAlmeida would you be able to join our next tech team meeting at 9am Central Time on December 8? If yes I can send you a zoom link! Alternatively we could chat on PH Slack

[2022-11-10 16:53] #2687 closed, assigned to anisa-hawes

[2022-11-10 16:59] #2551 closed, assigned to acrymble, rivaquiroga, GeeAlmeida

[2022-11-10 17:41] anisa-hawes commented on #2578
Thank you, @hawc2.

I think there are still several different workflows.

In our meeting, Riva explained that the ES team's approach is to save translated images in a new folder which shares its name with the translated lesson, rather than in the original images folder. This means that any translated images appear to be broken in the ph-submissions Preview, because they are not found within the fo

[2022-11-10 17:45] hawc2 commented on #2578
This generally sounds like a good solution to me!

On Thu, Nov 10, 2022, 12:41 PM Anisa Hawes ***@***.***> wrote:

[2022-11-10 17:51] anisa-hawes commented on #2578
Maybe I will add that, ideally, the `lesson-image-name` part of the file name would be the lesson slug. For example:

[code]

[2022-11-10 19:39] anisa-hawes commented on #2707
Thank you, @hawc2. I've made [the following adjustments in the branch](https://github.com/programminghistorian/jekyll/pull/2731/files) I'm preparing:

- [x] Removed `title =` and `subtitle =` where they are hard-coded within `labs()`
- [x] Revised l.179 to explain how titles and subtitles can be hard-coded alongside other descriptive text if a reader wants to add them
- [x] Added the Figure number

[2022-11-11 08:42] spapastamkou commented on #2691
Note to ourselves: if we are to move the bot, we should update the editors guidelines where the link towards the Gsheet is provided, if I am not mistaken, twice.

And a question (for here or for your meeting): what do we do in a short term perspective? There are several lessons to be published in the coming weeks; in this case, should the editors prepare tweets for the bot (this or a future one)?

[2022-11-11 08:54] drjwbaker opened #2740 "2022 deposit release"
Morning. I've made the annual deposit release https://zenodo.org/record/7313045
Next step is to update https://programminghistorian.org/en/about#open-source which I'll on to when I get a minute.

[2022-11-11 10:46] GeeAlmeida commented on #2734
@drjwbaker You might be the best person to do what Sofia is suggests (download ProgHist's data from Twitter), as when I tried to do it Twitter sent a verification code to the gmail, and these codes tend to expire quite quickly!

[2022-11-11 10:49] GeeAlmeida commented on #2691
Happy to be there! Send a Zoom link to community@programminghistorian.org please!

[2022-11-11 11:30] drjwbaker commented on #2734
Okay @GeeAlmeida. I'll can do it. Can you please send me the password?

[2022-11-11 12:36] anisa-hawes commented on #2740
I can take care of that, @drjwbaker!

[2022-11-11 13:27] anisa-hawes opened #2742 "Fix or remove broken link in EN lesson: Text Mining in Python through the HTRC Feature Reader"
/en/lessons/text-mining-with-extracted-features

The following external link is broken: http://cforster.com/2015/09/gender-in-hathitrust-dataset/.

[2022-11-11 14:07] GeeAlmeida commented on #2729
Anisa do you want me to produce different versions of the image, one per language? Let me know what you have in mind for this!

[2022-11-11 14:37] GeeAlmeida commented on #2729
@anisa-hawes The image in the Spanish page (PIA) is not showing correctly. This is not something I know how to fix at the moment. The same happens in French.

[2022-11-11 15:13] anisa-hawes commented on #2729
Which image, @GeeAlmeida?  /es/pia looks good to me in the Netlify Preview:

![Screenshot 2022-11-11 at 15 12 35](https://user-images.githubusercontent.com/87070441/201369028-8bea02c4-4178-4cf8-a12e-1ef36a03f9df.png)

[2022-11-11 15:16] GeeAlmeida commented on #2729
That was the image I thought had issues. All good then!

[2022-11-11 15:18] anisa-hawes commented on #2729
I thought it would be nice to promote Gold Tier in multiple languages! And also to have a graphic ready to go, incase a new Gold Tier partner joins us whose native language is ES, FR or PT 🙂

[2022-11-11 15:31] drjwbaker commented on #2729
@GeeAlmeida Before we make this live, do please send through (as elaborated via email) your thoughts on how we resource the gold tier, ideally in time for the Trustees to discuss it next Thursday https://github.com/programminghistorian/jekyll/issues/2702

[2022-11-11 15:32] #2742 closed, assigned to anisa-hawes

[2022-11-11 15:44] GeeAlmeida opened #2747 "PH calendar of events - January"
Hi everyone @programminghistorian/project-team

Our third event is in the works. Would January be a good time to host our first event in Portuguese @programminghistorian/portuguese-team ? I had discussed with @DanielAlvesLABDH the possibility of collaborating with a university in Brazil... Can we start thiking about this?

I will update this ticket as the details are finalised.

Working Title: Con

[2022-11-11 15:53] #2740 closed, assigned to drjwbaker

[2022-11-11 18:21] anisa-hawes opened #2748 "Adding a new menu item events / eventos / manifestations / eventos"
I am opening this Issue to signal that I'm adding a new menu item to our website which provides a space for listing future and past _Programming Historian_ events.

I propose the following menu headings: en/events, es/eventos, fr/manifestations, pt/eventos
and that each page will have two sections:

en/events/future
en/events/past

es/eventos/futuros
es/eventos/pasados

fr/manifestations/futur
fr/

[2022-11-11 21:01] anisa-hawes commented on #2713
Marie and I have organised to connect for a follow-up orientation session (to focus on ph-submissions) on Wednesday 23rd November.

[2022-11-14 11:58] drjwbaker commented on #2702
Finance paper added.

[2022-11-14 12:00] advsalahuddinahmed072 commented on #1296
[The All Pakistan Legal Decisions ](https://stlawrenceuniversity.on.worldcat.org/search?queryString=au%3D%22West%20Pakistan%20%28Pakistan%29%22&clusterResults=true&groupVariantRecords=true) #

[2022-11-14 12:00] advsalahuddinahmed072 commented on #1296
Doctype:pdf

[2022-11-14 15:05] jenniferisasi commented on #2700
Invited talk to a class:
Isasi, Jennifer. "_Programming Historian_: A Collaborative Project to Put Programming Within the Reach of Humanists," Language Technologies for Digital Humanities, within the Global Digital Humanities degree, University of Mondragón, Spain (14 November 2022).

[2022-11-15 09:28] spapastamkou commented on #2700
Invited participation to a workshop:
Sofia Papastamkou, Participation à l'atelier "Formation et compétences pour les différents types d’acteurs : pratiques pédagogiques et didactique", animé par Dorothée Benhamou-Suesser et Madeleine Géroudet. Cycle d'ateliers du projet ResPaDon. Paris, Bibliothèque nationale de France, 6 octobre 2022 https://respadon.hypotheses.org/1755

EN:
Sofia Papastamkou, Pa

[2022-11-15 14:26] rivaquiroga commented on #2721
Hi! I think this is a great idea.
We do need to take into account that forums must be moderated. And someone has to do that job.

[2022-11-15 14:53] rivaquiroga commented on #2700
Roundtable discussion at a conference:

EN
Riva Quiroga. [“Open Review in Journals”](https://perma.cc/NC2A-6LL3). Roundtable discussion at XI International Conference BIREDIAL-ISTEC (7 October 2022).

ES
Riva Quiroga. [“Evaluación abierta en revistas”](https://perma.cc/NC2A-6LL3). Mesa de discusión de la XI Conferencia Internacional BIREDIAL-ISTEC (7 de octubre de 2022).

[2022-11-15 15:16] acrymble commented on #2700
Daniel van Strien is hosting a workshop at the British Library on 17 November to do a guided tour of his lesson 'Computer Vision for the Humanities' as part of the 'Digital Scholarship Training Programme' at the library.

[2022-11-15 23:33] ZoeLeBlanc commented on #2721
Agree with the points raised about needing to think about time to moderate and who will enforce standards. One option on the infrastructure side is simply enabling discussions on this or the ph-submissions repo https://docs.github.com/en/discussions . Discussions are essentially forums and this blog post gives a nice overview of some of the features https://github.blog/2022-01-13-how-five-open-sou

[2022-11-15 23:54] hawc2 commented on #2721
@ZoeLeBlanc that's a cool feature! I agree we should first try out options available within Github infrastructure before coding something into the website or using third-party platforms.

The peer to peer and author to learner discussion board set up could increase engagement in some interesting ways, although it might present new challenges around moderation. Maybe it could also serve as a space

[2022-11-16 10:12] acrymble commented on #2721
Can we park any actual development until we've had time to come up with a holistic approach to a publishing ecosystem that may or may not need this type of feature, rather than what we've had historically, which is adding things on to our existing infrastructure.

We're going to discuss this at our next board meeting #2702

[2022-11-16 11:00] GeeAlmeida commented on #2709
There is a possibility that Adéla Sobotkova might join the roundtable. She is Associate Professor of History and Classical Studies at Aarhus University, and although she doesn't use PH in the classroom, she very often signposts her students to PH. Semmed like a good addition to the discussion. She is checking if free on the 16th and wil let me know.

[2022-11-16 12:33] GeeAlmeida opened #2750 "Steps to put together a PH event"
Steps to put together PH events:

1) Create a new issue at ticket to discuss the event and identify its topic with the wider team

2) Identify possible speakers

3) In dialogue with the speakers, set the date and time

4) Create the event in Eventbrite (include a question to participants: are they OK with the event being recorded?)

5) Create a TinyURL for the event's Eventbrite link

6) Ideally a

[2022-11-16 14:11] GeeAlmeida opened #2751 "Offer to Gold IPPs"
IPPs that sign up to the gold tier pay  £3,000 GBP / $4,200 USD / €3,600 EUR / $5,100 CAD for their yearly membership. Our selling point for this tier is the offer of two workshops per year. This issue is to discuss what exactly we should be offering and to sketch a protocol for PH's relationship with gold tier supporters.

**What we offer**

The two workshops per year are aimed at students and re

[2022-11-16 14:36] anisa-hawes opened #2752 "Netlify Build Image needs to be updated"
I'm opening this Issue because I noted that [our Netlify Build Image needs to be updated](https://app.netlify.com/sites/ph-preview/deploys/6374ef927ca4bf0009cf7a43), so [all our ph-preview deploys are failing](https://github.com/programminghistorian/jekyll/pull/2731).

Clicking into the Deploy detail, I find the following:

![Screenshot 2022-11-16 at 14 28 19](https://user-images.githubusercontent

[2022-11-16 15:13] anisa-hawes commented on #2702
Visual update on our IPP Programme added: [ProgrammingHistorian-IPP-Update-Nov-2022.pdf](https://github.com/programminghistorian/project-and-business-archive/blob/master/charity/Board-of-Trustees-Meetings/2022/11-2022/ProgrammingHistorian-IPP-Update-Nov-2022.pdf) (with thanks to @GeeAlmeida)

[2022-11-16 16:21] rivaquiroga commented on #2734
People [started asking](https://twitter.com/infovestigacion/status/1592912473732288513?) if we are on Mastodon :eyes:

[2022-11-16 17:22] ZoeLeBlanc commented on #2752
Thanks for catching this @anisa-hawes! I just updated the netlify settings for our build image so hoping that does the trick 🤞🏽 😅

[2022-11-16 17:36] anisa-hawes commented on #2752
Super! Thank you, @ZoeLeBlanc! 🚀 That seems to have solved it.

[2022-11-16 17:36] #2752 closed, assigned to ZoeLeBlanc, anisa-hawes

[2022-11-16 19:03] anisa-hawes commented on #2691
Thank you, @spapastamkou. In the short term, I think editors should continue to prepare x2 Tweets at the time of a lesson's publication and add it to the existing Google Sheet. Whatever decision is made about a new method or a new platform for communications, I think one of the considerations will be how we want to highlight/remind readers about new and old lessons.

[2022-11-16 20:53] GeeAlmeida commented on #2701
OK, this event has now passed. Thank you @rivaquiroga for being a great interviewee!

Here is the link to the YouTube video of the event:

https://youtu.be/QgSuaHM5ap0

[2022-11-16 20:53] #2701 closed, assigned to GeeAlmeida

[2022-11-17 08:29] spapastamkou commented on #2691
@anisa-hawes Great, thanks a lot. I think so as well, since it will frankly be difficult to catch afterwards something not done in its time.

[2022-11-17 11:01] anisa-hawes opened #2753 "Correcting small error in The Sound of Data / Sonificação de dados"
The author of _The Sound of Data_ / _Sonificação de dados_ has kindly [reached out via Twitter](https://twitter.com/electricarchaeo/status/1592263730859241473) to let us know about a small error in the following lessons:

/en/lessons/sonification
/pt/licoes/som-dados-sonificacao-historiadores

The error is in a code block at the second [Practice step](https://programminghistorian.org/en/lessons/so

[2022-11-17 11:01] davanstrien opened #2754 "Update screesnhot for Kaggle setup in computer vision lessons"
The setup for the computer vision lessons https://programminghistorian.org/en/lessons/computer-vision-deep-learning-pt1#kaggle needs to be updated to reflect an update in the options for GPUs in Kaggle.

<img width="627" alt="Screenshot 2022-11-17 at 10 56 17" src="https://user-images.githubusercontent.com/8995957/202428279-1b68953c-e2ba-4906-99dc-fec857b24a87.png">

Kaggle offers different types

[2022-11-17 11:11] anisa-hawes commented on #2753
Hmm... I'm a bit confused...

A `# comment` in this code block states that `# 'commenting out' means removing the # sign`. Isn't the opposite true? We 'comment out' by _adding_ the `#`?

It is possible that I am mis-understanding the word 'out' here ?

At the moment, the line `live_loop` is preceded by `#` so it is a comment (or, in this case, a disabled command).
To run the loop, a reader will re

[2022-11-17 11:28] davanstrien commented on #2754
Happy to also get assigned to this :)

[2022-11-17 11:28] anisa-hawes commented on #2754
Thank you, @davanstrien. If you could email me the updated image (admin [@] programminghistorian.org) then I can make this change. That is usually simpler than you forking our repo, as we make changes to our website so frequently.

[2022-11-17 11:29] #2707 closed, assigned to anisa-hawes

[2022-11-17 11:44] anisa-hawes commented on #2721
Yesterday, an author sent me a correction for a lesson using a web annotation tool called Hypothesis [https://web.hypothes.is/](https://web.hypothes.is/) which I think looks super ✨ (screenshot below).

A thought: perhaps something worth investigating as we begin to think about how a community forum for peer-peer support could work? An annotation tool like this one could prove helpful for pointing

[2022-11-17 12:58] acrymble commented on #2721
There are a number of historic threads about that tool. https://github.com/programminghistorian/jekyll/issues?q=is%3Aissue+is%3Aclosed+hypothesis

[2022-11-18 00:51] nivaca commented on #2682
@GeeAlmeida, unfortunately not. But the request to include our four editions is still ongoing, so it seems.

[2022-11-18 07:29] spapastamkou commented on #2682
Antonio Rojas Castro and then I had registered PH ES and FR in OER commons (and perhaps EN as well or it was already there). Please check again however.

[2022-11-18 10:11] spapastamkou commented on #2682
after verification, it was actually [the global PH](https://www.oercommons.org/courses/the-programming-historian) I myself had registered on OER commons. So for [this registry](https://www.oercommons.org/), mentioned by Adam, the FR and PT editions are not in yet. @GeeAlmeida

[2022-11-18 10:12] anisa-hawes opened #2756 "Update ph_authors.yml and teamroles.yml"
I am opening this Issue to signal that I'm updating `ph_authors.yml` and `teamroles.yml` to reflect the following changes:

- Sarah Melton has stepped down from the Board of Trustees
- Jessica Parr has joined the Board of Trustees
- The Global Team is now absorbed

[2022-11-18 10:15] GeeAlmeida commented on #2682
Thanks for this Sofia! @spapastamkou

[2022-11-18 11:45] rivaquiroga commented on #2734
Considering yesterday's events at Twitter headquarters it might be a good idea to create a Mastodon account in the next few days, right? Maybe nothing happens. Maybe the platform collapses. Who knows.
fedihum.org could be a good instance to choose.
Quinn Dombrowski started a list of DH accounts on Mastodon. Once created, we can add ours there using this form: https://forms.gle/fDLWhuvsv82LEeKq8

[2022-11-18 12:22] spapastamkou commented on #2734
Just in case, there is also the [instance of Humanities Commons](https://team.hcommons.org/2022/11/07/humanities-commons-launches-mastodon-server-open-to-scholars/) - should be accessible soon.

[2022-11-18 12:55] #2643 closed, assigned to GeeAlmeida

[2022-11-18 13:03] anisa-hawes commented on #2702
Dear all,

The Minutes of yesterday's BoT Meeting are available for your review: [BoT-17-11-2022.md](https://github.com/programminghistorian/project-and-business-archive/blob/master/charity/Board-of-Trustees-Meetings/2022/11-2022/BoT-17-11-2022.md).

Please let me know if you'd like me to make any amendments/additions.

A.

[2022-11-18 13:03] #2702 closed, assigned to anisa-hawes

[2022-11-18 13:19] #2756 closed, assigned to anisa-hawes

[2022-11-18 14:01] anisa-hawes commented on #2679
Dear all,

Apologies for the long delay in uploading the Minutes of the Managing Editors' Meeting. They are available here: [09_2022_ManagingEditorsMeeting.md](https://github.com/programminghistorian/project-and-business-archive/blob/master/project/Meetings/2022/Managing-Editors-Meetings/09_2022_ManagingEditorsMeeting.md). Let me know if you'd like me to adjust anything.

Please note that, going f

[2022-11-18 14:01] #2679 closed, assigned to anisa-hawes

[2022-11-18 14:05] anisa-hawes commented on #2729
Closed by #2745.

[2022-11-18 14:05] #2729 closed, assigned to GeeAlmeida

[2022-11-18 14:38] GeeAlmeida commented on #2709
The Eventbrite link for this event is:
https://tinyurl.com/ph-16-12

[2022-11-18 14:38] anisa-hawes commented on #2660
Dear all, I apologise for leaving this Issue hanging.

I have been thinking about this, and how I can help to create a space for informal, internal dialogue.

- [x] I've read some documentation, plus various forums and blog posts to learn more about Discord
- [x] I've created an account associated with my admin@ email address
- [ ] I got stuck on a verification step, which prompts me to associate

[2022-11-18 14:58] anisa-hawes commented on #2536
Update: this Issue is almost ready to close. I've prepared a PR #2685 to roll out use of our Authorial Copyright and Publishing Rights declaration forms to PT and FR.

- [x] Just awaiting a few final tweaks to the FR translation (thank you @spapastamkou)
- [x] Then, I'll replace the PDF in [Forms](https://github.com/programminghistorian/jekyll/tree/gh-pages/assets/forms) and move the PR forwards
-

[2022-11-18 15:35] drjwbaker commented on #2702
Perfect.

[2022-11-18 15:52] drjwbaker commented on #2751
I suspect some librarians may wish to join as well as professional development

[2022-11-18 15:56] GeeAlmeida commented on #2700
including the added items to the website

[2022-11-18 15:56] drjwbaker commented on #2751
Maybe something like: "Gold partners are offered the opportunity to suggest the topics/themes for two workshops per year to help their communities use digital humanities tools and methods. These workshops would have open registration, with places reserved for staff (and where applicable students) of Gold tier members."

This recognises that:
- not all IPPs are places with students
- gives IPPs som

[2022-11-18 15:57] drjwbaker commented on #2751
Agreed.

[2022-11-18 16:02] spapastamkou commented on #2660
I have a Discord account without any phone number associated, so this should be possible?

[2022-11-18 16:11] anisa-hawes commented on #2660
Okay. Maybe I'll go through that step and then see if I can remove my telephone number. I also had to give them a date of birth, and decided to give one which isn't mine (!) but is easy to remember for anyone in the future. Now I think about it, that might be what caused the problem...

[2022-11-18 16:42] GeeAlmeida commented on #2692
For January I am in conversation with the Portuguese team. The idea is to partner with a Brazilian university (FGV) and use the occasion to celebrate 30 lessons published in Portuguese. The date is tbc, either 18 or 20/01.

[2022-11-18 16:45] GeeAlmeida commented on #2692
I suggest that we create a tag "Events" and that should make it easy for people to follow each event's issue. This issue is basically duplicating content already inserted in the issues created for each event.

[2022-11-18 16:48] anisa-hawes commented on #2748
Okay. The template pages are ready in [PR 2749](https://github.com/programminghistorian/jekyll/pull/2749), and @GeeAlmeida is happy with the layout and formatting (she has also made some tweaks to my Portuguese blurb 🙃 ).

--

Gisele expressed a preference for the word 'upcoming' in place of 'future', so I've replaced the section headings as follows:

en/events/upcoming
en/events/past

es/eventos/

[2022-11-18 16:49] anisa-hawes commented on #2748
Another (related) thought I had was whether I should collapse the Vacancies tab into the About drop-down menu, to avoid the bar becoming too cluttered... ?

I think I can see how that would be done.

[2022-11-18 17:01] anisa-hawes commented on #2692
Yes, we can create a new 'Events' Label here on GitHub Issues.

Click Labels > Edit Labels > New Label > Label name > Description (optional) > [choose colour] > Create Label.

(You can edit the colour or the label name if you like 🙂 )

[2022-11-18 17:01] GeeAlmeida commented on #2709
![Image 1](https://user-images.githubusercontent.com/109232661/202760563-ec124110-7c13-4c85-8bf2-dfd975d9797d.png)

[2022-11-18 17:03] GeeAlmeida commented on #2709
@programminghistorian/english-team

Our second event will be in English. Please share it with your wider networks and contacts if you can!

[2022-11-18 17:08] acrymble commented on #2709
@GeeAlmeida who is the target audience?

[2022-11-18 17:29] GeeAlmeida commented on #2709
Lecturers looking to use PH in their teaching.

[2022-11-18 17:58] #2700 closed, assigned to GeeAlmeida

[2022-11-18 18:31] DanielAlvesLABDH commented on #2748
Hi all. Just noticed that the menu item "Vagas" on the PH PT site redirects to the EN page. Also, it would be good to change a little the text on the Portuguese page: "Obrigado pelo seu interesse ao trabalhar com" to "Obrigado pelo seu interesse em trabalhar com"

[2022-11-18 20:15] jenniferisasi commented on #2748
The Spanish language page is fine, @anisa-hawes. Only thing is, @rivaquiroga did we ever decide to write only in "tú" or both tú and usted (not mixed in the same text, of course); can't remember.

[2022-11-18 20:54] rivaquiroga commented on #2748
If we follow our own Author Guidelines, we should use tuteo. I'll make the change.

[2022-11-18 20:59] rivaquiroga commented on #2748
Done!

[2022-11-20 11:09] GeeAlmeida commented on #2734
Brazilians seem to be heading in large numbers to [Koo](https://www.kooapp.com/). I don't know if this is happening in other countries.

[2022-11-22 11:48] DanielAlvesLABDH commented on #2274
Caros amigos/as da @programminghistorian/portuguese-team vanos avançar com estas alterações nas directrizes para autores. Alguém mais quer contribuir, em especial nas dúvidas levantadas por mim no comentário [aqui](https://github.com/programminghistorian/jekyll/issues/2274#issuecomment-923295307)?

[2022-11-22 14:44] josircg commented on #2274
Olá Daniel, fiz uma revisão geral e só tenho 2 pequenos comentários a fazer:

1) eu prefiro "código-fonte". Inclusive, meus amigos de Portugal confirmaram que o termo usado é esse.

2) eu procuro sempre usar o acordo ortográfico - acho que poderíamos colocar que deve ser utilizado preferencialmente mas não obrigatório.

[2022-11-23 09:05] acrymble commented on #2751
60 minutes? 90 minutes? Timezone limits?
On Zoom?

Can anyone else think like a lawyer here and think of things that may go wrong if not made very explicit?

[2022-11-23 09:07] acrymble commented on #2750
Good places to advertise English events would be: Twitter, Mastodon, Patreon, Royal Historical Society newsletter. Maybe H-net (do people still use that?).

[2022-11-23 09:09] drjwbaker commented on #2751
Indeed Adam. We need some wording to the effect of:

[2022-11-23 10:14] acrymble commented on #2750
@GeeAlmeida thanks for opening this. Let's discuss it at our next group meeting. Once we've solidified this plan, it would be good to move it to a stable place where it can act as a reference for anyone else running events. Maybe the Wiki (if we keep using the Wiki).

[2022-11-23 12:33] GeeAlmeida commented on #2750
Thanks Adam!

Have we decided we are leaving Twitter and opening a Mastodon account?
I still receive H-net emails. I'll look for a DH-specific channel in there.

[2022-11-23 12:44] acrymble commented on #2750
@GeeAlmeida If you're still getting useful traction at Twitter I don't think you need to leave. But it's probably not as all-encompassing a solution as it once was.

I don't think there is a DH-specific H-net. But again, your audience isn't necessarily DH people, but humanities people. Especially for the upcoming event.

[2022-11-23 14:28] anisa-hawes commented on #2325
Hello all,

I'm sorry to have left this Issue open and untended so long. I have collated some notes which attempt to bring together the suggestions Riva raised upon opening this thread, with some thoughts discussed at the last Managing Editors' Meeting.

I've tried to clarify the criteria, so that assigning `difficulty:` is more straight-forward for editors/authors, and more consistent going forwa

[2022-11-23 17:10] anisa-hawes commented on #2713
I am closing this Issue, although (of course) I will still be around to support @marie-flesch during the coming months.

Warm welcome! ✨

[2022-11-23 17:10] #2713 closed, assigned to spapastamkou, anisa-hawes, marie-flesch

[2022-11-23 17:47] GeeAlmeida commented on #2692
Thanks @anisa-hawes for creating the new Events tag. Now people can follow the events through the tag. This means this issue can be closed.

[2022-11-23 17:47] #2692 closed, assigned to GeeAlmeida

[2022-11-23 18:52] GeeAlmeida commented on #2750
@programminghistorian/english-team does anyone have further suggestions on where to advertise English events? So far I've got:
Royal Historical Society newsletter, H-net, H-Soz-Kult, Digital Humanities channel in Slack

[2022-11-24 11:30] ericbrasiln commented on #2274
@DanielAlvesLABDH Como parte das análises que realizei para a pesquisa no Lab, eu tenho algumas contribuições a fazer. Na próxima semana vou me dedicar a isso, e incluo aqui.

E concordo com os comentários do @josircg

[2022-11-24 11:33] DanielAlvesLABDH commented on #2274
Obrigado a ambos! Sendo assim, vamos aguardar os contributos do @ericbrasiln e depois avançar.

[2022-11-24 17:36] anisa-hawes opened #2760 "Standardising and simplifying our submissions workflow"
As the Managing Editors @rivaquiroga, @DanielAlvesLABDH, @spapastamkou, @hawc2, @marie-flesch (and some others) will already know, I have been working towards a [Milestone](https://github.com/programminghistorian/jekyll/milestone/16) of updating and improving our Editorial Guidelines.

More broadly, this task has come to represent an overall standardisation and simplification our submissions workf

[2022-11-24 17:52] DanielAlvesLABDH commented on #2325
Dear @anisa-hawes many thanks for this. I think it covers the main issues and give us the necessary features for assign lesson difficulty level. I would include the question of permanent links to external resources in the sustainability section.

[2022-11-25 10:27] GeeAlmeida commented on #2734
Hey everyone
I looked into setting up a Mastodon account. It is currently not possible to register using the main server [mastodon.social] so I investigated the HC that Sofia mentioned [hcommons.social]:
<img width="344" alt="image" src="https://user-images.githubusercontent.com/109232661/203962719-0bbcb966-df1e-44b6-af04-474a6b7d6231.png">

Does it matter to us that HC has very few users? Should

[2022-11-25 11:58] anisa-hawes opened #2761 "Build and deployment update needed? : `Input 'emit_telemetry' has been deprecated`"
I am opening this Issue to signal that our build and deployment may need to be updated. Daniel and I noted that recent PR #2759 did not successfully merge in.

[Clicking into the full error detail](https://github.com/programminghistorian/jekyll/actions/runs/3540348017/jobs/5943416350), there is the message: `Input 'emit_telemetry' has been deprecated`.

In this case, I was able to [merge in the PR

[2022-11-25 12:12] anisa-hawes commented on #2761
[Looks like it might be something lots of others on GitHub have experienced within the last 24 hours](https://github.com/community/community/discussions/39907)! An error on GitHub's side, and nothing to worry about 🙂

[2022-11-25 12:12] #2761 closed, assigned to ZoeLeBlanc, anisa-hawes

[2022-11-25 12:14] GeeAlmeida commented on #2682
Spanish and English were listed in OER. French and Portuguese were not.

I submitted them to the OER today. Let's see if they will list this time.

[2022-11-25 13:38] anisa-hawes opened #2762 "Agreeing our meetings calendar: 2023"
Hello all,

I am opening this Issue to agree our meetings calendar in advance for 2023.

We currently have four core meeting sequences:

1. Project Team Meetings
2. Board of Trustees Meetings
3. Managing Editors' Meetings
4. Annual General Meeting

I would like to propose that we meet as a whole Project Team (1.) on a bi-annual basis going forwards, in March and September.

Meanwhile Board of Trus

[2022-11-25 15:53] anisa-hawes opened #2763 "Managing Editors' Meeting: Thursday 15th December 2022"
Hello @DanielAlvesLABDH, @rivaquiroga, @hawc2, @spapastamkou and @marie-flesch.

I am opening this Issue to agree an agenda for the forthcoming meeting of MEs.

Date: Thursday 15th December
Time: [14:00 UTC](https://www.timeanddate.com/worldclock/converter.html?iso=20221215T140000&p1=1440&p2=198&p3=232&p4=133&p5=195): 09:00 Philadelphia / 11:00 Santiago / 14:00 Lisbon / 15:00 Paris
Minutes of the

[2022-11-28 16:47] acrymble commented on #2751
Can we please turn this thread into a draft of the full email text we'll send so we can check it over and make sure we're covering ourselves and avoiding any confusion with the IPPs? @GeeAlmeida can you please draft that and we can tinker with it as needed? I think we can do English only for now, until we start to get Gold IPPs in other languages.

I'd also like to know how we will keep track that

[2022-11-28 20:09] hawc2 commented on #2750
The DHSI listserv is very active. There's other associtation listserves with relevant communities, like Code4Lib.

UCLA's DH newsletter is very popular and would probably include our event announcements if we asked. We could contact other DH orgs/departments like Yale's DH Lab and they can share events with their communities

[2022-11-28 20:11] hawc2 commented on #2763
Thanks Anisa. Like the French team, the English team is hoping to recruit in January, with a focus on bilingual editors who can help with translations

[2022-11-29 09:09] DanielAlvesLABDH commented on #2763
Thank you @anisa-hawes. We will have a meeting of the PT team December 9th. Then we will have news.

[2022-11-29 10:13] drjwbaker commented on #2750
- https://sites.google.com/view/ai4lam
- Europeana Research Community (via Rebecca Kahn) https://pro.europeana.eu/page/europeana-research
- whatever we think of it, dh-humanist is still going https://dhhumanist.org/
- https://www.jiscmail.ac.uk/cgi-bin/webadmin?A0=DIGITALSCHOLARSHIP

[2022-11-29 10:35] drjwbaker commented on #2751
The relevant line in the email from last time:

Based on ongoing discussions, I propose we change to:

Then at the foot of the email:

[2022-11-29 12:02] rivaquiroga commented on #2763
Hi! I just realized that this meeting is at the exact same time of [the December event](https://github.com/programminghistorian/jekyll/issues/2709). Is it possible that we move it to another time slot?

[2022-11-29 12:59] spapastamkou opened #2767 "Antoine Henry stepping down from the FR team"
@icolab is stepping down for the FR team. Here is a list of what we have to do at the team level:

- [x] Remove Google Groups access (@anisa-hawes)
- [x] Remove Google Analytics access (@acrymble) (Not applicable but I ping AC to be sure)
- [x] Remove Github Jekyll access @anisa-hawes
- [x] Remove from ProgHist Ltd register of members (@drjwbaker)
- [x] Remove Twitter access (@anisa-hawes)
- [x] C

[2022-11-29 13:08] spapastamkou commented on #2767
Merci et bonne chance dans tes futurs projets, @icolab !

[2022-11-29 14:52] acrymble commented on #2751
@drjwbaker I like the disclaimer. Very important. Also love the idea of opening them up to others.

I'm not sure we have the in house expertise to do custom events though, especially if they're technical. If the Gold member wants a workshop on network analysis, I don't think we can whip that up. Can we move to a simplified menu of choices of workshops we know we can deliver? Our library partners m

[2022-11-29 16:01] rivaquiroga commented on #2762
December 8 is a holiday in most Spanish-speaking countries :latin_cross:. We don't know yet who will be the Managing Editor of the Spanish team by then, but it might be a good idea to take that into account.

[2022-11-30 10:40] icolab commented on #2767
Merci beaucoup @spapastamkou ! à toi aussi et bonne continuation à l'équipe PH !

[2022-11-30 13:11] GeeAlmeida commented on #2734
Just to update that I have created a Mastodon account. It is pending verification, but should soon be online!

[2022-11-30 14:16] GeeAlmeida commented on #2734
Mastodon allows users to have a verified account, like Twitter's blue tick. Here is how they explain how to do it:
"You can verify yourself as the owner of the links in your profile metadata. For that, the linked website must contain a link back to your hcommons.social profile. The link back must have a rel="me" attribute. The text content of the link does not matter. Here is an example:

`<a rel=

[2022-11-30 14:17] anisa-hawes commented on #2762
Thank you @rivaquiroga! I appreciate you sharing this information. In that case, I'd like to suggest we bring that meeting forward by one week to Friday 1st December. I've updated the calendar + the time zone converter link (above) .

[2022-11-30 14:21] GeeAlmeida commented on #2709
Just an update to let you all know that we already have 26 bookings for this event. Yay!

[2022-11-30 15:14] GeeAlmeida commented on #2750
Alex @hawc2 thank you for these suggestions. I have joined DHSI following this suggestion. I tried with Code4Lib but it wasn't clear to me how to send them events. Can you maybe point me to a website? Also great about the events, will try to reach out to some.

[2022-11-30 15:15] anisa-hawes commented on #2763
Dear @rivaquiroga,

Yes, I noted this a few weeks ago. I wasn't sure if it was a problem, but we can organise a different time. I am sending an email to you all now to see what's possible.

Going forwards, I would like to avoid clashes. Gisele will be able to keep an eye on [Issue 2762](https://github.com/programminghistorian/jekyll/issues/2762) to know which days I have organised meetings.

[2022-11-30 15:22] GeeAlmeida commented on #2682
I've asked UCLA's digital humanities program today: https://dh.ucla.edu/

[2022-11-30 15:23] GeeAlmeida commented on #2682
I've received a confirmation that French is now listed. No word on the Portuguese though.

[2022-11-30 15:42] anisa-hawes commented on #2767
Dear @spapastamkou

I'm not able to remove @icolab from our organisation on GitHub – only the owners of our repository are able to do this. Perhaps @acrymble could help us?

N.B. I am able to remove write access to outside collaborators, but I double checked and Antoine is not listed as having any access permissions on Jekyll or ph-submissions. I do not see @icolab listed as a member of /teams/fre

[2022-11-30 16:40] acrymble commented on #2767
@spapastamkou I don't think @icolab has jekyll access on this repository. It's not really necessary anymore for editors, so unless someone was added to it a long time ago, this isn't surprising.

[2022-11-30 18:36] GeeAlmeida commented on #2734
@programminghistorian/project-team

I just want to let you all know that we now have a Mastodon account:
[@proghist@hcommons.social](https://hcommons.social/@proghist)

If you are on Mastodon, please connect. I have followed all of the team members I found on Mastodon. :)

[2022-11-30 18:59] anisa-hawes opened #2769 "Fix .html within `<div>` box of pt/licoes/download-multiplos-registros-query-strings"
I am opening this Issue to signal that I'm making a quick fix in the newly published PT lesson _Download de Múltiplos Registros usando Query Strings_.

At the moment, Markdown syntax is visible within the alert-warning box in the Objetivos do Módulo section.

Within a `<div` box, .html syntax should be used for links and text styling instead of Markdown.

[2022-11-30 19:13] anisa-hawes commented on #2769
Hello @rivaquiroga,

While doing this, I noticed that the [ES translation of this lesson](https://programminghistorian.org/es/lecciones/descarga-multiples-registros-usando-cadenas-de-consulta) doesn't include the warning box. Would you like to add one in, or did you adapt the examples so that they don't include the historic racialized language? (we can open a separate Issue if so).

Thank you,
Ani

[2022-11-30 20:18] anisa-hawes commented on #2748
Thank you, @DanielAlvesLABDH. I've integrated both of these corrections into #2749.

[2022-11-30 22:27] hawc2 commented on #2750
Well, in searching for the Code4Lib listserv, I came across a List of Lists that Code4Lib put together: https://wiki.code4lib.org/List_of_Listservs

There may be a few useful resources there.

Here's Code4Lib's wikipage on their listserv: https://wiki.code4lib.org/MailingList

[2022-11-30 22:45] hawc2 opened #2771 "Attributing translators more prominently on lessons"
As a potential feature enhancement, I was wondering what others thought about changing how we credit 'translators' on lessons in the publication information.

Currently, only authors are listed prominently under the title, while 'translators' are in listed in the banner below, mixed in with Editors and Reviewers.

![Screenshot 2022-11-30 174340](https://user-images.githubusercontent.com/15621648/2