[2017-03-02 14:29] wcaleb commented on #355
Good idea @acrymble. Is there anywhere that wouldn't be recognizable? If not, then that might be the easiest thing to do. Thoughts @vgayolrs @arojascastro @mariajoafana ?

[2017-03-02 14:32] vgayolrs commented on #303
In any of the two proposals, could we maintain an alphabetical order by surname?
@acrymble : I clarify my comment: most of us are in alphabetical order of surnames, except Antonio, whose surname is Rojas Castro.

[2017-03-02 14:34] arojascastro commented on #355
I am not really picky on this kind of issues. I am more concerned on language issues and translation quality - so its up to others.

[2017-03-02 14:55] #354 closed, assigned to nobody

[2017-03-02 14:57] wcaleb commented on #354
Everyone please note important change in this commit: the author bios in `authors.yml` are now broken into `en` and `es`.

@vgayolrs @arojascastro @mariajoafana Whenever you finish translating a lesson, you'll need to go in to `_data/authors.yml` and create an `es` version of the author's bio, as I have done already for William Turkel and Adam Crymble. Please note that the white spacing in this fi

[2017-03-02 15:01] mariajoafana commented on #355
I think adopting YYYY-MM-DD is a good solution.

[2017-03-02 15:03] mariajoafana commented on #354
Thanks @wcaleb , we'll keep this in mind

[2017-03-02 15:12] #355 closed, assigned to nobody

[2017-03-02 15:14] acrymble commented on #303
There are separate user-experience and professional issues at stake here. Also specific styling (which @fredgibbs is doing as a separate aspect of this).

The user-experience should take priority, I think. As such, I do think it's worth putting the managing editor (as well as the Ombudspersons) at the top, on their own. These are rotating positions and we can make that clear. I don't mind if the r

[2017-03-02 15:18] wcaleb commented on #340
I'm not sure there is a way to do this: maybe there is if you are trying to build the site locally, but I don't know of a solution that would also prompt editors if they are making edits here on GitHub Pages. In this case, I'm assuming we should fix the one that uses an "editor" tag and just include her within the reviewers?

[2017-03-02 15:20] acrymble commented on #303
Using @wcaleb 's suggestion for tags. Maybe an entry might look like this? (not styled)

Adam Crymble is a lecturer of digital history at the University of Hertfordshire.
Project Roles: Editorial Team; Community Development Team; Board Member.

We could have a short blurb towards the bottom that explained each for anyone that cared.

[2017-03-02 15:24] acrymble commented on #354
This seems to be causing a bug on the English page at the moment: http://programminghistorian.org/project-team
![screen shot 2017-03-02 at 15 15 25](https://cloud.githubusercontent.com/assets/646647/23513553/5b03b44e-ff5c-11e6-8561-e53f2ee17086.png)

[2017-03-02 15:33] wcaleb commented on #354
Good catch. Fixed in 03e492082b3e15957b70b1358c2bd13834e38bbc.

[2017-03-02 17:34] amandavisconti commented on #350
@wcaleb Absolutely!

[2017-03-02 18:26] wcaleb commented on #350
Closed with b002ad1bcaf87836d60f87ceb72a7c912a7dacd2

[2017-03-02 18:26] #350 closed, assigned to vgayolrs

[2017-03-03 17:34] jerielizabeth commented on #303
I like the tags approach! One comment: I am not sure we need the "Commissioning Editor" title.

[2017-03-03 17:38] jerielizabeth commented on #340
We will need to update the editor guidelines line (http://programminghistorian.org/editor-guidelines#3-add-reviewers-and-editors-to-the-yaml-file) then as well.

I thought we had decided for clarity's sake to give editors a separate key, so that we could isolate the data in the future if we wanted. I am happy to fix the lesson if the consensus is to include editors as reviewers.

[2017-03-03 17:44] wcaleb commented on #340
@jerielizabeth Now that you mention it, I have a vague memory of our discussing that as well. I think we could easily adjust the `include` so that it combines editors and reviewers.

[2017-03-03 17:46] wcaleb commented on #340
Aha. The reason I have a vague memory is because ... [I suggested it!](https://github.com/programminghistorian/jekyll/issues/244#issuecomment-229091091) :-P

So what we really need is a new ticket for going through and breaking the "editor" out from the "reviewers" on all the lessons and adjusting the layout accordingly, if in fact we want to stick to the decision we made last summer.

[2017-03-03 18:25] jerielizabeth commented on #339
This sounds interesting to me as a way of keeping track of the proposed lessons.

I assume it would be the role of the primary corresponding editor (me currently) to create these?

[2017-03-03 18:34] acrymble commented on #302
Unless the value is supposed to be a number, it looks like you've just forgotten to add str to the rest of it.

[2017-03-03 18:38] acrymble commented on #339
Whomever they approach I suppose. But yes, I guess it would mostly be you while you're in that role. Is that no good?

[2017-03-03 18:39] jerielizabeth commented on #339
That is fine by me! Shall I give it a try with a few and see how it goes?

[2017-03-03 18:39] acrymble commented on #303
Would you prefer something else? I'd prefer we think of them as 'roles' rather than 'titles'. I'm not trying to implement rank. Just make it clear how the project team comes together to produce the project. In that case, who ~~editors~~ authors should contact first.

[2017-03-03 18:41] acrymble commented on #339
Ok with me. You'll have to tell the authors that's the plan of course.

[2017-03-04 09:49] acrymble opened #356 "Spanish Wikipedia links?"
Just noticed that the following lesson has a link to the English wikipedia page for UTF-8.

http://programminghistorian.org/es/lecciones/instalacion-windows

There appears to be a Spanish version of this page.

https://es.wikipedia.org/wiki/UTF-8

Has this been intentionally left with the English link? I just wanted to let you know in case that was a mistake.

[2017-03-04 09:53] acrymble opened #357 "Spanish lesson - figcaptions in English"
Flagging English language figure captions in the following lesson:

http://programminghistorian.org/es/lecciones/ver-archivos-html
http://programminghistorian.org/es/lecciones/trabajar-con-paginas-web

[2017-03-04 09:55] acrymble opened #358 "Spanish Lesson - code in English"
The following lesson has an example "I can't eat pickles" which should presumably be translated to something like 'No puedo comer pepinillos', as all of the other strings have been translated.

http://programminghistorian.org/es/lecciones/trabajar-con-archivos-de-texto

[2017-03-04 09:58] acrymble opened #359 "Spanish Lesson - zip asset not found"
The Zip file at the end of the following lesson leads to a 404 error:

http://programminghistorian.org/es/lecciones/trabajar-con-paginas-web
http://programminghistorian.org/es/lecciones/manipular-cadenas-de-caracteres-en-python
(http://programminghistorian.org/es/assets/python-lessons1.zip)

http://programminghistorian.org/es/lecciones/de-html-a-lista-de-palabras-1 (
http://programminghistorian.or

[2017-03-04 10:01] acrymble opened #360 "Spanish characters in code highlighting as if errors"
Noticed that when accented characters are used in code blocks in Spanish lessons, our codeblock syntax highlighter is flagging them in red highlighting, as if they're an error. This isn't great for users who might be easily confused as they learn.

Can this be addressed, or are we stuck with it?

http://programminghistorian.org/es/lecciones/trabajar-con-paginas-web
![screen shot 2017-03-04 at 10 0

[2017-03-04 10:05] acrymble opened #361 "Spanish lesson "previous lesson" link leads to 404"
The link to 'previous lesson' at the top of the lesson doesn't resolve:

~~http://programminghistorian.org/es/lecciones/de-html-a-lista-de-palabras-1~~

~~This seems to be because the link should be: http://programminghistorian.org/es/lecciones/manipular-cadenas-de-caracteres-en-python instead of programminghistorian.org/es/lecciones/manipulacion-de-cadenas-de-texto-en-python~~

~~This also affect

[2017-03-04 10:11] acrymble opened #362 "Spanish Lesson possible typo"
http://programminghistorian.org/es/lecciones/de-html-a-lista-de-palabras-2

The text:

Archivos requeridos para esta lección

    obo.py
    contenido-juicio

Should presumably read

contenido-juicio.py

[2017-03-04 10:14] acrymble opened #363 "Spanish Lesson - broken link (markdown error)"
http://programminghistorian.org/es/lecciones/normalizar-datos

- [x] There is no URL for  "[página Web][]"

Also for:

http://programminghistorian.org/es/lecciones/salida-de-datos-como-archivo-html

- [x] "[archivo zip de las lecciones anteriores][]"
- [x] "[Contar frecuencias][]"
- [x] "python-lessons7.zip [zip sync][]"
- [x] "[Contar frecuencias][]: ../lecciones/contar-frecuencias [archivo zip d

[2017-03-04 10:26] acrymble opened #364 "Spanish Lesson - missing 'previous lesson' link"
http://programminghistorian.org/es/lecciones/contar-frecuencias

This does not include the 'previous lesson' blurb at the top.

[2017-03-04 10:32] acrymble opened #365 "Spanish Lesson - 'next lesson' link incorrect"
The next lesson links at the end of these lessons are broken:

- [x] http://programminghistorian.org/es/lecciones/instalacion-mac - leads to 404.
- [x] http://programminghistorian.org/es/lecciones/ver-archivos-html - leads to 404.
- [x] http://programminghistorian.org/es/lecciones/trabajar-con-paginas-web - leads to 404.

- [x] http://programminghistorian.org/es/lecciones/contar-frecuencias - the

[2017-03-04 10:40] acrymble opened #366 "Spanish code, same filename as English code?"
This is a question for sustainability purposes. I notice that the obo.py files have been translated for the Spanish lessons, but the file is still being called obo.py. Should we not call these obo-es.py or something like that? Just to make it easier to tell them apart? It may be that we continue to add languages, and I can see that getting messy eventually.

If this is a bad idea, please reject it

[2017-03-04 11:04] acrymble commented on #361
all fixed.

[2017-03-04 11:04] #361 closed, assigned to acrymble

[2017-03-04 11:31] #365 closed, assigned to acrymble

[2017-03-04 11:31] acrymble commented on #364
added

[2017-03-04 11:31] #364 closed, assigned to nobody

[2017-03-04 11:42] acrymble commented on #363
I've fixed the ones that were links. The remaining ones pertain to the .zip assets #359

[2017-03-04 11:44] acrymble commented on #359
it looks like this might not have been uploaded yet. Related to #366 since these files have to go in the same assets folder as the English code.

[2017-03-04 12:01] acrymble commented on #303
Just trying to tag everyone (in alphabetical order). Let me know if you want yours changed:

- Maria José Afanador-Llach works in the Fundación Histórica Neogranadina, a non-profit organization digitizing endangered colonial archives in Colombia and promoting digital humanities projects.
Current Teams: Spanish Team; Project Board Member

- Adam Crymble is a lecturer of digital history at the Unive

[2017-03-04 12:40] vgayolrs commented on #356
Thank you @acrymble

[2017-03-04 12:40] #356 closed, assigned to vgayolrs

[2017-03-04 12:45] #357 closed, assigned to vgayolrs

[2017-03-04 12:56] vgayolrs commented on #358
@acrymble : There is a good reason for it. In Spanish we do not use apostrophe as in English, to contract two words, i.e. "Can not = can not". As the idea of the example is to show the way to escape the apostrophe in a text string, there is no way to do it with a sentence in Spanish. So I decided to leave it in English. A note could be included. Any thoughts? @mariajoafana @arojascastro

[2017-03-04 13:02] arojascastro commented on #358
I think a note would work, yes. Otherwise we can use an English word within a Spanish sentence: Su nombre es John O’Connor. Or use Old Spanish word such as d’aquel (por de aquel), l’aspereza (por la aspereza), qu’es (por que es). More examples: http://lema.rae.es/dpd/?key=ap%C3%B3strofe

As I said in other threads I still need to revise your lesson. I promise to read when I finish translating the

[2017-03-04 13:02] vgayolrs commented on #359
@acrymble obo-t17800628-33.html is the same.
Part of the zip assets are in https://github.com/PH-espagnol/borradores/tree/master/assets and I need to move them to the jekyll folder and complete them.

[2017-03-04 13:05] vgayolrs commented on #360
Thanks @acrymble . Let me see what I can do to fix it.

[2017-03-04 13:12] vgayolrs commented on #362
Thanks. Done.

[2017-03-04 13:12] #362 closed, assigned to vgayolrs

[2017-03-04 13:16] vgayolrs commented on #363
Thanks @acrymble . I think we can close this as there is #359 open with the same problem (.zip assets).

[2017-03-04 13:28] vgayolrs commented on #366
Good catch @acrymble and I agree with the reasons for sustainability. But I must point out that this involves replacing the name of the obo.py file in the whole code since there are modules that call it to work. I like the idea and I can do it, but it would take several days not only to change the code in the lessons and in the program files but to check that everything works.

[2017-03-04 14:18] vgayolrs commented on #303
@acrymble Happy to join the Community Development Team

[2017-03-04 17:24] acrymble commented on #303
Sure, let's discuss ideas at the next editorial meeting

On Saturday, March 4, 2017, Víctor Gayol <notifications@github.com> wrote:

[2017-03-04 18:27] vgayolrs commented on #360
I corrected it with a little trick: changing the verb tense to avoid accents. Anyway I will look for a solution in case we have to include words with accents in the code.

[2017-03-04 18:27] #360 closed, assigned to vgayolrs

[2017-03-04 20:17] wcaleb commented on #303
Would it be simpler to call these "Teams" instead of "Roles" and then try to find one word for each? Visually I think simpler would be better, and as long as there is a fuller key at the bottom, we don't lose anything by shorter tag names.

Teams:
- Spanish
- Editorial
- Technical
- Submissions (or Contact)
- Outreach
- Ombuds
- Board

Sent from my iPhone

W. Caleb McDaniel
Associate Professor of

[2017-03-04 21:29] acrymble commented on #303
Works for me

On Saturday, March 4, 2017, W. Caleb McDaniel <notifications@github.com>
wrote:

[2017-03-05 00:25] #359 closed, assigned to vgayolrs

[2017-03-05 01:16] vgayolrs commented on #363
Done. Please notice that the .zip files names changed to avoid conflicts in assets.

[2017-03-05 01:16] #363 closed, assigned to vgayolrs

[2017-03-05 13:12] amandavisconti commented on #193
## Done
- [x] Remove "original programming historian" topic from topic list and loop of lessons below it
- [x] Update publication template & author instructions to fill in new header metadata correctly (but note changed collections, writing language) [here](https://github.com/amandavisconti/proghistdev/blob/master/new-lesson-workflow.md#add-a-metadata-block)
- [x] Update publication template & aut

[2017-03-05 14:16] acrymble opened #368 "Spanish soft launch to do"
Just looking to get a sense of what's left before we soft launch the Spanish material? I was confused previously because I thought they were ready to go.

- [ ] @arojascastro to proof read everything
- [x] guidelines for authors/editors being translated.
- [ ] anything else?

[2017-03-05 14:18] acrymble commented on #358
Ahh of course. The "John O'Connor" example sounds like a good one.

[2017-03-05 14:23] arojascastro commented on #368
Yes, I still need to proof read some Python lessons... maybe I can split with @mariajoafana ?

As you noted we also need to review paratextual pages like the guidelines for authors/reviewers that I just uploaded to our repository: https://github.com/PH-espagnol/borradores/issues

[2017-03-05 14:27] #358 closed, assigned to vgayolrs

[2017-03-05 14:56] vgayolrs commented on #368
@arojascastro  I take that.

[2017-03-05 14:58] vgayolrs commented on #368
@arojascastro please, can you relocate "guia-editor.md" (editor guidelines) from ph-es to ph/jekyll?

[2017-03-05 14:58] arojascastro commented on #368
I would but it has not been reviewed by anybody yet... should I?

[2017-03-05 15:04] vgayolrs commented on #368
I have.

[2017-03-05 15:05] arojascastro commented on #368
But that is not the workflow... according to the guidelines for editors. We are supposed to review texts on our own repository using issues and then once its been supervised by two editors move it to jekyll. if this is not the workflow then we should change the guidelines for editors and reach an agreement.

[2017-03-05 15:23] acrymble commented on #368
maybe we need some guidelines on the English site for this workflow too. Just so we all know how it works.

[2017-03-05 15:54] amandavisconti commented on #193
[ ] Switched to reverse chronological lesson ordering for now, but the plan is to eventually fix lesson next/previous behavior and provide a path through the lessons on the lesson page (replacing reverse chrono order with a "newest lessons" sort if desired) via #321

[2017-03-05 15:57] arojascastro commented on #368
Maybe a workflow diagram would clafify the process. I also think that the roles of the authors, editors and reviewers could be visualized using a table or a diagram about tasks, roles, times and workflow... I translated it both the guidelines for authors and editors and also the workflow page and I must confess that I got lost into such a detailed account. I still do not see the whole picture unfo

[2017-03-05 15:58] vgayolrs commented on #368
@arojascastro I agree with you. But it is the translation of a page of the website, not a translation of a lesson. In that sense, I have already done a first proofread but I would like to see it "work" in the context of the rest of the pages of the "live" site.

However we have to make important decisions about how to handle the lessons translations or forthcoming lessons, if we keep the repositor

[2017-03-05 16:03] arojascastro commented on #368
yes i agree with you @vgayolrs that they are not lessons but still they need to be reviewed using issues. we must start acting as authors, editors and reviewers, document our suggestions using issues and moderating the conversation with summaries on our repository. I dont think the reviewing process of our lessons should take place in the ph main repository because notifications are very annoying.

[2017-03-05 16:09] arojascastro commented on #303
I like the new proposal. By the way in the current state I should go after Ian M. My family name is Rojas. If the organization chantes, then I need to go after @vgayolrs.

[2017-03-05 16:42] acrymble opened #369 "clarify Spanish translation workflow"
This is in response to conversation at #368 .

@arojascastro has requested a workflow diagram that shows what the roles of the authors, editors, and reviewers are in the translation process. (also in the regular submission process?)

@arojascastro and @vgayolrs also discussed whether the reviewing of Spanish-language material should happen on the main PH Jekyll (this) repository or the Spanish rep

[2017-03-05 16:43] acrymble commented on #368
I've opened a new ticket to discuss the workflow #369 because that's an aside to the purpose of this ticket.

[2017-03-05 16:48] arojascastro commented on #369
Thanks @acrymble for your summary. Yes, the diagram should represent relationships, tasks and times of the regular submission process, because essentially the submission of the translations follows the same path.

In respect of reviewing pages/lessons in your repository, I am open to discuss alternative views, I just thought that it would be less annoying for you. Also we have already opened issue

[2017-03-05 17:05] acrymble commented on #369
As per request, here is basically what our editorial workflow looks like (sorry it's just rough). This might be helpful for thinking about how the translation workflow is the same or different.

<img width="624" alt="editorialworkflow" src="https://cloud.githubusercontent.com/assets/646647/23589485/ece6cdae-01c5-11e7-9286-fba75322ceec.png">

[2017-03-05 17:06] vgayolrs commented on #369
@acrymble I agree to work translations in https://github.com/programminghistorian/ph-submissions repo. We will be able to keep the discussion on the issues in one place and refer them correctly through the appropriate tickets.
@arojascastro It would be great to have that workflow diagram. Could you make a proposal?

[2017-03-05 17:08] vgayolrs commented on #369
I certainly agree that translations should still be reviewed. The translation of the introduction to Python, in effect, was formally revised by Jairos; but it has been reviewed by other people in an external and informal way to know that everything works (there were missing zip files and other details but yesterday I fixed it), I can ask those people to integrate as formal reviewers to PH. Anyway,

[2017-03-05 17:08] acrymble commented on #369
I guess the question is: do you want 2 formal outside reviewers? Or do you want 1 outside reviewer, and 1 member of the 'Spanish team' to do the checking?

[2017-03-05 17:12] arojascastro commented on #369
I would like to review the Python lessons because since it is the first lesson translated it will shape future translations. I respect a lot Spanish different dialects but I am afraid that we have to discuss about terms that are not used in Spain and that I guess are used in Mexico. By this i don't mean that we should change them I am only saying that it is important that we have this conversation

[2017-03-05 17:12] acrymble commented on #369
Suggested workflow for translation (please comment if this is not appropriate)
<img width="636" alt="translationworkflow" src="https://cloud.githubusercontent.com/assets/646647/23589546/e7d33658-01c6-11e7-85d2-a762f01b31a2.png">

[2017-03-05 17:12] jerielizabeth commented on #302
Ah, the value was indeed a number (i.e., 43 for the 43rd Congress). But for the sake of consistency, all of the values could be converted to strings.

And actually, it appears that the HTML behind this lesson has changed, so using strings now makes more sense for the data.

[2017-03-05 17:14] arojascastro commented on #369
Yes, I think we agreed that translations could be reviewed by one editor and one reviewer (which at the moment it must be the third member of the Spanish team since we have no reviewers). It works for me and I would love to stick to it. Many thanks @acrymble for doing it!

[2017-03-05 17:15] acrymble commented on #369
@arojascastro I think your comments about internationalisation are great. We are definitely hoping to make this work across the Spanish-speaking world!

Also please note that we built up our reviewers by sending people unsolicited emails. Don't be afraid to do the same!

[2017-03-05 17:16] acrymble commented on #369
@mariajoafana obviously please do share your views on this, as this is something that has to work for everyone. I'm happy to try to help this fit with how we do things with the rest of the project, but please don't feel I'm trying to take charge of your Spanish team initiative.

[2017-03-05 17:20] acrymble commented on #369
also when we made changes to our submissions about a year ago, we only started using it for new lessons that came in. So if you're already half-way through a translation, don't feel compelled to change to the submission site just for the sake of it.

[2017-03-05 17:23] acrymble commented on #302
This isn't really a bug then. You could either add a short note to clarify, or just close this.

[2017-03-05 17:23] #302 closed, assigned to jerielizabeth

[2017-03-05 17:25] acrymble opened #370 ""Editor" in yaml instead of under 'Reviewer'"
As per #340 - @wcaleb has suggested converting all editors listed as reviewers to 'editor' instead. This ticket is to identify the offending lessons and start revising.

[2017-03-05 17:25] acrymble commented on #340
I've opened a new ticket for this #370

[2017-03-05 17:25] #340 closed, assigned to nobody

[2017-03-05 17:39] acrymble commented on #370
The following files need the editor pulled out from amongst the reviewers:

- [x] https://github.com/programminghistorian/jekyll/blob/gh-pages/lessons/applied-archival-downloading-with-wget.md
- [x] https://github.com/programminghistorian/jekyll/blob/gh-pages/lessons/automated-downloading-with-wget.md
- [x] https://github.com/programminghistorian/jekyll/blob/gh-pages/lessons/building-static-sites-

[2017-03-05 17:52] vgayolrs commented on #369
@acrymble I think your translation workflow proposal is great! @arojascastro I agree with you both about internationalisation, which means a more or less standardization. But we have to be cautious with the extreme homogenization because in Spanish there is a great diversity that we must also respect. The case of the expression that we discussed a few days ago with @mariajoafana  ("to be part of")

[2017-03-05 17:57] arojascastro commented on #369
Of course, I am not trying to homogenize language, but I think we need to have a discussion that has not happened yet. I think it would be great to make a list of words or expressions so we can keep them in mind. When earlier I asked you about "ambiente" instead of "entorno" (translation of environment) I did not say that is wrong. I said in Spain we use "entorno". I accepted your explanation. My

[2017-03-05 18:00] arojascastro commented on #369
I also think that in case of doubt is good that a third person takes a decision. That is why its good to have a second reviewer.

[2017-03-05 18:06] acrymble opened #371 "Spanish vocabulary - how best to internationalise"
Picking up on conversation from #369 and moving here because it is a distinct issue that needs to be addressed - there are various Spanish language dialects. @arojascastro and @vgayolrs have raised concerns about how best to decide which dialect to use for certain terms ( @mariajoafana ).

If it helps at all, we have the same problem with spelling in the English language team.

In the UK we tend t

[2017-03-05 18:25] amandavisconti commented on #193
@wcaleb Your new templating work is great—just getting around to looking further at it today. I'm a bit confused about implementing [your suggestion](https://github.com/programminghistorian/jekyll/issues/335#issuecomment-282396830) that we may not need to rewrite `/lessons` as `/_lessons`, and wonder if you can help.

If I'm remembering correctly, I looked at implementing sorting/filtering `/lesso

[2017-03-05 18:30] arojascastro opened #372 "Footer in Spanish site redirects to English feedback"
Here is my first issue in this repository.

I found out that "Deja una opinión" in the footer in the Spanish site links to the English Feedback link. Can we fix this?

Besides this, "Deja una opión" seems to me a literal translation of "Leave an opinion". I don't know if in Latin America you say that but in Spain we don't - we usually say "Send your comments" (Envíanos tus comentarios). I do not m

[2017-03-05 18:32] arojascastro commented on #371
Thanks @acrymble for this. I am happy to go with the dialect of the author but  for the sake of the project I would also like to feel free to discuss or question expressions if I am not sure about them.

[2017-03-05 18:36] mariajoafana commented on #369
Thanks for the workflows @acrymble I also agree with working the translations on
 https://github.com/programminghistorian/ph-submissions

Lastly, I'm in the process of reading the Python lessons (I'm three lessons in) and so far I haven't find any typo or unclear language. I'll let you know when I'm done.

[2017-03-05 18:39] mariajoafana commented on #371
I moved this from the other ticket:

I think that as long as the translations respect grammar, clarity, and the integrity of the original English lesson we shouldn't worry too much about word choices. If a translator from Spain uses the word "ordenador" as an editor I wouldn't suggest to change it (in Colombia we use "computador") as I believe people both in Latin America and Spain will understand

[2017-03-05 18:49] acrymble commented on #370
All updated except:
@ssimpkin lesson (who was editor on this please?)
https://github.com/programminghistorian/jekyll/blob/gh-pages/lessons/getting-started-with-markdown.md

And @fredgibbs which didn't really have an editor I don't think, because it was meant to make @jerielizabeth lesson on beautiful soup easier to use.
https://github.com/programminghistorian/jekyll/blob/gh-pages/lessons/installin

[2017-03-05 18:53] amandavisconti commented on #193
@wcaleb Realized `site` knows about `_posts`, `_pages`, and __categories_ (found [the SO answer I originally used](http://stackoverflow.com/a/9117390)). I had assumed /data/categories.yml meant Jekyll categories, but perhaps that's just a data file that happens to use the same word as its name?

[2017-03-05 18:58] acrymble commented on #303
updated above based on suggestions.

[2017-03-05 18:58] vgayolrs commented on #371
I I agree with the decision taken in PH about dialectical forms that  @acrymble  mention.
I think we must respect the author's and the translators forms of expression as long they are universally understood.
In the case of "computer", if the author o translator choice "ordenador", "computadora" o "computador", editors and reviewers must respect as, in any way, it's widely understood one or another

[2017-03-05 19:02] acrymble commented on #371
feel free to discuss in Spanish. I know that must be much easier. Whatever the three of you decide is fine with me. I'm just hoping to show how we can use the tickets to solve discrete tasks and make sure everyone is on the same page.

[2017-03-05 19:06] vgayolrs commented on #372
Can you check the changes in a few minutes?

[2017-03-05 19:11] arojascastro commented on #372
Great!

[2017-03-05 19:11] #372 closed, assigned to acrymble, vgayolrs, mariajoafana

[2017-03-05 19:25] wcaleb commented on #193
@amandavisconti My thought was that you could set a "default" field-value for all of the pages that appear in the "lessons" directory in the `_config.yml` file. Something like this under the `defaults` line:

[code]

Then you could loop through all pages, checking with an if statement to see if `page.lesson` is true.

I'm not sure whether this is necessarily better or worse than collections, about

[2017-03-05 19:26] acrymble commented on #369
Maybe it would help to have a template for your review tickets concerning new translations so that everyone knows what to expect and what to look for (as well as what not to look for?). We have one for the English lesson reviews:

---

The Programming Historian has received the following tutorial on '[Lesson Name]' by [USERNAME]. This lesson is now under review and can be read at:

http://programm

[2017-03-05 19:30] acrymble commented on #303
@ianmilligan1 are you still an ombudsperson? Or is @amandavisconti the only one now? Just noticed you're both listed on Editorial Guidelines.

[2017-03-05 19:36] ianmilligan1 commented on #303
I think I'm still an ombudsperson.

[2017-03-05 19:47] acrymble opened #373 "Temporary /es menu link?"
Can we add a temporary /es menu link to let people find the Spanish site? (and vise versa for English).

I know we're planning on making changes to the menus in #346 but a temporary solution seems appropriate.

Any objections?

[2017-03-05 20:55] vgayolrs commented on #373
I think it's great! (and the Spanish team will be proud and grateful!)

[2017-03-05 21:37] vgayolrs commented on #369
@acrymble I think it would be nice to have templates in both languages. I can translate them and can serve as a useful example for other languages that could be integrated into the project. On the other hand, it would be good to reach an agreement about the repositories. I insist it would be more manageable to use / ph-submissions. @mariajoafana  @arojascastro, any thoughts?

[2017-03-05 21:40] arojascastro commented on #369
I think it is a great idea. We should use it every time we receive a submission and open an issue, right? I agree with @vgayolrs that we should translate it. There is a welcome message in the Guidelines for translators -- so it needs to be updates. I added the message in the issue on those guidelines in the our soon to be deleted repository.

[2017-03-05 21:44] mariajoafana commented on #373
Yes, that's a great idea.
Also, the blog posts are up. I managed to do it :) Once you get more familiarized with Github it becomes less intimidating...
Let me know if the posts look good and if you like the chosen image.
I can make any change before we officially announce it on twitter.

[2017-03-05 22:29] vgayolrs commented on #369
So if everyone agrees, these days I will propose a way to have all the Spanish translations of of the website pages and lessons that are not reviewed, as well as the new lessons to review, in the repository `/ ph-submissions`, by creating the appropriate folders. Thank you all!

[2017-03-06 00:51] vgayolrs opened #374 "Improving submission of Spanish translations/lessons for review"
Hi everybody!

@acrymble @mariajoafana @arojascastro

As discussed here #369, In order to improve the method for submit and review new lessons in Spanish as well as the Spanish translations of published PH lessons, I have opened the folder "programminghistorian/submissions/es" with two options: 1) [programminghistorian/submissions/es/traducciones](https://github.com/programminghistorian/ph-submiss

[2017-03-06 06:49] arojascastro commented on #374
For clarification purposes, why not submissions/es/lecciones? I do not understand the question for @wcaleb. There is something that I am missing.

[2017-03-06 07:25] vgayolrs commented on #374
@arojascastro Forget it, I found the first folder we made here with Caleb and Adam back in september/2017, but it no longer works.

[2017-03-06 09:06] acrymble commented on #369
It sounds like everyone is happy with this workflow.

The next step would be to write up this conversation as a set of guidelines for translators / translation editors and post them on the website. Then we can close this ticket. This should probably be done in Spanish.

[2017-03-06 09:08] acrymble commented on #368
As per discussions here and elsewhere, the blog post has been posted by @mariajoafana .

Final reviews of each lesson are going on right now at https://github.com/programminghistorian/ph-submissions and each lesson review ticket will be closed as they have been approved by all members of the Spanish Team.

[2017-03-07 14:32] vgayolrs commented on #369
@acrymble Thank you very much for helping the Spanish team. Before closing this ticket, I have a comment and a question.

The comment is about the Spanish workflow for translations and new lessons. I think both are realy well covered in the page [Instruciones para autores](http://programminghistorian.org/es/flujo-de-trabajo-nuevas-lecciones), translated and adapted by @arojascastro . It seems to m

[2017-03-07 15:28] arojascastro commented on #369
Good idea! I also think that we should change the title of that page otherwise it would be misleading for translators.

[2017-03-07 15:43] mariajoafana commented on #369
Yes, I agree.

[2017-03-07 16:05] vgayolrs commented on #369
Thank you! So, we seem to agree, so I close this ticket. If someone thinks that something should be considered again, please, do not hesitate to reopen it.

[2017-03-07 16:05] #369 closed, assigned to acrymble, arojascastro, vgayolrs, mariajoafana

[2017-03-07 17:56] acrymble commented on #369
I would put your template for the review tickets in the Guidelines for Editors, since it's up to them to manage that.

The English page should have the equivalent documentation for editing translations, just so they are in sync as much as possible.

[2017-03-07 17:57] acrymble commented on #374
is this ready to be closed or is there an outstanding action?

[2017-03-07 17:58] acrymble commented on #371
This seems to be agreed. The author determines the version of Spanish to be used, but the editor/reviewers check to make sure no confusion across cultures is likely.

Has this been incorporated into the editorial guidelines? If so we can close this ticket.

[2017-03-07 18:02] vgayolrs commented on #369
Thanks @acrymble, working on it.

[2017-03-07 18:06] vgayolrs commented on #371
No yet incorporated. I will work on this today, but we can close this ticket.

[2017-03-07 18:06] #371 closed, assigned to nobody

[2017-03-07 18:08] vgayolrs commented on #374
Ready to be closed. Just remind @mariajoafana  to take note of this and, if any change is needed, she can reopen it.

[2017-03-07 18:08] #374 closed, assigned to nobody

[2017-03-07 18:16] mariajoafana commented on #374
Good, noted.

[2017-03-07 18:19] acrymble opened #375 "Spanish Team Roles"
I think it might help to start thinking about the different roles that the members of the Spanish team might fill. On team projects like this, I think everyone needs a clear space to call their own where they know what their contribution will be. We do this on the English team (only one person is ever formally involved with a given lesson, to avoid any clashes between editors), and I think it has

[2017-03-07 18:24] acrymble commented on #371
It's a good idea to close tickets only after the action is completed. That way if you get hit by a bus, we know this work is done (and we will be sad - so please don't get hit by a bus).

[2017-03-07 19:38] arojascastro commented on #373
Thanks @mariajoafana for choosing the image and writing the announcement. I like a lot!

[2017-03-07 20:38] mariajoafana commented on #375
Great idea Adam. If @arojascastro and @vgayolrs agree, I'll like to be involved with the promotion of the project. I was thinking on writing a piece in Spanish for the blog about why Python can be useful for historians.
Also, I'll like to write a lesson eventually, but I'll need to mature this idea before I can propose something concrete. I could also support the rest of the team with the other fu

[2017-03-08 03:27] vgayolrs commented on #371
You're right @acrymble .
These are the incorporations:
http://programminghistorian.org/es/guia-para-revisores#traducciones
http://programminghistorian.org/es/guia-editor#nota-sobre-la-revisi%C3%B3n-de-traducciones
I'll have an eye on that bus. But I will wait to close any ticket only when it is complete.
Thanks!

[2017-03-08 06:30] vgayolrs commented on #375
I think it is a very practical idea that will allow to organize the collaborative work. Maybe we have to adapt it a little at first, since we are only three in the team and we have some pending tasks, but I think we can cover them in a short time. We're learning fast thanks to @acrymble (thank you very much)! Here some commnets.

1) *Community lead and promotion*. I think @mariajoafana has the app

[2017-03-08 07:52] vgayolrs opened #376 "Changes made to improve Spanish site"
@mariajoafana @arojascastro @acrymble

I toured the splash pages and secondary ones to get an idea if the site works properly. I fixed some links and make some changes and aditions to fit everything as discussed at #369

1. The [Guía para editores](http://programminghistorian.org/es/guia-editor) (*Editor guidelines*) redirected error404, so I took the one [translated and adapted](https://github.co

[2017-03-08 08:45] arojascastro commented on #375
I agree with the proposal @mariajoafana @vgayolrs @acrymble. However, I would like to clarify a few things:

1. If I become the main editor, I won't have time to translate, I am afraid.
2. Is there any way that the editor of the translation can be given credit in the YAML header?
3. Until now I have translated one lesson, which has been proofread without creating a review ticket i think. If I act

[2017-03-08 08:56] arojascastro commented on #376
Great! Many thanks @vgayolrs. I like all changes that you made. The Guía para editores still need to be proofread becasue there are some Markdown syntax errors. Can we create a Review Ticket? (I know that we have created review tickets in the Spanish repository but maybe we can remove them and create issues here?).

[2017-03-08 16:09] mariajoafana commented on #376
Excellent, the additions following our previous discussions look great.
About your question, now that all the Spanish webpage materials are here in the Jekyll repo I'll say that is fine to create the ticket here. In this case you can call it something like "Fix Markdown on Guía de editores". In the future, we might want to use the Spanish repo to post review tickets only of translated lessons befo

[2017-03-08 16:50] arojascastro opened #377 "Fix Guía de editores"
Typos corrected in commit #6538ff1

[2017-03-08 16:51] #377 closed, assigned to nobody

[2017-03-08 16:53] arojascastro commented on #376
Ok, I correct some typos in #6538ff1 (how can i link to a commit?)

[2017-03-08 18:37] acrymble commented on #368
Does anyone mind if I tweet this? I'd really like to share, even if this is still in progress (as are all digital humanities projects!)

[2017-03-08 18:48] mariajoafana commented on #368
Yes, I'd like to share as well! Lets see what the rest of the team think.
I'll do the tweet in Spanish after you tweet in the English site

[2017-03-08 18:49] arojascastro commented on #368
No problem from my point of view.

[2017-03-08 19:41] amandavisconti commented on #368
Sounds good to me!

[2017-03-09 08:08] acrymble commented on #368
Ok, tweet away @mariajoafana .

I'm closing this ticket because the rest of the activity is dealt with elsewhere.

[2017-03-09 08:14] acrymble commented on #373
I have added this link to the menu. I recognise that it's temporary and that the changes to the navigation will change this, but we need a short-term way for people to find the project.

[2017-03-09 08:14] #373 closed, assigned to nobody

[2017-03-09 08:56] arojascastro commented on #311
Can we add a space and a comma after each of the translation reviewers? Se for instance: http://programminghistorian.org/es/lecciones/instalacion-mac

Also I think Adam should be given for being in charge of the reviewing process...

[2017-03-09 10:02] arojascastro commented on #368
I checked both versions of the announcemente and this link "[how to make Omeka exhibits] (http://programminghistorian.org/lessons/creating-an-omeka-exhibit)" is not working on the website. The Markdown encoding, however, looks fine to me. Any idea why is not working?

[2017-03-09 10:04] acrymble commented on #368
fixed. Can't have spaces between links like that.

[2017-03-09 10:04] #368 closed, assigned to vgayolrs

[2017-03-09 14:36] arojascastro commented on #311
Sorry @wcaleb but now the Spanish reviewers are gone and the English reviewers are duplicated. Let me know if I can help you.

[2017-03-09 14:38] wcaleb commented on #311
Just a small error. Should be fixed shortly.

[2017-03-09 14:38] #311 closed, assigned to nobody

[2017-03-09 14:53] wcaleb commented on #370
Thanks, Adam. I need to adjust the `_include` now so that the editor is printed.

[2017-03-09 14:55] wcaleb commented on #376
@arojascastro If you paste the URL to the commit you want in a comment box here, GitHub will automatically convert it to a shorter link, like this: https://github.com/programminghistorian/jekyll/commit/6538ff173caee1c46c7d97b83cfd2e3be52e56dc.

On the [commits history](https://github.com/programminghistorian/jekyll/commits/gh-pages), there is also a handy "clipboard" icon next to the commit hash s

[2017-03-09 14:58] arojascastro commented on #376
Cool! Many thanks @wcaleb

[2017-03-09 15:19] wcaleb commented on #376
@arojascastro Also, if you mention the issue number #376 with a hashtag in the "commit message" for your commit, it will automatically put a link on this ticket to that commit. See an example of what this looks like at the bottom of #311.

[2017-03-09 19:52] acrymble opened #378 "Further Translations"
A discussion ticket to consider a French translation, as we've been contacted informally by at least 2 people seemingly interested in this.

I'm of course happy to see the project reach as many people as possible, and all content is CC-BY so anyone can translate whatever they want. If this involves incorporating more language content onto our site I think we'll have to consider our capacity (in te

[2017-03-09 20:00] acrymble opened #379 "Should we Separate Board from Editorial Team"
This is a ticket for the editorial board meeting. We've had a suggestion that the team might be growing too big for everyone to be involved in all aspects, and that it might be time to separate the board (the part of the team that is involved with the project direction & montly meetings) from people who want to contribute in a more focused manner (eg, editing lessons in a specific area).

This is

[2017-03-10 16:21] jerielizabeth commented on #339
First test at https://github.com/programminghistorian/ph-submissions/issues/54

[2017-03-10 16:26] acrymble commented on #339
should we put the template you used somewhere and close this ticket? Editor's guidelines?

[2017-03-10 19:54] wcaleb commented on #370
I've tried to join the editors and reviewers together using the [concat](https://help.shopify.com/themes/liquid/filters/array-filters#concat) filter, but it doesn't seem to be working. Ideas @mdlincoln?

[2017-03-10 20:24] wcaleb commented on #370
Ah, it looks like the `concat` Liquid filter [isn't available in Jekyll 3](http://stackoverflow.com/questions/40243421/concatenate-arrays-in-liquid). Will have to work around this some other way.

[2017-03-10 22:21] mdlincoln opened #381 "Remove site.url calls that bug local development"
In a few places, such as editorial team avatar image paths, some calls to `{{ site.url }}` erroneously send the browser to `programminghistorian.org` when developing locally, instead of to `localhost:4000`. This throws a wrench in to previewing the site locally via `brew exec jekyll serve`

[2017-03-10 22:43] wcaleb commented on #381
Some of us have been discussing on email what to do about the relative versus `site.url` links, and how to make it consistent. @fredgibbs and @amandavisconti have both been making development forks for various purposes, and so we want a solution that will maximize the ability to spin up previews, ideally both locally or on GitHub Pages. Would the best solution be to include `site.url` everywhere a

[2017-03-10 22:50] mdlincoln commented on #370
I think I have a workaround using the `split` filter. Will push shortly.

[2017-03-10 22:54] wcaleb commented on #370
You read my mind! I was thinking on that too, but will stop.

[2017-03-10 23:32] vgayolrs commented on #376
Ok, if there's no more comments about this issue, I close it. Please don't hesitate on reopen it if you want to add something. Thank you.

[2017-03-10 23:32] #376 closed, assigned to nobody

[2017-03-10 23:35] mdlincoln commented on #381
If I understand the need correctly, you want to make sure that links within development forks consistently point to those development forks' versions of those links, not back to `programminghistorian.org`.

In those cases, then, you'd just want to have a leading slash `/` that points to the root of the site, in lieu of the absolute link to `{{ site.url }}` that needs to be hardcoded in each fork's

[2017-03-10 23:36] mdlincoln commented on #381
(And possibly calling `{{ site.url }}` when generating the RSS feed...)

[2017-03-10 23:44] #370 closed, assigned to wcaleb

[2017-03-10 23:51] vgayolrs commented on #366
I am reconsidering the viability of @acrymble 's proposal, and the sustainability argument is a strong one. In a case (distant) that we lost the integrity of the repository structure, it would be easier to reconstruct things by specifying the names of the program files adding a respective language Identifier (i.e `obo-es.py`, `obo-fr.py`, and so on). In the next few weeks I will work with this sep

[2017-03-11 05:05] vgayolrs opened #383 "Testing Spanish workflow"
@mariajoafana @arojascastro

I am opening this ticket to test the workflow of the Spanish team to submit, edit and review translations, as we discussed at #369 . We will be testing the process with finished translations sent to the [new repository for translation submissions](https://github.com/programminghistorian/ph-submissions/tree/gh-pages/es/traducciones), as we agreed at #374 . Please let me

[2017-03-11 08:42] arojascastro commented on #383
Following Adam's email, who is acting like an editor?

[2017-03-11 09:10] acrymble commented on #383
Maybe it's worth filling in your table of editors/translators now and then everyone knows? https://github.com/programminghistorian/ph-submissions/blob/gh-pages/es/lista-de-traducciones.md

We normally have an editor chosen before authors start writing. The translations have been a bit different, but you could figure out now who will edit what (spreading the work between you) and then there is no c

[2017-03-11 09:24] arojascastro commented on #383
Yes, I agree we should fill in that table with editors. So please @vgayolrs @mariajoafana add your names. I will understand that the gaps are left for me.

[2017-03-11 15:10] vgayolrs commented on #383
If I may suggest, I think the best way to start testing the workflow is to designate different editors. For example, @mariajoafana  could be the editor responsible for those translations that already began to review @arojascastro , so he could finish the translation review:

1. Preservar tus datos de investigación: https://github.com/programminghistorian/ph-submissions/blob/gh-pages/es/traduccione

[2017-03-12 08:08] acrymble opened #384 "Matthew Lincoln to Equipo de proyecto"
Could we add Matthew Lincoln to this page please?: http://programminghistorian.org/es/equipo-de-proyecto

[2017-03-12 08:11] acrymble commented on #303
- Maria José Afanador-Llach works in the Fundación Histórica Neogranadina, a non-profit organization digitizing endangered colonial archives in Colombia and promoting digital humanities projects.
Current Teams: Spanish; Ombuds, Community, Board

- Adam Crymble is a lecturer of digital history at the University of Hertfordshire.
Current Teams: Editorial; Community; Board

- Víctor Gayol is a resear

[2017-03-12 08:38] arojascastro commented on #303
Great work! I think I am in charge of the submissions too whereas María and Víctor are both our ombudspersons.

[2017-03-12 15:36] mariajoafana commented on #383
Perfect, lets try the workflow this way. I thinks that the process make sense, I just started creating the tickets for the translations in which I'll be acting as editor and filled the table assigning myself as editor. Also, as a translator I just submitted the "Creado diagramas de redes" to ph-submissions and sent Víctor an email in a sort of "mock" editorial process exercise. Where should be cre

[2017-03-12 16:07] mariajoafana commented on #384
I'm on it

[2017-03-12 16:20] mariajoafana commented on #384
Done

[2017-03-12 16:20] #384 closed, assigned to nobody

[2017-03-12 16:25] vgayolrs commented on #383
@mariajoafana : As editor of your translation I would be responsable of creating that folder. Let me do it and then I will post here the process.

[2017-03-12 17:13] vgayolrs commented on #383
Switch to Spanish:
@mariajoafana : ya está lista la carpeta para las imágenes de la traducción en la siguiente dirección:
https://github.com/programminghistorian/ph-submissions/tree/gh-pages/images/creando-diagramas-de-redes-desde-fuentes-historicas
Ahi puedes subir las imágenes de la lección.
En caso de que tú o @arojascastro , como editores, necesiten crear una carpeta, solamente hay que ir a `p

[2017-03-13 06:00] mdlincoln opened #385 "Explore using Travis CI to check for dead links"
[It is possible to set up a free Travis CI build job to check your Jekyll site for both build errors, as well as for dead links.](http://jekyllrb.com/docs/continuous-integration/travis-ci/)

This would offer two useful checks for us:

1. Any new links in lessons or posts (including internal ones, such as to images) would be immediately checked as soon as they are pushed to this repository, and err

[2017-03-13 13:22] arojascastro commented on #375
Should I close this?

[2017-03-13 13:50] acrymble commented on #375
I don't think you've received answers to your questions. But you can close it if you decide you don't need them.

[2017-03-13 15:15] mdlincoln commented on #381
The [`no_absolute_url`](https://github.com/programminghistorian/jekyll/tree/no_absolute_url) branch I just pushed tries to remove the extra `{{ site.url }}` calls. @amandavisconti @wcaleb @fredgibbs it would be great if you could try merging this branch on to your development forks of the site to check if it causes any problems.

[2017-03-13 16:54] ianmilligan1 commented on #385
I think this is a great idea – we use Travis CI on other projects I'm involved with, and helps catch those silly errors we sometimes slip in.

[2017-03-13 20:17] mdlincoln opened #386 "Add Gemfile.lock to git"
[A year ago I gave bad advice](https://github.com/programminghistorian/jekyll/commit/0a7f64836a4afae27a0b74cd2249634e558aa7c8): remove `Gemfile.lock` from being tracked by git.

[This is the incorrect thing to do.](http://stackoverflow.com/a/4151540) 😭

Re-tracking `Gemfile.lock` will ensure that everyone building this site locally (including robots like Travis CI re: #385) will be using the exact

[2017-03-13 20:42] mdlincoln opened #387 "Add to CONTRIBUTING.md?"
[This document](https://github.com/programminghistorian/jekyll/blob/gh-pages/.github/CONTRIBUTING.md) can be amended with additional information anyone contributing to the technical development (rather than the content production) of the _Programming Historian_ website.

- [x] Distinguish between technical contributions (the focus of this doc) and content contributions (the focus of published webp

[2017-03-13 22:43] mdlincoln commented on #385
I'll create a test branch for this later today, and post initial results.

[2017-03-13 23:16] vgayolrs commented on #375
Sorry, I missed this one.
@arojascastro

1. Do not worry. I think the role assignment serves to better organize the work but doesn't mean having absolutely fixed tasks and we can exchange. Every time you need to delegate the edition of something I think you can lean on @mariajoafana or me.
2. I think there is no problem with that. In fact, several lessons have it included.
3. Quite so!
4. I think

[2017-03-14 00:40] #386 closed, assigned to mdlincoln

[2017-03-14 14:12] fredgibbs commented on #387
very important questions that i think we should address on our next call.

[2017-03-14 18:29] mdlincoln commented on #385
Initial results are not too horrific! While the first pass shows 63 broken links (out of **1673** urls across the generated site!), only 24 of those are external links. The rest are internal links that are more easily repaired. Here's what the results look like [(quoted from the full logs)](https://travis-ci.org/programminghistorian/jekyll/builds/211051697)

[code]

[2017-03-15 18:11] wcaleb commented on #381
At first glance, everything on the `no_absolute_url` branch works for me locally. Thanks for doing that @mdlincoln! I'd favor merging it into `gh-pages`. There may also still be some hard-coded relative links scattered throughout the site, an artifact of our earlier migration from Wordpress. We will have to keep an eye for those and update them moving forward.

[2017-03-15 18:17] wcaleb commented on #387
Agree it would be worth discussing.

Re: the specific questions about CONTRIBUTING.md, I think in general in the past we have favored keeping general contributing documents aimed at a pretty wide audience. My only worry would be putting so much aimed at developers in this document that it might appear forbidding for people who are just looking into any ways to contribute (as author, reviewer, etc.

[2017-03-15 18:31] wcaleb commented on #385
FYI I have fixed the faulty internal relative links (to `../feedback` and `../contribute`) and the Twitter handles for the Spanish team members.

I also notice in this list problems with the `troubleshooting.md` page, and I'm wondering if that page is so outdated that it should just be removed? At the very least it needs a significant revamp, so I'll create another ticket to discuss.

[2017-03-15 18:33] wcaleb opened #388 "Revise or remove Troubleshooting"
It looks like [this troubleshooting page](https://github.com/programminghistorian/jekyll/blob/gh-pages/troubleshooting.md) from the old site hasn't been touched for three years, and it's now pretty outdated, but it's [still being generated with our site](http://programminghistorian.org/troubleshooting). I don't think it's linked from anywhere currently. (I only noticed it because it generated a de

[2017-03-15 18:48] mdlincoln commented on #381
That's a good point - another search I'll do before we merge is for `programminghistorian.com` (also, I think I've seen a `github.com/programminhistorian...` hardcoded link or two within some lessons...)

[2017-03-15 18:48] ianmilligan1 commented on #388
These are good general principles, but yeah, it's pretty outdated now. I'd be happy to see it removed, but given @acrymble is one of the authors would also be happy to defer to his judgment on it.

[2017-03-15 23:44] mdlincoln commented on #385
@wcaleb since you pushed these changes to the main `gh-pages` branch, I'm going to merge in the Travis CI link checking, so that we can get updated reports on remaining work viewable here: https://travis-ci.org/programminghistorian/jekyll

[2017-03-15 23:45] #385 closed, assigned to mdlincoln

[2017-03-16 03:45] wcaleb commented on #385
@mdlincoln I've gone through and tried to fix all of the easy internal link problems and typos. We'll have to think about how we want to deal with broken external links---whether we want to contact editors/authors. Sometimes it's an easy fix, but sometimes a different page might need to be found.

In the meantime, could you adjust the Travis config so that `assets/` and `/lessons/deprecated/` are

[2017-03-16 04:11] mdlincoln commented on #385
Done. Another option to think about, which I've done after implementing 404 checking on my own site, was to point some old pages to web.archive.org snapshots when they exist.

[2017-03-16 09:10] acrymble commented on #388
I'm generally against deleting things, in part because I've been doing internet history research lately and it drives me crazy when people do that. This hasn't really been integrated into the site. It could be updated and posted on the blog just so those ideas (many of which are still useful) don't go to waste.

[2017-03-16 09:15] acrymble commented on #378
We got a number of people retweeting this, but no one (including those who contacted us) have added any comments here. So I would suggest the appetite for this isn't sufficiently high at the moment.

[2017-03-16 09:25] acrymble commented on #325
@Ape3 can you let us know if this fixes your problem? If we don't hear, I'll have to assume you've moved on and we'll close this ticket.

[2017-03-16 09:25] symac commented on #378
Hi @acrymble,
I had noticed the issue and subscribed to it, but I was thinking the last sentence of your message for "the community & team" was referring to insiders of the community, requesting inputs regarding the best way to integrate translated contents into the main site and I had not understood you were willing us (people that had contacted you by email) to comment there to show the support.

[2017-03-16 09:28] acrymble commented on #375
I definitely agree about the benefit of involving more people. You've got a translation in the making, but making more people feel like it's 'their' project helps the user-base grow.

[2017-03-16 09:29] acrymble commented on #378
Thanks @symac . Sorry I didn't mean the language to sound like we weren't after your input. By community I meant anyone who feels invested or interested in the project.

[2017-03-16 10:09] acrymble opened #389 "Lesson page lesson name different from actual lesson name"
Just pointed out via Twitter:

This lesson is named 'From Hermeneutics to Data to Networks: Data Extraction and Network Visualization of Historical Sources' http://programminghistorian.org/lessons/creating-network-diagrams-from-historical-sources

But on the lessons page it is called 'Creating Network Diagrams from Historical Sources'.

This is potentially confusing for users. It may also not be t

[2017-03-16 13:46] acrymble commented on #389
#193 is an obviously linked issue. @amandavisconti can we address both in the redesign?

[2017-03-16 15:21] wcaleb commented on #388
I agree, Adam. I would favor revising/updating it, and then including
a link to it somewhere, perhaps at the top of the lessons directory? Or
at the beginning of the series on Python, where it seems like it may
have appeared originally, as part of PH1?

On Thu, Mar 16, 2017 at 02:10:17AM -0700, Aaron Wolf wrote:

[2017-03-16 17:26] wcaleb opened #390 "Fix broken external links exposed by Travis"
Implementing #385 revealed a variety of broken external links in our lessons. For ease of addressing them, I've compiled a list here. Some may require us to contact original authors or editors to see if a better external link can be found for the one that is no longer working. Others, as suggested by @mdlincoln, might be fixed by finding a snapshot of the external page in the [Wayback Machine](htt

[2017-03-16 17:31] wcaleb commented on #381
@mdlincoln I thought this had already been merged and updated `figure.html` thinking it had been missed. I think we should just go ahead and merge your branch---can always undo any damage later.

[2017-03-16 17:32] mdlincoln commented on #381
OK, let me do that merge now.

[2017-03-16 17:44] wcaleb commented on #388
Incidentally, here is the [old resources page](https://github.com/programminghistorian/jekyll/blob/gh-pages/_oldsite/modified_html/resources.html) that is linked to from the troubleshooting page. Perhaps, at least for the moment, I could include the list of links in that page at the bottom of `troubleshooting.md`? That would at least make one of the link errors in #390 go away.

[2017-03-16 17:49] wcaleb commented on #381
@mdlincoln Something weird happened when you did that. It added copies of two avatars of Spanish team members (see [here](https://github.com/programminghistorian/jekyll/tree/gh-pages/avatars) and notice the ones with your last commit message) that now is causing trouble when I try to `git pull`.

[2017-03-16 17:57] mdlincoln commented on #381
oh 💩  I wonder if it has something to do with unicode character handling in git on OS X: http://stackoverflow.com/questions/5581857/git-and-the-umlaut-problem-on-mac-os-x

Let me revert those files, and then see what is happening on my computer.

[2017-03-16 18:01] wcaleb commented on #381
Yeah, I'm also seeing a version of the problem in the Stackoverflow post. `git status` returns:

[code]

[2017-03-16 18:03] mdlincoln commented on #381
After just setting `git config --global core.precomposeunicode false` (I'm on OS X 10.11.16) I'm not having those unicode issues anymore. Let me know if setting it to `false` helps you.

[2017-03-16 18:05] wcaleb commented on #381
Ok, that allowed me to `git pull`, but didn't make that untracked file go away ...

[2017-03-16 18:06] mdlincoln commented on #381
After changing the setting, are you seeing:

1. `_posts/2017-03-05-lanzamiento-PH-espan\314\203ol.md` or
2. `_posts/2017-03-05-lanzamiento-PH-español.md`

?

[2017-03-16 18:13] wcaleb commented on #381
1. `_posts/2017-03-05-lanzamiento-PH-espan\314\203ol.md`

[2017-03-16 18:17] mdlincoln commented on #381
Huh, I had not seen any issues from that file before.

If you make a fresh clone of the repo under this new global git setting, do you still see the issue?

[2017-03-16 18:19] wcaleb commented on #381
Yep. Odd. Maybe I should `git rm` it on my local repo, and then you can restore it from yours?

[2017-03-16 18:22] mdlincoln commented on #381
Yea, try `git rm` but do it on a new branch so we can try it out first without touching `gh-pages`

[2017-03-16 18:30] wcaleb commented on #381
Ok, I did it on a separate branch. What's weird is that I couldn't even `git rm` it without setting `precomposeunicode` to true because it would give me a path error saying the file couldn't be found. So now I have a local branch `pesky_tilde` without the file, and `git status` is clean whether `precomposeunicode` is true or false. What next?

[2017-03-16 18:35] mdlincoln commented on #381
If you can push that branch up to github, I'll download it and see what it looks like on my end. If it's clean for both of us now, then hopefully that means problem fixed?

[2017-03-16 18:37] acrymble commented on #390
The links on the index.md page actually work fine: http://www.science.gc.ca/eic/site/063.nsf/eng/h_F6765465.html

I suspect we don't understand fully how these are being classified as failed.

[2017-03-16 18:42] wcaleb commented on #390
True, @mdlincoln I wonder if there is a way to exclude links generating `503 errors`, which are typically temporary, from the Travis checks? The error codes should give us some sense of why the links are failing.

[2017-03-16 19:44] mdlincoln commented on #381
Doing that has deleted the post entirely from my repo. Let's try this - I'll commit it again to the branch with that global tag set to `false` and see if you can pull it.

[2017-03-16 19:44] amandavisconti commented on #389
@acrymble I think this is already fixed by virtue of the lessons page no longer being hardcoded—the titles appearing on the lessons page are just the text under "title" in a lesson's front matter.

[2017-03-16 19:46] acrymble commented on #389
Ok let's call this future-fixed then.

[2017-03-16 19:46] #389 closed, assigned to nobody

[2017-03-16 20:38] wcaleb commented on #381
Ok, now I was able to pull it down, and with the global tag set to false.

[2017-03-16 21:00] mdlincoln commented on #381
OK, I'm merging the pesky_tilde branch now that it's fixed for you.

On Thu, Mar 16, 2017 at 1:38 PM, W. Caleb McDaniel <notifications@github.com

--
Matthew Lincoln, PhD
Provenance Data Research Specialist

The Getty Research Institute
1200 Getty Center Drive, Suite 1100
Los Angeles, CA 90049–1688

mlincoln@getty.edu
310-440-6723

@matthewdlincoln

[2017-03-16 22:04] wcaleb commented on #381
Thanks. I still had to move the local files somewhere else in order to get things totally clean, but everything seems in order now.

[2017-03-17 19:07] mdlincoln opened #391 "Travis CI tests timing out"
Since commit 63d0486, we're seeing intermittent timeouts of the travis tests.

[2017-03-17 19:52] wcaleb commented on #391
Do we somehow have to config Travis to handle unicode the same we had to locally?

[2017-03-17 20:01] wcaleb commented on #390
The "Cleaning Data with OpenRefine" lesson says that we maintain a copy of `phm-collection.tsv` (which is downloadable from the Powerhouse Museum website) on our site, too, but I can't seem to find it anywhere. Perhaps it got lost in the transition to GitHub Pages? @acrymble do you have a copy of it somewhere we could upload to `assets`?

[2017-03-17 20:05] mdlincoln commented on #391
I don't think it's a travis issue - it's running on ubuntu, and that's only an OS X issue. It looks like the unicode file is actually causing some kind of hang in htmlproofer. I'm going to try running it locally and see what happens.

[2017-03-17 20:25] mdlincoln commented on #391
I really don't think it's the unicode character filename causing any issue. I just removed it and am still having a timeout on Travis. Meanwhile, earlier builds finished (with the expected errors) _with_ those filenames: https://travis-ci.org/programminghistorian/jekyll/builds/212134767

[2017-03-18 02:54] wcaleb commented on #391
There was a broken external link in `troubleshooting.md` that I found myself, and it looks like once I corrected it, Travis was able to run HTMLProofer easily. I wonder if it was somehow hanging on that broken link for some reason?

[2017-03-18 03:13] wcaleb commented on #391
@mdlincoln Weirdly enough, https://github.com/programminghistorian/jekyll/commit/886feb77c24fce631753ee209814813673e8caf1 seems to have fixed this. Closing for now. I don't know if the lack of a response code from the incorrect URL was causing everything to crash?

[2017-03-18 03:13] #391 closed, assigned to mdlincoln

[2017-03-18 03:22] wcaleb commented on #390
@drjwbaker One of the external links in the "Further Reading"  section of your article on Preserving Research Data appears to be generating an error: http://dspace.jorum.ac.uk/xmlui/handle/10949/14725

Could you look to see if there is a more stable permalink to the resource you intended to include so we can update the link?

[2017-03-18 03:28] wcaleb commented on #390
@shawngraham One of the external links in the Further Reading section of your Sonification lesson (to the chapter on Listen to the Sound of Data) is generating an error (code 429) for us. Would it be okay to use a different permalink to the same chapter? For example, http://dx.doi.org10.1007/978-3-319-14998-1_19 ?

[2017-03-18 05:46] mdlincoln commented on #391
It's odd, other URLs also have a lack of a response code without timing out. It looks like the ability to set a timeout limit for htmlproofer may be forthcoming, so I'll keep an eye on the problem until then.

[2017-03-20 16:48] drjwbaker commented on #390
@wcaleb This has now ended up at https://doi.org/10.5281/zenodo.28329

[2017-03-20 18:17] mdlincoln commented on #390
@wcaleb @shawngraham FYI the 429 on that researchgate paper is a "too many requests" error - likely being returned because a lot of requests may be originating from Travis. The link works fine as is - though linking via DOI is always a nice practice, too!

In any case, I've instructed html-proofer to ignore 429 codes in the future.

[2017-03-21 16:34] wcaleb commented on #390
@mdlincoln I've noticed that a few of the HTMLProofer errors continue to appear even after I've fixed the problem. Does this have to do with the way caching works?

[2017-03-21 17:17] mdlincoln commented on #390
I am befuddled. html-proofer ought to remove links from its cache if they are removed from the actual site. Will investigate.

[2017-03-21 17:32] mdlincoln commented on #390
OK, an interesting bug that I may have to file with html-proofer.

That dspace link _does_ still exist on the repo... at `es/lessons/preservar-datos-de-los-investigacion.md`. As soon as I switched that link to the DOI one, the html-proofer error went away. I suspect that html-proofer is making a list of all the external links on the site and then comparing with the cache... but as soon as it sees

[2017-03-22 14:32] #325 closed, assigned to nobody

[2017-03-22 18:23] ianmilligan1 opened #393 "Mallet lesson needs updating for more recent version"
@jburnford noted in an e-mail to me:

We've made explicit that we should use the old version, but we really should update it at some point to use the newest version.

[2017-03-22 18:23] ianmilligan1 commented on #393
I will do so when I have some spare cycles but might not be for a while.

[2017-03-24 16:07] wcaleb commented on #390
@ianmilligan1 One of the two remaining problem links here is a Gutenberg ebook that appears in a wget lesson. I've tried variations, shortening the URL, but still have been getting 403 errors. Any ideas of how we can point readers to the Tolstoy book with a more stable link?

[2017-03-24 22:41] ianmilligan1 commented on #390
The link works when you visit it, though? I think it's because the first time you visit you get a quick pop up.

[2017-03-24 22:43] wcaleb commented on #390
That's what I suspect too. Not sure if there's a way around the issue.

Sent from my iPhone

[2017-03-24 22:49] mdlincoln commented on #390
It's very strange. On the other hand, we can specifically exclude that link from testing so as to satisfy html-proofer.

[2017-03-25 01:36] ianmilligan1 commented on #390
Sounds like a plan - fingers crossed that it works!

[2017-03-25 02:23] mdlincoln commented on #390
It does.

Annoyingly, though, for every test we ignore, that's one more link that
might legitimately die without us catching it... but I guess we'll take
what we can get for now!

On Fri, Mar 24, 2017 at 6:36 PM, Ian Milligan <notifications@github.com>
wrote:

--
Matthew Lincoln, PhD
Provenance Data Research Specialist

The Getty Research Institute
1200 Getty Center Drive, Suite 1100
Los Angeles,

[2017-03-25 11:32] acrymble commented on #393
I don't think you need to feel compelled to update this. The lesson is still internally correct. But it's up to you.

[2017-03-25 11:55] acrymble opened #394 "Editorial Board Meeting Agenda 31/03/2017"
Any suggestions from the team of issues to discuss at the meeting? I suspect there are a lot. Some that stand out to me are:

Welcoming new team members (@JMParr welcomed and given ideas on getting started)
#387 - Standardising github/website contributions @mdlincoln (postponed due to travel)
#379 - Separating Project Team from Editorial board? @fredgibbs (postpone due to travel)
#383 - Spanish wo

[2017-03-25 12:03] acrymble commented on #378
I've renamed this to 'Further Translations' from 'French Translation' because we've now also been contacted by a Russian colleague interested in a Russian translation of the project.

[2017-03-25 12:04] arojascastro commented on #394
My apologies I can make it this time. I'll be in a conference in Chicago! I only can add that two new translations were comissioned to external collaborators:

1. cleaning-data-with-openrefine to María Jesús Colmenero
2. data-mining-the-internet-archive to Jairo

Plus we should get a new translation (graph-databases-and-SPARQL) by Nuria Rodríguez Ortega by 17 April.

[2017-03-25 12:15] acrymble commented on #390
I'm quite concerned that the Open Refine dataset is nowhere to be seen. I think I've managed to find a copy on the Internet Archive, but I don't have one in my email, on my computer, or anywhere seemingly on Github.

I haven't had time to check if this is the right file.
[phm_collection_mar12.zip](https://github.com/programminghistorian/jekyll/files/869991/phm_collection_mar12.zip)

[2017-03-25 16:43] ianmilligan1 commented on #393
Hah thanks Adam. We've had a fair number of questions about this - the version we use is no longer easy to find except through our lesson.

[2017-03-25 19:59] fredgibbs commented on #381
I wanted to raise an issue that continues to cause me trouble, even if just to get a clear solution posted in this thread.
absolute links in the main PH repo resolve to programminghistorian.org/
absolute links in my fork of the jekyll repo (at fredgibbs.github.io/jekyll/) resolve to fredgibbs.github.io/ (that is, my own website, not my PH fork)
There's no problem getting things to work locally, bu

[2017-03-25 23:00] mdlincoln commented on #381
@fredgibbs Ahhhh that's a good point. There is a fine distinction between `{{ site.url }}` and `{{ site.baseurl }}` that I was not paying attention to. While just using `/` to point to the root of the site works fine for pages at `http://programminghistorian.org` as well as on `localhost:4000`, it will definitely cause issues when trying to build forks of the site to display at `https://username.g

[2017-03-25 23:13] mdlincoln commented on #387
There isn't actually a CONTRIBUTING.md at the root of this repo.

"content" contributions in the form of lessons and editorial work are documented in [/contribute.md](https://github.com/programminghistorian/jekyll/blob/gh-pages/contribute.md), which is published on the web page at <http://programminghistorian.org/contributing.html>)

"technical" ones, whose guidelines are the ones that are linked

[2017-03-25 23:42] amandavisconti commented on #381
This makes sense to me. Thanks for disambiguating, @mdlincoln ! (I am hoping to spend tomorrow finishing up my lesson page tasks, so I will try these guidelines on my local and dev fork sites.)

[2017-03-26 01:15] wcaleb commented on #381
I think that under the scenario @mdlincoln describes, you could also do local development on forks like Fred's by passing an empty string to `--baseurl` at runtime, like this: `jekyll serve --baseurl ''`. That way you wouldn't have to keep making changes directly to the `_config.yml` file.

[2017-03-26 01:21] wcaleb opened #395 "Store a copy of Powerhouse Museum TSV in assets"
The `phm-collection.tsv` dataset used in the [Open Refine lesson](https://github.com/programminghistorian/jekyll/blob/gh-pages/lessons/cleaning-data-with-openrefine.md) appears to be missing. We have been saying that we have a copy available on our site, but we don't. So we need to download the collection or check to see if [the one mentioned](https://github.com/programminghistorian/jekyll/issues/

[2017-03-26 01:24] wcaleb commented on #390
Moving the mysterious case of the missing TSV file to a different issue so we can (hopefully) get a clean bill of health from Travis!

[2017-03-26 01:26] wcaleb commented on #390
Woo hoo! A green checkmark has never looked so good!

![green-checkmark](https://cloud.githubusercontent.com/assets/1126864/24327534/44768b80-1199-11e7-922d-e734fbcacf36.jpg)

[2017-03-26 01:26] #390 closed, assigned to nobody

[2017-03-26 01:48] wcaleb commented on #395
@acrymble I'm noticing now that an earlier paragraph in the lesson directs users to find the file [here at a FreeYourMetadata link](http://data.freeyourmetadata.org/powerhouse-museum/). It looks like the file in question is 56 MB---pretty large for us to store in our repo, but not impossible, I think. So should we just put a copy of the TSV file available on that page in our `assets` folder? Or ar

[2017-03-26 01:53] wcaleb commented on #394
What to do with old lessons in `ph-submissions` that have been moved over to the main repo?

I suggest we put them in a "published" folder and edit the YAML to include a `redirect_from` the original URL (without `published` in the path) so that the live previews mentioned in review tickets still work.

[2017-03-26 18:54] amandavisconti commented on #333
Closing this as it sounds like @fredgibbs and I both have our to-dos from this user-testing listed on other issues (mine are #193, #320, #322). Thanks again to @acrymble and all for exploring and suggesting!

[2017-03-26 18:54] #333 closed, assigned to amandavisconti

[2017-03-26 19:20] mdlincoln commented on #381
I've poked around with this and it works rather well - the only hiccup is that any link that tirggers `redicrect_from` will bounce you back to whatever's at `site.url` because of the way that plugin is designed - but that's a livable compromise.

It's probably best not to do any wholesale find/replaces until @amandavisconti and @fredgibbs merge the major changes they've been working on - as that m

[2017-03-27 01:05] mdlincoln commented on #394
Unfortunately, I'll also be in Chicago (👋 @arojascastro) so I will be missing this call, too.

I'm very interested in #387 (related, more detailed #381) - most of my thoughts on it have already been captured in those issues, but i will add any additional thoughts early this week so that they're documented.

[2017-03-27 12:35] acrymble commented on #285
I got an email today that this might now be working. I just need to try it out to see. Thanks @sharonhoward

[2017-03-27 12:38] acrymble opened #396 "how to keep static pages in sync across languages?"
Our two new editors have added themselves to the Project Page, but not to the Spanish version.

What is the best way to ensure the two sets of pages stay in sync from a contact perspective? Can we set up an alert that automatically gets sent to @arojascastro perhaps when one of the static pages is updated, and he can respond accordingly? Or is there a better way?

[2017-03-27 12:40] acrymble commented on #394
Maybe we should hold off on #387 and #381 until next month if @mdlincoln is not available? Since you've been quite involved in those discussions.

@wcaleb did the submissions thing have a ticket? I can't find it. Or was that just via email?

[2017-03-27 12:46] arojascastro commented on #394
@mdlincoln I just saw that you are delivering a paper at the RSA too. Hope to be able to attend and say hi.

[2017-03-27 12:55] fredgibbs commented on #393
This sort of thing might be an opportunity to generate additional community participation--to see if we can't encourage someone who has been thinking about contributing to PH but doesn't want to write a new lesson--updating an existing one and replacing a few screen shots isn't too intimidating and could be a good trial run.

[2017-03-27 13:00] fredgibbs commented on #395
since this is a live issue, i would say that we should get in the habit of storing all dependent resources locally. ideally, we could use a portion of the this tsv file--easy to do if we're hosting it ourselves and can edit it--probably all 56 MB isn't necessary and could actually be slightly problematic for people with older machines.

[2017-03-27 13:26] vgayolrs commented on #396
If someone updates the static pages, just send us a message to update the Spanish version, while defining an automatic alert or the best way. This reminds me that we still have to translate information from the `authors.yml` file.

[2017-03-27 13:27] fredgibbs opened #397 "update lessons page layout according to user testing from #333"
[ ] Suggested change of font
[ ] One user expressed preference for grid-style rather than list-style
[ ] Suggested that there is too much info in the descriptions (authors/reviewers/date not pertinent for users; images too big)
[ ] Search box in unusual spot - suggested top right (also note, what does this search? full text? just titles?)
[ ] Should make use of left margin for faceting
[ ] Suggest

[2017-03-27 13:51] amandavisconti commented on #320
Added these locally, will push with #193 code changes

[2017-03-27 13:52] fredgibbs commented on #381
@mdlincoln, your nicely written solution is exactly what i came to understand after futzing around for an afternoon. glad we have it clearly explained somewhere for future reference!

In my ongoing effort to standardize the layout and include code and new nav bar--i'm touching just about every file with links in it anyway--i'm going to start adding baseurl everywhere--in part b/c i need to have a

[2017-03-27 13:53] walshbr commented on #396
As for an automatic alert - I'm not as familiar with git hooks as I should be, but this seems like a use case for them - https://www.atlassian.com/git/tutorials/git-hooks. Could imagine a number of different options - one that looks to see if your commits change a set list of static files or and refuses them if the message does not ping one of the translators maybe? Then you'd just have to modify

[2017-03-27 13:59] amandavisconti commented on #397
Re "list of results is too far down screen", my displaying the full list only once (instead of one full list that can be filtered down to partial display, followed by a full list sorted by topic) should help with this (but other display changes such as 3 lessons per line would help too!)

[2017-03-27 14:08] wcaleb commented on #396
Git Hooks would work if we were always committing locally, but often commits are made directly here on GitHub, and those wouldn't trigger hooks.

The easiest way, it seems to me, would be to include one of the Spanish team member's GitHub handle in the "longer" section of any commit message when you update a static page that needs some translation. That will ping the person whose handle you includ

[2017-03-27 14:11] wcaleb commented on #385
@mdlincoln Is there a way to sign up to receive an alert whenever a Travis build fails?

[2017-03-27 14:14] wcaleb commented on #394
@acrymble I believe it was just discussed over email.

[2017-03-27 14:17] walshbr commented on #394
I'll be flying to Ohio at this exact time - sorry to miss my first one!

I'll comment on project tickets as I have thoughts. I have a couple newbie questions that are probably easily dispatched about how best to go about soliciting lessons, whether I should give a game plan to the editorial board first, etc. I'm happy to correspond on the here, list, off GitHub, etc. Whatever takes up the least ti

[2017-03-27 14:24] acrymble opened #398 "Should published lessons be moved from 'submissions' site"
Issue was raised over email to editorial board. Will the github submissions repository get too cluttered if we don't move completed lessons?

How do we ensure moved lessons still work (internal links, link to github review tickets).

How can we ensure any extra work doesn't outweigh any extra benefit to moving?

[2017-03-27 14:39] wcaleb commented on #398
I suggest we put them in a "published" folder and edit the YAML to include a `redirect_from` the original URL (without `published` in the path) so that the live previews mentioned in review tickets still work.

[2017-03-27 15:07] amandavisconti commented on #320
Guessed difficulties of:
2 = installing omeka (terminology like SSH, VPS that is defined, but too quickly for an easier difficulty level)
2 = Introduction to Mobile Augmented Reality Development in Unity (lots of dependencies, new concepts)
2 = "From Hermeneutics to Data to Networks: Data Extraction and Network Visualization of Historical Sources"

[2017-03-27 15:08] amandavisconti commented on #320
Remaining work on this issue:
[ ] Restore the "Best for Beginners"/etc. info to the top of each lesson (see if @fredgibbs would like to style this in a particular way)

[2017-03-27 15:34] mdlincoln commented on #385
https://docs.travis-ci.com/user/notifications

[2017-03-27 15:43] mdlincoln commented on #398
I second moving them to a dedicated folder. This would also let them be excluded from html-proofer checks (which should eventually be added to ph-submissions like they have been to the live site).

[2017-03-27 16:09] ianmilligan1 commented on #398
Thirded (?).

[2017-03-27 16:35] amandavisconti commented on #394
With the new year and new teammates, is it time to update how we cite the PH site? (listed at the bottom of the homepage)

Attempt at updating (please correct):

Afanador-Llach, Maria José, Antonio Rojas Castro, Adam Crymble, Víctor Gayol, Fred Gibbs, Allison Hegel, Matthew Lincoln, Caleb McDaniel, Ian Milligan, Jessica Parr, Evan Taparata, Amanda Visconti, Brandon Walsh, and Jeri Wieringa, eds. _

[2017-03-27 17:16] acrymble commented on #394
It's the current active team. So:

Afanador-Llach, Maria José, Adam Crymble, Víctor Gayol, Fred Gibbs, Matthew Lincoln, Caleb McDaniel, Ian Milligan, Jessica Parr, Antonio Rojas Castro, Amanda Visconti, Brandon Walsh, and Jeri Wieringa, eds. The Programming Historian. 2nd ed., 2017. http://programminghistorian.org/.

[2017-03-27 17:32] amandavisconti commented on #381
Is there a way to manage the PH site's CNAME other than deleting it from my local dev/live demo repo and remembering not to push the removal to the live site? When I leave it in, it generates a page build error with every build (fine but not optimal for my inbox).

[2017-03-27 17:43] fredgibbs commented on #320
the lesson headers are going to be COMPLETELY different--if everyone approves, anyway--so the difficulty level display is being reformatted as well. So I wouldn't add any more text to the top of the lessons. (although, if it's something as a place holder to be incorporated into the design, that's fine).

[2017-03-27 17:54] fredgibbs commented on #394
i would like to make a VERY STRONG argument that we remove the suggested citation. there are a few main reasons:
1) anyone needing to cite PH will be publishing it somewhere that will have a citation style that must be followed. so people can figure out how it makes sense to cite PH given whatever paradigm they are using.
2) it's misleading. if i cite an article published from 2014, i should be ci

[2017-03-27 18:37] amandavisconti commented on #320
Less work for me—in that case, I'll close this issue. Excited to see the new design work!

[2017-03-27 18:37] #320 closed, assigned to amandavisconti

[2017-03-27 19:38] vgayolrs commented on #383
Switch to Spanish:
@mariajoafana @arojascastro
Para abrir los Tickets (o *Issues*) de revisión de traducciones sugiero cambiar el nombre que hemos estado usando (*Nueva traducción*: nombre-de-la-lección ) a *Ticket de revisión de traducción de*: nombre-de-la-lección. Esto para tener más claridad y poder abrir tickets cada vez que nos propongan nuevas traducciones pero aún no estén enviadas. De tal

[2017-03-27 20:51] vgayolrs opened #399 "Homologate static page formats and complete translation of .yml files"
(Just to remind me of what I'm doing.)
Translate bios etc. `author.yml` file to use the 'include code' `{% include contact-info.html name="NameSurename" %}` instead of the `.html`code.

[2017-03-27 22:48] vgayolrs commented on #399
Thanks to @wcaleb for reminding me about the problem with authors with an accent on their names as discussed on #281 . Anyway we need to continue translating `author.yml`

[2017-03-28 07:55] acrymble commented on #394
I have to say I'm surprised by this, and it might be a difference between the needs and pressures in different jurisdictions. Does it hurt anyone to leave it? Because I think it poses challenges for me in the UK research environment to say what this project is and to ensure it 'counts' in an appropriate way.

I can't say I was convincing, but I did put forth an argument for why project teams shoul

[2017-03-28 13:23] amandavisconti commented on #394
Some compromise possibilities:

1. Replace the hardcoded author list in the citation with a call to the current editors (may need to add a field to data sheet to do this, which is yet another thing to remember to update...)
2. Replace "x edition" with "accessed on date" or "accessed on [pull in today's date]" (possibly with link to /jekyll repo for that date?)
3. If you're citing an individual les

[2017-03-28 17:35] acrymble commented on #394
This sounds like a conversation we should have about the different working cultures we're operating in and what that might mean for us. Obviously we want the project to work well for everyone as best it can. I've added an item to the agenda. Thanks for raising it.

[2017-03-29 15:58] mdlincoln opened #400 "unicode filenames and git tracking"
The adjacent problem that @wcaleb and I ran in to during #381 is _not_ resolved.

On my local machine (OS X 10.11.6 w/ git 2.9.2) I see only one copy of `_posts/2017-03-05-lanzamiento-PH-español.md`. However, currently on the `gh-pages` [branch we've got two](https://github.com/programminghistorian/jekyll/tree/c7a33388b7e027b1f08d5218c3fb4b3f81d8f685/_posts), which means that there's duplicate pos

[2017-03-29 16:39] mdlincoln commented on #400
*sigh* ok @wcaleb, when you have a moment can you try the following:

1. Make sure `git config --global core.precomposeunicode true` ([this is how it really ought to be set for any OS X contributors to this repo](https://git-scm.com/docs/git-config#git-config-coreprecomposeUnicode))
2. Pull and checkout the `temporary_post_removal`
3. If you can pull without errors, check the local copy of your `_

[2017-03-29 19:12] mdlincoln commented on #400
To clarify, 26c18d1 has removed the duplicate post, so we no longer have a double-post published live. We still just need to confirm that the re-committed file actually works correctly on everyone's local repos.

[2017-03-30 11:21] acrymble opened #401 "RSS feed mistaken entry"
The following file appeared in the RSS feed this morning: https://github.com/programminghistorian/jekyll/tree/gh-pages/researchpapers

This was not updated as far as I can tell, so I wanted to flag this because it suggests it might be linked to something someone was doing on improving the website (though I know not what).

[2017-03-30 17:13] amandavisconti opened #402 "Schedule regular tweets of older lessons"
Write an enticing description of the skills taught & schedule these in Tweetdeck to go regularly (twice a month?).

[2017-03-31 01:32] amandavisconti commented on #193
## Lesson filter stuff that's ready:
Check out the demo at [https://amandavisconti.github.io/proghistdev/lessons](https://amandavisconti.github.io/proghistdev/lessons). Ignore the styling—Fred is working on that separately.
1. Filter by activity (live-updating count of lessons per activity)
2. Filter by topic (live-updating count of lessons containing that topic).
3. Sort lessons by difficulty or

[2017-03-31 13:21] fredgibbs commented on #394
regretfully, i've had to change my travel plans at the VERY last minute and now i won't have internet access during the call. sorry to miss this conversation. quick update: site design work is going well; now that @amandavisconti is basically done with the lessons page coding, i can apply the design i've been implementing for that page as well. i've also been creating a real home page as distinct

[2017-03-31 13:25] fredgibbs commented on #394
a sample of the lesson page format, though i still have work do to on the buttons given new functionality added yesterday.
<img width="732" alt="screen shot 2017-03-31 at 9 24 10 am" src="https://cloud.githubusercontent.com/assets/515448/24552312/f1625532-15f3-11e7-9b66-5adaa5c58a40.png">

[2017-03-31 13:43] acrymble commented on #394
Cool mockups @fredgibbs. I like them. I've postponed our discussions you raised, since you're not able to join us. We'll pick up on those next time. Safe travels.

[2017-03-31 14:09] amandavisconti commented on #394
@fredgibbs These rock! Let me know if there's anything on the functionality side I can help with.

[2017-03-31 14:21] walshbr commented on #394
Love new design/mockups! @fredgibbs

[2017-03-31 16:05] mariajoafana commented on #394
I love it!
I can't connect to the meeting, sorry for the short notice. @vgayolrs will represent the Spanish team

[2017-03-31 16:28] vgayolrs commented on #383
Cerramos este ticket en función de la reunión editorial #394 . Si es necesario discutir algo lo reabrimos.

[2017-03-31 16:28] #383 closed, assigned to vgayolrs

[2017-03-31 17:00] wcaleb commented on #396
We discussed on #394 and agreed that, as a general rule, when anyone makes a change to a static page, ping one of the Spanish team members so that they know new translation is needed.

[2017-03-31 17:00] #396 closed, assigned to nobody

[2017-03-31 17:12] wcaleb commented on #394
Hey everyone, at the risk of beating a dead horse from the call or appearing obsessive, here is a [helpful guide to writing good Git commit messages](https://chris.beams.io/posts/git-commit/) that I have personally found useful. While aimed at developers, the "Seven Rules of a Great Commit Message" could be useful to us, as well, especially as we have more and more people interacting with the code

[2017-03-31 17:20] acrymble opened #403 "Framing project for international scholarly credit cultures"
This ticket is for project-level issues relevant to the project team (as distinct from authorship / reviewer credit), and relates to a brief exchange about the project citation in our editorial meeting ticket #394 .

Since our team operates in the USA, Canada, Mexico, Spain, and the UK, we've got a lot of different national ideas of what 'counts' or what academic work should look like. Since we're

[2017-03-31 17:23] acrymble opened #404 "Whole Project citation"
Raised in #394 - @fredgibbs raised concerns about the current project citation (as distinct from the lesson-level citations). I wanted to bring that discussion forward here since I am going to close the meeting ticket to which it was attached.

@fredgibbs noted:

i would like to make a VERY STRONG argument that we remove the suggested citation. there are a few main reasons:

+ anyone needing to ci

[2017-03-31 17:24] acrymble commented on #394
I've moved the comments about the Project Citation to a new ticket to continue the conversation so that I can close this: #404

[2017-03-31 17:24] #394 closed, assigned to nobody

[2017-03-31 17:41] acrymble commented on #404
If we go with @vgayolrs idea, the first citation should be of William J. Turkel and Alan MacEachern, who published the first Programming Historian (2008).

[2017-03-31 18:55] acrymble commented on #285
Note of changes required:

~~ln 132-158: the url on the new site is now https://www.oldbaileyonline.org/search.jsp?gen=1&form=searchHomePage&_divs_fulltext=mulatto*+negro*&kwparse=advanced&_divs_div0Type_div1Type=sessionsPaper_trialAccount&fromYear=1700&fromMonth=00&toYear=1750&toMonth=99&start=0&count=0 . This involves a https instead of http, and the foo=bar has been replaced with gen=1, which w

[2017-04-01 02:08] vgayolrs commented on #399
This work in progress is to improve the synchronicity between the different versions (languages) #396

[2017-04-01 15:03] #399 closed, assigned to vgayolrs

[2017-04-02 11:50] acrymble opened #405 "Project Title decision"
Since we've been working towards standardisation in many ways, I wondered if it wasn't time to decide once and for all what the title of the project is.

We use both 'The Programming Historian' and 'Programming Historian'. "The" is included in the original: http://ir.lib.uwo.ca/historydig/3/, but what do we want to use moving forward?

[2017-04-02 12:59] acrymble commented on #402
I think we could do this weekly. I find links to lessons with the accompanying image tend to get retweeted quite a lot, suggesting there's an appetite for this.

[2017-04-02 20:44] fredgibbs commented on #405
I very much support standardization and NOT using "the" in the title. Speaking of standardisation, do we have an official language?

[2017-04-02 21:30] ianmilligan1 commented on #405
FWIW, I prefer just _Programming Historian_ as well.

[2017-04-02 21:36] fredgibbs commented on #193
i think the previous and next endless loop templating problem were caused because page.previous and page.next have special meaning for jekyll (at least in terms of collections). so we can use page.previous-lesson as the variable name or whatever else. This may no longer be an issue if we move stuff out of _lessons, but it might be a general feature of collections (in which case i think it will sti

[2017-04-02 21:39] fredgibbs commented on #402
because our lessons often teach far more general skills than what the lesson title indicates, mentioning these in a tweet--maybe at the expense of the title itself--may be a very effective way of getting new eyes on some old lessons.

[2017-04-02 21:54] fredgibbs opened #406 "clearer titles and abstracts"
As we continue site standardization and layout work, I think it would be worth rephrasing overly wordy title and abstracts so that the lessons page and lessons headers look more uniform and make the lessons a bit more inviting (and clear as to their essence). Some of the lesson titles and abstracts (including many I edited) are far too wordy and off-putting. We can do this without breaking URLs, I

[2017-04-03 02:03] walshbr commented on #405
Also prefer dropping the "the" from the title.

[2017-04-03 02:09] walshbr commented on #402
Strongly support all this. And @fredgibbs - I agree. And I think that approach is less likely to be thought as of spam than just consistently retweeting the title. Maybe a few different types of canned tweets:

1. Title and image
2. Skill description
3. Outcome description (so a bit a more descriptive of content than 2).

To use the Audacity lesson as an example:
2 - "Learn to edit audio with Auda

[2017-04-03 07:50] acrymble commented on #375
I don't think this needs to stay open. But if it does, reopen it.

[2017-04-03 07:50] #375 closed, assigned to nobody

[2017-04-03 13:54] amandavisconti commented on #406
This sounds good to me. When revising the front matter for all lessons in my /proghistdev fork, I left all titles as-is, but I added abstracts for any lessons that were missing one—so we could either work from those, or I could not push that part of my code.

[2017-04-03 13:54] amandavisconti commented on #405
Ditto.

[2017-04-03 14:01] amandavisconti commented on #402
Great ideas! What are y'all using to schedule tweets? I'm using Tweetdeck, and I think we may be able to view @proghist tweets anyone on the team has scheduled that way. That would let any of us add a couple tweets as time allows, without redundancy.

@walshbr That would be great! If you schedule any (instead of just tweeting them out directly), could you let me know so I can verify those schedule

[2017-04-03 15:50] jerielizabeth commented on #405
I am happy to drop the "the"!

[2017-04-03 15:50] walshbr commented on #402
@amandavisconti I wonder if it's with worth writing up the content for the tweets all at once and saving them in a .txt file in the repo? That way the process for scheduling tweets would be more work up front but less longterm.

I scheduled a tweet about the Audacity lesson to go out April 15th as a test. Let me know if you can see it.

I use Tweetdeck too - was just looking around to see if there

[2017-04-03 15:53] acrymble commented on #402
I may not be patient enough because I see you just posted @walshbr but I don't see this in my scheduled tweets. So perhaps its local.

[2017-04-03 15:54] acrymble commented on #405
Ok. I suppose we need to go through and remove all 'the' instances from the site documentation.

[2017-04-03 15:57] acrymble commented on #405
@fredgibbs I think we had this discussion about language a few years ago and decided not to choose a form of English because of the international nature of our project. The Spanish team have also been battling with that because of the differences between Iberian and Latin American Spanish. Is there a reason you're asking?

[2017-04-03 16:01] walshbr commented on #402
If that's the case @acrymble we should probably have one person dedicated to the scheduling to prevent overlap/duplicating work.

If people are amenable I can stub out a bot that will tweet out the lessons regularly. I can just use a dummy account for now.

[2017-04-03 16:04] wcaleb commented on #405
At the risk of unnecessary delay, since it seems like it has broad support, can I ask why dropping the "The" is preferable? While I think we do use both on the site, my rough impression is that "The Programming Historian" is more widespread, so standardizing in the direction of "Programming Historian" would likely be a more noticeable change. Just wondering ... I kinda like "The PH" but if I'm alo

[2017-04-03 16:07] acrymble commented on #402
I agree with your idea that we should write these out (maybe a year's worth?) in advance. We might also talk about a strategy, like a marketer would do. What do we want out of this? More eyes on lessons that don't get noticed as much? Broadening the audience beyond historians?

[2017-04-03 16:08] acrymble commented on #405
@wcaleb I am with you on the preference, but I wasn't going to go against the flow. I'm curious also.

[2017-04-03 16:08] mdlincoln commented on #405
Echoing @wcaleb - I agree that the most prominent uses of "The" have been in both the old and new site titles... so it would seem that it makes more sense to standardize to "The Programming Historian" rather than "Programming Historian".

Whichever way this is decided, I'm glad to take point on actually carrying out the standardization across the site.

[2017-04-03 16:47] amandavisconti commented on #402
I do see @walshbr's scheduled tweet! (A bot sounds cool, too.) Like the idea of a shared file in the repo (maybe using [x] to mark off tweets when you've scheduled them).

[2017-04-03 17:07] mdlincoln commented on #400
@wcaleb were you able to test the `temporary_post_removal` branch on your system after setting `git config --global core.precomposeunicode true`?

[2017-04-03 20:35] wcaleb commented on #400
@mdlincoln When I pull that branch and check it out, there is only one of the posts on that branch. And also only one of the posts on the `gh_pages` branch too FWIW.

[2017-04-03 21:06] mdlincoln commented on #400
OK - then I think this issue ought to be resolved.

[2017-04-03 21:07] #400 closed, assigned to mdlincoln

[2017-04-03 21:33] arojascastro commented on #405
Reading this interesting conversation. We are using *The programming historian en español*... Why? Because in Spanish we need an article. However, we did not discuss this, it just came naturally, right? @mariajoafana @vgayolrs

[2017-04-04 09:06] acrymble commented on #402
I can see this now scheduled, so this approach seems like it will work. I'd suggest branding with the lesson image where possible. Makes it pop more on Twitter, I think.

[2017-04-04 14:16] fredgibbs commented on #402
i don't know a thing about scheduling tweets, but i am all for more consistent branding (obviously related to recent design work, too). at least for now, the images are central to this. i hope we can use them!

[2017-04-04 14:26] fredgibbs opened #407 "python 3 issues with working-with-web-pages"
Hi! I'm enjoying learning to work with text files and web pages using Programming Historian.

I installed Python 3.6 and have run into a couple major differences from how the directions are written. Once I power through the lessons and hopefully do very well in a job interview, I'd be happy to help update the directions with more detail.

For now, this is what I've run into on http://programminghi

[2017-04-04 14:34] fredgibbs opened #408 "python 3 strategy"
Opening a general issue for further consideration. As more people begin to use or migrate to python 3, we should think ahead about how we want to (or not) provide additional instructions in lessons that use 2.x. I do think we have to update lessons, but this requires a larger editorial discussion about whether to do so and how to manage it. This could be a yet another way of encouraging community

[2017-04-04 15:02] acrymble commented on #408
I am pretty sure I went through these last summer to update them for python 3.x, so there may be fewer problems than might first be assumed. See #277.

[2017-04-04 15:05] fredgibbs commented on #408
great! so if #407 turns out to be incorrect, i can ask for more information or we can close it. i just created the ticket before testing so i wouldn't forget.

[2017-04-04 16:43] ianmilligan1 commented on #408
#407 is correct – Downloading Web Pages has not been upgraded to Python 3. I went through them with my class and updated, but didn't have the cycles to do an update to the lesson.

[2017-04-04 16:47] ianmilligan1 commented on #407
Here's a few workarounds. The lesson is indeed written for Python 2.7.

To import, use `urllib.request` as you've noted.

[code]

and

[code]

Putting together:

[code]

and to get the word list, I did

[code]

[2017-04-04 16:47] ianmilligan1 commented on #408
Overall, I do think we need to stick with Python 3 for future lessons – in full agreement. I put a few code snippets over in #407.

[2017-04-04 16:57] acrymble commented on #408
Unlike the creators of Python v3, our strategy shouldn't break the lessons for people using v2, since we may well have educators using these in classrooms relying on our setup doing what they expect come show-time.

[2017-04-04 19:13] ianmilligan1 commented on #408
Have parallel Python 2 and 3 lessons then? Or just leave as is.

[2017-04-04 19:51] jerielizabeth commented on #408
I think either parallel or "interlinear" for the lessons originally in python 2 (Beautiful Soup also falls into this category.) What would be amazing, I think, would be a way to toggle the python version at the top of the lesson.

[2017-04-04 19:58] fredgibbs commented on #408
i think the toggle approach is the way to go. it would mean having python 2 and 3 explanations composed in a way that can be cleanly separated (that is, not integrated into text common to both), but i don't think that would prove too difficult. there are a number of ways to code this that would not muddle the markdown too much (and obviously only for the divergent parts of the lesson).

[2017-04-05 06:54] acrymble commented on #408
I have to say I'm feeling uncomfortable about this whole idea, largely because it affects a lot of lessons with my name on them. That means I will feel compelled to go through meticulously and check them all because it's me that looks careless if the new changes break anything. That's something I don't want on my summer to-do list.

[2017-04-05 11:47] ianmilligan1 commented on #408
What if we each took a lesson? I also wouldn't want to do more than one or two of these, and I don't think anybidy would suggest that you do so.

[2017-04-05 12:15] acrymble commented on #408
That makes me more nervous to be honest. I'm hesitant from experience on this, because I've had to 'fix' fixes to these lessons at least twice since they were published many years ago, and both times it took me days to get everything working right. I've never been expected to do that with an article I've published, even when there are obvious mistakes. And to be honest it would put me off further

[2017-04-05 12:52] ianmilligan1 commented on #408
Ok let's just leave it then.

[2017-04-05 13:04] fredgibbs commented on #408
just to clarify, i've never thought that these kinds of updates are things that authors should do (i agree it would deter authorship), but us as editors. frankly, i think it's the kind of work that junior editors should do to get more familiar with the entire family of lessons, how to write and edit them, as well as all of the editorial workflows and git. it's not super fun, but very important wor

[2017-04-05 14:56] jerielizabeth commented on #408
I would hesitate to see the collections of issues related to this topic as evidence that there is no appetite. We keep running into this same set of tensions around what it means to publish and be an author for PH lessons, and I think the collection of issues is a symptom of the different pulls within the project, and reflects that we haven't resolved those tensions.

Before adding much more, is t

[2017-04-05 15:06] ianmilligan1 commented on #408
This is what I was thinking above – in terms of spreading out some of the labour of the Python 2 --> 3 migration (which isn't fun). But if the author isn't keen on it, then I don't think we should override wishes?

I guess in terms of work cultures, my _Programming Historian_ articles have never really 'counted' on my CV, they're more just I guess service. But that's just me and my particular cont

[2017-04-05 17:56] acrymble commented on #408
That's what I'm hoping we can flush out on #403. Thought this is a bit more specific than that was meant to tackle, Ian's comment about his CV is what I think we all need to determine, because it's easy to assume we (and our authors) are all operating in the same system. But different people have different needs, and certain countries have a more/less adventurous approach to work than others. I'm

[2017-04-05 19:11] ianmilligan1 commented on #403
OK I can kick things off here. In my context, this is really more part of my service role than research. While the lessons may have some currency, my sense is that they aren't really considered in my annual reporting compared to journal articles, books, and grants. But my research pipeline is healthy and I've been awarded tenure, so I have the chance to shape my job to include this work.

I'm happ

[2017-04-05 20:31] walshbr commented on #405
I've been thinking a lot about the question from @wcaleb over the last couple days, and I can't really come up with any real reason. And the more I think about it the more I think I'm ambivalent. Even though I said I preferred dropping it, when I wrote various constructions of both I think I'm more persuaded to standardize to keep "The."

- The Programming Historian released a new lesson.
- Progra

[2017-04-05 20:42] amandavisconti commented on #405
I'm fine with going either way. My leaning toward cutting "The" before was because I kept writing

- There is a new lesson out from the _Programming Historian_.

which now that I think about it is more awkward—I should use the "The" that's already there.

[2017-04-06 00:39] jerielizabeth commented on #405
I can go either way.

[2017-04-06 12:43] walshbr commented on #403
In addition to what you've expressed above, here are my two cents - not about national context but rather about an institutional one. I'm based out of libraries, not an academic department like the one that trained me. So while I'm pretty confident that the English department I came from might be a tougher sell, my library reporting structures have been very savvy about the legibility of both my l

[2017-04-06 15:43] mdlincoln opened #409 "Broken link on "Escritura sostenible...""
The link `https://github.com/nickbart1980` referenced in [Escritura sostenible en texto plano usando Pandoc y Markdown](http://programminghistorian.org/es/lecciones/escritura-sostenible-usando-pandoc-y-markdown) is not valid.

[2017-04-06 15:44] mdlincoln commented on #409
It looks like the link on the en version of this lesson is <https://github.com/njbart>?

[2017-04-06 16:03] mariajoafana commented on #409
thanks @mdlincoln
Fixed

[2017-04-06 16:03] #409 closed, assigned to vgayolrs, mariajoafana

[2017-04-06 17:19] acrymble commented on #285
This lesson has been fixed. Thanks @sharonhoward for alerting me to the updates on the Old Bailey site.

[2017-04-06 17:19] #285 closed, assigned to acrymble

[2017-04-06 18:42] acrymble opened #410 "Propose 'Version of Record' + amendments of lessons"
I've been thinking and reading a lot about the conversation about authorship vs up to date lessons started by @fredgibbs in #408, specifically about ideas related to 'moral rights' and CC-BY (I found this useful: http://blogs.lse.ac.uk/impactofsocialsciences/2013/10/18/open-access-creative-commons-moral-rights/).

I'd like to find a positive solution that addresses both sets of concerns, which I t

[2017-04-14 17:58] jerielizabeth opened #411 "Typo in "R Basics with Tabular Data""
Reported via email by Jose Guerrero.

[2017-04-14 18:01] #411 closed, assigned to jerielizabeth

[2017-04-21 11:28] acrymble commented on #408
Can we fix this specific issue at least temporarily by adding a warning to the top of these lessons of the dependencies on Python 2.x? Not unlike we did when a few of the lessons broke with changes to the Old Bailey website?

[2017-04-21 11:31] acrymble commented on #402
That scheduled tweet went out fine, so this seems to work. How should we focus this in future?

[2017-04-21 11:48] acrymble commented on #401
there haven't been any more of these, so I'm going to close this for now. Can reopen if it reappears.

[2017-04-21 11:48] #401 closed, assigned to nobody

[2017-04-21 12:18] walshbr commented on #402
Thanks for pinging me @acrymble. Was going to mention this at the monthly skype call, but can do it now. I've got a bot up at https://twitter.com/codingarchivist that I've been playing with. It's running through Python/heroku, and it is pulling from a CSV that looks like this:

[code]
etc. So that CSV could live in the repository. Started off running it pretty frequently as I was troubleshooting,

[2017-04-21 12:24] acrymble commented on #402
This sounds great to me. I would suggest 2 English language ones that spread across a wide time difference. Our team covers 9 time zones, and our readers even more than that.

[2017-04-23 10:35] acrymble opened #412 "Editorial Meeting Agenda 28/04/17"
Suggestions for our upcoming meeting. Please make suggestions.

These two were postponed last time, so bringing forward:

#387 - Standardising github/website contributions @mdlincoln
#379 - Separating Project Team from Editorial board? @fredgibbs
#402 - Scheduling Tweets @walshbr
no ticket - do we need a new meeting time? @acrymble
#405 - project title

[2017-04-23 15:43] ianmilligan1 commented on #412
Unfortunately I'm leading a workshop down at Penn State on Friday, so I won't be able to make it.

[2017-04-23 17:16] mdlincoln commented on #412
👍  for #387

The details of #387 could be wide-ranging, and we could easily get stuck in the weeds during the call - which would be a waste of the larger editorial team's time. I suggest we focus on

1) Specifying which members of the team will be responsible for technical aspects of this project
2) Decide if there needs to be a single individual who coordinates and makes final decisions about mer

[2017-04-24 13:16] acrymble commented on #412
I think we should discuss the static vs updating discussion, which affects the following tickets:

#410 #408 #407 #393 #304 #207 #225 #223 #222 #64.

I put forth a proposed solution that I think will work in #410, which I welcome feedback on.

[2017-04-24 14:12] ianmilligan1 commented on #412
Was the 🎉 because I won't make it, Adam? 😉  Or go Nittany Lions go? (sorry about this.. the travel schedule this term has been brutal)

Re: #410 I think that you've outlined a really thoughtful process. And having a link somewhere to the Zenodo 'version of record' is helpful too. As somebody who sometimes sticks with older versions of software because not all dependencies/etc. are updated yet, I t

[2017-04-24 20:44] wcaleb commented on #402
I wonder what the method is to get Twitter to automatically create a "Twitter card" using the image lesson whenever a link to the lesson is included. There may be a way to do this in the header HTML to our lessons, which would make the images in the resulting tweets look more "native" to Twitter?

[2017-04-24 20:45] wcaleb commented on #402
Here's what I mean by [Twitter cards](https://dev.twitter.com/cards/overview).

[2017-04-24 20:53] walshbr commented on #402
Ah @wcaleb that'd make the twitter bot process a bit less brittle - one less thing to pull out and add into the tweet. It looks pretty reasonable, based on the description [here](https://dev.twitter.com/cards/types/summary-large-image). Something like - each post gets an image URL variable, which the header partial dumps into the appropriate meta tag?

[2017-04-24 20:53] wcaleb commented on #402
Exactly, though I was thinking just the summary card, which has a thumbnail image, though that can be easily changed. Working on a prototype now.

[2017-04-24 21:39] wcaleb commented on #402
OK, I think I have a prototype working. [See example here.](https://twitter.com/ProgHist/status/856623097612566528) Right now, it's not ideal because it just excerpts the first 200 characters for the description. But that will look better once we have all the abstracts @amandavisconti created (I think I'm remembering that she made abstracts!) merged into the main site.

Right now the Twitter card

[2017-04-24 22:44] amandavisconti commented on #402
@wcaleb Cool! I did add abstracts to all the lessons in my fork.

[2017-04-24 23:30] fredgibbs commented on #402
and i have all those abstracts in my fork as well that i hope we can push in the next few weeks that combines all the lessons work from @amandavisconti and the new design stuff.

[2017-04-25 13:09] walshbr commented on #402
@wcaleb looks awesome! If the tweets can just have cards associated with them I can chuck the bit of Python for the images in the bot.

[2017-04-25 17:19] fredgibbs commented on #402
very professional looking @wcaleb!! i haven't looked at the code, but once the spanish language lessons get updated YAML, and a translated abstract from @amandavisconti's work, will we be able to tweet from both en and es versions?

[2017-04-25 17:25] ianmilligan1 commented on #402
This looks fantastic!

[2017-04-25 17:26] wcaleb commented on #402
@fredgibbs Yes

Sent from my iPhone

W. Caleb McDaniel
Associate Professor of History
Duncan College Magister
Rice University

http://wcm1.web.rice.edu/
http://www.duncancollege.net/

[2017-04-25 18:13] fredgibbs commented on #412
i will be driving from michigan to new mexico beginning on friday, and will try my best to find wifi during the call (which generally overlaps with lunch) but it's awfully hard to predict.

i think this semester has suggested that although fridays seem like good times for a team call according to usual schedules, it might have proven a too-popular travel time for conferences and other relocations.

[2017-04-25 18:45] walshbr commented on #412
Will be there. Would be good to touch base on #402 - but shouldn't be a long conversation.

[2017-04-26 03:39] fredgibbs opened #413 "english slug in spanish lessons?"
When viewing a lesson translated into spanish, is there a way to get the corresponding english slug (whether set in YAML or derived automatically by jekyll)? With the new lessons page, this is necessary for pairing images with lessons; this may be also necessary for new tweet cards as well. This could be solved with a en-slug (or whatever) in the YAML but i'm not sure if there is some other way of

[2017-04-26 03:55] wcaleb commented on #413
It can be gotten from the redirect_from value in the YAML of Spanish lessons. To get the slug you can use the remove_first filter to drop the "/en/"

Sent from my iPhone

W. Caleb McDaniel
Associate Professor of History
Duncan College Magister
Rice University

http://wcm1.web.rice.edu/
http://www.duncancollege.net/

[2017-04-26 08:46] arojascastro commented on #412
Love the new presentation @fredgibbs. See you on Friday.

[2017-04-26 11:33] fredgibbs commented on #413
thanks for the quick reply @wcaleb! sorry for the dumb question.

[2017-04-26 11:33] #413 closed, assigned to nobody

[2017-04-26 13:07] ianmilligan1 commented on #412
Yeah, my last Friday of May just filled up with an unavoidable event too (a lunch/reception in honour of my retiring doctoral supervisor). Maybe we can find a new slot. Or maybe a doodle poll as it turns out my schedule is too unpredictable with travel obligations to commit to a time slot months in advance. ☹️

[2017-04-26 13:10] acrymble commented on #412
@ianmilligan1 I will add this to the agenda:

- New meeting time required?

I don't think there's going to be a time that works for everyone, but we'll see if there are others with a similar problem. We certainly don't hold your missing a meeting against you.

[2017-04-26 13:15] ianmilligan1 commented on #412
Sounds good! I'd be in favour of scheduling meetings a week or two in advance using Doodle, which gets confusing but it's becoming clear that I now have too much flux in my schedule to know what's going on a month in advance, let alone multiple months. (That said, getting control of my schedule again is one of my professional development goals for 2018 😉 )

[2017-04-26 14:56] arojascastro commented on #412
Is it possible to get any web analytics (traffic) for the Spanish translation? I would be interested in the number of visitors and main referrals.

[2017-04-26 15:31] acrymble commented on #412
@arojascastro I have added everyone now to the Programming Historian google analytics acc't. You should have received an email. Except @walshbr because I need a google-enabled email address for you. Anyone who didn't get the email/doesn't have permission, please let me know.

[2017-04-26 18:48] arojascastro commented on #412
Thanks @acrymble, very interesting data. I have two question additionally about how to manage collaborators -- you don't have to answer now, we can talk on Friday, but I do not want to forget:
- after collaborators have reviewed the lesson assigned, should we cancel their permission to write in our repository?
- is there any way to impede that collaborators get all the notications by default? I am

[2017-04-27 14:00] fredgibbs opened #414 "evaluation of ongoing design work"
I'm creating a ticket for a dedicated thread to identify and discuss issues with the new css/layout/design work i've been doing at http://fredgibbs.net/jekyll/.

In particular, there is one code issue that needs to be evaluated. I have coded the nav bar to get language info from https://github.com/fredgibbs/jekyll/blob/gh-pages/_data/snippets.yml. i think this is the cleanest way to maintain trans

[2017-04-27 15:15] mdlincoln commented on #414
Thanks @fredgibbs - I'll take a look this weekend.

[2017-04-27 16:05] acrymble commented on #414
Really love your new work here @fredgibbs .

I havn't had a chance to go through it all yet. But a few quick comments:

- [x] will your changes to the text be easy for the Spanish team to incorporate without re-translating everything?
- [x] On front page (http://fredgibbs.net/jekyll/) I find the blue and teal band too similar in colour to link colours.
- [x] re: footer. The ISSN number has been re

[2017-04-27 16:11] amandavisconti commented on #414
This looks amazing! I've been out moving between states and starting a new job this month, but I'll wrap up the dangling pieces of my lesson page work before the May call and let Fred know when they're ready for incorporation.

[2017-04-28 16:38] mariajoafana opened #415 "Add translation date field to YAML for Spanish lessons"

[2017-04-28 16:42] mdlincoln commented on #412
re: #387 (and all other technical work): @mdlincoln has volunteered to be a coordinator for all technical contributions to PH. I'll take first responsibility for any issues/PRs specifically about the technical side of the site. I will also act as a general coordinator (and code reviewer, if that's wanted?) for big projects like @amandavisconti and @fredgibbs dev forks.

@amandavisconti raised the

[2017-04-28 16:45] wcaleb commented on #405
We discussed this briefly on #412. The general consensus for those who were on the call was:

- Keep "The Programming Historian" in the masthead and formal citation for the site.
- Adopt a style standard about how to use the title in running text: I suggest (a) always italicize and capitalize *Programming Historian*, but (b) do not capitalize and italicize articles preceding that (e.g., "there is

[2017-04-28 17:00] acrymble commented on #403
I think this largely is covered now by #410 and other related tickets.

[2017-04-28 17:00] #403 closed, assigned to nobody

[2017-04-28 17:00] acrymble commented on #412
All of the above tickets have been updated as per our discussions in the meeting.

[2017-04-28 17:00] #412 closed, assigned to nobody

[2017-04-28 17:04] jerielizabeth opened #416 "Update editorial workflow to include creating proposed lesson ticket"
Continuation of #339.

Update the following files to include new step to editorial workflow to create proposed lesson ticket.
- [x] http://programminghistorian.org/new-lesson-workflow
- [x] http://programminghistorian.org/editor-guidelines

Suggested text for the ticket:

[2017-04-28 17:05] acrymble commented on #410
We discussed this issue in #412 meeting. Building on comments from @ianmilligan1 and @fredgibbs on that ticket.

We're looking to move ahead with this plan, which will effectively separate our activity into two threads:

1) version of record
2) latest release (or something equivalent).

@mdlincoln suggested a PDF for the version of record, which gives a sense of staticness to it, and also allows f

[2017-04-28 17:07] jerielizabeth commented on #416
Question about the default issue text in Github -- is it possible to have two templates that the ticket creator could choose between? @wcaleb @mdlincoln

[2017-04-28 17:07] jerielizabeth commented on #339
Created new ticket for implementing this system.

[2017-04-28 17:07] #339 closed, assigned to nobody

[2017-04-28 17:12] jerielizabeth commented on #414
The design looks really great, @fredgibbs! I particularly love the font choice. Serifs are coming back!

One css thing I noticed while clicking through. The spacing between the header and the content assumes that the lesson leads off with a header. On lessons where it doesn't (such as http://fredgibbs.net/jekyll/lessons/intro-to-augmented-reality-with-unity), the text crowds up to the bottom bar.

[2017-04-28 17:19] mdlincoln opened #417 "PDF versions-of-record"
I'm splitting this out as the technical (as opposed to documentation/communication) task for #410

- [ ] Create pandoc script to produce PDF from lesson markdown
    - [ ] Adds header with date of original publication
    - [ ] If translation, adds header with date of original translation (#415)
    - [ ] Must play nice with pulling in figures from `/assets`
    - [ ] Incorporate a lesson-specific

[2017-04-28 17:28] mdlincoln commented on #416
Not from what I can see in the issue documentation :frowning_face:

A workaround would be to have both texts in the template, and the submitter just needs to delete the unneeded section. Kind of a bother, but it's a simple fix.

[2017-04-28 17:43] wcaleb commented on #417
I'm happy to play with the Pandoc script as a first pass.

I'm not sure I understand your question about repos. Is this because of the way the DOIs would work?
 Why not just have another folder in `jekyll` called `pdfs` where we store the generated pdfs? The pandoc script itself could either be placed in the root directory or in a separate directory for `bin` if we think that we will have other ma

[2017-04-28 18:04] walshbr commented on #402
Will leave open for now until the tweets are scheduled. But the updates from #412 -

- @walshbr will finish out the twitter bot.
- Tweet contents will be migrated to a google spreadsheet shared with the group instead of CSV in the repository.
- Update editorial workflow so that we know to add new lessons to the spreadsheet in the future.
- Initial twitter bot data will only consist of English twee

[2017-04-28 18:16] walshbr opened #418 "Complete Twitter Bot"
Peeling this off as the technical component of #402. The following tasks are included in finishing the bot out.

- [x] Include Twitter usernames of authors in the tweet contents.
- [x] Sanitize credentials in the script so that they are stored in Heroku.
- [x] Shift to Google spreadsheet rather than CSV for data storage.
- [x] Post bot in version controlled repo.
- [x] Document the script for the

[2017-04-28 18:30] jerielizabeth commented on #416
@mdlincoln I had a feeling that would be the case.

I would be ok with having both in the template ... especially since we're supposed to be doing this regularly. Are there strong objections from the group?

[2017-04-28 18:32] walshbr commented on #416
I'd say keep both in the template. Would probably help people use this one.

@jerielizabeth - one thing I found that I added to the draft text here was a note about whether or not the authors wished to get an initial round of feedback by email from me before hopping straight to GitHub. So I modified the leading sentence of the first full paragraph as such:

"The authors have requested an initial r

[2017-04-28 18:35] jerielizabeth commented on #416
@walshbr that sounds good to me!

I'll make sure to note in the documentation that the template can (should?) be modified to reflect the working arrangement agreed upon between the author(s) and editor.

[2017-04-28 18:49] acrymble commented on #417
Version-of-record better than PDF for folder for semantic reasons

[2017-04-28 18:49] mdlincoln commented on #417
No, sorry, I was thinking development of the actual pandoc template and conversion script in a separate repo. But that's prematurely making things complicated 😝  And so I agree, for now place the template/script files in `bin` in this repo.

[2017-04-28 20:37] mdlincoln opened #420 "Can we delete the master branch?"
Since the entire site is built from gh-pages, can we remove the `master` branch and set `gh-pages` as the default branch? I keep accidentally checking out and committing to `master` on my local machine out of habit...

[2017-04-28 21:54] mdlincoln commented on #414
The same issue that @jerielizabeth pointed out applies also on the main pages, e.g. the image on the homepage at <http://fredgibbs.net/jekyll/> abuts the header.

[2017-04-29 02:33] wcaleb commented on #420
I think gh-pages is the default, at least on the remote. I think the master branch has some historical commits from the conversion to GitHub that we don't want to delete. The blog post we wrote about that transition links back to master branch to illustrate the process, IIRC.

Sent from my iPhone

W. Caleb McDaniel
Associate Professor of History
Duncan College Magister
Rice University

http://wcm1

[2017-04-29 05:56] mdlincoln commented on #420
Ah, fair enough!

[2017-04-29 05:56] #420 closed, assigned to nobody

[2017-04-29 17:25] mdlincoln opened #421 "Tidying the repo wiki"
It's been suggested that docs for technical contributions (re #387) might live in the repo wiki. I was surveying its current contents and had a few questions for more experienced team members, as the last edit to this wiki was back in September 2016. If we're going to put development guidelines here, I'd love to deprecate pages that are no longer used, and highlight those pages that _are_ still be

[2017-04-29 17:30] jerielizabeth commented on #421
@mdlincoln the Lesson Pipeline page, I believe, is being replaced with the "proposals" issues in the ph-submissions repo.

[2017-04-30 21:25] fredgibbs commented on #414
Thanks for the initial feedback! I will continue to post updates on this thread so we know where everything stands. Anyone have opinions about what @acrymble suggests? Otherwise I will make the changes as requested.

As the recent design work concludes, we should develop a plan for incorporating the pages/code at  http://fredgibbs.net/jekyll/ into the main (gh-pages) repo. It might be worth docume

[2017-05-01 01:58] mdlincoln commented on #414
@fredgibbs This redesign looks wonderful!

It would be great to have updates posted here. I did a pass through the currently-open issues here and collected everything that I thought was related to your redesign under one "milestone". If you see anything that can be closed, please do so - or let me know if there's anything that needs an extra pair of eyes.

You are right that we should hold off fur

[2017-05-01 12:49] amandavisconti commented on #421
@mdlincoln I just updated my roles and Miriam's on the role page—not sure if others are still correct.

[2017-05-01 12:57] acrymble commented on #421
@mdlincoln no, some of it needs to find a home on the main site still. Haven't figured out exactly where that is. Scholarly activities has been deprecated.

[2017-05-01 16:56] mdlincoln commented on #417
re: #414 we can proceed with writing up a pandoc script, but let's hold off on any edits to `_templates/post.html` until we merge @fredgibbs major changes to the site templates.

[2017-05-01 20:30] jerielizabeth opened #422 "Additional step suggested for Windows users of "Building Static Sites with Jekyll""
Comment from Ed Sperr received via email on an additional challenge for Windows users:

@amandavisconti I am happy to put you in contact with Ed if more information is needed.

[2017-05-02 08:06] acrymble commented on #414
I'm having trouble telling what's been changed in the text. I'm a bit concerned that this is a bit of an omnibus pull request rather than a design one. Can we separate design from text overhaul? Especially given the ongoing discussions about what the project is or should be?

[2017-05-02 11:48] fredgibbs commented on #414
you're probably having trouble because not much has changed. in any case, i've tried to keep the design and copy changes separate in the commit history in the fork. the biggest copy change was the new about page (besides the markdown instructions mentioned above), but mostly that was putting the peer review section first, not trying to frame the project in a new way. @acrymble, you've already ment

[2017-05-02 11:52] fredgibbs commented on #414
thanks @mdlincoln! i agree this is the best approach. depending on the how essential future work from @amandavisconti is before launching the new page, it might be useful to pull in my fork (after syncing), and have future lessons page work go from there (this is assuming all lessons stay in the _lessons folder), so that we're not co-developing the lessons page and include files any longer than ab

[2017-05-02 12:30] acrymble commented on #414
@fredgibbs ok, I'll put text comments here then, if that's easier. I didn't want to hold up the technical stuff with text-y stuff.

A few more comments (all very minior):

- [x] The English 'contribute' doesn't have a subsection for 'translate' as there is on the Spanish page. I think we should have that in both versions. Who knows if someone reading the English site might want to translate?

- [x

[2017-05-02 13:00] amandavisconti commented on #422
Thanks, I'll address this and add Ed to the credits at the bottom of the lesson!

[2017-05-02 13:10] ianmilligan1 commented on #414
@fredgibbs I've gone through the site and I think it looks great. Just to reiterate what others have said: it's beautiful, well laid out, and brings substantial improvements in both feel, look, and ability to interact with the lessons. Sincere kudos.

Some minor thoughts:
- I like "feedback" better than "suggest a correction." The latter seems more daunting than the former.
- Agreed with "last mod

[2017-05-02 13:22] acrymble commented on #417
if we're doing this, is there any reason all lessons can't always be downloadable as PDF? seems like a useful feature.

[2017-05-02 13:38] #422 closed, assigned to amandavisconti

[2017-05-02 14:09] ianmilligan1 commented on #417
PDFs are awful for cutting and pasting, for what it's worth - a cautionary note from lesson development.

[2017-05-02 15:00] mdlincoln commented on #417
@acrymble, do you mean having the latest versions available as PDF? Not just the version-of-record?

That would be annoying. GitHub pages won't run pandoc for us each time the site rebuilds. We'd need to tie in some outside service to do that. I agree with @ianmilligan1, while they're good for archiving, I don't see the desire for having every version as a PDF outweighing the effort to produce it.

[2017-05-02 15:05] mdlincoln commented on #414
Did I miss a decision that the PDF-version-of-record update is going to come out as part of this design update? And not as an enhancement that we work on _after_ merging in these large design changes?

I'd prefer that they be in separate milestones, just to simplify merging, as well as give us more breathing room to think about how to engineer versions-of-record as well as decide & communicate our

[2017-05-02 15:11] ianmilligan1 commented on #417
My vote for what it's worth would be to just have one version for the version of record.

[2017-05-02 15:12] ianmilligan1 commented on #414
Sounds good to me @mdlincoln!

[2017-05-02 17:22] acrymble commented on #414
@mdlincoln no you didn't miss anything. Just thinking in terms of designing in things we know are coming rather than trying to fit in later.

@ianmilligan1 I agree, I really like the minimalism. Is this too obtrusive? (Sorry I didn't know your font @fredgibbs)

![screen shot 2017-05-02 at 18 11 48](https://cloud.githubusercontent.com/assets/646647/25630233/51771870-2f64-11e7-813f-e71392866050.png)

[2017-05-03 14:36] amandavisconti commented on #193
## Tasks necessary before publication

- [x] Revert to /lessons and use new config's "defaults" (see [this](https://github.com/programminghistorian/jekyll/issues/193#issuecomment-284253305)).
- [x] Get rid of front matter "collection" field.
- [x] Make /lessons accurately count lessons by topic now that collections are removed; replace site.lessons calls with something like {{ site.pages | lessons

[2017-05-03 15:23] mdlincoln commented on #193
@amandavisconti So your dev site is not a fork of the original codebase, but an entirely new git repo, correct? So we can't automatically merge in?

[2017-05-03 15:26] amandavisconti commented on #193
@mdlincoln It's an entirely different repo, based on the code in the PH/jekyll repo from some point later summer last year. I forget why, but the non-forkage might have been my not knowing how else to host the page on GitHub Pages?

[2017-05-03 15:31] mdlincoln commented on #193
OK! And yeah, that makes sense. It will have to be your own manual merge then.

Given the workflow that I suggested in #414, what do you think of this merge process:
1. Fork @fredgibbs repository, create a branch for your new lesson page, and incorporate your changes there
2. Submit your changes to Fred's fork as a pull request
3. We finish evaluating the merged changes there, before finally mergi

[2017-05-03 15:41] amandavisconti commented on #193
@mdlincoln Sounds perfect! I'm just shifting my code from using collections now, and that'll be my next step. Will ping when accomplished.

[2017-05-03 15:56] mdlincoln commented on #193
👍 (I'll make a note of this in #414, too)

[2017-05-03 15:58] mdlincoln commented on #414
Further clarification to the proposed merge flow re: #193

@amandavisconti will submit her changes via pull request to @fredgibbs repository. Once merged there, we can all preview the combined changes at http://fredgibbs.net/jekyll/

[2017-05-03 18:49] #193 closed, assigned to amandavisconti

[2017-05-03 18:54] amandavisconti commented on #414
@mdlincoln @fredgibbs Just submitted a pull request for my finished #193 work.

[2017-05-03 19:29] mdlincoln commented on #414
https://github.com/fredgibbs/jekyll/pull/2

[2017-05-06 16:20] mdlincoln opened #423 "remove heroku app json"
@wcaleb Are you still using that heroku build app at all? If not, may I remove `app.json` from the project?

[2017-05-06 16:24] mdlincoln commented on #423
And `Procfile` too?

[2017-05-06 17:04] wcaleb commented on #423
You can remove. We don't use Heroku anymore.

Sent from my iPhone

[2017-05-06 17:07] #423 closed, assigned to mdlincoln

[2017-05-06 17:13] #421 closed, assigned to mdlincoln

[2017-05-06 18:43] mdlincoln commented on #418
@walshbr When ready, will you post this bot code in a repo within the programminghistorian team? (I think that would be great!)

[2017-05-06 19:57] walshbr commented on #418
@mdlincoln for sure! I ran into issues sanitizing the credentials - the Twitter stuff was hidden pretty easily, but Google Spreadsheets is calling for a JSON key. Hiding the contents of the Google key in the environment variables on Heroku was making things wonky, so I took a break from sanitizing it to do some other debugging and fleshing out. I'll take a look again and see if I can get the crede

[2017-05-06 21:36] mdlincoln commented on #418
Good point! I've no idea if there's any way to do that for google sheets. I suppose you could always just keep the JSON key untracked, and then any future maintainer will have to generate their own key for the sheet (if I understand how that's working...?)

[2017-05-07 02:11] walshbr commented on #418
Could work for us each to have our generated key for the sheet, but we'd have to go through the process of generate the key and adding that api account as a shared account on the sheet. Seems like a bit of a pain.

I think I worked out another way - basically the same thing except a shared key. The workflow feels a bit wonky, but sounds similar to what you're suggesting. I have the master branch p

[2017-05-07 02:13] walshbr commented on #418
Ah and FWIW at the moment it's working with a pretty narrow band of lessons for testing so as not to spam the authors of those lessons until it's ready for primetime. Just need to fill in the rest of the sheet and then take the brakes off.

[2017-05-08 07:05] acrymble commented on #308
I don't think this is going to be in the new design exactly as per the latest work, which addresses the spirit in some other ways. Shall we close this ticket? @fredgibbs

[2017-05-08 23:13] fredgibbs commented on #308
I agree: I don't think we need icons in this exact presentation, but I've tried to address the standardization issue, and this look inspired the new footer. So I'll close this and it will be fully implemented in impending style reboot.

[2017-05-08 23:13] #308 closed, assigned to fredgibbs

[2017-05-09 05:24] mdlincoln opened #426 "Validate lesson YAML with Travis CI"
Re: discussion in #425

~Will hold off serious development until #414 is merged.~

[2017-05-09 06:02] mdlincoln commented on #426
Some thoughtful additions for YAML frontmatter defaults in `_config.yml` would also ensure that all pages in `lessons` default to being `type: lesson` etc.

<https://jekyllrb.com/docs/configuration/#front-matter-defaults>

[2017-05-09 18:21] fredgibbs opened #427 "create translate section on english contribute page"
this was highlighted in #414 but now moving it into its own non-design issue.

[2017-05-09 18:28] fredgibbs opened #428 "version of record download icon/interface"
As briefly discussed in #414, moving this into its own ticket rather than expanding existing redesign scope. I think there needs to be clearer goals about who this is for and how it should work before design decisions get made and implemented.

[2017-05-09 18:44] fredgibbs opened #429 "review lesson topics (gray buttons in new design)"
This is another item mentioned in #414 and also an outgrowth of #193. We have centered on a few lesson categories according to stages in the research process, but the lesson topics have not been evaluated in some time (especially in light of many new and upcoming lessons). However, this should happen after the new design launches as to keep that change visible in the commit history.

[2017-05-09 18:48] fredgibbs commented on #417
@acrymble suggested some text in #414 about how to explain to our readers what the version of record is. The new about page has a slightly edited version as follows (which I mostly made a bit more vague but kept the general spirit in place). Once we decide the text I can add it into the about page.

## Versions of Record
Once a lesson has passed through peer review been published, a 'version of re

[2017-05-09 18:56] mdlincoln commented on #417
@fredgibbs thanks for working up this text. As I [noted above](https://github.com/programminghistorian/jekyll/issues/417#issuecomment-298373309) I don't want to implement versions of record until we merge in yours and Amanda's changes - there's just too many moving parts.

So before putting any hint of this feature in our published text, let's get your changes merged _without_ this text, and give

[2017-05-09 18:57] fredgibbs commented on #417
agreed! actually, now i remember my motivation for putting the text in the ticket was to delete it from the impending about page!

[2017-05-09 19:05] acrymble commented on #417
I'd say it's principally for the following groups:

* Authors who need to demonstrate to someone 'their' work (eg, employers)
* Anyone running a seminar / workshop that wants their students working from a known and unchanging text
* Anyone writing a future history of methods in digital history who wants to cite what the author originally created
* Anyone who wants a citeable reference to their met

[2017-05-09 19:13] acrymble commented on #417
If the pdf is a pain, I suppose we could always just have the equivalent of the live lesson view, but one marked as 'version of record', maybe with a different colour background and a warning note at the top to make it clear? It doesn't need to be a pdf.

[2017-05-10 19:24] #416 closed, assigned to jerielizabeth, arojascastro

[2017-05-10 19:29] mdlincoln commented on #426
After some fiddling about, it looks like it's not to hard to configure this using regular liquid tags alongside a little plugin that lets us intentionally raise errors that will cause Travis CI to fail.

[This is what the logic could look like](https://github.com/programminghistorian/jekyll/blob/validate_yaml/_includes/validate_lesson_yaml.html).

[And here's what the error report looks like in Tr

[2017-05-11 09:39] acrymble commented on #410
Just a note on logistics. It's not uncommon to get corrections to the lessons in the few days after it goes live (often via Twitter). We might need to delay a couple of weeks before we solidify this version of record into a pdf and doi.

[2017-05-12 17:06] mdlincoln commented on #426
A second alternative is to write a Generator plugin, in which the logic is defined in Ruby, rather than in liquid tags.

[What the code looks like.](https://github.com/programminghistorian/jekyll/blob/generator_validation/_plugins/validate_yaml.rb)

Pros: This allows us to run a check on all pages before stopping with an error, which [makes the build results](https://travis-ci.org/programminghisto

[2017-05-12 17:07] mdlincoln commented on #426
I'm leaning towards the Generator solution, but any thoughts @wcaleb @amandavisconti ?

[2017-05-12 17:26] wcaleb commented on #426
Those results from the Generator do look very nice! Once the basic script is written, how easy would it be to document the process of adding new YAML checks to add? I'm presuming just adding a line or [modifying an existing one](https://github.com/programminghistorian/jekyll/blob/generator_validation/_plugins/validate_yaml.rb#L24)? If relatively easy, then that seems as sustainable as explaining t

[2017-05-12 17:39] mdlincoln commented on #426
Yes, if we document it well, I think it should be ok.

The logic might end up being a little more complicated than is in the present script though. For example, there might be different required fields for Spanish lessons, so there'd be an additional if/else loop. Not a deal breaker, but at least something to be mindful of.

[2017-05-13 10:01] acrymble opened #430 "DH 2018 presence?"
DH 2018 conference is in Mexico City. Since we've got a number of people fairly nearby, is there a way we can take advantage of that to promote the project?

I believe they do workshops in addition to papers. Thought it would be worth seeing if anyone is interested in representing us there in some way?

https://adho.org/announcements/2017/announcing-locations-dh-2017-and-dh-2018

[2017-05-13 23:22] #387 closed, assigned to mdlincoln

[2017-05-15 15:55] mariajoafana commented on #430
I'll be happy to explore this possibility! By the way, I'm moving back to Colombia this summer so I'll be even closer.
What do you think @vgayolrs ? We could plan to do a workshop together?

[2017-05-15 16:38] wcaleb commented on #430
I might be interested, too.

[2017-05-16 06:44] acrymble commented on #430
It could be a good venue for a paper as well. Maybe thinking about how the needs of the Spanish and English communities differ in a DH pedagogy space?

[2017-05-16 08:10] acrymble commented on #406
I believe 'abstracts' need to become part of the editorial workflow. Do we want authors, editors, or someone else in charge of that?

[2017-05-16 08:14] acrymble commented on #404
We could resolve this issue by adding a "project history" page under the new drop-down "about" menu which highlights some of the ways the project and team have changed over the years (and will continue to do so in future). I think it's useful to give these digital projects some historical context, and I've been writing a lot about DH and history lately. Would anyone object to that?

[2017-05-16 12:19] ianmilligan1 commented on #406
I think abstracts should be treated as part of the lesson - so authors responsible with editorial oversight.

[2017-05-16 13:46] vgayolrs commented on #430
I plan to present a paper, and yes, we could put together a workshop too.
I think there will be a lot of discussion about the different ways of approaching HD in "northern countries" and "southern countries".

[2017-05-16 18:34] jerielizabeth opened #431 "Rogue Javascript in the HTML"
A recent push to the site seems to have deposited some javascript in the page header. Flagging @mdlincoln.

![image](https://cloud.githubusercontent.com/assets/1447744/26122125/472c89f0-3a2b-11e7-858b-2dfddc42dbac.png)

[2017-05-16 18:43] mdlincoln commented on #431
oh 💩 , I was trying to put that in the HTML header rather than the visible page header... fixing it now

[2017-05-16 18:45] jerielizabeth commented on #431
I thought it might be something along those lines. Everytime I touch javascript i break something :)

[2017-05-16 18:45] #431 closed, assigned to mdlincoln

[2017-05-17 07:50] arojascastro opened #433 "Rendering problem - "Limpieza de datos con OpenRefine""
We have recently published a new translation lesson: http://programminghistorian.org/es/lecciones/limpieza-de-datos-con-OpenRefine

The pipe character in two paragraphs is causing GitHub Pages to attempt to render a table. Does anyone know why this is happening? How can we fix it?

The English version is working well.

[2017-05-17 07:52] acrymble commented on #433
which lines?

[2017-05-17 07:57] arojascastro commented on #433
In this file: https://github.com/programminghistorian/ph-submissions/blob/gh-pages/es/traducciones/limpieza-de-datos-con-OpenRefine.md

Three paragraphs:

- L 87:  "Una vez eliminados los registros duplicados, podemos observar más de cerca el campo Categorías."
- L 99: "El método de agrupación por defecto no es demasiado complejo"
- L 107: "Ahora ingresa una segunda | después de la primera para ob

[2017-05-17 15:01] #433 closed, assigned to mdlincoln

[2017-05-17 15:04] mdlincoln commented on #433
@arojascastro There are two ways to stop pipe characters from turning in to a table:

1. Put a backslash before the pipe: `\|`
2. Wrap the pipe in back-ticks so that it is treated like code: `` `|` ``

I wrapped the pipes in backticks here.

[2017-05-17 15:05] arojascastro commented on #433
@mdlincoln cool! Many thanks, I had no idea.

[2017-05-17 15:11] arojascastro opened #434 "Bios not displayed"
In this new translation: http://programminghistorian.org/es/lecciones/limpieza-de-datos-con-OpenRefine

Author's bio is not displayed at the bottom of the page  at all.

Any idea how to fix this? Thanks.

[2017-05-17 15:13] mdlincoln commented on #433
👍  You would not _believe_ how hard it was to make back ticks appear inside backticks in that comment, though! 😂

[Nested backticks in GitHub-flavored Markdown](https://gist.github.com/mcandre/8d76e076b2495fd8b36f439ec5033116)

[2017-05-17 15:14] acrymble commented on #434
Did you create a bio here? https://github.com/programminghistorian/jekyll/blob/gh-pages/_data/authors.yml

[2017-05-17 15:16] mdlincoln commented on #434
In order to display a bio on an `/es` page, the authors need to have an `es` bio in `authors.yml`

[2017-05-17 15:20] arojascastro commented on #434
Ops! True. Sorry...

[2017-05-17 15:20] #434 closed, assigned to mdlincoln

[2017-05-17 16:10] arojascastro opened #435 ""Recommended for Intermediate Users" is missing in Spanish translation"
Hi again, maybe I am missing something essential (again), but the level of difficulty (Recommended for Intermediate Users) is missing in our translation: http://programminghistorian.org/es/lecciones/limpieza-de-datos-con-OpenRefine

At the moment we have this:
[code]
Is there any place where I should add the Spanish translation? Thanks.

[2017-05-17 16:15] mdlincoln commented on #435
I do not think that lesson difficulty is displayed on the current site. However, it will be displayed on the new redesign (see for example http://fredgibbs.net/jekyll/lessons/r-basics-with-tabular-data)

[2017-05-17 16:16] arojascastro commented on #435
It is in the English version, I checked. Well, I meant the blurb "Recommended...", not really  the level of difficulty.

[2017-05-17 16:20] mdlincoln commented on #435
oh gosh, you're right, I missed it completely. We need to update the lesson difficulty logic so that it displays on spanish pages, too. I will add it to my to-do list.

[2017-05-17 19:01] fredgibbs commented on #435
the lesson difficulty logic for spanish lessons will be implemented in the redesign code; but we'll need to provide translations for editor, reviewers, and similar category terms (beginner, intermediate, advanced) here: https://github.com/fredgibbs/jekyll/blob/gh-pages/_data/snippets.yml

[2017-05-17 20:08] arojascastro commented on #435
Can we change 'Equipo de proyecto` to 'Equipo'. Maybe we should revise other terms. Is it now the right moment? I guess that if we change those terms we also need to change names of files and URL's. What do you think @vgayolrs and @majofana?

[2017-05-17 22:59] mdlincoln commented on #435
@arojascastro I want to be careful about changing URLs that had already been published.

If there's a strong reason to change it, then we need to remember to add the old one in the `redirect_from` YAML field, so anyone who links to the former URL will get routed to the right page.

[2017-05-18 06:42] acrymble commented on #435
The 'Equipo de proyecto' concern should probably be in #414, since that's where changes are being discussed. It could simply be fixed by changing the menu item to 'proyecto' without changing the file name or page title.

[2017-05-18 07:39] arojascastro commented on #435
True. I'll add my comments there after discussing changes with the Spanish team. I close this.

[2017-05-18 07:39] #435 closed, assigned to fredgibbs

[2017-05-18 07:42] arojascastro commented on #430
I'm not 100% sure if I will be able to attend. In any case, I think we should submit a paper proposal, work *everybody* who wants/can on it, and whoever can attend the conference should present the paper -- we all should get credit for the work we have done. At least that was my previous experience. When I have collaborated with other reserachers in digital projects, we usually draft a proposal to

[2017-05-18 09:25] acrymble commented on #430
I'd be thrilled to see us submit more research papers. Obviously no one should feel compelled to take that on if they can't or don't want to, since it's a big job.

The DH conferences tend to expect research though (as in a thorough examination of a question using evidence, leading to a conclusion), rather than opinion pieces or 'me and my project' papers.

If we did want to present research, we'd

[2017-05-18 09:31] arojascastro commented on #430
Yes, I agree. If we are presenting a paper it should be solid and present some interesting results. I tend to conceive the project as a bilingual corpus in English and Spanish because I am interested in language. Maybe we could present the project, political or cultural challenges, and then analyze a sample of lessons (available in EN/SPA) as linguistic data (grammar, vocabulary, syntax, etc.) usi

[2017-05-18 10:45] acrymble commented on #430
That sounds like a fine research project to me, but probably one you'd have to take the lead on (as a philologist). You might face questions about whether or not you can analyse your own language choices, since you're involved in the project.

[2017-05-18 12:02] arojascastro commented on #430
I can take care of the analysis of the Spanish language with @vgayolrs and @mariajoafana. Maybe we could invite a linguist to analyze texts in English? It would be nice to compare the corpus before and after the peer review process to find out what reviewers dislike and suggest to "delete" or "change" (specially when dealing with translations). In any case, the method should be similar for both co

[2017-05-19 14:54] mdlincoln opened #436 "404 on a Scholars' Lab link"
Intro to Beautiful Soup is now reporting a 404 error on a Scholar's Lab link:

https://travis-ci.org/programminghistorian/jekyll/builds/233911805#L312

Before swapping it out for a Wayback Machine link, I thought maybe @walshbr or @amandavisconti might want a heads up 😄

[2017-05-19 15:01] walshbr commented on #436
Ah thanks for the heads up! That is my fault - I rebranded/restructured a lot of that site earlier in the week. Hadn't occurred to me that I might be destroying a lot of external linking. 😄

I want to get rid of the "scratchpad" branding for all those resources (I don't think scratchpad is too suggestive of the actual contents - they're just resources). I'll update our 404 error page to be more su

[2017-05-19 15:08] #436 closed, assigned to walshbr

[2017-05-19 15:33] mdlincoln opened #437 "Blog post(s) on technical changes at PH"
With the forthcoming design overhaul from @fredgibbs and @amandavisconti, plus the link-rot checking and YAML validation that we're implementing with Travis, I think it might be nice to cap off these efforts with a blog post or two that sheds some light on all this work!

I'm obviously happy to take point on a post talking about 404 prevention and file validation in a big collaborative publication

[2017-05-19 15:54] amandavisconti commented on #437
I can write a few sentences on cleaning up the lesson front matter to make the filter/sort possible. A blog post is a great idea!

[2017-05-19 16:41] mdlincoln commented on #437
For explaining the redesign, I thought maybe highlighting the key motivations would be nice. And we can always expose some of the... messy... process that happens with merging code 😉

[2017-05-19 16:49] acrymble commented on #437
feel free to do more than 1. There's a lot that's been happening.

[2017-05-20 09:54] arojascastro opened #438 "Automatic generation of TOCs"
Hi there, this might be basic too but I am wondering how to generate a TOC automatically in Markdown. The lesson on Sparql contains many sections with commas, brackets and capital letters...  https://github.com/programminghistorian/jekyll/blob/gh-pages/es/lecciones/sparql-datos-abiertos-enlazados.md

I would like to avoid writing the links by hand. Any suggestions?

[2017-05-20 16:32] mdlincoln commented on #438
Add the following code:

[code]

And it should automatically produce a table of contents where you place it.

[2017-05-20 16:36] arojascastro commented on #438
Cool! Here is your lesson translated into Spanish: http://programminghistorian.org/es/lecciones/sparql-datos-abiertos-enlazados

I still need to update the index of the main page.

[2017-05-20 16:36] mdlincoln commented on #438
FYI this shortcut is powered by the kramdown rendering engine, which was not available for gh-pages when I originally wrote the SPARQL lesson. I think I may be able to add it to all lessons...

[2017-05-20 16:55] arojascastro commented on #438
Sorry again, @mdlincoln... do you know why images are not displayed? The path to the images contains an additional /

http://programminghistorian.org/images//sparql-lod-14.png

But I checked the path in the html code and it looks fine:

http://programminghistorian.org/es/lecciones/sparql-datos-abiertos-enlazados

Thanks

[2017-05-20 17:01] mdlincoln commented on #438
You need to include the YAML `redirect_from: /es/lessons/graph-databases-and-sparql`. The figure code relies on the `redirect_from` field to create the image path from `es` lessons.

[2017-05-20 17:03] mdlincoln commented on #438
Once we finish implementing #426 then we'll be able to catch those problems!

[2017-05-20 17:09] arojascastro commented on #438
True, I always forget that redirect amongst other things @mdlincoln it's good that you are implementing TRAVIS, I guess its working like a schema that validates a file

[2017-05-20 17:09] mdlincoln commented on #438
@arojascastro copy and paste the code I included. It is `redirect_from`, not `redirect-from`

[2017-05-20 17:19] mdlincoln commented on #438
@arojascastro I think I see the remaining problem with figure 1 & 2 - I can rename the source iamge files and push them.

[2017-05-20 17:20] arojascastro commented on #438
Please @mdlincoln I do not see it...

[2017-05-20 17:23] mdlincoln commented on #438
Yay, it passes now! 🎊 📯 🎆

Two of the new image files `sparql-lod-01.PNG` and `sparql-lod-02.PNG` had capitalized `PNG` instead of lowercase `png`. I did not realize that this causes the image links to break 😵

[2017-05-20 17:23] #438 closed, assigned to nobody

[2017-05-20 17:24] mdlincoln commented on #438
Thanks @arojascastro for guiding this translation through! I'm so glad to see it online 😄

[2017-05-20 17:27] arojascastro commented on #438
Thank you @mdlincoln for you help. I enjoyed reviewing your lesson and working with Nuria. Glad to see it out there finally.

[2017-05-21 09:59] acrymble opened #440 "Spanish Twitter"
We have had a comment from someone complaining about Spanish tweets in our Twitter feed: https://twitter.com/Nothingunspoken/status/866050664757157888

Maybe we should think about a Spanish language account? It might also be a good way to measure uptake of a Spanish community?

[2017-05-21 10:23] arojascastro commented on #440
Seriously? There is a Translate button on Twitter.

I do not mind using a different account for Spanish tweets. I am in charge of the EADH social media and I have never experienced that reaction. It is true that we mainly tweet in English but sometimes we tweet in Spanish, French, Italian and German. I think it is good for English speakers. In that sense we have a pedagogical mission consisting in

[2017-05-21 12:45] ianmilligan1 commented on #440
I'd ignore that tweet and just keep what we're doing.

[2017-05-21 12:56] walshbr commented on #440
Yeah I'd ignore that tweet as well. The reply tweets to it suggest the feelings that I have. Small sample size, but they do seem like a validation of the current method at least as powerful as the criticism.

[2017-05-21 13:16] walshbr commented on #418
FYI - all looks to be working. I'm working through the process of adding to the contents of the twitter sheet to fill things out before we go live.

[2017-05-21 15:01] acrymble commented on #440
Ok. We can reopen this in future if we decide we'd benefit from a separate Twitter account.

[2017-05-21 15:01] #440 closed, assigned to nobody

[2017-05-21 15:19] mdlincoln commented on #440
Absolutely not. That complaint was preposterous. I'm in total agreement with @arojascastro

[2017-05-21 18:58] mariajoafana commented on #440
I just read the tweet! I agree that we should keep one account, we live in a global world after all

[2017-05-22 08:15] acrymble opened #441 "Twice-Annual Roundup (blog)"
I would like to suggest that we do a twice a year roundup of what's new for the blog. We get a lot of published lessons and translations trickling in, so it would be good to highlight that on a regular (but not too frequent basis).

I can do the first one, end of June. Would be helpful if everyone can remind me of achievements in this thread.

[2017-05-22 20:06] amandavisconti commented on #440
I support ignoring the tweet.

[2017-05-23 11:28] walshbr commented on #414
A bit late, but the design work revamps here have been very useful while putting together the dataset for the Twitter bot. The abstracts are a great introduction, and I really like the way the metadata is laid out here.

[2017-05-23 13:54] arojascastro commented on #414
Apologies if this has been discussed already somewhere else, but please keep in mind that in the Spanish version we should display metadata for the original lesson (if possible with a link, which at the moment is not present) and metadata for the translations. Thanks.

[2017-05-23 13:56] walshbr commented on #418
@mdlincoln - this is about ready for primetime. The tweets dataset is all filled out - I just want to do one last pass over them to make they're all 140 characters. Though anything like that should just get caught in the logs anyway and not make it onto the account. Looks like I need to be given permission to create repositories for the programminghistorian organization in order to transfer owners

[2017-05-23 16:15] mdlincoln commented on #418
An "owner" of the ph org (e.g. @wcaleb @fredgibbs @acrymble @ahegel et al) needs to do that. (Are half the team supposed to be members and half owners? What's going on there?)

[2017-05-23 16:33] wcaleb commented on #398
I've run into a bit of a problem here. If I move a published lesson into a new folder on the `ph-submissions` repo, then we lose the whole commit history for the file. (Unfortunately, this means we've already lost the commit history for [the lesson that I have test moved](https://github.com/programminghistorian/ph-submissions/tree/gh-pages/lessons/published).

This raises two questions, probably f

[2017-05-23 16:46] mdlincoln commented on #398
You're right that git has rather lossy behavior for tracking moved/renamed files. The file history will be less visible on GitHub, because it uses the basic `git log` function. Someone running `git log --follow` on the other hand, can still access the full change history. I did that just now, and can see the full change history even after you moved the file. So, it's still accessible, but you need

[2017-05-23 18:10] ianmilligan1 commented on #418
I just noticed that the other day, @mdlincoln, and I figure it's just a legacy issue. I probably don't need to be an owner and could just be a member, but others like you definitely do. I guess I'll leave it to @wcaleb to make the changes? Or I can?

[2017-05-23 21:59] wcaleb commented on #418
I've updated everyone's permissions to make all editors "owners." Let me know if you still have trouble.

[2017-05-24 13:51] walshbr commented on #418
Thanks @wcaleb - all done! The bot repo is under PH ownership. Will just need to switch the environment variables to use the PH twitter account whenever we're ready and then update the editorial workflow accordingly to include adding to the spreadsheet.

I'm also happy to add anyone else to the heroku app if the added hands on deck make sense. @mdlincoln maybe? anyone else?

[2017-05-24 16:27] mdlincoln commented on #414
I believe @fredgibbs has now successfully merged @amandavisconti's lesson page changes into the overall redesign: http://fredgibbs.net/jekyll/

Can everyone take another look through to check for issues?

I'd also like to close any outstanding related tickets for [this redesign milestone](https://github.com/programminghistorian/jekyll/milestone/1)

[2017-05-24 16:52] wcaleb commented on #414
This looks fantastic @fredgibbs and @amandavisconti! Great work!

After a brief discussion on one of our last calls re: the project title #405, I proposed [the following style guide](https://github.com/programminghistorian/jekyll/issues/405#issuecomment-298048344) that most of the team supported, which would keep "The Programming Historian" in our masthead. In the current redesign, though, it look

[2017-05-24 16:53] wcaleb commented on #414
Also, it looks like the "See change history" link in the footer of lessons just links to the repository's commit history, rather than to the commit history of the specific lesson (as on the current site).

[2017-05-24 17:46] #342 closed, assigned to fredgibbs

[2017-05-24 17:46] #343 closed, assigned to fredgibbs

[2017-05-24 17:46] #344 closed, assigned to fredgibbs

[2017-05-24 17:46] #345 closed, assigned to fredgibbs

[2017-05-24 17:46] #346 closed, assigned to fredgibbs

[2017-05-24 17:46] #347 closed, assigned to fredgibbs

[2017-05-24 17:46] #397 closed, assigned to fredgibbs

[2017-05-24 18:00] fredgibbs opened #443 "complete translations for special terms in new snippets.yml"
if we want to do this ahead of time, perhaps the easiest thing is for a translator to replace the existing snippets.yml with the one from my fork (https://github.com/fredgibbs/jekyll/blob/gh-pages/_data/snippets.yml) and finish the translations in that file. nothing in the new snippets file will break the existing site. we can also do it immediately after the design work goes live.

[2017-05-25 05:41] mdlincoln commented on #443
I'll copy over the snippets now, so then @vgayolrs @mariajoafana @arojascastro can take a look. Since it's backwards compatible, might as well do it now before launching the rest of the design.

[2017-05-25 09:42] acrymble commented on #414
I converted my two comment threads into checklists. It may be that not everything gets addressed in this (eg, new features).

[2017-05-25 15:32] mariajoafana commented on #443
thanks @mdlincoln Should I translate the snippets from lines 91 on which are not translated in this yml?

[2017-05-25 15:40] mdlincoln commented on #443
@mariajoafana Yes, please!

[2017-05-25 22:20] fredgibbs opened #444 "how to handle last modified date"
this is a separate ticket for an issue raised by @acrymble in #414. we can decide this on the next call.

[2017-05-25 22:22] fredgibbs opened #445 "better visual display of button selections"
raised by @acrymble  in #414. i think there should be a header between the buttons and the lesson list. other ideas welcome!

[2017-05-25 22:54] fredgibbs opened #446 "implement change history link/icon"
this used to be in the footer, but probably shouldn't be for each lesson. probably, the last modified label and date in the header should link to the change history for that lesson.

[2017-05-25 23:03] fredgibbs opened #447 "editor guidelines page"
needs reformatting; should this be visible on the public side? (i think yes, but not sure if we've discussed it.)

[2017-05-25 23:04] fredgibbs commented on #414
i checked off everything that's been addressed or for which i've issued a new ticket (either for redesign or version of record milestone). but everything should be accounted for on this ticket, so i'm going to close it so that other conversation goes into more specific tickets.

[2017-05-25 23:04] #414 closed, assigned to fredgibbs, mdlincoln

[2017-05-25 23:16] fredgibbs commented on #319
this will be handled in impending redesign work, mainly via translations in _snippets file.

[2017-05-25 23:16] #319 closed, assigned to nobody

[2017-05-25 23:17] fredgibbs commented on #273
fixed in new design work.

[2017-05-25 23:17] #273 closed, assigned to fredgibbs

[2017-05-26 04:06] mdlincoln commented on #447
I believe it should be public - it goes along with the open review ethos.

It also needs an entry in the `Contribute` dropdown menu.

[2017-05-26 04:18] mdlincoln opened #448 "blog post formatting"
Blog posts still need to be updated to match new stylesheet.

[2017-05-26 05:46] mdlincoln opened #449 "Move _oldsite into a separate repository"
The `_oldsite` directory is not published to the website; it simply resides in this repository. Are there any objections to moving it out to its own repository within the [programminghistorian org](https://github.com/programminghistorian)? This will help declutter the main repo.

[2017-05-26 12:23] acrymble opened #450 "Editorial Meeting agenda 26/05/2017"
Apologies: @ianmilligan1 @amandavisconti @JMParr @mariajoafana
Present: @acrymble @walshbr @jerielizabeth @vgayolrs @arojascastro @fredgibbs @mdlincoln @wcaleb

Sorry, forgot to set this ticket up. Suggested topics (please suggest others):

* Thanks to Caleb & Fred
* Ian Sabbatical (till October)
* ~~Should we separate board from editorial team #379 (has been postponed twice)~~
* Twitterbot #402 ;

[2017-05-26 12:53] mdlincoln commented on #450
Agreed that the site redesign conversation will take most of our time.

Am I missing a major email re: #379, or has nothing been written down about this proposed separation of the board? At the risk of delaying this conversation further, I'd feel more equipped to discuss it if there were some articulated positions to work from. That's not a discussion I want to go in to blind.

[2017-05-26 13:16] ianmilligan1 commented on #450
Again apologies that I'll miss this (I'll be on the road, sigh). I agree with @mdlincoln that we should postpone #379 and have some concrete discussion, probably over e-mail, especially as it involves all of us.

[2017-05-26 13:17] ianmilligan1 commented on #449
I think that's a great idea!

[2017-05-26 13:20] walshbr commented on #450
I'll be there!

[2017-05-26 13:52] acrymble commented on #450
Ok, will postpone #379. This was originally raised by @fredgibbs. Perhaps he could flush out a vision in the ticket so we can discuss it in future?

[2017-05-26 15:08] vgayolrs commented on #443
I'll help you with this @mariajoafana

[2017-05-26 15:40] fredgibbs opened #451 "topics.yml needs to be translated for new spanish lesson index page"

[2017-05-26 15:53] #447 closed, assigned to fredgibbs

[2017-05-26 15:55] mdlincoln commented on #449
I've copied the files (with their original commit history from 3 years ago) into https://github.com/programminghistorian/oldsite

(I have not yet removed the `_oldsite` directory in this repo - I want to make sure this migrated repo looks ok.)

[2017-05-26 16:17] acrymble commented on #450
Note to decide on PDF/Markdown version of record format #428 before @wcaleb does more work on it. (next call)

[2017-05-26 16:24] fredgibbs opened #452 "translate new index page"

[2017-05-26 16:26] wcaleb opened #453 "Account for multiple editors"
In the current visual redesign, there may be cases where multiple editors are listed under the heading that says "Editor."

We could either:

(a) adjust the code so that it says "Editors" when there are multiple editors and "Editor" when there is one

or

(b) change the headings so that they say "Edited by" and "Reviewed by" and therefore won't change based on number of editors or reviewers

or

(

[2017-05-26 16:31] acrymble commented on #405
@fredgibbs to implement the above decision re 'the'

[2017-05-26 16:38] mdlincoln opened #454 "Fix broken redirects from Spanish lessons directory to Spanish page"
For some reason, the URLs being published on the revised `es/lecciones` page are not redirecting as expected to the individual lesson pages.

[2017-05-26 16:38] wcaleb commented on #449
Moving it to new repo looks great to me. (In README for that repo, you may want to also link to [this blog post](http://programminghistorian.org/posts/how-we-moved-to-github) explaining the conversion process.

As that post documents, much of the original HTML from the old site is also on the `master` branch of our main `jekyll` repository. I can't remember now (!) what the main differences betwee

[2017-05-26 16:40] wcaleb commented on #453
Here's an example of [lesson with multiple editors](http://fredgibbs.net/jekyll/lessons/data-mining-the-internet-archive).

[2017-05-26 16:42] mdlincoln opened #455 "Add Spanish translation to 404 page"
Unfortunately we cannot have a separate 404 page _only_ in Spanish. However, can we please add a translation of the English text on that page, so both can be seen?

[2017-05-26 16:43] arojascastro commented on #455
Sure! @mdlincoln

[2017-05-26 16:44] mdlincoln opened #456 "Homepage image needs additional margin-top"
Right now the image has no spacing to separate it from the navbar. This also applies to any page that starts with an `img` (like 404.html) rather than an `<h1>`, `<h2>` etc...

[2017-05-26 16:45] fredgibbs opened #457 "previous next translation in yml"

[2017-05-26 16:49] fredgibbs opened #458 "spanish lessons need link to original english"

[2017-05-26 16:49] mdlincoln commented on #418
@walshbr You should be able to add my Heroku acct by searching for my email matthew.d.lincoln@gmail.com

[2017-05-26 16:52] walshbr commented on #418
@mdlincoln you should have just gotten an email moments ago - let me know if you don't get a notification from Heroku.

Looks like Heroku charges for resources associated with teams/organizations, while they are free for personal apps. So to keep the thing free we would just need to have a personal app with multiple collaborators. Let me know if anyone else wants to be added.

[2017-05-26 16:55] mdlincoln commented on #446
@wcaleb suggests changing footer to read

"Site last updated {{date}}"

and

"See page history"

[2017-05-26 16:56] wcaleb commented on #446
And link "site updated" to repo's general commit history, and link "page history" to the page's commit history.

[2017-05-26 16:57] jerielizabeth opened #459 "Long links within lesson texts breaks the float on mobile"
![2017-05-26 09 55 56](https://cloud.githubusercontent.com/assets/1447744/26504471/966ab7b4-41f9-11e7-861a-e5eee570e3de.png)

![2017-05-26 09 55 51](https://cloud.githubusercontent.com/assets/1447744/26504472/966afb02-41f9-11e7-8bdd-7d3e44738462.png)

[2017-05-26 17:01] wcaleb commented on #449
Actually,  it looks from [this commit](https://github.com/programminghistorian/jekyll/commit/b3cc5a9aa03e800ee85e2a18093af745db9c4d03) like all I did was move the old stuff that's on the master branch into a folder on the jekyll branch. So `oldsite` in a sense was already redundant: it just gathers together the old stuff that was broken into subfolders on the master branch.

I still think we shoul

[2017-05-26 17:04] mdlincoln commented on #449
From my perspective, that means that the `master` branch was already redundant 😉  but I'm happy enough to keep it and just get rid of the `_oldsite` directory!

[2017-05-26 17:05] wcaleb commented on #449
Haha! My only reason for keeping the master branch at this point is that the blog post on conversion contains links to it. If we wanted to go through the blog post and update those links to the `oldsite` repo, that would enable us to delete the master branch. If you think that's worth it, I'd be happy to do it.

[2017-05-26 17:06] acrymble opened #460 "how many editors do we need on the active list?"
Question arising from meeting. How many editors should we have actively accepting lessons?

At the moment we have 4-5. @jerielizabeth

[2017-05-26 17:08] mdlincoln commented on #449
Ah, I hadn't realized that. I'm good :)

[2017-05-26 17:18] jerielizabeth opened #461 "Managing backlog of lesson proposals"
Facing challenge of an increasing number of proposals and a limited number of editors.

Question for the team:

- Do we need to set up some sort of "waitlist" of lessons proposals that are accepted but that are pending editorial availability? Can this be done informally (assign editor but let author know that there will be a delay in response from the editor in the proposal issue.)?

[2017-05-26 17:21] #449 closed, assigned to nobody

[2017-05-26 17:25] acrymble commented on #450
Minutes:

@walshbr has been tasked with making the twitter bot live!

As a group we went through the new design at http://fredgibbs.net/jekyll and a number of decisions have been made and new issues created as a result. All are documented through the github issues on this repo.

We discussed the possible need for more active editors, which we will discuss at the next meeting. #460 / #461

The Span

[2017-05-26 17:25] #450 closed, assigned to nobody

[2017-05-26 17:25] walshbr commented on #460
A related question I have been kicking around in my head - what is a reasonable workload for an editor? Measured in lessons? Potentially impossible to say, since it has to vary person to person and situation to situation. But as a newbie, I keep wondering whether to volunteer for more things or whether (since I don't have a sense of the full scope of the work editing a lesson entails just yet) I a

[2017-05-26 17:29] wcaleb commented on #398
@mdlincoln, out of idle curiosity, I looked to see if links to old commits worked even if the file is moved. They do! See, for example:

https://github.com/programminghistorian/ph-submissions/blob/d4de42d8876f718eab48897bc40cb84499cb4c8e/lessons/using-javascript-to-create-maps.md

From there you can click on "history" and actually see the commit history of the old file. So this means (a) I owe you

[2017-05-26 17:29] acrymble commented on #460
I have a personal policy of never having more than 2 active lessons in review at once.

[2017-05-26 17:31] jerielizabeth commented on #418
@walshbr I have a heroku account (under jeri.elizabeth@gmail.com) so if you need another backup collaborator, you can add me.

[2017-05-26 17:31] mdlincoln commented on #398
Oh huh, I think that might actually be a relatively new GH feature - even a month ago I felt like that didn't work on a different jekyll site I work on. Anyway, great.

See https://github.com/programminghistorian/ph-submissions/issues/80 - I also noted on there that images should be moved as well.

[2017-05-26 17:31] JMParr commented on #460
I have 1, and have volunteered for 2 that are not yet active. I think limiting myself to 2 or 3 active lessons at once sounds ideal.

[2017-05-26 17:32] JMParr commented on #461
Waitlist seems reasonable to me. I know I have 2 pending. What else do we have in the queue at the moment that are not yet assigned?

[2017-05-26 17:34] acrymble commented on #461
I see we have 6 active English lessons in review at the moment: https://github.com/programminghistorian/ph-submissions/issues (two of which are very old and I would suggest we reject on that basis). So I dont' know that we're at capacity yet. But if we do get to that stage, a solution is important.

[2017-05-26 17:34] jerielizabeth commented on #460
I have had up to 3 in various stages of active development and review and that is definitely max for me -- I would agree that 2 is more sane.

[2017-05-26 17:35] acrymble commented on #461
We don't have stats yet, but I suspect a significant proportion of planned lessons won't come through. We can always shuffle people between editors if a proposed lesson turns into a submitted lesson.

[2017-05-26 17:37] JMParr commented on #460
I could potentially take up to 3 active lessons if we're really in a pinch, but would prefer to keep it to 2.

[2017-05-26 17:39] walshbr commented on #460
Thanks - that helps a lot. I've got two active, one audio one solicited that is getting its proposal revised, and then a blog post I'm helping push through.

[2017-05-26 17:40] JMParr commented on #460
Perhaps one other way to look at it is to see how well we're doing with matching submission and current project team expertise. If we start to see similar lessons that sound great, but aren't a great match for the strengths of the current team, it may be time to put out a call for editors with those specific backgrounds.

[2017-05-26 17:41] acrymble commented on #427
I propose the link go to the Spanish-language version because anyone doing translating will have to be Spanish-speaking anyway. But proposed text for 'contribute' page:

[2017-05-26 17:44] walshbr commented on #418
@jerielizabeth - done! Let me know if it didn't go through. The particulars of what is happening are in the README of the proghistbot repo, but I can expand a bit as I'm finalizing.

[2017-05-26 18:15] walshbr commented on #460
It sounds like 8-9 active lessons is our current capacity, then, with a bit of play if we're also trying to solicit lessons around specific areas of interest (geospatial, audio).

[2017-05-26 18:17] mdlincoln commented on #454
Oh it's just https://github.com/programminghistorian/jekyll/issues/381#issuecomment-289307832 rearing its head again..

1. The redirects don't resolve properly on <http://fredgibbs.net/jekyll> because the gem is hardcoded to follow `site.url`... which is set to `http://programminghistorian.org`. Remove `site.url` and the redirects _ought_ to work for that preview...
2. They _will_ resolve fine whe

[2017-05-26 19:06] fredgibbs opened #462 "best way to filter/store deprecated lessons"
current index page uses

[code]

to find lessons. this also finds deprecated lessons stored in the deprecated folder in the lessons directory. it is tricky to filter on the deprecated flag because it's not set for non-deprecated lessons.
this relies on this code from _config.yml
[code]
for the time being, to ignore the  deprecated lesson, i have added to the preview site:
[code]
any thoughts on th

[2017-05-26 19:09] fredgibbs commented on #462
i should also note that the only deprecated lesson that i think we have (OCR and scantailor) should probably be deleted (there was a discussion about this somewhere), since it's not published and not going to be published. but we should make sure our code works with our strategy for managing deprecated lessons anyway.

[2017-05-26 19:11] mdlincoln commented on #462
If we use `deprecated: true`, then we don't even need to modify the non-deprecated lessons. A non-existent YAML field is interpreted as `FALSE`.

And while the OCR lesson may never have been published in the first place, it's not a bad idea to have one "deprecated" lesson for testing, and as a model for how it will work when we do need to deprecate a published lesson.

[2017-05-26 19:32] fredgibbs commented on #462
good point in keeping a test deprecated lesson.

we already use deprecated:true but i haven't been able to filter by deprecated: false ( or exclude via deprecated:true) with several approaches, which made me think that it wasn't going to filter non-extant yml fields. but i may have been doing something else wrong.

any suggestions for what
{% assign alllessons = (site.pages | where: "lesson" , "tr

[2017-05-26 19:49] wcaleb commented on #462
where: "deprecated", "false" ?

Sent from my iPhone

[2017-05-26 20:09] #446 closed, assigned to fredgibbs

[2017-05-26 20:10] fredgibbs commented on #444
in #450 we decided to keep it as is for now.

[2017-05-26 20:10] #444 closed, assigned to fredgibbs

[2017-05-26 21:07] #458 closed, assigned to fredgibbs

[2017-05-26 21:07] #457 closed, assigned to fredgibbs

[2017-05-27 10:54] acrymble commented on #430
worth noting also that 2018 is 10 years since William Turkel published the first PH edition.

[2017-05-27 11:15] arojascastro commented on #455
Translation added in fece7b4a44bb114810c44d2cdd1f061e2edb48e0 @mdlincoln

[2017-05-27 16:29] mdlincoln commented on #455
💯 💯 💯

[2017-05-27 16:29] #455 closed, assigned to arojascastro, vgayolrs, mariajoafana

[2017-05-27 16:41] #398 closed, assigned to wcaleb

[2017-05-27 16:43] wcaleb commented on #381
While working on #398 discovered that this same problem exists on `ph-submissions`, though maybe it's not as crucial to get local development working there. Right now we have `site.url` hard-coded in the config for `ph-submissions`, and [I used `site.url` in the `/ph-submissions/_figures` include](https://github.com/programminghistorian/ph-submissions/blob/gh-pages/_includes/figure.html) just to g

[2017-05-27 17:01] wcaleb opened #463 "Translate editor guidelines for moving published lessons in ph-submissions"
The paragraph added in https://github.com/programminghistorian/jekyll/commit/702ac71896fe5fd1b82b00e47865d1e7b6ce3905 needs to be translated and added to https://github.com/programminghistorian/jekyll/blob/gh-pages/es/guia-editor.md.

[2017-05-27 18:47] acrymble commented on #460
I'm of the opinion that we should aim for 6 active editors by the end of the year. That gives us flexibility and, as Jess notes, potential for specific backgrounds.

[2017-05-28 07:36] acrymble commented on #379
I'm going to close this, as we haven't got a plan to take it forward. Reopen if needed.

[2017-05-28 07:36] #379 closed, assigned to nobody

[2017-05-28 13:06] walshbr commented on #402
Moved the twitter bot to the PH credentials this morning.

[2017-05-28 13:06] #402 closed, assigned to nobody

[2017-05-29 15:57] mdlincoln commented on #462
I played around with this and I don't think I've found a better solution than what you have already done @fredgibbs, using the scope-based variables in `_config.yml`. Is that solution good enough for now? Is it breaking anything else on the site?

I am constantly amazed at the basic functionality that liquid lacks... or, if it has it, is undocumented...

[2017-05-29 16:01] fredgibbs commented on #462
i think it's fine for now; it seems to be working fine and hasn't broken anything that i've noticed. it just seemed unnecessarily clunky, so i was worried i was missing something. closing for now.

[2017-05-29 16:01] #462 closed, assigned to nobody

[2017-05-29 16:41] mdlincoln commented on #303
With the closing of #379 , is this issue now outdated?

[2017-05-29 16:42] mdlincoln commented on #321
@amandavisconti What is the status of issue?

[2017-05-29 16:42] acrymble commented on #303
No. #379 was about restricting who was involved in project decisions.

This is about making the Project Team page more informative and useful for readers (and a little less knights of the round).

[2017-05-29 16:43] fredgibbs commented on #321
this is done in redesign work.

[2017-05-29 16:43] #321 closed, assigned to nobody

[2017-05-29 16:45] acrymble commented on #303
this can be done in future. We have team changes coming anyway, and it only affect one page

[2017-05-29 16:48] mdlincoln commented on #322
@amandavisconti Given that spanish lessons are now exclusively shown on `es/lecciones.md`, can this issue be closed?

[2017-05-29 16:56] fredgibbs commented on #322
while we might eventually want to change the strategy for lesson index display, the issues raised in this thread have been obviated by the way we've settled on storing translated lessons and creating a dedicated lessons index page for each language in the language root directory (the lessons template displays whatever lessons exist in the language's base directory (only / or /es now, obv).

[2017-05-29 16:56] #322 closed, assigned to amandavisconti

[2017-05-29 17:32] #395 closed, assigned to nobody

[2017-05-29 17:35] mdlincoln commented on #395
I agree that it's a good policy to try and host copies of lesson data here. The powerhouse data is on the large side of things, and it's a good idea in the future to tailor lesson data to be just the amount needed to be effective. But it's no issue to put a copy here (and that freeyourmetadata site has _very_ slow download speeds, so I'd feel much more comfortable having a copy here anyway)

[2017-05-30 14:57] mariajoafana commented on #463
Done

[2017-05-30 14:58] #463 closed, assigned to arojascastro, vgayolrs, mariajoafana

[2017-05-31 21:44] fredgibbs commented on #405
The short term solution to fix title page and masthead are complete, so i'm un-assigning myself but keeping ticket open for later content review.

[2017-05-31 21:46] fredgibbs commented on #459
text-overflow: ellipsis to the rescue!

[2017-05-31 21:46] #459 closed, assigned to fredgibbs

[2017-06-01 17:38] #456 closed, assigned to fredgibbs

[2017-06-01 17:39] #453 closed, assigned to fredgibbs

[2017-06-02 04:25] mdlincoln opened #465 "Header image on Spanish homepage much smaller than on main homepage"

[2017-06-02 04:26] mdlincoln commented on #465
Ah, I realize this might be interconnected with #452

[2017-06-02 21:58] fredgibbs commented on #452
@mdlincoln: you're right on #465. i've just replaced the old es index page with the new one, so it's ready to be translated in place. i'll close #465 since it's a non-issue now.

[2017-06-02 21:58] fredgibbs commented on #465
justified this closure in #452.

[2017-06-02 21:58] #465 closed, assigned to nobody

[2017-06-03 15:05] mdlincoln opened #466 "strange spacing on editorial team page"
![screen shot 2017-06-03 at 8 04 10 am](https://cloud.githubusercontent.com/assets/4392604/26754642/5e7a3088-4833-11e7-98a4-6ea37ef139c9.png)

[2017-06-03 20:24] mdlincoln opened #467 "Update html-proofer code to check redesigned site"
I will likely need to tweak a few things in order to make sure html-proofer stays happy with the redesign. I'd like to do this work _after_ @fredgibbs gets a fully functional pull request submitted to the main repo, but _before_ merging all the changes to master, because html-proofer will probably kick up some legitimate errors in the redesign for us to check out.

[2017-06-03 23:05] mdlincoln opened #468 "Accidentally-removed lessons"
It looks like somewhere during the merging of @amandavisconti changes, several lessons were erased from @fredgibbs branch. I'm going to try and figure out the right bit of filtering and commit reverting to fix that and send them back up to Fred via PR. I'll keep notes in this issue.

[2017-06-03 23:16] mdlincoln commented on #468
From the offending commit f414cba5abfd6942cd9bdcd98b4babda51d2d44d

[code]

[2017-06-04 08:02] acrymble commented on #468
I think those are all lessons published since that work initially began.

[2017-06-04 15:21] mdlincoln commented on #468
That's correct. Because the lesson page redesign was started from scratch, instead of by making a github fork of the repository, it wasn't possible to do a `git merge` operation that would have recognized that these newer lessons should not have been _deleted_ as part of the merge. In the future, we will be careful to do any major development work like this through branches/forks, rather than maki

[2017-06-05 00:54] mdlincoln opened #469 "Use of `slug` variable"
@fredgibbs I'm wondering if it would be possible for us to refactor away the need to add an explicit `slug` variable to every lesson. From looking over the current code, it seems that we need a `slug` for:

1. Generating links from the lesson index to the actual lesson page
2. Getting the image path for the lesson avatar on the lesson index
2. Locating the lesson-specific subdirectory of `images/`

[2017-06-05 00:55] mdlincoln commented on #469
FWIW I was thinking of putting this in `_includes` so we can call as needed:

[code]

I can work up a PR if this actually covers the cases we're looking for.

[2017-06-05 06:25] acrymble commented on #378
I'm going to close this, as we aren't actively pursuing it. But it's good to know that future translations may be viable in future.

[2017-06-05 06:27] acrymble commented on #460
Picking up on @JMParr comment, it strikes me that we don't have any editors with a public history focus to their area of interest, and a few lessons have been pitched in that vein lately. Likewise with web development.

[2017-06-05 08:18] JMParr commented on #460
I am able to do either, but have two active tutorials right now. It might
be worth a call for an editor or two to cover these areas.

On Mon, Jun 5, 2017 at 7:27 AM, Adam Crymble <notifications@github.com>
wrote:

[2017-06-05 09:13] acrymble commented on #469
this probably isn't the place for this, but I'm worried that our simple, flat, technically sustainable website, is becoming increasingly complicated and reliant upon the knowledge of a few people.

[2017-06-05 20:58] fredgibbs commented on #466
so i guess we were using that bit of CSS...

[2017-06-05 20:58] #466 closed, assigned to nobody

[2017-06-05 22:13] fredgibbs commented on #469
yeah, as things have come together i've thought about doing this as well, since we have snippets on various pages that do basically this same slug assignment. i think @amandavisconti added the slug data initially, so she might have another use in mind, but i think you've outlined the uses we have ATM.

one could argue that we should still allow for an explicit slug definition in the YAML in case w

[2017-06-05 22:39] mdlincoln commented on #469
OK. Lesson URIs are determined by the filename, not the title, so if one wants a new slug, you would just change the filename.

I have a PR cooking and will try to push it this week.

To @acrymble's worry - I want to minimize the amount of YAML headers that editors have to remember to enter, as we already spend quite a bit of time correcting missing headers, and it's why we want to implement valid

[2017-06-05 22:52] fredgibbs commented on #469
nicely put @mdlincoln!

[2017-06-06 06:26] acrymble commented on #469
@mdlincoln I definitely appreciate the need for complexity. I suppose I'm also wondering if our technical documentation is robust enough that if you got hit by a bus we'd still be able to understand the website.

[2017-06-06 22:10] mdlincoln opened #470 "Increase inline documentation"
As @acrymble noted in #469

In addition to the general getting-started notes in CONTRIBUTING.md, I'd like to work through most of the layouts/includes files and add some inline comments like I have written out in the [build.sh script](https://github.com/programminghistorian/jekyll/blob/gh-pages/_build/build.sh).

Broadly, this means documenting how the following work and interconnect:

- [x] All l

[2017-06-07 03:05] walshbr opened #471 "Implement Twitter Bot for Spanish Lessons"
Right now, the Twitter bot only sends out English tweets twice a week. There are a few steps required to get it working for Spanish:

- [x] Update technical side of the bot to accommodate a second tab from the [Google spreadsheet](https://docs.google.com/spreadsheets/d/1o-C-3WwfcEYWipIFb112tkuM-XOI8pVVpA9_sag9Ph8/edit#gid=1625380994) storing the tweets.
- [ ] Populate that second tab of the spread