[2020-07-28 16:59] ZoeLeBlanc commented on #1761
Thanks @acrymble! Still asking me to verify so going to send you one more request. Sorry for the spam!

[2020-07-28 17:37] acrymble commented on #1849
@drjwbaker if your reading is right and this makes us plan S compliant, I'm concerned that takes away the leverage to get the planS organizers to actually engage with and acknowledge the burden they've put on publishers like us. I'm of the view that we shouldn't do this until they show meaningful willingness to engage with small publishers.

[2020-07-28 17:42] acrymble commented on #1761
@ZoeLeBlanc sorry it's not sending me the text messages. Is there a way I can do whatever you need doing within the account, to resolve the ticket (if not your access?)

[2020-07-28 18:21] ZoeLeBlanc commented on #1761
That's a great question @acrymble that I'm not sure I can answer yet. My understanding is that we need to both move cloudflare from Matt's personal account to the PH gmail, but then also contact our domain registrar (CHNM) to update our nameservers to point to the correct cloudflare account. I've reached out to Matt to clarify a few things about the process so once I hear from him, I'll let you kn

[2020-07-29 18:04] #1525 closed, assigned to ZoeLeBlanc

[2020-07-29 18:06] ZoeLeBlanc commented on #1525
Just want to make a note of thanks to @amsichani for all her hard work on this issue! I was able to get her code quickly sorted into the existing code base with very few tweaks. Great work 🎉 !

[2020-07-30 08:39] acrymble commented on #1817
Some suggestions for how we might take this process forward as a clear workflow:

1. Bug reported to ME. They triage reports and close any that are obviously not real bugs or problems with the lesson (eg, people wanting to customize a skill for their own workflow, or reports without enough detail to actually understand the problem). If bug appears genuine, ME contacts Finance Director to check for

[2020-07-30 12:56] drjwbaker commented on #1671
Update. [Keith](https://www.foundation.org.uk/About/The-Team) was extraordinarily helpful.

In short, as we want to register as a [Charitable Company (Limited by Guarantee)](https://www.gov.uk/guidance/charity-types-how-to-choose-a-structure?step-by-step-nav=3dd66b86-ce29-4f31-bfa2-a5a18b877f11) we don't need to amend our Articles of Association, so long as the purposes are charitable, which I bel

[2020-07-30 17:08] drjwbaker commented on #1849
We'd be compliant but not still missing three of the strongly recommended, so you can still make your point.

And you may get your wishes anyway, because It is within the scope of this ticket:

- to figure out how much work fulfilling this requirement would take;
- to cost it;
- to decide if that is sustainable;
- and if not, to decide how we approach demonstrating how plan S is bad for innovation

[2020-07-31 08:52] acrymble commented on #1788
The minutes/actions have been circulated via Google Groups and have been archived. So will close this ticket now.

[2020-07-31 08:52] #1788 closed, assigned to mariajoafana

[2020-07-31 08:53] acrymble commented on #1770
@spapastamkou I have now closed this ticket but if you need to refer back to it, it is obviously still available here. Let me know if a meeting to discuss anything would be helpful.

[2020-07-31 08:53] #1770 closed, assigned to acrymble

[2020-07-31 11:14] DanielAlvesLABDH opened #1870 "Onboarding Checklist for our Portuguese language publication editor Joana"
## This is an individual onboarding Managing Editor checklist for Joana Paulino initially found [here](https://github.com/programminghistorian/jekyll/wiki/Onboarding-Checklist-for-New-Editors). Bem-vinda, Joana!

---

## Welcome

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challen

[2020-07-31 15:08] acrymble commented on #1671
At @drjwbaker 's request I'm asking our board members to sign the relevant paperwork. Using this to keep track of progress as we all have to sign the same file:

- [x] Riva
- [x] Sarah
- [x] Sofia
- [x] Anna Maria
- [x] James (currently in possession)
- [x] Adam

[2020-08-03 17:00] mariajoafana opened #1871 "September 2020 Skype Call - Project Team Agenda"
29 September 2020 , Time is 9:00 AM - Mexico, Colombia; 10:00 AM - Ottawa, Philadelphia, Boston; 11:00 AM Chile; 3:00 PM - London; 4:00 PM - Paris and Berlin. @mariajoafana will be facilitating the call.

Working agenda in progress. The time and day will be scheduled within the next couple of weeks. Please add in these agenda under "Issues and tasks for discussion" the tickets that you'll like to

[2020-08-03 17:08] mariajoafana commented on #1867
Yes @acrymble this is a good idea. In my case at the university and memory institutions in Colombia, this is not the best time to ask for money, even if is a little amount, because of austerity policies, but other members of the team are assessing this possibility.
It just occurred to me that I can discuss this with the Red Colombiana de Humanidades Digitales

[2020-08-04 09:33] acrymble commented on #1867
You could set up an event on Eventbrite and 'sell' tickets that people can buy to provide a space for someone else on the course. Sell 10 tickets at £10 and you have your money. I think people would do it with the right messaging.

[2020-08-05 07:40] arojascastro commented on #1867
Sorry, but I do not understand... Since we have Patreon and donations I do not see why each team can have its own annual budget and use it as each team prefers... can you please clarify this doubt? Thanks.

[2020-08-05 08:16] acrymble commented on #1867
@arojascastro nobody has said no to the request. We just haven't had a chance to discuss it yet as a full team.

We very recently opened up a discussion for new lines of spending #1790 and are still in the process of setting that recommended service up. It will likely not be fully in place until September, so that's 6 months from idea to implementation. This request is a new one and has implicatio

[2020-08-09 01:52] svmelton opened #1872 "Onboarding Checklist for New EN Editor Sylvia"
## This is an individual onboarding checklist for Sylvia initially found [here](https://github.com/programminghistorian/jekyll/wiki/Onboarding-Checklist-for-New-Editors). Welcome, Sylvia!

---

## Welcome

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put togethe

[2020-08-09 01:53] svmelton opened #1873 "Onboarding Checklist for New EN Editor Nabeel"
## This is an individual onboarding checklist for Nabeel initially found [here](https://github.com/programminghistorian/jekyll/wiki/Onboarding-Checklist-for-New-Editors). Welcome, Nabeel!

---

## Welcome

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put togethe

[2020-08-09 01:54] svmelton opened #1874 "Onboarding Checklist for New EN Editor Alex"
## This is an individual onboarding checklist for Alex initially found [here](https://github.com/programminghistorian/jekyll/wiki/Onboarding-Checklist-for-New-Editors). Welcome, Alex!

---

## Welcome

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put together th

[2020-08-10 10:25] acrymble opened #1876 "Bug Transforming Data for Reuse and Re-publication with XML and XSL"
Transforming Data for Reuse and Re-publication with XML and XSL by M.H. Beals is no longer functional because of a Firefox security update that blocks XSL files from rendering.

- https://programminghistorian.org/en/lessons/transforming-xml-with-xsl
- https://programminghistorian.org/es/lecciones/transformacion-datos-xml-xsl

The author has provided a work-around #1875 that involves overriding the

[2020-08-11 14:33] joanacvp commented on #1870
@JoshuaGOB

- Username on GitHub: @joanacvp
- Skype account: Joana Paulino (joana_paulino40@hotmail.com)
- Google-activated email: jpaulino@fcsh.unl.pt

[2020-08-11 22:13] sferna109 commented on #1872
Hi @JoshuaGOB  here is the information requested:
1.Github account: sferna109 (https://github.com/sferna109)
2.Twitter account: sferna109 (https://twitter.com/sferna109)
3. Skype account: sferna4
4. Google activated email: sferna109@gmail.com

[2020-08-12 00:23] mariajoafana commented on #1872
Welcome to the team @sferna109 ! I just added you to our Skype account

[2020-08-12 04:42] acrymble commented on #1872
@sferna109 as you complete the tasks, please check them off for us in the ticket.

[2020-08-12 15:12] acrymble commented on #1837
Some suggestions from a meeting of Tech Lead (@ZoeLeBlanc), Comms Lead (@jenniferisasi) and ProgHist lead (@acrymble) for consideration of a wider set of goals for the coming 12-18 months. These are from the perspective of the teams responsible for 'publisher' tasks (the infrastructure teams) rather than the publications themselves. They are all 'big' ideas rather than single-ticket tasks.

- Rais

[2020-08-14 15:11] rivaquiroga commented on #1737
@drjwbaker, I was wondering if we should add here a task related to setting up the DOI for a new language publication. For example, when we should inform University of Sussex Library about the new language?

[2020-08-15 07:18] acrymble commented on #1681
@JoshuaGOB I don't think you're using this ticket are you? Can we close it?

[2020-08-15 08:14] acrymble commented on #1873
Does Nabeel know about this ticket @svmelton ?

[2020-08-15 08:15] acrymble commented on #1874
Does Alex know about this ticket @svmelton ?

[2020-08-16 07:16] acrymble commented on #1818
@DanielAlvesLABDH can you let us know the status of these pages? You said you wanted us to wait until 31 July, which has passed.

[2020-08-16 17:50] acrymble commented on #1817
I've added the proposed workflow for this to our Wiki using the copyediting workflow as a guide: https://github.com/programminghistorian/jekyll/wiki/Bug-Assessment

If this is approved at the ProgHist board meeting #1824 I will set everything up for Managing Editors and we can start using it.

[2020-08-17 09:31] drjwbaker commented on #1737
@rivaquiroga Yes, we have a MOU with them: https://github.com/programminghistorian/project-and-business-archive/blob/master/project/2020/2020-04_Sussex-DOI-MOU/2020-05-18_ProgHist%20MOU%20w%20University%20of%20Sussex.docx See item 4. under the PH Ltd responsibilities:

I suspect this falls on me.

In the case of the PT publication, someone (@DanielAlvesLABDH @JoshuaGOB?) will need to tag me with t

[2020-08-17 11:02] acrymble opened #1879 "Add new IPP partner to /sponsor page"
Need to add Western University to our list of sponsoring institution. Need to wait to hear from @programminghistorian/portuguese-team on the #1818 progress as pages are frozen while being translated.

[2020-08-18 14:04] hawc2 commented on #1874
Yes, I'm on board!

[2020-08-19 17:02] DanielAlvesLABDH commented on #1818
@acrymble we are still working. As you know we had some problems starting because of the onboarding process, then came vacations, but we are trying to finish until the end of August.

[2020-08-19 17:18] DanielAlvesLABDH commented on #1704
@acrymble I think I never got access to the Google Docs you mention about the Service Agreement. What is the ststus of this and what do you need from from me?

[2020-08-20 07:39] acrymble commented on #1874
Great @hawc2 can you send me an email and we can start introducing you to a few of our systems and people? a.crymble@ucl.ac.uk

[2020-08-20 11:41] acrymble commented on #1872
@sferna109 please email me at a.crymble@ucl.ac.uk and we can arrange a meeting to discuss how best to get you up to speed.

[2020-08-20 13:40] svmelton commented on #1873
I've sent him an email, but it occurs to me that he just switched jobs and may not have seen it. I'll see if I can find his new email.

[2020-08-20 17:01] nabsiddiqui commented on #1873
Hello @acrymble @svmelton

Sorry for the delay. I did just switch jobs, and I am about a week behind on everything due to a course I had to take about preparing for Covid. I will have this done by tomorrow.

[2020-08-20 17:07] nabsiddiqui commented on #1873
@JoshuaGOB

1. @nabsiddiqui is my GitHub account
2. My twitter account is @nabsiddiqui as well but I am almost never on it.
3. My Skype is nabeel.siddiqui27
4. My google email is nasiddiqui@email.wm.edu

[2020-08-20 18:07] acrymble commented on #1873
That's ok @nabsiddiqui it's a strange time for all. Can you email me on a.crymble@ucl.ac.uk and we can arrange a time to take you through a few things?

[2020-08-21 16:34] drjwbaker commented on #1824
Just a reminder to @svmelton @spapastamkou @acrymble that we are meeting next week. The agenda looks packed, but it should be relatively brief :)

[2020-08-24 01:34] JoshCLWren opened #1881 "creating-apis-with-python-and-flask no table is created"
there's a problme with the api_final code published at : https://programminghistorian.org/en/lessons/creating-apis-with-python-and-flask

First of all there's no command to create the table or any logic to not do that if the table already exists. Also, when I've added such a command the links that should be displaying content from the books.db file don't actually produce anything but an empty arra

[2020-08-24 13:50] walshbr commented on #1881
I've pinged the author.

[2020-08-24 14:28] hawc2 commented on #1874
@JoshuaGOB my email is alwermercolan@gmail.com. My Skype is hawc22. My twitter is @alexwermercolan. Let me know if you need anything else.

[2020-08-25 11:37] DanielAlvesLABDH commented on #1879
@josircg could you coordinate with Adam the inclusion of this new reference in our apoie-nos.md? Thanks!

[2020-08-25 15:28] acrymble commented on #1879
@josircg this just needs an additional entry added to the list of Institutional Partnership Programme organizations on the /support-us page:

Our Institutional Partner Programme members:

    KU Leuven Libraries [2020-Present]
    Institute of Historical Research Wohl Library [2020-Present]
    University of Sussex Library [2020-Present]
    Centre for Data, Culture and Society, University of Edin

[2020-08-25 15:33] jenniferisasi commented on #1879
Will keep an eye on this to announce it

[2020-08-27 18:35] JoshuaGOB commented on #1874
All set on my end @hawc2 and welcome to the team!

@mariajoafana will add you to the Skype call.

@acrymble Just a quick question about adding members to teams. I believe this is done by the team admins right? so for the Project Team it would need to be @walshbr or @ZoeLeBlanc and for the English team @svmelton?

[2020-08-27 18:45] walshbr commented on #1874
You're an admin for the organization @JoshuaGOB, so you should be able to do it. And I don't think you need to be on the particular team to add them. But if it doesn't seem to work let me know!

[2020-08-27 18:56] JoshuaGOB commented on #1874
So sorry but I'm stumped. I'm able to add them to the repository but even after they accept their invite they still show up as outside collaborators. I had assumed that once team maintainers added them to their specific team they would move out of [here](https://github.com/programminghistorian/jekyll/settings/access) but Josir was already added to PT and he's still showing up there. Also, I don't

[2020-08-27 19:55] walshbr commented on #1874
I think the problem is that you need to add them to actual GitHub organization, not to the individual repository. The link for the organization members is here - https://github.com/orgs/programminghistorian/teams. If you click on "project team" you should see, on the left, a plus icon for adding to the team more generally. And then the individual teams for the group are listed below. You should be

[2020-08-27 20:30] JoshuaGOB commented on #1874
Hi @walshbr this is what I'm seeing when I go through https://github.com/orgs/programminghistorian/teams:
https://ibb.co/XDhJvz7
https://ibb.co/Wsk8HD0

[2020-08-28 07:59] drjwbaker commented on #1824
Minutes up https://github.com/programminghistorian/project-and-business-archive/blob/master/business/Board-of-Directors-Meetings/2020/08-2020/2020-08_ProgHistLtd-BoD.docx

[2020-08-28 08:33] acrymble commented on #1817
I'm pleased to say we have majority support to offer this service on an on going basis.

Thanks in particular to @mariechristineb and @svmelton for helping us test and refine the process.

I've added instructions on using this service to the wiki and I will email MEs so they can ask any questions.

https://github.com/programminghistorian/jekyll/wiki/Bug-Assessment

[2020-08-28 08:33] #1817 closed, assigned to acrymble

[2020-08-28 10:18] acrymble commented on #1874
@JoshuaGOB similar problem for me. I can only add people if I'm already on the team.

[2020-08-28 11:08] DanielAlvesLABDH commented on #1879
Included https://github.com/programminghistorian/jekyll/blob/issue-1818/pt/apoie-nos.md

[2020-08-28 11:24] walshbr commented on #1874
Can you try now? I tried clicking one other button, but if that doesn't work I'm stumped too because you should have literally the same level of access as me but that link gives a different screen for me.

[2020-08-28 12:03] acrymble commented on #1874
@walshbr thanks this worked for me. I made the update for @sferna109 to try it out.

[2020-08-28 15:37] acrymble commented on #1879
Thanks @DanielAlvesLABDH I will assume I can update the other pages then, and that your translation will reflect the change.

[2020-08-29 11:48] #1824 closed, assigned to drjwbaker

[2020-08-31 14:32] mariajoafana commented on #1571
@spapastamkou Shall we close this ticket and re-open when this moves along?

[2020-08-31 15:27] svmelton opened #1883 "Potential Bug in Introduction to Stylometry in Python"
A reader sent me a note about some difficulties she encountered when working through the lesson:

"While replicating we came across a few errors(?) in the code mentioned on the website; the outputs for Kilgariff's Chi-Squared Method and John Burrows' Delta Method do not match what has been stated.

We figured a probable error as to what was wrong with the Chi-Squared Method, but couldn't understan

[2020-08-31 17:03] fdlaramee commented on #1883
@svmelton -- Noted. Will take a look as soon as I can, which may take a week or more.

[2020-08-31 21:10] smythp commented on #1881
Is it possible you missed the paragraph where you download a small example data set for the final section? I copy it below with the surrounding context, the second paragraph is the one with the link:

It makes sense that the final code will return an empty list if the database is empty. Please let me know if you have other questions, and thanks @walshbr for bringing this to my attention.

[2020-08-31 21:15] smythp commented on #1881
I'll also note that, after downloading the database file, moving it to the folder, and checking that the name is correct (it's possible to wind up with "books.db (1)" or similar if you already have a file with that name in your downloads folder), you'll want to remove the code you added before running, as you may wind up overwriting the file, getting a duplicate table error, etc.

[2020-09-01 15:02] aschock1 opened #1885 "Python programming sequence not fully updated for Python 3"
At least several lessons in the Python sequence aren't updated for Python 3. I'm trying to assign this sequence to a class (did so successfully in 2014 and 2016, so I really appreciate it!), but am starting a class this semester, and found that much of the sequence doesn't work with Python 3.

Lesson: Working with Text Files
OS: Mac
Version: 10.5.5
Python version: 3.8

Lesson calls to use the foll

[2020-09-01 15:12] walshbr commented on #1885
Thanks @aschock1! We're aware of the issues, but this level of granularity is much appreciated.

Just a note for us - this issue has a lot of overlap with #1777, though it also raises a few other Python3 updates that could be useful.

[2020-09-01 15:17] aschock1 commented on #1885
Thanks, @walshbr! I appreciate it. Now looking back through some of the threads, I can see that some of this (urllib) appears to have been on the radar. Thanks to you and all the team for all your work on PH; it's such a service to students, faculty, and the whole community.

[2020-09-01 16:31] acrymble commented on #1885
There are some relevant previous tickets:

wb vs w: #407 #1611
is the user running python3? #1810

[2020-09-01 16:37] drjwbaker commented on #1671
@acrymble: I've worked through most of this today. Still a couple of bits remaining. Might you have time later in the week to look at the application to check that you are happy it is a fair representation of PH?

[2020-09-02 16:24] acrymble commented on #1842
Sorry I can't figure out where the templates are on the ph-submissions repo. Can anyone on @programminghistorian/technical-team remind me please?

[2020-09-02 16:52] walshbr commented on #1842
I think here @acrymble -https://github.com/programminghistorian/ph-submissions/blob/gh-pages/.github/ISSUE_TEMPLATE

[2020-09-02 17:00] acrymble commented on #1842
Thanks @walshbr got it.

@svmelton I have now (I think) added @ianmilligan1 to all templates, pages, etc. So he should now be fully able to take up his post!

It would be a great idea for you to introduce your team to Ian so they understand his role and understand that they too can approach him if they ever feel the need.

[2020-09-02 17:00] #1842 closed, assigned to svmelton

[2020-09-03 16:47] acrymble commented on #1763
Happy to say Hélène Huet at the University of Florida has agreed to take on this role. Thank you @spapastamkou for suggesting her. I will add a pull request to close this issue.

(Update: just waiting for an avatar from Hélène and then I can do pull request).

[2020-09-03 17:10] spapastamkou commented on #1763
Thanks to you @acrymble for moving this forward and taking in charge the contacts for the @programminghistorian/french-team! Please don't hesitate to assign us the PR or ask for review.

[2020-09-03 17:21] JoshuaGOB commented on #1874
Forgot to check back in @walshbr but this is now working perfectly and I redid all of the other ones I had done before. Thank you.

[2020-09-03 17:22] walshbr commented on #1874
Sorry it took so long to figure out @JoshuaGOB! GitHub changed their permissions structure, and it's confusing.

[2020-09-04 08:03] #1818 closed, assigned to josircg, aracele, DanielAlvesLABDH

[2020-09-04 08:39] DanielAlvesLABDH opened #1891 "Translation of the .yml files of the PH platform to Portuguese"
Starting the translation of the .yml files of the PH platform to Portuguese: Activities.yml; ph_authors.yml; snippets.yml; teamroles.yml and topics.yml

[2020-09-04 08:40] acrymble commented on #1891
Thanks @DanielAlvesLABDH can we have a week before you start on ph_authors.yml? We are currently trying to onboard some English language editors who will need to edit this file to add themselves to the project team. Is that ok?

[2020-09-04 10:56] drjwbaker commented on #1802
Per https://github.com/programminghistorian/project-and-business-archive/blob/master/project/2020/2020-04_Sussex-DOI-MOU/2020-05-18_ProgHist%20MOU%20w%20University%20of%20Sussex.docx we need to ask our DOI provider if they are happy to provide DOIs for a new publication, in this case the PT edition.

Has this happened? If not, two actions:

- @programminghistorian/technical-team please update http

[2020-09-04 11:43] DanielAlvesLABDH commented on #1891
@josircg e @aracele eu já actualizei os ficheiros Activities.yml; snippets.yml; teamroles.yml e topics.yml (https://github.com/programminghistorian/jekyll/tree/gh-pages/_data). Podem, por favor, dar uma olhada para ver se não me enganei ou esqueci de algo. Obrigado. O ficheiro ph_authors.yml só pode ser alterado depois de termos luz verde do Adam.

[2020-09-04 11:46] DanielAlvesLABDH commented on #1802
@drjwbaker we are still in the process of translating the platform to Portuguese. I guess the DOI will apply only to the lessons, correct?

[2020-09-04 12:26] drjwbaker commented on #1671
Done.

Note:

@amsichani @svmelton @acrymble @spapastamkou @rivaquiroga You should receive a copy of the application via email. Thanks for your help putting it together.

[2020-09-04 12:26] #1671 closed, assigned to acrymble, drjwbaker

[2020-09-04 12:27] drjwbaker commented on #1671
Application added to private archive https://github.com/programminghistorian/project-and-business-archive/blob/master/charity/application/2020-09-04_5163603_OLAR_Registration_503525_01.pdf

[2020-09-04 13:00] walshbr commented on #1802
@drjwbaker I can add that to the Wiki checklist, but I don't exactly know what the language would entail. As far as I know that hasn't happened. Something like…

"Get @drjwbaker to check with the DOI provider that they are happy provide DOIs for a new publication." Or is that meant to be @ZoeLeBlanc as technical lead? And what happens if they say no? Could you offer some language for what that che

[2020-09-04 13:24] drjwbaker commented on #1802
That is fine. I have at the relationship. Though technically, I'm working on behalf of the Ltd (DOIs is a service the Ltd provides to the publications https://github.com/programminghistorian/jekyll/wiki/ProgHist-services-to-Publications#services-provided-in-kind)

If they say no, the new publication runs without DOIs until the Ltd finds a solution.

[2020-09-04 13:44] walshbr commented on #1802
Cool. Added it to the wiki @drjwbaker

[2020-09-04 16:10] drjwbaker commented on #1802
@DanielAlvesLABDH Correct. Perhaps once we have an ISSN for the PT publication (https://github.com/programminghistorian/jekyll/commit/8a7b7fe2381c8adf7cf1591ff1e1de79b7369197#commitcomment-42033910) contact me and I will speak to our DOI provider?

[2020-09-04 16:31] DanielAlvesLABDH commented on #1802
Will do that @drjwbaker

[2020-09-05 06:02] #1763 closed, assigned to spapastamkou

[2020-09-05 18:55] aracele commented on #1891
Oi @DanielAlvesLABDH,parece tudo ok pra mim. Apenas consertei um erro de digitação no arquivo _snippets_, e gostaria de sugerir uma alteração no _topics_. Acho que o início da linha 35, onde se lê "Dedica muito esforço à pesquisa", poderia ser traduzida como "Você dedica muito esforço à sua pesquisa" , "Você se esforçou muito em sua pesquisa" ou "Pesquisar exige muito esforço". O que acha?

[2020-09-07 09:35] DanielAlvesLABDH commented on #1891
Muito obrigado @aracele , já corrigi, optei pela última sugestão.

[2020-09-07 10:06] acrymble commented on #1872
@sferna109 if possible can we get your bio and photo up this week? Our Portuguese team is waiting for access to the authors.yml file so they can translate it and get their publication live, so we don't want to hold them up.

[2020-09-07 15:22] joanacvp commented on #1870
I am just finishing the Onboarding process.

[2020-09-07 15:25] joanacvp commented on #1870
I have already finished all of my tasks. I am just waiting for:
- Skype group @mariajoafana joana_paulino40@hotmail.com
 - Partner with an existing editor to develop a 3 month plan so that you can acclimatise to the project (@JoshuaGOB).
 - Become a 'member' of ProgHist Ltd, our not-for-profit company that administers the business end of the project (@acrymble)

[2020-09-07 15:29] JoshuaGOB commented on #1870
Hi @joanacvp I'm currently working on the shadowing practice during this week and hopefully we can get you assigned soon. Thank you for reminding me.

[2020-09-07 15:44] daniellesanchesDH commented on #1840
@JoshuaGOB I finished my tasks. Many Thanks for your patience!

[2020-09-07 16:50] #1879 closed, assigned to acrymble

[2020-09-09 07:36] acrymble commented on #1874
@svmelton the last task on this checklist for @hawc2 is to partner him with an editor to shadow the editorial process. Is that already underway?

[2020-09-10 09:59] drjwbaker commented on #1671
Our charity application was rejected as our submission had some problems (as opposed to us being rejected for not being a charity). Full details in the shared gmail. The main pieces of work are:

- [ ] 1. Revise of Articles of Association so that they say the name of the charity and are closer to the [model document](https://www.gov.uk/government/publications/setting-up-a-charity-model-governing-d

[2020-09-10 13:52] drjwbaker opened #1898 "ProgHist Ltd Board of Directors Meeting 9 November 2020"
## ProgHist Ltd Board of Directors Meeting 9 November 2020

Time is 9:00 AM - Mexico, Colombia; 10:00 AM - Ottawa, Philadelphia, Boston; 10:00 AM Chile; 3:00 PM - London; 4:00 PM - Paris and Berlin. @drjwbaker  will be facilitating the call.

Chair: @acrymble
Secretary: @drjwbaker
Members: @drjwbaker @svmelton @spapastamkou @amsichani @rivaquiroga
Minutes of the last meeting: [2020-08_ProgHistLtd-

[2020-09-11 09:59] acrymble commented on #1704
Update:

All teams have approved this agreement except the @programminghistorian/spanish-team who I have not yet heard from.

I'm going to suggest we take the agreement as accepted for 3/4 of the publications and all of the 'publisher' teams (Global, ProgHist, Comms, Tech). And that we move to approve this at the meeting #1871 and close this issue.

[2020-09-11 10:01] #1681 closed, assigned to svmelton, JoshuaGOB

[2020-09-11 15:30] jenniferisasi commented on #1860
Starting to work on this. I need to edit the lesson.html file on the second row of lesson information with a new h4:

[code]

DOI are in lesson yaml metadata.
DOI doesn't need translations

Follow the [DOI display guidelines](https://www.crossref.org/education/metadata/persistent-identifiers/doi-display-guidelines/#00472):
always be displayed as a full URL link in the form https://doi.org/10.xxxx/

[2020-09-12 16:31] fdlaramee commented on #1883
Hi @svmelton -- I have looked at the lesson and the code, and I get the original (correct) results. The only thing I can think of to explain the reader's results is that they did not run all of the tests in sequence. Some of the preprocessing done for Mendenhall's is reused for the others; if Mendenhall isn't run first, all bets are off.

We could always rewrite the code to make each test independ

[2020-09-13 08:57] acrymble commented on #1883
@fdlaramee maybe just add a warning box to the lesson saying just that? In case someone else has the same problem?

[2020-09-13 15:16] #1860 closed, assigned to jenniferisasi

[2020-09-14 16:57] walshbr commented on #1881
Closing this as it appears to be an issue not with the lesson itself. But feel free to reopen and continue the conversation!

[2020-09-14 16:57] #1881 closed, assigned to walshbr

[2020-09-15 08:21] acrymble commented on #1837
The ProgHist board has set a list of goals for its own work this coming year. We will be circulating this to "members" of ProgHist ltd for comment in the coming days, and asking for any feedback to come within a week of our next Project Team meeting so that we can amend any goals before moving forward.

Thanks to everyone so far who has given feedback.

[2020-09-18 13:26] acrymble commented on #1837
I've circulated this document of our proposed goals to our membership, with a feedback deadline of 2 October 2020.

[2020-09-18 16:11] jakubow opened #1900 "Working with Text Files in Python - Error: a bytes-like object is required, not 'str'"
Lesson Title: Working with Text Files in Python
System: Windows
Software: Komodo Edit 12, Python 3.8.5
Steps:
I am trying to do: Creating and Writing to a Text File
I enter into Komodo:

# file-output.py
f = open('helloworld.txt','wb')
f.write('hello world')
f.close()

I save the file as file-output.py
I "Run Python"

Returns the following error:
Traceback (most recent call last):
  File "file-out

[2020-09-18 16:29] acrymble commented on #1900
Relevant earlier ticket: https://github.com/programminghistorian/jekyll/issues/1611 (this may be a mac vs pc problem)

[2020-09-18 16:32] walshbr commented on #1900
This is a duplicate of https://github.com/programminghistorian/jekyll/issues/1777, which I think we were looking to hire a bug tester to look at?

[2020-09-18 16:34] acrymble commented on #1900
Thanks @jakubow we have someone taking a look at the matter. I hope you're able to adapt the examples as you go through in the meantime.

[2020-09-18 16:34] #1900 closed, assigned to nobody

[2020-09-21 17:49] jenniferisasi opened #1903 "Newsletter: 3rd trimester of 2020"
As usual, I will create a list of accomplishments here and ask that you please add anything I am forgetting for the end of September (hopefully) newsletter:

- [x] First year anniversary of ProgHist Limited
- [x] New PH members
- [x] New IPP and Patreon subscribers
- [x] Note of PT edition almost ready
- [x] FR publication looking for new editors
- [x] New lessons and translations
- [x] translate

[2020-09-22 11:29] spapastamkou commented on #1903
We shall have published a call for FR editors by then, I will add the link soon here.

[2020-09-22 17:28] fdlaramee commented on #1871
I will not be able to attend this time. Thanks.

[2020-09-23 19:52] fdlaramee commented on #1883
Thanks @acrymble -- Sorry, I noticed that I haven't responded to your suggestion. Yes, that would be a good way to prevent confusion in the future. I'll do it as soon as I can.

[2020-09-24 13:40] jenniferisasi commented on #1903
@acrymble are you the facilitator in this event by any chance? https://www.cdcs.ed.ac.uk/events/silent-disco-fetching-and-parsing-data-web-openrefine

[2020-09-24 14:03] acrymble commented on #1903
@jenniferisasi no I ran the first one they did along with @JMParr but it looks like they're going forward with the idea on their own. Some good impact.

[2020-09-24 14:05] jenniferisasi commented on #1903
Yes, it is! Saw it and was wondering to put it in newsletter. Thanks for your quick response!

[2020-09-25 07:13] acrymble commented on #1891
@DanielAlvesLABDH I just want to check that the timeline is on track. I've frozen any new additions to the authors.yml file so that your team can translate it, but we do have people who want to add themselves to the project team page so can you confirm that your team are working on this? I ask because I see your pull request to add Danielle has been sitting approved and waiting to be merged for a

[2020-09-25 10:01] acrymble commented on #1571
I'm closing this because we haven't had any movement on it for some time and keeping a ticket open doesn't affect anyone's ability to look into it further. It doesn't seem to be an active task of great importance for us at the moment.

[2020-09-25 10:01] #1571 closed, assigned to spapastamkou

[2020-09-25 10:05] acrymble commented on #1635
@rivaquiroga @mariajoafana just a reminder that this was an action agreed at the last meeting #1868.

If you haven't been able to make progress on this, I propose we close this ticket and mark Copyediting as 'Declined' for the Spanish publication on the list of services (with the right to revisit that decision in future) - https://github.com/programminghistorian/jekyll/wiki/ProgHist-services-to-Pu

[2020-09-25 10:08] acrymble commented on #1762
@spapastamkou I believe this checklist can be closed now, as the time has passed?

[2020-09-25 12:05] rivaquiroga commented on #1635
@acrymble, the Style Guide is ready. The team had until today to make any comments, so in the next few days we will be merging the open PR (#1771).

[2020-09-25 12:42] Khushee-Upadhyay opened #1905 "Broken link"
I encountered an error when I tried to navigate to The Programming Historian using this link: https://programminghistorian.org/mapping-with-python-leaflet#geocoding-with-python

[2020-09-25 12:50] walshbr commented on #1905
Thanks! Where did you find that link? I found one instance of it on our site and just fixed it (the changes should appear shortly) but more details about where you found it could confirm.  For what it's worth, the link should be this (just needs the language information in the URL) - https://programminghistorian.org/en/lessons/mapping-with-python-leaflet#geocoding-with-python

[2020-09-25 16:05] JoshuaGOB commented on #1840
Thank you all for your help, @jenniferisasi will provide shadowing.

[2020-09-25 16:05] #1840 closed, assigned to JoshuaGOB, DanielAlvesLABDH

[2020-09-25 16:06] drjwbaker commented on #1871
# ProgHist Ltd Report

By: @drjwbaker
Date: 25 September 2020

Financial Summary:

- Remain healthy.
- 5x IPP members (1 more since July) https://programminghistorian.org/en/support-us#institutional-partner-programme
- Patreon steadily growing https://www.patreon.com/theprogramminghistorian

Substantive Actions Completed Since Previous Report:

- Bug fixing now a Ltd supported activity https://git

[2020-09-26 05:14] Khushee-Upadhyay commented on #1905
I found this link in this article: [Visualizing Data with Bokeh and Pandas](https://programminghistorian.org/en/lessons/visualizing-with-bokeh) but it works now. Thanks!

[2020-09-26 05:14] #1905 closed, assigned to nobody

[2020-09-27 16:06] svmelton commented on #1883
Thank you @fdlaramee! Let me know if you need anything else from me.

[2020-09-27 20:10] DanielAlvesLABDH commented on #1891
@acrymble during this week I hope to finish all the .yml files

[2020-09-28 21:12] spapastamkou commented on #1762
yes!

[2020-09-28 21:12] #1762 closed, assigned to grandjeanmartin, mariechristineb, spapastamkou, fdlaramee

[2020-09-28 22:51] jenniferisasi commented on #1871
# Comms Team Report

By: @jenniferisasi
Date: 28 September 2020

Financial Summary:

Substantive Actions Completed Since Previous Report:

- Implement DOI number on lesson header (Jennifer)
- Blogpost for potential IPP members (Adam, consulted w/Jenn)
- Informational material for potential IPP members (Adam, consulted w/Jenn)
- Tweeted weekly about/looking for Patreon supporters

Substantive Actio

[2020-09-28 23:58] rivaquiroga commented on #1871
## Spanish Team Report

By: @rivaquiroga
Date: 28 September 2020

**Substantive Actions Completed Since Previous Report**

- Spanish Style Guide is ready. We will be merging this week :tada:.

**Substantive Actions Remaining Open Since Previous Report**

- One original lesson under review
- One original lesson about to start the reviewing process
- Three translations under review

**3-month focus*

[2020-09-29 01:01] ZoeLeBlanc opened #1906 "December Technical Team Meeting: December 4 2020"
Doodle poll: https://doodle.com/poll/ay7akym7e6h7ki8d

@programminghistorian/technical-team please fill out your preferences for the October Technical Team meeting. Times are 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET time.

Agenda:

- Review any outstanding tickets (maybe discuss if #1795 is ready to be restarted?)
- Discuss new feature backlog https://github.com

[2020-09-29 01:16] ZoeLeBlanc commented on #1761
Think that we should close out this ticket and make the cloudflare issue a separate ticket since the hold-up is my getting access to the PH gmail account or if @acrymble just takes on migrating cloudflare dns from matt lincoln's personal account to gmu's servers.

[2020-09-29 01:37] ZoeLeBlanc commented on #1802
Full text search stemming is now live. Nothing to see until we make the pages public, which I think is waiting on more translations and merging of ph_authors.yml

[2020-09-29 01:49] ZoeLeBlanc commented on #1871
# Technical Team Report

By: @ZoeLeBlanc

Date: 28 September 2020

Substantive Actions Completed Since Previous Report:

- #1525 Lesson sequence reporting. Completed by @amsichani and @ZoeLeBlanc
- #1802 Added full text stemming support to search and code for project loop (ticket is still technically open until PT code is live). Completed by @ZoeLeBlanc and @acrymble respectively

Substantive Acti

[2020-09-29 08:44] acrymble commented on #1704
I've now heard from all teams. I'll file a copy of the agreement with our archivist and put the text on the Wiki and then close this ticket.

Thanks everyone.

[2020-09-29 10:21] spapastamkou commented on #1871
## FR Team Report

By: @spapastamkou
Date: 29/09/20

---

Actions Completed Since Previous Report:

Translations: none from the team members (we have a good stock of non yet edited translations) - 1 external in progress
Translation Reviews: 1 (published)

Actions Remaining Open Since Previous Report:

Original lesson proposal: 1 new
Translation Reviews: 2 in progress
FR copy-editing chart (not sta

[2020-09-29 12:13] DanielAlvesLABDH commented on #1891
@acrymble merge of #1894 is done. Until the end of this week we will finish the reaming files of the Portuguese Team platform: authors.yml (@joanacvp), lessons-requests.md (@daniellesanchesDH), translator-guidelines.md (me), lesson-retirement-policy.md (me) and author-guidelines.md (@aracele and @josircg)

[2020-09-29 12:38] DanielAlvesLABDH commented on #1871
## Portuguese Team Report

By: @DanielAlvesLABDH
Date: 29 September 2020

**Substantive Actions Completed Since Previous Report**

- Onboarding for Joana Paulino and Danielle Sanches
- Chosing the PT ombudsperson (Luís Ferla from Unifesp, Brazil)

**Substantive Actions Remaining Open Since Previous Report**

- Translation of the PT platform (will finish this week)

**3-month focus**
- Uploading th

[2020-09-29 13:45] svmelton commented on #1871
## English Team Report

By: @svmelton
Date: 29 September 2020

**Substantive Actions Completed Since Previous Report**

- [1 lesson](https://github.com/programminghistorian/ph-submissions/issues/285) ready for copyedits
- [1 lesson](https://github.com/programminghistorian/ph-submissions/issues/278) ready for final editor's review
- Ian Milligan has joined as the English ombudsperson
- Marie-Christ

[2020-09-29 13:53] mariajoafana opened #1907 "Actions Arising - Project Team meeting 29/09/2020"
The following actions have arisen from the September 2020 Project Team Meeting

- [x]  @JoshuaGOB Onboarding of two more Portuguese-language editors
- [x]  @ZoeLeBlanc to complete Portuguese technical shadowing process
- [x]  @svmelton to tag all team when Python bugs are fixed or @walshbr will communicate if the tech team is able to make the fixes in the Spanish-language lessons
- [x] @jenniferis

[2020-09-29 14:07] drjwbaker commented on #1871
@rivaquiroga Are these related to https://github.com/programminghistorian/jekyll/issues/1867?

[2020-09-29 14:14] drjwbaker commented on #1737
On https://github.com/programminghistorian/jekyll/wiki/Technical-Tutorial-on-Setting-Up-a-New-Language#ask-drjwbaker-on-behalf-of-the-ltd-to-check-with-the-doi-provider-that-they-are-happy-provide-dois-for-a-new-publication-if-the-provider-cannot-supply-dois-the-new-publication-will-run-without-dois-until-the-ltd-finds-a-solution there is not much more to add than what it says, accept that - just

[2020-09-29 14:32] jenniferisasi opened #1908 "Update `feedback` page"
Rework the wording on all _feedback_ pages to make it clear what type of bugs can be reported (and fixed) and what type we cannot attend to.

https://programminghistorian.org/en/feedback

[2020-09-29 14:36] drjwbaker commented on #1908
I wonder how much the revision to https://programminghistorian.org/en/feedback could push readers to https://programminghistorian.org/en/author-guidelines, because we might encourage readers to see the "not bugs" mentioned by @acrymble @svmelton at https://github.com/programminghistorian/jekyll/issues/1871 as kernels of new articles. Just a thought. Happy to be ignored if MEs don't want it :)

[2020-09-29 14:37] jenniferisasi commented on #1908
No, @drjwbaker, thanks for bringing that idea up because it is a good one.

[2020-09-29 15:03] drjwbaker commented on #1871
This meeting format worked really well. Bravo @mariajoafana.

[2020-09-29 15:05] acrymble commented on #1704
This is now complete and approved by all.

[2020-09-29 15:05] #1704 closed, assigned to acrymble

[2020-09-29 15:09] rivaquiroga commented on #1871
Yes, @drjwbaker

[2020-09-29 15:26] mariajoafana opened #1909 "Optimize the use of GitHib tickets"
As we discussed in the meeting, we open several tickets in GitHub and they are not always as effective. The question is: which types of issues require always opening a ticket and which one can be discussed via email/slack?

[2020-09-29 16:08] #1868 closed, assigned to mariajoafana

[2020-09-29 21:00] jenniferisasi commented on #1909
Two that we agreed on:
- Anything that leads to an action
- Anything that is later a pull request
(some actions do not need a pull request, but all PR should go through a ticket)
- Onboarding for new members to keep track of the process
- Bugs reported / in process of fixing

[2020-09-30 07:32] #1871 closed, assigned to acrymble, walshbr, drjwbaker, svmelton, jenniferisasi, mariajoafana, JMParr, spapastamkou, rivaquiroga, DanielAlvesLABDH

[2020-10-01 07:26] acrymble commented on #1856
Update 1 Oct 2020 - this has shifted back to the ProgHist ltd team to do some budgeting.

[2020-10-03 11:51] DanielAlvesLABDH opened #1913 "Onboarding Checklist for Portuguese language publication editor: Jimmy Medeiros"
## This is an individual onboarding Editor checklist for Jimmy Medeiros (@JimmyMedeiros82). Bem-vindo, Jimmy!

---

## Welcome

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put together this information to help you get up to speed. It includes details of what we

[2020-10-04 08:04] acrymble commented on #1909
Suggest all tickets adopt "SMART" project management criteria:

    Specific – target a specific area for improvement.
    Measurable – quantify or at least suggest an indicator of progress.
    Assignable – specify who will do it.
    Realistic – state what results can realistically be achieved, given available resources.
    Time-related – specify when the result(s) can be achieved.

[2020-10-04 08:36] acrymble commented on #1837
Thanks to everyone for feedback. I've sent that on to team leaders responsible for specific goals connected to their team.

The ProgHist ltd team is now working towards their goals in the coming year.

[2020-10-04 08:36] #1837 closed, assigned to acrymble

[2020-10-05 17:40] JoshuaGOB commented on #1829
Shadowing assigned which closes this ticket.

[2020-10-05 17:40] #1829 closed, assigned to JoshuaGOB, DanielAlvesLABDH

[2020-10-05 17:41] JoshuaGOB commented on #1870
Shadowing assigned which closes this ticket

[2020-10-05 17:41] #1870 closed, assigned to JoshuaGOB, DanielAlvesLABDH

[2020-10-05 17:52] JoshuaGOB commented on #1913
Hello @JimmyMedeiros82 Welcome! Please feel free to send any questions you may have about the onboarding process. You should have received a couple of emails adding you to our different sites. You can accept these invitations as you go along with the **Technical** set of tasks of the onboarding.

[2020-10-06 00:09] HeidiMarieChamplin commented on #1876
34 easy fixes (maybe using a global replace) to solve ISSUE :
Bug Transforming Data for Reuse and Re-publication with XML and XSL #1876

You need about 34 NECESSARY additions of space between " and /> in instances of "/> especially in VALUE-OF commands on the following web page (and in the related .xsl and .xml files) :

https://programminghistorian.org/en/lessons/transforming-xml-with-xsl#choosin

[2020-10-06 01:04] JimmyMedeiros82 commented on #1913
Hello Joshua. Thank you for sending the emails. Let's start the onboard process.

Following the checklist: you already have a GitHub account (@ JimmyMedeiros82).

My skype account is jimmymedeiros_2. You can find me with the email jimmymedeiros@yahoo.com.br

And my gmail is jimmy.d.med@gmail.com

[2020-10-06 01:14] JimmyMedeiros82 commented on #1913
Hello Joshua and others friends,
I'm starting the onboard process!Excited that we are close to launching the Programming Historian em português. 
Best regards,Jimmy Medeiros

Enviado do Yahoo Mail no Android

  Em seg, 5 5e out 5e 2020 às 14:52, JoshuaOB<notifications@github.com> escreveu:

Hello @JimmyMedeiros82 Welcome! Please feel free to send any questions you may have about the onboarding pro

[2020-10-06 15:59] acrymble commented on #1908
I'd like to suggest that if we do continue to solicit feedback / suggested changes, that we be explicit that people need to reference changes they assert are incorrect. We often get people tell us something needs changed, and then it falls upon one of us to actually check if they're right. That research time is costly, so if we can cut down on it a bit it would be helpful. It also separates the "I

[2020-10-06 16:02] walshbr commented on #1908
Just a reminder that there is a little bit of stub text when you create a new issue -

===

If you are reporting a problem with a lesson, please try to provide us with the following information:

- The full title of the lesson
- The system you are using (Mac, Linux, Windows)
- Version numbers of the relevant software you are using
- The exact steps you took that caused the problem

If you'd like,

[2020-10-07 13:15] #1903 closed, assigned to jenniferisasi

[2020-10-07 13:19] #1873 closed, assigned to acrymble, svmelton

[2020-10-13 22:11] mariajoafana opened #1917 "November 23 2020 Project Team Zoom Call"
November 23 2020 , Time is 9:00 AM - Mexico, Colombia, Ottawa, Philadelphia, Boston; 11:00 AM Chile and Brasil (GMT-3); 2:00 PM - London; 3:00 PM - Paris and Berlin. @mariajoafana will be facilitating the call.

Zoom link:
https://uniandes-edu-co.zoom.us/j/85844610643?pwd=UWl0bitNK1BDWkxqZkhXc3Rjd241Zz09
Código de acceso: 429218

Working agenda in progress. The time and day will be scheduled withi

[2020-10-15 07:03] acrymble commented on #1876
@HeidiMarieChamplin can you please cite a source for this? I'm looking at the O'Reilly XSLT books and neither have this space you mention. Space is not generally widely important in XML. If you can provide evidence for your claim that will help us. Otherwise we have to research it ourselves, and we don't have the capacity to do that.

[2020-10-16 08:48] acrymble commented on #1876
@svmelton @rivaquiroga I'm using this lesson in class so I've had a chance to look into the problem.

The issue is that an update to security protocols in web browsers means tasks readers are asked to do with their web browsers will no longer work and never will again.

The author has suggested a workaround that involves bypassing the security warnings. I don't recommend this because I think it's

[2020-10-16 16:41] acrymble commented on #1872
@sferna109 I'm just uploading your bio (as promised via email). Are there any elements of this checklist that's still outstanding, or is this complete?

[2020-10-19 04:17] sferna109 commented on #1872
@acrymble thank you for taking care of this matter, this is now complete .

[2020-10-21 20:44] spapastamkou opened #1921 "PH-FR Planning October-December 2020"
Apologies for the late creation of this ticket.

### Call for FR editors
End of call: 30/10/2020

### French Copy-editing
Expected in December - 1- day team workshop with date to be defined

### Original Lesson Proposals
- [ ] Gérer et mettre en ligne une base de données avec Heurist (expected in December 2020) - editor: Sofia
- [x] Calibrer des datations obtenues par le radiocarbone avec R - edit

[2020-10-24 15:53] rivaquiroga commented on #1876
I totally agree.

Offering a non open access solution doesn't seem right to me. The licence is almost two minumun wages here.

Can we use our bug assesment service for developing this command line alternative?

[2020-10-25 08:41] acrymble commented on #1876
@rivaquiroga any reported bug that affects a Spanish lesson is up to you as ME to initiate using the bug assessment service. The details of how to do that are on the wiki https://github.com/programminghistorian/jekyll/wiki/Bug-Assessment and @drjwbaker can explain the financial process.

You can also delegate this to someone else on your team to take care of.

[2020-10-29 16:15] drjwbaker commented on #1917
sadly, I won't be able to make this one.

[2020-10-29 16:19] jenniferisasi commented on #1917
@mariajoafana looks like it will be 8AM in Mexico; I noticed cos it usually matches with US central time
![Screen Shot 2020-10-29 at 12 18 53 PM](https://user-images.githubusercontent.com/11022533/97601772-ea58f800-19e0-11eb-8aa2-2d9aa20b46c0.png)

[2020-10-30 21:28] #1883 closed, assigned to svmelton, fdlaramee

[2020-11-02 18:58] spapastamkou opened #1923 "Broken link in lesson: Applied Archival Downloading with Wget"
There is a broken link in the lesson entitled ["Applied Archival Downloading with Wget"](https://programminghistorian.org/en/lessons/applied-archival-downloading-with-wget).

Here follows the link, apparently result of a search in the db of the Canadian Archives:
[No. 14 Canadian General Hospital]: http://collectionscanada.gc.ca/pam_archives/index.php?fuseaction=genitem.displayItem&lang=eng&rec_nb

[2020-11-02 18:59] spapastamkou commented on #1923
![broken_link](https://user-images.githubusercontent.com/27706167/97907654-e3feaf00-1d45-11eb-8c1a-7b290df4f885.png)

[2020-11-02 19:12] walshbr commented on #1923
@spapastamkou that seems like a question for the author of the lesson.

[2020-11-02 19:41] spapastamkou commented on #1923
Right, I ping @ianmilligan1 in case he can help us find the author (Kellen Kurschinski)

[2020-11-03 15:34] ianmilligan1 commented on #1923
Ah, they've launched a new collection search. I can put a PR in to update the URL.

[2020-11-03 16:51] svmelton commented on #1876
Hi all,

@mariechristineb has had a chance to take a look and has this assessment:
[code]

So, there's some question about whether we are comfortable with the security risk. I would err on the side of "no," but that does make the fix more complicated. Based on the conversation here, I think it makes sense to ask our bug assessment service if we can develop a command line alternative. Any thoughts?

[2020-11-04 11:02] drjwbaker commented on #1917
I can now.

[2020-11-04 16:14] drjwbaker opened #1925 "2020 Programming Historian Deposit release"
I've just done this: https://zenodo.org/record/4244655

The next step is to update the 'Open Source' section of the 'About' page https://programminghistorian.org/en/about#open-source. Can someone please let me know if we are still holding back PRs for main pages? Or can I go ahead and update the EN/ES/FR pages? (I'm behind on the PT integration project, hence the question). Thanks!

[2020-11-04 16:29] acrymble commented on #1925
Yes you can do it. Just do it to the PT page too.

[2020-11-04 21:26] #1923 closed, assigned to spapastamkou

[2020-11-04 21:38] spapastamkou commented on #1923
it's ok now, thanks again @ianmilligan1.

[2020-11-06 10:47] drjwbaker commented on #1925
Thanks for confirming Adam.

[2020-11-06 10:47] #1925 closed, assigned to drjwbaker

[2020-11-06 17:18] ZoeLeBlanc commented on #1906
Alright gonna try this again for a second time! Sorry for not getting it scheduled last month but hoping we can get a meeting on the books before our team-wide one on the 23rd of November. If everyone could try to respond by Tuesday November 10 that would be very much appreciated 🙏

Doodle poll: https://doodle.com/poll/78uif72nr6q24gve

@programminghistorian/technical-team please fill out your pre

[2020-11-10 13:32] JimmyMedeiros82 opened #1930 "Correcting a detail of the preamble of the "Project Scholarship""
Hello, following the on-board! The preamble to the "Project Scholarship" page reads like this:

"The project team and members of the wider community are involved in a number of scholarly initiatives related to our work here at The Programming Historian. These include events, journal articles, reviews (of us by the community), and posters. If you are conducting academic research using this project

[2020-11-10 15:18] DanielAlvesLABDH commented on #1930
Welcome @JimmyMedeiros82 ! I think your proposal is fine. I agree with the correction to be made.

[2020-11-12 15:41] jenniferisasi commented on #1908
It has taken me a bit but here is my suggestion and I'll do the appropriate changes in the actual files once we comment:

**[We Appreciate Your Feedback](https://programminghistorian.org/en/feedback)**

Have you followed the instructions in a lesson meticulously and still run into an error?
Does a command or concept need a clearer explanation?
Thank you for taking the time to report a problem with

[2020-11-12 15:43] jenniferisasi commented on #1712
I see we covered this on the July 28th meeting but, has anyone taken the lead on adding this on the guidelines?

[2020-11-13 14:14] acrymble commented on #1856
This has hit a bit of a legal snag with regards to UK employment law. But I'm still working on alternative solutions.
We're also still fundraising at this stage so we aren't yet in a position to move ahead yet anyway.

[2020-11-13 14:29] jenniferisasi commented on #1856
Thanks for the update Adam, and too bad there are a few stones in the way.

[2020-11-16 10:08] drjwbaker commented on #1898
Minutes: https://github.com/programminghistorian/project-and-business-archive/blob/master/business/Board-of-Directors-Meetings/2020/11-2020/2020-11_ProgHistLtd-BoD.docx

[2020-11-16 10:13] drjwbaker commented on #1898
Minutes distributed to members.

[2020-11-16 10:13] #1898 closed, assigned to drjwbaker

[2020-11-17 21:32] svmelton opened #1932 "Better onboarding documentation"
Per my conversation with @walshbr & @hawc2, I'm opening a ticket to discuss better onboarding documentation for new editors.

[2020-11-17 21:44] svmelton commented on #1908
We do get people making PRs on occasion, but never option 3.

[2020-11-19 17:12] daniellesanchesDH opened #1933 "Revisão de "Proposta de tradução: Instalação e Introdução ao Python""
O Programming Historian em português recebeu a proposta sobre '**Instalação e Introdução ao Python**' do autor **@aracele** . Esta lição está agora em revisão por **@rsouza** e @bgmartins e pode ser lida em:

[](https://github.com/programminghistorian/ph-submissions/blob/gh-pages/lessons/portuguese/propostas/introducao-e-instalacao.md)

Eu (@daniellesanchesDH ) serei a editora no processo de revis

[2020-11-19 17:20] daniellesanchesDH commented on #1933
Revisão das Labels.

[2020-11-20 14:25] Gelmixy opened #1934 "Working-with-text-files python lesson"
I tried to write f.write('hello world') to a file but got an error I was trying to write a string to a binary, which didn't work. When I removed the 'b' from 'wb' I was able to write the text to the .txt file.

- The full title of the lesson: https://programminghistorian.org/en/lessons/working-with-text-files
- The system you are using: Windows
- Version numbers of the relevant software you are us

[2020-11-20 15:30] walshbr commented on #1934
Thanks for reporting this @Gelmixy - you're correct. This is a duplicate of #1777 (though it does overlap with #1885), which is currently being investigated by a hired bug fixer. You can check that other ticket for updates as we have them. I'll close this as it is a duplicate and we want to keep the conversation in one ticket on the issue if we can. But thank you for writing!

[2020-11-20 15:30] #1934 closed, assigned to nobody

[2020-11-22 14:44] spapastamkou commented on #1917
## FR Team Report

By: @spapastamkou
Date: 22 Novembrer 2020

---

**Actions Completed Since Previous Report:**

2 translated lessons published (Pandoc + Markdown; Jupyter Notebooks)
1 translation (out of a stock of 5) now under review
1 translation proposal (out of 2) now ready to come in (as mailed by the external translator)

**Actions Remaining Open Since Previous Report:**

FR Copy Editing Ch

[2020-11-22 15:20] jenniferisasi commented on #1917
## Communications Team Report

By: @jenniferisasi
Date: 22 Novembrer 2020

---

**Actions Completed Since Previous Report:**

- @acrymble stepped down from the Team Development Manager position to focus primarily on securing IPPs. @mariajoafana has agreed to take on the role, merging it with Project Manager at Large
- Published the 3rd Newsletter of the year #1903
- Tweeted weekly about/looking fo

[2020-11-22 15:27] jenniferisasi commented on #1908
Per @svmelton comment:

I'll do the appropriate changes in the actual files once we comment. It occurred to me that @spapastamkou @rivaquiroga and @DanielAlvesLABDH should also weight in on this.

**[We Appreciate Your Feedback](https://programminghistorian.org/en/feedback)**

Have you followed the instructions in a lesson meticulously and still run into an error?
Does a command or concept need a

[2020-11-22 16:12] spapastamkou commented on #1908
I am ok with the proposed changes. I just think we should keep the channel of directly e-mailing a ME open: I think mostly about beginners or anyone who for whatever reason could be uneasy with Github.

[2020-11-23 03:58] svmelton commented on #1917
## EN Team Report

By: @svmelton
Date: 22 November 2020

---

**Actions Completed Since Previous Report:**
- 1 [lesson at copyediting](https://github.com/programminghistorian/ph-submissions/issues/285)
- 1 [lesson in PR](https://github.com/programminghistorian/ph-submissions/issues/278)
- 1 [lesson awaiting author's edits](https://github.com/programminghistorian/ph-submissions/issues/301#issuecomm

[2020-11-23 08:19] DanielAlvesLABDH commented on #1913
Hello @JimmyMedeiros82 ! What is the status of your onboarding? Need any help?

[2020-11-23 08:33] DanielAlvesLABDH commented on #1917
## Portuguese Team Report

By: @DanielAlvesLABDH
Date: 23 November 2020

**Substantive Actions Completed Since Previous Report**

- Translation of the PT platform
- Round table to present and discuss the impact of the "Programming Historian in Portuguese" in the online event "I JORNADA NACIONAL DE HUMANIDADES DIGITAIS", organized by IBICT, Brazil (October 13th) - Available here: https://www.youtub

[2020-11-23 08:35] DanielAlvesLABDH commented on #1917
I will not be present on today's meeting because I have a PhD jury at the same hour

[2020-11-23 08:54] DanielAlvesLABDH commented on #1908
I agree with @spapastamkou that we should keep the email option.

[2020-11-23 09:17] acrymble commented on #1908
I suggest changing this to 'report a bug' and then have a definition of what we consider a 'bug', because I think that's where the confusion lies.

We have 'contact' information elsewhere.

[2020-11-23 10:22] drjwbaker opened #1936 "IPP 2021"
When we set up the IPP https://github.com/programminghistorian/jekyll/issues/1625 we said:

We have received our first query from an existing IPP about renewing for 2021 (*celebrate!*), and they are assuming the rate will stay the same. Before I go ahead and confirm this, I just wanted to check in with those most involved in IPP comms and fundraising (@acrymble @jenniferisasi @amsichani). I know @

[2020-11-23 12:23] walshbr commented on #1908
It might be worth linking to the bug tag in the issue tracker rather than just the issues in general, and then also encouraging people to look for related language in the bugs (though tbh that list might be expecting too much).

[2020-11-23 12:24] walshbr commented on #1917
I will not be there today.

[2020-11-23 13:03] rivaquiroga commented on #1917
## ES Team Report

By: @rivaquiroga
Date: 23 November 2020

**Actions Completed Since Previous Report:**
- Bug-Assesment: Jairo Melo was apointed as bug tester.
- Copy-Editing: This role will be covered by members of the ES team. Three members expressed their interest (VG, JAM, RQ); we will ask again at the beginning of 2021 (as some members are currently facing time constraint issues).
- Python w

[2020-11-23 13:10] acrymble commented on #1936
I think this should stay at the same levels.

[2020-11-23 13:17] acrymble commented on #1917
## ProgHist Team Report

By: @acrymble
Date: 23 November 2020

**Actions Completed Since Previous Report:**
- IPP Pages update (English) (https://programminghistorian.org/en/ipp)
- 2020-21 Goals Adopted
1) Phased end to volunteering on all 'services' provided to pubs (@amsichani)
2) Clearly defined project manager role to advertise (@acrymble)
3) 40 IPP memberes to provide sustainable income suppo

[2020-11-23 13:33] jenniferisasi commented on #1936
I agree with keeping the same rates.

Best,

El lun, 23 nov 2020 a las 8:10, Adam Crymble (<notifications@github.com>)
escribió:

--
*Jennifer Isasi, PhD*
Assistant Director of Digital Pedagogy & Scholarship and Director of the
DLA Research Initiative | College of Liberal Arts* | **The Pennsylvania
State University*
The Programming Historian en español <https://programminghistorian.org/es/>

[2020-11-23 13:53] amsichani commented on #1936
I also agree with keeping the same rates for 2021.

[2020-11-23 14:07] drjwbaker commented on #1936
Okay, I'll take that as a decision and close the ticket. Thanks for your input.

[2020-11-23 14:07] #1936 closed, assigned to drjwbaker

[2020-11-23 14:19] ZoeLeBlanc commented on #1917
# Technical Team Report

By: @ZoeLeBlanc

Date: 23 November 2020

Substantive Actions Remaining Open Since Previous Report:

- Complete Matt Lincoln's retirement with Cloudflare transfer #1761. Zoe got access to gmail inbox so now need to reach out to GMU.
- For updating guidelines on submitting lessons to PH-Submission we are beginning to implement as we were waiting on PT team to be fully setup

[2020-11-23 14:21] drjwbaker commented on #1933
@daniellesanchesDH @DanielAlvesLABDH  @JoshuaGOB Is this a ticket for the first PT article translation? If so, is this the right time for me to request that our DOI partner support the PT publication? (see discussion from https://github.com/programminghistorian/jekyll/issues/1802#issuecomment-687074997)

[2020-11-23 14:31] JoshuaGOB commented on #1930
Hi @JimmyMedeiros82 Please create a pull requests making the correction in the appropriate file. Se você precisar de ajuda com o processo específico para isso, você pode fazer perguntas no Github ou por e-mail.

[2020-11-23 14:38] JoshuaGOB commented on #1933
Hi @drjwbaker This is a good question that I'm following up in #1802 since I think this lesson should be in the ph-submissions repository instead of this one.

@daniellesanchesDH can you close this ticket and reopen it here https://github.com/programminghistorian/ph-submissions/issues

[2020-11-23 14:40] drjwbaker commented on #1932
A relevant historical discussion on shadowing https://github.com/programminghistorian/jekyll/issues/1149

And a second on a training 'event' https://github.com/programminghistorian/jekyll/issues/1056

[2020-11-23 14:48] drjwbaker commented on #1932
Discussion at https://github.com/programminghistorian/jekyll/issues/1917#issuecomment-731914136 seemingly drifted towards a one-time community/training event for new(ish) people on editing an article.

[2020-11-23 14:53] DanielAlvesLABDH commented on #1933
Hi @drjwbaker I think this is the right time to that request yes, although we have several lessons being translated so I can't say which will be the first. Is that important?

[2020-11-23 14:54] ZoeLeBlanc commented on #1932
Also maybe could add to this documentation when and how to contact tech team if you have small questions or want a an external review to make sure everything looks ok on the technical side (also coming from discussion in #1917 )?

[2020-11-23 15:00] ZoeLeBlanc opened #1938 "Add Last Tested Yaml To Lessons"
Originating from #1917 discussion with @acrymble and @svmelton about how to help bug testing process and also handling reporting of bugs.

Idea is to update lesson yaml to include last tested date field and tester name field so that we know how recently the lesson was reviewed for its technical content. (Might also need to think if we want to keep this field as a type of internal history... so als

[2020-11-23 15:00] JoshuaGOB commented on #1802
Hi @drjwbaker This has come up again and I think the question is about when the DOI request should happen. Would this be once we have a firm deadline for publication or after a set of lessons are in review? Are there any other factors?

[2020-11-23 15:00] drjwbaker commented on #1917
I'm struck by quite how many articles are in process at the moment across the 4 publications. Thanks so much to all the editorial team for continuing to work through these is such a challenging year for everyone.

[2020-11-23 15:08] ZoeLeBlanc commented on #1909
from discussion during #1917 going to see if @programminghistorian/technical-team  can help with producing analytics like this one which shows how long an issue is open on the Jekyll Repository (this one was created by me).
![chart](https://user-images.githubusercontent.com/8355129/99978205-a654db00-2d73-11eb-953d-b9361d5066fe.png)

[2020-11-23 15:20] #1907 closed, assigned to nobody

[2020-11-23 15:21] drjwbaker commented on #1802
I think there are 2 parts to this:

1) I need to ask our DOI provider if they are happy to supply a new set of DOIs
2) If yes, we need to create a new xml template for the PT publication https://github.com/programminghistorian/jekyll/wiki/How-to-Request-a-new-DOI and ensure that part of the process (as well as https://github.com/programminghistorian/jekyll/wiki/The-Programming-Historian-Digital-Ob

[2020-11-23 15:30] mariajoafana commented on #1056
I'm reopening this issue to continue the conversation about what does shadowing means and what workflows and support mechanisms we can put in place for our editors

[2020-11-23 15:32] mariajoafana opened #1940 "Actions Arising - Project Team meeting 23/11/2020"
The following actions have arisen from the November 2020 Project Team Meeting

- [x]  @ZoeLeBlanc and @mariajoafana to check on Ticket analytics to contribute to #1909
- [x]  @ZoeLeBlanc and Tech Team to advance on infrastructure review and assess @acrymble proposal of adding a YAML header with data that tracks when was the lesson last tested
- [x]  @svmelton and all teams to discuss in ticket #10

[2020-11-23 15:32] #1917 closed, assigned to nobody

[2020-11-23 15:34] mariajoafana opened #1941 "January 25 2021 Project Team Zoom Call"
January 25 2020 , Time is 8:00 AM Mexico, 9:00 AM - Colombia, Ottawa, Philadelphia, Boston; 11:00 AM Chile and Brasil (GMT-3); 2:00 PM - London; 3:00 PM - Paris and Portugal. @mariajoafana will be facilitating the call.

Zoom link:
https://uniandes-edu-co.zoom.us/j/81909129045?pwd=RTRyL3I4OVRjWWxiMEtDZk1ITmRBZz09Código de acceso: JS31Rf

Working agenda in progress. Please add in this agenda under

[2020-11-23 15:37] ZoeLeBlanc commented on #1906
~~OKAY! Third time is a charm is a saying right?? So hoping that's true for our team!! Really want to meet before the holiday break so that we can check in and also plan some goals for 2021 🚀~~

~~Please try to respond by **November 27** with your availability 🙏~~

~~Doodle poll: https://doodle.com/poll/abem5asceudqtwd4~~

~~@programminghistorian/technical-team please fill out your preferences for

[2020-11-23 15:41] drjwbaker commented on #1933
No. Which will be first isn't important. This is about the principle that our DOI provider will support the PT publication. I shall write to them.

[2020-11-23 16:02] spapastamkou commented on #1056
Technically speaking (yaml or other), is it possible for one lesson to be published under more than one editors? In case one ME, for example, would like to make an editing, in real time, express workshop (one hour or two online) for one lesson that is already in the stock of non-yet-edited lessons; through guiding 1 or 2 new editors step by step and attributing them the role of editors of the less

[2020-11-26 13:48] daniellesanchesDH commented on #1933
@JoshuaGOB It is done. Thanks for that.

[2020-11-26 13:49] #1933 closed, assigned to daniellesanchesDH

[2020-11-27 01:23] rivaquiroga commented on #1876
Hi!
I found a workaround using python/R + the command line.

You just need to open the terminal in the same folder where your files are and run a web server:

`python3 -m http.server`

Then, you can open the file using `http://localhost:8000/SimplifiedSAP.xml` in your favorite browser.

If you prefer to use R, you need to have the `servr` package installed. The steps are almost the same. Open the

[2020-11-27 11:01] acrymble opened #1943 "Translate new Support us Pages"
The new 'Support us' pages are currently only available in English, as they were undergoing some field testing.

I would now like to translate the individual.md and supporters.md pages into the other three languages. I believe the ipp.md file needs more targeted strategies for each language that reflect the realities in different parts of the world, so I'll wait on that for now.

@jenniferisasi ca

[2020-11-30 09:09] drjwbaker commented on #1802
Update: our DOI provider is happy to support the PT publication and have been in correspondence over practicalities. Particular thanks to our alumni tech lead @mdlincoln for chipping in when cc'd by our DOI provider (not realising he had moved on). This is now with @ZoeLeBlanc to implement.

[2020-11-30 09:11] DanielAlvesLABDH commented on #1802
This is great. Many thanks!

[2020-11-30 09:13] drjwbaker commented on #1802
(note, I've archived the correspondence and added it to the DOI folder on the private repo https://github.com/programminghistorian/project-and-business-archive/tree/master/project/2020/2020-04_Sussex-DOI-MOU)

[2020-11-30 18:40] jenniferisasi opened #1945 "Python tutorials series banner in ES"
The Python tutorials in Spanish don't have the lesson series banner that the lessons in English have.

![Screen Shot 2020-11-30 at 1 39 08 PM](https://user-images.githubusercontent.com/11022533/100650097-6d87a980-3311-11eb-8ff8-e2d14a0829a5.png)

Why didn't we add it when we added the one in English @amsichani? I can't remember... I think the @programminghistorian/spanish-team should decide to hav

[2020-12-01 15:30] drjwbaker opened #1946 "ProgHist Ltd Board of Directors Meeting 11 February 2021"
## ProgHist Ltd Board of Directors Meeting 11 February 2021

Time is 9:00 AM - Mexico, Colombia, Ottawa, Philadelphia, Boston; 11:00 AM Chile and Brasil (GMT-3); 2:00 PM - London; 3:00 PM - Paris and Berlin. @drjwbaker will be facilitating the call.

Chair: @acrymble
Secretary: @drjwbaker
Members: @drjwbaker @svmelton @spapastamkou @amsichani @rivaquiroga
Minutes of the last meeting: [2020-11_Prog

[2020-12-01 15:31] drjwbaker commented on #1946
@acrymble Can you add the 'Goals' as agenda points please, and send me the last version of the business plan for adding to the archive. Thanks!

[2020-12-02 22:50] mariechristineb commented on #1921
@grandjeanmartin @spapastamkou si un.e d'entre vous veut se charger de l'édition, je peux faire la relecture d'une des traductions de leçon Python de @fdlaramee (ou vice-versa, je peux aussi me charger de l'édition)

[2020-12-03 08:19] drjwbaker commented on #1946
Zoom invite sent to directors.

[2020-12-03 16:51] jenniferisasi opened #1947 "Last Newsletter of 2020"
We are less than a month away from leaving this infamous, longest year ever 2020 behind and hoping 2021 will be better to us, so it is time for me to collect information about what we've accomplished despite the circumstances and publish it in newsletter form. I want to do it a celebration of the entire year instead of only the three last months, a recap, with some data and vizs.

In this issue I

[2020-12-04 15:22] walshbr commented on #1932
In #1906 we discussed also expanding the technical contributions section to include things like…

- how to contact the technical team
- frequently asked questions
- basic troubleshooting advice
- common errors and how to approach them
- link to the tech team slack

Sounds like @ZoeLeBlanc will take a first pass at that portion.

[2020-12-04 15:46] walshbr commented on #1906
Notes / Actionables -

- #1844 - other tech team people will give feedback on the wording there.
- We will look at a slack integration for ph-submissions to get notifications for the errors.
- A new ticket for examining the metadata templates for new lessons.
- @amsichani will think further about #1938

[2020-12-04 16:09] walshbr commented on #1945
@jenniferisasi @amsichani. Was just looking at this at the end of the tech call - I think it might be in part because the Spanish lessons don't seem to have the "sequence: X" metadata field, which is what the template uses to see if it should include the sequence information. It looks like it's already translated, right? So I think you just need to add the sequence numbering for the lessons. The b

[2020-12-04 16:20] amsichani commented on #1945
I somehow knew that this ticket/job (https://github.com/programminghistorian/jekyll/issues/1767 // https://github.com/programminghistorian/jekyll/issues/1525) was never going to end...I will have a closer look at it in the coming days. Thanks @jenniferisasi for the heads up!

[2020-12-04 16:23] ZoeLeBlanc commented on #1906
Adding a few more notes here (mostly so I don't forget anything):
 - @ZoeLeBlanc will setup slack integration and will setup ticket for reviewing metadata fields in both lesson templates and editor guidelines for ph-submissions
- From new feature backlog, we'll be working on the low CSS contrast (potentially adding a dark mode) #1524. @ZoeLeBlanc will setup the ticket and goal is to start reviewin

[2020-12-04 16:25] #1906 closed, assigned to ZoeLeBlanc

[2020-12-04 18:40] walshbr commented on #1524
@ZoeLeBlanc I took an initial pass at this issue and pushed it to the contrast-mode branch. If you could pull it down and take a look I would appreciate it. Right now it's a button that sits in the nav bar (which is already too crowded to have something like this fit there, I think…

Some things I think I need thoughts on -

- Where should the button sit?
- Is it doing everything we want?
- How do

[2020-12-04 18:47] acrymble commented on #1524
@walshbr does the last item mean a cookie or similar? If so we have to add it to our privacy policy.

[2020-12-04 18:48] walshbr commented on #1524
I don't actually know the distinction to be able to say @acrymble. @ZoeLeBlanc would probably know? We can also disable that.

[2020-12-04 19:32] jenniferisasi commented on #1945
Thanks @walshbr for checking on that! I had not had time to look at it other than opening the ticket while I am writing a paper on the translations and wanted to *not* forget. If it's a metadata issue it should be easy to fix, which is good news @amsichani

[2020-12-04 19:45] jenniferisasi commented on #1943
@acrymble I have had a packed agenda this week and next week won't be easy either. Do you mind if we start working on the documents as a PR here for now? Do the split and styling at least, make sure it works in all languages (I mean the menu).

For the IPP targeted strategies we would need to meet/email with each managing editor, I think, or at least the French and Portuguese ones, or maybe global

[2020-12-05 11:12] spapastamkou opened #1948 "Error in command in Python pip tutorial"
[Reviewing the FR translation](https://github.com/programminghistorian/ph-submissions/issues/320) of the lesson [Installing Python Modules with pip](https://programminghistorian.org/en/lessons/installing-python-modules-pip) established that the command provided in the[ Windows instructions part](https://programminghistorian.org/en/lessons/installing-python-modules-pip#windows-instructions) of the

[2020-12-05 11:14] spapastamkou commented on #1948
I also ping @DanielAlvesLABDH to be aware in case a PT translation is in progress.

[2020-12-05 11:17] DanielAlvesLABDH commented on #1948
Thank you @spapastamkou! Will inform @daniellesanchesDH and @josircg of this small correction to be incorporated in the PT version...

[2020-12-05 11:20] spapastamkou commented on #1921
@programminghistorian/french-team @mariechristineb Il m'est actuellement impossible de prendre en charge un suivi éditorial de plus, sachant que je suis en train de finir celui d'une traduction et j'attaque par la suite la première leçon originale qui a été déposée cette semaine. Je peux vous aider de le mettre en place si toi et @grandjeanmartin vous répartissez les rôles entre vous (ou aider à r

[2020-12-05 17:06] jenniferisasi commented on #1945
I am going to add the 'sequence' metadata field in the YAML of the lessons and upload with a PR through GitHub Desktop on branch "python-sequence-spanish"

[2020-12-05 19:24] spapastamkou commented on #1945
Do all the lessons of the sequence have to be published before adding the banner? We have some published in FR, but are far from having them all (and we have no banner neither).

[2020-12-05 21:04] jenniferisasi commented on #1945
Mmm I don't know what will happen if it needs to "skip a number" ... as I understand it, the banner will "pop" once some lesson has this two fields added in the YAML metadata:

[code]

The banner is ready in FR and PT too in the snippets.

Do you want me to try with the lessons you have? I could always then undo the changes in the same PR.

(hope that is clear, but also [see PR 1949](https://githu

[2020-12-07 14:21] walshbr commented on #1945
There's also these two fields which are used I believe -

next: downloading-multiple-records-using-query-strings
previous: keywords-in-context-using-n-grams

Since the "sequence,"  "next," previous," and "series_total" numbers are all hard coded, you could theoretically skip lessons that don't exist yet…but that feels a bit confusing in that you would to document/remember that you're distorting th

[2020-12-07 15:09] spapastamkou commented on #1945
Thank you @jenniferisasi and @walshbr. It is perhaps better and simpler for everyone to wait until we have all these lessons published, to avoid any confusion for the team but also for readers. I note the issue and the PR, and we'll ask you for reviews - and/or previous advice:-) - once we get there.

[2020-12-07 19:02] jenniferisasi commented on #1945
Sounds like a good plan @spapastamkou, better for everyone and to avoid confusion in the long run.

[2020-12-07 22:45] mariechristineb commented on #1921
Ça m'irait de partager les tâches avec @grandjeanmartin pour celle-ci, puisqu'on y va avec une seule relecture, n'est-ce pas? Sinon je peux essayer de trouver des relecteurs, mais dans ce cas, je repousserais à janvier (et je te reviendrais à ce moment-là @spapastamkou pour des suggestions de contacts)

[2020-12-08 14:02] acrymble commented on #1943
I've made a new branch - support-translate

[2020-12-08 16:38] acrymble commented on #1943
@jenniferisasi I think we should do Spanish first, since you can do that one yourself. I've added new files to the "support-translate" branch:

/es/donaciones.md
/es/colaboradores.md

These have the English text for the corresponding pages pasted into them, and where I could, I've pasted over the Spanish text (where it was already the same as on the existing page).

I think the easiest thing to do

[2020-12-08 17:15] jenniferisasi commented on #1943
@acrymble yes that would work for me! Are you doing a PR with the changes? Otherwise I can open it from your changes (learning this now upon checking on the new branch) and go from there.

[2020-12-08 17:41] acrymble commented on #1943
No I haven't done a pull request yet.

[2020-12-09 20:43] walshbr commented on #1932
For the English team portion of this ticket, @svmelton how about we take the notes from the recent onboarding call, give the new editors a couple months of working on their lessons to see if they have any notes to add, add those notes, and then add them to the Wiki? Then we can reframe this ticket as being specifically about tech documentation as we close out our portion for the English team.

[2020-12-10 12:29] acrymble commented on #1943
I have translated (I think) the filenames for all of the files we will need. Keeping here for easy reference.

Each language now needs three pages linked to the _includes/menu.html:

* /en/ipp.md
* /en/individual.md
* /en/supporters.md

Spanish

* /es/pia.md
* /es/donaciones.md
* /es/colaboradores.md

French

* /fr/pi.md
* /fr/donations.md
* /fr/nos-soutiens

Portuguese

* /pt/ppi.md
* /pt/doacoes

[2020-12-10 21:49] walshbr commented on #1795
Just a note here that @jenniferisasi noticed a related issue while the tech team was discussing this issue. The ph-submissions repo is a bit of a mess - we have en and fr folders with lessons inside of them, but everything for en goes inside a lessons folder instead, and that same lessons folder contains different fr, pt, and es folders. So the structure is pretty confusing and disordered. We came

[2020-12-11 01:04] ZoeLeBlanc commented on #1524
Just pushed up a few tweaks to your branch. I tried to get night mode working with url parameters but it causes too many issues with in-lesson links (we would have to reload constantly). So instead I implemented this with sessionStorage, which does persist within a tab, but not between tabs or browser sessions (which localStorage does). If we decide to go forward with this, we'll definitely need t

[2020-12-11 15:54] drjwbaker commented on #1943
[Corporation for Digital Scholarship](https://digitalscholar.org/) has now joined the IPP!! I'm mindful that these pages are under review/translation, so how best to get a PR in that reflects this?

[2020-12-11 16:01] walshbr commented on #1524
I can look at the nav bar design. @acrymble and @ZoeLeBlanc can you confirm that the way we're doing this is allowed by our privacy policy first? Or that we could at least update our privacy to allow it.

Inferring night mode seems a little unnecessarily slick, personally. I dig the idea, but I'm not sure we need to worry about it.

[2020-12-11 17:00] acrymble commented on #1943
Thanks @drjwbaker. It's fine to update the various pages and we'll make sure the right ones get added as we translate. It may take us time but it's important to recognise these asap.

[2020-12-11 17:06] acrymble commented on #1524
Sorry @walshbr that's beyond my expertise. If it stores a cookie we need to update the privacy policy to describe what the cookie does (e.g. remembers your preference so you get the same contrast experience when you visit in future - or whatever). I think that can be updated at the very end after you have a solution you're happy with.

[2020-12-11 17:13] drjwbaker commented on #1943
Made a PR for EN. Added Es/FR/PT to https://github.com/programminghistorian/jekyll/tree/support-translate

[2020-12-11 17:15] walshbr commented on #1524
@acrymble I think my question (the piece that was directed to you at least) was more whether or not our privacy policy is bound by any kind UK legal restrictions (I was thinking of how we had to take a number of actions to try to comply with Plan S). Or whether the privacy policy is something we're wholly able to adjust as our practices change. It sounds like it might just be the latter? If we can

[2020-12-11 17:27] acrymble commented on #1524
@walshbr it's linked to GDPR, which is EU legislation on privacy and transparency of data collection. As of 31 December 2020, the UK will have 'taken back control' so I don't have any idea if the requirements will remain in force. But maybe it's best for us to err on the side of caution and assume so until we hear otherwise.

[2020-12-11 18:26] ZoeLeBlanc commented on #1524
I'm not a GDPR expert but I think in this case we aren't persisting any of the data in a database, nor are we even persisting it across browser sessions so essentially it would be almost impossible to do anything with the data in sessionStorage that would infringe on privacy beyond knowing a person's location... which is already a problem if you use a modern web browser or really any ip address 😅

[2020-12-11 19:32] walshbr commented on #1524
K - I'll take a look at the design aspects of this after break and try to see if I can get a viable version of it working.

[2020-12-11 20:20] ZoeLeBlanc commented on #1524
If you need any help, feel free to ping me @walshbr and thanks for taking this on 😄

[2020-12-12 13:54] amsichani opened #1951 "HTML bug in rendering lesson's MD source"
A bug with the HTML rendering of the MD sources has been reported  [#305](https://github.com/programminghistorian/ph-submissions/issues/305) , regarding numbered lists.

[2020-12-12 16:07] walshbr commented on #1951
@ZoeLeBlanc might have other suggestions, but FWIW my suspicion is that that author's version of Atom and GitHub preview is rendering markdown differently because there are different markdown parsers. We use kramdown, Github uses redcarpet (and since Atom is made by GitHub it probably uses the same one). Changing the markdown parser is probably not something we should do because that might have mu

[2020-12-14 00:13] jenniferisasi opened #1953 "Possible bug/obsolescence in Geoparsing English-Language Text with the Edinburgh Geoparser"
I am reporting this lesson for review of a possible bug or obsolescence:

- [Geoparsing English-Language Text with the Edinburgh Geoparser](https://programminghistorian.org/en/lessons/geoparsing-text-with-edinburgh)
- Using a MacBook Pro
- I followed all the steps in the lesson; the system doesn't process texts and create output files (@JoshuaGOB also tried it)

[2020-12-14 13:32] walshbr commented on #1953
What was the result it gave you? Was it just that it quietly failed and did nothing or was there an error message?

[2020-12-14 14:11] jenniferisasi commented on #1953
Sorry, I should know how to report bugs properly.

When I run the example in the lesson (text file 172172.txt in `in` folder), it works BUT I suspect it is because the output file is *already there* (you get it with the download). One doesn't notice anything, so to speak, except a javascript thing in the map later (that's another issue but not worried about it right now)

However, upon trying with

[2020-12-15 09:12] drjwbaker commented on #1943
Just added a new Patron level supporter to the relevant ES/FR/PT pages on the "support-translate" branch.

[2020-12-15 09:23] drjwbaker commented on #1827
Right. Finally making progress. I've been informed me the Editor-in-Chief of DOAJ to submit for all our publications, and "that these will be fast tracked for review". I can do this when I get a minute. @JoshuaGOB @DanielAlvesLABDH does the PT edition have an ISSN yet?

[2020-12-15 13:42] DanielAlvesLABDH commented on #1827
Hi @drjwbaker , we don't have an ISSN yet. Is up to the PT team to ask for it? If so I could start doing that. Regarding the general discussion (and sorry for not being involved earlier), my guess is that they will refuse again unless we can demonstrate that the lessons are research articles of some kind. And that is difficult because we don't do research in Humanities in our lessons, and we don't

[2020-12-15 13:52] drjwbaker commented on #1827
On the ISSN, @acrymble: this is a publisher responsibility https://github.com/programminghistorian/project-and-business-archive/blob/master/business/Service-Agreement/ProgHist%20Service%20Agreement%20w%20Existing%20Publications.docx Who within the Ltd team should take this?

On DOAJ, I'm more hopeful @DanielAlvesLABDH. We've had a long conversation with DOAJ over this, and I think they understand

[2020-12-15 13:53] JoshuaGOB commented on #1827
I’ve been reviewing the Brazilian center for ISSN and I can’t find any restrictions related to the journal being research oriented. https://bit.ly/2Wk1oRA I think we can provide the screenshots they’re requesting from what we have now. Would this work @DanielAlvesLABDH ?

[2020-12-15 13:54] DanielAlvesLABDH commented on #1947
Hi @jenniferisasi maybe you could include this information:
Round table to present and discuss the impact of the "Programming Historian in Portuguese" in the online event "I JORNADA NACIONAL DE HUMANIDADES DIGITAIS", organized by IBICT, Brazil (October 13th) - Available here: https://www.youtube.com/watch?v=bt-OaMW2Fr4

[2020-12-15 13:54] drjwbaker commented on #1827
I'm pretty sure getting an ISSN won't be a problem: EN/FR/ES all have them.

[2020-12-15 13:56] DanielAlvesLABDH commented on #1827
Yes, my approach was not so positive. Thanks for all your work on this @drjwbaker and all the team

[2020-12-15 13:58] walshbr commented on #1947
In case you wanted to include it, I'm giving a presentation for MLA 2020 on a panel called "Perspectives on Digital Publishing" with the Manifold, Fembot Collective, Debates in DH, and USLDH folks. My talk is "The Programming Historian and Editorial Process in Digital Publishing."

[2020-12-15 14:00] DanielAlvesLABDH commented on #1827
Thanks @JoshuaGOB! Taking into consideration what they are requesting I think we can't ask for the ISSN before we publish our first lessons and the PT version is online. We are trying to complete the first ones, but maybe only in January it will be possible.

[2020-12-15 14:03] JoshuaGOB commented on #1827
Hi @DanielAlvesLABDH Looking over the existing publication agreement, it suggests using the British Library for the ISSN and this center has less requirements. I’m preparing the form they request and I will forward it to you as complete as I can for your review.

[2020-12-15 14:06] walshbr commented on #1953
Cool! @svmelton this seems like a good candidate for the bug fixer pipeline, if we are still doing that.

[2020-12-15 15:19] drjwbaker commented on #1671
Note, I'm picking this up with our accountants West & Berry, and will resume work on this in February (at which point I'll reopen the ticket)

[2020-12-15 17:24] acrymble commented on #1947
@walshbr @DanielAlvesLABDH can you please add any talks to the /research pages? We need to keep a record for future reference.

[2020-12-15 18:23] quinnanya opened #1955 "Mac Catalina bug for "Building a static website with Jekyll and GitHub Pages""
I love the "Building a static website with Jekyll and GitHub Pages" tutorial and have it bookmarked in my toolbar for easy reference! Today I tried to follow the instructions on a new Mac laptop running Catalina, and ran into permissions problems that couldn't be solved with any of the tips. What worked for me was, after brew install ruby, running export GEM_HOME="$HOME/.gem". Thought I'd pass it

[2020-12-15 19:08] amsichani opened #1956 "Anna-Maria's maternity leave checklist"
As I am now slowly preparing for my maternity leave (late Feb - June 2021) :rainbow: :rainbow: :rainbow: , below is a checklist of my pending tickets / tasks (plz, bear with me for any lateness):

**english team**

- [x] publish OCR and Machine Translation [#285](https://github.com/programminghistorian/ph-submissions/issues/285)
- [ ] finalise and publish Detecting Text Reuse with Passim [#305](ht

[2020-12-15 19:29] walshbr commented on #1947
Ah good call @acrymble. Will make a note to do that. I might blog the talk, so I'll wait to to add the information to the research page until I have that material online.

[2020-12-16 15:28] jenniferisasi opened #1958 "New items on the research page"
Need to add some new items on the research page of all languages:

- [x] We received notice that a new review of PH has been published in _Tidskrift för ABM_
- [x] Roundtable on PH in Brazil (which was fantastic!)

Will work on it on PR #1957

[2020-12-16 16:41] jenniferisasi commented on #1958
Done!

[2020-12-16 16:41] #1958 closed, assigned to jenniferisasi

[2020-12-17 13:05] rivaquiroga commented on #1955
@JoshuaGOB, what do you think about adding this suggestion to the translation you are editing?

[2020-12-18 19:45] jenniferisasi opened #1960 "Add notice about vacation in banner"
I am going to add a note on our Winter/Summer vacation closure on the donations banner for two weeks. This will, hopefully, help with response expectations from readers who might contact us with proposals or about bugs.

[2020-12-19 00:56] #1960 closed, assigned to jenniferisasi

[2020-12-20 09:42] spapastamkou commented on #1947
@jenniferisasi
1) I prepared some words in French for the departure of François Dominic. Please adapt as you like and we can fix together for the final version.
"François Dominic Laramée quitte l'équipe du Programming Historian pour se consacrer à ses activités en journalisme technologique et politique, en science des données, en traduction et en enseignement. François Dominic a été un formidable

[2020-12-20 22:44] JoshuaGOB commented on #1955
Yes, Thank you @rivaquiroga and @quinnanya. I've informed the translators so they can incorporate the fix into their lesson. I couldn't replicate the error until I remembered that RVM is handling Ruby on my computer. That happened because of a tutorial on Jekyll from @elotroalex. Could be a more sustainable way of doing the lesson's tasks?

[2020-12-21 13:47] walshbr commented on #1955
FWIW @JoshuaGOB - RVM got completely wrecked on my machine when I upgraded to a more recent OS. It was basically unusable, but rbenv turned out to be much more reliable. I had used RVM for years. Seems like the bugtesting person might be able to make a recommendation about such things.

[2020-12-21 17:56] elotroalex commented on #1955
For what is worth, I still swear by RVM for working with any ruby based app. PyEnv for Python, and Volta/Node for JS. That's my story and I'm sticking to it.

[2020-12-21 17:58] quinnanya commented on #1955
I've never heard of RVM but would love to have it included in the lesson if someone could write it up!

[2020-12-21 18:00] elotroalex commented on #1955
It's in the docs for Ed. It changes how you run ruby apps. https://minicomp.github.io/ed/documentation/#installing-ed-robust

It allows you to have different environments for your apps. That way if something was working in 2018 you keep it with all those old dependencies and never update. In other words, for groups of projects that run with x setup, you have their own environment, and keep it stab

[2020-12-21 18:02] elotroalex commented on #1955
(it's also how I avoid typing "bundle exec jekyll serve", since a simple "jekyll serve" works if you set your workbench right)

[2020-12-21 18:03] quinnanya commented on #1955
Beautiful! Yeah, that sounds like it'd be great to include in this lesson.

[2020-12-22 13:41] walshbr commented on #1955
FWIW, RVM broke pretty spectacularly for me when I switched to a newer version of Mojave? But I also think it wasn't a big upgrade - it was like Mojave 1.515 to 1.516 that happened automatically overnight, when suddenly Mac changed all their SSL settings. So I'd be interested to know if it worked for Catalina -  it was great when I used it. I had been using RVM for years and suddenly it was an SSL

[2021-01-04 21:19] DanielAlvesLABDH commented on #1802
Hi @drjwbaker and @JoshuaGOB , wishing you a Great New Year! Getting back to this issue since we are closing our first lesson (translated) during this week, and we are ready to put the PT version online. Also catching up from the email "ISSN form for PT team". Do you need any information from our side? Do I need to do anything? Thanks in advance!

[2021-01-05 07:53] spapastamkou opened #1967 "FDL, Victor and Antonio leaving the team technical details"
This issue is now modified to organize @fdlaramee, @arojascastro and @vgayolrs 's departure from the team.

- [x] Remove Google Groups access (@jenniferisasi)
- [x] Remove Google Analytics access (@acrymble)
- [x] Remove Github Jekyll access (@ZoeLeBlanc)
- [x] Remove from ProgHist Ltd register of members (@drjwbaker)
- [x] Remove Twitter access (@jenniferisasi)
- [x] Change team: true to team: fa

[2021-01-05 08:09] acrymble commented on #1967
The checklist is on the wiki: https://github.com/programminghistorian/jekyll/wiki/Admin-when-team-members-step-down

[2021-01-05 08:27] spapastamkou commented on #1967
Thank you @acrymble. I pasted the correct list now - I can take up to update the files and check the open issues, unless you prefer otherwise (I put both our names in the task list).
All- to be clear, this is the checklist for @fdlaramee stepping down from the team; in case we use this issue for @arojascastro, I will add his name in the title and we'll make a PR for both. Thank you.

[2021-01-05 11:50] drjwbaker commented on #1802
Happy new year to you as well. I've replied to the email thread on the ISSN. I think it is ready to go with the changes I suggested 17 December.

[2021-01-05 11:50] drjwbaker commented on #1802
Then @ZoeLeBlanc needs to work on the mechanism for the PT team to request DOIs.

[2021-01-05 13:00] rivaquiroga commented on #1967
@spapastamkou, sounds a good idea to add both @arojascastro and @vgayolrs to this PR.

[2021-01-05 15:28] jenniferisasi commented on #1967
I removed the 3 of them from Twitter and Google Groups.

[2021-01-05 16:17] spapastamkou commented on #1967
@rivaquiroga I checked in both repositories and did not find any assigned issues to Antonio and Victor so it seems ok to me.
@acrymble Is it possible to remove also Antonio and Victor from G Analytics if it is not already the case? Sorry for the confusion.

[2021-01-05 16:31] drjwbaker commented on #1967
Done my bit.

[2021-01-05 16:43] spapastamkou commented on #1967
I created a branch for the issue and did the changes on the file there; once we are done here, I'll raise the PR.

[2021-01-05 19:01] walshbr opened #1968 "Update submission guidelines to reflect reorganization of ph-submissions folder"
Breaking off part of #1795. The ph-submissions repo was a bit of a mess, with each team using their own pattern of organizing submitted lessons. I've emailed the managing directors of each language (should have just been a ticket from the go but alas) and gotten approval for this system going forward -

/fr/lecons/
/es/lecciones/
/en/lessons/
/pt/licoes/

Though the teams are free to make their ow

[2021-01-05 22:12] spapastamkou commented on #1968
If I get it right, it is rather /fr/lecons/ that ought to be in the list above to harmonize with the rest (/fr/traductions/ is for translations)

[2021-01-06 09:00] acrymble commented on #1967
I didn't hear that @vgayolrs was leaving. It would be great if this can be made known when people are stepping down. This isn't a nice way to hear about it.

[2021-01-06 10:16] acrymble commented on #1856
A plan for this has been submitted to the ProgHist ltd board for (hopefully) final approval.

[2021-01-06 14:10] walshbr commented on #1968
I wonder if it might be easiest just to say some version of "New lesson submissions should be placed in the appropriate subdirectory (original lessons or translations) within their corresponding language folder in the root of the ph-submissions repository."

[2021-01-07 01:25] rivaquiroga commented on #1967
@spapastamkou, that’s correct. No tasks assigned.
@acrymble, Victor announced his retirement to the Spanish team just a couple of weeks ago. I think we might expect his farewell email in the next couple of days. I agree that this is not the best way to hear about this kind of news.

[2021-01-07 15:43] #1947 closed, assigned to jenniferisasi

[2021-01-08 16:18] jenniferisasi commented on #1943
Proceeding to translate the Spanish files through the the support-translate branch

[2021-01-08 16:33] jenniferisasi commented on #1943
Oh @acrymble realized we are going to need to edit the Patreon banner/alert in the /donations page with new $ update.

[2021-01-08 19:39] walshbr opened #1972 "Translation Concordance Page Bugs"
While working on my MLA presentation for ProgHist I noticed that there are some issues with the translation concordance page - https://programminghistorian.org/translation-concordance. There are a bunch of blank rows, some pages are showing up in Spanish under the English column, and we'll want to make sure PT shows up there after that site launches. I've assigned myself for now, but if any other

[2021-01-08 19:41] walshbr commented on #1972
I haven't actually looked at the code, but if someone else got to it first I would look at how the loop is determining which pages under the miscellaneous pages section to look at.

[2021-01-10 12:59] acrymble commented on #1943
Thank you @jenniferisasi. And yes, I'll make sure to update those when we update Patreon.

I'll speak to @rivaquiroga later this week about the pia.md page for Spanish and then we can finish off this first language.

[2021-01-10 21:23] jenniferisasi commented on #1972
https://github.com/programminghistorian/jekyll/pull/1705#issuecomment-624320807

[2021-01-10 21:40] rivaquiroga commented on #1695
@programminghistorian/technical-team, the pages are already split in https://github.com/programminghistorian/jekyll/pull/1771.

[2021-01-11 15:37] svmelton commented on #1941
I will unfortunately be unable to attend this meeting, but I'll write a report closer to the date.

[2021-01-11 15:54] walshbr commented on #1972
I opened a PR - #1974 - for this. I think that it's actually an issue outside of what you and ML were talking about there, but let me know if I am wrong.

[2021-01-11 16:01] walshbr opened #1975 "Investigate Travis 400 No error codes on multiple twitter links"
Now that I'm back from break, I'll actually look into the dozens of 400 error codes we've been getting on travis builds. They seem to resolve when you re-run travis, but it's still weird.

[2021-01-11 16:48] walshbr commented on #1975
Like I mentioned on the slack, someone else on stack overflow thinks it might be rate limiting (sending too many requests too quickly) - https://stackoverflow.com/questions/7835067/twitter-api-always-saying-400-bad-request

[2021-01-11 16:53] walshbr commented on #1975
I'm not exactly sure reading the HTML proofer docs if there is a way to address this (adding a delay between each link call or something like that). @ZoeLeBlanc - could you take a  look since you know more about such things? If there's not, we might just accept that it will happen sometimes and have to deal with it until HTML proofer updates their code.
https://github.com/gjtorikian/html-proofer/i

[2021-01-11 17:11] jenniferisasi commented on #1975
And I am afraid I am helpless for this issue...other than confirming that it has happened to me every time last week the first time I run a PR.

[2021-01-11 17:24] #1972 closed, assigned to walshbr

[2021-01-11 18:04] ZoeLeBlanc commented on #1975
So just adding a few thoughts here from our Slack discussion.

At the moment, we think the multiple language builds (three, soon to be four) is the likely culprit, with Twitter rate limiting our requests because we are pinging the same URLs (about 62) three times in quick succession.

A few possible solutions:
- ignore all twitter links in our html proofer script in build.sh
- try and figure out h

[2021-01-11 18:58] #1975 closed, assigned to walshbr, jenniferisasi

[2021-01-11 19:11] #1695 closed, assigned to rivaquiroga

[2021-01-11 19:12] #1635 closed, assigned to mariajoafana, rivaquiroga

[2021-01-11 19:25] walshbr commented on #1951
Closing this as, based on the conversation in #305, it appears to have been resolved.

[2021-01-11 19:25] #1951 closed, assigned to amsichani

[2021-01-11 22:39] spapastamkou commented on #1967
@ZoeLeBlanc @mariajoafana I assigned you as reviewers for the PR so that I do not forget any task here:)

[2021-01-12 15:10] #1948 closed, assigned to spapastamkou

[2021-01-12 18:49] #1795 closed, assigned to walshbr

[2021-01-12 23:08] #1921 closed, assigned to grandjeanmartin, mariechristineb, spapastamkou

[2021-01-13 17:39] hcushiCompanies opened #1980 "https://github.com/adamschwartz/web.scraper.workers.dev/ not change ip"
https://github.com/adamschwartz/web.scraper.workers.dev/

Previously the application changes ip without detecting as a proxy, but now it no longer changes ip as before, it now appears to be specified as the specific geolocation

[2021-01-13 18:34] walshbr commented on #1980
Please let me know if I'm wrong, but this appears to be spam.

[2021-01-13 18:34] #1980 closed, assigned to nobody

[2021-01-13 20:48] walshbr commented on #1874
@svmelton or  @hawc2 - I think we adopted a version of this where we'll be group mentoring the new folks together, right? So that last checkbox is done and this can be closed?

[2021-01-13 20:49] walshbr commented on #1872
@sferna109 or @svmelton - I think we adopted a version of this where we'll be group mentoring the new folks together, right? So that last checkbox is done and this can be closed?

[2021-01-13 20:52] walshbr commented on #1761
I'll close this and open a  separate ticket specific to cloudflare

[2021-01-13 20:52] #1761 closed, assigned to ZoeLeBlanc

[2021-01-13 20:53] walshbr opened #1981 "Transfer cloudflare management"
Break off of #1761 - @ZoeLeBlanc needs to reach out to GMU to transfer cloudflare management off of Matt's account now that he's left the team.

[2021-01-13 20:57] walshbr commented on #1776
Oh whoops…since this was a separate issue from the one that was meant to take care of, I think we finalized #1844 without accounting for this text. So we'll need to open a fresh pull request for it, yes?

[2021-01-13 21:19] svmelton commented on #1874
Yup, thanks for checking!

[2021-01-13 21:19] #1874 closed, assigned to svmelton

[2021-01-13 21:19] #1872 closed, assigned to svmelton

[2021-01-13 22:12] rivaquiroga commented on #1776
@walshbr, you are right. I totally forgot about this too.

[2021-01-14 15:46] walshbr commented on #1776
Are you still good with this text @rivaquiroga?

2) Request DOI
Request a new DOI for the lesson following the steps described in the Wiki.
This part of the process should not take you more than one or two days, depending on the time difference you have with the UK (UTC +1).

I can throw it up on a PR if so.

[2021-01-14 15:58] spapastamkou commented on #1776
Add a precision that the build will initially fail until the editor will have added the DOI?

[2021-01-14 16:52] rivaquiroga commented on #1776
@spapastamkou, that's a great idea.

[2021-01-14 16:55] walshbr commented on #1776
2. Request DOI
You need to request a new DOI for the lesson following the steps described in the Wiki.
This part of the process should not take you more than one or two days, depending on the time difference you have with the UK (UTC +1). You can start next steps while you wait, but note that builds will initially fail until the DOI has been added to the lesson metadata.

How about that?

[2021-01-14 17:22] #1968 closed, assigned to walshbr

[2021-01-15 09:29] acrymble commented on #1940
Has any of this been done? It doesn't look like anyone is using github anymore to track progress.

[2021-01-15 12:17] drjwbaker commented on #1802
Is anyone on @programminghistorian/technical-team working on this?

[2021-01-15 12:43] ZoeLeBlanc commented on #1802
I'll tackle it this weekend @drjwbaker just had a few deadlines the last few weeks that had to take priority!

[2021-01-15 12:57] drjwbaker commented on #1802
Thanks for letting us know @ZoeLeBlanc. I just wasn't sure if it had been picked up. And please don't work over the weekend for my benefit! (though I do appreciate that the team work on PH things at times that suit them).

[2021-01-15 14:42] acrymble commented on #1943
@jenniferisasi I've spoken to Riva and we're going to first go with the existing page before having some conversations about tailoring IPP to Spanish audiences. So @jenniferisasi can you please help us to translate (or port over already translated bits) of the ipp.md page into a new pia.md page for Spanish? Then we can launch those new pages in Spanish. Let me know if you need any clarification on

[2021-01-15 14:56] drjwbaker commented on #1943
This was the issue I was looking for (and thought was closed) when I opened this PR https://github.com/programminghistorian/jekyll/pull/1982. Oops. If I need to move/park the PR, let me know.

[2021-01-15 15:44] acrymble commented on #1943
@drjwbaker not needed. We will make sure any new additions get added to newly translated pages/branches. You can ignore this branch.

[2021-01-15 16:58] walshbr opened #1983 "Add Brandon's MLA talk to the research page"
Just a note to myself to add my MLA talk, which I just blogged to our research page - http://walshbr.com/blog/the-programming-historian-and-editorial-process-in-digital-publishing/.

I also noticed just now that we don't have ML's blog post on how we do translation in Jekyll on the research page - https://matthewlincoln.net/2020/03/01/multilingual-jekyll.html. @acrymble - can I go ahead and add th

[2021-01-15 18:02] rivaquiroga opened #1984 "Software citation"
TL; DR: Our guidelines say nothing about citing the software used in a lesson. It should be a requirement.

---

Currently is at the discretion of the author, so we have lessons that cite some or all the software used, and some lessons that don't cite it at all. Citing software is a way of [recognizing its value](https://f1000research.com/articles/9-1257/v2
), so it might be a good idea to make it

[2021-01-15 20:07] amsichani commented on #1984
Great point @rivaquiroga ! Here is an interesting article from SSI - https://www.software.ac.uk/how-cite-software . Happy to assist on the 'short run' front and for the ' long run' do have in mind that we are planning to add a _testing_ field to yaml #1938 -- also related to #1633 . I will be able to update on this after my mat leave, May/June.

[2021-01-15 20:10] walshbr commented on #1984
Oh I meant to respond earlier but got distracted. This is a great idea. My only thought was that we might want some guidelines about what we're including on that citation - that link @amsichani might have some sense of this. But I was just thinking there is a big difference between

Python

and

Python v 3.7.4
Pandas v 1.0.3
Tested on a Mac 2017 running High Sierra

Etc. So we might just want to s

[2021-01-15 20:40] rivaquiroga commented on #1984
Thanks for the article, @amsichani! That one + https://f1000research.com/articles/9-1257/v2 can be used as a starting point to create our own guidelines.
@walshbr, yes, totally agree that we need to set a basic template that authors can easily use.

[2021-01-16 07:40] spapastamkou commented on #1940
We FR team met this week and made a pre-selection; just left the weekend to digest it before making up our minds.

[2021-01-16 11:20] drjwbaker commented on #1984
I was going to point to the very same article! Great minds etc.

[2021-01-18 00:12] ghost opened #1985 "Creating Mobile Augmented Reality Experiences in Unity/Windows 10/2018 unity"
Creating Mobile Augmented Reality Experiences in Unity/Windows 10/2018 unity

I FOLLOWED THE STEPS IN THE INSTRUCTIONS BUT WHEN I GO TO TEST MY SCENE THE IMAGE THAT IS SUPPOSED TO APPEAR AFTER YOU Scan the image target is already there behind it.
![Screenshot (1)](https://user-images.githubusercontent.com/77302007/104860130-d940c880-58f7-11eb-83b2-885b2ba9561c.png)
CN THE IMAGE target is already t

[2021-01-18 01:10] ZoeLeBlanc commented on #1941
Hi everyone!
Unfortunately I've come down with something quite serious and spent the weekend in the hospital (so far unknown what's causing it). Back home now but still feeling quite exhausted and ill, so going to miss our meeting tomorrow. Most of the tech team tasks I was planning to tackle this weekend so hoping to get to them once I feel better. Apologies for the delay and hope everyone else i

[2021-01-18 08:28] drjwbaker commented on #1941
Ugh. Take care of yourself @ZoeLeBlanc. Our collective well-being is the priority.

[2021-01-18 09:00] DanielAlvesLABDH commented on #1941
Get well soon @ZoeLeBlanc , that is the important thing!

[2021-01-18 11:04] amsichani commented on #1984
Ok. I ve worked on a draft section on software citation to be included in our basic [References](https://programminghistorian.org/en/author-guidelines#references) , Author Guidelines:

@walshbr not sure we need to provide the information on the tested environment - this is usually an info provided by the software package itself.

Do let me know how that sounds.

[2021-01-18 11:14] acrymble commented on #1984
Is this something that should be added to the copy editing guides?

[2021-01-18 11:40] amsichani commented on #1984
I think it should be added at the Author Guidelines , yes!

[2021-01-18 15:26] jenniferisasi commented on #1983
Don't want to step on @acrymble toes, but I think it is OK to add both items in the same PR; maybe just use a generic title or put both your last names in the title and then a note in the description.

[2021-01-18 15:31] jenniferisasi commented on #1943
I think I know what needs to be done. I am taking note to work on it this week.

[2021-01-18 20:33] jenniferisasi commented on #1943
@acrymble we now have our 3 pages ready to initiate a PR for someone else in the Spanish team to review.

[2021-01-19 10:33] acrymble opened #1986 "Team Leader - Terms & Selection Process"
I'd like to add this to discussion by the Project Team.

I propose that all 'Team Leader' roles on the 'Publisher' side of the project (Comms Lead, Tech Lead, Global Lead, ProgHist Chair) be term-limited roles with defined, but staggered terms (probably 3 years). And that the selection of new team leads be the remit of the Project Team.

This is in line with common practice in voluntary organizati

[2021-01-19 10:35] acrymble commented on #1983
Yes it's fine with me. I think the ML one looks like it best fits in the Media & Media Contributions section?

[2021-01-19 10:37] acrymble commented on #1941
@mariajoafana can we please have a clear agenda in advance?

[2021-01-19 11:41] rivaquiroga commented on #1776
Are we ready to open the pull request?

@DanielAlvesLABDH, in case you weren’t following this issue, we are going to update the Editor Guidelines. We are adding one step to the Managing Editor checklist.

[2021-01-19 11:45] DanielAlvesLABDH commented on #1776
Thanks @rivaquiroga! I will make the changes in the Portuguese file

[2021-01-19 13:20] walshbr commented on #1983
Can do!

[2021-01-20 10:12] acrymble commented on #1943
We now have live /es pages with the new format. Thank you @jenniferisasi and @rivaquiroga.

@walshbr I just noticed the twitter bot tweeting today a link to the old /support page in Spanish. I checked the wiki but I don't see any information on finding the spreadsheet so I can update it. Is this documented somewhere? Or if not, can you help me update the link so we get people going to the right pa

[2021-01-20 11:20] spapastamkou commented on #1943
The link for the bot is provided in the editors guidelines page on the
website.

[2021-01-20 11:46] acrymble opened #1988 "Middle IPP band criteria"
Having spoken to @rivaquiroga she's suggested we adopt a middle cost band for IPP to bridge the gap between the current £150 and £1000 costs. This may open up the option for more middle income countries to join. We're discussing an appropriate price point, but I also wanted to discuss appropriate criteria. At present we have ODA-eligible (countries eligible for foreign aid) and everyone else.

The

[2021-01-20 14:07] drjwbaker commented on #1988
My only thing is do team members want me to enforce this? E.g. if we have a middle band and a research group at a - say - Spanish institution wants to join as IPP but pleads poverty and want to join in middle ban (Spanish HE isn't as rich as UK HE, or that is my understanding) shall I just accept this?

I guess that I'm saying is, can we find a way to describe the middle band as a "we'd love to he

[2021-01-20 14:36] walshbr commented on #1943
Yeah it's view only to the public, but we can edit it because I've added us. I'll add it to the wiki though under technical guidance.

[2021-01-20 15:28] jenniferisasi commented on #1943
Thanks @acrymble for making that change in the bot upon changing the links.

[2021-01-20 15:51] walshbr commented on #1737
@JoshuaGOB am I right in thinking this can now be closed? I added the guide that AM put together to the table of contents on the right side of the wiki. Seems like PT is basically up and running - we just need to get the final DOI to launch them. And I updated the technical guidance for setting up a new language publication based on @drjwbaker's suggestion.

[2021-01-20 15:55] walshbr commented on #1776
Yeah sorry - I got distracted but can open the pull request shortly!

[2021-01-20 18:07] JoshuaGOB commented on #1737
Agreed, thank you all.

[2021-01-20 18:07] #1737 closed, assigned to amsichani

[2021-01-20 18:14] acrymble commented on #1988
@drjwbaker I think we have to take each one on as a conversation. Especially because in many parts of the world prices are always seen as negotiable. These are really just conversation starters. But the sentiment of what you describe in the 'we'd love to help' is really why we have suggested another level, since that's the feedback we got.

[2021-01-20 19:57] drjwbaker commented on #1988
Okay. Let's call it something like "Middle Income Countries" band and we can monitor the responses we get.

[2021-01-21 15:12] jenniferisasi commented on #1943
@acrymble do we want to keep this issue open until we get French and Portuguese translations too?

[2021-01-21 15:16] hawc2 commented on #1985
@ledds21 to make sure we debug this correctly, can you provide more information before we investigate? Where exactly in the tutorial is this error occurring?

When you say you're 'testing' the scene, do you mean at the stage of using it on a mobile device? In which case, which mobile device are you using?

[2021-01-21 17:01] acrymble commented on #1943
Let's do them all first.

@spapastamkou I think we should have a conversation next about French and IPP. Do you want to delegate that to someone on your team for us to approach? I know you're quite busy these days, and it doesn't need to be you.

[2021-01-21 19:34] spapastamkou commented on #1943
I ping @mariechristineb and @grandjeanmartin to help with the translation (thanks!)

I will see who could be available for the discussion FR/IPP and will let you know asap @acrymble

[2021-01-21 20:01] #1776 closed, assigned to walshbr, rivaquiroga

[2021-01-22 14:27] #1983 closed, assigned to walshbr

[2021-01-22 19:14] acrymble commented on #1941
## ProgHist Team Report

By: @acrymble
Date: 22 January 2021

** Updates Since Previous Report:**
- IPP Pages update (English & Spanish now live). Now working on French
- 2020-21 Goals now reporting bi-monthly on progress to ProgHist board
1) Phased end to volunteering on all 'services' provided to pubs (@amsichani)
    - no report yet. Some meetings in progress.
2) Clearly defined project manager

[2021-01-22 21:25] jenniferisasi commented on #1908
Ok, I am going to try to refine this again:

**[Report a bug](https://programminghistorian.org/en/feedback)** /change title and url

Have you followed the instructions in a lesson meticulously and still run into an error? Thank you for taking the time to report a problem with one of our lessons. Your assistance is crucial for helping us maintain the best possible lessons!

We define bugs as: "An e

[2021-01-22 21:43] jenniferisasi commented on #1941
## Comms Team Report

By: @jenniferisasi
Date: 22 January 2021

** Will have to leave the meeting by 9:30am (weekly office meeting)

*Mixed some with ProgHist Team Report

** Updates Since Previous Report:**
1) Final 2020 Newsletter published in new format: internally multilingual vs. 3 newsletters
  -  Changed prompted by a lack of readership overall; still doing it every 3 months to keep a list

[2021-01-24 22:19] rivaquiroga commented on #1941
## ES Team Report

By: @rivaquiroga
Date: 25 January 2021

**Updates Since Previous Report:**
- Antonio and Victor stepped down.
- Call for editors: we want to recruit three new editors. We will onboard them one at a time.
- New version of author and translator guidelines published.
- Exploring the idea of running a workshop for [Open Data Day](https://opendataday.org/) and applying to the mini-gr

[2021-01-25 01:34] svmelton commented on #1941
## EN Team Report

By: @svmelton
Date: 25 January 2021

**Updates Since Previous Report:**
- 2 new lessons published
- 2 lessons at copyediting
- 5 lessons under review
- 3 new submissions
- All editors now onboarded

**3-month focus:**
- Continue to refine on-boarding process
- Copy-edit first original lesson.

[2021-01-25 06:21] spapastamkou commented on #1941
## FR Team Report

Team Name  FR Editorial

By: @spapastamkou
Date: 25 January 2021

---

**Actions Completed Since Previous Report:**

1 translated lesson published
1 translation proposal in progress (external)
1 original lesson now under review

**Actions Remaining Open Since Previous Report:**

FR Copy Editing Chart
1 translation proposed by Sofia coupled to testing a translation tool for GitHu

[2021-01-25 11:25] DanielAlvesLABDH commented on #1941
## Portuguese Team Report

By: @DanielAlvesLABDH
Date: 25 January 2021

**Substantive Actions Completed Since Previous Report**

- Our first translated lesson is now complete and we are ready to go live!
- Concluded a paper about "Digital Humanities and teaching in the History Degree in Portugal", with a section about the Programming Historian. To be published on May 2021

**Substantive Actions Re

[2021-01-25 11:27] DanielAlvesLABDH commented on #1941
Dear all, unfortunately I cannot attend the meeting because my Department is discussing a reform in the curricula and we were all asked for a meeting starting today at 2 pm

[2021-01-25 12:25] ZoeLeBlanc opened #1995 "Updating Initial Lesson Metadata Guidelines"
From our Tech Team Meeting #1906 we discussed updating the initial lesson submission metadata to include far fewer fields so that we had fewer user errors and since most of those metadata fields aren't relevant until final submission of the lesson.

Our current template looks like:
[code]
and we would be proposing cutting this down to:
[code]
To do this we would need to update the lesson template

[2021-01-25 12:30] ZoeLeBlanc commented on #1802
Just heard from Tim at Sussex and he wants that crossref.xml to be live on the site prior to requesting DOIs. He writes that the workflow is after having that xml file:
[code]
So reading this it seems like we need the PT lesson to be live before I can request a DOI.

[2021-01-25 12:51] walshbr commented on #1802
If that's the case we'll need to update the guidelines and wiki I think @ZoeLeBlanc.

[2021-01-25 13:00] ZoeLeBlanc commented on #1802
So I spoke too soon about going live... looking at the build fail for PR #1991 and it looks like there's a lot of small syntax issues that is breaking the PT site.

Should I go ahead and fix those or should it be something the PT team handles? Happy to go ahead and do it since it's a lot of small errors but will definitely want their review to make sure I don't add any spelling errors

[2021-01-25 13:03] rivaquiroga commented on #1802
The workflow Tim describes is the one we've been using, and is the one described here: https://github.com/programminghistorian/jekyll/wiki/How-to-Request-a-new-DOI. The DOI is registered after the crossref.xml is live, but the first thing is to make the request.
So I'm not sure if we need to update the guidelines/wiki. We've been using them in the past few months without any issue.

[2021-01-25 13:06] mariajoafana commented on #1941
@DanielAlvesLABDH thanks for letting us know, although the meeting is 11am Brasil time. Hopefully you can make it.

[2021-01-25 13:23] walshbr commented on #1802
I was supposed to be the one dealing with PT @ZoeLeBlanc, and I'm happy to do that unless you wanted to take them. Lmk what you think. We can also split them up if there are a ton.

[2021-01-25 13:24] DanielAlvesLABDH commented on #1941
I'm in Portugal @mariajoafana ;-)

[2021-01-25 13:41] JMParr commented on #1941
### **Global Team Report**

By: @JMParr
Date: 25 January 2021

The Global Team held a quarterly meeting on 13 Jan to discuss its strategy for 2021. We set a series of goals:

**3 Months:**

- UCLDH 2020-21 seminar series “The Digital Humanities Long View”. To present a paper about PH and multilingual / regional DH needs. The team mentioned contacting the other MEs to address the issue and make the

[2021-01-25 13:49] mariajoafana commented on #1941
Yes! sorry

[2021-01-25 13:50] ZoeLeBlanc commented on #1941
# Technical Team Report

By: @ZoeLeBlanc

Date: 25 January 2021

Actions Completed Since Previous Report:

- Brandon completed #1795 with #1844 so we now have updated workflow for submitting lessons 🎉
- Closed Matt Lincoln's retirement #1761 (with exception of cloudflare issue, which hoping to tackle today)

Substantive Actions Remaining Open Since Previous Report:

- #1802 is almost done. We now

[2021-01-25 13:54] mariajoafana commented on #1941
I hope you feel better soon @ZoeLeBlanc

[2021-01-25 13:59] ZoeLeBlanc commented on #1941
Thanks @mariajoafana !! Funny story when I was feverish last week I thought we had our meeting last Monday so I'm actually fine now and I'll be on our call in a minute :)

[2021-01-25 14:08] ZoeLeBlanc commented on #1938
From our #1941 meeting, @rivaquiroga suggested having translators also include that they tested the lessons so we'll need to update the guidelines as well.

[2021-01-25 14:15] mariajoafana opened #1996 "Actions arising from January 2021 meeting"
- [x] @ZoeLeBlanc to create a repository to aggregate PH Github data

- [ ] @programminghistorian/technical-team to ask editors to add names of those (reviewers, translators) who tested the lesson and the most recent testing date

- [x] @programminghistorian/spanish-team is recruiting 3 new members

- [x] @programminghistorian/french-team is recruiting 5 members

- [x] @programminghistorian/french

[2021-01-25 14:21] walshbr commented on #1908
I think that's about as good as we'll be able to do! Thanks for this @jenniferisasi

[2021-01-25 14:22] drjwbaker commented on #1986
(but we can't force someone to hold to a 3 year commitment)

[2021-01-25 14:24] drjwbaker commented on #1986
We also need to frame this positively, that is ~"we think it takes time to get used to a role, so 3 years feels about right"

[2021-01-25 14:27] drjwbaker commented on #1986
From @acrymble in https://github.com/programminghistorian/jekyll/issues/1941: last job of a team leader in their term is handover the role or decide if the team needs to continue.

[2021-01-25 14:45] rivaquiroga commented on #1712
I'll be working in the next few days on adding this to the guidelines

[2021-01-25 14:47] ZoeLeBlanc commented on #1524
from our #1941 meeting we also need to check if we're conforming to best accessibility practices. @walshbr smartly pointed out checking if font awesome has docs to this effect.

[2021-01-25 14:51] #1867 closed, assigned to drjwbaker, svmelton, jenniferisasi, mariajoafana, JMParr, rivaquiroga, DanielAlvesLABDH

[2021-01-25 15:03] JoshuaGOB commented on #1891
I believe this is done. Can we close this ticket @DanielAlvesLABDH?

[2021-01-25 15:03] #1941 closed, assigned to nobody

[2021-01-25 15:15] acrymble commented on #1986
@spapastamkou has suggested a pre-agreed term should also apply to Managing Editors. I'd suggest also for the Project Manager at Large role @mariajoafana holds.

[2021-01-25 17:18] spapastamkou commented on #1986
@acrymble I think it should at least be noted it should be given a thought and a team may discuss this, 3 years passed, and decide whether someone is prolonged, if the person desires so, or else.
However, there is also the case that someone precisely joins the team for the role (I think it is @svmelton 's case), and it would not be fair to decide otherwise _a posteriori_ if the person has come in

[2021-01-25 17:55] #1940 closed, assigned to nobody

[2021-01-25 18:04] jenniferisasi commented on #1986
Something to consider: how will sabbaticals or leaves affect this "timeline"?

[2021-01-25 18:32] svmelton commented on #1986
That's a good point @jenniferisasi—I could very well see life events arising in the span of 3 years that would necessitate a sabbatical of a couple months or more.

[2021-01-25 19:21] rivaquiroga commented on #1712
Hi everyone,

Reading our Author Guidelines it seems that a good place to add a note about resource intensive lessons could be the section ["Write for a Global Audience"](https://programminghistorian.org/en/author-guidelines#write-for-a-global-audience
), as it's related to taking steps towards writing a lesson that is accessible for as many people as possible. We can add somthing like this:

Ques

[2021-01-25 19:49] spapastamkou commented on #1986
For MEs: @acrymble had once the idea that a ME can be assisted by another team member (smth like assistant ME). This is a good idea, as there would be someone familiar with the tasks who could possibly substitute a ME if needed.

[2021-01-25 20:00] rivaquiroga commented on #1662
As discussed in https://github.com/programminghistorian/jekyll/issues/1941, I'll be supporting the bug assesment/fixing process.
This one doesn't seem to be a bug in the terms defined in https://github.com/programminghistorian/jekyll/issues/1908#issuecomment-765692442, so I'll remove the label. It looks more like an issue with the clarity of the instructions given in the lesson.
If the author is n

[2021-01-26 07:52] spapastamkou commented on #1967
@mariajoafana I need some help here to make sure all tasks are finished and close this ticket (under your Project manager at large role). Thanks!

[2021-01-26 09:51] acrymble commented on #1986
For MEs, I believe our service agreement means that individual publications have the authority to choose their ME. So we can come up with transition guidelines, but I think the project team has to be careful not to interfere directly in who the ME is.

For parental leave, I think we want to be adopting best practices for this. Does anyone know what the advice is? I'd think the leave would be part

[2021-01-26 19:46] jenniferisasi commented on #1712
Thanks @rivaquiroga for working on this. I agree that the guidelines for global audiences is a good place to put a note. Because there are already a few banners before the ToC, I'd say it goes after it? It wouldn't be too many lessons anyways, but the top is already crowded.

[2021-01-27 21:12] rivaquiroga commented on #1777
Hi everyone!
@jairomelo, one of our bug assessors, confirmed that @JoshuaGOB proposal is the one that can fix the problem. He also checked the solution on Windows. Changes in the English and Spanish version are ready to merge: https://github.com/programminghistorian/jekyll/pull/1997.

@spapastamkou and @DanielAlvesLABDH: if this lesson ("Creating and Viewing HTML files with Python") is under trans

[2021-01-27 21:20] rivaquiroga commented on #1712
After the ToC, sounds great. I just updated the note to reflect the change.
@svmelton, @spapastamkou, @DanielAlvesLABDH, what do you think?  If you are ok with this we can move forward and open a PR.

[2021-01-27 21:27] DanielAlvesLABDH commented on #1712
Thanks for the note @rivaquiroga, for me it's fine

[2021-01-27 21:28] rivaquiroga commented on #1885
Hi everyone!
Just want to let you know that all the Python lessons will go through an assessment process by our bug assessor @jairomelo. He will check that all of them are correctly updated to Python 3 and fuctional in all OS.

[2021-01-27 21:30] walshbr commented on #1885
Oh thanks @rivaquiroga I just commented on #407, but you might have just answered it. I was just noting that the issue appears elsewhere as well. My only suggestion, then, is to make sure that the .zip files get updated as well - the code in there is just meant to collect the code for each lesson, so it has the "wb" issues. Thank you for doing this!

[2021-01-27 21:31] walshbr commented on #1885
might be worth just updating the zip files for the specific lessons @Jairomelo is working on as they go, so that you can merge in the complete fixes for particular lessons when they're done (as opposed to waiting and doing all zips at the end).

[2021-01-28 00:05] jenniferisasi commented on #1908
I want to reflect here for future reference that on the version in Spanish of this page, I added a note that the users can email us if they don't know English due to our GitHub repo (and hence issue tracker) only being available in English. I suggested FR and PT do the same.

[2021-01-28 00:10] jenniferisasi commented on #1988
For the sake of acknowledgement of different economic realties, can we say "middle income countries and/or institutions with limited resources"? Maybe not in the chart title but somewhere? I am thinking of institutions that would like to contribute but cannot pay the partnership fee even if they are in one of the richest countries; I think it could also be a way of starting the conversation @acrym

[2021-01-28 00:47] rivaquiroga commented on #1984
We have [another edition to the Author Guidelines](https://github.com/programminghistorian/jekyll/issues/1712) in process, so I will wait until that one is ready to add this change to the same PR.

[2021-01-28 08:02] DanielAlvesLABDH commented on #1777
@daniellesanchesDH por favor veja se a lição indicada pela Riva é uma das que está a ser traduzida. Se for avise os colegas para estarem atentos a estas alterações

[2021-01-28 13:08] DanielAlvesLABDH commented on #1891
Yes @JoshuaGOB it's done

[2021-01-28 13:13] DanielAlvesLABDH commented on #1930
Olá @JimmyMedeiros82! O @JoshuaGOB ou eu podemos ajudar na conclusão desta questão. Estamos quase a lançar o site, era bom ter este processo completo. Abraço

[2021-01-28 13:14] DanielAlvesLABDH commented on #1913
Olá @JimmyMedeiros82! O @JoshuaGOB ou eu podemos ajudar na conclusão deste processo. Abraço

[2021-01-28 14:49] #1891 closed, assigned to DanielAlvesLABDH

[2021-01-28 15:35] svmelton commented on #1712
Yes, this looks great!

[2021-01-28 17:25] jenniferisasi opened #2000 "Blogpost for PT launch"
Opening this issue for the announcement of the launch of PH in Portuguese.

@DanielAlvesLABDH and team is working on a blogpost, this issue is to record the process before opening a PR with the text.

Once I receive the blogpost, I will add and/or translate a couple of sentences at the end in English, Spanish and French to make it a little more accessible.

[2021-01-28 17:49] drjwbaker commented on #2000
If there is going to be a list of thank yous, can we please include a general thank you to our IPPs for their support (because they give us the confidence to grow), and especially to Sussex for extending their DOI support to the PT journal.

[2021-01-28 22:45] spapastamkou commented on #1967
It seems to me @vgayolrs and @fdlaramee have not been removed from Github Jekyll yet, can you please confirm @programminghistorian/technical-team ? Thanks a lot!

[2021-01-28 23:59] ZoeLeBlanc commented on #1967
Sorry for the delay and may have just screwed up a little bit. I removed both their organization access but should've I just made them outside collaborators? I didn't see a remove option specific to Jekyll so if someone on @programminghistorian/technical-team knows, I can either reinvent them back as outside collaborators or go ahead with removing organization access.

Thanks and sorry for the con

[2021-01-29 00:40] walshbr commented on #1967
"go ahead with removing organization access" - I think that is probably what the wiki had in mind FWIW

[2021-01-29 00:44] walshbr opened #2001 "Add Pt to RSS Feed"
Tasks

- [x] Add Pt to RSS Feed
- [x] Update wiki to make that part of adding a new language
- [ ] If possible, also refactor RSS file to make it happen automatically when we add a language

[2021-01-29 00:52] walshbr commented on #1802
Complete! New tickets are open for the odds and ends.

[2021-01-29 00:52] #1802 closed, assigned to ZoeLeBlanc

[2021-01-29 01:01] ZoeLeBlanc commented on #1967
Going to clarify this policy in the Wiki but as of now we're good to go with removing organizational access @spapastamkou

[2021-01-29 01:02] walshbr opened #2002 "Translation Concordance Bug - Pt Lesson Template"
Take a  look at why that file appears twice, under English and Pt.

<img width="958" alt="Screen Shot 2021-01-28 at 8 01 14 PM" src="https://user-images.githubusercontent.com/2334220/106217677-c190fc00-61a3-11eb-8c5f-a565ec227519.png">

[2021-01-29 01:07] jenniferisasi commented on #2002
1) they appear twice because the PT team has copied but not translated that file in pt/licoes-modelo.md or maybe it was misplaced.

2) the EN, ES and PT are not in the same row because those files are missing the YAML that will connect them with an "original" field.

[2021-01-29 06:50] spapastamkou commented on #1967
Thanks @ZoeLeBlanc and @walshbr !

[2021-01-29 07:33] DanielAlvesLABDH opened #2003 "Fixing small typos in several PT pages"
Making a final revision of the Programming Historian em português before it goes live!

[2021-01-29 11:52] JimmyMedeiros82 commented on #1913
Olá Daniel e Joshua,
Peço desculpas pela demora excessiva. Tive problemas pessoais que me atrapalharam nestes últimos dois meses. Vou concluir o onboarding! 
Ainda é possível?
Vou relembrar o que fazer e concluir o processo. 
Um abraço, Jimmy

Enviado do Yahoo Mail no Android

  Em qui, 28 28e jan 28e 2021 às 10:14, Daniel Alves<notifications@github.com> escreveu:

Olá @JimmyMedeiros82! O @JoshuaG

[2021-01-29 12:07] DanielAlvesLABDH commented on #1913
Carlo que siim Jimmy, conta connosco! Abraço

[2021-01-29 14:04] walshbr commented on #1827
@JoshuaGOB - were you able to get the ISSN for Pt? We're at the stage where we need that in order to finalize things with Sussex for DOIs.

[2021-01-29 14:09] DanielAlvesLABDH commented on #1827
@walshbr Joshua send me the form to ask for the ISSN, but from what I understood we can only ask that after we have our first lesson online. I have the form ready and will send the request by email as soon we go live

[2021-01-29 15:01] JoshuaGOB commented on #1827
Hi @DanielAlvesLABDH I think we are good to go. I already included the address for the “semi-live” version and double checked the info just now.

[2021-01-29 15:51] #2003 closed, assigned to DanielAlvesLABDH

[2021-01-29 15:56] walshbr commented on #2001
Oop ML already did 1 and 2. But I refactored 3. to make it so that, in the future, our feed displays:

10 most recent translations
10 most recent original lessons

For each language. And we shouldn't need to manually update the feed anymore. I'll update the wiki after I merge.

[2021-01-29 16:09] walshbr opened #2006 "Add PT to Twitter Bot"
@DanielAlvesLABDH - this is a placeholder ticket to document our need to add the Pt publication to the Twitter bot. We typically wait until the new language publication has ~7 lessons before doing so. It just works from a spreadsheet and tweets things randomly from it. So if you only have, say, two lessons, it would just cycle those lessons every few days forever. So we want some low threshold at

[2021-01-29 16:16] #2001 closed, assigned to walshbr

[2021-01-29 16:20] DanielAlvesLABDH commented on #2006
Right! Will keep an eye on this and let you know. The plan is to have 6 lessons in the next 3 to 6 months. Let's see if we can deliver

[2021-01-29 16:22] mdlincoln commented on #2000
omg @ZoeLeBlanc just told me the news. 🍾🍾🍾🍾🍾  congrats all!

[2021-01-29 16:24] rivaquiroga commented on #2000
@drjwbaker, your lesson is now the first one to be translated in all four languages!

![four-languages](https://user-images.githubusercontent.com/31421616/106300431-42e49f00-6235-11eb-93d6-b630a7c0260b.png)

[2021-01-29 16:27] DanielAlvesLABDH opened #2007 "Fix typo in sobre.md file"
Small error in the italic

[2021-01-29 16:30] jenniferisasi commented on #2006
And until you have enough lessons for the bot, what we do is tweet about them manually: 1) when you publish the lesson (the editor always tweets about it because the bot can take a while), and 2) any random day you want you can tweet or you can tell me to tweet.

[2021-01-29 18:12] #2007 closed, assigned to DanielAlvesLABDH

[2021-01-29 22:22] DanielAlvesLABDH commented on #2000
Here is the Portuguese version of the blog post:

![Portugal](https://user-images.githubusercontent.com/62759376/106333141-f3779080-627f-11eb-9691-434dd0bb2f7d.png)
É com uma enorme alegria que anunciamos hoje a publicação do _The Programming Historian em português_! São quatro as línguas agora disponíveis no projecto, reforçando a sua internacionalização, diversidade e alcance global. A versão em

[2021-01-29 22:30] DanielAlvesLABDH commented on #2000
What is the usual process for announcing the new language version? Should I wait for the blog post to go live or can I start sharing the "PH em português" on our own social networks? Once again thanks for all your help! Obrigado!

[2021-01-29 22:49] jenniferisasi commented on #2000
Obrigada @DanielAlvesLABDH! I am going to prepare the document right away and will open a PR with it for your revision. Shouldn't take me too long.

I would wait for us to publish the blogpost to announce it officially so that you have "something" to send along the website. That is why I haven't posted it on Twitter yet either, so that our users can also read about how _The Programming Historian e

[2021-01-29 22:52] DanielAlvesLABDH commented on #2000
Thank you! If you need any help with the translation @jenniferisasi, just let me know

[2021-01-30 10:15] acrymble commented on #1986
I think this issue may need to be broken into stages to be fully resolved.

1. We agree that the following roles are appointed (in future) by the Project Team: Global Lead, Comms Lead, Proghist Chair, Tech Lead, Project Manager at Large.
2. If we agree 1 above, each of the people holding those roles talk to their team about an appropriate and reasonable timeframe for the role, with 3 years the sug

[2021-01-30 11:18] #1967 closed, assigned to spapastamkou

[2021-01-31 16:34] #2000 closed, assigned to jenniferisasi, DanielAlvesLABDH

[2021-01-31 18:05] JimmyMedeiros82 commented on #1913
Oi Daniel,

De início, pelo que revi, falta finalizar a leitura do tópico "Making Technical Contributions". Fiz e vou refazer hoje.
Depois é preciso fazer um pull-request da minha bio e uma foto preto e branco. Isso eu faço direto com o botão de editar em /data/ph_authors.yml  ?

Por fim, serão detalhes mais simples, como ler as seções de contribuições " /contribute " e fazer as marcações de bookm

[2021-02-01 10:11] DanielAlvesLABDH opened #2012 "Add ISSN to PT version"
Add the ISSN number to the Portuguese pages

[2021-02-01 12:26] DanielAlvesLABDH opened #2014 "Update Lesson.Query.Form.txt to include PT"
Update Lesson.Query.Form.txt to include PT

[2021-02-01 13:17] #1777 closed, assigned to svmelton

[2021-02-01 17:03] ZoeLeBlanc opened #2016 "Determine future of CI for PH repos"
In November 2020, Travis CI (our current CI build operator) switched their pricing plan and we no longer had access to free CI through them. We've finally run out of credits on February 1 2021, and while we're hoping to get some access to free OSS credits through their support team, I want to start a ticket to determine if we need to move off of Travis CI to something that's free for our CI needs.

[2021-02-02 15:30] jenniferisasi commented on #2002
To begin the process here,
1) I want to ask @DanielAlvesLABDH if the PT team has or is planning on translating to Portuguese the page https://programminghistorian.org/pt/licoes-modelo.md

2) I will add YAML to the lesson-template files and go from there (see if additional changes are needed)

3) I realized in checking the author guidelines in ES doesn't match/direct to the same page when clicking

[2021-02-02 15:45] DanielAlvesLABDH commented on #2002
Hi @jenniferisasi! We are planning to translate that file. Next week we will have a team meeting to decide that and other things

[2021-02-02 17:09] spapastamkou opened #2017 "Onboarding Checklist for French language publication editor: Matthias Gille Levenson"
This is an individual onboarding Editor checklist for Matthias GILLE LEVENSON (@matgille). Sois le bienvenu, Matthias!

---

## Welcome

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put together this information to help you get up to speed. It includes details o

[2021-02-02 17:11] spapastamkou opened #2018 "Onboarding Checklist for French language publication editor: Gwenaëlle Patat"
This is an individual onboarding Editor checklist for Gwenaëlle Patat (@InesSalome). Sois la bienvenue, Gwen!

---

## Welcome

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put together this information to help you get up to speed. It includes details of what we

[2021-02-02 18:19] mariajoafana opened #2019 "March 24, 2021 Project Team Zoom Call"
March 24 2020 , Time is 8:00 AM Mexico, 9:00 AM - Colombia; 10:00AM Ottawa, Philadelphia, Boston; 11:00 AM Chile and Brasil (GMT-3); 2:00 PM - London and Portugal; 3:00 PM - Paris. @mariajoafana will be facilitating the call.

You can use this time converter to double-check the time of the meeting in your time zone: https://www.timeanddate.com/worldclock/

Zoom link:
 https://uniandes-edu-co.zoom.

[2021-02-02 23:08] jenniferisasi commented on #2002
Thanks @DanielAlvesLABDH, maybe let me know when you make a decision and we take it from there; maybe it is better for us to wait for you to translate the file so we don't do too many changes almost at the same time.

[2021-02-02 23:44] jenniferisasi opened #2020 "Front page redesign"
Now that we have 4 languages the front page for the project, the format of the front page no longer suitable; most new users will have to scroll down to realize that there are four journals/languages. I am making this a technical and communications issue because how the front page looks also sends a message to our users.

The technical team will take some time to try to have the journals on the fr

[2021-02-03 10:56] matgille commented on #2017
@JoshuaGOB Hi Joshua, I'm Matthias and this is my username: matgille ! Thanks !

[2021-02-03 17:12] ZoeLeBlanc commented on #2016
So some good news... it looks like we should be able to do everything build wise with Github Actions and remove our dependency on Travis completely 🎉 !

I've got github actions working for the search-index repo and eventually want to have it that any push into master triggers that repo as well. But first I need to get this repo working with github actions. This will probably break everything for a

[2021-02-04 09:20] acrymble commented on #2020
I raised this a long time ago, but I would also really encourage us to drop the "(The initial English version)" bit, and just start calling it the _Programming Historian in English_.

[2021-02-04 10:08] johnpilbeam commented on #1955
Same as @quinnanya this is a great tutorial, but it is not working for me on my current machine (Mac/M1/Big Sur). Everything is fine up to the Homebrew install, this is different on M1 based Macs ([https://docs.brew.sh/Installation#macos-requirements](https://docs.brew.sh/Installation#macos-requirements)).
I could not install Ruby & Ruby Gems/Jekyll according to the instructions, in fact ended up

[2021-02-04 16:01] JimmyMedeiros82 opened #2022 "PH_author profile creation"
Dear ones,

I will elaborate the content for my profile to be displayed on the PH page.

Best Regards,
Jimmy

[2021-02-04 16:26] JoshuaGOB commented on #2017
Hello @matgille and welcome!
Please send me your google activated email so I can add you to our group email. Thank you.

[2021-02-04 23:27] ZoeLeBlanc commented on #2016
Alrighty looks like we have a new system in place and are officially free of Travis 🍾 🥳 !

Before we close the issue here's some things we'll need to do to finalize the change:

- [x] Decide if we want to continue deploying Netlify through the service integration or on Github Actions (I'm leaning towards the former but want to double check with the @programminghistorian/technical-team )
	- [x] ~If

[2021-02-05 08:08] drjwbaker commented on #2016
Amazing job. I've added a sub-action above *if* you decide to ditch Netlify. I should add, I'm not suggesting you make a decision on grounds of cost. I merely want to ensure my bank details aren't lingering on a service we are no longer using :)

[2021-02-05 10:57] johnpilbeam opened #2028 "Mac M1 Big Sur issues for "Building a static website with Jekyll and GitHub Pages""
Same as @quinnanya this is a great tutorial, but it is not working for me on my current machine (Mac/M1/Big Sur). Everything is fine up to the Homebrew install, this is different on M1 based Macs ([https://docs.brew.sh/Installation#macos-requirements](https://docs.brew.sh/Installation#macos-requirements)).
I could not install Ruby & Ruby Gems/Jekyll according to the instructions, in fact ended up

[2021-02-05 13:01] walshbr commented on #2016
@ZoeLeBlanc - are you sure that deploying netlify in github actions doesn't require the bank account? It's still using netlify, after all, and it still spins up on their servers. Is it linked to our account on there at all? I assumed it was just using the same netlify account but poking it from a different direction.

[2021-02-05 13:02] walshbr commented on #2028
Thanks for the information! We are working on this.

[2021-02-05 13:03] walshbr commented on #1955
Thanks for the info - we are working on this. And FWIW I do think it's worth keeping these as separate issues since they are about different OS on Mac.

[2021-02-05 14:08] InesSalome commented on #2018
@JoshuaGOB

Hello Joshua, I am really honored to be part of the project ! This is my Github account : @InesSalome and my Google-activated email : gwenaelle.patat@gmail.com. You can add me to the PH Team when you find the time.

[2021-02-05 14:23] ZoeLeBlanc commented on #2016
@drjwbaker @walshbr sorry if that was confusing above, but yes we still need to pay for Netlify. In both approaches, everything is secure (if use Github Actions then we use repository secret tokens), but it really comes down to whether we prefer the UI of netlify or the UI of Github Actions. Also I think the netlify URLs are nicer if we deploy through their deploy-preview option, which might be av

[2021-02-05 14:27] drjwbaker commented on #2016
Thanks for explaining. No confusion here!

[2021-02-05 15:05] #2012 closed, assigned to DanielAlvesLABDH

[2021-02-05 15:51] JoshuaGOB commented on #2018
Hi, we have you set up here in Github, our Google group and analytics. Good luck and welcome to the team!

[2021-02-05 18:58] hawc2 opened #2030 "Could perma.cc help PH keep weblinks sustainable?"
I came across [perma.cc](https://perma.cc/) today and was wondering if it could be useful for the Programming Historian to ensure its weblinks are more 'permanent.'

After chatting with @walshbr and @ZoeLeBlanc I'm opening this issue so we could do some research and see if we should be using it instead of or in conjunction with the web archive

[2021-02-05 19:45] InesSalome commented on #2018
Thank you very much !

[2021-02-06 10:55] #2014 closed, assigned to DanielAlvesLABDH

[2021-02-08 07:44] sharonhoward opened #2031 "Naive Bayesian warning message"
I've just noticed that the Naive Bayesian lesson still has a "technical issues with the Old Bailey Online" warning message. I've been using the OB API in the last few days (in fact I was visiting the lesson to "borrow" some of the code) and as far as I know it was fully restored and works exactly as it did before the technical problems occurred. So the lesson *shouldn't* need any changes, though I

[2021-02-08 21:23] #2022 closed, assigned to JoshuaGOB, DanielAlvesLABDH

[2021-02-09 03:25] svmelton commented on #2031
Thanks, Sharon—we've had a couple of people reach out in the last two weeks via email about the lesson, so I think we should keep the warning by now. I'm hoping we can eventually remove the warning!

[2021-02-09 03:25] #2031 closed, assigned to svmelton

[2021-02-10 11:50] DanielAlvesLABDH commented on #2002
Hi @jenniferisasi, the team decided to translate the file. @joanacvp volunteered to the task.

[2021-02-11 12:07] mariechristineb commented on #1943
Update: I've been working on the translations, *Nos soutiens* is done, the other ones are work in progress.

FYI @acrymble / @jenniferisasi: on the English IPP page, under *Banded rates for ODA eligible countries*, the CAD amount is missing.

[2021-02-11 13:47] spapastamkou opened #2035 "FR editorial training workshop"
As we started to gradually onboard 5 new members in the FR team, an editorial workshop will be held on 27 March 2021. The thought was it would perhaps be more practical to organize a workshop for all, instead of individual shadowing, that can sometimes take long before happening - although support will be provided where needed afterwards.

I started organizing some "teaching" materials which I wil

[2021-02-11 15:17] drjwbaker commented on #1946
Actions arising from meeting today:

- [x] @drjwbaker  to circulate draft minutes to Directors
- [x] @drjwbaker  to circulate minutes to Members
- [x] @drjwbaker to contact @acrymble re Register of Members
- [x] @rivaquiroga @drjwbaker to open ticket to look at bug workflow, with view to transitioning to article maintenance.
- [x] @acrymble to contact PH Team regarding approval of paid role by Dir

[2021-02-11 17:55] acrymble commented on #1856
Happy to report that ProgHist's board has approved the plan, which I'll be sharing soon with the rest of the Programming Historian team. Thanks to everyone for your input over this long process!

[2021-02-13 17:53] ZoeLeBlanc commented on #2030
Matt Lincoln also helpfully sent this article on Robustifying Links To Combat Reference Rot https://journal.code4lib.org/articles/15509 (not tagging Matt so that we don't bug him but also wanna give him kudos).

Definitely think we should discuss this all at our next tech team meeting, which @hawc2 you're welcome to attend

[2021-02-15 14:20] drjwbaker opened #2036 "ProgHist Ltd Board of Directors Meeting 7 April 2021"
## ProgHist Ltd Board of Directors Meeting 7 April 2021

Time is [13:00 UTC](https://www.timeanddate.com/worldclock/fixedtime.html?iso=20210407T1300). @drjwbaker will be facilitating the call.

Chair: @acrymble
Secretary: @drjwbaker
Members: @drjwbaker @svmelton @spapastamkou @amsichani @rivaquiroga
Minutes of the last meeting: [2021-02_ProgHistLtd-BoD.docx](https://github.com/programminghistorian

[2021-02-17 10:22] joanacvp opened #2037 "Translation of "Programming Historian English Language Lesson Template""
@DanielAlvesLABDH and @jenniferisasi I will start translating the page "Programming Historian English Language Lesson Template" into Portuguese. Once I am finished with that task I will let you know.

[2021-02-17 11:00] acrymble commented on #1943
Thanks @mariechristineb

I see you've translated the names of organisations. Just to re-iterate an earlier conversation you may not have seen, we're going to keep organisation names in their local language. This is because it is too difficult to translate into 4 languages for the people (me) who have to maintain these pages.

On the second point, there are no countries that use CAD as their curren

[2021-02-17 11:03] acrymble commented on #1943
@spapastamkou I think we need your input on our IPP frequently asked questions section. It is written with my experience talking to English language universities (mostly Canada, US, UK). It may not be relevant to French speaking universities, so this shouldn't be translated directly:

## Frequently Asked Questions

1. What budgets do other institutions draw this contribution from?
 - Some of our p

[2021-02-17 15:29] DanielAlvesLABDH commented on #1913
Olá @JimmyMedeiros82 , vejo que já avançaste nas leituras e no resto do processo de onboarding. Acho que agora seria útil termos uma sessão para praticares um pouco mais o trabalho com o GitHub. Uma ideia que tive para isto era puderes fazer ou acompanhar a edição/correcção de alguns erros em vários ficheiros da plataforma PT. Quando puderes diz-me quais as tuas disponibilidades. Abraço

[2021-02-17 18:40] JimmyMedeiros82 commented on #1913
Oi @DanielAlvesLABDH estou à disposição para avançar nestas atividades.
Podemos começar amanhã?

Abraço

[2021-02-17 21:41] DanielAlvesLABDH commented on #1913
Podemos sim. Para mim o melhor horário é depois das 18 aqui em Lisboa. É possível?

[2021-02-17 22:20] JimmyMedeiros82 commented on #1913
Está ótimo, @DanielAlvesLABDH !

[2021-02-18 18:20] JimmyMedeiros82 opened #2039 "Correções de erros e alteração em alguns ficheiros da plataforma"
Corrigir erro no menu principal do Programming Historian em português e fazer alterações em alguns ficheiros com referência ao mediador independente.

[2021-02-19 01:18] #2039 closed, assigned to DanielAlvesLABDH, JimmyMedeiros82

[2021-02-19 09:54] joanacvp commented on #2037
The translation is finished and @aracele already reviewed it.

[2021-02-19 11:42] spapastamkou commented on #2017
@matgille As-tu besoin de voir ou revoir ensemble quelque-chose ici? Cela peut ne pas paraître très clair au début, et si c'est le cas, n'hésite pas à faire signe:-)

[2021-02-19 11:57] drjwbaker opened #2041 "IPP page duplication problem (incorrect info)"
I've noticed that both https://programminghistorian.org/en/support-us#institutional-partner-programme and https://programminghistorian.org/en/supporters list IPPs and supporters, with the former page out of date. I presume the details of this on the former can be removed? Or is - @jenniferisasi @acrymble - there something related to the roll out of IPP pages across languages that means the former

[2021-02-19 12:11] spapastamkou commented on #1943
@acrymble I believe the translations of the partners' names or at least some of them were already there, so if @mariechristineb has translated some, she surely followed the existing pattern. I do not remember how all this had started, but the idea was to make all this understandable to French speaking users, at least when the terms were already in use in French. Perhaps, as it is understandably di

[2021-02-19 13:05] mariechristineb commented on #1943
@acrymble for the banded rates, I hadn't thought of it like that, I saw it just as a list of conversion rates and thought it was odd that only one spot was missing -  but it totally makes sense that there wouldn't be conversion to or from CAD in this context

As for the translations, I do remember seeing that conversation now, but didn't have it in mind when translating, I was just following the p

[2021-02-19 13:35] acrymble commented on #2041
Yes these need to be forwarded to the new page to prevent 404s. I forgot. Thanks for catching.

[2021-02-19 14:11] spapastamkou commented on #1943
@acrymble For the FAQ section of the page, parts 2 and 3 can be translated as they are. But...

... but part 1 is the tricky one because I am afraid the rules to use budgets are different, at least in France. First of all, I do not know how things happen in Québec (where I suspect they are as you know them in the rest of Canada); or Belgium, Switzerland, and other French-speaking countries. I will

[2021-02-19 14:37] rivaquiroga commented on #2036
@drjwbaker, did you send the poll to define the date of this meeting? I'm not sure if it haven't been sent or if I managed to miss the email.

[2021-02-19 14:47] spapastamkou commented on #1943
@acrymble I wonder if we cannot ask openly for specific kinds of (in kind) support in the FR page. Copy editing of FR lessons could be one of them once we have the chart ready.

[2021-02-19 15:01] spapastamkou opened #2042 "FR Author Guidelines revision"
As per (now closed) #1636; the fact that we started receiving and preparing original lessons without yet having an editorial chart; and the previously expressed will to integrate at least parts of our [French Translation Documentation](https://github.com/programminghistorian/jekyll/wiki/French-Translation-Documentation), I open a ticket to help us (FR team) organize the revision of the [French pag

[2021-02-19 15:13] spapastamkou commented on #2035
I have a first draft document in French [here](https://github.com/spapastamkou/ph-fr/blob/main/workshop-editorial/materiaux-pedagogiques.md) subject of course to change in the coming days.

[2021-02-19 15:15] spapastamkou commented on #2042
I will progressively assign this ticket to all FR members who wil participate in this (or please assign it yourselves as you come in).

[2021-02-19 15:18] matgille opened #2043 "Adding bio to ph_authors"
As requested in issue [#2017](https://github.com/programminghistorian/jekyll/issues/2017),  I'm about to change ph_authors.yml to add my bio, and to add my avatar.

[2021-02-19 15:29] matgille commented on #2017
Merci ! Normalement j'ai bien envoyé mon courriel à Joshua, mais par voie de mail, je n'utiliserai mon adresse google que pour le groupe de PH et je préférerais qu'elle ne soit pas publique (si possible bien sûr) et que l'on me contacte via mes adresses universitaires.

@JoshuaGOB Hi Joshua, did you receive my email with my google username ?

[2021-02-19 15:30] spapastamkou commented on #2042
Nous allons travailler à partir de la branche [```consignes-auteurs-revision```](https://github.com/programminghistorian/jekyll/tree/consignes-auteurs-revision)

[2021-02-19 15:31] drjwbaker commented on #2041
Is there an action for me here?

[2021-02-19 15:37] acrymble commented on #2041
You can action it to that other ticket and I'll do it in the next update.

[2021-02-19 15:39] drjwbaker commented on #2041
Which ticket?

[2021-02-19 15:43] acrymble commented on #2041
#1943 I have to add some changes soon.

[2021-02-19 15:48] drjwbaker commented on #1943
- [ ] redirect from https://programminghistorian.org/en/support-us#institutional-partner-programme and https://programminghistorian.org/en/supporters to prevent 404s (closes #2041)

[2021-02-19 15:48] #2041 closed, assigned to drjwbaker

[2021-02-19 16:11] spapastamkou commented on #2042
Il y a quelques mois, la page [Author Guidelines](https://programminghistorian.org/en/author-guidelines) en EN a été révisée pour intégrer une charte éditoriale plus élaborée que par le passé. L'idée est de travailler maintenant sur la pages des [Consignes aux auteur(e)s](https://programminghistorian.org/fr/consignes-auteurs) en FR pour (1) l'harmoniser dans la mesure du possible avec celle en EN

[2021-02-19 16:15] matgille commented on #2017
J'espère faire les choses correctement !
Edit: une première série de tests a échoué du fait d'une erreur d'espaces de ma part dans `ph_authors.yml`. C'est réglé normalement.

[2021-02-19 16:19] matgille commented on #2017
Bon en fait probablement pas, j'en suis désolé. En faisant un copier-coller dans le fichier .yml, j'ai dû changer une espace quelque part...

[2021-02-19 17:30] InesSalome commented on #2042
Je trouve la partie sur l'adaptation de la charte éditoriale au contexte français particulièrement intéressante. Je suis partante pour travailler avec quelqu'un d'autre sur l'Etape 2/B si ça va à tout le monde !

[2021-02-19 17:58] spapastamkou commented on #2042
@InesSalome Tu peux choisir la ou les sous-parties qui t'intéressent le plus et je prends le reste moi-même (je n'ai pas de préférence particulière).

[2021-02-19 18:16] acrymble commented on #1856
I've circulated this to the full team so I'm closing this ticket.

[2021-02-19 18:16] #1856 closed, assigned to acrymble

[2021-02-19 18:21] InesSalome commented on #2042
@spapastamkou Il y a 8 sous-parties en tout, on en prend 4 chacune ? De mon côté je peux me charger de "Dates and Time", "Headings", "Lists" et "Capitalisation" si cela te convient.

[2021-02-19 19:57] DanielAlvesLABDH commented on #2037
Muito obrigado pela tradução @joanacvp e pela revisão @aracele e @rivaquiroga. Joana, pode fechar isto!
@jenniferisasi the translation is finished!

[2021-02-20 10:25] InesSalome opened #2045 "Adding bio to ph_authors"
As a new member, according to the issue [#2018](https://github.com/programminghistorian/jekyll/issues/2018), I had to add my bio to the file ph_authors.yml and my avatar to the folder /avatar.

[2021-02-21 09:55] acrymble commented on #1943
@spapastamkou thanks for that extra context on French universities. We do have 2 IPP supporters from French-speaking universities but none from ones in France, so maybe there are extra challenges, as you have noted. As I understand, (@drjwbaker can correct me), we can 'sell' these as 'subscriptions' just like Elsevier or Taylor Francis sell subscriptions. If that's the case, then maybe we can add

[2021-02-21 10:17] acrymble commented on #1943
Can someone on @programminghistorian/technical-team please show me how to add a re-direct to old pages? I tried looking at https://programminghistorian.org/en/lesson-retirement-policy but I can't seem to find the syntax. Our old support-us pages now have new URLs. So we need to use redirects in case someone finds them.

[2021-02-21 13:57] walshbr commented on #1943
I think you should be able to put in the metadata at the top of the new page:

redirect_from: /lessons/counting-frequencies-from-zotero-items

Where /lessons/counting-frequencies-from-zotero-items would be replaced by whatever the old URL would be. And you'll need to make sure nothing lives at that old location I think. If that doesn't work let me know what the old and new pages are and I can try

[2021-02-22 10:39] matgille commented on #2043
The PR has been merged, I'm closing this issue. = )

[2021-02-22 10:39] #2043 closed, assigned to spapastamkou, matgille

[2021-02-22 10:47] #2037 closed, assigned to jenniferisasi, joanacvp, DanielAlvesLABDH

[2021-02-22 12:34] JimmyMedeiros82 commented on #1913
Olá @DanielAlvesLABDH tem dois pontos em aberto no onboarding.
Posso marcar ambos como concluído ou teremos alguma formalidade adicional para cumprir estas obrigações?

[2021-02-22 12:36] JimmyMedeiros82 commented on #1930
Processo finalizado, correto? Posso fechar, @DanielAlvesLABDH ?

[2021-02-22 12:39] DanielAlvesLABDH commented on #1913
Hi @JoshuaGOB, since @JimmyMedeiros82 is working its way into the wonderful world of GitHub with me 😉, can we tick the option "partner you with an existing editor..." and close this ticket?

[2021-02-22 12:47] DanielAlvesLABDH commented on #1930
Não sei. Você chegou a fazer a alteração no ficheiro e a abrir o pull request?

[2021-02-22 13:05] JimmyMedeiros82 commented on #1930
I made the pull request now.
I thought I did that a few months ago

[2021-02-22 13:21] #1930 closed, assigned to walshbr, JoshuaGOB, DanielAlvesLABDH, JimmyMedeiros82

[2021-02-22 14:00] ZoeLeBlanc opened #2047 "March Technical Team Meeting: March 10 2020"
Thanks to everyone for filling out the doodle poll!

**March Tech Team Meeting scheduled for March 10 2020 10:00 AM - EST 🎉**
Times are 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET time.
Zoom link:  https://princeton.zoom.us/j/98074745251

Agenda:
- Updating Initial Lesson Metadata Guidelines #1995
- Add Last Tested Yaml To Lessons #1938
- Determine future of CI for

[2021-02-22 14:36] matgille opened #2048 "Homepage - Portuguese, French and Spanish translations of "Enter the Programming Historian""
I've been looking for a similar issue in the repository, without success. I hope I'm posting this message in the right place.

The French and Spanish translations of "Enter the Programming historian" do not sound very natural to me.

In French I would expect the preposition "dans" (`Entrez dans *The Programming Historian en français*`), as it is used in the online thesaurus "Trésor Informatisé de

[2021-02-22 15:31] drjwbaker opened #2049 "Programming Historian Annual General Meeting 25 May 2021"
May 25 2021, Time is [3:00 PM London](https://www.timeanddate.com/worldclock/fixedtime.html?iso=20210525T1400). @mariajoafana will be facilitating the call. Joint meeting with our Project Team Meeting: #2103

Zoom invitation:
https://universityofsussex.zoom.us/j/93462421184

This AGM is an annual celebration of the Programming Historian. It also contains the ProgHist Ltd AGM, as required by the ar

[2021-02-22 15:33] drjwbaker commented on #2049
@mariajoafana I'll set up a Zoom for this now and circulate via email. I think the time zone details are correct, but I'd appreciate you double-checking. On the agenda of the non-Ltd bits, this was @acrymble's idea, so maybe you could liaise?

[2021-02-22 15:35] drjwbaker commented on #2049
@acrymble This is probably also a good opportunity to check if the register of members https://github.com/programminghistorian/project-and-business-archive/tree/master/business/Register-of-Members/2021 is up to date.

[2021-02-22 15:37] DanielAlvesLABDH commented on #2049
Just a small correction, Lisbon is in the same time zone as London, not Paris 🙃

[2021-02-22 15:39] drjwbaker commented on #2049
Yeah, @DanielAlvesLABDH I thought that. Took time zones from https://github.com/programminghistorian/jekyll/issues/2019 which must also be wrong, right?

[2021-02-22 15:50] drjwbaker commented on #1946
@rivaquiroga: re the above..

.. do you need help to get this started?

[2021-02-22 17:28] spapastamkou commented on #2048
Both suggestions for the FR are fine with me. Let's cc the @programminghistorian/technical-team in case this involves them (or them guiding us) and @programminghistorian/spanish-team and @programminghistorian/portuguese-team and the rest of the @programminghistorian/french-team to see what they think.

[2021-02-22 17:31] DanielAlvesLABDH commented on #2048
If those changes are approved to fr and es, in the pt case would be "Entrar no The Programming..."

[2021-02-22 17:49] mariechristineb commented on #2048
@matgille good catch, I never noticed that before! I would vote for 'accéder à'

[2021-02-22 18:52] rivaquiroga commented on #2048
"acceder/entrar a" sounds good to me in Spanish. At least in my Spanish variety, "entrar en" + proper noun is not common.
I'm not sure about "acceso", because is a noun and in all the other languages we will be using a verb.

[2021-02-22 19:08] mariechristineb commented on #1943
@acrymble that was correct, indeed - I've now finished the translation on /fr/pi.md and partly translated /fr/donations.md

@programminghistorian/french-team 'donations' sounds really strange to my ears, perhaps a typically québécois hypersensitivity to perceived anglicisms, as I know the term is technically correct in French. I kept it because it was the one we were already using before, but I wo

[2021-02-22 22:37] jenniferisasi opened #2050 "Typo in Introduction to the Bash Command Line"
Introduction to the Bash Command Line
Opening this on from a Twitter message https://twitter.com/SmoggyCraig/status/1363639686338654209

"Using the Wget to download load and then open "War and Peace"  didn't work because the file was saved as X name and then you instruct to open with a different name."

Must be on [this section](https://programminghistorian.org/en/lessons/intro-to-bash#interacting

[2021-02-23 09:33] sharonhoward commented on #2031
No problem. If you want to pass on any details of technical issues the email is oldbailey@sheffield.ac.uk.

[2021-02-23 13:01] matgille commented on #2048
So maybe:
- "Entrar no *The Programming Historian em português*"
- "Accéder à *The Programming Historian en français*"
- @rivaquiroga  "Acceder a *The Programming Historian en español*" as there are different uses for "entrar" depending on the variety ?

The file that contains the texts of the homepage is  `_data/snippets.yml` . Am I correct ?

[2021-02-23 13:18] DanielAlvesLABDH commented on #2048
@matgille in the case of the PT version it could also be "Aceder ao The Programming Historian em português". Please use this instead. Thanks!

[2021-02-23 13:19] matgille commented on #2048
Yes, of course, sorry !

[2021-02-23 13:21] matgille commented on #2048
Ok !

[2021-02-23 22:03] spapastamkou commented on #2018
@acrymble Are you in charge of the invitation for membership at ProgHist Ltd. ? Did not ping you before! If you confirm, we are practically done with this ticket. Thanks!

[2021-02-24 01:44] JoshuaGOB commented on #1913
Hi @DanielAlvesLABDH, that seems perfect to me! Oficialmente bem-vindo @JimmyMedeiros82

[2021-02-24 01:44] #1913 closed, assigned to JoshuaGOB, joanacvp, DanielAlvesLABDH

[2021-02-24 08:04] acrymble commented on #2018
Yes @spapastamkou but can you please email me a list of everyone and their email addresses so I can send them all at once? I know there are a few and we don't want to miss anyone.

[2021-02-24 10:06] drjwbaker commented on #2036
- [x] date set
- [x] zoom circulated

[2021-02-24 17:11] JoshuaGOB commented on #2017
Hi @matgille I haven’t received yet. Could you please resend it to joshuaortizbaco[at]utexas.edu

[2021-02-24 17:33] spapastamkou commented on #2017
@matgille Otherwise, if you prefer not to have it exposed here, you can
send it to me and I will forward to Joshua and Adam. Thanks!

[2021-02-24 18:59] JimmyMedeiros82 commented on #1913
Thank you so much for all your help!

[2021-02-25 00:18] spapastamkou opened #2053 "Mathematical formulas visualisation problem"
There is a problem of visualizing some mathematical formulas in the[ preview](http://programminghistorian.github.io/ph-submissions/fr/lecons/calibration-radiocarbone-avec-r) of a FR lesson currently under review (issue [#329](https://github.com/programminghistorian/ph-submissions/issues/329) in ```ph-submissions```. Some were resolved in the beginning (by replacing ^ with html sup tag for superscr

[2021-02-25 00:27] rivaquiroga commented on #2053
@spapastamkou, if the lesson has formulas, you need to add the `mathjax: true` field to the YAML header.

[2021-02-25 00:29] rivaquiroga commented on #2053
Maybe we should add this to the Editor Guidelines. What do you think?

[2021-02-25 02:21] rivaquiroga commented on #1946
@drjwbaker, I'm working on this. I'll open the ticket on Friday with the first draft of a proposal :memo:

[2021-02-25 08:54] spapastamkou commented on #2053
That should be it and it is as simple as that, thank you @rivaquiroga !

[2021-02-25 09:09] spapastamkou commented on #2048
@matgille you got the good file, yes

[2021-02-25 10:09] spapastamkou commented on #2018
Let's do like this @acrymble. I do not yet have all the G-enabled addresses so I will send you the list by the end of the week. Thank you.

[2021-02-25 10:10] spapastamkou commented on #2018
Everything is fine here, so I close this ticket. Thank you all for your help!

[2021-02-25 10:10] #2018 closed, assigned to spapastamkou

[2021-02-25 11:10] josircg commented on #2048
Hi Daniel, "Aceder" is not a frequent word in Brazil. It's much better "Entrar no" ou "Entrar em"

[2021-02-25 11:16] DanielAlvesLABDH commented on #2048
Obrigado @josircg. In this case the Portuguese version will stay "Entrar no The Programming Historian em português"

[2021-02-25 16:41] mariajoafana commented on #2049
Yes, the time zone details are correct.

[2021-02-25 17:04] JoshuaGOB commented on #2017
Hi @matgille, you should be good to go. Just make sure to accept the invitation, it does expire, and say a quick hello to the rest of the team. Again, welcome!

[2021-02-25 17:07] jenniferisasi opened #2054 "1st Newsletter of 2021"
Opening this ticket to start to keep track of everything we are doing this first 3-months of 2021:

- [x] New editors in _PH en français_ (in French)

- [x] New editors in _PH em português_ (in Portuguese):

- [x] Open call for editors in _PH en español_ (in Spanish) https://programminghistorian.org/posts/convocatoria-editores-2021
- [x] Night mode now available (in English)

**Public outreach:**

[2021-02-26 12:44] #2017 closed, assigned to spapastamkou

[2021-02-26 14:36] spapastamkou commented on #2054
For info, Matt's blogpost on multilingual Jekyll is in DH Awards 2020/ Best Blog Post category: http://dhawards.org/dhawards2020/voting/

[2021-02-26 15:15] spapastamkou opened #2056 "Onboarding Checklist for French language publication editor: Antoine HENRY"
This is an individual onboarding Editor checklist for Antoine HENRY (@icolab). Sois le bienvenu, Antoine!

---

## Welcome

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put together this information to help you get up to speed. It includes details of what we wil

[2021-02-27 00:30] rivaquiroga opened #2058 "Lesson Maintenance Workflow"
As discussed in #1946, we need to reconsider our [bug assessment/fix workflow](https://github.com/programminghistorian/jekyll/wiki/Bug-Assessment). Currently, it depends almost entirely on actions by the Managing Editor, most of which are not really of editorial nature (e.g. agreeing the fee with the bug assessor). Because most of our lessons are in English, it is the ME of the English team who is

[2021-02-27 00:32] jenniferisasi commented on #2058
Before I read anything: Wow, what is this beautiful graphic???

[2021-02-28 09:52] InesSalome opened #2059 "Proposal of ajustments for the lesson "Building a static website with Jekyll and GitHub Pages""
As a recent member, I installed Jekyll with the application Github Desktop thanks to the lesson "Building a static website with Jekyll and GitHub Pages", which is very clear. Nevertheless, using a Mac, I encountered a few problems to install correctly Jekyll when following strictly the lesson, and I am maybe not the only one. I would like to add to the lesson the solutions I found to make it funct

[2021-02-28 12:01] walshbr commented on #2059
Thanks @InesSalome! I know this one is in the bug assessor pipeline, but I appreciate the suggestion for solutions. Point one seems fine to me. @ZoeLeBlanc - do you have thoughts on point two? My sense is that we want to avoid installing things with sudo bc the installation would raise security issues for the person's machine, right? Personally, more and more I think we should not explicitly tell

[2021-02-28 15:12] InesSalome commented on #2059
Ok, thanks for your opinion @walshbr. I understand the choice to avoid the use of sudo. The link to the docs seems to me a good solution.

[2021-03-01 13:11] drjwbaker commented on #2058
@rivaquiroga This is beautiful and really captures how we need to think about bugs as maintenance (the dotted line is great as well for thinking about PH/Ltd).

On Scenario 1, we can also include the option to pay for external help that is in Scenario 2. I guess this will depend very much on the person we hire, but I can envisage them *managing* the maintenance process just as much as *doing* the

[2021-03-02 10:52] matgille commented on #2048
Thanks @josircg and @DanielAlvesLABDH. So, to sum up, we would have :
- "Entrar no *The Programming Historian em português*" @DanielAlvesLABDH
- "Accéder à *The Programming Historian en français*" @spapastamkou
- "Acceder a *The Programming Historian en español*" @rivaquiroga

I will create a new branch and submit a PR when I have your agreement.

Matthias

[2021-03-02 10:54] DanielAlvesLABDH commented on #2048
Thanks @matgille that's correct for Portuguese

[2021-03-03 05:53] spapastamkou commented on #2048
This is fine, sure.

[2021-03-03 18:23] mariechristineb commented on #1943
@acrymble the translation is pretty much done, but it would be great if someone on the @programminghistorian/french-team could have a look to see if they have any thoughts on the vocabulary and the capitalization of 'programme de Partenariat institutionnel'. Or should this wait for the pull request, since these would be minor changes?

[2021-03-03 18:35] acrymble commented on #1943
Thank you so much @mariechristineb I really appreciate your help with this. Let's create a pull request to preview everything and we can ask for a review from one of the @programminghistorian/french-team .

I will make a pull request.

[2021-03-03 23:01] rivaquiroga commented on #2054
➕ _PH en español_: [Open Data Day](http://programminghistorian-datosabiertos2021.eventbrite.com/). March 6

[2021-03-04 13:17] rivaquiroga opened #2064 "Repository for storing events/outreach activities materials"
As part of the grant scheme for our Open Data Day event, we are required to make all materials and outputs of the session available. To this end, I would like to create a new repository on our GitHub account.
What do you think of having a repository called something like “outreach-activities” or “ph-events” where we can store this kind of materials?
(This looks like a communication issue, so I'll

[2021-03-04 13:31] acrymble commented on #2064
We did this for the Bogota workshop using the blog and Zenodo, which meant we didn't have to maintain the resources long term. I would suggest that was an effective choice you may like to follow: https://programminghistorian.org/posts/model-workshop

[2021-03-04 13:33] drjwbaker commented on #2064
A github repo can also be versioned and deposited on Zenodo. Works really well. And captures the process of working on the materials https://guides.github.com/activities/citable-code/

[2021-03-04 13:34] drjwbaker commented on #2064
(that is, the dev can happen openly on GH then Zenodo can be used for the preservation)

[2021-03-04 14:01] jenniferisasi commented on #2064
I concur with @drjwbaker, work on GitHub then archive on Zenodo to make it citable :)

[2021-03-04 14:13] rivaquiroga commented on #2064
GitHub+Zenodo looks like the best option in this case.
Thanks, everyone!

[2021-03-04 14:13] #2064 closed, assigned to rivaquiroga

[2021-03-05 00:08] rivaquiroga commented on #2058
@drjwbaker, here is a new version of both scenarios, considering your remarks. I also added one step that I missed in the previous version: contacting the author. That step is something that we should add to the Author Guidelines. Between "The Peer Review Process" and "Holding Us to Account" there should be a section called something like "What happens after your lesson is published?", where we in

[2021-03-05 08:20] drjwbaker commented on #2058
@rivaquiroga Looks amazing. I know in the past tickets have got stuck waiting for author response, so I suspect we should put a time limit on that, but I'd been keen to leave the exact terms to MEs (something like a week to acknowledge the email, then fix period agreed with ME?)

[2021-03-05 13:42] rivaquiroga commented on #2058
Definitely! One week to acknowledge the email + fix period agreed with the ME sounds resonable. @svmelton, @spapastamkou, @DanielAlvesLABDH, what do you think?
Maybe we should contact authors at the same time via GitHub and email :thinking:. Mentioning them in the ticket + sending an email.

[2021-03-05 14:15] DanielAlvesLABDH commented on #2058
Dear Riva,
Once again an amazing job, not only in the drawing but essentially in
structuring a workflow. Since I'm only a few months on the "job" it is hard
for me to assess the need for a publishing assistant. But taking into
consideration the work that I've observed done by Riva and all the
Technical team, along with the expected growing number of lessons, I would
say it would be beneficial for

[2021-03-05 16:38] svmelton commented on #2058
I'm completely in awe of this diagram and agree that it represents our current workflow well. One week sounds like a reasonable response time.

Sending an email & GitHub message is good, with the caveat that we know that we don't always have the most recent emails for authors.

[2021-03-06 14:42] acrymble commented on #1988
We'll set this at £400 and I'll do a pull request as soon as I've got the french pages live.

[2021-03-06 16:45] acrymble commented on #2054
I'm currently working with some of our IPP members to build knowledge about how they are using PH in teaching settings, so that we can share that with the wider IPP community. They are Edinburgh, UCL, and Los Andes.

[2021-03-06 18:20] jenniferisasi commented on #2054
Thanks @acrymble! How about I word it as a "collaboration"?

[2021-03-07 08:35] spapastamkou commented on #2056
Hey @icolab, if you need any support with the tasks here, let me know:)

[2021-03-07 08:37] spapastamkou opened #2065 "Onboarding Checklist for French language publication editor: Giulia Taurino"
This is an individual onboarding Editor checklist for Giulia Taurino @giuliataurino. Nous te souhaitons la bienvenue, Giulia!

---

## Welcome

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put together this information to help you get up to speed. It includes de

[2021-03-07 08:47] icolab commented on #2056
Sorry, I will do it today or tomorrow!

[2021-03-07 08:49] icolab commented on #2056
Ping @JoshuaGOB for my github account.

[2021-03-07 12:19] spapastamkou commented on #2058
Agree with updated version of diagram and letting know the author(s) via 2 channels. Wait 7 days for a reaction and agree on a  period of time to fix the problem sounds realistic to me. Thanks @rivaquiroga and all!

[2021-03-07 17:51] spapastamkou commented on #2056
Email and github username transmitted by email.

[2021-03-08 21:42] giuliataurino commented on #2065
Hi @JoshuaGOB, @spapastamkou,
Here are my github account (@giuliataurino / Giulia Taurino) and email (giulia.taurino89@gmail.com).
G.

[2021-03-09 01:13] JoshuaGOB commented on #2056
Hello @icolab and welcome to the team! I sent out your invitations for our GitHub repo and Google Groups. Please make sure you accept the invitations as they do expire.

[2021-03-09 01:14] JoshuaGOB commented on #2065
Hello @giuliataurino. Welcome to the team! You should have received invitations to our GitHub repo and the Google Group. Once you accept the invitations you would be good to go.

[2021-03-09 01:50] rivaquiroga commented on #2048
Thanks, @matgille!
I'm just wondering if we should drop the article on the name, following the [Brand Guidelines](https://github.com/programminghistorian/jekyll/wiki/Brand-Guidelines#project-title). At least in Spanish, "Acceder a Programming Historian en español" sounds good.

[2021-03-09 05:59] icolab commented on #2056
@JoshuaGOB Done and I will send an email on the list soon.

[2021-03-09 17:56] JimmyMedeiros82 opened #2069 "Apagar ficheiro research.md duplicado"
Apagar ficheiro research.md duplicado na pasta (https://github.com/programminghistorian/jekyll/blob/gh-pages/research.md

[2021-03-09 17:56] mariechristineb commented on #2048
@rivaquiroga thanks for pointing to the brand guidelines, this is something I had been wondering about, as we otherwise do drop the article in other pages of the website.

[2021-03-09 19:03] #2069 closed, assigned to DanielAlvesLABDH, JimmyMedeiros82

[2021-03-09 20:13] jenniferisasi commented on #1938
For meeting:
My small concern is that our header is already packed, specially when a lesson is a translation? (originals are ok)

[2021-03-10 01:38] ZoeLeBlanc commented on #1938
Think that's a really good point about being packed. Just to give us an idea this is what it looks like on the latest spanish lesson (I didn't translate the fields though so that might impact space constraints).
<img width="1438" alt="Screen Shot 2021-03-09 at 8 36 13 PM" src="https://user-images.githubusercontent.com/8355129/110562259-29c5ec80-8117-11eb-988c-fa0072a07839.png">
I just hard coded i

[2021-03-10 02:38] jenniferisasi commented on #1938
Oh, it doesn't look as bad as I thought. Would be almost the last thing to add in there though. In the lower bar, an option could be to put the information below the metadata fields, so just like the bar above.

Now... sorry for coming up with another idea/request I cannot implement myself (I think I could try): Can we make it so that when you make the window smaller the information on the metadat

[2021-03-10 10:25] matgille commented on #2048
@rivaquiroga @mariechristineb Thanks for your answers !  If we drop the article in Spanish, should we do the same in the other languages ?

[2021-03-10 10:34] DanielAlvesLABDH commented on #2048
Hi all! I think we should keep the article in this case. "The Programming Historian" is the brand, although we could use the shorter version in other occasions, in the main page it would be better to keep the "The"

[2021-03-10 10:36] acrymble commented on #2048
@DanielAlvesLABDH the brand guidelines @rivaquiroga pointed to say the opposite:

If this doesn't make sense, then we should update the brand guidelines, but we should be consistent.

[2021-03-10 10:40] DanielAlvesLABDH commented on #2048
OK @acrymble I have missed that. "The Programming Historian" is a personal preference. Then, if the article drops in ES, FR and EN there's no point in keeping it in PT

[2021-03-10 12:54] walshbr commented on #1938
You could also hide particular fields if you wanted on smaller windows. Mobile is the obvious extreme, but it'd be worth checking what happens on, say, an iPad, or  a window that is 600px or so.

[2021-03-10 14:28] jenniferisasi commented on #1938
This one is also an extreme example of 6 people as translators

[2021-03-10 14:47] walshbr commented on #2020
I'd suggest not going with a square, since it seems like only a matter of time before another language team comes along. Wouldn't want to have to keep redesigning it. Trying to think through other UX possibilities, since I could imagine having the things shuffle each time you visit would be sort of disorienting. <strike>Maybe…a map? With the language-specific publications keyed to particular regio

[2021-03-10 14:58] mariechristineb commented on #2048
@matgille yes, considering that the brand guidelines do point in that direction, I would go for "Accéder au _Programming Historian en français_" (it also flows better without the article)

[2021-03-10 15:24] ZoeLeBlanc commented on #1938
from #2047 discussions:
Ipad: horizontal for both orientations
full screen: horizontal with columns
mobile: vertical with horizontal rows

[2021-03-10 15:54] walshbr opened #2072 "Accessibility Audit"
While poking around with #1524 the tech team, we were discussing some contrast issues on the site. I ran Chrome's lighthouse on our site and found a number of accessibility issues. We'll need to poke around more closely to get a clear sense, so this is just a ticket to document the accessibility audit for the site. We should probably open separate tickets downstream for actually fixing particular

[2021-03-10 16:03] ZoeLeBlanc commented on #2047
Next steps:

- [ ] Zoe will take care of #2016 (on own blog and then Jennifer will reference in the research page)
- [ ] Checkout out dependabot for github actions packages so that we ensure they are being maintained (ht: @hawc2 ) (Zoe)
- [ ] #1995 email each managing editors and maybe start English and Spanish lesson templates (Zoe)
- [ ] #2020 remove text from blocks and shuffle them. Also need

[2021-03-10 16:31] acrymble commented on #2072
@walshbr I'm hoping we will have a UCL masters student in DH to help us think about this. Are you planning a particular type of audit? They'll be available in May.

[2021-03-10 16:34] walshbr commented on #2072
Cool! I just ran the site through Chrome's lighthouse feature, which is something anyone with Chrome can run from the developer tools menu. It gave these results -

![Screen Shot 2021-03-10 at 10 48 41 AM](https://user-images.githubusercontent.com/2334220/110663521-84515e00-8194-11eb-9540-dadf4585db70.png)

So a mix of things that are clear, things that aren't, and things that need to be looked at

[2021-03-10 16:44] acrymble commented on #2072
Only if the timeline works for you. I was also going to get them to think more holistically, about our workflows, messaging, etc. What you're doing is quite specifically technical.

[2021-03-10 17:00] InesSalome commented on #2059
Would you like me to limit my contribution to point one in the pull request, and then close the issue ?

[2021-03-10 17:02] acrymble commented on #2059
@InesSalome is this a bug in the original lesson? We have a workflow for handling that and managing editors must be involved in the conversation: https://github.com/programminghistorian/jekyll/wiki/Bug-Assessment

[2021-03-10 18:20] walshbr commented on #2072
We can see where I'm at with the ticket when you bring someone on? If I had to guess, there will probably be a mix of things here, some more technical and some more monotonous. The former category is probably something the tech team should handle. But the latter category could be a good way for someone to learn about markdown, HTML, and GitHub in a light way. If that's something you want the stude

[2021-03-11 08:03] InesSalome commented on #2059
Thank you for the precisions @acrymble. @walshbr informed me of the existence of an issue about the bug (Mac Catalina bug for "Building a static website with Jekyll and GitHub Pages" #1955), that's why I think this issue is actually not relevant. What do you think @spapastamkou ?

[2021-03-11 12:13] acrymble commented on #2072
You go ahead. We'll have the student support us from whatever point we're at in May.

[2021-03-11 15:10] matgille commented on #2048
So we would change the english version too ?

- "Entrar no *Programming Historian em português*" @DanielAlvesLABDH
- "Accéder au *Programming Historian en français*" @spapastamkou @mariechristineb (actually the article is still here, but it has been translated !)
- "Acceder a *Programming Historian en español*" @rivaquiroga
- "Enter *Programming Historian*" @acrymble

Matthias

[2021-03-11 20:21] jenniferisasi commented on #2020
Ideas during the tech meeting:

- Cut main text; we could do: Novice-friendly, peer-reviewed tutorials for humanists. ?
- Drop the ISSN number

[2021-03-11 20:32] walshbr commented on #2020
Yesterday I suggested just one card - a logo plus "Enter the Programming Historian" in the various languages as a bulleted list that would lead you into the various journals.

[2021-03-12 08:11] #1946 closed, assigned to drjwbaker

[2021-03-12 08:11] drjwbaker commented on #1946
Note the item 10 is now in progress.

[2021-03-12 09:18] acrymble commented on #2020
I agree the ISSN can be less prominent. But we've been fighting for years to be taken seriously as an academic publication and that's one of the ways we expressed that. So I wouldn't like us to forget that even if it doesn't stay on the front page.

[2021-03-12 14:25] walshbr commented on #2020
One thing we noticed @acrymble was that the ISSNs for all publication are duplicated on the front page - they're both in the footer and in the cards. That was part of the thinking I believe.

[2021-03-12 16:33] jenniferisasi commented on #2020
🤔 have we ever discussed about adding the word "journal" after The Programming Historian here?
![Screen Shot 2021-03-12 at 11 30 28 AM](https://user-images.githubusercontent.com/11022533/110969153-5ac83c00-8326-11eb-959a-abf58535f9a4.png)

I'm not suggesting we do it everywhere, but maybe it wouldn't hurt there? Journal, revista, jornal, revista/jornal (not sure in PT) in the order that correspond

[2021-03-12 17:16] DanielAlvesLABDH commented on #2020
In portuguese would be revista

A sexta, 12 de mar de 2021, 13:33, Jennifer Isasi ***@***.***>
escreveu:

[2021-03-14 23:03] spapastamkou commented on #2059
@InesSalome as long as you 've seen with @walshbr for point 1, all that's left is to have @svmelton 's review in the pull request, right?
We @programminghistorian/french-team just need to somehow keep track of this change and also the ones integrated in the ES translation because we have this lesson in the pipeline of translated lessons to edit.