[2017-10-26 07:30] arojascastro commented on #636
I am very pessimistic about this. Translating lessons, reviewing, editing and mantaining the web is already a lot of work. I mean: take into account that not only one of us is acting as an editor, but also as a reviewer, since our pool of reviewers is very small, and sometimes even as translators.

Ideally, yes, it would be great to be able to edit lessons and to work on original content -- althou

[2017-10-26 07:58] drjwbaker commented on #636
@arojascastro Thanks for your input Antonio. That is what I feared. From the outside I always thought the ES translation work was *awesome*. And I still do. What has become clear to me since I joined is that your labour is perhaps not fully understood or accounted for, and your workload bordering on unsustainable.

In the call I suggested we take some time to think carefully about what we think th

[2017-10-26 08:06] drjwbaker commented on #619
Small addition.

[2017-10-26 08:44] arojascastro commented on #619
I like!

[2017-10-26 08:51] arojascastro commented on #636
I am happy with function number 2. I am very pessimistic about 1 and 3 because a. we are not native English speakers; and b. we have not received any offer to edit original content so far. I do not see any problem with number 2 function, for me translating content is already a great work and I learn a lot from editing. We do not have, however, a unified vision of this topic because we (Victor, Mar

[2017-10-26 09:03] acrymble commented on #636
The original job spec (if I can use that term) was to build a community, not just to translate. https://programminghistorian.org/posts/spanish-editor

It took us years to build up a pool of reviewers and authors. There was no English-language community for this either when we got started. But we know how we got where we are, so we can help advise on building a Spanish community too.

If the projec

[2017-10-26 09:05] arojascastro commented on #636
Yes @acrymble nothing against building a community, but that is easier to say than to do... my point of view is pragmatic - it is a lot of work for three people.

[2017-10-26 09:42] acrymble commented on #595
Sorry I just thought of this, but I like the CHNM 'annual report' (https://rrchnm.org/news/annual-report-2016-2017/), and I think we should include something equivalent in this 'dump' (which sounds hasty and a bit messy) as a way of offering a nicely formatted changelog of sorts, and some built-in documentation for year-upon-year.

[2017-10-26 10:12] drjwbaker commented on #595
@acrymble Okay. This is a bigger piece of work. Can you open a separate issues into which this will feed? I can then keep this issue for the technical/implementation side of the Zenodo dump.

[2017-10-26 10:29] acrymble commented on #595
Sure. Can we call it a 'deposit' rather than a 'dump'?

[2017-10-26 10:31] acrymble opened #640 "Annual Zenodo deposit (2017) - report / documentation"
Linked to #595 I propose adding some documentation on what happened during the calendar year, to accompany the Zenodo deposit of the project. This will make it possible for people to get a sense of what's changing, what's new, etc.

I've suggested the CHNM annual report as a model, (https://rrchnm.org/news/annual-report-2016-2017/) but it doesn't need to be nearly so thorough or pretty. I just thi

[2017-10-26 12:20] walshbr commented on #636
Thanks, @arojascastro. Much of that resonates with what we were discussing on the call. Part of the goal of this conversation, I think, was to try to assess what is realistic for all of you, what might be aspirational, and what steps we can take to connect the two more. Also to more clearly articulate what were assumptions vs. reality. So this is all helpful for me.

And the need for more people s

[2017-10-26 12:34] arojascastro commented on #636
Thanks @walshbr .  We do not have any policy about how many lessons we can take. But for instance, this last October I did the following tasks:

- Review the lesson edited by Victor on Data mining: https://github.com/programminghistorian/ph-submissions/issues/59
- Review the lesson edited by Maria on Google Earth: https://github.com/programminghistorian/ph-submissions/issues/130
- and I am current

[2017-10-26 12:49] drjwbaker commented on #636
@arojascastro Just so I am super clear. When you say about "it is a lot of work for three people". What is the goal of "it"?

1) Is the aim to translate all the lessons?
2) Or are you being selective? (that is, some will not be translated)

If 1), do you have a monthly/quarterly target and would one way of reducing workload - whilst still getting a new ES editor - be to reduce the targets for less

[2017-10-26 12:58] arojascastro commented on #636
I think our aim is to translate all of them... but honestly we @vgayolrs and @mariajoafana have not talked about this. We do not have any monthly or quarterly target, we just contribute to as many as tickets we can. Of course, it would be good to control somehow our work, because I tend to review and edit, and I would like to translate sometimes. The problem, I think, is that if I say *No, I have

[2017-10-26 17:45] mariajoafana commented on #636
Hi all, thank you for bringing up this discussion. As mentioned before, Víctor, Antonio and I have taken up different roles: website maintenance, translating, editing, revising, and reaching out for the Spanish speaking to bring in new collaborators.  I've felt tempted to participate in discussions about incoming English lessons but to be honest, timewise this is difficult.

I agree with @arojasca

[2017-10-26 20:41] mdlincoln opened #641 "Document use of generated ToC for all lessons in editor guidelines"
During the redesign, we updated all lessons with the following Liquid filter:

[code]

This generates a ToC based on the header structure of the lesson. I need to document this in the editor guidelines.

[2017-10-27 09:26] acrymble commented on #636
Someone based in the US could apply for funding through ACLS to bring in a community builder (http://www.acls.org/programs/digitalextension/). I'd apply, but it's only open to US-based scholars. That would free up some energy to build the Spanish user base so that others could focus on the translating.

The scheme is meant to "Extend existing digital projects and resources with content that adds d

[2017-10-27 14:06] ianmilligan1 commented on #634
This is in progress and is accessible here <https://github.com/programminghistorian/jekyll/wiki/Making-Technical-Contributions>. Any comments/suggestions/etc. can go here. Thanks all!

[2017-10-27 15:29] drjwbaker commented on #634
As @acrymble is the person who seems to know this workflow least well (no criticism!), I'd be keen to hear what he thinks.

[2017-10-27 15:36] acrymble commented on #634
looks fine to me. Will have to test it to know if I get it right.

On Fri, Oct 27, 2017 at 4:29 PM, James Baker <notifications@github.com>
wrote:

[2017-10-27 15:39] drjwbaker commented on #634
Sure. I think this one will only bed in once we've started doing it.

[2017-10-27 17:14] mariajoafana commented on #430
Víctor, you raise some important questions here. In terms of the presentation for DH2018 we could divide it in three parts:
1. Bridging PH into the Spanish speaking world: larger picture: identify challenges to create a DH community of practice in terms of the history, culture and institutional settings in Spanish speaking countries.  Smaller picture: strategies to build Spanish speaking community

[2017-10-27 17:44] vgayolrs commented on #430
Thanks @mariajoafana . I'm going to review the document you sent me. As the DH2018 meeting will be in Spanish and English, I suggest that we can make the abstract in Spanish with an English version so that @acrymble , @ianmilligan1  and everybody else who wants can comment and suggest how to improve it.

[2017-10-27 23:43] mdlincoln commented on #595
@acrymble This "annual report" just sounds like the yearly blog post you write - which would itself be preserved in the Zenodo archive. Can we just use that instead?

[2017-10-27 23:51] mdlincoln commented on #514
Just adding a note that this will be closed once we can merge #612.

[2017-10-28 00:12] mdlincoln commented on #529
I've posted these notes at https://github.com/programminghistorian/jekyll/wiki/Service-Integrations

[2017-10-28 00:12] #529 closed, assigned to mdlincoln

[2017-10-28 00:13] mdlincoln commented on #64
This is now superseded by #595

[2017-10-28 00:13] #64 closed

[2017-10-28 00:14] mdlincoln commented on #640
(I posted this comment in #595 but it is more specific to this proposal)

@acrymble This "annual report" just sounds like the yearly blog post you write - which would itself be preserved in the Zenodo archive. Can we just use that instead? Why the added work?

[2017-10-28 00:17] mdlincoln commented on #595
@drjwbaker you would also need to document this additional service integration at https://github.com/programminghistorian/jekyll/wiki/Service-Integrations

[2017-10-28 07:43] acrymble commented on #640
Same reason people put effort into anything they package up and distribute.

A 'dump' of files in a zip or tar ball, devoid of presentation and documentation, is of extreme limited use. To assume someone is going to unzip that, spend several minutes at least figuring out the file structure, and locate a markdown file in a folder called /blog that might contain some details about what happened in t

[2017-10-28 13:40] ianmilligan1 commented on #640
But why not just use the yearly blog post you write as this descriptive narrative, rather than creating a separate document? (I don't think @mdlincoln was suggesting just leaving it in the `/blog` folder - that would indeed require too much sleuthing) 😄

[2017-10-29 21:25] mdlincoln commented on #640
FWIW, Zenodo zips up the repository _as is_, so I'm not sure there is some space for appending other reports to a tagged release? (Though perhaps the GitHub release notes themselves could work @drjwbaker?)

I'd also note that anyone downloading this dump from Zenodo is going to get... well, a pile of directories and files to dig through. If you want to archive the _presentation_ of the site, then

[2017-10-29 21:35] acrymble commented on #640
I suspect we're not far off in our purposes. All I'm asking is that this take longer than 3 minutes, and doesn't have the title 'PH Dump 2017'. It needs a decent description of what the deposit is, contains, and ideally a human-readable change log that tells readers how it's different from the previously deposit from the year before.

Effectively, this should be deposited with the care that you'd

[2017-11-01 15:22] #641 closed, assigned to mdlincoln

[2017-11-02 13:06] walshbr opened #644 "Editorial Meeting Agenda - 11/28/2017"
11/28/2017 - 5PM British, 12PM Eastern US, 9AM Pacific US last week of the month.

Feel free to drop tickets here as they become substantial and apparent.

- [x] #595 Annual Zenodo deposit (I can't make the meet, but would appreciate a thumbs up / feedback on https://programminghistorian.org/about and https://github.com/programminghistorian/jekyll/issues/595 then I think we are pretty much ready t

[2017-11-03 13:13] drjwbaker commented on #595
https://guides.github.com/activities/citable-code/

[2017-11-03 13:24] drjwbaker commented on #595
I need to be an admin on https://github.com/programminghistorian/jekyll to make the Zenodo deposit work. I can see https://github.com/programminghistorian/ph-submissions via my Zenodo account, so I guess I need whatever settings I have there. Can someone take a look for me please?

[2017-11-03 17:22] drjwbaker commented on #640
Yes. It will be. Once I get the mechanism going we'll have a dummy deposit. It will have nice wording, promise :)

Reusing the deposit in that way isn't the point. The point is to create a snapshot of the project (that isn't meant to be useable) in a scholarly manner, with a DOI, in a place we can trust.

[2017-11-04 13:19] acrymble opened #647 "Edinburgh Geoparser translatable?"
Comment on Twitter:
<img width="296" alt="screen shot 2017-11-04 at 13 20 07" src="https://user-images.githubusercontent.com/646647/32405728-aa9afc2e-c162-11e7-98f0-fd6d0dc2c56b.png">

https://programminghistorian.org/lessons/geoparsing-text-with-edinburgh

Just wanted to check, is this going to be translatable into Spanish? Or is the geoparser language-specific?

[2017-11-04 13:24] acrymble commented on #636
I think we should add another Spanish speaking member of the team to contribute to the activities described above.

I also agree with @drjwbaker that it would be good to set clear limits on how much everyone intends to do each month so that no one feels overburdened. We want everyone to feel valued, not exhausted.

[2017-11-04 13:25] acrymble commented on #630
This can be closed thanks to @ianmilligan1 documentation, no?

[2017-11-04 13:26] acrymble commented on #619
If anyone else has views on this, can you please add them (or thumbs up James' post)? Otherwise we'll take this as agreed.

[2017-11-04 13:27] acrymble commented on #640
I think we've agreed on this. I'm closing the ticket.

[2017-11-04 13:27] #640 closed, assigned to nobody

[2017-11-04 18:40] fortinma opened #648 "Geoparsing Text with the Edinburgh Geoparser"
I think there is just a tiny bit of an explanation that may be using the wrong file name in the following area of this wonderful tutorial:

In the section called: "Extracting Geo-Resolution Output to TSV", I believe the command is ok, but in the explanation of the command, the wrong filename is maybe referenced:

This the command:
"./bin/sys-i386-snow-leopard/lxprintf -e "ent[@type='location']" "%

[2017-11-04 20:30] ianmilligan1 commented on #647
I’ll check with the author.

[2017-11-04 20:31] ianmilligan1 commented on #648
Thanks @fortinma! Let me check with the author and look closer on Monday, we’ll be in touch soon. Appreciate the feedback on this.

[2017-11-06 08:45] arojascastro commented on #647
I may be wrong but the point is that Geoparser only recognizes named entities in English; I have never used it but I checked the website and I did not see any way to change the language parameter or whatever. So if anyone translates this lesson, s/he will have to use the text in English - because it will not work with texts in Spanish.

What do you think? @vgayolrs @mariajoafana

On the other hand

[2017-11-06 12:48] bea-alex commented on #647
Hi,

Thank you for your comments.

The Geoparser download only works with English texts at the moment.  I'm sorry for the oversight.  We'll change the title to specify English text.

We have supported other research groups to adjust it to work with French text in the past but this functionality is not available in the default download.  To change the Geoparser to work for text in a different langu

[2017-11-06 12:51] bea-alex commented on #648
Yes, you're right.  Thanks for spotting that.

[2017-11-06 13:35] fortinma commented on #648
No worries. Thanks for the great tutorial!

[2017-11-06 13:56] ianmilligan1 commented on #647
We can have the discussion re: "good pracrice to accept the publication of lessons that takes into consideration how dependant the content is on language" in a different thread (my own vote would be while it's a consideration, I don't think it should be a final determining factor).

I will change the title and close this.

[2017-11-06 14:10] ianmilligan1 opened #651 "Language Independence"
I wanted to move the conversation from #647 so policy discussions don't get wrapped up with an individual lesson.

@arojascastro noted below:

[2017-11-06 14:14] ianmilligan1 commented on #651
My own two cents is that I think it's worth making a consideration, but I don't think we want to have yet another blanket policy.

The Geoparser is a good example: by default it focuses on English, but a research team could tweak different elements to make it work in different languages. It would take effort and time, and it's not realistically feasible for tool projects to implement all of this o

[2017-11-06 14:21] arojascastro commented on #651
Yup, I agree mostly, I think you could take into account when reviewing proposals - just as one factor amongst others.

However, your scenario applies well to programming languages, tools and methods mostly.

What about the reuse of information already published by third parties? I think a great amount of work can be on this second direction: to use resources that are transnational and multilingua

[2017-11-06 14:34] acrymble commented on #651
It could be something that someone mentions at the review stage if a lesson looks like it will be heavily focused on English material. Maybe someone with experience translating could just say something like: 'is there a way this could be altered so that we could more easily translate it into Spanish and other languages?'

[2017-11-06 15:23] #647 closed, assigned to ianmilligan1

[2017-11-06 15:23] #648 closed, assigned to ianmilligan1

[2017-11-06 18:42] #630 closed, assigned to mdlincoln

[2017-11-07 14:08] mariajoafana commented on #636
The Spanish team agrees with this. I already wrote the call for a new member of the Spanish speaking team. We can plan on publishing on the blog this week. Shall we publish it in English as well? I guess this will allow the call to circulate more broadly

[2017-11-07 15:07] acrymble commented on #636
Can you circulate it via the email address so we can see it first?

[2017-11-07 17:11] jerielizabeth commented on #595
Hi James, since you have two factor enabled (whoot!), I added you to the owners group. You should now have the necessary privileges.

@mdlincoln I hope I'm not stepping on any toes making the change :)

[2017-11-08 10:45] drjwbaker commented on #595
@jerielizabeth Ta! (whoot indeed for two factor!)

[2017-11-08 17:09] drjwbaker commented on #595
Okay. First step is to make a release of the jekyll repo. I've drafted this here https://github.com/programminghistorian/jekyll/releases/tag/untagged-d8690b3457b9c2542369 More info will be added once the Zenodo deposit is created. Please give a few thumbs up and I'll proceed to make the release live (or comment if you have comments).

[2017-11-08 17:16] ianmilligan1 commented on #595
My mobile interface doesn’t allow for reactions so consider this my 👍.

[2017-11-09 11:54] mariajoafana commented on #636
Yes, I'll translate and send it during the weekend.

[2017-11-09 13:51] acrymble commented on #595
Are you choosing a particular day of the year to do the release?

[2017-11-10 17:13] drjwbaker commented on #595
@acrymble Hadn't planned to. Seems a little too precise. Would you prefer I did?

[2017-11-10 21:17] ianmilligan1 commented on #595
I think particular day of the year gets a little zanily precise (and then one day we'll have to worry about doing it on a Sunday or something). Why don't we just ballpark early November?

[2017-11-13 08:08] drjwbaker commented on #595
That was my plan.

[2017-11-13 13:46] drjwbaker commented on #595
Right. This is what it looks like raw out of the GitHub release [doi.org/10.5281/zenodo.1046738](http://doi.org/10.5281/zenodo.1046738)

What I propose to do is:
- change the title to `2017 Programming Historian Deposit`
- change the list of authors to all those who have edited PH in 2017
- change the upload type (the badge at the top) from `Software` to `Lesson` (other relevant potential options

[2017-11-15 00:55] mdlincoln commented on #619
Thanks for drafting this up @acrymble. When you're ready, can you try adding it in as a pull request? Then the translations can go in to the same branch.

[2017-11-16 09:04] acrymble commented on #595
I think 'publication' might make more sense than 'lesson'. There's extra packaging around it that I think makes it a publication.

I'd also reduce the prominence of the 'jekyll-based static site', since it's the Programming Historian that we want to foreground.

We have 11 new lessons. 3 retired. Don't forget we have 28 Spanish language lessons!

Can you link somewhere to the earlier deposit I mad

[2017-11-16 09:05] acrymble commented on #595
Also on the Zenodo page, some of the people's names are usernames rather than human names. Can that be changed?

[2017-11-17 15:09] drjwbaker commented on #595
Thanks Adam. Updated [https://doi.org/10.5281/zenodo.1046738](https://doi.org/10.5281/zenodo.1046738).

[2017-11-17 15:14] drjwbaker commented on #595
PR for deposit wording on cite https://github.com/programminghistorian/jekyll/pull/653

[2017-11-17 15:17] drjwbaker commented on #595
In the call, someone said I should edit my bio to reflect that I do this. Where did they mean? The little button under my name at https://programminghistorian.org/project-team? (and if so, no idea how to edit that)

[2017-11-17 15:22] walshbr commented on #595
@drjwbaker - has been a while but I think that was @acrymble who suggested in the call, and I think you're right. That was the part of the bio that I thought was being suggested. Others can correct if I'm wrong, but looks like the two files that you would modify for that are here and here:

https://github.com/programminghistorian/jekyll/blob/gh-pages/_data/ph_authors.yml
https://github.com/program

[2017-11-17 20:25] #637 closed, assigned to nobody

[2017-11-20 16:55] mdlincoln opened #657 "Produce YAML error if author metadata is missing"
This will also flag cases where typos or misspellings in author names cause their data to not get pulled in when rendering lessons or blog posts (e.g. #656)

[2017-11-25 23:39] mdlincoln commented on #634
Closing for now. If questions present themselves regarding these docs, let's open up new issues as needed.

[2017-11-25 23:39] #634 closed, assigned to ianmilligan1

[2017-11-27 16:21] mdlincoln commented on #651
@arojascastro Does this guideline need to be written down in our editorial and/or reviewer guidelines?

[2017-11-27 16:42] arojascastro commented on #651
In my opinion, yes. But maybe we should vote? Or see more views? It is up to you (English team) really.

[2017-11-27 16:49] mdlincoln commented on #651
I think it makes sense as a guideline - something that editors and reviewers should keep in mind, much like they do all the other traits of lessons that we try to cultivate. @arojascastro would you like to draft some additions to those pages and submit it as a PR? Then we can all take a look at those.

[2017-11-27 16:50] mdlincoln commented on #622
@organisciak Did you manage to do any research on this? If you haven't had the time, I quite understand. However, I'll plan on removing this paragraph within the next week if I don't hear from you. We're always glad to re-open the issue and accept new changes if you find a happier solution!

[2017-11-27 17:05] mdlincoln commented on #636
Are there any further changes to policies or descriptions that need to be made to the website now? Let's close this issue unless there is some other deliverable that needs to come out of this discussion other than the new editor call.

[2017-11-28 00:59] #657 closed, assigned to mdlincoln

[2017-11-28 17:14] walshbr commented on #620
Closing as we're doing pull requests for all changes and adding spanish team members as reviewers to facilitate the translation.

[2017-11-28 17:14] #620 closed, assigned to nobody

[2017-11-28 17:24] mdlincoln commented on #636
@mariajoafana @arojascastro @vgayolrs are there any other changes we need to make to site text as a result of this? Or can we close?

[2017-11-28 17:32] walshbr commented on #595
Discussed this briefly at #644 with who we had, @drjwbaker. No objections from me, @mdlincoln, or @amandavisconti. We say go forth.

[2017-11-28 17:37] walshbr commented on #644
@amandavisconti will take a look at #623 and #625. Will comment on #579 and #576 on their respective tickets.

[2017-11-28 17:37] #644 closed, assigned to walshbr

[2017-11-28 18:37] walshbr commented on #576
Is someone willing to take on this initiative and/or #579? My sense (that I articulated on #644) is that, as conversation has died down, we're either ready to table these for now or take action. My suspicion is that this might be an initiative that we're interested in but lacking the bandwidth for at the moment given the current people on hiatus (was thinking especially that this might be somethin

[2017-11-28 20:04] drjwbaker commented on #576
@walshbr Revisit in the new year? PH has changed a lot this year. It would be useful to see if we are on track with our users.

[2017-11-29 16:04] #622 closed, assigned to ianmilligan1

[2017-11-30 17:13] drjwbaker commented on #595
Awesome! PRs raised on the role thing: https://github.com/programminghistorian/jekyll/pull/664 https://github.com/programminghistorian/jekyll/pull/663

Closing this. Note: I've set a reminder to me to do this annually.

[2017-11-30 17:13] #595 closed, assigned to drjwbaker

[2017-12-01 22:03] organisciak commented on #622
Thanks for the followup, this task fell off my radar. Yes, remove the
mention.

On Mon, Nov 27, 2017 at 9:50 AM, Matthew Lincoln <notifications@github.com>
wrote:

[2017-12-02 17:01] #479 closed, assigned to nobody

[2017-12-02 17:03] mdlincoln commented on #430
I believe this discussion has moved to email / other channels right now? I'm going to close it - but please re-open if needed, and post a status update.

[2017-12-02 17:03] #430 closed, assigned to nobody

[2017-12-02 17:03] mdlincoln commented on #297
I'm going to close this for now, as it sounds like no action is going to happen on this for the moment.

[2017-12-02 17:03] #297 closed, assigned to nobody

[2017-12-02 17:11] mdlincoln commented on #611
Hi @arojascastro @vgayolrs what is the current status of this ticket?

[2017-12-08 16:59] arojascastro commented on #611
Sorry for the super delay @mdlincoln - this pull request should solve the problem: https://github.com/programminghistorian/jekyll/pull/666

Please let me know if there is any lesson missing that field yet.

[2017-12-08 17:00] arojascastro commented on #651
Yes, @mdlincoln I'll take this. I need some days, but I am back on tracks and working for the PHes fully (I had to focus on teaching).

[2017-12-08 17:29] arojascastro commented on #611
Thanks @vgayolrs for approving my request. Can @mdlincoln check that Travis validation is good?

[2017-12-10 07:37] arojascastro commented on #636
I think it can be closed @mdlincoln. However, in the Spanish version of [team] (https://programminghistorian.org/es/equipo-de-proyecto) there are two contact persons for Spanish. I think we should have only one because otherwise it is confusing. What do you think @vgayolrs and @mariajoafana ?

[2017-12-10 15:45] vgayolrs commented on #636
@arojascastro , I agree.

[2017-12-11 08:38] arojascastro commented on #636
Ok, quieres ser tú @vgayolrs o yo?

[2017-12-11 15:11] mariajoafana commented on #636
I agree, puede ser yo también si quieren.

[2017-12-11 18:55] arojascastro commented on #636
Gracias @mariajoafana, de momento puedo hacerme cargo. Si acaso, más adelante podemos turnarnos por temporadas.

Should I close this?

[2017-12-11 18:55] #636 closed, assigned to arojascastro, vgayolrs, mariajoafana

[2017-12-11 20:44] #548 closed, assigned to mdlincoln

[2017-12-11 21:22] #611 closed, assigned to arojascastro, vgayolrs, mariajoafana

[2017-12-20 19:23] gobsmacked opened #671 "Navigation to next lesson is broken"
At the end of each lesson the links to advance seem to point to the previous lesson instead.
"Great! Now you're ready to move on to the next lesson ."
So this text at the end of lesson 2 points back to lesson 1 instead of pointing to lesson 3

All the chapters seem to be like this.
These are the lessons on Python that should begin at:
https://programminghistorian.org/lessons/introduction-and-insta

[2017-12-20 19:29] ianmilligan1 commented on #671
Thanks @gobsmacked, thanks for letting us know.

[2017-12-20 20:43] #671 closed, assigned to ianmilligan1

[2017-12-20 20:52] ianmilligan1 commented on #671
... and should be fixed now, thanks again @gobsmacked and do let us know if you run into any other issues or things that might seem askew.

[2018-01-15 13:45] acrymble opened #676 "Markdown Display bug - pip lesson"
The URLs at the very end of the Pip lesson (https://programminghistorian.org/lessons/installing-python-modules-pip) are displaying as markdown rather than HTML

![screen shot 2018-01-15 at 13 45 21](https://user-images.githubusercontent.com/646647/34945202-63b7a46c-f9fa-11e7-8771-f8993b97fd66.png)

[2018-01-15 17:31] mdlincoln commented on #676
Closed with #677

[2018-01-15 17:31] #676 closed, assigned to ianmilligan1

[2018-01-18 16:20] walshbr opened #678 "Editorial Meeting Agenda - 1/22/18"
Sorry for the delay in getting this out! Drop anything below that you would like.
1/22/2018 - 5PM British, 12PM Eastern US, 9AM Pacific US last week of the month.

- [x] Welcome new members
- [x] #651 Language Independence
- [x] #612 Lesson Retirement Policy language (status update on translation?)
- [x] India (James/Adam)
- [x] #681 Copy Editing
- [x]  #619 Editorial Board Diversity Discussion
-

[2018-01-19 08:00] arojascastro commented on #678
- [ ] Update Team's page with new member's bios

(I'll try to revisit issue #651 this weekend, but I cannot promise a draft for Monday. I think the problem needs further documentation and reads, it needs some reserach... so any help is welcomed!)

[2018-01-19 15:47] mdlincoln commented on #678
I may need to log out of this meeting a bit early, so I'd appreciate covering #651 and #612 early if possible :)

[2018-01-19 16:56] drjwbaker commented on #678
@mdlincoln Well they are at the top.. :)

[2018-01-20 16:39] acrymble opened #680 "Making Technical Contributions to main site"
Having just tried @ianmilligan1 's new instructions on making a pull request (https://github.com/programminghistorian/jekyll/wiki/Making-Technical-Contributions), I think I was able to do it. I also think it would be FAR more useful to have this on the main website under "Contribute" rather than on the project Wiki. I almost couldn't find it.

This would of course mean translation...

[2018-01-20 16:41] acrymble opened #681 "Copy editing"
I'd like to discuss the possibility of getting copy editing for submissions. This is incredibly difficult work that is very time consuming for editors. I'm also quite sure that we aren't all consistent across lessons. I think we should have a conversation about whether or not we could find a way to pay for this final flourish of quality before publication. It may not be feasible, but it would make

[2018-01-20 16:42] acrymble commented on #678
I'd like to discuss #681 - copy editing

[2018-01-20 16:54] ianmilligan1 commented on #680
Woohoo! Let’s chat on call. I’m happy to port the English version over.

[2018-01-20 19:21] ianmilligan1 commented on #681
Let's chat about it, for sure. My own sense as somebody who's hired copy editors in the past is that they're quite expensive (as it's such a skill).

[2018-01-21 01:35] jamotilla commented on #678
Hi, unfortunately i won´t be able to attend the call, at this time i´ll be teaching

[2018-01-21 21:13] amandavisconti commented on #678
I'll need to miss the call to work toward a grant deadline. (@mdlincoln Haven't had a chance to look at #623 as you requested yet, but intend to—hopefully before the February call.)

[2018-01-22 07:56] drjwbaker commented on #681
Second @ianmilligan1: good copy editors are expensive. But I'd love to find a way here.

[2018-01-22 16:35] mdlincoln opened #683 "Bio: José Antonio"
Welcome to the _Programming Historian_ team, @jamotilla! It's great to have you on board.

We want to add you to our public Editorial Team page, so we need you to add your information to our ph_authors.yml file. Take a look at the format for adding your information here:

https://github.com/programminghistorian/jekyll/blob/gh-pages/_data/ph_authors.yml#L491-L507

You can add your data at the botto

[2018-01-22 17:06] mdlincoln opened #684 "Bio: Jennifer Isasi"
Welcome to the Programming Historian team, @jenniferisasi! It's great to have you on board.

We want to add you to our public Editorial Team page, so we need you to add your information to our ph_authors.yml file. Take a look at the format for adding your information here:

https://github.com/programminghistorian/jekyll/blob/gh-pages/_data/ph_authors.yml#L491-L507

You can add your data at the bot

[2018-01-22 18:16] walshbr commented on #579
Closing this issue to consolidate discussion in the direction of #576.

[2018-01-22 18:16] #579 closed, assigned to nobody

[2018-01-22 18:17] walshbr commented on #576
Discussion at #678 was that it makes sense to think in the direction of a survey. Assigning @alsalin to continue the discussion working off of what has been shared here so far.

[2018-01-22 18:24] walshbr opened #685 "Call for Lesson in Spanish"
At the January editorial call - #678 -  it was suggested that we put out a call for a lesson this year to be written in Spanish first, then translated to English. Such a thing would continue the goals of fostering our Spanish community, and it would also teach the rest of the board a lot about internationalization and translation. Assigning @arojascastro to lead discussion here on this with the re

[2018-01-22 18:29] walshbr opened #686 "Plans for 2018"
@drjwbaker suggested at the January call that we consider our plans for 2018 and spend some time on this during the February editorial call. Collect such topics and conversation starters for that call here, though it might be worth keeping the descriptions brief and/or opening an adjoining ticket to collect discussion for any particular topic of interest.

Primary interest during the call seemed t

[2018-01-22 18:37] walshbr opened #687 "India Community Outreach"
India continues to be a particularly strong part of our user community. There was interest during the January call in exploring our connections to this community more fully to determine their interests, needs, and uses of the Programming Historian. Assigned people here had a number of ideas that included:

* Exploring our own contacts at ADHO
* Reaching out to folks on twitter (though I'd do this

[2018-01-23 04:30] jamotilla commented on #683
Thanks @mdlincoln! It´s done :)

[2018-01-23 09:39] acrymble commented on #687
We can start by highlighting what we already know in a blog post, which can act as a line in the sand from which we can move forward. I'll see if I can find some time to mock something up.

[2018-01-23 09:40] acrymble commented on #686
I'll be more professionally tactical in a way that's very UK-centric and say I think we should focus on articulating the ways that the Project is having "Impact" in various stake-holder communities. That is - changing the way people think and act. We have a lot more Impact than we have evidence of it.

[2018-01-23 11:48] acrymble commented on #619
Minor tweak to reflect difference between where someone lives and what nationality they identify with:

The Programming Historian is committed to diversity, and we insist on a harassment-free space for all contributors to the project, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age or religion, or technical experience.

[2018-01-23 11:49] acrymble commented on #619
(please)

[2018-01-23 13:11] arojascastro commented on #619
En *The Programming Historian* estamos comprometidos con la diversidad y defendemos la necesidad de mantener un espacio de trabajo sin ningún tipo de acoso u hostigamiento basado en el  género, identidad, orientación sexual, capacidades, físico, peso, etnia, edad, religión o nivel de conocimiento técnico de los participantes y colaboradores. Asimismo, nuestro compromiso con la diversidad se extien

[2018-01-23 15:11] ianmilligan1 opened #689 "Missing image for @jamotilla"
#688 was just merged and while it has the bio statement, it's linking to an image that doesn't exist.

@jamotilla could you upload a headshot or avatar?

On the build it is looking for:

[code]

But if you prefer you can also just upload it to this issue (dragging and dropping) or e-mail it to me (ianmilligan1@gmail.com) and I am happy to put it into the system too. 😄

[2018-01-23 15:15] jamotilla commented on #689
Thanks @ianmilligan1
![jamotilla](https://user-images.githubusercontent.com/26726739/35283455-f3d2aeb0-001d-11e8-8de8-50ba01bb4183.jpg)

[2018-01-23 15:46] ianmilligan1 commented on #689
Thanks! I will add when I have a chance shortly

[2018-01-23 15:54] acrymble commented on #689
[image: Inline image 1]

On Tue, Jan 23, 2018 at 3:46 PM, Ian Milligan <notifications@github.com>
wrote:

[2018-01-23 16:19] #683 closed, assigned to mdlincoln, jamotilla

[2018-01-23 16:19] #689 closed, assigned to ianmilligan1

[2018-01-23 16:21] acrymble commented on #684
just a note for when Jennifer adds her avatar, the project-team.md page needs to have new members added manually to the Project Team Membership History section.

[2018-01-23 20:20] #678 closed, assigned to walshbr

[2018-01-24 10:24] acrymble commented on #619
I just realized that we're in violation of this rule on gender balance.

[2018-01-24 10:44] drjwbaker commented on #619
Add @jenniferisasi here https://programminghistorian.org/project-team and we are fine, no?

[2018-01-24 13:35] jenniferisasi commented on #619
Hi everyone,

I was working on my bio yesterday but GitHub desktop kept crashing. I'll try again today after I teach.

Best,

Jennifer Isasi, PhD
Dept. Of Modern Languages
Thomas Hall 215
University of Nebraska at Kearney

[2018-01-24 13:37] arojascastro commented on #619
I recommend sourcetree: https://www.sourcetreeapp.com/

[2018-01-24 13:55] drjwbaker commented on #687
@acrymble Ping me if you want support/input/coauthor on that.

[2018-01-24 13:57] drjwbaker commented on #686
Agree: community engagement, India, splash around the Spanish panel at DH (on which, any appetite to make ES stickers for DH? @arojascastro et al)

[2018-01-24 18:32] smoothstatistics opened #691 "gem install jekyll does not work with Ruby 2.5.0, problem for the static webpages with Jekyll and GitHub page"
The problem occurs in "Building a static website with Jekyll and GitHub Pages", when using a Windows computer. Running 'choco install ruby' automatically installs Ruby 2.5.0, which has an issue with ffi, which then leads to not being able to install Jekyll. See here, for example: https://github.com/ffi/ffi/issues/598
I solved it by running 'gem install ffi -f' as suggested in that link, but antici

[2018-01-24 18:39] smoothstatistics commented on #691
I have proceeded further in the tutorial and indeed it does not work - 'jekyll new JekyllDemo' leads to "Bundler: ffi-1.9.18-x64-mingw32 requires ruby version < 2.5, >= 2.0, which is
  Bundler: incompatible with the current version, ruby 2.5.0p0"
and proceeding with 'bundle exec jekyll serve --watch' then errors out because gem minima is not found.

[2018-01-25 00:31] #684 closed, assigned to mdlincoln, jenniferisasi

[2018-01-25 06:42] drjwbaker commented on #619
@acrymble Can you clarify of what you mean by 50% + 1 please (I'm being thick). We are 14. We are split 8/6 on gender now. That is 50% + 1, correct?

[2018-01-25 08:18] symac commented on #378
In case someone came across this ticket looking for a French translation, I hope to get something done in the next few weeks, I have [forked the repo](https://github.com/symac/jekyll) and started adding translations to configuration files (I still need to figure out how all of that communicates within Jekyll as I'm not an expert with the tool but I am for the moment recopying what is available in

[2018-01-25 08:58] arojascastro commented on #684
True @acrymble at the moment in the spanish version we can only find English speaking collaborators... we should add the reviewers and translators of the Spanish edition. However, should we keep them separated? I mean, do you want them to add them to the English edition? Should we remove the English collaborators in the Spanish version of PH? What do you all think?

[2018-01-25 09:02] arojascastro opened #695 "Adding collaborators to "Equipo""
As noted by @acrymble here https://github.com/programminghistorian/jekyll/issues/684, at the moment in the spanish version of the [team page](https://programminghistorian.org/es/equipo-de-proyecto) the information is not updated and we can only find English speaking collaborators (under the section "community participants"). We should udpate the list and add the reviewers and translators of the Sp

[2018-01-25 09:10] arojascastro commented on #684
To clarify my point I meant the people metioned as "community participants"

[2018-01-25 09:11] acrymble commented on #619
I guess you're right in that regard. I had in mind that there'd never be more than 1 more than the other. But this seems fine to me.

[2018-01-25 09:28] drjwbaker commented on #619
That would mean we'd always have to be an odd number.

[2018-01-25 09:29] acrymble commented on #687
@drjwbaker I'd love some help with that so we're singing from the same hymn sheet moving forward.

Here's some data that I'll plunk here for the minute:

Country | Visitor Increase | Percentage Increase
-- | -- | --
Peru | 2,426 | 1,193
Ecuador | 1,821 | 1,090
Colombia | 5,682 | 1,073
Chile | 4,373 | 946
Mexico | 9,868 | 714
Argentina | 3,699 | 551
Spain | 11,468 | 402
TOTAL | 39,337 | 508
Top Fiv

[2018-01-25 09:39] acrymble commented on #378
@symac perhaps you can contact us when you have a few things worked out. And let us know if there are specific Jekyll questions, as we've got lots of experts on the team who could offer advice.

I do think our experience with the Spanish translation has helped us work out some effective workflows for further translations. What we'd need to know is if there is sufficient energy and interest for thi

[2018-01-25 10:33] symac commented on #378
Thanks @acrymble for the input. I hope that having some foundation will help gather more people, I will take some time to have a first draft of a French translation then will try to publicize this first version.
Will let you know as soon as there is more to be seen.

[2018-01-25 10:34] acrymble commented on #378
it would be interesting to know which lesson you are going to do first.

[2018-01-25 13:17] drjwbaker commented on #687
@acrymble Okay. Well if you are happy to throw together a sketchy v1, I can take v2.

[2018-01-25 17:00] mdlincoln opened #697 ""Last updated" header showing nonsensical number"
The latest update to the [Sentiment Analysis lesson](https://programminghistorian.org/lessons/sentiment-analysis) (#692) is causing our "last modified" header to show the nonsensical date `2018-00-25`

I need to look in to what part of the jekyll/js code may be causing this.

[2018-01-25 17:21] acrymble commented on #687
The Images from Tashrih al-aqvam on the BL flickr would be great for an accompanying image (I think): https://www.flickr.com/photos/britishlibrary/12459181963/in/album-72157640831988343/

[2018-01-25 17:48] acrymble commented on #687
---
title: The Programming Historian and India
layout: post
categories: posts
---

When the _Programming Historian_ launched its open access tutorials in 2012, historians were the target audience. By 2014 our audience statistics had already presented a surprise: India had emerged as the second largest source of _Programming Historian_ readers - a title it still holds in 2018.

Country | Visitors 2

[2018-01-25 17:50] mdlincoln commented on #697
I feel like there's probably a more robust way in javascript to format a date as `YYYY-MM-DD` than what Fred did here:

https://github.com/programminghistorian/jekyll/blob/gh-pages/_layouts/lesson.html#L172

Thoughts @amandavisconti @walshbr ?

[2018-01-25 18:14] acrymble opened #698 "Directory of Open Access Journals XSD"
Our content is part of the Directory of Open Access Journals (DOAJ), which makes it easier for libraries to add it to their catalogue. This was set up in Issue #180 a couple of years ago. Lesson metadata can either be added manually (very cumbersome), or semi-automatically by uploading a pre-formated XML document that meets their criteria.
![screen shot 2018-01-25 at 18 13 34](https://user-images.

[2018-01-25 19:18] mdlincoln commented on #698
please post a link where the org describes exactly the specification of the file, but also where it goes - a separate path on the site? header info in the lesson page itself?

[2018-01-25 19:44] alsalin commented on #576
Hi folks!

To summarize, here are the suggested questions so far, though of course the way we end up phrasing them may be different (e.g. 'add specifics to guide reader as suggested by @drjwbaker and always have an 'other' field):

- Which of the following ways have you engaged with the Programming Historian? (reader, reviewer, editor, author, educator, none of the above).
- On a scale of 1 (novic

[2018-01-25 20:57] walshbr commented on #697
Looks like the function Fred is calling counts from 0, not 1. So every lesson was actually just off by one for the month counter. The PR I just pushed should correct this by adding one to the date. And you're right - the more robust way for working with this would be https://momentjs.com/, which @zoeleblanc suggested to me just now. I left it the way it is for now, but we can refactor later if we

[2018-01-25 23:24] mdlincoln commented on #695
The "community participants"/"Participantes de la comunidad" texts are produced by collecting all the names in `_data/ph_authors.yml` and `_data/reviewers.yml`.

Looking at the way these are structured now, from a technical perspective, it's probably better for us to generate these lists directly from the lesson metadata, so that we don't have to maintain separate running lists at all. I can fix t

[2018-01-26 07:51] arojascastro commented on #695
Great! @mdlincoln It would be great if we could collect them automatically. I agree we should list translators, authors, editors and reviewers all together. Let me know if I need to do anything.

[2018-01-26 07:56] acrymble commented on #695
This sounds fantastic, but @mdlincoln just remember that this would mean updating the editor guidelines (not a problem, we just can't forget).

[2018-01-26 09:07] drjwbaker commented on #378
I am some French language DH contacts I can route this through when some draft work is ready to be shared. @ianmilligan1 - any Canadian colleagues who may find this of interest?

[2018-01-26 09:27] acrymble commented on #576
What would we do with the information we gained from this survey? What process does this feed into?

[2018-01-26 09:34] drjwbaker commented on #576
On which, a good way of writing a question is to think about what we might do with the answers.

For example - as @alsalin notes - it seems clear we can say we would use responses to 'How do you primarily find PH lessons?' in two ways: 1) compare/contrast with data we have on how people find PH; 2) revise comms strategy.

On 'What would help the Programming Historian be more useful for you? What c

[2018-01-26 14:07] ianmilligan1 commented on #378
Yep, same here - I can share once draft work is ready to be shared!

[2018-01-26 15:22] #697 closed, assigned to mdlincoln

[2018-01-26 15:55] mdlincoln commented on #695
Also @mariajoafana I've noticed in doing this that we have two different variations of your name around the site. Is the first one, without the `í`, correct?

1. `Maria José Afanador-Llach`
1. `María José Afanador-Llach`

[2018-01-26 16:02] alsalin commented on #576
@acrymble excellent question. As I was summarizing the questions we had already, I found that topics fit into certain categories: knowing our audience (and thus reaching out to them more effectively, choosing content to publish that matches this audience and/or expanding audience), website experience (a good thing from a QA perspective after a redesign anyway), content audit of sorts (is what we h

[2018-01-26 16:05] mdlincoln opened #702 "Generate project team history via data files"
Instead of having to maintain these manually on two separate pages, we should be able to list start/end years in the authors metadata so this stays up to date.

[2018-01-26 16:05] mdlincoln commented on #702
Related to #695

[2018-01-26 16:39] acrymble commented on #576
@alsalin in the past we started with a problem (too much male participation in the project) and used the survey to find out what barriers we had inadvertently introduced into the project. We then applied some of the suggestions to reduce or remove those barriers. I also wrote up a reflection on that process and published it in a pedagogical journal.

[2018-01-26 19:05] acrymble commented on #698
https://doaj.org/publishers Under "7) How to get your journal content / article metadata indexed in DOAJ. Uploading content."

[2018-01-26 19:27] mdlincoln commented on #695
I made a PR #704 please see the small bit of translation needed there.

[2018-01-26 23:53] mdlincoln commented on #698
OK, this looks like it requires us to actively send updates to their API every time we have a new article - it's not a passive harvesting system. I will need to think about this a bit.

[2018-01-27 09:05] ettorerizza commented on #378
If needed, I'm ready to translate some lessons.

[2018-01-27 10:40] drjwbaker commented on #576
Potential problems:
- we don't know who our users are (aside from stats)
- we don't know what our lessons are being used for
- we don't know if people know what we do (eg, ES work, infrastructure/sustainability work)
- we don't know if people have thoughts on what we can do better
- we don't know if some of things we are thinking of doing are wanted
- we don't know what barriers to learning our le

[2018-01-27 18:55] acrymble commented on #576
Thanks @drjwbaker. I think knowing what people are using the lessons for (and connected to that, what we've enabled with this project that feeds into #686 our desire to understand our impact, would be a good use of this process.

[2018-01-27 19:02] acrymble commented on #685
This would perhaps be worth talking to people about in Mexico City when everyone is together, as a way of finding out what types of lessons the Spanish-speaking DH community thinks it needs that aren't available.

[2018-01-27 20:04] amandavisconti commented on #691
Thanks for reporting this, @smoothstatistics! I'll see if I can troubleshoot this, this week.

[2018-01-27 21:21] monsij commented on #691
*Hello there,I've successfully installed jekyll with Ruby 2.4.3.It's perfectly running*.Thanks @smoothstatistics
@amandavisconti

[2018-01-29 09:19] arojascastro commented on #685
@jenniferisasi and @jamotilla will draft a call and will publish it here so we can all review it.

[2018-01-29 09:50] #702 closed, assigned to mdlincoln, arojascastro

[2018-01-29 10:03] #695 closed, assigned to mdlincoln, arojascastro, jenniferisasi, vgayolrs, mariajoafana, jamotilla

[2018-01-29 10:48] arojascastro opened #706 "Política de retirada de lecciones"
I have translated this [policy](https://deploy-preview-612--ph-dev.netlify.com/lesson-retirement-policy). Please @jenniferisasi @mariajoafana @vgayolrs @jamotilla review and comment.

Some observations:
- In case we have not translated a retired lesson, we decide not to translate it... right? So I modified the original to make room for this possiblity. The modification is in the first paragraph. J

[2018-01-29 16:14] mdlincoln commented on #706
@arojascastro Because of technical issues, it would be best to store retired translated lessons into the same `/retired` folder as the English lessons - I hope this is acceptable? Editors would still add `redirect_from` to the retired lesson YAML so that e.g. `/es/lecciones/introduccion-e-instalacion` redirected to `lessons/retired/introduccion-e-instalacion`

The new file `/lesson-retirement-poli

[2018-01-29 19:46] walshbr opened #708 "Editorial Meeting Agenda - 2/19/18"
Working agenda for the call Monday, 2/19/2018 - 5PM British, 12PM Eastern US, 9AM Pacific US. Drop items in here for discussion as they come to mind.

- [ ] #378 Further Translations (do we have capacity to support French translation?)
- [ ] #499 blog post on scoping lessons (should we skip this, or do it?)
- [x] #714 ready to be merged
- [ ] #619 Retaining balance with Amanda leaving
- [ ] Sponso

[2018-01-30 08:55] arojascastro commented on #706
Oki doki, I'll modify the translation. Thanks @mdlincoln

[2018-01-30 09:59] acrymble commented on #687
@drjwbaker anything you'd add to the above?

[2018-01-30 10:00] acrymble commented on #708
#378 Further Translations (do we have capacity to support French translation?)
#499 blog post on scoping lessons (should we skip this, or do it?)

[2018-01-30 10:14] drjwbaker commented on #687
@acrymble Sorry. Fell down the list. Some potential words.

[2018-01-30 17:57] smoothstatistics commented on #691
Thanks Amanda!
Monsij, how did you install Ruby 2.4.3 and make sure that your computer looked there when looking for Ruby? I have installed Ruby 2.4 manually but my computer still looks for Ruby 2.5 and then errors.

[2018-01-30 19:03] monsij commented on #691
Have you tried 'bundle install' too after the manual re-install of Ruby?

[2018-02-01 07:50] acrymble commented on #698
There is an option for uploading the file periodically (Upload DOAJ XML to us via the 'Upload Article XML' tab. You can either upload the file manually by selecting it from a location on your computer OR you can enter the URL where the DOAJ site should go to look for the file.)

This would be a big step in the right direction, and I suspect easier than the API option. It would mean I could just up

[2018-02-01 16:43] mdlincoln commented on #698
Maybe this is something that we could pin to the annual Zenodo archive activity @drjwbaker ?

[2018-02-01 16:48] drjwbaker commented on #698
Just to check I understand what is going on, do we need to generate DOAJ XML for every article and manually upload it or can be bulk upload a DOAJ XML file with multiple new articles in it?

[2018-02-01 16:49] acrymble commented on #698
It's my understanding (and hope) that it's the latter.

[2018-02-01 16:51] drjwbaker commented on #698
If so, we can roll that into the Zenodo activity if you want. Maybe by keeping a fresh DOAJ XML up to date each time we publish a new article, then uploading it periodically (though I'm speculating as I know next to nothing about the process here).

[2018-02-01 16:52] acrymble commented on #698
I think uploading it once a year is fine. What would really make the
process easy is if the XML was auto-generated from site metadata.

On Thu, Feb 1, 2018 at 4:51 PM, James Baker <notifications@github.com>
wrote:

[2018-02-01 16:53] mdlincoln commented on #698
I don't _think_ it'd be hard at all to create a jekyll template that keeps a current DOAJ XML file generated. If we want to go in that direction, I can try my hand at building it up.

[2018-02-01 22:13] mdlincoln commented on #698
Alright, here's a try at formatting this: https://5a738f8cdf995304f18d3bca--ph-dev.netlify.com/doaj_xml/doaj.xml

It passes the DOAJ xml validation fine. One issue with their schema is that it doesn't offer fine-grained creator roles, so I'm only pulling in our lesson authors, and will not include editors, reviewers, translators, or translation editors. I don't think DOAJ gives much leeway on this

[2018-02-01 22:42] mdlincoln commented on #698
Also, once we do a PR for this, then all someone would need to do once per year is pass the URL https://programminghistorian.org/doaj_xml/doaj.xml and their upload service should retrieve it.

[2018-02-04 12:54] amandavisconti commented on #691
@smoothstatistics I'm wondering if using `choco install ruby --version 2.4.3.1` instead of `choco install ruby` would help? I'll see if I can get access to a Window computer to test this. Thanks again for alerting me to this!

[2018-02-04 18:01] amandavisconti commented on #623
Realized I'm not going to have time to look at this soon, so if anyone else is willing to take a look—please do!

[2018-02-05 05:34] symac commented on #378
Thanks for all the comments on this. To answer @acrymble 's question, I have started working on introduction lessons :

- [introduction-and-installation](https://symac.github.io/jekyll/fr/lecons/introduction-et-installation) (**done**)
  - [mac-installation](https://symac.github.io/jekyll/fr/lecons/installation-python-mac) (partial)
- [viewing-html-files](https://symac.github.io/jekyll/fr/lecons/c

[2018-02-05 08:44] drjwbaker commented on #698
@mdlincoln Thanks for making a start. I've not forgotten this. Will take a look tomorrow.

[2018-02-05 09:16] drjwbaker commented on #378
Thanks @ettorerizza!

[2018-02-05 17:05] mdlincoln commented on #698
Thanks @drjwbaker - i've push a few edits in the meantime, so make sure to consult the latest at https://github.com/programminghistorian/jekyll/tree/oaj_xml

[2018-02-06 15:04] drjwbaker commented on #698
Okay. I'm being thick today. Link https://github.com/programminghistorian/jekyll/issues/698#issuecomment-362426665 doesn't work for me and I don't know what you mean by 'pass the URL [..] upload service should retrieve it'. I also don't know how and for what purpose https://github.com/programminghistorian/jekyll/tree/oaj_xml differs from https://github.com/programminghistorian/jekyll (the to pages

[2018-02-06 15:09] alsalin commented on #576
Hi folks - just checking in here. Does anyone have any other question suggestions? If not, at this point, given the issues that @drjwbaker has summarized, I can reword the survey questions we've come up with into some thematic groups and repost that here for review.

[2018-02-06 16:32] mdlincoln commented on #698
hah, let's get James a big cup of coffee ☕️

1. The branch I added the xml template to is `oaj_xml` so https://github.com/programminghistorian/jekyll/tree/oaj_xml is the URL where you can view the branch.
2. The netlify url was a branch preview - but to make things a bit easier to follow, I just opened a PR. As usual, you can click on the "Details" link next to the Netlify process to pull up a liv

[2018-02-06 16:34] mdlincoln commented on #698
As for the login credentials, that's on @acrymble

[2018-02-06 16:41] drjwbaker commented on #698
1. Get it. Branching to make small changes confuses me every time.
2. Don't know what you mean by 'As usual, you can click on the "Details" link next to the Netlify process to pull up a live preview'. I don't know what Netlify is so there is no 'as usual' for me. Not that it seems my comprehension here matters :)
3. Get it.

[2018-02-06 16:41] drjwbaker commented on #698
Reopening until I get login credentials from @acrymble

[2018-02-06 19:16] drjwbaker commented on #576
Go for it @alsalin. Thanks so much for taking a lead on this!

[2018-02-07 10:18] arojascastro commented on #651
I found these resources by the W3C about *internationalization* and *localization*: https://www.w3.org/International/getting-started/index

After reading, I drafted this text. Of course, my English can be improved, do not hesitate to suggest improvements concerning language and contents.

## Internationalization and localization

As the [World Wide Consortium](https://www.w3.org/International/ques

[2018-02-07 11:10] arojascastro commented on #651
You may also be interested in this Internationalization Checklist by Windows: https://msdn.microsoft.com/en-us/library/windows/desktop/ee845046(v=vs.85).aspx

There are more tecnical stuff that you may want to include @mdlincoln @acrymble ...

[2018-02-07 16:31] mdlincoln commented on #651
@arojascastro Thank you for drafting this. I really like this text - it is clear and covers many important issues, without being overly long.

Two thoughts

1. It might be useful to make even more explicit that we encourage for internationalization in both _methods_ as well as _sources_. For example, if the text analysis tool you're using works for multiple languages, you might consider showing ex

[2018-02-08 11:19] arojascastro commented on #651
Thank you @mdlincoln for your feedback.

1. How would you make that more explicit? Would you add one more bullet item saying "We encourage for internationalization in both methods as well as sources. For example, if the text analysis tool you're using works for multiple languages, you might consider showing examples of source data from different languages, demonstrating any required configuration

[2018-02-08 11:38] arojascastro commented on #651
Bonus: I found this article about "Writing for a Global Audience" interesting. But I do not think we should go in that detail, right? https://www.globalme.net/blog/writing-for-a-global-audience-25-dos-and-donts

[2018-02-08 11:52] acrymble commented on #651
This is an interesting discussion. I support it in principle (especially to get English speakers to think about the rest of the world when they write). But I am wary that we don't want to create a situation where local variation in needs and culture cannot be expressed. The DH skills needs of a place like Africa or S. America might be quite different from those of Europe. We wouldn't want a policy

[2018-02-08 11:57] arojascastro commented on #651
True, I agree that local needs may differ but for that reason we are also asking for original tutorials in Spanish. The point of this draft is to make easy to translate texts from one language into another. The same would apply to original tutorials in Spanish - if we ever publish one and you translate it into English you will encounter with many problems. On the other hand, I have done a lot of r

[2018-02-08 12:53] drjwbaker commented on #651
@arojascastro Thanks for all the research done on this. Looks great. One comment. After "for this reason, we encourage authors to adopt an international outlook while writing their lessons. Key aspects to be considered include but are not limited to:" why isn't the first thing we say something about authors considering writing in their language of choice (or contacting the editor to see if that is

[2018-02-08 13:14] arojascastro commented on #651
I agree with @drjwbaker, I like that clarification. By the way I saw that some lessons have been already translated into French...

On the other hand, I did not mean to castrate the "local" needs - none of these criteria should be compulsory but desiderable. Let's say that a tutorial focus on a resource available only in English and that the method only works with English texts. For me that is fin

[2018-02-09 01:16] jenniferisasi commented on #706
I've read the translation and I don't see any issues with it @arojascastro

[2018-02-10 13:40] acrymble commented on #651
I will use these guidelines as a talking point in the lesson I've just started editing. It's important that we don't change the goalposts for people further down the review process, but I think this is a positive idea. Thank you @arojascastro. Let's test it out and see how it goes before adopting it as formal policy (or adapting it before doing so).

[2018-02-12 04:45] jamotilla commented on #706
I´ve read the translation too, i think its very good

[2018-02-12 09:24] arojascastro commented on #651
Great! Let's test them and then adapt or propose a different approach. Let us know about the feedback from authors.

[2018-02-13 07:39] drjwbaker commented on #708
#619 Retaining balance with Amanda leaving

[2018-02-13 16:44] mdlincoln commented on #706
@arojascastro it looks like everyone likes this - can you please add it as a PR? I'd like to get this finished for our next conference call so we can get it off the agenda.

[2018-02-14 10:05] arojascastro commented on #706
Uploaded translation in committ  3a5f44d

[2018-02-15 19:34] mdlincoln opened #713 "Blog post announcing new retirement policy"
Once #612 is merged, I'll push a blog post announcing the new public retirement & sustainability policy guidelines.

[2018-02-15 21:07] mdlincoln commented on #534
Closed by #612

[2018-02-15 21:07] #534 closed, assigned to alsalin

[2018-02-15 21:07] mdlincoln commented on #536
Closed by #612

[2018-02-15 21:07] #536 closed, assigned to mdlincoln

[2018-02-15 21:07] mdlincoln commented on #514
Closed by #612

[2018-02-15 21:07] #514 closed, assigned to walshbr, mdlincoln

[2018-02-15 21:08] mdlincoln commented on #499
Closed by #612

[2018-02-15 21:09] mdlincoln commented on #499
sorry - I just noticed that @acrymble wanted to talk about this at the next meeting - I'll provisionally re-open. I think we should figure out if there's anything that needs to be added on now that we have sustainability policies published.

[2018-02-16 16:11] drjwbaker commented on #708
NoIssueNo: Sponsorship

[2018-02-16 17:15] mdlincoln commented on #547
I'm going to add to Ian's documentation on how to understand the PR checks by Ravis and Netlify, and how to properly submit a review.

[2018-02-16 18:42] acrymble opened #717 "Augmented Reality lesson issues"
- Introduction to Mobile Augmented Reality with Unity

According to Shawn Graham and Dany Guay-Belanger on Twitter, the above lesson is now out of date because of changes to the underlying software (Unity). I don't know the details of this, but Dany was sure that this needed to be revisited.

If either of them could help clarify the issue, that would be really great.

[2018-02-16 18:54] ianmilligan1 commented on #717
@shawngraham

[2018-02-16 19:50] shawngraham commented on #717
The problem is that one no longer downloads & installs the vuforia package from the vuforia website into Unity.  (I don't know if the stand-along package still exists for older versions of unity).

Instead, it's an option that one ticks off when installing Unity in the first place.

The next problem is that, once installed, AR objects are now default in-game objects with their own parameters and s

[2018-02-16 20:30] shawngraham commented on #717
https://blogs.unity3d.com/2018/01/15/vuforia-in-unity-build-cross-platform-ar-apps/

[2018-02-17 14:41] arojascastro commented on #547
Please! :)

[2018-02-18 00:29] rodrigovaldes opened #718 "Links broken (Exploring and Analyzing Network Data with Python)"
Hello,

I found that the links to the datasets (quakers_nodelist.csv, quakers_edgelist.csv) in the lesson Exploring and Analyzing Network Data with Python are broken. I hope those files are still available.

Btw, great project.

[2018-02-18 03:42] mdlincoln commented on #718
I don't see any problem with either https://programminghistorian.org/assets/exploring-and-analyzing-network-data-with-python/quakers_nodelist.csv or https://programminghistorian.org/assets/exploring-and-analyzing-network-data-with-python/quakers_edgelist.csv

Please report back with more detail if you're still having problems.

[2018-02-18 03:42] #718 closed, assigned to nobody

[2018-02-18 03:56] rodrigovaldes commented on #718
I am looking at this page,

http://programminghistorian.github.io/ph-submissions/lessons/published/exploring-and-analyzing-network-data-with-python#fnref:averagedegree

The links there are slightly different:

http://programminghistorian.github.io/assets/exploring-and-analyzing-network-data-with-python/quakers_nodelist.csv
http://programminghistorian.github.io/assets/exploring-and-analyzing-networ

[2018-02-18 07:22] mdlincoln commented on #718
http://programminghistorian.github.io/ph-submissions is the lesson submission and review site, so those lessons are old drafts and not the finished versions. The published site is https://programminghistorian.org, and the network analysis lesson you should use is https://programminghistorian.org/lessons/exploring-and-analyzing-network-data-with-python

[2018-02-18 23:26] mdlincoln commented on #547
I've added sections on how to see the Netlify preview, and how to properly submit a pull request review.

[2018-02-18 23:26] #547 closed, assigned to mdlincoln

[2018-02-19 15:52] #623 closed, assigned to mdlincoln

[2018-02-19 17:21] mdlincoln opened #720 "Remove abbreviations for PH"
The abbreviation "PH" was used a few times in some of the new guidelines pages.

[2018-02-19 17:22] #713 closed, assigned to mdlincoln

[2018-02-19 17:29] arojascastro commented on #686
I like stickers :)

We should flag / pin (?) @mariajoafana and @vgayolrs because they will be in DH2018 Mexico.

[2018-02-19 19:02] walshbr opened #721 "Current Research Projects or Submissions Pending about the Programming Historian"
At #708 it was noted that it would be helpful to know what research projects people on the board are undertaking with the project. We were thinking about workshops, grants applied for, articles under review. We're intending for this issue to be open in perpetuity. Open to suggestions for how to go about maintaining this. Feel free to modify the text here based on what you'd like to see or to comme

[2018-02-19 19:03] walshbr commented on #708
Actionables:

- [ ] #378 Further Translations - @acrymble will take a first run at some text that reflects the amount and areas of work involved with new translation projects so that others can comment.
- [x] #499 blog post on scoping lessons (should we skip this, or do it?) - @acrymble will open a PR to add the blog post to the site.
- [x] #714 ready to be merged
- [ ] #619 Retaining balance with

[2018-02-19 19:03] #708 closed, assigned to walshbr

[2018-02-20 08:24] drjwbaker commented on #721
Thanks for opening @walshbr. Lets make it a standing agenda item for each call as well.

[2018-02-20 10:18] acrymble commented on #720
This affects the following files:

- /author-guidelines#write-sustainably
- /reviewer-guidelines#sustainability
- /editor-guidelines#c-sustainability-review
- /es/guia-editor

[2018-02-20 16:08] mdlincoln commented on #706
Closed by #612

[2018-02-20 16:08] #706 closed, assigned to arojascastro, jenniferisasi, vgayolrs, mariajoafana, jamotilla

[2018-02-21 12:49] arojascastro opened #723 "Menu is not displayed on mobile devices?"
I accessed to the PH on my iPhone/Firefox and I found out that the Menu tabs “About” and “Contribute” are not working properly. If you click on them, the sub-contents are not displayed.

Can anyone else check?

[2018-02-21 14:11] walshbr commented on #723
Can confirm it's not working using my phone. You can't reproduce the issue in developer tools/web inspector on a desktop if you're simulating the mobile/responsive version of the site - more info [here](https://mobile1st.com/why-chrome-devtools-is-inaccurate-for-mobile-testing/). To actually work on the issue you'd need to plug the phone into a computer - more info [here](https://forums.tumult.com

[2018-02-21 14:52] drjwbaker opened #724 "Sponsorship of the Programming Historian"
The Programming Historian is a volunteer-driven project. In order for it to grow, improve, and be sustained, the Editorial Board of the Programming Historian are considering accepting sponsorship (judged on a case-by-case basis using a mechanism that has yet to be decided). This would enable us to:

- Pay for professional publishing services that would enhance the quality of our publication (e.g.,

[2018-02-21 15:43] alsalin commented on #576
Hi all!

I've narrowed down the questions to 3 main areas - who are our users, how do they use the site, what could we do better. I also cut out some questions in favor of making other questions more robust and trying to keep the survey short. There are a few areas where I'd love some help coming up with options for users to choose from - see below!

**Who are our users?**
- Which of the following

[2018-02-21 16:07] ianmilligan1 commented on #723
Confirmed that it's not showing up on my iPhone either.

[2018-02-21 16:11] drjwbaker commented on #576
@alsalin Awesome job. I would remove "On a scale of 1 (novice) to 6 (advanced), how would you rate your confidence with technology?" simply because it is super subjective and is unlikely to change how to read their responses to other questions.

If it would help, perhaps open a separate issue for each of the two 'other issues' questions so we can thrash out options we want in there outside the mai

[2018-02-21 17:48] mdlincoln commented on #723
*curses in CSS*

[2018-02-21 17:50] mdlincoln commented on #723
Do you feel able to take point on this @walshbr ? I'm glad to review what you do, but CSS is... not my forte :(

[2018-02-21 17:51] antimony27 commented on #724
Hey James (and PH in general),

 I understand the need for some funding down the road, but I also think a wide call for editors would be helpful (perhaps you've done this before, I'm not sure). I've been running PH meetups at the University of Guelph for about 6 months, and I would volunteer time to copy-edit some lessons. I wasn't sure about how to make suggestions, etc, but now I see that this c

[2018-02-21 18:28] walshbr commented on #723
Yeah I can take a look @mdlincoln.

[2018-02-21 18:30] drjwbaker commented on #724
@antimony27 Some interesting suggestions (and enthusiasm!), but I'm not sure they quite fit our editorial workflow as it stands: a workflow that would be challenging and time-consuming to unpick.

With respect to how lessons get from ideas to articles, this is very much like a standard publication: the idea is submitted, it goes through peer review, a decision is made based on that whether or not

[2018-02-21 18:51] antimony27 commented on #724
Right - sorry if this didn't fit within what you are thinking or with the ideas of the PH team/workflow. Just thoughts, wasn't trying to undermine any of the important work done by the team or by copy-editors. Feel free to shift the convo elsewhere.

[2018-02-21 18:56] drjwbaker opened #725 "Using edit-a-thons and meet-up editing to added value and enhance community engagement"
Further to the suggestion by @antimony27 at https://github.com/programminghistorian/jekyll/issues/724#issuecomment-367411931 opening this thread to discuss adding value and generating community engagement through edit-a-thons (fix-a-thons?) and meet-up edits of PH materials, and how we might square this with our current editorial workflows.

[2018-02-21 18:57] drjwbaker commented on #724
@antimony27 I love the ideas. I've opened a specific issue to discuss further: https://github.com/programminghistorian/jekyll/issues/725

[2018-02-21 19:26] mdlincoln commented on #725
see also #182

[2018-02-21 21:18] acrymble commented on #725
This also links to #498 and concerns expressed (mostly by me) about revising lessons and the ethics of 'authorship' being attributed to a derivative work. This is something that has to be handled very carefully if we pursue it.

[2018-02-21 21:50] antimony27 commented on #725
Hi @mdlincoln @acrymble @drjwbaker Thanks for the feedback. Am taking it all in and learning about your process and previous thoughts is very interesting. Thank you for being so open.

I wanted to quickly state that I was not thinking about editing the content of the lessons as one would a wikipedia article - I think my reference there just the idea more than the amount of editing that takes place

[2018-02-22 18:44] acrymble commented on #725
@antimony27 I really like the idea of getting people together to make contributions for the greater good. I wonder what the most productive such activity would be?

[2018-02-23 07:01] #720 closed, assigned to acrymble

[2018-02-23 07:10] mdlincoln commented on #499
Closed with #722

[2018-02-23 07:10] #499 closed, assigned to acrymble

[2018-02-23 10:26] arojascastro commented on #576
Should we add some questions concerning Spanish translations? It would be a good way to assess the quality of our work. Otherwise, we may create our own survey. What do you think @mariajoafana @vgayolrs @jenniferisasi @jamotilla ?

[2018-02-23 14:56] walshbr commented on #723
Looks like this is related to an underlying issue - we are running Bootstrap 4 alpha for css and js, which is a bit concerning since it's an alpha release. Bootstrap is on version 4 now, so we might want to migrate over to the stable release at some point. I tried that migration out just to see how complicated it was, and it looks like BS has changed enough that it would break some non-trivial CSS

[2018-02-23 18:56] walshbr commented on #723
Tinkered with this some today and wasn't able to get anywhere. The same problem persists when working with the Bootstrap/CSS stable release as with the alpha one we are currently using. Wasn't able to find a workaround. My recommendation would be to carefully compare the structure of the nav menu HTML with the bootstrap docs to make sure it's not an issue of container nesting, but I wasn't able to

[2018-02-23 19:23] acrymble commented on #723
I don't know anything about bootstrap. But could stack overflow help here?

On Fri, Feb 23, 2018 at 6:56 PM, Brandon Walsh <notifications@github.com>
wrote:

[2018-02-23 19:31] walshbr commented on #723
I feel like I've exhausted the extant Stack Overflow tickets related to this, but I can certainly put together a post of our own asking for input from the SO community. I might consult with @mdlincoln to make sure that I'm describing our technical architecture correctly.

[2018-02-24 07:48] acrymble commented on #576
I'd do that separately since it makes most sense to ask in Spanish.

On Fri, Feb 23, 2018 at 10:26 AM, Antonio Rojas Castro <
notifications@github.com> wrote:

[2018-02-24 15:41] arojascastro commented on #723
Once you have written that summary, I can share with my colleagues at CCeH, who have experience with Bootstrap and CCS and JS.

[2018-02-25 17:25] jenniferisasi commented on #576
I am inclined to say that we do a separate survey with the same questions in Spanish, however, I feel like our audience can/should also take part in the survey in English mainly for one reason: we have fewer tutorials so people might be using the PH in both languages. What do you think @arojascastro? Of course we could also add that question on the survey in Spanish.

Also, on the question about g

[2018-02-26 10:03] arojascastro commented on #685
How is this going @jenniferisasi and @jamotilla ? Any progress? Do you need help?

[2018-02-26 10:04] arojascastro commented on #600
Maybe the new editors @jenniferisasi and @jamotilla can give us their opinion about this?

[2018-02-26 14:30] walshbr opened #729 "Editorial Meeting Agenda - 3/29/18"
Working agenda for the call Monday, 3/29/2018 - 5PM British, 12PM Eastern US, 9AM Pacific US. Drop items in here for discussion as they come to mind.

- [x] Introductions
- [ ] #721 - standing call to update ticket with new research or submissions about the project
- [ ] Sabbaticals - how long are they? so that we have a sense of our capacity.
- [ ] #651 - Internationalization and localization
- [

[2018-02-26 14:45] alsalin commented on #576
@jenniferisasi I like both of the ideas to add spanish questions to the english survey and to add questions about primary language for research/publishing.

[2018-02-26 14:45] acrymble commented on #729
Can we have an item about sabatticals? I know we have a couple of people on sabbatical, but I don't think we know how long they need. I think it would be helpful if that could be expressed so we know what our capacity is.

[2018-02-26 14:47] jamotilla commented on #685
Hi @arojascastro, @jenniferisasi already sent me a draft, and i´m working on it. I think i´ll have it today. Thanks

[2018-02-26 14:51] arojascastro commented on #685
Great, just keep us updated...

[2018-02-26 18:40] walshbr commented on #723
Question is posted on SO [here](https://stackoverflow.com/questions/48994997/dropdown-menus-not-showing-on-iphone-bootstrap-4-alpha), if you wanted to share with your colleagues @arojascastro.

[2018-02-26 22:06] jenniferisasi commented on #600
@arojascastro upon checking the English team's tracking, I can really see the use of having our own tracking of reviewers.
One use I can think of right now is to have a record of positive or negative responses and the time each reviewer takes to review. Also, as you point out, there's no record of reviewers on the [/lista-de-traducciones.md](https://github.com/programminghistorian/ph-submissions/b

[2018-02-27 09:38] arojascastro commented on #723
A colleague of mine asked:

[2018-02-27 14:10] walshbr commented on #723
Is popper.js required for that version of Bootstrap? I know it is for the later versions, but according to the documentation for the version we are running [here](https://v4-alpha.getbootstrap.com/getting-started/introduction/#quick-start) popper.js isn't required for this version. I tried to include it while tinkering, and it didn't seem to fix the issue. But can try again.

[2018-02-27 14:48] arojascastro commented on #729
Can we re-adress Internationzational and localization #651 ? I guess by March we will have some new inputs / ideas?

[2018-02-28 15:08] JMParr opened #730 "Discussion on DH and Institutional Credit"
The Programming Historian relies on the generosity of authors and reviewers to produce our tutorials. Our contributors come from a range of institutions in different countries. We have decided to open a discussion to help the editorial team better understand how our contributors's institutions view DH work, and how our contributors receive credit for their work with us - whether it's for faculty t

[2018-02-28 17:02] acrymble commented on #378
As all content on the _Programming Historian_ is licensed under a CC-BY license, anyone is free to translate and republish the material.

The _Programming Historian_ team is open in principle to additional official translations and non-English based teams working towards original content, which we would host as part of the main project.

Translation is not, however, purely a matter of converting l

[2018-03-01 12:51] peterwebster commented on #724
Hi @drjwbaker : I quite see the need, and I don't imagine many folk would have any principled objection as such. I guess much depends on the mechanism: what sort of size of sponsorship do you need/want? Lots of grateful former or current users, dropping in £20/year by Paypal, or two or three big organisations? What can you offer a sponsor (assuming that it isn't done purely for the warm feeling of

[2018-03-01 15:45] drjwbaker commented on #724
Thanks @peterwebster. These are useful questions. I'd imagined seeking funding from orgs rather than individuals, and that they would get back a masted brand recognition thing - 'powered by X' or similar. My fellow editors might have different ideas, but this is precisely why we opened this ticket.

[2018-03-01 18:07] SMDreller commented on #724
Hi, @drjwbaker.

I am a copy editor, so I'd like to start by thanking you and your colleagues at the Programming Historian for insisting that professionals like me be paid appropriately for the editing services we provide.

I am also a historian and from my perspective there is nothing inherently wrong with a project like yours developing a thoughtful sponsorship program. Nothing at all. Everythin

[2018-03-02 13:48] drjwbaker commented on #724
@SMDreller Super helpful. Thank you. On ..

.. I concur. We have author https://programminghistorian.org/author-guidelines#write-sustainably and reviewer https://programminghistorian.org/reviewer-guidelines#sustainability guidelines on creating sustainable lessons which I would not like to see compromised by sponsorship, which probably rules our lesson sponsorship (which wasn't an option I'd consi

[2018-03-02 13:50] sdfb commented on #730
One thought, for those of us who submit publications as part of dossiers for review, might be to support nicely formatted downloadable PDFs.  The look and feel of more traditional journal articles could help make PH lessons more legible as scholarly contributions.

[2018-03-02 14:01] walshbr commented on #730
Thanks @sdfb. I wonder if we might be able to address some of those concerns by being a little more deliberate with our styling for printing. Right now printing a PH lesson looks like you've printed a webpage, which is a mixed bag at best. But we can control the look and feel of a page for printing via CSS. We could make it a bit more legible and formatted as a scholarly contribution when printed,

[2018-03-02 15:22] drjwbaker commented on #730
I suspect .md to .pdf translators than can be tweaked to give a more scholarly look and feel exist. I know @acrymble did *a lot* of manual work for the PH Print Edition, but on an article by article basis this might work https://pandoc-scholar.github.io/ I'm going to https://www.software.ac.uk/cw18 so might be able to sneak work around this topic (though not PH specific) into the hackday agenda...

[2018-03-02 15:27] acrymble commented on #730
Thanks @sdfb. Just by way of making links to older conversations around this idea, these threads are pertinent:

- #417 PDF version-of-record
- #410 Propose "Version of Record" + amendment of lessons
- #65 Write a script to produce ebook and pdf

[2018-03-02 15:33] acrymble commented on #698
I have transferred ownership of the DOAJ account to @drjwbaker

[2018-03-02 17:07] drjwbaker commented on #698
Got it. I'll work on this when I get a minute (hopefully the strikes break meaning sooner rather than later..) then setup something in the service integrations re doing this regularly.

- [x] Update journal articles at [DOAJ](https://doaj.org/publisher/)
- [x] Document workflow (including regularity of updates) at https://github.com/programminghistorian/jekyll/wiki/Service-Integrations

[2018-03-04 16:58] maximromanov opened #732 "Rattle snake image for "Python""
- https://programminghistorian.org/lessons/introduction-and-installation

The image of a rattle snake* for "python" is a bit weird. All the lessons are really great, so this thing looks a bit silly...

* https://programminghistorian.org/gallery/introduction-and-installation.png

[2018-03-04 21:43] jenniferisasi commented on #685
Here is our draft for the CFP. We have included text from the website and are not sure if it is needed as part of the CFP or if you think it would be better to have a link to the guide(s)?

Call for Papers para lecciones originales en español

Programming Historian

The Programming Historian en español ha establecido una comunidad diversa en la que publicamos tutoriales revisados por pares dirigid

[2018-03-05 01:03] taylor-arnold commented on #730
This is an important issue for me. While tenure and promotion at my institution emphasizes research output, demonstrating excellence and innovation in teaching is also taken seriously. Peer-reviewed articles published in pedagogical or tutorial oriented journals is an established way of doing this (in fact, it is even explicitly written into my department's career profile).

Personally, I do not f

[2018-03-05 07:53] drjwbaker commented on #730
Thanks @statsmaths! I certainly think we should have 2) and don't know why we dont (I think this is a long debate..). 3) - as I understand it - costs money we don't have at the moment. 1) could be retrofitted (one volume a year, one issue every six months), though I'm curious that it is important at all given that so many articles these days are published a year or more before they get assigned vo

[2018-03-05 08:06] acrymble commented on #730
Thanks @statsmath. You're right, we've had some earlier conversations about these ideas.

On DOIs & Volumes see #64
On Suggested Citations see #82 #130 #404

They've fallen in the past due to differing ideas on the team about what type of publication we were.

@drjwbaker I think the advantage of volume numbers is purely as a signifier to the everyday working historian that this falls into a catego

[2018-03-05 08:19] acrymble commented on #729
#724 and #730

[2018-03-05 08:39] arojascastro commented on #685
¡Muchas gracias @jenniferisasi y @jamotilla! Me parece excelentemente explicado.

Creo que podría ser un poco más breve, es decir, no hace falta poner lo que sigue a partir de "Las propuestas y las lecciones serán revisadas de acuerdo a los lineamientos que The Programming Historian en Español utiliza para las traducciones" sino enlazar a las guías y políticas.

Creo que también se podría menciona

[2018-03-05 11:50] acrymble commented on #732
You're absolutely right that it's not a Python. None of our icons are really exact representations of the lesson topic. We do try to come up with an image that loosely fits some of the themes of a lesson, but we're drawing from what's available online in open collections, so sometimes we have to get creative.

[2018-03-05 11:50] #732 closed, assigned to nobody

[2018-03-05 20:37] mhbeals commented on #724
I would suggest we take a page from the response to the Ad-pocalypse on YouTube. There are three trends developing there that I think would work for PH.

1) Affiliate status of relevant retailers rather than sponsor-directed ads. For example, there are many YouTubers who work with Audible, Amazon and other platforms. They recommend books, and the like, based on their own professional perception of

[2018-03-06 14:06] acrymble commented on #724
@mhbeals thanks for the suggestions. I've heard of Patreon, but never used it. That's a bit like the scholarly society model of paying $20 per year and they put out a journal (without looking like that's what it is).

[2018-03-07 19:35] mdlincoln opened #735 "new translation: google maps?"
Hi @mariajoafana I noticed you created [a new branch with a translation of the Google Maps lesson](https://github.com/programminghistorian/jekyll/tree/mariajoafana-patch-1) a few days but you never submitted a pull request for it.

Is this ready to be reviewed and merged onto the site, or are you still working on it?

re: https://github.com/programminghistorian/ph-submissions/issues/130

[2018-03-08 19:54] #723 closed, assigned to walshbr

[2018-03-09 09:42] drjwbaker commented on #724
1. I know little about. 3. I understand from @acrymble raises very little £. On 2., I like the idea of Patreon - eg https://www.patreon.com/bePatron?c=1246580&rid=2088750 - and am curiously what experiences of others are with it. But @mhbeals I also think there is a 4. option we'd be wise to consider: direct monetary or in-kind support from organizations who want to associate themselves with us an

[2018-03-09 11:03] arojascastro commented on #724
I like number 2 as well. Patreon or Paypall are good options -- Wikipedia accepts donations as well. Maybe we should find out about the legal conditions that we should meet in order to get money.

[2018-03-09 11:17] arojascastro commented on #651
I am sorry to insist on this, but there are a few lessons under revision and I noticed that this issue was not considered. Maybe it is too late for taking this into account BUT it would be good to put it in practice and get feedback from authors and reviewers...

[2018-03-09 12:36] drjwbaker commented on #651
You are right. We need to pick this up again. Perhaps we need some agreed text as a starting point for the call (https://github.com/programminghistorian/jekyll/issues/651#issuecomment-363722402 ?) and a sense of where it might fit into our existing guidelines (note some overlap with https://github.com/programminghistorian/jekyll/issues/378#issuecomment-369307840)

[2018-03-09 14:15] acrymble commented on #651
@arojascastro if the lessons you're talking about are still under review (eg, the editor hasn't asked for an end to reviews), perhaps you could add a constructive comment or two so that editors can incorporate that in the revision? Our review process is open to anyone before the editor calls for a halt.

[2018-03-09 14:17] arojascastro commented on #651
Yes, I thought so, I wanted to check here with you all -- I hope to be constructive... it's not my strongest skill.

[2018-03-09 14:32] drjwbaker opened #737 "Data Wrangling and Management in R - incorrect 'About the Author' section?"
In [this](https://programminghistorian.org/lessons/data_wrangling_and_management_in_R) lesson the 'About the Author' section is in Spanish for some reason. Is this an error?

[2018-03-09 14:50] drjwbaker commented on #698
Done for March (found it easier to do manually in the end). Shall repeat every six months. Reminder set.

[2018-03-09 16:03] mdlincoln commented on #698
@drjwbaker ...did the xml not work?

[2018-03-09 16:14] drjwbaker commented on #698
I'm sure it would. I just figured there weren't that many to add and I'd have to cut/paste the data into the xml template anyway, so I just did it manually. I took the 'non-geek' route https://maxhemingway.files.wordpress.com/2015/05/geeks-vs-nongeeks-repetitive-tasks.png to save time :)

[2018-03-09 16:22] mdlincoln commented on #698
Did the Spanish lessons make in in there? Because I can't find them [in our listing](https://doaj.org/toc/2397-2068) but maybe I missed it somewhere.

[2018-03-09 16:26] #737 closed, assigned to mdlincoln

[2018-03-09 16:27] drjwbaker commented on #698
No. I have it on my list to discuss this at the next editorial meeting (that is, how we want to handle it).

[2018-03-09 16:30] drjwbaker commented on #729
On #730, we need to discuss if we want the ES dates & vol numbers - if we go that way - to be the same as EN date & vol numbers (my instinct is no as it is new work, but that could open complexities re the ISSN et al, which links to #698)

[2018-03-10 11:59] arojascastro commented on #651
My comments about *Introduction to Stylometry w Python* here: https://github.com/programminghistorian/ph-submissions/issues/147

[2018-03-11 01:13] jenniferisasi commented on #685
¡Gracias @arojascastro! Es fácil acortarlo y añadir los links. Tomo nota de los cambios/añadidos que propones mientras espero la respuesta de los otros compañeros sobre Markdown y la persona a quien se deben enviar las propuestas.

[2018-03-11 12:01] arojascastro commented on #729
I think they are different works, printed translations usually get their own "metadata", but if it becomes troublesome... I guess our goal should be to make the whole conversion into PDF totally automatic.

[2018-03-12 12:57] walshbr commented on #717
I pinged Jacob about this. He's going to try to jump into this thread in the next week or two with some thoughts on how to approach revisions. He's also giving an AR workshop in mid-April, so he proposed using that as an opportunity to beta test revisions to the lesson.

[2018-03-13 10:42] arojascastro commented on #600
Good!

For the old tutorials: Anyone would like to start adding the names of our reviewers, their github username, the date they finished their contribution, the lesson and editor? (maybe also their email) Who is willing to take care of it? That person should just go to the website and browse all the translations and take note of the information. @vgayolrs @mariajoafana @jenniferisasi @jamotilla

[2018-03-13 15:16] jamotilla commented on #600
I can do it @arojascastro

[2018-03-13 20:39] mariajoafana commented on #685
My paper on PH en español was accepted for DH2018 in Mexico and my talk would be a good moment to make the call and assess with the audience the types of tutorials that people want to find in PH en español and what kinds of tutorials people in the Spanish-speaking world can and want to write. Or maybe is worth it to plan an informal meeting during the conference to talk about the call and encourag

[2018-03-13 20:42] mariajoafana commented on #735
Hi @mdlincoln , yes, I just created the pull request. The lesson is ready now, I've having some problems uploading the images, my GitHub desktop is acting funny. I'll try again tomorrow in my office's computer

[2018-03-13 21:37] acrymble commented on #685
Congratulations, I'm really pleased to hear your talk was accepted!

[2018-03-14 09:07] arojascastro commented on #685
Congrats!  It would be great to use that platform to get some feedback from Hispanic users. However, I thought that the call would be published as soon as we have a final version... why should we wait until June?

[2018-03-14 11:41] acrymble commented on #724
We'll need to remember that this is meant to be a time saver, so any solution has to benefit that aim rather than take too much effort to administer and encourage.

[2018-03-14 15:39] alsalin commented on #576
Hi all! If there are no other suggestions, I'd like to get this rolling in an actual survey platform. What do folks recommend? SurveyMonkey or Google Forms? Do we have preferred accounts to serve out the surveys from? (e.g. like a PH account for SurveyMonkey?)
Also will we just be tweeting out the survey or will there be a writeup about it?

[2018-03-14 22:45] jenniferisasi commented on #685
Aquí va el CFP revisado. He quitado lo que dijimos y algo más, pues releyendo me parecía repetitivo para un llamado a recepción de lecciones. @arojascastro he puesto tu contacto para la recepción de abstracts por estar tu nombre en la web. Creo que aquí deberíamos aceptar Word u otros formatos más comunes porque no se suben a Github, ¿no? Creo que pedir Markdown de primeras podría echar para atrás

[2018-03-15 14:13] walshbr commented on #729
Just realized that with daylight savings time just began in America the times listed here might be a tad skewed.

[2018-03-15 14:24] walshbr commented on #729
Just realized that since daylight savings time just began in America the times listed here might be a tad skewed. @acrymble can you confirm, as I'm not as familiar with the time changes in England and Germany? It looks like Germany will be on DST by March 29th but not England.

By my math these would be the actual aligned timezones for March 29th - 6pm German, 4pm British, 12PM Eastern US, 9AM Pac

[2018-03-15 14:43] acrymble commented on #729
Our clocks change before the meeting. I can't say for anywhere else.

[2018-03-15 14:53] walshbr commented on #729
Ah thanks - all should be fine then. And the meeting can stand at the normal time of 5PM British, 12PM Eastern US, 9AM Pacific US.

[2018-03-16 02:28] ianmilligan1 opened #742 "Some broken links in the Edinburgh Geoparser lesson"
A note for me to look into the broken links on the Geoparser lesson. Will do so tomorrow.

[2018-03-16 04:05] mdlincoln commented on #742
I just fixed these up in #740 👍

[2018-03-16 04:05] #742 closed, assigned to ianmilligan1

[2018-03-18 07:57] acrymble opened #743 "Onboarding checklist for new editors"
I don't think we've ever compiled a list of what needs to happen when we bring a new member of the team on board. I thought I'd try to do that so we can smooth the transition in future. Please add items I've forgotten.

- [ ] Add to Google Group (@acrymble)
- [ ] Add to Google Analytics (@acrymble)
- [ ] Add to Twitter team (@acrymble)
- [ ] Add to Github Repos (@mdlincoln)
- [ ] Add bio to /data/

[2018-03-18 14:46] arojascastro commented on #743
Very good! I can't think of anymore tasks at the moment. I am not sure people see issues unless they are pinned so... @vgayolrs @mariajoafana @jenniferisasi @jamotilla for the Spanish team.

[2018-03-18 22:59] nolauren commented on #730
Thanks for adding these issues to the next Editorial Meeting Agenda. I just want to echo the importance of demonstrating that these are peer reviewed "articles".  Adding a number and volume issue would not only help make this more legible to our institutions but also help users know new lessons are available. Organizing some of these issues around a particular topic/ method might also help build o

[2018-03-19 02:23] JMParr commented on #730
Thank you, Lauren!

On Sun, Mar 18, 2018 at 6:59 PM, Lauren <notifications@github.com> wrote:

[2018-03-19 09:20] drjwbaker commented on #576
@alsalin You raise an important point here as the scope and outputs of the survey should be clear to the participants. Some ideas (which you might have thought of already..):

- state the period it will be open (3 months?)
- state that we won't keep data (those on the European side of the project need to be careful we don't breach data protection laws) and will meaningfully anonymize all results (

[2018-03-19 09:28] drjwbaker commented on #685
Publish now, highlight call at DH? (I'll be there as well)

[2018-03-19 20:34] jacobwgreene commented on #717
Hey all, thanks for bringing attention to this. I'm glad to see other people doing AR work in Unity! Would love to hear about your projects sometime.

As Brandon noted, I'm hoping to get a new tutorial written up in the next few weeks that addresses the new integration of Unity/Vuforia. It is actually much easier to get up and running, but I will keep some of the info from the previous lesson abou

[2018-03-19 20:34] jacobwgreene commented on #717
and my Twitter handle is @jacobwesgreene

[2018-03-19 23:21] mdlincoln commented on #743
I've been wondering if it would be useful for new team members (and maybe even current team members!) to schedule a live onboarding session via skype & screencasting for the technical aspects of how to submit pull requests, how to add commits to specific branches, how to do reviews, etc?

We've tried to encapsulate much of the technical bits in written documentation, but it's still a difficult pro

[2018-03-20 00:06] mdlincoln commented on #717
@jacobwgreene Those are interesting points about possible new lessons. However, that still leaves us with the potential problems in the current lesson. Do you think the existing lesson is worth editing back in to shape? Or are the changes extensive enough that it's better to just do a new one entirely based on Unity/Vuforia? In which case we'd probably want to [retire](https://programminghistorian

[2018-03-20 08:31] acrymble commented on #743
It might just be a matter of having to add a paragraph to https://github.com/programminghistorian/jekyll/wiki/Making-Technical-Contributions that includes how to add more changes to an existing pull request and why multiple pull requests aren't desirable. Github isn't very intuitive to many people, but I've found those instructions helpful.

[2018-03-20 09:38] arojascastro opened #748 "Normalize communication instance EN / ES"
I just noticed that in the English Team page, there are two contacts for the Spanish team: https://programminghistorian.org/project-team

![captura de pantalla 2018-03-20 a las 10 33 32](https://user-images.githubusercontent.com/7340111/37646714-a8ee5bfe-2c2a-11e8-8003-ab4323a27744.png)

Whereas in the Spanish Team page, there is only one - myself: https://programminghistorian.org/es/equipo-de-pro

[2018-03-20 09:41] acrymble commented on #748
Ya that's a mistake. You can change it.

[2018-03-20 10:35] drjwbaker commented on #743
@mdlincoln What strikes me about your point is that we editors have a culture of emailing each other created - in roughly equal parts - by being geographically dispersed and by having a culture where the majority of our decisions are captured/versioned in public. It doesn't have to be that way. We could choose to talk and/or IM to discuss little niggles (eg, how to do X on GitHub) but we don't. Ad

[2018-03-20 12:39] walshbr commented on #743
I might have appreciated a couple sentences about how to manage GitHub notifications. I had never worked on a collaborative repo as active as ours before joining the group, and the issue thread notifications were a bit overwhelming those first couple days until I figured things out.

[2018-03-20 12:41] walshbr commented on #717
@jacobwgreene - I noticed the Twitter handle as well. I've updated you on the site and in the Twitter bot spreadsheet.

[2018-03-20 13:43] ianmilligan1 commented on #743
FWIW, I'm on other projects that are heavily GitHub based, and I did a lot of onboarding through in-person sessions w/ incoming people as well as us having a Slack group where people can ping for relatively real-time help.

I can add a few more screenshots to the wiki @acrymble for adding to an existing PR.

[2018-03-20 13:44] ianmilligan1 commented on #748
Closed with #749

[2018-03-20 13:44] #748 closed, assigned to acrymble, mdlincoln, arojascastro, vgayolrs

[2018-03-20 13:53] ianmilligan1 commented on #743
I've added a new section on "The Additional Change" to that https://github.com/programminghistorian/jekyll/wiki/Making-Technical-Contributions.

This is a good walkthrough on basic GitHub. I made it compulsory for my team of RAs one summer. https://swcarpentry.github.io/git-novice/

[2018-03-20 14:45] alsalin commented on #743
I very much second the Slack group brought up above for many reasons, but at the least I think that all of this is awesome. Especially the GitHub walkthroughs that the team approves of since there are several ways to get things done.

[2018-03-20 15:19] alsalin commented on #576
Hi folks! A rough draft of the survey is up in my google drive: https://goo.gl/forms/2w0PnVtnTjlJa3ss2

We can always move platforms, but it might help to see the thing in action to get a sense for what we might need to edit.

[2018-03-20 20:00] arojascastro opened #751 "What kind of proposals are we looking for?"
I do not intend to create a never-ending discussion, however, after all the issues that we have recently faced, I am wondering if we should rethink our definition of "ideal" lesson. This translate in a very specific way in our Guidelines for authors, where we state:

See the context [here](https://programminghistorian.org/author-guidelines#proposing-a-new-lesson).

We should be able to be more con

[2018-03-21 08:16] acrymble commented on #576
@alsalin thanks for the link. The survey looks good, but it implies all of our users are or should be academics. That's probably not the case given our large numbers of readers.

[2018-03-21 08:27] arojascastro commented on #576
I couldn't respond yet but I will. DariahTeach launched a survey as well. Here is the link: https://www.surveymonkey.com/r/dariahTeach

[2018-03-21 09:07] drjwbaker commented on #576
@acrymble Good catch. This is easily fixed, by making some questions non-compulsory and then beginning with something like "If you research or teach, .."

[2018-03-21 09:11] drjwbaker commented on #751
I take..

.. as a statement about the **thematic** content of the lessons we are looking for, which is separate from - say - the issues of sustainability or language independent which, @arojascastro, you rightly point out we also want. Maybe it is a case of making that explicit, so that sustainability or language independent don't appear to come as secondary considerations?

[2018-03-21 09:17] arojascastro commented on #751
Ah, I missed that point... so if it means *thematic* it makes sense - though not all topics should be accepted, only those relevant for the humanities, I think (or maybe I'm wrong).

But after that, we can read things about:

- length
- level of expertise

I argue for saying something extra, but only if that would help authors and reviewers.

[2018-03-21 09:59] drjwbaker commented on #751
@arojascastro No, I think you are correct: the *thematic* nature of that text is implied rather than explicit.

[2018-03-21 11:14] arojascastro commented on #751
On the other hand, maybe we can be a little bit more concrete about methods? Let's have a look at our index:

![captura de pantalla 2018-03-21 a las 12 13 47](https://user-images.githubusercontent.com/7340111/37706883-5c5c25c8-2d01-11e8-85f1-b599d10767e7.png)

[2018-03-21 12:54] JMParr commented on #751
Good discussion. Is this worth adding to our agenda for next week's editorial call?

[2018-03-21 12:58] walshbr commented on #751
Added it to the agenda. For what it's worth, anyone can add items to the agenda by editing the comment I've made at the top of the editorial meeting ticket - you can then edit the text of the agenda directly.

[2018-03-21 13:13] jdyson1 opened #754 "Corporation is misspelled as coporation"
The word Corporation is misspelled as coporation on https://programminghistorian.org/lessons/sentiment-analysis.

[2018-03-21 13:28] ianmilligan1 commented on #754
Thanks @jdyson1 – I'll patch this!

[2018-03-21 14:46] #754 closed, assigned to ianmilligan1

[2018-03-22 09:24] arojascastro opened #756 "Published lessons in English that may not be translated into Spanish"
Yesterday, I intended to update our list of [pending translations](https://github.com/programminghistorian/ph-submissions/blob/gh-pages/es/lista-de-traducciones.md).

As you may know, we decided not to translate lessons that the English team has already archived because of sustainability problems. In addition, we decided not to translate those lessons that are very language independent - such as t

[2018-03-22 09:30] acrymble commented on #756
The lesson on sentiment analysis would need to be written using a Spanish language sentiment analysis tool, since this is obviously based on English words. It's appropriate to leave this out of the translation.

[2018-03-22 09:33] arojascastro commented on #756
Thanks for your confirmation @acrymble !

[2018-03-22 09:56] ianmilligan1 commented on #756
Any chance we could use different phrasing than “rejected”? Maybe something like “not amenable to translation”?

[2018-03-22 09:57] arojascastro commented on #756
Sure, changed and sorry!

[2018-03-22 14:43] alsalin commented on #576
@acrymble @drjwbaker ah yes - our internal biases apparent. do we have any suggestions for engaging our non-academic readers? I can easily add, "If you research or teach," to the first part, but might we want to get info on other occupations?

[2018-03-22 16:03] drjwbaker commented on #576
Prompt people to offer their non-acdemic roles rather than assume a limited set of categories?

[2018-03-23 15:21] jenniferisasi commented on #685
We are going to publish the CFP on a blog post, then distribute it on email lists and social media. I am going to work on the post these days.

[2018-03-24 16:18] arojascastro opened #758 "Files not in assets directory"
I am currently translating this tutorial on [XML and XSL](https://programminghistorian.org/lessons/transforming-xml-with-xsl). The necessary files to complete the tutorial are stored in the author's github repository. I was wondering if we should store them in ours instead. See this section: https://programminghistorian.org/lessons/transforming-xml-with-xsl#choosing-and-preparing-xml-data

On the

[2018-03-24 16:19] ianmilligan1 commented on #758
It should probably be "aggravation." I'll submit a PR to fix that typo.

[2018-03-24 16:24] ianmilligan1 commented on #758
@acrymble edited this lesson - what do you think Adam?

[2018-03-25 08:58] acrymble commented on #758
yes that's clearly a typo. Sorry.

As for storing the data on our servers, this would be a good idea for sustainability reasons. @mhbeals is that ok, since you created these files?

[2018-03-25 09:54] arojascastro commented on #758
I have one more question. I do not understand what "the module tutor" means, I do not know how to translate that.

[Context](https://programminghistorian.org/lessons/transforming-xml-with-xsl#choosing-and-preparing-xml-data):

[2018-03-25 09:55] arojascastro commented on #758
Uhmm I think I solved it. Forget.

[2018-03-25 11:20] acrymble commented on #758
it just means teacher or lecturer. Very British expression.

On Sun, Mar 25, 2018 at 10:55 AM, Antonio Rojas Castro <
notifications@github.com> wrote:

[2018-03-25 12:05] mhbeals commented on #758
I am happy to have the files transferred.

-MHB
________________________________
From: Adam Crymble <notifications@github.com>
Sent: Sunday, March 25, 2018 12:20:48 PM
To: programminghistorian/jekyll
Cc: Melodee Beals; Mention
Subject: Re: [programminghistorian/jekyll] Files not in assets directory (#758)

it just means teacher or lecturer. Very British expression.

On Sun, Mar 25, 2018 at 10:55 A

[2018-03-25 16:08] arojascastro commented on #758
Hello all,

I am wondering if I would have the author's permission to translate the names of the xml file into Spanish -- as well as the XSLT intructions. This is an extra work, but maybe it is worth the effort. What do you think?

### XSLT

[code]

### output

[code]

In that case I would generate a `SAPsimple_es.xml` file that we could store in our github repository. But is there any legal probl

[2018-03-25 16:13] mhbeals commented on #758
Of course. Thank you!

MHB
________________________________
From: Antonio Rojas Castro <notifications@github.com>
Sent: Sunday, March 25, 2018 5:08:21 PM
To: programminghistorian/jekyll
Cc: Melodee Beals; Mention
Subject: Re: [programminghistorian/jekyll] Files not in assets directory (#758)

Hello all,

I am wondering if I would have permission from the author to translate the names of the xml fi

[2018-03-27 07:16] amsichani commented on #743
I second the Slack group for emergencies but lets have in mind that is not a panacea. What I 'd  like to propose is, from my personal onboarding PH experience, for the new editor to try to perform all the future Github actions/tasks/scenarios as mentioned <a href="https://github.com/programminghistorian/jekyll/wiki/Making-Technical-Contributions">here</a> (eg. open /comment on an issue with all th

[2018-03-27 08:22] drjwbaker opened #760 "Stickers"
Seen as one of our roles are editors is to promote PH at various events and fora, can I suggest that we add some info on our stickers to https://github.com/programminghistorian/jekyll/wiki/Service-Integrations so the process of getting swag is clear. I'm thinking:

- link to the template/logo
- service from which we have ordered / can order
- ~cost

@acrymble: you appear to know the most about thi

[2018-03-27 10:01] arojascastro commented on #758
Just for the record, if we store the input in our github repository, I think the tutorial needs to be modified because there about two paragraphs explaining  how to download a zip from the author's repository... maybe this does not need to be removed though. Maybe it just need a link saying something like "You can also dowload the input files clicking here". What do you think @acrymble?

[2018-03-27 14:05] ianmilligan1 commented on #760
My research team ordered stickers from StickerMule, which we were really happy about. I can't remember how much they cost but it was under $100CAD for 75 or 100, and great customer service. If folks are curious I can pull the invoice from our system.

![20180319_115533](https://user-images.githubusercontent.com/3834704/37972371-345180ba-31a6-11e8-94ab-5e5086d8ff23.jpg)

[2018-03-27 14:07] ianmilligan1 commented on #758
I've opened up a branch and will stage the file - I can put some sample language but @acrymble can edit it. 😄

[2018-03-27 14:41] amsichani commented on #760
I am regularly using <a href="https://www.moo.com/uk/products/stickers-range.html">MOO</a> for business cards and stickers - really happy about the creative aspect of the service (fully customised,  inspirational templates) as well as the customer service. An estimated cost using their<a href="https://www.moo.com/uk/help/faq/cost-calculator.html"> online calculator</a>): for 200 round stickers, £7

[2018-03-27 14:57] mdlincoln commented on #758
FWIW I'd favor simplicity - give the user one way to download the file, and don't unnecessarily confuse them

[2018-03-27 17:24] acrymble commented on #760
In the past I used StickerYou, which is based in Canada but pretends to be American as all good Canadian companies do...

They were about 50 cents per sticker and you buy them in sheets on 20. I have some here in London and I could mail you some if you wanted @drjwbaker. If you're planning on ordering them through a university, keep in mind you'll need to use a supplier or set them up as one.

[2018-03-27 17:27] #758 closed, assigned to acrymble, mdlincoln, arojascastro

[2018-03-27 17:29] acrymble commented on #735
This was approved and is live, no?

[2018-03-28 02:24] #735 closed, assigned to mariajoafana

[2018-03-28 20:13] JMParr commented on #729
Adding to our agenda our recent contact with a potential French language team.

[2018-03-28 20:16] JMParr commented on #760
I have used StickerMule with great results. Would love to get in on some stickers if we have some, or are planning to order some.

[2018-03-28 20:25] amsichani opened #762 "Adding new editors bio & details at the project team page"
I am going to add my bio & details at the project team page. As I am waiting for some (hopefully!) good job developments within the coming weeks, I m probably going to update it soon ;)

_NOTE: This is part of a test issue / PR sequence for AM to support her onboarding on the PH workflow_

[2018-03-28 20:48] amsichani commented on #762
once my PR is merged, it 'd be great if we can have a Spanish translation of my short bio - @arojascastro et al. muchas gracias!

[2018-03-29 08:53] arojascastro commented on #762
Done in a3e0783708a26174b86c081eecc4db0d4de79ac1

[2018-03-29 08:53] #762 closed, assigned to amsichani

[2018-03-29 09:07] amsichani commented on #762
thanks @arojascastro !  I forgot to put my surname at the short bio- I ve updated the page in <a href="https://github.com/programminghistorian/jekyll/blob/%23762/_data/ph_authors.yml">0ba4d20</a>

[2018-03-29 16:20] drjwbaker opened #765 "DH2018"
A bunch of us are going to [DH2018](https://dh2018.adho.org/en/). This issue will be a central hub for:

- [x] Who is going (like this comment if you are going)
- [x] Things we plan to do there that are PH related.
- [x] Sticker/swag planning and distribution.
- [x] General meetup chatter (Tuesday during reception)

Please add info here.

[2018-03-29 16:21] drjwbaker commented on #729
DH2018 hub issue: #765

[2018-03-29 16:29] JMParr opened #766 "Checklist for Sabbaticals"
Editors who are taking sabbatical should please ensure that they have done the following:

- [ ] Please make sure that you communicate with the rest of the team how long your sabbatical will last.

- [ ] Indicate whether your sabbatical will mean you will be completely away from the PH, or if you plan to participate in board meetings.

- [ ] You should indicate a date by which you expect to return

[2018-03-29 16:38] mdlincoln commented on #743
note to self: create a template checklist from this issue, to go into our [wiki](https://github.com/programminghistorian/jekyll/wiki)

[2018-03-29 16:51] mdlincoln opened #767 "Volume & Issue numbers"
- [x] How do we want to split into volumes/issues? Volume by year, and that's it?
- [ ] Generate these from published date metadata (we should _not_ be manually typing these volume numbers into these metadata)
- [x] Display suggested citation on lesson page

[2018-03-29 16:53] acrymble commented on #767
I would vote for 1 volume per calendar year, to keep life simple for us. I don't know that issues make sense. Will that be important for our authors?

[2018-03-29 16:54] mdlincoln commented on #766
once we settle on the generic list of things we want to do, I'll put this list template into the wiki. And then we should open an instance of these checklists, even just in our listserv (since we may not want to discuss these in public issues always)

[2018-03-29 16:54] drjwbaker opened #768 "Internationalisation of our author, review, and editorial guidelines"
Agreed at #729 we will look at working on internationalising our author, review, and editorial guidelines this year. This piece of work will take into account the call for a Spanish lesson, DH2018, and the potential addition of a French team. I am happy to work on this.

[2018-03-29 16:56] JMParr commented on #766
Ok!

On Thu, Mar 29, 2018 at 12:54 PM, Matthew Lincoln <notifications@github.com>
wrote:

[2018-03-29 17:01] drjwbaker commented on #698
- [ ] Add to DOAJ all the ES lessons. Use translation date in lesson metadata for publication date.

[2018-03-29 17:05] acrymble commented on #766
We can also note that we will never refuse a sabbatical and that all editors have a right to take them. This is really just about communicating availability to the project.

[2018-03-29 17:10] drjwbaker commented on #767
We could for the sake of appearances have two issues per year, one for all articles published Jan-Jun, one for all articles published Jul-Dec. OLH do that for the sake of appearances. The question is whether we care *that* much about appearances and/or whether it helps some of our authors to have issues numbers.

[2018-03-29 17:11] mdlincoln commented on #767
Plenty of smaller journals I cite in art history, for one, only have one number, and don't subdivide. In my personal experience, I think just numbering by year would be fine... open to opposing, real-life examples though.

[2018-03-29 17:19] drjwbaker commented on #767
If we have precedent, do that.

[2018-03-29 17:48] walshbr commented on #766
Personally, codifying the terms and process like this probably would make me more likely to ask for one. Visibility of these sorts of things is important.

[2018-03-29 18:02] walshbr commented on #729
Actionables:

 #721 - I've updated the standing ticket on ongoing research with my own news, but please feel entitled to drop your own research updates there.
#766 - A new ticket was started to rough out a checklist for terms for sabbaticals.
 #651 - Internationalization and localization - make sure to check out the ticket and comment with further thoughts. @drjwbaker also volunteered to think abo

[2018-03-29 18:02] #729 closed, assigned to walshbr

[2018-03-30 09:24] acrymble commented on #730
We are moving forward with volume numbers as per #767 to address this issue, as well as suggested citations that conform to scholarly practices in journals. We welcome further suggestions, but I will close this issue for now. Reopen if someone wants to continue the discussion.

[2018-03-30 09:24] #730 closed, assigned to JMParr

[2018-03-30 09:27] acrymble commented on #767
To make this conform to journal practices, can we add a second display to the /lessons page so that /lessons becomes 'Browse by topic' and a second page just shows a static volume-by-volume display in reverse publication order? I'd envisage this as a 'Browse by volume' page, making 'Lessons' a drop-down menu on the menu bar. Thoughts?

[2018-03-30 09:33] acrymble commented on #619
I just realised this is already posted live. Closing issue.

[2018-03-30 09:33] #619 closed, assigned to acrymble

[2018-03-30 09:33] amsichani commented on #767
What I think is important (and I am not sure there is available somewhere - please point it out if there is one), is a (suggested) standard citation mechanism for our lessons. With the volumes now in hand, this 'd look like a proper journal article citation.

[2018-03-30 09:34] acrymble opened #769 "delete branches"
I was trying to add the text from #619 but I realised only after creating a new brance (issue-619 & issue-691 because I have fat fingers) that the material was already live. I'm not sure how to delete these two branches, which are no longer needed. @mdlincoln ?

[2018-03-30 09:37] acrymble commented on #768
This would make a great workshop for DH people more broadly. Maybe something we could host in London if we could get together money. I'd love to learn these skills so I can be a better contributor to the community. But that's an aside.

[2018-03-30 09:38] acrymble commented on #760
@mariajoafana and I have a small sticker budget for our workshop we'll be hosting in Colombia in the summer.

[2018-03-30 12:08] acrymble commented on #767
another question: are we going to treat the various language versions as part of the same 'publication', or will each language get its own volume numbering and be listed independently? If we have a /es/lessons/volumes page will it only list the Spanish lessons? I'd say yes. That then raises questions as to whether or not /es is a separate publication entity.

[2018-03-30 14:22] ianmilligan1 commented on #769
Just click on "branches" on the home page and then the trash can next to the branch you want to delete, @acrymble.

step one
<img width="1180" alt="screen shot 2018-03-30 at 10 22 21 am" src="https://user-images.githubusercontent.com/3834704/38140978-4bccc96a-3404-11e8-8ab3-a9ee29add0ff.png">

step two
<img width="1180" alt="screen shot 2018-03-30 at 10 21 48 am" src="https://user-images.githubuse

[2018-03-30 14:22] #769 closed, assigned to nobody

[2018-03-30 14:25] acrymble commented on #769
Thanks for the tip!

[2018-03-30 18:28] mdlincoln commented on #767
I don't see need for a "volumes" page, since the stated need for this is just so that we can have a nice suggested citation that feels more like a print journal. The only delimiter for these volumes is the year published, there is no other special mechanism; we don't have "special issues" that need highlighting in that way.

That said, the volume numbering could be different between spanish and en

[2018-03-30 19:04] mdlincoln opened #772 "Display of translation vs. original published date"
This seems a bit confused right now in the Spanish lessons. I'll sort out what's going on and report back...

[2018-04-02 08:20] arojascastro commented on #772
Maywe we can do:

- Publicado --> Publicado en inglés (published in English)
- Modificado --> Traducido al español (Translated into Spanish)

Any thoughts? @jenniferisasi @jamotilla @mariajoafana

[2018-04-02 08:23] arojascastro commented on #767
Yes, I agree with @mdlincoln: 1 volume per year / separate En and Esp - after all the title is different thus it is a different publication

A side thought: now that we have *volumes* we could open calls on specific topics to fill in some gaps. For instance, in my opinion we have lots of tutorials on text anaylisis and data mining but very few on publication and website design. Also as I said here

[2018-04-02 08:31] arojascastro commented on #768
I am interested as well. I know this is a broader issue, but a straightforward measure would be to implement the guidelines that I authored (with additions and modifications of course) in https://github.com/programminghistorian/jekyll/issues/651. In respect of authors, editors and reviewers, we need to expand our pool of collaborators and search actively for them - perhaps by opening a specific ca

[2018-04-02 09:53] arojascastro commented on #651
Just for the record, I found two manuals that can be useful - I have not read yet, only skimmed:

- [Style Manual For the presentation of English-language texts intended for publication by UNESCO](http://unesdoc.unesco.org/images/0014/001418/141812e.pdf)
- [THE WORLD BANK TRANSLATION STYLE GUIDE](http://siteresources.worldbank.org/TRANSLATIONSERVICESEXT/Resources/Translation_Style_Guide_English.pd

[2018-04-02 10:03] arojascastro commented on #768
Just for the record, I found these EdX [Guidelines for Writing Global English](http://draft-edx-style-guide.readthedocs.io/en/latest/global_English.html) useful.

[2018-04-02 12:50] jenniferisasi commented on #772
To keep with the style I would go along the lines of @arojascastro's suggestion but only one word each: Publicado, Traducido. Since they will carry different dates I think it's self-explanatory that it was published in English and then translated into Spanish?

[2018-04-02 12:54] arojascastro commented on #772
True... unless we translate a tutorial from French... Otherwise:

- Publicado originalmente
- Traducido del inglés

Normally in books you can read the source language... but it is true that for us it is self-explanatory... I do not know.

[2018-04-02 13:29] mariajoafana commented on #685
Perfect, let me know if you need any help with posting the CFP in the webpage. One the post is ready I'll sent the info to Spanish-speaking DH organizations. I'll ask each one of us to circulate it among colleagues and friends, and in social media.

[2018-04-02 13:31] mariajoafana commented on #760
Perfect

[2018-04-02 16:34] jacobwgreene commented on #717
@mdlincoln most of the lesson should still be relevant since a lot of it covers intro to the Unity editor, which hasn't changed substantially. Another thing to keep in mind is that many university computer labs (such as in our science libraries) still operate with the version of Unity that they installed when negotiating the licensing fees, which is typically a few updates behind. In those cases,

[2018-04-02 16:46] mdlincoln commented on #717
That's useful context @jacobwgreene . I'm still unclear as to whether the plan is to edit and update the existing lesson, or write an entirely new lesson while still leaving the old one published with an advisory note?

If a whole new lesson, with a new page and everything, is going to be written, it's probably better to say that then to suggest that the page at the current URL is going to be chan

[2018-04-02 17:17] mdlincoln commented on #767
@arojascastro I think the idea of focused clusters of lessons would be great, but that is explicitly NOT what these volume numbers are doing. They are simply mirrors of the year a lesson was published, and add no additional semantic meaning. Any additional subdivision would mean adding new categories into lesson metadata. This is fine, but it'd be a separate task than generating volumes numbers.

[2018-04-02 18:05] #767 closed, assigned to mdlincoln

[2018-04-02 18:09] acrymble commented on #772
If these are publications (which I think they are), then the Publicado date should be the translation date, no?

[2018-04-02 18:12] arojascastro commented on #772
So you suggest to remove when the English original was published and just to keep the translation date? I am not sure if I understand, but again in printed books you find both dates - when it was published originally and when the translation was released.

[2018-04-02 18:14] arojascastro commented on #767
I know you are not trying to do that, I am just jumping with an idea that it was related anyway.

[2018-04-02 18:48] mariajoafana commented on #756
I'll take a look at the lessons and see if there are other lessons not amenable to translation.

[2018-04-03 14:25] jenniferisasi commented on #772
@arojascastro well, yes, if we translate from another language (I cannot translate from French, btw) let me reword: only one word each: Publicado, Traducido. Since they will carry different dates I think it's self-explanatory that it was published in another language (the original) and then translated into Spanish?

@acrymble I see what you mean (both are publications), but I agree with Antonio th

[2018-04-03 14:43] acrymble commented on #766
A comment on the above suggestions. I think it's acceptable to ask someone to either close out issues / finish tasks, or find someone to pass them off to. What we don't want is tasks half done and have no one aware about what's happening to them.

Since @jerielizabeth and @vgayolrs are on sabbatical, it would be great to get their views.

[2018-04-03 17:27] alsalin commented on #576
New version of professional role question up - took inspiration from the dariahTeach survey (thanks @arojascastro !)

[2018-04-03 18:14] jerielizabeth commented on #766
Hi all! If this aids communication within the team, it makes sense to me. If I’ve been noticeably less present, I’ve recently changed notifications so I only get emails from GitHub when pinged directly (as in this case.) we’re a chatty bunch and my inbox was getting overwhelming :)

I’ve had a few lessons resurface while “away” and so I have kept doing that bit of editorial work. My sense is that

[2018-04-03 18:46] arojascastro commented on #576
I like it because it is short and clear and I hate long surveys. Just one comment: None of the aboe --> None of the above

[2018-04-03 18:47] alsalin commented on #576
Assuming folks are ok with the current state of the survey - how do we proceed in rolling it out?

[2018-04-03 18:57] mdlincoln commented on #576
@alsalin A short blog post and several tweets would be good, of course - but I wonder if we might also send out targeted emails as well to our many reviewers & authors?

[2018-04-03 21:56] jerielizabeth commented on #756
Greetings, @arojascastro! I agree that the Sentiment Analysis section of the Open Refine lesson relies on external, and English-language, APIs, making it hard to translate it.

I could talk to the author about another version of that section that relies on geocoding, say, which is less language specific and still shows how to make api calls with OpenRefine. Just a thought, if it's a lesson that yo

[2018-04-04 09:11] arojascastro commented on #756
I think it is fine not to translate it @jerielizabeth - it is a very tecnical lesson that should be adapted in depth and that requires a Spanish speaker expert able to make those changes. So I would just leave it as it is unless someone else disagrees.

[2018-04-04 09:13] arojascastro commented on #751
Since it seems there is no further discussion and we did not reach any agreement, I think we can close this issue and reopen later if someone else wants to contribute.

[2018-04-04 09:15] arojascastro commented on #600
Any progress on this @jamotilla? Please let us know when you are done so we can extend your work and close finally this issue.

[2018-04-04 09:18] arojascastro commented on #651
It seems there is no interest in adding the text on internationalization and localization to our guidelines for authors, editors and reviewers and that the discussion has been broaded in https://github.com/programminghistorian/jekyll/issues/768 - so I am closing this. We can reopen in the future.

[2018-04-04 09:25] acrymble commented on #651
I don't think that's true Antonio. But we have said we want to try these suggestions before we commit to changing (again) the guidelines. It takes months for a single lesson to go through a peer review, so this is something that will take time.

[2018-04-04 10:02] acrymble commented on #760
Does anyone want to design a new sticker, or are we happy with the existing one?

https://github.com/programminghistorian/jekyll/blob/gh-pages/_promo/programmingHistorianSticker-promo.png

[2018-04-04 12:48] ianmilligan1 commented on #760
Looks good to me!

[2018-04-04 13:00] JMParr commented on #760
Looks good to me, unless we want to consider a brighter color to stand out
against laptop colors?

On Wed, Apr 4, 2018 at 8:49 AM, Ian Milligan <notifications@github.com>
wrote:

[2018-04-04 13:05] acrymble commented on #760
not a lot of colour on our website. But we do have this blue on the front page.

![programminghistorian-blue](https://user-images.githubusercontent.com/646647/38309189-4348a988-3811-11e8-90f7-06fd3a7d9c0d.png)

[2018-04-04 13:20] JMParr commented on #760
I like that. The other one was fine. And you're right that we don't have
much color on our website. I just see a lot of students with black and dark
gray laptops. The sticker might not have stood out very much.

On Wed, Apr 4, 2018 at 9:05 AM, Adam Crymble <notifications@github.com>
wrote:

[2018-04-04 13:45] walshbr opened #777 "Editorial Meeting Agenda - 4/23/18"
Time is 5PM British, 12PM Eastern US, 9AM Pacific US.

Working agenda follows. Please add by commenting or editing this comment directly.

- [ ] any updates to standing call for submissions pending about ProgHist? #721
- [ ] github training for editors (@acrymble - holdover from last month's agenda)
- [ ] #378 French Translation (@JMParr to update on progress)
- [ ] #651 Language independence (@ar

[2018-04-04 13:51] acrymble commented on #680
I think we discussed this at a meeting and suggested leaving it on the Wiki for now. Can reopen later if we forget where it is.

[2018-04-04 13:51] #680 closed, assigned to nobody

[2018-04-04 15:33] drjwbaker commented on #576
Great job @alsalin. On the blog, key points to tease out are why we are doing this, how it will feed into our work, and how long the survey will be open. Agree with @mdlincoln: we should authors and reviewers, plus target digital history centres/groups/seminars (where to host a list of these?)

[2018-04-04 15:38] drjwbaker commented on #751
Just adding as a note that one objection to one part of this - having length criteria - is that we have no evidence that length criteria has an pedagogical value. If we find, however, some pedagogical lit that suggests we should consider length criteria, that might be one reason to reopen this.

[2018-04-04 15:42] drjwbaker commented on #777
Apologies, can't make this one.

[2018-04-04 15:48] arojascastro commented on #751
The point is not being pedagogical. The point is to avoid extra work during the reviewing process for the reviewer and for the author, who will have to rewrite the text. You can check out this ticket review where  @nolauren suggested to split the tutorial into two: https://github.com/programminghistorian/ph-submissions/issues/102#issuecomment-378630029 (I believe it is not an isolated case).

On t

[2018-04-04 15:51] arojascastro commented on #651
In my opinion, it does not make any sense to review submissions with those criteria if authors, editors and reviewers cannot access to them in the guidelines. It is going to be very difficult to put it in practice, but hopefully I am wrong.

[2018-04-04 16:32] acrymble commented on #751
@drjwbaker there's also a cost £££ to extra long papers if we are paying for copy editing.

[2018-04-04 17:20] drjwbaker commented on #751
@arojascastro Okay. How do you want to proceed? Make it part of another issue? Reopen with a concrete proposal or action plan? Set a date to revisit and review? (we could - for example - agree to annually review our high level text on the type of lessons we are looking for)

[2018-04-04 17:25] acrymble commented on #651
We've only had 3 submissions since you opened this issue. We can't change the rules for authors in the middle of a review, so you have to think longer term about this solution. There will be lessons that simply don't translate well. Especially those that focus on linguistics. That doesn't mean your idea for guidelines isn't great.

If you're looking for views on how to implement this, personally,

[2018-04-04 17:54] arojascastro commented on #651
Why we cannot proceed as you did with the sustainability strategy? https://github.com/programminghistorian/jekyll/issues/534

We have rules on open access -- we only accept lessons on open access tools -- and we have recommendations on sustainability. Why this cannot be as smooth as that topic?

I understand your point that authors need to be comfortable and that English readers find helpful some

[2018-04-04 18:00] arojascastro commented on #751
I would simply modify the text:

to

Something like that. It is not a big change, I think. There are other places in the guidelines where we could suggest something similar.

However, I would only change this if there is consensus, which I think is not the case.

[2018-04-04 18:32] ianmilligan1 commented on #651
I'll just quickly chime in to note that while #534 seems like a relatively quick discussion, it was part of something that was being discussed way back to 2016 – so well over a year and a half or so for changing our guidelines.

For what it's worth, I'm in favour of us thinking about this and taking our time. It's a potentially major shift and pushing our authors in different ways. That's fine, bu

[2018-04-04 19:48] acrymble commented on #651
@arojascastro I believe we are proceeding as we did with the sustainability strategy. At the moment there are outstanding issues with your proposal that we need to proceed carefully with. We don't want to adopt a policy quickly and then regret it later.

I agree with a lot of what you've proposed. I think all of this is fine:

I also think it would be fine to ask authors to consider if a person li

[2018-04-05 07:48] drjwbaker commented on #760
I like the design. No harm in having some PH stickers designs in some different color schemas though.

[2018-04-05 08:05] arojascastro commented on #651
@ianmilligan1 I see your point but translations are also run on a volunteer basis. My job is taking care of the translating process and translators, who are also authors that work for free. It is true that we may lose some authors in America but maybe we gain others from different cultures and countries. For instance, I commented this [review ticket](https://github.com/programminghistorian/ph-subm

[2018-04-05 08:05] drjwbaker commented on #751
Okay. Thing is, the way I read the flow of the paragraphs at https://programminghistorian.org/author-guidelines#proposing-a-new-lesson is that they proceed in 4 parts after the highlighted 'There is no standard lesson..' text:

- paragraph on possible content of a lesson
- paragraph on example lessons
- paragraph on expected sustainability of a lesson
- paragraph on process of lesson publishing

S

[2018-04-05 08:10] arojascastro commented on #751
I already authored two proposals about this issue. I am not writing anymore because as a non native English speaker it takes me longer to write and I am not in the mood at the moment to submitt a text that it is not going to meet your needs or expectations. I think other people should think about and contribute.

[2018-04-05 08:18] drjwbaker commented on #751
@arojascastro I'm sorry you feel frustrated. What you propose does meet my needs and expectations. In fact, I think you are right: internalisation is missing from these guidelines and that has become clear in recent months as issues translating lessons has arisen. I am merely pointing out what I see as the logic of this section of text as it stands at present and proposing a solution that - as far

[2018-04-05 08:34] acrymble commented on #651
@amandavisconti I think this could use some ombudspersoning. @arojascastro is clearly frustrated.

[2018-04-05 12:16] acrymble commented on #760
Can I get a sense of who wants stickers, and how many?

[2018-04-05 13:34] acrymble commented on #751
I like @arojascastro 's suggested text change. I think we should adopt it.

[2018-04-05 13:39] acrymble opened #779 "Tutorial Lengths & Translations"
@arojascastro has pointed out that longer tutorials take more work to translate #751 . If we move to paid copy editing, longer lessons will also incur a greater cost (£).

@drjwbaker noted there wasn't a clear pedagogical reason for restricting tutorial lengths, but the above reasons may be good enough for encouraging a maximum word length. In particular, our current translations have (understanda

[2018-04-05 13:40] ianmilligan1 commented on #779
Capping at 8,000 words sounds sensible to me.

[2018-04-05 13:43] walshbr commented on #751
I agree - I like the suggested change. I'm sorry we didn't have more time to discuss it in the call last week as well @arojascastro - we can definitely put it back on the agenda, though I think what you've suggested here makes good sense.

[2018-04-05 15:28] mdlincoln commented on #772
I tried implementing this, you can see a preview in #780

Using one word only certainly simplifies the technical side of things, especially if I'm trying to design this to work with 3+ languages. I think it also gives the pertinent info: the original published lesson date, and the date of the translation the user is looking at right now.

(Ideally, the original lesson will have links going to its

[2018-04-05 15:30] mdlincoln opened #781 "Add links TO translated lessons from their sources"
Right now, translated lessons have a header that points to the source lesson. However, source lessons don't have the same thing pointing to their translations. I'd like to add that in.

[2018-04-05 15:32] mdlincoln commented on #781
Hopefully in a way that can just use existing metadata... but we'll see.

[2018-04-05 16:31] JMParr commented on #760
I would like stickers. Maybe 50? I could send you money.

On Thu, Apr 5, 2018 at 8:16 AM, Adam Crymble <notifications@github.com>
wrote:

[2018-04-05 17:18] arojascastro commented on #772
Cool. Thanks. Should we merge?

[2018-04-06 06:51] drjwbaker commented on #760
Ditto.

[2018-04-06 06:55] drjwbaker commented on #772
Looks awesome. Great job all. When you are done, ping me and I can use this fresh new data to get the ES lessons listed on DOAJ #698

[2018-04-06 14:46] mdlincoln commented on #772
Just to clarify for everyone, the metadata have always been there, we're just making it visible on the public HTML pages now.

[2018-04-06 14:51] #772 closed, assigned to mdlincoln

[2018-04-06 15:36] mdlincoln commented on #781
While implementing this, I'm also going to refactor the existing way that we link from translations back to originals, because right now it relies heavily on there being exactly two languages on PH, which is not a great assumption going forward.

[2018-04-06 15:37] mdlincoln commented on #781
working branch: https://github.com/programminghistorian/jekyll/tree/translation-link

[2018-04-06 16:01] drjwbaker commented on #698
Okay. In relation to adding ES translations to DOAJ, I want to discuss briefly the following fields that [DOAJ](https://doaj.org/) use.

DOAJ doesn't distinguish types of author so at present our DOAJ entries only include the author (so not the editor, for example). Do we want to include the author-translator in our `Traducido` field as an extra author for the ES publications? Eg, for [this](https

[2018-04-06 18:08] #781 closed, assigned to mdlincoln

[2018-04-06 18:11] mdlincoln opened #785 "Refactor the way we point to lessons"
Coming out of #784:

This is going to be a placeholder for a bit while I collect instances where our code can be updated to be more language-agnostic.

[2018-04-06 22:46] jenniferisasi commented on #685
I'm finalizing the Markdown file. Do I have to just upload it to the jekyll/_posts folder? @mariajoafana maybe you can help me with this? ¡Gracias!

[2018-04-06 22:48] mdlincoln commented on #685
@jenniferisasi yes! Make sure that you put the date as a prefix in the filename, so that it looks like the other files already inside `_posts`

[2018-04-07 13:37] jenniferisasi commented on #685
Thanks for your help @mdlincoln!

[2018-04-07 17:38] acrymble commented on #779
related to #681

[2018-04-07 17:40] acrymble commented on #685
This is live, so I'm closing.

[2018-04-07 17:40] #685 closed, assigned to arojascastro, jenniferisasi, vgayolrs, mariajoafana, jamotilla

[2018-04-08 09:19] acrymble commented on #686
Is this an actionable ticket? In other words: what needs to happen to close it?

[2018-04-08 09:46] acrymble commented on #760
Does this trope make sense for the Spanish stickers? Or is it just lame?
![programminghistorianred](https://user-images.githubusercontent.com/646647/38465981-073b2d10-3b1a-11e8-9eea-141645e07ec8.png)

[2018-04-08 10:06] acrymble commented on #760
Costings for 2" square(ish) stickers:

Allwag (my university's official supplier)
500 - £75
1000 - £130

Sticker Mule
500 - $127 USD free shipping
1000 - $188 USD free shipping

MOO (rectangular stickers - they don't do square)
500 - £130 GBP + shipping
1000 - £260 GBP + shipping

StickerYou
500 - $174.75 + shipping
1000 - $299.50 + shipping

If we had 750 that would be 50 each. I can mail them ou

[2018-04-08 13:15] JMParr commented on #777
I think we can close the Plans for 2018.

On Sun, Apr 8, 2018 at 5:21 AM, Brandon Walsh <notifications@github.com>
wrote:

[2018-04-09 07:51] acrymble commented on #686
reopen if needed. I think this is covered by other tickets now.

[2018-04-09 07:51] #686 closed, assigned to nobody

[2018-04-09 07:58] acrymble commented on #743
@amsichani that's a great idea. Can you give us that tasks/actions list?

[2018-04-09 15:21] jacobwgreene commented on #717
@mdlincoln I'm currently working on revisions to the current lesson. Right now, I have a note early in the lesson that directs the reader to the previous lesson if they are unable to update to the most recent version of Unity. Would it be possible to keep the old lesson in an archive somewhere and link to it from this new lesson?

I should have the revised lesson completed by the end of the week.

[2018-04-09 16:11] acrymble opened #787 "Interest in Altmetric?"
Just wondering if there's interest in Altmetric badges for the lessons?

If you don't know, they collate attention that an article gets in non-traditional (ie not citations) venues. Things like tweets, facebook posts, news coverage, wikipedia mentions, etc. I thought they might be an interesting way to encourage our authors to more widely promote their articles, and could also highlight to us wher

[2018-04-09 16:17] ianmilligan1 commented on #787
I'd prefer not to have these prominently displayed on the site. They're useful internally (but Google Analytics is probably just fine) but I don't think we want to have prominent popularity markers on the site.

[2018-04-09 16:21] acrymble commented on #787
Thanks @ianmilligan1, is that because you don't want to promote what might look like internal competition? I figured we'd do quite well compared to your typical history publication, so I thought it might be a good way to show that PH tutorials were widely accessed and talked about, rather than suggest tutorial X was more popular than Y.

[2018-04-09 16:26] acrymble commented on #751
For discussion at meeting. I propose adjusting @arojascastro 's text to:

We welcome tutorials relevant for the humanities, pitched at any level of technical aptitude and experience, from neophytes to power users, that focus on one problem or process, can be sustainable in the long term and are addressed to a global audience. Tutorials should not exceed 8,000 words including code, and we expect th

[2018-04-09 16:35] ianmilligan1 commented on #787
Yeah, basically. I think we can convey the wide access and discussion better than putting altmetrics badges everywhere. I also think they're kinda tacky. 😄

[2018-04-09 17:45] drjwbaker commented on #760
Awesome. Thanks for coordinating Adam. You need some £$€?

[2018-04-09 17:51] drjwbaker commented on #686
To add, I think we have a clear 2018 set of plans so I agree to the ticket closure:

- community survey
- India blog and follow up
- internationalastion
- big ES outward push / splash :)

[2018-04-09 18:15] drjwbaker commented on #751
On..

..is that strictly necessary? I presume - perhaps incorrectly - that code is not translated, and although we welcome crisp code, it is likely a requirement we will waive if the code needs to be long for some reason, no?

[2018-04-09 18:40] acrymble commented on #751
Ya they have been translating code. Variables, strings, etc. Also a lot easier to do a word count on (otherwise you have to delete all the code). It's just a suggestion for a starting point. Only 4 out of 100 lessons wouldn't come in under that count.

[2018-04-09 18:53] drjwbaker commented on #751
Okay. My bad. Keep it in then. Maybe we need - in due course - to make the fact that code is translated clear to authors/editors/reviewers in our docs.

[2018-04-09 20:02] mdlincoln commented on #787
I second @ianmilligan1 👍 A blog post on our annual metrics is a great way to promote and question our engagement both internally and externally _with context and interpretation_, without signing on to a system that, at its core, promotes a kind of commodification of scholarly labor.

[2018-04-09 20:08] mdlincoln commented on #717
I think we're getting tripped up over semantics - we have a process for "retiring" out-of-date lessons so that they remain accessible but also clearly marked as out of date. It sounds like you're really intending to create a whole standalone new page while retiring the existing lesson, not just revising a few lines in the existing lesson. So this would be a "retire" + new lesson situation, it soun

[2018-04-09 21:32] jacobwgreene commented on #717
@mdlincoln that works for me. Thanks for the clarification

[2018-04-10 07:19] acrymble commented on #787
Thanks for the feedback. Does anyone have a different view before we move on?

[2018-04-10 07:55] amsichani commented on #751
OK, as far as I can see, a need has been expressed to review different aspects of the author/ reviewers guidelines, but this process could encompass multiple needs and speeds.
I am grouping here a number of ongoing discussions/issues on two distinct groups:

1. straightforward ones - amending the paragraph in the author guidelines

-   lessons' level of expertise: I think we shouldn't omit the "Le

[2018-04-10 08:15] arojascastro commented on #751
As I said before, I suggest other people to write a proposal or adapt mine - this and also issue #651.

I agree with Anna Maria that this paragraph is just part of the solution. I like Adam's additions and corrections.

I see the point of Anna's about internationalization / translation, they are different topics but they are very related in my opinion - you cannot separate them when translating. I

[2018-04-10 08:27] amsichani commented on #751
I hear @arojascastro 's position on the need to have internationalisation as a claim both for a robust set guidelines but also as an ethos embedded on our lessons' review processes that are now on their way. I suggest we could adopt an interim strategy for these specific cases: as Antonio has genuinely jumped to two reviewing cases of English lessons, I offer myself to do so in the meantime .
I st

[2018-04-10 08:34] acrymble commented on #751
@mariajoafana and I are hosting a workshop this summer in Bogota, and would love to include a session on writing for an international audience. So if we can get some resources in place, we can start building it into our training.

[2018-04-10 08:34] amsichani commented on #743
Here is an (ongoing) draft task-actions list for new editors:
(m mandatory  , o optional)

[ communication ]

- [ ] set up a GitHub account (m)
- [ ] set up a twitter account  (o)
- [ ] set up a Skype account (m)
- [ ] activate Google groups for PH list (m)
- [ ] write an email to the PH Google group (say hello!) (m)

 [ technical ]

- [ ] contribute to one open ticket on the /jekyll github (m)
-

[2018-04-10 08:42] amsichani commented on #743
another issue that still puzzles me and might be good to have it written in a more transparent way: I suspect there is a kind of rotation system (?) for PH members in order to review pull requests , assign issues, e.tc. It would be good to explain this in a more explicit way and to (progressively) give also to the new member a role or the freedom to enter to this procedure.

[2018-04-10 08:47] amsichani commented on #751
I think its doable (when is your workshop?) and a good place/way to test also these guidelines. I am thinking the best way is to go back to #651  and work on it. @arojascastro et al. had put a lot of effort and great stuff there.

[2018-04-10 08:58] acrymble commented on #743
@amsichani good question about pull requests. We don't have any rules on this really. Generally speaking if it affects any code or could break the site, I think we tend to ask @mdlincoln for a technical review, since he's the only person at the moment on the technical team.

In terms of issues, they tend to get assigned in an informal way. If you make noise on a topic, you might get volunteered fo

[2018-04-10 09:01] amsichani commented on #743
I think yes, we should write these things up. Might seem quite natural to many of you by now, but not to a newbie to the PH community

[2018-04-10 09:03] amsichani commented on #743
another question: I saw somewhere mentioning a "twitter bot spreadsheet"- am I missing something here?

[2018-04-10 09:33] acrymble commented on #743
@amsichani The Twitter bot was set up by @walshbr to automatically tweet out lessons from time to time. He can explain that best, but perhaps it should be part of the welcome package as well.

[2018-04-10 09:36] arojascastro commented on #651
Going back to this, I took some days off to think about. I suggest someone else writes another proposal or adapts mine. I am a very open minded person and I am willing to accept a compromised set of guidelines that please everybody.

SO we could delete some of the most controversial items and get something like:

## Internationalization and localization

As the World Wide Consortium (W3C) reminds

[2018-04-10 09:48] acrymble commented on #743
What about this for a page text for new editors, to be posted to the Wiki?

## Welcome

Welcome to the Programming Historian Editorial Board. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put together this information to help you get up to speed. It includes details of what we will do and a checklist of tasks you

[2018-04-10 10:10] amsichani commented on #698
I believe EN and ES should be treated as different publications: they have different metadata (title, date, author/translator, volume numbers) and that's the rule for creating distinct information objects. So different volume numbers for sure and different ISSNs as well.

The ISSN service is free  but we need to find out what exactly we need to <a href="http://www.bl.uk/aboutus/legaldeposit/websit

[2018-04-10 10:13] acrymble commented on #698
I'm glad you raised this. I was thinking the same thing. I got our first ISSN #147. It is free as you say, and makes more sense if our volume numbers don't align. There are no deposit requirements that I'm aware of. If there are, we've been ignoring them.

[2018-04-10 10:45] amsichani commented on #698
Fab @acrymble  - " Ongoing integrating resources” is our flag.
As for legal deposit, I think our current publication status can easily skip the requirements of <a href="http://www.bl.uk/aboutus/legaldeposit/websites/faq/ukmaterial/index.html">"the Legal Deposit Libraries (Non-Print Works) Regulations 2013"</a>. Thoughts?

[2018-04-10 10:59] amsichani commented on #787
even if I like altmetrics in principle as an alternative measure of scholarly engagement and value, I second @ianmilligan1  and @mdlincoln, that if used on its own, they/we seem to promote a "commodification of scholarly labor" and a pure quantifiable approach to our pedagogical endeavour. A reflective blog post with some metrics will give a more holistic idea of our achievements.

[2018-04-10 11:54] acrymble commented on #787
Thanks. I'm not sure I understand what you mean by 'commodification of scholarly labor'.

Showing metrics of various kinds is now fairly standard in academic publishing, and we're quite behind the curve in this regard. For example, this paper of mine has 5 different types of metrics shown on the home page:

<img width="1674" alt="impact" src="https://user-images.githubusercontent.com/646647/385555

[2018-04-10 12:33] arojascastro commented on #787
Uhmmm I understand some concerns about the "commodification of scholarly labor" but, on the other hand, it is good to share some of our traffic/visits not only in order to demonstrate impact but also because we love being open. Maybe, as an alternative to those badges, we could implement a filter that organizes lessons by "most visits"? (Not sure if that is possible on a tecnical level).

[2018-04-10 12:41] walshbr commented on #743
@amsichani -  yep! That's me. There is a spreadsheet for the twitter bot that should be shared with the Programming Historian group. That spreadsheet contains all the tweets that regularly go out four days a week, and we have to add to it manually with each new lesson we publish.

I'm not 100% sure if something shared to a group like that will be automatically shared to each new member added to it

[2018-04-10 12:50] walshbr commented on #717
Yep yep - I'm the editor in charge. I just didn't have anything to add so far to your good questions @mdlincoln - thanks for making those comments!

I was confused as well by the semantics but it does sound to me like retire and new lesson sounds like the right call to me from a technical standpoint. But it sounds like spiritually this is the same lesson with updates for the technical components t

[2018-04-10 12:53] acrymble commented on #717
Might I suggest at least a light review to have an eye out for sustainability? Since that's what is being corrected now?

[2018-04-10 12:54] walshbr commented on #717
Sure thing @acrymble - thanks for the input.

[2018-04-10 12:56] drjwbaker commented on #698
Do we need quorum for this decision? It may be technical, but it has potentially profound ramifications long term: even if we stay two integrated publications for now and believe we will *forever* creating a technical infrastructure that lists us as publishing two (or, if we get a FR version, more) separate publications creates the conditions for divergence in the future (eg: separate editorial bo

[2018-04-10 12:57] drjwbaker commented on #698
(I should add that I shan't be at #777 so if we discuss there someone else will have to take it on, explain the situation to the team)

[2018-04-10 13:15] drjwbaker commented on #787
On @arojascastro's filter point, that kinda view comes as standard with Ubiquity Press (eg https://olh.openlibhums.org/ and https://www.liberquarterly.eu/). Now sure how I feel about it tbh.

[2018-04-10 13:15] drjwbaker commented on #787
+1000

[2018-04-10 13:29] arojascastro commented on #787
As a side note to this, I am wondering when and how should we take a decision.

I mean, do we have to reach a quorum in order to make a change or make a decision. I am wondering this not only because of this discussion but others we have had. We are about 15 members but only a few have time or want to discuss or express their views. I do no think it has to be compulsory to participate but i do thi

[2018-04-10 13:47] acrymble commented on #787
Sounds like a good discussion @arojascastro. I agree. A new issue.

[2018-04-10 13:49] acrymble commented on #698
I'm going to move the matter of additional ISSNs to a new ticket, because it's tangential to this one.

[2018-04-10 13:51] acrymble opened #788 "Additional ISSNs for each language?"
Raised by @amsichani in #698.

Do we want an additional ISSN number for each language version of the project?

This probably makes the most sense given our recent decision to use volume numbers #767 that are differently numbered in English and Spanish. It implies that the two publications are distinct, and as @drjwbaker noted, it may lead to greater independence of future versions of the project i

[2018-04-10 13:52] acrymble commented on #760
Ideally #724 sponsorship, rather than out of pocket. I'd like to move away from covering costs ourselves.

[2018-04-10 14:01] arojascastro opened #789 "Is it necessary to reach a quorum to make a decision?"
I am wondering when and how should we take a decision. I mean, do we have to reach a quorum in order to make a change or make a decision. We are about 15 members but only a few have time or want to discuss or express their views. I do no think it has to be compulsory to participate but i do think it is desiderable to reach a quorom most of the times.

So if we are 15 people, at least 8 should be e

[2018-04-10 14:15] amsichani commented on #789
I think this is a very important issue for our overall workflow. I second the idea of the quorum (of 8 people at least as for now) as a democratic minimum, unless a major concern is raised against it on time.  For making our life easier and because all of us have different ways to check/assess PH issues, I d propose to create a new label named "quorum" so we know that those ones are the top priori

[2018-04-10 14:16] ianmilligan1 commented on #787
Heh, comparing our topic modelling lesson to your _Social History_ article is kind of an apples and oranges type thing.

I guess I like the blog post to demonstrate impact – and that can be part of our "metrics," as are the fact that lessons integrate quite nicely into Google Scholar and ORCID and other platforms – but I think highlighting these prominently and continuously in the user-facing part

[2018-04-10 14:18] ianmilligan1 commented on #789
Quorum sounds like a good idea.

Moving towards formal votes on everything, though, is a fairly big departure from the slow-moving consensus model we've adopted, where ideas move up through the ticket system and are more-or-less adopted by consensus or tabled for further discussion at the weekly calls. That said, my schedule is making it tough to get on these calls.

Maybe it's unavoidable since t

[2018-04-10 14:31] walshbr commented on #789
I'd also just ask - does a quorum need to be reached on skype, by email, or by github? I'd recommend against aiming to use the skype calls to try to reach a quorum. In the last six months or so I think we've only had eight people or more maybe on a single call…we'd never get any votes done, as scheduling is too difficult. Email or GitHub seems fine to me. My own view tends towards [lazy consensus]

[2018-04-10 14:37] amsichani commented on #787
My hesitation about the Altmetric badge per se is that it showcases influence without putting much context on it and that sometimes it can used as a proxy measure for quality. I m not saying  that Ian's 100.000 views aren't a great number to celebrate, but I 'm thinking that such approaches, available, as @ianmilligan1 mentioned, in the user facing parts of the site, might give a false impression

[2018-04-10 14:46] alsalin commented on #576
@drjwbaker could you help me get started with writing up the blog piece? I haven't worked in that area yet!

[2018-04-10 14:50] amsichani commented on #743
thanks @walshbr for this ! nothing found on my Google Drive so far. Good point about adding the list with the shared docs on the welcome list.
Funny, but everyone speaks for this wiki page - should we also have a few explanatory lines for the wiki also? What sort of things we keep there that are not on the GitHub issues or main website? In terms of knowledge infrastructure, I am a bit lost here. I

[2018-04-10 14:50] alsalin commented on #789
I'm no github notifications wizard - but we'd want to make sure that everyone sees these posts that require a quorum. I know that folks have their notifications set up differently, but I could totally see people not keeping up to date with an issue not because they don't care, but just because they haven't seen it yet.

[2018-04-10 15:10] arojascastro commented on #789
My view is that reaching a *quorum* is the ideal situation. I like the concept of *lazy consensus* but sometimes as @alsalin said people cannot participate because do not see the notification or because some active editors are very fast and the topic has already moved. In those scenarios *lazy consensus* is not ok, I do not like leaving people behind specially when we are making big decisions that

[2018-04-10 15:21] walshbr commented on #789
Totally @arojascastro. And given @alsalin's good thought about github notifications maybe it makes sense to think of the google group as the space for quorums?

[2018-04-10 16:02] acrymble commented on #787
Ok. I hear the resistance to Altmetric. That's fine.

I'd still like to move forward with giving authors (and us) ways to highlight the value of this work in ways that make sense to employers. This was something recently discussed in #730 Discussion on institutional credit. So I'd welcome ideas (with your head of department hat on, not your DH blog-reading hat on).

[2018-04-10 16:35] arojascastro commented on #787
I am going to act as a mediator, if I am allowed :)

So if the quourum is 6 and the default situation according to the *lazy consensus* is yes, we have 3 noes and 1 yes and 2 I do not know/I do not answer, right?

*But*, because it is related to #730, we should think about alternatives. So please submit your ideas or proposals in the following days so we can move on or close this issue.

[2018-04-10 16:37] arojascastro commented on #787
Golden rule: alternative proposals and enmendations should come from people saying *no* specially - but not only of course.

[2018-04-10 16:39] ianmilligan1 commented on #787
Publishing a blog post is my alternative proposal, and I like the idea of volume numbers.

North America is different, I guess, and so is each department. To my mind the onus is on the author and the venue to convey impact. Hits are one dimension of impact, but they're not universally accepted nor would I just pass along hits to my department chair. Was the lesson cited? Was it used in teaching ve

[2018-04-10 17:06] drjwbaker commented on #789
To add, we make lots of decisions everyday. We editors should have the common sense to realise when a decision merits a quorum, and it is tricky/impossible to define that. We have to trust each other or working together won't work. We need to be mindful of not creating too much work for ourselves or compromising our agility. And we have a little checks and balances in the GitHub pull request revie

[2018-04-10 17:08] drjwbaker commented on #788
Re #789 this needs quorum because to quote me from #698:

[2018-04-10 21:30] mdlincoln commented on #717
Sounds good 😄 @walshbr keep me in the loop once this gets closer to publishing - we'll want to retire the old one as part of the same PR before merging it all.

[2018-04-10 21:51] amandavisconti commented on #651
Hello, all—thanks for having this conversation, and especially thanks @arojascastro for all the scholarly effort and care you've put into this.

**tl;dr:** I'm reading these as guidelines that we'll design so that folks do due diligence trying to follow (and record their reasoning when they can't), not rules. Can we see if any authors of in-progress lessons would be willing to spend 1 extra week (

[2018-04-11 07:17] acrymble commented on #787
I'm not sure if we can link to it easily/dynamically, but Google Scholar does have citation counts for some of our lessons: https://scholar.google.co.uk/scholar?cites=2008642895384331595&as_sdt=2005&sciodt=0,5&hl=en

[2018-04-11 07:23] drjwbaker commented on #760
To clarify, do we need sponsorship now to buy stickers or is there budget around the Columbia work to cover this?

[2018-04-11 07:26] drjwbaker commented on #576
@alsalin Sure. To clarify, do you mean that you need help with the technical side of hosting a blog on PH or with writing? (I'm guessing more the former?)

[2018-04-11 07:42] acrymble commented on #760
I won't know that for a couple of months yet. We have to see how costs fall (but maybe, if we can wait)

[2018-04-11 07:53] arojascastro commented on #651
Thank you @amandavisconti for your careful reading and kind words. I really appreciate that you see my proposal as a scholarly contribution (I had to read a lot of articles to summarize the main ideas) and that you see no danger. I also thank you for putting this into the agenda, encourage people to test the guidelines and set following up steps for including them in the general guidelines. Otherw

[2018-04-11 08:12] drjwbaker commented on #760
Okay. #765 isn't until late June, so we have some time.

[2018-04-11 08:27] acrymble commented on #787
This conversation is moving away from altmetric obviously, which is fine. I think @ianmilligan1's comment that "North America is different" is quite an important one, particularly in light of recent conversations about internationalisation by @arojascastro. We've got to make sure we do our best to help our international authors benefit from their efforts with us. So perhaps we should be thinking a

[2018-04-11 09:43] amsichani commented on #651
I am generally in favour of avoiding emojis with body language gestures esp. in written communication. I think this is also the consensus among designers: emojis were supposed to be the great equalizer, capable of transcending borders and cultural differences. BUT thats not always the [case](https://grouplens.org/site-content/uploads/Emoji_Interpretation.pdf) . I can confirm that coming from a dou

[2018-04-11 09:54] amsichani commented on #787
on another note, @acrymble whats the pricing policy on altmetrics badges? Its a bit confusing on their website -

[2018-04-11 10:34] acrymble commented on #787
They charge by the journal. I suspect it's negotiable, but we're talking considerably more than £1k (I did get a quote, but I won't share it openly online. Email me if you want to know).

[2018-04-11 17:00] alsalin commented on #576
@drjwbaker yep! also, would it be best to post a draft for comment in this forum or elsewhere?

[2018-04-12 07:08] drjwbaker commented on #576
@alsalin Not sure what the protocol is here. I've seen some blogs posted here first for comment. @mdlincoln: can we stage a blog for preview via Jekyll like we do lessons?

[2018-04-12 15:41] acrymble commented on #651
Thanks @amandavisconti. That sounds very reasonable to me.

I'll try to be productive, and suggest an amended version of @arojascastro 's original text, with the idea of keeping the guidelines terse but clear, and also trying to make sure they wouldn't put off an anglophone contributor not used to thinking about these issues:

I would expect this to go in author's guidelines under 'Write Sustainab

[2018-04-12 15:44] acrymble commented on #651
I second trying this out on the next 3 lessons to come in.

[2018-04-13 03:02] mdlincoln commented on #576
Yep, every PR gets a generated preview so blog posts will show up on netlify just like lessons will.

[2018-04-13 16:35] amandavisconti commented on #523
Hi @mdlincoln,

The author I'm working with (@jeffblackadar) has a question about formatting tables in lessons—is this something that was addressed when you closed this issue?

Jeff says: "I think tables in Markdown just don't work for the reviewers. (I suspect Safari does not process them well). Is that true? If I can't use tables in Markdown, could I still use inline html? Not as nice, but putti

[2018-04-14 02:49] mdlincoln commented on #523
@amandavisconti hmm, I thought it had been fixed... but I will take a look in the next few days. https://programminghistorian.github.io/ph-submissions/lessons/getting-started-with-mysql-using-r definitely does not seem to be rendering as intended, and authors definitely _should_ be able to use the usual markdown syntax. Let me investigate a bit.

[2018-04-14 08:16] arojascastro commented on #651
I am happy with those changes / adaption @acrymble. Would you add anything to the guidelines for reviewers and editors as well? I also think it is good to try out this on the next 3 lessons to come in. Should we ask for more feedback from people who have not contributed yet or we simply decide it is good enough?

[2018-04-14 08:23] drjwbaker commented on #576
Thanks for confirming @mdlincoln

So @alsalin lets draft branching off https://github.com/programminghistorian/jekyll/tree/gh-pages/_posts (using a recent lesson as a template for headers et al). Are happy to make a start?

[2018-04-14 10:29] acrymble commented on #787
I propose that we can close this particular issue, because there clearly isn't support for altmetric badges, which was the original question. I'm going to keep brainstorming about ways of highlighting the impact of individual lessons (with context), but I'll do that in another ticket.

If anyone wants to reopen this or add further comments, please do.

[2018-04-14 10:29] #787 closed, assigned to acrymble

[2018-04-14 10:31] acrymble commented on #651
Can we wait till the meeting? This is on the agenda. #777

[2018-04-14 10:32] arojascastro commented on #777
I cannot make it either, sorry!

[2018-04-14 11:48] arojascastro opened #794 "Tutorial on XSL"
I am continuing translating the tutorial on xslt and found out that the numbering of the figures is wrong in the [English original](https://programminghistorian.org/lessons/transforming-xml-with-xsl#creating-and-testing-your-xsl-file). There is a Figure 3 and a Figure 5 but no Figure 4. It is a little error, but it affects Figures 5, 6 and 7.

I can change it myself if you want, but I guess I shou

[2018-04-14 13:28] arojascastro commented on #794
Also for the record, I found a typo here: `the following exercies are located`

[2018-04-14 14:54] arojascastro commented on #794
In this [solution](https://programminghistorian.org/lessons/transforming-xml-with-xsl#introduction-primary-source-reader): `<xsl:if test="keywords/keyword = 'slave rebellion'">` has to be `<xsl:if test="keywords/keyword = 'slave insurrections'">`. Otherwise, the output is empty (unless that is intentional, which would be of little help).

[2018-04-15 08:38] acrymble commented on #760
Just a note on this that only 2 people have actually expressed an interest in stickers. I'm not sure there's enough interest in this to coordinate something.

[2018-04-15 08:44] acrymble commented on #794
Thanks @arojascastro I will make a pull request for the first 2. @mhbeals can you verify the above comment about slave rebellion? You know xsl much better than me.

[2018-04-15 13:29] arojascastro commented on #760
I think it's cool to have stickers. I would like to have the Spanish version though. I am not sure if we should coordinate this together or if the Spanish team should get stickers on their own. In any case, it would be good to have the logo with the tilde that you uploaded on Twitter some days ago. Maybe @mariajoafana and @vgayolrs want to have stickers for DH2018.

[2018-04-15 15:14] JMParr commented on #760
I'd be happy to have stickers in both English and Spanish versions. I teach
in an area that has a sizable Spanish-speaking population. If there aren't
enough people to do orders as a group, perhaps editors could order their
own, as they see fit?

On Sun, Apr 15, 2018 at 9:29 AM, Antonio Rojas Castro <
notifications@github.com> wrote:

[2018-04-15 20:11] mhbeals commented on #794
Thanks @arojascastro.  Yes, that is an artifact of a previous version of the XML which had both but I seemed to have merged them for the simplified version of the XML.  Please change to insurrections.

[2018-04-16 09:22] arojascastro commented on #794
Thanks. My translation is already corrected.

However, I'm having some problems with using the browser to transform the XML. While translating I was using Oxygen and I did not encounter any problem. After finishing the translation, I tried to reproduce the images and thus to use the browser transformation to take snapshoots.

Here are the problems:

- I am using a Mac and Internet Explorer is not

[2018-04-16 09:37] arojascastro commented on #794
A colleague of mine (Peter Dängeli) suggests one more solution:

4. to use [Saxon CE](http://www.saxonica.com/ce/index.xml) - but this needs further comments about the installation process.

On the other hand, he says that maybe the browser transformation with Chrome and Firefox is not working because of safety seetings that I need to change - like `--allow-file-access-from-files` [LINK](https://s

[2018-04-16 09:51] mhbeals commented on #794
I must admit @arojascastro I am slightly perplexed.  I have tried the tutorial again and all the examples seem to work fine in Firefox & Edge, albeit the Windows versions. I do not have access to a MacOS system at the moment (I am abroad working from a Win10 laptop) so I cannot troubleshoot effectively.

In regard to your suggestions
1) I would rather not suggest Oxygen, owing as much to performan

[2018-04-16 10:19] mhbeals commented on #794
@arojascastro I think I may have found the problem. Are you referring specifically to the introduction example? I have found that this no longer works because of the ```<html> <body> </body>``` and ```</html>``` tags. Simply remove these (and fix the 'slave insurrections' tag) and it should hopefully render

[2018-04-16 13:54] acrymble commented on #794
Just so I'm clear, we have 3 outstanding problems?:

- [ ] <xsl:if test="keywords/keyword = 'slave rebellion'"> should be <xsl:if test="keywords/keyword = 'slave insurrections'">
- [ ] https://programminghistorian.org/lessons/transforming-xml-with-xsl#creating-and-testing-your-xsl-file may not work on OS X?
- [ ] the 'introduction example' no longer works?

[2018-04-16 14:21] arojascastro commented on #794
Hi there,

I tested again, and fortunately it is working with Firefox in my MacOS. I failed with Chrome (maybe I need to change the safety settings) and I couldn't try with Internet Explorer (because I do not have it and I cannot install it). But I guess the problem is solved now. Apologies for my previous message.

So @acrymble  I would say we only need to change this:

<xsl:if test="keywords/key

[2018-04-16 15:49] jacobwgreene commented on #717
@walshbr @mdlincoln I've made the necessary updates to the lesson taking into account the updates to the Unity/Vuforia integration. Because these changes made the lesson much simpler and easier to follow, I took the liberty of adding a new section titled "Create a Simple User Interface" that introduces Unity's companion IDE monodevelop as well as some of the basics of modifying existing C# scripts

[2018-04-16 15:57] #794 closed, assigned to acrymble

[2018-04-16 20:04] jenniferisasi commented on #760
Sorry for the late reply @acrymble, I would like to have stickers too! Like @JMParr, I'd be happy to have both versions, as I will be in a mixed environment starting at the end of July. Would that be possible? As @arojascastro said, I don't know if you want to coordinate both languages separately?

[2018-04-17 08:28] acrymble commented on #760
Thanks. We will definitely be getting Spanish stickers. I'm waiting to see our travel budget before we decide on English ones.

[2018-04-17 14:50] walshbr commented on #717
@jacobwgreene thanks! I believe the next steps would be as follows:

- [ ] Open a new pull request to collect all the work together. This new PR will do two things - retire the original lesson and make a new lesson that publishes the new lesson. Push your changes to this pull request, and we can continue the conversation and invite reviewers to take a look there.

To retire the original lesson:

-

[2018-04-17 16:01] mdlincoln commented on #717
The first part of @walshbr's instructions about how to retire the old lesson are fine. But the second part isn't 😬 (sorry!)

You need to do the inverse: keep the old filename&slug on the original lesson, and the new lesson has a new filename&slug. This makes things simpler from a technical perspective, yes, but it also the correct thing to do in the open world of internet documents: you've made cl

[2018-04-17 16:03] walshbr commented on #717
Thanks @mdlincoln!

[2018-04-17 16:30] acrymble opened #802 "Change 'Editorial Team' and 'Spanish Team' tags"
On the /project-team page we have an 'Editorial Team' (which basically means Editorial Team (English)) and 'Spanish Team' (which basically means Editorial Team (Spanish)).

I think it implies a hierarchy that we don't want to communicate.

Propose changing this to:

* Editorial Team (English)
* Editorial Team (Spanish)

This also allows additional 'teams' to be added.

I don't think this is contro

[2018-04-17 16:33] ianmilligan1 commented on #802
👍

[2018-04-17 17:31] alsalin commented on #576
@drjwbaker @mdlincoln - I've posted the draft here: #803 - Let me know if that all looks ok from a technical perspective and then beyond that, I'd love edits, suggestions, and co-writers for anyone who wants to add content!

[2018-04-17 18:28] drjwbaker commented on #576
@alsalin I'll look tomorrow morning.

[2018-04-18 07:20] drjwbaker commented on #576
@walshbr Once @alsalin gets #803 posted, can we push it through the twitter bot until the close of the survey? (15 July)

[2018-04-18 07:48] arojascastro commented on #802
Good idea!

[2018-04-18 07:49] arojascastro commented on #788
Yes, I think having more than one ISSN is a good idea and it is coherent with the volume numbers. We need more feedback from @jenniferisasi @vgayolrs @mariajoafana @jamotilla etc.

[2018-04-18 12:54] walshbr commented on #576
@drjwbaker - the bot isn't super intelligent as of right now. It's only set up to tweet at random from the English and Spanish tabs from the master spreadsheet, once per day M-R with a different task depending on the day. So part of the issue would be that we would just spend weeks waiting for it to get to those publicity-oriented tweets. What kind of behavior would you want for something like thi

[2018-04-18 13:37] acrymble commented on #576
Could just schedule tweets with tweetdeck if needed

On Wednesday, April 18, 2018, Brandon Walsh <notifications@github.com>
wrote:

[2018-04-18 15:11] JMParr opened #805 "Error on R-Basics With Tabular Data"
User Jeniffer Lilliam Mendoza Espinosa reports a potential bug in the coding at the following juncture:

[1] ......

[2018-04-18 15:12] jamotilla commented on #600
@arojascastro it´s almost done

[2018-04-18 15:26] mdlincoln commented on #805
I see - not a bug per se, just a typo in the code in the lesson. I'll make a PR.

[2018-04-18 15:32] JMParr commented on #805
Excllent. Thank you!

On Wed, Apr 18, 2018 at 11:26 AM, Matthew Lincoln <notifications@github.com>
wrote:

[2018-04-19 07:53] drjwbaker commented on #576
@walshbr Could a hack me to add lots of duplicates of posts we want to promote to the spreadsheet?

[2018-04-19 07:54] drjwbaker commented on #576
Blog up https://programminghistorian.org/posts/programming-historian-community-survey Great job @alsalin. Seen as you can see the responses, any chance you could report on response rate at our upcoming team calls?

[2018-04-19 10:14] drjwbaker commented on #576
@alsalin See https://twitter.com/anterotesis/status/986901226292998145 Should it read..

..or be multiple choice?

[2018-04-19 11:46] alsalin commented on #576
@drjwbaker - a multiple choice snuck in there. Everything has been changed now to check boxes so you can select multiple items.

[2018-04-19 13:12] walshbr commented on #576
@drjwbaker - We could theoretically add a bunch of duplicate tweets to the sheet to weight the randomizer towards promotional tweets, but I'm inclined to keep the pieces of the script directed towards single tasks. I.e. - the script has two main functions at the moment that tweet about a lesson in English or Spanish. Rather than mixing that functionality with promotional stuff, I'd want to add pro

[2018-04-19 13:15] acrymble commented on #576
If you email me the tweets verbatim with a list of when you want them sent
out, I will schedule it in Tweetdeck.

On Thu, Apr 19, 2018 at 2:12 PM, Brandon Walsh <notifications@github.com>
wrote:

[2018-04-19 14:32] alsalin commented on #576
@drjwbaker re: survey responses - happy to update at any time! Maybe we can add a regular to-do to our meeting agendas to go over the responses for the month up until the survey closes. Already some very interesting responses! I also appreciate that people are pointing out where the survey and its categories fail. I think that information is crucial!

[2018-04-20 11:11] amsichani commented on #788
Given the importance of the issue in the long-term and as a number of people are not going to join at #777, I think we need to have quorum on this one (I 'd say, also enough people representing the ES team).

Assigning distinct ISSN for each of the PH publication series, also as part of their DOAJ entries, and overall information management.
As for now, we are producing two separate scholarly publ

[2018-04-20 17:35] acrymble commented on #802
Thanks, we have 8 approvals. I'm going to make this change.

[2018-04-21 17:07] acrymble opened #809 "Editor Guidelines out of sync"
The editor guidelines are a bit behind current policy. Suggest a few tweaks to the 'Editorial Checklist' (having just used them).

2) Create an Author Bio
 - the example doesn't have 'team: false;' in it.

4) Add reviewers and editors to the YAML file
 - i~~sn't there also a listing of 'reviewers' you have to add them too as well? I couldn't find this. And I know we've had trouble in the past of e

[2018-04-21 18:52] #802 closed, assigned to acrymble

[2018-04-21 20:03] mdlincoln commented on #809
Reviewers no longer need to be added to any combined list; I updated it to generate from metadata a few months back.

[2018-04-22 09:23] acrymble commented on #788
This plan would really mean we have a federated system, with a central editorial board responsible for policy / consistency, and separate publications operating largely atonomously. I kind of feel like we do that already, so maybe it isn't a big jump. But it might feel like one.

[2018-04-22 09:36] #805 closed, assigned to JMParr

[2018-04-22 16:33] #809 closed, assigned to nobody

[2018-04-23 13:33] amsichani commented on #788
I agree - this is how we are normally operating as for now. I just wanted to have it written down, just to make sure we are all on the same page. Should we ask BL for another ISSN for the ES publication?

[2018-04-23 14:50] arojascastro opened #812 "Linking the review ticket in the published lesson?"
I was wondering if we can do more to give credit reviewers and editors, and I remembered that on Wikipedia you can get access to the *Article* and the *talk*. One one hand, the *final* version; on the other, its discussion. For instance: https://en.wikipedia.org/wiki/2018_Gaza_border_protests

I thought that we may want to explore the possibility of linking each tutorial with its discussion on Git

[2018-04-23 14:53] ianmilligan1 commented on #812
I'm a lame duck as I'm leaving soon but speaking as an author while I don't mind having the record of peer review available for the truly dedicated and curious, I would prefer not to have it directly linked from the finished article.

[2018-04-23 16:45] acrymble commented on #779
I would like to add this to our current documentation so that authors can begin to follow it. If you would like to raise any concerns, please do so by 7 May 2018, at which point I"m going to add a pull request.

[2018-04-23 16:52] alsalin commented on #760
I'd like 50 (25 english + 25 spanish). a bunch for me and some for ECDS :D

[2018-04-23 17:09] acrymble commented on #743
Thanks for your comments everyone. I hope I have put them all onto the Wiki (which also explains what the Wiki is for, if you read the front page).

The new page for new editors is here:

https://github.com/programminghistorian/jekyll/wiki/Onboarding-Checklist-for-New-Editors

Please amend this as you see fit.

[2018-04-23 17:09] #743 closed, assigned to mdlincoln

[2018-04-23 17:18] acrymble commented on #378
From our editorial call, we discussed the needs for more social content about the role of new editorial teams. Some rough ideas (which maybe sound a bit too harsh at the minute, but it's just a starting point):

The Programming Historian is controlled entirely by the Central Editorial Board, comprised of all active members of the project team. In order to ensure that the project continues to thriv

[2018-04-23 17:18] mdlincoln commented on #789
Discussed in 2018-04-23 meeting:

@arojascastro is right, lazy consensus does not work if we move too fast to ensure that all team members have the chance to weigh in. However, I'd echo concerns expressed here, and in the call, that instituting a formal voting system may exacerbate fractious feelings within the editorial team - e.g. if one team member feels especially passionate about a decision,

[2018-04-23 17:20] acrymble commented on #651
Please comment on this by 7 May 2018 if you have any further thoughts. Otherwise, I will open a pull request  for the above text, and will include similar content for the editors and reviewers as per @arojascastro 's suggestion.

[2018-04-23 17:25] acrymble commented on #766
Thanks everyone for your comments. I have added this to our Wiki: https://github.com/programminghistorian/jekyll/wiki/Checklist-for-Sabbaticals

Please add any amendments there.

[2018-04-23 17:25] #766 closed, assigned to JMParr

[2018-04-23 17:26] amsichani commented on #760
I d like 50 EN stickers.

[2018-04-23 17:27] acrymble commented on #751
@amsichani the workshop is 1-3 August.

[2018-04-23 17:29] acrymble commented on #812
I hear both of you on this. I respect @ianmilligan1 's comment that the published version is for readers, not for authors.

I also agree with @arojascastro that it would be great to expose more information about individual lessons (eg, #787 conversation about altmetric). Could we think about a fairly discrete expandable icon or something near the top of a lesson for those interested in this type o

[2018-04-23 18:06] walshbr commented on #777
Actionables!

- github training for editors - new editors should definitely have training. @mdlincoln will continue leading on this while assessing whether or not he needs more help on the technical team.
- #378 French Translation (@JMParr to update on progress). Next we will schedule a call between the Spanish team and the prospective French team. We will also devote the next monthly editorial ca

[2018-04-23 18:06] #777 closed, assigned to walshbr

[2018-04-23 18:10] walshbr commented on #760
I'd also like 50 EN stickers. If we have them by June I can take them to HILT and pass them out, but no worries if they're not in the mix by then.  There will always be other opportunities to give them away!

[2018-04-23 18:38] mariajoafana commented on #651
For the first item in the list I would day: Each language has its complexities and there is only so much that the author of a tutorial can do with the constraints of the platforms, programming languages, etc. This makes me think that the guidelines may deal with specific topics. Something like: "For tutorials focusing on textual analysis we recommend x, y, and z".

For the item: "Where possible, c

[2018-04-23 18:48] walshbr commented on #779
As I mentioned on the call, I think this is a good suggestion. Particularly since it covers most tutorials that we have already, I think it's a fine approach that would cover us from extreme cases. I'd just want to make sure that the language for this indicates that while 8000 words is the upper limit we encourage and frequently publish shorter lessons.

[2018-04-23 18:50] ianmilligan1 commented on #760
I'm on my way out I know but I can always make sure stickers find happy homes at events. Plus I have a few laptops I'd adorn them with (and my colleagues Nick Ruest and Ryan Deschamps have done yeomans work for the site so I'd give them some too).

[2018-04-23 18:56] walshbr commented on #378
This might be softened a bit by a sentence explaining the context for it. Something like this to be integrated into the first paragraph:

"While each linguistic version of the project needs the freedom to act autonomously, there are certain agreed upon workflows, technical protocols, and policies necessary to maintain seamless integration with the project as a whole."

[2018-04-23 18:58] arojascastro commented on #779
I like it as long as it is clear that it is an approximation (do you say that in English?), upper limit as @walshbr points to, and that we are happy to create a series of tutorials on a topic that needs more length (like the tutorials on Python and on Geospatial analysis).

[2018-04-23 19:00] arojascastro commented on #378
It seems reasonable to me with @walshbr suggestion.

[2018-04-23 19:03] arojascastro commented on #812
Ok, let me propose a different approach. What about this?

- recording the number of the reviewing ticket in the YAML block as a kind of identifier so it fullfills our open and transparent aims - it is also nice for documentation purposes (I can't never recall the ticket number attached related to an specific tutorial)

OR / AND

- not linking to the ticket on the published lesson but displaying t

[2018-04-23 19:05] arojascastro commented on #789
It sounds very reasonable and helpful and I love labels and deadlines -- honestly, they give me a safety feeling.

[2018-04-23 19:07] arojascastro commented on #777
As for #378, we have already scheduled a meeting on Thursday 3 May between the Spanish and the French team. So it's all right.

[2018-04-23 19:09] walshbr commented on #777
Great - thanks for the update @arojascastro!

[2018-04-24 08:50] amsichani opened #814 "May Editorial Meeting Agenda - 31/05/2018"
Time is 5PM British, 12PM Eastern US, 9AM Pacific US.

Working agenda follows. Please add by commenting or editing this comment directly.

## Old business

- [x] #721 Current Research Projects or Submissions Pending about the Programming Historian.
- [x] #855 Language-independent landing page - POLICY issue until **1 June 2018** for giving input
- [x] #789 Quorum for important decisions? (Please s

[2018-04-24 09:35] acrymble commented on #724
I've emailed my finance team to see what it would cost to host any money and administer its expenditure via my university (though open to it being elsewhere). I'll let you know when I hear back if this is possible.

[2018-04-24 10:56] drjwbaker commented on #751
I agree with the position we have reached in this ticket.

[2018-04-24 11:03] drjwbaker commented on #651
This is the reason - initially - why I urged delay and learning from the ES work planned for this year (and incoming FR work) before adjusting our documentation. However when @amandavisconti intervened (very helpfully) at https://github.com/programminghistorian/jekyll/issues/651#issuecomment-380259329 I accepted the need for more immediate change that @arojascastro. So I'm now confused. Is there a

[2018-04-24 11:06] drjwbaker commented on #378
So, in sum (to check I get this having missed the chat): everyone is in the Editorial Board, everyone is also part a language project (EN, ES, FR, er al), there are minimum requirements for each language project to ensure some consistency between them, but outside those minimum requirements each language project acts independently.

[2018-04-24 11:09] drjwbaker commented on #788
@amsichani It seems to me that if we are to agree to do this https://github.com/programminghistorian/jekyll/issues/378#issuecomment-383892254 then yes we need an ISSN for each language project.

And on..

.. the ISSN for the EN lessons was obtained after publication began.

[2018-04-24 11:43] acrymble commented on #651
Ok if I read @drjwbaker and @mariajoafana correctly, the request is to tone down the requirement a bit, so that we don't cut out potentially useful lessons, at least until we better understand the repercussions of this new policy. Revised with that in mind:

## Write For a Global Audience

Programming Historian readers live all around the world, and operate in a range of cultural contexts. To help

[2018-04-24 11:53] drjwbaker commented on #789
I presume a perfectly valid decision on a policy matter with a deadline is to defer the decision. In which case, can I suggest we always attempt to set a new deadline.

[2018-04-24 11:55] drjwbaker commented on #777
@alsalin Were you there to offer an update on the response rate thus far for #576?

[2018-04-24 12:15] drjwbaker commented on #724
I've had the same discussions with folks at Sussex. I'll report back when I hear more.

[2018-04-24 13:00] drjwbaker commented on #651
If @mariajoafana @arojascastro (that is the ES members who've commented on the ticket) are happy, then I am. Thanks Adam for the revision.

[2018-04-24 13:19] walshbr commented on #777
Ah I should have mentioned that in the update/notes @drjwbaker. @alsalin can give more details, but the news she gave in the call was that we have 16 responses so far, all of which are from readers/users.

[2018-04-24 13:30] arojascastro commented on #751
plus 1

[2018-04-24 13:31] walshbr commented on #814
Thanks for organizing and covering this @amsichani!

[2018-04-24 13:42] arojascastro commented on #651
I am a bit surprised because the first original proposal that we received precisely uses a tool that works with English, Spanish and Japanese and whose web interface is available in three languages.

I recommend people to read the tutorial about "Stylometry with Python" where we put these ideas into practice. I think the final output is much better after considering these issues.

I agree about th