[2014-06-28 20:47] wcaleb opened #2 "How should we highlight code blocks?"
@fredgibbs I'm preparing to use Pandoc to do a massive bulk conversion of all existing lessons into Markdown. Before doing so, I've been doing some thinking about how code blocks should be handled in the new site.

In the lessons you've already converted, you used Jekyll's preferred highlighting feature. But the problem with this method is that when you view the markdown files in Github, the Githu

[2014-06-28 20:48] wcaleb opened #3 "Markdown reference links or inline links?"
@fredgibbs, as mentioned in #2, I'm thinking of using Pandoc to convert all the existing lessons to Markdown as a first stab at transition to the new site.

Wondering if we might want to use Markdown "reference links" (which put all URLs at the bottom of the file) instead of inline links, as it would make the Markdown more readable on GitHub?

[2014-07-09 04:28] wcaleb opened #4 "Find any problems in bulk pandoc processing workflow"
@fredgibbs @williamjturkel

This afternoon I worked on a way to take all of the lessons on the old Programming Historian site and convert them to Jekyll-friendly markdown---using programmatic techniques learned from the Programming Historian!

I've committed my experiments on the master branch instead of on the gh-pages branch, so that we can figure out problems with this workflow before moving fo

[2014-07-14 19:45] #4 closed, assigned to nobody

[2014-07-14 19:47] #3 closed, assigned to nobody

[2014-07-14 19:55] wcaleb opened #5 "Things lost in bulk conversion from old site"
The bulk conversion methods that I used (described in #4) were able to carry over most of the necessary structure and metadata from the old website. But some things that were in the original HTML pages did not survive the conversion process.

I'll divide these things into two categories:
### Things Removed from Markdown Versions that Could be Automatically Restored with a new Bulk Conversion
- com

[2014-07-21 18:11] #5 closed, assigned to nobody

[2014-07-21 18:12] wcaleb opened #6 "Fix tables"
Find lessons that had tables and fix Markdown syntax.

[2014-07-21 18:12] wcaleb opened #7 "Recreate old blog on new static site"
Move posts out of lessons, and fix syntax.

[2014-07-21 18:13] wcaleb opened #8 "Figure out where to put zipped code samples from old site"

[2014-07-21 18:13] wcaleb opened #9 "Add link to commit history in footer of each page"

[2014-07-21 18:14] wcaleb opened #10 "Add Disqus comments to lessons and posts"
Need to wait to do this until after custom domain has been set up.

[2014-07-22 01:07] #9 closed, assigned to nobody

[2014-07-22 01:59] #6 closed, assigned to nobody

[2014-07-22 20:58] wcaleb opened #11 "Fix permalinks broken by conversion"
Some of the lessons on the old site had nested URLs (especially the Zotero ones). If we are unable to fix these with redirects, so as to make sure inbound links still work, it is also possible to [specify permalinks on a post-by-post basis in the lesson front matter](http://davidtuite.com/posts/how-to-manage-permalinks-in-jekyll).

[2014-07-23 01:17] #7 closed, assigned to nobody

[2014-07-24 16:13] wcaleb opened #12 "Add avatars from Project Team into images directory"

[2014-07-24 16:57] wcaleb opened #13 "Restore "about author" divs in footers"
These were thrown out in bulk conversion. Perhaps set up includes so that author bios can be dropped in on multiple lessons?

[2014-07-25 00:52] wcaleb opened #14 ""Tech" spans in old lessons lost in conversion"
See "Manipulating Strings in Python" for an example.

Also span class "reserved," which seems to be for inline code.

[2014-07-25 01:21] wcaleb opened #15 "Check individual Markdown lessons for errors"
In the wake of our bulk conversion to Jekyll, we need to do a close editorial check of each of the Markdown lessons listed below, which are kept in the [lessons directory](https://github.com/programminghistorian/jekyll/tree/gh-pages/lessons) and can be seen live at http://programminghistorian.github.io/jekyll/lessons.

The best way to spot check is probably to look at the live GitHub Pages version

[2014-07-25 18:08] #14 closed, assigned to nobody

[2014-07-25 18:10] #13 closed, assigned to nobody

[2014-08-07 14:30] acrymble opened #16 "Google Analytics code to be included on all lessons"
Our id number is:

UA-2752866-8

[2014-08-08 03:13] wcaleb opened #17 "Link to Reg Ex lesson from Applied Archival Downloading"
The section on downloading Bligh's diary could probably revised with a link to the Regular Expressions lesson so that readers can capture pages that contain letters as well as numbers in the script.

[2014-08-08 15:41] wcaleb opened #18 "Create contribute page"
This will combine the current Submissions, Contact, and Get Involved page. We will replace "submissions" in the nab bar with "contribute."

[2014-08-08 15:42] wcaleb opened #19 "Bring project team directory up to date"
- move Carrie and Jeremy to emeritus section
- add Caleb
- add bios, contact links, and avatars to author directory in config

[2014-08-08 15:47] #11 closed, assigned to nobody

[2014-08-08 16:07] wcaleb opened #20 "Move bulk conversion stuff out of repo"
- `modified_html`
- `original_html`
- Python and shell scripts

[2014-08-08 16:07] wcaleb opened #21 "Figure out how Jekyll RSS works"

[2014-08-08 16:13] wcaleb opened #22 "Change name of "blog" to "news""

[2014-08-08 18:26] #18 closed, assigned to fredgibbs

[2014-08-09 16:53] wcaleb opened #23 "Add button to select all text in a code block"
There is currently a [javascript in our repo](https://github.com/programminghistorian/jekyll/blob/gh-pages/js/codeblocks.js) that, if enabled, will place a small button beside each code block. When the button is clicked, all the text in the code block will be selected so that the user can easily copy it to his/her clipboard.

Currently, the button is floated to the right of the code block outside

[2014-08-09 19:33] #22 closed, assigned to nobody

[2014-08-11 17:42] #8 closed, assigned to nobody

[2014-08-11 17:55] #20 closed, assigned to nobody

[2014-08-11 18:23] #12 closed, assigned to nobody

[2014-08-11 18:38] #19 closed, assigned to nobody

[2014-08-15 04:09] rsanc77 opened #24 "css and link to pages broken"
Please remove all instances of jekyll from any links to resources such as javascript or css files and from links to other parts of the website. Once this is done I will make the appropriate changes on our dns servers.
for example the links for css should look like "css/style.css  and links for other pages should look like /about instead of /jekyll/css/style.css and /jekyll/about

[2014-08-15 13:19] #24 closed, assigned to nobody

[2014-08-15 15:43] wcaleb opened #25 "Categorize each lesson with tags"
Per Skype call on August 15:

- @fredgibbs is going to reorganize the lessons directory under non-alphabetic categories (like "Getting Started," "Tools," etc.)
- @wcaleb is going to tag each lesson with categories; the categories will include, at a minimum, the topics under which the lessons are *currently* listed on the category page, so that the [Lessons Directory](https://github.com/programming

[2014-08-15 15:51] #21 closed, assigned to nobody

[2014-08-26 21:54] wcaleb opened #26 "Front page should be the lessons directory"
We need to see whether we have lots of pages linking to `lessons/`. If not, we can just replace the index for the whole site with the lessons directory.

[2014-09-15 17:51] #16 closed, assigned to nobody

[2014-09-17 14:20] alyssafahringer opened #28 "Need to change 'group' to 'user' when using personal Zotero library in Zotero API lessons"
In the first Zotero API lesson, the user is prompted to use either the sample Zotero library or their own personal library. If you are using your own Zotero library, then the code needs to be changed from 'group' to 'user', otherwise the code will not compute when it's run in a text editor. There also needs to be a reminder in the subsequent second and third Zotero API lessons so users are able to

[2014-09-17 14:29] alyssafahringer opened #29 "Having a problem opening URLs in personal Zotero library - Zotero API lesson 3"
In the third Zotero lesson I have repeatedly run into problems attempting to run the following set of code in my text editor:
![screen shot 2014-09-17 at 10 24 32 am](https://cloud.githubusercontent.com/assets/8807816/4305146/b5dffb24-3e76-11e4-9912-d563520f3c2a.png)
I am using my own personal Zotero library, and I made sure the first two entries in my library had URLs attached to them. Even still

[2014-09-17 22:46] #15 closed, assigned to nobody

[2014-09-18 15:10] #10 closed, assigned to nobody

[2014-09-18 15:15] wcaleb opened #31 ""Programming Historian" in header links to page instead of index"

[2014-09-18 15:26] #26 closed, assigned to nobody

[2014-09-18 15:32] wcaleb opened #32 "How should lessons directory be organized?"
- alphabetically?
- by category?
- by level of difficulty? (perhaps with an icon to indicate level?)
- by "workflow path"? (that is, do this lesson, and then do this lesson that builds on it, etc.)

[2014-09-18 15:56] wcaleb opened #33 "Update submissions page to detail Markdown requirement"
@fredgibbs said he would do this.

[2014-09-18 16:15] acrymble opened #34 "flesh out publishing / editing documentation"
Caleb agreed to take a look at this. We need details on how to add reviewers, where to store data, and a few paragraphs that can be sent to authors for how they can make copy-edits.

Also, shouldn't these be in a /documentation directory so they're easy to find?

[2014-09-18 16:46] #31 closed, assigned to nobody

[2014-09-20 19:56] #28 closed, assigned to nobody

[2014-09-21 10:25] acrymble opened #35 "send intro to bash to live site so author can proof."
sorry i don't know how to do this.

[2014-09-21 10:47] acrymble opened #36 "send research-data-with-unix.md to live site for author proof"
thanks.

[2014-09-21 13:09] #35 closed, assigned to nobody

[2014-09-21 13:10] #36 closed, assigned to nobody

[2014-09-22 02:28] wcaleb opened #37 "Create link on each lesson to related Issues"
Would involve making a custom label for each lesson, and then making a link to those.

[2014-09-25 03:31] wcaleb opened #40 "Update IA lesson to reflect internetarchive module changes"
Students of Ed Baptist's pointed out that the `internetarchive` module [has changed](https://github.com/jjjake/ia-wrapper/commit/280ffb1a9f625a43583bb87190d2e1e87d9ffb4b) in ways that break the code in my lesson. I need to remember to go in and fix these to conform to the new API.

[2014-09-25 05:30] acrymble opened #41 "broken links in mallet lesson"
(See [Mac][], [Windows,][Mac][Linux][Mac] for installation instructions)

These aren't linked.

[2014-09-25 05:38] #41 closed, assigned to nobody

[2014-09-25 05:39] acrymble opened #42 "add author name to lessons listing on github?"
I can't find the lessons I'm working on, because we don't have the title or the authors listed. Just filenames. Is there a way we can change the display on https://github.com/programminghistorian/jekyll/tree/gh-pages/lessons to make it more editor-friendly?

[2014-09-25 12:21] #42 closed, assigned to nobody

[2014-09-27 16:22] #40 closed, assigned to nobody

[2014-09-29 11:52] aurelberra opened #44 "Need to add a line about an author"
In the lesson [Sustainable Authorship in Plain Text using Pandoc and Markdown](http://programminghistorian.org/lessons/sustainable-authorship-in-plain-text-using-pandoc-and-markdown), section "About the authors", Grant Wythoff is mentioned, but Dennis Tenen is not. This doesn't seem right: more info needed, I guess!

Best wishes,

Aurélien

[2014-09-29 12:37] #44 closed, assigned to nobody

[2014-10-11 19:27] njbart opened #46 "pandoc citation syntax issue in "Sustainable Authorship ...""
In http://programminghistorian.org/lessons/sustainable-authorship-in-plain-text-using-pandoc-and-markdown you suggest using the following

[code]

This is not recommended since it keeps you from switching easily between footnote and author-date styles. Better use the following (no circumflex, no final period inside the square braces, and the final punctuation of the text sentence after the square

[2014-10-20 14:18] #46 closed, assigned to nobody

[2014-10-24 15:21] wcaleb opened #49 "Change location of drafts"
I'd like to propose that we handle draft lessons differently than we have been.

Right now, all drafts are being placed in a drafts folder, which is then excluded from the site build by a line in our config file.

**My proposal is that we instead keep all lessons, draft or published, in the lessons folder.** We will keep drafts from going "live" by putting a `published: false` line in the YAML met

[2014-10-24 16:24] acrymble opened #50 "PH to scholarship @ western"
Bill suggested we put the PH in the Scholarship @ Western portal (at his university), as that seems to have gotten stuff into world cat.

[2014-10-24 16:25] acrymble opened #51 "Flood wikipedia with links to PH"
Everyone knows if it's legitimate, it's on wikipedia. We're going to start adding some links to PH on wikipedia where relevant.

[2014-10-24 16:26] acrymble opened #52 "Images to represent lessons on table of contents page"
Allison did a really great mockup of what we could do to represent our lessons visually:

https://dl.dropboxusercontent.com/u/58260988/PHDesign.png

We discussed this and really like the idea, but we wanted to ensure the Author names were kept, as were the blurbs about each section. We also thought some good historic images / lithographs would make a better set of images. Allison is going to take

[2014-10-26 02:00] #49 closed, assigned to nobody

[2014-10-26 02:01] #34 closed, assigned to wcaleb

[2014-10-27 01:42] #33 closed, assigned to fredgibbs

[2014-11-06 14:50] wcaleb opened #56 "Track changes link doesn't work on blog posts"
The URL for a blog post doesn't match the repo URL, so it can't find the GitHub link.

[2014-11-11 17:03] #56 closed, assigned to nobody

[2014-11-26 00:44] fredgibbs opened #58 "directories for lessons?"
i wonder if it wouldn't be easier especially in the long term for moving lessons through the pipeline and maintaining them if we--instead of putting all lessons as files in the lessons directory, and putting images in the image directory, etc.--put all assets associated with a single lesson (and the lesson .md itself) in a single directory with the same name as the lesson under the main lessons di

[2014-11-26 00:47] fredgibbs opened #59 "reviewer instructions"
do we have a standard set of instructions we send to reviewers in terms of what we want them to do, what we expect, what constitutes a solid review? is it publicly visible?

[2014-12-01 11:32] pollecuttn opened #60 "Minor mistake in "Counting and mining research data with Unix" lesson?"
Hi,

Where you show the `ci` flag you say:

Shouldn't that be "keyword revolution"?

[2014-12-02 00:38] #60 closed, assigned to nobody

[2014-12-15 16:18] wcaleb opened #63 "Update documentation to require large datasets to be put on Zenodo"

[2014-12-15 16:19] wcaleb opened #64 "Look into getting DOI for Programming Historian releases"
https://guides.github.com/activities/citable-code/

[2014-12-15 16:31] wcaleb opened #65 "Write a script to produce site as e-book and PDF"

[2014-12-15 16:50] #58 closed, assigned to nobody

[2014-12-20 18:13] acrymble opened #66 "Creating New Items in Zotero - code problem"
This lesson tells you to import an 'obo' library, but no such library exists (and it is not needed for the lesson).

import obo
from libZotero import zotero
import urllib2
import datetime

---
It would also be incredibly helpful for users if they were given a list of all the things they could add to their item using the API. What are the names of all the metadata fields that they can use?

[2014-12-24 06:27] acrymble opened #67 "need clean way to add 'suggested next lesson' link"
some of the lessons are part of a logical chain of lessons. But we've lost those links. How do we want to reinstate that? Yaml?

[2015-01-23 02:33] dylan-k opened #68 "Question about the LaTex style file example"
I have a question about one of the examples on the page [Sustainable Authorship in Plain Text using Pandoc and Markdown](http://programminghistorian.org/lessons/sustainable-authorship-in-plain-text-using-pandoc-and-markdown).

It was easy to follow along with this article thanks to the clear examples and explanations, and I'd like to say thanks for that! But there's one thing that confused me.

Th

[2015-01-23 19:53] wcaleb commented on #68
Assuming you have a LaTeX engine (`pdflatex`, `xelatex`, etc.) on your system, it is possible to use Pandoc to go straight form Markdown to PDF. Behind the scenes, Pandoc will first convert the Markdown to a LaTeX file using its default LaTeX template, and will then invoke a LaTeX engine (`pdflatex` by default) to produce a PDF.

You don't have to mess with LaTeX at all *unless* you want to fine t

[2015-01-23 19:53] #68 closed

[2015-01-24 03:22] dylan-k commented on #68
Where is the default template that Pandoc uses?

[2015-03-09 15:46] acrymble commented on #52
This seems to have stalled. All we need to go live with this is a redesigned lessons page, no? Is anyone able to help Allison with this?

[2015-03-09 16:45] wcaleb commented on #52
I could use some professional help on this … paging @clioweb.

[2015-03-10 00:56] ahegel commented on #52
I started playing around with the page design on my own site, but I don't know enough about the Github workflow to know how to make a development branch or whatever the correct process is to test out the design before making it go live. Sorry to hold us up!

[2015-03-10 01:10] wcaleb commented on #52
@ahegel If you have Jekyll [installed on your machine](http://jekyllrb.com/docs/installation/), and you have cloned this repo to your machine, then you can navigate to the top-level directory of this repo and do the command `jekyll build`. Jekyll will then build the site and put all the HTML in the `_site` directory. You can open your new `../lessons/index.html` file from there and see how it look

[2015-03-12 06:07] ahegel commented on #52
I have a lesson page that works on my machine! It's currently up on [my forked version of the repo](https://github.com/ahegel/jekyll). Here are two [screenshots](https://dl.dropboxusercontent.com/u/58260988/Design.png) of what it [looks like](https://dl.dropboxusercontent.com/u/58260988/Design2.png). @wcaleb, do you want to check it out and see if everything's working properly?

I had to change th

[2015-03-12 16:12] wcaleb commented on #52
@ahegel This looks great!

You're right that HTML styling was necessary for this; there's not a straightforward way to do it all in Markdown.

One suggestion: instead of creating a separate folder of `200x200` images in `gallery`, I'd suggest making all your `img src` lines point to images in `gallery`. Then, you can add a line in the CSS declaration for these images that controls sizing:

[code]

[2015-03-12 17:21] ahegel commented on #52
Thanks @wcaleb! That makes sense, I'll make those changes today. Just wondering - does it make a noticeable difference in loading time to have users load the larger images and then resize them smaller? Is that one of the things that using a static site helps with?

[2015-03-12 18:37] wcaleb commented on #52
I don't think it will cause a load time issue with images this small. You're right it could if the originals were huge, regardless of whether it's a static site or not.

I think you have edit privileges on this repo, so just drop the new code into the relevant files when you are ready.

Sent from my iPhone

[2015-03-13 04:32] ahegel commented on #52
The changes are up on the site! Remaining issues:
- The font was originally sans-serif for the lesson titles, now it's the serif header font - should we change it back?
- Should we come up with a way to style the last section, Introduction to Python, or should we leave it as a list? It has a difficult-to-deal-with multi-lesson link to Mac/Linux/Windows versions of the lesson.
- Any other concerns?

[2015-03-13 17:54] wcaleb commented on #52
Looks great! We can raise the styling issues on the next Skype meeting; I think it looks fine for now. We may ultimately want to make those titles styled "paragraphs" (using a CSS class) instead of headers (which are usually reserved for page structure elements). Thanks for your work on this!

[2015-03-13 17:54] #52 closed

[2015-03-14 16:48] matthewljones opened #74 "missing data files in qgis tutorial"
In
http://programminghistorian.org/lessons/qgis-layers
the links to the two non-PEI gov't data files 404 on dropbox.

https://www.dropbox.com/s/mgrb90vcpggnw8c/PEI_highway.zip
https://www.dropbox.com/s/fev9116zfr31ogb/PEI_placenames.zip

tarballs same thing.

[2015-03-15 14:01] fredgibbs commented on #52
yes, this is fantastic! what a huge improvement. i agree we need to futz with the styling a bit and perhaps adjust the spacing, but that's something we can work out over time. thanks @ahegel!

[2015-03-17 19:36] Jmuccigr commented on #46
I'm still looking into this, but it seems that this kind of note gets turned into a footnote by pandoc-cite only when it has a reference in it. When it doesn't, it gets left completely alone. So
````This is a sentence.[This is a comment on the sentence.]````
gets left completely alone. So if you want the simple text w/o a reference to be a footnote, it needs a leading ^.

[2015-03-17 21:33] gwijthoff commented on #46
@Jmuccigr is right.  I guess I don't see why our originally suggested format is an impediment to easily switching between footnotes and author-date citations.  If you want an in text author-date citation, you just use brackets [@fyfe_digital_2011].  If you have explanatory text to go along with that source, you add a caret and make it a footnote.^[@fyfe_digital_2011 has some explaining to do.]  Ha

[2015-03-17 22:09] Jmuccigr commented on #46
For me what's pesky about the in-line, no-carat method is that it leaves all the notes mixed in with the text, which defeats the purpose of the caratted links that can go at the end of the doc (or paragraph or whatever).

Is there a way to maintain the convenience of not committing to footnotes (i.e., the in-line go-carat method) without keeping everything in-line?

It's also a little bothersome f

[2015-03-17 22:50] Jmuccigr commented on #46
Sorry for the double-post…it occurred to me that the ideal would be one type of note. Having to remember to watch the carat as you're editing is extra work.

So that would mean that pandoc-citeproc would handle no-citation references as well as it handles the citation-possessing ones.

[2015-03-26 21:15] nickbart1980 commented on #46
@gwijthoff:

Yes. If you use `Foo [@doe2000, p. 22, ].` or, with explanatory text, `Foo [see @doe2000, p. 22, with case studies; but see @roe2015, pp. 33–34, who disagrees].`, you can use any CSL style you want, it will always be rendered correctly without ever changing the markdown source. As soon as you start hardcoding footnotes, you lose this advantage. What's worse, if you use `^[@doe]` toget

[2015-03-26 22:14] Jmuccigr commented on #46
Yes, but you have to hard-code footnotes when they don't contain or immediately follow citations.

Footnotes without citations are hardly unusual, yet pandoc leaves ````[some text]```` alone at the same time as it processes ````[some text @citation]````. That means that you really have no choice but to manually indicate footnotes without citations.

Or am **I** missing something?

(I'm trying to a

[2015-03-27 08:46] nickbart1980 commented on #46
@Jmuccigr: Sorry, like it or not, these are the facts. If you really need to use many notes without citations *and* switch between parenthetical and footnote styles so frequently, I'm sure you could use `^[Bla.]` footnotes for notes without citations as a default, and write a filter to map all  `^[Bla.]` to ` (Bla.)` whenever you want to use a style without footnotes.

[2015-03-27 15:01] acrymble commented on #52
Obviously my page was cached so I didn't notice until now, but these are wicked! thanks for this @ahegel

[2015-03-27 15:12] Jmuccigr commented on #46
@nickbart1980: I actually don't typically use in-line citation formats, so that's not an issue for me.

I'm not sure that we're disagreeing. It's simply a limitation that when writing notes without citations - which is a fairly common occurrence for me - it's necessary to force them to be footnotes with a carat. If they were to be parenthetical comments (like this one), I would just use parenthese

[2015-03-27 16:08] denten commented on #46
Based on this thread I think `[@fyfe_digital_2011 argues that too].` as is currently listed in the tutorial is the correct recommendation. The fact that `[some note]` does nothing is an issue for Pandoc and likely will be affected by Common Mark (see [Example 387](http://spec.commonmark.org/0.5/#example-387))Thank you everybody for a productive discussion.

[2015-04-04 09:14] acrymble commented on #74
Thanks Matthew, I've forwarded that on to the author for comment.

[2015-04-04 09:15] acrymble commented on #67
@wcaleb, do you have a preference for how I do this? Just a straight HTML link at the end of a lesson?

[2015-04-04 16:57] wcaleb commented on #67
I liked your idea of handling this with YAML, since it's a structural metadata issue that should be separated from styling. I would go through the relevant lessons and add key/value pairs to the YAML block that look like this

[code]

Where the value is the page slug of the relevant lesson. Once these have been added, I can add something to the Jekyll template that will produce links to them at th

[2015-04-05 06:18] acrymble commented on #67
Ok.

[2015-04-05 06:52] acrymble commented on #67
I think I've added this all. @wcaleb, when you add this to the template, can you use suggestive language (suggested next lesson, or you may find this lesson easier if you have completed X)? That way we don't enforce a pathway on people but give them signposting.

[2015-04-07 14:02] wcaleb commented on #67
OK, I've changed the layout with 4c8db16119b5b09bab3ab11facb7138d0cbd8635. Feel free to adjust the wording if you want. If we want to improve the "look" of these links later, we can do that with CSS.

[2015-04-07 14:02] #67 closed

[2015-04-07 14:09] wcaleb commented on #65
See if https://github.com/lmullen/jekyll-ebook might work. @lmullen

[2015-04-07 15:42] lmullen commented on #65
I haven't touched that code in 3 years. I'm curious to know if it still works.

[2015-04-08 09:03] dmoskovsov commented on #23
+1

[2015-04-08 20:30] wcaleb commented on #63
Just read that GitHub is about to offer [better support for large files](https://github.com/blog/1986-announcing-git-large-file-storage-lfs). Do we need more than 1 GB? If not, would this be an option to consider alongside or instead of Zenodo? @williamjturkel @acrymble @fredgibbs

[2015-04-13 16:33] #51 closed

[2015-04-13 16:33] #50 closed

[2015-04-13 16:34] acrymble commented on #63
Current plan is to use this instead of Zenodo for the time being.

[2015-04-13 21:59] todrobbins opened #79 "Header hover anchor links"
Let's try to implement something similar to http://ben.balter.com/2014/03/13/pages-anchor-links/ for header anchors and the ability to link to specific sections on pages. See #78 for discussion of this.

[2015-04-14 01:00] #79 closed

[2015-04-14 01:25] wcaleb commented on #79
I think I've got the hover icons working, but haven't tested in multiple browsers. Let me know if it seems to work for you. @todrobbins @miriamposner

[2015-04-14 03:55] todrobbins commented on #79
It's working for me on multiple browsers! Great work @wcaleb!

[2015-04-14 13:04] fredgibbs commented on #79
@wcaleb @todrobbins this is great! thanks to you both for proposing and working through this so quickly!

[2015-04-14 13:05] acrymble commented on #74
I've passed the missing file on to @wcaleb who will host it on our github account instead.

[2015-04-14 13:06] acrymble opened #80 "Windows wget download no longer available"
Pointed out by Peter Webster:

http://programminghistorian.org/lessons/automated-downloading-with-wget

He's suggested an alternative link:

https://eternallybored.org/misc/wget/

@ianmilligan1 to test out and update the lesson.

[2015-04-14 13:12] wcaleb commented on #79
I've moved the icon so that it hovers just inside the right edge of the
browser window, because putting it in front of header was messing up
center spacing a little. Let me know if you think the new way breaks
functionality.

On Tue, Apr 14, 2015 at 06:04:05AM -0700, fred gibbs wrote:

[2015-04-14 16:10] #74 closed

[2015-04-14 16:13] wcaleb commented on #74
@acrymble I noticed while fixing this that the TAR files hosted on Dropbox are also missing. For now, I just removed the links to the alternate TAR files, but if you want to get those from the authors and put them in assets too, we can.

[2015-04-15 12:41] acrymble opened #81 "Gold Open Access"
Our project is 'Gold' Open Access compliant and charges no Article Processing Fee (APC). That's increasingly important for some people. Where should we put that info?

[2015-04-15 12:55] drjwbaker commented on #81
Could PH align itself with http://doaj.org/ guidelines on this? (if not apply to be DOAJ listed as PH isn't a journal, right?)

[2015-04-15 16:46] acrymble opened #82 "Suggested citations"
I think we need to add suggested citations for our lessons and for the project. This should be possible via the YAML files, no?

[2015-04-15 16:48] acrymble commented on #81
Not sure if we'd qualify, as we're not a legal entity. But we could try.

[2015-04-15 17:03] wcaleb commented on #82
Yes, should be. If you let me know how citation should be formatted I can add to layout.

Sent from my iPhone

[2015-04-15 17:04] drjwbaker commented on #81
Aligning to the principles might then be a start. OAPEN have some guidelines PH could usefully align with http://www.oapen.org/peerreview?page=intro (if not join formally)

[2015-04-15 17:21] acrymble commented on #82
That's quite a philosphical question. I'm always a Chicago person. But is everyone happy with that? I suppose date would be the date the lesson was published? And now, do we need a 'version number' for the project? We might need to think about our metadata.

[2015-04-15 18:00] wcaleb commented on #82
I think an "accessed on" phrase could solve the version problem. Though
theoretically I may be able to insert the actual git hash number.

On Wed, Apr 15, 2015 at 10:21:14AM -0700, Adam Crymble wrote:

[2015-04-15 18:37] acrymble commented on #82
I'm not a big fan of the 'accessed on', but I do like the hash number, in theory. If I were citing a lesson, I think I'd do it like this:

Ian Milligan and James Baker, 'Introduction to the Bash Command Line', *The Programming Historian* (20 September 2014) <http://programminghistorian.org/lessons/intro-to-bash>.

I think what I'd like to be able to do is to give the reader some indication of whic

[2015-04-15 18:39] acrymble commented on #81
Thanks James. Do you think we fall short of that at the moment?

[2015-04-15 18:57] drjwbaker commented on #81
PH has excellent peer review standards as far as I can tell. Clear guidance on citation (which I note is coming) and how PH complies with OA best practice for book-like works (I've always described, perhaps erroneously, PH as 'an open, iterative, collaborative book') would I imagine help authors comply with mandates/their conscience and justify writing for you.

[2015-04-16 07:51] acrymble opened #83 "corresponding author details"
As we need to revise or contact authors from time to time, I think we need to keep a list of contact details for a corresponding author who will field enquiries. This should be part of our long-term sustainability plan

[2015-04-22 02:31] nabsiddiqui opened #84 "Review of Antconc"
This was a very interesting tutorial, and I really enjoyed working through it.  Antconc seems to be an extremely powerful tool, and I didn’t know it existed before this.  I definitely think it will be helpful for historians as they look at more data analysis related issues.  My concerns with the review are largely small and deal with organization, formatting, and some grammatical error.  In regard

[2015-04-25 20:36] nabsiddiqui commented on #82
Honestly, I think including the hash number would be a bit difficult for people to use.  It would require users to understand the backend of the system that they may not be familiar with.  It may be easier just to do 'accessed on' since this is something that all the major citation styles have formats for .  There is no reason the citations have to be one style.  We could have different suggested

[2015-04-26 13:35] acrymble commented on #82
You're probably right about the hash number. We needn't throw it down someone's throat what back end we're using for our site. They won't care. Shouldn't care.

Most people can convert MLA to Chicago and vise versa. Since the site is fairly static, @wcaleb I presume it's easiest for us to offer one suggested citation and let users decide what to do with it?

[2015-04-26 21:25] wcaleb commented on #82
Yes, I think a suggested citation would work best. I will work on this later this week. Thanks!

[2015-04-27 09:43] acrymble commented on #82
If you're going to be mucking about anyway, can we expose the data in a way that will make lessons automatically Zoteroable via the little icon in the URL bar? https://www.zotero.org/support/dev/exposing_metadata

[2015-04-27 13:12] wcaleb commented on #82
I think we already have that. Have you tried it and it didn't work?

Sent from my iPhone

[2015-04-27 13:21] acrymble commented on #82
sorry, you're right. ignore me.

[2015-04-27 13:23] drjwbaker commented on #82
Small thought: it defaults to 'web page' as an item type. This might require a bigger discussion in terms of how PH sees itself, but I - from a semi-outside perspective - have always seen PH as a book project so 'Book Section' feels the appropriate item type here for me. Either way, neither 'Web Page' nor 'Book Section' allow for DOI fields in Zoteroland. Perhaps looking ahead those item types tha

[2015-04-27 13:37] fredgibbs commented on #82
i feel strongly that the zotero item type should be journal article; i think we’re much more like an online journal than any of the other standard zotero item types.

-- 

frederick w gibbs | assistant professor of history | univ. of new mexico

fredgibbs.net | @fredgibbs

On Mon, Apr 27, 2015 at 7:23 AM, James Baker <notifications@github.com>
wrote:

[2015-04-27 13:38] wcaleb commented on #82
I think @mdlincoln is the one who implemented the Zotero metadata detection for us. Is it easy to switch the item type, Matthew?

[2015-04-27 13:45] acrymble commented on #82
If fred feels strongly, I don't feel strongly enough to disagree.

On Mon, Apr 27, 2015 at 2:38 PM, W. Caleb McDaniel <notifications@github.com

[2015-04-27 14:02] nabsiddiqui commented on #82
Just chiming in to say I agree with fred.  I think the rhetoric of the "contribution" page also seems to suggest that Programming Historian views itself as an online journal rather than a website.  Things like reviewers, editors, etc. further contribute to this idea.

[2015-04-27 14:09] mdlincoln commented on #82
Yes, I can switch the item type to 'article' easily enough.

[2015-04-27 14:20] mdlincoln commented on #82
On a related note, at the moment lesson I've coded reviewers as "contributors" in the COinS tags. It is also possible to code them as "editors". Depending on your CSL, "editors" can get higher priority than "contributors". For example, Chicago citations list editors, but not contributors.

[2015-04-27 23:20] nabsiddiqui opened #86 "Update or remove "News" page?"
The "News" page hasn't been updated in a while and doesn't reflect the changes on the website.  For a while, before agreeing to help contribute, I did not know the site was still active because I only checked the news page.

It would be beneficial to update it when new lessons are posted and perhaps provide an RSS feed?

[2015-04-28 05:33] acrymble commented on #86
Good to know. Does anyone want to devise a workflow for keeping this fresh?

[2015-04-28 05:35] acrymble commented on #82
The 'contributor' thing is throwing off aggregator sites. Google Scholar has found the PH, but it doesn't know what to do with the metadata: http://scholar.google.co.uk/citations?view_op=view_citation&hl=en&user=-l26ZlEAAAAJ&citation_for_view=-l26ZlEAAAAJ:Zph67rFs4hoC

[2015-04-28 11:43] williamjturkel commented on #86
During one of our recent Skype calls, it was suggested that we might also update the News more frequently with posts about pedagogy or about how to use the site: "So You Want to Get Started With Visualization". First work through this, then try that, then you might do X, ...

[2015-04-28 14:35] mdlincoln commented on #82
Hmm I see. Browsing the [Zotero documentation](https://www.zotero.org/support/dev/exposing_metadata), it looks like `<meta>` tags using DC terms may be a better solution for both Zotero and Google Scholar than COinS. I'll look into it further.

[2015-04-29 21:04] wcaleb commented on #86
I wonder if the name of the page is misleading. Should we instead call it "Blog"?

[2015-04-29 21:52] nabsiddiqui commented on #86
I think calling it "blog" makes more sense.  There currently isn't a way to figure out when new lessons are posted though.

[2015-04-30 10:37] acrymble commented on #86
I think @miriamposner was behind the name change to News, so perhaps worth conferring with her.

[2015-04-30 13:31] miriamposner commented on #86
Was I? "Blog" seems fine to me.

Sent from my iPhone

[2015-04-30 15:44] wcaleb commented on #86
Thanks for the feedback. Add RSS feed and changed title to blog.

[2015-04-30 15:44] #86 closed

[2015-05-02 01:15] mdlincoln commented on #82
Switching over to `<meta>` tags and/or classifying the lessons as journal articles rather than websites (either using COinS or `<meta>` tags) means ditching the ability to list reviewers as "contributors" in the metadata.

My two cents: switch to the `<meta>` tags.

- It's easy to classify the lessons as journal articles with them
- they're easier to update with future info (like DOIs for lessons

[2015-05-02 03:58] wcaleb commented on #82
That sounds good to me, @mdlincoln. If you do want to do the citation code, too, I'd separate it out so it can be reviewed as a separate PR.

[2015-05-02 13:14] mdlincoln commented on #82
:+1:

[2015-05-02 19:02] #82 closed

[2015-05-02 19:50] wcaleb opened #89 "Missing bio for Cleaning Data lesson authors"
We don't have bios in the `_data/authors.yml` file for the authors of this lesson:

http://programminghistorian.org/lessons/cleaning-data-with-openrefine

@acrymble

[2015-05-03 18:00] acrymble commented on #89
I've alerted them.

[2015-05-03 18:02] acrymble commented on #64
we havn't quite sorted out this notion of 'releases' yet.

@fredgibbs has urged us to go with the 'journal article' citation format. Should we adopt a 'Volume' style of publishing, but in a hybrid fashion that lets people publish in an ongoing capacity until a date threshold pushes us into a new volume? Like: September 1 = new volume year?

[2015-05-03 21:17] fredgibbs commented on #64
generally i’m not in favor of trying to look like a traditional journal because i don’t think that increases how or why people would take our work seriously. more importantly, i really like that we’re forging a new way of sustaining an ongoing digital publication rather than trying to emulate the editorial or publication conventions of physical printing practices. my vote would be to eschew the vo

[2015-05-03 21:23] wcaleb commented on #64
By hosting on GitHub we are capable of providing a fine-grained list of versions of every individual article, which is far more information-rich than volumes and issues. Maybe one way to make that clearer to the user would be to rename the "Track Changes" link in the footer of each page to "Previous Versions" (which is essentially what that link leads to if you try it out). Then, if someone wants

[2015-05-03 21:25] wcaleb commented on #64
I should add that what I suggest above is not incompatible with also occasionally doing a "release" (like on a certain day every year) that gets archived in Zenodo and receives a DOI. I don't see a downside to doing that, though the upside is also unclear to me.

[2015-05-04 08:38] acrymble commented on #64
I like the term 'version' better than 'volume' for this type of work. Versioning is helpful for legacy footnotes. It lets people seek out the lessons as they were during version X on the Internet Archive, for example, without having to worry that there's no snapshot for 4 June 2014

[2015-05-04 12:33] wcaleb commented on #64
It may be possible, though not immediately obvious to me how, to put a line at bottom of each lesson saying "Last revised on TIMESTAMP."

But the main decision to make is whether we want to "release" the entire site at a particular date and put a version number on it, or just rely on Git's built in version control to expose the revision history of each individual lesson.

I think I favor the latte

[2015-05-04 15:28] acrymble commented on #64
we may not use Github forever, so our decisions should be independent of this one particular service's options.

[2015-05-04 15:39] wcaleb commented on #64
The git history is not dependent on GitHub, but I see your point.

For sake of clarity, could you spell out a proposal for what you'd like to see? Your comment about allowing "people [to] seek out the lessons as they were during version X" was helpful for me to begin seeing what you have in mind, but I'm not clear on what that would actually look like on the site. Are you mainly just thinking it w

[2015-05-04 16:06] wcaleb commented on #58
Just a note that if we want to reconsider this, I've recently learned that you can activate a Jekyll gem that redirects old URLs to new ones. So if, for instance, we wanted to do the "each lesson has its own folder" approach suggested by @fredgibbs, we could have old URLs (which were to specific html files) redirect to new ones.

[2015-05-04 18:43] acrymble commented on #64
My concern is for long-term citability and related to that, sustainability. I think we should be planning for the possibility that someone will want to cite lesson X twenty years from now, and we should be putting in place a way for them to cite exactly what they had read. The lessons are updated from time to time, so DOIs do not really work. The github version number does work assuming those will

[2015-05-06 12:27] acrymble commented on #89
Max De Wilde is a PhD student at the Information and Communication Science department of the Université libre de Bruxelles.
Ruben Verborgh is a post-doc researcher at the Multimedia Lab of the Universtiteit Gent.
Seth van Hooland is an associate professor at at the Information and Communication Science department of the Université libre de Bruxelles.

will add to yaml asap.

[2015-05-06 12:31] nabsiddiqui commented on #83
I can probably do this.

[2015-05-06 13:35] #89 closed

[2015-05-06 13:36] wcaleb commented on #89
Done, @acrymble.

[2015-05-08 01:11] ianmilligan1 commented on #80
Lesson updated with a working link to wget.exe.

[2015-05-08 01:11] #80 closed

[2015-05-09 19:18] acrymble commented on #83
I think we have most of it from past correspondence. What we'll have to decide is where to keep it. Presumably we want it private?

[2015-05-09 19:19] acrymble commented on #17
can one of our Summer Fellows help us with that? That's a fairly good task.

[2015-05-09 19:20] acrymble commented on #32
This is almost a year old. Anyone want to engage in this discussion, or should we close?

[2015-05-10 14:23] fredgibbs commented on #32
i'm closing this because i think we've settled on category--though seeing this thread reminds me that we've been meaning to add some indicator of difficulty level to the lessons. i think that could be a great summer fellow task. i think i'll add a new issue just to add a difficulty level indicator.

[2015-05-10 14:23] #32 closed

[2015-05-10 14:29] fredgibbs opened #91 "add lesson difficulty indicators to lessons page"
this is relatively easy to do (if a bit time consuming; but could be divided up among many people), and could be a big help in helping new visitors understand the variety of lessons we have. if such a visitor just happened to skim an advanced lesson but thought it was for beginners, that may be the last thing they view on the site. we'd have to decide on a scale; i'd suggest something like 1-5 to

[2015-05-10 14:31] acrymble commented on #91
I do support this idea. Is 5 too many gradients? What's the difference between a 3 and a 4?
I do think there are lessons a new person can jump right into and achieve with no other background, and others that require some pre-work or pre-skills. What does everyone think of just beginner and intermediate as a starting point?

[2015-05-10 14:52] fredgibbs commented on #91
we definitely have a few advanced lessons (i'd say), so i'd say we need at
least 3 levels--but i still think that's too few. i would say the
difference b/w a 3 and 4 is that a 3 is a thoroughly intermediate lesson
(compared to other lessons) with one or two advanced concepts integral to
the lesson (that other "3" lessons don't have). perhaps we could try to
rank the lessons 1-5 and if we have virt

[2015-05-11 08:27] drjwbaker commented on #64
For info, PLOS handle versioning through CrossMark https://www.plos.org/version-tracking-plos-participates-in-the-crossmark-program/

Reading what you say above Adam, Zenodo minted DOIs for each Git version should provide the cite what you saw functionality scholars need whilst not denying PH exploiting the flex 'the flexibility of the changeable web' to change lessons as and when required.

[2015-05-11 08:48] acrymble commented on #91
What if we let readers decide?

[2015-05-11 08:50] acrymble commented on #64
Is that difficult to implement? Should we start our own DOIs?

[2015-05-11 10:02] drjwbaker commented on #64
CrossMark, no idea.

Not sure what you mean by 'start our own DOIs' but might be worth having a chat with @MartinPaulEve re how [OLH](https://www.openlibhums.org/) are handling iteration, identifiers et al.

[2015-05-11 10:39] MartinPaulEve commented on #64
Hi all,

Brief response:

1.) You can mint DOIs for each version that is released, which should get around the problem of not seeing what they read, so long as Zenodo's preservation strategy holds.
2.) I'm not sure how compatible CrossMark will be with Zenodo (DataCite) DOIs.
3.) I'd recommend dropping an email to Geoff Bilder at CrossRef with a request for advice on the right approach and whether

[2015-05-11 15:15] ianmilligan1 commented on #91
I think this is a great idea, too!

FWIW, I worry that five gradients might be a bit too much, whereas three is perhaps a sweet spot (Fred's idea of going through and seeing might make this more informed - perhaps there is too much complexity for three categories to adequately capture..).

Something like:
- Beginner: The sort of lesson you could pick up with no prior knowledge (i.e. command line w

[2015-05-16 00:21] mavelezserna opened #92 "correction to first python lesson?"
Hi - I've never used github before so apologies if I'm doing it wrong,
I've started teaching myself python following the first lesson and found a possible error:
at:
"Make a “Run Python” Command in Komodo Edit
    In Komodo Edit, click the gear icon under Toolbox and select New Command.
    In the top field type “Run Python File“
    In the Command field, type: `%(python) %f` Then hit the OK butto

[2015-05-16 00:28] mavelezserna commented on #92
Also under instructions for launching a python shell -
it would be useful to add that you have to open a terminal and type `python`
I know this is really basic but... I had to google it.

[2015-05-16 10:27] acrymble commented on #92
Hi Maria, I've had groups of students successfully set up Komodo Edit recently using this lesson. Are you using a particularly obscure setup, or has there been a change to Komodo Edit?

[2015-05-16 11:40] mavelezserna commented on #92
I don't know, sorry... I think I followed the instructions, though I downloaded Python from the website rather than through apt-get.
When I try to run the original command `%(python) %f` with my hello-world file I get this:
`/usr/local/bin/python: can't open file 'hello-world.py': [Errno 2] No such file or directory`
Whereas if I change the `%f` to `%F` it works.
Maybe my setup *is* particularly o

[2015-05-16 12:04] duhaime commented on #92
Hi all, either works in windows 8.1 with git and mingw shells installed.

[2015-05-16 13:21] ianmilligan1 commented on #92
Just like Doug, either works in OS X too. Some Googling around finds that a few Linux distributions seem to distinguish between %f and %F. Maybe we could change it to upper case for the Linux-Installation page?

Also, Maria found a great catch that we committed the initial 'Python' command. I can go in and add a line of code there.

[2015-05-16 13:23] ianmilligan1 commented on #92
Just a note that I put a quick line of code in there directing people to enter the Python shell first before being able to `print('hello world')`

[2015-05-16 14:22] acrymble commented on #92
Any Linux users can clarify this? If we change it to upper case F for linux instructions will that work in all cases?

[2015-05-17 08:56] acrymble opened #93 "post to blog, I think I did it wrong"
I tried posting a new entry to the blog, but I've obviously done it wrong. Entry is 'edinburgh-workshop-2015' in the 'blog' directory. Do I have to do something specific to have that pop up on the blog page and RSS feed? @wcaleb

[2015-05-17 09:05] acrymble opened #94 "dropdown menus for 'Contribute'?"
I just came across the updated reviewer guidelines (great, love em). But I didn't see them on the site. What are thoughts on having an expandable 'Contribute' menu that makes it clearer the various pages related to submissions, authorship, and reviewing?

* Contribute.md
* Submissions.md
* Reviewer Guidelines.md

If these had links in the main navigation along the following lines, they would be mo

[2015-05-17 12:19] wcaleb commented on #93
The post has to be named in a certain way. See the section on naming conventions for posts:

https://github.com/programminghistorian/jekyll/wiki/Creating-Blog-Posts

Sent from my iPhone

[2015-05-17 14:31] acrymble commented on #93
Great. Thanks.

[2015-05-17 14:31] #93 closed

[2015-05-17 18:35] ianmilligan1 commented on #94
I think that's a great idea - both desirable and worthwhile to me.

[2015-05-18 08:09] drjwbaker commented on #94
Seconded. I'm sure prospective first time PH authors would be grateful to you for making transparent the process their work will go through. Perhaps you could get the opinions of the Summer Fellows? (given that I assume they are all first time authors)

[2015-05-18 13:31] wcaleb commented on #94
Instead of adding javascript for a drop-down menu, would a streamlined "Get Involved" page that links more clearly at the top to Instructions for Reviewers and Instructions for Authors satisfy the same goals?

[2015-05-18 15:16] acrymble commented on #94
That is fine, but may require some thinking about design. Is it a matter of
no javascript desired? Alternatively, maybe we think about expanding the
menu?

On Mon, May 18, 2015 at 2:31 PM, W. Caleb McDaniel <notifications@github.com

[2015-05-18 15:38] wcaleb commented on #94
It's not that Javascript or CSS would be impossible, but it will create more complexities (for example, to make everything operable in multiple browsers, as well as on mobile devices). I think the text on all of these pages could be streamlined, and if level-1 and level-2 headers were used more sparingly and tied clearly to structure, then it may be possible even to combine all three pages into `c

[2015-05-18 16:13] acrymble commented on #94
If that were punctuated by some of the images Allison has been finding to
separate the sections visually, I think that could work well.

On Mon, May 18, 2015 at 4:38 PM, W. Caleb McDaniel <notifications@github.com

[2015-05-19 14:54] ianmilligan1 commented on #94
Agreed: I think that would work really well.

[2015-05-29 09:17] acrymble opened #96 "collate all scholarly activities"
Can members of the editorial team who have held an event, presented a poster, or published something scholarly-like about the project please help me compile a list here:

1) Adam Crymble, 'The Programming Historian 2', Digital Humanities 2012, Hamburg (July 2012).

2) Adam Crymble, 'Python Programming for Humanists', Day of Digital Ideas, University of Edinburgh (26 May 2015).

[2015-05-29 20:14] wcaleb commented on #66
Probably the `obo` refers to the Old Bailey Online library that is used for ProgHist v.1?

[2015-05-29 20:15] #63 closed

[2015-05-29 20:16] wcaleb opened #97 "Move large assets to Git Large Storage file tracking"
We have this enabled on our account now. Here are the instructions I got from GitHub by email:

---

It's time to start versioning large files on GitHub.com! Support for Git LFS is
now enabled for your organization: programminghistorian.

## Getting started

1. Download and install the Git command line extension. You only have to set up
   Git LFS once, but make sure you've got the latest release

[2015-05-29 20:17] #29 closed

[2015-05-30 18:13] ianmilligan1 commented on #66
Just looked into this too. `obo` is referring to the `obo.py` module, which is used extensively in the next lesson: http://programminghistorian.org/lessons/counting-frequencies-from-zotero-items (complete with download). To make the "Creating New Items in Zotero" lesson work as a standalone, my vote would be to remove that item from the code block.

[2015-05-31 08:33] acrymble commented on #66
yeah we used the obo.py in the introductory python lessons and as this
Zotero series was created shortly after that, we hadn't yet quite detatched
ourselves and built towards standalones.

On Sat, May 30, 2015 at 7:13 PM, Ian Milligan <notifications@github.com>
wrote:

[2015-06-01 13:45] fredgibbs opened #98 "broken RSS feed"
http://programminghistorian.org/feed.xml yields

This page contains the following errors:
error on line 3 at column 6: XML declaration allowed only at the start of the document

are we making an effort to maintain an RSS feed? i don't think we've talked about it in some time or how we want to approach it.

[2015-06-01 13:47] acrymble commented on #98
#86 led to this, I believe.

[2015-06-01 15:25] #98 closed

[2015-06-01 16:08] #66 closed

[2015-06-01 16:09] wcaleb commented on #66
I removed the `obo` call and also added a paragraph on how to see the fields available for modification. We might want to check with author to make sure she's okay with the paragraph I included; I just stuck it there for now.

[2015-06-01 16:12] wcaleb commented on #96
Since this is likely to be an ongoing list, could you create a Wiki Page to compile it? Leaving it as an open issue suggests that it's something that needs to be closed/fixed.

[2015-06-01 16:14] wcaleb opened #99 "Author of Counting Frequencies needs a bio"
We don't have him listed in `_data/authors.yml`, so nothing shows up under "About the author."

[2015-06-01 16:17] wcaleb commented on #83
I think we should encourage authors to at least provide a website, Twitter feed, or email publicly in our `_data/authors.yml` directory so they can be contacted by readers as well as by editors. I can tweak the Jekyll template so that some sort of contact information is provided in the "about the author" box. This is pretty standard, I think, in journals nowadays, so unless someone has a strong re

[2015-06-01 16:19] #96 closed

[2015-06-01 16:20] acrymble commented on #83
fine with me.

On Mon, Jun 1, 2015 at 5:17 PM, W. Caleb McDaniel <notifications@github.com>
wrote:

[2015-06-01 16:28] wcaleb commented on #83
Is this something I could suggest to a Summer Fellow as a project? Or is @nabsiddiqui still willing to contact authors to get information? If so he could submit a Pull Request with an updated version of the `_data/authors.yml` file. Logistics may be worth discussion on next editorial Skype.

[2015-06-01 16:29] wcaleb commented on #99
Connected to #83; perhaps we need someone to do a review to see which authors we are still missing bios for, while at the same time adding info for email, twitter, github, website, etc. to authors directory (as much as each author wants to provide).

[2015-06-01 16:30] wcaleb commented on #59
This looks like it's been added https://github.com/programminghistorian/jekyll/blob/gh-pages/reviewer-guidelines.md

[2015-06-01 16:30] #59 closed

[2015-06-01 16:31] wcaleb commented on #37
This idea seems to have run out of steam, and I'm not sure the rewards would justify the effort or the label clutter that it would create.

[2015-06-01 16:31] #37 closed

[2015-06-01 16:35] wcaleb commented on #23
Would we be more comfortable with restoring this feature if the icon was totally invisible until you hover over a codeblock? Sort of like the hover links for headers work now?

[2015-06-01 16:47] wcaleb commented on #97
By the way, are there current assets that we are hoping to upload using this? Trying to get a sense of how urgent this is, and whether anyone is waiting on it currently.

[2015-06-01 16:52] acrymble commented on #97
The only one I know of is in the OpenRefine lesson. The second link doesn't
work:

The data files are available on our FreeYourMetadata website
<http://data.freeyourmetadata.org/powerhouse-museum/>, which will be used
throughout this tutorial. Please download the *phm-collection.tsv* file
before continuing (also archived on the Programming Historian site: as
phm-collection <http://programminghisto

[2015-06-01 16:57] fredgibbs commented on #97
i don't know of any other big data files we need to move. i think it was
more for future development than an urgent fix (adam's issue aside).

On Mon, Jun 1, 2015 at 10:52 AM, Adam Crymble <notifications@github.com>
wrote:

--
frederick w gibbs | assistant professor of history | univ. of new mexico
fredgibbs.net | @fredgibbs
<http://www.twitter.com/fredgibbs>

[2015-06-01 17:12] acrymble commented on #23
What if it was just a 'select code' text link? Not international enough?

[2015-06-01 17:37] ianmilligan1 commented on #23
I think a little 'select code' link would work well, making it easy to quickly locate?

[2015-06-01 19:57] wcaleb commented on #23
I'll experiment with this. My initial move towards the icon was an aesthetic one---on some lessons we have lots of short little codeblocks, and a text link with each one could begin to clutter the page considerably. But perhaps I can hide the text until user hovers over the codeblock, or something like that.

[2015-06-02 22:12] sieczkiewicz opened #100 "Review of AntConc"
This tutorial was clear, interesting and fun. It addresses an audience consistently throughout. The level of detail is appropriate. It is full of screenshots which help the reader follow along; occasionally I wanted more and noted this in the lesson. On a couple of occasions, I was confused by differences between the current version of Antconc and the version used in the screenshots. I also noted

[2015-06-03 19:38] tomduck opened #101 "Figure and equation numbers and references"
Re: "Sustainable Authorship in Plain Text using Pandoc and Markdown"

In case it is of interest, figure & equation numbers and references -- essential for academic writing in the sciences -- are now possible with pandoc via the [pandoc-fignos] and [pandoc-eqnos] filters.

[pandoc-fignos]: https://github.com/tomduck/pandoc-fignos
[pandoc-eqnos]: https://github.com/tomduck/pandoc-eqnos

[2015-06-05 19:09] fredgibbs commented on #101
very glad to hear of this--thank you for the notification!

On Wed, Jun 3, 2015 at 1:38 PM, Thomas J. Duck <notifications@github.com>
wrote:

--
frederick w gibbs | assistant professor of history | univ. of new mexico
fredgibbs.net | @fredgibbs
<http://www.twitter.com/fredgibbs>

[2015-06-10 12:31] acrymble opened #103 "Broken link on submissions page"
The following link at the bottom of the Submissions page is broken:

http://programminghistorian.org/submissions

"New authors should also consult our [editorial workflow for new lessons]."

[2015-06-10 12:34] acrymble commented on #103
Pointed it to the updated wiki page

https://github.com/programminghistorian/jekyll/wiki/New-Lesson-Workflow-for-Authors

[2015-06-10 12:34] #103 closed

[2015-06-10 14:05] acrymble opened #104 "cannot submit lessons on OS X 10.6.8"
The instructions to submit a pull request require git to be installed if you need also to upload any images or data files. The suggested git download does not work on OS X 10.6.8 (http://stackoverflow.com/questions/22892890/git-for-mac-fails-to-launch-illegal-instruction) and presents a fairly high barrier to entry for some of our potential authors.

We need to make sure our submission system is u

[2015-06-10 14:16] fredgibbs commented on #104
well, that same post shows how to fix the problem. more importantly, it's a
quite old version of OS X at this point, likely minimizing the impact on
potential authors. i agree we should keep barriers to entry low, but i
don't think we have any evidence that this particular issue presents a
significant problem.

On Wed, Jun 10, 2015 at 7:05 AM, Adam Crymble <notifications@github.com>
wrote:

--
fre

[2015-06-10 15:26] acrymble commented on #104
Perhaps not, but it does mean anyone on a machine they don't have admin
rights for cannot make a submission.

On Wed, Jun 10, 2015 at 3:16 PM, fred gibbs <notifications@github.com>
wrote:

[2015-06-10 20:33] wcaleb commented on #104
In cases where a person can't push files from the command line, could we fall back on our original practice of having an editor do it? The lesson submission itself remains platform independent since it can be done in browser.

Sent from my iPhone

[2015-06-11 05:24] ianmilligan1 commented on #104
I like @wcaleb's idea - we could make that explicit in our documentation?

[2015-06-13 01:40] fredgibbs commented on #104
resolved with f0ad9544255b01a84f75ebda0cb0cd51b2cec51f

[2015-06-13 01:40] #104 closed

[2015-06-14 14:02] ianmilligan1 commented on #99
I can send Spencer a quick note and doublecheck a potential bio statement. Perhaps:

Spencer Roberts is Research Assistant and former Digital History Research Fellow at the Roy Rosenzweig Center for History and New Media, and a Ph.D. graduate student at George Mason University in the Department of History.

[2015-06-16 18:32] #99 closed

[2015-06-16 18:37] ianmilligan1 commented on #92
Just returning to this.

As doesn't look like anybody has handy access to a Linux box, my vote is that since both work let's change %f to %F. @acrymble does that sound good - if so, I can make change.

[2015-06-16 18:40] ianmilligan1 opened #107 "Authors of "Understanding Regular Expressions" and "Cleaning OCR'd text with Regular Expressions" need bios"
We need to add a bio for Laura Turner O'Hara and Doug Knox to the `authors.yml` file. Relates to #83. All other authors at least have bios, although not sure if up to date or not.

[2015-06-16 18:43] acrymble commented on #92
yep that's fine.

On Tue, Jun 16, 2015 at 7:37 PM, Ian Milligan <notifications@github.com>
wrote:

[2015-06-16 18:43] acrymble commented on #107
Bios get out of date when people move. I'm not sure that's a problem. It
isn't for the paper journal world.

On Tue, Jun 16, 2015 at 7:40 PM, Ian Milligan <notifications@github.com>
wrote:

[2015-06-16 18:44] #92 closed

[2015-06-16 18:45] ianmilligan1 commented on #107
Agreed - just important that we have something down there. If anything they're neat snapshots of where people were at when they contributed.

If anybody has bios for Laura and Doug handy, that would be great (or their coordinates).

[2015-06-16 19:48] acrymble commented on #107
I've added a bio for Doug, but I don't know Laura. I believe @fredgibbs edited that lesson, so perhaps he knows.

[2015-06-16 20:03] #17 closed

[2015-06-16 20:03] ianmilligan1 commented on #17
I added a link to the lesson. A more substantial edit would be a great task for a fellow or somebody else, just to note a potential implementation. But in meantime, the link should get our readers thinking..

[2015-06-19 17:28] ianmilligan1 commented on #101
We could put a short note to this effect in the "Useful Resources" section, perhaps? What does @denten think?

[2015-06-19 17:44] denten commented on #101
Hmm.. Interesting and useful! I think rather than updating this tutorial every time that pandoc advances (this filter is described as a "transitional package" for example) we should take a more modular approach. Think of this as "Pandoc Basics." At some point it would be nice to add "intermediate"  and "advanced" pandoc tutorials that go into filters. These would be much easier to keep up to date

[2015-06-19 17:56] denten opened #109 "about suggestion (remove the number of tutorials)"
Suggest to rewrite to:

The number would have to be changed as the site grows in any case.

[2015-06-19 18:10] acrymble commented on #109
Agreed.

On Fri, Jun 19, 2015 at 6:56 PM, Dennis Tenen <notifications@github.com>
wrote:

[2015-06-19 18:28] ianmilligan1 commented on #109
Agreed as well. Users will see the breadth when they check out the index of lessons. If there is rough consensus, I can make change.

[2015-06-19 18:32] ianmilligan1 commented on #101
Agreed! Trick will be finding somebody to write these lessons (grins) or even then the sometimes lengthy editorial process. Worth exploring a less intensive stopgap measure?

[2015-06-19 19:05] #109 closed

[2015-06-19 19:09] fredgibbs commented on #107
i sent an email to laura; i'll update the authors file when i hear back.

On Tue, Jun 16, 2015 at 1:48 PM, Adam Crymble <notifications@github.com>
wrote:

--
frederick w gibbs | assistant professor of history | univ. of new mexico
fredgibbs.net | @fredgibbs
<http://www.twitter.com/fredgibbs>

[2015-06-19 19:49] fredgibbs commented on #100
comments have been incorporated into final version 9e2ebce..c4285f9

[2015-06-19 19:49] #100 closed

[2015-06-19 19:50] fredgibbs commented on #84
review incorporated into final version 9e2ebce..c4285f9

[2015-06-19 19:50] #84 closed

[2015-06-22 12:19] acrymble opened #111 "Reviewers list auto-update on project team page?"
We've got a list of 'community participants' on the Project team page (http://programminghistorian.org/project-team). This is currently manually updated and is quite out of date. Can we pull directly from the YAML file to populate this with people who aren't otherwise listed as editors or something else?

[2015-06-22 12:31] acrymble opened #112 "Institutional Support correct?"
Current text reads:

Programming Historian remains grateful to the Network in Canadian History & Environment (NiCHE), ScholarsLab at the University of Virginia, The Center for Digital Humanities at UCLA, as well as to the Roy Rozensweig Centre for History & New Media (CHNM) for generous hosting services and technical support.

---
Is this representative? NiCHE and CHNM both contributed money or in

[2015-06-22 12:43] acrymble opened #113 "Image for about page"
@ahegel I think we'd benefit from one of the images you've been using on the lessons page for the front page too. Is there something that speaks for the whole project? It's just too text-y on that front page. Thoughts?

[2015-06-22 13:55] acrymble commented on #81
I've incorporated this information onto the about page. Thanks @drjwbaker .

[2015-06-22 13:55] #81 closed

[2015-06-22 14:03] drjwbaker commented on #81
Nice summary.

[2015-06-22 14:07] wcaleb commented on #111
That's theoretically possible. Perhaps we should also roll the "emeritus" members into that list?

[2015-06-22 14:09] acrymble commented on #111
Is it a pain to do?
I'm not so sure about the emeritus members. Someone might have a considerable contribution over time and need that record to get a further job.

[2015-06-22 14:12] acrymble commented on #112
I've moved this to the about page, and reduced it as above. Discuss here if you think other institutions need to be added to the list. Probably a conversation for an editorial board call.

[2015-06-22 14:14] wcaleb commented on #111
Not a huge pain, but enough of a hassle that it's probably a back-burner
issue. We would have to add an additional field to each record in the
YAML directory to indicate that someone is not already listed in the
other categories.

On Mon, Jun 22, 2015 at 07:09:41AM -0700, Adam Crymble wrote:

[2015-06-22 14:14] ianmilligan1 commented on #112
Although a relative newcomer, I think this makes sense. I think we should generously value in-kind contributions, however, including if people receive leave from duties etc. to do this sort of work. But if it's just a place where one of us happens to work, it shouldn't be there (i.e. UW shouldn't appear).

[2015-06-22 14:14] acrymble commented on #111
like a 'role'?

On Mon, Jun 22, 2015 at 3:14 PM, W. Caleb McDaniel <notifications@github.com

[2015-06-22 14:49] wcaleb commented on #111
Yes, though it might be easier for this purpose to have a Boolean value for general community member or not.

Sent from my iPhone

[2015-06-22 15:23] acrymble opened #114 "Proposed new menu structure & page deletions"
I've done some digging today on scholarly society / journal websites, and I think there are some conventions we could adopt to simplify our site for authors and reviewers. We're getting a lot of pages, and I'm not sure they're all necessary. At the moment we have 14 markdown files in the root directory. I propose we go down to 5 and end up with the following main navigation menu on the site:

1) A

[2015-06-22 15:24] acrymble commented on #94
I'd like to continue this as #114

[2015-06-22 15:24] #94 closed

[2015-06-23 16:11] fredgibbs commented on #112
to be a bit more specific: CHNM provided hosting space initially when were
on wordpress, and of course was essential early on. they don't provide
server space anymore--github hosts everything--but they do renew our domain
name for us, which i think they initially set up--which is pretty
important. so we need to keep them in the credits, but might want to revise
their contribution to be something m

[2015-06-24 06:27] acrymble commented on #112
Thanks, that's helpful Fred.

On Tue, Jun 23, 2015 at 5:11 PM, fred gibbs <notifications@github.com>
wrote:

[2015-06-24 06:29] #112 closed

[2015-06-24 16:22] acrymble commented on #101
I agree with @denten on this. I don't think we can expect people to add new features (maybe fix broken stuff, but not new features) if they didn't exist when the lesson was written. That's why things have publication dates.

[2015-06-24 16:39] acrymble commented on #64
I had a look at CrossMark and I think that's more for a site that's likely to find its content all over the internet with possibly outdated versions appearing. That's not really a problem for us.

I think our easiest solution here is to put a full set of the files as they were on Zenodo on 1 September each year, with a note in a README file that it's not a 'canonical version' as such, but a snapsh

[2015-06-24 16:40] fredgibbs commented on #101
ditto. i think it creates the possibility for something like
sub-lessons--kind of like mini-tutorials attached to the main, original
lessons to show how to do something that's new. that way we can cover the
new functionality in a very quick and compact way without the editorial
burden of extensively revising an existing lesson (although, if an author
wanted to do that, i wouldn't be opposed to it)

[2015-06-24 16:41] acrymble commented on #97
It seems we've covered this migration. Reopen if you need to.

[2015-06-24 16:41] #97 closed

[2015-06-24 16:43] acrymble commented on #25
I really think we've nailed the lesson's page. Do we still want to do this? It's almost a year ago that this discussion started. Close?

[2015-06-24 16:44] MartinPaulEve commented on #64
Just to add that CrossMark is not just for distributed content - it's also for versioning. 

M

—
Sent from Mailbox

On Wed, Jun 24, 2015 at 5:39 PM, Adam Crymble <notifications@github.com>
wrote:

[2015-06-24 17:54] ianmilligan1 commented on #25
Agreed w/ @acrymble - I think the lesson page is great as is.

[2015-06-24 18:18] fredgibbs opened #116 "Review for Extracting Keywords"
Reviewers: Please add your reviews as comments to this issue. Thanks!

[2015-06-26 13:36] ianmilligan1 commented on #107
Just saw that this is now all updated. Closing.

[2015-06-26 13:36] #107 closed

[2015-06-26 15:01] drjwbaker commented on #64
Zenodo seems sensible to me if the purpose is to make citation of PH as a whole (rather than each article) sustainable. That'll be some co-author list!

[2015-06-29 06:33] ahegel commented on #113
Great idea! I did a quick search and found a few possibilities - what do you all think?

Scholars at desks: [option 1](https://www.flickr.com/photos/britishlibrary/11244386275/), [option 2](https://www.flickr.com/photos/internetarchivebookimages/14764047142/), [option 3](https://www.flickr.com/photos/internetarchivebookimages/14591183250/), [option 4](https://www.flickr.com/photos/internetarchiveb

[2015-06-29 06:36] acrymble commented on #113
I think option 3 is pretty good. A bit of tech. A bit of people.

On Mon, Jun 29, 2015 at 7:33 AM, Allison Hegel <notifications@github.com>
wrote:

[2015-06-30 09:58] silviaegt opened #117 "Intro to the Zotero API / No module named 'exceptions'"
1] CONTEXT I am a Ubuntu user [v. 15.04] and I use python 3.4 in the anaconda environment through the PyCharm code editor.
2] ATTEMPT I tried to create a Zotero library object called zlib in the exact same way as the example you [provided in your Tutorial] (http://programminghistorian.org/lessons/intro-to-the-zotero-api):
[code]
​3] RESULT​

Traceback (most recent call last):
  File "/home/.../nlt

[2015-07-01 15:15] wcaleb commented on #117
When running the script on the command line, did you do it like this: `python scriptname.py`?

[2015-07-01 15:20] wcaleb commented on #111
@smargh Does this look like a project you might be able to take on? Basically we would need to add a field to every author record in this file `_data/authors.yml`. Something like `editorteam: false`. For anyone who is a Fellow or on the Editorial Team, the value would be true, for everyone else it would be false. We would then need to write a little Jekyll loop to auto-generate a list of all the `

[2015-07-02 23:25] miriamposner commented on #113
Can we get one with a lady and/or non-white guy in it? I know it sounds silly, but I just want to be extra-sure everyone knows they're welcome, given programming's less-than-sterling reputation. But I agree that these are on the right track!

[2015-07-03 07:07] acrymble commented on #113
Might be a big ask given the 19th century motif. I wonder if we can find
something other than a lady at a typewriter.

Maybe something with Ada Lovelace?

On Fri, Jul 3, 2015 at 12:25 AM, Miriam Posner <notifications@github.com>
wrote:

[2015-07-03 07:42] ahegel commented on #113
The only ones I could find with non-white-guys were photographs, which don't quite go with the book-image aesthetic we have for the lesson images, but that might be okay. I could also try to edit the photo to be a bit more sepia-toned in order to fit better, but no promises on how well that will turn out. Let me know if that sounds like a good idea.

Here are some options:
[NASA](https://www.flick

[2015-07-03 07:48] acrymble commented on #113
Maybe we could commission something from an artist, using one of the ones
Allison has found as a guide to give them?

On Fri, Jul 3, 2015 at 8:42 AM, Allison Hegel <notifications@github.com>
wrote:

[2015-07-03 15:05] acrymble opened #118 "Image for antconc concordance tutorial"
I don't know if you've been put on the case already, @ahegel but there's a new lesson up by Heather Froelich and it uses the same image on the lessons page as another lesson.

[2015-07-03 15:08] acrymble opened #119 "workflow for announcing new lessons"
I don't think we've sorted this out yet. How do we want to announce new lessons? I feel like this should be consistent. Something like:

* New blog post containing title, name and 1 sentence bio of author, and abstract
* Tweet on corporate twitter account
* Email to author to encourage they disseminate widely

[2015-07-03 15:49] fredgibbs commented on #118
the duplication is definitely my fault: i wasn't sure what the process is
for creating images for new lessons and didn't want to further delay
publishing the lesson. even as @ahegel continues to make us look good with
these, we should probably add some directions to the wiki so others (like
me) don't start messing things up. <nudge>

On Fri, Jul 3, 2015 at 9:05 AM, Adam Crymble <notifications@gith

[2015-07-03 21:39] ahegel commented on #118
I updated the lesson with a new image. What kind of writeup would be helpful? A step-by-step outline of how we pick and format lesson images, or more of a "contact Allison to get an image for your lesson"?

[2015-07-04 05:46] miriamposner commented on #119
That's a good idea. As the Tweeter-in-Chief, I try to catch and tweet the
new lessons, but I'm not sure I always catch them. If someone could @-me in
a Github message thread, I'd be sure to see them.

MP

On Fri, Jul 3, 2015 at 8:08 AM, Adam Crymble <notifications@github.com>
wrote:

[2015-07-04 12:27] acrymble commented on #118
I think the latter is the process at the moment, isn't it? If you want
editors to contact you once a tutorial hits a certain stage (eg, final
review, copy editing) so that you have time to find something appropriate,
then just let us know and write it up.

On Fri, Jul 3, 2015 at 10:39 PM, Allison Hegel <notifications@github.com>
wrote:

[2015-07-04 23:30] fredgibbs commented on #118
i had in mind the step-by-step outline so that when you're swamped when a
new lesson is ready or after you stop doing images altogether, we can pick
up where you left off without having to figure out what the best process is.

On Fri, Jul 3, 2015 at 3:39 PM, Allison Hegel <notifications@github.com>
wrote:

--
frederick w gibbs | assistant professor of history | univ. of new mexico
fredgibbs.net |

[2015-07-06 00:01] miriamposner commented on #113
Do you guys think the bottom half of the book cover would work? It's in
color, which is different from our other images, but maybe?
https://archive.org/stream/How.It.Works.The.Computer.1971.Edition.David.Carey#page/n0/mode/2up

On Fri, Jul 3, 2015 at 12:48 AM, Adam Crymble <notifications@github.com>
wrote:

[2015-07-06 04:43] tapar001 opened #120 "Broken link in lesson on topic modeling and MALLET"
Here goes my first stab at opening an issue...hope I'm doing this right!

The editor's note in the opening to the "Getting Started with Topic Modeling and MALLET" links to the Scholars' Lab Command Line Bootcamp tutorial, but the link is broken.

Just curious: Why does the editor's note link to the Scholars' Lab tutorial, and not the PH tutorial on the Bash command line?

[2015-07-06 07:10] acrymble commented on #113
I appreciate the goal Miriam, but I don't think it's a god idea to change the style of the imagery.

What about something that just doesn't have any people in it? The 10-Head Stamp Battery in this image is pretty cool looking:

https://www.flickr.com/photos/britishlibrary/11204383866/in/album-72157639428882575/

[2015-07-06 11:40] #120 closed

[2015-07-06 11:40] ianmilligan1 commented on #120
You did it perfectly! Great catch, and an excellent selection. I've made the changes as suggested. Thanks @tapar001!

[2015-07-06 22:35] miriamposner commented on #113
Yes, cool! I like it.

[2015-07-07 06:15] acrymble commented on #23
We should have a 1 year time limit on tickets :)

[2015-07-07 06:15] #25 closed

[2015-07-07 16:09] ahegel commented on #113
A tip from a peer about the 1890s census led to this image of a woman operating a keypunch that might work well: [image](https://en.wikipedia.org/wiki/1890_United_States_Census#/media/File:1890_Census_Hollerith_Electrical_Counting_Machines_Sci_Amer.jpg).

[2015-07-07 16:12] acrymble commented on #113
roll with it.

On Tue, Jul 7, 2015 at 5:09 PM, Allison Hegel <notifications@github.com>
wrote:

[2015-07-07 16:34] miriamposner commented on #113
Love it!

On Tue, Jul 7, 2015 at 9:12 AM, Adam Crymble <notifications@github.com>
wrote:

[2015-07-07 16:58] ianmilligan1 commented on #113
Chiming in - love it too!

On Tue, Jul 7, 2015 at 9:35 AM -0700, "Miriam Posner" <notifications@github.com> wrote:

Love it!

On Tue, Jul 7, 2015 at 9:12 AM, Adam Crymble <notifications@github.com>

wrote:

—
Reply to this email directly or view it on GitHub.

[2015-07-08 05:15] miriamposner opened #122 "Submodules/Jekyll/page build failure"
I've been meaning to update the Omeka.net lessons with images for the new version of Omeka. I was able to make changes and push to the gh-pages branch, but I also got an email reading, "The page build failed with the following error: "The submodule `jekyll` was not properly initialized with a `.gitmodules` file." I followed [the instructions] (https://help.github.com/articles/page-build-failed-mis

[2015-07-08 05:22] miriamposner commented on #122
Also, I hope I didn't break Jekyll.

[2015-07-08 12:44] wcaleb commented on #122
To be honest, I'm not really sure what happened! But I think the root of the problem was that you initially started making changes on the `master` branch. It's better just to work on the `gh-pages` branch (which you can get to locally with a `git checkout gh-pages`. You can always see which branch you are on locally with `git status`.

I've reverted the changes you made to the master branch, so I

[2015-07-08 12:44] #122 closed

[2015-07-08 12:47] acrymble commented on #122
I feel your rage Miriam.

On Wed, Jul 8, 2015 at 1:44 PM, W. Caleb McDaniel <notifications@github.com>
wrote:

[2015-07-08 13:24] miriamposner commented on #122
Thanks, Caleb!

(RAGE!!)

Miriam

Sent from my iPhone

[2015-07-08 13:58] wcaleb commented on #122
Yes, indeed, git can occasionally be rage inducing!

[2015-07-08 14:00] wcaleb commented on #64
I like the once-a-year Zenodo idea.

[2015-07-09 15:37] wcaleb opened #123 "Make the RSS feed include new lessons"
See if we can get the RSS feed to incorporate new lessons.

[2015-07-09 15:40] acrymble commented on #114
Convert non-editor pages md and put on the PH site.

[2015-07-09 15:45] wcaleb commented on #123
Related to #119

[2015-07-09 15:48] #65 closed

[2015-07-09 15:51] #23 closed

[2015-07-09 16:17] fredgibbs opened #124 "create editorial role for managing reviews of lessons"
need to discuss at august call

[2015-07-09 16:24] acrymble opened #125 "image for 'authors' 'reviewers' 'readers'"
@ahegel could you please find me some images i can use to represent these three types of users? They'll probably appear right next to one another.

Thanks as always.

[2015-07-09 17:15] acrymble commented on #114
The instructions for authors page is suggesting the new branch model. We are not going to use this at the moment, wasn't that the decision @fredgibbs @wcaleb ?

All other pages are ready to go. If you can let me know how to change that https://github.com/programminghistorian/jekyll/wiki/New-Lesson-Workflow-for-Authors then I can close this off.

[2015-07-09 17:26] acrymble opened #126 "can't view http://programminghistorian.org/report-issue"
I tried creating a new .md page to convert a wiki page to our main site, but I can't seem to see it at the URL. Did I do something wrong?

[2015-07-09 17:27] acrymble commented on #126
related to this, I need to swap out the link in the footer once this is resolved.

[2015-07-09 17:43] wcaleb commented on #126
It needs a YAML header.

Sent from my iPhone

[2015-07-09 20:45] ahegel commented on #125
Here are some options I found:

Authors: [Man 1](https://www.flickr.com/photos/internetarchivebookimages/14584579208/), [Man 2](https://www.flickr.com/photos/internetarchivebookimages/14803471143/), [Man 3](https://www.flickr.com/photos/internetarchivebookimages/14582989438/), [Woman 1](https://www.flickr.com/photos/internetarchivebookimages/14596715977/), [Woman 2](https://www.flickr.com/photos/i

[2015-07-11 05:16] ahegel commented on #113
I added the image to the /jekyll/images folder as "about.png". I'd happily add it to the about page myself but I wanted to make sure to put it in the right place - should it go the top, below the title, or somewhere else?

[2015-07-11 07:08] acrymble commented on #113
Thanks, I've added it in. How do we add a CSS class to it? It's too big at
the moment and pushing the content all below the fold.

Adam

On Sat, Jul 11, 2015 at 6:16 AM, Allison Hegel notifications@github.com
wrote:

[2015-07-11 07:11] #126 closed, assigned to nobody

[2015-07-11 08:01] ahegel commented on #113
I updated the about page to let you specify the desired pixel height - it's at 400 now but feel free to play with it until it's the right size!

[2015-07-11 09:08] #113 closed

[2015-07-11 21:54] ahegel commented on #118
I added a [step-by-step outline](https://github.com/programminghistorian/jekyll/wiki/Lesson-Images) to the wiki, as well as a reference to image selection in the [New Lesson Workflow for Editors](https://github.com/programminghistorian/jekyll/wiki/New-Lesson-Workflow-for-Editors). Is this what you had in mind, @fredgibbs?

[2015-07-12 09:00] #125 closed, assigned to nobody

[2015-07-12 10:28] acrymble commented on #114
I've handled this, while we await our screencast.

[2015-07-12 10:28] #114 closed

[2015-07-12 10:31] acrymble opened #127 "markdown error in author instructions"
I've tried to move the markdown instructions from the Wiki to the main site (as per our discussion), but the code for adding an image

{% include figure.html src="../images/filename" caption="Caption to image" %}

Is rendering instead as full HTML, which makes it awkward, because then readers can't actually see what the code looks like.

See here under 'Figures'. http://programminghistorian.org/ne

[2015-07-12 13:18] wcaleb commented on #127
I'll take a look later. At first glance, though, this doesn't look like the most updated version of the wiki instructions. It doesn't include my step by step pull request instructions for instance.

Sent from my iPhone

[2015-07-12 15:49] #127 closed, assigned to nobody

[2015-07-13 23:13] fredgibbs commented on #118
this is perfect! i hope we can keep updating this page with suggested
places to find images as we discover more. but this is exactly what i was
hoping for. thanks @ahegel!

On Sat, Jul 11, 2015 at 3:54 PM, Allison Hegel notifications@github.com
wrote:

##

frederick w gibbs | assistant professor of history | univ. of new mexico
fredgibbs.net | @fredgibbs
http://www.twitter.com/fredgibbs

[2015-07-14 15:16] fredgibbs opened #129 "MALLET lesson screenshots out of date"
screenshots of output in the lesson do not match latest version of MALLET output.

[2015-07-14 15:52] ianmilligan1 commented on #129
Is this on OS X or Windows? My output on Mallet 2.0.7 on OS X looks similar to what we've got in the lesson, and 2.0 is still the current "development release" according to [their page here](http://mallet.cs.umass.edu/download.php). @shawngraham

[2015-07-17 22:12] shawngraham commented on #129
What are you seeing on your end Fred?

[2015-07-20 06:31] #118 closed

[2015-07-20 13:31] fredgibbs commented on #129
sadly, i haven't had a chance to try to replicate the report; i just wanted
to post the issue before i forgot about it. i'm hoping to look into it more
this week. my sense is that we should leave it alone until the next release
and double check then once there is less confusion about what version to
use. not sure what issue tag makes the most sense for that case.

On Fri, Jul 17, 2015 at 4:12 PM,

[2015-07-20 14:37] shawngraham commented on #129
No problems. We'll just sit tight!

[2015-07-22 21:14] wcaleb commented on #117
@silviaegt Were you able to solve this problem?

[2015-07-22 21:19] #101 closed

[2015-07-22 21:42] #111 closed

[2015-07-22 21:44] wcaleb opened #130 "Improve suggested citations styling"
The CSS for the suggested citations introduced in #88 looks too much like the author bio blocks. Will try to figure out a way to make it look nicer.

[2015-07-23 04:05] wcaleb commented on #123
This should work now, but I'll monitor after new lessons are posted to see whether they do appear in the RSS feed.

Note that we need to make sure lessons use the `default` layout, as that is how the RSS feed differentiates lessons from other pages.

[2015-07-23 04:05] #123 closed, assigned to nobody

[2015-07-23 06:09] acrymble commented on #130
hover in left margin? We don't use the horizontal space well enough. Though I know that makes mobile tricky, but is anyone programming on their phone?

[2015-07-24 14:27] silviaegt commented on #117
@wcaleb I wasn't! But that might be due my close-to-0 knowledge on running scripts on the command line :( however I was able to follow-adapt the tutorials' objectives [using pyzotero](https://github.com/silviaegt/dh-toolbox/blob/master/zoterohtml2text.py#L121).
Anyway, thank you so much for trying to help me!

[2015-07-24 15:03] wcaleb commented on #117
Glad you were able to find some resolution! Closing this for now.

[2015-07-24 15:03] #117 closed

[2015-07-27 16:28] wcaleb commented on #119
Since the RSS feed should now include lessons (see #123), I don't think we need a blog post for every new lesson. But we could periodically have a blog post that features recent lessons, or that explains how one could string together several lessons to accomplish some new task.

[2015-07-27 16:36] acrymble commented on #119
As someone who hasn't used RSS for years, I wouldn't say that's enough publicity for a new lesson. I'd like to see something more active given the amount of work that goes into them.

[2015-07-27 16:40] wcaleb commented on #119
Fair enough. But if we are going to announce by post every time, then there's no reason to add lessons to the RSS feed, which already includes blog posts. By the way, one of the things you mentioned was an abstract. I think it might be good to add an abstract to the YAML metadata of new lessons; if we do that, I can also incorporate the abstract into the RSS feed.

[2015-07-28 00:58] fredgibbs commented on #119
One of my summer fellows (Evan) is working on a set of blog posts for us
(in lieu of a lesson) to show how to use PH lessons in the undergrad
classroom. This was his idea, but I really like it, and I think it suggests
a lot of potentially cool uses for the blog that we haven't really tapped
into so far. It's maybe something we could encourage more on the contribute
page.

I'm not a huge fan of cre

[2015-08-14 16:12] ahegel commented on #91
In our Skype call today, we agreed to go through our previously published lessons and mark their difficulty (enter it at the end of each line after the colon). We're starting with "Beginner," "Intermediate," and "Advanced," but if, as you're going through the lessons, you feel that we need more categories, leave a comment!

FG: i've used 1=beginner; 2=intermediate; 3=advanced. i'm thinking we coul

[2015-08-14 16:16] fredgibbs opened #133 "add main editor to YAML data"
we should do this as we add difficulty levels to each lesson.

[2015-08-14 16:22] fredgibbs opened #134 "add abstracts to each lesson"
this can be done when updating the YAML for level difficulty and main editor. these will be added to RSS feed when lessons are added.

[2015-08-14 18:51] acrymble opened #135 "Soliciting Scholarly Reviews"
I have contacted the following journals suggesting a review of the PH:
1) Matthew K Gold, Journal of Interactive Technology and Pedagogy (14 August 2015) [made positive noises]
2) Danny Millum, Reviews in History (14 August 2015)
3) Donna Peterson, American Historical Review (14 August 2015)
4) Jeffrey McClurken, Journal of American History (14 August 2015)

Any other suggestions?

[2015-08-14 22:12] fredgibbs commented on #135
awesome! also maybe
http://www.journalofamericanhistory.org/submit/websitereviews.html

On Fri, Aug 14, 2015 at 12:51 PM, Adam Crymble notifications@github.com
wrote:

##

frederick w gibbs | assistant professor of history | univ. of new mexico
fredgibbs.net | @fredgibbs
http://www.twitter.com/fredgibbs

[2015-08-15 00:16] acrymble commented on #135
Done, Fred.

[2015-08-21 22:53] ianmilligan1 commented on #91
Just went through and I think this looks good - in my mind a Difficulty One is something that can be done as a completely self-contained lesson, whereas the others are more advanced or have dependencies (i.e. "Applied Archival Downloading with Wget" really requires the introductory lesson).

The only one I might change would be "Sustainable Authorship in Plain Text using Pandoc and Markdown" - it

[2015-08-22 00:06] acrymble commented on #91
I like the idea of defined criteria, Ian. Can we go down that road and see if we need to re-think?

[2015-09-08 03:54] c-forster opened #137 "Typo in Name on Lessons Page"
"Healther" should be "Heather." [http://programminghistorian.org/lessons/](http://programminghistorian.org/lessons/)

[2015-09-08 08:10] acrymble commented on #137
Thanks. fixed.

[2015-09-08 08:10] #137 closed, assigned to nobody

[2015-09-08 08:11] #135 closed, assigned to nobody

[2015-09-08 14:06] williamjturkel opened #138 "Need suggested citation for whole project"
On the main landing page, we should have a suggested way of citing the Programming Historian project as a whole. My vote would be for a form that doesn't include any of our names, but I am amenable to being outvoted on that.

[2015-09-08 14:27] acrymble commented on #138
Good point. I think we should go the other way though, and include all active members of the editorial board as 'editors' on the project. People will cite it as they like. But this is the metadata age, after all. That will let semi-automated and automated aggricators like Google Scholar make sense of what we're doing.

[2015-09-08 15:46] ianmilligan1 commented on #138
I tend to agree with @acrymble – probably an edited collection is the closest model we've got to emulate? I think that gives it more gravitas than a simple website citation format. This is not a strong preference, however, so am happy to defer to others.

[2015-09-09 09:40] ianmilligan1 commented on #138
One example that I generated from Zotero (can you tell I'm procrastinating on my writing?):

Crymble, Adam, Fred Gibbs, Allison Hegel, Caleb McDaniel, Ian Milligan, Miriam Posner, and William J. Turkel, eds. _The Programming Historian_. 2nd ed., 2015. http://programminghistorian.org/.

[2015-09-09 11:15] wcaleb commented on #138
That looks good to me, @ianmilligan1.

P. S. I think the correct term for what you are doing is [structured procrastination](http://www.structuredprocrastination.com/).

[2015-09-12 08:02] acrymble commented on #64
I have archived a copy of the website files with Zenodo at the following DOI: https://zenodo.org/record/30935

This archive was taken on 12 September 2015.

[2015-09-16 14:38] williamjturkel commented on #138
I'm OK with Ian's suggestion if everyone else is.

[2015-09-16 14:41] acrymble commented on #138
I agree.

[2015-09-16 15:00] ianmilligan1 commented on #138
Ok cool - if there's consensus, I am happy to incorporate it into the landing page.

[2015-09-17 08:26] #138 closed, assigned to nobody

[2015-10-07 15:49] wcaleb commented on #134
Note two things about [the way I formatted the abstract](https://github.com/programminghistorian/jekyll/commit/5c9a01a6ae7db33597a08f901d978d6b60e50898#diff-76bcca8c94c80317afc212c217b7220dR10). After the key `abstract:`, I put a vertical bar (`|`). The paragraph that begins on the next line then needs to be indented four spaces on every line. This is how you insert [literal blocks in YAML](http:/

[2015-10-07 23:07] fredgibbs opened #141 "add reviewers to contributors page"
As a way of foregrounding the work of our reviewers, who of course are essential to our success, I think it would be nice to give them a brief bio blurb (and twitter pic or similar) on the contributors page rather than provide a long (and growing) list of names. Presumably this could be handled as we do authors data and we could get in the habit of asking reviewers for a 1-2 sentence blurb.

[2015-10-08 18:06] acrymble opened #142 "button to report a broken lesson"
We're bound to have lessons break over time, but it's probably fair to say most people won't make a ticket. If we had a 1-click way of letting someone say they think a lesson is broken, it might alert us to problems more efficiently.

Obviously we'd have to experiment with how many clicks from unique useres suggested a real problem rather than some idiot causing trouble.

Thoughts? Is this difficu

[2015-10-08 18:07] acrymble commented on #124
I don't think we've got this need at the moment. If so, raise at next call.

[2015-10-08 18:07] #124 closed, assigned to nobody

[2015-10-09 15:56] wcaleb commented on #142
To be honest, I'm not sure I see the need. I think we want people who are reporting something is broken to create an issue, so that we know what's broken about it. Just reporting that it's broken will create more work for us because then we'll have to do the whole lesson ourselves to see what doesn't work. It might create more alerts, but wouldn't necessarily make our process any more efficient.

[2015-10-09 17:41] fredgibbs commented on #142
i agree with caleb here. additionally, users can always send an email (i've
gotten a few that i've created tickets for) if they are confused about
creating tickets. without proper info about the bug and contact info to
follow up, a notification of a potential problem isn't that helpful.

before we implement a new system to solve a problem that maybe doesn't
exist, we might first review our directi

[2015-10-09 18:41] acrymble commented on #142
I think you have both eloquently rebutted this suggestion

[2015-10-09 18:41] #142 closed, assigned to nobody

[2015-10-10 23:05] guymcclellan commented on #116
![image](https://cloud.githubusercontent.com/assets/15055683/10413713/0e846108-6f71-11e5-94f9-6e587a813a34.png)

[2015-10-10 23:06] guymcclellan commented on #116
![image](https://cloud.githubusercontent.com/assets/15055683/10413721/40c6770a-6f71-11e5-94a0-fd062f44695e.png)

[2015-10-13 14:34] acrymble opened #143 "software carpentry link?"
I just spoke with Greg Wilson and Jonah Duckles of Software Carpentry https://software-carpentry.org/

Software Carpentry events typically run for 2 days and are paid for by the host institution. Instructor training is encouraged through their system and instructors have their costs covered by the host. Software Carpentry's role is to pair instructors and hosts together and to provide infrastructu

[2015-10-13 14:47] drjwbaker commented on #143
As a related aside, the rationale for running [Programming Historian Live](http://programminghistorian.org/posts/programming-historian-live-london/) and [Library Carpentry](http://programminghistorian.org/posts/programming-historian-live-london/) as part of my Software Sustainability Institute Fellowship came out of a - what I can imagine was comparable - discussion with Greg about humanities and

[2015-10-14 11:57] acrymble opened #144 "deprecated lessons not clear that they're so"
@fredgibbs and I just got an email about a problem with a deprecated lesson. Other than the URL there's nothing there to suggest that it's now deprecated. I don't think we should REMOVE these lessons in case someone has a syllabus that relies upon it. But maybe we need to think about a flag that makes it obvious to people that we won't be updating them any longer? If indeed that will be our policy

[2015-10-15 16:58] acrymble opened #145 "Issue creation w web form"
https://github.com/benbalter/problem_child

Pointed out by @drjwbaker . Useful to lower barrier to entry for comments?

[2015-10-17 14:46] ersanchez opened #146 "Pandoc sample file causes errors"
## Brief Description

The sample markdown file in the Markdown & Pandoc tutorial causes errors when following the bibliography example code.
## Details

I used the sample [main.md](https://raw.githubusercontent.com/dhcolumbia/pandoc-workflow/master/sample.md) file to use in practicing commands. I copied the text of the example file into a file that I used on my computer.

The fenced codeblock back

[2015-10-18 02:17] ianmilligan1 commented on #144
I agree - maybe a separate section of the _Programming Historian_ for archived lessons? And perhaps a persistent banner along the top, noting that the lesson is depreciated and may not work on your system.

[2015-10-19 04:56] wcaleb commented on #146
You're right. This looks to be an error in the file hosted in a different repository. I've proposed a [pull request](https://github.com/dhcolumbia/pandoc-workflow/pull/4) to fix it. But I also wonder if we should just host the example file in our own assets directory. @denten would you be okay with that?

[2015-10-19 04:59] wcaleb commented on #145
I can look into it, though I don't have any experience with Ruby. It seems like the problem with this solution would be that we would have to run the web form on a separate website that one of us (or one of our institutions) would have to provide and maintain. For the time being, it looks like @fredgibbs has revised the "email us" option for reporting issues in 7944c4e03c1827cbc7f46649c27b71945e1d

[2015-10-19 05:20] denten commented on #146
Sounds good.

[2015-10-19 13:58] fredgibbs commented on #145
even if we could get it working quickly (which seems unlikely anyway), it
seems like a non-trivial maintenance issue over time. but if we start to
hear that the normal github issue creation process is too difficult for
users, we should look into this solution more--it does seem to make it
super easy for users.

On Sun, Oct 18, 2015 at 10:59 PM, W. Caleb McDaniel <
notifications@github.com> wrote:

[2015-10-19 14:02] fredgibbs commented on #144
i concur. although it seems like in this case the emailer was simply web
trolling for a particular link to offer a competing resource to any webpage
that had it. i don't think many of our deprecated URLs are really used
anymore (they obviously didn't have deprecated in the URL to begin with).
but in case anyone stumbles on one (btw, are these in our robots.txt
file?), we should be clearer they are

[2015-10-19 15:12] #144 closed, assigned to nobody

[2015-10-19 15:25] wcaleb commented on #144
I added a banner. Looking more closely at the lessons in the `deprecated` folder, all but [one of them](http://programminghistorian.org/lessons/deprecated/getting-started) is basically just a stub, and I can't imagine anyone still linking to the one that isn't. Perhaps we should just consider deleting them all. @fredgibbs I'm not sure there's a way to have a GitHub Pages `robots.txt` file. We don'

[2015-10-19 15:29] #146 closed, assigned to nobody

[2015-10-19 15:35] acrymble commented on #144
The Getting Started one is decent, so I wouldn't like to see it deleted. It
just doesn't fit the way we have our lessons going these days. But if the
others aren't anything, then I suppose you're right.

On Mon, Oct 19, 2015 at 4:25 PM, W. Caleb McDaniel <notifications@github.com

[2015-10-21 13:05] acrymble commented on #116
Thanks. @fredgibbs am I waiting for another review before I address this?

[2015-10-23 16:23] fredgibbs commented on #116
Yes, there is one more overdue review that I expect literally any day now.

On Wed, Oct 21, 2015 at 7:05 AM, Adam Crymble notifications@github.com
wrote:

##

frederick w gibbs | assistant professor of history | univ. of new mexico
fredgibbs.net | @fredgibbs
http://www.twitter.com/fredgibbs

[2015-10-24 13:38] acrymble opened #147 "ISSN for 'ongoing integrating resource'"
As far as I can tell, we are elligible for an ISSN number as an 'ongoing integrating resource':

http://www.issn.org/understanding-the-issn/assignment-rules/the-issn-for-electronic-media/

This is free, and I think would be useful for increasing findability in communities used to working with these types of numbers (eg, libraries). I'm happy to pursue this if no one objects. It also adds an elemen

[2015-10-24 14:55] ianmilligan1 commented on #147
This is an excellent idea, Adam - I think we should go for it! Happy to help if you want a hand. Looks pretty straigthforward. Should we get an ISSN through the UK agency?

[2015-10-24 15:03] acrymble commented on #147
That's a worthwhile point to raise. We have to choose one country to claim as the location of publication. It seems the world has not quite caught up with the 21st century. We have a claim to UK, Canada, and American publication locales. Does anyone want to put forth a particular nationalist case? If I fill in the form, I'll have to put my own address, which is in the UK.

[2015-10-24 16:24] fredgibbs commented on #147
it might need to be wherever GitHub is hosted, but i can't claim to know
anything about international copyright law.

[2015-10-24 16:45] acrymble commented on #147
It's the location of the 'publisher', not the physical storage devices. As a non-legal entity we don't really fit into this world of lawsuits and profits.

[2015-10-26 09:41] acrymble commented on #147
For the sake of simplicity, I propose that I just do this via the Uk system. I don't think we need to make a big deal about location. Any objections?

[2015-10-26 12:22] ianmilligan1 commented on #147
I think that sounds like a good idea, @acrymble. Happy to see it registered via UK.

[2015-10-26 14:08] #145 closed, assigned to nobody

[2015-10-29 12:57] acrymble commented on #91
It looks like this got lost, but we've done all of the work. Just need to add to YAML I presume?

[2015-11-03 09:53] acrymble opened #148 "Problems (and solutions?) to open peer review"
I'd like to have an open conversation about the practice of open review we've adopted here, so I'd be grateful for ideas from a range of people. We've been doing open review for a few months now (reviewers openly post their comments with their names visible and authors respond).

There are a few changes between this and the traditional double blind review system used by most journals. In particula

[2015-11-03 13:41] fredgibbs commented on #148
Thanks for bringing these up, Adam. I see both of these issues as distinct
advantages of the open system rather than potential significant
problems--provided, as you say, that people are nice to each other, which I
presume will continue to be the case for our authors and editors. I know
this is not always the case with other journals with more academic
weight/prestige/gate-keeping behind them. But

[2015-11-03 15:38] acrymble commented on #148
Thanks for the response Fred.

1) I'm not opposed to the conversation between authors and reviewers. Instead, I'm a bit concerned we'll end up with a few reviews we might call 'unhelpful'. Not uncivil, but just not that useful or perhaps wrong (and maybe the author doesn't realise this or want to publicly tell someone they don't know what they're talking about). We've all had these in traditional

[2015-11-03 16:19] drjwbaker commented on #148
To begin, I enjoy the open peer review, enjoy that it takes place here, and enjoy that the published articles and their development can sit side-by-side.

I too wonder about the role of the editor in it though. @acrymble suggests a model where editors are 'explicitly summarising proposed changes and helping to facilitate the conversations'. Introducing this seems a good step to me. On the open rev

[2015-11-03 20:27] ianmilligan1 commented on #148
Thanks @acrymble for starting this conversation. I think you've raised some good issues that we need to both think about and come up with a documented way of dealing with them. While we haven't run into these issues yet, in terms of uncivil reviewers, you never know. I think @fredgibbs is bang on re: the quality we've seen so far, and in terms of the broader goals of what we want to see with _Prog

[2015-11-05 07:45] acrymble commented on #148
@ianmilligan1 I noticed you've already employed this strategy on Kim Pham's lesson that just came in.
Should we work on some boilerplate text for this type of thing that we all agree to use at various thresholds, to make the process more transparent for everyone?

eg, I confirm the editor of this lesson will be X. I will be responsible for finding reviewers and clarifying required/suggested change

[2015-11-05 08:21] acrymble commented on #147
This requires us to have a visible indicator of our last update. Either through a volume/version number, or a 'last updated on x date' somewhere on the site. Can we add that to the footer and tie it in from some metadata generated on github? or is that complicated?

[2015-11-05 12:36] ianmilligan1 commented on #148
I like this, @acrymble, and decided to implement a version of it on Pull Request #149. I think templates for this sort of interaction are good, and set real milestones for us. Transparency is key.

[2015-11-05 12:45] fredgibbs commented on #148
This is great. This weekend i will update our instructions for reviews page
to make the expectations clear, and the instructions for editors page on
the wiki. Transparency is key, but it also helps to have agreed on a set
procedure--which i don't think we had fully worked out until relatively
recently. Thanks, Ian, for implementing this so quickly--now there's
precedent!

On Thu, Nov 5, 2015 at 5:

[2015-11-05 14:27] ianmilligan1 commented on #147
A quick perusal of StackOverflow seems to indicate that while there are ways to programmatically query the last update of the repo, it's beyond my personal ability to pipe that into our Jekyll pages.

Could we do quarterly or bi-annual 'issues'?

In some ways, maybe doing a quarterly announce could tie into #119, our issue around announcing new lessons. i.e. each quarter, we update the number and

[2015-11-05 14:41] acrymble commented on #147
We had a discussion about that in issue #64. I'm happy to reopen that idea because it makes things easier in this instance.

[2015-11-05 14:42] ianmilligan1 commented on #147
Perfect - it's all coming together... maybe. I'd be happy to take leadership of the quarterly release cycle if folks want to do this. Maybe on the next call (which I unfortunately can't make) we can make a decision and figure out how the cycle should work?

[2015-11-05 15:09] miriamposner commented on #148
Just now catching up on this, and this sounds really good. Ian, I really
like your template! It's possible for me to imagine scenarios where authors
might still feel some of the pressures Adam described (for example, if the
editor and reviewer are friends and the author is new to the process), but
this is a great step, I think.

If another member of the editorial team were willing to serve as
"omb

[2015-11-05 15:11] ianmilligan1 commented on #148
I think having an ombudsman around is a fantastic idea, @miriamposner, and I think you'd be great for it. I'd be happy to serve as a deputy ombudsman if you're unavailable or are good friends/direct colleagues with one of the parties at play.

[2015-11-05 15:42] mdlincoln commented on #147
At the risk of butting in, I believe the [Jekyll variable](http://jekyllrb.com/docs/variables/) `{{site.time}}` ought to reflect the last timestamp that github regenerated the site, which it does on each change to the `gh-pages` branch.

[2015-11-05 15:43] ianmilligan1 commented on #147
Not butting in at all, @mdlincoln, that's fantastic to learn about!

[2015-11-05 15:56] miriamposner commented on #148
Excellent!

On Thu, Nov 5, 2015 at 7:11 AM, Ian Milligan notifications@github.com
wrote:

[2015-11-08 13:56] acrymble opened #150 "List of authors on project team page is wrong"
Minor issue, but this list is wrong:

We are especially grateful to the dedicated Programming Historian authors who are not members of the Project Team: Kellen Kurschinski, Seth Bernstein, James Baker, Amanda Morton, Miriam Posner, Jeremy Boggs, Allison Hegel, Alan MacEachern, Carrie Sanders, Dennis Tenen, Grant Wythoff, Shawn Graham, Scott Weingart, Jim Clifford, Daniel Macfarlane, Josh MacFadyen

[2015-11-08 13:59] acrymble opened #151 "Lesson not on lessons page"
The following lesson doesn't appear on our lessons page:
http://programminghistorian.org/lessons/installing-python-modules-pip

I'm not sure why.

[2015-11-08 14:15] acrymble opened #152 "How can we make the PH more friendly for women to contribute?"
This is an open conversation for the whole world. Please feel free to contribute no matter who you are.

The Programming Historian has currently published contributions from 28 authors and has contributions from another 5 in active peer review. Of those 33 authors, only 9 are female (27%).

We do not typically solicit tutorials (though sometimes we do), so I believe this reflects who has self-sele

[2015-11-08 16:37] miriamposner commented on #152
Hey Adam, thank you for raising this important question.

So the first gentle corrective I'd suggest is avoiding posing the question as one of inclusiveness versus quality. There is no reason to believe that achieving gender parity would threaten quality; indeed, as you point out, it's a terrific way to strengthen it.

I suspect that one major factor in PH's gender disparity is this: submitting to

[2015-11-08 16:58] acrymble commented on #152
Thanks for those thoughts Miriam.

I would like to add I certainly agree with your gentle corrective. I was trying to suggest that we aren't interested in the types of suggestions that will compromise quality. Not that contributions from women are of lower quality, because we know that's not the case.

The too busy point is an interesting one because it contradicts the 'you need to have more women

[2015-11-08 17:18] miriamposner commented on #152
Maybe think about this in a different way. Why do you want more women involved? Is it so that people won't yell at you? Or is it because you genuinely believe that women's involvement will strengthen the Programming Historian? (I do.) Imagine if a gender disparity in PH was as intolerable as, say, never mentioning the command line. Then we'd do whatever the hell it took to fix it, because how coul

[2015-11-08 17:23] ianmilligan1 commented on #151
It's actually [hidden there](http://programminghistorian.org/lessons/) under "Getting Ready to Program," but not with a separate lesson icon like the others.

Maybe we could have standard pictures/icons for the two lessons listed in that section?

[2015-11-08 17:26] acrymble commented on #151
Sounds good to me. Allison, any ideas?

Adam

On Sun, Nov 8, 2015 at 5:23 PM, Ian Milligan notifications@github.com
wrote:

[2015-11-08 17:26] ianmilligan1 commented on #152
:+1: This is a really important question and discussion, both. I like Miriam's suggestions re: the two points above, and agree we should talk more about the submission process and how to make it more welcoming.

[2015-11-08 17:29] mialondon commented on #152
A very brief comment to +1 Miriam's comment that 'All the women I know with any programming skill are already doing too much'.

On the flipside, do you follow up with potential contributors if you haven't heard from them in a while? They might take silence as a lack of enthusiasm for their idea.

Also, 'females' tends to put me off, so it might put off other women too.

[2015-11-08 17:31] miriamposner commented on #152
Hee hee, @mialondon, I have the Ferengizer browser extension installed, which turns every instance of "females" into _FEMALES_.
![screen shot 2015-11-08 at 9 30 28 am](https://cloud.githubusercontent.com/assets/889407/11021601/826bccf0-85fb-11e5-92f7-8202659a534b.png)

[2015-11-08 22:04] mollydesjardin commented on #152
I never realized these aren't solicited -- could be my own lack of reading comprehension at some point along the way. I would like to write a tutorial but also am not sure what you're looking for (and while I program I'm not a historian anymore). So I'm part of the audience you want to reach. Maybe more tweeting or more prominent messages on the website that these are volunteered? Or although I re

[2015-11-08 22:06] mollydesjardin commented on #152
Also, chiming in that I'd like to see "women" used rather than "female."

[2015-11-09 01:41] FCTweedie commented on #152
Can I suggest putting out a call for contributions that you'd like to see? Either for new lessons or updates to current lessons (if these are welcome) and targeting groups that you would like to get involved, via communities such as WIGDET. As Miriam said, Ladies who Tech are often already doing a lot but inviting small contributions might be a good starting point. It sends the message that contri

[2015-11-09 03:04] mdlincoln commented on #152
:+1: to having a list of desiderata as a way of lower the "what does PH really want" barrier - I would love to see that @FCTweedie. Also :+1: to targeted outreach and, as @mialondon suggested, following up with invited contributors who may have not had time earlier.

[2015-11-09 05:26] acrymble commented on #152
Thanks for all of these suggestions and keep them coming.

I used 'female' rather than 'woman' because I was conscious that I was 27 years old before I felt comfortable with the word 'man' to describe myself, and asking 'women' to participate felt to me ageist.

I'll just try to summarise the suggestions so far:

1) Github may be intimidating and may draw in fears of online abuse for some people
2

[2015-11-09 07:08] drjwbaker commented on #152
On 8), and perhaps slight OT, a minority of PH Live (held in London) attendees were male.

[2015-11-09 08:52] acrymble commented on #148
Just to summarise this thread:

1) Miriam Posner and Ian Milligan will hence-forth be ombudspersons
2) We will come up with a set of boiler text for editors to use in pull requests, building upon what Ian has already said. This will be kept on the wiki.

[2015-11-09 12:58] wcaleb commented on #152
A couple of points related to the comments about GitHub and our platform.

## GitHub Intimidation

To help new authors overcome the barriers to entry onto GitHub, we've taken a couple of steps so far: I've written step-by-step instructions for making a pull request, and I've also listed my email address on the submissions page encouraging anyone with difficulty to contact me in person. I'm curious

[2015-11-09 13:11] wcaleb commented on #152
P.S. Maybe one thing we need to do a better job communicating is that using GitHub for the first time _is_ a challenge. That is, we need to stress to women or men who are intimidated by it that it's not _them_: it's a platform that takes some time to get used to, but that can be conquered by acquiring a specific set of skills. This isn't something that GitHubbers generally do a good job of communi

[2015-11-09 13:20] acrymble commented on #152
Thanks @wcaleb. As the editors know, github and its user friendliness (or sometimes lack there of) is a common conversation we have in our meetings.

It is free however, and the alternative submission system we looked at cost £4000 per year. We have zero budget for this project, and we're quite proud of that, so there are trade offs, but as Caleb says, it's about making sure those trade offs are a

[2015-11-09 13:48] ianmilligan1 commented on #152
As an editor, I'm happy to work with folks who want to submit via e-mail rather than through GitHub. While I use the platform a lot, I remember finding the learning curve tough. The walkthroughs are great, and screencasts I think might help too, but it does take time.

My own thought of how I'd accept e-mail submissions would be to (a) post the pull request on their behalf, putting author name in

[2015-11-09 14:31] mialondon commented on #152
Is there a pre-submission stage where you work with potential authors to
help them make sure their proposed topic is the right size, level and
tone, as well as fitting into the overall scope of the PH project? Leaping
into GitHub might be as intimidating as a social event as it potentially
is as a technical process, but most people are used to kicking ideas
around on a piratepad or google doc.

Co

[2015-11-09 15:13] fredgibbs commented on #152
I think many of these excellent suggestions about volunteering lesson ideas and pre-submission editorial work we’ve tried to outline on our contribute pages, particularly under the "Authors: Write a lesson" section on the main contribute page, as well as the entire page at: http://programminghistorian.org/new-lesson-workflow

Are these not visible enough? Probably some of this info should be on ou

[2015-11-09 15:23] rlskoeser commented on #152
Interesting conversation; I appreciate the thoughtful and practical discussion.

I agree with the comments about being too busy with work and childcare and all the many different places I could be contributing things or projects I could be working on.  In my particular case, I'm a programmer but not a historian (my scholarly background is in English literature).  When I see the calls for contribut

[2015-11-09 15:45] fredgibbs commented on #152
OK, so now I’m thinking we should maybe rephrase some of the “editing” / “editor” description on the site to be more focused on “mentoring”. I think that’s how most if not all of the current “editors” feel about what they do, anyway. That could seem considerably more welcoming to potential contributors. And I want to emphasize that I don’t mean this to be a superficial change, but one that really

[2015-11-09 16:18] wcaleb commented on #152
Further idea prompted by @scottbot comments: maybe we could use our blog to feature some "Lesson Creation Stories" or testimonials where authors post brief narratives about the process of coming up with a lesson idea, composing it, getting feedback, and going through the submission process. An alternative but related idea: using the blog for author interviews. For example, @jerielizabeth's lesson

[2015-11-09 16:28] wcaleb commented on #152
@rlskoeser Thanks for the idea about a GitHub Tutorial lesson; we do have one in the pipeline but your comment reminded me that I need to check on its status!

[2015-11-09 17:46] shawngraham commented on #152
As a general thought/aside - I've incorporated tutorial writing into my teaching of DH - students write a tutorial for a particular tool or approach, making our own mini proghist. We use the programming historian guidelines on writing for github to do it. It's a long term thing, but my thinking is to try to normalize a lot of this stuff so that it becomes 'just a regular thing that historians do'.

[2015-11-09 17:54] fredgibbs commented on #152
@shawngraham I'd love to talk more about how to get some of that class work onto PH. I think we could really use some of your students' tutorials--in fact, we've had several conversations about the need for a lesson on using a plain text editors for people who are just starting to push their technical skills. We reference text editing a lot in our tutorials, but a reader without any experience is

[2015-11-09 19:03] mdlincoln commented on #152
Re: the submission process, I wonder if a change in the presentation of the workflow could help.

This may come across like you need to get past a gatekeeper lest you infringe upon someone else's turf. Which is hardly the intended message, I think!

What if the Lesson Pipeline page is the very first thing potential contributors get to look at, so they can get a taste of the range of projects that

[2015-11-09 19:17] ianmilligan1 commented on #152
I like the idea of a transparent lesson pipeline (maybe with a graphic?) and framing the editors as mentors. Kim Pham and I went through what I hope was a helpful mentoring process this summer with her lesson - you can check out our commit history on the drafts here (https://github.com/kimpham54/proghist-mappingAPI/commits/master) and the ensuing pull request here (https://github.com/programminghi

[2015-11-09 21:31] heatherfro commented on #152
Two practical comments:
1 the people primarily discussing how to fix this are men. I will leave this (old and sadly relevant) comment here for reference, and urge you all to think about what this means for moving forward (thank you @miriamposner  for yr excellent substitution of women <==> command line earlier)
<a href="http://dhpoco.org/blog/2013/05/10/open-thread-the-digital-humanities-as-a-hist

[2015-11-10 08:23] acrymble commented on #152
@heatherfro I'm not sure what to do about the gender difference in contributors to this thread. I've asked anyone and everyone with ideas to contribute and I don't have any control over who choses to participate. I've had many more women retweet links to this discussion than contribute ideas to it. Why is that? This is about as open an opportunity as we can offer given our resources, to discuss th

[2015-11-10 09:25] acrymble commented on #152
Just by way of update, the current list of suggestions:

1) Github may be intimidating and may draw in fears of online abuse for some people
2) Open review may likewise put some people off and a closed option may be appropriate to protect those who feel they need it.
3) A more diverse editorial board
4) More prolific tweeting
5) Clearer website design to make it obvious to people that we are an ac

[2015-11-10 10:22] heatherfro commented on #152
@acrymble You asked why there is a gender imbalance between who is RTing and who is commenting: I suspect that a huge part of the problem here is that many women don't want or have github accounts. Or if they do have one, and aren't active users (like me, who joined gh just to get a username to sit on and decide what to do with it later). At the moment I worry (and i bet other women reading this w

[2015-11-10 10:32] acrymble commented on #152
Thanks @heatherfro that's useful feedback. If someone is willing to work with me to produce text for a more open venue (eg, a survey monkey or something), that'd be much appreciated. I'm wary that I got the vocabulary wrong when trying to set up this venue for soliciting feedback.

[2015-11-10 10:50] heatherfro commented on #152
You can email me- I'm happy to help make this a more egalitarian space. Questions that should probably be pushed into this survey, based on reading this discussion:
- Do you have a github account? If so, please share your username
- Did you know that PH solicits submissions?
- Did you know that PH is an academic publication? (Why/why not?)
- Name one (two?) or more topics you would like to see add

[2015-11-10 11:04] ndalyrose commented on #152
I suspect more women haven't commented on this thread because @miriamposner basically nailed it completely right off the bat and as @heatherfro points out the venue poses a barrier to quickly chiming in with your support/comments :). I'm still floundering my way around GitHub so even with something as rudimentary as commenting here I had to ask @benosteen for clarification on what I was seeing. Ob

[2015-11-10 11:09] ndalyrose commented on #152
But just to add, with a wee bub at home I am basically treading water these days and just don't have the time I used to so building/contributing a new course is unfortunately just right out. However, the role of testing and reviewing the content of new courses is perfect for me as its skill development I need to be working on anyway, and also good insight for our internal staff training programme

[2015-11-10 13:02] acrymble commented on #147
@ianmilligan1 I think we can get away with an annual volume instead. I released our code on Zenodo in September, after we discussed and rejected volume numbers.

https://zenodo.org/record/30935#.VkHqfqKjTQg

Maybe we can just shift that into this new need, as it addresses some of the concerns from our conversations on gender and making the site look more like the genre of academic publications tha

[2015-11-10 13:04] acrymble commented on #151
Sorry I should have used @ahegel.

[2015-11-10 14:01] #150 closed, assigned to nobody

[2015-11-10 14:17] mhbeals commented on #152
I read the above (and related twitter conversations) with great interest, though also some concern.  There seems to be a general (and I do mean general) conflation of 'nervous potential contributors' and 'women'. Many of the suggestions for facilitating new contributors were wonderful, and should absolutely be implemented, but I do wonder why they are being associated with women rather than just p

[2015-11-10 15:18] acrymble commented on #152
Thanks @mhbeals. I agree with you and I hope these suggestions will turn into useful changes, not only for women, but for all users.

For the sake of clarity, I initiated this because I can't see anything we're doing that would make the PH an unwelcoming space for women, and I thought the only way to find that out would be to ask. I also asked because I am a person who needs practical solutions to

[2015-11-10 15:32] wcaleb opened #154 "Create generic email address"
In working on #153, I'm noticing lots of places on the site where @fredgibbs's email is listed as the person to contact, which may run at cross-purposes with what we want to communicate about our collaborative editorial style. Should we consider making a generic email address for PH on Gmail or some such service, which can then be forwarded to all of us or to one of us on a rotating basis?

[2015-11-10 15:35] acrymble commented on #154
Sounds fine. I think a rota system is the best approach, otherwise you might get multiple responses that go against one another. That's how H-Net does things. Usually 6 months at a time.

[2015-11-10 15:36] jerielizabeth commented on #152
This has been a really interesting, encouraging, and thought-provoking conversation to follow.

I would like to add an additional vote to the idea of active mentorship for potential contributors. My own tutorial on Beautiful Soup came into being because I had the opportunity to take a programming course with @fredgibbs -- the topic was chosen and the tutorial was refined to the point that I felt c

[2015-11-10 17:20] ianmilligan1 commented on #154
I'm game, and my availability gets pretty decent when I'm back into my regular routine come Jan 2016.

[2015-11-10 22:29] thatandromeda commented on #152
http://geekfeminism.org/2012/05/21/how-i-got-50-women-speakers-at-my-tech-conference/ <- That's "50%", not 50 the number, in the URL there. tl;dr it's high-touch and involves making specific invitations to specific people who may not be self-selecting because they don't realize they have things to offer (although they do). (And it involves citing specific aspects of their work that you're interest

[2015-11-11 06:28] acrymble commented on #152
Thanks @thatandromeda, you raise an interesting point that we see a lot. I don't have any time to work on your pre existing tutorial either. All of this work we do on PH is evenings and weekends on top of full time academic jobs and family obligations. But there are lots of people out there who might be interested in acting as a coauthor to take in that role. Co authorship is routine to the point

[2015-11-11 22:42] mialondon commented on #152
I appreciate the posts so far. A few general thoughts in random order...

I've missed any twitter conversation but I take @mhbeals point re being careful not to link 'nervous contributor' with gender. While some factors (stereotype threat, fear of and/or past experiences being patronised or hassled on social media) might be linked to gender, hopefully most of the suggestions people have given woul

[2015-11-11 23:34] erinbush commented on #152
@acrymble thank you for posing the question and I really appreciate the discussion thus far.

I'll second (third? fourth?) the importance of active mentoring, and I'm fine with the idea of having non-editors do the mentoring. Github is daunting to me for all the reasons @miriamposner mentioned, but I'd be less apprehensive about using it for open peer review having had solid pre-tutorial discussio

[2015-11-12 02:07] fredgibbs commented on #154
I'm happy to rotate off as contact person, as there are other site improvements I'd love to have more time for. @ianmilligan1, if you want next (starting 2016 or earlier if you can manage it), you got it! (if others agree, of course.)

I strongly disagree that we should use a generic email address. I understand that there are good reasons for doing so (if we're trying to distribute email inquiries

[2015-11-12 02:57] wcaleb commented on #154
Those are good points, Fred. I'm not wedded to a generic email address, but do think it might be valuable to make clear that there are multiple potential points of contact. Maybe link to the editorial board contact list whenever we mention the current point person. I also like your idea of making clear how we work collaboratively as an editorial board: I don't think that's really said anywhere on

[2015-11-12 02:57] #154 closed, assigned to nobody

[2015-11-12 04:43] ahegel commented on #151
I agree - I'll add some icons this weekend!

[2015-11-12 10:14] davanstrien commented on #152
I assume the lesson on Github in the pipeline is mine. I'm still quite busy at the moment with finishing my dissertation and work but hopefully will get more time to work on this soon. I have been working on a lesson for a series of events @drjwbaker is running so it shouldn't take too long to write something up.

I'm still very happy to have a go at doing the lesson but if people feel that it wou

[2015-11-15 09:23] acrymble commented on #147
Thanks to @mdlincoln. I tweaked that to {{ site.time | date_to_long_string }} to get it to look prettier.

I have requested an ISSN. Will report back when I hear outcome.

[2015-11-15 09:23] #147 closed, assigned to acrymble

[2015-11-15 19:10] patrickmj commented on #152
I'm late to this convo, but glad to get here now. Appreciate all the thoughts and progress.

I'd like to pick up something from @FCTweedie that I think is important about being intimidated not just by GitHub, but also by "the review process (I never feel 'worthy' in this space, and I think am fairly typical of women in this anxiety)".

I don't know how many women have been reviewers, rather than a

[2015-11-16 05:29] ahegel commented on #151
I updated the "Getting Ready to Program" section with a new image for the pip lesson - the other link is to an external site so I didn't give that an image. Look good to you guys, @acrymble and @ianmilligan1?

[2015-11-16 09:13] acrymble commented on #151
Great. Thanks.

[2015-11-16 09:13] #151 closed, assigned to nobody

[2015-11-16 12:28] acrymble commented on #152
Reviewers are 11 female, 27 male.

We do post the names of reviewers, so that is definitely more open than in the traditional peer review model. Unfortunately our system is set up to only post the names of reviewers of lessons that get published. If something doesn't make it through (usually because the author stops responding), then that isn't currently captured by our system.

[2015-11-16 13:39] ianmilligan1 commented on #151
Looks awesome @ahegel!

[2015-11-16 14:20] amandavisconti commented on #152
Some ideas for lower effort and/or less intimidating paths to involvement/credit in addition to full authorship/review of tutorials, with the idea that these may also lead to increased authorship:
1. Adding inline commenting on the PH tutorials could would let tutorial-users identify exactly where and with what wording they've gotten stuck or stopped following the tutorial (rather than describing

[2015-11-17 12:45] asmorton commented on #116
This lesson very clearly explains its objectives at the outset, and consistently provides section outlines and summaries that make it easy for the user to follow its progress from beginning to end. The required dataset is easily accessible and particularly suited to the lesson goals, and the author provides useful links to those of us unfamiliar with its contents. I would suggest, however, that th

[2015-11-17 14:06] shawngraham commented on #152
@amandavisconti re your point 2 - some of our grad students here are doing that! I just found this out the other day. I'll post links when they're done (I believe their intent is to do this over the course of this academic year).

[2015-11-18 14:16] acrymble commented on #116
Thanks to you both for these comments. Just so I don't jump in and do this wrong, @fredgibbs do you want me to proceed with revisions, or do you want to take a different approach for the next step?

Thanks again.

[2015-11-19 03:58] fredgibbs commented on #116
@acrymble, yes, I think you should proceed with revisions, especially since the reviews are quite positive and the suggestions relatively easy to implement if you agree with them. But I think the tutorial is in excellent shape and will only improve with whatever additional work you'd like to put into it.

[2015-11-19 20:18] tapar001 commented on #152
I am very late to this conversation, but I wanted to chime in here to thank everyone for their contributions to this thread, and to show support for this important discussion about accessibility and inclusivity on PH, GitHub, and the digital humanities more broadly.

I would love to see a GitHub tutorial. I've used it for PH and for some digital projects that I'm helping students produce at Minnes

[2015-11-19 21:16] acrymble commented on #116
Ok just to summarise what I see in terms of change suggestions:

~~1) Suggestion to link to Geocoding tutorial by Fred Gibbs as an example of why you might like to do this type of task~~ [done]
~~2) Increasing emphasis on hypothetical research question possible through this approach with this dataset~~ [done]
3) Look for additional places to add troubleshooting bars.
~~4) Beef up intro's discussio

[2015-11-19 22:35] acrymble commented on #116
Ok I've gone through and made the above changes. This primarily involved adding to the 'For Whom is this Useful?' section, and adding a new 'Further Reading' section at the end.

I didn't see any obvious places to add troubleshooting bars.

Please let me know what you think.

[2015-11-20 12:55] acrymble commented on #147
Dear Dr Crymble,

INTERNATIONAL STANDARD SERIAL NUMBER (ISSN)

Thank you for your recent enquiry.  We have assigned the following ISSN:

The programming historian      ISSN 2397-2068

We would be grateful if the ISSN could be printed in all issues of the serial, preferably on the top right-hand corner of the front cover or title screen in the form given above, i.e. preceded by the letters ISSN wit

[2015-11-20 12:58] drjwbaker commented on #147
Nice assumption there that journals are printed.

[2015-11-20 15:41] ianmilligan1 commented on #147
:+1: Great stuff, @acrymble. Thanks for getting this up and running! (and yeah, love that @drjwbaker)

[2015-11-20 19:32] acrymble commented on #148
To manage this change, I've updated the index, reviewer instructions, and author instructions page. In each I have tried to clarify the role of the editor, to encourage people to ask questions about the process if they get confused, and to direct them to the ombudspersons if they feel the need to have a private discussion.

Please reopen if you feel I've not completed this, but I think that's a go

[2015-11-20 19:32] #148 closed, assigned to nobody

[2015-11-20 19:35] acrymble commented on #152
@amandavisconti I like the idea of a live virtual PH event. I had never thought of that.

[2015-11-23 19:44] acrymble commented on #152
Thanks to everyone who has participated in this thread. We've got an editorial meeting coming up, where we'll be thinking about how we can bring in some of these ideas. We'll also be soliciting more ideas in the near future, so we'll keep everyone informed.

[2015-11-24 17:48] thatandromeda commented on #152
In re learning github, my colleague @phette23 is chiefly responsible for this, aimed at getting librarians (in many ways a similar audience to historians) up with the very basics: https://github.com/LibraryCodeYearIG/Codeyear-IG-Github-Project

[2015-11-24 21:47] fredgibbs commented on #116
i think this is great! i think all we need to do now is add it to the lessons page, no?

[2015-11-24 22:00] ianmilligan1 commented on #116
Looks good to me! I just merged #61 so I think we could kill two birds with one stone perhaps?

[2015-11-25 14:00] acrymble commented on #152
Just to add a comment from a colleague of mine whose partner works in tech in a company that struggles to retain women. Her comment was that perhaps we shouldn't be asking women in tech what the problems are, but should also be seeking the opinions of those women who avoid the field entirely.

An interesting point, I thought.

[2015-11-25 14:27] acrymble commented on #116
Thanks. We need to update the YAML block, but otherwise ya, just a matter
of finding a pretty picture from @ahegel 's collection.

On Tue, Nov 24, 2015 at 10:00 PM, Ian Milligan notifications@github.com
wrote:

[2015-11-25 17:16] miriamposner opened #157 "adding a new lesson"
@acrymble suggested I should submit a Palladio lesson I recently wrote, so I created a branch for it and submitted a pull request. I think maybe I didn't do it right, though, because it's not appearing as a pull request.

[2015-11-25 17:35] wcaleb commented on #157
I'd be happy to help figure out what went wrong! It looks like you created a [pull request on your own forked repo](https://github.com/miriamposner/jekyll/pull/1), but not one to the Programming Historian repo.

To see if we can get this fixed, first try accepting your own pull request (linked above). Then I'll take another look.

[2015-11-25 17:39] wcaleb commented on #157
@miriamposner Actually it may be even easier than what I said above.

If you go to this [compare page](https://github.com/programminghistorian/jekyll/compare/gh-pages...miriamposner:getting_started_with_palladio-1), you can see that your branch is being compared directly with the Programming Historian `gh-pages` branch. Click the green "Create pull request" button on that page, and see what happen

[2015-11-25 17:45] wcaleb commented on #157
Hi again @miriamposner. Ok, I didn't realize it was possible to do this, but I actually was able to make the pull request myself from your branch, and it's now at #158.

You should still be able to update the lesson by making commits directly to your `getting_started_with_palladio-1` branch (notice the 1 on the end).

For future submissions, I'm wondering if it would make it easier on authors if w

[2015-11-25 17:45] #157 closed, assigned to nobody

[2015-11-25 17:47] miriamposner commented on #157
Hey, @wcaleb! Thank you! Yup, followed your instructions. I'm not sure where I went wrong. I should've probably just done it from the command line but thought it might be faster to just do it in the browser. I need to add the images, too. Anyway, thank you!

[2015-11-25 17:50] wcaleb commented on #157
It may have been that you weren't on the `gh-pages` branch when you created your branch? Not sure though. Will investigate ...

[2015-11-25 17:54] miriamposner commented on #157
Oh, I probably was. D'oh! I swear, every time I think I understand Github I
break something.

On Wed, Nov 25, 2015 at 9:50 AM, W. Caleb McDaniel <notifications@github.com

[2015-11-25 18:03] wcaleb commented on #157
Not at all! You didn't break anything. TBH, I think GitHub could do a better job distinguishing between pull requests made within your own repos and pull requests made to a repo that you have forked. When they use the same button/lingo for both things, it creates understandable and needless confusion.

[2015-11-26 00:42] phette23 commented on #152
Just chiming in since I was mentioned, @jlord also wrote a great git intro "[git-it](https://github.com/jlord/git-it)" but it requires at least a passing familiarity with the command line and NPM as a prerequisite.

[2015-11-26 00:46] jlord commented on #152
@phette23 :sparkles: I've actually got a new version, in beta, that is a desktop application and you don't have to install node/npm :+1: [jlord/git-it-electron](http://github.com/jlord/git-it-electron/releases)

[2015-11-30 20:54] acrymble opened #159 "Wrong link in SPARQL lesson?"
@mdlincoln we've just had a correction that the Paul Mellon Center for British Art listed in your lesson should be the Yale Center for British Art. Can you double check that for me?

[2015-11-30 21:24] mdlincoln commented on #159
Oh dear, yes: the link is correct, but the link text ought to read the "Yale Center for British Art"

[2015-12-01 03:01] wcaleb opened #160 "Brief Description of Linked Open Data on Lessons Page"
Most of the lesson sections have a brief description of the topic; the new Linked Open Data section does not. @mdlincoln would you be willing to suggest some text for this?

[2015-12-01 03:53] fredgibbs commented on #160
closed by #161.

[2015-12-01 03:53] #160 closed, assigned to nobody

[2015-12-01 04:16] fredgibbs commented on #159
closed by eb3af1101cea9ee824dd2bef81143279ad629d9f

[2015-12-01 04:16] #159 closed, assigned to nobody

[2015-12-02 19:07] acrymble commented on #116
I found a picture for this, but the instructions on the wiki don't explain how I upload the picture to github:

https://github.com/programminghistorian/jekyll/wiki/Lesson-Images

Do I actually have to do the 8-step proceedure listed here just to add an image for a lesson?: http://programminghistorian.org/new-lesson-workflow

![extracting-keywords-original](https://cloud.githubusercontent.com/asset

[2015-12-02 22:09] ahegel commented on #116
If you link me the original image source I'm happy to upload it for you using the usual procedure! For the other lessons we've uploaded both the cropped and the original image as per https://github.com/programminghistorian/jekyll/wiki/Lesson-Images. @acrymble

[2015-12-02 23:35] ianmilligan1 commented on #116
:+1: I uploaded them for Adam when I was putting the markdown image up, so we're good on that front.

[2015-12-03 07:55] acrymble commented on #116
Thanks. I've posted this under Data Manipulation. Thanks to our reviewers.

[2015-12-03 07:55] #116 closed

[2015-12-03 10:04] acrymble opened #162 "Refine about page text"
This came out of our meeting. @fredgibbs noted that he wanted to revise the text slightly on our about page.

[2015-12-03 12:05] acrymble opened #163 "data files wrong in Python intro lessons"
In the migration the .zip files used for syncing the obo library have been lost for the lessons including and after: http://programminghistorian.org/lessons/output-data-as-html-file

I will have to rebuild these and upload the right files, as you can't follow through at the moment.

[2015-12-08 08:34] acrymble commented on #152
We have created an anonymous survey for people to contribute to this discussion:

https://www.surveymonkey.co.uk/r/SFSRHHD

Please respond if you have ideas, and share the link with friends or colleagues you think could share a perspective withus.

Thanks to everyone for contributing thus far.

[2015-12-08 15:08] wcaleb commented on #163
Is [this](http://programminghistorian.org/assets/programming-historian3.zip) not the right one?

[2015-12-08 15:10] acrymble commented on #163
No it's wrong. I'm going to have to remake it. Each lesson should
effectively have a different zip file, because it builds upon the previous
one each time. Not sure where it went wrong, but I suspect it was a while
ago.

On Tue, Dec 8, 2015 at 3:08 PM, W. Caleb McDaniel notifications@github.com
wrote:

[2015-12-08 18:48] shawngraham commented on #152
@jlord I've just put that on my syllabus for an undergrad digital history class!

[2015-12-08 19:01] miriamposner opened #167 "Possible problem with whitespace in Getting Started with Markdown"
See @c-forster's tweets [here](https://twitter.com/cforster/status/674255168905617408). Tagging @ssimpkin.

[2015-12-08 19:58] ianmilligan1 commented on #167
I don't fully see the issue here, but I am daft. Can it be laid out a wee bit clearer? Thanks!

[2015-12-08 20:18] ianmilligan1 commented on #167
Think I figured out what was wrong - can folks take a look? Thanks.

[2015-12-08 20:21] ghost commented on #167
Looks like @ianmilligan1's fix corrected it. Learning so much about Jekyll!

[2015-12-08 20:33] wcaleb commented on #167
@ssimpkin This is tangential, but what would you think about putting the rendered text in each example between two horizontal rules, or in a special `div`, just to more clearly set the examples apart from the main lesson text?

[2015-12-08 21:11] ianmilligan1 commented on #167
@ssimpkin I'm learning a lot too! :+1:

[2015-12-10 11:00] acrymble commented on #162
@wcaleb has already done this and pulled in the result.

[2015-12-10 11:00] #162 closed, assigned to nobody

[2015-12-12 16:44] acrymble commented on #143
we discussed this at our last editorial meeting, and we're going to pursue. Greg Wilson has been in touch and they're now discussing the same at their own board meeting. Will report when I hear more.

[2015-12-16 14:39] ianmilligan1 opened #169 "Short 1-2 sentence abstracts on lessons page?"
@cblevins' review of the _Programming Historian_ in _The Journal of Interactive Technology and Pedagogy_ has lots of food for thought! It is great to have somebody spend such engaged time with the project.

One point suggests our landing page might be alienating.

Should we consider re-jigging things? Would our layout support a sentence or two per lesson, to give a sense to readers what might be w

[2015-12-16 14:41] acrymble commented on #169
Thanks Ian. Good point.

I think our plan to address this is via the new blog, which will act as
guides for people in that situation of 'I have a bunch of photos...'. No?

On Wed, Dec 16, 2015 at 2:39 PM, Ian Milligan notifications@github.com
wrote:

[2015-12-16 14:43] wcaleb commented on #169
That passage recalled to mind a discussion we've had before about
whether to create more welcoming "tracks" through the lessons. Something
on the order of "So you want to ... ?" together with a chained walk
through related lessons. Could be something for blog posts to do, as
well.

On Wed, Dec 16, 2015 at 06:39:54AM -0800, Aaron Wolf wrote:

[2015-12-16 14:44] ianmilligan1 commented on #169
I think the blog posts are a great idea, but still think somehow putting more description onto our home page is good. "Sustainable Authorship in Plain Text Using Pandoc and Markdown" is one of my favourite lessons, and was actually pretty foundational for moving me into Markdown, but if you have no clue what Pandoc or Markdown you might not know to click through.

[2015-12-16 16:57] drjwbaker opened #170 "extracting-keywords.md"
You may wish to note that on opening `The Dataset - Alumni Oxonienses - Jas1.csv` with your favourite spreadsheet package that separators need to be set to comma and text delimiter field needs to be set to `"` (at least that is the case for LibreOffice). I only note this as you have a .csv file with commas that are not delimiters, which can be tricky to resolve.

[2015-12-17 08:03] acrymble commented on #169
Sounds reasonable to me. Can you mock it up for us to circulate?

On Wed, Dec 16, 2015 at 2:44 PM, Ian Milligan notifications@github.com
wrote:

[2015-12-17 11:49] fredgibbs commented on #169
i've been thinking about a new lessons page for some time; i'd be happy to do a mock up with intro sentences (which i'm happy to create) and continue with that project--esp since @ianmilligan1 will be taking over as general contact person in a few weeks. (right?)

[2015-12-17 14:53] ianmilligan1 commented on #169
Sure that sounds good to me, @fredgibbs. I can't remember when we had the handover scheduled. We can time it for the first week of January if you want?

[2015-12-21 16:25] acrymble commented on #170
Thansk @drjwbaker I will take a look at this.

[2015-12-30 16:21] fredgibbs opened #171 "More specific editorial roles"
Would they help us stay organized and manage our workflow?

[2015-12-30 16:24] fredgibbs opened #172 "summer fellows strategy"
How shall we run the fellows program next summer?

[2015-12-30 18:06] acrymble commented on #171
I support this. I think it clarifies a lot of things for us, but also for people wondering who to contact. I'd also like it if it were clearer on the Project Team page how many submissions I'm willing to work on at once, and if I'm at that capacity (which I currently am).

[2015-12-30 18:14] ianmilligan1 commented on #171
I support this as well - let's talk about it on our next call. We can have some rotation built in, too.

[2016-01-05 15:03] ianmilligan1 commented on #143
I just had a great chat with Greg Wilson, which I will bring up in more detail at our next editorial meeting. In short, I think there's some great exciting opportunities here to take our existing connections to DH with their long track record of teaching people in this area, emphasis on principles, and instructor training. Given other discussions about broadening PH's outreach and audience, this i

[2016-01-05 17:44] acrymble commented on #143
We should keep our eye on this, which is a related idea: http://history2016.doingdh.org/

[2016-01-06 16:52] acrymble opened #175 "Github pages down?"
I'm getting the following when I visit our homepage: "GitHub Pages is temporarily down for maintenance."

[2016-01-06 16:58] ianmilligan1 commented on #175
Up for me, as of 11:58AM EST.

[2016-01-06 17:02] acrymble commented on #175
obviously very temporary. Never seen it before.

[2016-01-06 17:02] #175 closed, assigned to nobody

[2016-01-14 03:04] wcaleb commented on #91
I've added the difficulty indicators to the lessons in the checklist above. From now on, when adding a new lesson, we need to add a `difficulty: 1` (or `2` or `3`) line to the YAML metadata for the lesson. There are some lessons currently that still need that added---I only did the ones listed in the checklist.

Two other things still need to be done before the issue is closed:
1. Somewhere on the

[2016-01-14 16:51] acrymble opened #176 "Editorial Meeting Jan 2016"
Editorial Board meeting 14 Jan 2016. Proposed Agenda: In no particular order:

~~#172~~
~~#171~~
Revising submission workflow - caleb
~~#152~~
#143
#91
#169

[2016-01-14 17:18] acrymble commented on #171
Action everyone: Add to this ticket your 'role' - what you do for the PH. These will ultimately go on the website project team area.

[2016-01-14 17:22] wcaleb commented on #171
I mainly do website design and GitHub Pages support.

[2016-01-14 17:27] wcaleb commented on #172
Subcommittee: @miriamposner @ianmilligan1 @tapar001 @jerielizabeth

[2016-01-14 17:54] wcaleb opened #177 "Create a separate repo for submissions"
This will be the first step towards getting rid of Heroku Review Apps and revising our submission workflow so that pull requests by authors are no longer required.

[2016-01-15 06:10] acrymble commented on #176
Present: Adam Crymble, Miriam Posner, Allison Hegel, Fred Gibbs, Jeri Wieringa, Evan Taparata, Caleb McDaniel, Ian Milligan

Apologies: None

1) #172: Sub comittee formed to head this initiative this year (see ticket)
2) #171: All editorial board members to submit their role description to ticket
3) Revising Submission Workflow: Caleb to experiment w new options (#177)
4) #152: Adam to write blog

[2016-01-15 06:10] #176 closed, assigned to nobody

[2016-01-15 06:14] acrymble commented on #171
editorial role: data management & curation; introductory lessons of core skills.
administrative roles: editorial board meeting chair; broadening access;

[2016-01-15 21:11] wcaleb commented on #177
I've created the repo at https://github.com/programminghistorian/ph-submissions and given the Project Team permissions to edit it. The [front page](http://programminghistorian.github.io/ph-submissions/) contains a rough draft of what the new workflow would look like, and here's what a [sample lesson](http://programminghistorian.github.io/ph-submissions/lessons/sample-lesson) would look like to rev

[2016-01-15 21:24] ianmilligan1 commented on #172
Looking forward to this! Should we set up a call, or have initial conversation here?

[2016-01-15 21:25] #177 closed, assigned to wcaleb

[2016-01-15 21:26] ianmilligan1 commented on #171
editorial role: text analysis and data mining, network analysis, intermediate to advanced lessons.

administrative roles: primary contact person for lesson submissions, keeping an eye on author submissions, co-ombudsperson

[2016-01-15 23:28] tapar001 commented on #172
Likewise! It's perfectly alright with me if we begin the conversation here,
though if more of us prefer a call that works, as well.

On Friday, January 15, 2016, Ian Milligan notifications@github.com wrote:

##

sent from a mobile device

[2016-01-16 12:16] acrymble commented on #152
For those who have been following this thread, @drjwbaker has generously come forth with some funding to host a working day in Cambridge UK on 15 March 2016 to bring together a small group of postgraduates, early career scholars, and established scholars to discuss digital history mentorship and how we can improve both access to it, but also its effectiveness.

We appreciate it won't be convenient

[2016-01-17 18:51] ahegel commented on #171
Editorial interests: text analysis, data visualization

Administrative interests: design of website, editing lessons

[2016-01-18 16:30] ianmilligan1 commented on #172
Sounds good! Here are some of my quick, introductory thoughts (which I sort of articulated on the call before I had to go).

I really liked the Summer Fellows program, mostly because it put me in touch with my fellow and I got to work with her to put a lesson together (which was great). However, I think if we do another go-around, we'll need to find some opportunity to build more community. This i

[2016-01-19 01:42] tapar001 commented on #172
I will very quickly chime in here to say I think these are all great
suggestions, and to second the idea of community building.

As a former fellow I can say that anything we can do to encourage structure
might be a good thing. I love the idea of fellows joining Skype calls, and
the idea of an online conversation once a month or so. Personally, because
my summer ended up being busier than I antici

[2016-01-19 20:34] #167 closed, assigned to nobody

[2016-01-22 01:48] miriamposner commented on #171
Editorial interests: data visualization, data manipulation, web design, core skills

Administrative roles: outreach, community management

[2016-01-22 06:16] miriamposner commented on #172
This sounds great. As I recall, there was some talk about enlisting fellows
to do something other than write lessons (e.g., edit them instead). Is that
still something we're interested in?

Shall we also set ourselves a deadline for releasing the call for fellows?
Perhaps that will keep us accountable. Perhaps May 1? Is that too late?

On Mon, Jan 18, 2016 at 5:42 PM, Evan Taparata notifications@g

[2016-01-22 14:08] ianmilligan1 commented on #172
I think both suggestions (editorial roles & May 1st deadline) are fantastic, @miriamposner.

[2016-01-22 19:53] acrymble commented on #152
Report to be posted soon on our blog. Thanks for your contributions everyone.

[2016-01-22 19:53] #152 closed, assigned to acrymble

[2016-01-27 18:54] tanseyem opened #179 "Error in Understanding Regular Expressions"
I am receiving an error with the following step in the Understanding Regular Expressions lesson (http://programminghistorian.org/lessons/understanding-regular-expressions). The problem is with this instruction:

_Next, again using find-and-replace,_

_replace all $ (just a dollar sign) with nothing._

_There are 225 replacements with this pattern. At first it may not be clear what happened here, b

[2016-01-28 13:21] jerielizabeth commented on #172
I also like the idea of editorial roles and a deadline. May 1 sounds doable! I also liked your suggestion, @ianmilligan1, of a joint project! I think that would help with the community building aspect and with keeping the work load manageable both for us and for the fellows.

If I remember correctly, one of the questions from the call was how many fellows we would want to take on. From last summer

[2016-01-28 13:27] jerielizabeth commented on #171
editorial interests: text analysis, network analysis, data visualization, accessibility, UI/UX, workflows

administrative roles: editing lessons, tbd

[2016-01-29 09:21] acrymble opened #180 "directory of open access journals listing"
Anyone object to me submitting an application to be listed amongst open access journals on the site? https://doaj.org/publishers
I know the term 'journal' isn't a perfect fit, but I think this will be helpful for increasing findability, and also giving us ideas on metadata we might include to make linking/slurping into catalogues easier.

Let me know any thoughts or concerns.

[2016-01-29 20:20] ianmilligan1 opened #181 "get-pip.py in "Installing Python Modules lesson""
The always vigilant @shawngraham has noted that the `get-pip.py` link in [this lesson](http://programminghistorian.org/lessons/installing-python-modules-pip) points to a depreciated script.

Here's the [current one](https://raw.githubusercontent.com/pypa/pip/master/contrib/get-pip.py) we link to, and here's the [updated one](https://bootstrap.pypa.io/get-pip.py).

@fredgibbs, should we point the l

[2016-01-30 17:49] fredgibbs commented on #180
sounds like a good idea!

[2016-01-31 06:54] ianmilligan1 commented on #180
Agreed - great idea, @acrymble!

[2016-02-01 15:14] acrymble commented on #180
ok i'll initiate it.

[2016-02-01 16:50] amandavisconti opened #182 "Using Hypothesis annotation to improve Programming Historian tutorials"
It could be useful to build on [Hypothesis web annotation](http://hypothes.is) as a path for anyone working through a PH tutorial to leave inline suggestions for improvement, questions, "this is where I got stuck" flags, and other comments. Already, anyone can do this using a Hypothesis browser extension or just by prepending the tutorial's URL with https://via.hypothes.is/ (e.g. https://via.hypot

[2016-02-01 17:36] shawngraham commented on #182
I like the idea of RSS per tutorial. My gang are working through several tutorials as part of our digital history seminar (http://grad.craftingdigitalhistory.ca/weekly.html) so you'll start seeing some annotations happening already. I came across waffle.io that turns issues into kanban-board style cards for managing all this kind of thing. Perhaps a bridge too far for the current conversation, but

[2016-02-02 12:42] Anterotesis opened #183 "Extracting Keywords tweaks"
The lesson 'extracting keywords'
http://programminghistorian.org/lessons/extracting-keywords
uses a downloadable file called, in the text and in the screenshot, "The Dataset - Alumni Oxonienses - Jas1.csv"
But the file linked to is actually named 'extracting-keywords.csv'
A minor matter, but one of those things that could cause confusion.

[2016-02-02 13:05] ianmilligan1 commented on #183
Thanks for the catch @Anterotesis – pinged the author @acrymble! No matter is ever too minor. :smile:

[2016-02-02 15:31] wcaleb commented on #182
I love this idea! Thanks for organizing it!

I'm a little concerned about creating an issue for _every_ annotation, for the reasons @amandavisconti describes. That could potentially clutter our issues inbox. Some annotations might just be questions that a person needs assistance with, which isn't necessarily an issue ticket sort of thing.

Is there a happy medium where annotations that we want to

[2016-02-02 15:53] amandavisconti commented on #182
It looks like IFTTT can be set to only fire if the RSS item (annotation) contains a certain word or phrase (so, it wouldn't need to be added as a tag).

I tested an IFTTT recipe looking for the keyword "help" in the annotation, and tried replying to an existing annotation—and replies to annotations aren't being pulled into that RSS stream, so it didn't work. (Same thing but with an annotation, rat

[2016-02-02 18:45] amandavisconti commented on #182
Hypothesis says there currently isn't a way to include replies in the RSS, though they're working on it. They noted that the permalink to an annotation includes its associated replies, but there isn't currently a way to trigger an issue being created from a reply.

[2016-02-02 19:09] wcaleb commented on #182
Thanks for looking into this! Maybe for the #DHAnnotates week we should just do manual issue creation. After we see what kinds of annotations people leave and how many of them there are, we could then make a decision about how to automate?

Sent from my iPhone

W. Caleb McDaniel
Associate Professor of History
Duncan College Master
Rice University

http://wcm1.web.rice.edu/
http://www.duncancollege

[2016-02-02 23:34] shawngraham commented on #182
@amandavisconti what if we fed the hypothesis RSS into a twitter account for the purpose (ifttt)? Then we could just monitor that twitter account and anything that needs serious work could be made into a ticket/issue, where the issue references the original tweet....?

[2016-02-02 23:34] shawngraham commented on #182
Or maybe IFTTT hypothesis rss -> google spreadsheet?

[2016-02-03 02:27] wcaleb opened #185 "Change to kramdown Markdown processor"
Apparently GitHub Pages is soon going to disallow `redcarpet` as a Markdown processor and is [requiring that GitHub Pages use `kramdown`](https://help.github.com/articles/updating-your-markdown-processor-to-kramdown/). I need to work on this to see how this will affect us; it likely will change some things such as the way we were styling codeblocks.

[2016-02-03 04:15] wcaleb commented on #185
https://github.com/blog/2100-github-pages-now-faster-and-simpler-with-jekyll-3-0

[2016-02-03 07:38] acrymble commented on #171
should we add these to our profiles, or will that also affect our author statements for those of us who have written tutorials?

[2016-02-03 09:59] acrymble commented on #183
Thanks John. As you know we did a workshop on this lesson yesterday, and I'll just add the following sticking points people had that i'll try to iron out in the lesson (note to editors: running a live workshop is a great way to improve lessons! We might consider highlighting where lessons have been live-tested as an added level of review)

We worked from a handout so I'll use our page numbers to n

[2016-02-03 10:24] acrymble commented on #183
I don't seem to have the option of renaming the CSV file, but this pages says I should be able to do it: https://github.com/blog/1436-moving-and-renaming-files-on-github. Anyone know why I don't have the edit option?

[2016-02-03 13:17] ianmilligan1 commented on #183
I don't mind changing the file name as I'm in there right now, @acrymble – you want it renamed to `The Dataset - Alumni Oxonienses - Jas1.csv`?

[2016-02-03 13:30] acrymble commented on #183
Yes please. I'll change the link in the lesson when you've done so.

On Wed, Feb 3, 2016 at 1:17 PM, Ian Milligan notifications@github.com
wrote:

[2016-02-03 13:35] ianmilligan1 commented on #183
Actually, let me put underscores in there just to make things easier going forward, and I'll swap the link out while I'm in.

[2016-02-03 13:55] Anterotesis commented on #183
Re: The extra line problem with linux editors.
I have this problem on OS X, when using Gedit, ported from Linux.
I found a question about this on Stack Overflow:
http://stackoverflow.com/questions/3056740/gedit-adds-line-at-end-of-file
with the following comment from one of the Gedit developers:
"this is intentional: text files should always be terminated by \n, otherwise tools like 'cat', 'sed' e

[2016-02-03 15:07] amandavisconti commented on #182
@shawngraham Both good ideas! You also mentioned (on the DH Slack) streaming annotations there (either to a dedicated channel for PH, or to something like the #DHanswers channel?). I'd like both having a record of all annotations on PH tutorials (in case that's ever useful, to see them all at once?) via a spreadsheet, and also having new annotations go through a place where we wouldn't need to go

[2016-02-03 15:16] wcaleb commented on #171
It will only change the author statements if we include them in the "bio" field,  but you could create a new YAML field like "roles" and put the information there. I could then figure out how best to display that new data on the Project Team page.

[2016-02-03 15:42] shawngraham commented on #182
@amandavisconti isn't it possible to expose all messages in slack to a webpage? Didn't Lincoln code that up?

[2016-02-03 15:54] amandavisconti commented on #182
@shawngraham Yes, Matt Lincoln created a nice way: https://github.com/mdlincoln/jekyll-slack (example page for the #conference channel: http://matthewlincoln.net/jekyll-slack/conferences/index.html).

[2016-02-04 16:14] acrymble opened #186 "German grant"
https://www.volkswagenstiftung.de/en/researchdigitalage.html

[2016-02-05 08:27] acrymble commented on #186
not really applicable. nevermind.

[2016-02-05 08:27] #186 closed, assigned to nobody

[2016-02-05 08:34] acrymble commented on #170
updated. Thanks @drjwbaker

[2016-02-05 08:34] #170 closed, assigned to nobody

[2016-02-06 19:41] #181 closed, assigned to nobody

[2016-02-08 10:19] acrymble commented on #183
Re: Windows problem with file naming. I just tried the lesson on a PC in our computer labs and it didn't like colons in the file name of the output file, throwing:

IOError: [Errno 22] invalid mode ('a') or filename: 'output-2016-02-08-(10:13:14).csv.

Can be fixed by removing the semi-colons from the final code and replacing them with hyphens. If anyone knows a workaround that makes it look more

[2016-02-08 10:21] acrymble commented on #183
Tip from Jonathan Blaney on running in a computer lab running windows:

That Windows trick I mentioned might be worth adding to the online course. I use it all the time. But I’m not sure if works in Windows 10 (at least it didn’t for the Italian woman next to me). You shift and right-click in a folder and it says “open command window here”.  [**fixed**]

[2016-02-08 22:50] fredgibbs commented on #171
I tried to consolidate and standardize the various roles at https://github.com/programminghistorian/jekyll/wiki/Editorial-Roles, where everyone should modify it however they'd like--I just tried to produce a rough draft we could work from. One caveat: although it's great that we all do a bit of everything, if we list too many people under each role, that starts to defeat the point of the list, whi

[2016-02-09 15:55] amandavisconti commented on #182
I created [a gist](https://tinyurl.com/DHannotatesLinks) listing for all the current PH lesson URLs:
1. each lesson URL with Via prefix (direct link to annotate with Hypothesis)
2. each URL for the stream of all annotations per specific lesson
Any annotations (anywhere on the web...) tagged with #DHannotates will appear in this stream: https://hypothes.is/stream.rss?tags=DHannotates

I also create

[2016-02-10 23:54] shawngraham commented on #182
Can a google spreadsheet ingest rss?

[2016-02-11 00:43] amandavisconti commented on #182
@shawngraham Looks like yes (multiple RSS to one Google Spreadsheet) with IFTTT... and then we could have the Google Spreadsheet's new items all go into one RSS feed? (Zapier supports that if IFTTT doesn't.)

[2016-02-12 13:15] amandavisconti commented on #182
@wcaleb @acrymble @shawngraham  I'm going through annotations, and would like suggestions on addressing these in the way best for PH (e.g. not cluttering the issue queue). I have three possible ideas (and would appreciate others!):

A. **Adding as repo issues** (perhaps with new issue label[s] like "questions", "suggestions"):
1. Questions particular to a specific user (not likely to be helpful to

[2016-02-12 14:46] acrymble commented on #182
There's a bit of an added dimension here we need to consider.

Firstly, these are people's publications and they've gone through a review. I think we can make minor changes without getting in touch with an author, but we'll have to go slower with something one might reasonably consider 'major' changes to a lesson.

Related, people use these tutorials in a classroom setting, and we all know how str

[2016-02-12 16:50] amandavisconti commented on #182
Great points I hadn't considered. Thank you!

[2016-02-12 17:06] wcaleb commented on #182
Of the options @amandavisconti lists, the only one I'm somewhat wary of is C: an editable wiki page. That would create another thing to curate and keep up to date, whereas issues and pull requests keep everything within the same basic queue. It also seems to me like it could largely reproduce the functionality already provided by the hypothesis platform and RSS feed. I'm not unalterably opposed, b

[2016-02-12 17:10] wcaleb commented on #182
Another thought I meant to include. Some open-source software programs have both discussion lists and GitHub issue trackers. I'm thinking of Pandoc, for example, which has a Google Groups list called [pandoc-discuss](https://groups.google.com/forum/#!forum/pandoc-discuss) for general user questions, FAQs and problems, and reserves the issues on GitHub for actionable edits and bugs. The listserv mi

[2016-02-12 19:55] amandavisconti commented on #182
There are currently 9 lessons with any annotations (one only has annotations reviewing the lesson's arguments about using certain software, so no issue creation needed). I've linked below all the annotations that have potential for changes to lessons. (_Note that none of these are show-stopping or time-critical, just suggestions for improving and broadening the audience for some already fantastic

[2016-02-13 01:00] shawngraham commented on #182
@amandavisconti thank you for being so awesome!

[2016-02-14 02:45] wcaleb commented on #182
I second @shawngraham!

[2016-02-20 12:30] acrymble opened #188 "Editorial Meeting agenda 23/02/16"
Fellow Editors, please nominate any issues from the github list that you think we should focus on for our upcoming meeting on Tuesday.

[2016-02-22 11:36] acrymble commented on #188
I nominate:

Summer fellow strategy #172
Software carpentry link #143
~~Change to kramdown Markdown processor #185~~

Other ideas most welcome.

[2016-02-22 13:26] ianmilligan1 commented on #188
Agree on #172, #143, and #185. Let's also briefly touch base on #171 (editorial roles) to make sure everybody's happy, and I'd like to quickly chat about the Hypothesis annotations and thoughts re: it (#182).

[2016-02-22 17:28] wcaleb opened #189 "Create Issue and Pull Request templates"
A new feature that could be useful for us: https://github.com/blog/2111-issue-and-pull-request-templates

[2016-02-22 17:31] wcaleb commented on #188
I think @fredgibbs and I can report on the new submission workflow we've been testing over at https://github.com/programminghistorian/ph-submissions.

The newly added ability to [upload files to GitHub using the web browser](https://help.github.com/articles/adding-a-file-to-a-repository/) should make this workflow even easier (and also is something that could help our editorial process generally!)

[2016-02-23 07:38] acrymble opened #190 "Google Scholar indexing guidelines"
Google scholar seems to struggle to get our tutorials right. They can't make out the authors from the reviewers, and don't get the difference between the whole site and individual tutorials. We might want to consider digging into their guidelines for metadata and indexing to raise the potential impact and findability of our tutorials:  https://scholar.google.co.uk/intl/en/scholar/inclusion.html#ov

[2016-02-23 09:13] acrymble commented on #183
I've added these changes to the live lesson. Thanks for the suggestions.

[2016-02-23 09:13] #183 closed, assigned to acrymble

[2016-02-23 09:38] acrymble commented on #180
I have submitted this application. I suspect we will be told we need to do the following:

1) Provide 'permanent identifiers' at article level
2) Send them regular 'article level metadata' (maybe we can do this via rss?)
3) Answer this question: Which deposit policy directory does the journal have a registered deposit policy?

We'll know in about 6 months if we qualify. If not we can re apply. No

[2016-02-23 09:41] acrymble commented on #188
Our last months' agenda and minutes are available at #176

[2016-02-23 15:36] acrymble opened #191 "Beautiful Soup figure 7 - ln 314 broken"
Not appearing properly. Not sure why.

https://github.com/programminghistorian/jekyll/blob/gh-pages/lessons/intro-to-beautiful-soup.md

[2016-02-23 15:55] ianmilligan1 commented on #191
Hmm, I'm stumped as well.

[2016-02-23 16:17] #191 closed, assigned to nobody

[2016-02-23 16:42] wcaleb commented on #185
Does anyone know of a lesson that has a "table" in it? I'm looking for one to see how the switch to kramdown will affect table syntax.

[2016-02-23 16:44] acrymble commented on #185
Introduction to the Bash Command Line

On Tue, Feb 23, 2016 at 4:42 PM, W. Caleb McDaniel <notifications@github.com

[2016-02-23 16:54] wcaleb commented on #185
Thanks. Here's a rundown of how the change will affect us, as far as I can tell.

With redcarpet, we were using the `with_toc_data` extension; kramdown provides same functionality by default without an extension.

With redcarpet, we were using the `smart` extension to render smart quotes properly; it looks as though kramdown also does this by default.

With redcarpet, we were using the `superscrip

[2016-02-23 16:56] wcaleb commented on #185
I've done rough testing of the above changes on the [sample lesson](https://github.com/programminghistorian/ph-submissions/blob/gh-pages/lessons/sample-lesson.md) at our submissions repo.

[2016-02-23 17:07] acrymble commented on #188
Present: Adam Crymble, Miriam Posner, Allison Hegel, Fred Gibbs, Jeri Wieringa, Evan Taparata, Caleb McDaniel, Ian Milligan

Apologies: None

1) #185 Kramdown markdown - should be fine to switch. Caleb to go ahead
2) New Submission workflow explained by Caleb: http://programminghistorian.github.io/ph-submissions/ - Fred to revise submission docs and team to review.
3) #189 templates for issues - t

[2016-02-23 17:55] fredgibbs opened #192 "handling images"
revise documentation to have authors submit images for their lesson in a separate folder within the master images directory. we won't change any existing image organization for now, but we will begin doing this for new submissions.

[2016-02-23 18:23] acrymble opened #193 "Lesson categories suggestion"
Suggest new lesson categories to replace the current ones:
- Acquiring data
- Transforming data
- Analyzing Data
- Presenting Data
- Sustaining data

That way readers arriving at the lessons page can get a better mental picture of how the lessons fit with the various stages of the research workflow. Clearer than starting off with APIs, which most people won't know or why they'd want to learn it.

[2016-02-23 18:33] #188 closed, assigned to nobody

[2016-02-23 18:53] acrymble opened #194 "Intro to Zotero API - broken link"
Link to 'pip' https://pip.pypa.io/en/latest/ leads to broken link.

[2016-02-23 19:41] ahegel commented on #193
Trying to make a mock-up of the new page helped me figure out a few questions I have:
- By restructuring, we'll be breaking apart the current groupings of lessons by topic (e.g. lessons about Zotero) - should we provide ways of sorting the lessons into the old groupings, and/or by date, difficulty, etc.?
- Do all of the lessons neatly fit into these five categories? How will we make executive deci

[2016-02-23 20:50] #185 closed, assigned to wcaleb

[2016-02-23 20:55] wcaleb commented on #193
I like the mockup, @ahegel! We may be able to make the top menu look cleaner by hiding some of that text with javascript until clicked on.

I share the reservation about the categories being so "Data" centric. Not sure I have any really good alternative suggestions, though. "Source material" would be more recognizable to historians new to programming, but that might be too wordy. For some of the c

[2016-02-23 20:58] wcaleb commented on #192
When you make the instructions on naming the images, you may want to suggest shorter filenames. If the whole lesson slug is going to be the name of the directory, putting the lesson slug in the filename of the image again will make for really long, bulky `figure` syntax. (On the other hand, best practice in filenaming is usually to make them more descriptive than just `fig1`, `fig2`, etc., so that

[2016-02-23 20:59] wcaleb commented on #188
Was there any discussion on #182?

[2016-02-24 06:28] acrymble commented on #193
There's also the challenge of maintaining wide appeal. No matter what our
mission, most of our users are non-historians. I share the concern about
'data'.

On Tue, Feb 23, 2016 at 8:55 PM, W. Caleb McDaniel <notifications@github.com

[2016-02-24 13:20] ianmilligan1 commented on #193
If we were aiming solely at historians, I'd say "sources" - maybe "information" if more generally?

[2016-02-24 14:21] acrymble commented on #182
@amandavisconti are all these comments visible somewhere all in one place? Sorry there's been a lot of conversation in many different places, so I wasnt' sure.

[2016-02-24 14:23] acrymble commented on #193
Sources is the historian-ey way. Materials also might work. Or just 'digitally':

'Acquiring digitally', etc.

Maybe too abstract.

[2016-02-24 14:29] acrymble opened #195 "Lists rendering wrong on Intro to Markdown"
The list rendering cannot be right.

"This renders as: Shopping List ———- \* Fruits \* Apples \* Oranges \* Grapes \* Dairy \* Milk \* Cheese"

Surely it should be an HTML list. Is this a problem with the recent markdown change @wcaleb ?

[2016-02-24 14:53] acrymble commented on #195
Line 130: https://github.com/programminghistorian/jekyll/blob/gh-pages/lessons/getting-started-with-markdown.md

[2016-02-24 15:02] #195 closed, assigned to nobody

[2016-02-24 15:39] wcaleb commented on #193
"Digital Materials"? "Information" might work, too, a la "Geographic Information Systems."

[2016-02-24 16:29] acrymble opened #196 "Intro to Google maps fig1 and fig2 are the same"
http://programminghistorian.org/lessons/googlemaps-googleearth

Not sure why. Presumably a mistake.

[2016-02-24 16:33] acrymble commented on #196
Likewise, between Figure 10 and 11 is a blank figure. Presume it should be deleted.

[2016-02-24 17:09] amandavisconti commented on #182
@acrymble Not all of them currently, but many were tagged with "DHannotates" which lets them all appear here: [https://hypothes.is/stream.rss?tags=dhannotates](https://hypothes.is/stream.rss?tags=dhannotates). We could get them all by somehow combining the annotation feeds from every lesson URL; I'd be willing to set up one Google Spreadsheet that does pulls in all PH annotations via IFTTT, if it

[2016-02-24 18:17] ianmilligan1 commented on #193
I kinda like "Digital Materials."

[2016-02-24 20:09] acrymble commented on #193
maybe we should user test with our audience.

On Wed, Feb 24, 2016 at 6:17 PM, Ian Milligan notifications@github.com
wrote:

[2016-02-24 20:33] patrikpersson opened #197 "Feedback from student(s) of digital history in Umeå"
I think _The Programming Historian_ is beyond awesome. I really think more historians could find use for advanced computer tools and (basic-to-intermediate) programming skills, and your site seems to be the best there is in this regard. Congratulations on making a real contribution here.

This is a brief report from students taking [a course on Digital History](http://digitalhistorian.net/umedh201

[2016-02-24 21:50] ianmilligan1 commented on #197
Thanks so much for this, @patrikpersson! I think all on one issue is perfect. As one of the authors, once I have some free cycles (might be a bit of time) I really look forward to improving our lesson with this feedback in hand.

[2016-02-25 04:29] mdlincoln commented on #192
Suggestion from my experience writing the SPARQL tutorial: ditch naming figures sequentially (`fig1`, `fig2`), and have people name them semantically (`lod_graph`, `highlighted_lod_graph`). This would work well with having separate image directories for each lesson. This convention would allow images to be reordered during the review/editing process without laborious (and totally unnecessary, for

[2016-02-25 06:58] acrymble commented on #192
I've just had to go through all of the images, and most people are not
labelling them fig1, etc. In fact, a number of people named them
'Screenshot-2014-01-03etc.'. There are also a number of images in our image
folder that I don't think ended up in any lessons. None of that adheres to
our current guidelines.

On Thu, Feb 25, 2016 at 4:29 AM, Matthew Lincoln notifications@github.com
wrote:

[2016-02-25 08:31] acrymble commented on #182
Thanks. I think our general feeling in the editorial board is that we don't
want to lose these, but we are all feeling a bit stretched And can't keep
track of more than our own tickets on github. If someone was willing to
make tickets if these, perhaps by lesson, we would certainly appreciate it.
We know a lot of work went into this so we want that to translate into
change, but we may need a littl

[2016-02-25 08:34] acrymble commented on #188
Yes. I just followed up on the ticket.

On Tuesday, February 23, 2016, W. Caleb McDaniel notifications@github.com
wrote:

[2016-02-25 14:06] #196 closed, assigned to nobody

[2016-02-25 14:09] #194 closed, assigned to nobody

[2016-02-25 14:10] ianmilligan1 commented on #192
Having just fixed a few images, I must admit I liked when they were numbered like:

`geo1.png`
`geo2.png`
`geo3.png`

etc. as it helped me track down errors and tie files to Fig 1, Fig 2, Fig 3, etc.

[2016-02-25 14:12] ianmilligan1 commented on #190
Google has indexing guidelines [here](https://scholar.google.ca/intl/en/scholar/inclusion.html#indexing). Example:

[code]

A bit time consuming, but if we did so slow we could try to implement title, author, journal_title throughout each lesson? (and build into submissions)

[2016-02-25 14:13] wcaleb commented on #190
Not time-consuming at all: I can build this into the Jekyll template so it gets generated automatically.

[2016-02-25 14:13] ianmilligan1 commented on #189
This would be great. One idea could be on the pull request template to note, once we move over to our new submissions move w/ `ph-submissions`, to provide a link to our instructions for that. Just to avoid people using our old system once we migrate.

[2016-02-25 14:13] ianmilligan1 commented on #190
:+1:

[2016-02-25 14:18] wcaleb commented on #190
Actually, @mdlincoln already did this in [metadata include](https://github.com/programminghistorian/jekyll/blob/gh-pages/_includes/metadata.html). So I'm not really sure why it's not working.

[2016-02-25 14:32] ianmilligan1 commented on #190
Weird. Always ahead of the curve, @mdlincoln!The only difference I see between our headers like:

[code]

And above is the closing slash at `/>`.

[2016-02-25 14:43] wcaleb commented on #190
The fact that the meta tags were previously in the `body` of the lesson instead of the `head` could make a difference, but we'll have to wait a while to see if Google's spiders pick up the change. I don't think the closing slash should make a difference.

[2016-02-25 16:37] amandavisconti commented on #182
@acrymble I'm happy to make tickets for these by lesson, as suggested—and then anyone can claim them as interest/time allows. Thanks to you and the rest of the editorial board for all your work on this awesome resource!

[2016-02-26 09:54] acrymble opened #198 "Various markdown glitches"
http://programminghistorian.org/lessons/

see bottom of page, the python lessons have XML appearing within the list.

[2016-02-26 10:20] acrymble commented on #198
![screen shot 2016-02-26 at 10 20 39](https://cloud.githubusercontent.com/assets/646647/13349698/6e812e96-dc73-11e5-8257-7c31a2ab26fe.png)

Seems to be a wider markdown problem. See the links and images at the bottom of this lesson:

http://programminghistorian.org/lessons/mac-installation

[2016-02-26 10:40] acrymble opened #199 "downloading pip - broken link"
@fredgibbs I think the 'which you can download here' link in your pip lesson is outdated: https://raw.githubusercontent.com/pypa/pip/master/contrib/get-pip.py

The link points to a new address: https://bootstrap.pypa.io/get-pip.py

Are you happy that this is in fact the correct new link?

[2016-02-26 10:57] acrymble commented on #198
This seems to be something to do with links that were created like this:

`[Text to be linked][]`

...then at the bottom of the page...
`[Text to be linked]: link`

[2016-02-26 13:31] acrymble opened #200 "Outdated version of Git Bash in to Bash lesson"
Link at 'the mysgit featured downloads list' (https://github.com/msysgit/msysgit/releases/) warns:

PLEASE NOTE: Git for Windows 1.x is deprecated, superseded by Git for Windows 2.x.

This is in big bold letters so MUST ber serious!

Line 33: https://github.com/programminghistorian/jekyll/edit/gh-pages/lessons/intro-to-bash.md

[2016-02-26 13:32] acrymble commented on #200
@drjwbaker and @ianmilligan1 is this important?

[2016-02-26 13:33] drjwbaker commented on #200
@acrymble  I don't think it makes a difference. Just that you need to click through all the alarming warnings to this https://git-for-windows.github.io/ (which I appreciate for a beginner may be off-putting).
For info, I ran a doctoral training workshop where I pointed the attendees at the lesson to find the right software to install for learning Bash. They found it fine in spite of all the warnin

[2016-02-26 14:01] acrymble commented on #198
Also with h4 'conclusion' heading in: http://programminghistorian.org/lessons/research-data-with-unix

Shows up as:

`####Conclusion`

[2016-02-26 14:21] acrymble commented on #198
Similar for h2 heading in http://programminghistorian.org/lessons/extracting-keywords on line 1.

Seems random.

[2016-02-26 14:50] acrymble commented on #198
Seems to be affecting whole lessons but in inconsistent ways. For example: http://programminghistorian.org/lessons/understanding-regular-expressions

The images aren't appearing, but the links are fine.

[2016-02-26 14:59] wcaleb commented on #198
The Understanding Regular Expressions lesson has a larger problem in that it looks like the images were never converted into our house syntax for figures; so those need to be fixed.

The problem with the reference links on the other page was that the link definitions were indented by tabs instead of by spaces; if you see that problem again, that may be the solution.

The headers you found were bro

[2016-02-26 14:59] #198 closed, assigned to nobody

[2016-02-26 15:00] wcaleb opened #201 "Convert images to figures in Understanding Reg Expressions"
The images aren't showing up currently, and they all need to be converted to our "figure" syntax.

[2016-02-26 15:00] wcaleb commented on #201
Originally mentioned in #198

[2016-02-26 15:02] wcaleb opened #202 "Fix div parsing on lessons directory"
The switch to Kramdown has broken some of the `div` blocks on our lessons directory page, specifically at the bottom with the original Python lessons. Need to look at the spec for [HTML spans](http://kramdown.gettalong.org/syntax.html#html-spans) to see what's what. See #198 for original issue.

[2016-02-26 15:10] acrymble opened #203 "Broken Link in regex lesson"
404 error link to http://www.pythonregex.com/

in http://programminghistorian.org/lessons/cleaning-ocrd-text-with-regular-expressions

[2016-02-26 15:22] #202 closed, assigned to nobody

[2016-02-26 15:24] wcaleb commented on #190
Closing this for now because I don't think there's anything else we can do but wait to see if these changes make a difference.

[2016-02-26 15:24] #190 closed, assigned to nobody

[2016-02-26 15:39] acrymble commented on #190
I suspect #193 and the addition of more metadata to the lessons page will help too. They're using algorithms that look for things that are structured like journals, so we'll have to adopt bits and pieces of the genre's design.

[2016-02-26 16:24] ianmilligan1 commented on #200
Hmm, should we change the link so it's a direct one to https://git-for-windows.github.io/?

[2016-02-26 16:54] drjwbaker commented on #200
Probably.

[2016-02-26 16:55] drjwbaker commented on #200
(though given that the Git page flags the depreciation and redirect it _may_ prove more sustainable than https://git-for-windows.github.io/)

[2016-02-26 17:35] fredgibbs commented on #193
I think this is a really important issue, actually--way more than semantics. I'd like to think about this more and put it on the agenda for next call. We could also just "gathering", "organizing", "analyzing", etc. as intransitives in order to foreground the emphasis on stage in the research process rather than "data" vs "sources" vs etc. Awesome work @ahegel!

[2016-02-26 17:37] fredgibbs commented on #199
yes, as far as i can tell, the bootstrap link is the best one and replicates the functionality of the previous link.

[2016-02-26 18:19] acrymble opened #204 "Antconc - broken link to read me file"
The link here leads to a 404 error:

`For those interested in the statistical details, see the section on keyness on p7 of Laurence Anthony’s readme file (http: www.antlab.sci.waseda.ac.jp="" software="" antconc335="" antconc_readme.pdf="").`

In http://programminghistorian.org/lessons/corpus-analysis-with-antconc

[2016-02-26 18:27] acrymble opened #205 "Network Analysis - broken link"
Link to author's own thesis description (on his own website no less!) has broken:

http://programminghistorian.org/lessons/creating-network-diagrams-from-historical-sources

Link goes to:
http://martenduering.com/covert-support-networks-phd

@mduering is this somewhere else now? Can we get a fix?

[2016-02-26 18:37] mduering commented on #205
Hi Adam,

thanks for letting me know. Fixed it,

Best,

Marten

[2016-02-26 18:43] #205 closed, assigned to nobody

[2016-02-26 19:26] acrymble opened #207 "Tutorial by Jonathan Reeve not in Lessons directory"
This is linked in @miriamposner Omeka lesson, but doesn't appear elsewhere:

http://programminghistorian.org/lessons/installing-omeka.html

@wcaleb you are listed in the history. Is this supposed to be live?

[2016-02-26 19:29] wcaleb commented on #207
Egads! I actually don't know; it looks like all I did was fix a syntax problem that was probably interfering with page build. But it certainly _seems_ like it should be live and listed!

[2016-02-26 19:30] acrymble commented on #207
Who was the editor? There are no reviewers listed.

On Fri, Feb 26, 2016 at 7:29 PM, W. Caleb McDaniel <notifications@github.com

[2016-02-26 19:35] acrymble opened #208 "Image codes need updating on Omeka.net lesson"
http://programminghistorian.org/lessons/up-and-running-with-omeka

These codes are outdated and the majority of images aren't showing. Related to our change of markdown format.

[2016-02-26 19:43] acrymble opened #209 "Image codes need updating on Omeka exhibit lesson"
Same as #208. The markdown image codes are outdated and now not displaying properly.

http://programminghistorian.org/lessons/creating-an-omeka-exhibit

[2016-02-26 19:49] acrymble opened #210 "Google Maps Engine Lite deprecated and deleted"
This affects the Intro to Google Maps and Google Earth lesson: http://programminghistorian.org/lessons/googlemaps-googleearth

The text at the link: https://mapsengine.google.com/about/index.html

Google Maps Engine has been discontinued. We want to thank all our loyal Google Maps Engine customers.

Sincerely,

The Google Maps Engine team
Frequently-asked questions

[code]

---

This looks like a

[2016-02-26 19:56] acrymble opened #211 "Datafiles and Links for Google Maps lesson broken"
This was kept in Drop box (bad idea) and is no longer downloadable: https://www.dropbox.com/s/7xv11vd7dz2afud/UK%20Global%20Fat%20Supply%201894-1896%20-%20Sheet1.csv

I think we may need to deprecate this unless it can be fixed by the authors.

Affects: http://programminghistorian.org/lessons/googlemaps-googleearth

[2016-02-26 20:02] acrymble opened #212 "Link to Dan Macfarlane's data broken"
Affects: http://programminghistorian.org/lessons/googlemaps-googleearth

`(You can also download and explore Dan Macfarlane’s Seaway map for this part of the exercise).`

Link refers to 'Seaway map'.

https://www.google.com/maps/d/kml?mid=zLGDOilNtMgo.kTGA5fuMJTds&ie=UTF8&hl=en&t=h&source=embed&authuser=0&msa=0&output=kml

[2016-02-26 20:02] #208 closed, assigned to nobody

[2016-02-26 20:05] acrymble commented on #211
Affects: http://programminghistorian.org/lessons/googlemaps-googleearth

(You can also download and explore Dan Macfarlane’s Seaway map for this part of the exercise).

Link refers to 'Seaway map'.

https://www.google.com/maps/d/kml?mid=zLGDOilNtMgo.kTGA5fuMJTds&ie=UTF8&hl=en&t=h&source=embed&authuser=0&msa=0&output=kml

#212 brought over here, as these are the same type of issue.

[2016-02-26 20:05] acrymble commented on #212
Merged with #211

[2016-02-26 20:05] #212 closed, assigned to nobody

[2016-02-26 20:05] acrymble commented on #211
Related: Link to 'Mobile Mapping an dHistorical GIS in the Field' is also broken.

[2016-02-26 20:12] #209 closed, assigned to nobody

[2016-02-26 20:19] #201 closed, assigned to nobody

[2016-02-26 20:21] acrymble opened #213 "Asset link broken on QGIS lesson"
Affects: http://programminghistorian.org/lessons/qgis-layers

`The following Link isn't displaying properly: download: ‘[PEI_CumminsMap1927.tif][]’ to your project folder.`

Works fine on Github, but not on main site.

[2016-02-26 20:22] wcaleb commented on #201
@acrymble Might want to follow up with the author on this one to make sure the images and captions still match.

[2016-02-26 20:24] acrymble opened #214 "Deprecation method needed"
We need a way to flag up lessons that are currently broken (or perhaps permanently broken). I think it's important that we keep lessons available forever (whatever that means) because we don't want to break links and the good will that comes with it. But some way of letting readers know is important too.

Maybe a standard boilerplate warning at the top of the lesson, and tinting the icon red on th

[2016-02-26 20:26] acrymble commented on #213
Related, affects the following lesson: http://programminghistorian.org/lessons/vector-layers-qgis

`Start by downloading the PEI_Holland map to the project folder:`

[2016-02-26 20:28] wcaleb commented on #214
We have such a method implemented already. Add `deprecated: true` to the YAML metadata on a lesson, and a red banner at the top reads "This is an old lesson that is no longer being actively maintained." Right now all of the lessons of this kind are in a separate folder called `deprecated` in the lessons directory, but that's not required for it to work.

[2016-02-26 20:32] acrymble commented on #214
Thanks. I've added the flag to http://programminghistorian.org/lessons/googlemaps-googleearth

Until we can get a chance to fix it.

[2016-02-26 20:32] #214 closed, assigned to nobody

[2016-02-26 20:34] #213 closed, assigned to nobody

[2016-02-26 20:34] acrymble commented on #214
Hasn't shown up yet with a banner, but maybe needs to wait for cache to clear. No need to panic yet :)