[2022-01-20 11:09] vidhyav656 commented on #2466
@acrymble @anisa-hawes Thank you so much.

[2022-01-20 11:09] #2466 closed, assigned to nobody

[2022-01-20 11:15] #2463 closed, assigned to anisa-hawes

[2022-01-27 09:57] acrymble commented on #1981
@hawc2 can you please update us on this? We've been trying to get support from the tech team on this matter for more than a year now. It's really frustrating to have to keep asking.

[2022-01-27 12:14] hawc2 commented on #1981
I never received any follow up information. Happy to help how I can but not
yet sure what needs to be done. I assumed there are  passwords or other
access info I would need to move anything forward

On Thu, Jan 27, 2022, 4:57 AM Adam Crymble ***@***.***> wrote:

[2022-01-27 13:24] acrymble commented on #1981
@hawc2 the problem is with the DNS settings for our Programminghistorian.org domain. Our previous Tech Lead attached these to his personal account and then left the team. It was never then transferred by the new tech team to an account we actively control which is not only a matter of security, but also prevents us from setting up programming historian emails (#2148) for our members of staff, who

[2022-01-27 13:38] ZoeLeBlanc commented on #1981
Hi @acrymble feel free to just tag me here since I'm the one it sounds like you're annoyed with. Unfortunately I have a full time job and the onboarding to be tech team lead was pretty steep so this fell between the cracks. Absolutely mea culpa and I do apologize, but also want to be sure that you know the team isn't purposefully ignoring this, but instead dealing with many other time consuming is

[2022-01-27 17:31] anisa-hawes opened #2468 "Onboarding tasks: new editors joining our English team"
I am updating our Authors (ph_authors.yml) + Avatars (avatars) files because a group of new editors are joining our English team.

[2022-01-27 18:18] #2468 closed, assigned to anisa-hawes

[2022-01-30 02:38] svmelton opened #2470 "Onboarding Checklist for English Language Publication Editor: Scott Kleinman"
This is an individual onboarding Editor checklist for Scott Kleinman (@scottkleinman). Welcome, Scott!

## Welcome

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put together this information to help you get up to speed. It includes details of what we will do and

[2022-01-30 02:38] svmelton opened #2471 "Onboarding Checklist for English Language Publication Editor: Liz Fischer"
This is an individual onboarding Editor checklist for Liz Fischer (@lizfischer). Welcome, Liz!

## Welcome

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put together this information to help you get up to speed. It includes details of what we will do and a check

[2022-01-30 02:40] svmelton opened #2472 "Onboarding Checklist for English Language Publication Editor: Rolando Rodríguez"
This is an individual onboarding Editor checklist for Rolando Rodríguez (@rolrodr). Welcome, Rolando!

## Welcome

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put together this information to help you get up to speed. It includes details of what we will do and

[2022-01-30 02:41] svmelton opened #2473 "Onboarding Checklist for English Language Publication Editor: John Ladd"
This is an individual onboarding Editor checklist for John Ladd (@jrladd). Welcome, John!

## Welcome

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put together this information to help you get up to speed. It includes details of what we will do and a checklist

[2022-01-30 02:43] svmelton opened #2474 "Onboarding Checklist for English Language Publication Editor: Yann Ryan"
This is an individual onboarding Editor checklist for Yann Ryan (@yann-ryan). Welcome, Yann!

## Welcome

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put together this information to help you get up to speed. It includes details of what we will do and a checkli

[2022-01-30 02:45] svmelton opened #2475 "Onboarding Checklist for English Language Publication Editor: Giulia Taurino"
This is an individual onboarding Editor checklist for Giulia Taurino (@giuliataurino). Welcome, Giulia!

## Welcome

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put together this information to help you get up to speed. It includes details of what we will do an

[2022-01-30 03:30] svmelton opened #2477 "Add info box about new version of AntConc"
Heather Froehlich, the author of [Corpus Analysis with Antconc](https://programminghistorian.org/en/lessons/corpus-analysis-with-antconc), wrote to let us know that there has been a significant update to the software. She asked if we could include an info box letting readers know that this tutorial is still functional but relies on an older version of the software that may not look like the most r

[2022-01-30 15:59] ZoeLeBlanc commented on #1981
Alrighty looks like I'll be meeting this week with GMU person to have our domain pointing towards Github servers. After that we should no longer need cloudflare since we'll be able to use Github to enforce HTTPS.

There is a separate issue of custom emails. Since we were never hosting our site with cloudflare, we could never use them for email hosting regardless, and while we could use them for em

[2022-01-30 16:11] svmelton commented on #2475
Hi @JoshuaGOB! Giulia's email is giulia.taurino89@gmail.com.

[2022-01-30 16:11] svmelton commented on #2474
Hi @JoshuaGOB! Yann's email is yann.ryan@gmail.com.

[2022-01-30 16:11] svmelton commented on #2473
Hi @JoshuaGOB! John's email is johnrobertladd@gmail.com.

[2022-01-30 16:12] svmelton commented on #2472
Hi @JoshuaGOB! Rolando's email is rol.o.rodr@gmail.com.

[2022-01-30 16:12] svmelton commented on #2471
Hi @JoshuaGOB! Liz's email is lizzy.m.fischer@gmail.com.

[2022-01-30 16:13] svmelton commented on #2470
Hi @JoshuaGOB! Scott's email is scottkleinman@gmail.com.

[2022-01-31 02:30] scottkleinman commented on #2470
Checked off the privileges and responsibilities item.

[2022-02-01 09:08] acrymble commented on #1981
Thanks @ZoeLeBlanc. I think we should move the domain to our own control, as this is obviously just extra complexity we don't need (in order to save $10 per year, which we readily have).

[2022-02-01 09:21] drjwbaker commented on #1981
Thanks for the proposal Zoe. I agree with @acrymble: we should heartily thank GMU for their support over the years, but given the potential admin involved as we grow, move to our own domain, with credentials linked to the shared gmail. I can support the billing side of this.

[2022-02-01 09:37] acrymble commented on #2477
@svmelton you could assign this to @anisa-hawes as it's a lesson maintenance task.

[2022-02-01 12:30] anisa-hawes commented on #2477
Closed by PR #2476.
Closing phrase did not close this issue.

[2022-02-01 12:30] #2477 closed, assigned to anisa-hawes

[2022-02-02 06:50] scottkleinman commented on #2470
Checked off author, reviewer, and translator guidelines item.

[2022-02-02 14:18] anisa-hawes opened #2478 "Board of Trustees Meeting: 18 February 2022"
Board of Trustees Meeting: 18 February 2022

Date: **18 February 2022** Thank you for filling in your availability in our [this Doodle Poll](https://doodle.com/poll/m3axbagxerhvcrhg)
Time: **14:00 UTC**

Zoom link: https://ucl.zoom.us/j/96056624496

Chair: @acrymble
Secretary: @anisa-hawes
Members: @drjwbaker @svmelton @spapastamkou @amsichani @rivaquiroga
Minutes of the last meeting: [10-2021/BoT

[2022-02-02 15:42] anisa-hawes opened #2479 "Onboarding tasks: new editors joining our English team"
I am updating our Authors (ph_authors.yml) _ Avatars (avatars) file because a group of new editors are joining our English team.

[2022-02-02 16:54] anisa-hawes commented on #2479
Test only -- This PR was generated for the purpose of creating screenshots for a how-to guide.

[2022-02-02 16:54] #2479 closed, assigned to anisa-hawes

[2022-02-02 17:29] ZoeLeBlanc commented on #1981
Awesome! Thanks for the input @acrymble and @drjwbaker ! Strongly agree this is the correct way to move forward, so going to follow up with GMU (still haven't heard back) and see if we can just transfer it to a new domain service. Does anyone @programminghistorian/technical-team have a favorite service they use? We won't be hosting at all or needing SSL or HTTPS, so it seems like all of them are p

[2022-02-02 17:32] drjwbaker commented on #1981
Re choices, I have a preference for something with many different payment options. If you recall, I pay for netlify out of my personal account, and then get the money back from the Ltd, because netlify has restricted options.

[2022-02-02 17:34] ZoeLeBlanc commented on #1981
Ohh can you say more about what you mean by different payment options? I'm thinking this might be a good option since we want to use google email https://domains.google/, but I realize I don't know if this would present issues with paying from the UK or not 🤔

[2022-02-02 17:38] hawc2 commented on #1981
Have you all looked into Google Workspace for nonprofits?: https://www.google.com/nonprofits/offerings/workspace/

[2022-02-02 17:41] anisa-hawes opened #2481 "Onboarding tasks: new editors joining our English team"
I am updating our Authors (ph_authors.yml) _ Avatars (avatars) file because a group of new editors are joining our English team.

[2022-02-02 17:48] ZoeLeBlanc commented on #1981
Thanks @hawc2 ! I believe that was the desired outcome from #2148 so part of why I recommended domains.goggle 😊 . Have you used it before or google workspaces?

[2022-02-02 17:59] anisa-hawes commented on #2481
Please edit the following as necessary. Follow this format:

[code]

[2022-02-02 18:06] hawc2 commented on #1981
I tried to get access to Google Workspace discounts for non-profits for the
Philly Community Wireless project but since we aren't a technically a
nonprofit (we have a fiscal sponsor), we couldn't get the discount. We were
able to get access to Tech Soup discounts, which are also worth looking
into. Applying for the Google Workspace discount doesn't take long, they
pretty quickly help you figure ou

[2022-02-03 08:48] acrymble opened #2483 "assets still on submissions repo - stylometry lesson"
The .zip file in the https://programminghistorian.org/en/lessons/introduction-to-stylometry-with-python lesson under 'The Dataset' is still linked to the submissions repo rather than the live site. This is obviously a mistake and the data needs to be moved and the link updated.

Relevant sentence:

"To work through this lesson, you will need to download and unzip the archive of the Federalist Pape

[2022-02-03 09:06] acrymble commented on #2483
I've had a second error in the same lesson and couldn't finish it. Using Python 3 on a mac.

The code block:
[code]
I'm getting a syntax error:

[Update: Sorry the error I included was the wrong message. It was a syntax error not a file not found error]

I can make the syntax error go away by removing the first 'f' but that doesn't make the code work.

[2022-02-03 10:51] anisa-hawes commented on #2483
Thank you, @acrymble. I'll look into this.

[2022-02-03 16:37] briancroxall opened #2484 "Typo in "Intro to Bash""
There is currently a typo in the [Intro to Bash](https://programminghistorian.org/en/lessons/intro-to-bash) lesson. Under `Interacting with Files`, the second paragraph begins as follows:

It should probably be changed to

[2022-02-03 17:25] anisa-hawes commented on #1981
Hello all. I've just been reading the notes at <https://www.google.com/nonprofits/eligibility/>. It sounds as though we would meet the requirements. Do you want me to see if I can get started with the request?

[2022-02-03 17:35] anisa-hawes commented on #2484
Thank you for letting us know, @briancroxall! I'll take care of correcting this.

[2022-02-03 18:00] anisa-hawes commented on #2483
The .zip asset has been uploaded to Jekyll already. I'll update the link so that it points to /gh-pages/assets/ when I've tested this and worked out what needs to be adjusted here ^^

[2022-02-03 18:13] drjwbaker commented on #1981
Especially if we can use the shared gmail we have, merging this with that.

[2022-02-03 18:14] drjwbaker commented on #1981
(on payments options, should we need it, ideally we'd pay an invoice or via paypal rather than, say, putting in the details on a bank card, because we don't have a bank card, just a bank account)

[2022-02-03 18:31] acrymble commented on #1981
@drjwbaker is it easier for you to pick one that suits your payment needs? That might be faster. I assume they're all generic at this stage?

[2022-02-03 19:24] #2484 closed, assigned to anisa-hawes

[2022-02-04 08:29] drjwbaker commented on #1981
Thanks for thinking of me @acrymble. It would merely.y be good to see options (if we can't get the Google non-profit thing) from which I can advise on what would be easier for the Ltd (which won't take a minute to investigate). The admin should be able to adjust to fit, I just would rather not have another netlify situation.

[2022-02-04 13:36] anisa-hawes commented on #2483
I have attempted to work through these steps several times, but I am encountering multiple syntax errors. I am a Python novice (so it may be that my mistakes are due to lack of contextual knowledge here) but I'm stuck.

I wonder if someone with more Python3 experience may be able to advise. @jairomelo do you have scope to take a look?

[2022-02-06 20:39] #2481 closed, assigned to anisa-hawes

[2022-02-09 14:34] anisa-hawes opened #2486 "Project Team Meeting: Friday 11th March 2022"
Minutes of our December meeting are available [here](https://github.com/programminghistorian/project-and-business-archive/blob/master/project/Meetings/2021/12_2021_ProjectTeamMeeting.md).

Date: Friday 11th March
Thank you for filling in your availability via the [Doodle Poll](https://doodle.com/poll/ufn9aykpchvk9w9m?utm_source=poll&utm_medium=link)

Time: [08:00 COT / 13:00 UTC](https://www.timea

[2022-02-09 14:42] anisa-hawes opened #2487 "Adding a new Individual Supporter"
Simon Mahony is our newest Individual Supporter! (Patron tier)
I am adding his name to our lists on these pages: en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores

I will also follow up with a celebratory Tweet!

[2022-02-09 15:27] #2487 closed, assigned to anisa-hawes

[2022-02-09 16:03] anisa-hawes opened #2489 "Adding a link to History of the Project section of en/about, es/acerca-de, fr/apropos, pt/sobre"
Following an idea @nabsiddiqui raised on our "general" Slack channel recently –that William J. Turkel's original blog post about his intention to create _Programming Historian_ would be of interest our team and broader community– @drjwbaker suggested we add the following link [<http://digitalhistoryhacks.blogspot.com/2008/01/programming-historian.html>] to the [History of the Project](https://prog

[2022-02-09 16:11] anisa-hawes commented on #2489
*I am aware that there are two other suggestions for updates to the en/about, es/acerca-de, fr/apropos, pt/sobre within Issue  #2442 and would like to suggest that we combine these in one PR.

- [x] add link to Turkel's blog
- [x] add Awards section
- [x] replace "Gold" with "Diamond" in relation to our publishing model (linking to [<https://doi.org/10.6084/m9.figshare.6900566.v1>]

[2022-02-10 11:04] anisa-hawes opened #2490 "Adding a new IPP"
The UK National Archives have joined us as an IPP!

I'm adding them to our lists on these pages: en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores.

Will celebrate on Twitter later today too!

[2022-02-10 12:06] acrymble commented on #1981
@anisa-hawes can you try to sign us up for the Google nonprofit thing and let us know where any snags occur?

@ZoeLeBlanc is the cloudflare matter now resolved? If so can you please update this page with the new info: https://github.com/programminghistorian/jekyll/wiki/Service-Integrations#cloudflare

[2022-02-10 12:09] #2160 closed, assigned to drjwbaker

[2022-02-10 12:30] anisa-hawes commented on #2472
Hello @RolRodr,

Have you had a chance to read the [author, reviewer and translator guidelines](https://programminghistorian.org/en/contribute) pages of our website + the [Privileges and Responsibilities of Membership page of our Wiki](https://github.com/programminghistorian/jekyll/wiki/Privileges-and-Responsibilities-of-Membership)? Check these items off the list in Sarah's comment (above) when y

[2022-02-10 12:31] anisa-hawes commented on #2474
Hello @yann-ryan,

Have you had a chance to read the [author, reviewer and translator guidelines](https://programminghistorian.org/en/contribute) pages of our website + the [Privileges and Responsibilities of Membership page of our Wiki](https://github.com/programminghistorian/jekyll/wiki/Privileges-and-Responsibilities-of-Membership)? Check these items off the list in Sarah's comment (above) when

[2022-02-10 12:51] anisa-hawes commented on #2442
Do we already have list of the awards _Programming Historian_ has won in the past?

I know of the following:

**2021**
- [Coko Foundation's Open Publishing Award](https://openpublishingawards.org/results/2021/index.html) (Open Content category)

**2020**
- [Canadian Social Knowledge Institute's Open Scholarship Award](https://etcl.uvic.ca/events-activities/open-scholarship-awards/)

**2018**
- ‘[T

[2022-02-10 12:53] drjwbaker commented on #2442
‘[The Programming Historian en español](https://programminghistorian.org/es/)’, Winner of "Mejor iniciativa formativa desarrollada durante el año 2018", [Humanidades Digitales Hispánicas Association](http://humanidadesdigitaleshispanicas.es/).

[2022-02-10 14:38] #2490 closed, assigned to anisa-hawes

[2022-02-10 14:42] acrymble commented on #2442
2021, Open Publishing Award, Coko Foundation
2020, Open Scholarship Award, Canadian Social Knowledge Institute

[2022-02-10 14:55] anisa-hawes opened #2492 "Setting up Google Workspace for Nonprofits"
Following discussions arising from #1981, we have taken the first steps towards setting up a Google Workspace for Nonprofits.

It seems sensible to open a separate Issue, as this represents a distinct task.

An initial part of the set up involves verification with Tech Soup / Charity Digital. We've hit an obstacle here, because the Charity Commission's Database (linked from Charity Digital) is cur

[2022-02-10 15:41] drjwbaker commented on #2492
Is https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/5181272/charity-overview not sufficient?

[2022-02-10 15:51] acrymble commented on #2492
@drjwbaker it's an issue with the Charity Digital website not working.

[2022-02-10 16:19] RolRodr commented on #2472
Hi @anisa-hawes ,

I totally forgot to check them off. Thank you for your reminder!

Kind Regards,
Rolando

[2022-02-10 16:30] anisa-hawes commented on #2472
Super! Thank you, @RolRodr!

[2022-02-10 16:45] acrymble commented on #2492
@drjwbaker I got in but they need us to provide:

Can you tell me which document in the business archive is most appropriate? This is a verification thing.

[2022-02-10 17:10] drjwbaker commented on #2492
Thus far we've only filled accounts for 2019-2020, which are here https://find-and-update.company-information.service.gov.uk/company/12192946/filing-history (entry for 02 Mar 2021)

[2022-02-10 17:32] acrymble commented on #2492
@anisa-hawes we should get email confirmation when they check our documents. Then we can get the TechSoup validation token we need to proceed with registration at Google.

[2022-02-10 17:43] anisa-hawes commented on #2235
Apologies for my delay in following up on this Issue.

Many of you will have noticed that [I recently re-organised](https://github.com/programminghistorian/ph-submissions/pull/453) the EN file directories within ph-submissions in collaboration with @svmelton and @hawc2.

As discussed above, we knew these changes would break links to live Lesson Previews, so my first task after merging was to
updat

[2022-02-10 18:24] anisa-hawes commented on #2330
Hello @hawc2. I am taking the decision to close this Issue.

It seems to combine so many aspects and complexities! My sense is that it is most effective to focus upon one thing at a time, considering each Issue as one distinct task.

Significant progress has been made in terms of re-organising the EN repo, and re-drafting the EN editorial guidelines. In the coming weeks and months, we'll be able t

[2022-02-10 18:24] #2330 closed, assigned to nobody

[2022-02-10 18:26] hawc2 commented on #2330
Makes sense to me. It will be an iterative process from here, including
revising documents like guidelines for translators. But you've done the
majority of the work, and it will continue to be a living document we
update over time

On Thu, 10 Feb 2022 at 13:24, Anisa Hawes ***@***.***> wrote:

--

*Alex Wermer-Colan, PhD *

*Digital Scholarship Coordinator*

*Temple University, Scholars Studio*

[2022-02-10 19:27] anisa-hawes commented on #2442
Hello @jenniferisasi. I've created [a new branch](https://github.com/programminghistorian/jekyll/tree/Issue-2489-and-2442) containing a draft Awards section within en/about.md.

Do you have time to review the wording and check you're happy with this approach?

You'll see that I've also made the following changes:
- replaced "Gold" with "Diamond" in relation to our publishing model
- adapted the Hi

[2022-02-11 14:54] yann-ryan commented on #2474
Thanks Anisa - sorry for the delay, I've read and checked these now!

Best,

Yann.

[2022-02-11 15:24] anisa-hawes commented on #2474
Great! Thank you, @yann-ryan!

[2022-02-11 16:08] anisa-hawes commented on #2486
Sincere apologies for any confusion I have caused with the timing of this meeting.

I didn't notice that the Doodle system had located my time-zone incorrectly. Having spoken with colleagues, I realise that the Poll options given were one hour earlier than I'd advertised in this Issue.

So, to be consistent with the Poll options which _I believe you saw_: will meet at [**08:00 Columbia Time**](htt

[2022-02-11 19:20] anisa-hawes opened #2494 "Agreeing our meetings calendar: 2022"
Hello all,

I would like to propose that we agree our meetings calendar in advance for 2022. From my point of view, this would help to reduce administration and Doodle Polling. Meanwhile, my hope is that this would also offer you greater clarity when forward planning alongside your other commitments. My hope is to make the scheduling simpler and more transparent. Please remember, there is no expec

[2022-02-11 20:33] jenniferisasi commented on #2486
@anisa-hawes I don't think anyone has ever set-up these meetings without mistaking time-zones (+ daylight savings different changes) at least once haha so no worries.

For this particular meeting, set at 8AM Colombia, I can certainly be there 8AM too and maybe everyone in the US East Coast can... but it would be asking some others to be on Zoom at 7AM (ie Zoe) to 5AM (ie Scott). Maybe it's OK this

[2022-02-12 02:56] svmelton commented on #2475
Just a note that it looks like Giulia is the only one missing on the Google group @JoshuaGOB. Thanks!

[2022-02-12 04:04] JoshuaGOB commented on #2475
Sorry for the oversite @svmelton and @giuliataurino. I must have closed the tab between the human verification and the additional "add member" button pressing. Welcome @giuliataurino!

[2022-02-13 16:50] anisa-hawes commented on #2486
Thank you, @jenniferisasi. [Going forwards](https://github.com/programminghistorian/jekyll/issues/2494), I have proposed that all our Project Team Meetings start at 15:00 UTC, but I would be happy to re-think this if we collectively feel a later slot is more convenient for a greater proportion of our members.

I can re-schedule this particular meeting if there are people who are particularly keen

[2022-02-13 21:39] ZoeLeBlanc commented on #1981
@acrymble still waiting for GMU to transfer the domain to us so until that happens cloudflare, emails, etc... will be waiting. Just FYI when we do transfer the domain there may be some time while the site is down (though I'm hoping to avoid it or at most be an hour or so). We are going to not only be changing our hosting but also updating our Github servers so might just take awhile for everything

[2022-02-13 23:14] jenniferisasi commented on #1981
@ZoeLeBlanc I am going to keep an eye for this. Whenever it happens if you ping me on Slack either @anisa-hawes or I can tweet about the page being down for a bit.

[2022-02-14 17:00] drjwbaker commented on #2494
Thanks @anisa-hawes. We've resisted before because of not knowing timetables for things like teaching until nearer term, but I much prefer this than doodling each time to find I can't make it anyway. Three thoughts:

- I propose moving the ProgHist BoD from August to July.
- Will you (or someone else) create calendar invites for all these? (and/or put them on the shared gmail calendar?) I just kno

[2022-02-14 17:41] anisa-hawes commented on #2494
Thank you, @drjwbaker. These are very useful points!

- I've adjusted the August BoT Meeting date (above), suggesting this on 15th July instead.
- Yes. Maybe someone could work with me/grant me temp access so that we can send initial invites from the shared Gmail? Going forward to when I have my PH email set up, I'll be able to create a shared calendar, send meeting invites, and host the calls (I

[2022-02-16 11:41] JoergRuebesamen opened #2496 "Suggestion on Creating Web APIs with Python and Flask"
If you are reporting a problem with a lesson, please try to provide us with the following information:

- The full title of the lesson:
https://programminghistorian.org/en/lessons/creating-apis-with-python-and-flask
- The system you are using (Mac, Linux, Windows): Windows - but that does not matter
- Version numbers of the relevant software you are using - Python 3.10 - but that does not matter,

[2022-02-16 15:08] anisa-hawes commented on #2402
Happy news: our Patreon community continues to grow! Yesterday we welcomed our second new Apprentice-level supporter this year.

I noticed that two others' subscriptions expire at the beginning of next month, and I'd like to ask if we have written to Patreons in the past to encourage them to renew in the same way as we do for IPPs? I could adjust the email we sent to several organisations recently

[2022-02-16 16:41] anisa-hawes commented on #2486
Dear all,

Thank you for filling in your availability via the [Doodle Poll](https://doodle.com/poll/ufn9aykpchvk9w9m?utm_source=poll&utm_medium=link)

We'll meet on **Friday 11th March [at 08:00 COT / 13:00 UTC](https://www.timeanddate.com/worldclock/converter.html?iso=20220311T130000&p1=41&p2=1440)**

[2022-02-17 13:57] jenniferisasi commented on #2402
Great news!

Although all this is more of @acrymble’s purview, I think it’s a good idea to reach out to them via email.

[2022-02-17 14:02] JoergRuebesamen commented on #2496
I took the time to jump even a little deeper into the code and think that the factory method is not needed or used but called, tough. At least I removed the invocation and did not notice a difference.
I took the explanation from the text, that dictonaries get better jsonized than lists, but in this case it seems to work quite well. Anyway, I'll keept that in mind for later, but omitting that metho

[2022-02-17 14:11] drjwbaker commented on #2494
Belatedly, many thanks. On the second point, we seem to be getting closer to resolving your email issue, so can be park this and return to it (if not resolved) after the March meetings?

[2022-02-17 17:33] jairomelo commented on #2483
Sorry, I just saw the message 😬

Error is in this line:

`with open(f'data/federalist_{filename}.txt') as f:`

You have to specify if you want reading the file ("r") or writing it ("w"). Quickly solution (without testing) could be:

[code]

[2022-02-17 19:54] #2471 closed, assigned to svmelton, ZoeLeBlanc, JoshuaGOB, anisa-hawes

[2022-02-17 19:55] #2470 closed, assigned to svmelton, ZoeLeBlanc, JoshuaGOB, anisa-hawes

[2022-02-17 19:56] #2473 closed, assigned to svmelton, ZoeLeBlanc, JoshuaGOB, anisa-hawes

[2022-02-18 11:04] anisa-hawes commented on #2402
Thank you, @jenniferisasi! I'll chat with Adam about the specifics, and prepare an email.

Update: Now we welcome our *third* new Patreon member!

[2022-02-18 11:08] anisa-hawes commented on #2494
Yes, good idea. I'll come back to this in late March/early April when my PH email is set up. At that point, I'll send advance invites for all our 2022 meetings.

I've set myself a reminder to return to this Issue during the week beginning 21st March.

[2022-02-18 11:32] acrymble commented on #2492
Have followed up. They wanted more info. An email got lost. Hopefully soon we can get in and get the TechSoup code.

[2022-02-18 11:50] anisa-hawes commented on #2496
Thank you for sharing your thoughts, @JoergRuebesamen. I will take a look at this lesson, and see if any further clarifications or changes are needed. Very best wishes, Anisa

[2022-02-18 12:06] anisa-hawes opened #2497 "Meeting of MEs: Wednesday 16th March 2022"
Hello @DanielAlvesLABDH, @rivaquiroga @svmelton and @spapastamkou.

As proposed in #2494, I am opening this Issue to agree an agenda for the forthcoming meeting of MEs.

**Wednesday 16th March at [14:00 UTC](https://www.timeanddate.com/worldclock/converter.html?iso=20220317T140000&p1=1440&p2=43&p3=232&p4=195&p5=133)**.
10:00 Boston / 11:00 Santiago / 14:00 Lisbon / 15:00 Paris

The link to join ou

[2022-02-18 12:15] #2442 closed, assigned to jenniferisasi

[2022-02-18 12:15] #2489 closed, assigned to anisa-hawes

[2022-02-18 13:31] acrymble commented on #2492
The account is now verified and we have a Google for Nonprofits account. I haven't added any services yet @anisa-hawes

[2022-02-18 13:46] spapastamkou commented on #2478
@drjwbaker You 'll be on paternity leave! Congrats!

[2022-02-18 13:59] drjwbaker commented on #2478
Not me @spapastamkou!
We just need to talk about our policy on this.

[2022-02-18 18:48] ZoeLeBlanc commented on #1981
Small but consequential update. @drjwbaker and I formally initiated the transfer of our domain to google domains and (hopefully 🤞🏽 ) configured our DNS records. We still need to add in the MX records for the emails, but I'm planning to do that once the domain transfer is complete. Currently google says that the transfer will be complete by February 24 but if anyone has any issues accessing the sit

[2022-02-18 18:54] anisa-hawes commented on #1981
Amazing! Thank you, @ZoeLeBlanc! ✨

[2022-02-19 00:41] rivaquiroga commented on #2497
I'm sorry, but I'll not be able to attend :(
In my case, Thursday is not a good day for having meetings because I'm teaching most of the day.

[2022-02-21 07:50] DanielAlvesLABDH commented on #2497
For me, 18th at the same time works fine also

[2022-02-21 09:16] spapastamkou commented on #2497
In this case 17th works for me but 18th might probably not. But otherwise, in general, if Fridays work better for the other MEs and you Anisa, we can try and go for it.

[2022-02-23 14:15] anisa-hawes commented on #2497
Thank you @rivaquiroga, @DanielAlvesLABDH and @spapastamkou for letting me know your availability/conflicts.

How would **Wednesday 16th March** at [14:00 UTC](https://www.timeanddate.com/worldclock/converter.html?iso=20220316T140000&p1=1440&p2=43&p3=232&p4=195&p5=133) suit you on this occasion?

Please indicate:
- [x] Riva?
- [x] Daniel?
- [x] Sofia?
- [x] Sarah?

Going forwards through the year,

[2022-02-23 14:33] anisa-hawes commented on #2478
Hello all,

I have uploaded the minutes of our February Board of Trustees Meeting to the Charity sub-directory of our Project and Business repository.

You can review them here: https://github.com/programminghistorian/project-and-business-archive/blob/master/charity/Board-of-Trustees-Meetings/2022/02-2022/BoT-18-02-2022.md in Markdown format.

Please let me know if I've missed any key points or mi

[2022-02-23 14:33] #2478 closed, assigned to anisa-hawes

[2022-02-23 14:40] drjwbaker commented on #2478
Thanks Anisa. Key points looks good.

[2022-02-24 03:03] ZoeLeBlanc commented on #1981
So excited to say that our domain is officially transferred and being served securely by github  🥳 !!! Final step is setting up the MX records for our emails but then we should be good to go.

Thanks @drjwbaker for all your help doing the transfer and super excited that I think we can finally close this ticket and also not use cloudflare any more 🙌🏽

[2022-02-24 07:55] spapastamkou commented on #2497
I could be a bit late but make it on 16/03. Same for 14/09.

[2022-02-24 08:10] drjwbaker commented on #1981
Huge thanks for guiding us through this @ZoeLeBlanc (not least as it wasn't your area of expertise!) If you need me again to do the MX bit, do say.

[2022-02-24 09:12] acrymble commented on #1981
Thank you @ZoeLeBlanc. As a final step for the future, can we add this to our documentation of service integrations, at least outlining who has login details (and making sure @anisa-hawes is one of those people) so we better know in future how to tackle things like this? https://github.com/programminghistorian/jekyll/wiki/Service-Integrations

The 'MX' bit is the step I need in order to prove to g

[2022-02-24 09:37] drjwbaker commented on #1981
@acrymble It is all connected to the shared gmail, so if you have the password to that, you have the password to this (domains.google.com). But yes, this should be documented. On email, it is recommended we do the transfer before doing the email, hence the gap. I note @ZoeLeBlanc completed the transfer late into the evening (above and beyond for the cause!), so I'll pick up the next steps with her

[2022-02-24 10:29] acrymble commented on #2492
Because I already tried to do this via the paid route back in the summer, the domain is "already in use" so I've had to contact Google to help unlink it so we can re-apply it to this nonprofit account. That should then allow me to request the DNS verification code I need to prove it's our domain, [steps here...](https://support.google.com/a/answer/6248925?hl=en&ref_topic=4487622#zippy=%2Cim-stuck-

[2022-02-24 10:48] drjwbaker commented on #2492
Is this clashing with https://github.com/programminghistorian/jekyll/issues/1981#issuecomment-1049447843 ?

[2022-02-24 11:01] acrymble commented on #2492
I don't think so. i think it's clashing with the fact that I can't find the passwords for the admin@programminghistorian.org account I had tried to set up. So I'm getting them to wipe it so we can start over.

[2022-02-24 11:12] anisa-hawes commented on #2266
A PDF of the Approved minutes from this meeting have been uploaded to the Charity sub-directory of our Project and Business Archive. You can find it here: <https://github.com/programminghistorian/project-and-business-archive/blob/master/charity/Board-of-Trustees-Meetings/2021/10-2021/BoT-21.10.22.pdf>

[2022-02-24 11:18] anisa-hawes commented on #2266
A PDF of the Approved minutes from this meeting have been uploaded to the Charity sub-directory of our Project and Business Archive. You can find it here: [https://github.com/programminghistorian/project-and-business-archive/blob/master/charity/Board-of-Trustees-Meetings/2021/10-2021/BoT-21.10.21.pdf](https://github.com/programminghistorian/project-and-business-archive/blob/master/charity/Board-of

[2022-02-24 11:32] anisa-hawes opened #2499 "Update links in Trustee advert"
I am just updating the links in our recently published Trustee advert. Apologies for not spotting these in my review!

[2022-02-24 11:42] drjwbaker commented on #2266
I'm getting a 404 error.

[2022-02-24 11:42] drjwbaker commented on #2266
this works https://github.com/programminghistorian/project-and-business-archive/blob/master/charity/Board-of-Trustees-Meetings/2021/10-2021/BoT-21.10.21.pdf

[2022-02-24 11:44] drjwbaker commented on #2266
(which is weird as they are the same link?!)

[2022-02-24 11:44] anisa-hawes commented on #2266
Apologies, @drjwbaker. I deleted my original comment because I mistakenly named the file with the year 2022!
So I think the links are the same, and both correct.

I've updated the name of the PDF and re-uploaded it.

[2022-02-24 11:53] #2499 closed, assigned to anisa-hawes

[2022-02-24 14:07] anisa-hawes commented on #2462
Hello all,

Apologies for the delay in following up here. I'm uncertain how to move forwards. It seems we have a couple of options, and a few things to consider:

- I can prepare an update of the EN lesson using the instructions the PT team have devised in the process of their translation. I've tested these steps on Windows 10. I found the method worked well and the notes were helpful – I think th

[2022-02-24 14:09] anisa-hawes commented on #2456
Update: I've followed up with the authors today, to ask if updating the KML file is practicable + suggest an interim option is to apply an alert/information box to the lesson, that lets readers know lines and routes displayed on the map aren’t quite as described due to subsequent updates.

[2022-02-24 15:21] spapastamkou commented on #2462
﻿Not sure if this is the lesson @InesSalome is editing currently but I tag her here to see with you, Anisa

[2022-02-24 15:27] anisa-hawes commented on #2462
Thank you for making this link, @spapastamkou! I didn't realise that an FR translation was also in progress! I see it now, [#449 ](https://github.com/programminghistorian/ph-submissions/issues/449)I can update Gwenaëlle @InesSalome with any revisions agreed here.

[2022-02-24 17:28] rivaquiroga commented on #2462
@anisa-hawes, I'm pinging @hdcaicyt, who translated the lesson and proposed the installing method that is used in the Spanish version, in case you have any question.

[2022-02-24 19:04] anisa-hawes opened #2501 "Lesson Maintenance Issue: Working with batches of PDF files"
A reader has got in touch to report the following:

--

• The full title of the lesson: Working with batches of PDF files
• The system you are using (Mac, Linux, Windows): Linux (EndeavourOS/Arch)
• Version numbers of the relevant software you are using: ocrmypdf v13.4.0
• The exact steps you took that caused the problem:

The command taken from here:
https://programminghistorian.org/en/lessons/wo

[2022-02-25 12:25] anisa-hawes commented on #2501
Notes: I have worked through these steps and encounter an error when running either command:

`$ find . -name '*.pdf' -exec ocrmypdf --language eng --deskew --clean '{}' '{}' \;`
`$ find . -name '*.pdf' -exec ocrmypdf --language eng --deskew '{}' '{}' \;`

From my side, in both cases the error reads:

`PriorOcrFoundError: page already has text! - aborting (use --force-ocr to force OCR;  see also h

[2022-02-25 15:49] acrymble opened #2502 "Error message in 'Temporal Network Analysis with R' on R v. 4.x"
My students were working on the Alex Bray, 'Temporal Network Analysis with R' lesson, which was written suggesting versions of R above 3.x

Students working in R 3.6.x were ok.
Students working with newer versions (R 4.1.x) got an error message:

When executing the code in the line following 'Now that we’ve got our basic data into R, we can take a look at the network:'.

The error happened with st

[2022-02-25 15:55] anisa-hawes commented on #2502
Thank you @acrymble! I'll take a look at this.

[2022-02-25 16:06] drjwbaker commented on #2502
I happened to be in R doing something, so looked at this.

The error before the one reported - which is `Error: `multiple` is `FALSE`, but `x` contains parallel edges. The following rows in `x` are duplicated:` - is the important error. So, this works:

[code]

[2022-02-25 16:12] drjwbaker commented on #2502
(sorry if you'd already got there @anisa-hawes!)

[2022-02-25 20:17] Angelaimp commented on #2456
Thanks @anisa-hawes! I'll add that suggestion to the translation file.

[2022-03-01 11:41] acrymble commented on #2492
I've managed to verify our domain now. This apparently has to be checked by a human and we should hear back within 3 days if everything is ok, but I think we're getting there.

[2022-03-01 11:49] acrymble commented on #2492
@anisa-hawes I think this is at the stage where we can get you logged in to see if you can set up the services you want to use.

[2022-03-01 17:51] spapastamkou opened #2503 "Markdown table formatting"
In a [new FR lesson under review](https://github.com/programminghistorian/ph-submissions/issues/459), I have a problem of not viewing correctly a wide table in the previsualisation (and future publication I suppose) : one part of it is lost when viewing the page (second table [here](http://programminghistorian.github.io/ph-submissions/fr/lecons/concevoir-recherche-donnees-nodegoat), paragraphs 15-

[2022-03-01 17:52] spapastamkou commented on #2503
@anisa-hawes @jenniferisasi @programminghistorian/french-team @rivaquiroga maybe??

[2022-03-01 17:56] jenniferisasi commented on #2503
let me check on the lesson file... checked.

Ok, we don't have a table-wrapper in our [CSS](https://raw.githubusercontent.com/programminghistorian/jekyll/gh-pages/css/style.css) to begin with, so I believe we have to first add one and then you should be able to use the HTML route with a div that calls to the table-wrapper.

@programminghistorian/technical-team on it.

[2022-03-01 19:15] spapastamkou commented on #2503
I tried once more after the CSS change on `ph-submissions` by adding the table between
[code]

but still not working... Thank you so very much @jenniferisasi, sincerely! Tomorrow is another day, I'll try again:)

[2022-03-02 08:29] acrymble commented on #2148
We've now got this set up. Thanks @josircg for telling us about the Google nonprofit option.

[2022-03-02 08:29] #2148 closed, assigned to acrymble

[2022-03-02 08:52] acrymble opened #2505 "Wiki on Project & Business archive"
@drjwbaker I believe we agreed you're the only one able to add this feature to the https://github.com/programminghistorian/project-and-business-archive. Opening a ticket to get that on the to-do list so that we can move our service integrations and other charity-related documentation to that repository.

[2022-03-02 08:55] acrymble commented on #2503
Since our tutorials are really just a proof of principle, is it possible to reduce the size of the data being used in the tutorial to avoid this issue?

[2022-03-02 09:11] acrymble commented on #2298
@anisa-hawes I think all of these tasks are now possible.

[2022-03-02 09:12] acrymble commented on #2329
@amsichani can you clarify what needs to happen to close this ticket?

[2022-03-02 09:29] drjwbaker commented on #2505
No. We need to upgrade to get a wiki on a private repo (https://docs.github.com/en/communities/documenting-your-project-with-wikis/about-wikis). @anisa-hawes and I feel a markdown doc in the private repo with this info should suffice.

[2022-03-02 09:29] #2505 closed, assigned to drjwbaker

[2022-03-02 09:30] drjwbaker commented on #2505
(or we can pay to upgrade, but I suspect we don't need all the features that brings just yet)

[2022-03-02 10:54] spapastamkou commented on #2503
@acrymble ... or even to just describe in the text this table's data as the table illustrates what we should avoid end up with. I'll discuss these options with the author who is currently revising.

[2022-03-02 14:34] acrymble commented on #2492
@anisa-hawes has been given the login details and is exploring this service.

[2022-03-02 14:34] #2492 closed, assigned to acrymble, anisa-hawes

[2022-03-02 16:29] anisa-hawes commented on #2298
🎉 Almost ready to close this Issue! 🎉

Updates:

- [x]  Google Group

- [x] Google Analytics

Meeting with James next week to learn about:

- [x] DOAJ Done #2528!

Will also ask JB about:

- [x] YouTube [I'm checking this off, as I have transferred this task to #2625]

- If we want to link the YouTube account to the new admin@ email, it looks like we can do so using these instructions: https://sup

[2022-03-02 17:21] acrymble commented on #2483
I think I found where this went wrong: https://github.com/programminghistorian/jekyll/commit/9f65856bc62c84d9aabed1e3bf88cf5dcaba06d1

You can see the update removed a warning about needing to use Python v 3.6 or newer to use the "f-string construct".

I'm looking at the version of Python I have installed and it's v 3.5 so that would explain my error. I don't know what version my students have but

[2022-03-02 17:28] anisa-hawes commented on #2483
Thank you, @acrymble. This is very useful! I've set aside time to test the solution tomorrow.

[2022-03-02 18:02] anisa-hawes commented on #2298
The Service Integrations Wiki page has been moved to our [Private Repo](https://github.com/programminghistorian/project-and-business-archive/blob/master/service-integrations/ProgHist-Service-Integrations.md).

I've left this note + link for Members in its old location.

[2022-03-02 20:26] ZoeLeBlanc commented on #2441
Closing this one finally

[2022-03-02 20:26] #2441 closed, assigned to ZoeLeBlanc

[2022-03-02 20:55] ZoeLeBlanc commented on #1981
Wondering if we can close this issue now? @acrymble @anisa-hawes I saw that you closed #2492 and so wondering if we still need to setup our email servers or if that's providing through the workspace? Just lmk and I'll add the MX records to our DNS records, otherwise I'll close this

[2022-03-02 20:58] anisa-hawes commented on #1981
Thank you, @ZoeLeBlanc! If you're able to add the MX records, then I think we can close this! I'm in the process of getting set up in the Google Workspace. At the moment, I'm able to _send_ but not _receive_  emails... Guessing this will be fixed when the MX records are added?

[2022-03-02 23:52] ZoeLeBlanc commented on #2503
Just fyi, now have a PR in the ph-submissions repo working on this issue https://github.com/programminghistorian/ph-submissions/pull/466

[2022-03-02 23:55] ZoeLeBlanc commented on #1981
@anisa-hawes thanks for the feedback. Just added the MX records but need someone with access to the admin gmail to do the steps listed here https://support.google.com/a/answer/140034?hl=en&ref_topic=2683820 starting with number 7. After that we should be good to go 🎉

[2022-03-03 07:08] DanielAlvesLABDH opened #2506 "Reporte de um bug na lição Download de páginas Web com Python"
@joanacvp reportou um erro no código da lição Download de páginas Web com Python, quando em ambiente Windows. A utilização de "wb" é errada uma vez que estamos a lidar com texto. Deve ser usado "w". Vou corrigir no texto da lição já publicada.

[2022-03-03 07:31] acrymble commented on #1981
Thanks so much @ZoeLeBlanc the remaining steps were already done. I've logged into the email account and can confirm @anisa-hawes is now receiving emails. Over to you @anisa-hawes

[2022-03-03 07:31] #1981 closed, assigned to ZoeLeBlanc

[2022-03-03 10:47] anisa-hawes commented on #2483
In the meantime, I will open a separate Issue to update the linked assets from [ph-submissions](https://github.com/programminghistorian/ph-submissions/tree/gh-pages/assets/introduction-to-stylometry-with-python/stylometry-federalist.zip) to [Jekyll](https://github.com/programminghistorian/jekyll/blob/gh-pages/assets/introduction-to-stylometry-with-python/stylometry-federalist.zip).

[2022-03-03 10:49] anisa-hawes opened #2508 "Lesson Maintenance: updating link to assets - Introduction to stylometry with Python"
/en/lessons/introduction-to-stylometry-with-python
/fr/lecons/introduction-a-la-stylometrie-avec-python

I am updating the link to assets associated with this EN + FR lesson from [ph-submissions](https://github.com/programminghistorian/ph-submissions/tree/gh-pages/assets/introduction-to-stylometry-with-python/stylometry-federalist.zip) to [Jekyll](https://github.com/programminghistorian/jekyll/blo

[2022-03-03 11:02] anisa-hawes commented on #2506
Hello @DanielAlvesLABDH. I'm happy to take care of Lesson Maintenance tasks, so feel free to assign me when something comes up!

The workflow we have implemented is detailed here: <https://github.com/programminghistorian/jekyll/wiki/Lesson-Maintenance-Workflow>

[2022-03-03 11:05] anisa-hawes commented on #2506
In this case, we'll need to check on the EN, ES and FR versions of the lesson too... This question of `wb` or `w` has come up numerous times, so I'm going to check back through some previous Issues to see what the best way forward is.

[2022-03-03 11:14] DanielAlvesLABDH commented on #2506
Thanks for the help @anisa-hawes. On Windows changing the "wb" to "w" worked. But we will wait for your suggestion.

[2022-03-03 11:14] anisa-hawes commented on #1876
Update: I am co-assigning @nivaca. Nicolás will be collaborating with us to resolve the Issue, using Saxon as the XSLT processor.

[2022-03-03 11:15] anisa-hawes commented on #2502
Thank you, @drjwbaker! I tested this in RStudio (2021.09.0 Build 351) yesterday and I think the solution you've suggested works well.

Upon entering the code as given, I found that two errors were produced:
1.
[code]
2.
[code]

![Screenshot 2022-03-02 at 19 33 35](https://user-images.githubusercontent.com/87070441/156437332-4957ca24-2139-47cd-b802-2094814fd06a.png)

Upon trying again, I added in t

[2022-03-03 11:24] matgille commented on #1876
Ok, let me know if I can be of any help !

Matthias

[2022-03-03 11:25] anisa-hawes commented on #1876
Thank you, @matgille!

[2022-03-03 11:34] anisa-hawes commented on #2506
No problem. It looks as though that is the decision we came to in Issue #2448 and implemented in PR #2450.

I have just checked and `w` is already used in the EN, ES and FR lessons, so in this case a change in PT will make the code consistent across all:

/en/lessons/working-with-web-pages
/fr/lecons/telecharger-des-pages-web-avec-python
/es/lecciones/trabajar-con-paginas-web
/pt/licoes/download-p

[2022-03-03 11:35] #2508 closed, assigned to anisa-hawes

[2022-03-03 11:40] DanielAlvesLABDH commented on #2506
Great! Thanks @anisa-hawes

[2022-03-03 11:41] anisa-hawes commented on #2503
This Issue can be closed, see #2504.

[2022-03-03 11:41] #2503 closed, assigned to spapastamkou

[2022-03-03 11:49] anisa-hawes commented on #2456
I'm adding an alert information box to this lesson, which includes a link to this Issue:

Updates to Google Earth since the publication of this lesson in 2013, mean that some users of Google Earth Pro Desktop v.7.3.4.8248 (64-bit) may find that they are unable to view the Seaway routes that should be featured in the the KML-file. <a href="https://github.com/programminghistorian/jekyll/issues/2456"

[2022-03-03 11:51] #2506 closed, assigned to DanielAlvesLABDH, anisa-hawes

[2022-03-03 12:18] spapastamkou commented on #2503
The table is now scrollable, thanks a lot all of for the help.

[2022-03-03 12:21] anisa-hawes commented on #2502
Just re-tested in R Console (R 4.1.1 ) and can confirm that this works here too:
![Screenshot 2022-03-03 at 12 18 33](https://user-images.githubusercontent.com/87070441/156563517-c5f2c958-4f1b-498f-99db-776fcb92232b.png)

![Screenshot 2022-03-03 at 12 18 39](https://user-images.githubusercontent.com/87070441/156563501-fa2a9ac4-4a34-44ed-b8b7-24377937210c.png)

I'll add `multiple = TRUE` to /en/les

[2022-03-03 12:33] anisa-hawes commented on #2505
I've moved the Service Integrations Wiki page to our [Private Repo](https://github.com/programminghistorian/project-and-business-archive/blob/master/service-integrations/ProgHist-Service-Integrations.md) where I've created an .md document.

I've left a note + link for Members in its old location in case anyone looks for it there.

[2022-03-03 12:35] drjwbaker commented on #2505
Perfect. Thanks @anisa-hawes

[2022-03-03 13:06] #2502 closed, assigned to anisa-hawes

[2022-03-03 13:07] #2456 closed, assigned to anisa-hawes

[2022-03-03 17:14] drjwbaker commented on #2494
@anisa-hawes: with apologies if you have this in hand, is a date for the AGM close to being settled?

[2022-03-03 17:37] anisa-hawes commented on #2494
Thank you, @drjwbaker. I haven't scheduled this yet. Is there a particular date(s) you are unable to join? Let me know.

(I've actually been prepping some calendar invitations this afternoon, but I seem to have hit a Calendar Use Limit when I try to send an event invitation to the Google Group (37 members). I'm not certain, but it could be that our Google Workspace is subject to a trial phase....

[2022-03-03 17:39] drjwbaker commented on #2494
Late-May is (currently!) looking okay.

(ack!)

[2022-03-03 19:40] anisa-hawes commented on #2483
Apologies for the delay in following up here, @acrymble. Thank you for sharing your insights too, @jairomelo! This is enormously appreciated 🙂

I am very much a Python novice, so I'm still learning. I've worked through these steps several times, in a couple of different environments during the past few days:

1. via a Colab notebook (with kind help from @hawc2)
2. and in BBEdit (where I have only

[2022-03-03 22:15] hawc2 commented on #2483
It looks like the error is related to Python versioning. The f-string
shouldn't cause an error if your version of Python is 3.6 or higher. That
should be clarified in the tutorial, although it does already say: " Python
3.x <https://www.python.org/downloads/> - the latest stable version is
recommended."

See this stackoverflow discussion for context:
https://stackoverflow.com/questions/50401632/f-

[2022-03-03 22:22] anisa-hawes commented on #2483
Ah! That is what Adam said too! Thank you, Alex! I'll take another look tomorrow.

[2022-03-04 15:31] anisa-hawes commented on #2483
Notes to myself:

One piece of good news is that I've now worked through and finished the lesson in Colab. This is without making any changes to this line `with open(f'data/federalist_{filename}.txt') as f:`

![Screenshot 2022-03-04 at 14 59 37](https://user-images.githubusercontent.com/87070441/156786801-bf34c7ec-745f-483f-a90c-5e521ad74af9.png)

Maybe it isn't necessary for me to understand this

[2022-03-05 14:45] acrymble commented on #2483
The alert box sounds like a useful starting point.

[2022-03-09 15:03] anisa-hawes opened #2517 "Adding new IPP"
I am adding the following new IPP to our lists en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores

- College of Liberal Arts, Penn State University, United States

[2022-03-09 15:04] drjwbaker commented on #2517
I haven't billed Bristol yet! Please hold off for now.

[2022-03-09 15:50] #2517 closed, assigned to anisa-hawes

[2022-03-10 11:12] anisa-hawes commented on #2235
This Issue is on the agenda for our forthcoming Managing Editors' Meeting #2497. We will discuss if the changes recently implemented for EN are welcome / felt to be useful to ES, FR and PT teams. If so, I will open new Issues in Submissions to implement these changes one journal at a time. (There is no pressure for teams to standardise practices if they do not find the suggestion useful).

[2022-03-10 11:12] #2235 closed, assigned to hawc2, anisa-hawes

[2022-03-10 13:50] anisa-hawes commented on #2486
Hello all,

For tomorrow's Project Team Meeting, I would like to lead a discussion that zooms in on one (or two, if there's time!) of our shared goals for 2022. My hope is that by moving in on the detail, we can begin to distill our creative dialogues into a clear action plan towards success. Following the meeting, we will be able to open a sequence of Issues that correspond to the distinct tasks

[2022-03-10 13:53] anisa-hawes commented on #2486
I've also drafted some table-format action plan templates. I think these might help us to break down each goal into tasks (I welcome your feedback/suggestions for adjustments/improvements)

|  What will success look like? | What = evidence we can use to measure our progress |
| ----------- | ----------- |
| Sign of success   | Evidence measure:|
| Sign of success   | Evidence measure:|

|  How sha

[2022-03-10 17:39] anisa-hawes opened #2520 "Organising our Annual General Meeting: 23rd May 2022 15:00 UTC"
I am opening this Issue as a space to organise our AGM. These are the steps I think are needed.
Please add in any steps/notes you feel I've missed.

- [x] Decide on a date **The event will take place on Monday 23rd May at [15:00 UTC](https://www.timeanddate.com/worldclock/converter.html?iso=20220523T150000&p1=1440)**

**POLL CLOSED**

[![](https://api.gh-polls.com/poll/01FXTEJ14ZJA7WNZTV3539P2KA/M

[2022-03-10 17:41] anisa-hawes commented on #2494
For the AGM, I'd like to suggest [Monday 23rd](https://www.timeanddate.com/worldclock/converter.html?iso=20220523T150000&p1=1440) or [Tuesday 24th May at 15:00 UTC](https://www.timeanddate.com/worldclock/converter.html?iso=20220524T150000&p1=1440). I have opened another Issue  #2520 for us to agree the date, organise invitations, and plan our agenda.

[2022-03-10 17:52] anisa-hawes commented on #2494
I have my organisational email address and I have started the process of sending calendar invitations for our 2022 meetings.

One unexpected sticking point is that the Google Workspace imposes limits on number of invitations I can send to a single event, and the number of invitations I can send in a single day! So a little inconvenient... but I think I can work it out by doing them in batches. Clo

[2022-03-10 17:52] #2494 closed, assigned to anisa-hawes

[2022-03-10 18:16] anisa-hawes opened #2521 "Updating my email address across our website"
I am migrating from using my personal email address to my new organisational email account <admin@programminghistorian.org>.

I'll update ph_authors.yml and the following pages:

/en/research
/en/feedback

/es/investigacion
/es/retroalimentacion

/fr/recherche
/fr/reaction

/pt/pesquisa
/pt/reportar-um-erro

*at the same time I will correct @scottkleinman's email address which is missing a dot.

[2022-03-10 20:09] #1876 closed, assigned to nivaca, anisa-hawes

[2022-03-11 10:57] #2521 closed, assigned to anisa-hawes

[2022-03-11 13:56] drjwbaker commented on #2486
Can I just reiterate here, that if funding dataset creation would help some publications better reach their communities, we could and should look into that.

[2022-03-15 18:03] jenniferisasi opened #2523 "Add "R" as a topic"
As we are receiving more and more lessons that use R as the language to do some research, and after a couple of conversations about it here and there (for example, it is hard to find R with the search option only), the tech-team is going to add "R" as a topic for lessons.

This includes adding a new `type` in the `_data/topics.yml` file and then adding R as a topic to existing and new lessons. I a

[2022-03-16 15:34] anisa-hawes commented on #2486
Dear all,

Thank you for the energy and ideas you contributed to our Project Team Meeting on Friday.

The minutes are in our private repository [here](https://github.com/programminghistorian/project-and-business-archive/blob/master/project/Meetings/2022/Project-Team-Meetings/03_2022_ProjectTeamMeeting.md).

Please let me know if I've missed any important points, or mis-represented something you sa

[2022-03-16 15:34] #2486 closed, assigned to anisa-hawes

[2022-03-17 12:26] anisa-hawes commented on #2523
This Issue has been resolved by PR #2524 so I am closing it now.

[2022-03-17 12:27] #2523 closed, assigned to jenniferisasi

[2022-03-17 13:06] anisa-hawes opened #2525 "Update links to our most recent Zenodo deposit."
I am updating links on the following pages

/en/about
/es/acerca-de
/fr/apropos
/pt/sobre

so that we are providing a direct click to our most recent Zenodo deposit (created November 2021).

[2022-03-17 16:18] anisa-hawes opened #2528 "Update our articles in the Directory of Open Access Journals (DOAJ)"
This afternoon, I updated the [Directory of Open Access Journals (DOAJ)](https://doaj.org/about/) so that our most recently published articles in EN, ES and FR are listed. If you follow the links below and click on 'Articles', you can see how the listings are structured.

_Programming Historian en Español_ <https://doaj.org/toc/2517-5769>
_Programming Historian en Français_ <https://doaj.org/toc/2

[2022-03-18 00:36] DanielAlvesLABDH commented on #2528
Dear @anisa-hawes many thanks for this. If you need any help or additional information from us just let us know.

[2022-03-18 11:21] anisa-hawes opened #2529 "Remove non-paying IPPs"
I am removing the following IPPs from our list of Institutional Partners on en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores.

- [UCL Centre for Digital Humanities](https://www.ucl.ac.uk/digital-humanities/), United Kingdom
- [Roy Rosenzweig Center for History and New Media, George Mason University](https://rrchnm.org/), United States

These institutions are past-year partners, but

[2022-03-18 11:26] drjwbaker commented on #2529
Thanks Anisa. There are a couple more who I suspect aren't renewing, but I'll confirm later this month.

[2022-03-18 11:32] anisa-hawes commented on #2529
Thank you, James. I see now, the Additional Supporters section includes the dates between which each institution has supported us. When non-renewals are confirmed, may I ask if you could also include the year they signed up?

[2022-03-18 11:41] drjwbaker commented on #2529
These https://github.com/programminghistorian/project-and-business-archive/tree/master/business/Finances/cashflow/2021-22 should give you a good sense (the IPP tab should be up to date most of the time)

[2022-03-18 12:02] #2525 closed, assigned to anisa-hawes

[2022-03-18 12:27] #2529 closed, assigned to anisa-hawes

[2022-03-22 11:27] joanacvp opened #2531 "Lesson 'Configurar um ambiente de desenvolvimento integrado para Python (Mac)'"
Hello @anisa-hawes.
When trying to do the Portuguese version of the lesson [Configurar um ambiente de desenvolvimento integrado para Python (Mac)](https://programminghistorian.org/pt/licoes/instalacao-mac) I found some problems (that I believe can be found in the other versions of the lesson).

I am using MacOS Monterey 12.3 and I couldn't find all the steps to configure Komodo Edit in the lesson.

[2022-03-23 15:31] anisa-hawes commented on #2531
Thank you, @joanacvp. I encountered this problem in [another Lesson Maintenance task](https://github.com/programminghistorian/jekyll/issues/2343) ...

Their website explains that Komodo Edit is unstable for users working on any system running on MacOS 10 or later.

There's a Community discussion here <https://community.komodoide.com/t/komodo-and-big-sur-do-not-upgrade/5191> which might be helpful.

[2022-03-23 19:15] anisa-hawes commented on #2235
Following agreement at the Managing Editors' Meeting #2497, I have continued this work in our Submissions repo. I have started by re-organising the ES directory: see [#471](https://github.com/programminghistorian/ph-submissions/issues/471).

[2022-03-24 11:23] anisa-hawes commented on #2520
Hello all,

This is just a reminder to anyone in the @programminghistorian/english-team, @programminghistorian/spanish-team,  @programminghistorian/french-team, @programminghistorian/portuguese-team who would like to indicate their preference of the two proposed dates for our Annual General Meeting.

Very best,
Anisa

[2022-03-25 14:06] anisa-hawes commented on #2497
Dear @DanielAlvesLABDH @svmelton, @spapastamkou and @rivaquiroga,

Thank you for your time last Wednesday.

I've uploaded the Minutes to our Project and Business Archive. You can review them [here](https://github.com/programminghistorian/project-and-business-archive/blob/master/project/Meetings/2022/Managing-Editors-Meetings/03_2022_ManagingEditorsMeeting.md) in Markdown format.

Do let me know if

[2022-03-25 14:06] #2497 closed, assigned to anisa-hawes

[2022-03-25 17:42] anisa-hawes opened #2533 "Collating activities to add to the research / investigacion / recherche / pesquisa pages"
Hello all,

Are there any recent publications / workshops / events / reports you've been involved in which you'd like me to add to the research / investigacion / recherche / pesquisa pages of our website?

I'm aware of this, which is coming up soon:

- Jennifer Isasi & Brandon Walsh with Gabi Kirilloff, ‘[Programming Historian Workshop on Twine in the Classroom](https://ach.org/blog/2022/02/15/ach

[2022-03-25 18:02] anisa-hawes commented on #2336
In relation to what is being discussed in this thread, I'd like to draw a link with a conversation that came up [at our Project Team Meeting earlier this month](https://github.com/programminghistorian/project-and-business-archive/blob/master/project/Meetings/2022/Project-Team-Meetings/03_2022_ProjectTeamMeeting.md) and has since been developing on Slack.

@tiagosousagarcia and @ZoeLeBlanc have sug

[2022-03-25 19:04] jenniferisasi commented on #2533
I was invited to talk about our editorial workflow at a class in Spain, by our former colleague Antonio Rojas Castro. Not sure if we include shorter invited talks, but it so Jennifer Isasi, "El flujo editorial en _Programming Historian en español_" en Edición Digital de Textos, Máster Universitario en Humanidades Digitales, Universidad Internacional de La Rioja, 2021-2022.

[2022-03-25 19:09] anisa-hawes commented on #2533
We would love to include this. Thank you, @jenniferisasi!

[2022-03-25 19:30] DanielAlvesLABDH commented on #2533
Me and @joanacvp gave a small workshop this week. Daniel Alves e Joana Vieira Paulino, “O Programming Historian em português e o ensino das Humanidades Digitais”, 2.º Seminário CEComp-HD, Centro de Estudos Comparatistas da Faculdade de Letras, Universidade de Lisboa, Lisboa, 23 de Março de 2022.

[2022-03-26 18:40] spapastamkou commented on #2533
We have a forthcoming workshop as part of the forthcoming Humanistica 2022 conference in May and one oral presentation in DHnord 2022 conference in June. But both programmes are not yet under elaboration currently. When we know more we'll update.

[2022-03-31 10:05] anisa-hawes opened #2534 "Removing link to the Internet Archive Book Images"
As noted in PR #2524, the link to the Internet Archive Book Images collections on Flickr and at archive.org have broken.

I wrote the IA to ask about this and they have now written back, explaining that:

I am therefore removing the link to <https://archive.org/details/bookimages> from /en/editor-guidelines, /es/guia-editor, /fr/consignes-redacteurs and /pt/directrizes-editor.

[2022-03-31 10:27] anisa-hawes opened #2535 "Investigating U.S.-based Subscription Management organisations"
Following the success of our partnership with JISC in the U.K., we have begun to investigate U.S.-based Subscription Management organisations who we may wish to contact about the services they offer to U.S. academic libraries.

Our hope is that we can make it simpler for academic libraries in the United States to join us as IPPs via a subscription integration system.

I am opening this Issue to si

[2022-03-31 10:59] anisa-hawes opened #2536 "Clarifying our policies on authorial copyright and publishing rights"
In the process of applying to add _Programming Historian em português_ to the [Directory of Open Access Journals (DOAJ)](https://doaj.org/about/) (see #2528) we have been asked to clarify our policies on authorial copyright and publishing rights.

My understanding is that this links to some conversations you have already been having within the Project Team (initiated by @spapastamkou) about how we

[2022-03-31 11:05] drjwbaker commented on #2536
Thanks so much @anisa-hawes for tieing this together with ongoing work: your ability to see things across the project is so valuable!

I think one of the drivers here is the OA community trying to encourage authors to assert copyright over the submitted/accepted version of their work, so as to better faciliate Green OA. We are Diamond, so this may seem slightly less relevant, but from DOAJs perspe

[2022-03-31 11:11] anisa-hawes commented on #2536
Thank you, James – this is useful context.

I think there are two particular things we would be able to consider weaving into a Rights Agreement form:

- the possibility that post-publication updates may be required (lesson maintenance)
- our remit to translate the author's work and re-publish it within one of our other journals

[2022-03-31 11:51] anisa-hawes opened #2538 "Adding a new IPP to en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores"
I am adding our newest IPP **TU Darmstadt** to our list of Institutional Partners on en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores.

[2022-03-31 13:07] anisa-hawes commented on #2520
Dear all,

Thank you for indicating your preference of dates for our forthcoming AGM.

I'd like to confirm that the event will take place on Monday 23rd May at [15:00 UTC](https://www.timeanddate.com/worldclock/converter.html?iso=20220523T150000&p1=1440).

All best,
Anisa

[2022-03-31 13:17] jenniferisasi commented on #2536
If I may, @anisa-hawes for your last bullet-point: translate, **potentially remix/alter** and republish (best example [lesson on MALLET]( https://programminghistorian.org/es/lecciones/topic-modeling-y-mallet)).

Don't know if we need to go into that detail, but I thought I'd share.

[2022-03-31 13:57] anisa-hawes commented on #2536
Thank you, @jenniferisasi. Yes, I agree that clarification is important. We can find a way to clarify that our translation process may include the alteration of case studies and/or substitution of sample data, and explain that this is to ensure the lesson will remain relevant, engaging and practicable for each journal's community.

[2022-03-31 14:15] drjwbaker commented on #2536
Agree, but when the work is licensed CC BY then all of this is possible irrespective of the author retaining (c).

[2022-03-31 14:23] drjwbaker commented on #2520
@anisa-hawes To help you with this, I'm going to add a 'contact details' column to the IPP tab for the next month end cashflow statement (those at https://github.com/programminghistorian/project-and-business-archive/tree/master/business/Finances/cashflow/2021-22). I'm going to do this tomorrow (because it'll help me with renewals anyway), so if there is any other info you'd find useful to have the

[2022-03-31 14:54] anisa-hawes commented on #2536
Yes, and I note that we do include this link <https://creativecommons.org/licenses/by/4.0/> in our Submissions Issue template. We can explicate these terms as they pertain to our specific case in an agreement form, also adding <https://creativecommons.org/licenses/by/4.0/deed.es>, <https://creativecommons.org/licenses/by/4.0/deed.fr> and <https://creativecommons.org/licenses/by/4.0/deed.pt>.

[2022-04-01 18:11] #2538 closed, assigned to anisa-hawes

[2022-04-01 18:11] #2534 closed, assigned to anisa-hawes

[2022-04-01 18:52] acrymble commented on #2533
I gave a paper:

Adam Crymble, 'Trans-Atlantic Digital History and the Spatial Turn of Practice (as viewed from London)' IHR Digital History Seminar, London (29 March 2022).

[2022-04-01 23:54] ericbrasiln commented on #2533
In May I will give a webinar at the School of Social Sciences (FGV/CPDOC), coordinated by @JimmyMedeiros82:

Eric Brasil, "Criação, manutenção e divulgação de projetos de História em meios digitais: git, GitHub e o Programming Historian" . Webinar at the School of Social Sciences (FGV/CPDOC). 16 May 2022.

[2022-04-02 07:31] spapastamkou commented on #2533
Sofia Papastamkou, Hugues Pecout, Sébastien Rey-Coyrehourcq, Timothée Giraud, Gwenaëlle Patat, "Programming Historian en français et Rzine: faire communauté pour le partage de ressources éducatives libres en méthodes numériques/quantitatives en
sciences humaines et sociales francophones", _Humanistica 2022_, Séance de groupe de travail, 18 mai 2022
The programme has not yet been published, so no l

[2022-04-02 07:36] spapastamkou commented on #2533
I wonder if we can agree that each time some of us participate to conferences, give workshops etc, we systematically upload a basic description and abstract to Zenodo (or another open archive?) so that we can have a clue on our activities and provide a bit more that a list of titles on the website.

[2022-04-02 08:39] DanielAlvesLABDH commented on #2536
Dear @anisa-hawes thanks for moving this forward. I agree with the idea of formalizing the information sharing between authors and the publications. Although we are clear about that in the several places in the platform, to keep a record of this rights agreement would be good police. I agree with James that probably we do not need to go in too much details since the type of license we already use

[2022-04-03 15:57] jenniferisasi commented on #2533
@ericbrasiln will this be recorded? or any chance you'll have written notes/pptx to share? I'd love to watch/read it, but also @ZoeLeBlanc is working on a paper that sounds similar :)

[2022-04-03 23:46] svmelton commented on #2536
Thanks @anisa-hawes. I think @drjwbaker is right about the context here, and I'm fine with moving this forward as proposed!

[2022-04-04 13:45] ericbrasiln commented on #2533
Yes, the webinar will be available on FGV's YouTube channel. And I will prepare an online presentation hosted on GH Pages.
I share with you in early May. 😄

[2022-04-04 16:24] tiagosousagarcia opened #2542 "PH/JISC/TNA Banner Text -- translation and generalisation"
This is an issue in two parts:

- [x] 1) Could I ask @programminghistorian/spanish-team, @programminghistorian/french-team, and @programminghistorian/portuguese-team to look over my (very rough) translations of the banner text for the JISC/TNA articles?

    - EN: This tutorial is part of a Programming Historian special series on computational analysis of large-scale digital collections. This seri

[2022-04-04 17:15] InesSalome commented on #2542
@tiagosousagarcia in my view, for French translation, I would replace " série spéciale **de** Programming Historian" by " série spéciale **du** Programming Historian ", and " l'analyse informatique de collections numériques à grande échelle" by " l'analyse computationnelle de corpus numériques à grande échelle", because "computationnelle" sounds more accurate for me than "informatique" in this con

[2022-04-04 17:20] rivaquiroga commented on #2542
@tiagosousagarcia, the Spanish version está perfecta. Thank you!

[2022-04-04 17:22] matgille commented on #2542
I agree with you @InesSalome. In addition, I would drop the article "le" before "The National Archives". Thanks !

[2022-04-04 17:57] ericbrasiln commented on #2542
@tiagosousagarcia the Portuguese version looks great to me.

[2022-04-04 23:07] DanielAlvesLABDH commented on #2542
Obrigado Tiago. Ficou óptima

[2022-04-05 07:38] tiagosousagarcia commented on #2542
Thank you everyone!

[2022-04-06 15:39] moritz-john commented on #2501
I was the person who emailed this bug report in a while ago.
Now in OCRmyPDF `13.4.2-1` everything works again for me.
So I guess the issue was on OCRmyPDFs end.
I think this issue can be closed.

I can use `find . -name '*.pdf' -exec ocrmypdf --language eng --deskew --clean '{}' '{}' \;` once again including the `--clean` part.

![image](https://user-images.githubusercontent.com/70295002/16201289

[2022-04-06 16:23] rivaquiroga commented on #2536
Thanks @anisa-hawes, I also agree with moving this forward

[2022-04-06 21:19] spapastamkou commented on #2536
I would suggest, if need to reiterate the commitment to OA principles, already preserved by CC BY license we use, to borrow vocabulary from the [Declaration of Budapest](https://www.budapestopenaccessinitiative.org/read/) on OA, which would correspond with what Jennifer proposes. I mean mainly this part (and especially the verbs):
"By “open access” to this literature, we mean its free availability

[2022-04-07 11:28] anisa-hawes opened #2545 "Fixing missing end note + missing table of contents in Correspondence Analysis for Historical Research with R"
In the course of copyediting [the ES translation (Submissions Issue #331)](https://github.com/programminghistorian/ph-submissions/issues/331) of /en/lessons/correspondence-analysis-in-R, we've noted:

- End note key [^factoextra] is missing from the lesson
- Table of Contents is missing from the lesson

[2022-04-07 16:23] anisa-hawes commented on #2542
Hello @tiagosousagarcia.

I wonder if the text could be a little shorter, so that it fits onto fewer lines and makes a slimmer banner? With some minor adjustments and editing a few repetitions, I wonder if this might work:

_This tutorial is part of a special series exploring computational analysis of large-scale digital collections. It is published with the generous support and partnership of [Ji

[2022-04-08 10:04] #2545 closed, assigned to anisa-hawes

[2022-04-08 10:08] anisa-hawes commented on #2235
Update: I've now re-organised the FR directory too: see [#474](https://github.com/programminghistorian/ph-submissions/issues/474)

[2022-04-08 11:53] anisa-hawes commented on #2536
Thank you for the revised translations, @DanielAlvesLABDH! I've noted these, and edited [my initial comment](https://github.com/programminghistorian/jekyll/issues/2536#issue-1187903062).

The relevant section of our Author Guidelines is the section headed [Open Source, Open Access](https://programminghistorian.org/en/author-guidelines#open-source-open-access)/[Código aberto, Acesso aberto](https:/

[2022-04-08 11:56] anisa-hawes commented on #2536
Thank you for sharing these links and ideas, @spapastamkou! These will be very helpful to me as I draft a Rights Agreement form to meet the second objective of this Issue.

[2022-04-08 17:18] anisa-hawes commented on #2501
Dear @moritz-john,

Welcome! Thank you for contributing.

Following on from my most recent email, I am noting here that I am actually continuing to encounter errors when I run the first two commands in this tutorial.

In my most recent experiments with ocrmypdf v.13.4.0, I retrieve errors similar to those that can be expected, and are explained in the lesson, e.g., `[tesseract] lots of diacritics

[2022-04-08 17:25] anisa-hawes commented on #2501
Note to self that this thread <https://stackoverflow.com/questions/55704218/how-to-check-if-pdf-is-scanned-image-or-contains-text/59098700#59098700> might offer me some clues.

[2022-04-08 18:03] anisa-hawes commented on #2501
Another note: I understand from the tutorial that ocrmypdf automatically skips PDFs that already contain embedded text.

And, I have been able to successfully move onwards and extract the embedded texts from all the sample PDF files provided in the lesson.

So, perhaps @moritz-john is right and the Issue here is resolved by the latest update to software... 🤔

[2022-04-18 09:29] acrymble opened #2551 "Google Analytics upgrade needed"
Apparently Google Analytics may need some tweaking in order to keep working after July 2022

![Screen Shot 2022-04-18 at 10 28 49](https://user-images.githubusercontent.com/646647/163788471-a990d5fb-6bfa-453d-82cf-06dca2e25509.png)

[2022-04-18 13:35] jenniferisasi commented on #2551
"After that, you’ll be able to access your previously processed data in Universal Analytics for at least six months." [panics] We have to download all the data!! Which I guess could make for a nice new repo here in GitHub.

[2022-04-20 13:52] anisa-hawes commented on #2551
Does anyone in the @programminghistorian/english-team, @programminghistorian/spanish-team, @programminghistorian/french-team, or @programminghistorian/portuguese-team have experience to support us with moving over to Google Analytics 4?

[2022-04-20 17:32] spapastamkou commented on #2536
Here is the FR translation of the two phrases:

Les auteur(e)s détiennent les droits de propriété intellectuelle et cèdent à la revue le droit de première publication, l'œuvre étant simultanément placée sous licence Creative Commons - Attribution 4.0 International (CC-BY 4.0).

Les auteur(e)s ont le droit de publier et de mettre à disposition leur œuvre par voie numérique au travers de dépôts inst

[2022-04-20 21:49] spapastamkou opened #2552 "Software citation bis"
This is relevant to previous discussions in #1984 (and long due on my behalf) on how to cite software; I open the issue following a recent exchange with @anisa-hawes. While updating the FR author guidelines some months ago, I added further elements to the general pattern that had been agreed in the aforementioned issue. The additions were based on the recommendations of the [Software Heritage Foun

[2022-04-20 22:22] spapastamkou opened #2553 "Suggested citations of FR lessons"
The suggested citations of FR lessons - at the end of the page of each lesson - go as follows:

Jon Crump, «Générer un jeu de données structuré à partir d’un texte océrisé,» traduction par Antoine Gourlay, *Programming Historian en français* 3 (2021), https://doi.org/10.46430/phfr0020

There are two small problems here:
1) the comma after the title is inside the FR quotation marks - just like in t

[2022-04-20 22:23] spapastamkou commented on #2553
cc @anisa-hawes

[2022-04-20 22:29] jenniferisasi commented on #2553
Thanks for pointing this out @spapastamkou. The technical team actually learned a few weeks back about the spaces after/before certain punctuation in French thanks to @anisa-hawes. This looks like a little interesting fix so I am going to try to fix it.

[2022-04-20 22:38] spapastamkou commented on #2553
Thanks @jenniferisasi. I'll forward you all relevant information that I sent also to Anisa about encoding the special FR characters, the quotation marks, left and right, included (I did not use these in the markdown of the initial comment. I would be interested to know where you fix this, once you are done.

[2022-04-20 22:46] jenniferisasi commented on #2553
Sure thing! The process I followed to find where to make the change (cos I had a slight idea...) was to check first the `_layouts/lesson.html` file and look for the code for citations, in particular the part that creates the text of the citation:

[code]

This confirmed that the changed had to be done in `_data/snippets.yml` for the `title-open-quote` and `title-close-quote` that varies per the `[

[2022-04-20 22:47] spapastamkou commented on #2553
Well, I drop this here (please check the raw markdown by editing this comment):

« => &laquo;
» => &raquo;

(I use the html entities but alternatively the ISO codes can work as well, you can find them here if necessary: https://www.lehtml.com/html/speciaux.htm)

For the non-breaking space, used before several punctuation signs (: ; ! ? ») and after «, there are at least 2 solutions:
&nbsp; (in htm

[2022-04-20 22:51] jenniferisasi commented on #2553
Oh, I see! It is not a regular space but a narrower one 🤔 let me see how I add that in the snippets in #2554

[2022-04-20 22:54] spapastamkou commented on #2553
Ok, thanks a lot! I remember I had put my nose only in ` _data/snippets.yml` and of course I did not spot these elements as I had not checked the other file before.

We can keep the regular space as it is if too difficult to add the code, the most important was the comma:)

[2022-04-20 22:58] jenniferisasi commented on #2553
I'm going to try to add the right one :)

[2022-04-20 23:12] spapastamkou commented on #2553
Ok, this was quick:-) Done in ##2554 thanks to @jenniferisasi !

[2022-04-20 23:12] #2553 closed, assigned to spapastamkou

[2022-04-20 23:12] jenniferisasi commented on #2553
Done!

[2022-04-21 08:38] acrymble commented on #2533
I gave a paper:

Adam Crymble, 'Building Methods with the Global South' Research Methodology Conference, Coventry (20 April 2022).

[2022-04-21 10:21] rivaquiroga commented on #2551
@anisa-hawes, I while ago I started reading the documentation for dowloading our Google Analytics data, so I got some familiarity with the platform. I can help with the task if needed, but not before August. (BTW, the deadline is July 2023, not 2022, so we have more than a year to solve this issue).

[2022-04-21 10:25] anisa-hawes commented on #2551
Thank you, @rivaquiroga! That would be wonderful! I'll set myself a reminder to contact you in September so we can organise a time to collaborate on this. I shall mark this Issue as On Hold for now.

[2022-04-21 13:17] jenniferisasi commented on #2551
re I have downloaded data for the newsletter and presentations/papers in multiple occasions so I'm familiar with navigating; not so much about transfer and migration of platforms but if available I can help to at least set some pipeline to extract and preserve data

[2022-04-21 13:29] spapastamkou commented on #2551
And I am in contact on this subject with the infrastructure guys of the center I work for for the data of the project I am currently in charge of. I have no particular experience and it will take some time before we attack this as a result of different availabilities. But if I have useful news by the time you work on this, I'll let you know or lend a hand.

[2022-04-21 13:42] jenniferisasi commented on #2536
1.[stays as is]

2. Los autores conservan los derechos de autor y otorgan a la revista el derecho de primera publicación y, simultáneamente, la obra tendrá la licencia Creative Commons - Atribución 4.0 Internacional [CC-BY 4.0].

3. Los autores tienen permiso para publicar y distribuir su trabajo en línea en repositorios institucionales/disciplinarios o en su cuenta personal.

@rivaquiroga what do

[2022-04-21 13:57] rivaquiroga commented on #2536
Thanks, @jenniferisasi. Might be better to have all the verbs in present tense on number 2.
_y, simultáneamente, la obra tendrá la licencia Creative Commons_ could be _, quedando la obra simultáneamente bajo la licencia Creative Commons_ o _, licenciando simultáneamente la obra bajo Creative Commons_
What do you think?

[2022-04-21 15:28] anisa-hawes commented on #2536
Dear all,

Thank you for your collaboration! I've updated our Author Guidelines as agreed, so task 1 is complete. This fulfils what is needed for the DOAJ and our application to add _Programming Historian em português_ to their listings - see #2528.

Task 2: I'll now start work on drafting a Rights Agreement form as a document for collecting authors' permissions more formally than we do in our cur

[2022-04-22 11:05] anisa-hawes commented on #2552
Thank you for opening this Issue, @spapastamkou! I think this is a practical proposal.

From my point of view, it seems to relate to the [conversations we had during our most recent Project Team Meeting](https://github.com/programminghistorian/project-and-business-archive/blob/master/project/Meetings/2022/Project-Team-Meetings/03_2022_ProjectTeamMeeting.md), about our lessons as 'snapshots' of how

[2022-04-22 11:57] anisa-hawes opened #2556 "Incorrect screenshot in creating-an-omeka-exhibit and criar-exposicao-omeka"
A reader has written to us, having noticed that the first figure/screenshot in _Creating an Omeka Exhibit_ is incorrect, and is a duplicate of the second.

I can see that the same error has been reproduced in the PT translation _Criar uma Exposição Omeka_ (meanwhile the ES version is correct)

I have located the correct figure (createoexhibit1.png) for EN within the Images folder on Jekyll, here:

[2022-04-22 12:16] DanielAlvesLABDH commented on #2556
Dear @anisa-hawes just created a PR to correct this on the PT lesson. https://github.com/programminghistorian/jekyll/pull/2557

[2022-04-22 12:20] anisa-hawes commented on #2556
Super! Thank you, @DanielAlvesLABDH! I've updated the filename for figure 1 in the EN lesson on your branch.

[2022-04-22 12:32] #2556 closed, assigned to anisa-hawes

[2022-04-23 02:37] #2475 closed, assigned to svmelton, ZoeLeBlanc, JoshuaGOB, anisa-hawes

[2022-04-23 02:37] #2472 closed, assigned to svmelton, ZoeLeBlanc, JoshuaGOB, anisa-hawes

[2022-04-25 09:40] drjwbaker commented on #2552
CFF is also an option here https://citation-file-format.github.io/ (it is well supported in the research software community)

[2022-04-25 12:54] drjwbaker commented on #2536
@anisa-hawes Will you reply to DOAJ, or would you like me to?

[2022-04-25 13:00] anisa-hawes commented on #2536
Thank you, @drjwbaker. I'm happy to write to them. I'll put this on my list for Wednesday.

[2022-04-25 13:23] drjwbaker commented on #2536
thanks @anisa-hawes

[2022-04-28 10:07] anisa-hawes opened #2559 "Adding new IPPs to en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores"
I am adding the following new IPPs to our lists on en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores

- University of Bristol Library
- University of Sheffield Library

In other good news, Western University (Canada) have renewed their membership! 2022 is looking bright!

I will follow up with celebrations via Twitter later today >>

https://twitter.com/BristolUniLib
https://twitter.

[2022-04-28 10:16] anisa-hawes opened #2561 "Publishing blog post to advertise Job Vacancy - Education and Community Lead"
I am publishing blog post to advertise a new job opportunity within the ProgHist team - We will be advertising for a 0.4 FTE Education and Community Lead.

We welcome applications from within the Project Team!
We'd appreciate your help to spread the word, by circulating this post among your networks!

Job advertisement blog post is [here](https://programminghistorian.org/posts/education-and-commun

[2022-04-28 13:17] #2561 closed, assigned to anisa-hawes

[2022-04-28 14:16] #2559 closed, assigned to anisa-hawes

[2022-04-29 09:36] drjwbaker commented on #2520
Have the invites to IPPs gone out?

[2022-04-29 10:37] anisa-hawes commented on #2520
Not yet – preparing to do this next week. Thank you for creating the Contact column in the Dashboard document @drjwbaker.

[2022-04-29 10:41] drjwbaker commented on #2520
Okay! Ping me if you need a hand.

[2022-04-29 10:50] drjwbaker commented on #2520
I've started a folder here for papers, including my report https://github.com/programminghistorian/project-and-business-archive/tree/master/charity/AGMs/2022

[2022-04-29 10:58] anisa-hawes commented on #2559
Just a note to say that I'd already (prematurely?) [Tweeted thanks to @uWaterloo](https://twitter.com/ProgHist/status/1509560628108746759?s=20&t=Lbou1YdFXhUq9VukG6EYvw) for their renewal.

Thanks have been Tweeted to [Bristol](https://twitter.com/ProgHist/status/1519991161485680640) and [Sheffield](https://twitter.com/ProgHist/status/1519992129598246912), if you'd like to share.

[2022-04-29 11:17] anisa-hawes opened #2563 "Adding new IPPs to en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores"
We have a new IPP! 🎉  The **School of Advanced Study, University of London** have joined us through the JISC partnership!

And we also have a new Patreon! 🎉   **Robert Sweeny** has joined us at Patron level. (I have written him a direct note via Patreon to thank him)

This Issue represents the task of adding both to our Supporters pages.

[2022-04-29 12:35] #2563 closed, assigned to anisa-hawes

[2022-04-29 14:19] anisa-hawes commented on #2536
Just a note to say that we've received a positive reply from the DOAJ, who say that the copyright information we've added to our website is "clear and complete". They've updated our application form, and I'll let you all know here when we hear further news.

[2022-04-29 19:09] anisa-hawes opened #2565 "Correcting a link on our Project Team pages"
I am correcting the link to Rolando Rodriguez's homepage from the following pages:

/en/project-team, /es/equipo-de-proyecto, /fr/equipe-projet, and /pt/equipe.

[2022-04-29 19:25] anisa-hawes commented on #2298
While I am now a member of the Google Group (with my admin@programminghistorian.org email), while working with our new English team members today, I discovered that I'm not able to edit the shared Google Docs, i.e., the Concordance Document or invite others to be editors. @acrymble are you able to double check that I am set as an administrator?

[2022-04-29 20:06] #2565 closed, assigned to anisa-hawes

[2022-05-06 17:03] anisa-hawes opened #2568 "Fixing a batch of broken links"
I am opening this Issue to fix a batch of broken links, highlighted in #2567

In the most recent build, the problem appears to be with http://www.juxtasoftware.org/ -> which requires sign in to access? (linked from /es/lecciones/corpus-paralelo-lfaligner.html)

But I noted that the build report before this one, flagged some others too:

./_site/es/lecciones/corpus-paralelo-lfaligner.html

1. Exter

[2022-05-06 17:55] anisa-hawes commented on #2536
Dear all,

I've drafted a rights agreement form that I think could support authors to understand what the CC-BY license means, and help us to keep clearer long-term records of the permissions authors have granted us. Please let me know if you think this will meet our needs?

[Authorial-copyright-and-publishing-rights - Google Docs.pdf](https://github.com/programminghistorian/jekyll/files/8642578/A

[2022-05-06 17:59] jenniferisasi commented on #2568
@anisa-hawes I think it is a safe bet to replace the link on TEI part 1 with this Wikipedia article: https://es.wikipedia.org/wiki/Archivo_de_texto

[2022-05-06 18:08] anisa-hawes commented on #2568
Yes! My thoughts exactly! I was just searching around for an alternative to this, https://github.com/monfresh/install-ruby-on-macos, which is in a warning/alert box that I created a few months ago... but I can't find anything useful. I think the best option is to remove that sentence. The warning/alert is clear enough without it, I think. (And macOS has already moved beyond Big Sur, so maybe there

[2022-05-06 18:40] #2568 closed, assigned to anisa-hawes

[2022-05-09 14:18] tiagosousagarcia commented on #2542
Thanks @anisa-hawes -- sorry, left this here for a while, but happy with changes. I'll do them to the translations and request new reviews as well

[2022-05-10 14:18] #2474 closed, assigned to svmelton, ZoeLeBlanc, JoshuaGOB, anisa-hawes

[2022-05-10 15:00] anisa-hawes opened #2570 "Board of Trustees Meeting: 19 May 2022"
Board of Trustees Meeting: 19 May 2022
--

Date: 19 May 2022 Thank you for replying to my calendar invitation 
Time: [14:00 UTC](https://www.google.com/url?q=https://www.timeanddate.com/worldclock/converter.html?iso%3D20220519T140000%26p1%3D1440&sa=D&source=calendar&ust=1652626295599869&usg=AOvVaw2Ge7afUZ_nLe4S0X9z_96f)
Jitsi link: https://meet.jit.si/MaximumAttributesChairObviously
Chair: @acrymb

[2022-05-12 12:38] anisa-hawes opened #2571 "Programming Historian's Annual General Meeting : 23 May 2022 : 15:00 UTC"
![AGM-invite-Project-Team-image](https://user-images.githubusercontent.com/87070441/168073928-3bb5cb10-07f6-46d7-9981-7b3a0ca6a962.png)

---

Date: 23 May 2022
Time: [15:00 UTC](https://www.timeanddate.com/worldclock/converter.html?iso=20220523T150000&p1=1440)
Zoom link: https://ucl.zoom.us/j/4161789524
Chair of the Trustees: @acrymble
Treasurer: @drjwbaker
Secretary: @anisa-hawes
Minutes of the l

[2022-05-12 13:24] spapastamkou commented on #2533
upcoming:
- Sofia Papastamkou, "Penser la pédagogie aux méthodes numériques au prisme de la reproductibilité: le cas du Programming Historian", _Journées annuelles du réseau MATE-SHS_: Recherche reproductible: regards croisés en sciences humaines et sociales, 16-17 mai 2022, Campus Condorcet Paris-Aubervilliers, 16-17 mai 2022. Link to programme: https://ja-mate2022.sciencesconf.org/resource/page/

[2022-05-12 14:14] anisa-hawes opened #2572 "Adding a new IPP to en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores"
We have a new IPP! 🎉  The **University of Lancaster Library** have joined us!

[2022-05-13 10:04] anisa-hawes opened #2575 "Remove broken link in fr/lecons/intro-aux-bots-twitter and /en/lessons/intro-to-twitterbots"
I am removing the link http://cmuems.com/2015b/tracery-twitterbots/ from fr/lecons/intro-aux-bots-twitter and /en/lessons/intro-to-twitterbots.

This link is failing, and is currently presenting a security warning which I'm unable to move past, despite testing in several different browsers.

This link is one of several provided by the author to Other Bot Tutorials/Autres tutoriels et ressources su

[2022-05-13 10:48] #2575 closed, assigned to anisa-hawes

[2022-05-13 12:28] #2572 closed, assigned to anisa-hawes

[2022-05-13 17:47] jenniferisasi opened #2578 "Images not displaying on ph-submissions"
@anisa-hawes and I have spent about two hours now trying to find the mistake that is prompting some images not showing in the preview of lessons in the ph-submissions repo. The most baffling one being the case in [Sentiment Analysis with `syuzhet`](http://programminghistorian.github.io/ph-submissions/en/drafts/translations/sentiment-analysis-syuzhet) because it is taking the path to the Spanish ve

[2022-05-13 17:55] anisa-hawes commented on #2578
We note also, that this isn't the original path to the images folder: /images/es/lecciones/analisis-de-sentimientos-r/fig1-syuzhet.png, it would simply be /images/analisis-de-sentimientos-r/fig1-syuzhet.png – without es/lecciones

I have double-checked the liquid syntax, the file names and the directory folders... and I _think_ everything is perfect in the .md file >> https://github.com/programmin

[2022-05-13 18:33] jenniferisasi commented on #2578
Fixed it! It was about having the images *inside* the original folder and not a new one.

[2022-05-13 18:44] anisa-hawes commented on #2578
Our EN Editorial Guidelines certainly do not explain that images for translations are to be located in the 'original' images folder, in this case: images/analisis-de-sentimientos-r. I have moved them there, and the Preview is perfect now.

As we looked into this, we found that there are multiple other lesson previews on ph-submissions that also display broken images ... and now we understand the r

[2022-05-14 02:46] svmelton commented on #2570
My apologies, I'll be traveling for work and will not be able to attend this meeting.

[2022-05-18 13:17] anisa-hawes commented on #2528
I’m delighted to confirm that our recent application to add _Programming Historian em português_ to the DOAJ has been successful!

I’ve added article metadata for all PT lessons published to date, and will update again in September (when I will also update EN, ES and FR).

For now, three cheers for the Portuguese team @programminghistorian/portuguese-team!

You can view the Journal’s DOAJ dashboar

[2022-05-18 13:17] #2528 closed, assigned to anisa-hawes

[2022-05-18 13:22] anisa-hawes commented on #2536
Hello @programminghistorian/english-team  @programminghistorian/spanish-team  @programminghistorian/french-team @programminghistorian/portuguese-team.
I’d love to hear your feedback on [the rights agreement form I have drafted](https://user-images.githubusercontent.com/87070441/167189622-ca46aac4-288f-403b-95c0-368a3ce61927.png).

Do you think this will serve our needs?
Is there anything you think

[2022-05-18 13:46] anisa-hawes commented on #2533
Thanks to all who have shared their recent research activities here!

I’ve prepared a PR to update our en/research, es/investigacion, fr/recherche, pt/pesquisa pages of our website today.

N.B. I have set myself a reminder to add @matgille, @spapastamkou and @datalogism (Célian)’s forthcoming presentation at _DHNord_ in June.

[2022-05-18 13:49] anisa-hawes commented on #2298
Updates:

JB and I discussed the option of moving our YouTube account to the new admin@ email. I found these instructions: https://support.google.com/youtube/answer/3056283?hl=en-GB# and think steps 1-12 (under the heading Move your Brand Account to a different Google Account) will be the ones we need. However, our [currently advertised](https://programminghistorian.org/posts/education-and-communi

[2022-05-18 14:38] #2533 closed, assigned to anisa-hawes

[2022-05-18 14:48] drjwbaker commented on #2298
Totally agree with your rationale here.

[2022-05-18 15:23] acrymble commented on #2298
@anisa-hawes I've sent you editor invites on those spreadsheets. I don't know if it's possible to change the owner of a document (which is programminghistorian@gmail.com)

[2022-05-19 10:10] anisa-hawes opened #2580 "Amend wording of job advertisement to clarify UK employment status"
I am adjusting the wording of our job advertisement, exchanging the sentence _must be eligible to live and work in the UK_ with _the successful candidate must have permission to work in the UK by the start of their employment_.

[2022-05-19 10:24] anisa-hawes opened #2582 "Add new menu item Vacancies / Vacantes / Postes vacants / Vagas"
I am adding a new menu item to our website, to highlight our open job vacancy.

[2022-05-19 10:28] anisa-hawes opened #2583 "Fix broken link in /en/lessons/gravity-model"
I am opening this Issue to fix a broken link in the EN lesson Introduction to Gravity Models of Migration & Trade.

[2022-05-19 11:10] #2583 closed, assigned to anisa-hawes

[2022-05-19 11:40] #2580 closed, assigned to anisa-hawes

[2022-05-19 17:58] anisa-hawes commented on #2582
N.B. This will be a temporary menu item, which I'll remove when the vacancy is no longer live.

[2022-05-19 18:12] #2582 closed, assigned to anisa-hawes

[2022-05-25 15:24] anisa-hawes commented on #2570
Dear all,

I've uploaded the Minutes of our recent Board of Trustees Meeting. You can review them here: [https://github.com/programminghistorian/project-and-business-archive/blob/master/charity/Board-of-Trustees-Meetings/2022/05-2022/BoT-19-05-2022.md](https://github.com/programminghistorian/project-and-business-archive/blob/master/charity/Board-of-Trustees-Meetings/2022/05-2022/BoT-19-05-2022.md)

[2022-05-25 15:24] #2570 closed, assigned to anisa-hawes

[2022-05-25 15:59] anisa-hawes commented on #2520
I am closing this Issue following a successful AGM!

Thank you all.

[2022-05-25 15:59] #2520 closed, assigned to anisa-hawes

[2022-05-25 16:04] anisa-hawes commented on #2571
Dear all,

I have now uploaded the minutes of Monday's meeting to our Project and Business Archive.

Project Team Members can review them in Markdown format here: [2022_ProgHistLtd-AGM-minutes.md](https://github.com/programminghistorian/project-and-business-archive/blob/master/charity/AGMs/2022/2022_ProgHistLtd-AGM-minutes.md).

Please let me know if you'd like to suggest any revisions, before I c

[2022-05-26 07:32] drjwbaker commented on #2571
Excellent minutes. Thanks so much @anisa-hawes!

[2022-05-26 10:34] anisa-hawes opened #2586 "Update ph_authors.yml and teamroles.yml"
I am opening this Issue because I am updating `ph_authors.yml` and `teamroles.yml` to reflect that Maria José is no longer holding the post of Project Manager at Large and that @amsichani is no longer an English Team Editor.

These changes will result in updates to our /en/project-team, /es/equipo-de-proyecto, /fr/equipe-projet, and /pt/equipe pages).

[2022-05-26 11:30] #2586 closed, assigned to anisa-hawes

[2022-05-26 11:50] anisa-hawes opened #2588 "Adding a new IPP to en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores"
We have a new IPP! 🎉   The **[Research Centre for Digital Publishing and Digital Humanities](https://rsgyy.bnu.edu.cn/yjjg/szcbyszrwyjzx/), Beijing Normal University at Zhuhai, China** have joined us!

[2022-05-26 13:43] anisa-hawes opened #2590 "Update ph_authors.yml"
I am making a further change to `ph_authors.yml` to update @amsichani's institutional affiliation.

[2022-05-26 13:44] #2588 closed, assigned to anisa-hawes

[2022-05-26 13:45] jenniferisasi commented on #2590
@JoshuaGOB should be changing his too :) https://faculty.utk.edu/Joshua.Ortiz.Baco

[2022-05-26 14:20] anisa-hawes commented on #2590
Thank you, @jenniferisasi. I've made the changes for both Anna-Maria and @JoshuaGOB's affiliations + bios in a branch named Issue-2590.

If I generate a PR, might you or Joshua have time to review it (including my translations)?

[2022-05-26 14:36] #2590 closed, assigned to anisa-hawes

[2022-05-26 15:10] anisa-hawes opened #2592 "Adding a new element (Twitter icon + link) to our site footer"
I am adding a new element (Twitter icon + link) to our site footer.

[2022-06-01 18:31] josircg opened #2594 "Lesson "Installing Omeka" is not working anymore"
Hi folks, I'm helping the portuguese translation editors and I tried to reproduce the installation procedures and I found that the recent version of Ubuntu 18.04 is not compatible anymore with the suggested omeka version on lesson text.

So here are my suggestions to fix the lesson:

1) Most service providers do not allow ssh connection by root. So, in most of the cases, this is a confunding facto

[2022-06-03 12:50] Angelaimp commented on #2456
Thanks for this solution @anisa-hawes! I have now translated and incorporated the information box in the shared lesson translation file (with the pt-br translation team), maintaining the link to this issue.

While integrating the pt-pt and pt-br versions I also noticed that there was an extra link that did not appear in the original English version, related to the map of Aultsville, in the "Adding

[2022-06-03 13:14] Angelaimp commented on #2456
I don´t know if this is the place to ask this (and sorry if it isn´t!), but also due to the different Portuguese versions of the softwares (pt-pt and pt-br) we were wondering if it was possible to incorporate a link in the end of the lesson to a repository of images (another file in GitHub) with the pt-br version of the software?...
Thank you very much, @anisa-hawes, for your input and assistance!

[2022-06-08 14:10] anisa-hawes commented on #2594
Thank you so much, @josircg! I will take a look and prepare a PR to update this.

[2022-06-08 17:17] anisa-hawes opened #2595 "Remove live vacancy from /en/vacancies, /es/vacantes, /fr/postes-vacants, and /pt/vagas"
I am removing the live advertisement for Education and Community Lead from our website, because the application window has now closed.

I am going to leave the Menu item and pages in place, because I think this could be a useful space to advertise future calls for volunteer editors.

For now, I will replace the advertisement text with this holding message:

"Thank you for your interest in opportun

[2022-06-08 17:54] #2595 closed, assigned to anisa-hawes

[2022-06-08 20:06] acrymble commented on #2536
@anisa-hawes thanks for drafting the agreement. Can we add a sentence along the lines of 'Programming Historian is published by ProgHist Ltd (charity number...). Just to clarify why ProgHist is getting the rights.

Do we need to get translators to sign this also? And should add a managing editor's signature or something else just to avoid any ambiguity (maybe that's not necessary)?

Also I don't m

[2022-06-09 08:27] matgille commented on #2533
Dear Anisa, with Gwenaëlle @InesSalome  we've presented Progamming Historian at Humanistica 2022 congress, two or three weeks ago:

Matthias Gille Levenson, Gwenaëlle Patat. Programming Historian en français : Faire communauté pour le partage de ressources éducatives libres sur les méthodes numériques en sciences humaines et sociales francophones. Colloque Humanistica 2022, May 2022, Montréal, Can

[2022-06-09 08:31] acrymble commented on #2533
giving a talk today:

Adam Crymble, 'Local Needs for Global Digital Scholarship', _Quo Vadis_, 9 June 2022, (UCL, London)

[2022-06-09 10:01] anisa-hawes opened #2597 "Managing Editors' Meeting: Friday 17th June 2022"
Hello @DanielAlvesLABDH, @rivaquiroga @svmelton + @hawc2, and @spapastamkou.

I am opening this Issue to agree an agenda for the forthcoming meeting of MEs.

**Friday 17th June: Managing Editors' Meeting [14:00 UTC](https://www.timeanddate.com/worldclock/converter.html?iso=20220617T140000&p1=1440&p2=43&p3=232&p4=198&p5=195&p6=133)**.
10:00 Boston & Philadelphia / 10:00 Santiago / 15:00 Lisbon / 16

[2022-06-09 10:27] anisa-hawes opened #2598 "Adding new activities to our research / investigacion / recherche / pesquisa pages"
I am opening this Issue to update our research / investigacion / recherche / pesquisa pages with new activities involving Matthias @matgille, Gwenaëlle @InesSalome and Adam @acrymble.

[2022-06-09 10:45] anisa-hawes opened #2600 "Collating activities to add to the research / investigacion / recherche / pesquisa pages"
Hello all,

I've made a couple of updates to the research / investigacion / recherche / pesquisa pages of our website this morning.

Are there any other recent or forthcoming publications / workshops / events / reports you've been involved in which you'd like me to add?

@programminghistorian/portuguese-team, @programminghistorian/spanish-team, @programminghistorian/french-team, @programminghistor

[2022-06-09 10:55] #2598 closed, assigned to anisa-hawes

[2022-06-09 11:07] anisa-hawes commented on #2536
Thank you, @acrymble. This feedback is very welcome, pedantry included!

1. How do you think I could clarify that phrasing?
Would this better:

"Our publishing model is Diamond Open Access, _and in that spirit_:
- Authors retain copyright
- Authors never pay any fees to publish with us
- Content is peer-reviewed
- Content is always free for readers to access"

2. Another good point you made (in ou

[2022-06-09 12:27] InesSalome commented on #2600
Thanks for the updates @anisa-hawes ! :)

[2022-06-09 15:10] acrymble commented on #2536
sounds great. thanks.

[2022-06-10 14:01] anisa-hawes commented on #2536
This is done.

[Authorial-copyright-and-publishing-rights.pdf](https://github.com/programminghistorian/jekyll/files/8879406/Authorial-copyright-and-publishing-rights.pdf)

![Screenshot 2022-06-10 at 14 47 50](https://user-images.githubusercontent.com/87070441/173079746-5a98eaa1-6f8e-4ec2-b712-0833051d0f75.png)

I'll upload it as a PDF to [Forms](https://github.com/programminghistorian/jekyll/tree/

[2022-06-10 14:10] anisa-hawes commented on #2402
We are progressing with the recruitment process to appoint an Education and Community Lead, whose responsibilities will include: building relationships with current and potential supporters, as well as developing a programme of activities to support our Patreons and Institutional Partners.

[2022-06-10 14:10] #2402 closed, assigned to anisa-hawes

[2022-06-10 15:12] anisa-hawes opened #2601 "Revert a commit"
Jekyll has just allowed me to commit directly to gh-pages, instead of to a branch I’m preparing... (?) so I am opening this Issue to undo that change.

[2022-06-10 15:48] #2601 closed, assigned to anisa-hawes

[2022-06-10 16:14] ericbrasiln commented on #2600
Hi, @anisa-hawes
I made two presentations in May (the first one is already on the PH page, but I updated the date and the links).

Eric Brasil. “Criação, manutenção e divulgação de projetos de história em meios digitais: git, github e o programming historian”. May 20, 2022. [DOI](https://doi.org/10.5281/zenodo.6566754). Presentation [slides](https://ericbrasiln.github.io/hdfgv/) and [video](https:

[2022-06-10 16:16] anisa-hawes commented on #2600
Ah! Excellent! Thank you, @ericbrasiln! I'll make those changes + add the new entry!

[2022-06-11 07:34] acrymble commented on #2536
I haven't got it either. Maybe only the owner of the repository has it?

Edit: To make sure this is done consistently, maybe this is something you should do for all lessons, and not leave it to editors at all?

[2022-06-11 07:40] migadepan93 opened #2603 "Broken link"
I encountered an error when I tried to navigate to The Programming Historian using this link: [[PASTE URL HERE](https://programminghistorian.org/assets/basic-text-processing-in-r)]

[2022-06-11 09:29] jenniferisasi commented on #2536
@anisa-hawes Let me check... negative, I don't have the button either :/

[2022-06-11 09:30] jenniferisasi commented on #2536
By the way, do we have to translate this form?

[2022-06-13 12:44] ericbrasiln commented on #2536
@anisa-hawes
You can edit the `ISSUE_TEMPLATE` file directly in [`ph-submissions/.github` directory](https://github.com/programminghistorian/ph-submissions/blob/gh-pages/.github/ISSUE_TEMPLATE).

If you want you can add some information in the front matter as well, like this:
[code]

[2022-06-15 14:15] anisa-hawes commented on #2603
Thank you, @migadepan93! I can see that the link to the assets directory has been written incorrectly as <https://programminghistorian.org/assets/basic-text-processing-in-r>. The correct full link is: <https://github.com/programminghistorian/jekyll/tree/gh-pages/assets/basic-text-processing-in-r>.

I am going to update this across /en/lessons/basic-text-processing-in-r, /es/lecciones/procesamiento

[2022-06-15 15:06] anisa-hawes commented on #2536
Thank you, @ericbrasiln! This is great! I will do that. I noticed a spelling mistake on our Jekyll PR template months ago, and so now I know how to update this too :-)

And thank you @jenniferisasi + @acrymble for checking things from your side.

Adam, I think that is a great idea. I'd be happy to co-ordinate this, and can also organise a new directory to save the completed forms in our private re

[2022-06-17 11:05] anisa-hawes commented on #2571
Dear all,

I have circulated a PDF copy of our 2022 Annual General Meeting minutes via our Google Group.

We are grateful to those of you who were able to join us in May, and would also like to share this summary of the discussions with those who were unable to attend this time.

You can review the [minutes in Markdown format](https://github.com/programminghistorian/project-and-business-archive/bl

[2022-06-17 11:05] #2571 closed, assigned to anisa-hawes

[2022-06-20 09:16] drjwbaker commented on #2536
We don't have to translate the form. But it would be a courtesy to authors who prefer to submit in FR/ES/PT, so I suspect we should, and can happily commit from £ resource to it.

[2022-06-22 07:08] acrymble commented on #2542
In the interest of sustainability and continuity, this 'banner' should take the same form as the lessons supported in 2018 by the British Academy. The one by Sylvia Gutiérrez de la Torre in this lesson is a good model: https://programminghistorian.org/es/lecciones/analisis-voyant-tools.

I think that's also a much simpler technical solution that doesn't require any development.

[2022-06-22 07:26] acrymble commented on #2
@anisa-hawes can you investigate if there's a required action here?

[2022-06-22 07:31] tiagosousagarcia commented on #2542
Thanks @acrymble -- from what I can see that example is hard coded, correct?

For what is worth, I have a working, generalisable banner that shows up based on a YAML field on my local machine that I was going to submit as a pull request as soon as I worked out some display quirks. @drjwbaker was keen on that, but if it's not needed, I'm happy to shelve it.

[2022-06-22 07:40] acrymble commented on #2542
Sorry I just saw this is the wrong place for that conversation, which was on #2336. I thought it sounded familiar.

[2022-06-22 13:27] anisa-hawes opened #2607 "Fix broken link in /en/lessons/extracting-illustrated-pages"
I am replacing a broken link <https://requests.readthedocs.io/en/master/> in [Extracting Illustrated Pages from Digital Libraries with Python](https://programminghistorian.org/en/lessons/extracting-illustrated-pages).

I think https://requests.readthedocs.io/en/latest/user/install/#install would be a good substitution in this case. This page covers the steps towards Installation of Requests, which

[2022-06-22 14:06] #2607 closed, assigned to anisa-hawes

[2022-06-23 17:51] #2603 closed, assigned to anisa-hawes

[2022-06-25 07:17] acrymble opened #2610 "Tweetdeck retiring"
I believe we use Tweetdeck for our twitter management. This is no longer going to be supported from July 2022 so we need to make sure we can switch (probably only affects @anisa-hawes).

[2022-06-27 13:59] acrymble commented on #2600
New article came out today:

Matthew Lincoln, Sarah Melton, Jennifer Isasi, François Dominic Laramée, 'Relocating Complexity: The Programming Historian and Multilingual Static Site Generation', _Digital Humanities Quarterly_ 16, 2 (2022): http://www.digitalhumanities.org/dhq/vol/16/2/000585/000585.html

[2022-06-29 17:09] anisa-hawes commented on #2610
Thank you, @acrymble. I'll look into alternatives.... At the moment, we're using Tweet Deck to set new members up as Contributors or Admins, as well as to Manage Teams and Team Roles.

[2022-06-30 11:40] anisa-hawes opened #2612 "Committing to providing alt text for all figure images in lessons"
I'm opening this Issue as a partial response to the recommendations outlined within Dr Kavanagh's report and discussed in Issue #2072.

I'd like to make a suggestion that we commit to providing alt text for all figure images, plots and graphs included in lessons. I'm in the process of collating some resources which I think might help us to do this well.

May I ask if anyone could confirm the liqui

[2022-06-30 15:31] jenniferisasi commented on #2612
I had explored a lesson with alt text already in it; and VoiceOver (in a Mac) reads it OK. However, it doesn't indicate that it is reading an image.

@anisa-hawes and I are going to check an edited lesson + VoiceOver to find the perfect syntax

[2022-07-01 07:39] acrymble commented on #2610
it turns out it's just the app they've discontinued. I think it's going to still exist as a website https://tweetdeck.twitter.com/

So this may be a non-issue.

[2022-07-01 10:02] anisa-hawes commented on #2610
Ah, you are right. We'll be able to continue accessing TweetDeck on the web.

[2022-07-01 10:02] #2610 closed, assigned to anisa-hawes

[2022-07-01 11:06] anisa-hawes opened #2613 "Board of Trustees Meeting: 14 July 2022"
Board of Trustees Meeting: Thursday 14 July 2022
--

Date: 14 July 2022 Thank you for replying to my calendar invitation 
Time: [14:00 UTC](https://www.timeanddate.com/worldclock/converter.html?iso%3D20220715T140000%26p1%3D1440&sa=D&source=calendar&ust=1657099843836976&usg=AOvVaw3HaDL2mkPUgZV7iRToAZde)
Jitsi link: https://meet.jit.si/SoloSolidsIndicateWhatever
Chair: @drjwbaker (in @acrymble's abs

[2022-07-01 19:19] anisa-hawes commented on #2612
This question isn't yet solved. We've set up a test PR #2615, but find that VoiceOver does not read the new alt-text. It reads the caption, and prompts the user to activate “interaction”, only then to say “no title”.... Which is unhelpful.

[2022-07-06 12:54] #2600 closed, assigned to anisa-hawes

[2022-07-06 13:40] anisa-hawes opened #2617 "Update Jessica Parr's bio/affiliation."
I am updating @JMParr's bio/affiliation in `ph_authors`.

[2022-07-06 14:17] anisa-hawes commented on #2536
Update:

- [x] Trial use of the Authorial copyright forms is underway - permission forms received for first two EN lessons
- [x] ES translation is complete (thank you @jenniferisasi!)

Next steps to close this Issue:

- [x] upload EN and ES PDFs to [Forms](https://github.com/programminghistorian/jekyll/tree/gh-pages/assets/forms)
- [x] add Form download links from the Open Source, Open Access/Códi

[2022-07-06 14:49] #2617 closed, assigned to anisa-hawes

[2022-07-06 19:59] rivaquiroga commented on #2536
Hi @anisa-hawes! Thank you for all your work on this. :sparkles:
We are about to start the edition of a new original lesson in Spanish, and I would like to test the use of the form  (thanks, @jenniferisasi, for translating it :heart:).
I have a couple of questions:
- Are you going to wait until the FR and PT translations are done to open the PR to update the guidelines? (I just want to know if I c

[2022-07-07 08:47] rivaquiroga opened #2619 "Copyediting is not mentioned in the Editor Guidelines"
The copyediting process is only described [in the wiki](https://github.com/programminghistorian/jekyll/wiki/Copyeditors), and with a focus on what the Managing Editors should do. We are missing an explanation of the process in the Editor Guidelines (basically, when and how editors should request copyediting).
@anisa-hawes, maybe you can describe the process for English, and then the other teams up

[2022-07-07 10:20] anisa-hawes commented on #2536
Thank you, @rivaquiroga!

I'm happy to prepare the first of two PRs to upload the EN and ES forms, then add one sentence + a download download link to our author guidelines. (I can prepare a second PR when the FR and PT forms are ready).

In terms of the workflow, I'm happy to do it either way. As we incorporate our other sustainability practices into the workflow (typesetting and perma.cc for all

[2022-07-07 10:23] rivaquiroga commented on #2536
I like this idea!

[2022-07-07 11:55] anisa-hawes commented on #2619
Thank you, @rivaquiroga. You are right, and overhauling our Wiki is one of the important projects on my list!

I have updated the Wiki this morning. I've changed the title of the Copyediting page, to reflect that this is one of a suite of support steps we are introducing to improve the sustainability of our lessons. I've called it [Achieving Sustainability: Copyediting, Typesetting, Archival Links

[2022-07-07 15:50] anisa-hawes commented on #2612
Update: Excellent news! We have implemented some updates to [`_includes/figure.html`](https://github.com/programminghistorian/jekyll/pull/2615/files#diff-93ea26ac77edf83f17fd17c55ea4ba18c8ba43592198079abcaf7463547a45a9) which enables any alt tags included within our liquid syntax to be rendered.

Going forward, we'll need to use the following syntax:

`{% include figure.html filename="file-name.pn

[2022-07-07 17:52] rivaquiroga commented on #2612
This is great! :rocket:
A good resource for writing alt-text for data visualization is [the article](https://medium.com/nightingale/writing-alt-text-for-data-visualization-2a218ef43f81) Amy Cesal wrote for the Journal of the Data Visualization Society.

[2022-07-08 14:47] anisa-hawes opened #2622 "Adding a new IPP to en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores"
I am adding Department of Digital Humanities and Department of History, King's College London to en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores. These two departments have joined in partnership, and together are our newest IPP 🎉

At the same time, I am re-adding University College London, Department of Information Studies to the list of active partners as they have renewed.

[2022-07-08 16:06] #2622 closed, assigned to anisa-hawes

[2022-07-14 16:25] anisa-hawes opened #2625 "Onboarding Gisele Almeida, our new Education & Community Lead"
Welcome, Gisele Almeida (@GeeAlmeida)!
---
This is a checklist of tasks and conversations which @anisa-hawes is working through with our new Education & Community Lead, Gisele Almeida.

**Overview of the project:**
- [x] Introduce the About pages, including PH history
- [x] Introduce the Project Team pages and organisational structure chart
- [x] Introduce the Research pages
- [x] Introduce the Le

[2022-07-14 17:26] anisa-hawes opened #2626 "Collating recent research activities to add to research/investigacion/recherche/pesquisa"
I am collating recent research activities to add to the research/investigacion/recherche/pesquisa pages of our website next week.

- James Baker, Paola Marchionni, Jo Pugh, Jon Reades, Yann Ryan, Chahan Vidal-Gorène, Peter Webster, & Jennie Williams, '[Developing computational skills for digital collections: a new _Programming Historian_ series](https://pheedloop.com/DCDC22/site/sessions/?event=DC

[2022-07-20 12:58] anisa-hawes opened #2627 "Adding a new IPP to en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores"
I am adding Sussex Humanities Lab to en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores.

Especially excellent news:

Our friends at Sussex Humanities Lab have subscribed to our Institutional Partnership Programme for **two years upfront**  🎉
This longer-term support strengthens our position as an organisation and helps to ensure our project's sustainability.

[2022-07-21 07:21] taylor-arnold opened #2629 "Updated Link in Basic Text Processing in R"
I recieved an email yesterday about an issue running the R code from @nolauren and my lesson "Basic Text Processing in R" It seems that everything still runs as expected, which is great given all the underlying changes to the packages we used 5+ years ago. There is however, an issue with the definition of the `base_url`variable used in the lesson. I believe it should be the following:

[code]

I t

[2022-07-22 09:43] acrymble commented on #2625
I've sent @GeeAlmeida an invitation to the Jekyll team on github. Hopefully that works.

[2022-07-22 12:10] GeeAlmeida opened #2630 "High-res logos"
Hello everyone - my fist issue, yay!

Last week Anisa and I were in the IHR for an event. I tried to find high-res logos on Jekyll, and only found what is [available here](https://github.com/programminghistorian/jekyll/tree/gh-pages/images/logos).

I then tried to recreate the logos, following the brand guidelines [found here](https://github.com/programminghistorian/jekyll/wiki/Brand-Guidelines) t

[2022-07-22 12:14] anisa-hawes commented on #2629
Thank you, @statsmaths! I'll update the link!

[2022-07-22 12:38] anisa-hawes opened #2631 "Publish vacancy for new French Managing Editor"
I am preparing to publish an advertisement for a new French Managing Editor on the Vacancies / Vacantes / Postes vacants / Vagas pages our website.

[2022-07-22 12:46] acrymble commented on #2630
Hi @GeeAlmeida the files we have are vector files, which means they can be scaled up to absolutely any size. It may be a matter of making sure you have software that can work with them effectively.

[2022-07-22 13:34] rivaquiroga commented on #2630
Hi @GeeAlmeida! [Inkscape](https://inkscape.org/) and [Gimp](https://www.gimp.org/) are open source software that can be used to work with svg files.

[2022-07-22 18:05] anisa-hawes opened #2633 "Jekyll Build failure due to htmlproofer 4.2.0 | Error"
I am opening this Issue to signal that our Pull Requests pipeline is blocked, due to a build failure that is caused by an htmlproofer 4.2.0 error.

Clicking in to the error, the following information is provided:

[code]

![Screenshot 2022-07-22 at 16 29 20](https://user-images.githubusercontent.com/87070441/180477684-5592d87b-bcb2-48c8-a80a-5766d8b7a5bc.png)

See: PRs #2606, #2624, #2628 and #263

[2022-07-22 18:22] spapastamkou commented on #2633
I saw this error yesterday in another PR and it was the first time - I can't be of any help but if someone from the @programminghistorian/french-team has a clue (@datalogism maybe?), please share.

[2022-07-22 18:26] hawc2 commented on #2633
If we can't figure it out soon, should we just revert the figure.html file so we can keep publishing lessons? We can reintegrate the alt-text feature later

[2022-07-22 18:28] anisa-hawes commented on #2633
The thing is that subsequent PRs have built successfully – I had understood from our last conversation that you think this is a GitHub Actions Error unrelated to the arguments in [build.sh](https://github.com/programminghistorian/jekyll/blob/gh-pages/_build/build.sh) @hawc2?

[2022-07-22 18:42] anisa-hawes commented on #2633
@scottkleinman has replied to me via Slack, to explain that he's recently run into similar problems (outside Jekyll). Recent changes to the way GitHub Actions handles caching might be the cause. He suggests investigating caching-related issues in the [htmlproofer repo](https://github.com/gjtorikian/html-proofer/issues). I will follow this up next week. (Thank you, Scott 🙂)

[2022-07-24 11:19] anisa-hawes commented on #2633
Annotating here that @ZoeLeBlanc has found a temporary solution to this Issue, which she outlines [here](https://github.com/programminghistorian/jekyll/pull/2634#issuecomment-1193173125). We are implementing this temporary fix in PR #2634.

[2022-07-27 15:56] #2627 closed, assigned to anisa-hawes

[2022-07-27 16:10] GeeAlmeida opened #2635 "Remove an IPP"
Updating en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores to remove an IPP.

[2022-07-27 16:42] #2635 closed, assigned to GeeAlmeida

[2022-07-28 10:16] GeeAlmeida opened #2637 "Gisele's test"
I wanted to test making a change to the supporters page on the website.

[2022-07-28 11:08] anisa-hawes commented on #2629
Hello again, @statsmaths. Just finding time to take a closer look at this.

The link you suggest <`https://raw.githubusercontent.com/programminghistorian/jekyll/gh-pages/assets/basic-text-processing-in-r/`> doesn't work for me... It generates a 400: Invalid request. The link provided <`https://github.com/programminghistorian/jekyll/tree/gh-pages/assets/basic-text-processing-in-r`> directs me to th

[2022-07-28 13:07] #2637 closed, assigned to GeeAlmeida

[2022-07-28 13:16] GeeAlmeida opened #2638 "Adding Gisele to the project team page"
Adding Gisele to the project team page
Adding Gisele's photo to the team avatars

[2022-07-28 13:51] #2638 closed, assigned to GeeAlmeida

[2022-07-28 13:54] GeeAlmeida opened #2640 "Creating a blog post about Gisele"
Creating a blog post about me

[2022-07-28 14:38] #2640 closed, assigned to GeeAlmeida

[2022-07-28 15:01] acrymble commented on #2625
Looks like you two are making great progress!

[2022-07-28 16:01] GeeAlmeida commented on #2630
OK, this has been helpful, I can now see that the files are vectors. It's not a format that I am used to.

I downloaded one of the files and tried to make it smaller, and it became pixelated! I am using Photopea`https://www.photopea.com/`, which is pretty much the same as GIMP, but better in my opinion. Vector files should work on this page.

Any further thoughts on this?
<img width="212" alt="exa

[2022-07-28 16:01] GeeAlmeida commented on #2630
<img width="212" alt="example" src="https://user-images.githubusercontent.com/109232661/181584576-d41f18ee-64f0-4f46-b9a3-73b306e6f9e1.png">

[2022-07-29 11:29] anisa-hawes opened #2642 "Agreeing consistent use of the date: and translation_date: fields in lesson YAML"
I am opening this Issue in response to [a conversation](https://github.com/programminghistorian/jekyll/pull/2606#issuecomment-1197981924) @DanielAlvesLABDH and I had earlier this week.

I noted that the most recently published Portuguese lesson doesn't appear at the top of the list shown in [Índice de Lições](https://programminghistorian.org/pt/licoes/) when the list is ordered by date.

Clicking

[2022-07-29 12:45] rivaquiroga commented on #2642
We use for both original lessons and translations the date it was published.

[2022-07-29 13:21] anisa-hawes commented on #2642
Thank you, @rivaquiroga! It's really useful to understand your practice here.

[2022-07-29 16:01] #2631 closed, assigned to anisa-hawes

[2022-07-29 23:13] rivaquiroga opened #2643 "Change IPP name (RStudio, PBC -> posit, PBC)"
If I don't write this down now I will forget it. But this is an issue for October, so I already put the "On Hold" label.
RStudio, PBC is [changing its name](https://www.rstudio.com/blog/rstudio-is-becoming-posit/) to posit, PBC. After their re-launch in October, we should change their name and website in the “Our supporters” page.

[2022-07-30 08:47] taylor-arnold commented on #2629
Hi @anisa-hawes, thanks for testing this out. Yes, you're correct about the behavior of actually trying to navigate to the `base_url`. However, in the lesson one is never supposed to (or instructed to) go to the base url link directly. Rather, we download files with specific filenames attached. The one I provided won't allow you to display a directory (that's why it gives 400, BAD REQUEST response

[2022-08-03 09:27] silviaegt opened #2647 "Perhaps add topic "lod" to GLAM labs lesson"
I believe this lesson:
[Reutilizar colecciones digitales: GLAM Labs](https://programminghistorian.org/es/lecciones/reutilizando-colecciones-digitales-glam-labs)
could be part of the [linked open data tag](https://programminghistorian.org/es/lecciones/?topic=lod)
Currently it is classified as [python and data manipulation](https://raw.githubusercontent.com/programminghistorian/jekyll/gh-pages/es/le

[2022-08-04 11:00] anisa-hawes commented on #2629
Thank you for explaining @statsmaths. I'm going to try updating the link as you've suggested, but I suspect that our Jekyll build will fail because of the 400 error it generates.

[2022-08-04 11:38] anisa-hawes opened #2649 "Updating a broken link in introduccion-a-ffmpeg and introduction-to-ffmpeg"
I am updating a broken link <https://distantviewing.org/background> in /es/lecciones/introduccion-a-ffmpeg and /en/lessons/introduction-to-ffmpeg which is causing our build to fail.

[2022-08-04 11:44] GeeAlmeida commented on #2643
Thanks for this Riva, I'll set myself a reminder to amend the info we have for them in Oct.

[2022-08-04 12:57] #2649 closed, assigned to anisa-hawes

[2022-08-04 15:26] #2629 closed, assigned to anisa-hawes

[2022-08-04 15:27] anisa-hawes commented on #2629
Dear @statsmaths, just a quick note to say that this update is complete. Thank you for getting in touch, and for explaining the fix. Very best wishes, Anisa

[2022-08-04 15:28] #2647 closed, assigned to anisa-hawes

[2022-08-04 16:04] GeeAlmeida commented on #2630
Thanks everyone for your help with this issue. I have now managed to obtain the logo images I required. I have created a step-by-step guide of the process, which I have added to the [Brand Guidelines](https://github.com/programminghistorian/jekyll/wiki/Brand-Guidelines).

[2022-08-04 16:04] #2630 closed, assigned to GeeAlmeida

[2022-08-04 18:45] acrymble commented on #2630
@GeeAlmeida thank you very much for documenting it as well.

[2022-08-05 18:13] anisa-hawes commented on #2597
Dear all,

I apologise for the extended delay in uploading the minutes of this meeting. You can review them [here](https://github.com/programminghistorian/project-and-business-archive/blob/master/project/Meetings/2022/Managing-Editors-Meetings/06_2022_ManagingEditorsMeeting.md). Please let me know if you'd like me to make any amendments.

Very best wishes,
Anisa

[2022-08-05 18:13] #2597 closed, assigned to anisa-hawes

[2022-08-10 09:07] GeeAlmeida opened #2653 "Update Wikipedia"
I came across our [Wikipedia entry](https://en.wikipedia.org/wiki/Programming_Historian) today. It looks good, but needs updating. Adding Spanish, Portuguese and French versions would be great.

The current entry does not mention Portuguese or that we are a Diamond Open Access publication.

[2022-08-10 11:20] GeeAlmeida opened #2654 "Twitter Hashtags"
Hello everyone

I want to tap into our collective intelligence to improve PH communications. This is the first of other issues that will seek to get your input to amplify our voice online.

As the title gives away, I want to compile a list of hashtags to be used in our tweets, so more people see our content and also so we can start to engage with discussions related to topics we care about. So far

[2022-08-10 11:22] drjwbaker commented on #2654
#dhist

[2022-08-10 13:03] rivaquiroga commented on #2654
#HumanidadesDigitales

There are some hashtags related to more specific topics, such us #computationalliterarystudies or #corpuslinguistics. And some for specific tools, like #rstats for things related to the R programming language, or #python and #python_es

[2022-08-11 09:10] spapastamkou commented on #2642
I usually modify the date to fit the last edits/final control of the Managing Editor - most of the times this corresponds to the date the pull request is raised (or is not too far from this date), so this should be the date when the file lesson is moved to jekyll. So this is close to the ES practice and actually was established with Matt Lincoln at the time (to have the lessons appear at the top o

[2022-08-11 09:13] anisa-hawes commented on #2642
Thank you for clarifying how you date FR lessons, @spapastamkou.

[2022-08-11 09:17] spapastamkou commented on #2642
Maybe some sort of note on this should be added to the editor guidelines for the part that regards the ME's tasks.

[2022-08-11 10:26] anisa-hawes commented on #2653
Thank you, @GeeAlmeida! There is a dedicated PT Wiki page on _Programming Historian_ [here](https://pt.wikipedia.org/wiki/Programming_Historian), but I agree it would be good to update the EN version so that it reflects all our journals.

There is also an [FR Wiki page](https://fr.wikipedia.org/wiki/Programming_Historian) and an [ES page here](https://es.wikipedia.org/wiki/Programming_Historian).

[2022-08-11 19:27] spapastamkou commented on #2654
#histnum (<= histoire numérique)

S

Le mer. 10 août 2022 à 15:03, Riva Quiroga ***@***.***> a
écrit :

[2022-08-12 09:29] spapastamkou commented on #2619
These elements are already in the French author guidelines since the last revision so if need to refer to language specificities they can be copied from there (or send to this part of the author guidelines via a link).

[2022-08-12 10:02] GeeAlmeida commented on #2654
Great stuff everyone, thanks a lot!

[2022-08-12 10:55] DanielAlvesLABDH commented on #2654
Sorry for the late reply @GeeAlmeida. #humanidadesdigitais and #historiadigital are two commom hastags

[2022-08-12 11:06] DanielAlvesLABDH commented on #2642
Hello all. Since it seems that the best solution is to use the date of the publication or the PR that start the publication process, I agree that we should use that solution. @anisa-hawes should I open a PR to fix the translation dates to all of our lessons or are you going to do that?

[2022-08-12 11:15] anisa-hawes commented on #2642
Thank you, @DanielAlvesLABDH. I think it may be best to leave the dates as they are for lessons published in the past because they may have been cited, and in some cases changing the date will change the volume number (year of publication).

What do you think?

But we can agree on this practice going forwards.

[2022-08-12 12:42] DanielAlvesLABDH commented on #2642
I agree @anisa-hawes and will implement that in future publications

[2022-08-12 13:27] #2642 closed, assigned to anisa-hawes

[2022-08-12 16:04] GeeAlmeida opened #2657 "Adding a new IPP to en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores"
I am adding  The University of York to en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores. The university has joined us via the Jisc subscription management tool.  🎉

[2022-08-12 16:06] GeeAlmeida commented on #2654
Obrigada Daniel :)

[2022-08-12 16:45] #2626 closed, assigned to GeeAlmeida

[2022-08-12 16:53] #2657 closed, assigned to GeeAlmeida

[2022-08-13 07:25] anisa-hawes opened #2659 "Project Team Meeting: Friday 23 September 2022"
Project Team Meeting: Friday 23 September 2022
--

Date: Friday 23 September 2022
Time: [15:00 UTC](https://www.timeanddate.com/worldclock/converter.html?iso=20220923T150000&p1=1440)
Zoom link: https://zoom.us/j/5959205456
Minutes of the last meeting: [03_2022_ProjectTeamMeeting.md](https://github.com/programminghistorian/project-and-business-archive/blob/master/project/Meetings/2022/Project-Team-

[2022-08-13 07:54] anisa-hawes opened #2660 "Rethinking the platforms we use for internal communications"
I am opening this Issue to resurface [a conversation we had](https://github.com/programminghistorian/project-and-business-archive/blob/master/project/Meetings/2022/Project-Team-Meetings/03_2022_ProjectTeamMeeting.md) at our Project Team Meeting in March.

During that meeting, Maria José observed that GitHub has become a natural archive of our decision-making. Meanwhile, important conversations wer

[2022-08-16 13:07] anisa-hawes commented on #2613
Dear all,

Apologies for the extended delay in uploading the Minutes of July's Board of Trustees Meeting. They are now available for your review [here](https://github.com/programminghistorian/project-and-business-archive/blob/master/charity/Board-of-Trustees-Meetings/2022/07-2022/BoT-14-07-2022.md) in Markdown format.

As always, let me know if you'd like me to amend anything.

Thank you for your

[2022-08-16 13:07] #2613 closed, assigned to anisa-hawes

[2022-08-22 14:33] jenniferisasi opened #2665 "Change of wording in difficulty category in ES snippets"
We realized that the words for the difficulty fild in our snippets or metadata is in the masculine, and the agreement calls for the femenine form.

[2022-08-22 15:36] #2665 closed, assigned to jenniferisasi

[2022-08-25 22:08] ericbrasiln opened #2670 "Proposition to create kanban-style project for managing portuguese editorial workflow"
Hello @programminghistorian/portuguese-team

I would like to suggest the creation of a kanban-style project titled **PT PH Submissions & Publication Track** following the model of those that already exist for the [English](https://github.com/programminghistorian/jekyll/projects/3), [French](https://github.com/programminghistorian/jekyll/projects/5) and [Spanish](https://github.com/programminghisto

[2022-08-29 14:45] rivaquiroga commented on #2660
What about moving to Discord? It has voice/video channels for quick meetings. And the app doesn't consume as much RAM as Slack, so it works perfectly on older devices.

[2022-08-29 14:52] rivaquiroga commented on #2670
@ericbrasiln, using the board has been very useful! I don't see any disadvantage.
With @anisa-hawes we've been talking about using the new version of GitHub projects, which allows you to connect the board to current open issues. We still have to test all the new features.

[2022-08-29 16:42] ericbrasiln commented on #2670
Yes @rivaquiroga! I totally agree with you. And i'm already using the new version of Projects and it's great! You can create table or board views for the  project's items, generate charts, and the integration with issues is really nice.

[2022-08-29 16:46] nllano commented on #2670
I completely agree with you two, Riva and Eric. This is my first experience with Projects, but I am really enjoying how easy and clean the whole process looks this way.

[2022-08-30 07:49] drjwbaker commented on #2660
Thanks for starting this @anisa-hawes. Getting away from Slack seems sensible. I understand that Discord could work well, but have zero experience.

[2022-08-30 21:33] ericbrasiln commented on #2660
I've been using Discord in undergraduate/graduate courses and to supervise student researches and I think it works well, particularly voice/video channels, screen sharing, and bots to creating polls and automatic answers.
I know there are bots and apps to download messages from Discord servers, but I don't know of an official Discord feature for that. However, from what I've read, old messages on

[2022-08-30 22:18] hawc2 commented on #2660
Are we sure these upcoming changes to Slack affect us? Don't we have the nonprofit pro plan? My understanding is that we are eligible for that through TechSoup and that the nonprofit plan for Slack isn't being affected by these changes.

Personally, I would not be in favor of changing the platform away from Slack to Discord, but if a majority of people on the team would be more likely to use Disco

[2022-08-31 08:37] spapastamkou commented on #2660
I would suggest considering to continue to use Slack for quick exchanges and when a given exchange leads to more extensive discussion to then open an issue on Github where more members can theoretically participate and in any case the issue will be archived as usual. This said, I do not use Discord and am no familiar with its possible advantages - it seems to me though that it could be more diffic

[2022-08-31 10:29] #2654 closed, assigned to GeeAlmeida

[2022-08-31 10:30] GeeAlmeida commented on #2654
Thanks to everyone who contributed, I have made a note of the suggested hashtags and will be adding them to PH tweets!

[2022-08-31 10:38] GeeAlmeida opened #2671 "Collating activities to add to the research / investigacion / recherche / pesquisa pages"
Hi everyone

Does anyone have any research activities to add to PH's research / investigacion / recherche / pesquisa pages?

I'll add the roundtable discussion on 8/Sept. If you have anything, please let me know below!

[2022-08-31 15:18] acrymble commented on #2671
@GeeAlmeida if you'd like more people to see this via an alert, you can tag @programminghistorian/project-team and as long as they haven't turned alerts off they should get notified.

[2022-09-01 09:33] acrymble commented on #2670
Great to see efforts to improve the workflow. I had a look at the English Kanban and the one thing it seems to be missing is a sense of how long something has been stuck at a particular point in the publication cycle. I know other publishing workflow tools tend to have clear automated warnings, either stoplight colours or a prominently listed number of days, to help MEs know when something needs p

[2022-09-01 09:54] acrymble commented on #2671
It looks like our report form Dr Amy Kavanagh on accessibility isn't listed on the page. I've attached the files here so they can be added.
[INC00027 - Initial Accessibility Testing - Summary of Findings.docx](https://github.com/programminghistorian/jekyll/files/9468835/INC00027.-.Initial.Accessibility.Testing.-.Summary.of.Findings.docx)
[Programming Historian - AK audit.docx](https://github.com/p

[2022-09-01 10:40] ericbrasiln commented on #2670
That's a good point, @acrymble. I think one way to handle this in GitHub Projects (Classic) is to add labels on late issues.

We could create a workflow on GitHub Actions to automatically label issues that are in a given project column for a specific period of time. But of course this would require some research and testing before implementing it. Therefore, it may be a solution that will consume

[2022-09-01 16:03] rivaquiroga commented on #2670
Just a note: we've been discussing with @anisa-hawes about using the new GitHub Projects. The possibility of grouping issues by labels, milestones, reviewers, etc., allows us to have one board for all the four publications.
Regarding @acrymble comment, as @ericbrasiln mentions we can create a GitHub action that add a specific label or post a message when a ticket has been open for X number of days

[2022-09-01 21:34] ericbrasiln commented on #2670
That would be amazing! If you need any help, you can count on me.  😄

@rivaquiroga @anisa-hawes Do you suggest to leave the Portuguese Kanban on hold, while the idea of moving all boards to a new GitHub Project is under discussion?

[2022-09-02 10:33] GeeAlmeida commented on #2671
Possibly to include:

Martin Dröge: Review of: The Programming Historian, in: H-Soz-Kult, August 31, 2019, [<www.hsozkult.de/webreview/id/rezwww-184>](https://translate.google.com/website?sl=auto&tl=en&hl=en&client=webapp&u=http://www.hsozkult.de/webreview/id/rezwww-184) .

https://www-hsozkult-de.translate.goog/webreview/id/rezwww-184?_x_tr_sl=auto&_x_tr_tl=en&_x_tr_hl=en&_x_tr_pto=wapp

[2022-09-02 10:55] GeeAlmeida commented on #2671
link to Goñi's piece is broken. Here's a link that works:
https://revistas.uned.es/index.php/RHD/article/view/22420

[2022-09-02 16:14] anisa-hawes commented on #2625
@GeeAlmeida, did you manage to solve the issue with Two Factor Authentication for Patreon? If not, this is something to chat with James about when you connect. Then we can tick off the last task and close this Issue!

[2022-09-02 16:49] GeeAlmeida commented on #2659
@programminghistorian/project-team
Here are three files we want to share with you ahead of our meeting:

**1. Breakdown of PH's audience:**

<img width="1337" alt="PH Audiences" src="https://user-images.githubusercontent.com/109232661/188200157-2376bde3-cea5-4b21-82ca-f8c924b2dc28.png">

**2. Ideas of events for the different groups:**

<img width="1435" alt="PH Events" src="https://user-images.gi

[2022-09-02 16:50] GeeAlmeida commented on #2625
I can access Patreon, but have not been able to set up the two factor authentication. I'll speak to James about this.

[2022-09-02 17:02] drjwbaker commented on #2625
Hmm. I just tried to log into Patreon and I don't have 2FA setup for Patreon on my mobile.

[2022-09-02 17:02] drjwbaker commented on #2625
(for context, I haven't logged into Patreon in a long time - maybe Adam has?)

[2022-09-02 17:09] anisa-hawes commented on #2625
Oh.... I have 2FA for Patreon so I thought it might be worth Gisele setting up too. There may a limit to the number of devices from which we can log on to this service? In which case, I could disable 2FA on my side.

[2022-09-02 17:12] DanielAlvesLABDH commented on #2670
Dear all, sorry for the long silence on this. It was my decision in the beginning of the Portuguese project not to use this feature. I had so many other things to learn about GitHub at the time and so many other things to do that I didn't realize the benefits of this. Talking to Eric today we both agree that implementing this to manage our work would be better now, since we have too many issues, t

[2022-09-02 17:28] drjwbaker commented on #2625
Ack. Yeah. Sometimes 2FA can only connect to one device unless we can create profiles within the login (this is what Xero allows, so I can get in there but so can our accountants, should something happen to me!)

[2022-09-02 17:51] anisa-hawes commented on #2625
Okay. I'll connect with Gisele to disable 2FA on my side, and enable it on her side. (If we agree it is necessary to have 2FA?)
Then I'll close this Issue.

[2022-09-02 18:22] anisa-hawes commented on #2670
Thank you, @ericbrasiln for opening this Issue and to all who have contributed so far.

Thank you @DanielAlvesLABDH for your support, too.

Eric and I are going to connect next Friday 9th September to chat about GitHub Projects Beta, and think about how we can collaborate 🙂

[2022-09-02 18:26] drjwbaker commented on #2625
Re 2FA, I guess the calculation is what do we gain/lose from it.

With 2FA off, if someone hacked our account, we'd have a valuable - if not not vital - source of income source of income stolen, possibly suffer some spamming, and lose some pride.

With 2FA on, if, for whatever reason, we lose the ability to access our 2FA, we lose the whole account (unless Patreon has a way to recover it).

So it

[2022-09-06 08:44] drjwbaker commented on #2659
Hey @GeeAlmeida, just want to say that I love the audience model: really should help us think through how and what to do in an eduation space.

[2022-09-07 07:48] spapastamkou commented on #2277
This sabbatical has been prolonged for several months (via email). However, Marie-Christine has no real capacity to reintegrate the team by September, which is why the best solution is currently for her to step down from the team, as we agreed by email. I will open a special ticket to organize this.

[2022-09-07 07:54] spapastamkou opened #2672 "Marie-Christine Boucher stepping down"
Related to #2277. @mariechristineb is stepping down for the FR team. Here is a list of what we have to do at the team level:

- [x] Remove Google Groups access (@anisa-hawes)
- [x] Remove Google Analytics access (@acrymble) ?
- [x] Remove Github Jekyll access (@ZoeLeBlanc)
- [x] Remove from ProgHist Ltd register of members (@drjwbaker)
- [x] Remove Twitter access (@anisa-hawes)
- [x] Change team:

[2022-09-07 07:56] spapastamkou commented on #2672
@anisa-hawes MC was mentionned somewhere in the wiki as the person to contact for the FR team for bug resolution. I do not seem to find this page but I will check again. I drop this here to not forget.

[2022-09-07 07:59] spapastamkou commented on #2672
@mariechristineb Merci pour ton service et bonne chance pour la suite. A bientôt!

[2022-09-07 09:55] mariechristineb commented on #2672
@spapastamkou Merci, Sofia! Ce fut un plaisir de collaborer avec l'équipe sur ce projet. À bientôt!

P.S. C'est ici que mon nom est mentionné: [Lesson Maintenance Workflow](https://github.com/programminghistorian/jekyll/wiki/Lesson-Maintenance-Workflow)

[2022-09-07 13:47] acrymble commented on #2672
@mariechristineb very best wishes for your next adventure!

[2022-09-07 15:29] anisa-hawes commented on #2672
Thank you, @mariechristineb.

I have removed your name from the list of external assessors on the Lesson Maintenance Workflow wiki page.

[2022-09-07 15:54] anisa-hawes opened #2675 "Remove broken link in en/lessons/introduction-to-populating-a-website-with-api-data"
I am removing a broken link from the EN lesson [Introduction to Populating a Website with API Data](https://programminghistorian.org/en/lessons/introduction-to-populating-a-website-with-api-data).

This link is one of a number listed as [Useful APIs](https://programminghistorian.org/en/lessons/introduction-to-populating-a-website-with-api-data#useful-apis). Navigating the site, and performing basi

[2022-09-07 16:19] #2675 closed, assigned to anisa-hawes

[2022-09-07 16:46] anisa-hawes commented on #2672
Dear @spapastamkou. I'm not able to remove Marie-Christine from our organisation on GitHub – I think that only the owners of our repository are able to do this. Are you able to help @acrymble?

N.B. I am able to remove write access to outside collaborators, but I double checked and Marie-Christine is not listed as having any access permissions (neither on Jekyll nor ph-submissions)

Meanwhile, I h

[2022-09-07 19:14] spapastamkou commented on #2672
Thanks @anisa-hawes !
Maybe I should ping @ZoeLeBlanc ro check this?

[2022-09-07 19:37] ZoeLeBlanc commented on #2672
I can do it! Just to confirm Marie-Christine's just on the French team correct? Once I remove her, then any forks or branches of her's will be deleted so just want to double check we are ready to remove her. Thanks!

[2022-09-07 20:34] spapastamkou commented on #2672
@ZoeLeBlanc Yes, I confirm MCB is only in the FR team and she was on sabbatical since some months, so nothing should be broken, if you remove her. Cheers!

[2022-09-07 20:34] anisa-hawes commented on #2672
Thank you, @ZoeLeBlanc. She is on the [Project Team](https://github.com/orgs/programminghistorian/teams/project-team/members?query=membership:child-team), and in the [French Team](https://github.com/orgs/programminghistorian/teams/french-team/members).

[2022-09-07 20:41] ZoeLeBlanc commented on #2672
Thanks @spapastamkou and @anisa-hawes ! Just removed her from both. Think final thing is to remove her from the org but wondering if we want to transfer to outside collaborator or not 🤔 ? Not sure that was an option before... thoughts @anisa-hawes ?

[2022-09-07 20:49] anisa-hawes commented on #2672
I plan to open a separate issue to document this work, but I've been doing some spring cleaning of ph-submissions recently, to remove outside collaborators who are neither actively authoring/translating or reviewing.

Looking through the list, I found that we had many people who contributed 1, 2, 3, years ago yet still had write access. If Marie-Christine, or anyone else _needs_ write access to wo

[2022-09-08 01:51] hawc2 commented on #2483
@anisa-hawes can I help close this and other English-language lessons with maintenance issues? What remains to be changed in this case?

[2022-09-08 01:54] hawc2 commented on #2501
@anisa-hawes can I help resolve this issue?

[2022-09-08 07:05] spapastamkou commented on #2672
Thank you both @anisa-hawes and @ZoeLeBlanc.
Anisa: I did some cleaning too some time ago and would perhaps be good to do this more systematically.

Sounds fine to invite people as outside collaborators when necessary (and not "stock" them as such for years).

[2022-09-08 10:33] anisa-hawes opened #2677 "Setting up a semi-regular audit of branches and outside collaborators"
I have recently carried out some tidying across our two key repositories: /programminghistorian/jekyll/ and /programminghistorian/ph-submissions.

- [x] I have cleared all stale and merged branches (both repos).
- [x] I have removed write access from all outside collaborators who are not actively authoring/translating or reviewing (ph-submissions). I found that we had many people who contributed 1

[2022-09-08 10:39] anisa-hawes opened #2678 "September update of the Directory of Open Access Journals (DOAJ)"
This September, I am updating our article listings in the [Directory of Open Access Journals (DOAJ)](https://doaj.org/about/).

- [x] _Programming Historian_ <https://doaj.org/toc/2397-2068>
- [x] _Programming Historian en Español_ <https://doaj.org/toc/2517-5769>
- [x] _Programming Historian en Français_ <https://doaj.org/toc/2631-9462>
- [x]  _Programming Historian em português_  <https://doaj.o

[2022-09-08 13:19] ZoeLeBlanc commented on #2672
Thanks both!! I just removed Marie-Christine from the org as well so think that's it for her stepping down. Thanks for all your hard work 👏🏽

[2022-09-08 13:25] hawc2 commented on #2325
Chiming in here, it would be great to standardize and clarify this for authors, readers, and for our internal editorial purposes. @anisa-hawes how far along did we get with updating our editorial guidance on this and related issue #2228?

I encountered recently a relevant example, when I was surprised to see this lesson, currently being published, listed as Intermediate difficulty, until the autho

[2022-09-08 13:26] hawc2 commented on #2
@acrymble seems like this issue can be closed and the broader question raised here can be added to a list of features under consideration for website redesign or enhancement at a later point. Unless I'm mistaken there's not a current problem with PH's code rendering that needs to be resolved here . . .

[2022-09-08 13:26] hawc2 commented on #2578
@jenniferisasi @anisa-hawes this ticket can be closed right? Is there any update to editorial guidelines we need to make?

This is also the kind of info that can be made clearer on the `ph-submissions/readme.md`

[2022-09-08 14:14] anisa-hawes opened #2679 "Managing Editors' Meeting: Friday 30th September 2022"
Hello @DanielAlvesLABDH, @rivaquiroga, @spapastamkou and @hawc2.

I am opening this Issue to agree an agenda for the forthcoming meeting of MEs.

Date: Friday 30th September
Time: [13:00 UTC](https://www.google.com/url?q=https://www.timeanddate.com/worldclock/converter.html?iso%3D20220930T130000%26p1%3D1440%26p2%3D198%26p3%3D232%26p4%3D195%26p5%3D133&sa=D&source=calendar&ust=1663076940024415&usg=A

[2022-09-08 14:15] anisa-hawes commented on #2325
Thank you for adding your thoughts, @hawc2. Seems like we need to agree a clear set of criteria to define each level of difficulty. Riva has proposed a framework to start with, and we have some initial feedback. I've added this to the agenda for discussion at the next Managing Editors' Meeting.

My sense is that #2228 is more about the front-end of our website, and how our readers can interact wit

[2022-09-08 16:38] anisa-hawes opened #2680 "Dedicated Managing Editors' email addresses: updating our website to reflect this"
Following discussions at our last Managing Editors' meeting, I've set up 4 dedicated email accounts within our Google Workspace for the Managing Editors.

I'd like to encourage members of the @programminghistorian/project-team to make note of the following addresses, and please begin to use them for all project-related correspondence:

english@programminghistorian.org
espanol@programminghistorian.

[2022-09-08 16:40] anisa-hawes commented on #2680
At the moment, the Author Guidelines and Contribute pages make use of the following snippet of code `{ % include managing-editor.html lang=page.lang %}` which references a name within ph_authors.yml associated with `team_roles:   - managing` . As the contact addresses will now be fixed, I am going to remove these snippets and replace them with a straight-forward mailto: link.

[2022-09-08 17:58] #2678 closed, assigned to anisa-hawes

[2022-09-08 17:58] #2677 closed, assigned to anisa-hawes

[2022-09-09 08:33] mariechristineb commented on #2672
Thanks everyone! It was a pleasure to collaborate on such a great project :heart:

[2022-09-09 10:02] #2680 closed, assigned to anisa-hawes

[2022-09-09 11:02] anisa-hawes commented on #2501
Thank you for offering support @hawc2. I apologise for the long delay in following up here.

I've had in my mind that in the process of reviewing a separate lesson, one of our outside collaborators, Ryan Cordell, alerted me to a further issue with this lesson.

Ryan explained that:

So I need to take another look. I work on a Mac, although I do not have the latest OS.

[2022-09-09 19:05] spapastamkou commented on #2677
Thank you @anisa-hawes.

[2022-09-09 21:21] hawc2 commented on #2501
I just tested it on MacOS BigSur and the installation worked fine.

I got the same error message you received @anisa-hawes, but I think it's just a warning. As it says, you can also add the argument `--force-ocr`, which seems to work.

This lesson will likely face a bunch of sustainability issues. It may benefit from a revisit and upgrade, but this particular bug report can probably be closed.

[2022-09-16 13:59] GeeAlmeida commented on #2659
@programminghistorian/project-team
This is another gentle reminder of our meeting next Friday! I have just emailed everyone about it. See you then!

[2022-09-16 17:17] GeeAlmeida opened #2682 "Getting PH listed in resources databases"
Hi everyone @programminghistorian/project-team!

Today I started to identify DH resource databases and email them asking if they would like to list our awesome and incredibly resourceful website in their pages. The ones I already identified and contacted are [the MIT](https://libguides.mit.edu/digitalhumanities) and the [dhcenter](https://dhcenter-unil-epfl.ch/en/resources/).

Please let me know o

[2022-09-20 19:36] spapastamkou commented on #2659
Please note I am currently with Covid, and might be unable to assist although I'll do my best. cc @programminghistorian/french-team
Thank you.

[2022-09-20 23:39] rivaquiroga commented on #2659
I teach in that time slot, so I won't be able to join :broken_heart:

[2022-09-21 01:38] JMParr commented on #2659
J'espère que tu te sens mieux, Sofia!

On Tue, Sep 20, 2022 at 3:36 PM Sofia Papastamkou ***@***.***>
wrote:

[2022-09-21 14:39] hawc2 commented on #2542
What's the status of this enhancement? The English team currently has two JISC lessons ready for publication waiting on this feature. Will it be fixed soon? If not, is it necessary?

[2022-09-21 14:50] acrymble commented on #2542
I dont' think this feature has an owner @hawc2 as Tiago is no longer with us. Can you just add the acknowledgment text to the lessons so they aren't held up? That's the Minimal Viable Product we need from this. Does that work?

[2022-09-21 14:51] acrymble commented on #2625
@anisa-hawes can we just turn this off and then we can close this issue.

[2022-09-21 15:24] drjwbaker commented on #2542
@hawc2 Indeed. If nobody from the @programminghistorian/technical-team is willing to take on the PR https://github.com/programminghistorian/jekyll/pull/2616 (which seems to be the case), multi-lingual hardcoding will have to be the way forward. @anisa-hawes and I talked about this last week (when we met IRL!). @anisa-hawes: is that still your preference as well?

[2022-09-21 15:25] ZoeLeBlanc commented on #2542
I can take a look at this later today @drjwbaker ! Apologies for missing this earlier

[2022-09-21 17:43] #2276 closed, assigned to drjwbaker

[2022-09-22 07:34] drjwbaker commented on #2542
Thanks @ZoeLeBlanc for taking a look at this and approving the PR https://github.com/programminghistorian/jekyll/pull/2616

[2022-09-22 08:05] acrymble commented on #2542
@anisa-hawes is back from leave tomorrow and can attend to this. It may take her a few days as she's been on leave for a few weeks.

[2022-09-22 10:04] anisa-hawes commented on #2625
Thank you, @acrymble. Did you already switch off the 2FA?

I'm no longer able to log in at all from my side. I think perhaps there is a limit to the number of devices we can access our Patreon account from.

[2022-09-22 10:04] #2625 closed, assigned to anisa-hawes, GeeAlmeida

[2022-09-22 10:05] acrymble commented on #2625
No I don't have access anymore either.

[2022-09-22 10:11] anisa-hawes opened #2683 "Re-establishing access to our Patreon account"
I'm opening this issue to ensure that we can re-establish access to our Patreon account.

In the course of conversation in #2625, we decided to turn off 2 Factor Authentication, but now neither @acrymble or myself can access the account.

[2022-09-22 10:14] anisa-hawes commented on #2683
Hello @drjwbaker. When you have a moment, could you check whether you're able to access our Patreon account?

I'm wondering if we might need to prompt a password re-set.

[2022-09-22 10:23] drjwbaker commented on #2683
I can't access it either.

[2022-09-22 11:03] anisa-hawes commented on #2683
Hello @GeeAlmeida. You won't see this note until tomorrow, but when you have a chance could you check if you can still access Patreon? I'm really confused about what has happened here...

[2022-09-22 15:00] anisa-hawes commented on #2542
Thanks all!

I'm back! 🙂

Just preparing to make some final adjustments to `_data/snippets.yml` and add ES, FR and PT pages equivalent to `jisc-tna-partnership.md' so that we have translations in place.

Following up on [my suggestion above](https://github.com/programminghistorian/jekyll/issues/2542#issuecomment-1091952550) to simplify and shorten the banner text originally suggested, I've prepare

[2022-09-22 15:22] acrymble opened #2684 "Tech Team project team descriptions"
I've spoken to @ZoeLeBlanc and @hawc2 about the way we describe our 'tech team' on the project team page. This reflects an old way of working, and puts 'responsibility' for the website with the Tech Team members who are volunteers. We've also got some members of our wider team who have provide (or continue to provide) valuable tech support to our staff, for improving or fixing things on the websit

[2022-09-23 12:00] anisa-hawes commented on #2683
@GeeAlmeida has solved the mystery! Our Patreon account is now linked to community [@] programminghistorian.org. Password remains the same as before. Two Factor Authentication is OFF. I've updated [the Service Integrations page](https://github.com/programminghistorian/project-and-business-archive/blob/master/service-integrations/ProgHist-Service-Integrations.md#patreon).

[2022-09-23 12:00] #2683 closed, assigned to anisa-hawes

[2022-09-26 06:48] GeeAlmeida opened #2686 "Workshop ADHO 2023"
Hi Alex, Zoe and Scott

I started this issue because I don't have all of your emails. Plus this gives an opportunity to everyone in the @programminghistorian/project-team who wants to collaborate a chance to join us at this early stage. So, for those of you who were not there, during our team meeting on Friday Alex suggested putting together an application for a workshop to be presented at the ADH

[2022-09-26 06:50] acrymble commented on #2298
@anisa-hawes just wanted to check to see if this list is still relevant, or if we should make a new one for the coming year?

[2022-09-26 11:36] fredericofreitas-ncsu opened #2687 "Issues with "Fetching and Parsing Data from the Web with OpenRefine""
Lesson: [Fetching and Parsing Data from the Web with OpenRefine](https://programminghistorian.org/en/lessons/fetch-and-parse-data-with-openrefine)

System: MacOS 12.5.1
Software: OpenRevine 3.6.1

I used Examples 1 and 2 in class, and I found a few small bugs. I was able to identify the issues and correct them.

**Example 1: Fetching and Parsing HTML**

In this tutorial, some of the functions in t

[2022-09-27 05:16] acrymble commented on #2687
Thanks for reporting this @fredericofreitas-ncsu ! We'll take a look

[2022-09-27 06:05] acrymble opened #2688 "Updating Register of Members"
This is an administrative thing we have to do at ProgHist from time to time to keep the register of members up to date. I've sent a draft to @drjwbaker to check over. I'll close this when we've confirmed it.

[2022-09-27 06:05] acrymble commented on #2672
The last task will be covered by #2688

[2022-09-27 06:05] #2672 closed, assigned to spapastamkou, anisa-hawes

[2022-09-27 14:47] hawc2 commented on #2686
Here's the CFP online (took me a while to find it): https://dh2023.adho.org/?page_id=308

[2022-09-28 16:36] GeeAlmeida commented on #2682
Already listed:
https://guides.lib.utexas.edu/digitalhumanities/resources
https://libguides.northwestern.edu/dh/resources
https://guides.loc.gov/digital-scholarship/resources

Added:
https://dhcenter-unil-epfl.ch/en/resources/

[2022-09-28 17:08] GeeAlmeida commented on #2682
Wrote to:
MIT
Bodleian (Oxford)

[2022-09-28 17:14] GeeAlmeida commented on #2671
Daniel Alves, Adam Crymble, Victor Gayol and Lucia Michielin. Roundtable Discussion 'Digital Humanities Roundtable: 'Where' affects 'How' we teach' University College London, 8 September 2022
https://www.eventbrite.co.uk/e/digital-humanities-roundtable-where-affects-how-we-teach-tickets-394224866187

[2022-09-28 17:55] acrymble opened #2689 "Lesson files still on /submissions site"
In the following sentence, the linked dataset is still on the PH Submissions repo:

To follow along, download [lesson_files.zip](https://github.com/programminghistorian/ph-submissions/raw/gh-pages/assets/extracted-features-lesson_files.zip) and unzip it to any directory you choose.

This is in https://programminghistorian.org/en/lessons/text-mining-with-extracted-features lesson.

[2022-09-28 18:48] #2671 closed, assigned to GeeAlmeida

[2022-09-30 12:43] GeeAlmeida opened #2691 "Twitter Bot"
I am looking at editing the Twitter bot. I want to add content and filter out some old content.

I wonder if anyone (@programminghistorian/project-team) can give me more information on how it works? I'll drop my main questions below:

- If I add or delete rows, how does that interfere with the bot's schedule of publications?
- I would like to move things that seem to be in the wrong tab (Portugues

[2022-09-30 14:16] spapastamkou commented on #2691
You can check the instructions for the bot here: https://github.com/programminghistorian/proghistbot especially for the third point

[2022-09-30 14:17] anisa-hawes commented on #2691
Hello @GeeAlmeida. Yes! I can help!

We use a Twitter Bot as a tool to initiate promotion of new lessons, and help activate lessons from our past catalogue.

You can add, edit, cut or paste rows of the Google Sheet. Our Bot promotes one lesson a week at random, which means that we don't have control over when it will select a specific row.

Each row represents a pair of Tweets to be posted within

[2022-09-30 14:28] anisa-hawes commented on #2660
I've been investigating @hawc2's suggestion of applying for a Slack for Charities Pro Subscription (which is free :slightly_smiling_face:) but I have found that I can’t because I’m not the owner/administrator of our organisational channel. Who is?

I'd like to take the next step/find out what's new for Pro users and discover whether or how we would be able to archive our chats if we took that opti

[2022-09-30 14:44] rivaquiroga commented on #2660
With Ctrl+shift+E you can search people by role on Slack. It looks like @walshbr is the owner, and  @ZoeLeBlanc is the administrator.

[2022-09-30 14:55] ZoeLeBlanc commented on #2660
Happy to help with this @anisa-hawes but also want to add my vote towards moving to Discord. Also previously I've used existing tools to download Discord messages when I need to calculate student participation. But generally just want to support us using either of these platforms more often over google groups or emails since they are difficult for these types of conversations.

[2022-09-30 15:05] jenniferisasi commented on #2691
Chiming in to add to @anisa-hawes, briefly, take ownership of the Comms tab 💯

[2022-09-30 15:27] walshbr commented on #2660
FWIW I think you can have multiple owners, @ZoeLeBlanc is also an owner according to the dashboard. It looks I can't self-remove myself as owner but feel free to do so, Zoe :)

[2022-09-30 16:10] ZoeLeBlanc commented on #2660
Just made you member @walshbr and you owner @anisa-hawes (wasn't sure if owner or admin was better but went with owner for now)

[2022-09-30 16:16] anisa-hawes commented on #2660
Thank you, @ZoeLeBlanc! I will investigate our options for Slack for Charities Pro Subscription and am also researching how easy/difficult it is to set up a Discord server. If anyone has knowledge to share on this, let me know.

[2022-09-30 16:26] ZoeLeBlanc commented on #2660
Thanks @anisa-hawes 🙏🏽 ! Everything I learned about Discord came from @rccordell Ryan Cordell's post https://ryancordell.org/teaching/classroom-discord/

[2022-09-30 16:48] #2542 closed, assigned to tiagosousagarcia

[2022-09-30 17:27] anisa-hawes commented on #2298
Thank you, @acrymble. I think it makes sense to close this, and set up some new goals for the months ahead.

[2022-09-30 17:27] #2298 closed, assigned to acrymble, anisa-hawes

[2022-09-30 17:29] anisa-hawes commented on #2336
Closed by #2616.

[2022-09-30 17:29] #2336 closed, assigned to drjwbaker, amsichani

[2022-09-30 19:16] anisa-hawes commented on #2660
A thought: with either option, it would be good to make our admin or owner admin [@] programminghistorian.org. This would help us to future-proof our access to any communication platforms we use going forwards.

My personal email appears to be locked when I click into my profile in Slack's settings...

[2022-10-01 08:30] acrymble commented on #2684
@ZoeLeBlanc can you let me know if you're happy with this?

[2022-10-01 14:08] ZoeLeBlanc commented on #2684
This looks great to me @acrymble! Hopefully with this change we can also start to plan for the RnD team as well!

I can go ahead and do PR for this unless you want to Adam.

[2022-10-05 10:36] acrymble opened #2692 "Events Calendar 2022-23"
We need to establish an events calendar for the coming year. This will be led by @GeeAlmeida.

I'm creating a ticket where she can plan and otherwise seek input from stakeholders.

| Month  | Date | Title | Language | Type |
| ------------- | ------------- |  ------------- | ------------- | ------------- |
|  November 2022 |  16/11 | Aprende a crear tutoriales para el Programming Historian | ES  |

[2022-10-05 15:56] anisa-hawes commented on #2633
I've come up against another example of a PR failing because of `htmlproofer 3.17.4 | Error:  HTML-Proofer found 3 failures` PR #2693.

Noting here that a group of us are connecting next Thursday 13th October to talk through a more robust solution to this Issue.

[2022-10-05 16:37] anisa-hawes opened #2694 "Heroku: ensuring ongoing access, or deciding we don't need it"
_Heroku is the service that hosts our Twitter Bot, and enables communication between our Google Sheets and our Twitter account. It's function is outlined in [our Service Integrations](https://github.com/programminghistorian/project-and-business-archive/blob/master/service-integrations/ProgHist-Service-Integrations.md#twitter-bot)._

I am opening this Issue to summarise the content of an exchange o

[2022-10-05 18:19] hawc2 commented on #2633
It looks like it's related to an external link from some old lesson that no longer works. How are we supposed to proceed with publishing lessons when this throws an error for every new pull request @ZoeLeBlanc ?

[2022-10-05 19:20] ZoeLeBlanc commented on #2633
That's a great question @hawc2 ! As far as I can tell, this is not an issue with HTMLProofer. It just seems to be working as we want it to, so a bit confused about this message. I thought we just fixed these links as best as possible and moved forward. Am I missing something @anisa-hawes?

[2022-10-05 19:27] anisa-hawes opened #2696 "Fix broken link in building-static-sites-with-jekyll-github-pages"
I'm fixing a broken link in the following lessons:

/en/lessons/building-static-sites-with-jekyll-github-pages
/es/lecciones/sitios-estaticos-con-jekyll-y-github-pages

I am replacing <https://elotroalex.github.io/ed/> with the updated link <https://github.com/minicomp/ed/>. Also <https://elotroalex.github.io/ed/documentation>
 with <https://github.com/minicomp/ed/blob/main/documentation.md>

With

[2022-10-05 19:51] anisa-hawes commented on #2633
So sorry @ZoeLeBlanc! I was confused by that error, and thought it was an html-proofer issue, but you are right: it is a simple broken link and [I've fixed it](https://github.com/programminghistorian/jekyll/pull/2697) in the way I usually do.

[2022-10-05 20:10] #2696 closed, assigned to anisa-hawes

[2022-10-05 20:18] hawc2 commented on #2633
Ok, that makes sense. But it would be ideal if a single broken link didn't
break the build for the whole site, right?

[2022-10-05 20:25] anisa-hawes commented on #2633
That's how it is! The build checks involve checking all external and internal links across our site. And in a way it's very helpful, because it helps us to identify problems wherever they arise, in places we wouldn't have checked otherwise.

[2022-10-06 13:53] #2689 closed, assigned to anisa-hawes

[2022-10-06 15:50] drjwbaker commented on #2694
Just to check. We are, however, using Heroku for the bot right now, right? If so, we can use the paid plan in the interim as a fall back option whilst a longer term solution is agreed on.

[2022-10-06 16:03] anisa-hawes commented on #2694
Thank you, @drjwbaker. Yes, according to [the Service Integrations](https://github.com/programminghistorian/project-and-business-archive/blob/master/service-integrations/ProgHist-Service-Integrations.md#twitter-bot) we are using it now.

Heroku's pricing information is [here](https://www.heroku.com/pricing). Although (likely?) to be out-of-date soon, considering the alerts...  it looks possible to

[2022-10-06 16:06] drjwbaker commented on #2694
Okay. Let's assume paying is a fallback then.

[2022-10-06 16:06] drjwbaker commented on #2694
(but not optimal medium term)

[2022-10-07 08:53] acrymble opened #2699 "Japanese edition to /research"
There's an old Japanese translation of the project from years ago: https://sites.google.com/site/theprogramminghistorianja/

We should list it on the /research page to keep track of it's existence.

[2022-10-07 08:55] acrymble commented on #2694
Relevant to #2691 conversation about the continuation of Twitter bot.

[2022-10-07 08:56] acrymble commented on #2694
We have a lesson on building Twitter bots: https://programminghistorian.org/en/lessons/intro-to-twitterbots

But Surely by now there's just software that does this? No need to rebuild the wheel.

[2022-10-07 11:00] anisa-hawes commented on #2659
Dear all,

Thank you for the energy and ideas you contributed to our Project Team Meeting in September.

The minutes are in our private repository [09_2022_ProjectTeamMeeting.md](https://github.com/programminghistorian/project-and-business-archive/blob/master/project/Meetings/2022/Project-Team-Meetings/09_2022_ProjectTeamMeeting.md).

As always, please let me know if I've missed any important poin

[2022-10-07 11:00] #2659 closed, assigned to anisa-hawes

[2022-10-07 11:34] GeeAlmeida opened #2700 "adding to the research / investigacion / recherche / pesquisa pages"
Hi everyone

This is a new issue to collate research activities related to PH.

Have you got something to add? Put it in a comment below and it will appear on the website in the coming weeks!

[2022-10-07 11:36] GeeAlmeida commented on #2700
Japanese translation of William J. Turkel and Alan MacEachern, [The Programming Historian](http://niche-canada.org/programming-historian), 1st ed. NiCHE: Network in Canadian History & Environment (2007-11): https://sites.google.com/site/theprogramminghistorianja/

[2022-10-07 13:59] #2684 closed, assigned to anisa-hawes

[2022-10-07 16:40] GeeAlmeida commented on #2699
#2700 Closes #2699

[2022-10-07 16:40] #2699 closed, assigned to GeeAlmeida

[2022-10-08 14:01] GeeAlmeida opened #2701 "PH calendar of events - November"
Hi everyone @programminghistorian/project-team

Our first PH event is in the works. It will be in Spanish, and will be an interview with Riva (@rivaquiroga).

Title: Aprende a crear tutoriales para el Programming Historian
Theme: creating PH tutorials and translations/localisation issues
Format: interview (Riva Quiroga)
Language: Spanish
Date: 16/11
Time: 15:00 UTC
Zoom info: to be shared with par

[2022-10-11 07:19] hawc2 commented on #2633
The build.yml file and the build.sh include arguments for alt-text ignore,
and that error message is appearing at the Github actions stage. I don't
see what other than the change in figure.html could've happened to cause
this error, and it may relate to conflicting build directions. But altering
the build.yml and build.sh to exclude certain commands hasn't fixed it
either.

Just noting that as far

[2022-10-12 15:39] anisa-hawes commented on #2687
Hello @fredericofreitas-ncsu. Thank you for getting in touch. I've tested the lesson Examples 1 and 2. I've adjusted the original code as you suggest, replacing `<br />` with `<br>` and can confirm that this works well. I'm happy to update the lesson with this change. Here are my final columns for Example 1: Sonnets

![Screenshot 2022-10-12 at 15 38 52](https://user-images.githubusercontent.com/87

[2022-10-12 16:29] anisa-hawes commented on #2687
I've re-tested Example 3, adjusting the character used for `join`:

At step [Parse JSON to Get Items](https://programminghistorian.org/en/lessons/fetch-and-parse-data-with-openrefine#parse-json-to-get-items) I used the expression: `value.parseJson()['items'].join("^^^")`. N.B. Without any pipes, `join("^^^")` instead of `join("|^^^|")`.

![Screenshot 2022-10-12 at 16 49 16](https://user-images.git

[2022-10-12 16:31] anisa-hawes commented on #2592
I am closing this Issue and associated PR #2593, but adding the idea to a list of enhancements/user needs to address as part of a future project.

[2022-10-12 16:31] #2592 closed, assigned to anisa-hawes

[2022-10-12 16:40] fredericofreitas-ncsu commented on #2687
I am not sure what is causing the line breaks… As you know, the problem I had identified was in extracting the text of the individual different newspaper editions. They changed something at the Library of Congress and now the OCR’ed text was coming with pipe characters, which messed things up in the original parsing process (which used pipe characters as separators). So my idea was to use a unique

[2022-10-12 16:41] anisa-hawes commented on #2228
I am closing this Issue, but adding the idea to a list of enhancements/user needs to address as part of a future project.

[2022-10-12 16:41] #2228 closed, assigned to nobody

[2022-10-12 17:08] anisa-hawes opened #2702 "Board of Trustees Meeting: Thursday 17th November 2022"
Board of Trustees Meeting: Thursday 17th November 2022 at [14:00 UTC](https://www.google.com/url?q=https://www.timeanddate.com/worldclock/converter.html?iso%3D20221117T140000%26p1%3D1440&sa=D&source=calendar&ust=1666014872912734&usg=AOvVaw3Sj9nFab_xJA5T2GyhZyRA)
--

Date: 17th November 2022 Thank you for replying to my calendar invitation 
Time: [14:00 UTC](https://www.google.com/url?q=https://www

[2022-10-12 18:34] anisa-hawes commented on #2687
Thank you, @fredericofreitas-ncsu. That makes sense, and your suggestion certainly works. Using your method, I can confirm that my project table has 20 rows following the [Split Multivalued Cells](https://programminghistorian.org/en/lessons/fetch-and-parse-data-with-openrefine#split-multivalued-cells) action, which is right.

Looking more closely, I can see that the OCR output now introduces rando

[2022-10-12 23:29] fredericofreitas-ncsu commented on #2687
I am not sure if it is the best way of doing this, but maybe using replace and replacing “\n” with “” [nothing]?

.replace(“\n", "")

Not sure if that would work, though.

Frederico Freitas, Ph.D.
Associate Professor of History
North Carolina State University
919-515-3307
fredericofreitas.org ***@***.***

Author of Nationalizing Nature: Iguazu Falls and National Parks at the Brazil-Argentina Borde

[2022-10-13 02:52] hawc2 commented on #2496
@anisa-hawes as far as I can tell there are not actionable edits we're going to make at this time, as it's not clear to me this is a lesson-breaking bug, so I'd suggest we close this issue. We could separately send a note to the author about this comment and related updates that might be necessary with this lesson, and leave it to them to update it if they are interested and able

[2022-10-13 12:18] eiamjw opened #2703 "Error in R Basics with Tabular Data"
[R Basics with Tabular Data](https://programminghistorian.org/en/lessons/r-basics-with-tabular-data)

There is an error in the text. Where it says "This would give you the total number of passengers (in hundreds of thousands) who flew in January and February of 1949." this should be "This would give you the total number of passengers (in thousands) who flew in January and February of 1949."

Furth

[2022-10-13 17:22] anisa-hawes commented on #2703
Thank you @eiamjw. I'll re-read the lesson, and check if any adjustments or clarifications are needed.

[2022-10-14 16:12] acrymble opened #2706 "Events for Library partners"
We'd like to start hosting some workshops or events aimed at Librarians who have responsibilities for research skills / DH related skills training in some way within their organisation. This includes those who are IPP members.

We would like to speak to a librarian or two about what types of events would add the most value for them and their community, so that we can tailor our programme, which @G

[2022-10-14 16:52] anisa-hawes commented on #2496
Thank you, @hawc2. I agree.

[2022-10-14 16:52] #2496 closed, assigned to anisa-hawes

[2022-10-14 22:56] hawc2 commented on #2462
@anisa-hawes can I help you with closing this issue? I can help wrap up the changes in English and we can go from there?

When we meet to discuss improving translation guidelines and workflows for the English team in a couple weeks, maybe we can tackle this ticket around the same time?

[2022-10-17 15:48] hawc2 commented on #2235
@anisa-hawes just checking in on this project - there are still a couple stray folders/files from the old organization in ph-submissions repo, are we going to finalize moving everything over to the new structure? I ask because I think the next step is going to be some discussion of standardization as the English team works to improve its translation workflows based on the other language journals

[2022-10-17 22:38] rivaquiroga opened #2707 "Issues with "Scalable Reading of Structured Data""
While translating "Scalable Reading of Structured Data" we found some issues related to the plots shown in the lesson.

## Figure 1
- The number of tweets is hardcoded in the plot with `caption = "Total number of tweets: 2.413"`. The problem is that the plot included in the lesson says the number of tweets is 2435. This mismatch could be potentially confusing for readers, especially because if we

[2022-10-18 07:39] acrymble commented on #2700
I found this which I don't see on there: https://halshs.archives-ouvertes.fr/halshs-02277639/

[2022-10-19 03:00] hawc2 commented on #2329
I can sit down with @svmelton and document what our last round of recruitment involved for English editors. Is there a fitting place on the wiki or elsewhere that we should put any relevant information?

The current task of identifying a Managing Editor for the French team would be another opportunity to document how PH handles these processes. Each language journal handles these things differentl

[2022-10-19 03:35] hawc2 commented on #2578
We encountered this problem when going to publish our first English translation, see issue #426 on the ph-submission repo (https://github.com/programminghistorian/ph-submissions/issues/426).

It's not clear to me what the best way to handle this is. Do we consolidate the image directories, or is there another modifcation to be made to the yaml? How does the Spanish team handle it @rivaquiroga ?

T

[2022-10-19 06:35] acrymble commented on #2329
@hawc2 A wiki page is probably the best we can use for now. I would think this can be quite high-level though:

- Identify a need & discuss it with your team, including timelines
- Adapt an old advert from the blog to meet new needs
- Post and disseminate
- Select from suitable candidates (maybe do a call with them?)
- Invite them on an agreed term (I always think 3 years is the best)
- Send to An

[2022-10-19 06:37] acrymble commented on #2682
@GeeAlmeida does this have an end goal for us to be able to close the ticket? It feels like there may not be an end to possible repositories

I think the reason you may not be getting suggestions is that most of us don't use these in our own work.

[2022-10-19 06:38] acrymble commented on #2691
@GeeAlmeida are we able to close this ticket or do you need more information?

[2022-10-19 06:40] acrymble commented on #2578
@rivaquiroga are you able to respond to @hawc2 please so we can try to close this old issue?

[2022-10-19 06:41] acrymble commented on #2552
@spapastamkou is this resolved? What action do we need to be able to close this ticket?

[2022-10-19 06:42] acrymble commented on #2612
@anisa-hawes can we close this yet or does it still need specific action?

[2022-10-19 06:43] #2 closed

[2022-10-19 06:43] acrymble commented on #2653
@GeeAlmeida is this updated now?

[2022-10-19 06:48] spapastamkou commented on #2552
I believe it needs views from the MEs of EN, ES and PT teams to see if they are willing to integrate these recommendations in their guidelines. @hawc2 @rivaquiroga @DanielAlvesLABDH

[2022-10-19 09:50] GeeAlmeida commented on #2653
Not yet!

[2022-10-19 09:51] GeeAlmeida commented on #2691
Still working on this. I'll close the ticket when I am done with the changes I want to make in the bot.

[2022-10-19 10:02] GeeAlmeida commented on #2682
Hi Adam
I intend to use this ticket to keep track of the repositories I identify and communicate with.

Is what you did this morning of looking through tickets something you do? I'd rather receive comments via email if that is ok?

[2022-10-19 10:20] GeeAlmeida commented on #2682
Hi Adam @acrymble
I intend to use this ticket to keep track of the repositories I identify and communicate with.

[2022-10-19 12:41] rivaquiroga commented on #2578
@hawc2, in the jekyll repo, translated images are stored in the images folder of the original lesson. So you only have one folder per lesson with original and translated images in it.
During the editorial process, however, we usually don't do that. Instead, we put the translated images in their own folder because it makes the workflow more manageable and less prone to errors.

- If changes have to

[2022-10-19 13:33] rivaquiroga commented on #2578
BTW, before the use of liquid syntax, this was not always a problem because published lessons used to have a direct link to the images in the jekyll repo. So when translating one of those older lessons, original and translated images are all rendered in ph-submission, as long as you don't add the "original" field to the YAML. We add it when moving the file to the jekyll repo.

Here is an example o

[2022-10-19 13:57] hawc2 commented on #2578
Thanks @rivaquiroga! This is really clarifying. Some of this info will need to be added to the Editor guidelines as part of our upcoming conversations.

It seems to me the best practice to standardize here would be that the `original` yaml info not be added until the lesson is moved over to Jekyll, which would only require a slight addition to the Editor Guidelines for the Managing Editor when dea

[2022-10-19 13:59] acrymble commented on #2578
Just a quick note that @anisa-hawes is on leave this week.

[2022-10-19 14:05] drjwbaker commented on #2707
Thanks for raising these issues @rivaquiroga. On Figures 1 & 2, I recall the captions and images went through a few iterations, so they may have fallen out of step at some point. Is the solution here for us to make new figures (and captions) that match the code?

On Figure 3, I think we'd need to go back to the authors. Are you happy for me to tag the authors to look into this?

[2022-10-19 14:06] drjwbaker commented on #2707
(fyi, I'm aware that Anisa is on holiday, so I'm not tagging here in case she get a notification and feels duty bound the respond!)

[2022-10-19 14:10] GeeAlmeida commented on #2692
For Dec the idea is to invite 2-3 lecturers who use our tutorials with their students, to discuss how that goes, how helpful they are, etc.
Names of people you know use PH with students would be really helpful!
@programminghistorian/project-team

[2022-10-19 14:38] hawc2 commented on #2552
Yes, this makes sense to me to add to our guidelines and start doing regularly

[2022-10-19 14:39] spapastamkou commented on #2707
integrating here [the issue of review of of the FR translation](https://github.com/programminghistorian/ph-submissions/issues/482) - might need to exchange between us

[2022-10-19 14:48] GeeAlmeida opened #2709 "PH calendar of events - December"
Hi everyone @programminghistorian/project-team

Our second PH event is in the works. It will be in English, and will be an interview with lecturers who use PH with their students. The date is to be announced.

I will update this ticket as the details are finalised.

Title: Teaching with Programming Historian
Theme: using PH tutorials with students
Format: roundtable discussion with Joana Vieira Pa

[2022-10-19 14:51] drjwbaker commented on #2709
Just to check, are these meetings protected in some way (e.g. password). I wouldn't want posting public links to lead to us getting zoom-bombed (it does happen, sadly!)

[2022-10-19 14:53] acrymble commented on #2706
I've made a few inquiries to find someone who might be able to sit down for a chat.

[2022-10-19 14:54] GeeAlmeida commented on #2709
I don't think they are password protected. I have deleted the link. Thanks!

[2022-10-19 15:01] drjwbaker commented on #2709
Okay. I may be being over cautious!

[2022-10-19 20:01] rivaquiroga commented on #2707
@drjwbaker, yes, for figures 1 and 2, the solution is to update the images, so they match the data and the code. We recreated them to be able to translate titles and legends; I am attaching the updated versions here.
In the case of figure 3, I agree that the best option is to bring the authors.

![scalable-reading-of-structured-data-1](https://user-images.githubusercontent.com/31421616/196791788-1

[2022-10-20 03:12] hawc2 commented on #2619
@rivaquiroga we're you referring to the English version of the [Editorial Guidelines on the website](https://programminghistorian.org/en/editor-guidelines)? I agree it would make sense to have more about the copyediting stage there, as it's not currently mentioned. It's helpful for editors to know how copyediting fits into the process, and what standards the copyeditors help ensure before publicat

[2022-10-20 11:58] spapastamkou commented on #2619
I've been thinking about this and we should definitely add it in the checklist of the ME, along with the typesetting control that is done afterwards. This way it would be clear both for the editors and the MEs (+ assistant MEs).

[2022-10-20 16:21] nabsiddiqui commented on #2691
@GeeAlmeida I was asked a while ago to post about this lesson on the Twitter Bot here: https://github.com/programminghistorian/ph-submissions/issues/343.

Is it possible that when you figure this out that you add this tweet? I'm a little loss on where we are in the process of the Twitter Bot and am trying to get it off my todo list.

[2022-10-20 18:06] hawc2 commented on #2691
@nabsiddiqui I didn't realize we hadn't done that for the computer vision lesson, but it's a part of the process that's supposed to happen right at the time of publication, so it's good for you to know how to do it for the next lesson you publish. You're just supposed to add a new line for the English tab at the top of the sheet with the twitter message as described in this thread and on the [prog

[2022-10-20 18:07] hawc2 commented on #2691
FYI @nabsiddiqui the author of that lesson did a big twitter thread at the time that the PH Twitter account retweeted, so I'm not sure it's necessary at this point to add it to the bot retroactively

[2022-10-20 19:00] jenniferisasi commented on #2691
@hawc2 and @nabsiddiqui it is necessary to add two tweets about the lesson, regardless if the author tweets/-ed about it because the bot will cycle through the lessons and, eventually, tweet about that lesson again, and again, and again unless taken down if we retire the lesson. You could include a link to the author's thread on one of the tweets, however.

[2022-10-20 22:51] hawc2 commented on #2691
oh ok good to know, thanks @jenniferisasi!

[2022-10-21 07:33] drjwbaker commented on #2707
On the figures, thanks @rivaquiroga .

@maxodsbjerg During translation one of our editors has picked up an issue with this article that I think you are best placed to resolve. Could I ask that you take a look at this please, then we can create a timetable for resolving the apparent issue. See https://github.com/programminghistorian/jekyll/issues/2707#issue-1412322494 above, specifically:

[2022-10-21 18:07] GeeAlmeida commented on #2535
I have emailed EBSCO to ask if they provide this service.

[2022-10-21 19:13] GeeAlmeida commented on #2701
[[Registration page](tinyurl.com/chtutoria)](https://www.ticketsource.co.uk/null/t-jzxqmgm)
![Riva Quiroga](https://user-images.githubusercontent.com/109232661/197271948-1436ca86-1212-4661-93e5-0b7b06db2e30.png)
![Riva Quiroga 2](https://user-images.githubusercontent.com/109232661/197271978-43b4f586-1a93-4973-a413-c44421fd9a46.png)

[2022-10-23 04:05] nivaca commented on #2682
I have requested that the four editions of PH be added to https://oaji.net/.

[2022-10-24 00:55] rivaquiroga commented on #2619
@hawc2, I am referring to the Editor Guidelines in all four languages. Copyediting, typesetting, and link archival are not mentioned there.

[2022-10-24 14:44] drjwbaker commented on #2701
'Registration page' link above doesn't work.

[2022-10-24 15:32] acrymble commented on #2701
@drjwbaker I've updated it above. It was fine on Twitter. I'm not sure where else it's gone out but hopefully just an error here.

[2022-10-24 15:42] acrymble opened #2710 "Vacancies page update"
just a reminder to @anisa-hawes that the Vacancies page needs reverting back to 'none' when you are able.

[2022-10-25 16:34] spapastamkou opened #2712 "Gwenaëlle Patat stepping down from the FR team"
@InesSalome  is stepping down for the FR team. Here is a list of what we have to do at the team level:

- [x] Remove Google Groups access (@anisa-hawes)
- [x] Remove Google Analytics access (@acrymble) (Note of Sofia: is this applicable here?)
- [ ] ~~Remove Github Jekyll access (@ZoeLeBlanc)~~
- [x] Remove from ProgHist Ltd register of members (@drjwbaker)
- [x] Remove Twitter access (@anisa-hawe

[2022-10-25 16:35] spapastamkou commented on #2712
Thank you for your service @InesSalome and good luck to your new job!

[2022-10-25 16:41] spapastamkou opened #2713 "Onboarding Checklist for new French ME: Marie Flesch"
This is an individual onboarding Editor checklist for Marie Flesch: @marie-flesch. Bienvenue, Marie!

## Welcome

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put together this information to help you get up to speed. It includes details of what we will do and a

[2022-10-25 16:56] spapastamkou commented on #2713
@anisa-hawes I opened this mostly to get us started (and to prepare your welcome back from leave:). I combined, for the lists, the most recent issues of onboarding the EN editors and the issue of Sarah's onboarding (a bit). We should exchange between us to add further tasks or edit them.
(And I should add: thanks!)