[2019-10-07 07:43] drjwbaker commented on #1487
On advertising, I've found it what Old Bailey makes monthly. Assuming we get about half their traffic (could be way off here..), we'd around 2 lessons copy edited each year out of it.

[2019-10-07 07:52] acrymble commented on #1487
Double their traffic. And their ads aren’t very well optimised

On Mon, 7 Oct 2019 at 08:43, James Baker <notifications@github.com> wrote:

[2019-10-07 07:53] drjwbaker commented on #1487
Huh. I'm pleasantly surprised.

[2019-10-07 08:46] acrymble commented on #1477
@arojascastro interesting plan. Did you need help raising money for the Cuban workshop?

[2019-10-07 08:53] arojascastro commented on #1477
@acrymble for organizing the event itself no, because we are planning to do this workshop in the context of a bigger conference. But it would be cool to offer PH small grants to fund people from developing countries to travel to Cuba... if possible.

[2019-10-07 11:41] drjwbaker commented on #1477
Which feeds into https://github.com/programminghistorian/jekyll/issues/1487: if we have a continuous donation drive banner/comms strategy (pinging @jenniferisasi as Comms manager), we can easily switch from continuous donation drives to donation drives that point out specific things we could/would do with that money, like paying bursaries to enable people from [ODA countries](http://www.oecd.org/d

[2019-10-08 08:03] acrymble commented on #1405
Just to be clear, we are not proposing any membership fee for Editorial Board members. That is and continues to be free. There has been some confusion.

[2019-10-08 08:36] drjwbaker opened #1489 "Funded Impact Manager Post"
Following an application I made to the [University of Sussex's ESRC Impact Accelerator Account Fast Track Engagement Fund](http://www.sussex.ac.uk/staff/research/rqi/rqi_information_and_support/rqi_impact_funding/if-esrciaa/), we've won £3k for an short term (2 months) fractional (0.4 FTE) Impact Manager.

The main focus of the role will be to leverage our existing partnerships to:

- Publish a re

[2019-10-08 20:31] mdlincoln commented on #1430
Hey @programminghistorian/technical-team, I'm sorry to say that I've had to schedule a pretty urgent doctor's appointment tomorrow morning, and it could probably end up intersecting with our scheduled call...

Would you all like to meet anyway in my absence and take a look at the two tickets mentioned here? Or reschedule for another time?

[2019-10-08 20:49] jenniferisasi commented on #1430
Oh no, I hope everything goes well @mdlincoln.

I think only @walshbr and I are left? I am more than happy to meet to try to add the RSS in the footer but also to take that time to complete all the alt-images in the ES side of the house as I am afraid no one else is going to do more.

[2019-10-08 21:00] walshbr commented on #1430
If you wanted @jenniferisasi i can do the same. The two of us can just take the time to work through tech tickets and be on slack if anything comes up.

[2019-10-08 21:02] jenniferisasi commented on #1430
Let's do that.

[2019-10-09 07:52] acrymble opened #1491 "Internal Communication"
Our team satisfaction survey and a number of recent conversations have shown that our internal team communication channels have become ineffective. There are too many threads happening, and most people are unable to keep up. The impact of this seems to be that many team members have stopped reading and thus keeping up with project developments. Changes that have been openly discussed can seem like

[2019-10-09 08:04] drjwbaker commented on #1491
Thanks for opening this Adam. We all work differently and need to respect. I'm convinced that GitHub has sufficient options with notification unsubscription, muting, and following to get to a situation that fulfills most needs. Perhaps then before we fragment this board we should do a little requirements analysis:

a) find out precise details of what people want in terms of internal comms.
b) look

[2019-10-09 09:27] amsichani commented on #1430
cou cou! I 'm here too!  I ll help working on a couple of tech tickets. I ll be slacking too. see you shortly! hope everything goes smoothly @mdlincoln !

[2019-10-09 11:04] mdlincoln commented on #1430
Thanks so much everyone. I'll try to check in later today to see how things are going.

[2019-10-09 12:15] #1449 closed, assigned to amsichani

[2019-10-09 14:56] arojascastro commented on #1491
I think one solution would be assigning people or teams. There are many issues that I simply do not read because I am not mentioned or because they are not assigned to me  -- thus I do not get any notification to my email account (side note: should I change my notification parameters? If so, I will get too many perhaps...). I often check Github notifications panel but not every day...

I only belo

[2019-10-09 15:16] walshbr commented on #1486
Updated our version of gspread in the proghistbot repo. I also had to update the version of heroku our stack was running on. I'd like to leave this open until the bot runs once to make sure that it works in production. I'll close it in a couple days.

@mdlincoln do you have any experience with dependabot? https://github.com/programminghistorian/proghistbot/pulls
After I modified our requirements.t

[2019-10-09 17:25] jenniferisasi commented on #1491
I know people don't like surveys and many don't respond to them but, could we start by asking every single one of us about the settings they have? Are people unsubscribing from notifications?
Do they only want the ones that mention them directly?

**Is there a way to have a weekly feed from Github instead of individual emails per comment/issue?** Could we implement something like https://github.co

[2019-10-09 18:09] walshbr commented on #1491
I have a very different approach from @jenniferisasi. I relentlessly unsubscribe from particular issues because there is too much chatter on any active repository to keep up with every discussion (this has been the case on every project I've worked on). If I know it is a topic that I don't have an opinion on, I know that I will defer to the people who are engaged with that topic. The new team stru

[2019-10-09 18:23] drjwbaker commented on #1491
Thinking about @arojascastro, I think it is possible to subscribe to tagged tickets. So, for example, you wouldn't miss a 'policy' ticket (which we use for substantial changes only) if you were subscribed to that. Am I right?

[2019-10-10 08:56] acrymble commented on #1457
Let's remember #1313 Github Sponsors is still offering match funding for donations up to $5000 in the first year.

[2019-10-10 09:01] acrymble commented on #1471
I've added our managing editors to this thread, as this is really an editorial issue.

[2019-10-10 09:26] acrymble commented on #1395
@drjwbaker just checking in, anything else you need from me?

[2019-10-10 12:16] drjwbaker commented on #1395
@acrymble Thanks for asking. My internal approvals at Sussex are nearly complete. On the bid, I'm just waiting on two of the Co-Applicants to complete their bit of the form, then I'll print the whole thing out for a final read. If you are willing and able to help with the latter, let me know.

[2019-10-10 12:18] drjwbaker commented on #1457
This? https://github.com/sponsors Shall we join the waiting list?

[2019-10-10 12:20] acrymble commented on #1395
Sure. Always happy to help.

[2019-10-10 12:23] acrymble commented on #1457
I don't see a downside. It doesn't have to be the only tool we use.

[2019-10-10 12:40] acrymble commented on #1457
Overview of GoFundMe Platform
- Fee of 2.9% plus £0.25 per donation
- possible to work as a team with other colleagues who sign up for free accounts. Gives dashboard to make life easier.
- money is managed by Paypal
- Cannot fundraise on behalf of a limited company. Only charities or individuals, so would have to fundraise as one of us...bit awkward for messaging, but could be overcome.
- Was easy

[2019-10-10 12:55] acrymble commented on #1457
Overview of Patreon Platform #916 Patreon discussion
- aimed at creatives, and good for reaching growth objectives
- set up for long-term giving and monthly donation
- expectation of rewards for giving (tiered rewards)
- definitely 'cooler' than gofundme
- Launch with special offers to draw people in
- fees 2.9% plus 30 cents per successful pledge for pledges over $3, and 5% plus 10 cents per succ

[2019-10-10 13:03] acrymble commented on #1457
Based on what I've just seen, I suggest we reopen #916 and go with Patreon. I suggest we agree on messaging in another discussion. @drjwbaker do you want me to look over what you've got on Patreon or otherwise help with this?

[2019-10-10 13:03] drjwbaker commented on #1457
Bit worried by the legalities of that should the money be subsequently donated to PH Ltd.

[2019-10-10 13:31] arojascastro commented on #1491
Yes, I guess I can subscribe to certain tickets according to the label.... but that means checking every day Github. Anyway... Which labels I should care about?

[2019-10-10 15:01] drjwbaker commented on #1457
@acrymble Sorry for the delay. Other things to deal with. Do go ahead with Patroen. Login details at https://github.com/programminghistorian/jekyll/wiki/Service-Integrations#patreon I've made a fair start to the profile page, but nothing on banking integration.

[2019-10-10 16:16] drjwbaker commented on #1483
@amsichani This is just after the clocks change in the UK. Without wishing to doubt you, has that been factored in?

[2019-10-10 16:29] drjwbaker commented on #1457
Reopening the Paypal ticket to support this https://github.com/programminghistorian/jekyll/issues/917

[2019-10-10 17:21] jenniferisasi commented on #1483
Good catch! We always fail to realize until a few minutes before the call. Time doesn't change in the US till November 3rd. Mexico would have already changed it, I think Colombia's doesn't change, and Chile...changed it in early Sept
<img width="772" alt="Screen Shot 2019-10-10 at 12 23 54 PM" src="https://user-images.githubusercontent.com/11022533/66591591-e26db200-eb58-11e9-9711-7f7fa151097a.png

[2019-10-10 18:20] drjwbaker commented on #917
@programminghistorian/technical-team PayPal has a mechanism for generating buttons (for example, to ask for donations). These result in some html code. Do you have some capacity to test whether one of these PayPal generated button would render correctly with our install? If so, I can an example to this ticket.

[2019-10-10 18:28] acrymble commented on #917
you can preview it in a pull request.

[2019-10-10 18:29] drjwbaker commented on #917
Any suggestions which part of the website to add it to for testing?

[2019-10-10 18:48] drjwbaker commented on #917
- [x] Add PayPal details to service integrations

[2019-10-10 18:52] amsichani commented on #1483
excellent catch ! I will update the times, please amend if necessary, clock change is not my forte.

[2019-10-10 21:49] walshbr commented on #1486
Fixed!

[2019-10-10 21:49] #1486 closed, assigned to walshbr

[2019-10-11 12:01] acrymble commented on #1473
Just a reminder to @mdlincoln and @amsichani that you have outstanding actions on this ticket.

[2019-10-11 12:16] acrymble commented on #1181
@alsalin @svmelton I think @JMParr could use some help resolving this issue with a broken lesson in the English publication.

[2019-10-11 19:19] frederik-elwert commented on #1460
Okay, I guess it’s a good idea to start with the basic introduction, i.e. `introduction-and-installation` and following. I started re-writing it with reference to Python 3. However, I guess it’s a good idea to use this opportunity to update it more thoroughly, as this foundational series was originally published in 2012. E.g., it still references Ubuntu 12.04.

One key question: The install introd

[2019-10-12 08:35] acrymble commented on #1460
@frederik-elwert thanks for this. I think in the first instance what we need to do is to identify any lessons that are already Python3 compatible, so we can remove them from the list.

I agree that the setting up an integrated development environment series in particular may need a new lesson, but I would suggest the best approach there is simply a new lesson going through peer review.

The others

[2019-10-12 11:33] acrymble commented on #1405
I'm really uncomfortable about offering any voting rights at this stage. There is a real risk that a competitor could effectively take over ProgHist by putting enough votes on right before the AGM to take it all a way from us.

[2019-10-12 11:36] acrymble commented on #1473
@svmelton if you're ready (or need help), it would be great for you to add yourself to the Project Team page. This is a good way to practice the technical skills part of working with github.

[2019-10-13 08:04] acrymble commented on #916
I've had another look at the proposed text, and I've attached my suggestions for an approach that is more emotional, has giveaways that don't cost us money and promotes the giving process more  widely, and that has a layer for institutional sized donatinons. Please give feedback before I implement anything.

---

## What are you creating?

a world where everyone is empowered to master technology

[2019-10-13 08:31] drjwbaker commented on #916
Much more inspiring. Thanks for your creative input @acrymble.

[2019-10-13 08:32] drjwbaker commented on #916
Have you managed to connect this with our PayPal? If not, I can look at it Monday.

[2019-10-13 08:33] drjwbaker commented on #1405
@acrymble Okay. That is a valid (if conspiratorial!) reason to proceed with caution. I'm happy to back this position.

[2019-10-13 08:42] drjwbaker commented on #917
Code for test button below (note, lots of tweaking we can do):

`<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">`
`<input type="hidden" name="cmd" value="_s-xclick" />`
`<input type="hidden" name="hosted_button_id" value="7BGHUZRVS4LYL" />`
`<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal

[2019-10-13 10:56] acrymble commented on #916
I haven't touched patreon or Paypal. I just took the headings and wrote the text.

[2019-10-13 11:07] drjwbaker commented on #916
Okay. I'll look at plugging them together tomorrow.

[2019-10-13 14:27] acrymble commented on #1460
Keeping in mind the idea that the setup lessons may need to be re-written, I've started going through the original python lessons to identify ones that don't need updating because the code is already fine (using the script provided by @frederik-elwert). I've adjusted the list above to reflect the lessons that don't need fixing, and have submitted 3 pull requests to fix both the Spanish and English

[2019-10-13 20:43] svmelton opened #1498 "Adding bio + avatar"
Submitted a PR to add my avatar and bio (#1499) to the team page. (I wasn't sure who to request a review from—let me know if there's anyone else who would be more appropriate to loop in.)

[2019-10-14 07:29] acrymble commented on #1477
I don't think t here's been enough interest in this idea across the team to pursue it further at this time.

[2019-10-14 07:29] #1477 closed, assigned to acrymble

[2019-10-14 09:00] drjwbaker commented on #1402
This is now done [2019-10_ProgHistLtd_Register-of-Members.pdf](https://github.com/programminghistorian/jekyll/files/3723678/2019-10_ProgHistLtd_Register-of-Members.pdf) and added to the offline archive. I will update this monthly in line with my responsibilities as secretary of ProgHist Ltd https://github.com/programminghistorian/jekyll/issues/1404

[2019-10-14 09:03] #1402 closed, assigned to drjwbaker

[2019-10-14 09:05] drjwbaker commented on #1405
@acrymble So, is what you are proposing then to ditch membership classes and instead use the #916 tiers for managing ongoing supporters?

[2019-10-14 09:14] acrymble commented on #1405
for now, that is my suggestion. Yes.

[2019-10-14 09:31] acrymble commented on #916
It's also possible to have a certain number of spots on a given tier. So we could launch with a foundational sponsor category, for example. People we agree to commemorate as the group that helped get us started. If we think that would be helpful.

[2019-10-14 09:34] drjwbaker commented on #1405
In which case, let's close this for now and move your Patreon suggestion to policy https://github.com/programminghistorian/jekyll/wiki/Programming-Historian-Governance

[2019-10-14 09:34] #1405 closed, assigned to drjwbaker

[2019-10-14 09:35] drjwbaker commented on #916
@acrymble As I suggest at https://github.com/programminghistorian/jekyll/issues/1405#issuecomment-541578202 can we pull this into a full 'policy' suggestion (per https://github.com/programminghistorian/jekyll/wiki/Programming-Historian-Governance)?

[2019-10-14 09:51] drjwbaker commented on #916
I can't add the payout info until we send the Paypal page for review. Once a tier is up, we can't change the tier without cancelling the Patrons, so we have to get this right. So we can't send for review until we are happy (as an Editorial Board) with the tiers.

[2019-10-14 10:49] drjwbaker commented on #917
@programminghistorian/technical-team Re https://github.com/programminghistorian/jekyll/pull/1500 I'd like a view from you on how to best place a PayPal donate button. I've currently got it in the footer between the ProgHist Ltd text and the columns with ISSN details et cetera, but I'm open to ideas. For example, I'd like to see what it looks like in the header, but feel less confident about editin

[2019-10-14 11:07] acrymble commented on #917
What about just on the /support-us  page under the section that says we're hoping to have a mechanism soon? Then you don't have to fiddle with more complicated design elements in the short term?

[2019-10-14 11:09] drjwbaker commented on #917
Adam. I know it works because I've put it in the footer in the fake PR. I now just want to know how it looks elsewhere in the site template, where my html foobar is less strong.

[2019-10-14 11:37] frederik-elwert commented on #1460
Okay, here’s a pull request for the Intro and Install on Linux lesson of the original English series: #1501.

[2019-10-14 13:32] walshbr commented on #917
I'd keep it in the footer or in the /support-us stage as @acrymble suggests.

[2019-10-14 13:36] drjwbaker commented on #917
So it looks roughly okay in the footer then?

[2019-10-14 13:42] acrymble commented on #917
Sorry @drjwbaker I'm not totally clear what you're trying to achieve. I personally think the donate button is fairly ugly. I don't think it will get us any money in the footer, because not many people will see it.

But is this a matter of seeing if the actual  paypal payments reach our bank account (that's what I thought you wanted to do), or are you trying to move into integrating income streams

[2019-10-14 13:46] drjwbaker commented on #917
In which case we are at cross-purposes. I was assuming that we are looking at having a Patreon button/link for ongoing donations and Paypal button/link for one-off donations. I think whatever we choose to have that these need to be on every page (so, eg, in a footer) so in https://github.com/programminghistorian/jekyll/pull/1500 was a) testing that this button would work and b) interested in where

[2019-10-14 14:08] drjwbaker commented on #917
Update:

- paypal works.
- the html 'donate' button works on our site should we want to use it.
- details added to service integrations.

Lets use https://github.com/programminghistorian/jekyll/issues/1457 to discuss integration onto the site. So closing for now.

[2019-10-14 14:08] #917 closed, assigned to drjwbaker

[2019-10-14 14:13] drjwbaker commented on #1457
@acrymble Can we close this and open a specific ticket on implementation of our opening donations drive? (that is, agreeing Patreon tiers and how to display the drive on the site)

[2019-10-14 14:16] acrymble commented on #1457
Of course. And I didn't mean to shut down paypal. I just wasnt clear what you were thinking for it.  You're right, patreon doesn't have a one-off donation option.

[2019-10-14 14:24] drjwbaker commented on #1457
Okay. So we agree that Paypal should be our default one-off option and more onto implementation on the site.

[2019-10-14 14:24] #1457 closed, assigned to drjwbaker

[2019-10-14 14:25] drjwbaker commented on #916
There is a Patreon button:

`<a href="https://www.patreon.com/bePatron?u=11816614" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>`

I'm going to test it on our site today (like I did for paypal at #917).

[2019-10-14 14:40] drjwbaker commented on #916
From https://github.com/programminghistorian/jekyll/pull/1502:

[2019-10-14 15:18] drjwbaker commented on #1457
(opening a new ticket on this now)

[2019-10-14 15:44] drjwbaker opened #1503 "Proposal for donation implementation"
Following work on donation mechanisms https://github.com/programminghistorian/jekyll/issues/1457, membership https://github.com/programminghistorian/jekyll/issues/1405, and business models https://github.com/programminghistorian/jekyll/issues/1487 we propose to use this ticket to agree on implementing of donations to support our work. There are a number of strands to this work, so this is my attem

[2019-10-14 15:46] drjwbaker commented on #1503
- [x] Agree Patreon tiers https://github.com/programminghistorian/jekyll/issues/916#issuecomment-541396704
- [x] Agree Paypal use.
- [ ] Update 'support us' page.
- [ ] Add links to site.
- [ ] Look into campaign banner.

[2019-10-14 16:11] svmelton commented on #1498
#1499 merged.

[2019-10-14 16:11] #1498 closed, assigned to acrymble, svmelton, alsalin

[2019-10-14 16:25] svmelton commented on #916
Has PH ever produced any merchandise or swag? (Buttons, shirts, stickers, etc.) I've often seen items like those in Patreon rewards, and it could make donating more enticing.

[2019-10-14 16:45] drjwbaker commented on #916
We have EN https://github.com/programminghistorian/jekyll/blob/gh-pages/images/programmingHistorianSticker-promo.png ES https://github.com/programminghistorian/jekyll/pull/796/commits/b70801e8f120ee0ad193d95459874004ec22433d#diff-ec72e4e733db87314958095af3a34b9c and FR stickers (though I can't find them all in our repo right now..). We certainly can send some out if we have the right details (and

[2019-10-15 14:20] svmelton commented on #1466
I concur that this is more firmly in the court of SWC and should be retired. If we decide to retire it, is there anything that needs to be done on the ME's end, or is it a technical team workflow? I'm reading through the [retirement policy](https://programminghistorian.org/en/lesson-retirement-policy) and just want to make sure I understand the process and expectations.

[2019-10-15 14:26] svmelton commented on #1181
@alsalin and I are going to talk through this and will check back.

[2019-10-15 14:27] ladew222 commented on #1181
Let me know if you have questions from me.

[2019-10-15 21:22] frederik-elwert commented on #1460
Just to prevent duplicate work: I started updating <https://programminghistorian.org/en/lessons/downloading-multiple-records-using-query-strings>.

[2019-10-16 01:17] mdlincoln commented on #1466
Thanks for weighing in @svmelton. Given that we haven't heard any votes against retiring, I think we can begin the process. I'll put the pull request together so you can see what the changes look like, and I'll ask you to review and accept the changes so we can use this as a good walkthrough of the general PR process as well.

[2019-10-16 07:27] acrymble commented on #1466
It would be good to disciss this with the author.

[2019-10-16 11:30] mdlincoln commented on #1466
We may inform them, but we structured our policy so that it's in the hands of the editorial board - that's why we have it.

[2019-10-18 10:15] acrymble commented on #1370
The most difficult of these to implement is probably:

The timeline on that is just unrealistic for an organization like us. I've just spoken with the President of the Royal Historial Society in the UK, and she confirms this is a key concern for others too, so may well be challenged. Apparenty the Bodleian Library at Oxford said they wouldn't be able to guarantee this 24 hour turnaround. So if the

[2019-10-18 13:31] drjwbaker commented on #1370
We also don't currently publish our shared gmail. I monitor it because it is where we get the Ltd registered address, but if we publish it that might lead to an increase in messages to triage.

[2019-10-23 17:02] #1466 closed, assigned to svmelton, alsalin

[2019-10-24 06:51] acrymble commented on #1491
Thanks for the comments on this. I appreciate that there can be too much to keep up with at times. And it seems like some people are opting out of following certain threads (or everything in a few cases).

The challenge becomes with how we can proceed with decisions if some or even most people don't care, but don't let us know they dont' care. For example, if I'm waiting for input on What Business

[2019-10-24 07:33] drjwbaker commented on #1491
@acrymble: I like @jenniferisasi's idea as a starting point.

[2019-10-24 07:40] acrymble commented on #1370
The Royal Historical Society has just published a report and recommendations on Plan S.  I wasn't aware that the full set of recommendations may not be adopted. At least not in all countries. We should seek financial support to implement the new changes, since we're a small publisher and not one of the big boys.

https://royalhistsoc.org/policy/publication-open-access/plan-s-and-history-journals/

[2019-10-24 08:02] drjwbaker commented on #1370
Thanks for keeping on top of this @acrymble. Of the things you posted at the top of this ticket, on your reading of the RHS report do any look like falling away? On £, let's keep an eye out for that.

[2019-10-24 08:19] arojascastro commented on #1487
I think you should share this per email... I have not seen this until you mentioned it somewhere else.

[2019-10-24 08:20] arojascastro commented on #1491
A weekly digest would be cool! I confess I prefer receiving emails with a selection of tickets that need feedback from all the members.

[2019-10-24 08:38] jenniferisasi commented on #1491
So have we installed an App on the project before? It looks like there is an app for 'work in progress' and we have the project-tracking tab/feature but I'm not sure if that one is an app or simply a regular GitHub feature.

[2019-10-24 09:03] jenniferisasi commented on #1503
Thanks for taking care of placing mechanism for the project to get some funds on a regular basis.
On 3c above I have a few ideas, in order of my preference:
1. At the end of the lesson, a sentence with links along the lines of: If you liked this lesson please consider supporting the project for us to continue to publish similar work.
2. At the beginning of each lesson, similar to 1, but it will co

[2019-10-24 10:05] drjwbaker commented on #1503
Thanks for the input @jenniferisasi. I agree that more things at the top of lessons gets in the way on existing text. But I'm also keen not to bury our donation drives at the bottom. I'm wondering if it can go to the right of the peer review tick and license. We have some space there.
![Screenshot 2019-10-24 at 11 04 44](https://user-images.githubusercontent.com/4965300/67475443-1ca57c00-f64e-11e9

[2019-10-24 13:12] walshbr commented on #1503
@jenniferisasi - that sort of use of the bot has come up before. It's really not meant for such things - it works through randomization of the content in the spreadsheet. There's no feed or anything - if we wanted to regularly schedule things we should just use Tweetdeck to schedule a tweet every few months or something like that.

I think the screenshot you shared seems like a good way to do it @

[2019-10-24 13:19] walshbr commented on #1491
Speaking only for myself, my understanding of the team organization was that I have opted into the teams where I feel I have the most contribute and will be the most engaged. My understanding was that the whole point was to delegate decisions in other areas to those people who had opted into interest in those areas. And we have the policy tagging system for setting a deadline for getting feedback

[2019-10-24 18:24] JMParr commented on #1503
Hi, All - In general, I am in support of all of James' suggestions. Not to
overly complicate things, but I wondered if there was a way to also allow
donors to use Venmo? The reasons I ask is that there's growing push back
against PayPal here in the US for political reasons, and I know a number of
people who are boycotting the platform.

On Thu, Oct 24, 2019 at 9:12 AM Brandon Walsh <notifications@

[2019-10-25 02:27] svmelton commented on #1503
Hi all,

I do love Venmo, but it's probably worth noting that they're owned by
PayPal, as well. That said, if it's an easy add, it can't hurt to have
multiple options.

Sarah

On Thu, Oct 24, 2019 at 1:24 PM Jessica Parr <notifications@github.com>
wrote:

[2019-10-25 03:05] #1471 closed, assigned to frederik-elwert, svmelton, alsalin

[2019-10-25 03:11] alsalin commented on #1473
@svmelton will be taking over starting on 11/8 - we'll submit a PR to get her name up on the site at that time.

[2019-10-25 06:32] drjwbaker commented on #1503
I believe Venmo is only available to those who bank in the US.

[2019-10-25 08:50] jenniferisasi commented on #1503
@drjwbaker I like the example you placed on the screenshot! I was thinking about putting it below but of course it makes much more sense there.

@walshbr right, that is why I was asking...I'll look into scheduling tweets through Tweetdeck (thanks for the tip!) once we approve the mechanisms.

And yes, as per [Venmo's requirements](https://help.venmo.com/hc/en-us/articles/209690188-Requirements), i

[2019-10-25 08:55] drjwbaker commented on #1503
@walshbr Where can I find the file I need to edit to test putting some donate text after the CC-BY notice? (somewhere in here https://github.com/programminghistorian/jekyll/blob/gh-pages/_layouts/lesson.html maybe?)

[2019-10-25 09:01] drjwbaker commented on #1395
This has now been submitted to the British Academy. I've added a copy of the bid to our archive. Thanks to @acrymble @rivaquiroga @asmartinez @silviaegt @zjsteyn & @anelda for their input, hard work, and desire to get involved. It is a great bid.

[2019-10-25 09:01] #1395 closed, assigned to acrymble, drjwbaker, rivaquiroga

[2019-10-25 09:40] acrymble commented on #1503
alternative possibility.
![new-ribbon-labels-corner-banner-new-tag-label-vector-23575386](https://user-images.githubusercontent.com/646647/67560990-ec281580-f713-11e9-9143-e6e5e1f3585b.jpg)

[2019-10-25 10:14] drjwbaker commented on #1503
You mean overhanging clickable banners?

[2019-10-25 10:18] acrymble commented on #1503
yea. On our icons at the top. More visual.

[2019-10-25 10:30] drjwbaker commented on #1503
We'd need input from @programminghistorian/technical-team on what is possible within our current architecture and achievable with the resources they have.

[2019-10-25 12:36] JMParr commented on #1503
Oops. I hadn't realized!

On Thu, Oct 24, 2019 at 10:27 PM Sarah Melton <notifications@github.com>
wrote:

[2019-10-25 13:10] walshbr commented on #1503
Yeah that looks correct @drjwbaker - a new div between lines 57 and 58. Any of these solutions are going to need CSS styling, though. The banner solutions would probably just take slightly more work.

[2019-10-25 14:11] arojascastro commented on #1487
I think the whole thing of this was to get donations only... :-/

[2019-10-25 14:13] arojascastro commented on #1491
Yes, you are probably right @walshbr -- I support @jenniferisasi proposal about a survey, but maybe we do not get any answer... who knows?

[2019-10-25 14:18] drjwbaker commented on #1487
@arojascastro See the document 'Structure Report v2' at https://github.com/programminghistorian/jekyll/issues/1301#issuecomment-513861381 As the work developed, it became clear that there was much more to the work than setting up a platform for donations. For example, setting up as a company provides you with legal protections: for example, no we've set up ProgHist Ltd you are no longer personally

[2019-10-25 14:24] acrymble commented on #1370
I don't know @drjwbaker. I raised some concerns to the RHS about DOAJ's discretion and lack of responsiveness, and of the cost of LOCKKS, which assumes you have money to pay for it.

[2019-10-25 14:27] amsichani commented on #1503
thanks @drjwbaker for this. I like the idea of placing it in the header of the lesson and not in the footer .
On Paypal, where I can see the political aspect of its use, it is an easy way for money transfer - bank transfer is always a safe alternative.
I am not sure I get /like the visual clickable banners with donation on it @acrymble -- it looks like we 'll suddenly become an eBay store with bra

[2019-10-25 14:35] acrymble commented on #1491
@walshbr so if I understand, you're saying it might be more appropriate to say "this is what we're planning on Team X and we welcome your feedback if you have any" rather than an approach that seeks permission or consensus before starting?

[2019-10-25 14:37] amsichani commented on #1483
So from what I can see, our original time slots are still valid @jenniferisasi ? how about EST?

[2019-10-25 14:44] amsichani commented on #1473
It will be good to write a blog welcoming @svmelton to the project - @programminghistorian/project-team & @jenniferisasi (we need a handler for comms team ) perhaps starting working on this?

[2019-10-25 14:48] walshbr commented on #1491
Yeah I think that might be what I'm suggesting @acrymble. Think of Team X as first point of feedback (it's a smaller number anyway, so easier to track if people are or aren't weighing in), offer news and ask for input at the calls if necessary, and lift anything to the level of a policy tag if you feel it merits it. That seems like an efficient use of the team structure, and there's nothing stoppi

[2019-10-25 15:05] amsichani commented on #1443
@spapastamkou could you please open a ticket for Ombudsperson (French) and inform it accordingly? Its important to have this role in place for all of our publications.

[2019-10-25 15:06] amsichani commented on #1430
@mdlincoln should we close this ticket and schedule our next @programminghistorian/technical-team meeting ?

[2019-10-25 15:17] drjwbaker commented on #1503
Okay so I had a go https://github.com/programminghistorian/jekyll/pull/1520 See https://deploy-preview-1520--ph-dev.netlify.com/en/lessons/introduction-to-populating-a-website-with-api-data Note, I don't know how to make text text tab to the right a bit, or align vertically, or start with a nice money image, or make the text font correct, but apart from that this is what it could look like :)

[2019-10-25 15:21] acrymble commented on #1503
It's a bit ambiguous who's being supported. The author?

[2019-10-25 15:42] walshbr commented on #1503
How about "Support the Programming Historian"? I like the idea of the currency, but leaving it text probably makes it more internationalizable (the denominations listed are all Eurocentric right now, and I'm sure we wouldn't want to keep adding things!). I can help style it once you have the text and location settled, though I might come with further suggestions as to how the text could better acc

[2019-10-25 15:46] drjwbaker commented on #1503
Yeah. I wasn't concentrating on the text, just getting the placing right, but I changed it to "Support the Programming Historian" 5 minutes ago and am now waiting on Netlify.

And `£$€` was meant as a placeholder for a much more international graphic, so please suggest something. All styling support gratefully received :)

[2019-10-25 16:11] spapastamkou commented on #1443
There is already @fdlaramee who fills the role. Should we look for someone outside the team?

[2019-10-25 16:19] amsichani commented on #1487
I agree overall with @drjwbaker 's assessment on models but I want to flag :

- Subscription x
- membership x
- Advertisement : we need to be really really careful on this
- Workshop: I second and share @drjwbaker approach on workshop/training as an alternative consultancy option for PH. There is a gap on the market there, esp in Europe and in GLAM, and I think if we d like it, we can actively sta

[2019-10-25 17:08] amsichani commented on #1443
I also thought that it is better to be someone outside the editorial board. We can raise this at the next meeting.

[2019-10-25 17:51] spapastamkou commented on #1431
Je viens d'ajouter comme sujet possible de leçon l'utilisation d'ontologies pour des données historiques. Je commencerai à travailler doucement sur une version de la page et nous pouvons discuter si besoin sur ce qu'on retient ou pas, lorsque nous aurons une version de travail.

[2019-10-25 18:07] arojascastro commented on #1487
I’m very against subscription, membership and specially advertisement...
big NO.

El El vie, 25 oct 2019 a las 18:19, Anna-Maria Sichani <
notifications@github.com> escribió:

--
Enviado desde mi móvil

[2019-10-25 18:15] drjwbaker commented on #1487
You'll be pleased to hear we rejected the idea of membership and have moved onto supporters https://github.com/programminghistorian/jekyll/issues/1405

[2019-10-29 01:36] mdlincoln commented on #1478
Annoyingly, if a markdown doc in `_posts` doesn't follow the `YYYY-MM-DD-title-here.md` format, then Jekyll doesn't even load it into the `site.documents` or `site.pages` objects, so I can't even locate it using the `Jekyll::Generator` class that I use to do all our other validation. Will need to find another way to check post filenames...

[2019-10-29 07:37] acrymble commented on #1478
Should we just run the blog separately? Our current setup seems more work than it's worth. There are platforms that a re designed for blogging. That would reduce your admin time, make it easier for @jenniferisasi, and reduce the bus factor of the site architecture.

[2019-10-29 10:49] JMParr commented on #1181
Hi, @svmelton - This revised lesson needs to be published. I've been absolutely buried in teaching and service this semester. It was previously published, but something happened post-publication, and it stopped working.  @ladew222 finished fixing it, and it's ready to go. It's just a complex move because there are a fair number of files attached to the lesson.

[2019-10-29 10:59] mdlincoln commented on #1478
No, I think that is a horribly complicated idea. You'd be asking us to run TWO separate websites rather than one.

[2019-10-29 11:23] #1430 closed, assigned to mdlincoln

[2019-10-29 11:26] mdlincoln opened #1521 "November Technical Team Call - Monday, November 18th"
Hi @programminghistorian/technical-team, let's get our November Skype call on the books:

The confirmed date in Monday, November 18th at 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET time.

- [x] Develop prioritization & responsibility plan
- Status check on open tickets:
    - [x] #1324 alt text PR checkup @mdlincoln
    - [x] #1484 Lesson template adjustments @amsi

[2019-10-29 12:58] acrymble commented on #1478
Ok. I hope you won't dismiss it too quickly though. Our blog is not very user friendly, and making it such is going to take far more work than using an appropriate tool. It's been years since I've  had to do anything to update or maintain my blog. It just happens automatically and I never have to remember how to use it.

[2019-10-29 13:35] jenniferisasi commented on #1478
If I understand this issue correctly, the problem is that if format `YYYY-MM-DD-title-here.md` is not used Jekyll will ignore the file completely. Honestly, if it is only that, and even if @mdlincoln couldn't find a way to validate/check for that error, I still wouldn't want to run another platform. The system here is pretty easy to work with.
I agree that we don't have a very user friendly blog t

[2019-10-29 13:39] jenniferisasi commented on #1521
Waiting on a campus interview just one of those days, so I'll respond as soon as I know about it.

[2019-10-31 15:12] svmelton commented on #1181
Thanks for the update, @JMParr! Is there anything we can do to help?

[2019-10-31 16:51] silviaegt commented on #1395
Yay! Congrats!

On Fri, Oct 25, 2019, 11:01 James Baker <notifications@github.com> wrote:

[2019-10-31 17:59] acrymble opened #1524 "Lower contrast CSS option"
I had a request today at a workshop for an alternate lower contrast css file for people who find white and black too hard on their eyes. If this is relatively easy it would be a good accessibility option.

[2019-10-31 18:01] acrymble opened #1525 "Progress reporting for Lesson Sequences"
A suggestion today from a workshop I was hosting.
For lessons that are part of a sequence, provide visual indicators of how far along you are in the series. For example (lesson 2 of 4).

This mostly relates to the Python and Geospatial series.

Assigning to @amsichani as Education manager

[2019-10-31 18:02] acrymble opened #1526 "Estimated lesson duration"
Suggestion from a workshop I hosted today.
A rough estimate of how long a lesson is likely to take, so that you can gauge the time commitment of learning new skills. Could be rough (less than an hour; 2-4 hours, etc).

This is common on competing products apparently.

Assigning to @amsichani as Education manager

[2019-10-31 19:16] acrymble commented on #1524
it looks like this tutorial walks through the process. It uses javascript

https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8

[2019-11-01 10:47] amsichani commented on #1483
Hi , can I ask all team leaders @drjwbaker @jenniferisasi  @mdlincoln @spapastamkou @rivaquiroga  @JMParr to post a small report on your team's activities?

[2019-11-01 11:10] drjwbaker commented on #1483
Sorry, will do now.

[2019-11-01 11:18] drjwbaker commented on #1483
# Project Development Team Report

By: @drjwbaker
Date: 1 Nov 2019

Substantive Actions Completed Since Previous Report:

- a number of open issues arising from https://github.com/programminghistorian/jekyll/issues/1437 many of were resolved after ProgHist Ltd Board of Directors meeting 3 October https://github.com/programminghistorian/jekyll/issues/1439
- agreed mechanisms for requesting translat

[2019-11-01 13:46] jenniferisasi commented on #1483
If you keep London time as time reference (which is fine), only the original times for your side of the team are valid (3pm Brit, 4pm central). For those of us in the US, we have to +1 h to the original times. So it's 10AM in Central time (showed with Austin, TX), 11AM for East time (in Pittsburg, PA); it will be 12PM for Riva.

[2019-11-01 13:48] spapastamkou commented on #1483
# FR team Report
By: @spapastamkou Date: 01/11/2019

Actions Completed Since Previous Report:
No, but all of the actions in progress are scheduled to be done by the end of the year.

Actions Remaining Open Since Previous Report:

- Fr team enlargement: #1394 3 candidatures received, Skype calls scheduled for 1st week of November)
- FR lessons request page: #1431 No progress since last meeting but

[2019-11-01 13:55] jenniferisasi commented on #1483
# Communication Team Report

By: @jenniferisasi

Date: 1 Nov 2019

Substantive Actions Completed Since Previous Report:
- none

Substantive Actions Remaining Open Since Previous Report:
- internal communication strategy #1491
- (will open) End of the year newsletter
- Establish a long term plan for the Communications Team
Community Survey Issue: Audience and Learning Paths #1022 for @amsichani

Qu

[2019-11-01 14:24] spapastamkou opened #1528 "Issues with Getting Started with Markdown lesson"
I am in the middle of translating in French the following lesson: [Getting Started with Markdown](https://programminghistorian.org/en/lessons/getting-started-with-markdown) authored by @ssimpkin

There is one tech issue in [this part ](https://programminghistorian.org/en/lessons/getting-started-with-markdown#markdown-syntax), as the URL provided in the text to display a PH lesson in the editor sho

[2019-11-01 14:36] walshbr commented on #1528
Re: the link issue - I do think you want to keep to raw version of the GitHub output. Otherwise, you'll get a lot of HTML gunk that won't render correctly in the markdown editor. The issue is just the new addition of /en/ in the URL since this was published before the translations happened (I assume). So without the /en/ it gives a 404 and won't import correctly. And I think this is the link they

[2019-11-01 14:49] spapastamkou commented on #1528
I think you are right on this, @walshbr, thank you very much!

[2019-11-01 15:00] drjwbaker opened #1530 "2019 Zenodo deposit"
I've made the 2019 Zenodo deposit today (using the process outlined on our wiki https://github.com/programminghistorian/jekyll/wiki/Service-Integrations#zenodo). This will involve light editing our our 'About' pages (EN/ES/FR).

Process same as 2018 deposit https://github.com/programminghistorian/jekyll/issues/1067

[2019-11-01 15:19] walshbr commented on #1524
I am not sure exactly how to implement this, but it does seem like a good idea.

[2019-11-01 15:21] walshbr commented on #1224
Let me know if you need implementing an RSS link in the footer @jenniferisasi.

[2019-11-01 15:29] drjwbaker commented on #1491
Reminder of our Governance Policy with the specific path for `policy` tickets https://github.com/programminghistorian/jekyll/wiki/Programming-Historian-Governance, including:

[2019-11-01 15:36] drjwbaker commented on #1491
From https://github.com/programminghistorian/jekyll/issues/1483 suggestion that heads of teams update this guidance to fit new team structure.

[2019-11-01 15:52] walshbr commented on #1487
I'm fine with the 4-5 things still on the table as advertised in @drjwbaker's note. I'd be generally against ads for the technical issues of having to keep up with it among other things. Thanks for your work on this.

[2019-11-01 15:58] drjwbaker commented on #1503
Agreed at https://github.com/programminghistorian/jekyll/issues/1483 to press ahead. Thanks all for your input.

[2019-11-01 15:59] walshbr commented on #1503
Just a note @drjwbaker - we use font awesome for our icons, and they have a lot of options for representing money that aren't denomination specific. Might pick one of those? You can find them at this link - https://fontawesome.com/icons?d=gallery&q=money

[2019-11-01 16:02] drjwbaker commented on #1503
The credit card one?

[2019-11-01 16:03] drjwbaker commented on #916
Agreed at https://github.com/programminghistorian/jekyll/issues/1483 to implement these tiers. On @svmelton's point, we can always lightly edit the text for the tiers to send folks swag if we want :)

[2019-11-01 16:06] walshbr commented on #1503
Cool - I'll implement that on your PR after lunch and ping you.

[2019-11-01 16:07] walshbr commented on #1503
Ah @jenniferisasi also had an idea here - https://github.com/programminghistorian/jekyll/pull/1520#issuecomment-548843273

[2019-11-01 16:15] drjwbaker commented on #1503
fab. On the graphic, I'll defer to our comms chief @jenniferisasi.

[2019-11-01 16:17] acrymble commented on #1487
Thanks everyone for comments so far. I will leave this open until 4 November, which will have been a full month. Any further comments please get them in before that time.

[2019-11-01 16:24] drjwbaker commented on #916
We now have a live Patreon page https://www.patreon.com/theprogramminghistorian/

I'll work on the financial checkout mechanisms now.

[2019-11-01 16:34] drjwbaker commented on #1503
PR raised https://github.com/programminghistorian/jekyll/pull/1504 to add donation mechanism info to https://programminghistorian.org/en/support-us (and ES/FR equivalents).

[2019-11-01 16:35] drjwbaker commented on #916
Finances in place. We are go people.

[2019-11-01 16:38] drjwbaker commented on #916
@jenniferisasi: further to https://github.com/programminghistorian/jekyll/issues/1503#issuecomment-545911156 can I leave you to figure out how to best promote this via our social media channels?

Note also at https://github.com/programminghistorian/jekyll/issues/916#issuecomment-541396704 we've agreed to thank people on Twitter and via our newsletter. In the first instance, I happy to do a weekly

[2019-11-01 16:46] acrymble commented on #1483
The draft minutes for the meeting are here:
[minutes-editorial-01-11-2019.txt](https://github.com/programminghistorian/jekyll/files/3798781/minutes-editorial-01-11-2019.txt)

[2019-11-01 17:46] jenniferisasi commented on #916
I take note of this task on my list.

Also, and I'm sorry I didn't raise the question before, how can we make this available in other languages for our non-English speaking audience?

[2019-11-01 19:11] drjwbaker commented on #916
Do you mean multi-lingual Patreon? Good point. That is poorly supported. We can certainly try putting translations in all the boxes you can see at https://www.patreon.com/theprogramminghistorian. What do you think?

[2019-11-01 19:18] jenniferisasi commented on #916
Yes, after posting the question and browsing through Patreon and google, that seems to be the only viable option. The good news is, I think, that the membership levels are mostly cognates in Spanish-English-French.
Shall we translate then @programminghistorian/spanish-team and @programminghistorian/french-team?

[2019-11-01 20:13] acrymble commented on #916
What about separate pages? Then none of them need to look lesser than the others.

[2019-11-01 20:26] drjwbaker commented on #916
So multiple language campaigns. Certainly possible.

[2019-11-01 20:26] drjwbaker commented on #916
Though we might need muiltple accounts. I'd need to check.

[2019-11-02 11:50] drjwbaker commented on #916
Multiple language campaigns would require multiple account, each with a separate email address, each with separate Paypal checkout, et cetera https://support.patreon.com/hc/en-us/articles/360028555212-Can-I-have-multiple-accounts- I feel that is a bit too much for us to manage right now. We could start by changing the tier names, so from 'Subscriber' to 'Subscriber / ES / FR'.

[2019-11-02 12:06] drjwbaker opened #1532 "Managing Patreon rewards"
As part of the Patron #916 setup we have promised to:

- thank 'Subscriber' tier supporters on Twitter.
- thank 'Sponsor' tier supporters on Twitter and in our newsletter, and give them a chance to suggest a lesson topic.
- thank 'Patron' tier supporters on Twitter and in our newsletter, give them a chance to suggest a lesson topic, and list their names on our website as a valued sponsor.
- thank

[2019-11-03 09:35] acrymble commented on #1532
I would like to suggest that having someone entirely responsible for Patreon increases  someone's  ownership, simplifies the workflow, and makes it easy to make sure all tasks are completed in a consistent manner.

[2019-11-03 09:48] amsichani commented on #1532
I second @acrymble 's point with a small twist - the person responsible for Patreon will provide with information and ask individuals with certain roles , as mentioned in @drjwbaker initial comment, to perform  necessary actions (eg provide @jenniferisasi with information for tweets &newsleeter / provide @amsichani a list of names to contact on lessons' suggestions etc) . (S)he will have the overv

[2019-11-03 09:54] drjwbaker commented on #1532
Thanks both. I was basically advocating for the Sponsorship Coordinator (me) to be 'entirely responsible' (@acrymble's phrase) for Patreon and the tasks that emerge from it, but that the Sponsorship Coordinator shouldn't undertake all the tasks that come out of Patreon, because some are not in the purview of the Sponsorship Coordinator. So @amsichani has more or less captured what I had in mind. A

[2019-11-03 09:57] drjwbaker commented on #1532
E.g. It is up to @jenniferisasi as Comms Manager to determine how to do comms. If we want to trust each other to take responsibility for the work our roles entail (as discussed at https://github.com/programminghistorian/jekyll/issues/1483), delegating to the person in the role to deliver a given piece of work is a key part of that.

[2019-11-03 17:45] jenniferisasi commented on #1532
I agree with this type of coordination and I suggest the following workflow for comms:

**For tweets:**
1. @drjwbaker emails me, @jenniferisasi a list of supporters every Monday morning London time
2. @jenniferisasi tweets the list Monday morning US central time

**For newsletter:**

1. @drjwbaker curates a list of supporters and shares it with @jenniferisasi on the ticket for the newsletters.
2.

[2019-11-03 18:44] acrymble commented on #916
Multilingual videos?

[2019-11-04 08:51] acrymble commented on #1487
Thanks everyone for comments.

Just to summarise what I think we have said here by those who chose to respond:

- directly monetizing the content through subscriptions or advertising is unpopular with some people.
- donations are fine within some limits - suggesting charity rather than business is the ethos some people have in mind.
- workshops and training are a possible route for monetizing acti

[2019-11-04 08:51] #1487 closed, assigned to acrymble

[2019-11-04 09:11] drjwbaker commented on #1532
Fab. Thanks for the suggestion @jenniferisasi. On the weekly thing, we'll see, but it won't take me a minute to check and either send a list or send a note saying no additions.

[2019-11-04 13:26] mdlincoln commented on #1524
It is a good idea, however I don't really have the CSS chops to implement this either. Can poll the rest of @programminghistorian/technical-team at our upcoming call to see if there's capaicty to take this on.

[2019-11-05 08:35] acrymble opened #1537 "Managing Copyediting Hiring"
## Copyediting Work

The Programming Historian Development Team puts forward its plan for the fair and efficient management of professional copyediting of original lessons to Programming Historian publications (English, Spanish, French).

We welcome comment from the Members and Directors of ProgHist Ltd until the end of November 2019.

---

1 - That until such time as our finances can fully and re

[2019-11-05 08:45] arojascastro commented on #1537
Thanks! As usual, some questions:

1. copyediting in what language and for which edition?
2. Rates vary a lot from countries... this has to be contextualized.
3. I thought editors had to proofread and copy edit lessons... is there a real need for this?

[2019-11-05 09:07] amsichani opened #1538 "November 2019 Skype call - 25 November- Editorial Agenda"
Monday 25th November 2019 . Time is 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET. @walshbr  will be facilitating the call.

Working agenda follows. Please add by commenting or editing this comment directly.

All team leaders please post a small report on your team's activities closer that day.

- [ ] Current Research Projects or Submissions Pending about the Program

[2019-11-05 09:12] acrymble commented on #1538
@amsichani since we now have minutes and actions from the last meeting, can we find a quick way to make sure everyone with an action reports  on it or otherwise lets us know it needs more input? Otherwise the actions are meaningless.

[2019-11-05 09:40] acrymble commented on #569
@svmelton it may not be obvious, but this is an English lesson, so this falls under your remit.

[2019-11-05 09:43] acrymble commented on #916
I think this issue is now complete, no? The question of best approach to multilingual support seems like a new issue to me, @drjwbaker ?

[2019-11-05 11:16] drjwbaker commented on #916
Agreed.

[2019-11-05 11:16] #916 closed, assigned to drjwbaker

[2019-11-05 11:19] drjwbaker opened #1539 "Multi-lingual Patreon"
Building on https://github.com/programminghistorian/jekyll/issues/916, we'd now like to look at making our Patreon https://www.patreon.com/theprogramminghistorian multi-lingual. Suggestions include:

- separate Patreon pages for ES and FR. *Would require three Patreon accounts, so this is possibly too admin heavy*
- translating the text and running them in parallel.
- multi-lingual videos.

@jenni

[2019-11-05 11:30] drjwbaker commented on #1537
On 3., one of the initial aims of creating a funding stream was to remove that burden from editors. We have increasingly complex and specalised copy editing needs https://github.com/programminghistorian/jekyll/issues/1381 that would benefit from expert input.

On 2., of course. I guess by referencing https://www.sfep.org.uk/resources/suggested-minimum-rates/ we are expressing a keeness not to unde

[2019-11-05 13:42] amsichani commented on #1538
thanks for this @acrymble . I ll work on this and get back to the team as soon as possible

[2019-11-05 14:35] acrymble commented on #1539
I've done very limited research and there may be more culturally appropriate platforms for Spanish and French. Patreon is very US-focused.

[2019-11-05 14:58] jenniferisasi commented on #1538
A quick note that Nov 28th is Thanksgiving here so all of us in the US will be out of the office and, most likely, celebrating the day with family/friends.

[2019-11-05 15:12] mdlincoln commented on #1521
@jenniferisasi any updates on a good date? It looks like Monday 18th or Tuesday 19th are our best options so far for the rest of the team? I'd like to finalize this by tomorrow.

[2019-11-05 15:16] jenniferisasi commented on #1521
Just added my availability to the doodle, though it won't work for me: I have the campus on the 19th, and flying all morning on the 18th, unfortunately.

[2019-11-05 15:18] mdlincoln commented on #1521
@jenniferisasi totally understandable! We'll miss you - but good luck with the interview, which sounds much more exciting 🍀 🤞

[2019-11-05 15:20] jenniferisasi commented on #1521
Thanks! @mdlincoln I'll try to work on #1224 RSS footer at least before the meeting but I can't promise to have it done by then because of all other stuff I have.
I'll miss chatting with you all.

[2019-11-05 15:21] mdlincoln commented on #1521
@programminghistorian/technical-team The meeting is confirmed at Monday, November 18th at 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET time.

[2019-11-05 15:46] jenniferisasi commented on #1539
Let me check on this to see if they would make it significantly easier to Spanish and French-speakers. If not, for the time being and taking into account our availability, I would go for:

- translating the text and running them in parallel.

Having videos would be great but we would need to record, edit, and close-caption at the least.

[2019-11-06 01:28] jenniferisasi opened #1540 "Communication: End of the year Newsletter"
Issue created to post the third newsletter to be published at the end of the year 2019. This will be a 3-month newsletter + year wrap-up of our biggest accomplishments, including:

- all new members in PH
- retirements of PH: Anandi and Marie
- ProgHist Ltd
- HDH prize for PHes (I have a "diploma" and pic of me)
- summary of visits to the site, by regions and languages
- list of all lessons
-- Pyt

[2019-11-06 04:08] svmelton commented on #569
Thanks, @mdlincoln—are there any updates on swapping the URLs, or should we plan to retire the lesson?

[2019-11-06 09:55] drjwbaker commented on #1540
By which you mean Patreon subscribers?

I have no PH related events coming up.

[2019-11-06 10:13] drjwbaker commented on #1539
@jenniferisasi Okay. Let me know what you find and I'm happy to help implement. Alternatively, should you want the Patreon login, details here https://github.com/programminghistorian/jekyll/wiki/Service-Integrations#patreon (email me for password).

[2019-11-07 07:30] arojascastro commented on #1539
I know some people/writers in Spain that are using Patreon: https://www.patreon.com/evacidm

I can ask on Twitter...

[2019-11-07 14:07] mdlincoln commented on #569
Thank you for the reminder. After some research, there does appear to be a complex workaround for re-pointing to the British Museum via new URLs. However, I now have no faith whatsoever in this institution maintaining these resources. Nor, unfortunately, do I have the bandwidth right now to rewrite this lesson to point to a new resource.

I will be doing a class on SPARQL next summer which may pro

[2019-11-07 14:33] acrymble commented on #569
@mdlincoln are you happy for me to contact the British Museum to enquire about this before we  commit to retiring?

[2019-11-07 14:35] mdlincoln commented on #569
No, we've waited long enough, and I have done my fair share of outreach.

[2019-11-07 14:36] drjwbaker commented on #569
In September 2018 I attempted contact Dominic at the BM with some questions about https://public.researchspace.org/sparql. I heard nothing back. In the context of sweeping personnel changes at the BM in the last year and a bit, I'm not sure how active their endpoints are any more.

[2019-11-07 15:10] jburnford opened #1542 "TF-IDF lesson bug"
If you are reporting a problem with a lesson, please try to provide us with the following information:

- The full title of the lesson
"Analyzing Documents with TF-IDF," The Programming Historian 8 (2019), https://programminghistorian.org/en/lessons/analyzing-documents-with-tfidf.
- The system you are using (Mac, Linux, Windows)
I've reproduced the bug in Windows and Mac.
- Version numbers of the

[2019-11-07 15:11] jburnford commented on #1542
I just double-checked and the current anaconda release is Python 3.7.4

[2019-11-07 15:40] mdlincoln commented on #1528
I don't think this issue has action items, so I'm closing it. I think further discussion about versioning can take place on the eventual ph-submissions ticket, if that's ok?

[2019-11-07 15:40] #1528 closed, assigned to nobody

[2019-11-07 15:42] mdlincoln commented on #1484
It will be easier to understand the changes you are making if you could please submit a PR for us to review.

[2019-11-07 15:43] mdlincoln commented on #1461
Is this going anywhere @acrymble ?

[2019-11-07 15:46] mdlincoln commented on #1181
@svmelton @JMParr I was hoping to let this one resolve itself without needing direct input by the tech team, because this should be a routine editorial task. but I also recognize the complexity of this particular fix, and that we've had so many switches of the ME.

Please loop me in and let's get these files into a PR soon. @ladew222 has had to wait long enough for us to facilitate this.

[2019-11-07 15:50] mdlincoln commented on #1530
This seems to have been finished by #1531

Reminder, when you open a PR, if you write `Closes #ISSUE-NUMBER` in the description when you create it on GitHub, merging the PR will auto-close the issue.

[2019-11-07 15:50] #1530 closed, assigned to nobody

[2019-11-07 15:52] mdlincoln commented on #1491
@drjwbaker what's the action item here? Each team should be adding text to the wiki Governance page? Or...?

[2019-11-07 15:53] mdlincoln commented on #1462
I'm closing this out for now, because I'm not satisfied with the amount of boilerplate we need to work up from scratch to do this on GH Actions. Might reopen at. a future point, but I'm not goign to be working on this anytime soon.

[2019-11-07 15:53] #1462 closed, assigned to mdlincoln

[2019-11-07 15:55] mdlincoln commented on #1022
@amsichani Do we feel this is going anywhere? Or can we close?

[2019-11-07 15:55] drjwbaker commented on #1491
Yes, heads of teams need to do this https://github.com/programminghistorian/jekyll/issues/1491#issuecomment-548834304

[2019-11-07 19:34] ZoeLeBlanc commented on #1542
Thanks for catching this @jburnford. Looks like the issue is that `txt_file` is actually a Path object rather than a string, so just adding `str(txt_file)` so that the line becomes `[str(txt_file).replace(".txt", ".csv").replace("txt/", "tf_idf_output/") for txt_file in all_txt_files]` makes the code work. @mdlincoln should I go ahead and push up the fix to this code? I guess we also need to updat

[2019-11-07 20:32] mdlincoln commented on #1542
@mdlincoln yep, a PR for the lesson would be perfect, and for the notebook too.

funny how a reproducible notebook didn't catch this error 🙃  (where's a `:salt:` emoji when I need one)

[2019-11-08 07:48] acrymble commented on #569
Ok.  But let's keep retirement issues within the remit of managing editors, who should have full intellectual control of what's happening within their given publication. So you should be recommending retirement rather than doing it yourself.

[2019-11-08 07:50] acrymble commented on #1461
Yes. We had a discussion about business models we're happy with. I'm using that feedback to build a business plan for further comment.

[2019-11-08 08:32] drjwbaker opened #1543 "Edit governance doc to better fit sub-team structure/powers"
Spinning out from https://github.com/programminghistorian/jekyll/issues/1491 a proposal for editing the [Governance](https://github.com/programminghistorian/jekyll/wiki/Programming-Historian-Governance#venues-for-discussion) document:

1. add 'Sub-team calls' to our list of 'Venues for Discussion'.
2. edit 'Monthly Skype calls' to 'Monthly Skype calls **(including sub-team reports)**'
3. edit:

to

[2019-11-08 08:32] drjwbaker commented on #1491
@jenniferisasi Is there anything actionable you want to take forward from this ticket?

[2019-11-08 17:18] jenniferisasi commented on #1539
I have looked into a specific platform, https://www.goteo.org, which has a multilingual interface yet the content is in the preferred language of the campaign. It is too late now to switch platforms (as we already have some patreons) and I don't think running different platforms is efficient in the long run. So again I advocate for trilingual content in Patreon.

[2019-11-08 20:37] svmelton commented on #1181
Thanks so much for your patience, @ladew222. I'm going to take over the upload from here; @ladew222, would it be possible for you to send the updated files again? (It looks like the old link expired.) Thanks—I appreciate your help!

[2019-11-08 20:59] ladew222 commented on #1181
No problem.  I will should be able to send them either later today when back on my computer or soon after.

[2019-11-10 12:19] arojascastro commented on #1539
agreed with @jenniferisasi - i checked ko-fi and others and are only available in English. I think Patreon is quite used in Spain at least.

[2019-11-11 09:28] acrymble commented on #1537
@arojascastro On 3. yes, ideally editors could do this. But it isn't everyone's strength, and it can be incredibly time consuming work. We're using this as a means of improving the consistency and quality of lesson prose.  It's part of an investment in long-term sustainability as well, as hopefully lessons we need less frequent updating after being carefully copyedited.

[2019-11-11 09:30] acrymble commented on #1532
I think this is resolved, @drjwbaker ?

[2019-11-11 09:47] acrymble commented on #1540
Announcing the updating of our Python lessons to Python3?

[2019-11-11 09:49] acrymble commented on #1473
I think we need to get that handover pull request done so that @svmelton becomes the ME contact on the site.

[2019-11-11 09:52] acrymble commented on #1503
@drjwbaker is this ready to close?

[2019-11-11 10:06] acrymble commented on #1461
I have sent a draft of the business plan to team leaders and managing editors for feedback, with a deadline of 30 November 2019. The whole team will have a future opportunity to comment once I've incorporated these ideas.

[2019-11-11 11:43] drjwbaker commented on #1503
yes

[2019-11-11 11:43] #1503 closed, assigned to drjwbaker

[2019-11-11 11:46] drjwbaker commented on #1532
I need to document this in Service Integrations first. Then we can close.

[2019-11-11 11:51] drjwbaker commented on #1539
Okay. Thanks for your input. We'll move to translation then.

@spapastamkou @programminghistorian/french-team @rivaquiroga @programminghistorian/spanish-team. We have a translation task please. We'd like the 4 tiers and the 2 goals at https://www.patreon.com/theprogramminghistorian translated please. I'm less sure about the 'About' text though, as that may be overkill. Thoughts @jenniferisasi?

Wh

[2019-11-11 14:33] mdlincoln commented on #1370
I'm scheduling a meeting with our scholarly communications librarian, who has more experience than I in the world of DOI vendors, to get a better picture (and budget) for what a DOI system for lessons (and lesson revisions) might entail.

[2019-11-11 15:02] jenniferisasi commented on #1540
@drjwbaker I meant new editors, not patreons, but I can certainly include a paragraph with all their names.

[2019-11-11 15:02] drjwbaker commented on #1489
Quick update. There is a possibility this may end up in internal redeployment, if not, the job will go up this week. Once it is up, applicants will have two weeks to apply. I'll alert all team members by email.

[2019-11-11 15:03] drjwbaker commented on #1540
Ah. Yes, new editors are important to mention! :)

[2019-11-11 17:44] acrymble opened #1545 "Anandi Retirement admin"
@alsalin has informed the team that she'll be retiring from the project. We wish her the very best and thank her for her contributions to the project.

Once @svmelton has added herself as the Managing Editor (https://github.com/programminghistorian/jekyll/wiki/Managing-Editor-Handover) and we close #1473 we can begin working on our team member stepping down checklist.

https://github.com/programmi

[2019-11-11 21:43] svmelton opened #1546 "New kanban board for managing editorial workflows"
I've put together a [kanban board](https://github.com/programminghistorian/jekyll/projects/3) for managing editorial workflows. Right now it's only for the English site, but I'd be happy to expand it to the other publications.

I'm posting it here for any general feedback. Are there any steps or checklists that should be added?

[2019-11-11 21:48] mdlincoln commented on #1546
I really like this! 👍

Since this populated with the current English team pipeline, you might want to rename it so that it's clear it's just the EN PH kanban. I suspect - unless ppl think otherwise - that if the ES or FR teams want to also set up a kanban, then they should make separate boards so that things don't get too cluttered.

[2019-11-11 22:18] ladew222 commented on #1181
I uploaded the files. Here is the link: https://we.tl/t-fEcZndRzfi <https://we.tl/t-fEcZndRzfi> . I am more than happy to go through the lesson as it has been a while since I have worked through it and I want to make sure the files match the updated lesson. Let me know as well if I can help in any other.

[2019-11-11 23:25] jenniferisasi commented on #1546
I really like this system @svmelton, thanks for adding it!

And @mdlincoln you are right, of course, probably better to keep them separate. If Riva at some point wants to create one of this, shall she create a new project? I understand that "PH Submission & Publication Tracking" is your `project` and you have a `card` per task (grey box) then subtasks are a `column`?

[2019-11-12 06:55] drjwbaker commented on #1545
Thanks for your hard work @alsalin!

I confirm that there is no action to take wrt the ProgHist Ltd register of members.

[2019-11-12 07:37] acrymble commented on #1546
I suspect every team could  benefit from something similar. It might also help internal communication by giving each team a clear sense of what to pay attention to. #1491

[2019-11-12 07:47] acrymble commented on #1545
- [x] Remove Google Groups access (@acrymble)
- [x] Remove Google Analytics access (@acrymble)
- [x] Remove Github Jekyll access (@mdlincoln)
- [x] Remove from ProgHist Ltd register of members (@drjwbaker)
- [x] Change team: true to team: false, and add team_end: YYYY to the _data/ph_authors.yml file to remove the person from the Project Team page (@acrymble)
- [x] Check that they have no open iss

[2019-11-12 08:19] drjwbaker commented on #1532
I've added this to the Service Integrations https://github.com/programminghistorian/jekyll/wiki/Service-Integrations#patreon

@amsichani: can you confirm you are happy with your piece as Ed Manager? Then I can close.

[2019-11-12 13:58] walshbr commented on #1546
Love it! One question - is this something that you'll be updating and tracking as managing editor? That certainly seems the most likely to keep it up to date, but it does ask a lot more work of you @svmelton. The alternative would be asking people to check in and update as their card changes, but that seems more prone to letting it slide. I'm good with whatever you think makes sense and will suppo

[2019-11-12 14:06] #1473 closed, assigned to acrymble

[2019-11-12 14:25] amsichani commented on #1532
fine by me.thanks!

[2019-11-12 14:30] #1483 closed, assigned to amsichani

[2019-11-12 15:16] acrymble opened #1549 "October 2019 Board Actions"
The following is a list of agreed actions arising out of the 2019 October board meeting. Please tick off your actions once completed. All actions should be complete or reportable by the next board meeting.

- [x] Who triages and discusses the needs to come up with solutions, and how do we prioritize to be most effective as a whole unit?
Technical team to discuss and report next meeting. @amsichani

[2019-11-12 15:18] walshbr commented on #1549
Edited to add @mdlincoln to the conversation about the technical team.

[2019-11-12 15:38] jenniferisasi commented on #1545
@acrymble checking your list, a new item occurred to me that I need to take care of: Remove Twitter access, right?

[2019-11-12 15:41] jenniferisasi commented on #1491
Shall we implement kanban boards for all teams as started by @svmelton and suggested by @acrymble?

[2019-11-12 15:44] walshbr commented on #1538
Would be good to revisit this note - https://github.com/programminghistorian/jekyll/issues/1302#issuecomment-497732161. We had discussed in the past the possibility of staggering full board meetings starting in September once more of the sub boards were in place so that we weren't all planning on both monthly editorial board skype calls and monthly sub team calls.

[2019-11-12 15:53] drjwbaker commented on #1532
Fab.

[2019-11-12 15:53] #1532 closed, assigned to drjwbaker

[2019-11-12 16:10] svmelton commented on #1546
@walshbr Ideally editors should check in and update as their card changes, but ultimately I think it falls to the ME to make sure that things are moving through. I'll plan on reminding people for awhile until we're all used to it.

[2019-11-12 16:42] arojascastro commented on #1491
Yup!

El El mar, 12 nov 2019 a las 10:41, Jennifer Isasi <notifications@github.com>
escribió:

--
Enviado desde mi móvil

[2019-11-12 16:50] acrymble commented on #1545
Yes.

[2019-11-12 20:21] svmelton commented on #1181
Thanks, @ladew222! I'm going to work on this and will aim to get the PR done by the end of this weekend.

[2019-11-12 22:09] ladew222 commented on #1181
Thanks Sarah.  Let me know if I can be of service.

[2019-11-13 08:22] #1545 closed, assigned to acrymble

[2019-11-13 08:26] acrymble commented on #1491
Should we phase in the kanban idea slowly so that we can work out any problems?  @svmelton would you be happy to work with one team at a time to help them set this up? Maybe the @programminghistorian/french-team is good place to start since the tasks are the same?

[2019-11-13 17:08] fdlaramee commented on #1539
For the four tiers:

Abonné (1$ par mois): Merci! Nous vous remercierons publiquement en tant que nouvel abonné dans un message à nos milliers de lecteurs sur Twitter.

Parrain/Marraine (5$ par mois): Merci! Tous les avantages des niveaux précédents, plus un message de remerciement personnalisé dans notre bulletin trimestriel et la possibilité de suggérer un thème de leçon à d'éventuels auteurs (à

[2019-11-13 19:12] jenniferisasi commented on #1539
Subscriptor ($1 al mes): ¡Gracias! Agradeceremos tu suscripción con un anuncio a nuestros miles de seguidores en Twitter.
Sponsor ($5 al mes): ¡Gracias! Tendrás los beneficios del nivel anterior junto con un agradecimiento a tu aportación en nuestro boletín informativo trimestral. Además, podrás sugerir un tema para una lección en nuestra página para futuros autores/as (dentro del ámbito de nuestr

[2019-11-13 19:36] JoshuaGOB commented on #1539
I'd say it's good to go now.

[2019-11-13 20:02] svmelton commented on #1491
Happy to work with the @programminghistorian/french-team! It might make sense to have someone from that team start drafting up a board and ping me if they run into any problems.

[2019-11-14 12:09] acrymble commented on #1491
I am closing this on the assumption that we are taking it forward with #1546 Kanban boards.

[2019-11-14 12:09] #1491 closed, assigned to jenniferisasi

[2019-11-15 20:28] spapastamkou commented on #1431
La discussion sur la forme finale de cette page peut maintenant se faire dans le cadre du pull request #1551.

[2019-11-16 09:10] amsichani opened #1552 "Education Manager role | 1-6m plan"
Here is a draft plan for @amsichani as an Educational Manager - agreed with @jenniferisasi as Head of Communications Team.

**1-3 months**

- enhance users' experience

_actions_ :
- [ ] address issues raised regarding lessons' duration #1526 and sequence (series) #1525 (December 2019)
- [ ] audience and Learning Paths  #1022 (December 2019)

**3-6 months**

- enhance & document the integration of

[2019-11-16 11:35] acrymble opened #1554 "Patreon Integration (stage 2)"
We've now got our first Patreon subscribers (thanks to them all).

It is  going to take some work to keep growing our subscriber base and to be able to cover all of the costs of running and growing the project. I'm putting forth the following plan, some of which we can implement immediately.

## Additional linkes on the website

- [ ] a 'support open publishing' link on the menubar
- [ ] a tempora

[2019-11-16 11:36] acrymble commented on #1554
Please comment if you have any feedback. I'll work on integrating some of the above over the next month. I hope nothing here is controversial.

[2019-11-16 17:24] jenniferisasi opened #1555 "Suggestion for printing in EN only"
I realized that the suggestion we added for a better printing at the end of the lessons is only available in English. The banner is in the `lesson.html` file.

Do we need to create another {{ site.data.snippet.suggested-printing [page.lang] }} tag?

[2019-11-17 11:01] acrymble commented on #1538
Related to @walshbr we also said that we only expected team leaders to come to these meetings. Everyone else's participation is o ptional (but we would prefer to know if you aren't planning to come). Do we want to continue with that approach?

[2019-11-17 13:15] walshbr commented on #1538
I'll mention this on the call, but opt-in for everyone required for leaders does seem to be the most sensible. That way people with the time and energy who want to be as engaged as possible can still have that option. Also in keeping with the general ethos of transparency.

[2019-11-18 03:32] svmelton commented on #1181
Just a quick update: it'll be a few more days as I fix the links in the markdown.

[2019-11-18 12:42] IsaacVerm opened #1557 "sudo pip install in intro to beautiful soup"
If you are reporting a problem with a lesson, please try to provide us with the following information:

- The full title of the lesson: [Intro to Beautiful Soup](https://programminghistorian.org/en/lessons/intro-to-beautiful-soup)
- The system you are using: not relevant
- Version numbers of the relevant software you are using: not relevant
- The exact steps you took that caused the problem: open

[2019-11-18 13:45] acrymble opened #1558 "Resolving Decision-making workflow"
There seems to still be some different ideas about how decision-making should or does take place on the project. I thought we resolved this last meeting with the decision in the minutes:

It's important that we all have the same understanding of what this means.

My reading of this is that each team (English, Spanish, French, Tech, Development, Global, Communication) has areas of responsibility (e

[2019-11-18 14:19] drjwbaker commented on #1558
@acrymble I opened a ticket on this https://github.com/programminghistorian/jekyll/issues/1543

[2019-11-18 14:20] #1558 closed, assigned to nobody

[2019-11-18 14:31] ZoeLeBlanc commented on #1521
Sorry I'm running late this morning, so maybe move me to the end of the queue. Please and thanks 🙏

[2019-11-18 14:33] walshbr commented on #1521
We should also discuss #1549 - re: triaging workflow for technical team tickets.

[2019-11-18 14:50] acrymble commented on #1543
I support this. I suspect there are situations though where someone  may object but we may have a legal obligation or an extremely compelling practical reason for moving ahead anyway. Maybe j ust  say attempting to address those objections?

[2019-11-18 14:51] mdlincoln commented on #1542
Closed by #1556

[2019-11-18 14:51] #1542 closed, assigned to svmelton, ZoeLeBlanc

[2019-11-18 15:23] JMParr commented on #1181
Thanks for taking this on, Sarah!

On Sun, Nov 17, 2019 at 10:32 PM Sarah Melton <notifications@github.com>
wrote:

[2019-11-18 15:38] mdlincoln commented on #1018
https://github.com/cmu-lib/dhlg/blob/master/_includes/_search-lunr.html

[2019-11-18 15:44] ladew222 commented on #1181
No problem. Thanks.

[2019-11-18 16:04] ZoeLeBlanc commented on #1018
Few updates from our latest call #1521

I'm going to be trying to implement a language specific search on each of the lessons pages, which means that you'll only get search results in the language you select.

I'm also going to be testing out @mdlincoln's approach from the DHLG https://github.com/cmu-lib/dhlg/blob/master/_includes/_search-lunr.html which generates Lunr search index without needing

[2019-11-18 17:10] mdlincoln commented on #1521
Report:

- The tech team is currently circulating a draft on issue workflows and how we will be handling high complexity feature requests from the full editorial team.
- We are formalizing the use of our slack team as a site to triage tickets and are implementing a pair programming system encouraging less experienced members to lead on standard technical tickets, shadowed by a more experienced mem

[2019-11-18 17:11] mdlincoln commented on #1524
I'm closing this out for now and adding it to our long-term feature request backlog, as we do not have the current skillset to implement this on top of our other high-complexity priorities. Will re-assess in 6 months.

https://github.com/programminghistorian/jekyll/wiki/Technical-Team#new-feature-backlog

[2019-11-18 17:13] mdlincoln commented on #1116
Closing out and adding to https://github.com/programminghistorian/jekyll/wiki/Technical-Team/

[2019-11-18 17:13] #1116 closed, assigned to mdlincoln

[2019-11-18 17:19] mdlincoln commented on #1525
This has two technical components if you want to go through with it:

1. Design a data scheme for ordering series lessons in YAML / some kind of text block that editors will need to format and keep updated across lessons
2. Implement a display

@amsichani what are your thoughts on the payoff for this vs. the time needed to implement it?

[2019-11-18 17:21] mdlincoln commented on #1478
I'm going to close this out as there's no straightforward check that can prevent this mistake by editors. Unfortunately they'll just have to stick to the documented file-naming convention.

[2019-11-18 17:21] #1478 closed, assigned to mdlincoln

[2019-11-18 17:22] mdlincoln commented on #1023
@amsichani mentions this in #1552 . Will discuss within tech team before closing out and moving to our new backlog system.

[2019-11-18 18:13] mdlincoln commented on #1023
FYI I wonder, what are we adding in addition to the generated Table of Contents for each lesson? Is it still a fixed sidebar with a ToC?

FYI that can be a tricky thing to implement in Jekyll - the ToC gets autogenerated by the markdown parser, so we don't have fine-tuend control over how it gets rendered, unlike how we can control a lot of the rest of the site display. (sorry, I promise I am not

[2019-11-18 18:54] #1324 closed, assigned to mdlincoln

[2019-11-18 19:19] mdlincoln commented on #1370
Outcomes of my discussion:

## Cost

The big providers are DataCite and CrossRef. [DataCite's heavy annual membership/cheap DOI model](https://datacite.org/pricelist.html) is very much designed for large repositories with thousands of objects to register. If we were to directly engage a provider, I'd instead recommend [CrossRef](https://www.crossref.org/fees/#content-registration-fees) which has a

[2019-11-18 20:02] #1521 closed, assigned to mdlincoln

[2019-11-18 21:45] #569 closed, assigned to mdlincoln, svmelton

[2019-11-19 08:01] drjwbaker commented on #1370
@mdlincoln Thanks for putting the hard work into this. It raises an important issue around how we present substantial revisions, and your suggested new workflow seems astute to me, both in terms of infrastructure and publishing: for whilst we do have a modified date, we currently don't have an easy to understand record of what changed. This proposal solves that.

On the CrossREF cost, I'd like to

[2019-11-19 08:02] drjwbaker commented on #1489
This job has now been advertised https://www.sussex.ac.uk/about/jobs/research-assistant-impact-manager-prog-hist-2753

[2019-11-19 08:10] drjwbaker commented on #1543
Better?

[2019-11-19 08:21] drjwbaker commented on #1554
Pinging @programminghistorian/technical-team as some of these actions require their input on feasibility wrt the site infrastructure and their capacity to implement changes given their existing workloads.

[2019-11-19 10:16] acrymble commented on #1489
Great work @drjwbaker. I know this took a lot of effort on your part.

[2019-11-19 12:52] acrymble commented on #1460
Can anyone with WINDOWS help update the https://programminghistorian.org/en/lessons/windows-installation lesson please? I don't have a machine I can test it on. It only needs updating to point to Python3 resources instead of 2.7. This should be a 15 minute fix. I would appreciate someone coming forward. @programminghistorian/project-team

[2019-11-19 12:56] acrymble commented on #1460
I am unable to update the following Spanish language lessons because of my lack of language skills:

- [ ] https://programminghistorian.org/es/lecciones/introduccion-e-instalacion
- [ ] https://programminghistorian.org/es/lecciones/instalacion-linux
- [ ] https://programminghistorian.org/es/lecciones/instalacion-mac
- [ ] https://programminghistorian.org/es/lecciones/instalacion-windows

Can anyon

[2019-11-19 14:01] mdlincoln commented on #1370
I think another component to this is better documenting for ourselves, *and then documenting for our authors &readers*, what we consider minor revisions that do not constitute creating a new "version" (fixing broken links, typos in code, incorrectly-uploaded datasets) and thus don't get big signposts in our UI. Documentation of those minor changes just comes from the built-in git file history that

[2019-11-19 15:05] drjwbaker commented on #1370
Agree. Tension between "we are transparent because of git" and the way we show our readers the important changes in that git history in forms that they can grasp.

[2019-11-19 15:32] drjwbaker commented on #1539
Fab. @acrymble: have you discussed your plans outlined here https://github.com/programminghistorian/jekyll/issues/1554 with the ES and FR teams? (in short: staggered integration of multi-lingual Patreon)

[2019-11-19 16:38] acrymble commented on #1525
An alternative to additional infrastructure is just to add a bit of text at the top and bottom of relevant lessons.

[2019-11-19 17:45] acrymble commented on #1539
No, but I welcome input as it will require a team effort. Please post thoughts on #1554 if you have any

[2019-11-19 18:10] drjwbaker commented on #1539
Okay. I ask as it impacts on when we use the descriptions kindly provided above. And I'd be keen that we don't change the English by the time the renewed plan kicks in (when we asked for translation the assumption was that we'd add the ES and FR immediately, but this changed when you suggested the plan at #1554 whilst the translation was ongoing)

[2019-11-19 18:16] acrymble commented on #1539
You can add them now if you want @drjwbaker. The point of #1554 is to have a plan to drive eyeballs to the page.  Patreon gets effectively zero views without us actively pushing people to it.

[2019-11-19 18:26] walshbr commented on #1554
From a technical / UX perspective -

1. a 'support open publishing' link on the menubar - I think this is essentially what the "support us" link in the menu bar is already doing. I'd be reluctant to add another menu bar link to the already crowded header menu that duplicates something that is already done.
2.  a temporary funding drive banner (1 month) at top of every page, urging people to sign u

[2019-11-19 18:31] acrymble commented on #1554
For anyone interested, I found this video by Patreon useful for thinking about building supporters https://www.youtube.com/watch?v=p1RnuFWXU_k

I think one of the key hurdles to get over is any embarassment about asking people to contribute to your project. If you ask with  a whisper in a footnote,  you won't get people's attention. So there's a balance to be struck, for sure, but being proud abou

[2019-11-19 18:35] acrymble commented on #1554
In  terms of what we already have, yes we have a 'support us' page, but people aren't visiting it. Of  65,000 visitors this week, only 22 loaded the 'support us' page. That's 1 every 3,000. So  it's a start, but let's keep thinking about how and why people should support us. The work we do has value.

<img width="1034" alt="Screenshot 2019-11-19 at 18 33 20" src="https://user-images.githubusercont

[2019-11-19 18:36] walshbr commented on #1554
So are you just suggesting we rename "Support us" to "Support open publishing"? That seems fine if you want - I was just trying to point out that the one idea was sort of already being attempted. Thanks for the analytics - always appreciate how you're on top of those.

[2019-11-19 18:39] walshbr commented on #1554
I think the combination of passive representation, timed campaigns, and targeted advertising all seems good.

[2019-11-19 20:23] JMParr commented on #1460
Hi, Adam - Do you want me to see if one of my colleagues in Computer
Science would be interested in having students update the lesson?

On Tue, Nov 19, 2019 at 7:52 AM Adam Crymble <notifications@github.com>
wrote:

[2019-11-19 20:32] acrymble commented on #1460
As long as you don't think it will make more work for you. Thanks.

[2019-11-19 21:32] svmelton commented on #1557
Pinging anyone from @programminghistorian/technical-team who may have thoughts here.

[2019-11-19 22:51] rivaquiroga commented on #1546
I really like this! It will definitely help with @programminghistorian/spanish-team internal communication to have one.

[2019-11-19 23:19] rivaquiroga commented on #1460
@JoshuaGOB, can you help with this? It seems that you are the most Python-proficient editor in the Spanish team. It's around 1 hour work.

[2019-11-20 08:56] acrymble commented on #1552
Thanks for putting this together @amsichani . Do you have a place to store it while you work through it?

[2019-11-20 09:13] drjwbaker commented on #1538
# Project Development Team Report

By: @drjwbaker
Date: 20 Nov 2019

Substantive Actions Completed Since Previous Report:

- Proposal for donation mechanism. Went ahead and started Patreon/Paypal work https://github.com/programminghistorian/jekyll/issues/1457
- Ticket on business models we are happy with for fundraising https://github.com/programminghistorian/jekyll/issues/1487. In sum we agreed:

[2019-11-20 13:11] jenniferisasi commented on #1489
This is great news @drjwbaker. I subscribe to Adam’s message of gratitude for you working on this one. I am looking forward to see where this research and roadmap takes us

[2019-11-20 14:16] walshbr commented on #1557
Yep - this is a good point. @mdlincoln or @ZoeLeBlanc might have suggestions involving pipenv or something instead?

[2019-11-20 14:32] amsichani commented on #1552
I can close the ticket if needed and re-open it when necessary. I 've recorded my task also through private comm with @jenniferisasi (email).

[2019-11-20 15:09] amsichani commented on #1538
I 've added actionable items from last meeting minutes under related items/teams in the agenda - hopefully, the teams' reports for this meeting and discussion during the call  will address these.

[2019-11-20 16:31] ZoeLeBlanc commented on #1557
Ya using sudo isn't great, but honestly we might want to include guidance on package management just because of the need to update dependencies.

We could set up some guidelines that are lesson agnostic for package management. Maybe something about using conda, pipenv, or virtualenv for python, yarn and npm for node/js, and then something for R?

[2019-11-20 19:37] JoshuaGOB commented on #1460
I can start on it today.

On Tue, Nov 19, 2019 at 5:19 PM Riva Quiroga <notifications@github.com>
wrote:

--

*Joshua G. Ortiz Baco *
Graduate Research Assistant
LLILAS Benson DS Lab Manager
Digital Scholarship Office
University of Texas at Austin

[2019-11-20 23:12] svmelton commented on #1181
With the caveat that I'm a bit of a novice in R:
I went through the lesson to make sure everything was working as expected. I ran across the following errors:
1. When trying to run
`plot(points[which(point$State %in% c("NC","SC")),]$geometry,col = "green", pch=20,cex=.5, axes=TRUE,add=TRUE)`
I got an error message of `Error in point$State %in% c("NC", "SC") : object 'point' not found`

2. When run

[2019-11-20 23:33] ladew222 commented on #1181
Thanks Sarah. I will take and get back to you tomorrow.

[2019-11-20 23:55] rivaquiroga commented on #1181
I can also take a look if you want. @ladew222, it is possible for you to share again the link with the files? The previous one is not active anymore

[2019-11-21 08:19] acrymble commented on #1557
I believe this is in other lessons too.

I admit not understanding why this is a bad idea in this specific context.

[2019-11-21 15:24] walshbr commented on #1557
The top comment here I think addresses it - https://askubuntu.com/questions/802544/is-sudo-pip-install-still-a-broken-practice.

[2019-11-21 15:39] fdlaramee commented on #1538
Apologies; a medical appointment will keep me away from this month's call.

All the best,
FDL

[2019-11-21 17:29] mdlincoln commented on #1538
# Technical Team Report

By: @mdlincoln
Date: 20 Nov 2019

Substantive Actions Completed Since Previous Report:

- Discussed and drafted an issue triage and workload balancing guide: <https://github.com/programminghistorian/jekyll/wiki/Technical-Team#issue-triage-workflow> It will include guidelines for editorial team bug reports and issue requests, and describe how we will assess and prioritize c

[2019-11-21 17:37] mdlincoln commented on #1525
that's what i mean by some kind of text block

[2019-11-21 17:42] mdlincoln commented on #1554
Adding in an "alert" box to all the lessons (or even the lessons + all our other pages, homepages etc.) would be a pretty light lift since we already have similar alert boxes in our CSS (we can add a special snazzy color to them, of course). If we can get a sample of language and a decision on where to put them, then @programminghistorian/technical-team can get some folks working on it.

[2019-11-21 18:43] mdlincoln commented on #1370
To be clear, I think it's ok for us to do "silent bugfixes" like we currently do on lessons, with only the commit history as log.

It's for the bigger updates that we should probably get comfortable with just creating a new file and DOI.

[2019-11-21 19:00] drjwbaker commented on #1554
Can we get a mock-up with lorem ipsum text as a placeholder?

[2019-11-21 19:06] mdlincoln commented on #1554
fine but we still need part 2 of my request - a decision on where to put them

[2019-11-21 19:38] svmelton commented on #1538
# EN Editorial Report

By: @svmelton
Date: 21 Nov 2019

Actions Completed Since Previous Report:

- Recently published - [Beginners' Guide to Twitter Data](https://programminghistorian.org/en/lessons/beginners-guide-to-twitter-data)

- Retired SPARQL lesson #1541

- Created [kanban board](https://github.com/programminghistorian/jekyll/projects/3) to manage editorial workflow

Issues still in proce

[2019-11-21 19:41] svmelton commented on #1538
FYI, I will need to leave about 30 minutes into the call for another meeting.

[2019-11-22 09:44] drjwbaker commented on #1489
Just so you know, I'm getting interest in the post, which is encouraging.

[2019-11-22 17:20] JoshuaGOB commented on #1460
Quick question: Are there any objections to removing the Komodo Edit section in:
- [ ] https://programminghistorian.org/es/lecciones/introduccion-e-instalacion
- [ ] https://programminghistorian.org/es/lecciones/instalacion-linux
- [ ] https://programminghistorian.org/es/lecciones/instalacion-mac
- [ ] https://programminghistorian.org/es/lecciones/instalacion-windows

I can't see the relevance for

[2019-11-22 19:42] frederik-elwert commented on #1460
I was unsure about the Komodo section as well. But in the end I wanted to separate the Python3 update from other revisions, so I kept most things as they were. You can see, however, that I did update the screenshots for the Linux installation: https://programminghistorian.org/en/lessons/linux-installation It might be good to do the same for Windows and Mac, but I currently don’t have access to tho

[2019-11-23 15:49] jenniferisasi commented on #1538
# Communications Team Report
By: @jenniferisasi
Date: 23 Nov 2019

Substantive Actions Completed Since Previous Report:

- #1552, @amsichani has created a 1-6 month plan for her role as Education Manager. We discussed what actions are a priority and what is doable during a half-year timeframe.

- #1489, @drjwbaker has secured funding for a Funded Impact Manager and is now received applications [I

[2019-11-23 16:14] jenniferisasi commented on #1554
One idea:
-  add a small temporary banner above language banners on the front page

But! I just realized we are missing an opportunity for $$ in this section upon entering the site:

I think we need to add the support us link there too, right?

[2019-11-25 07:03] JMParr commented on #1538
### Global Team Report
By: @JMParr
Date: 25 Nov 2019

Substantive Actions Completed Since Previous Report:

- Contact made with Quinn D. and GO:DH re their multi-lingual work. We have had some initial talks via email, and plan to have a conversation via Zoom after Thanksgiving.
- Initial outreach made with the Amical Consortium, who have been receptive.

Queries for the Team:

- Aside from the bus

[2019-11-25 07:04] JMParr commented on #1538
I'm going to have to leave about 30-40 minutes into the call as well, for an appointment.

[2019-11-25 11:49] mdlincoln opened #1563 "Add "Support Us" banners/alerts across site"
Breaking this specific task out from #1554 since it needs to be tracked by @programminghistorian/technical-team

To move forward, we'll first need a list of locations were we'd like the banner to appear. Getting a complete list first before we start coding it would be very useful, since it may affect how we structure template/includes inheritance - and it may also affect the exact length/wording o

[2019-11-25 11:49] mdlincoln commented on #1554
Can we move discussion about the particulars of new alerts/banners over to #1563?

[2019-11-25 12:40] mdlincoln commented on #1555
I'm marking that I will be glad to take on the "support" role for this ticket. We're confirming now which @programminghistorian/technical-team member will take lead on writing the PR and will update with a timeline.

[2019-11-25 13:05] spapastamkou commented on #1538
### FR team report
By: @spapastamkou Date: 25/11/2019

Actions Completed Since Previous Report:

- Interviews with candidates completed; will have finally 2 new members (Maëlle Amand, Marie-Christine Boucher); their integration will begin no earlier than December (to give us time and finish with our major goals set according to 3 months planning #1469)

Actions Remaining Open Since Previous Report

[2019-11-25 13:08] spapastamkou commented on #1538
As per doodle, I am not available for the meeting but will follow minutes! Best, Sofia

[2019-11-25 13:13] spapastamkou commented on #1540
Added a presentation made during a dhist workshop at the Aarhus University, Denmark. Will send further details by e-mail to @jenniferisasi

[2019-11-25 14:35] rivaquiroga commented on #1538
# ES team Report
By: @rivaquiroga Date: 25/11/2019

Substantive Actions Completed Since Previous Report:

- Created [kanban board](https://github.com/programminghistorian/jekyll/projects/4) to manage editorial workflow, following the model of EN team
- Bogotá Workshop participants were contacted to inquire about tutorials proposals. Waiting for responses.

Substantive Actions Remaining Open Since

[2019-11-25 16:03] JoshuaGOB commented on #1538
Hi all, sorry I couldn't make it. Got my timezones mixed up and had to attend a meeting here.

[2019-11-25 16:44] #1549 closed, assigned to acrymble

[2019-11-25 16:47] acrymble opened #1564 "November 2019 Project Team Meeting Actions"
The following is a list of agreed actions arising out of the 2019 November project board meeting. Please tick off your actions once completed. All actions should be complete or reportable within  30 days.

Carried forward from October 2019:

- [x]  Plan to work through stuck issues / old EN team issues in the next month @svmelton

New:
- [x] ALL: find out if your institution could offer us free DO

[2019-11-25 16:51] acrymble commented on #1460
@JoshuaGOB The original English  ones (Mac and Linux) have been updated to Python3 and keep the Komodo edit in.

[2019-11-25 16:54] acrymble commented on #1461
@drjwbaker @mdlincoln @jenniferisasi @svmelton @rivaquiroga @spapastamkou @JMParr just a reminder that I've sent you this business plan for comment.

[2019-11-25 16:59] JoshuaGOB commented on #1460
Thank @acrymble. Would you mind checking the images in the lessons for Mac and Linux in es. I’m confused about where to put them. Thanks.

[2019-11-26 19:45] jenniferisasi commented on #1224
I'm starting to work on this. I have already identified how to add the RSS link to the footer, the rss xml file to link to.

[2019-11-27 09:45] acrymble commented on #1554
I'm also going to adjust our "goals" for monthly income to add a lower goal that makes it feel like we're closer (and therefore just need a bit more support). I will set this at 100/mo.  Affects Patreon  page only.

[2019-11-27 15:21] ZoeLeBlanc commented on #1484
I've actually had this error as well on my latest lesson so happy to submit a PR and here's a stack overflow answer outlining this syntax [https://stackoverflow.com/questions/19483975/jekyll-on-github-pages-any-way-to-add-footnotes-in-markdown](https://stackoverflow.com/questions/19483975/jekyll-on-github-pages-any-way-to-add-footnotes-in-markdown)

[2019-11-28 03:13] svmelton commented on #1181
Hi all—after incorporating the changes @ladew222 made [here](https://github.com/programminghistorian/ph-submissions/commit/27eca3618ef1ada7e1bfbfc9cd385d6a5e61b3a8), I'm still running into the same issues. I've [copied the data here](https://www.dropbox.com/sh/ddrme45m36oqo1i/AAA2L0FQOcLjNfTlpaphRiSda?dl=0), and it would be great if anyone had time to take a look.

Thanks!

[2019-11-28 14:53] rivaquiroga commented on #1181
Hi @svmelton!
The first one is a typo. You wrote `plot(points[which(point$State...`; it should be `points$State`, because the name of the object is `points`.
I went through the whole code and I'm not getting the second error. I tried to replicate it and I suspect that maybe you forgot to run this line `County_Aggregate_Data <- merge(County_Aggregate_Data,Census_Data,by.x="GISJOIN", by.y="GISJOIN")

[2019-11-29 14:47] ZoeLeBlanc commented on #1484
Fixed with #1566

[2019-11-29 14:47] #1484 closed, assigned to ZoeLeBlanc, amsichani

[2019-11-30 13:11] mdlincoln commented on #1224
Closed by #1565

[2019-11-30 13:11] #1224 closed, assigned to walshbr, jenniferisasi

[2019-11-30 18:51] svmelton commented on #1181
Thanks so much, @rivaquiroga! That seems to have fixed those issues.

In the last section of the lesson (Visualizing Data Relationships), I'm running into an issue. When I try to run `WhitePer10K <- ((dataM$B18AA1990/dataM$TOTPOP)*10000)`, I get an error of `Error: object 'dataM' not found`.

[2019-11-30 19:30] jenniferisasi commented on #1181
I was going to try to help but... it seems like the object `dataM` is not called or mentioned in the lesson prior to that section, so you probably didn't load it, right? It is supposed to be the dataset and until that point in the lesson, the data set looks to be `County_Aggregate_Data`. Can't find any other reference to dataM in the downloaded files or the rest of the lesson.

I haven't done all

[2019-11-30 19:58] svmelton commented on #1181
Perfect—thank you, @jenniferisasi!

[2019-12-01 09:27] spapastamkou commented on #1469
@fdlaramee @grandjeanmartin Je viens de créer une page wiki qui s'intitule French Translation Documentation et dont le contenu est en français.  https://github.com/programminghistorian/jekyll/wiki/French-Translation-Documentation
Elle explicite les choix faits au début du projet; elle a vocation à s'améliorer et à évoluer si besoin. Si vous voyez des choses qui manquent à votre avis, merci de les

[2019-12-01 17:20] svmelton commented on #1181
Ok, last issue I'm seeing (this is probably a question for @ladew222):
in `plot(MembersPer10K,ChurchesPer10K)` and `plot(MembersPer10K, log(ChurchesPer10K+1))`, it looks like neither MembersPer10K or ChurchesPer10K has been defined.

I think we'll be ready to update the lesson after that!

[2019-12-01 18:41] ladew222 commented on #1181
Sarah,

Early on in the update process, I updated the file in phsubmissions at https://github.com/programminghistorian/ph-submissions/blob/gh-pages/lessons/geospatial-data-analysis.md <https://github.com/programminghistorian/ph-submissions/blob/gh-pages/lessons/geospatial-data-analysis.md> to fix some problems in the text after I looked over the file after the data problem was discovered. That was

[2019-12-02 02:44] svmelton commented on #1181
No worries, @ladew222! It was good practice in troubleshooting for me. :)

[2019-12-02 09:41] acrymble commented on #1537
Thank you for feedback. I have moved this to the Wiki: https://github.com/programminghistorian/jekyll/wiki/Copyeditors

[2019-12-02 09:41] #1537 closed, assigned to acrymble

[2019-12-02 09:43] acrymble opened #1568 "List of Approved Copyeditors"
As per #1537 Copyeditor Hiring, the Team Development Manager will create and manage a list of approved copyeditors who can be hired to copyedit original lessons.

The full details of our copyediting are available on the Wiki: https://github.com/programminghistorian/jekyll/wiki/Copyeditors

The action here is for me to create the list of editors.

[2019-12-02 10:02] acrymble commented on #1461
Based upon the feedback I've received, I'm revising this and will sent it to the team for comment.

[2019-12-02 10:27] acrymble commented on #1461
I'm working with @jenniferisasi on a section about communication strategy.

[2019-12-02 10:42] acrymble commented on #1539
I have added the French text to the page https://www.patreon.com/theprogramminghistorian

Some of the fields have character length limits, which means we cannot keep adding additional languages. We need to re-think our strategy.

[2019-12-02 10:47] acrymble commented on #1554
French integration into Patreon:

@fdlaramee would you please help me to translate the following bits of our patreon page?:

* $100 per month will allow us to improve the sustainability of new lessons through careful professional copyediting (on top of the hard work of our editors). This will give learners and educators extra confidence in our lessons.

* Programming Historian is an international

[2019-12-02 10:56] acrymble commented on #1554
Patreon have a button we can embed in our site. Do we like it?
![Screen Shot 2019-12-02 at 10 55 35](https://user-images.githubusercontent.com/646647/69954015-55a8fa00-14f2-11ea-8686-304aa42fd592.png)

[2019-12-02 13:45] #1431 closed, assigned to grandjeanmartin, spapastamkou, fdlaramee

[2019-12-02 14:08] mdlincoln commented on #1554
@acrymble does Patron offer the button in SVG format? That would be ideal for the best display - if not, then PNG is ok.

[2019-12-02 14:09] acrymble commented on #1554
It's just a javascript integration actually. I screenshotted it for this.

<a href="https://www.patreon.com/bePatron?u=11816614" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>

[2019-12-02 14:11] mdlincoln commented on #1563
Reminder to @programminghistorian/project-team to please make a decision on locations so that tech team can start work.

[2019-12-02 14:17] fdlaramee commented on #1554
@acrymble Here are the translations you requested:

    $100 per month will allow us to improve the sustainability of new lessons through careful professional copyediting (on top of the hard work of our editors). This will give learners and educators extra confidence in our lessons.

--> 100$ par mois nous permettront d'assurer la pérennité de nos nouvelles leçons grâce à une correction d'épreuves

[2019-12-02 14:20] mdlincoln commented on #1023
Shifting to the "new feature" backlog, pending movement on #1552

[2019-12-02 14:20] #1023 closed, assigned to nobody

[2019-12-02 14:21] mdlincoln commented on #1167
Moving this to the new feature backlog for now - we can assess during our next tech team call.

[2019-12-02 14:21] #1167 closed, assigned to walshbr

[2019-12-02 14:23] fdlaramee commented on #1554
@acrymble Here are a couple of draft tweets:

Le Programming Historian en français publie des leçons pratiques sur la technologie et sur tous les aspects des humanités numériques. Soutenez-nous sur Patreon au http://...

Soutenez le développement de ressources en français dans le domaine des humanités numériques en contribuant au Patreon du Programming Historian: http://...

Vous avez acquis des c

[2019-12-02 14:54] acrymble commented on #1554
Thanks @fdlaramee

[2019-12-02 15:29] acrymble commented on #1563
I would go for 1 and 3 with the switch for 3 if possible.

[2019-12-02 17:17] jenniferisasi commented on #1539
Oh, we didn't know this so thanks for pointing it out @acrymble. I would say create another patreon account for additional languages (to keep it in the same platform)?

[2019-12-02 18:23] fdlaramee opened #1569 "Twitter bot advertising a retired lesson"
Sorry if this is not the appropriate forum to raise this issue, but I just noticed that the Twitter bot has advertised @mdlincoln's "Learn to use SPARQL to work with Linked Open Data" lesson, which is marked as retired in the text.

Is this an issue for the technical team or the communications team? @jenniferisasi ?

[2019-12-02 18:24] mdlincoln commented on #1569
I saw that, deleted the tweet, and then deleted the record in the Twitter bot google sheet that was causing it to still be advertised. Removing that row from the sheet was a step in the lesson retirement protocol that we overlooked.

[2019-12-02 18:24] #1569 closed, assigned to nobody

[2019-12-02 18:47] acrymble commented on #1539
Additionally, some of the French content I added is hidden under a 'show more' link on the default view.
<img width="1146" alt="Screenshot 2019-12-02 at 18 45 10" src="https://user-images.githubusercontent.com/646647/69985897-0edbf400-1534-11ea-8583-fef71d136e11.png">

I think from a user experience perspective we need separate accounts. Maybe we could experiment and do Spanish in Github Sponsor t

[2019-12-02 19:01] walshbr opened #1570 "Large Assets and GitHub"
I was emailing with @svmelton and @mdlincoln about an editorial issue on the English team, and it seemed like something to raise to the group here for comment. An upcoming lesson in the pipeline has an asset - a CSV file - that is necessary for the analysis, but the asset is large. It's about 130 megabytes, and GitHub is complaining when they try to upload it. The question is what to do with such

[2019-12-02 19:21] acrymble commented on #1554
I did a bit of a focus group on patreon and got the following feedback on our patreon page.

- Cover image could be more colourful.
- Very text heavy.
- not clear the call to a ction is compelling enough (why do we need the money?)
- French isn't really visible. Bilingual page isn't really working.
- nothing to come back for  (should we transfer blogging to Patreon to get eyes moving that way?)

I

[2019-12-02 20:13] jenniferisasi commented on #1570
I'm pinning @JoshuaGOB as the lesson he has submitted for ImagePlot use also has this issue.

[2019-12-02 20:28] JoshuaGOB commented on #1570
I was considering doing the same with the institutional repository here and now I've been asked to do so by the person in charge of the collection. I'm not very informed on the licenses but the CC0 they have by default is apparently the least restrictive possible. They also provide a DOI.

Just thinking out loud: would we want to upload to multiple repos when there's an institutional requirement t

[2019-12-02 20:33] mdlincoln commented on #1570
If the data are already in (or will be deposited) into an author's institutional repository, then I think we should be happy to link to that, provided that the data can be freely downloaded without needing to log in or have a certain IP location, and that there's a reasonable guarantee that the repository is stable.

For any datasets that are being created expressly for the Programming Historian l

[2019-12-02 20:53] ilyaspiridonov opened #1571 "Proposal for translation tool"
Please consider using [GitLocalize](https://gitlocalize.com) to manage translations.
It's free, supports .md and syncs with GitHub directly.

[2019-12-02 21:07] acrymble commented on #1570
I wouldn't trust institutions to indefinitely keep items for former students or employees.  For sustainability reasons I would suggest zenodo. It's a similar principle to why we ask for everything to be put on our servers. I've had many items of my own deleted from former employers when it no longer served their active needs, and they never asked me about it.

[2019-12-02 21:27] walshbr commented on #1570
@mdlincoln would it make sense to ask author's to copy their datasets into Zenodo even if those datasets are already in an institutional repository? For redundancy/sustainability?

[2019-12-02 21:28] mdlincoln commented on #1570
Note that we're talking about institutional repositories, not university/department/faculty websites. IRs do have an expectation of permanence, the others do not.

Having it all in Zenodo certainly helps keep it standardized on our end.

[2019-12-02 21:40] walshbr commented on #1570
In that case, how about the following as a policy for the wiki?

I'm inclined to say that a larger conversation about licensing for assets might be worth another ticket discussion if it comes up enough rather than trying to solve that topic here. But, for what it's worth, in keeping with our general philosophy of open culture work I'd be inclined to lean more towards least restrictive.

[2019-12-02 21:41] rivaquiroga commented on #1539
Github Sponsors currently has a waiting list. Maybe is better, as @jenniferisasi said, to keep it in the same platform.

[2019-12-02 21:49] mdlincoln commented on #1570
I like that text!

[2019-12-03 01:24] svmelton commented on #1557
Are there other thoughts on @ZoeLeBlanc's suggestion to set up guidelines for package management? It seems like a good suggestion to me. Is there anyone who could take this on?

[2019-12-03 02:02] svmelton commented on #1571
Thanks—I'll let our Spanish and French Managing Editors take a look.

[2019-12-03 14:14] walshbr commented on #1557
I think it's a good idea, but I don't have the expertise to do it. I mostly just know that the way I manage my Python installation is not a good practice. 😄

[2019-12-03 19:13] arojascastro commented on #1539
Yes, agreed with Riva and Jennifer! Sorry for jumping so late but this should be a priority since donations are already coming. I would like to donate some money monthly but I do not know yet if the donations are going to be separated by language or distributed equally between three... Is there any place where you have already discussed this?

[2019-12-03 19:20] jenniferisasi opened #1573 "Broken EN-ES-FR link on "Reviewer Guidelines""
I found an error in the three languages link in "reviewer guidelines", EN to ES and back it works, but the FR link is not connected to them.
https://programminghistorian.org/en/reviewer-guidelines
https://programminghistorian.org/fr/consignes-evaluateurs

Will look into it, probably something spelled wrong on snippets or the liquid (?) build tags

[2019-12-03 19:49] acrymble commented on #1539
@arojascastro At present donations go into an unrestricted fund. This means we aren't legally bound to spend the money in a particular way (beyond a moral obligation to do what we say we'll do on Patreon).

We agreed at the last meeting that until we've got more stable income, we'll only spend this  money on copyediting, with the aim of expanding that once we have that covered. @rivaquiroga @spapa

[2019-12-04 13:18] mdlincoln commented on #1573
I'm not at my computer to check it, but see if the `original` YAML value is correct on the FR page?

[2019-12-04 14:36] jenniferisasi commented on #1573
No it is not, actually no `original` value there. Thanks Matt! Will do the change now.

[2019-12-04 16:20] jenniferisasi commented on #1573
Fixed.

[2019-12-04 16:20] #1573 closed, assigned to jenniferisasi

[2019-12-04 16:34] Bundi-py opened #1575 "Content addition proposal"
Greetings,
I just finished reading the lesson
**[Working with Text Files in Python]**
"https://programminghistorian.org/en/lessons/working-with-text-files"
which is a nice intro for non-technical people like me. Thank you for posting that, But I also have a proposal to expand a little bit the content of the lesson.  by adding example of appending a text file to a pre-existing text file and not onl

[2019-12-04 16:38] acrymble commented on #1460
@JoshuaGOB I believe there are only two very small changes needed to close this ticket.

https://programminghistorian.org/es/lecciones/instalacion-windows
https://programminghistorian.org/en/lessons/windows-installation

Since these are the same lesson in two languages, would you be able to make the change? Then we will be fully Python3

[2019-12-04 17:00] svmelton commented on #1575
Thanks for this note!

Since @acrymble worked on this lesson, I'll let him weigh in on any potential expansion. (And if he has the capacity to work on it!)

[2019-12-04 17:29] acrymble commented on #1575
The lesson does provide these skills, if not that specific example. You can save the content of one file to a string, and then append it to another file. All of the bits of that workflow are already in the lesson.

[2019-12-04 17:58] mdlincoln commented on #1571
jumping in to note that this would not handle the particular way that we do language snippets, so it couldn't handle all our translation needs.

However, I would be interested to get feedback on how it works for translating a markdown file in ph-submissions. If the @programminghistorian/french-team or @programminghistorian/spanish-team have a specific lesson they'd like to experiment with, let the

[2019-12-04 18:03] svmelton commented on #1575
Thanks, @acrymble. I'm going to close this issue for now.

[2019-12-04 18:03] #1575 closed, assigned to acrymble

[2019-12-04 18:07] arojascastro commented on #1571
Interesting! I think we should experiment with it. I am planning to translate one lesson in the first semester of 2020 and I could use it. But feel free to experiment with this tool as well in parallel!

[2019-12-04 18:10] jenniferisasi commented on #1571
I watched their video and was wondering that @mdlincoln, it didn't look to me like the system we use in the website/jekyll folder.

For what you [I see @arojascastro too] suggest, I see it useful to do a review on EN | ES versions (in my case) but I would personally not use it to do the translation of a lesson itself - that would mean there is a ticket open while in-progress but as of now we only

[2019-12-04 18:10] mdlincoln commented on #1571
Actually, because this involves a github integration directly onto our repositories, we really should pick just 1 lesson to start with.

[2019-12-04 18:14] mdlincoln commented on #1571
But, as @jenniferisasi notes, only if you think it'd actually be usefuul to try out. There's no reason we have to use it.

[2019-12-04 18:18] #1181 closed, assigned to svmelton, JMParr

[2019-12-04 20:07] arojascastro commented on #1571
I did not watch any video or read the documentation, so I do not know if it *is* really useful! Sorry!

[2019-12-04 21:44] mdlincoln commented on #1571
Well hey, maybe I'll try setting up a little demo in the ph-submissions repo on some sample lessons (I'll make new temporary directories so it won't interfere with actual ongoing lessons) and you call can take a look before we try using it for a "real" lesson.

[2019-12-04 21:56] mdlincoln commented on #1460
Hey, so I was getting build errors and it turns out that you've accidentally created a new file with a misspelling: https://github.com/programminghistorian/jekyll/blob/gh-pages/es/lecciones/contrar-frecuencias.md while doing the updates for python3 - please see if you can fix this.

[2019-12-04 21:58] mdlincoln commented on #1460
Hey it looks like a new, incorrectly-named file was made:

https://github.com/programminghistorian/jekyll/blob/gh-pages/es/lecciones/contrar-frecuencias.md

Please make sure the changes are properly incorporated into the correct file:

https://github.com/programminghistorian/jekyll/blob/gh-pages/es/lecciones/contar-frecuencias.md

and then delete the misspelled one

[2019-12-05 10:35] acrymble opened #1576 "Victor Retirement and Offboarding"
This is the checklist for offboarding members of the  project who are stepping down. In  this  case, @vgayolrs :

- [x] Remove Google Groups access (@acrymble)
- [ ] Remove Google Analytics access (@acrymble)
- [ ] Remove Github Jekyll access (@mdlincoln)
- [x] Remove from ProgHist Ltd register of members (@drjwbaker) (not applicable)
- [ ] Remove Twitter access (@jenniferisasi)
- [ ] Change team:

[2019-12-05 15:25] vgayolrs commented on #1576
???

[2019-12-05 17:11] drjwbaker commented on #1539
I worry that having multiple Patreon accounts (which would be required for this) would be admin heavy.

[2019-12-05 18:41] rivaquiroga commented on #1576
@vgayolrs, @acrymble has been trying to contact you in his role as Team Development Manager. Did you manage to check his emails? We haven't heard from you in a while.

[2019-12-05 18:57] guanbuc commented on #407
doenst work

[2019-12-05 19:58] svmelton commented on #407
@guanbuc could you provide a bit more information about what isn't working for you?

[2019-12-05 21:57] acrymble commented on #1576
Yes @vgayolrs please get in touch if you think there's been miscommunication. We tried to contact you many times through private channels.

[2019-12-05 22:06] acrymble commented on #1539
We could contact them and ask them if we can have 3 pages linking to the same account. Maybe  nobody has ever asked before. It's mostly solo artists that use this site.

[2019-12-06 09:53] acrymble commented on #1460
THanks @mdlincoln I've submitted a pull request to fix this.

[2019-12-06 14:28] amsichani commented on #1570
Zenodo also came up as a solution on the [Working with batches of PDF files](https://github.com/programminghistorian/ph-submissions/issues/258) lesson  - its worth keeping an eye there.

[2019-12-06 16:22] drjwbaker commented on #1539
Do you want to ask?

[2019-12-06 16:23] drjwbaker commented on #1539
Note, their FAQ suggests they've been asked about this and default people to setting up multiple accounts https://support.patreon.com/hc/en-us/articles/360028555212-Can-I-have-multiple-accounts-

[2019-12-06 16:41] drjwbaker opened #1579 "ProgHist Ltd Board of Directors Meeting 12 December 2019"
### ProgHist Ltd Board of Directors Meeting 12 December 2019

**Time: 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET**

Chair: @amsichani (in place of @acrymble)
Secretary: @drjwbaker
Members: @amsichani @spapastamkou @drjwbaker
Apologies: @acrymble @svmelton @rivaquiroga
Minutes of the last meeting: [2019-10-03_ProgHistLtd-BoD.docx](https://github.com/programminghist

[2019-12-06 16:48] spapastamkou commented on #1579
@drjwbaker November?

[2019-12-06 16:49] svmelton commented on #1579
My apologies, all—I'll be in another meeting at this time.

[2019-12-06 16:50] drjwbaker commented on #1579
Sorry, brain fade. December.

[2019-12-06 16:52] spapastamkou commented on #1579
I was only afraid I had missed something bcz of my brain:-) I'll be there

[2019-12-06 17:10] JoshuaGOB commented on #1570
﻿
I really like that text and the strategy to have redundancy in Zenodo. My IR runs as part of the entire system of state universities but we were just informed that due to funding issues they are exploring subscription and third-party hosting solutions. It’s not clear what the effects of that will be in the long run.

I’m also curious, @rivaquiroga, if our team should be contributing to repos lik

[2019-12-06 17:22] arojascastro commented on #1579
Should I attend?

[2019-12-06 17:41] drjwbaker commented on #1579
@arojascastro Not this one. We agreed that that Managing Editors would represent each publication on the Board of Directors ([2019-10-03_ProgHistLtd-BoD.docx](https://github.com/programminghistorian/jekyll/files/3933111/2019-10-03_ProgHistLtd-BoD.docx)). As a Member of ProgHist Ltd, you get to vote at the Annual General Meeting https://github.com/programminghistorian/jekyll/issues/1438#issuecommen

[2019-12-06 17:41] drjwbaker commented on #1579
Do you want to send a member of the EN team in your place? Our Articles of Association allow for it.

[2019-12-06 17:43] arojascastro commented on #1579
Oki doki! Just to confirm if I have to apologize or not

[2019-12-07 08:33] acrymble commented on #1576
Let's put this process on pause for a week while we wait to hear from @vgayolrs. As it seems he may not have been receiving emails.

[2019-12-07 08:36] acrymble opened #1581 "Project Team page - foregrounding 'work' vs 'volunteer' labour"
This is a suggestion for discussion.

We have a number of team members who are paid through their employer and given some time to work on Programming Historian. We also have a number who do not have this arrangement in place. In order to A) encourage employers to do this, and B) to highlight the different pressures the team face, I propose adding a snippet on the Project Pages recognising this "wo

[2019-12-07 08:47] acrymble opened #1582 "Clarifying Process for stepping down / being stepped down"
In the interest of transparency and fairness, I want to revise the wiki page on "[Privileges and Responsibilities of Membership](https://github.com/programminghistorian/jekyll/wiki/Privileges-and-Responsibilities-of-Membership)" and "[Checklist for Sabbaticals](https://github.com/programminghistorian/jekyll/wiki/Checklist-for-Sabbaticals)" in light of the logistics of managing these processes.

1)

[2019-12-07 08:54] drjwbaker commented on #1581
Thanks for starting this conversation Adam. I'm broadly supportive of acknowledging in-kind where we think it exists. But I also think we need to be subtle here and not create either/or binaries. In my case, I have some freedom over my work programme and I choose to spend 'work' time on PH and this is broadly supported, but it isn't in my official work allocation (like it may be for some of the te

[2019-12-07 09:05] acrymble commented on #1581
Alternative suggestion: A tag (not sure what, paid, work, something) that uses the 'role' system to highlight who is paid either directly, or has the flexibility in their job to work on PH activities?

[2019-12-07 09:11] drjwbaker commented on #1581
I prefere that. Though also not sure what to call it. Also reduces translation burden.

[2019-12-07 09:21] acrymble commented on #1554
I think the actionable items here are taken care of. The longer-term timeline hasn't met with any resistance so I'll assume it's ok to implement in the coming months.

#1563 will take care of the banners suggestion.

[2019-12-07 09:21] #1554 closed, assigned to acrymble

[2019-12-07 09:25] acrymble commented on #1489
@drjwbaker if you want help with this process at all, just let us know.

[2019-12-07 09:26] drjwbaker commented on #1489
Ah, I'd been meaning to say: applications are in, an internal panel will shortlist in Wednesday (@amsichani, me, and a neutral colleague from Sussex library), and then we hope to interview before Christmas.

[2019-12-07 09:27] drjwbaker commented on #1489
And we have some excellent applicants.

[2019-12-07 09:27] acrymble commented on #1489
Can't wait to work with them.

[2019-12-07 14:53] acrymble opened #1583 "Submission bot autoreply"
Having just completed a review for another journal and receiving an autoreply email, I wondered if  there might be a way for us to have something similar to make it easier to edit lessons and keep authors/reviewers informed of what will happen next.

There appear to be a number of github bots you can install that will autoreply to tickets if certain trigger words appear, for exmaple. Is this somet

[2019-12-07 15:00] acrymble commented on #1539
We can use the blog feature to create a non-ideal workaround that mimics the front page as much as possible and direct linguistic groups of readers appropriately to the relevant blog post. It's not perfect but it should be a workaround

<img width="1180" alt="Screenshot 2019-12-07 at 14 58 49" src="https://user-images.githubusercontent.com/646647/70376590-3222ec80-1902-11ea-87ce-06379980ee0a.png">

[2019-12-07 17:32] jenniferisasi commented on #1489
Thanks @drjwbaker for keeping us posted, and @amandavisconti for participating in the search committee/panel. Looking forward to the next update.

[2019-12-08 18:46] svmelton commented on #1579
That would be great! Is anyone else from @programminghistorian/english-team available to attend at that time?

[2019-12-08 20:07] rivaquiroga commented on #1579
Sorry, I won't be able to attend this time. I'm teaching on Thursdays morning. Does anyone from the @programminghistorian/spanish-team want to attend to represent the team?

[2019-12-08 21:41] jenniferisasi commented on #1579
Unfortunately, I cannot represent the ES team this time as I’ll be attending a DH institute.

[2019-12-09 10:53] drjwbaker commented on #1539
Huh. Good hack idea.

[2019-12-09 11:06] acrymble commented on #1539
I will try this (and publish it) with the Spanish data. And we can look and decide if we're happy. If so we can close this until a better solution is available.

[2019-12-09 11:12] #1539 closed, assigned to nobody

[2019-12-09 12:31] acrymble commented on #1539
It isn't as pretty, but here it is: https://www.patreon.com/posts/tiers-en-espanol-32213677

[2019-12-09 14:28] mdlincoln commented on #1570
@walshbr is this a thing for the wiki, or for the editor guidelines? I'm thinking the latter, since it's about lesson production... could you start a PR for that?

[2019-12-09 14:29] drjwbaker commented on #1570
I agree.

[2019-12-09 14:29] mdlincoln commented on #1018
@ZoeLeBlanc hello, could you put up a progress report by the end of the week? We should try and put a deadline on getting a test branch up so we can start to evaluate it.

[2019-12-09 14:36] mdlincoln commented on #1563
@acrymble What's the code we need to embed the Patron button?

[2019-12-09 14:41] acrymble commented on #1563
<a href="https://www.patreon.com/bePatron?u=11816614" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>

[2019-12-09 14:48] ZoeLeBlanc commented on #1018
sure thing! I'll try to have it up by Thursday and sorry for the delay!

[2019-12-09 15:07] walshbr commented on #1570
I was trying to give it until today so that folks could render alternative opinions if they had thoughts. Seeing none, sure thing. I had thought wiki but since you're the tech boss I can do a PR for the lesson guidelines. Will add it to my task list.

[2019-12-09 15:19] mdlincoln commented on #1563
hmm. I'm very unhappy with the amount of javascript they want to inject into our site - it's truly enormous, and will slow down load times for folks on slow connections, and perhaps also add a lot of tracking cookies to our visitors' computers.

I can't access their technical documentation without having an account, but if they have an option for displaying a simple image without using their javas

[2019-12-09 15:35] svmelton opened #1587 "Error in Exploring and Analyzing Network Data with Python"
A reader reported the following error via email:
`for n in G.nodes(): # Loop through every node, in our data "n" will be the name of the person
    print(n, G.node[n]['birth_year']) # Access every node by its name, and then by the attribute "birth_year"
`

Should be:
`for n in G.nodes(): # Loop through every node, in our data "n" will be the name of the person
    print(n, G.nodes[n]['birth_year']

[2019-12-09 15:52] walshbr commented on #1587
Hmm…wonder if the API for networkx might have changed, as that syntax shows up a few times in the lesson - "G.node[" shows up several times times. And all the code blocks definitely ran when I was editing the thing back when it live. Let me know if you'd rather me do a PR, @svmelton. Or happy to just review yours - all the same to me. Thanks! Good catch.

[2019-12-09 15:55] svmelton commented on #1587
If you've got the time to do a PR, that would be great!

[2019-12-09 15:56] walshbr commented on #1587
Actually @svmelton - it looks like updating that syntax exposed another issue that is indeed from ways that API changed in a newer version in the last couple years. So I think it won't be as easy as just updating that one piece of syntax.

@jrladd - can you take a look at this and let me know what you'd like to do? One option might be to freeze the version number on the lesson, or we could update

[2019-12-09 16:15] svmelton commented on #1587
@walshbr @jrladd I had to run the `pip3 install python-louvain --upgrade` command and install numpy to get that section to work.

I am running into issues on the eigenvector section, however—I'm getting a keyerror on eigenvector.

[2019-12-09 16:24] acrymble commented on #1563
we can just screenshot and trim the button and add it ourselves.

[2019-12-09 16:37] jrladd commented on #1587
Thanks @svmelton @walshbr for looking into this. These difficulties are definitely because NetworkX is changing all the time. I'd prefer to update rather than leave it with an old version, but we should probably note the version this time in case this happens again. It's unlikely we'll be able to keep up with NetworkX forever!

For the nodes issue, updating to `G.nodes[n]` in all the places it occ

[2019-12-09 18:17] svmelton commented on #1587
@jrladd @walshbr The error is coming up in `class0_eigenvector = {n:G.node[n]['eigenvector'] for n in class0}`

The error is:
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "<stdin>", line 1, in <dictcomp>
KeyError: 'eigenvector'`

[2019-12-09 18:59] walshbr commented on #1587
That all seems fine to me @jrladd. And it seems like the vast bulk of the intellectual work of the lesson would remain the same, so as long as @svmelton agrees I don't think we would need to retire the old lesson or peer review a new one. I think we could just focus on updating this in the next few weeks. That sound alright to you @svmelton?

I'll let @jrladd take a look at the error!

[2019-12-09 19:03] svmelton commented on #1587
Sounds good @walshbr!

[2019-12-09 19:06] jrladd commented on #1587
Thanks, both! The error may be related to `python-louvain` somehow (maybe the data structure for nodes in classes doesn't include attributes anymore). Since I'll be adjusting that section to work with the new modularity function, I can make sure to avoid the error in the new version. (So long as it's okay to wait a few weeks for a fix.)

[2019-12-10 10:13] acrymble commented on #1461
This business plan has been sent to all team members for comment.

I'd like to add it to the January Project Team meeting.

[2019-12-10 10:38] amsichani opened #1589 "January 2020 Skype call -Friday 31st January- Project Team Agenda"
Friday 31st January 2020 . Time is 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET. @amsichani  will be facilitating the call.

Working agenda follows. Please add by commenting or editing this comment directly.

All team leaders please post a small report on your team's activities closer that day.

- [x] Current Research Projects or Submissions Pending about the Progra

[2019-12-10 14:00] walshbr commented on #1587
@jrladd - if networkx changes that much, I wonder if it'd be worth giving a requirements.txt file and instructions for how to install pip from that? Or otherwise giving instructions in the installation section for how to install the specific version of networkx so that it's sort of frozen in time.

[2019-12-10 15:19] mdlincoln opened #1590 "don't double-import content for print version"
So in preparing #1585 I was taking a look at our base.html template and realized our current solution for "print versions" is importing the `{{content}}` of pages twice - this is nearly doubling our build time, because Jekyll pre-v4 is very simplistic about how it calculates imports.

https://github.com/programminghistorian/jekyll/blob/df6ce4eb8296d744ef45bbb1906b0ab161a39c23/_layouts/base.html#L1

[2019-12-10 16:01] jenniferisasi commented on #1576
Oh, if @mdlincoln did the

Would @vgayolrs receive your comment from three days ago @acrymble?

[2019-12-10 16:02] acrymble commented on #1576
If he has his alerts set up, it shouldn't make a difference. If he isn't checking his email, then no.

[2019-12-10 16:32] jrladd commented on #1587
@walshbr Yes, I think especially if we move away from the `python-louvain` module and only have one requirement, it'll be easiest just to update the instructions to something like:

[code]

Then readers should get the same version every time. I'll check to make sure this is the right syntax and make the change alongside the others we discussed.

[2019-12-10 17:31] walshbr commented on #1587
That sounds like a good solution to me @jrladd. I'll stick an alert on the top of the lesson for now that the newer version of networkx will raise errors. Are you comfortable submitting a PR to this repository with the changes when you've got them?

[2019-12-10 17:38] jrladd commented on #1587
@walshbr Yep! I may not get it done before break begins at the end of this week, but I'll have it sometime in early Jan. at the latest.

[2019-12-10 19:46] jenniferisasi commented on #1576
Ok! Wanted to make sure it works that way. I'm sending you an email too @acrymble

[2019-12-10 20:53] spapastamkou opened #1592 "Submission Humanistica 2020 Conference"
A small note to say that @fdlaramee @grandjeanmartin and I are working on a proposal we'll submit in response to the Humanistica's [call](https://humanistica2020.sciencesconf.org/) for its first DH conference that will take place in May in Bordeaux, France. The current submission will be for a presentation of the PH FR. The deadline is on 15 January, we'll close the ticket after we submit.

We'll

[2019-12-10 20:57] spapastamkou commented on #1469
I note here that Translation editions / Comprendre les expressions régulières should either pass to the next 3M plan or will delay closing this ticket, as the translator let me know that she will be able to deliver the revised (and final version) of the text, following the reviews, in January.

[2019-12-10 21:04] drjwbaker opened #1593 "Spending prioritisation"
All - we have an issue with a free service (Netlify) changing terms of service in such a way that means we might need to start paying. The feeling that this scenario might arise at some point is one the reasons why we set up ProgHist Ltd: to "Protect The Programming Historian from changes to service agreements of those ‘free’ services upon which we rely." https://github.com/programminghistorian/je

[2019-12-11 07:04] spapastamkou commented on #1593
Thank you @drjwbaker for this. In step 3, adopting or not the recommendations is based on lazy consensus?

[2019-12-11 08:59] drjwbaker commented on #1593
That sounds sensible to me (again, avoids adding an extra process).

[2019-12-11 09:00] drjwbaker commented on #1593
Note, I missed a step:

6) Board of Directors to review any ongoing spend at each Directors meeting.

[2019-12-11 09:42] acrymble commented on #1593
I think we need to be careful about Patreon. Those people are signed up to support specific activities around copyediting and revising old lessons. We don't want to take their contributions for granted.

I think we need to open a separate conversation about diversifying our small-cost income streams. My view is that we currently have £0 for covering Netlify, but possibly have a need to change that

[2019-12-11 09:45] drjwbaker commented on #1593
From https://www.patreon.com/theprogramminghistorian:

This includes infrastructure.

[2019-12-11 09:46] acrymble commented on #1576
We've got confirmation of an email problem, so we're awaiting to hear from Victor as he works to fix this.

[2019-12-11 09:46] drjwbaker commented on #1593
I'm up for simple :)

[2019-12-11 13:30] mdlincoln commented on #1579
@drjwbaker I believe I am on the board of directors as well...? or was it another group for which @acrymble sent a formal invite to me?

[2019-12-11 16:42] drjwbaker commented on #1579
You were invited to be a Member (so, attend the Annual General Meeting). Board is listed here https://beta.companieshouse.gov.uk/company/12192946/officers (Project Dev Team + Managing Editors).

[2019-12-11 18:28] mdlincoln commented on #1579
ohhhhh gotcha - thank you. Still trying to wrap my head around the various org structures and names.

[2019-12-12 08:42] drjwbaker commented on #1579
Yeah. I know. A lot of change. I'm mindful of this.

[2019-12-12 10:51] arojascastro commented on #1579
Yes, I share the same feeling! Why is not this available on our website? Where is our transparency and open access and kind of "democratic" flat structure gone? I respect you a lot, but since we became a "Ltd" I do not understand the rules that govern us -- partly because they are British rules, and I am sorry I am not British and I only lived five months in London some years ago.

Said this, than

[2019-12-12 11:29] acrymble commented on #1579
We can definitely add this to the wiki. Don’t overestimate the power of
this board. It pretty much just files paperwork and tries to raise money to
cover our expenses

On Thu, 12 Dec 2019 at 10:51, Antonio Rojas Castro <notifications@github.com>
wrote:

--

Adam Crymble
Chair, ProgHist Ltd. ProgHist Ltd is a Not for Profit Company Limited by
Guarantee, Registered in England, Company Number 1219294

[2019-12-12 11:32] drjwbaker commented on #1579
Agreed with @acrymble: the Ltd is paperwork not power. Also we link to the list of Directors at https://programminghistorian.org/en/about#funding--ownership. Fixing the wiki now.

[2019-12-12 11:32] amsichani commented on #1579
I am going to step in - as a non-British living in the UK for 9 years now (with several central/SE EU breaks). There is a lot of bureaucracy and protocol and rules in setting a Ltd in the UK, but I can assure you that the process is way more transparent and straightforward  that anywhere else (esp in SE Europe where these things are always too foggy and risky, tax-wise).
Given this and having in m

[2019-12-12 11:46] drjwbaker commented on #1579
I've updated the wiki with a page summarising the scope of ProgHist Ltd, who does what, and basic responsibilities https://github.com/programminghistorian/jekyll/wiki/ProgHist-Ltd

[2019-12-12 11:52] drjwbaker commented on #1543
@acrymble did this not get discussed at https://github.com/programminghistorian/jekyll/issues/1538?

[2019-12-12 11:55] drjwbaker commented on #1579
@arojascastro if you are concerned about this please contribute to https://github.com/programminghistorian/jekyll/issues/1543 As we have moved away from a flat structure by creating [sub-teams](https://github.com/programminghistorian/jekyll/wiki#project-structure), we are proposing to give sub-teams reasonable powers to do things without consulting the rest of the project team.

[2019-12-12 15:06] ZoeLeBlanc commented on #1018
Hey everyone! Really sorry but giving a talk this week + job interviews means I'm just a bit behind. Any chance I can get this in by the end of next week instead @mdlincoln ?

[2019-12-12 15:58] drjwbaker opened #1594 "ProgHist Ltd Board of Directors Meeting 13 February 2020"
## ProgHist Ltd Board of Directors Meeting 13 February 2020

**Time: 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET**

Chair: @acrymble
Secretary: @drjwbaker
Members: @amsichani @spapastamkou @drjwbaker @svmelton @rivaquiroga
Minutes of the last meeting: these are not posted publicly. Please see your email from @drjwbaker 12 December 2019.

### Agenda

1. Apologies
2.

[2019-12-12 15:58] drjwbaker commented on #1579
Meeting has taken place, actions have been allocated, and minutes have been circulated to all on the Register of Members. Next meeting is 13 February 2020 https://github.com/programminghistorian/jekyll/issues/1594

[2019-12-12 15:58] #1579 closed, assigned to amsichani

[2019-12-12 19:23] mdlincoln commented on #1018
@ZoeLeBlanc sure, if you think that's going to be do-able on your part. Best to figure out a deadline that makes sense rather than an arbitrary date. Let me know.

[2019-12-12 19:25] mdlincoln commented on #1018
Also flagging #1590 here as well, since the full text index generation will also impact build times - we may be able to do recover some build time by fixing the bad way we've accidentally implemented print styling for the site.

[2019-12-12 20:08] mdlincoln commented on #1590
FWIW when tried removing that second `{{ content }}` import, that cut the build time by around 40% on my laptop 😱

[2019-12-13 10:16] acrymble commented on #1568
So far I've had interest from the following people

- Anandi Silva Knuppel
- Emma Battell Lowman (who will conduct our trial)

[2019-12-13 10:20] acrymble commented on #1581
Maybe:

Supported - This member's time on the project is either directly or indirectly supported by their employer.
Voluntary - This member's time on the project is wholly voluntary.

?

[2019-12-13 10:26] acrymble commented on #1543
Sorry @drjwbaker it looks like we missed it somehow.

[2019-12-13 10:40] drjwbaker commented on #1581
I like 'Supported'. Vague enough to fit with my status.

[2019-12-13 13:34] mdlincoln commented on #1581
I'll second @drjwbaker - while CMU is happy for me to spend time on the project, it's from my ~20% time allocated to research projects of my choosing, so work on PH happens in place of other projects I could be interested in working on. Very different relationship than if PH were a paying client that was contracting my services.

[2019-12-13 13:34] mdlincoln commented on #1581
I'd go so far as to make the label "institutionally supported"

[2019-12-13 14:09] mdlincoln commented on #1571
Hi @programminghistorian/french-team and @programminghistorian/spanish-team I'm trying to assess the number of hours I spend on PH stuff, and this is probably going to be beyond my capacity to work on right now. If there is strong interest from your teams, we can see if another @programminghistorian/technical-team member is able to take point - otherwise I may put this issue into the "new features

[2019-12-13 14:10] walshbr commented on #1581
Same - PH is drawing time from my 20% R&D time that I can use for research of my choosing at UVA. So the suggestions from @mdlincoln and @drjwbaker also fit my situation.

[2019-12-13 14:12] arojascastro commented on #1571
Thanks @mdlincoln - I would say is not a priority or requirement, but desirable... :)

[2019-12-13 14:14] drjwbaker commented on #1581
That would work for me. I have, after all, been able to draw on internal funds, even if my time commitment is not fixed/allocated.

[2019-12-13 14:22] JoshuaGOB commented on #1571
I agree with @arojascastro. This would be a nice feature but probably more for some of the in-house translations than for submitted ones.

I’d love to dig in at a later point since I do use TM and MT software for work and providing those glossaries might help on longer lessons.

[2019-12-13 14:27] drjwbaker commented on #1489
Update: we've shortlisted and will interview on Thursday 19 December. So with luck, we'll have someone in place early next year.

[2019-12-13 14:33] mdlincoln commented on #1571
OK, let me raise this with the rest of the tech team and see if someone else might be able to do some experimentation in the next month or two. @JoshuaGOB you raise a good point about this being useful for e.g. keeping the editor guidelines in sync, rather than for brand new translations. Perhaps we can look into that as the first example for experimentation.

[2019-12-13 14:36] mdlincoln commented on #1370
I've talked some more with CMU colleagues and there is interest in continuing institutional support of the project in many ways, one perhaps being DOIs from our library. I will be able to follow up on this after the winter break.

[2019-12-13 15:05] jenniferisasi commented on #1581
I like the wording too. I have been using part of my 20% research time provided by default by my postdoctoral fellowship and I would like to recognize that support. It will change within the next few months, but I am going to try my best to negotiate time for PH in my next position.

[2019-12-16 16:03] drjwbaker commented on #1589
I should be there.

[2019-12-16 16:04] drjwbaker commented on #1589
Can we bump #1491 / #1543 to the top so we definitely get to it this time?

[2019-12-21 11:04] drjwbaker opened #1598 "Research Leave (Feb-June 2020) and proposal to step down as EN Editor"
All. I have Research Leave coming up (1 Feb - 30 June 2020) which will impact on my work for the Programming Historian. Whilst I won't be disappearing into archives and deleting all email (I still have funded research projects to run and contribute to, so 'leave' isn't really going to happen in my case!), research leave does mean I am required by my Department to scale back on my admin roles in or

[2019-12-28 16:55] mdlincoln opened #1600 "New PR template to help out editors?"
Right now we have a [PR template](https://github.com/programminghistorian/jekyll/blob/gh-pages/.github/PULL_REQUEST_TEMPLATE.md) that is addressed to external users who occasionally try to submit PRs directly for our lessons. It's the text that is automatically put into any new pull request.

I'm wondering if it would be more useful to rewrite this template so that it's useful for _us team members

[2019-12-28 17:32] jenniferisasi commented on #1600
I think it makes sense and could be really useful. I would maybe add a note at the end of who to contact in case you get stuck with errors?

[2019-12-29 23:40] svmelton commented on #1598
Hi @drjwbaker—thanks for bringing this up, and congrats on the research leave! I'm in strong support of recruiting new EN editors; we're in need of some more editorial capacity.

[2019-12-30 09:08] acrymble commented on #1598
@svmelton let's set a meeting to discuss recruitment for EN. Email me when you're back and we can set a date.

[2019-12-31 01:39] vgayolrs commented on #1576
Hi. I've email @rivaquiroga and she assigned me https://github.com/programminghistorian/ph-submissions/issues/163 to complete the translation edition. However, I do not have permission to modify the translation. can you help, @mdlincoln ?

[2019-12-31 01:40] rivaquiroga commented on #1576
@mdlincoln, can you add again @vgayolrs to the team? He is back :rocket: He was trying to work in one of the tickets, but he can no longer edit the repositories.

[2019-12-31 09:46] drjwbaker commented on #1598
Thanks for your kindness folks.

[2019-12-31 09:58] drjwbaker commented on #1600
Great idea @mdlincoln. I suggest that we should point to the note on the wiki about how to request translation https://github.com/programminghistorian/jekyll/wiki/Requesting-Translation-Guidelines (agreed at #1458)

[2019-12-31 14:46] mdlincoln commented on #1600
Agreed @drjwbaker I've added that to the PR. I have also updated the wiki to include a few pointers on certain Travis errors that have hard-to-understand error messages (they're ones written by Jekyll so I don't have control over what they say).

[2019-12-31 15:14] jenniferisasi commented on #1576
@rivaquiroga @mdlincoln I just invited @vgayolrs back to the ph-submissions repo.

[2019-12-31 15:33] mdlincoln opened #1604 "New netlify builds show up as "completed" but not "successful""
Just flagging for the team that I have seen the new Netlify build PR checks are showing up as "yellow" or incomplete when they really are complete. This is preventing editors from merging in approved PRs. I've put in a [help request to Netlify about this](https://community.netlify.com/t/github-actions-dont-report-successful/6739) and may try turning them on and off again so please just bear with m

[2019-12-31 16:27] jenniferisasi commented on #1604
Thanks @mdlincoln! I saw that on my PR for the newsletter and I had to stop myself from writing to you because vacation time.

[2019-12-31 18:37] #1538 closed, assigned to amsichani

[2020-01-01 20:19] mdlincoln commented on #1576
done! sorry for the delay. Are there any other tasks that need to be done before we can close this?

[2020-01-02 09:43] acrymble commented on #1576
Yes I just need @vgayolrs to send me his current Google email so I can add it to the google group.

[2020-01-03 09:05] drjwbaker commented on #1604
@mdlincoln: thanks for dealing with this during our close period. I hope this isn't related to migrating the account to the shared gmail..

[2020-01-03 13:45] mdlincoln commented on #1604
Still waiting on more advice from the Netlify folks. Please continue to follow the usual PR workflow though, and just ping me (or @drjwbaker since he can do this, too) to force merge the branch when ready.

[2020-01-03 13:56] drjwbaker commented on #1604
**I WILL ATTEMPT NOT TO BREAK THE SITE**

[2020-01-03 14:54] acrymble commented on #1576
I've heard from @vgayolrs and he's sent me his email address. This is now closed. Thanks everyone.

[2020-01-03 14:54] #1576 closed, assigned to acrymble

[2020-01-03 15:52] acrymble commented on #1598
Thanks @drjwbaker I've been in touch with @svmelton so we will take this forward.

[2020-01-03 15:52] #1598 closed, assigned to nobody

[2020-01-03 15:53] acrymble commented on #1581
I'll move forward with this, including collecting the relevant information from all current team members.

[2020-01-03 16:03] acrymble commented on #1460
these last two lessons have been fixed, but I missed closing this. I believe we are now officially Python 3 compliant!

[2020-01-03 16:03] #1460 closed, assigned to acrymble

[2020-01-03 16:08] drjwbaker commented on #1460
Great job all involved. I've been watching from afar and can see this has been a big chunk of work. Chapeau.

[2020-01-03 16:12] acrymble commented on #1581
Members by category (Institutionally Supported & Volunteer)

Please help me fill this in.

- @mariajoafana
- @drjwbaker - Institutionally supported
- @acrymble - volunteer
- @vgayolrs - volunteer
- @grandjeanmartin
- @jenniferisasi - Institutionally supported
- @fdlaramee - Institutionally supported
- @ZoeLeBlanc
- @mdlincoln  - Institutionally supported
- @svmelton - volunteer
- @jamotilla
- @Jos

[2020-01-03 16:49] JMParr commented on #1581
I'd be a volunteer

[2020-01-04 11:24] acrymble opened #1610 "Copyediting Trial"
I have an experienced copyeditor who can copyedit the next English lesson, and also to provide feedback on the styleguide, and our copyediting workflows, to make sure it's sufficient and efficient. @svmelton can you let me know when we've got a lesson that we can put through copyediting?

[2020-01-04 11:38] acrymble commented on #1581
Proposed Language:

EN

Institutionally Supported - This member's time on the project is either directly or indirectly supported by their employer.
Voluntary - This member's time on the project is wholly voluntary.

---
ES: [@jenniferisasi 's edits]

Patrocinado por su institución - El tiempo que este miembro dedica al proyecto está directa o indirectamente patrocinado por su institución
Voluntari

[2020-01-04 16:57] jenniferisasi commented on #1581
I am not entirely happy with "Patrocinado por su institución" so @arojascastro @JoshuaGOB @rivaquiroga do you like it or prefer "Apoyado por su institución" o "Apoyado institucionalmente"?

[2020-01-04 20:10] fdlaramee commented on #1581
FR:

Soutenu institutionnellement - Le temps que ce membre consacre au projet est directement ou indirectement financé par son employeur.
Bénévole - Ce membre contribue son temps sur une base entièrement bénévole.

[2020-01-05 16:36] arojascastro commented on #1581
*Apoyado* sounds better in Spanish... *patrocinado* is a little too commercial or sounds business to me.

[2020-01-05 16:46] svmelton commented on #1610
Hi @acrymble—we've actually got a lesson that could be put through copyediting now: https://github.com/programminghistorian/ph-submissions/issues/258

[2020-01-05 16:52] acrymble commented on #1610
Great. I'll get a quote and speak to @drjwbaker for approval for the test.

[2020-01-06 08:08] acrymble commented on #1581
Once I hear from the following people I can finish the pull request:

@arojascastro - volunteer
@amsichani - volunteer
@jamotilla - volunteer
@ZoeLeBlanc
@mariajoafana

[2020-01-06 08:30] drjwbaker commented on #1610
If by 'approval' you mean financial, it is within scope of what we'd said we'd do with the funds, so no problem there. The question is if we have the funds. Email me.

[2020-01-06 09:05] arojascastro commented on #1581
volunteer! Thanks.

[2020-01-06 12:16] amsichani commented on #1581
volunteer - thanks!

[2020-01-06 14:56] #1600 closed, assigned to mdlincoln

[2020-01-07 02:19] svmelton opened #1611 "Error in Downloading Web Pages in Python"
A reader reports that there's an error in this function:
[code]

He notes that this will fix the error:
`f = open('obo-t17800628-33.html', 'wb')`

[2020-01-07 07:24] acrymble commented on #1611
Apparently this is a Windows thing only https://stackoverflow.com/questions/2665866/what-does-wb-mean-in-this-code-using-python

[2020-01-07 12:29] mdlincoln commented on #1611
Correct, it has to do with how Windows uses line endings, which is why this lesson might work just fine on mac/linux but would cause problems on Windows.

[2020-01-07 12:34] mdlincoln commented on #1590
Should use CSS media classes to handle this: https://getbootstrap.com/docs/4.4/utilities/display/#display-in-print

[2020-01-07 15:35] acrymble commented on #1583
I'm going to close this, as no one has expressed any interest. So we probably don't need it.

[2020-01-07 15:35] #1583 closed, assigned to nobody

[2020-01-08 11:34] acrymble commented on #1581
I will wait until the end of the week to hear from @jamotilla @ZoeLeBlanc and @mariajoafana and then I will post this as is.

[2020-01-08 11:38] acrymble commented on #1610
@svmelton can you please manage the expectations of the authors while we set this up? I will let you know a timeline asap

[2020-01-08 11:40] acrymble commented on #1611
@mdlincoln do you know if it will work fine for linux and mac if we add wd to all? Or is it something we'll have to keep separate?

[2020-01-08 13:39] mdlincoln commented on #1611
it should work fine

[2020-01-08 14:24] mdlincoln commented on #1604
OMFG I figured out a solution (if not a total and complete understanding of the problem.) Documenting it here as well as on the support ticket I logged with Netlify:

When we add any kind of integration to our repo (like netlify, or Travis, or heroku or w/e) it can send "status checks" based on our commits. GitHub keeps a list of all the kinds of notifications it receives under the ["Branch protec

[2020-01-08 14:24] #1604 closed, assigned to mdlincoln

[2020-01-08 14:41] jamotilla commented on #1581
Hi, volunteer

thanks

[2020-01-08 14:44] mdlincoln opened #1613 "February 2020 Technical call - Monday February 17"
Time to schedule the @programminghistorian/technical-team Skype call for February. Time is 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET.

Day is Monday, February 17th.

## Agenda

- [x] #1525 / #1526  Progress reporting & duration for lesson sequences @amsichani
- [x] #1571 try out translation tool on ph-submissions? anyone interested?
~- [ ] #1018 Full text search

[2020-01-08 22:46] spapastamkou opened #1614 "Onboarding Checklist for FR New Editor: Maëlle"
This is an individual onboarding editor checklist for @MaelleAmand initially found [here](https://github.com/programminghistorian/jekyll/wiki/Onboarding-Checklist-for-New-Editors). Nous te souhaitons la bienvenue, Maëlle!

## Welcome

Welcome to the Programming Historian Editorial Board. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a

[2020-01-08 22:50] spapastamkou opened #1615 "Onboarding Checklist for FR New Editor: Marie-Christine"
This is an individual onboarding editor checklist for Marie-Christine Boucher (github username to come) initially found [here](https://github.com/programminghistorian/jekyll/wiki/Onboarding-Checklist-for-New-Editors). Nous te souhaitons la bienvenue, Marie-Christine!

## Welcome

Welcome to the Programming Historian Editorial Board. We're very pleased to have you on our team. We know that joining

[2020-01-09 08:31] acrymble commented on #1564
A reminder to @amsichani @jenniferisasi @JMParr @svmelton @spapastamkou and @rivaquiroga that you have pending actions still on this ticket before the next meeting in a few weeks

[2020-01-09 08:32] acrymble commented on #1443
@rivaquiroga I think this needs a new plan, yes?

[2020-01-09 11:36] rivaquiroga commented on #1443
Yes! We now need to find someone outside the team.

[2020-01-09 12:06] acrymble commented on #1443
would you like to approach people, or invite outside people to express interest?

[2020-01-09 13:27] grandjeanmartin commented on #1614
Bienvenue @MaelleAmand !

[2020-01-09 14:14] mdlincoln commented on #1614
Welcome @MaelleAmand!

[2020-01-09 16:31] amsichani commented on #1614
Bienvenue @MaelleAmand ! Looking forward to work with you !

[2020-01-09 19:10] mdlincoln opened #1616 "paginate blog"
Our blog page has never had pagination. It just lists every post for all time in one big page. This didn't matter much when we had a dozen posts but it's perhaps reaching an unweildy size right now, particularly because it asks users to load quite a lot of images in one request.

Jekyll has built-in pagination, I believe this should be a minor configuration change. Will set aside some time to asse

[2020-01-09 19:37] jenniferisasi commented on #1616
This would be perfect @mdlincoln, I was starting to worry about it.

[2020-01-09 21:55] jenniferisasi commented on #1614
I added @MaelleAmand on Twitter with the same namehandle. If that is incorrect, please let me know.

[2020-01-09 23:28] MaelleAmand commented on #1614
Merci à tous !!

Thank you so much for this warm welcome !!

I’ve read the to do list and will send you all you need tomorrow !

I wish you a very « programmy » new year.

Best wishes,
Maelle

[2020-01-10 05:08] JMParr commented on #1564
Hi, @acrymble - I will take care of these things before our next meeting. Thanks for the reminder.

[2020-01-10 15:53] #1616 closed, assigned to mdlincoln

[2020-01-10 19:40] MaelleAmand commented on #1589
I'll be there ! Here is my skype ID:
live:maelle.amand

[2020-01-10 22:02] spapastamkou commented on #1469
Habemus [FR kanban](https://github.com/programminghistorian/jekyll/projects/5) as per #1546

[2020-01-10 22:04] spapastamkou commented on #1546
All teams have now a kanban board each, so I think we are okay with this ticket.

[2020-01-10 22:04] #1546 closed, assigned to svmelton

[2020-01-10 22:11] grandjeanmartin commented on #1469
👍 Comment est-ce qu'on l'utilise et est-ce que ça se met à jour en fonction des issues, etc. ou est-ce que ça doit être actualisé ?

[2020-01-10 22:45] spapastamkou commented on #1469
Je suis en train d'explorer; pour l'instant j'ai activé l'automatisation seulement pour la colonne "Done" où tout ticket fermé (proposition et relecture) dans l'avenir ira dedans (sauf pour ceux qui étaient déjà fermés et que j'ai mis manuellement car peu nombreux encore). Mais jouez aussi avec @fdlaramee, si vous voulez, et si vous avez des idées, on peut revoir l'organisation ou l'automatisation

[2020-01-11 11:04] acrymble opened #1619 "Patreon suggested new topics"
Patreon supporters pledging $5+ per month have the option of suggesting a new lesson topic they'd like to see, which we'll post on the website. I wanted to open this ticket to make sure we follow through with that. I believe @drjwbaker agreed to do this, but if I'm remembering wrong let me know.

[2020-01-11 11:05] #1581 closed, assigned to acrymble

[2020-01-11 11:08] acrymble commented on #1582
I would like to put this on the agenda for our next meeting, with the aim of getting approval for these changes. #1589

[2020-01-11 11:09] acrymble commented on #1540
I think this is done?

[2020-01-11 11:09] #1540 closed, assigned to jenniferisasi

[2020-01-11 11:16] acrymble opened #1620 "In testing vs live features"
I want to start a discussion about the need to have one-language only testing capabilities for new features and new ideas. This is something I've personally found challenging the last few months because we've committed to translating or making everything available in all of our working languages. I agree that's an important commitment, but it's also important (especially for things like figuring o

[2020-01-11 11:23] drjwbaker commented on #1619
@amsichani Agreed to do this as Education Lead (though I can't find the ticket in which we agreed this right now..)

[2020-01-11 17:06] jenniferisasi commented on #1620
@acrymble, as much as I am also committed to our multilingual approach, I agree with you on this one. Maybe we can create a preliminary list of actions that could fall under this idea?

I believe we need the input of the @programminghistorian/technical-team to see whether featuring actions in only one language affects/doubles/simplifies their work; ie. if the banner is only tested in English first

[2020-01-12 09:28] spapastamkou commented on #1615
Memo:
Email with link of this ticket sent 8 January (short of a known gh account)
Email with further precisions sent 10 January 2020

[2020-01-12 09:30] spapastamkou commented on #1614
@amsichani : skype id live:maelle.amand

[2020-01-12 09:46] acrymble commented on #1610
Timeline update. I've been in contact and I've sent the quote to @drjwbaker to make sure we can afford to proceed. It's the weekend so I don't expect to hear from him today, but I wanted to keep @svmelton up to date.

[2020-01-12 09:49] acrymble commented on #1614
@MaelleAmand can you please let me know your Google enabled email address? Then I can add you to our mailing list. You can send it via @spapastamkou if you want to keep it private.

[2020-01-12 09:54] acrymble opened #1621 "Reordering Project Team page"
I'm happy to take on this task, but I wanted to get feedback first.

The project team page is a very long list. Thinking about how people might want to use this, I suspect it makes more sense to order it by publication, with a separate section for the non-editorial people. So four sections instead of one.

Eg:

English Publication
- person
- person
- person

Spanish Publication
- person
- person

[2020-01-12 10:06] acrymble opened #1622 "Advertising trial (consentual only)"
I know advertising isn't popular, but I wanted to raise it again as something I think we should test in a limited way. In particular, on lessons that receive more than 100,000 visitors per year, and for which we have the explicit permission of authors.

I think this has value for a couple of reason. Firstly, those few lessons (there are only 7) are obviously being used widely and not just by histo

[2020-01-12 15:51] mariechristineb commented on #1615
Hello everyone! I'm very glad to be joining the Programming Historian team!

Here are the requested informations (hope I'm posting in the right place):
- GitHub Username (@mdlincoln): mariechristineb
- Twitter handle: @marie_c_boucher
- Skype username (@amsichani): live:boucher_mc
- Gmail (@acrymble): mc.boucher.de@gmail.com

[2020-01-12 17:35] jenniferisasi commented on #1615
Thanks @mariechristineb, just added you to our Twitter account.

[2020-01-13 07:55] #1568 closed, assigned to acrymble

[2020-01-13 08:45] drjwbaker commented on #1620
Knowing the issue you have in mind https://github.com/programminghistorian/jekyll/pull/1585 I'm guessing you have in mind using a single language to test socio-technical things (e.g. do banners attract donors?) rather than purely technical issues (e.g. can we implement banners and why do they look like?). Right? (I suspect English is the defacto language of our technical dev anyway). If so, I'm ha

[2020-01-13 12:37] walshbr commented on #1620
I'm not as familiar with how @mdlincoln was planning to implement this, so I can't speak to how much extra work would be needed to make independent banners for each language that can be turned on separately.

[2020-01-13 13:45] mdlincoln commented on #1620
Firstly, this conflates a few different things, so I want to address the specific case first before talking about the more general ones.

I think it's a great idea for the different language teams to write their own messaging for much of our site content, rather than needing to do literal translations from one originating language.

**This assumes, however, that all teams generally agree on the ne

[2020-01-13 13:53] mdlincoln commented on #1621
Yeah, the team page could do with a bit of reordering. I'm not sure the language subdivisions make total sense though - there are PH Ltd people who are still in the language teams, yes? And I've stepped down really from the English editorial board, so where do I go?

Another feature to consider might be adding a small table of contents to the top of the page so folks know what they'll find if they

[2020-01-13 14:00] mdlincoln commented on #1622
I'd actually be ok with ads as long as:

1. you do get the permission of the authors
2. we integrate them with our strategy for getting donations. Display the ads along with donation banners etc.
    - FYI we don't have a way to hide ads for those users who are patreon donors, because we're just a static site
3. The ad providers are not planting tracking cookies. I see codefund has some vague prom

[2020-01-13 14:19] mdlincoln commented on #1587
Any progress on this?

[2020-01-13 14:42] acrymble commented on #1622
Thanks for those. I didn't think of 4. I will look into it and the other issues you raise.

[2020-01-13 14:51] acrymble commented on #1621
@mdlincoln yes some people may appear more than once in what I've proposed. I think that's ok. I see what we've become as a publisher that publishes 3 publications. I think that's how an outsider would understand us. I'm not sure everyone on the team sees it that way though. The groupings under what I've proposed would look like this (I think):

English
- Sarah Melton
- Zoe LeBlanc
- Anna Maria Si

[2020-01-13 14:52] acrymble commented on #1610
This is now with the copyeditor.

[2020-01-13 14:54] drjwbaker commented on #1620
@mdlincoln Thanks for reiterating this. It is a very strong incentive not to single-language 'test' anything that directly changes our core technical infrastructure. It also makes me realise that when I said..

.. I didn't acknowledge the burden on the Tech Team, for which I apologise.

[2020-01-13 16:01] jenniferisasi commented on #1620
Thanks @mdlincoln for such a detailed explanation. I anticipated there would be technical challenges, thus requested your input https://github.com/programminghistorian/jekyll/issues/1620#issuecomment-573334708 but it is worse -if I may- than I though.

[2020-01-13 16:28] jenniferisasi commented on #1621
Might be out of scope - and, please @mdlincoln feel free to ignore my suggestion if it involves more than a few easy changes that the junior technical members of the techteam could help you with - but how about using the `teamrole` tag to filter "teams" like we do with `topics` for the lessons? So we leave the list of the editorial board as is, but above it we have all the `teamrole` tags clickabl

[2020-01-13 17:02] mdlincoln commented on #1620
I may have sounded overly pessimistic about it, but I do want to emphasize why and it has to do with future scaling.

For just one feature, it's a pretty light lift to add in the right liquid filters and take them out later. It adds a little burden, and time from all the editors to track what gets changed and when things are ready, but the burden could be worth it. What really concerns me is when

[2020-01-13 17:06] mdlincoln commented on #1620
I do really want to emphasize though that

This helps remove the dependency problem (english -> spanish -> french) without introducing really difficult asynchronous editing across the site. As long as all the teams are on board with the concept of a feature, then I for one love the idea of a greater flexibility in content.

[2020-01-13 17:11] jrladd commented on #1587
Thanks for flagging this again, @mdlincoln! I got caught up in MLA and post-holiday activities. I’ll make the changes this week.

[2020-01-13 18:16] walshbr commented on #1620
@mdlincoln's response confirms my suspicion, for what it's worth. Just in a more coherent and informed way than I was capable of mustering not being as familiar with the code base as he is.

[2020-01-13 18:36] acrymble commented on #1611
This will have implications for a number of lessons that use the same functions:

https://programminghistorian.org/en/lessons/working-with-web-pages
https://programminghistorian.org/en/lessons/working-with-text-files
https://programminghistorian.org/en/lessons/output-data-as-html-file
https://programminghistorian.org/en/lessons/from-html-to-list-of-words-2
https://programminghistorian.org/en/lesso

[2020-01-13 18:58] drjwbaker commented on #1620
Thanks for your clarity and thoroughness @mdlincoln. I have a feeling we'll be citing / refering back to this thread for a long time!

[2020-01-13 19:30] mdlincoln commented on #1621
That filtering involves a bunch of custom javascript written just for the lesson pages - you can take a look but I'm not sure how easy it'd be to revise to work for this.

[2020-01-13 19:44] jenniferisasi commented on #1621
**javascript**! that is why I couldn't find the code in the first place... I can't read .js yet.
Ignore my idea.

[2020-01-14 06:59] acrymble commented on #1620
I appreciate that we want to keep everything syncronized. But that's the function tickets serve. Keeping track of work in progress. This is a social change, not a technical one. At the moment, the tendency is to say WAIT, we have to translate that first.

That's no one's job, so it means asking, and asking again, and waiting. And because you've gone through that process (and felt like you were nag

[2020-01-14 09:36] drjwbaker commented on #1620
@acrymble I'm not sure what your point is here, but I'm with @mdlincoln when he writes:

We wait because we are a voluntary org, because we have processes, and because we have a responsibility to those processes that we've constructed and believe in (which is not to say we never question them).

If the Tech Team envisage a large burden being placed on them by unpicking our syncronized infrastructu

[2020-01-15 06:40] spapastamkou commented on #1592
We submitted.

[2020-01-15 10:11] acrymble commented on #1593
@drjwbaker I think this is actually now being used, no? Can we transfer to the wiki and close?

[2020-01-15 10:13] acrymble commented on #1582
I'll also add a suggestion of opening a ticket to find missing members, as that was what helped us track down @vgayolrs so it seems like a good idea.

[2020-01-15 10:19] acrymble commented on #1620
Sorry for being unclear. I was just trying to suggest that we already have processes (tickets) for keeping track of work under development, and that the suggestion that we would need some sort of ad hoc wiki was not necessary.

It seems like we do have some agreement on the idea that the three publications need to use the same architecture, but not necessarily always the same messaging within all

[2020-01-15 11:17] drjwbaker commented on #1620
Thanks for clarifying @acrymble. This compromise seems sensible to me. Can we enshrine this in the Sub-Teams policy? https://github.com/programminghistorian/jekyll/wiki/Additional-Language-Sub-Teams-Policy

[2020-01-15 16:04] mdlincoln commented on #1620
I want to make sure we're all on the same page.

I believe it makes sense, for certain contexts like the sponsorship banners, for each language team to develop their text independently. This is a very good solution in my eyes.

This still means that we will expect to have that content ready for each language before a feature goes live, that way the technical team does not have to create "partial"

[2020-01-16 08:21] amsichani commented on #1526
Hi all , I have been working on this , and here are a couple of suggestions from my part :

- the time commitment for each lesson could vary depending on various factors (eg student's profile/ experience level/ familiarity with the content, language fluency, learning curve etc) -->  any estimation of lesson duration will be always already a proxy. I would welcome/ suggest a small blog entry explai

[2020-01-16 08:48] amsichani commented on #1525
The idea of lessons' sequence is mainly concerning the Python and Geospatial series, as for now, but any decision will also be implemented to other future series. As a user and as Education Manager I think this is a useful addition to these lessons that will help users and facilitate the learning curve of these series.
I am a big fan of visuals, although I suspect a text block of the "(lesson 2 of

[2020-01-16 08:56] acrymble commented on #1525
@amsichani there is an order to both of those series, yes. You can find it via the "next" and "previous" links at the bottom of those lessons. Let me know if you get stuck.

[2020-01-16 09:26] amsichani commented on #1525
Thanks for this @acrymble - I ve noticed the previous and next links , however I d recommend to make a clear list of lessons (based on these links and perhaps and enhance it) so we can more clearly do the maths (lesson 2 of 5 ) etc.

- we also need to notice how this change might affect/be implemented in the ES translation of the series.

[2020-01-16 12:01] acrymble commented on #1620
Yes. That's fine with me.

[2020-01-16 14:30] drjwbaker commented on #1370
@mdlincoln I have an update on this that I'd like to keep to email for now (see my email today!)

[2020-01-16 17:43] drjwbaker commented on #1593
Yes, to recap:

1. Board of Directors Meetings will (eg #1579 use meeting minutes to review and report back to the ProgHist Members (that is, the all of the Project Team #1579 (comment)) on income, spend, and current value of monthly Patreon supporters.
2. Team Leaders put in spending requests to Finance Manager including: what budget request is for, why it is needed, and if the spend is one-off o

[2020-01-16 17:58] drjwbaker commented on #1620
Fab. Who can add a note on this to the sub-teams wiki?

[2020-01-16 19:17] mdlincoln commented on #1526
I like that strategy @amsichani. I think it should be straightforward for you to add another metadata field into `_layouts/lesson.html`. You'd add in HTML very similar to the published date field: https://github.com/programminghistorian/jekyll/blob/68cbfa0f141be216019dc391bb4a69fc40163e61/_layouts/lesson.html#L148-L150

One note: since this is adding a new lesson metadata field, we'd normally want

[2020-01-16 19:32] mdlincoln commented on #1370
Perfect; responded.

[2020-01-16 19:44] mdlincoln commented on #1613
Hey @programminghistorian/technical-team looks like the winner is Monday February 17

[2020-01-17 08:58] acrymble commented on #1526
Are there other companies that do estimated durations for learning activities? Maybe we can contact them to ask them how they calculate this? It can't be too complex. There must be a system somewhere.

[2020-01-17 09:23] drjwbaker commented on #1526
I know the BL Digital Scholarship team run through our lessons in groups as part of their semi-regular peer supported professional development sessions. I can ask how long they tend to set aside if you want?

[2020-01-17 17:33] drjwbaker opened #1625 "Institutional Partner Programme"
Further to me recent email to the group, and building on the work on donation mechanisms https://github.com/programminghistorian/jekyll/issues/1457 it has come to the attention of the @programminghistorian/development-team that we need some clear messaging and pricing for institutions (especially libraries) who would like to financially support our work. In short, there is interest in paying us an

[2020-01-17 17:35] drjwbaker commented on #1589
I note that the agenda has mushroomed after we skipped December..

[2020-01-17 23:53] jrladd commented on #1587
As you can see above, I've sent a pull request that should fix all the things we talked about. Let me know if this will work! Many thanks @svmelton @walshbr @mdlincoln

[2020-01-18 10:39] acrymble commented on #1625
Should this replace our $200 tier on Patreon? Maybe we should lower that to something more like 25, and direct institutions to this messaging instead?

[2020-01-18 10:40] acrymble opened #1628 "Zoe - please contact"
@ZoeLeBlanc I'm trying to contact you via email about ProgHist ltd. I suspect my messages are going to your junk box. Can you please email me?

[2020-01-18 12:12] drjwbaker commented on #1625
Yeah, I had something like that in mind.

[2020-01-20 00:38] jenniferisasi opened #1629 "Plan for promoting PH at conferences"
This ticket will serve as a sharing point on the plan to promote PH at conferences before moving the guidelines to the Wiki. I anticipate that the procedure could be different by location and/or discipline so I'd appreciate any input.

If one or several PH editorial board members are going to assist a conference or event that is tied to digital scholarship in any way, please, do the following:
1.

[2020-01-20 09:00] drjwbaker commented on #1629
A couple of thoughts as Finance Manager:

Keep receipts and we should be able to reimburse this.

We should be in a position to pay for a batch of stickers each time someone needs them.

Re both these items, I suggest @jenniferisasi that when someone informs you that they'll be going to a conference and are able to do a little comms, you alert me so I can look at our finances and advise what we ca

[2020-01-20 11:46] drjwbaker commented on #1589
# Project Development Team Report

By: @drjwbaker
Date: 20 Jan 2020

Substantive Actions Completed Since Previous Report:

- plan to manage paid copyediting moved to the wiki https://github.com/programminghistorian/jekyll/wiki/Copyeditors https://github.com/programminghistorian/jekyll/issues/1537 This now moved to a trial on an open ticket https://github.com/programminghistorian/jekyll/issues/1610

[2020-01-20 13:11] acrymble commented on #1620
I've updated that sub-teams wiki page to reflect this conversation.

Thanks everyone.

[2020-01-20 13:11] #1620 closed, assigned to acrymble

[2020-01-20 13:15] drjwbaker commented on #1620
Thanks @acrymble. Wording captures this ticket really well.

[2020-01-20 13:52] #1563 closed, assigned to mdlincoln

[2020-01-20 14:47] acrymble commented on #1611
@rivaquiroga @spapastamkou I have not checked french or spanish translations to see if this problem affects your lessons, but I would encourage you to do so.

[2020-01-20 15:14] drjwbaker commented on #1370
Quick update/placeholder: we are looking at Feb for a decision on whether or not the proposed DOI infrastructure support comes through. I'll keep you posted when I know more.

[2020-01-20 15:16] jenniferisasi commented on #1629
Noted @drjwbaker, thanks!

[2020-01-20 16:15] mdlincoln commented on #1370
Please keep me in the loop particularly as questions about exact integrations with their provider come up (we don't have a server so we can't do calls to an API; need a manual option for reserving & registering, etc.) I'm glad to join in correspondence or conference calls as is useful.

[2020-01-20 16:18] drjwbaker commented on #1370
Of course. Early-Feb will be about establishing if we get the support. After that we need to figure out implementation. My plan is that - initially - me and you coordinate and participate in discussion. We can then decide how to delegate work from there.

[2020-01-20 16:28] rivaquiroga commented on #1611
@acrymble, I'll check them during the week

[2020-01-21 04:20] JMParr commented on #1589
Global Team Report
By: @JMParr
Date: 20 Jan 2020

Actions Completed Since Previous Report:

- Outreach with AMICAL, which is in discussion with their members about potential collaborations with us. They are in the midst of some major programming and will be back in touch next month.

- Outreach with RED HD, which has led to interest in collaboration. I have put them in touch directly with our Span

[2020-01-21 08:53] acrymble commented on #1615
@spapastamkou are you going to do the 3 month plan with @mariechristineb ?

[2020-01-21 08:54] acrymble commented on #1614
@MaelleAmand do you need any help with these initial tasks?

[2020-01-21 13:42] mdlincoln commented on #1589
Technical Team Report
By: @mdlincoln
Date: 21 Jan 2020

Actions Completed Since Previous Report:

- Submitted abstract to DHQ special issue on minimal computing with @jenniferisasi @arojascastro @fdlaramee @svmelton focused on our sociotechnical principles
- Implemented sponsorship banners across site and on lesson pages
- Established a standalone account for Programming Historian on Netlify and s

[2020-01-21 13:52] mdlincoln commented on #1525
one way you could do this @amsichani is to manually add a bit of markdown to each lesson like this:

[code]

Then it would show up as one of the yellow alert boxes. This would need to be added and customized correctly for each lesson in the series.

If you wanted to get fancy, you could turn this instead into YAML in the headers of lessons:

[code]

and then we figure out a way to compute everythi

[2020-01-21 17:18] spapastamkou commented on #1615
there is a doodle in progress since yesterday (20/01) to see how the FR team will organize its activities for the next months.

[2020-01-21 21:27] spapastamkou commented on #1469
@grandjeanmartin As-tu pu avancer avec la traduction ou on la reporte au prochain ticket? Je fais le ménage pour préparer le prochain ticket d'ici à la fin du mois:-)

[2020-01-21 22:08] spapastamkou opened #1631 "Say thanks to FR volunteer translators and reviewers"
All: the @programminghistorian/french-team will soon be done with the translation editions we had started this fall and so the FR lessons will be integrated in the Twitter bot and will be diffused regularly from the PH twitter account.

In this occasion, I thought it would be nice to make a blog post (or at least tweet) to thank all volunteers who spontaneously took contact with us and translated

[2020-01-21 22:22] spapastamkou commented on #1614
@MaelleAmand I opened [a ticket](https://github.com/programminghistorian/jekyll/issues/1631) to discuss a matter that is relevant to the FR team, you can participate if you want and thus accomplish the first task of the technical contributions of this ticket.

[2020-01-21 22:37] spapastamkou commented on #1615
@mariechristineb there is [a ticket](https://github.com/programminghistorian/jekyll/issues/1631) relevant to the FR team, if you wish to contribute with your views; and after our meeting you could open a ticket [like this](https://github.com/programminghistorian/jekyll/issues/1469) for our 3 months activity planning (you can assign us both to do the follow up). Unless you have other ideas, this co

[2020-01-22 00:27] jenniferisasi commented on #1631
@spapastamkou and team, of course, this is the perfect example of community building in the project and credit has to be given. Let's do a blogpost + tweet about it :)

The blogpost can be a thank you note + an account of the status of the French project on your way to celebrating a year

[2020-01-22 08:44] amsichani commented on #1526
re @acrymble 's  point: If I remember correctly, online coding courses at codeacademy are offering a percentage of the course completion (70%) and you get an estimated duration mainly on reading pieces eg medium. I have done a small research and I can't recall of an online course offering an estimated duration.

re the tech side of things @mdlincoln : I get the potential trouble caused by this add

[2020-01-22 08:56] acrymble commented on #1526
Apparently medium just estimates based on word count, with 265 words per minute. Maybe we can adopt something similar? Maybe with a bit of extra time built in for technical bits?

[2020-01-22 08:58] acrymble commented on #1611
The pull request fixing the English lessons is now complete and has been made live.

[2020-01-22 09:26] amsichani commented on #1526
that's an interesting idea -however we need to take into account in our calculations that our lessons are more instructions to perform functions/tasks (usually using external software, environments, downloading and importing data etc) rather than just reading texts.

[2020-01-22 09:29] amsichani commented on #1525
many thanks @mdlincoln for these options! I am keen to explore inserting the manual markdown to each of these lessons, as it is indeed needed just in two instances /series so far, so I don't see the point of changing the YAML with all the consequences it might have for the not-relevant lessons. I am now going to update this ticket with a set of tasks in order to further follow this option - and I

[2020-01-22 14:18] mdlincoln opened #1632 "COINS metadata should only appear on lesson pages"
Very minor issue, but the COins metadata that makes our lessons easily importable by reference managers like Zotero is currently added on ALL pages, so Zotero could try to import e.g. our homepage as if it is an article. I need to add a logic flag or change where the metadata is added so that it's only happening on lesson pages.

[2020-01-22 14:41] drjwbaker commented on #1632
Good catch @mdlincoln!

[2020-01-22 15:27] jenniferisasi commented on #1022
Since @amsichani started work on lesson sequence on #1525, can we close this issue?

[2020-01-22 15:27] jenniferisasi commented on #1552
Let's close this issue @amsichani since you are working on your tasks already in individual tickets.

[2020-01-22 15:27] #1552 closed, assigned to amsichani

[2020-01-22 15:39] walshbr commented on #1631
Sounds good - just ping me when you're ready for the Twitter bot to get going. You'll need to load tweet messages and the URLs onto the spreadsheet. I have the Fr tab already on the spreadsheet for you ready to go.

[2020-01-22 16:06] jenniferisasi commented on #1589
## Communications Team Report
By: @jenniferisasi
Date: 22 January 2020

Actions Completed Since Previous Report:
- End of year newsletter
- Shared plan to enhance PH presence at conferences #1629 (awaiting feedback from team)
- Education Manager @amsichani started work on #1526 and #1525
- Decide with @acrymble the order to incorporate translations into Patreon #1539

6-month focus:
- Implement pl

[2020-01-22 16:43] #1022 closed, assigned to amsichani

[2020-01-22 17:05] amsichani opened #1633 "Anna-Maria's Software Sustainability Institute fellowship - collaboration with PH"
I 've been awarded a Software Sustainability Institute Fellowship for 2020  🍾🍾🍾
https://software.ac.uk/blog/2020-01-10-announcing-2020-software-sustainability-institute-fellows

As part of my fellowship, I am planning to organise later this year "an edit-a-thon somewhere in the UK (probably London or Sussex) in order to run health checks in terms of sustainability for PH lessons", also in collabor

[2020-01-22 17:07] mdlincoln commented on #1633
This is very cool.

I want to make sure we keep it connected with the forthcoming DOIs, and the far stricter policies we'll need to think up re: what edits we make to lessons post-publication, versus what kinds of changes trigger a whole new lesson. We are, after all, NOT a wiki, but a peer reviewed journal.

[2020-01-22 17:09] jenniferisasi commented on #1633
Nothing to add for now, but wanted to say: congratulations!! 🍾

[2020-01-22 20:45] #1632 closed, assigned to mdlincoln

[2020-01-23 09:02] acrymble commented on #1610
Our first copyediting trial has now been conducted. The editor made a couple of comments on our process which are useful for us to consider.

1) That it would be a good idea to use repeat copyeditors who can become familiar with our publication, audience, and style. This has $ savings implications in the longterm, but also quality implications for the work
2) That our markdown format isn't really

[2020-01-23 10:22] acrymble commented on #1633
Congratulations @amsichani. That's really impressive.

If you're looking for a free venue, the Royal Historical Society in London will let us use their council room on days they don't need it. It can accommodate about a dozen, but isn't great for plugs.

[2020-01-23 11:21] acrymble commented on #1619
@amsichani can you let us know if you're still happy to take this on? Otherwise we'll have to redistribute the task to someone with some more time.

[2020-01-23 11:41] drjwbaker commented on #1633
Good shout. Seconded. Strikes me that getting a librarian or two in the room would give us a strong take on this. This is the relevant ticket @amsichani #1370

[2020-01-23 11:43] drjwbaker commented on #1633
I'd like to have noted in this ticket that is the THIRD award from the SSI (@shoaibsufi et al) for a PH team member and/or that has had a direct impact on PH work. They are strong and kind allies.

[2020-01-23 11:48] drjwbaker commented on #1610
@acrymble Small note on process: can you make sure we are billed via the shared gmail box (rather than my person email). I monitor that, so I will be sure to pick it up.

[2020-01-23 11:54] acrymble commented on #1610
@drjwbaker added that to the wiki. Thanks.

[2020-01-23 13:07] acrymble opened #1635 "Spanish Copyediting Setup"
Now that we have conducted a trial of copyediting in English (https://github.com/programminghistorian/jekyll/issues/1381), I'd like to work with the Spanish team to do the same for them. Especially because some of our Patreon sponsorship comes from Spanish colleagues!

At the moment, a Styleguide is only available in English and it was externally funded: https://programminghistorian.org/en/author-

[2020-01-23 13:09] acrymble opened #1636 "French Copyediting Setup"
Now that we have conducted a trial of copyediting in English (#1381), I'd like to work with the French team to do the same for them.

At the moment, a Styleguide is only available in English and it was externally funded: https://programminghistorian.org/en/author-guidelines.

Rather than translate this directly, I believe it is best for someone with advanced French grammar knowledge to use it as a

[2020-01-23 14:19] svmelton commented on #1633
Congrats! This is great news.

On Thu, Jan 23, 2020 at 6:43 AM James Baker <notifications@github.com>
wrote:

[2020-01-23 14:37] svmelton commented on #1610
From my perspective, it ran pretty smoothly! The point about our markdown is one that I've heard before, but I think it's fine for copyediting to happen outside of GH.

If we plan to keep copyediting (and I hope we can!) we should add a bit about the process to our editorial documentation.

[2020-01-23 15:52] acrymble commented on #1621
I managed to create a preview:

https://deploy-preview-1637--ph-preview.netlify.com/en/project-team
https://deploy-preview-1637--ph-preview.netlify.com/es/equipo-de-proyecto
https://deploy-preview-1637--ph-preview.netlify.com/fr/equipe-projet

I think it could use some css styling to visually differentiate the different groupings a bit, but I think it's useful. Other views?

[2020-01-23 16:24] KlausIllmayer opened #1638 "Retired lessons in Spanish PH"
I'm doing currently some metadata harvesting of the PH GitHub repo. I found an issue, that may be a bug. It is about retired lessons in the Spanish PH. Whereas in the English PH the lessons in the [retired-folder](https://github.com/programminghistorian/jekyll/tree/gh-pages/en/lessons/retired) do not show up in the English [Lesson Index](https://programminghistorian.org/en/lessons/) (and I think t

[2020-01-23 18:00] mdlincoln commented on #1638
Thank you for noting this @KlausIllmayer  - I'll follow up on it 👀

[2020-01-24 10:52] mariechristineb commented on #1631
@spapastamkou I also agree about doing a blogpost on the topic - all the more so if it can encourage other people to reach out and contribute :)

[2020-01-24 10:54] mariechristineb commented on #1615
@spapastamkou Thanks for the tips :) Are we doing the skype call today?

[2020-01-24 11:26] drjwbaker commented on #1489
Now the paperwork is complete, I'm delighted to confirm that [Penny Andrews](https://orcid.org/0000-0002-4530-0862) will be joining Sussex on 3 Feb to take on this role (2 months, 2 days per week). Penny has a strong background in open access, qualitative research, report writing, and business planning. I'm confident they will be a valuable asset.

Penny and I will be meeting on 3 Feb to discuss t

[2020-01-24 11:29] acrymble commented on #1489
what wonderful news. I hope to get the chance to meet Penny. Thanks @drjwbaker for so much effort on this.

[2020-01-24 11:34] spapastamkou commented on #1615
@mariechristineb Yes, absolutely for the Skype call. Did you receive my message? @grandjeanmartin @fdlaramee @MaelleAmand

[2020-01-24 11:42] acrymble commented on #1610
Thanks. I'm going to close this now that both have commented (here and on the ticket)

[2020-01-24 11:42] #1610 closed, assigned to acrymble

[2020-01-24 13:02] spapastamkou commented on #1615
thanks for the alert @mariechristineb :-)

[2020-01-24 17:15] jenniferisasi commented on #1489
This is great news! Thank you @drjwbaker for this, and I am looking forward to meeting Penny.

[2020-01-24 18:50] rivaquiroga commented on #1638
@mdlincoln, I just read #706 and it seems that your suggestion about storing the ES retired lessons in the same `/retired` folder as the English ones was not take into account :( They are currently in `es/retiradas`.
Do you want me to move them?