[2016-02-26 20:47] ianmilligan1 commented on #210
My understanding is that Google My Maps replaced Google Maps Engine, and retained quite a bit of the functionality.

https://www.google.com/maps/d/

Pinging @jburnford.

[2016-02-26 20:47] ianmilligan1 commented on #211
Also pinging poor @jburnford here.

[2016-02-26 20:49] wcaleb commented on #189
Good idea, @ianmilligan1.

[2016-02-26 21:10] ianmilligan1 commented on #204
Verified the old version using the Wayback Machine [here](http://web.archive.org/web/20130223045236/http://www.antlab.sci.waseda.ac.jp/software/antconc335/AntConc_readme.pdf) and found the new live link [here](http://www.laurenceanthony.net/software/antconc/releases/AntConc335/help.pdf). Will fix.

[2016-02-26 21:12] #204 closed, assigned to nobody

[2016-02-26 21:14] ianmilligan1 commented on #203
Right now, I'm going to delete the sentence:

"For PC users (or people who don’t want to pay or download software), I also found another tester tool that was fairly transparent" which contains the broken link.

I checked out the Wayback Machine and the link is dead. This is semi-equivalent: http://www.pyregex.com/. Would the author endorse this as a replacement, maybe?

[2016-02-26 21:17] ianmilligan1 commented on #200
I figure for now we're on top of this stuff, so let's change it to the URL that won't freak out our already brave readers..

[2016-02-26 21:17] #200 closed, assigned to nobody

[2016-02-26 21:18] ianmilligan1 commented on #199
OK swapped the link out (just trying to get these issues under control with a spare cycle).

[2016-02-26 21:18] #199 closed, assigned to nobody

[2016-02-26 21:19] ianmilligan1 commented on #203
@fredgibbs are you in touch with the author? Or do you think this is an acceptable solution. Let me know if we should close or keep open.

[2016-02-26 21:50] jburnford commented on #211
[UK Global Fat Supply 1894-1896 - Sheet1.csv.zip](https://github.com/programminghistorian/jekyll/files/148984/UK.Global.Fat.Supply.1894-1896.-.Sheet1.csv.zip)

[2016-02-26 21:53] jburnford commented on #211
[seaway.zip](https://github.com/programminghistorian/jekyll/files/148993/seaway.zip)

[2016-02-26 21:54] jburnford commented on #211
It does still work, but we need to change the opening, as you just use Google Maps instead of Map Engine Lite. Do I have access to the Markdown version?

[2016-02-26 21:55] ianmilligan1 commented on #211
@jburnford Yep, you could do a pull request, Jim, or you could shoot me a short note with the suggested opening text and I'm happy to make the change on your behalf.

[2016-02-26 22:39] jburnford commented on #211
Here is the correct link to mobile mapping
http://niche-canada.org/2011/12/14/mobile-mapping-and-historical-gis-in-the-field/

[2016-02-27 07:21] acrymble opened #216 "Broken link to GIS data"
Affects: http://programminghistorian.org/lessons/georeferencing-qgis

Links to
'National Topographic System Maps – Western PEI, 1939-1944'
and
'National Topographic System Maps – Eastern PEI 1939-1944'

http://maps.library.utoronto.ca/datapub/PEI/NTS/west/
http://maps.library.utoronto.ca/datapub/PEI/NTS/east/

both give 403 forbidden errors.

[2016-02-27 08:05] acrymble opened #217 "pandoc broken links, wrong headers, footnotes messsed up"
The Pandoc lesson has a number of minor problems: http://programminghistorian.org/lessons/sustainable-authorship-in-plain-text-using-pandoc-and-markdown.

1) Footnotes are not properly working. They're using a strange format: [^3](#fn:3)
2) Link to 'Its conventions are described one the Pandoc's Markdown page': 404 error: http://pandoc.org/demo/example9/pandocs-markdown.html
3) The authors have us

[2016-02-27 10:33] patrikpersson opened #218 "Broken link in 'Georeferencing in QGIS 2.0' tutorial"
In [the tutorial](http://programminghistorian.org/lessons/georeferencing-qgis), under the heading _Open the Necessary GIS Layers_, there is a link for downloading `lot_township_polygon`.

The link has a backslash that seems to break it. It is `http://www.gov.pe.ca/gis/license_agreement.php3?name=lot\_town&file_format=SHP`.

I think it should be `http://www.gov.pe.ca/gis/license_agreement.php3?name

[2016-02-27 14:05] fredgibbs commented on #203
We could email the author, but I think in this case, as well in similar ones where we can make a basic change that more or less replaces no-longer-extant functionality of the original lesson, we should go ahead and do so. Let's close and be done.

[2016-02-27 14:05] #203 closed, assigned to nobody

[2016-02-27 14:05] #217 closed, assigned to nobody

[2016-02-27 14:08] wcaleb opened #219 "Add header-level guidelines to style manual"
There is inconsistency across the site in how authors decide when to use `h2` or `h3` or `h1` headers. As noted in #217, it would be good to add some guidelines on this to our style sheet.

[2016-02-27 16:56] #218 closed, assigned to nobody

[2016-02-27 16:56] ianmilligan1 commented on #218
Thanks @patrikpersson!

[2016-02-27 16:57] ianmilligan1 commented on #210
Fixed with #215

[2016-02-27 16:57] #210 closed, assigned to nobody

[2016-02-27 17:01] ianmilligan1 commented on #216
Entire `datapub` site seems down. Simple search of the site doesn't turn it out. Any thoughts, @jburnford? (picking on you because I don't know if Josh or Dan have GitHub accounts, but feel free to forward to them)

[2016-02-27 17:03] #211 closed, assigned to nobody

[2016-02-27 17:05] ianmilligan1 commented on #219
I think it should be:

`h1`: title only
`h2`: main headings in lessons
`h3`: sub headings, etc.

[2016-02-27 17:09] ianmilligan1 commented on #129
We've seen in this in another e-mail thread – I think we need to tweak the lesson to make sure they download the right version. That said, the MALLET site is down. Will revisit soon.

[2016-02-27 17:10] ianmilligan1 commented on #171
I think we've got this solidified. Am closing but happy to see this re-opened.

[2016-02-27 17:10] #171 closed, assigned to fredgibbs

[2016-02-27 17:14] fredgibbs opened #220 "update submissions page with editor interests and contact info."
this follows on #171.

[2016-02-27 20:55] #129 closed, assigned to nobody

[2016-02-28 07:53] acrymble commented on #219
We had a style sheet in the early days, but it was rather set aside in the shift to markdown (and in fact all of the markup was just deleted).

We used to tag:
- First instance of a technical term (italics + bold) class = 'tech'
- names of programmes / filepaths / menu paths (italics) class = 'filename'
- variables / functions / parameters (italics) class = 'var'
- reserved words, code examples, (

[2016-02-28 14:12] wcaleb commented on #179
@acrymble Have we contacted the author to take a look at this? (Sorry for the slow response, @tanseyem.)

[2016-02-29 14:01] amandavisconti opened #221 "User note: how to solve Pymarc error"
Lesson: Data Mining the Internet Archive Collection
Lesson user Hypothesis annotation: https://hypothes.is/a/AVKeGm0rvTW_3w8Lypo1

[2016-02-29 14:03] amandavisconti opened #222 "User notes on Installing Python Modules with pip"
Lesson user Hypothesis annotations:
https://hypothes.is/a/AVK35MmZvTW_3w8Lyxdz What to try if using Windows
https://hypothes.is/a/AVKOOE8evTW_3w8Lylxj Adding pip flag to make command successful
https://hypothes.is/a/AVLBSrICvTW_3w8LyzEQ Only necessary if on Mac/Linux

[2016-02-29 14:03] acrymble commented on #179
Sorry, I just sent him an email.

[2016-02-29 14:06] amandavisconti opened #223 "User notes on Intro to Zotero API"
https://hypothes.is/a/AVKjrSUbvTW_3w8Lyryw Solution for Windows error
https://hypothes.is/a/AVKjiwTOvTW_3w8LyrtI Python advice
https://hypothes.is/a/AVLH8TFIvTW_3w8Ly1-Q Request for clarity (w/suggestion for fix)
https://hypothes.is/a/AVKjgZw3vTW_3w8Lyrqw Important note that indentation matters in Python

[2016-02-29 14:07] amandavisconti opened #224 "User notes on Intro to Bash Commands"
https://hypothes.is/a/AVLRMKV9vTW_3w8Ly4mc Suggestion to avoid space in directory names for problem avoidance
https://hypothes.is/a/AVLRKEnQvTW_3w8Ly4k7 Clarification and how to customize a command

[2016-02-29 14:08] amandavisconti opened #225 "User notes on Creating New Items in Zotero"
https://hypothes.is/a/AVLH21UbvTW_3w8Ly16v Clarification on what to do
https://hypothes.is/a/AVLH3b1vvTW_3w8Ly17O Unsolved error message encountered during lesson

[2016-02-29 14:08] amandavisconti opened #226 "User notes on Automated Downloading with Wget"
https://hypothes.is/a/AVLBrQWVvTW_3w8LyzLK Suggestion to not download zip files at provided link (they're unneeded)

[2016-02-29 14:09] amandavisconti opened #227 "User notes on using SPARQL to access..."
https://hypothes.is/a/AVLH7aAMvTW_3w8Ly19w User notes on how to customize command
https://hypothes.is/a/AVK7W2hnvTW_3w8Lyx3i Suggested clarification of syntax

[2016-02-29 14:13] amandavisconti commented on #182
I've added these annotations as issues using the form "User notes on [lesson name]". Closing this ticket, but I'd be happy to help brainstorm in the future about ways to include lesson user feedback (like annotations) in the review model that don't add to the project volunteers' workload. Thanks for the conversation and for experimenting with this!

[2016-02-29 14:13] #182 closed, assigned to nobody

[2016-02-29 14:21] ianmilligan1 commented on #224
Thanks @amandavisconti - this is a fantastic workflow! Already tweaked lesson in response to these.

[2016-02-29 14:21] #224 closed, assigned to nobody

[2016-03-01 04:40] knoxdw commented on #179
Thanks for this report, @tanseyem. I am sorry not to have seen this earlier.

The instructions in the lesson are out of date. In current versions of LibreOffice writer the '$' character at the end of a longer regular expression pattern anchors that pattern to the end of a paragraph, but it doesn't match the paragraph break itself, and so when we replace with nothing, the breaks are still there, wh

[2016-03-01 21:38] mdlincoln commented on #227
Neat feedback ideas! I'll be able to take a look at these next week.

[2016-03-03 17:15] acrymble opened #228 "broken link (markdown)"
Line 44 is not displaying properly in Extracting Keywords. Not sure what's wrong. It looks fine to me.

https://github.com/programminghistorian/jekyll/blob/gh-pages/lessons/extracting-keywords.md

[2016-03-03 17:23] wcaleb commented on #228
It was interpreting the underscores as markers of emphasis. You can "escape" reserved characters with a backslash so that it takes those underscores literally, as per the [kramdown syntax](http://kramdown.gettalong.org/syntax.html#automatic-and-manual-escaping).

[2016-03-03 17:23] #228 closed, assigned to nobody

[2016-03-03 17:27] acrymble commented on #228
thanks.

[2016-03-05 09:39] acrymble opened #229 "Public anti-harassment / civility policy for review and forum?"
In keeping with our attempts to promote diversity and a safe place to share ideas, I wondered if we might not want to adopt an anti-harassment policy for reviewers, authors, and contributors to our forum, which would be enforced by the editorial board, to make it clear that:

1) We accept scholarly debate, challenging of ideas and methods, disagreeing etc
2) We do not accept ad hominem attacks, ag

[2016-03-05 13:33] JonathanReeve commented on #207
[Here is the original PR](https://github.com/programminghistorian/jekyll/pull/106). Fred had a suggestion for reorganizing it that I never got around to fixing. I'll revisit this today and add it to the PR.

[2016-03-05 14:22] amandavisconti commented on #229
Great idea! I feel this would be useful.
(It was the previous thread #152 about improving inclusion that made me finally set aside time to submit a lesson, for what it's worth—seeing discussions like this and an anti-harassment policy may attract more PH community members.)

[2016-03-05 14:52] JonathanReeve commented on #207
^ I just opened #230 with some revisions. I also went ahead and updated it for the latest Omeka version. If it all looks good, it'd be great to see it make the list of lessons! Also, if it needs any further edits, let me know, too, and I'll be happy to fix it up.

[2016-03-05 15:18] JonathanReeve commented on #207
I also just submitted #231 which adds the lesson to the lesson index, complete with an old-timey etching.

[2016-03-05 15:29] acrymble commented on #207
Closing this as it's now back in the pipeline for @fredgibbs . Thanks for helping us sort it out @JonathanReeve

[2016-03-05 15:29] #207 closed, assigned to nobody

[2016-03-05 18:19] acrymble commented on #229
**Attempt:**

This is a statement of _the Programming Historian's_ principles and sets expectations for the tone and style of all correspondence between reviewers, authors, editors, and contributors to our public forums.

 _The Programming Historian_ is dedicated to providing an open scholarly environment that offers community participants the freedom to thoroughly scrutize ideas, but also provide

[2016-03-07 00:21] ianmilligan1 commented on #226
We updated the language a few commits ago, in response to this and another suggestion from somebody in Shawn's class (I think they were in Shawn's class). Thanks!

[2016-03-07 00:21] #226 closed, assigned to nobody

[2016-03-07 15:26] mdlincoln opened #232 "Gemfile removed?"
I noticed in commit e7cbd30406bca98de75165d550c0243956788d1e by @wcaleb that the `Gemfile` was removed. Was this file interfering with the Heroku preview? I usually relied on the `Gemfile` to enable local build & preview using `bundle exec jekyll serve`.

[2016-03-07 16:58] wcaleb commented on #232
I had only put it in for Heroku preview, which we've discontinued using. But I can put it back---hadn't occurred to me that it would affect local build.

[2016-03-07 16:59] wcaleb commented on #232
Reverted with 004acc4b90346956db554f51d13cc0131a0338b7.

[2016-03-07 16:59] #232 closed, assigned to nobody

[2016-03-07 17:49] fredgibbs commented on #229
I like it! We might also add that anyone feeling uncomfortable can or should contact any editor or the omsbudpeople.

[2016-03-07 17:59] amandavisconti commented on #229
Would something about making learners with little knowledge in an area feel welcome be useful here? Perhaps this kind of belittling is already subsumed under harassment, but because it's a part of tech culture it might be helpful to specifically discuss it. I'm thinking of forums where I've seen questions be treated as "too simple to answer", people being derogatory about the choice to use a certa

[2016-03-07 19:35] ianmilligan1 commented on #229
Late to this as I've been on the road, apologies all.

I think this is a fantastic idea, @acrymble, and really love @amandavisconti's suggestion... the sort of snarkiness and "let me Google that for you" stuff over on Stack Overflow [(a la this article)](https://medium.com/@johnslegers/the-decline-of-stack-overflow-7cb69faa575d) are worth trying to nip in the bud right away.

[2016-03-08 02:35] ianmilligan1 commented on #179
Resolved in #236! Thanks @knoxdw and @tanseyem!

[2016-03-08 02:35] #179 closed, assigned to nobody

[2016-03-09 12:41] acrymble commented on #229
**Attempt 2:**

This is a statement of _the Programming Historian's_ principles and sets expectations for the tone and style of all correspondence between reviewers, authors, editors, and contributors to our public forums.

 _The Programming Historian_ is dedicated to providing an open scholarly environment that offers community participants the freedom to thoroughly scrutize ideas, to ask questio

[2016-03-09 16:51] fredgibbs commented on #229
i think this is great, and that we should post this on the about page, as the second section (and maybe combine the open source and gold open access that will follow it).

[2016-03-09 17:19] amandavisconti commented on #229
I like this. Thanks for drafting it, @acrymble!

[2016-03-09 18:18] acrymble commented on #229
No way to make a sticky post like on most forums, huh? It'd be useful to have it closer to the github forum, since it feels quite separate from the website.

[2016-03-09 18:48] ianmilligan1 commented on #229
For starters, we could put a link in our site description? A la up here:

![GitHub header](https://raw.githubusercontent.com/web-archive-group/WAHR/master/images/header.png)

[2016-03-09 21:49] wcaleb commented on #229
We could include it as a template in all new issues and pull requests, a la #189.

[2016-03-09 22:09] miriamposner commented on #229
Just a note to say that I like it, too, and I'm so glad you thought to do
this, Adam.

Miriam

On Wed, Mar 9, 2016 at 1:49 PM, W. Caleb McDaniel notifications@github.com
wrote:

[2016-03-10 17:32] fredgibbs opened #237 "draft of new lesson workflow page"
I have published a draft of a new lesson workflow page (http://programminghistorian.org/new-lesson-workflow-draft), which is a pretty major overhaul from the previous version that reflects our new submission process. Please edit or flag any potential issues!

There are some other open issues related to images and editorial roles, but I'll address those in future updates. I wanted to get the workfl

[2016-03-10 17:37] acrymble commented on #237
Thanks Fred. Can we get a few people who hate github to try it for us? Best way to find sticking points, I'd say.

[2016-03-11 18:55] mdlincoln opened #238 "Clarify length/scope of pre-pub review process"
This touches on #237

I think clarifying the scope and duration of the pre-publication review process​ would be valuable. For example, when developing the SPARQL lesson (#131) I worked through the 2 submitted reviewer reports, as per PH’s stated submission process. On the cusp of publishing the lesson, a third person added some suggestions to the PR, and suddenly I became responsible for adding th

[2016-03-11 22:06] fredgibbs commented on #238
Thanks for this suggestion @mdlincoln. You're right: it's always frustrating when you think you're done and you find yourself being _not_ done. We will certainly clarify our expected timelines for reviews and responses. We also need to make sure we have appropriate editorial mediation of reviews and suggestions--a process we're still working to improve and had really just begun to formalize at the

[2016-03-11 23:30] mdlincoln commented on #238
Great - I think a light framework for how review will happen in the open, with the appropriately-structured possibility of comments above and beyond reviewers and editors would be dandy. This might be good to mention in the workflow page, and then reiterate and clarify within the issues discussion as the lesson is being developed.

And to the larger point: yep, I love the _opportunity_ to do a PR

[2016-03-12 07:33] acrymble commented on #238
Lots of important issues here. I've been doing quite a lot of maintaining other people's lessons lately as I went through some old ones, and it is a big burden (and annoying in many respects). We might need to add someone to the team who wants to take that type of thing on. Like a Wikipedia Gnome, but for PH. A topic for an editorial meeting, I think.

Thanks for raising these concerns @mdlincoln

[2016-03-12 07:35] acrymble opened #239 "Team role to maintain and update old lessons"
Related to @mdlincoln 's #238. It's a big job to keep lessons updated, and often authors just don't have the time or the will to do it. I've noted lots of little errors and broken links when I went through the lessons recently, which suggests we need someone doing a careful sweep of all the lessons, probably once a year.

A 'last updated' alongside the 'date published' would probably be a good ide

[2016-03-12 07:38] acrymble commented on #237
what's the URL for the actual new lessons site?

[2016-03-12 07:39] acrymble commented on #237
http://programminghistorian.github.io/ph-submissions/lessons/sample-lesson

[2016-03-12 08:40] acrymble commented on #237
Just a couple of comments on the format more than what you have written. I think we should be doing more to make our site visually more recognizeable as a scholarly publication that accepts submissions. There are a lot of stylistic cues that are common to academic journals that we just eschew.

For example:
- http://onlinelibrary.wiley.com/journal/10.1111/%28ISSN%291468-2281/homepage/ForAuthors.ht

[2016-03-12 11:04] acrymble opened #240 "trouble adding new author to new repo"
I'm trying to add @mhbeals to our new repo, but I get a message that she doesn't exist.
![unnamed](https://cloud.githubusercontent.com/assets/646647/13722581/3d7a93f2-e842-11e5-9b14-718cba7b90a5.png)

Any advice @wcaleb ?

[2016-03-12 13:39] fredgibbs commented on #240
I've always found it easier to search via username; so I just added @mhbeals.

[2016-03-12 13:39] #240 closed, assigned to nobody

[2016-03-12 13:47] fredgibbs commented on #237
Definitely a good point to bring up at the next meeting. I think as the page has grown, it's gotten complex enough that we need better index menus near the top, and need to improve the visual clarity. I deliberately didn't address these in the revision, preferring to wait until we can agree on the content change (and thus know how to structure the menus). Personally, I don't have much desire to em

[2016-03-12 14:05] acrymble commented on #238
In response to your suggestion @mdlincoln I tried to address your concern about unending suggestions in our latest submission review ticket, which you can read here: https://github.com/programminghistorian/ph-submissions/issues/11

I'd be keen to hear your reaction to that.

[2016-03-12 14:07] acrymble commented on #229
I have posted this on my review ticket for the latest submission: https://github.com/programminghistorian/ph-submissions/issues/11

This seems like a natural spot to put it as well.

[2016-03-12 14:09] acrymble commented on #237
@fredgibbs do you mind if I get 2 anonymous (I mean arms length) reviewers to look at it as we would with tutorials?

[2016-03-12 14:30] mdlincoln commented on #238
@acrymble I think that's a great addition to the introductory text for the review process - clear and succinct!

[2016-03-12 14:56] fredgibbs commented on #237
I think external reviewers are a great idea. But I think we should talk about it on the next call before we reach out to external readers.

[2016-03-12 17:45] acrymble commented on #190
I put in a request for a crawl.

[2016-03-12 17:51] acrymble commented on #193
I should add, I love the mockup @ahegel I would definitely support that change.

[2016-03-12 21:36] miriamposner commented on #193
Agreed!

On Sat, Mar 12, 2016 at 9:51 AM, Adam Crymble notifications@github.com
wrote:

[2016-03-16 18:46] jerielizabeth commented on #193
I love the mockup as well @ahegel! The emphasis on "data" jumped out at me as well. I think it might also be useful to think about digital storytelling as a mode of being a "Programming Historian" that might not default so much to data (even though at some level where there is computation there is data.) I look forward to the conversation on the call!

[2016-03-17 17:55] ianmilligan1 commented on #238
I think now that #239 is open, we can probably close this. Let me know what ya think.

[2016-03-17 17:56] ianmilligan1 commented on #216
Links are again working. Hazzah!

[2016-03-17 17:56] #216 closed, assigned to nobody

[2016-03-18 07:11] #238 closed, assigned to fredgibbs

[2016-03-18 13:19] mdlincoln commented on #227
I think this can be closed based off of #233

[2016-03-18 13:37] #227 closed, assigned to nobody

[2016-03-28 17:36] amandavisconti commented on #23
Coming from [here](https://github.com/programminghistorian/ph-submissions/issues/3#issuecomment-202426152): I'd vote for placing the link visibly directly above (like, top-left) the code block.

[2016-03-29 12:26] ianmilligan1 opened #242 "Editorial Meeting agenda 29/03/16"
Hi fellow editors. I'm chairing the meeting today, so as per usual please nominate any issues from the github list that you think we should focus on for our upcoming meeting on Tuesday.

[2016-03-29 12:27] ianmilligan1 commented on #242
I think we should talk about #239; #237; #229; #220; #189; and #172. We should also chat about #143 - I think we struck a subcommittee but it hasn't met yet.

[2016-03-29 16:24] ianmilligan1 commented on #189
We talked about this during #242. Extremely brief summary: Contributing guidelines re: anti-harassment, etc. will be put into both ones, and more technical issue details (i.e. operating system, platform, etc.) on the main repo as well. It could lower the barrier to people creating tickets?

On ph-submissions, issue boilerplate would be the review ticket that editors have been doing – so we can edi

[2016-03-29 16:30] wcaleb commented on #189
In our March 29 call, we agreed to add several things:
- A `CONTRIBUTING.md` file on both repos that contains our anti-harrassment policy (see #229).
- A template for issues on the jekyll repo that gives people guidance on what information to provide about bugs (system they are using, etc.)
- A template for pull requests on the jekyll repo telling people not to submit lessons by pull request.
- A

[2016-03-29 16:32] #229 closed, assigned to nobody

[2016-03-29 16:43] ianmilligan1 commented on #220
We're going to update our [Project Team page](http://programminghistorian.org/project-team) with the [editorial roles listed here](https://github.com/programminghistorian/jekyll/wiki/Editorial-Roles). We'll have to [edit this file](https://github.com/programminghistorian/jekyll/blob/188d98d251554679b630d0902464b4ba61d9c495/_data/authors.yml). Ticket will remain open until we do that update.

[2016-03-29 16:43] #237 closed, assigned to fredgibbs

[2016-03-29 16:51] ianmilligan1 commented on #239
We discussed this during #242.

Idea was that the `last updated` entry needs to be a bit more visible and accurate for the lesson. Suggestion to put it at the top of the lesson to give an immediate sense of when it was last maintained, etc. We also now have `deprecated = true` to make clear that a lesson is no longer actively maintained.

[2016-03-29 17:06] jerielizabeth opened #243 "Update information in Lesson Pipeline Page"
In preparation for (potentially) moving the pipeline to the main website pages, we should move everything  from sorted by editor to sorted by "stages" and confirm that the information is up to date.

https://github.com/programminghistorian/jekyll/wiki/Lesson-Pipeline

[2016-03-30 16:24] acrymble commented on #239
Related to last updated might be the idea of adding a version number that auto-generates. That's helpful for citing with confidence, but I don't know if that's easy to do with our setup.

[2016-03-30 16:24] acrymble commented on #242
Thanks @ianmilligan1. Did I get any actions out of this? Sorry I missed the meeting.

[2016-03-30 16:33] ianmilligan1 commented on #242
No actions for you, other than to keep on doing what you're doing! :smile:

[2016-03-30 16:33] #242 closed, assigned to nobody

[2016-04-04 12:47] acrymble commented on #193
Just to add, we had an event last month at which a number of people with varying DH skills tried out and critiqued our site. This was one of the big areas they suggested for improvement, as APIs are the first thing you see and mean nothing to most people. One attendee suggested categories that end in 'ing' words as a practice rooted deeply in library science, reinforcing just going with:

[code]

[2016-04-04 12:50] acrymble opened #244 "Guidelines for Editors"
I think we should add a page for Guidelines for Editors to try to standardise and record some of the good practice we've been developing the past few months.

It could include things like the anti harassment template / policy for the ticket #229. How to manage the reviewer selection process, responding quickly so everyone knows what comes next, etc.

That way we all have somewhere to go look to ma

[2016-04-04 17:15] jerielizabeth commented on #244
I think this is an excellent idea! As a new editor, I am doing a fair amount of hunting around to remember what to do next. It would be nice personally to have a single place to go to, and I think it would have the added bonus of helping submitters know what to expect.

[2016-04-04 17:20] fredgibbs commented on #244
we've had this good idea before, and we do have https://github.com/programminghistorian/jekyll/wiki/New-Lesson-Workflow-for-Editors. The problem is that it's now wickedly outdated given all our changes and improvements over the last few months. Since I've been working on similar documentation for authors, i'll take this one.

[2016-04-04 17:21] fredgibbs commented on #244
and i hope, @jerielizabeth, that you will help given your recent hunting excursions! :)

[2016-04-04 17:25] jerielizabeth commented on #244
:) of course!

[2016-04-06 14:19] acrymble commented on #244
Related to this, I got stuck trying to create a folder for an author's images

Our instructions say:

I tried to find a solution on Stack Overflow, but it didn't work:

http://stackoverflow.com/questions/18773598/creating-folders-inside-github-com-repo-without-using-git

This is the type of thing I need clearer guidance on.

[2016-04-06 14:23] fredgibbs commented on #244
I haven't found any clearer directions than what you linked to (which worked for me last time I tried it). Can you be more specific about where you got stuck or what didn't work? I'll be sure to add clarification in the directions.

[2016-04-06 14:36] acrymble commented on #244
I tried making a new file at the /images/ directory and for the filename I typed FOLDERNAME..test.md but I didn't get that conversion to a folder that the animation suggested I should see. Maybe I'm just not clear on what the Stack Overflow thread is telling me to do.

[2016-04-06 14:52] fredgibbs commented on #244
I think you need a forward slash in your string. Once you click on the filename to edit it, let's say it's "test.md" and you want to move that into a new (not yet created) images folder, you should change it to "images/test.md". If you wanted then to move that file to back its parent directory (ie out of the images directory), you could do so by changing the filename from "test.md" (which would be

[2016-04-06 16:33] jerielizabeth commented on #244
For the one I just created, I pushed up from the command line. I created the folder by making a readme file in the new directory. Not sure this was the most efficient solution, but it worked. Now that the images are uploaded, the readme could be deleted.

[2016-04-08 14:42] ianmilligan1 opened #245 "Videos in Lessons"
I saw @acrymble raise an important point [over in PH-Submissions](https://github.com/programminghistorian/ph-submissions/issues/17#issuecomment-207453441) and I thought it would be worth having a broader discussion separate from there.

I think videos can play a great role in lesson. But as Adam notes:

My own vote is for YouTube. It's not a digital preservation solution, but without active mainte

[2016-04-08 14:49] acrymble commented on #245
I like the simplicity of this, but I would raise the problem of who owns/controls the video. We had a couple of links break when someone linked to their dropbox folder containing lesson data and then (years later) took it out when they forgot why it was there.

[2016-04-08 14:54] ianmilligan1 commented on #245
Agreed – ideally, datasets/everything/etc. would be hosted in this repo where we can control it. But videos are going to bust past the file limit sizes and would have to be externally hosted in any case.. 😕

[2016-04-08 15:05] acrymble commented on #245
Do we know any digital archivist experts who we could ask for advice?

[2016-04-08 15:35] ianmilligan1 commented on #245
My vote is the access copy via YouTube, just because that's easiest for us, for authors, for other people to link to, etc. As for a preservation copy, if one of the editors has an institutional repository that would love this tuff, sure, but I'd be happy for authors to retain it.

[2016-04-08 15:38] fredgibbs commented on #245
There is an argument to be made for not overthinking this. The content of the video is going to be out of date long before the video format or the platform that hosts it. I think @ianmilligan1 is right: let's just embed a youtube video (everyone will subscribe to the PH channel!) and see how that goes, but I think we should require it to conform with our CC license so that it's available on the sa

[2016-04-08 15:46] acrymble commented on #245
Thanks @ruebot. I like the idea of a preservation copy in case we need to fix a link in future.
@fredgibbs I don't think we should _underthink_ it. We spend an inordinate amount of time fixing things. I recall we once rejected a suggestion that all images go into a lesson-specific folder, and now we're trying to implement exactly that: #192. I'd just rather we think longterm about potential proble

[2016-04-08 16:05] fredgibbs commented on #245
@acrymble agreed, but I never said we should not think about it or rush it, and I'm glad you raised the issue of finding a storage solution that fits our needs. I would say that we spend a lot of time fixing things because that's the nature of the these kinds of tutorials, most of which deal with constantly evolving technologies (including that which hosts our site). #192 doesn't exist because we

[2016-04-08 16:35] ianmilligan1 commented on #245
I guess my only additional two cents are: if we use YouTube, and YouTube dies.. we'll either (a) have notice and can deal with it; (b) won't have notice, and can join the rest of the Internet in freaking out as literally every media organization explodes. And then deal it for the handful of lessons that have embedded video.

If we can have backup copies in a repository somewhere, that's awesome an

[2016-04-08 16:40] jerielizabeth commented on #245
One more thing to think about with videos: accessibility. If there are audio instructions, we need to think through our approach to providing either a transcript or captioning.

[2016-04-08 16:41] jerielizabeth commented on #245
Also, institutional repositories are a great solution for an additional (and preservation focused) home for  videos.

[2016-04-09 00:00] nabsiddiqui commented on #245
I think placing them on YouTube should be sufficient.  As Fred mentioned, the tutorials are likely to be outdated way before YouTube is taken down.  I think having them preserved in an extra repository along with the official channel should be sufficient.  There are a couple of questions to consider:
1.  As mentioned already, there should be some sort of transcript or captioning if possible.
2.  T

[2016-04-10 16:22] acrymble commented on #245
@jerielizabeth interesting comment about captions. I wonder if something can be captioned, do we need a video at all? Why not just do a GIF to show some simple animation?

The peer review is also a potential issue. If someone tells you to change your video, that's a big ask.

[2016-04-10 19:59] ianmilligan1 commented on #245
I think if the author wants to make a screencast, they should go for it. And if revisions are warranted, that's something the editor, author, reviewer, etc. can think about in detail. YouTube does caption and has support for that.

I think they should be included in the lessons, as core parts of it rather than an appendix. And one of the editors could run the channel. I'd also agree to disable com

[2016-04-11 10:31] acrymble commented on #245
It does sound like a YouTube channel of our own offers a good solution.
A file backup would be ideal.
And some brief instructions in the author guidelines about videos. I'd suggest we tell authors to use videos in lessons they way they'd use colour images in their journal articles (only when absolutely necessary). Otherwise I think we're going to end up with new problems in the review and revising

[2016-04-17 06:16] acrymble commented on #193
I mentioned to some of you that I had printed a copy of the PH. That involved playing around with a possible new ordering of lessons under the above headlines. You can download and look at my choices in this PDF: https://zenodo.org/record/49873#.VxMpnD-Ga7p

I may have put some in wrong containers, but let's talk about this at our next meeting.

[2016-04-17 06:18] acrymble opened #246 "Spanish translation"
This start of a Spanish translation was brougth to my attention via Twitter: http://cibercliografia.org/manuales/introduccion-a-python/

I wonder if this is something we can support more actively?

[2016-04-19 06:13] acrymble commented on #172
I know I'm not on the committee, but I just wanted to flag this to make sure everything is still on track for May 1.

[2016-04-19 10:05] acrymble commented on #220
I've updated myself.

[2016-04-19 13:34] Anterotesis opened #247 "QGIS and OS X"
The lesson Installing QGis
http://programminghistorian.org/lessons/qgis-layers
states:
"(this works with Lion, Mountain Lion, and Snow Leopard – no word yet on using it with the forthcoming Mavericks)"
I can confirm that QGis works with the latest OS X 'El Capitan' 10.11.4.
The text can be updated to reflect this.

[2016-04-19 13:38] ianmilligan1 commented on #247
Great, I will update the text. Thanks @Anterotesis!

[2016-04-19 13:39] #247 closed, assigned to nobody

[2016-04-26 07:49] acrymble opened #250 "Editorial Meeting agenda 26/04/16"
Please add suggestions for today's editorial meeting agenda. In addition to general updates from the team, I suggest:
#172 - summer fellows
#193 - lesson categorisation
#239 - new team role.
#220 - update team page.
#245 - videos in lessons

[2016-04-26 13:51] wcaleb commented on #250
Sorry that due to a last-minute conflict, I won't be able to make the Skype call today. Also sorry that I haven't yet done the things assigned to me last time. Once the end-of-semester craziness passes in about a week, I'll have a catch-up day. Let me know if any new action items for me come out of the meeting.

[2016-04-26 13:52] tapar001 commented on #193
Love the mockup @ahegel! And I agree overall that leading with categories rather than APIs is a good move.

[2016-04-26 16:12] acrymble commented on #250
Present: Adam, Fred, Ian, Evan.
Apologies: Caleb, Allison, Jeri
@wcaleb @ahegel @jerielizabeth (read below for updates).

minutes
#172 - decided not to re-run the summer fellows program. Going to operate on an informal process instead whereby editors can work with someone if a natural person comes along. Will encourage summer learning/lesson writing through tweeting and social engagement.

---

#2

[2016-04-26 16:12] ianmilligan1 commented on #172
Closed re: #250

[2016-04-26 16:12] #172 closed, assigned to nobody

[2016-04-26 16:30] acrymble commented on #239
Not going to pursue as this job sucks too  much and no one will want to do it.

[2016-04-26 16:30] #239 closed, assigned to nobody

[2016-04-26 16:37] acrymble commented on #193
We're going to look for someone to help us do this over the summer.

[2016-04-26 16:39] ianmilligan1 commented on #220
We realized that the bio updates that @acrymble and I did updated our author bios in the lessons too (duh, right?).

I think we'll make our Project Team page a static page. How does that sound @wcaleb?

[2016-04-26 16:45] tapar001 opened #251 "Reformatting the blog page"
The PH [blog](http://programminghistorian.org/blog) is looking a bit old school with the list of links and no previews of individual posts. Thoughts on updating it to a more 2016 blog format?

[2016-04-27 12:46] wcaleb commented on #220
@ianmilligan1 @acrymble I would recommend instead breaking out "interests" into a separate field in the YAML data, as I've done in the above commits. The advantage here is that sometimes you may need to change the bio (e.g., when you're promoted!), and you want that change to be reflected across the site on both the Project Team page and the lesson author bylines. This preserves the ability to cha

[2016-04-27 12:48] wcaleb commented on #251
Yes, I agree. What do you want it to look like? Let me know and I can work on the formatting.

[2016-05-10 16:25] tapar001 commented on #251
I was thinking we might do away with the bullet points, and instead lead with the title of each post, followed by the date, and beneath it a preview (maybe a few sentences) of the post itself.

Another quick question while we're on the topic of formatting--right now the blog posts have the same margins as the lessons. I'm wondering if we might bump the margins out a little wider for blog posts? It

[2016-05-24 19:06] acrymble opened #252 "Ombudsperson to replace Miriam"
As Miriam has stepped down, we need to replace her as one of our ombudspersons. Anyone from the Editorial board willing to step into this?

[2016-05-24 19:14] ianmilligan1 commented on #252
As the other ombudsperson, it would be great to work with one of you. 👋

[2016-05-27 17:01] acrymble opened #255 "Megan R Brett missing author bio."
Megan R. Brett is now listed as an author on the Omeka Exhibit lesson. But she has no bio at the bottom of the page. http://programminghistorian.org/lessons/creating-an-omeka-exhibit

Anyone recall when this happened and who initiated so we can chase this up?

[2016-05-27 17:05] wcaleb commented on #255
@mebrett did all of the updating to the lesson in #234. Megan, can you add yourself to the author directory so that your bio appears at the bottom?

[2016-05-27 17:39] acrymble commented on #180
We have been added to the DOAJ repository, which is good because it makes it easier for institutions like libraries to index us. We've been asked to add the following however:

1) An annual publications page in addition to our /lessons directory. I suspect this should be quite easy to do?

2) To make the most of it we have to upload the files to DOAJ using their custom XML template (https://doaj.o

[2016-05-27 17:39] acrymble commented on #180
FYI: https://doaj.org/toc/2397-2068 this is us.

[2016-05-27 17:43] acrymble commented on #251
@tapar001 I suspect it would help this along if you could mock something up.

[2016-05-27 18:42] acrymble commented on #244
I've started this: https://github.com/programminghistorian/jekyll/blob/gh-pages/editor-guidelines.md
I will try to keep going soon, but I've run out of time tonight. I'd like to make sure all of our editors (new and old) are all on the same page. We will have to discuss this, but I think it's helpful to have something in place to start.

[2016-05-28 07:30] acrymble commented on #244
Ok I have flushed this out and tried to update it. I need some help from the other editors to fill in some gaps. Can anyone take a look at this? @jerielizabeth it might be good to get your perspective as someone relatively new to the process.

I've added this directly to our 'contribute' page so it's findable along with all of our other sets of instructions. It only directly affects the editorial

[2016-05-28 08:51] acrymble commented on #245
I have added this to the Editorial Guidelines http://programminghistorian.org/editor-guidelines

Videos discouraged unless necessary for sustainability reasons. Advice on file naming/hosting.

[2016-05-28 08:51] #245 closed, assigned to nobody

[2016-05-28 08:59] acrymble commented on #219
This should go in #244 as well

[2016-05-28 13:37] juancobo commented on #246
Hello! Some colleagues and I run a non-profit in Colombia devoted to digitising the holdings of endangered archives and libraries and promoting the digital humanities in the country more broadly (www.neogranadina.org). I came across your tutorials a few years ago and found them extremely useful, and I've used them more recently to train our student interns. My colleagues and I have spoken about ap

[2016-05-29 06:04] acrymble commented on #246
Thanks @juancobo for getting in touch. I for one think this would be a great way for the project to branch out. All of the lessons are already licensed CC-BY so anyone could in practice translate and post whatever they want. But I wonder if this isn't something we could integrate more closely with the rest of the site if we had enough interest to start translating (or even writing in Spanish and t

[2016-06-03 16:24] acrymble opened #257 "Pip lesson -O flag"
Via John Simpson on Twitter:

http://programminghistorian.org/lessons/installing-python-modules-pip

There's a small error in the lesson on installing pip. curle needs a -O flag or it just puts url content to the screen.

I haven't had a chance to try this yet but I wanted to capture.

[2016-06-03 16:58] ianmilligan1 commented on #257
Tested – and yes, does need the `-O` flag. I'll make the change.

[2016-06-03 16:59] #257 closed, assigned to nobody

[2016-06-09 17:38] mdlincoln opened #258 "h annotation: The Sound of Data (a gentle introduction to sonification for historians)"
<p><strong>Lesson</strong>: <a href="http://programminghistorian.org/lessons/sonification">h annotation: The Sound of Data (a gentle introduction to sonification for historians)</a></p>

<p><strong>Annotation submitted</strong>: 2016-06-09</p>

<p><a href="https://hyp.is/yLYvAC5oEear4MfPQurdUA/programminghistorian.org/lessons/sonification"><strong>Context</strong></a></p>

<blockquote>
<p>NA</p>
<

[2016-06-09 17:40] mdlincoln commented on #258
Sorry for the issue spam - I just wanted to see if the script I wrote could actually write to a repo I do not own! This comes from the project https://github.com/mdlincoln/ph_annotations

[2016-06-09 17:40] #258 closed, assigned to nobody

[2016-06-10 16:42] acrymble commented on #180
Related, @amandavisconti has convinced the University of Purdue to produce a catalogue entry for PH (http://purdue-primo-prod.hosted.exlibrisgroup.com/primo_library/libweb/action/dlDisplay.do?vid=PURDUE&search_scope=everything&docId=PURDUE_ALMA51671812890001081&fn=permalink) as well as a WorldCat entry: http://www.worldcat.org/title/programming-historian/oclc/951537099

Many thanks for that!

[2016-06-10 18:45] amandavisconti commented on #243
The item under my name (Amanda Visconti) under "First draft returned" can be removed—the lesson is now published.

[2016-06-12 10:23] acrymble commented on #243
Thanks @amandavisconti I've removed you now.

[2016-06-12 12:41] ianmilligan1 commented on #243
Thanks for the reminder @jerielizabeth – I have a few updates to make. Apologies.. have been on the road extensively, but fear not, stuff's going on! 😀

[2016-06-16 05:44] acrymble commented on #244
@jerielizabeth would you mind looking this over?

[2016-06-16 23:04] jerielizabeth commented on #244
Yes!! I'm at a conference right now but I'll get on this as soon as I can
(hopefully this weekend).

On Wednesday, June 15, 2016, Adam Crymble notifications@github.com wrote:

##

##

Jeri E. Wieringa
Digital Publishing Production Lead, George Mason University Libraries
PhD Candidate, Department of History and Art History
George Mason University
www.jeriwieringa.com

[2016-06-17 18:25] jerielizabeth commented on #244
A question for the group about handling images -- as we move to folders, should those correspond with the lesson name (which is currently in use on the submissions repo) or the author last name (which is in limited use on the site repo)?

[2016-06-17 18:29] jerielizabeth commented on #244
Answering my own question -- our instructions to authors has this as the lesson slug.

[2016-06-17 18:29] fredgibbs commented on #244
i vote for lesson name/slug because the URL nature of the lesson name will most always make folder naming straightforward.

[2016-06-17 21:02] jerielizabeth commented on #133
Found this while looking for details on the difficulty levels to add to the editor guidelines. Should we add instructions for adding the editor information? Add the editor as a reviewer?

[2016-06-17 21:05] wcaleb commented on #133
It definitely shouldn't be as reviewer---put it in a new field as "editor" and we can figure out later how to display it. We can always display the editor with the reviewers if that's what we choose, but putting the editor in his/her own field preserves the option to display it separately.

[2016-06-17 21:19] jerielizabeth commented on #244
Added difficulty information (per comment #91). In process of searching, I found Fred's issue about adding the primary editor to the YAML as well (comment #133).

[2016-06-17 21:23] jerielizabeth commented on #133
@wcaleb that makes good sense to me! Are there formatting things we should keep in mind so that the editor name corresponds with the information in the author.yml file?

[2016-06-17 21:39] jerielizabeth commented on #252
I cannot take on more right now (barely keeping up with editorial responsibilities). This could be a great way to bring someone else onto the team (per Miriam's suggestion).

[2016-06-17 21:45] wcaleb commented on #133
Probably first name and last name is fine. We won't need to pull in
other information from the authors.yml file to display the editor's
name, probably.

[2016-06-21 06:41] acrymble commented on #246
We've had someone come forth offering to translate @mdlincoln 's SPARQL tutorial intot Spanish. They'd like to incorporate the translation into the site. I think we've now got evidence that we've got a market for Spanish translation as a start.

My suggestion is that the editorial board moves on this quickly to keep this momentum. I'd like to suggest we seek a dedicated Spanish editor to lead this

[2016-06-21 07:11] acrymble commented on #143
Related to issue #246, I think the only way for this to get off the ground is to recruit someone to take it forward as a dedicated task. I'd like to add this to our discussion at the editorial board and I'm very happy to draft a call with @ianmilligan1 to initiate recruitment on that basis. We're too stretched to add this to someone's current portfolio.

[2016-06-21 09:33] acrymble commented on #119
This is now part of the editor guidelines (though it could use some expanding).
http://programminghistorian.org/editor-guidelines

[2016-06-21 09:33] #119 closed

[2016-06-21 09:42] #250 closed, assigned to nobody

[2016-06-21 09:45] acrymble commented on #252
I think we're going to need to look outside the editorial board for this.

[2016-06-21 12:08] ianmilligan1 commented on #143
Agreed, @acrymble. Let me know when you wanna chat. I'm back Canada-side for the next two weeks starting on Thursday, so schedule is pretty open.

[2016-06-21 12:08] ianmilligan1 commented on #246
Sounds good, @acrymble.

[2016-06-21 12:46] acrymble commented on #255
This was fixed by a pull request. She's also been added to the lessons.md page.

[2016-06-21 12:46] #255 closed, assigned to nobody

[2016-06-21 12:49] acrymble commented on #134
This is an old idea but a good one. We should add this to author guidelines moving forward so that we start collecting abstracts on all new lessons.

[2016-06-21 13:12] acrymble commented on #169
Closing this as these issues are covered by #193 and #134.

[2016-06-21 13:12] #169 closed, assigned to nobody

[2016-06-21 13:30] acrymble commented on #243
Does this page still serve a purpose? We don't update it regularly, and if someone is REALLY writing a lesson it should have a ticket on the submission's page. The only reason I can think of for keeping it is if someone gets hit by a bus so that we know who (in theory) they were working with.

[2016-06-21 13:37] ianmilligan1 commented on #243
To be honest, I haven't been the best at keeping it updated for the reasons you outline..

[2016-06-21 13:39] acrymble commented on #220
@fredgibbs @ahegel @tapar001 @jerielizabeth @wcaleb this is still waiting on a 1 sentence contribution from you. If you don't think this is worthwhile (I'm now less convinced) then please say so. At the moment we've got a half-implemented solution, which is not good practice.

[2016-06-21 13:40] acrymble commented on #220
Related to my above comment, I think it's more relevant for a potential reader/contributor to know that @ianmilligan1 is actively involved in editorial work and that @tapar001 is not than the approach we've done so far. We've gone with a model that showcases a flat structure, but that's not really useful for our readers who want to know who to contact.

[2016-06-21 14:05] jerielizabeth commented on #246
Sounds good to me!!

##

Jeri E. Wieringa
Digital Publishing Production Lead, George Mason University Libraries
PhD Candidate, Department of History and Art History
George Mason University
www.jeriwieringa.com

On Tue, Jun 21, 2016 at 5:08 AM, Ian Milligan notifications@github.com
wrote:

[2016-06-27 06:39] acrymble opened #261 "Editorial Meeting agenda 28/06/16"
Leaving this to @ianmilligan1 but just to start off:
#246 - Spanish Translation recruitment
#143 - Software Carpentry recruitment

Please add any topics as you like.

[2016-06-27 12:59] ianmilligan1 commented on #261
👍 Sounds good - safe travels tomorrow @acrymble!

I'd also like to discuss
#252 - Ombudperson
#251 - Blog page reformatting
#244 - Guidelines for editors
#243 - Pipeline page

[2016-06-27 14:23] wcaleb commented on #134
In working on #251, I discovered that Jekyll includes an easy way to generate an "excerpt" of the page for use in the RSS feed and elsewhere. By default the excerpt is just the first paragraph of the page, but it is possible to [customize the excerpt](https://jekyllrb.com/docs/posts/#post-excerpts) and even override it with an explicit "excerpt" value in the YAML front matter. This may be an easie

[2016-06-27 14:26] wcaleb commented on #91
Closing this because I think it's more or less done---if we spot lessons that still need the difficulty indicators, we can add them as we find them.

[2016-06-27 14:26] #91 closed

[2016-06-27 14:30] wcaleb commented on #261
In case you haven't seen, the _Journal of American History_ just published a [review of our site](http://jah.oxfordjournals.org/content/103/1/299.2.full) by @lmullen. His comments about trying to offer users pathways through lessons is something we've talked about before, and is related to #193, so if we have time perhaps we should revisit the discussion---if not in this meeting then in the next o

[2016-06-27 14:42] ianmilligan1 commented on #261
Sounds good! Don't have access to the review yet.. any chance a PDF could fall off the back of a truck before our call? ;)

Do you want to chair the call @wcaleb? It has really dawned on me that I'm applying for tenure on Thursday so my mental energy is a bit divided this week.

[2016-06-27 14:43] wcaleb commented on #261
Sure, @ianmilligan1, I can do that. I don't have everyone's contact info: are you still able to get the call started and then bow out if you need to? (That Thursday deadline is way more important!)

[2016-06-27 14:44] ianmilligan1 commented on #261
Aye @wcaleb – Skyping everybody together is my cup of tea. 👍

[2016-06-27 14:53] #189 closed, assigned to wcaleb

[2016-06-27 15:22] wcaleb commented on #244
Should we suggest standardizing spelling to either American or British English? Question arose because I'm noticing lots of summarising/summarizing type words in the guidelines themselves.

[2016-06-27 15:43] wcaleb commented on #251
@tapar001 I've made some preliminary changes to the layout. Let me know what you think.

[2016-06-27 15:51] acrymble commented on #251
I like it. note problem with break falling in the middle of a link (post on Edinburgh). But I like it.

[2016-06-27 16:03] tapar001 commented on #251
This looks fantastic, Caleb! Exactly what I was thinking of. Thank you!

As the blog populates I wonder if it'd make sense to add a max number of
posts to display per page so readers aren't scrolling down the page for too
long.

On Mon, Jun 27, 2016 at 10:51 AM, Adam Crymble notifications@github.com
wrote:

##

Evan Taparata
Immigration History Fellow, PRI.org
http://www.pri.org/people/evan-tapara

[2016-06-27 16:13] wcaleb commented on #251
There is a way to limit number of posts displayed, but I'll have to think about how to do that while also allowing users to see all posts if they want to---perhaps a separate "Archives" page with a complete listing that looks more like the old one.

[2016-06-28 15:45] wcaleb commented on #244
Things we need to discuss for #261:
- [x] when to switch to dedicated image folder system
- [x] where to put main editor in YAML (currently says in reviewers, but I suggest separate field)
- [x] standardizing spelling?

[2016-06-28 15:50] wcaleb commented on #246
Things to discuss at #261:
- [x] recruiting of an editor
- [x] how/whether to actually integrate under our site, or different URL/fork

Could potentially use [CSS selectors](http://stackoverflow.com/a/4718706), but this would make our lesson files very long and bulky. Another option could be to treat translations as `_includes`.

[2016-06-28 15:52] wcaleb commented on #143
Things to discuss for #261:
- [x] drafting a call for someone to lead this
- [x] how this relates to other recruitment initiatives for #246 and #252

[2016-06-28 16:16] ianmilligan1 commented on #246
We discussed this on our call:
- recruiting of an editor, if we have an open call we could put this in a bullet point list of things we're interested in;
- if it's just one or two lessons at this point, we'll incorporate with links on the lesson homepage as well as the lessons itself to Spanish (or other language options).

[2016-06-28 16:22] ianmilligan1 commented on #143
We discussed this. We're happy for Software Carpentry to use our material, of course, as we discussed earlier (they're doing so).

@jerielizabeth is quite busy, but will try to write something up before our next editorial call in three/four weeks about working with her [DH Bridge](http://dhbridge.org/) project.

When we recruit a new editor, we will also add Software Carpentry/in-person training i

[2016-06-28 16:29] ianmilligan1 commented on #252
We discussed this at our call.

[2016-06-28 16:31] #251 closed, assigned to nobody

[2016-06-28 16:38] wcaleb commented on #261
We discussed the blog and ways to solicit posts:
- Look specifically for guest posters who could discuss the process of using a lesson "in the wild"
- I will write something about the new submissions process
- Advertise on Twitter that we want guest posts

[2016-06-28 16:46] wcaleb commented on #244
@wcaleb will work on switching all old lessons and all submitted lessons to new `figure` syntax based on images in dedicated folder. Code that once looked like this:

[code]

will then look like this:

[code]

[2016-06-28 16:49] acrymble commented on #246
Should I hold off drafting a recruitment text till next meeting? Sorry just about to board plane. But they had wifi :)

[2016-06-28 16:49] wcaleb commented on #244
Will need to update the guidelines to put editor in its own YAML field and then edit the template so that the editor is displayed along with reviewers, for now. We also want to include a YAML field that includes the ticket number of the open review issue on the ph-submissions repo. @jerielizabeth will work on both of these.

[2016-06-28 16:57] wcaleb commented on #244
We decided to leave spelling conventions (American or British) to the preference of the editor and author.

[2016-06-28 17:07] wcaleb commented on #243
We discussed this in #261 and decided that the pipeline page does serve two purposes: (a) advertising to potential authors the kinds of lessons we are interested in, something discussed on #152 and (b) preventing duplication of effort with multiple authors working on the same topic. However, we decided that it's not super important to keep track of _where_ a lesson is in the pipeline: the only dis

[2016-06-28 17:07] wcaleb commented on #261
Present on the call were @ianmilligan1 @ahegel @jerielizabeth @tapar001 and @wcaleb

[2016-06-28 17:07] #261 closed, assigned to nobody

[2016-06-28 17:08] #133 closed, assigned to nobody

[2016-06-28 17:10] wcaleb commented on #246
If you want to draft something, that would be fine---our thought was to write a blog post listing some of the editorial needs that we currently have (translation, ombudsperson, social media, Software Carpentry) in a bullet-type list. In addition to publishing that, we also discussed a few specific people that we could specifically send the list of needs to, inviting them to join us as editor eithe

[2016-07-01 10:41] amandavisconti commented on #193
I like the new categories and @ahegel's mockup! Would there be any worth in using [Isotope JS](http://isotope.metafizzy.co/) to let visitors find/sort lessons by a couple parameters: the new categories as default, but maybe also by tool (name: Omeka and/or method: topic modeling), by date, and by difficulty (as @ahegel suggests?).

@acrymble Not sure if you'd found someone to help with this over t

[2016-07-01 17:50] acrymble commented on #193
Thanks @amandavisconti I've not used Isotope JS. @wcaleb is primarily responsible for keeping the website sustainable so I'll have to let him chime in on that. I've tried to get a start on this over on our submissions site: https://github.com/programminghistorian/ph-submissions/blob/gh-pages/lessons/index.md

But as you can see I didn't get very far, in part because of the way CSS is set up over t

[2016-07-05 06:05] acrymble commented on #246
We are currently actively recruiting for this role. Please see full details: http://programminghistorian.org/posts/spanish-editor

[2016-07-05 13:22] ajspadial commented on #246
@ivetteaddington 's blog (http://ivetteaddington.com/post1/) includes some ideas for making a multilingual Jekyll.

[2016-07-05 20:52] IvetteAddington commented on #246
Thanks @ajspadial for the blog post shout out!
If anyone has any question about the code or if there is anything I can do to contribute to making the site bilingual, please let me know.

[2016-07-06 18:11] acrymble opened #262 "difficulty level needed SPARQL lesson"
@mdlincoln your lesson has no difficulty rating! Oversight, but as I didn't edit this I don't know what value to put in. There may be other lessons that have the same problem but I don't know a quick way to check.

http://programminghistorian.org/lessons/graph-databases-and-SPARQL

[2016-07-06 18:22] mdlincoln commented on #262
Probably a 2 or a 3, I'd guess. @fredgibbs edited it; he may have an opinion.

[2016-07-06 19:38] fredgibbs commented on #262
my vote is for 2. it's a very clearly written lesson, but the conceptual (if not technical) difficulty is sufficiently advanced that, in comparison to many other lessons, i think a 1 would be misleading.

[2016-07-07 04:25] versae commented on #246
Well, I always liked the Programming Historian idea, and even tried to get one story published once, and I think I can help with the Spanish version, maybe even under `http://es.programminghistorian.org`, ala Wikipedia, defaulting to English.

[2016-07-07 12:38] acrymble commented on #246
Just a point of clarification because I've had a few queries and misunderstandings.

This is not a job posting. It's a posting for an academic service position. You don't need to have a PhD to apply.

We're also not expecting the person to sit down and translate everything for us. We'd like the material to start shifting into Spanish over time, but we're looking for someone to be active participan

[2016-07-07 21:18] #252 closed, assigned to nobody

[2016-07-08 16:01] #192 closed, assigned to fredgibbs

[2016-07-08 16:05] wcaleb commented on #192
Important changes here that you should all be aware of. I have updated our site and our workflow instructions to reflect a new system for handling images:
- All images for a lesson should be placed in a subdirectory within the `images` folder.
- The subdirectory should be named with the same URL slug used to name the lesson.
- The `figure.html` syntax now only requires the image `filename` and the

[2016-07-08 18:03] vgayolrs commented on #246
Hi, I'm one of the Cibercliografia's editors who began, few months ago, the translation of the programming historian. I stopped it, among other things, because I had lot of academic workload (I was teaching Spring 2016, finishing a book, etc...), and because I saw that it has appeared the printed version (PDF), with some changes. I will be very interested in continue working with the spanish trans

[2016-07-09 14:43] wcaleb opened #266 "Corpus Analysis lesson needs figure syntax"
It looks like all the images for the Corpus Analysis lesson by @heatherfro are currently hosted on the author's Wordpress site. It looks like we have all the images in a [subdirectory in our repo](https://github.com/programminghistorian/jekyll/tree/gh-pages/images/froehlich), but several things still need to be done:
- [ ] That subdirectory needs to be renamed to `corpus-analysis-with-antconc`
- [

[2016-07-09 14:45] wcaleb opened #267 "Jekyll lesson needs figure syntax"
The images in our Jekyll lesson by @amandavisconti need to be updated with the [syntax for figures](http://programminghistorian.org/new-lesson-workflow#figures): I could do this myself, but it might be good for author or editor to go through and give each image a descriptive caption. (The caption also becomes the `alt` text under the hood, so calling them all "screenshot" makes them less accessibl

[2016-07-09 17:35] amandavisconti commented on #267
I can do this.

[2016-07-10 09:02] acrymble commented on #246
Thanks @vgayolrs. Is that an official expression of interest?

[2016-07-10 09:02] acrymble commented on #246
The DH+LIB group are looking into translation of DH materials. Worth keeping them in mind and reaching out when we can: http://acrl.ala.org/dh/2016/06/22/building-a-dhlib-community-with-a-global-outlook/

[2016-07-10 14:07] vgayolrs commented on #246
You're wellcome @acrymble . Yes, it is. I can star by reviewing the materials I've translated. By the other hand, I'm in touch with two postgraduate students, very fluent in Spanish and English (and interested in DH), with whom we can work in coordination. Translate to Spanish The Programming Historian (or anything that refers to Digital History),  also means adapting it to the Spanish-speakin sch

[2016-07-14 07:56] acrymble commented on #246
Thanks @vgayolrs we've still got the nomination process open until the end of July, but we'll be in touch shortly thereafter.

[2016-07-20 21:39] tapar001 opened #268 "Adding author info for guest blog posts"
Just posted Liz Venditto's guest post and realized that since's she a guest contributor, the "About the author" field at the bottom of the post is blank.

Possibilities as I see them:

1) Remove "About the author" for guest posts?
2) Create a brief bio for each guest author?

Ideas? @wcaleb do you have any strong feelings about whether 1 or 2 above would be more appropriate, or maybe you have anot

[2016-07-20 23:20] wcaleb commented on #268
Second option preferable. Add her in the _data/authors.yml file with a brief bio.

Sent from my iPhone

W. Caleb McDaniel
Associate Professor of History
Duncan College Master
Rice University

http://wcm1.web.rice.edu/
http://www.duncancollege.net/

[2016-07-20 23:33] tapar001 commented on #268
Got it, thanks @wcaleb!

[2016-07-20 23:33] #268 closed, assigned to nobody

[2016-07-21 08:17] #262 closed, assigned to nobody

[2016-07-24 09:49] acrymble opened #270 "JSON lesson image needs to be greyscale"
Lesson icon: http://programminghistorian.org/lessons/json-and-jq

this is in sepia. All of the other images are greyscale.

[2016-07-24 16:13] ianmilligan1 commented on #270
This is why you shouldn't let the colour blind person near the site.

[2016-07-24 16:35] #270 closed, assigned to nobody

[2016-07-25 18:33] fredgibbs commented on #266
fixed with 76621e3

[2016-07-25 18:33] #266 closed, assigned to nobody

[2016-07-26 19:31] acrymble opened #271 "Suggested time limit for authors?"
Query for the community & editors. This is not targeted at anyone in particular, so I hope no one feels singled out, but one of our big bottlenecks in our editorial pipeline (if not the biggest) is the time authors take to do revisions after they get feedback. We've got a number of lessons that have now been in the pipeline for almost a year (if not more) and that's not a new phenomenon. I can't s

[2016-07-26 19:36] acrymble opened #272 "Editorial Meeting agenda 28/07/16"
Please add suggestions for this week's editorial meeting agenda. In addition to general updates from the team, I suggest:
#246 Spanish Translation (to subcommittee)
#244 Guidelines for Editors (JW to update and push changes)
#219 header-level style guide lines (FG to update)
#193 Lesson categories suggestion (Amanda to do?)
- Replacement for Ian as lead contact for 2016-2017. (Jeri W to start 1 Oc

[2016-07-26 19:48] amandavisconti commented on #271
I like that you're thinking about keeping the atmosphere supportive. Having an explicit deadline (maybe with a caveat that we're happy to work with authors to come up with an alternative deadline, if they know in advance they'll need more time?) could function as encouragement to finish (e.g. all the DH conference proposals going in at 11:59pm October 31st...).

I'm also wondering about introducin

[2016-07-27 12:50] acrymble commented on #83
This is over a year old. I suspect we don't need it if we haven't had any cause to do it. Reopen if needed.

[2016-07-27 12:50] #83 closed

[2016-07-27 12:52] acrymble commented on #141
This is another old topic. I am going to suggest we drop this idea as it hasn't found a champion. I suspect this will start to look unwieldly as the list of reviewers continues to grow, but I agree that the large paragraph of names isn't perhaps the nicest format.

[2016-07-28 00:38] jerielizabeth commented on #244
Thank goodness for notes in the issues, since I have lost mine. For the keys for the editors and the review ticket, what about the following?

`editors`
`reviewID`

I'm making changes to the editor-guidelines locally, and will push up once we are happy with naming!

[2016-07-28 03:03] jerielizabeth commented on #143
Hi all,

My apologies - I underestimated the time requirement of DH2016. I won't have something by this call, but I will write something more formal ASAP! But for the short term ...

DH Bridge is a curriculum for 1-2 day workshops for teaching computational thinking and technical skills. The contributions here are that the emphasis on using computation in the service of humanities questions and on

[2016-07-28 15:21] mdlincoln commented on #271
As a general rule, I find deadlines a wonderful help in actually getting work done 😄  And I think setting a general standard (whether it be 1 or 2 months) would not be detrimental to fostering a constructive atmosphere. On the contrary, open-endedness can itself be daunting ("if I have unlimited time, do I need to make an endless set of corrections!?") as was already noted and addressed in #238 re

[2016-07-28 15:48] wcaleb commented on #244
Maybe `review-ticket` instead of `reviewID`? Since we've been using that vernacular to refer to them, it might make clearer what it means.

[2016-07-28 16:03] jerielizabeth commented on #244
Sounds good to me!

[2016-07-28 16:26] jerielizabeth commented on #244
Add step in Acceptance and Publication to update the publication date.

[2016-07-28 16:27] wcaleb opened #273 "Show last modified date on lessons"
See if this can be automatically generated without a plug-in.

[2016-07-28 16:27] jerielizabeth commented on #244
Changes to be pushed up:
- [x] Add instructions to add `editors` yaml key and editor names
- [x] Add instructions to add `review-ticket` yaml key and the ticket id in ph-submissions
- [x] Add step regarding updating the publication date.
- [x] Add to "Role of the Editor" information about setting the expectations for submitting revisions -- deadline of 4 weeks after peer review submitted. Include

[2016-07-28 16:28] acrymble commented on #219
@fredgibbs to add to http://programminghistorian.org/new-lesson-workflow

[2016-07-28 17:06] acrymble opened #274 "need a page for our activities"
These are currently hidden:

https://github.com/programminghistorian/jekyll/wiki/Scholarly-activities
https://github.com/programminghistorian/jekyll/wiki/People-who-use-the-Programming-Historian

I will look at how others have done this and report back.

[2016-07-28 17:16] acrymble commented on #271
Thanks @amandavisconti and @mdlincoln. We've discussed this in our editorial call and we've decided to bring this in for lessons that aren't already in the pipeline. The exact details will be added to the site by @jerielizabeth, but it'll involve a 1 month turnaround on revisions to ensure lessons get out in a timely manner. We will revisit this if new problems arise. Will close this once the site

[2016-07-28 17:22] #272 closed, assigned to nobody

[2016-07-28 19:00] acrymble commented on #274
A brief survey of how other projects highlight scholarly activity and uses of the project:
- A sub-page on the 'about' section. Zooniverse.org: https://www.zooniverse.org/about
- A sub-page on the 'The Project' section. Old Bailey Online: https://www.oldbaileyonline.org/static/Project.jsp
- A page of its own ("Publications") The Bentham Project: http://www.ucl.ac.uk/Bentham-Project/publications
-

[2016-07-29 01:48] jerielizabeth commented on #244
Potential language for the "Role of the Editor" section regarding time to revision. Does this capture our conversation and conclusions well enough?

`### Managing the Revision Process`

With your summary of the reviews and any final instructions for the editor, include a reminder to the author that revisions should be completed within four weeks. This is to clearly indicate expectations and to hel

[2016-07-29 13:08] acrymble opened #275 "editor name on powershell"
https://github.com/programminghistorian/jekyll/blob/gh-pages/lessons/intro-to-powershell.md

No editor listed in reviewer list. @jerielizabeth this was you, no?

[2016-07-29 13:20] #275 closed, assigned to nobody

[2016-07-29 13:21] jerielizabeth commented on #275
Indeed! :) I just added myself and added the review ticket information.

##

Jeri E. Wieringa
Digital Publishing Production Lead, George Mason University Libraries
PhD Candidate, Department of History and Art History
George Mason University
www.jeriwieringa.com

On Fri, Jul 29, 2016 at 9:08 AM, Adam Crymble notifications@github.com
wrote:

[2016-07-29 13:22] jerielizabeth commented on #271
Let me add this here as well:

Potential language for the "Role of the Editor" section regarding time to revision. Does this capture our conversation and conclusions well enough?

### Managing the Revision Process

With your summary of the reviews and any final instructions for the editor, include a reminder to the author that revisions should be completed within 4 weeks. This is to clearly indica

[2016-07-29 13:32] acrymble commented on #271
I think the last line is a bit confusing. I might just leave it off.

[2016-07-29 14:37] fredgibbs commented on #271
i agree with @acrymble. i think the last line should be something like "If the author anticipates trouble meeting the deadline, they should contact their editor to establish a more suitable due date."

I keep tripping over "to clearly indicate expectations" (in part because the whole document is about indicating expectations). I'd say something like "This is to ensure that lessons are published in

[2016-07-29 20:22] amandavisconti commented on #267
[Fixed](https://github.com/programminghistorian/jekyll/commit/0f31c35df1cc1c0bd6d75abb36796774c00e57b9).

[2016-07-29 20:22] #267 closed, assigned to amandavisconti

[2016-07-30 13:52] jerielizabeth commented on #271
Great! Thank you and I'll move forward with the adjusted language!

[2016-07-30 14:03] jerielizabeth commented on #244
Language I am adding to the new-author-workflow:

Your revisions should be completed within 4 weeks of receiving guidance from the editor on how to respond to the peer review. This is to ensure that lessons are published in a timely fashion and do not drag on unnecessarily. If you anticipate having trouble meeting the deadline, you should contact your editor to establish a more suitable due date.

[2016-07-30 14:06] acrymble commented on #244
looks good

On Sat, Jul 30, 2016 at 3:03 PM, Jeri Elizabeth notifications@github.com
wrote:

[2016-07-30 14:19] jerielizabeth commented on #244
I would like to move that any additional changes to the editor guidelines go in a new issue :)

[2016-07-30 14:28] acrymble commented on #244
ya of course. if these issues are all done I think you're right you should close it.

[2016-07-30 14:38] #244 closed, assigned to fredgibbs

[2016-08-01 08:57] acrymble commented on #246
Thanks to everyone who has applied. We'll be in touch with you shortly. This issue is now closed.

[2016-08-01 08:57] #246 closed, assigned to acrymble

[2016-08-01 10:20] acrymble commented on #274
I've put these on our about page, which seemed the most appropriate place. In the process I did some tweaking and moved the 'add to library catalogue' bit to the 'contribute' page.

[2016-08-01 10:20] #274 closed, assigned to nobody

[2016-08-01 10:23] acrymble commented on #271
This was fixed by the recent commit by @jerielizabeth .

[2016-08-01 10:23] #271 closed, assigned to nobody

[2016-08-01 10:24] acrymble commented on #220
I think this is complete for our lesson-editing-editors. Reopen if needed.

[2016-08-01 10:24] #220 closed, assigned to fredgibbs

[2016-08-01 10:27] acrymble commented on #193
@amandavisconti, related to #180
We have been added to the DOAJ repository, which is good because it makes it easier for institutions like libraries to index us. We've been asked to add the following however:

1) An annual publications page in addition to our /lessons directory. I suspect this should be quite easy to do?

Can this be part of your new lessons page redesign, or is that outside of th

[2016-08-01 11:35] amandavisconti commented on #193
Does "an annual publications page" mean a page dividing the lessons by year published? If so, I could either make that a filtering option (sort lessons by year published) and/or make a separate page (that pulls in new lessons, maybe by adding "year published" metadata to each lesson's yaml?)—preferences?

[2016-08-01 11:37] acrymble commented on #193
Yes they just want to see what was published each year. They're still thinking in terms of the way old-style journals operate. The date of publication is already in each lesson's YAML.

A sort option should be fine if that's the technology you're already using.

[2016-08-01 11:46] amandavisconti commented on #193
Great, I'll include this feature.

[2016-08-05 14:44] jerielizabeth opened #276 "Diacritical marks not covered by the theme font"
Hi all!

I have a lesson about to be moved over with some diacritical marks that appear to be rendering in a different font. (http://programminghistorian.github.io/ph-submissions/lessons/editing-audio-with-audacity) Do we know if Lato supports Vietnamese characters?

[2016-08-05 14:47] wcaleb commented on #276
Hmmm ... [this list](https://www.fontsquirrel.com/fonts/list/language/vietnamese) suggests it does. Maybe the character needs to be inputted a certain way? Using a Unicode number? I confess I'm a bit out of depth here.

[2016-08-05 14:57] jerielizabeth commented on #276
I'll look into whether there is another way to enter them! Thanks!

[2016-08-05 16:53] jerielizabeth commented on #276
it appears to be a weight problem -- Lato has the characters, but only at 400 weight.

[2016-08-05 21:16] #276 closed, assigned to nobody

[2016-08-05 21:17] wcaleb commented on #276
It's not an ideal fix, because it will only cover some cases, but I made the "credits" box use the 400 weight in our stylesheet.

[2016-08-15 13:59] ianmilligan1 opened #277 "Links broken in "From HTML to List of Words" (and others)"
From one of our readers on the e-mail account: the Old Bailey Online print view that we use in a series of lessons, notably the HTML to List of Words ones (i.e. [1](http://programminghistorian.org/lessons/from-html-to-list-of-words-1) and [2](http://programminghistorian.org/lessons/from-html-to-list-of-words-2)) is broken.

The link at https://www.oldbaileyonline.org/print.jsp?div=t17800628-33 gen

[2016-08-16 13:05] acrymble commented on #277
Thanks Ian. I'll have to go through those all soon and repair them. I know they're starting to creak.

[2016-08-18 11:58] amandavisconti opened #278 "Update Jekyll lesson"
GitHub Pages are now [easier to publish](https://github.com/blog/2228-simpler-github-pages-publishing), so I should edit the lesson so the potentially confusing part about choosing a branch is less confusing.

[2016-08-19 15:18] fredgibbs commented on #219
fixed with 8009339. Regarding Adam's earlier comment about all the various tags we might use to style things (which makes the Markdown considerably clunkier), we're now using the standard GitHub style to handle those cases. We can have more consistent lessons the fewer kinds of the styling we ask authors to think about. I think the new-lesson-workflow page has just about every kind of formatting a

[2016-08-19 15:18] #219 closed, assigned to fredgibbs

[2016-08-22 21:29] wcaleb opened #279 "Make it easier for reviewers to reference particular lines"
See discussion here: https://github.com/programminghistorian/ph-submissions/issues/29#issuecomment-241490054

[2016-08-24 12:36] acrymble opened #280 "Spanish site logistics"
What's the best way to incorporate Spanish material on the site? I'm inclined to say we do it like wikipedia:

https://es.wikipedia.org/

so http://es.programminghistorian.org

But I haven't looked into the repercussions of that (technical and social).

[2016-08-26 02:42] tapar001 commented on #280
That sounds good to me! Though I'd be curious to hear how our new editors feel about it.

On a related note: I just posted Maria's translation of the Spanish language editorial announcement to the blog. Can we add a "translator" field to the YAML block? Right now she is credited as the translator, but the credit is at the bottom of the post. I'd prefer that the "Traducido por" credit appear at the

[2016-08-26 03:00] vgayolrs commented on #280
I've read Adam's post two days ago but I'm still thinking about that; maybe it could work. But definitely, we ned to separate the contents in each language.
About translator credits, may I suggest the model we use in Cibercliografia?
Here, an example:
http://cibercliografia.org/manuales/introduccion-a-python/trabajar-con-archivos-de-texto-en-python/

[2016-08-26 06:47] acrymble commented on #280
I don't think that the translation will go one-way (Spanish-to-English), and the solution should take into account the possibility of future languages.

[2016-08-26 14:23] acrymble opened #281 "accents in avatars"
I've added the avatars for the new Spanish team and put them on the project team page, but those with accents (Víctor Gayol) or hyphens (Maria José Afanador-Llach) have both failed to display. @wcaleb can you advise?

[2016-08-26 14:23] acrymble commented on #281
Avatars are here: https://github.com/programminghistorian/jekyll/tree/gh-pages/avatars

[2016-08-26 15:07] wcaleb commented on #281
The problem is the accented characters, not the hyphens. Will have to
think about a work-around for this, as our YAML directory is set up so
that entries are "looked up" by name. In the meantime, I've hard-coded
those sections in the Project Team while I think about a work-around or
revamping of our system that can cover cases like this.

On Fri, Aug 26, 2016 at 07:23:41AM -0700, Adam Crymble wrot

[2016-08-29 00:31] vgayolrs commented on #281
Accented characters on PH web displays ok on my browser today. I don't know how do you fixed it. And I don't know exactly how do you create the website. But to solve further problems there are two options. 1) modify the css style sheet with the line: "meta http-equiv="Content-Type" content="text/html; charset=utf-8" before "head": 2) ask editors to send text in plain text with accents like: "V&iac

[2016-08-29 07:12] acrymble commented on #281
Thanks @vgayolrs, I think the problem is with the way github pages works. We're using utf-8 already, and I tried your HTML code solution, but it didn't work. You can take a look at the way the site is put together by looking at the code behind the project team page:

https://github.com/programminghistorian/jekyll/blob/gh-pages/project-team.md

It draws together the following:

https://github.com/p

[2016-08-30 17:13] acrymble opened #283 "image code in workflow description rendering wrong"
The instruction for inserting images in the new workflow: http://programminghistorian.org/new-lesson-workflow#writing-a-new-lesson

Is rendering the HTML rather than the code people need to insert in their lessons. This is confusing. Can we escape it?

Should read {% include figure.html filename="IMAGE-FILENAME" caption="Caption to image" %}

But is showing HTML

[2016-08-30 18:08] #283 closed, assigned to nobody

[2016-08-30 19:29] acrymble opened #284 "broken links in Query Strings lesson"
The recent Old Bailey Online crash has resulted in some minor changes to some urls. I need to fix this in the http://programminghistorian.org/lessons/downloading-multiple-records-using-query-strings lesson.

see http://www.oldbaileyonline.org/print.jsp?div=t17800628-33 for example.

[2016-08-30 21:14] acrymble commented on #277
Ok this was caused by a crash of the Old Bailey site in August and a subsequent change to their URL structure which is also affecting #284 . I've used this as an excuse to go through and overhaul all of these python lessons so they work again. Fixed broken links, made compatible with python 3, fixed broken zip files, etc. Hopefully no new issues.

I'll have to add proper icons for the lessons page

[2016-08-30 21:14] #277 closed, assigned to acrymble

[2016-08-30 21:38] ianmilligan1 commented on #277
That's fantastic!

[2016-08-31 07:20] acrymble opened #285 "Query Strings Lesson - OBO site is broken"
Related to #284 the problem with the Query Strings lesson (http://programminghistorian.org/lessons/downloading-multiple-records-using-query-strings) is actually that the Old Bailey Online website crashed in August 2016 and as a result a number of URLs were changed temporarily and the advanced search features were disabled. While the Old Bailey Online team fix this, this lesson will not work proper

[2016-08-31 07:21] acrymble commented on #284
this has been reopened as #285 which captures the problem more accurately.

[2016-08-31 07:21] #284 closed, assigned to acrymble

[2016-08-31 07:27] acrymble opened #286 "email address for contact?"
I just noticed that @fredgibbs is still listed as the contact on the 'Feedback' page (http://programminghistorian.org/feedback). @ianmilligan1 has been the contact for a year, I believe. So we obviously missed this one. To solve this in future I'd like to suggest we set up a editors@programminghistorian.org email. This will involve contacting CHNM and routing it through Gmail I would imagine. I th

[2016-08-31 14:25] ianmilligan1 commented on #286
I dunno, I gotta admit - having a personalized contact probably lowers the barrier slightly. You're actually corresponding with Person X at Institution Y, rather than impersonal e-mail.

[2016-08-31 14:43] acrymble commented on #280
@wcaleb the es.programminghistorian.org solution is popular amongst our Spanish editorial team. Can we implement that solution easily or are there barriers we need to consider? Their plan is to start translating some of the infrastructure pages (about, contribute, etc). Keeping these separate from the English site seems like a good sustainable choice, but you know the site better than I.

[2016-08-31 14:45] acrymble commented on #286
If that's the concensus I'm ok with that. We're just talking about doubling the number of pages with these contact details though ( #280 ). So I thought this might be easier.

[2016-08-31 14:50] vgayolrs commented on #280
@wcaleb and tell us how do you need the material. I thought the best way is to give you the text marked with html labels to retain the same distribution as the English site, but let me know what you think.

[2016-08-31 14:50] ianmilligan1 commented on #286
Next time I should just do a Find + Replace/All throughout, when @jerielizabeth takes over in Sept/Oct (Oct 1st?).

[2016-08-31 14:51] arojascastro opened #287 "List of Spanish reviewers and translators"
Hello,

We are starting to collect names of Spanish reviewers, translators and collaborators. I have just seen that you have already a page for this: **https://github.com/programminghistorian/jekyll/tree/gh-pages/_data**

Should we add our names to yours or create our own page?

Thanks!

[2016-08-31 14:54] acrymble commented on #287
Good question. This list is people who have already acted as a reviewer on a lesson. Is that what you mean, or are you talking about potential reviewers? In that case, we don't have a list of that anywhere.

[2016-08-31 14:55] arojascastro commented on #287
I see! I meant potential reviewers. In that case we can stick to our spreadsheet, right?

[2016-08-31 14:57] acrymble commented on #280
@vgayolrs It's a good idea to look at the format of a published lesson. For example: https://github.com/programminghistorian/jekyll/blob/gh-pages/lessons/from-html-to-list-of-words-1.md . The HTML is generated from markdown rather than included explicitly.

You can find instructions on how to write markdown here: http://programminghistorian.org/new-lesson-workflow#writing-a-new-lesson

Let us know

[2016-08-31 15:01] vgayolrs commented on #280
Thanks @acrymble . Working....

[2016-08-31 15:30] acrymble commented on #287
If that works for you guys that's fine. We don't have any private spaces for storing information that we don't want public.

[2016-08-31 18:22] sharonhoward commented on #285
As you've already noted, the print.jsp links are broken and the advanced search is not available, but in addition the Calculate Total function is not working. I don't know right now when these things will be fixed, but I hope to have a better idea in the next week or so.

NB: the Old Bailey API is also unavailable, which means that Vilja Hulden's 'Naive Bayesian' lesson won't be working either.

[2016-08-31 20:36] wcaleb commented on #286
We talked about this on the last Skype call ... but can't remember what we decided. I think there was broad support for a generic email address, but willing to be corrected!

[2016-08-31 20:37] ianmilligan1 commented on #286
Ah I missed the last call as I was on vacation, so that may explain all. 😀

[2016-08-31 20:43] wcaleb commented on #280
Sorry to be slow in catching up here.

It would be easiest to have the Spanish lessons written in Markdown, too.

As for the URL/organization, something like `es.programminghistorian.org` is far more complicated, on my understanding, than `programminghistorian.org/es/`. Perhaps worth a discussion on our next call.

[2016-09-01 06:41] acrymble commented on #286
If I put my honest hat on, I'm not so sure there was broad support. So we can leave this if that's the preference.

[2016-09-01 06:41] #286 closed, assigned to nobody

[2016-09-01 06:42] acrymble commented on #287
I think your question has been answered so I will close this issue. Reopen it if you need to.

[2016-09-01 06:42] #287 closed, assigned to nobody

[2016-09-01 06:42] vgayolrs commented on #280
@wcaleb about Markdown, I catch it. Thanks.

[2016-09-01 06:44] acrymble commented on #280
Sure @wcaleb let's put this on the meeting agenda. I came across this, which suggests subdomains are possible: https://help.github.com/articles/using-a-custom-domain-with-github-pages/

[2016-09-01 06:46] acrymble commented on #285
Thanks @sharonhoward for the update and for the warning about the Naive Bayesian. Hopefully we can get a fix soon.

[2016-09-01 10:33] acrymble commented on #285
I've added a warning also to the Hulden lesson. Thanks again @sharonhoward . Hopefully a fix soon. I will leave this ticket open until we're resolved.

[2016-09-02 16:21] fredgibbs commented on #286
Just wanted to make official my support for a personal email address rather than a generic one. I think it's more welcoming, which is very important. Also, having a custom email account gives us yet another thing to manage (and maybe someone else to manage as domain owner).

[2016-09-04 03:15] vgayolrs commented on #280
Ok. I get it. @acrymble and @wcaleb : I have tried to make subdomains once in a site (wordpress) like "http://es.programinghistorian...", but the best way was "http://programinghistorian/spanish/etc..." I'm trying to learn as quickly what happens in GitHub to ensure the best way to define the links.

[2016-09-04 03:25] vgayolrs opened #288 "Spanish site, where we store it?"
I finally understood  the process followed in PH. You want to integrate the translations in the same place or will create a special space for it?

[2016-09-04 08:24] acrymble commented on #288
This is a duplicate of #280 so let's keep the conversation in one place.

I think the important thing is that @wcaleb will determine where the lessons end up. You guys should just focus on making sure that they follow the style guidelines so that they can be integrated into the system. http://programminghistorian.org/new-lesson-workflow#writing-a-new-lesson

[2016-09-04 08:25] acrymble commented on #280
We can change the links using find/replace once we have sorted this out, so as long as you do something consistent for now we can update them later. We'll discuss this issue at our next editorial meeting so we won't have a solid answer before then.

[2016-09-04 08:27] acrymble commented on #280
@vgayolrs related to your question in #288, I hope you're doing your translation using the markdown files (https://github.com/programminghistorian/jekyll/tree/gh-pages/lessons) and not the HTML files on the live site (http://programminghistorian.org/lessons/). It sounds like you're confused about the difference between the two. Do you want to send us a sample lesson so we can see that you're on th

[2016-09-04 10:45] vgayolrs commented on #280
No, I get it now, there is no confussion. I'll send you some sample lessons to your email. its all right?

[2016-09-04 10:52] acrymble commented on #280
Let's use the Submissions website for this purpose. I've created a new folder for you to use to put them in and I've added you to the repo:

https://github.com/programminghistorian/ph-submissions/tree/gh-pages/lessons/spanish

Instructions are here: http://programminghistorian.org/new-lesson-workflow#submitting-a-new-lesson

Let us know if you get stuck.

[2016-09-04 10:52] vgayolrs commented on #280
Ok, woking...

[2016-09-04 11:19] vgayolrs commented on #280
@acrymble , done. You can see drafts of front page and the very first steps of Python introduction. Please check them all and tell me if there is something wrong. I have some doubts about 1) YAML, 2) images, 3) further information that is present in web version and not in raw version as "about the authors" and "suggested citation".
Spanish site urls can be changed when you are clear about the subd

[2016-09-04 13:33] vgayolrs commented on #280
@mariajoafana @arojascastro, can you check the drafts and suggest corrections? Thanks.
https://github.com/programminghistorian/ph-submissions/tree/gh-pages/lessons/spanish

[2016-09-04 13:34] mariajoafana commented on #280
Hi Victor, revising them right now!

[2016-09-04 13:58] arojascastro commented on #280
I'll work on this by Monday. Thanks for your patience!

El domingo, 4 de septiembre de 2016, mariajoafana notifications@github.com
escribió:

##

Enviado desde mi móvil

[2016-09-07 11:27] arojascastro commented on #280
I am wondering how you manage to track changes when revising a lesson on Github. If two editors are making corrections in the same file, how are we supposed to accept changes and merget both documents? Can you tell us a little about your experience on this? Thanks.

[2016-09-07 14:28] wcaleb commented on #280
@arojascastro Git should be able to merge any conflicts automatically, and if it can't (i.e., if you were both changing the same line), then it should tell you so and give you an opportunity to fix the conflict. See [this section](http://programminghistorian.org/lessons/getting-started-with-github-desktop#managing-conflicts) of our GitHub Desktop lesson, which may help.

[2016-09-09 17:39] vgayolrs commented on #280
@acrymble , @wcaleb , can you give me a hand? I just created a new folder (lecciones) in

https://github.com/programminghistorian/ph-submissions/tree/gh-pages/lessons/spanish

to keep separated lessons form other files with content of each page of PH site.

I need to relocate the translated lessons to that folder but I have not time right now to search the resource to do that. Any advice? Thanks i

[2016-09-09 18:44] wcaleb commented on #280
@vgayolrs This kind of operation requires you to either use command-line git or GitHub Desktop. I've moved the lessons into the `lecciones` folder now based on my best guess of what you are trying to do.

[2016-09-09 18:53] vgayolrs commented on #280
@wcaleb , thank you very much! That's exactly what I wanted to do in order to keep a similar organization to Jekill's one. I'll learn more about GitHub Desktop this weekend. Regards!

[2016-09-09 20:55] bmschmidt opened #289 "Broken links in Sparql lesson"
There are at least two broken links in the graph-databases-and-SPARQL.md lesson. One is to http://rdf.myexperiment.org/howtosparql? at the end. More critically, the page linked under 'Europeana's' in the following quote leads to a blank page, making it hard to follow along.

---

Up until now, we have constructed queries that look for patterns in one dataset
alone. In the ideal world envisioned by

[2016-09-12 03:02] mdlincoln commented on #289
Thanks for submitting this.
1. I would probably just remove http://rdf.myexperiment.org/howtosparql
2. This is _sigh_ a more serious issue. It looks like Europeana is no longer supporting the SPARQL endpoint, at least not in the form it was in when I wrote the lesson:
   ![screen shot 2016-09-11 at 7 33 46 pm](https://cloud.githubusercontent.com/assets/4392604/18423438/e734cf64-7859-11e6-80c9-0307

[2016-09-12 11:17] acrymble commented on #289
Thanks for flagging @bmschmidt. Let us know how Europeana responds @mdlincoln. That's the best first approach.

[2016-09-12 16:11] mdlincoln commented on #289
So the most detail they were able to share with me at this point is that they are working on a replacement endpoint, but that they do not have a timeline for when it will be back up, nor is there any news on whether it will use the same data mapping as it did when I authored the query used in this lesson.

I'll go ahead and put together a PR switching the one broken link, and adding a notice to th

[2016-09-12 16:17] acrymble commented on #289
This is why I publish datasets instead of websites. We've had a similar problem with the Old Bailey Online: #285 . Editors, please keep this in mind as new lessons are being produced. This is not a good use of our time.

[2016-09-13 10:50] acrymble commented on #289
@mdlincoln can you email me the contact address you used at Europeana. I'm going to lobby them to see if we can get them to produce a solution. If international libraries cannot offer consistent access to services then who can?

[2016-09-15 20:29] ianmilligan1 commented on #197
So when I said "might be a bit of time," I wasn't joking. But thanks again for this!

[2016-09-15 20:29] #197 closed, assigned to ianmilligan1

[2016-09-15 20:38] ianmilligan1 commented on #281
@wcaleb I saw that the hard-coded sections in the [Project Team](http://programminghistorian.org/project-team) page had blown up the markdown code that followed. I switched it over to HTML in a94f80149f372a17ac1fc6e35c5648637a3f58c3 until the accent issue is all resolved.

[2016-09-16 14:10] wcaleb commented on #281
@ianmilligan1 Thanks for catching that. The problem was just that I didn't close the `div` tags when inserting the HTML. Doing that in 7b3f1457852dd98b9036c91bf7a8006349304d5e appears to fix the problem.

[2016-09-18 07:51] acrymble opened #291 "Editorial Meeting agenda 29/09/16"
I will be a few minutes late to this meeting. **Can someone volunteer to initiate the Skype call?**

Things to discuss for our upcoming editorial board meeting. Please add additional suggestions:
- Welcome to Amanda, Maria, Victor and Antonio.
- #193 - new lessons page progress (Amanda)
- #280 - Spanish site logistics
- #222, #223, #224, #225 - Hypothesis feedback
- #273 - last modified date
- #27

[2016-09-18 12:37] amandavisconti commented on #291
@acrymble Is there a central place we list our Skype handles? I think I've only given mine to you, and I don't have anyone else's. Thank you!

[2016-09-18 12:54] acrymble commented on #291
No it's just something you build up yourself. I don't think anyone's skype name includes anything silly like super_cool_d00d45, so you should be able to find everyone through search.

[2016-09-18 14:58] ianmilligan1 commented on #291
Happy to initiate the Skype call, as I've done that a few times.

Amanda, Marie, Victor, and Antonio – can you add me on Skype if you have a chance before then. I'm at ian.e.milligan.

[2016-09-18 16:13] vgayolrs commented on #291
@ianmilligan1 : done. @amandavisconti : mine is victor.gayol if you want to add me.

[2016-09-19 10:46] acrymble commented on #289
Europeana has a grant call out right now to use their resources. Up too 8k euros. @mdlincoln do you think this is a fit that could fix the problem? Or is it much bigger than that? http://research.europeana.eu/blogpost/europeana-research-grants-2016

[2016-09-19 16:39] mariajoafana commented on #291
I just added you @ianmilligan1
@amandavisconti my skype user is: mariajollach
Right now I'm not sure that I'll be able to be in the meeting, I'll be at a conference/workshop. As soon as I have a clear idea of the schedule I'll let you know if I'll be able to the there.

[2016-09-19 16:46] ianmilligan1 commented on #291
OK thanks @mariajoafana – accepted your invite. Please do keep us posted!

[2016-09-19 19:44] mdlincoln commented on #289
@acrymble The folks at Europeana Labs did confirm with me that a new version of their SPARQL endpoint is being developed, but that it will be several months from now. It's an internal project, so it wouldn't fit with that grant (also it'd be quite a bit costlier than 8k€!)

[2016-09-19 23:30] tapar001 opened #292 "Images in blog posts"
I just published a post to the blog, but I'm running into a snag with images.

I tried to follow the procedure for how images are included in lessons on PH, but the images aren't showing. Check it out [here](http://programminghistorian.org/posts/distant-reading-in-the-undergraduate-classroom), about half-way into the post.

Do we need a separate Images folder for blog posts? Any assistance on sett

[2016-09-19 23:37] tapar001 opened #293 "Using hashtags in blog titles"
One more blog question!

I wanted to make the title of this blog post #TeachingWithDH: Distant Reading in the Undergraduate Classroom (in an attempt to get people to participate with blog posts on social media using that hashtag). But I had to cut everything before "Distant" because the post wouldn't load when I included the # and the : in the title.

Any tips on how to include hashtags and colons

[2016-09-19 23:45] amandavisconti commented on #292
It looks like the broken URL has two slashes after the images folder (...images//post...), and also is looking inside a /posts folder for the images:
http://programminghistorian.org/images**//posts**/distant-reading-in-the-undergraduate-classroom/distant-reading-02.png

I think that isn't coming from how you've written your figure include in the post, so I'm thinking it's something with how the /_

[2016-09-19 23:49] amandavisconti commented on #292
I do think I see where the // is coming from now (in _includes/figure.html):

`<img src="../images/{{ page.url | remove_first:'/lessons/' }}/{{ include.filename }}"`

When there is no /lessons/ to remove, that means the path would just become `"../images//{{ include.filename }}"`

Still not sure where the `posts` part of the path is coming from...

[2016-09-19 23:52] amandavisconti commented on #293
Does putting the title inside quote marks help?

title: "#TeachingWithDH: Distant Reading in the Undergraduate Classroom"

I did that on my most recent blog post and it worked (though I feel like I had tried it in the past and it didn't work for some reason?)

[2016-09-20 19:01] tapar001 commented on #292
Thanks Amanda!

I tried editing the markdown in my post according to your suggestion, and
then tried simply writing out the HTML in the post, and the image still
isn't loading.

Here is an example of how a figure is included in a lesson in markdown,
from Miriam's lesson on Omeka:

{% include figure.html filename="up-and-running-02.png" caption="Omeka.net
dashboard" %}

Do you have a sense of how I

[2016-09-20 19:01] tapar001 commented on #293
This worked -- thank you!

[2016-09-20 19:01] #293 closed, assigned to nobody

[2016-09-20 20:55] wcaleb commented on #292
@amandavisconti Is right, this is a bug caused by the new way that `figure` include works. I'm on the road right now, so I'll have to work on a solution for this later. Alternatively, or temporarily, you could simply hard code the figure into the post like this:

[code]

Let me know if that doesn't work.

[2016-09-21 15:59] tapar001 commented on #292
Thank you, Caleb! I tried using that code in the post -- no luck.

If you could take a look after you're finished traveling, I'd really
appreciate it. I'll hold off on promoting the post until then (and I've
taken out the figure code for now so if readers stumble on the post they
don't see broken images).

On Tue, Sep 20, 2016 at 3:55 PM, W. Caleb McDaniel <notifications@github.com

##

Evan Tapar

[2016-09-21 20:12] wcaleb commented on #292
Hi Evan, I later edited my comment to update the code. Did you use the code that's there now or the erroneous code that is in the comment included in email below?

Sent from my iPhone

W. Caleb McDaniel
Associate Professor of History
Duncan College Master
Rice University

http://wcm1.web.rice.edu/
http://www.duncancollege.net/

[2016-09-21 20:44] tapar001 commented on #292
I just tried again with the code that's there now, and still no luck.

[2016-09-21 20:55] ianmilligan1 commented on #292
I tested the relative path, @tapar001, and looks like it is working now! Just needed two dots before the `/image` path so it could find it properly.

[2016-09-21 21:12] tapar001 commented on #292
Yes! Thank you @ianmilligan1 @wcaleb and @amandavisconti!

[2016-09-21 21:12] #292 closed, assigned to wcaleb

[2016-09-25 20:28] vgayolrs commented on #280
@acrymble , @wcaleb : can anyone of you add @mariajoafana (Maria Jose Afanador-Llach) to the organization so she can submit her translations? Thanks a lot.

[2016-09-26 00:57] wcaleb commented on #280
I have invited @mariajoafana to the organization so she should receive something from GitHub about this.

[2016-09-27 01:09] mariajoafana commented on #280
Thanks Caleb, I've haven't received anything from Github, it might be
because I'm using an email different from this one on my Github account. My
email on Github is: mariajose@neogranadina.org

Thanks

On Sun, Sep 25, 2016 at 8:57 PM, W. Caleb McDaniel <notifications@github.com

##

María José Afanador-Llach, PhD

[2016-09-28 19:42] mariajoafana commented on #291
Dear all,
Sadly I won't we able to make it to the meeting. I'm in a digital humanities event at the National Library of Colombia and the presentation of the digitization project that I collaborate with is at the same time of the editorial meeting. Víctor and Antonio will share our progress with you.

I'll take advantage of my time here to present the ongoing work of The Programming Historian en es

[2016-09-28 20:14] amandavisconti commented on #193
Pre-team-call update! I haven't finished this task yet, but [the top three commits here](https://github.com/amandavisconti/jekyll/commits/improved-lessons-page) add and clean lesson front matter data, readying the lessons to be sorted in various ways on the lessons page and to make the lessons page less hard-coded (so new lessons are automatically pulled in and properly formatted, and each of the

[2016-09-28 20:16] amandavisconti commented on #291
[An update on #193 (new lessons page filtering/sorting) here](https://github.com/programminghistorian/jekyll/issues/193#issuecomment-250286096).

[2016-09-28 22:17] wcaleb commented on #280
I've definitely invited you to the group: while logged in to your GitHub
account, try going to https://github.com/programminghistorian, or
possibly https://github.com/orgs/programminghistorian/people, to see if
there is an alert or button where you can accept the invitation.

On Mon, Sep 26, 2016 at 06:09:16PM -0700, mariajoafana wrote:

[2016-09-29 01:56] wcaleb commented on #273
I've looked into this a little bit, and I'm not sure it will work for us. There is a Jekyll plug-in that provides "last modified" time, but it will only work when the site is compiled locally on a machine and then pushed to GitHub (in plain speak, that means that when edits are made on GitHub website itself, as a large number of our edits are ... and that's not even considering the problems that c

[2016-09-29 02:13] wcaleb commented on #279
Over at the submissions site, I made [this change](https://github.com/programminghistorian/ph-submissions/commit/787953659df1a8c7f3ce2a041a06583b5e8b4791), which will display a grayish number to the left of each paragraph on the live previews for lessons. It's not perfect and doesn't display exactly right on lists, but it might do what we need it to. Discuss at #291?

[2016-09-29 02:13] wcaleb commented on #273
Discuss at #291?

[2016-09-29 10:17] acrymble opened #296 "Broken markdown asset link"
From Alissa M on twitter, the Pandoc/markdown lesson has a broken link to the following URL: http://programminghistorian.org/assets/sample.md

I suspect this is a problem with jekyll trying to render the markdown and getting confused.

The asset is in fact at that URL and can be accessed also via https://github.com/programminghistorian/jekyll/blob/gh-pages/assets/sample.md

Is there a simple fix f

[2016-09-29 12:24] ianmilligan1 commented on #296
I think we should use the raw link, as the authorial intent is to get people to work with the file. I'll change the link, but if anybody disagrees we can always revert.

[2016-09-29 16:11] acrymble commented on #291
#193 - @amandavisconti to keep working. All going well.
#280 - Spanish team to continue translating. To liase with @wcaleb when ready to start going live. to use /es/ folder for new content. Possibly use if statements to populate footers, etc with the correct language? Reduce the number of 'footer' type files. Maria to be Spanish language contact?
#222 etc - @fredgibbs to fix his own lesson and Zo

[2016-09-29 16:19] fredgibbs commented on #134
This is being done following @amandavisconti's excellent work on #193, and recent commits, so closing this here.

[2016-09-29 16:19] #134 closed, assigned to nobody

[2016-09-29 16:26] acrymble commented on #280
Spanish team to continue translating. To liase with @wcaleb when ready to start going live. to use /es/ folder for new content. Possibly use if statements to populate footers, etc with the correct language? Reduce the number of 'footer' type files. Maria to be Spanish language contact?

[2016-09-29 16:32] fredgibbs commented on #222
add a note about updating pip (and dependencies)?

[2016-09-29 16:36] #296 closed, assigned to nobody

[2016-09-29 16:53] wcaleb commented on #273
I can look into using the GitHub API to get the last modified date, perhaps with a Javascript.

[2016-09-29 16:53] #279 closed, assigned to nobody

[2016-09-29 18:48] ianmilligan1 commented on #279
From @sgsinclair over in the HTRC issue:

My sense is it's a technical limitation, but I thought @wcaleb would be best positioned to answer?

[2016-09-29 19:21] amandavisconti commented on #193
**Notes from the 9/29 call:**
- Address that current and new lesson YAML, as well as lessons/index.md, are in English (can we abstract so this stays synced? do we need a same-lesson-as variable?)
- Use least JS possible to add filter/sort functionality to lessons page

**Questions for followup after prototype ready/with team:**
- Which sort should be the default? (activity, publication date, somet

[2016-09-29 19:29] amandavisconti opened #297 "Hypothesis integration"
1. Each lesson: add link to reload page with Hypothesis sidebar showing. Do we need to limit this to a Hypothesis group or PH tag for spam/moderation purposes?
2. Other editors are following up on the existing Hypothesis tickets, but I should set up a way to be notified of new annotations on PH lessons (that automatically works when new lessons are added to the site—does H allow such a feed yet?).

[2016-09-29 21:48] wcaleb commented on #279
I think it could conceivably be done with some adjustment to the CSS, though I'm not sure that paragraphs and headers can be included in the same "counter." But since headers are usually short and have hyper-references, I would think it wouldn't be hard for reviewers to spell them out or link directly to them?

[2016-09-30 02:33] #291 closed, assigned to nobody

[2016-09-30 13:47] acrymble commented on #163
this was fixed some time ago

[2016-09-30 13:47] #163 closed, assigned to acrymble

[2016-09-30 13:52] ianmilligan1 commented on #163
:tada:

[2016-09-30 16:17] jerielizabeth commented on #243
Since the lesson pipeline will be removed with the cleaning of the wiki, I propose closing this issue as no longer relevant.

[2016-09-30 18:07] ianmilligan1 commented on #243
👍 : Agreed.

[2016-09-30 18:07] #243 closed, assigned to nobody

[2016-10-20 00:11] tapar001 opened #299 "Blog post not publishing"
Last night I uploaded a new blog post, but it won't render on the site! Any ideas for troubleshooting?

[2016-10-20 11:10] amandavisconti commented on #299
Comparing

https://github.com/programminghistorian/jekyll/blob/gh-pages/_posts/2016-10-18-promoting-digital-archives
with

https://github.com/programminghistorian/jekyll/blob/gh-pages/_posts/2016-09-19-distant-reading-in-the-undergraduate-classroom.md

I noticed the more recent post doesn't have .md at the end of the file name and so I tried adding that, but that just produced a weird snippet on t

[2016-10-20 11:15] amandavisconti commented on #299
I'm also noticing that the header YAML in the more recent post renders as a table in [the older post page on GitHub](https://github.com/programminghistorian/jekyll/blob/gh-pages/_posts/2016-09-19-distant-reading-in-the-undergraduate-classroom.md), but just as plain text in [the newer post](https://github.com/programminghistorian/jekyll/blob/gh-pages/_posts/2016-10-18-promoting-digital-archives). B

[2016-10-20 11:34] tapar001 commented on #299
Ah, forgetting .md after the file name...that's what I get for working
undercaffeinated. Thanks for catching that Amanda!

I'm also now noticing the weirdness with the header YAML. It's now
rendering as a table...

...but I just got the following support message from GH:

"The page build failed with the following error:

There was a YAML syntax error on line 1 column 1 in `_data/authors.yml`:
`did

[2016-10-20 12:40] amandavisconti commented on #299
Hi, Evan! I tried to find what layout/include adds the author avatar into the post HTML when an author avatar is included in the header YAML (since the older post has that and renders, and the newer post doesn't)—on the off chance not including an avatar is throwing it off. I haven't found where the avatar info in the header gets called into the HTML, though.

You might try temporarily adding you

[2016-10-20 13:53] wcaleb commented on #299
The problem was a superfluous space in the `_data/authors.yml` file (in the YAML files you have to be extra careful about spacing and indentation, but it's easy to let stray spaces get in). I've corrected the problem with befc8a41a659b26b70d6c2f9c116da4a3e88b766.

Also, whenever it seems like the site is having trouble building, you can get more information on the "Settings" tab under our repo (wh

[2016-10-20 13:53] #299 closed, assigned to nobody

[2016-10-20 14:15] #221 closed, assigned to wcaleb

[2016-10-24 20:21] acrymble opened #301 "Editorial Meeting agenda 27/10/16"
Please propose topics for conversation.

I propose:

~~#193 - new lessons page~~
https://github.com/PH-espagnol/borradores - Spanish progress

[2016-10-24 21:09] amandavisconti commented on #301
I will be traveling during the call this month. I thought I'd have #193 done, but I unfortunately might not get to work on it until this weekend or the following week; I will send an update email when I do!

[2016-10-25 15:33] mdlincoln commented on #289
I was just notified that the Europeana SPARQL endpoint has been reactivated at a new address (blog post here): http://labs.europeana.eu/blog/europeana-sparql-endpoint

In about three weeks once I finish off some travel, I'll be able to check if the same queries from the lesson will work on this new endpoint. If so, I can update the lesson and just make sure it points to their new endpoint host. If

[2016-10-25 18:20] tapar001 commented on #299
Thank you all!

On Thu, Oct 20, 2016 at 9:53 AM, W. Caleb McDaniel <notifications@github.com

##

Evan Taparata
Ph.D. Candidate, History Department
University of Minnesota
1100 Heller Hall
271 19th Ave S
Minneapolis, MN 55455

[2016-10-25 18:37] arojascastro commented on #301
Hi there,

This week I won't be able to make it. From my point of view, there are not
much updates, we are just keep working on translations and making
connections with potential collaborators.

See you next month.

Best,

2016-10-24 23:09 GMT+02:00 Amanda Visconti notifications@github.com:

##

​Antonio Rojas Castro
Research assistant, Cologne Center for eHumanities
Communication coordinator, EAD

[2016-10-25 18:54] ianmilligan1 commented on #301
Seems like our agenda is pretty thin on the ground. We could always do a check in and update on our ends via email?

[2016-10-25 20:38] acrymble commented on #301
That sounds like a great idea to me @ianmilligan1. Everyone happy with that? Updates on Google email list?

[2016-10-25 21:56] fredgibbs commented on #301
let’s do it!

##

Fred Gibbs
History Department
University of New Mexico
@fredgibbs https://twitter.com/fredgibbs || fredgibbs.net http://fredgibbs.net/

[2016-10-25 23:58] jerielizabeth commented on #301
works for me!

[2016-10-26 11:11] acrymble commented on #143
Software Carpentry has started working with someone else to provide their DH tutorials so I think that particular link may have passed.

[2016-10-26 11:17] acrymble commented on #301
OK, instead of call, can everyone send a summary to Google list of what they've done/are doing and raise anything they would like input on? We can then collate that into any new tickets that might need making.

Do by Friday 28 Oct?

[2016-10-26 13:28] ianmilligan1 commented on #143
Responded to this on the editorial thread.

[2016-10-26 22:22] amandavisconti commented on #278
Also update to fix Jekyll update break reported by Kristen Mapes:
https://twitter.com/kmapesy/status/791384804482813953

[2016-10-27 23:00] jerielizabeth opened #302 "Question regarding Intro to Beautiful Soup"
Question reported via email as to why the tutorial recommends a conversion to "str" at the end of the tutorial. I am looking into this (the tutorial may need updating).

[2016-10-28 10:30] acrymble opened #303 "Project Team presentation - simplify?"
I'd like to suggest that we simplify the Project Team page. There's too much text and I don't think it actually helps potential users to understand who to contact for what. It also asks people to contact Jeri Wieringa in the first instance, but she doesn't have an email address listed on the page.

I think the DH Commons masthead (equivalent to our project team) is more user-centric, and less abou

[2016-10-28 15:08] ianmilligan1 commented on #303
Sounds like a great idea to me, Adam. I think a more minimalist approach would be nice (although there might be something humanizing about having our smiling/stoic/etc. faces there).

[2016-10-28 15:33] ianmilligan1 opened #304 "Inviting community to mass edit selected lessons"
I had a great chat with @gvwilson today, about trying to find areas of inspiration from them (and them in turn some inspiration from our more formal process of incubating lessons).

One idea was to try to open up _Programming Historian_ a bit more to public edit. Right now, while we certainly accept pull requests and suggestions, the sense of authorial ownership is so strong that people may not re

[2016-10-28 15:34] ianmilligan1 commented on #304
I have talked with @drjwbaker and we are happy to use our [intro to bash](http://programminghistorian.org/lessons/intro-to-bash) lessons as a guinea pig. Any other takers, if people think this is an idea worth pursuing? 😄

[2016-10-28 15:46] acrymble commented on #304
Interesting idea. What's the objective?

It sounds like a lot of editorial work, and a redefinition of authorship that might put off some contributors. Especially if lessons get broken by well-meaning people.

Maybe you can outline what you hope it will achieve so we have a clear sense?

[2016-10-28 15:48] ianmilligan1 commented on #304
We've had struggles with keeping lesson up to date, which puts a lot on authors. This might help move us more towards a community-maintained resource.

I should note that I'd be happy to run with this, esp. with a small trial.

[2016-10-29 01:15] fredgibbs commented on #304
I really like a lot of these ideas. I agree we can and should to do more—actively, since the documentation is quite clear— to highlight the availability and necessity of community participation that help keep our lesson useful over time. I would suggest focusing on bringing attention to or featuring one lesson at a time for a week-long (or whatever) blitz review. I think we’d be spreading ourselve

[2016-10-29 01:18] fredgibbs commented on #304
I forgot to mention that this might also help new and more experienced users work on lessons at the same time—potentially a great way to encourage new readership and forge community bonds.

##

Fred Gibbs
History Department
University of New Mexico
@fredgibbs https://twitter.com/fredgibbs || fredgibbs.net http://fredgibbs.net/

[2016-10-29 01:38] fredgibbs commented on #303
assigning this to me, as per the general site CSS and layout update.

[2016-10-29 08:19] #301 closed, assigned to nobody

[2016-10-29 18:53] gvwilson commented on #304
Software Carpentry and Data Carpentry treat lessons as if they were open source software: anyone who wants to propose a change can do so by creating a pull request, which is then reviewed, revised, and (if accepted) merged in.  The original author(s) of the lesson, or their designated successors, act as maintainers or editors: they have final say over which PRs get merged and which don't.  (They m

[2016-10-30 11:25] acrymble commented on #304
Thanks @gvwilson for this. That makes it much clearer.

@ianmilligan1 I suppose my only concern (apart from the moral rights of authors, which we have to be clear about - maybe on our contribute section?) is that I wouldn't want this to result in more work for me, especially because it's the type of work I don't like (dealing with fixes post-publication). And our past experience with Hypothesis sh

[2016-10-30 12:40] gvwilson commented on #304
We've found that it's a good on-ramp for community members who want to get more involved, but aren't (yet) ready to write an entire lesson themselves - I'm no longer the maintainer/editor of any of the lessons I originally wrote, and in fact a couple of them have now "changed hands" twice.

[2016-10-31 16:56] jerielizabeth commented on #304
I like this idea -- I know the beautiful soup lesson needs some attention (and an update for Python 3) but haven't had time to do it myself. I would be happy to also volunteer as a second test case if we want to do this.

I think having the author as the maintainer on the lesson, responsible for merging in pull request and reviewing suggestions goes a long way to maintain their "authorial rights"

[2016-10-31 17:14] jerielizabeth commented on #304
To further encourage this ... @celestetvs has a group of students who would be interested in contributing this way.

[2016-10-31 17:17] twsh opened #305 "Counting Frequencies from Zotero Items broken link"
The link to obo.py in the lesson Counting Frequencies from Zotero Items http://programminghistorian.org/lessons/counting-frequencies-from-zotero-items gives me a 404 error. I looked at http://programminghistorian.org/lessons/counting-frequencies and found a link http://programminghistorian.org/assets/python-lessons5.zip which gives me a zip file which I think has what I need. (Although the `stripT

[2016-10-31 17:43] wcaleb commented on #304
I also like the idea for reasons others have outlined. With regard to giving credit to contributors other than authors, it's perhaps worth noting that GitHub's ecosystem does much of this natively: anyone who submits "pull requests" for example, would have their handle show up in the "commit" history for the lesson, which is available from the "previous versions" link at the bottom of any lesson.

[2016-10-31 19:15] ianmilligan1 commented on #304
Great, Jeri (cool about student interest too, could be some built in attention for the first round..)!

I wonder if we could get contributors added somewhere in the lesson too, perhaps in the footer? (keeping authorial voice and prestige up in the header)

[2016-10-31 19:39] wcaleb commented on #304
@ianmilligan1 If I can figure out a way to access GitHub API using small JavaScripts (as in #273), then that could be easy to do---just pull in a list of all people who have made edits to the lesson---and automating it would be easier to keep it up to date.

[2016-10-31 19:43] gvwilson commented on #304
We run a small script every time we re-publish a Software Carpentry
lesson (i.e., get the latest version a fresh DOI) that pulls author IDs
out of the Git commit log and mailmap's them to names, so that the
author list in the bibliographic record and the author list in the
GitHub repo don't get out of sync.  There are some false positives -
people who've contributed to the lesson template, but not

[2016-11-01 15:44] #289 closed, assigned to nobody

[2016-11-01 15:45] wcaleb commented on #304
@gvwilson We do something similar to generate the list of community contributors on our Project Team page, with some of the same problems you mention.

[2016-11-02 21:53] celestetvs commented on #304
thanks for looping me in @jerielizabeth! I have a small group of students who work on data problems/projects and have prior experience creating tutorials who I think would be quite good at providing suggestions for updates and improvements. I could direct them to particular lessons like the intro to bash and beautiful soup to start, and they will be going through and flagging additional ones that

[2016-11-03 10:42] amandavisconti commented on #278
Also add a general troubleshooting tip to search GitHub blog for "what's new with Jekyll x.x"/updates to locate ways Jekyll+GHPages may have changed since the last lesson update

[2016-11-12 17:01] #278 closed, assigned to amandavisconti

[2016-11-18 10:11] acrymble commented on #285
Just an update for the community: we're still keeping an eye on this, but from what we can tell the Old Bailey Website is still undergoing maintenance, so for the time being we must continue to wait.

Fingers crossed that they solve the problem soon.

[2016-11-18 10:12] acrymble commented on #141
I think this should be dealt with through #303 instead, which @fredgibbs is currently working on. Am closing this, but the spirit of keeping reviewer's contributions prominent will endure. Reopen if you need it.

[2016-11-18 10:12] #141 closed, assigned to nobody

[2016-11-18 10:15] acrymble commented on #273
I know this is a bit old, but I do still think this would be a useful feature. I don't have any technical solutions though.

[2016-11-18 14:41] vgayolrs opened #307 "Intro to Bash - problem with link"
Hi everybody:

I'd just translated "Introduction to the Bash Command Line", by Ian Milligan & James Baker, and I noticed that the link to download the War and Peace text file from Gutenberg has changed slightly.

In lesson: http://www.gutenberg.org/cache/epub/2600/pg2600.txt

But the text is at: http://www.gutenberg.org/files/2600/2600-0.txt

I can edit it in the original lesson in English, but I

[2016-11-18 14:49] ianmilligan1 commented on #307
I don't think the link has changed, but rather Gutenberg is throwing up a welcome message the first time you see it. Both lead to the text file itself.  But I like the latter URL better so we can make the change and it might be more stable. 😄

[2016-11-18 14:51] #307 closed, assigned to nobody

[2016-11-18 14:51] ianmilligan1 commented on #307
Thanks @vgayolrs !

[2016-11-26 11:13] acrymble commented on #285
I think this should be fixable now as the Old Bailey site has returned (we hope permanently). I'll try to find some time to make any needed repairs.

[2016-11-29 10:17] acrymble opened #308 "adopting standard icons for peer review/license"
I have come across the following a few times on other sites. I wonder if this is something we can adopt as part of the visual language of projects like ours?

![screen shot 2016-11-29 at 10 15 59](https://cloud.githubusercontent.com/assets/646647/20705966/fca883c6-b61c-11e6-9261-a53c3692a973.png)

The check mark for peer review, and the unlocked license icon in particular. @wcaleb is this an easy

[2016-11-29 10:54] drjwbaker commented on #308
@acrymble: I believe it is part of the visual language of Ubiquity Press http://www.ubiquitypress.com/ See for example, any of the articles at http://olh.openlibhums.org/

[2016-11-30 23:20] mariajoafana opened #309 "Palladio's interface in "Creating Network Diagrams from Historical Sources""
In translating and testing the lesson "Creating Network Diagrams from Historical Sources" I noticed an issue.
Palladio's interface has changed slightly since the original lesson was published.  I've made snapshots of the Figures in the lesson (with the new interface) for the Spanish version. I  was wondering if is worth revising the original lesson and changing the snapshots for new ones with the

[2016-11-30 23:25] fredgibbs opened #310 "better visual language for lesson metadata"
this also blends with the upcoming design refresh, as well as adding the last modified lesson time, (which is easy to do with the GitHub API).

[2016-11-30 23:27] fredgibbs commented on #308
YES, this blends with the upcoming design refresh, as well as adding the last modified lesson time, (which is easy to do with the GitHub API).

[2016-11-30 23:27] #310 closed, assigned to fredgibbs

[2016-12-01 07:30] acrymble opened #311 "New metadata field for Translation reviewer"
As the Spanish translations start to come in we need a way to differentiate between lesson reviewers and translation reviewers.

This should be in the YAML block I presume.

[2016-12-01 11:26] arojascastro commented on #311
What about "proofreader"? I know that editors and reviewers also check the spelling and language, but my work as a reviewer of the translations consisted in paying attention to style rather than ideas or content.

[2016-12-01 11:45] acrymble commented on #311
You might ask the people doing it for you what they think would be appropriate. Proof reader might imply that person is responsible for any typos or formatting errors. Sometimes our formatting might break as we update the CSS, so I would be careful not to choose a name that implies that person is to blame.

[2016-12-02 16:35] tapar001 opened #312 "Thinking through project idea to blog about"
As I mentioned via email, I have a project I've been thinking about getting off the ground. I'd like to use the PH blog as a space to write and reflect on the project.

First, some context. My dissertation is about the making of refugee law during the long nineteenth century US. Long term, I'd like to have a website that accompanies my dissertation/book that uses maps to visualize the data from my

[2016-12-02 16:58] acrymble commented on #312
Sounds like an interesting project. I've got a couple of hats to wear here, because I'm also a historian of migration. So I'll put that one on first. I appreciate that you said you're looking at the long 19th century in the US, but whichever historians you're reading that put the origin of refugee discussions at WW2 aren't looking very broadly.

The French Huguenots entered London as Refugees in t

[2016-12-02 18:07] amandavisconti commented on #312
@tapar001 I don't have anything to add except this sounds like a cool project, and additionally it could be neat to have the blog showing someone in the process of using some of the PH lessons to do research.

I can't help much with the history/data side of things and only know a little Gephi, but I'd be happy to chat over email or Skype about the digital dissertation design/academic administratio

[2016-12-02 18:29] tapar001 commented on #312
Thank you, Adam and Amanda!

Yes, Adam, you are right to point out the Huguenots and other European
religious groups as refugees in early American history. Lots of ethnic and
migration historians have written about them. But none have looked at those
refugee migrations from the perspective of legal/policy history.

Though I have to admit my project is not so focused on European refugees,
but in th

[2016-12-02 20:35] jerielizabeth commented on #304
Reviving this conversation. It sounds like inviting improvements to lessons via pull requests is of general interest, and I like the idea of starting with the bash and beautiful soup lessons as we are both authors and editors of those (test the waters before throwing others in and all that.)

What about making a go of this during the spring 2017 semester? I am willing to take lead on the effort.

[2016-12-03 09:24] acrymble commented on #180
I've updated this with all of our new entries this year. Closing this ticket because there's nothing actionable here that we're working on. I'll just try to keep updating this once a year.

[2016-12-03 09:24] #180 closed, assigned to acrymble

[2016-12-03 09:28] acrymble commented on #193
Hey @amandavisconti, anything I can do to help at this stage?

[2016-12-03 11:13] acrymble opened #313 "reviewer name accents - page build problem"
I just added in a whole bunch of reviewers to the reviewers.yml page (including - Celeste Tường Vy Sharpe) and the /settings page is now saying there's a page build error and I should try again later. @wcaleb I removed this person's name and the error went away. Is there any way to include her in the list of reviewers?

- Celeste Tường Vy Sharpe

This is related to #281

[2016-12-03 18:14] acrymble commented on #312
Ok great @tapar001.

I made a few tweaks to the blog template, so hopefully it looks a bit prettier and more engaging. I figured out how to add an image and paragraph blurb, so hopefully you can just copy that format moving forward.

http://programminghistorian.org/blog

If you want more format tweaks just let us know and someone will try to help.

[2016-12-03 18:53] acrymble commented on #285
I've tried this but the advanced search still isn't available on the site. Wildcard (*) searching doesn't work, so the lesson still can't be used.

[2016-12-03 18:59] acrymble commented on #285
It would be possible to re-write the lesson to use the Connected Histories website instead: http://www.connectedhistories.org/Search_results.aspx?dtf=1700-01-01&dtt=1750-12-31&kw=mulatto*+negro*&sr=ob

The core skills are the same, and so is the data. It just uses a different way in. I might try that instead, but I'll have to find a day to do it.

[2016-12-03 19:01] acrymble commented on #309
Are you sure it's not a Mac vs Windows thing?

I don't think there's any problem you updating the screenshots. That's part of ongoing maintenance and it's a good thing. But if it's just a matter of you using a different machine than the author then we should leave it.

[2016-12-03 19:05] acrymble commented on #313
I managed to fix this using HTML codes. This solves the page build problem, but the characters do look bold on the page. Might just be a matter of the font we're using. Better than nothing.

[2016-12-03 19:05] #313 closed, assigned to nobody

[2016-12-03 19:16] acrymble commented on #281
This is an old problem now, but hardcoding seems to suit given that it's a one-off issue. I'm closing this but re-open if needed.

[2016-12-03 19:16] #281 closed, assigned to nobody

[2016-12-03 19:22] acrymble commented on #130
I've added this to the top of posts as well. I think it needs to be shrunk a bit, but it's more useful at the top than the bottom.

[2016-12-03 20:16] fredgibbs commented on #130
this is going to be undone in the next redesign, and the citation format suggestion will be returned to the bottom where it belongs.

--
Fred Gibbs
History Department
University of New Mexico
@fredgibbs <https://twitter.com/fredgibbs> || fredgibbs.net <http://fredgibbs.net/>

[2016-12-03 20:25] fredgibbs commented on #309
I think the best solution is to leave images or other small outdated things about lessons alone if they don't interfere with following the tutorial, as to preserve as much as the original author's work as possible. I think the best general solution and in this case, too, is the suggestion to have a disclaimer at the beginning that some screen shots may not match perfectly but won't affect anything

[2016-12-03 20:39] ianmilligan1 commented on #309
Agreed with @fredgibbs - I think that's a good path forward!

[2016-12-03 20:39] ianmilligan1 commented on #130
I agree that I think citations belong at the bottom of lessons – it stands out as a bit obtrusive at the top of the post...

[2016-12-03 22:18] fredgibbs commented on #304
Just a quick addition on a related note: I'm going to be teaching grad and undergrad digital history courses next term, and hope to facilitate some new lessons, but probably more activity will be directed at improving certain lessons (not sure which ones we'll engage with most at the moment). Perhaps this is an issue for larger discussion on the next call, but happy to banter about it here in the

[2016-12-03 22:24] fredgibbs commented on #130
Sorry, I didn't mean to sound so gruff in that last message, but obviously I have strong feelings about our lesson typography, which I've been spending a lot of time with recently (and will hopefully have something to demo in the next few weeks). If others think the top is the best place, we should discuss, but otherwise the new layout has it where it was (and hopefully taking up less space as sug

[2016-12-04 08:59] acrymble commented on #130
Ok I've removed this back as it was. Getting more above the fold is important @fredgibbs so I'm glad to hear you're working on that.

I look forward to a demo. I think it's important that we get some feedback cycles into your redesign efforts to make sure it's something we and our users are happy with.

Let us know how we can help.

[2016-12-04 11:22] acrymble commented on #305
Thanks I have updated the link to python-lessons5.zip

[2016-12-04 11:22] #305 closed, assigned to nobody

[2016-12-05 13:26] mariajoafana commented on #309
I'm not sure if it's a matter of Mac vs Window. Either way @fredgibbs idea sounds like the way to go
Thanks!

[2016-12-05 14:15] acrymble opened #314 "can I add a eventContributor.yml file?"
Related to the 'PH is People' post, I realised that we've failed to systematically keep track of people who contribute to physical events but not necessarily the editorial process. We've had a few workshops around the world now and it would be good, I think, to keep track of the people who helped organise at least.

http://programminghistorian.org/posts/ph-is-people

Are there any technical things

[2016-12-05 14:25] arojascastro commented on #303
I had a look at my bio and it is already outdated -- I am not longer based in Barcelona. Who I should contact to update it? Thanks.

[2016-12-05 14:28] acrymble commented on #303
@arojascastro you can update it yourself here: https://github.com/programminghistorian/jekyll/blob/gh-pages/_data/authors.yml

You raise an interesting question though about our records. Don't we want the record of where people were when they contributed (wrote, reviewed, whatever) rather than where they end up? I suppose in that sense someone could have multiple yml entries. But maybe we don't wa

[2016-12-05 14:30] ianmilligan1 commented on #303
I think that might make things overly complicated, having multiple yml entries. If we really want a static snapshot of where somebody was when they contributed a piece, it should perhaps just be hardcoded into the lesson?

[2016-12-05 15:13] acrymble commented on #303
We're a bit off topic now for this thread, but @ianmilligan1 you raise a good point. Not sure why we haven't been going with hard-coding.

[2016-12-05 15:15] wcaleb commented on #314
You can, but I'm not sure a YAML is needed. The main reason for the YAML directory is because someone listed there might need to appear several times in several different places on the site, and it makes sense not to have to hard-code their biographical information every time. It sounds like this will just be a single list in one place, so that programmatic feature might not be necessary.

[2016-12-05 15:22] acrymble commented on #314
Thanks @wcaleb, very fair point. Do you have an opinion on this then? Should I hard-code on the project-team page?

[2016-12-06 09:15] acrymble commented on #314
Ok, I've hard coded this on the project team page. @fredgibbs I don't know who's been involved in facilitating your event at UM. Could you add their names to the list?

[2016-12-06 09:15] #314 closed, assigned to nobody

[2016-12-08 16:28] acrymble commented on #312
@tapar001 do you need any more input on this, or can we close the issue? It sounds like you've got lots of support to go ahead.

[2016-12-08 16:29] acrymble commented on #309
closing this because it feels resolved. Reopen if needed.

[2016-12-08 16:29] #309 closed, assigned to nobody

[2016-12-10 11:51] acrymble commented on #64
I attended an event on Persistent Identifiers yesterday at the British Library put on by the THOR project (https://project-thor.eu/). I spoke to Adam Farquhar (head of BL digital scholarship) about our needs, and he's provided some advice on DOIs for our lessons.

In particular he suggested we use an existing service (Figshare, Zenodo) to create and maintain the DOIs, and that each lesson and each

[2016-12-10 14:50] acrymble commented on #64
If I can get this sorted out I'm going to revisit the XML upload option for the Open Library of the Humanities (#180). This would require piping our new releases to their XML format. But it requests DOIs so that's step one.

[2016-12-20 12:26] acrymble commented on #64
Just spoke to Figshare team. They don't have an automatic way for our files in /lessons to automatically be minted with DOIs every time a file is updated. But they did have a suggestion that I think will work.

1) When a new publication is accepted and uploaded, the editor creates a new entry in Figshare using the 'Linked File' option (details of how to do this would need to be added to editorial

[2016-12-21 12:53] rgieseke commented on #64
Just had this post by @mfenner of DataCite in my feed:

https://blog.datacite.org/eating-your-own-dog-food/

I don't know whether Programming Historian could become a DataCite member and/or apply something similar but the approach seems quite interesting (also having short doi links seems useful).

[2016-12-21 13:02] mfenner commented on #64
@rgieseke The solution for minting DOIs that the DataCite blog has implemented should also work for jekyll, as the workflow is pretty generic (and the DataCite blog used Jekyll until earlier this week). For smaller organizations it might be easier to work with a DataCite member, if you want to mint DOIs. And the general approach should also work with Crossref DOIs, but you have to adapt to Crossre

[2016-12-21 17:23] acrymble commented on #64
Thanks @mfenner and @rgieseke. That looks like just what we're after.

We aren't a DataCite member though, which poses a username/password problem for us. More generally, the description is clear enough of what you're doing, but I'm afraid it's over my head how to actually use it. I'm not a Ruby person. Do you have plans to flush out the instructions?

[2016-12-21 17:42] acrymble opened #315 "Rumoured Github pages limit affect us?"
Just came across this on Twitter about new limits on the free Github Pages service.

https://twitter.com/msb5014/status/811252318377230336/photo/1

1GB limit on site size.
100gb bandwidth limit per month
10 page builds per hour.

Do these new limits affect what we're doing in a way that requires us to make a change? I suspect no but I figured I'd raise it in case.

[2016-12-23 02:28] gvwilson commented on #64
[This post](https://medium.com/@matthewturk/citations-credit-and-the-yt-method-paper-1034e4080eb) by [Matt Turk](https://sites.google.com/site/matthewturk/) has some interesting ideas as well.

[2016-12-23 14:53] mfenner commented on #64
@acrymble I am certainly planning to polish the DataCite implementation and better document the process. This will take at least a few weeks.

I would work with one of the institutions you are associated with to be able to mint DataCite DOIs. A good number of institutions in the UK are for example working with the British Library for this.

[2016-12-30 16:48] jerielizabeth opened #316 "From email: update to wget lesson"
Bug report submitted via email (and gently edited).

"The wget lesson includes the following:

"You will need to install the ‘Command Line Tools’ kit in XCode. Open up the ‘Preferences’ tab, click on ‘Downloads,’ and then click ‘Install’ next to Command Line Tools. We are now ready to install a package manager.”

i couldn’t get this to work, so had a root around the internet and found this

https:

[2016-12-30 16:49] ianmilligan1 commented on #316
OK I can take a look!

[2016-12-30 20:29] ianmilligan1 commented on #316
Fantastic, I ran through the manual install and seems to work well. Mileage may vary as there are so many version of OS X out there, but if it's relatively up to date this should work. Can you please pass along my thanks to the bug reporter, @jerielizabeth?

[2016-12-30 20:29] #316 closed, assigned to ianmilligan1

[2016-12-30 22:24] jerielizabeth commented on #316
Will do! Thanks @ianmilligan1

[2017-01-02 17:00] wcaleb commented on #273
@fredgibbs Are you working on this as part of site redesign? If not, I have a little bit of time to work on it this week, but didn't want to duplicate efforts.

[2017-01-02 19:01] fredgibbs commented on #273
@wcaleb yes! it's pretty straightforward through the GitHub API, and I have it working on my dev copy.

[2017-01-02 19:10] wcaleb commented on #315
Not for a while anyway. Our repo is currently around half a gig, by my calculation.

[2017-01-02 19:10] #315 closed, assigned to nobody

[2017-01-10 09:00] acrymble opened #317 "Editorial Meeting Agenda - 27/01/2017"
Please suggest issues to discuss at the next meeting. Some suggestions from me:

* Spanish Update and planned release timeframe (Maria, Victor, Antonio)
* Lessons page revamp (Amanda) #193
* Redesign work briefing (Fred) #303, #308, #130, #273, etc. [Fred sends appologies!]
* Subject specialist editor (Adam)
* Outreach Officer (Adam)
* 10 year anniversary (2018) - how to mark?

[2017-01-19 17:51] acrymble commented on #312
closing this. Presume info need has been gained.

[2017-01-19 17:51] #312 closed, assigned to nobody

[2017-01-26 16:38] amandavisconti commented on #311
Separate but related issue—the new YAML I'll be pushing soon has a writing-language item so we can sort by lesson language.

[2017-01-26 16:56] amandavisconti commented on #193
**Summary:** Rewrote lessons page to be less hard-coded, instead using liquid templating to loop through whatever we currently have in the /_lessons folder and the current YAML info for each lesson (so, don't move stuff to /_lessons unless it's ready to be public). Changes to site file structure and lesson YAML support this. [This code is not yet on the live site.](https://github.com/programminghi

[2017-01-27 08:37] acrymble commented on #193
I don't recall exactly, but I suspect the deprecated lessons were put where they were for URL purposes? We're committed to not breaking links, especially because people use our lessons on syllabi. Does your plan affect that at all?

[2017-01-27 15:24] mariajoafana commented on #317
Hi all, I teach a class this afternoon, so I was wondering if today's meeting could start with the Spanish team updates. I'll need to leave the meeting at around 5:45pm (British time).

[2017-01-27 15:32] amandavisconti commented on #193
@acrymble That makes sense! I'll put permalinks in those deprecated lessons' YAML so that the same URLs still point to them.

I'm still figuring out how to make my lesson work visible to the other team members (I don't want to mess with the /ph-submissions site if anyone's using it, and my work was forked from an older version of the live /jekyll site). I'm working on getting the site working via

[2017-01-27 15:47] ianmilligan1 commented on #193
!!! I really wish I could make the call, but just wanted to say that this is fantastic looking!

[2017-01-27 16:04] acrymble commented on #317
No problem.

[2017-01-27 16:11] acrymble commented on #193
yeah that looks awesome! Can't wait to hear more.

[2017-01-27 17:10] acrymble commented on #288
this is relevant again, as we prepare for soft launch

[2017-01-27 17:15] acrymble commented on #317
Spanish
- python lessons done. 6 others in progress. (https://github.com/PH-espagnol/borradores/tree/master/lecciones/Python-lecciones-code)
- need a title for translation reviewers (translation-reviewer)?
- collaboration with MA in digital humanities in Colombia (I like this idea).
- when to launch? we'd like to soft launch asap. need to deal with #288 url to be /es... - action @wcaleb
- Updates

[2017-01-27 18:04] acrymble commented on #193
Looks great @amandavisconti.

Just aide memoire of what we discussed in the meeting:

1) Once we've got a live beta, we'd like to get some feedback from users to see if they have trouble finding what they're after, or otherwise have feedback.
2) We wondered out loud about whether or not we should adopt a DH ontology already published for this. @arojascastro suggested we look at TADIRAH: http://tad

[2017-01-27 18:07] acrymble commented on #280
Aide memoire from our meeting on 27/01/2017:

* python lessons done. 6 others in progress. (https://github.com/PH-espagnol/borradores/tree/master/lecciones/Python-lecciones-code)
* need a title for translation reviewers (translation-reviewer)? #311
* collaboration planned by @mariajoafana with MA in digital humanities in Colombia (I like this idea).
* when to launch? we'd like to soft launch asap.

[2017-01-27 18:11] vgayolrs commented on #317
Terribly sorry. I was late for the PH meeting because of another meeting
that went on too long.
I take note of the issues addressed for the Spanish site.

All the best

Victor

2017-01-27 11:15 GMT-06:00 Adam Crymble <notifications@github.com>:

[2017-01-27 18:13] amandavisconti commented on #317
Spanish lessons = There's a Spanish-language channel on the [DH Slack](http://tinyurl.com/DHSlack) where we could share these.

I'd also be interested in hosting some kind of Slack hangouts for the 2018 anniversary (designate specific lessons where someone will be on the Slack one evening to help people work through the lesson)—I've been meaning to do this for a while anyway.

Explore removing "ac

[2017-01-27 18:17] amandavisconti opened #318 "Missing author/reviewer info for "OCR with Tesseract and ScanTailor" lesson"
Can anyone supply the author and reviewer info for the "[OCR with Tesseract and ScanTailor](http://programminghistorian.org/lessons/OCR-with-Tesseract-and-ScanTailor)" lesson?

It's not appearing on the /lessons page, possibly because author/reviewer info is missing from _data/authors.yml and _data/reviewers.yml. (Note the lesson file itself says Mila Oiva is the author, but we don't have any othe

[2017-01-27 18:23] amandavisconti opened #319 "Syncing front matter for lessons in various written languages"
The new /lessons page pulls in lessons using terms written in English like "lesson.difficulty", which will miss lessons for which the front matter is written in another language. How might we address that current and new lessons' front matter, as well as the looping on the new /lessons page, are written in English? How might we keep all languages on PH synced? (e.g. a same-lesson-as variable? a "t

[2017-01-27 18:27] amandavisconti opened #320 "Add difficulty ratings for all lessons & reinstate related code"
Some lessons already have a difficulty rating (between 1-5) set in their front matter, but a number of lessons have "difficulty: 0" to indicate they need to be given a rating.

Once this is done, we can
1. add a sort-by-difficulty button to /lessons
2. restore the "Best for Beginners"/etc. info to the top of each lesson
(I'm willing to do these two follow-up tasks if I'm told the lessons have all

[2017-01-27 18:29] amandavisconti opened #321 "Restore previous/next lesson links"
Once new /lessons page (#193) is up, the previous/if next lesson info (for lessons in a sequence) can be restored. (I removed this as the templating that checked if this info should be displayed was breaking the site.) Should check with Fred first to make sure this works with his new design.

Use this to order lessons on the /lessons page, and fill if/then checks on individual lesson pages for if

[2017-01-27 18:32] amandavisconti opened #322 "Add filtering by writing language to /lessons once Spanish lessons in repo"
Once we have Spanish lessons live on the site/located in the main /jekyll repo, I will add sorting by [edit!] {{page.lang}} to the /lessons page

[2017-01-27 18:32] acrymble commented on #320
It should be between 1 and 3: http://programminghistorian.org/editor-guidelines#add-a-difficulty-indicator-to-the-yaml-file

[2017-01-27 18:32] acrymble commented on #320
is there a way for us to see the 0 ones? We made a big list of this a few years ago so I might be able to fill them in.

[2017-01-27 18:33] amandavisconti commented on #193
**Further work to do after demo up:**
- [x] Get code working on live site other team members can explore: [](https://amandavisconti.github.io/proghistdev/lessons/)
- [x] Incorporate feedback from team & focus group testing (Fred is handling styling/browser checks) ** Later comment has latest work on this, #333 has user testing commentary)**

[2017-01-27 18:37] amandavisconti commented on #320
![screenshot_166](https://cloud.githubusercontent.com/assets/899033/22382917/ae6234e4-e495-11e6-81b9-eaa710a2864a.png)
Does this help? (ignore the "occurences found" stuff)

[2017-01-27 18:49] acrymble commented on #320
geez I didn't realise we'd dropped the ball on that!

| Lesson | difficulty |
| --------- | --------- |
| code reuse and modularity | 2 |
| counting frequencies | 2 |
| creating an omeka exhibit | 1 |
| creating and viewing html files | 2 |
| extracting keywords | 2 |
| from html to list of words (lessons 1 and 2) | 2 |
| getting started with markdown | 1 |
| installing omeka | not sure. |
| insta

[2017-01-27 18:51] acrymble commented on #320
I'm basing that on @ianmilligan1 comment in #91
"in my mind a Difficulty One is something that can be done as a completely self-contained lesson, whereas the others are more advanced or have dependencies"

[2017-01-27 18:51] amandavisconti commented on #320
If you'd like them to have images, that would be great. Thanks for the difficulty ratings; I'll add these in.

[x] Add ratings above
Reinstate sort & filter by difficulty to /lessons => now in #193
[ ] Restore the "Best for Beginners"/etc. info to the top of each lesson

[2017-01-27 18:54] acrymble opened #323 "Add lesson images for Python intro lessons"
As @amandavisconti is redoing the lessons page ( #193 ), the original python lessons really need images to represent them.

[2017-01-27 18:56] acrymble commented on #323
Be good to get all in the same style: https://www.flickr.com/search/?text=Whims%20and%20Oddities%2C%20in%20prose%20and%20verse%3B%20with%20forty%20original%20designs

| Lesson | URL of proposed image |
| ----- | ----- |
| Python Introduction and Installation | https://www.flickr.com/photos/britishlibrary/11227236623/in/album-72157641858423503/ |
| Setting Up an Integrated Development Environment f

[2017-01-27 22:22] mdlincoln opened #324 "HTML language tags for upcoming Spanish release"
A good-to-have for the upcoming Spanish translations (#280) would be adding language declarations in the top-level HTML tags, and/or in lower-level elements (if there are going to be pages with both languages present): https://www.w3.org/International/questions/qa-html-language-declarations

You'd want to add both `es` but also, of course, `en`, which doesn't seem to be present in the current, Eng

[2017-01-27 23:36] fredgibbs commented on #318
It is not supposed to be published. Mila Oiva was indeed the author and Alison was the editor (I handed it off to her early on in the process when I was swamped with other lessons). I don't know why it stalled. After re-reading the lesson, as much as I like the topic, I don't think it's particularly valuable and would need a lot of work to make it publishable (links, etc), and even then I don't se

[2017-01-28 08:31] acrymble commented on #324
I suppose this involves this header file? https://github.com/programminghistorian/jekyll/blob/gh-pages/_includes/header.html

[2017-01-28 08:32] acrymble commented on #317
closing this. if you need to move any of these conclusions to a ticket, please do so.

[2017-01-28 08:32] #317 closed, assigned to nobody

[2017-01-28 11:46] acrymble commented on #323
These have been added and appear to be working, but I did get a page build error email when I uploaded the files to github:

The page build failed with the following error:

@wcaleb this was particularly when I uploaded the files to this folder: https://github.com/programminghistorian/jekyll/tree/gh-pages/gallery

I see Allison had already found icons for these (should have checked first), and so

[2017-01-28 11:58] Ape3 opened #325 "German / French for Gazetteers?"
Studying "Using Gazetteers to Extract Sets of Keywords from Free-Flowing Texts" on Windows 10 and with Python 3.6 I was so far successfull by building my own gazetteer and by loading the example text. However, as soon as I try to work with the German and French caracter sets I get somehow useless code.'ï»¿bã¤rn' for Bärn or 'genã¨ve' for Genève.

I wonder if that is a fundamental problem limiting

[2017-01-28 14:25] amandavisconti commented on #323
@acrymble If we can use .png title images going forward, those will work with how the new lesson page is pulling in images (I already converted any existing lesson images & will include those in the demo).

[2017-01-29 10:50] acrymble commented on #323
ok. I'll change them all. That is already in the editorial guidelines, and I missed it. Sorry.

[2017-01-29 11:17] acrymble commented on #323
all converted, and jpg images removed.

[2017-01-29 11:17] #323 closed, assigned to acrymble

[2017-01-29 14:43] Ape3 opened #326 "Output for gazetteers' lesson"
Still working with "Using Gazetteers to Extract Sets of Keywords from Free-Flowing Texts", Windows 10 and Python 3.6: The finished code produces a correct list on the screen, which I can integrate into the alumni-sheet by copy/paste - feasible but not a promising way, even with 'only' some six thousand entries - or an outputs.txt with a one line content, which I'm unable to convert into a correct

[2017-01-29 16:54] acrymble commented on #326
Hi @Ape3

You'll need to provide more details. What operating system? What software are you using?

Please note that the tutorial says: "This tutorial assumes that you have already installed Python version 2 on your computer", so that may be part of your problem.

[2017-01-29 17:23] Ape3 commented on #326
My environment is Operating System = Windows 10 and Python 3.6 - that was the version I was proposed to download when recently being looking for python. Should I install an older version? Would Python 2.7.13 make a difference?

[2017-01-29 18:33] acrymble commented on #326
I can't promise you any solutions because I don't have your computer in front of me. You might try a mac instead, as I suspect the windows operating system might be the problem rather than the python. If it works on a mac then that helps narrow down the issue.

[2017-01-29 20:05] acrymble commented on #325
This is almost certainly a problem with character encoding. As I mentioned to you in email you have to make sure that the inputs are in UTF-8 format, as this is what the software is configured to read. There are many ways to save a letter in a computer's memory. The letter A may look the same to us no matter which way it's saved, but that's not how the computer sees it.

I'm not an expert on chara

[2017-01-29 20:07] acrymble commented on #325
Alternatively, you could do a find-replace on your input text and change any accented characters to standard English unaccented characters. That might let you find the matches you're after.

If you try this, make sure you're searching on a copy of your texts; not the original.

[2017-01-29 23:34] fredgibbs commented on #193
The preview looks great! I'm excited to see and fiddle with the beta version. I second the idea of gathering public feedback before we make an "official" switch. Also a good way to engage the community.

One point that may be in a different thread (that I can't find right now) about styling the new lesson blocks, and also relates to a point above about Browser/OS/device/accessibility checks; I hav

[2017-01-30 00:08] amandavisconti commented on #193
@fredgibbs Thanks! Your doing the typography/design would be awesome.

Order YAML would be great. Right now, the only links still hardcoded on the lessons page are the Python sequence, and it would be lovely to remove that. ([Related previous/next issue...](https://github.com/programminghistorian/jekyll/issues/321))

I've had the new lesson page code up on [another repo](https://github.com/amandav

[2017-01-30 00:18] fredgibbs commented on #193
@amandavisconti excellent! and thanks for the links!

[2017-01-30 19:24] mdlincoln commented on #324
More likely it belongs in `_layouts`, where you would define whether the entire page is in `es`, or if just the body text is in `es`, depending on whether you're going to be completely translating the headers/footers as well. It'll be easier to figure out the exact implementation once the Spanish lessons are actually added to the repo.

[2017-01-31 15:49] amandavisconti commented on #318
Lesson image removed and lesson moved to /deprecated in my new lesson code

[2017-01-31 15:49] #318 closed, assigned to nobody

[2017-01-31 16:39] amandavisconti commented on #193
Demo page is now live at [https://amandavisconti.github.io/proghistdev/lessons/](https://amandavisconti.github.io/proghistdev/lessons/)

Please feel free to share with your students, etc. and share comments and ideas here!

Note that because of some URL structure stuff I haven't ironed out, some of the rest of that demo site (e.g. blog links are broken, GitHub logo isn't showing in footer, lesson

[2017-01-31 18:13] acrymble commented on #193
Thanks @amandavisconti ! awesome stuff.

We might have to think about ordering. What gets to be at the top? Particularly important for new lessons so they get noticed. Reverse chronological order seems to be what you've got at the moment.

[2017-01-31 18:29] ianmilligan1 commented on #193
Wow that makes me feel old (the wget lesson is our oldest active one eh?).

I think newest at the top for the default 'all lessons' view would make the most sense? So my old trusty wget lesson would be at the bottom. 😄

[2017-02-01 21:02] jerielizabeth commented on #143
Update on this front. I had hoped to devote some time to thinking through how the Programming Historian materials could be used in DH Bridge workshops and pitch a workshop for DH2017 on that topic. However, my workload with the dissertation is a bit too much to do that justice this year, so I will need to return to this idea for the DH2018 cycle.

I still think the DH Bridge / PH collaboration is

[2017-02-01 22:31] jerielizabeth commented on #304
So, taking lead on this…

It seems from the conversation that we need to have three things in places process-wise for this to be productive and beneficial to us and to those who are interested in improving lessons:

+ a set of lessons selected as a test case
+ instructions about how improvements can be submitted (issues; pull requests)
+ way of acknowledging contributions

Looking back on the conv

[2017-02-02 00:59] jerielizabeth commented on #193
@ianmilligan1 wget should always be first :) but I think reverse chronological makes the most sense.

[2017-02-02 13:19] acrymble commented on #143
I think it's probably best then if we close this issue, and if someone wants to return to it in future then this conversation is archived. We'll obviously be happy to support any community members interested in pursuing in-person events.

[2017-02-02 13:19] #143 closed, assigned to jerielizabeth

[2017-02-02 14:06] acrymble commented on #325
If anyone in the community has a good character encoding solution for python (converting text from unicode to UTF, etc) please let me know and I'll add a quick note to update this lesson.

[2017-02-03 14:00] drjwbaker opened #327 "GitHub Topics"
https://github.com/blog/2309-introducing-topics Thought you might find this of interest.

[2017-02-03 21:40] #288 closed, assigned to nobody

[2017-02-03 21:55] wcaleb commented on #280
@vgayolrs @mariajoafana I'm having trouble locating the general website pages (e.g., footer, header, index, project team) that you have translated. Can you point me to where those are?

[2017-02-03 22:18] vgayolrs commented on #280
Hi @wcaleb ! Sorry, the general website pages are located at:
https://github.com/programminghistorian/ph-submissions/tree/gh-pages/lessons/spanish
If you want I can move them to the ph-espagnol github to keep everything together.

[2017-02-03 22:22] wcaleb commented on #280
Aha. Thanks. I'll move everything, no worries.

[2017-02-03 22:23] wcaleb commented on #280
@vgayolrs For clarification, are the lessons that you want to go "live" right now the ones that are on `ph-submissions`? Or the ones over at `borradores`?

[2017-02-03 22:31] vgayolrs commented on #280
The ones that are at `borradores` are ther latest reviewed versions.
Do you want to put everything in `ph-submissions` to keep control in this github of everything (images, etc)? We can delet the current `ph-submissions-leesons-spanish`lessons versions without problem. Please, tell me what's the better way for you to work with the lessons that are "ready to go live".
All the best

[2017-02-03 22:35] wcaleb commented on #280
Let's hold off moving anything for now.  I'm going to work just with the "introduction to python" lessons first to get a working prototype going, and then we can figure out what the best workflow moving forward will be.

[2017-02-03 22:39] wcaleb commented on #280
@vgayolrs Do you have a translated version of the "header" include? It says you've done it on the "lista de tradducion," but I can't seem to find it.

[2017-02-03 22:43] vgayolrs commented on #280
@wcaleb You are rigth, I dont see it either. Give me a few minuts and I'll do it.

[2017-02-03 22:54] vgayolrs commented on #280
Done. It's in https://github.com/programminghistorian/ph-submissions/tree/gh-pages/lessons/spanish/_includes

[2017-02-03 22:56] vgayolrs commented on #280
Please notice that "blog" must redirect to the current English version blog...

[2017-02-04 10:06] acrymble commented on #193
How should we solicit feedback on this? I might be able to get a few colleagues to kick the tires. But what would be useful to know @amandavisconti ?

[2017-02-04 11:50] amandavisconti commented on #193
Asking people to look would be great!

I'd like to know
1. how people get to the lessons page (do they come for a specific lesson they heard about from someone? are they looking for a specific skill? or are they browsing to see if anything is exciting?)
2. are there other ways they'd like to sort/search/filter the lessons?
3. is this better than the old page, or more confusing?
4. is the new page

[2017-02-04 13:39] fredgibbs commented on #304
thanks for taking the lead on this, jeri!

2 quick responses to your prerequisites:

i think 2 lessons are good to start with while we work out our process.

working on page layouts now, i think the footer of the lesson is the best place to acknowledge contributors so as to make sure the author, reviewers, and editor(s) get prime billing. we could have everyone at the top of the lesson, but if the

[2017-02-09 10:06] acrymble commented on #193
Ok, I'll try to get a few colleagues roped in to test it out. It may take
me a few weeks.

On Sat, Feb 4, 2017 at 11:50 AM, Amanda Visconti <notifications@github.com>
wrote:

[2017-02-10 20:52] jerielizabeth opened #328 "404 Error for CSV files on Geocoding Historical Data"
It looks like a recent fix to Geocoding Historical Data using QGIS broke the links to the CSV files. I will correct that first one, as that just seems to be a name change error. However, I am not sure where the second file (AlumniCounties.csv) is.

http://programminghistorian.org/lessons/geocoding-qgis

[2017-02-10 21:39] ianmilligan1 opened #329 "Mallet 2.0.7 no longer available"
More of a note to myself. A [tweet from Rachel Mattson](https://twitter.com/captain_maybe/status/827732188196171776) notes that Mallet 2.0.7 is no longer available. We'll have to fish out a stable link somewhere...

[2017-02-10 21:46] ianmilligan1 commented on #329
Aha! Shawn dug up the old version on their website. I will swap out the link.

[2017-02-10 21:46] #329 closed, assigned to ianmilligan1

[2017-02-10 21:50] ianmilligan1 commented on #327
Thanks!

I went through and just added topics based on our lesson categories as they are:

api
data-management
data-manipulation
data-mining
exhibits
linked-open-data
mapping
network-analysis
pedagogy
programming-historian
python
scraping
text-analysis

Thoughts?

[2017-02-10 22:14] jerielizabeth commented on #327
That is pretty cool! If you click on data-mining, PH shows up on an aggregated page with Gensim.

[2017-02-11 01:00] ianmilligan1 commented on #327
And how! Very cool!

[2017-02-11 09:59] acrymble commented on #328
Thanks, this wasn't moved over from the submission site. Fixed now.

[2017-02-11 09:59] #328 closed, assigned to nobody

[2017-02-13 08:49] arojascastro commented on #311
Hello @vgayolrs and @mariajoafana -- any thoughts on this? Should we go with "translation reviewer" or "proofreader"?

[2017-02-13 13:30] vgayolrs commented on #311
Hi everyone!

"Translation reviewer" is most appropriate if we think about what Jairo did
with the Python lessons. I agree with Adam that "Proof reader" may cause
misunderstandings about the responsibilities of who did the translation.

All the best!
Víctor

2017-02-13 2:49 GMT-06:00 Antonio Rojas Castro <notifications@github.com>:

[2017-02-13 13:32] arojascastro commented on #311
ok -- but we need to reach a conclusion... :(

[2017-02-13 13:34] vgayolrs commented on #311
"Translation reviewer"

2017-02-13 7:32 GMT-06:00 Antonio Rojas Castro <notifications@github.com>:

[2017-02-13 14:00] mariajoafana commented on #311
I like "translation reviewers"

[2017-02-13 14:26] acrymble commented on #328
I just had to re-upload this file and the data file for http://programminghistorian.org/lessons/extracting-keywords (which got renamed above). It should all be working now, but it raises issues of assets getting muddled because chances are we won't notice for weeks/ever. I don't suppose we've got a good way to solve this, but it would be good perhaps to have details of all assets associated with a

[2017-02-15 17:58] nabsiddiqui commented on #326
There are considerable differences between Python2 and Python3.  I do not know if that is a problem though.  It may be worth going through either way.  Here is a tutorial on how to install both on the same machine in Windows: https://www.youtube.com/watch?v=IX6mc9l6tY4

[2017-02-17 20:32] wcaleb commented on #280
OK, I have done an initial push of translated pages and lessons in https://github.com/programminghistorian/jekyll/commit/96db94ff3685fe775ef9b68a3d68ec3b0c052b58. The translated Python lessons can now be seen live. For example, here's the [one on counting frequencies](http://programminghistorian.org/es/lecciones/contar-frecuencias).

There are still quite a few bugs we need to address. I'm going t

[2017-02-17 20:32] #280 closed, assigned to nobody

[2017-02-17 20:37] wcaleb commented on #324
@mdlincoln There is now a very rough prototype of the Spanish site contained in https://github.com/programminghistorian/jekyll/commit/96db94ff3685fe775ef9b68a3d68ec3b0c052b58. As you can see there, the basic logic will be that anything under the main `es` directory is a Spanish page. There is also an `es` subdirectory in `_includes` for translated includes. I've modified the `_layouts` with "if-th

[2017-02-17 20:53] wcaleb opened #330 "Proofread Spanish versions of splash pages"
The Spanish versions of our splash pages (About, Project Team, Contribute, and Research) need to be proofread. There are some Markdown problems on some of them that are affecting the HTML display. Please check the box when each is fixed and if possible reference this issue in any commit message related to it.

- [x] [Acerca-de](http://programminghistorian.org/es/)
- [x] [Contribuciones](http://pro

[2017-02-17 20:55] vgayolrs commented on #330
Ok, I take that.

[2017-02-17 20:58] wcaleb opened #331 "Add redirect_from to metadata of Spanish lessons"
I recommend that a redirect_from field be added to each of the translated lessons in the `es/lecciones` directory, where the value is the URL of the English version of the lesson, prepended by `/es/`. There's an example of what this would look like in https://github.com/programminghistorian/jekyll/commit/e6200ad1dd4600fd504453a5d6bc60746d381419.

This will make it easier for me to automate links o

[2017-02-17 20:59] wcaleb commented on #330
Some of the lessons also include links to pages using the `es.programminghistorian.org` form of URLs that we were considering, instead of `programminghistorian.org/es/`, so click through the links to make sure they are working.

[2017-02-17 21:02] wcaleb opened #332 "Update the Spanish lesson directory"
Right now all of the images on [the Spanish version of the lesson directory](http://programminghistorian.org/es/lecciones/) are broken because they point to the relative URL `../images/XXXX`, and because the page is inside a subdirectory (`/es/`), the relative URL doesn't work. I'm not sure whether it's worth going through and fixing all of these yet; depending on the outcome of #193 this page may

[2017-02-17 21:05] wcaleb commented on #322
Right now the Spanish lessons don't have a writing-language field in the metadata. Do these need to be added? This may also relate to #324 (paging @mdlincoln). Right now in the `_layouts` I determine whether the page is in Spanish by checking to see if it is in the `/es/` subdirectory, but perhaps it would be better to make the logic work using a "writing-language" YAML field?

[2017-02-18 10:32] acrymble opened #333 "User Feedback on new lesson directory"
This ties in with #193 and work by @amandavisconti.

Live demo is here:

https://amandavisconti.github.io/proghistdev/lessons/

--
Tester number 1 - academic in STEM:

Was positive about the attempt to improve usability, and liked the browsing/searching combination options. Specific feedback for improving usability:

1) too much information present on the individual lesson descriptions. Suggests o

[2017-02-18 11:29] acrymble commented on #333
User Two: Digital Humanities Scholar

1. I like the design of the old page better (I think it’s the font type) - this is just a preference;

2. I didn’t see the lessons list when I’m seeing the “help me acquire, etc”. So the first time I clicked in one of the buttons, I didn’t see anything happening. Because the changes were occurring below. Then I figured it out, but maybe you want to give a sign

[2017-02-18 11:31] acrymble commented on #333
User Three: User of PH

1. The filter buttons need to be responsive, users with smaller screens won't notice the changing articles.
2. I very much like the goal-oriented categories, but mayhaps they shouldn't necessarily be in a sentence? What's more, on my 14' laptop, the sentence spills over to another line.
3. As a side note, I have no clue as to the demographics of the DH world, but from my ex

[2017-02-18 11:33] acrymble commented on #330
Just noticed that Jeri Weiringa is listed as the contact person on
programminghistorian.org/es/ . Is she able to field queries in Spanish?

On Fri, Feb 17, 2017 at 8:59 PM, W. Caleb McDaniel <notifications@github.com

[2017-02-18 11:36] arojascastro commented on #330
thats definitely wrong. by the time we translated we hadnt decided yet who would be our contact person... ill change it soon. thanks.

[2017-02-18 11:40] acrymble commented on #333
User Four: DH Scholar:

First of all, the idea to allow us to browse among lessons in a faceted way is be fantastic! (is a faceted search option, right?)

- I like the idea to add the possibility of navigating among the “action tags": acquire, transform, analyze.. But from my screen when I click to any of the categories nothing changes, so a user could feel that something is going wrong. Then, I s

[2017-02-18 11:49] acrymble commented on #333
@amandavisconti can I invite you to respond to these, and get a sense of what's possible/desirable?

Summary of suggestions:

**Design Comments**

There were a number of comments related to the design of the top section in particular. Most if not all should be easily addressed:

- [x] List of results is too far down the screen
- [x] Too much scrolling needed - suggested getting rid of the full lis

[2017-02-18 13:35] acrymble commented on #326
Thanks @nabsiddiqui that sounds like a good first step, since the lesson is written for Python 2.

[2017-02-18 13:35] #326 closed, assigned to nobody

[2017-02-18 14:31] vgayolrs commented on #330
thanks @acrymble @arojascastro , working on it.

[2017-02-18 17:48] acrymble opened #334 "RSS feed too greedy?"
I just noticed the following page appeared in our RSS feed:

http://programminghistorian.org/es/translation-list

I don't think we intended that to go out via RSS, so perhaps this needs some tweaking.

[2017-02-18 18:33] vgayolrs commented on #330
@wcaleb I think I'm almost done. But I have a problem with the page "Equipo de proyecto". We have to translate the biographical data of the project members but we need to have the information in a different space from the original one in English (I suppose). If you guide me with this point I would appreciate it.
On the other hand, in the contributions page there is a first paragraph that we added

[2017-02-18 20:30] vgayolrs commented on #334
Deleted from https://github.com/programminghistorian/jekyll/tree/gh-pages/es. This file is for internal control use only in https://github.com/PH-espagnol/borradores
Thank you for notice that @acrymble . I close the issue.

[2017-02-18 20:30] #334 closed, assigned to nobody

[2017-02-18 20:45] vgayolrs commented on #332
@wcaleb When I translated this I left the URLs as they were in the English version. The easiest way is to change them by hand with the URLs of the correct pages in Spanish version. I can do it.

[2017-02-18 21:03] wcaleb commented on #332
Hi Victor,

I wasn't referring to the URLs so much as the new directory design that Amanda is working on. If we implement the redirect_from metadata mentioned in another issue, then the URLs you have already will work.

[2017-02-18 21:04] vgayolrs commented on #332
OK! Thanks!

[2017-02-19 01:38] vgayolrs commented on #331
Done. I'm closing this...

[2017-02-19 01:38] #331 closed, assigned to vgayolrs

[2017-02-19 03:23] vgayolrs commented on #325
@Ape3 : Maybe you can use the solution we applied in Python lessons in Spanish. Put, at the beginning of your program-file.py:

[code]

Don't forget the hash... Tell us if that resolves something.

[2017-02-19 16:06] arojascastro commented on #330
@vgayolrs that image does not exist yet... I just faked the link to the image guessing that we would find an illustration of a translator. @acrymble where did you find those illustrations?

[2017-02-19 18:47] amandavisconti commented on #333
@acrymble Thank you and the reviewers for all this! Very useful. I'll work on a response.

[2017-02-19 20:00] acrymble commented on #330
The images are found in online collections. Instructions on finding an appropriate image are in our editorial guidelines: http://programminghistorian.org/editor-guidelines#7-find-an-image-to-represent-the-lesson

It usually involves quite a lot of browsing.

[2017-02-19 20:33] mdlincoln commented on #322
It looks like this might be a good place to use Jekyll [_collections_](https://jekyllrb.com/docs/collections/)

You already have all the necessary content in `es` - what's needed is registering that directory _as_ a collection in `_config.yml` (I think that would require renaming the spanish directory to `_es` with a preceding underscore, though. That would create a `colleciton` variable for each

[2017-02-19 20:54] amandavisconti commented on #322
The new lessons page uses Jekyll collections (/_lessons), if an example would help: e.g. [the config form the lesson filtering demo site](https://github.com/amandavisconti/proghistdev/blob/master/_config.yml)

[2017-02-20 15:17] amandavisconti commented on #322
Oh, and I did put a writing-language field in the new /_lessons front matter (anticipating other languages), but if there's a way to not manually type that into lesson front matter and instead ID it from what collection a lesson is in, that would be awesome.

[2017-02-20 15:51] amandavisconti commented on #333
_(Checked off items above as I included them here, or added comment above on other action.)_

@fredgibbs, the following user-testing suggestions seem like they might fall under your CSS/styling work—if any do not (or you otherwise don't want to work on them), let me know and I can add them to my task list!:
[ ] Suggested change of font
[ ] One user expressed preference for grid-style rather than l

[2017-02-20 15:51] amandavisconti commented on #193
From user testing (#333) and previous tasks:
[x] Suggestions for tweaking language (remove date, author, reviewers and just leave lesson image, title, abstract)
[x] [alternative to reverse chronological ordering](https://github.com/programminghistorian/jekyll/issues/193#issuecomment-281208539)
[x] With the refactoring I did in 6e12c50, you should be able to access the language of the page with {{

[2017-02-20 19:56] mdlincoln commented on #324
Liquid if-then statements will work just fine. Given that it looks like @amandavisconti will be using jekyll Categories in the site redesign, the if-then statements should probably be able to reference the `category` tag rather than needing to do a regex on the URL. Once the layout redesign is merged in here, then it'd make sense to finish implementing those if-then statements in the layouts. I'd

[2017-02-20 23:55] fredgibbs commented on #193
i agree with basically everything in the previous post by @amandavisconti but i would say that a reverse chronological order is not necessarily that helpful. My sense is that many people attracted to PH need some hand-holding in terms of figuring out how to get started and learn totally new tech things, which we (thankfully) provide more than most tutorials. So I think there is a good argument to

[2017-02-21 00:38] fredgibbs commented on #333
yes! mostly, i am indeed working on these. i think that
[ ] List of results is too far down the screen
is similar to "too much scrolling needed" so i'm going to leave that to you, @amandavisconti, but the others will be handled in my ongoing work.

[2017-02-21 00:40] fredgibbs commented on #333
actually, now that i've posted that, i see how i probably misunderstood the comment, so nevermind. they are all on my list!

[2017-02-21 07:53] acrymble commented on #311
This can be closed if you've already started implementing it. Just add a note to the Editorial Guidelines (http://programminghistorian.org/editor-guidelines) and let us know how to start using it.

[2017-02-21 10:11] mariajoafana commented on #330
I can be the contact person on the Spanish website

[2017-02-22 18:19] vgayolrs commented on #311
Ok, closing this.

[2017-02-22 20:58] acrymble opened #335 "Editorial Meeting Agenda 24-02-2017"
Please suggest any topics you think we should discuss at our editorial call.

Some suggestions from me:

* New Lesson page #193 #333 - @amandavisconti lead.
* Various CSS/styling updates #130 #273 #303 #308 #321 - @fredgibbs lead.
* Spanish lessons soft-launch #330 #332 #333 - @mariajoafana @arojascastro @vgayolrs leads.
* New editorial applications @acrymble lead.

Other ideas?

[2017-02-22 23:49] wcaleb commented on #322
Thanks for the tip! I've implemented the `collection` solution in c8ba6c0d6a357f00d6a9826e60f30db221834ce8. Still working out some kinks.

[2017-02-23 00:16] wcaleb commented on #322
OK, the kinks are actually pretty serious. As you can see if you look at a page like [this one](http://programminghistorian.org/es/lecciones/contar-frecuencias), or any of the other lessons in the `_es` collection, on rendering the page it is inserting the whole page multiple times at weird points in the HTML. I though the culprit was the `next` and `previous` fields in the YAML, but I took those

[2017-02-23 00:26] wcaleb commented on #322
The behavior of the `_es` collection was so wonky that I decided to revert the change for now so we can do more localized testing (which I probably should have done from the beginning!). So disregard above comment.  Sorry to spam your inboxes!

[2017-02-23 00:36] wcaleb commented on #335
Just putting her for reference that while we do have a rough version of some of the Spanish lessons working, we may want to hold off on implementing bigger changes suggested in #322 until the changes that @amandavisconti and @fredgibbs are working on are incorporated into the live site.

For example, if we switch to working with collections, as @mdlincoln suggested in #322, my initial testing sugg

[2017-02-23 02:41] jerielizabeth commented on #330
Thanks @mariajoafana for taking on the Spanish contact role! Happy to help in any way I can!

[2017-02-23 02:54] jerielizabeth commented on #335
Hi all,

Since I won't be able to attend tomorrow, a couple of thoughts from my side of things:

I have received only one response to the call for editors and one response to the call for lessons (Spatial Cluster Analysis), both of which I circulated on the google list (let me know if there are any questions on those.)

In terms of the style updates, it looks like the user testing generated some r

[2017-02-23 03:10] #330 closed, assigned to vgayolrs

[2017-02-23 03:59] vgayolrs commented on #330
@wcaleb : proofreading completed. There are another little things to do, but we can close this.

[2017-02-23 11:56] amandavisconti commented on #322
@wcaleb The next/previous were causing similar repeated loops on my lesson filter work, so I removed them and created an issue (#321) to look at reintroducing them later.

[2017-02-23 15:33] ianmilligan1 commented on #335
I'm co-hosting an event at Internet Archive today/tomorrow.. Friday is mostly small groups working on projects, kicking off at 9am, so I am pretty sure I'll be able to hang out in a corner and call in. But I might be a few minutes late in case of logistical issues.

I don't have too many thoughts, but some updates. The last two months have been challenging workload wise. 😫

[2017-02-23 15:40] vgayolrs commented on #335
Hi everybody...! I'm terrible sorry.... This Friday I have two academic activities that could not be scheduled for another date (15:00 & 17:30 London time). But in the Spanish team, - @mariajoafana  @arojascastro  and I - we are working hard to give you this Friday an idea of the progress. All the best!

[2017-02-24 17:25] wcaleb opened #338 "Update layout header for Spanish"
Some parts of the Spanish lesson headers are still in English:

- [x] "Por" instead of "by" authors
- [x] "reviewed by"
- [ ] date
- [ ] "next" and "previous" lessons

[2017-02-24 17:38] acrymble commented on #335
@mariajoafana and @arojascastro to update the spanish lessons page for soft launch next week. And to provide a blog post / blog.md translation to advertise. They are going to make lots of tickets when they notice things we need to fix. We expect there will be lots of small things.

[2017-02-24 18:37] acrymble opened #339 "Keeping track of proposed lessons"
Suggestion from @fredgibbs for keeping track of (and following up on) proposed lessons that come in, as a number of these fail to materialise. The suggestion is to create a ticket on the submission site (https://github.com/programminghistorian/ph-submissions) when a new proposal comes in, outlining the basics of what's been agreed, listing the name of the author, and giving a 3 month window to wri

[2017-02-24 18:41] acrymble commented on #335
@fredgibbs reported on his tinkering with our css and layouts. It's been suggested that he make a new ticket that outlines what he's working on, as there was some confusion. This mostly affects streamlining rather than design. He's hoping to launch some of the updates incrementally before the next call.

@amandavisconti is going to work ahead on the revisions to the lessons page as per the user fe

[2017-02-24 18:41] #335 closed, assigned to nobody

[2017-02-24 20:31] wcaleb commented on #335
I worked on a refactoring of the layouts based on @mdlincoln suggestions in #324  and also created the language snippets file we discussed. See https://github.com/programminghistorian/jekyll/commit/6e12c50d43fcc0d3de546dccbeeb986d23bfb0f5.

@fredgibbs @amandavisconti Take note of new templating logic. Using the "defaults" variable setting in the `_config.yml` makes me think we might not need to us

[2017-02-24 20:36] #324 closed, assigned to wcaleb

[2017-02-24 20:39] wcaleb commented on #338
Addressed, at least in part, by https://github.com/programminghistorian/jekyll/commit/6e12c50d43fcc0d3de546dccbeeb986d23bfb0f5

[2017-02-24 20:39] #338 closed, assigned to nobody

[2017-02-24 22:31] wcaleb commented on #335
Also another follow-up to our discussion about the `redirect_from` field in the translated lessons' YAML headers. Another reason we need to be able to connect the English lesson to the translated version is because of the way our `images` directory is structured (images for a particular lesson are in a subdirectory with the English slug). Our `figure.html` include was using the English page URL to

[2017-02-24 22:34] wcaleb commented on #322
@amandavisconti With the refactoring I did in https://github.com/programminghistorian/jekyll/commit/6e12c50d43fcc0d3de546dccbeeb986d23bfb0f5, you should be able to access the language of the page with `{{ page.lang }}`. That variable is set by default in `_config.yml` based on the page's path.

[2017-02-24 22:35] wcaleb commented on #332
Closing for now as I think it's ready enough for the soft launch.

[2017-02-24 22:35] #332 closed, assigned to nobody

[2017-02-25 00:32] vgayolrs commented on #335
@wcaleb : "revisado" is fine! Thanks.

[2017-02-26 17:41] acrymble opened #340 "way to validate yamls?"
It's obviously really easy to make mistakes in our lesson YAML metadata blocks. If you look at the two lessons below, the first uses 'reviewer' to list the editor, and the second uses an 'editor' tag for the same.

https://github.com/programminghistorian/jekyll/blob/gh-pages/lessons/topic-modeling-and-mallet.md
https://github.com/programminghistorian/jekyll/blob/gh-pages/lessons/editing-audio-with

[2017-02-26 20:12] fredgibbs opened #341 "remove legacy css"
we still have layout code from the wordpress site. time to clean up!

[2017-02-26 20:13] fredgibbs opened #342 "standardize site typography across site pages"

[2017-02-26 20:23] fredgibbs commented on #339
this looks good to me! although i don't think we need to say that the topic could be pursued by another author, since the general topic could always be pursued by someone else as long as the learning outcomes were different. i vote to say the ticket will be closed and can be reopened if the author decides to take up the lesson again.

[2017-02-26 20:27] fredgibbs opened #343 "apply new typography to lessons page"
this has been mentioned as somewhat discussed in #193 and #333 but is separate enough to get its own ticket.

[2017-02-26 20:28] fredgibbs opened #344 "use bootstrap class formatting for wider and more responsive page layouts"

[2017-02-26 20:31] fredgibbs opened #345 "economize lesson header typography to bring key lesson goals higher on the page"

[2017-02-26 20:36] fredgibbs opened #346 "implement nav bar with dropdowns"
proposed nav structure (precise nav headers will be decided later, but here are the topics):

Home
About
--What and Why
--Research
--Project Team
Lessons
--(could have subpages that brought up a default view, like newest, most popular, whatever)
Contribute
--Provide Feedback
--Write
--Review
--Edit
Blog

[2017-02-26 20:39] fredgibbs opened #347 "reformat lesson footers to reduce page length"

[2017-02-27 16:09] acrymble commented on #346
Spanish too.
@arojascastro has also added a 'Translate' under 'Contribute'.

[2017-02-27 19:42] amandavisconti commented on #322
@wcaleb Awesome!

[2017-02-27 20:07] #327 closed, assigned to nobody

[2017-03-01 15:42] mariajoafana opened #350 "Adding gallery images to Python lesson directory in Spanish site"
I'm trying to figure out how to do this. In addition to adding the images to each Python lesson some css changes need to be made so it looks exactly like the English site. I was going to copy an paste the code from the English Python lesson directory into this file jekyll/es/indice-de-lecciones.md
Is this the file that I should be modifying? I don't want to mess anything up

[2017-03-01 15:44] vgayolrs commented on #350
I will do it.

[2017-03-01 15:44] fredgibbs commented on #350
do we have two efforts working on the lessons page at once, @mariajoafana and @amandavisconti?

did we decide which will launch first?

[2017-03-01 15:47] fredgibbs commented on #350
if we are more or less duplicating the code of the existing english lessons page, we should spend minimal time on that because i have been waiting to re-style that after the new lessons page is set. i will also refactor the page so that we don't have duplicate code for each language.

[2017-03-01 15:47] vgayolrs commented on #350
no @fredgibbs : it is just to update the Spanish version to make it like the English one.
ADD: sorry, I didn't see your last post. That's wonderful. So, how do we proceed?

[2017-03-01 15:49] fredgibbs commented on #350
right, but the english one is about to change with category functionality and so on, so the spanish one will need to be revised again. maybe the new lessons page is still far enough away that it doesn't matter, but i wasn't sure what the timeline is.

[2017-03-01 23:06] wcaleb commented on #350
Even on the English site, the Intro to Python lessons don't have images. I would either wait until the newly redesigned lessons page is ready or until you want to launch some translated lessons that are not within the "Introduction to Python" series.  The Spanish version of the existing lessons page can be found [highlighted in red here](https://github.com/programminghistorian/jekyll/commit/1bdc59

[2017-03-02 04:02] vgayolrs commented on #350
@wcaleb @mariajoafana  yes, the file could be deleted because the working one is `lecciones/index.html`

[2017-03-02 08:14] acrymble commented on #350
@wcaleb the intro to Python lessons do have images now:
http://programminghistorian.org/lessons/

On Thu, Mar 2, 2017 at 4:02 AM, Víctor Gayol <notifications@github.com>
wrote:

[2017-03-02 10:25] acrymble commented on #303
I have been asked to make this easier (for work) to understand my contribution to this project. I suspect it would also help our readers and potential contributors. So I'd like to roll this out if we can. Anyone unhappy with these categories? I've tried to think who would be in which, so please don't be offended if you think I have it wrong (just add yourself).

1. Commissioning Editor

- Jeri Wie

[2017-03-02 13:30] amandavisconti commented on #350
I'm hoping to have my lessons page work done by the end of this weekend (this will just be functionality, not the styling Fred is doing)

[2017-03-02 13:34] wcaleb commented on #350
@acrymble Ah, somehow I missed that. Sorry for the oversight! I'll try to get the images over to the Spanish version this morning.

[2017-03-02 14:04] wcaleb opened #354 "Translate Spanish versions of author bios"
As noted on #348 by @vgayolrs: right now "the authors bio data will be displayed in English, i.e.: "William J. Turkel is Professor of History at the University of Western Ontario", instead of "William J. Turkel es profesor de Historia en la Universidad de Western Ontario""

[2017-03-02 14:06] wcaleb opened #355 "Make date string on lessons language-independent"
As noted in #348 by @vgayolrs, right now our date string at the top of the lessons and in suggested citations contains the English words for months.

We could easily change the date format so that it only includes numbers (like 02-14-17), but would we then run into problems in differences between USA norm (MM-DD-YY) and international norm (DD-MM-YY)?

The only other way I can think to do this woul

[2017-03-02 14:11] wcaleb commented on #350
@amandavisconti I'm going to go ahead and make the Spanish index like the old one for now; that way they can proceed with their soft launch while we test out the functionality of the new lesson page over on English. Especially since they really only have a few lessons translated right now, it might be overkill to implement the new lessons page over there, and I know they are eager to announce the

[2017-03-02 14:17] acrymble commented on #355
Could adopt YYYY-MM-DD.

[2017-03-02 14:25] wcaleb commented on #303
@acrymble I definitely see the benefit of making more specific what we do, but I wonder if this breakdown works at cross-purposes with the goal of simplifying the page. I think there's even more overlap and could be more with time. (For example, I have one lesson I'm editing and another submission being prepared; if others come on who do both technical and editorial work, then those lists will bot