[2019-02-18 15:39] #1172 closed, assigned to mdlincoln

[2019-02-19 16:39] acrymble commented on #878
The Digital Pedagogy Lab in the US operates on donations only. Does anyone know any of them and can find out who manages their donations? Is it a university? http://www.digitalpedagogylab.com/support/

[2019-02-19 18:27] acrymble opened #1179 "Roy Rosenzweig Prize ($4k) - application"
I believe we should be putting together an application for the Roy Rosenzweig prize: https://www.historians.org/awards-and-grants/awards-and-prizes/roy-rosenzweig-prize

The deadline is May 15, 2019, and is for $4,000 in funding to help achieve the project's goals. The Spanish Edition is elligible because it is only 2 years old (the English version is too old). I would welcome suggestions for how

[2019-02-20 08:19] drjwbaker commented on #878
Looks like they have a setup exactly like the one I was exploring: running donations through a university alumni office as alumni offices are the parts of universities best setup to handle the logistics and legalities of donations.

[2019-02-20 08:51] acrymble commented on #878
Thanks for checking @drjwbaker. This is really an area that Americans are better at. But I wonder if the IHR or some other DH centre in the UK would be willing to "host" our relationship with an alumni office at their university? Should I ask around?

[2019-02-20 08:54] acrymble opened #1180 "Google Summer of Code 2020?"
Hi Team, some of you might be familiar with the "Google Summer of Code" programme. It pairs up computer science students with organizations working on open source projects. We've missed the February deadline this year, but is sthis something we might be interested in for next year?

https://summerofcode.withgoogle.com/

It requires a physical premises to work in, and a dedicated supervisor. My tho

[2019-02-20 08:54] drjwbaker commented on #878
It doesn't have to be in the UK (though depending on how *things* pan out, it could still be where I am). And perhaps - looping into discussions of getting institutional credit for our work - we should start with our own institutions?

[2019-02-20 16:10] mdlincoln opened #1181 "possible bug in "using geospatial data""
[reported from twitter](https://twitter.com/Nate_Housley/status/1097272622834798598):

I can look into it this weekend unless someone has a chance to take a look sooner.

[2019-02-20 16:52] drjwbaker commented on #1179
Some ideas. To pay for:

- the commissioning of a report on language interoperability in common DH tools/approaches (using ES as a test language).
- time to research and publish new versions of existing lessons based on emerging ES language data/sources.
- another writing workshop.
- a speaking/engagement tour.

[2019-02-20 18:00] acrymble commented on #1179
Worth noting that nearly all of their past prizes go to digital archives, so framing it in a "new media" focused way would be a good idea.

[2019-02-20 20:19] mariajoafana commented on #1179
Great idea. A combination between the second and third options seems to me like a good idea. A workshop to produce data sets and/or do some research digital archives' in Spanish, and then writing time to create new versions of existing lessons

[2019-02-21 01:58] #1168 closed, assigned to mariajoafana

[2019-02-21 05:29] vgayolrs commented on #1179
I agree with @drjwbaker  and @mariajoafana  . But I think it's important to consult the rest of the team. One important thing is that we have not developed a particular objective from the PH-es perspective. Simply as we have embedded ourselves in a previously determined structure, which is not bad, but it invites us to reflect. There is an example: the reflections we took over last year for the HD

[2019-02-21 07:42] arojascastro commented on #1179
Hi, thank you @vgayolrs for pinning me - otherwise I would not have seen this. I agree with Víctor that we need to discuss collectively and internally what we have achieved and what we want to achieve, our experience and how we see our future as a group of people working on the same project. I guess we should have a meeting and talk about - I cannot remember the last time we all could make it to t

[2019-02-21 08:11] drjwbaker commented on #1179
Glad this is leading to a discussion of purpose around the goals of PH-ES :smiley:

And yes, @arojascastro, I agree that translation is versioning. So I misspoke/typed. I guess I was envisaging more radical rewriting (which we might never do without funding), as that would - I expect - reveal in interesting ways how different datasets fundamentally change the premise of a lesson on using a particu

[2019-02-21 12:37] acrymble opened #1182 "2019 ES-Team objectives"
Building from the discussion in #1179 @vgayolrs has suggested that the ES-team needs to discuss some strategic objectives for the project. I've opened this ticket to host those discussions as it is separate from #1179

[2019-02-21 12:38] acrymble commented on #1179
Thanks for the comments everyone. To keep things organized and on topic, I've created a new ticket to discuss the Spanish team's direction and objectives for this year (#1182). That will let us keep this ticket clear for discussing an application once those objectives have been decided.

[2019-02-21 16:26] #1169 closed, assigned to spapastamkou

[2019-02-22 07:43] acrymble opened #1183 "Restructure as a "Publisher" & "Publications""
In light of our expansion into French and an acknowledgment that the Spanish team might want to work towards a unique strategy #1182 that is different from the English team priorities, I wonder if it isn't time that we discuss restructuring the project into two different initiatives:

1) A "Publisher" of open access peer reviewed methodology journals run by a board that makes decisions about thing

[2019-02-22 08:17] mpuren opened #1184 "Recruitment of french-speaking reviewers and translators"
Translators and reviewers are not necessarily members of the PH team, but they can contribute to the project such as authors or reviewers of any journal.

Those who are interested by acting as reviewers or translators for the Programming Historian en français can read : [Consignes aux évaluateurs et évaluatrices](https://programminghistorian.org/fr/consignes-evaluateurs), [Consignes aux auteur(e)s

[2019-02-22 08:22] acrymble commented on #1184
Can we just clarify that reviewers and translators don't need to join the "team" https://programminghistorian.org/en/project-team. Most authors and reviewers are not on our board. They just contribute to the project in a way similar to authors and reviewers of any journal.

[2019-02-22 08:25] drjwbaker commented on #1183
Thanks for raising this Adam. Builds on discussion we had last spring https://github.com/programminghistorian/jekyll/issues/788#issuecomment-380176694 I think this is where we have drifted since then and agree that it would be sensible to look at formalising roles based on 'Publisher' and 'Publications' (so, we in effect end up with 4 teams). My instinct, would be that we are by default attached t

[2019-02-22 09:59] amsichani commented on #1160
Thanks for your thoughts . Given the complexity and the difficulty of this tutorial, I 'd suggest we ll take here this word limit as suggestion and not as a hard limit and accept this as it stands. As for the translation issue, although I am generally sharing the rationale 'short tutorials =easier translation', especially for this tutorial I d find  difficult to get it translated given the 1) lang

[2019-02-22 10:50] acrymble opened #1185 "British Academy Network grant £25k"
I hope you all don't mind me continuing to post relevant funding calls, but the British Academy has a call at the minute for partnerships between the UK and developing countries. It strikes me as something we could use to build partnerships with either India or people in Africa:

https://www.thebritishacademy.ac.uk/programmes/gcrf-networking-grants?utm_source=newsletter&utm_medium=email&utm_campai

[2019-02-22 10:54] mpuren commented on #1184
@acrymble Done. And thank you for your comment

[2019-02-22 11:02] arojascastro commented on #958
We should write a section or a paragraph with some recommendations about inclusive language in our guidelines.

[2019-02-22 13:29] arojascastro opened #1186 "Potential collaboration with Pelagios Commons"
I would like to report about a potential collaboration between the PH and [Pelagios Commons](http://commons.pelagios.org/) and its suite of tools [Recogito](https://recogito.pelagios.org/) and [Peripleo](http://commons.pelagios.org/forums/topic/ten-days-left-to-apply-for-a-pelagios-small-grant/).

Pelagios Commons is a platform that aims to provide resources like gazetteers to link places: 1. Reco

[2019-02-22 14:32] spapastamkou commented on #1161
I put some ideas for structuring a blog post in [this pad](https://mypads.framapad.org/mypads/?/mypads/group/proghist-fr-m56us7cv/pad/view/blogpost-ph-fr-dp32ks7tn). I think this could help us have a text by next week to put here in comment. All ideas are welcome, we can add, change things etc. Maybe @mdlincoln can suggest a formulation for the Mellon Foundation sponsorship?

[2019-02-22 15:11] arojascastro commented on #721
we need to update /research with our EADH talk

edit: I already updated

[2019-02-22 15:17] mdlincoln commented on #878
I'll ping folks at my institution and see if there's a way to do this.

[2019-02-22 15:19] drjwbaker commented on #1018
Park until late-April/May to ramp up internal discussion of this. Then work on implementation in mid/late summer.

[2019-02-22 15:33] drjwbaker commented on #1185
Related to https://github.com/programminghistorian/jekyll/issues/1155#issuecomment-460206261

[2019-02-22 15:36] drjwbaker commented on #1179
Does anyone want to pick this up and lead on whether or not we go for it?

[2019-02-22 15:39] drjwbaker commented on #1183
This impacts acutely on some policy:

- quorum https://github.com/programminghistorian/jekyll/issues/789
- sub-teams policy https://github.com/programminghistorian/jekyll/wiki/Additional-Language-Sub-Teams-Policy
- diversity https://programminghistorian.org/en/about#diversity-policy

[2019-02-22 15:51] drjwbaker commented on #1183
- [ ] @ all put in this ticket things we think are impacted by this proposed change.
- [ ] In response to our comments, @acrymble to write a document that outlines in more detail (but not too much!) the new proposed structure so that we can all comment on it.

[2019-02-22 15:53] arojascastro commented on #1186
We discussed this issue in our monthly meeting, and we reached a kind of agreement: we welcome any proposal from Pelagios, and we will treat it as any other proposal - that is, in order to succeed lessons will have to be compliant with our current guidelines and pass our peer reviewing process. I'll try to draft an answer for Pelagios as soon as possible.

[2019-02-22 15:56] acrymble commented on #1183
This proposal might also allow us to start to recruit specialists that have skills that could benefit us as a publisher but who might not be interested in our individual publications. Eg, people interested or skilled in financing projects, open access or sustainability experts, librarians and metadata experts, etc.

[2019-02-22 16:03] drjwbaker commented on #1186
Plus we want to see how they proposal to word the call (at least the bit that mentions us) before they put out the call.

[2019-02-22 16:10] arojascastro commented on #1186
Right! Thank you for the reminder

[2019-02-22 16:53] spapastamkou commented on #951
Well, here is a much delayed update: Once I started work on the national policies in Europe, things started moving as a result of some countries adopting the S plan (of which France). So I waited till it's more stable. I can complete the PH part in a general way on the basis of info provided [here](https://www.coalition-s.org/about/) if you think it's worth it.

[2019-02-22 17:16] spapastamkou opened #1189 "update FR guidelines with explicit mentions to translations"
The FR pages with guidelines for editors, authors, and reviewers were translated from EN. As a result, there is not a lot of stuff on translations, whereas this exists in the ES pages.

I found the following parts:
https://programminghistorian.org/es/guia-editor#nota-sobre-la-revisi%C3%B3n-de-traducciones
https://programminghistorian.org/es/guia-para-revisores#traducciones
https://programminghisto

[2019-02-23 12:06] arojascastro commented on #1189
Maybe this is a great opportunity to discuss if we should split the guidelines for authors and for translators and if the English edition should include information about translations as well (since we are publishing original tutorials in Spanish soon). @programminghistorian/english-team @programminghistorian/spanish-team

[2019-02-23 22:48] jenniferisasi commented on #1189
I agree with @arojascastro, it could be a good way to have a conversation about splitting the guidelines. In particular, I'm thinking it would be beneficial to have "how-to" guide for translations, as I am sharing a series of "tips" with the French team. For instance:
- If the software cannot be changed into the target language, keep the original term in the instructions and provide a translation

[2019-02-24 08:35] acrymble commented on #1183
Can I ask everyone on the editorial board to express which team(s) they feel they would most like to be part of if we were to make this split?

Choices being: Publisher, English, Spanish, and French publications.

@mariajoafana @ZoeLeBlanc @mdlincoln @jamotilla

Responses:

**Publisher:**

- @acrymble
- @drjwbaker
- @spapastamkou
- @vgayolrs
- @amsichani
- @arojascastro

**English**

- @JMParr
- @

[2019-02-24 14:48] fdlaramee commented on #1183
For me: French publications. I do not believe that I have any special skills that would be particularly useful on the Publisher side but I could contribute grunt work there as needed. And in the unlikely event that we ever run out of native English speakers, I could fill in there as well.

[2019-02-24 17:11] jenniferisasi opened #1190 "Onboarding Checklist for ES New Editor: Riva Quiroga"
This is an individual onboarding editor checklist for Rica Quiroga (@rivaquiroga), initially found [here](https://github.com/programminghistorian/jekyll/wiki/Onboarding-Checklist-for-New-Editors).

We've put together this information to help you get up to speed. It includes details of what we will do and a checklist of tasks you should complete, to make sure you know how to perform key tasks.

##

[2019-02-24 17:15] jenniferisasi opened #1191 "Onboarding Checklist for ES New Editor: Joshua Ortiz Baco"
This is an individual onboarding editor checklist for Joshua Ortiz Baco (@joshuaGOB), initially found [here](https://github.com/programminghistorian/jekyll/wiki/Onboarding-Checklist-for-New-Editors).

We've put together this information to help you get up to speed. It includes details of what we will do and a checklist of tasks you should complete, to make sure you know how to perform key tasks.

[2019-02-24 21:56] amsichani commented on #1154
Minutes of the Φebruary meeting, mainly actions points and decisions made - please amend if I misunderstood or skip smth:

- [ ] #1184 Recruitment of french-speaking reviewers and translators : @programminghistorian/french-team will issue a call (blogpost)  on recruiting reviewers and translators / a series of tasks before this call including translation of the wiki pages, FR managing editor role,

[2019-02-24 23:42] spapastamkou commented on #1189
It would be more clean to split the guidelines and have translators specific ones. So I favour the idea and will be glad to work on that. Perhaps we could write a general text for the web site and keep the specific details for the wiki?
If we are to go further with this, perhaps it would not be necessary to update the FR pages in the meantime as proposed.

[2019-02-25 00:27] spapastamkou commented on #1184
Thank you for this ticket @mpuren.
A small question: the blog post you propose would be the same as in #1161 or a separate one? We could perhaps use the announcement of the launch of the FR PH (or not) to say that we are open to reviewers and translators. But in any case, before going further, it would be important to:
- finish with #1161
- name our Managing Editor (to have a point of contact)
- p

[2019-02-25 00:31] spapastamkou commented on #1183
We have one or more choices?

[2019-02-25 01:45] #901 closed, assigned to vgayolrs

[2019-02-25 02:27] mdlincoln commented on #1181
OK, I've checked through the lesson and the uploaded data have quite a few problems.

Firstly, our reporter is correct - there is no `Country1900_Data/nhgist0027_ts_nominal_country.csv` file.

Moreover, the `County1900` directory data is incomplete - it has data, but no spatial information, such that when I run the very first import command of the lesson, I get the following warning:

[code]

Beca

[2019-02-25 08:28] drjwbaker commented on #1183
I think I've been more 'Publisher' than 'English' since I joined, but happy to slot in wherever I'm needed.

[2019-02-25 08:50] arojascastro commented on #1183
I'm not sure... I like both.

[2019-02-25 10:37] rivaquiroga commented on #1190
Hi everyone!
Thank you very much for the onboarding. Here is the information required:

- @mdlincoln: my GitHub user is @rivaquiroga.
- @amsichani: my Skype account is @rivaquiroga.
- @acrymble: my Twitter handle is @rivaquiroga.
(bassically, I have the same username everywhere :nerd_face:)

Thank you again! I'm very happy of being part of this awesome project.

[2019-02-25 11:23] acrymble commented on #1183
@spapastamkou what ever you feel makes sense to you. You can be on more than one for our purposes here. But I suspect not everyone is interested in being on more than one.

[2019-02-25 12:43] acrymble commented on #1183
For comment. My idea for how this might look in practice. Not fully formed:

**Publisher (working title: “Method Press” or "Invisible College Press")**

- Provides technical infrastructure for peer review and publishing for its publications.
- “owns” the publications and their titles but also “serves” the boards of each as a service provider.
- makes decisions about new publication titles.
- has o

[2019-02-25 14:13] mdlincoln commented on #1190
Thank you @rivaquiroga I've just sent you invitations to the github repository. It's great to have you on board 😸

[2019-02-25 14:16] mariajoafana commented on #1190
Bienvenida Riva!

[2019-02-25 14:22] mariajoafana commented on #1182
Thanks for opening the ticket Adam.

[2019-02-25 15:51] walshbr commented on #1183
Just a note to say that I'm not ignoring the pings. I don't think that I know the context for this enough to be able to weigh in constructively (since I've been sabbatical'ing). And without more information I don't know that I'll be able to say which part of a split I'd want to be a part of. So I'll be following the discussion and might comment more when I feel like I have enough of a sense to do

[2019-02-25 16:13] mdlincoln commented on #1183
This would be a concern of mine as well. IT has been a massive struggle for our different teams to keep up with the constant changes to editorial and production instructions. I think those changes have been for the better - we're constantly clarifying and making implicit things more explicit - but it does suggest that we're still in a relative state of flux.

[2019-02-25 21:31] acrymble commented on #1183
@mdlincoln I think that might be a separate issue. My sense is that the systems in place for "publications" are actually quite robust and can be replicated in any language (more or less). We know how the proposal, peer review, and publication systems all work. These don't actually change much, though it can be a lot of work training new people to use these systems.

Where we tend to "innovate" is

[2019-02-25 21:32] #1154 closed, assigned to amsichani

[2019-02-26 08:35] acrymble opened #1193 "French ombudsperson"
I just noticed that Amanda Visconti is being listed as the Ombudsperson on the French submission tickets. Really it would be better for someone on the French team to take on this role for French submissions so that everyone can operate in French.

This role is not a lot of work. We have only ever ONCE called upon the ombudsperson. But it's important to have them in place.

[2019-02-26 09:00] acrymble opened #1194 "Copyediting stylesheet (funded *fingers crossed*)"
There is a small pot of internal funding I can apply for (very short deadline). I am thinking of applying to have someone in the publishing business help us create a stylesheet for copyediting lessons. By copyediting, I mean the stage after the lesson is "done" and before it is "Published".

At the moment this burden falls on editors (https://programminghistorian.org/en/editor-guidelines) and the

[2019-02-26 09:01] acrymble commented on #1194
I should say, this is meant to be a time saver in the long term, specifically for editors. As well as a way to catch mistakes so we don't have to fix them later down the line.

[2019-02-26 12:45] acrymble commented on #1155
We've got a number of new ideas out there now, so i think this ticket has served its purpose.

[2019-02-26 12:45] #1155 closed, assigned to acrymble

[2019-02-26 12:48] acrymble commented on #1180
Ok I'm going to close this. It's been open a week and no body has expressed any interest. That's absolutely fine. If anyone changes their mind, feel free to re-open it.

[2019-02-26 12:48] #1180 closed, assigned to nobody

[2019-02-26 14:49] mdlincoln commented on #1180
Sorry I didn't respond earlier, but I agree it's fine to close. GSC projects tend to focus on much more computationally-intensive things like optimizing machine learning. They've had a few projects with wikimedia however those were definitely aimed at large-scale interface and editing workflows with high impact - probably something beyond our scope.

[2019-02-26 15:20] #1137 closed, assigned to walshbr, alsalin, mariajoafana

[2019-02-26 15:22] mdlincoln commented on #1194
What would be particularly useful from this is a stylesheet specifically for code-heavy writing, as our lessons are. Guidelines on when to use `inline code` (for variable, function, or filenames) spans versus

[code]

and the use of subheads, bulleted/numbered lists in particular would be great. These are small things that, when done consistently, have a nice cumulative impact on the readability o

[2019-02-26 15:26] mdlincoln commented on #1160
I'm closing this for now since it sounds like this is resolved as well as it's going to be?

[2019-02-26 15:26] #1160 closed, assigned to amsichani

[2019-02-26 15:31] alsalin commented on #1194
I agree with @mdlincoln and would like to add that we'd need to decide on the level of copyediting and the issue of voice. Our lessons vary greatly in terms of formality and voice and, as opposed to technical writing where you want to have one voice across publications, the voice of authors in this case should be preserved - but to what level. Do we want to include style guidelines for author voic

[2019-02-26 16:25] acrymble commented on #1194
Maybe we should just steal / borrow the O'Reilly styleguide then? http://oreillymedia.github.io/production-resources/styleguide/

I agree about the importance of literary and technical style here.

[2019-02-26 20:36] acrymble commented on #1179
I'll take the lead on this, because I think it's important that we apply for this.

I've drafted some text about the project, but I haven't yet included the actual idea. I think we can reasonably build upon the Bogota workshop and possibly host another one somewhere in the Western hemisphere, but the $4,000 isn't nearly as big as the £17,000 we spent on the previous one, so it would have to be org

[2019-02-27 09:49] arojascastro commented on #1186
I contacted Pelagios and shared our position. They answered with a positive reply. I am closing this since we are having email exchanges and no discussion is needed any longer. Thank you all.

[2019-02-27 09:49] #1186 closed, assigned to arojascastro

[2019-02-27 09:55] arojascastro opened #1195 "CfP IV Congreso Internacional HDH"
La llamada de propuestas del congreso de la asociación HDH - en Toledo (España), del 23 al 25 de octubre - se publicó hace poco: https://eventos.uclm.es/24964/detail/iv-congreso-internacional-de-la-asociacion-de-humanidades-digitales-hispanicas.html

La fecha límite para presentar propuestas, aunque no lo ponga en esa página, es el 31 de marzo.

Me gustaría enviar una propuesta para presentar resu

[2019-02-27 19:17] jenniferisasi commented on #1195
@arojascastro sería genial presentar en ese congreso! Para ese momento tendremos varios originales publicados y más traducciones y, desde luego, podemos reutilizar el trabajo que hicimos para la presentación en Irlanda y la que haremos (aunque está pendiente de confirmación) aquí en EEUU. Me apunto a trabajar pero, como sabes, no sé si podré viajar hasta Toledo (ojo, si confirman con suficiente an

[2019-02-27 19:30] fdlaramee commented on #1189
Splitting the guidelines for authors from those for translators seems like a good plan. Something to add to the agenda for next month's conference call?

I agree with @spapastamkou that making changes to the existing FR pages may not be necessary if we pursue this plan, especially since we are still working within our small group for the time being. As long as we make a decision soon enough that w

[2019-02-27 19:52] fdlaramee commented on #1184
My gut instinct would be to include a low-key sentence in the #1161 blog post to say that we will be launching a formal search for translators and reviewers later this Spring and that in the meantime people who wish to volunteer should contact the Managing Editor, who will respond with instructions when they are ready. Something like what @spapastamkou wrote in Paragraph 2 of the pad, but with a q

[2019-02-27 19:56] fdlaramee commented on #1161
The blog post structure seems good to me. As I mentioned in #1184 I think that a low-key appeal to potential volunteers (in paragraph 2) is a good idea, provided that we make sure to mention that we're not quite ready to send them work right away.

[2019-02-27 21:09] jamotilla commented on #1195
Genial @arojascastro y @jenniferisasi Cuenten conmigo!

[2019-02-27 21:24] jamotilla commented on #1179
Hi @acrymble i think Mexico can be a good idea. What do you think @vgayolrs? Maybe in Mexico City, in San Luis Potosí or in Zamora. I can help leading this.

[2019-02-28 08:18] drjwbaker commented on #1179
Can we hook into / partner with some of the local organising committee for DH2018? I know they must be still exhausted and are more pan-DH than us, but it seemed like they had a good network. Perhaps Silvia (who came to the Bogota workshop, right?)

[2019-02-28 08:37] arojascastro commented on #1195
Ok, crearé un Google doc en donde podemos compartir ideas.

[2019-02-28 08:54] drjwbaker commented on #1194
Thanks for pursuing this Adam. I'd like to see a stylesheet guide authors on how to spot when they are drifting between tenses and offer some tips on how to write in the second person plural (you) form. On the latter and taking @alsalin's point, I actually don't want to enforce either 'next you should enter' or 'next we enter', rather I want authors to be consistent across a single lesson, with an

[2019-02-28 10:10] acrymble commented on #1194
@drjwbaker that sounds like you're asking for an increase in the quality of the writing more generally. Can we realastically hope to achieve that through a stylesheet?

[2019-02-28 10:14] acrymble commented on #1190
@rivaquiroga can you send me your email address (adam.crymble@gmail.com)

[2019-02-28 11:28] drjwbaker commented on #1194
Isn't that in part the purpose of a stylesheet?

[2019-02-28 11:41] acrymble commented on #1194
Touchée.

[2019-02-28 12:42] acrymble commented on #1194
I've made contact with the University of Hertfordshire Press for some initial ideas. They're going to ask around and get back to me.

[2019-02-28 16:43] jamotilla commented on #1179
It´s a good idea @drjwbaker i think we can work together with the Red de Humanidades Digitales (MX), i´m sure they will be interested.

[2019-03-01 00:17] amsichani opened #1196 "March Editorial Agenda - Friday 29th March 2019"
Friday 29th March 2019. Time is 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET. I (@amsichani) will be facilitating the call.

Working agenda follows. Please add by commenting or editing this comment directly.

- [ ] #721 Current Research Projects or Submissions Pending about the Programming Historian.
- [ ] #1136 Translation Editorial Process  & #1184 Recruitment of

[2019-03-03 17:06] acrymble commented on #1194
The possible "approved suppliers" I can use if the university is paying are:

http://www.twocopywriters.co.uk/
www.proseworks.co.uk
http://www.prominentpr.co.uk/

I will try to contact them asap to get a quote.

[2019-03-03 20:29] spapastamkou opened #1199 "Translators Guidelines"
In #1189 there was discussion between @programminghistorian/spanish-team and @programminghistorian/french-team whether it would not be better to have separate guidelines for translators in the ES and FR versions of the PH with maybe some info included in the EN version. I open this ticket so we can have a point of discussion in view of the March meeting.

[2019-03-03 22:28] spapastamkou commented on #951
I propose following formulation for [this part](https://programminghistorian.org/en/about#gold-open-access); if ok, I make a PR for EN and FR pages and ask for an ES translation. If a more pertinent EN formulation can be proposed, please edit directly and insert in the text below.

"All submissions to the Programming Historian are published under a Creative Commons ‘CC-BY’ license. This adheres to

[2019-03-04 12:28] acrymble commented on #1194
I've received feedback from a journalism lecturer, which has been very helpful. I'll incorporate that into my internal bid.

[2019-03-04 15:34] drjwbaker commented on #1194
Need someone (me?) to read a draft before you put it in?

[2019-03-04 17:05] spapastamkou commented on #1161
Please find below a text project for a blogpost in EN for comment. Once we agree on its final form, we can prepare a FR version as well. Note that we could add names of volunteer translators/reviewers in paragraph 4 depending on the time of publication of the blogpost (if lessons are published by then).

### Text project for the blogpost in EN

The Programming Historian en français is on air! You

[2019-03-04 20:29] acrymble commented on #1194
I've sent James a draft for comment. It contains sensitive details so I can't post it here.

[2019-03-04 20:33] acrymble commented on #951
Thanks @spapastamkou.

Do you think it is still necessary to be explicit about these policies? We could for example simply have:

"All submissions to the Programming Historian are published under a Creative Commons ‘CC-BY’ license."

Or:

All submissions to the Programming Historian are published under a Creative Commons ‘CC-BY’ license. This adheres to a ‘Gold’ open access model of publishing. Th

[2019-03-05 01:12] jamotilla commented on #1190
Bienvenida @rivaquiroga !!

[2019-03-05 01:22] jamotilla opened #1200 "Update José Antonio bio"
I need to change my personal web page

[2019-03-05 02:42] #1200 closed, assigned to jamotilla

[2019-03-05 13:04] acrymble commented on #1161
I'd suggest adding an image to make it more visually interesting. Otherwise it's your announcement so I'm happy for you to say whatever you like.

[2019-03-05 13:08] acrymble commented on #1191
Hi Joshua, Can you please send me an email with your google-enabled email (adam.crymble@gmail.com) so I can set you up?

[2019-03-05 14:25] #1162 closed, assigned to drjwbaker

[2019-03-05 14:27] mdlincoln opened #1203 "build plugin should check all pages for absolute links, not just lessons"
Right now there are routines that run for lessons and others that run for blog posts - they check yaml fields specific to those page types. Should make one that runs over all pages to check

- absolute links
- insecure image links

[2019-03-05 18:45] acrymble commented on #1194
just a note that I've had some quotes and some feedback from @drjwbaker and I'm going to be putting this internal bid forward for consideration. Hopefully they will decide to support it.

[2019-03-05 19:11] spapastamkou commented on #951
Yes, it is better to be more brief compared to the current formulation. Option 2 is clear enough. I make a PR asap and ask for your review, @acrymble, then I will (at last:)) close this ticket.

[2019-03-05 22:10] #1106 closed, assigned to mdlincoln

[2019-03-06 10:47] acrymble commented on #1194
This has been submitted. I'll update everyone when we know the outcome.

[2019-03-06 10:47] #1194 closed, assigned to acrymble

[2019-03-06 10:48] acrymble commented on #1185
I'm going to close this ticket because nobody has jumped on the idea, and I don't think we need to keep lots of tickets open.

[2019-03-06 10:48] #1185 closed, assigned to nobody

[2019-03-06 10:51] acrymble commented on #878
I spoke to a colleague who used a crowdfunding site for a project, and she reports that the money went directly into her bank account and was used to pay for things directly.

[2019-03-06 11:23] amsichani opened #1205 "DOIs for articles"
This was initially a reviewer 's question on our Insight article: given we now have an ISSN (actually 3) in place, and we are presenting PH as an OA journal with peer-review articles/tutorials, what about DOIs for articles/ tutorials and ORCID iDs for contributors (authors)?

my comments on this:
- I think the ORCiD idea is a good point and it d be an interesting addition to our scholarly publishi

[2019-03-06 11:25] amsichani opened #1206 "small correction on the Bogota blogspot"
Again our Insight reviewer pointed that in our [blogpost ](https://programminghistorian.org/posts/bogota-workshop-report) we are saying 'Spanish to follow' while there is actually the Spanish version if you scroll down. Perhaps delete /or rephrase it @acrymble @mariajoafana ?
Thanks!

[2019-03-06 11:52] acrymble commented on #1206
"to follow" means "below". Or at least it is meant to. It's just a signal that there is a Spanish version of the text, even if you can't see it at the top of the page.

You can change it if you like.

Why is your reviewer looking at our website? Shouldn't they be reviewing your text? Or is this something else?

[2019-03-06 11:57] acrymble commented on #1205
Just some historical context. DOIs have been discussed in a number of tickets: #64 #410 to name a few.

We ultimately rejected it on the basis that our lessons sometimes get updated, and this would require a new DOI (you can't change something and keep the same DOI). It also wasn't clear how we could get easy DOIs since we aren't supported by a major library. That may be easier now, I don't know.

[2019-03-06 12:19] amsichani commented on #1206
thanks @acrymble . I am not a native speaker , so I wasn't sure about this -  tbh for me also it was clear that 'to follow' = 'see below'.
We have a link in the article to this blogpost , so I guess she just had a quick look .

[2019-03-06 12:25] spapastamkou commented on #1185
I was precisely looking for this ticket:) I have just a question: do we have a UK-based researcher who would be interested in applying?

[2019-03-06 12:38] acrymble commented on #1185
Sorry @spapastamkou please feel free to re-open it.

I haven't had a chance to go through the bid requirements in detail, but if you're interested in applying I'm sure either James or I could put the bid in with you in a collaborative way.

[2019-03-06 12:45] spapastamkou commented on #1185
I sent an e-mail and if there is a reason to re-open, then I will:)

[2019-03-06 12:50] drjwbaker commented on #1205
Yeah, DOIs are out, but we do have the DOI for the annual releases https://zenodo.org/record/1477854

ORCID is worth pursuing, though we may need to bring in the relevant expertise to make it work.

[2019-03-06 12:51] drjwbaker commented on #878
Okay, but there are tax and money laundering implications of doing this. If this person is UK-based, I hope they are doing the relevant paperwork..

[2019-03-06 13:16] arojascastro opened #1207 "broken link in lesson on OpenRefine"
I committed a change in this [pull request](https://github.com/programminghistorian/jekyll/pull/1204) and Travis alerted us that there is a broken link in our lesson on OpenRefine. I checked the published version on line in English and Spanish and the link is  in

EN: https://programminghistorian.org/en/lessons/cleaning-data-with-openrefine#building-on-top-of-your-cleaned-data

ES: https://program

[2019-03-06 13:28] mpuren commented on #1183
Sorry for my late answer, I was in Slovenia last week for a big work meeting and after that in Lyon.

I've carefully read the discussion - thank you @acrymble for opening the issue, I find it very interesting for the project. For me, like @fdlaramee : French publications. It would suit me well.

[2019-03-06 13:30] walshbr commented on #1183
As far as I understand this I would probably shift to only the English section and not the Publisher.

[2019-03-06 13:42] mpuren commented on #1189
I agree : we should split the guidelines. As @jenniferisasi said earlier, she gave us some very interesting tips that should be available for every translator. Moreover, concerning French translations, we also have these guidelines on "l'écriture inclusive" (gender-inclusive writing). I think Spanish-speaking translators - and future versions of PH in other languages - could find useful to have ac

[2019-03-06 13:47] mpuren commented on #1161
Thank you @spapastamkou , I really like the post. Just a minor suggestion : we could add the link towards "the principles set by the Office québécois de la langue française"(http://bdl.oqlf.gouv.qc.ca/bdl/gabarit_bdl.asp?Th=1&Th_id=274). That's all!

[2019-03-06 13:54] mpuren commented on #1184
@spapastamkou: During a meeting with @jenniferisasi, I've written someting like "Lauching the recruitment of French-speaking reviewers and translators with a post and a tweet". So in my mind, it should be a different blog post - what you said in the 2nd paragaph of #1161 blog post is enough for now.

Good question @fdlaramee. But shouldn't it be the editor's role - I mean, maintaining the list of

[2019-03-06 13:58] mdlincoln opened #1208 "ORCID for contributors"
Branching this off from #1205

[2019-03-06 13:59] mpuren commented on #1193
@fdlaramee Do you voulunteer for the role?

@acrymble Can we have two ombudspersons, or is it too much?

[2019-03-06 13:59] mdlincoln commented on #1205
I have some notes on ORCID (tl;dr:  the simple answer may indeed be "orcid doesn't like static sites") but am splitting it off to #1208

[2019-03-06 14:13] mdlincoln commented on #1208
ORCID can be integrated into a publishing system at several points, from the authentication of authors for a back-end editorial system, to the display of their profiles, to metadata and logos/tags on article pages.

Because we use GitHub as our publishing platform , we wouldn't be able to integrate ORCID for user logins. This means that we couldn't authenticate the IDs in the conventional way that

[2019-03-06 14:54] #1206 closed, assigned to amsichani

[2019-03-06 15:24] acrymble commented on #1193
@mpuren you can do whatever you like. As I said, only once has this ever been used.

[2019-03-06 15:37] mpuren commented on #1193
Thank you @acrymble

@fdlaramee what do you think ? We can put our 2 names, or only yours.

[2019-03-06 15:40] fdlaramee commented on #1193
@mpuren If you want the role, it is yours. If you don't want it and @spapastamkou doesn't either, I'll take it. You two were here first and built this thing, so it is only fair that you would get priority of assignments. (I assume this means that @spapastamkou is going to be Managing Editor?)

[2019-03-06 15:48] mpuren commented on #1193
Thumbs up for @spapastamkou as Managing Editor

@fdlaramee I propose to put our 2 names as ombudsperson, it is simpler to decide this way :-).

[2019-03-06 15:50] fdlaramee commented on #1193
@mpuren As you wish. (As long as @spapastamkou is okay with being Managing Editor!)

[2019-03-06 17:40] acrymble opened #1209 "English language style decisions"
Related to #1194 - Style and copy editing guide (awaiting funding decision at present).

We'll need to make some decisions about our English language lessons and the style we'll expect authors to adhere to moving forward. I suspect most people won't have strong feelings about this, but I thought I'd list some things we'll need to ultimately decide, as well as some things we've already decided:

**

[2019-03-06 18:37] amsichani commented on #1183
hi, thanks @acrymble for opening up this . Instinctively I 'd go for the 'Publisher' role - but I d like both. I can see a potential efficiency in our procedures by formalising roles, expectations and tasks but , as any other big change, it requires some (extra) risk management.

I 'd like to quickly raise a couple of issues:

- In terms of decision making, we need to make very clear the areas/ is

[2019-03-07 02:43] rivaquiroga opened #1210 "Adding new category for filtering lessons"
Hi!
What do you think about adding `R` as a category for filtering lessons? Currently is possible to filter the ones that use Python, but not the ones that use R (there are around 7).

[2019-03-07 07:13] acrymble commented on #1210
Thanks for the suggestion. It raises a bigger question of whether or not our categories are fit for purpose anymore. In the past we talked about possibly adopting an established taxonomy, though it was also raised that maybe our full text search (once implemented) will supercede the value of these tags. See issues #931 and #1018. What do you think?

[2019-03-07 08:50] spapastamkou commented on #1193
ok, I can do this for this year, thanks for trusting me :) We can leave the ticket open, the time to make a PR out of it to update the relevant web site pages.

[2019-03-07 13:30] drjwbaker commented on #1208
Thanks Matt. I feel there is value in the integration we'd get from ORCID, but would be keen to avoid it becoming a time consuming dependency.

[2019-03-07 13:59] drjwbaker commented on #1183
https://github.com/programminghistorian/jekyll/issues/1183#issuecomment-466748259 suggests maybe not, but I agree this is something we should look at carefully, especially we regard to the power dynamic you raise.

[2019-03-08 09:09] spapastamkou commented on #1207
Thanks @arojascastro, this is a problem for the FR version as well (currently [under review](https://github.com/programminghistorian/ph-submissions/issues/223)).
I found this extension that is built on the previous one: https://github.com/sparkica/rdf-extension
I am not sure we can delete the sentence without prior consent of the authors. Could we just ask for their help to update?

[2019-03-09 07:31] acrymble commented on #1191
@jenniferisasi can you follow up with Joshua to see if he's having trouble?

[2019-03-09 07:35] acrymble commented on #1183
@mariajoafana @vgayolrs @jenniferisasi @ZoeLeBlanc @mdlincoln @jamotilla @spapastamkou @JMParr @amsichani @alsalin @walshbr I'm still hoping to hear back from you on whether you see yourself as part of a publication team (English, Spanish, French) or as part of a 'Publisher' team.

[2019-03-09 07:42] acrymble commented on #918
@drjwbaker it looks like the support us page is up and running. Is this ticket resolved then?

[2019-03-09 07:46] acrymble commented on #1149
I think it's a good idea to have guidelines like this for shadowing. @amsichani did you want to continue working on this?

[2019-03-09 09:07] spapastamkou commented on #1183
Had put my name in the list under both « publisher » and « French team »

[2019-03-09 12:52] walshbr commented on #1183
Sorry I mentioned earlier that I would probably be interested in only English and not publisher. But it looks like we would need to do a significant amount of recruiting to make up for all the people switching over to publisher.

[2019-03-09 13:32] vgayolrs commented on #1182
I'm not ignoring the pings. I only fear that I will not be able to participate much in this until the end of March. (I finish classes and leave the position of director of the academic journal of my institution). However, I would like to read proposals for the rest of the team. For now, here are the points to discuss as there were on #1179:

* the commissioning of a report on language interoperabi

[2019-03-09 13:38] vgayolrs commented on #1183
Returning from my "sabbatical" on March 29, but I want to get involved in this discussion, but I put my name on both.

[2019-03-09 14:43] mdlincoln commented on #1207
Because this sentence in ancillary to the main tutorial, it is not necessary to contact the author. What we usually will do on supplementary links like this is change it to point to the Wayback Machine's version of the link: http://web.archive.org/web/20180113121435/http://refine.deri.ie/docs

possibly add a phrase like "formerly available at" before the linkj

[2019-03-09 17:31] vgayolrs commented on #1189
Thanks to @mpuren for mentioning gender inclusive writing. In fact, we have that task pending in the Spanish team: #958

[2019-03-09 17:45] arojascastro commented on #1182
I think we should schedule a Skype meeting apart from the English team. Creo que deberíamos reunirnos por separado todos los editores, antiguos y nuevos, y hablar sobre el tema. A mí, en concreto, me interesa saber cómo nos posicionamos sobre temas políticos o geopolíticos relativos a la lengua, etc.

[2019-03-09 18:22] jenniferisasi commented on #1183
After reading all the differentiation of the two roles (thank you @acrymble for writing them), I put my name in the Publication for Spanish as I don't have enough formal knowledge, at least at the moment, on OA policies, seeking funding, etc. and I know I can and want to keep contributing on our lessons.

[2019-03-09 18:58] JoshuaGOB commented on #1191
Hello all,

skype: live:joshuaortizbaco @amsichani
gmail: joshuaortizbaco@gmail.com @acrymble

[2019-03-09 19:05] acrymble commented on #1207
I'm the editor for this lesson, but my internet service provider blocks access to the internet archive (I know, right?) so I can't actually verify the link. Could someone else make the update please?

[2019-03-10 00:53] rivaquiroga commented on #1210
Totally agree that this raises a bigger question, and has to do with what is currently being discussed in #1018 (specially, thinking about possible pathways for users). I'm closing this issue to keep all the discussion there.

[2019-03-10 00:53] #1210 closed, assigned to rivaquiroga

[2019-03-10 08:33] arojascastro commented on #1183
I am a little a conflicted about this change. I definitely want to have a voice in the direction of our project and I also can do maintenance tasks, but if I have to choose - considering that I have little time - I would stick to "Publication" in Spanish. I am also wondering how this will affect our "roles" (editorial board, editorial team, etc.). I guess *publication* means *editorial team* while

[2019-03-10 08:51] acrymble opened #1215 "Twitter management (Communication Manager?)"
I've been managing the ownership of the Twitter account since Miriam Posner stepped down a few years ago. I'd like to pass this off to someone with some more enthusiasm for social media than me.

I'd also like to suggest that we are perhaps at the stage where separate twitter accounts for each of the 3 publications may be worth pursuing. This is related to #1183 - Publisher & Publications.

In ter

[2019-03-10 09:02] acrymble commented on #1183
Thanks for raising your concerns @arojascastro. We will have to work out how to make sure people still have voices in areas where they feel they have vested interests.

But I think we need to start acknowledging that many people just want to be involved in a particular publication rather than wider discussions. Our model of wanting to make sure everyone has a chance to participate in discussions m

[2019-03-10 09:33] arojascastro commented on #1183
Sure, you are right about long discussions, open tickets, slow participations, etc. I agree it is annoying sometimes, but it is hard for me to separate our editorial work from our publisher work. For instance, let's say that someone, who is part of the publisher team and hasn't edited any lesson for a long time, wants to submit a paper for a conference about the project, and the editors do not hav

[2019-03-10 10:40] acrymble commented on #1183
Thanks for that example @arojascastro. I'll add concerns about credit to the list of issues to tackle.

[2019-03-10 13:28] walshbr commented on #1183
I have the same concern @acrymble re: the English publication. There are a few people left to weigh in, but if we have to onboard more than 50% of a new board for English it would concern me.

[2019-03-10 15:30] JMParr commented on #1183
I would be "English publication."

On Sun, Mar 10, 2019 at 9:28 AM Brandon Walsh <notifications@github.com>
wrote:

[2019-03-10 15:50] #918 closed, assigned to drjwbaker, amsichani

[2019-03-11 07:59] acrymble commented on #1183
Just to add a big bonus of this shift, I thin it would allow our three publications to drift apart somewhat. That means no more waiting for translations of every little change we want to make. And that should save a lot of people time and mental energy.

[2019-03-11 09:01] drjwbaker commented on #1183
Agree with @arojascastro that this change will create hierarchies and we need to figure out how to manage those. Those is kinda why I envisaged each language publication having fixed term representatives of the 'editorial' team: to share credit and reduce the risk of top down action *on* each publication.

[2019-03-11 09:29] arojascastro commented on #1207
Changes made for en and es. I opened a pull request here https://github.com/programminghistorian/jekyll/pull/1218

[2019-03-11 09:52] acrymble commented on #1207
this has been fixed

[2019-03-11 09:52] #1207 closed, assigned to arojascastro

[2019-03-11 18:19] amsichani commented on #1149
Thanks @acrymble - I haven't heard any feedback from the team on this and I wasnt sure how to deal with it. I am happy to work on this - how do you think it might evolve? into a wiki page perhaps?

[2019-03-11 21:31] spapastamkou commented on #1193
I created PR #1219 to update the FR pages with the new team roles. Once @mpuren and @fdlaramee will have replaced Amanda Visconti's name with theirs as ombuds and the branch is merged, we can close this ticket.

[2019-03-11 21:33] spapastamkou commented on #1193
Note that for the lesson I am editing, I left Amanda's name as ombudsperson, as both Marie and François Dominic are reviewers. Remarks welcome, if any.

[2019-03-11 21:57] spapastamkou commented on #1161
Some updates here:
- Image for the blogpost: found this image from the Mundaneum archives in Mons, Belgium http://archives.mundaneum.org/fr/versions-digitalisees/schema-de-paul-otlet-documentation-et-telecommunication and have been trying since last week to obtain info (by e-mail, telephone, even Facebook) from the archives if we can use it. I'll continue the efforts, but if someone has other alte

[2019-03-12 04:00] #951 closed, assigned to mpuren, spapastamkou

[2019-03-12 09:16] acrymble opened #1220 "Do you want Google Analytics access?"
This is a question for the editorial board.

Part of my onboarding role is to give people access to Google Analytics so they can monitor traffic use and patterns. I'd like to know if anyone is in fact using this. I don't mind yes or no, but if no one is using it then I'm going to remove it from the onboarding checklist to reduce unnecessary work for me.

If you use it, can you please let me know h

[2019-03-12 09:22] spapastamkou commented on #1161
image update: the Mundaneum Archives agree that we use the image of Paul Otlet's scheme and proposed to send us a HD image file. We shall of course need to mention the source: "Mundaneum, centre d'archives (Mons - Belgique)", which we would do anyway.

[2019-03-12 10:06] spapastamkou commented on #1207
ok for the FR version as well (currently under review)

[2019-03-12 16:19] alsalin opened #1224 "Add RSS feed link to footer"
A suggestion from one of our readers:

"There is no way to know about new articles. I would suggest to have
at leas one of the following channels to inform readers about new
articles:
- RSS for the page https://programminghistorian.org/en/lessons/
- possibility to subscribe for a (periodic monthly) email newsletter"

Thoughts?

[2019-03-12 16:21] alsalin opened #1225 "Optimize lessons for printing"
Another suggestion from a reader: To optimize our lessons for printing.

Some initial suggestions include: fixing the header and footer to display properly when printed, check code blocks to ensure they print properly and don't run off the page.

[2019-03-12 21:55] spapastamkou commented on #1215
I only have a small comment on the 2nd paragraph. I have nothing against separate Twitter accounts. But I would like to point that at the current stage, and surely for some time to come, it is convenient for the FR version to be under the global account, since there is traffic there. I am not sure how active - or interesting - a separate Twitter account could be with little content to tweet. But o

[2019-03-12 22:01] mdlincoln commented on #1215
I agree that a dedicated manager for the twitter account would be great. But I disagree in VERY strong terms with the idea of branching off different language accounts.

I think a separate twitter account for each language would be a waste of the accumulated social capital in our current account. I've seen this happen at my former institution, where separating out a social media account to more cl

[2019-03-13 02:48] walshbr commented on #1224
FWIW, we have an RSS feed at https://programminghistorian.org/feed.xml. It covers blog posts, Spanish translations, and new English lessons I believe. I'm not sure if it's advertised anywhere on the site though…

[2019-03-13 03:06] vgayolrs opened #1226 "Update data in authors bios?"
Hello everyone! I am about to correct the translation of the author bio of Nabeel Sidiqui as someone translated it and treated "him" as he was "her".

So, since I am going to do the editing, I would like to ask if we should also update the data. At the time of writing the lesson, Sidiqui was a PhD candidate, but now that we have published the translation, he is already a PhD. All this because the

[2019-03-13 03:32] vgayolrs commented on #1225
Hi @alsalin , Once (2017/04) there was a discussion to create PDF of the lessons with the idea of making a version-of-record –that can be used as friendly printable version– #417

[2019-03-13 03:33] vgayolrs commented on #1224
There is the twitter acount to...

[2019-03-13 03:48] vgayolrs commented on #1220
Hi @acrymble , thanks for touching the subject. I have access and I use it. Rather, to be honest, I only consult it from time to time. I think we should exploit more of that data to write articles or blog posts about the impact of PH. That was clear with the intervention of @mariajoafana in DH2018. I understand that having it on your onboarding checklist is time consuming. If, as editorial board,

[2019-03-13 03:49] mdlincoln commented on #1226
Thanks for fixing that mistake @vgayolrs.

As for updating the bios during translations, I don't think we have a policy on that right now. In my opinion, it's nice to reach out to the original author to let them know about the translation and ask if they'd like the chance to update their bio. But I think I would only update it if the author confirms the update they want - I would not make the chan

[2019-03-13 03:52] vgayolrs commented on #1226
You welcome @mdlincoln

Well, I was thinking only of the relevance of doing the data update in the translations and leaving the original Bio untouched.

[2019-03-13 03:53] mdlincoln commented on #1226
Sorry, the way that jekyll is set up right now, we can't have different bios for different lessons.

[2019-03-13 03:55] vgayolrs commented on #1226
Ok! Thanks for the clarification Matt! I think I could close this.

[2019-03-13 03:55] #1226 closed, assigned to vgayolrs

[2019-03-13 04:25] vgayolrs commented on #1215
Well, I think you've done a great job @acrymble as communication manager... As we say in Mexican Spanish: "pusiste la vara muy alto" ("You put the stick very high", (maybe a reference to the horseback jumping sports competitions). The "next competitor" on the line is going to have to work hard to reach the standars.

I think that, yes!, there must be a communication team made up of people from the

[2019-03-13 04:27] mdlincoln commented on #1225
Yes, for most of the reasons pointed out in #417 due to the frequency of small updates to our lessons, we're NOT going to produce PDFs. But it's true that some components on the printed versions of the webpage don't render ideally - I'll flag it as a task to look at. @ZoeLeBlanc maybe you have some more experience with `@media print` than I...

[2019-03-13 04:30] mdlincoln commented on #1224
We do have a unified RSS feed already, but it's true that it's not advertised prominently. Any thoughts where that could go?

I think doing an email blast is really not necessary given the existing channels we have though.

[2019-03-13 04:46] vgayolrs commented on #1224
I do not know, Matt (you're the one who knows most about this), but maybe a link to the `xml` with the `.rss` [logo](https://upload.wikimedia.org/wikipedia/commons/4/43/Feed-icon.svg) in the right corner of the header or footer of the main page.

[2019-03-13 07:52] acrymble commented on #1220
Thanks @vgayolrs if you think it's valuable that's enough to justify keeping this on the task list.

[2019-03-13 07:52] #1220 closed, assigned to acrymble

[2019-03-13 07:54] acrymble commented on #1190
@jenniferisasi are you going to write the welcome blog post for our new members? It could be done in Spanish.

[2019-03-13 08:26] drjwbaker commented on #1225
Agreed. We're not doing pdfs.

[2019-03-13 10:23] acrymble commented on #1225
Just for the record, can someone explain why we dont' like PDFs? Is this just practical as @mdlincoln described, or is it philosophical?

[2019-03-13 10:26] acrymble commented on #1224
There might be free services that would "email" new RSS updates to people who wanted that.

[2019-03-13 12:37] amsichani commented on #1159
Hi @mdlincoln , could you please have a look on this again. @acrymble managed to fix most of it -he reduced the width on Table 3 but it still is JUST too wide. Probably it needs a bit of your CSS magic ;-)

[2019-03-13 13:26] jenniferisasi commented on #1215
I agree with @spapastamkou, @mdlincoln and @vgayolrs on the idea that separating the Twitter account into many would be more detrimental than good.
I could jump in the role, however, I want to ask:
- Is the social media manager in charge of tweeting him/herself? If so, since now we are multilingual, it might be beneficial to have a coordinated two person team as social media managers. I can tweet

[2019-03-13 13:29] jenniferisasi commented on #1190
Yes, @acrymble, I have it almost ready. Waiting on them to upload the picture and profile to make it all connected, however, even if they don't, I will publish it on Friday.

[2019-03-13 13:56] drjwbaker commented on #1225
Practical for me. Our site is too fluid.

[2019-03-13 15:50] rivaquiroga commented on #1215
Hi! I would love to join the Twitter team. So, if any help is needed, just let me know.
I also think that having a multilingual account is something positive for the project.

[2019-03-13 19:03] rivaquiroga commented on #1190
@jenniferisasi, is there anything else you need me to do? Where do I have to upload my profile?

[2019-03-13 20:18] jenniferisasi commented on #1190
Hi @rivaquiroga. Our profiles are in [/data/ph_authors.yml](https://github.com/programminghistorian/jekyll/blob/gh-pages/_data/ph_authors.yml) You can follow my profile in the file as an example and can ask for French translation in your pull request. The image, as a .png goes in  [/avatars](https://github.com/programminghistorian/jekyll/tree/gh-pages/avatars). You can check our [Make Technical Co

[2019-03-14 15:01] mdlincoln opened #1228 "Define managing editor name/email via yaml"
Any time we want to swap out the managing editor it involves editing a whole bunch of pages. This should just be defined once in our YAML.

[2019-03-14 18:27] amsichani commented on #1159
fab - @mariajoafana will be the managing editor for this one so she will update when she is ready.

[2019-03-15 08:21] acrymble commented on #1215
I think a team would be fine. Speaking for myself, I think it would be good to have one person with the responsibility to lead that team. It's helpful for the rest of us to have one contact person who we know will/should respond to queries or who we can send ideas. Committees are great, but if no one is in charge it can result in inaction.

[2019-03-15 13:11] rivaquiroga commented on #1190
@jenniferisasi,  picture and profile uploaded in #1230 :rocket:
Thanks!

[2019-03-15 15:12] #1193 closed, assigned to mpuren, spapastamkou, fdlaramee

[2019-03-15 16:11] #1228 closed, assigned to mdlincoln

[2019-03-16 15:46] #1203 closed, assigned to mdlincoln

[2019-03-16 17:40] acrymble opened #1232 "create Solicitudes de lecciones"
The "Solicitudes de lecciones" link under the "Contribuciones" menu on the Spanish site just points to the main page. On the English site this is the "Lesson Requests" page.

This should be removed from the Spanish site menu because it doesn't look like that team has a lessons request active.

The English page is also out of date, from what I can tell. But that's a separate issue.

@mdlincoln what

[2019-03-16 17:44] jenniferisasi opened #1233 "New editors in Spanish team blogpost"
Creating this issue to publish a blogpost about @rivaquiroga and @JoshuaGOB joining the team

[2019-03-16 17:51] acrymble commented on #1225
I've saved a random lesson of mine as a PDF and attached it here. It's not great, but it's fairly usable. The issues I see are mostly with the headers bleeding into the text.

[Using Gazetteers to Extract Sets of Keywords from Free-Flowing Texts | Programming Historian.pdf](https://github.com/programminghistorian/jekyll/files/2974157/Using.Gazetteers.to.Extract.Sets.of.Keywords.from.Free-Flowing.T

[2019-03-16 18:03] jenniferisasi commented on #1225
Adam how did you save the lesson? I did both **export as PDF** and **print-save as PDF** in Safari, the same lesson, and it didn't capture the headers. The output is different (no page number, date, url in the footer) and the margins are very small (but this can be "fixed" if you are printing by scaling it), but ... might it be a matter of browsers and/or how people export the lessons into PDF?

[

[2019-03-16 18:05] jenniferisasi commented on #1232
Before we delete it, I want to ask if we the @programminghistorian/spanish-team want to create our own request for lessons? I guess we could adapt the blogpost we originally had (and that might be now lost after a few other posts) into that page. What do you think?

[2019-03-17 09:03] acrymble commented on #1225
@jenniferisasi mine was saved as a pdf on a mac using firefox's "save" features.

Do you have some energy that you could put into a bit of reading as to how we might optimize things without much effort?

[2019-03-17 11:26] arojascastro commented on #1232
Yes, I think we can translate/adapt the English request or write our own one based on that post. I can help you Jennifer in the following days.

[2019-03-17 12:21] acrymble commented on #1232
I think it would be better for you to come up with your own, as we're discussing changing the English one, and I don't think these need to stay in sync.

[2019-03-17 18:58] acrymble commented on #1083
@spapastamkou can you follow up on this now?

[2019-03-17 19:01] acrymble commented on #1019
I propose removing the section on "join our team of reviewers", and closing this ticket. This simplifies things and removes the expectation that volunteering to do reviews will necessarily result in requests for you to do reviewing.

[2019-03-17 19:04] acrymble commented on #1022
This suggestion is stalled and doesn't seem to have a champion. I propose we close it unless someone wants to take it forward.

[2019-03-17 19:06] acrymble commented on #897
I propose either:

a) closing this ticket and giving up on the DOAJ listing for the Spanish publication

or

b) someone decides they want to take on the process of revising our contents page design to include more of the features expected of a journal contents page. If you're willing to do this, please speak up here.

[2019-03-17 19:12] acrymble opened #1236 "Can you apply for / be listed on grant applications?"
I would like to get an understanding of our fundraising capabilities on the team. Can all editors please answer the following questions:

1) Are you able and willing to apply for grants related to PH activity in your current role?
2) Are you able and willing to have some of your time paid for (and therefore you would DO things related to the grant) by any current or future grant applications relat

[2019-03-17 19:13] spapastamkou commented on #1083
Yes, I do actually. The answer from the FR library I asked was that the notice should normally be created by the institution that attributes the ISSN (they mentionned the National Library of France but our ISSN comes from the BL). I must contact the BL anyway once the first lessons are published to let them know the publication is on air. So I will ask the question for the notice in this occasion.

[2019-03-17 19:15] acrymble commented on #1083
Thanks for following up. Our Spanish language entry was created by the University of Virginia library, and our English one by Purdue University. So it can be done by any librarian as far as I'm aware. I just don't work in a library so I can't explain the workflow. You shouldn't have to ask the BL.

[2019-03-17 19:23] spapastamkou commented on #1083
As far as I can tell I think you are right. I thought I'd ask to the University of Lille's Library as well. But I waited to have some lessons in (even one) before anything.

[2019-03-17 19:33] JMParr commented on #1236
1.) I am able and willing.
2.) I am willing. We just passed a new faculty policy manual this past week, and I would need to verify what is possible for NTT faculty.
3.) Not currently, but possibly in the future.

[2019-03-17 19:37] JMParr commented on #1181
Hi, @mdlincoln - I've looked through the files, including old clones from Github. Unfortunately, it looks like I do not have complete data. I'm not sure what happened. Correcting it will necessitate contacting the author.

[2019-03-17 23:14] fdlaramee commented on #1236
I will submit my thesis at the end of April and the odds that I will be remaining in academia to any significant extent after my defense are somewhat less than 50%. Therefore, a definite no to question 1 and "I have no idea" to questions 2 and 3.

[2019-03-18 07:56] mpuren commented on #1236
Currently I work for a European research project ; legally all my (paid) time has to be devoted to this project. So for the moment, I have to answer no to the 3 questions.

[2019-03-18 09:13] walshbr commented on #1236
1) It's complicated given red tape at UVA around staff/faculty status at UVA, but the short answer should be yes.
2) Yes, and that's generally the preferred approach for our lab re: grant writing.
3) Not for this calendar year, but I have an idea or two that might fit in the future.

[2019-03-18 09:27] drjwbaker commented on #897
Thing is Adam, on b) we have a valid ISSN, which is displayed prominently, so I personally consider DOAJs qualms to be invalid (particularly as they do list PH EN). I sent a message 15 Feb asking for them to at least respond to our rebuttal of 20 Dec. I don't plan to give up on this one..

[2019-03-18 09:33] drjwbaker commented on #1236
1. Yes.
2. Yes.
3. It would keep my employer happy.

[2019-03-18 09:55] amsichani commented on #1236
1. yes
2. yes in theory - not sure how it 'd work in practice as I am on project-based contract
3. no idea for the moment - positive though

[2019-03-18 15:46] jenniferisasi commented on #1236
1. Yes.
2. I am willing; I don't know for sure if I could for two reasons: I am currently on a scholarship, and I am currently an alien on a visitor visa in the USA.
3. Not right now, but always open to study possible activities

[2019-03-18 16:02] JoshuaGOB commented on #1236
1. No as far as I understand it. Grad status generally prevents me from applying to most.

2. Yes. Right now the grant that pays for my position involves developing teaching material that I’m trying to turn into PH lessons.

3. Yes.

[2019-03-18 19:03] jenniferisasi commented on #1233
This has been published. Thanks!

[2019-03-18 19:03] #1233 closed, assigned to jenniferisasi

[2019-03-18 19:10] jenniferisasi opened #1237 "Premios HDH 2018 for PH in Spanish"
Hi everyone,

The [Humanidades Digitales Hispánicas](http://humanidadesdigitaleshispanicas.es) (Hispanic Digital Humanities) association has put forth an announcement for their first HDH Prize. One of their categories to opt to the prize is best tool, resource, infrastructure (2. Mejor herramienta, recurso, infraestructura) and of course I thought of us all.

We would need to put a nomination toge

[2019-03-18 19:57] acrymble commented on #1237
absolutely. I think it's a great way to generate publicity. Do you need help?

[2019-03-18 19:59] acrymble commented on #1225
Or maybe the best solution is just to say "it seems to work well in Safari"?

[2019-03-18 20:14] mariajoafana commented on #1237
Yes, lets go for it. I can work with you to write the nomination

[2019-03-18 20:35] rivaquiroga commented on #1237
Me too!

[2019-03-18 21:12] jenniferisasi commented on #1225
Sorry I didn’t respond to you question @acrymble. But, yes, I looked a bit around and, at least for now, in some type of guideline (against a blogpost in this case cos it gets “lost”) we can explain that they can save or export it and the best browsers to do it. i can run a test in Chrome and check for other browsers.

Update: The headers don't show up on "Print" from Chrome.

Do the rest agree wi

[2019-03-19 00:24] mdlincoln commented on #1232
@programminghistorian/spanish-team when you create the new page, you can add its link to the _snippets.yml under the `menu-lesson-requests` category

[2019-03-19 00:29] jenniferisasi commented on #1232
Thanks for the tip, @mdlincoln!

[2019-03-19 08:03] arojascastro commented on #1237
Puedo ayudar también si es necesario

[2019-03-19 08:15] arojascastro commented on #1236
1. yes
2. yes in theory
3. yes, but take into account that I normally work full time

[2019-03-19 09:41] arojascastro commented on #1225
All our lessons are accessible as markdown on github and markdown files are very easy to transform (in theory) to pdf with pandoc for instance. We could also give the link to github and mention that people can get the files directly and transform them themselves into any other format (word, html, pdf, etc.).

[2019-03-19 11:09] vgayolrs commented on #1236
I believe that I can not legally receive financial support (grants) for issues other than my research work in my institution. I'm going to ask.

[2019-03-19 11:21] vgayolrs commented on #1232
I think this is related to #1182

[2019-03-19 15:24] jenniferisasi commented on #1237
Great! I've started a google doc to share with you all.

https://docs.google.com/document/d/1XeTjDcXgW1Zy1yRx-TBpNHDGcfJCqv0HObGIYJEGn-E/edit?usp=sharing

[2019-03-19 16:10] mdlincoln commented on #1181
@JMParr ok, please contact them. Without it the lesson is unusable.

[2019-03-19 20:56] acrymble opened #1238 "Updating Lesson Request list (English)"
The current lesson requests are quite old and some have been taken up by people. It currently reads:

- What can you conclude from topic models? (in progress)
- How do you conduct spatial clustering of geographic data?
- When do you know your network analysis is meaningful?
- TF-IDF to Historical Research (done)
- Space Syntax of Historical Data
- How to Publish Digital Scholarly Editions using a

[2019-03-20 19:01] acrymble commented on #897
Ok @drjwbaker. I suspect we'll have to compromise here to get them to accept it if they've already said no. If we can make it look more familiar to people used to looking at journals, I don't think we have enough of a philosophical position here to resist.

[2019-03-20 19:21] acrymble commented on #1179
My alternate idea for this is to hire someone to help us create the Spanish equivalent of #1194 Copyediting stylesheet. We have a lot of examples now of specific suggestions for word changes in Spanish tutorials, as well as a discussion about adopting inclusive language #958.

Why not consolidate that into a shareable document that is useful for both translators, reviewers, and anyone writing abou

[2019-03-21 08:46] drjwbaker commented on #897
Perhaps. But we do have precisely what they said we didn't. Anyway, step one is to get them to respond to my mails..

[2019-03-21 08:52] acrymble commented on #1194
I'm pleased to report that this has been approved and will be supported by the History Group at the University of Hertfordshire. Thanks for the input everyone.

[2019-03-21 17:31] drjwbaker commented on #1194
Congrats @acrymble. We should recognise this in our 'Supporters' section https://programminghistorian.org/en/support-us#supporters

[2019-03-22 01:19] mdlincoln commented on #1225
Hi, to repeat what I said above:

[2019-03-22 14:42] #721 closed, assigned to walshbr, arojascastro

[2019-03-22 16:21] acrymble commented on #1224
This should be the remit of our new Communication Manager #1215

[2019-03-24 10:26] acrymble commented on #1236
So from what I see here so far:

1. @acrymble, @arojascastro, @jenniferisasi, @amsichani, @drjwbaker and @JMParr
2. @acrymble, @arojascastro, @amsichani, @drjwbaker, @JMParr, @JoshuaGOB, @walshbr
3. @acrymble, @arojascastro, @drjwbaker, @JoshuaGOB

All others are "no".

Thanks for filling this in everyone. That really helps me get an understanding of our growth capacity.

[2019-03-24 10:31] acrymble commented on #1236
I've added this as a page to the wiki. Please update it as and when required. I hope this proves useful.

https://github.com/programminghistorian/jekyll/wiki/Team-Funding-Capabilities

[2019-03-24 10:31] #1236 closed, assigned to acrymble

[2019-03-24 10:33] acrymble commented on #1149
I would go so far as to say this should be a "role" that someone is dedicated to. Effectively training and mentoring new members of the team.

[2019-03-25 09:05] drjwbaker commented on #1236
Thanks for asking the question Adam.

[2019-03-25 09:07] drjwbaker commented on #1149
@spapastamkou: as we go through editing the Evaluating Topic Model lesson, perhaps you could think about anything I could be doing better and post it here?

[2019-03-26 07:09] acrymble commented on #1191
@jenniferisasi Is there a plan in place to get @JoshuaGOB and @rivaquiroga shadowing on a lesson? I suspect neither of them really understands how to get involved yet.

[2019-03-26 08:57] amsichani commented on #1149
That would be really useful @spapastamkou , as I am now trying to put together a set of guidelines/best practices for shadowing.

[2019-03-26 09:07] spapastamkou commented on #1149
I just came back from Beirut. If not able today, I will contribute tomorrow, James is really helpful and there are surely things to be said here.

Envoyé de mon iPhone

[2019-03-27 00:45] vgayolrs commented on #1196
I'm sorry, I can not attend. It's my last day of class.

[2019-03-27 15:40] spapastamkou commented on #1232
FYI @programminghistorian/french-team

[2019-03-27 16:05] spapastamkou commented on #1149
Ok, there I go to report my personal experience of shadow editing with @drjwbaker and maybe you can draw things from here, @amsichani.

James first asked me **what I expected** myself from shadowing with two **possible options** being: 1) simply being in copy of the messages so that I can follow; 2) in addition of being in copy, receive commentary from James for each step taken so that I have a cl

[2019-03-27 22:10] mdlincoln opened #1244 "Why are Netlify builds constnatly needing to be restarted?"
I've noticed Netlify erroring a lot on perfectly fine PRs lately. Will investigate...

[2019-03-27 22:30] mdlincoln commented on #1244
I have to wipe the cache in order to get a build to work, just about every time. It does complain that ruby `2.5.3` is not a version that Netlify normally caches... but then `2.5.3` is exactly the version that GitHub Pages runs on. I'll see what incrementing that version does to the build.

[2019-03-27 22:42] #1244 closed, assigned to mdlincoln

[2019-03-28 00:51] mdlincoln commented on #1159
We've resolved the formatting issues.

[2019-03-28 00:51] #1159 closed, assigned to mdlincoln, amsichani

[2019-03-29 13:39] arojascastro commented on #1237
Genial. Podemos reutilizar algo del texto del resumen de HDH, creo.

[2019-03-29 13:40] arojascastro commented on #1182
Algunas tareas que podríamos discutir en esa reunión:
- [ ] https://github.com/programminghistorian/jekyll/issues/1232
- [ ] https://github.com/programminghistorian/jekyll/issues/958
- [ ] https://github.com/programminghistorian/jekyll/issues/1199

[2019-03-29 14:04] jenniferisasi commented on #1196
I think, once again, we didn't take into account the time change in the US happened on the 10th but won't happen in Europe till tomorrow... ? So, yes, it's 10AM in US-EST but 8AM in Mex, and 3PM in París and 2PM in London.

[2019-03-29 14:39] fdlaramee commented on #1238
1. Multidimensional Scaling, when is it useful, how to do it right, how to interpret the results, and how the method’s variants differ from each other. How do principal component analysis and correspondence analysis fit within the spectrum.

2. Word vectors: how to make your own without Google’s billions of words of training data, what can be done with them. (Or: how to take advantage of Google’s

[2019-03-29 14:39] drjwbaker commented on #1196
Saturday night in Europe..

[2019-03-29 15:38] drjwbaker commented on #1179
During #1196  @acrymble proposed we close in next 5 days if no-one wants to own this. @programminghistorian/spanish-team @programminghistorian/french-team: the EN edition is more than 2 years old so is not eligible, so this will need a ES or FR lead if we go for it.

[2019-03-29 15:51] drjwbaker commented on #1183
Discussed at https://github.com/programminghistorian/jekyll/issues/1196 from now, please try to propose **edits** to text of the proposed restructure (which is at https://github.com/programminghistorian/jekyll/issues/1183#issuecomment-466997467), either by suggestions for changes to individual lines or new lines, rather than write comment. We can then periodically revise the proposal until we are

[2019-03-29 15:56] drjwbaker commented on #1183
Edit:

[2019-03-29 15:58] jenniferisasi commented on #1199
Suggested in #1196:
- Create a separate, general page with the translation guideline (separated from author a lesson)
- Create a wiki page with translation tips similar to the translation *R for Data Science* that @rivaquiroga coordinates + tips shared between the Spanish and French team.

[2019-03-29 16:09] jenniferisasi commented on #1215
Note to self (homework): As discussed in #1196 I am going to draft what a new role as *Communication Manager* entails in terms of:
- making the control over twitter private or keeping it open to the whole team
- naming convention and logos
- help the team understand how to promote the project better
- finding funds to have stickers and other things for conferences
- have ownership of the blog in t

[2019-03-29 16:11] drjwbaker commented on #1215
- tell the team to do things when they need doing 😄

[2019-03-29 16:36] spapastamkou commented on #1179
After reading carefully this time, I have the impression the call is open for funding a workshop (and @drjwbaker mentions this in a previous comment). I exchanged with my contact in Senegal several days ago and they are still interested in a FR-speaking PH workshop, if we have the occasion. The EN-speaking alternative was not excluded but they are clearly more interested in the 1st. If you think w

[2019-03-29 16:45] spapastamkou commented on #1189
In #1196 it was suggested we go for the separate translator guidelines. Activity on this will now be in #1199. Therefore, I close this ticket.

[2019-03-29 16:45] #1189 closed, assigned to mpuren, spapastamkou, fdlaramee

[2019-03-29 16:54] acrymble commented on #1179
@spapastamkou I think that's a very positive idea. I would encourage you to pursue it.

You should frame it as an initiative of the Programming Historian's internationalization push (which is now 2 years old), since you won't be able to show the impact of the French project yet.

You can point to the impact of our Bogota workshop (first tutorials being published now, plus @rivaquiroga joining the

[2019-03-29 17:05] spapastamkou opened #1247 "Docs for tracking activities of the FR team"
In #1136 it was suggested the FR team does a document [similar to this of the ES team](https://github.com/programminghistorian/ph-submissions/blob/gh-pages/es/lista-de-traducciones.md) to keep its activities organized.

As I went on with the editing process of the lessons currently under review, I created instead the following gsheets (with the same data more or less as in the ES doc, or the missi

[2019-03-29 17:12] spapastamkou commented on #1179
Great! Thanks for the ideas, @acrymble, and of course I will take all the help you can give. I'll take a closer look to it in the coming days and will come back to you for more.

[2019-03-29 17:13] fdlaramee commented on #1247
@spapastamkou Looks perfect to me. We may add to "Liste des traductions" a section for untranslated lessons that are referenced in the ones that have already been translated, if we decide to (try to) give them higher priority in our process.

[2019-03-29 17:15] ZoeLeBlanc commented on #1225
So finally got a chance to look into this. According to bootstrap, our 'headers', which are just nav component, gets hidden in print because most ppl don't want random nav links on their pdfs 😅. I don't think we necessarily want the links but some form of header/footer would be nice. I'm happy to start a branch playing around with optimizing for print/pdf. Would be helpful to know what ppl would l

[2019-03-29 17:20] ZoeLeBlanc commented on #1225
https://getbootstrap.com/docs/4.0/components/navbar/#how-it-works
"Navbars are hidden by default when printing. Force them to be printed by adding .d-print to the .navbar. See the display utility class."

[2019-03-29 19:05] spapastamkou commented on #1247
@fdlaramee I made an addition in the list as a test, taken from your own lesson. If not ok, we can find a better way (after the weekend:))

[2019-03-29 21:51] amsichani commented on #1196
Minutes of the March meeting, mainly actions points and decisions made - please amend if I misunderstood or skip smth:
 - [ ] #721 : this ticket will be now closed as such. It will remain though a regular item on our meetings' agenda. It is suggested to open dedicated tickets for specific research projects/ submissions the team members are working on /

  - [ ] #1184 Recruitment of french-speaking

[2019-03-30 01:14] ZoeLeBlanc commented on #1225
Started a branch with an optimized print version. We now have a header that could be further styled and it would be fairly trivial to add a foot [https://github.com/programminghistorian/jekyll/tree/issue-1225](https://github.com/programminghistorian/jekyll/tree/issue-1225) . You can inspect the changes by either printing from a browser or just using the chrome inspect dev tools to render the print

[2019-04-01 10:06] mpuren commented on #1247
@spapastamkou I agree with @fdlaramee : we should have a for the lessons that are referenced in the translated lessons, and that could be considered as a priority. I have created [this list](https://docs.google.com/spreadsheets/d/1iVLbxx_LHqdoRQzuwFXIwaOVadhsOqJELOxF6sVDpoQ/edit?usp=sharing) (it is just a beginning).

[2019-04-01 10:08] acrymble commented on #1247
Are you documenting somewhere where these will be found, in case we forget in the future? Maybe a page on the Wiki? https://github.com/programminghistorian/jekyll/wiki

[2019-04-01 10:09] acrymble commented on #1238
I think I'd also like one on choosing appropriate metadata schema for different types of objects/sources/artefacts.

[2019-04-01 10:10] acrymble commented on #1215
For me to do:
- [x] transfer twitter ownership to @jenniferisasi
- [ ] add new role to the project team page
- [ ] add @jenniferisasi to that new role.

[2019-04-01 10:13] mpuren commented on #1247
@acrymble good idea, what do you think @fdlaramee and @spapastamkou ?

[2019-04-01 10:54] acrymble commented on #1215
@jenniferisasi I've emailed you the password. Can you confirm receipt?

[2019-04-01 11:19] acrymble commented on #1215
Can I get a French and Spanish translation to the following please so I can finish the pull request to add @jenniferisasi to this role?

Communication Manager
Responsible for managing and developing communication channels

@jenniferisasi @spapastamkou @mpuren @fdlaramee

[2019-04-01 11:20] acrymble commented on #1215
@walshbr I had to reset the Twitter password because I couldn't remember it. If that causes problems with the twitter bot can you let me know please?

[2019-04-01 11:43] mdlincoln commented on #1225
Thanks @ZoeLeBlanc - want to go ahead and turn that into a (draft) pull request?

[2019-04-01 12:03] spapastamkou commented on #1247
@acrymble @mpuren The idea is to create a .md file in the [FR repository for translations](https://github.com/programminghistorian/ph-submissions/tree/gh-pages/fr/traductions), with the links to the gsheets and explanations, to have all in one place (as the ES team do with their lists).

@mpuren The very last addition to the Liste des traductions [gsheet](https://docs.google.com/spreadsheets/d/1nj

[2019-04-01 12:35] fdlaramee commented on #1215
@acrymble

In French:
Gestionnaire des communications
Responsable de la gestion et du développement des canaux de communication

[2019-04-01 12:39] walshbr commented on #1215
Just skimming this briefly to get the context - am also in strong favor the multilingual setup, however you all decide it best managed.

@acrymble I _think_ changing the password should be fine - we use an API token tied to the account that I can't imagine would have to be re-generated along with the password. At some point we'll need to have a discussion about the point at which we want a French

[2019-04-01 12:46] spapastamkou commented on #1215
thanks for commenting @walshbr bcz I have a question regarding your very last point. I go comment on #1167.

[2019-04-01 12:52] spapastamkou commented on #1167
I've been giving this some thought as the first publications of FR lessons are imminent. Perhaps the simplest thing for us to do, when the FR lessons are on air, would be to manually tweet from the PH Twitter account? What do you think?
For info, 4 translations are currently under review. One of them should be ready for publication in the coming days. (And 2 more could go under review soon.)

[2019-04-01 12:57] walshbr commented on #1167
Oop - I forgot I made this ticket! Thanks for pinging here.

I think you're right - makes sense to stick to manual tweeting for the first beginning bits. I can put together the infrastructure for the French bot this summer when I'll have more time, and then we can slot the translations into the spreadsheet as for the other languages. I think once you're at six lessons then you probably have enough

[2019-04-01 13:10] spapastamkou commented on #1167
Thank you. Let's target 6 published lessons then before we start use the Twitter bot for the FR version. It makes definitely sense.

[2019-04-01 13:41] mpuren commented on #1247
@spapastamkou  Thx for the clarification

I propose to create a new sheet in the liste des traductions [gsheet](https://docs.google.com/spreadsheets/d/1nj520xwTYnfxItzisGL096Oo28D-wOST82At2BZy8OI/edit?usp=sharing) : I have renamed the 1st sheet as "Traduits" and I have created  a 2nd sheet "A traduire prioritairement" where we can put the list of the lessons we should translate first (I will add t

[2019-04-01 20:22] acrymble opened #1249 "Translation training for English team"
We've got exciting news today that our first ever Spanish-first tutorial has been published: https://programminghistorian.org/es/lecciones/corpus-paralelo-lfaligner

That means that we on the English team don't have a full suite of tutorials for the first time ever.

Can we get some input from the Spanish team on how we can set up a Spanish-to-English translation system so that we can get back in

[2019-04-01 20:25] acrymble opened #1250 "British Academy funding notice on lesson"
We need a funding note on this lesson saying that it was supported by the British Academy as part of the Bogota event: https://programminghistorian.org/es/lecciones/corpus-paralelo-lfaligner

We used the following text on Dave Rodriguez's article:

This tutorial was made possible with the support of the British Academy and written during the Programming Historian Workshop at La Universidad de Los

[2019-04-02 16:19] jenniferisasi commented on #1249
@acrymble, and for the whole team, my first question here would be:
Is the @programminghistorian/spanish-team going to be in charge of the Spanish to English translations or is the @programminghistorian/english-team (and the @programminghistorian/french-team by extension into the future) securing translators/editors to translate, revise and edit the translations? Usually the translators translate

[2019-04-02 16:53] acrymble commented on #1249
I can't speak for everyone, but I think it makes the most sense for each language publication to be responsible for any translations they publish. That way a single managing editor has oversight over the whole publication.

[2019-04-02 17:03] mdlincoln commented on #1250
@mariajoafana since you're the editor for that lesson, would you please open a PR adding that text? Thank you!

[2019-04-02 17:09] jenniferisasi commented on #1249
That is what I was hoping for but I needed to ask :)

A few things that I can think of right now are to start the process while we work on #1199:
- promote the new "need" to your audience: translation opportunity besides the original authorship
- promote the "need" for reviewers with a minimum of experience on translation work
- start building a database of volunteers for both roles
- create addit

[2019-04-03 06:26] acrymble commented on #1249
Do we have anyone who is a native English speaker who can read Spanish well enough to translate this lesson?

[2019-04-03 08:44] drjwbaker commented on #1249
Agreed. I think the EN publication needs to recruit people who can translate from ES and FR. I'm useless in this regard, I'm afraid.

[2019-04-03 10:03] amsichani commented on #1249
I have two people in mind with this profile if we need to recruit.

[2019-04-03 13:49] amsichani commented on #1238
I second the one on word vectors and Adam's idea on metadata schemas' selection and Metadata Αpplication Profiles.

[2019-04-03 13:49] #1196 closed, assigned to nobody

[2019-04-04 12:31] arojascastro commented on #1199
It would be cool to build a glossary like this - maybe in the wiki: https://docs.google.com/spreadsheets/d/1EcMX-GtUEp3BODLOzrUOge6j_YfO8X84UivCug0bQYE/edit#gid=2011677898

With several variants, for instance:

computer - computadora - computador - ordenador

I took it from: https://www.localizationlab.org/glossaries

@rivaquiroga

[2019-04-04 19:55] jenniferisasi opened #1251 "Lesson Index translations+original"
Just got to our main page to check our new and first original lesson and found a technical issue:
- If organized by the default new to old, it shows the original at the end (!!)
- If switched from old to new, it shows the original then translations oldest to newest.

As we move forward with translations from Spanish to English, and potentially future original lessons in French, the 3 sites need a

[2019-04-05 07:46] arojascastro commented on #1237
Hola, la fecha límite para esto es el próximo viernes; Jennifer y yo hemos estado trabajando en un borrador... ¿alguien más está interesado en revisarlo?

[2019-04-05 07:50] arojascastro commented on #1195
Jennifer y yo hemos estado trabajando en el resumen; han ampliado la fecha de envío, pero creo que es buena idea no dilatarlo más. Así que si alguien más está interesado en participar, es hora de revisar la propuesta y aportar más ideas. Durante la escritura de la propuesta, nos dimos cuenta de que podríamos hacer una encuesta a nuestros autores, traductores y revisores para saber qué partes del f

[2019-04-05 07:52] arojascastro commented on #1249
I agree with @jenniferisasi suggestions. I think you could start by promoting translation activities in your page and launch a public call to reach reviewers with interlingual skills and translators es-en. In the meantime we can work together on our guidelines for translators.

[2019-04-05 08:22] acrymble commented on #1249
I think we need guidance in place before we seek a translator. How long do we expect #1199 to be in development?

And does anyone on our English editorial team want to act as a liason on our behalf in the development of those guidelines? @drjwbaker @amsichani @mdlincoln @ZoeLeBlanc ?

[2019-04-05 08:24] acrymble commented on #1224
I've assigned this to @jenniferisasi in her new role as Communication Manager.

[2019-04-05 08:27] acrymble commented on #1195
@arojascastro if you are going to be studying "human participants" - including surveying people for the purpose of generating research publications, then you will need to have ethical approval from your institution(s).

[2019-04-05 08:30] arojascastro commented on #1195
@mariajoafana did a similar survey in the beginning and I have seen another survey designed by @vgayolrs on Twitter - I think that requirement is only applicable in the UK... What others think?

[2019-04-05 08:32] acrymble commented on #1195
It's not about thinking. It's about checking with your university.

[2019-04-05 08:51] arojascastro commented on #1195
Sure, I'll check do not worry.

[2019-04-05 11:39] acrymble commented on #1179
@spapastamkou have you had a chance to think more? I just want want to leave this too late!

[2019-04-05 12:43] mdlincoln commented on #1251
Thanks for opening this, I've been meaning to revisit the sorting here.

I agree that it would make the most sense to sort by "appearance date", which would mean the translation date or the publication date, whichever is later. I can probably set that up in the templates - let me take a look at it.

[2019-04-05 15:40] #1251 closed, assigned to mdlincoln, jenniferisasi

[2019-04-05 15:41] drjwbaker commented on #1249
Love to, but overwhelmed right now.

[2019-04-05 15:59] spapastamkou commented on #1179
I had definitive confirmation from the VU of Senegal they are interested for a workshop following this call, 2 days ago. I started making a list with technical questions to ask you @acrymble, you will have it by next week. If we target smth like 15 April to have it sent, does that fit you?

[2019-04-05 16:01] acrymble commented on #1179
Sure that's fine. Do you want to submit it through your institution, or do you want me to submit it through mine? I ask because there are internal approval processes if you want me to do it, and they take some time. But it means I would have to deal with booking and money here, which quite frankly would save time for you.

[2019-04-05 16:57] spapastamkou commented on #1179
This is precisely one of these questions:-) Just let me check them quickly in the weekend (most probably tomorrow) and send them all at once to you, @crymble. But already yes, if your institution can take this up, why not.

[2019-04-06 15:47] acrymble commented on #1238
@fdlaramee I have added in the two I understood well enough to describe. I can add your other ideas if you can give me 2 sentences that explain what we're looking for, which follow this type of tone:

1. Word vectors: how to make your own without Google’s billions of words of training data, what can be done with them. (Or: how to take advantage of Google’s models if you are working with contempora

[2019-04-06 15:50] acrymble commented on #1238
@spapastamkou @fdlaramee @mpuren maybe you would like to create a similar page for lessons you're looking for someone to translate. That's a separate issue, but worth considring.

I'm closing this now. @fdlaramee please feel free to reopen if you want me to add those other 3.

[2019-04-06 15:50] #1238 closed, assigned to acrymble

[2019-04-06 16:20] acrymble commented on #1181
I'm going to put a warning message on this until this can be resolved. We don't want people thinking this lesson is useable.

[2019-04-06 16:28] acrymble commented on #1181
@ladew222 you were the author of this tutorial. It looks like there has been an issue getting all of the data files in place. Can you help us rectify this so we can re-publicize the lesson?

[2019-04-06 16:33] acrymble commented on #1161
@spapastamkou Is this ready to publish?

[2019-04-06 17:19] acrymble opened #1255 "blog post about contributors"
for me. semi-regular roundup of details about who contributes to the project.

[2019-04-06 18:34] #1255 closed, assigned to acrymble

[2019-04-06 18:48] acrymble commented on #1199
We need these in English as well. I've had a look at the guidelines that are available on the Spanish site, and from what I can tell the advice reads:

What else would an author need to know? Can we start making a list?

Do reviewers need to know something different?

[2019-04-07 13:40] mdlincoln commented on #1181
Thanks for adding that warning @acrymble, I think that's a reasonable interim action to take. @JMParr have you emailed the author yet?

If we aren't able to get the correct data file within some period of time (1-2 months?), though, I think it would be necessary to [retire the lesson](https://programminghistorian.org/en/lesson-retirement-policy) This isn't a minor issue in one section - without th

[2019-04-07 13:57] mdlincoln commented on #1208
After asking around, it seems like although the authentication thing is a preferred practice, it's an acceptable fallback to just store and display the IDs via the straightforward method if all you're doing is linking to ORCID and not doing more complicated things like harvesting author info, updating records etc. I'll put together a PR adding these to lesson headers and the author bio bits.

[2019-04-07 13:58] acrymble commented on #1208
@mdlincoln I read the links you posted above, and they seemed to suggest that author control is really a key part of ORCID philosophy. Are we going to be asking consent from authors to add these in?

[2019-04-07 14:00] mdlincoln commented on #1208
@acrymble good question - yes, to clarify, I'll only add the code for displaying an ID. I think adding authors' IDs to our `ph_authors.yml` should be part of the future editorial workflow. We should NOT add IDs for past authors.

[2019-04-07 14:35] acrymble commented on #1183
I'm not sure there's been enough enthusiasm for this idea to really take it forward at present.

I wonder if we can approach it another way? What if we start looking at the tasks we do, and the tasks we'd like to do, and work towards assigning people to more specific roles that they do on behalf of the project. @jenniferisasi 's new position as Communication Manager being a prime example of that.

[2019-04-07 17:19] jenniferisasi commented on #1183
Yes, I actually like this idea better, @acrymble!

[2019-04-07 18:31] arojascastro commented on #1183
Yes, maybe this proposal is clearer, but are these additional roles to the role of `editor`? Or can someone be `Onboarding Manager` and stop editing lessons? And should we keep the editorial board? Should we give for granted that everybody is part of the editorial board if we implement this change? I have no view on this...

Just for the record, at the moment we have the following roles:

    Edit

[2019-04-07 18:40] jenniferisasi commented on #1199
I want to start working on this separate translator guideline (we will have guideline for authors, reviewers, editors, and translators in this manner). We can do it first in English (I will translate what we have from Spanish) and then move on to Spa and French so that a few of us can collaborate.

What would it be the best way or the best folder for me to create the markdown file as a draft and m

[2019-04-07 18:45] arojascastro commented on #1199
Great idea! So we can all suggest ideas and contribute to a text in English and then translate and adapt into Spanish and French. I think you can create a branch 1199 and create the file in https://github.com/programminghistorian/jekyll/tree/gh-pages/en and then we do a pull request.

[2019-04-08 00:15] JMParr commented on #1181
I have emailed the author, but I haven't heard back. It's possible it went
into the spam folder, or he's just busy and hasn't had a chance to reply.
The data files were fine when the lesson was originally finalized.

On Sun, Apr 7, 2019 at 9:40 AM Matthew Lincoln <notifications@github.com>
wrote:

[2019-04-08 01:03] ladew222 commented on #1181
I apologize for the late reply as there was an email issue.  I will take a look and get back to you this week. Like Jessica mentioned, the files were functioning at publication so the files may have gotten corrupted somehow if I was to guess. I will look to see what is the source of the issue and repackage the files if necessary.

[2019-04-08 01:25] JMParr commented on #1181
Thank you @ladew22 !

On Sun, Apr 7, 2019 at 9:03 PM ladew222 <notifications@github.com> wrote:

[2019-04-08 01:36] ladew222 commented on #1181
No problem. I compared my archive to the compressed download and there is quite a bit missing; both files and folders. I checked to see very briefly to see the code worked with my archive and it appears to function but I want work through the lesson more completely. Once done, I can send over the files.  What is the best means for me to deliver the items.

[2019-04-08 01:43] JMParr commented on #1181
Sounds good. @acrymble is Managing Editor. He can let us know.

On Sun, Apr 7, 2019 at 9:36 PM ladew222 <notifications@github.com> wrote:

[2019-04-08 04:21] vgayolrs commented on #1182
Aparte de las tareas propuestas por @arojascastro , quisiera proponer los siguientes temas para la reunión.

- [ ] seguimiento de la [lista de traducciones](https://github.com/programminghistorian/ph-submissions/blob/gh-pages/es/lista-de-traducciones.md).
- [ ] revisión de los tiempos de edición de las traducciones y lecciones. Hay algunos tickets que tienen meses o casi un año abiertos. [Aquí](ht

[2019-04-08 05:24] amsichani opened #1259 "April 2019 Editorial Agenda - Monday 29th April 2019"
Monday 29th April 2019. Time is 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET. I (@amsichani) will be facilitating the call.

Working agenda follows. Please add by commenting or editing this comment directly.

- [ ]  Current Research Projects or Submissions Pending about the Programming Historian.
- [ ] #1199 Translators Guidelines & #1189 (FR) #958 (ES)
- [ ] #1183

[2019-04-08 07:24] drjwbaker commented on #1183
@arojascastro Agreed that we if take forward this proposal (for which, thanks @acrymble) we need to define what a member of the 'Editorial Board' does or remove it.

[2019-04-08 07:52] acrymble commented on #1181
Thank you both for the update. @ladew222 can you try to get us the fix by 7 May 2019 please? You can email them to the managing editor (see http://programminghistorian.org/en/project-team)

[2019-04-08 10:32] acrymble commented on #1183
Building upon this, how about this for a new structure moving forward?:

- Managing Editor (English)
- Managing Editor (Spanish)
- Managing Editor (French)
- Ombudsperson
- Technical Manager (has strategic oversight) @mdlincoln
- Technical Team (reports to technical manager)
        - @jenniferisasi
- Archivist @drjwbaker
	- Manages regular deposits to Zenodo of Programming Historian project and p

[2019-04-08 11:05] spapastamkou commented on #1161
@acrymble Yes, I do last checks on the EN text and on the FR translation I prepared. Will post texts here by the end of the day.

[2019-04-08 12:52] walshbr commented on #1259
This will be the last one I'm out for - I should be back for the May call.

[2019-04-08 19:51] jenniferisasi commented on #1182
Víctor, creo que a lo que te refieres con lo siguiente

Soy yo como parte del Technical Team. Por ejemplo, Matt me menciona en cualquier cosa que tenga que ver con añadir enlaces, arreglar algún archivo, etc.

[2019-04-09 02:42] vgayolrs commented on #1182
@jenniferisasi , exacto, acabo de hacer la revisión de roles y ya te vi:

Debí decir si necesitas apoyo del resto del equipo.

[2019-04-09 07:20] drjwbaker commented on #1183
Thanks @acrymble. This will also help recruitment, as we can be clearer on what we need.

On which - and thinking of https://github.com/programminghistorian/jekyll/issues/1249#issuecomment-480190726 - do we want to a) define specific translations roles within 'Editor (LANG)' or b) make it part of the 'Managing Editor (LANG)' role to recruit a mix of LANG-only editors and those who can translate be

[2019-04-10 06:16] arojascastro commented on #1237
Hola, creo que estaría bien enviarlo mañana 11 a más tardar... con vuestro permiso.

[2019-04-10 06:17] arojascastro commented on #1195
We somehow have already written the abstract, and we are ready to submit. If you do not say anything soon, we'll assume that you agree with it.

[2019-04-10 06:20] rivaquiroga commented on #1237
¡Está muy bueno!

[2019-04-10 13:50] jenniferisasi commented on #1237
Enviémoslo ya. ¿Ponemos nuestros dos nombres al ser también los que queremos presentar en la conferencia?

[2019-04-10 13:56] acrymble commented on #1237
Good luck!

[2019-04-10 14:43] #1208 closed, assigned to mdlincoln

[2019-04-10 16:13] jenniferisasi commented on #1215
Self-note: People in the Caribbean are not on Twitter, they are on Facebook (this came up talking to a post-doc fellow who is in contact with about 70 partners in the Caribbean)

[2019-04-10 20:13] spapastamkou opened #1265 "cleaning data with openrefine lesson: dead link"
To all: in the "Cleaning Data with Openrefine" lesson, the following link:
`[website]: http://www.powerhousemuseum.com/collection/database/download.php "website"`
redirects to a broken link: http://api.powerhousemuseum.com/

There is an archived version of this last link here: https://web.archive.org/web/20190114204425/http://api.powerhousemuseum.com/login/?next=/

The link was supposed to send to

[2019-04-11 01:26] mdlincoln commented on #1265
Their API has been combined with their sister museums here: https://api.maas.museum/docs

I'd point to that link, and just note in parentheses that the data sample for this lesson was downloaded in 2013 and may not represent the data available now.

[2019-04-11 07:27] arojascastro commented on #1237
Enviado el formulario y texto por email con copia a Jennifer el 11 de abril. Merci.

[2019-04-11 07:27] #1237 closed, assigned to arojascastro, jenniferisasi, vgayolrs, mariajoafana, jamotilla, rivaquiroga, JoshuaGOB

[2019-04-11 09:22] spapastamkou commented on #1265
I like this option, @mdlincoln, I just pointed this in the translation review ticket and wait a while to gather comments, if any.

[2019-04-11 16:23] spapastamkou opened #1266 "Editors guidelines in FR: add a FR library"
I refer to the part of the editors guidelines that corresponds to that in EN: https://programminghistorian.org/en/editor-guidelines#4-find-an-image-to-represent-the-lesson
In the respective part of the FR editors guidelines it would be good, I think, to add [Gallica](https://gallica.bnf.fr/accueil/fr/content/accueil-fr?mode=desktop), the digital FR library, a a potential source of images.
Would th

[2019-04-11 18:52] arojascastro commented on #1266
Sure, whatever makes sense for the French edition. Do you know if Gallica provides objects to Europeana?

[2019-04-11 19:50] spapastamkou commented on #1266
It does, yes.

Envoyé de mon iPhone

[2019-04-11 22:25] spapastamkou commented on #1266
I added Europeana as well, thanks for the idea @arojascastro (with PR #1267)

[2019-04-11 23:01] spapastamkou commented on #1247
I created a `liste-des-traductions.md` file in `ph-submissions` ([here](https://github.com/programminghistorian/ph-submissions/blob/gh-pages/fr/traductions/liste-traductions.md)). I also documented these lists so that anyone knows what to do.

@mpuren: I just renamed the first sheet "Suivi des traductions" because it is not only for already translated tutorials (translated is only an attribute). F

[2019-04-11 23:01] #1247 closed, assigned to spapastamkou

[2019-04-12 08:02] #1266 closed, assigned to spapastamkou

[2019-04-12 09:00] arojascastro commented on #1195
Resumen enviado el 12 de abril; cierro aquí.

[2019-04-12 09:00] #1195 closed, assigned to arojascastro

[2019-04-12 09:58] acrymble commented on #1215
I can close this if I get the following translations:

Can I get a French and Spanish translation to the following please so I can finish the pull request to add @jenniferisasi to this role?

Communication Manager
Responsible for managing and developing communication channels

@jenniferisasi @spapastamkou @mpuren @fdlaramee

[2019-04-12 11:42] mpuren commented on #1215
Responsable de la communication
En charge de gérer et de développer les moyens de communication

[2019-04-12 13:32] fdlaramee commented on #1215
I wrote a translation 11 days ago (see above); @mpuren's is equally accurate.

[2019-04-12 14:28] acrymble commented on #1215
So sorry @fdlaramee I didn't see it. You're right.

[2019-04-12 14:31] acrymble commented on #1215
Is this ok for the Spanish one?

Manger de comunicación
Responsable del mantenimiento y creación de canales de comunicación

[2019-04-12 15:04] spapastamkou commented on #1161
I reopen this ticket to create a brabch out of it and fix the date of the two blogposts (month/day are reversed in the files naming)

[2019-04-12 16:12] jenniferisasi commented on #1215
I received your email, sorry I didn't notify earlier. Need clarification though, that is a riddle to solve for the password? I am still logged in Twitter so I haven't used it yet.

[2019-04-12 16:14] jenniferisasi commented on #1215
Communication Manager
Responsible for managing and developing communication channels

Gerente de comunicación
Responsable de la gestión y el desarrollo de canales de comunicación

[2019-04-12 16:26] acrymble commented on #1215
@jenniferisasi I've added a pull request to close this ticket, so if you need a place to store ideas, maybe a wiki page would be a good idea?

[2019-04-12 16:27] acrymble commented on #1249
Thanks for the feedback. I'm going to close this and we will wait for the translation guidelines and use that as our method forward.

[2019-04-12 16:27] #1249 closed, assigned to nobody

[2019-04-12 16:41] #1161 closed, assigned to amsichani, mpuren, spapastamkou, fdlaramee

[2019-04-12 16:42] jenniferisasi commented on #1215
@acrymble ok, you can close this issue and at some point during the weekend I will put all my ideas together and create a wiki page.

[2019-04-12 17:41] jenniferisasi opened #1272 "Update and Translate PH Wikipedia entry"
Our [wikipedia entry for PH](https://en.wikipedia.org/wiki/Programming_Historian ) needs to be updated to reflect on the French publication. It will also be worth to translate the entry into Spanish and French and link it to this one to have more online presence.

I will take care of updating the entry and translating it into Spanish in the following days.

[2019-04-13 13:25] #1265 closed, assigned to nobody

[2019-04-13 14:24] #1215 closed, assigned to jenniferisasi

[2019-04-13 21:41] jenniferisasi opened #1273 "April 2019 Spanish-Team Meeting Agenda"
Date April 15th, Monday. Time is 9:00 AM - Mexico time; 10:00 AM - Chile; 4:00 PM - Spain @     will be facilitating the call.

Working agenda follows, compiled from #1182 and informal chats. Please add by commenting or editing this comment directly:

- [x] presentación oficial de @rivaquiroga y @JoshuaGOB
- [x] meses sabáticos para @mariajoafana (a partir de julio, hay que buscar reemplazo como M

[2019-04-15 08:22] drjwbaker commented on #1259
Ack. Another call got in there before we confirmed this one. Sorry.

[2019-04-15 09:05] arojascastro opened #1274 "DH2019 Utrecht"
Some people showed their interest in submitting a workshop late proposal for DH2019 taking place in Utrecht on Monday 8th July. It is a half day workshop as part of "Accelerating DH". The deadline for submission is Monday 6th May. Is anyone planning to attend the conference? I think @amsichani and @mariajoafana intended to do so. Can we recap here?

More information:

Date: 2019-03-27 16:40:25+00:

[2019-04-15 14:51] mariajoafana commented on #958
I'm charge of writing the paragraph, will do this soon

[2019-04-15 16:52] arojascastro commented on #1182
Creo que podemos cerrar esto y, si queremos volver a charlar sobre el tema, convocar una reunión en el futuro y crear un ticket con la agenda como hizo Jennifer.

[2019-04-15 16:52] #1182 closed, assigned to arojascastro, jenniferisasi, vgayolrs, mariajoafana, jamotilla, rivaquiroga, JoshuaGOB

[2019-04-16 09:07] spapastamkou commented on #1274
Organize a 5 min presentation on the basis of the 2 main ideas of the workshop (open education - shared initiatives)?
1. Principles of openness of the PH: open access, open source, open peer review
2. The internationalisation of the PH: though for my part I find better to frame around the notion of trans-national rather than inter-national

[2019-04-16 13:35] acrymble commented on #1183
I don't see any dissenting votes on this. So we can discuss it one final time at the April 2019 meeting and if no one raises issues I will start implementing it, taking @drjwbaker 's points into consideration.

[2019-04-17 16:43] spapastamkou commented on #1184
I just sent message to following lists: quanti, dh, accesouvert, enumhist (FR).

[2019-04-19 07:29] acrymble commented on #1179
A note to the team. @spapastamkou and I have put together a bid for an initiative in West Africa. It is currently going through some internal approval and checking processes at my university.

[2019-04-20 11:49] amsichani commented on #1274
Should we draft a small proposal using Gdocs?

[2019-04-20 16:38] jenniferisasi commented on #1215
Adding a note: I have created a wiki page as Communication Strategies with a few ideas for my new role of communication manager.

[2019-04-20 17:15] jenniferisasi commented on #1272
I have minimally updated the Wikipedia entry in English and translated the page to Spanish. I have kept the original one for now. I recommend the @programminghistorian/french-team they translated and publish the page in French (took me about 15 min) as I can't do it myself.

[2019-04-20 17:22] jenniferisasi opened #1276 "New Lesson: Análisis de corpus con Voyant Tools"
Preparing to publish a new original lesson in Spanish by Silvia Gutiérrez.

[2019-04-22 09:13] arojascastro commented on #1274
For the record, I shared a google drive doc with Anna Maria and Sofia. Let us know if anyone else needs access.

[2019-04-22 12:16] mdlincoln commented on #1276
I see this lesson was already merged. But the published lesson has a heading for footnotes... but no footnotes? Please proofread the lesson to make sure everything is looking ok

https://programminghistorian.org/es/lecciones/analisis-voyant-tools#notas-al-pie

[2019-04-22 13:08] mdlincoln commented on #1276
Specifically, these lines: https://github.com/programminghistorian/jekyll/blame/gh-pages/es/lecciones/analisis-voyant-tools.md#L412-L413

you need to have a corresponding `[^1]` and `[^2]` in the body of the text where you want the note number to appear. Only then will the note text get rendered at the bottom of the page

[2019-04-22 13:11] jenniferisasi commented on #1276
Oh, sorry Matt, and good catch! I added the connector to the footnotes dismissing it in the text, but I will fix it now. Thanks!

[2019-04-22 13:30] #1276 closed, assigned to jenniferisasi

[2019-04-22 19:26] mariajoafana opened #1279 "Maria José Sabattical Checklist"
I intend to go on Sabbatical from July 2019 until January 2020.

I'll start gathering my checklist of outstanding tickets here and will close them up before I leave

Tickets - jekyll repo

- [ ]  #958 Lenguaje inclusivo en PH-es
- [x] #1250 - British Academy funding notice on lesson

Tickets - submissions repo

- [ ] 163 -  Georeferenciar con QGIS - programminghistorian/ph-submissions#163
- [ ] 18

[2019-04-22 19:28] mariajoafana commented on #1274
Right now it seems that I won't be able to attend DH2019. If anything changes I'll let you know

[2019-04-22 19:47] acrymble commented on #1279
Thanks for letting us know @mariajoafana . Can you start finding a new Spanish Managing Editor to take over in July (a couple of months early)?

[2019-04-22 21:07] jenniferisasi commented on #1279
Thanks @mariajoafana. I've edited your comment with those check-boxes cos it makes the workflow a bit easier later on. Let us know if you need help with any of these

[2019-04-23 17:38] acrymble opened #1280 "Replacement Spanish Managing Editor"
As @mariajoafana is going on Sabbatical in July, we need to replace her as managing editor. This would have to be one of our Spanish team members:

@vgayolrs @jenniferisasi @jamotilla @JoshuaGOB @rivaquiroga @arojascastro

Since the position is normally from September to September, this would be until September 2020.

[2019-04-24 07:26] arojascastro commented on #1280
Since I was managing editor before, I won't take this role very soon again. I encourage others to nominate themselves.

[2019-04-24 08:19] acrymble commented on #1280
For those who are unsure what the role includes, here is a summary:

- The first point of contact for all questions from prospective authors
- Responsible for checking over and publishing all lessons
- May be called upon by other members of the team to act as a point of contact for the "Spanish" team.

[2019-04-24 08:21] acrymble commented on #1250
@jenniferisasi this also applies to https://programminghistorian.org/es/lecciones/analisis-voyant-tools

[2019-04-25 13:33] vgayolrs commented on #1280
Since I have to finish a book in the following months and, plus, have been appointed as a member of the AHDO Awards Committee for this year (and that's a lot of work), I think I can't take the assignment.

[2019-04-25 16:08] acrymble opened #1282 "Broken lesson - downloading python"
From Jim Clifford: The Old Bailey server is sending back an error for urllib2.urlopen in the Downloading Web Pages with Python lesson.

![D2Cm7jmW0AAGuWi jpg large](https://user-images.githubusercontent.com/646647/56750913-b1e9b580-677c-11e9-9e71-05575401d495.jpg)

https://twitter.com/jburnford/status/1121016657114271745

Affects this lesson: https://programminghistorian.org/en/lessons/working-wit

[2019-04-25 17:29] acrymble commented on #1282
From Jim: There is an easy workaround we figured out, as you've got the same HTML code hosted on the @ProgHist site (linked in the next lesson I think). Of course, it still might defeat the purpose if students can't replicate the process on other pages.

[2019-04-26 09:22] arojascastro commented on #1259
I cannot make this time  - sorry! I hope someone else from the Spanish team can make it.

[2019-04-26 09:32] arojascastro commented on #1274
In addition to the workshop, yesterday 25 April Anna-Maria, Sofia and myself sent an abstract for a late breaking poster titled *Designing Multilingual Digital Pedagogy Initiatives: The Programming Historian for English, Spanish, and French speaking DH Communities*. We are planning to work on the abstract for the workshop in the following days.

[2019-04-26 14:07] spapastamkou commented on #1272
Seen and noted, @jenniferisasi. I myself cannot do it at least immediately but perhaps the rest of @programminghistorian/french-team have the possibility. Otherwise please keep the ticket open until one of us can. Thank you.

[2019-04-27 12:13] acrymble commented on #1282
@jburnford I've just retried the whole series of Python lessons and I've not been able to recreate your error. I tested it with Python 2 on a mac. If you can give me more information we can reopen the issue.

[2019-04-27 12:13] #1282 closed, assigned to acrymble

[2019-04-29 14:03] drjwbaker commented on #1183
We should include in roles the meetings that people in certain roles are expected to attend.

[2019-04-29 14:08] mdlincoln opened #1283 "ACH 2019 in Pittsburgh (stickers?)"
Anyone who will be at ACH 2019 in Pittsburgh, let us know in this ticket so we can maybe meet up and say hi!

Also - we would like to order a block of new stickers (en, es, and now fr!) - @drjwbaker can you let us know what service you used to order these last time?

I'm glad to volunteer to put in an order and can then meet up to find people to hand out.

[2019-04-29 14:10] mdlincoln commented on #1283
https://www.stickermule.com

[2019-04-29 14:11] drjwbaker commented on #1283
I used stickermule. Just shared with you (@mdlincoln) the link to reorder if you want to use the same. I can't get a link out to reorder, but I have shared with the group email as well.

[2019-04-29 14:37] mariajoafana commented on #1283
I'll be there with @jenniferisasi talking about PH en español!

[2019-04-29 14:37] mdlincoln commented on #1209
from 2019-04-29 meeting: clarified that the contractor will be primarily focusing on consistent prose style (e.g. formality/informality), and once they deliver that then @mdlincoln will be able to add guidelines on code formatting, consistency in referring to variables, filenames, math.

[2019-04-29 14:39] drjwbaker commented on #1179
If you want someone to give it a read before submission, I'm more than happy to. Sounds awesome thus far.

[2019-04-29 14:43] mdlincoln commented on #1183
I will take on the "Technical Manager" role

[2019-04-29 14:53] vgayolrs commented on #1259
neither I

[2019-04-29 14:56] mdlincoln opened #1284 "Technical Team call &| comms channel"
Came up during the 2019-04-29 call that it'd be useful to maybe have a sub-team call with @mdlincoln @amsichani @ZoeLeBlanc @jenniferisasi (others?) where I can do a high-level overview of the Jekyll architecture and we can figure out some good to-do tasks that team members can begin to collaborate on.

I can send out a scheduling poll later this week if we want?

Also would people be interested i

[2019-04-29 14:59] acrymble commented on #1183
we have agreed to implement the new "roles" system. I will open a new ticket.

[2019-04-29 14:59] #1183 closed, assigned to acrymble

[2019-04-29 15:00] drjwbaker commented on #1284
As Archivist, I'd be grateful if you could try not to turn PH Slack into a place where all PH tech discussions happen because a) content there expires unless you have a £$€ plan and b) doing so would go against our 'hey, we do almost all our work in public!' ethos. Otherwise, I'm happy :)

[2019-04-29 15:12] amsichani commented on #1283
We need some stickers to be delivered also somewhere in Europe (London/ where @arojascastro will be/ FR-ladies) for EU-based events (DH2019).

[2019-04-29 15:14] acrymble opened #1285 "New Editorial Team Roles assignments"
As per #1183 we have agreed to implement a series of new "Roles" for the project team. These roles will make it easier for team members to define their contribution, while enabling the team to identify its strengths and where more resoures may be required. All members of the team must have at least 1 role.

All roles marked "leadership" will need to be covered in the case of temporary sabbaticals

[2019-04-29 15:16] amsichani commented on #1284
I share @drjwbaker 's sustainability&openesss concerns. imho we could have a slack channel for actual day2day communication and dev work and report back in technical Github tickets.
It might be wise to have someone also from the @programminghistorian/french-team at the technical team.
yes to a scheduling poll and chat later this week -

[2019-04-29 15:20] amsichani commented on #1285
Fab @acrymble - thanks so much for this!
I 'd like to see also a Diversity and inclusion manager and an Engagement and Outreach manager /

[2019-04-29 16:13] JMParr commented on #1285
Agree with @amsichani 's suggestion of a D&I and an E&O manager. Great suggestions.

I'll self-nominate for English Editor, and Head of PH Global. Would also be willing to take on PH Global for North America and/or Africa.

[2019-04-29 16:34] arojascastro commented on #1285
Uhmmm... when did the campaign started? I didn’t realize... :-/ Can you please clarify how many seats are available? I don’t really know where I fit.

[2019-04-29 16:34] jenniferisasi commented on #1285
Hi all, upon reading the PH Global roles again... I think we need to take into account these points in case they are not clear, and because of geographical vs political/cultural/language distinctions:

1) North America technically includes Mexico, Central America and the Caribbean. Latin America also includes Mexico, CA and the Caribbean, as well as Brasil but not the English-speaking countries
-

[2019-04-29 16:39] amsichani commented on #1285
@arojascastro it was discussed & decided during our last Skype call (today) based on an original proposal by @acrymble . Please go ahead and place your name wherever you see yourself and even if there are more than one names for one role (excl editors) we can sort it out !

[2019-04-29 16:49] acrymble commented on #1285
@jenniferisasi I think we have to go geographic to keep things simple. But we can make up our own boundaries. Like in this map perhaps
![regionsmap](https://user-images.githubusercontent.com/646647/56912270-d4464080-6aa6-11e9-98bf-dc9b93a2b309.png)

I see the role of the PH Global team as understanding regional factors that we need to be aware of and adapt to, as well as building networks. Ideally

[2019-04-29 16:53] acrymble commented on #1285
@amsichani please add diversity.

I think of the Communication Manager as the Outreach person, combined with the  Education and Research Impact person. So how is your new suggestion different from those? What will they actually do?

[2019-04-29 17:51] arojascastro commented on #1285
Ok thanks!

[2019-04-29 17:53] amsichani commented on #1285
Added.
OK @acrymble I see your point and I agree. There is no need to add an Engagement and Outreach role, given that Communications& Education&Research  Impact roles will work collectively towards these tasks.

[2019-04-29 17:54] arojascastro commented on #1283
I'll be in Barcelona until June and then probably in Berlin (if everything goes well, if not in a parallel dimension).

[2019-04-29 18:06] acrymble commented on #1283
I think I still have some Spanish ones. I'll check. (turns out I dont' have any).

[2019-04-29 19:02] walshbr commented on #1283
I'll be there

[2019-04-29 19:18] amsichani commented on #1259
Minutes of the March meeting, mainly actions points and decisions made - please amend if I misunderstood or skip smth:

 - [ ] #1199: @jenniferisasi will start working on the English version , then move onto Spanish and French.

  - [ ]  #1183 : @acrymble will create a new ticket with the new team roles  -- please contribute with their short description/responsibilities and  feel free to add your

[2019-05-01 10:43] spapastamkou commented on #1184
I reopen this issue just to make a small update on impact after sending the message of announcement of the PH FR and the blogpost link.
Up until now we had 4 people contacting the FR team: one has already submitted a translation proposal which is in progress (here: https://github.com/programminghistorian/ph-submissions/issues/236); one more will be available to translate from September on (probabl

[2019-05-01 10:43] #1184 closed, assigned to mpuren, spapastamkou, fdlaramee

[2019-05-02 17:41] walshbr opened #1286 "May Editorial Agenda - Friday, May 31 2019"
Date TBD in May 2019. Time is 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET. I (@walshbr) will be facilitating the call.

Working agenda follows. Please add by commenting or editing this comment directly.

- [ ] Current Research Projects or Submissions Pending about the Programming Historian.
- [ ] New Editorial Team Roles #1285
- [ ] Replace Spanish Managing Editor

[2019-05-02 20:08] Pio82 opened #1287 "Newsletter"
Do you publish a newsletter?  If not, perhaps you should.  Programming Historian is a great source of ideas and knowledge for us programmers.

[2019-05-02 20:20] spapastamkou commented on #1284
Have you met already??

[2019-05-02 21:26] jenniferisasi commented on #1284
@spapastamkou no, we haven’t met yet :)

[2019-05-03 09:34] acrymble commented on #1287
This sounds like a matter for our new communication manager! Thanks for raising the idea @Pio82

[2019-05-03 09:39] acrymble commented on #1285
I think we're still waiting for views from the following people:

@walshbr @ZoeLeBlanc @jamotilla @mpuren

and @alsalin (on leave).

If you haven't already added your name, can you please do so?

[2019-05-03 12:09] walshbr commented on #1285
I'm still on sabbatical for a couple weeks until mid-May - just hopping in here and there for the Skype call things. I need more time to review the conversation on all this since I've been out of it to have a sense of what I'd be signing up for. But I should at least be good for the English editorial team.

[2019-05-03 12:36] acrymble commented on #1285
@amsichani can you outline how the Diversity and Inclusion Manager will be different from the Team Development Manager (onboarding manager (crucial))

[2019-05-03 20:31] spapastamkou commented on #1287
Please note that one of our recent volunteers for the FR edition asked the same thing.

[2019-05-04 10:55] arojascastro commented on #1283
I just found out I still have stickers with the Spanish logo. I'll bring some to Utrecht.

[2019-05-04 11:00] mdlincoln commented on #1284
Can members/potential members of the technical team please see if any of these days would work for a technical call at the usual editorial call time of 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET time

https://doodle.com/poll/ipg4wu4ydri6ueqi

For this first call, I'll aim to:

1. Do a walkthrough of our setup
        1. How Jekyll works with GitHub pages
        2

[2019-05-05 16:12] jenniferisasi commented on #1287
Thanks @Pio82 for reaching out to us!
We currently don't have a newsletter as such. However, I am working on establishing a periodical blog-post that will very much resemble a newsletter as it will include notes on all the new lessons, updates on work-in-progress, etc. These will be published in our blog, to which you can subscribe via a [RSS feed](https://programminghistorian.org/feed.xml).

[2019-05-05 16:30] jenniferisasi opened #1288 "Communication: Blogpost/Newsletter for June"
I am going to write a half-year newsletter/blogpost to be published in June (then every 3 months), to highlight that in the first half of 2019 we did:
- Launch of PH in French (+ blogpost)
- First original lessons in Spanish
- X number of new lessons
- X number of translations into Spanish and French (if ready)
- X number of visitors (+ Adam's blogpost)
- New members
- Upcoming presentations in co

[2019-05-05 17:12] jenniferisasi opened #1289 "Fix broken links"
While trying to publish our request for lessons on pull request #1261 Travis shows the following broken links in other lessons and a blog post. Will have to fix them

- ./_site/en/lessons/understanding-regular-expressions.html
  *  External link http://regex.learncodethehardway.org/book/ failed: 404 No error
- ./_site/es/lecciones/escritura-sostenible-usando-pandoc-y-markdown.html
  *  External li

[2019-05-05 18:14] arojascastro commented on #1288
Great idea! I strongly support this initiative and share more messages on DH lists in addition to dissemination on Twitter and FB.

[2019-05-07 00:54] #1289 closed, assigned to jenniferisasi

[2019-05-07 06:57] drjwbaker commented on #1288
Great idea. Nothing to add. But when we get to the end of year one, we should align with the annual Zenodo deposit (2018: https://zenodo.org/record/1477854#.XNEsBaZ7mb8)

[2019-05-07 07:02] drjwbaker commented on #1284
I'm not planning to join the tech team, but if I can make this call, I'd like to. I'd find the walkthrough useful.

[2019-05-07 07:45] mpuren commented on #1285
With @fdlaramee we have decided that there will be 2 ombudspersons for the French team (me and hiem). And I should be added to "Editor (French)"

[2019-05-07 13:20] arojascastro commented on #1284
same as @drjwbaker - i would like to know more but not joining the team

[2019-05-08 13:12] ladew222 commented on #1181
I am a day tardy on this due to illness.  I am sending the files today.

[2019-05-08 14:29] rivaquiroga commented on #1283
Hi! Just for today, a deal from StickerMule to print 3" × 3" stickers ($19 for 50): https://www.stickermule.com/deals

[2019-05-08 15:44] #1259 closed, assigned to amsichani

[2019-05-09 07:45] lechten opened #1295 "Unify dc prefix in Introduction to the Principles of Linked Open Data"
In https://programminghistorian.org/en/lessons/intro-to-linked-data, the prefix `dc` for Dublin Core terminology is used with different URIs, which may confuse readers. The first two examples bind it to `http://purl.org/dc/elements/1.1/`, while the RDF/XML document uses `http://purl.org/dc/terms/`.

I suggest to use the latter variant everywhere. The former variant is just a subset, which is calle

[2019-05-09 12:27] acrymble commented on #1179
Thank you for submitting a nomination. Awardees will be announced on the AHA website in October and will be recognized during a ceremony at the January 2020 AHA annual meeting in New York City. For questions please contact awards@historians.org

[2019-05-09 12:27] #1179 closed, assigned to acrymble

[2019-05-09 12:43] drjwbaker commented on #1179
Great job @acrymble & @spapastamkou. Even if we don't get it, let's look to find ways to do the work anyway: you've made a really strong case for doing practical work in Francophone Africa.

[2019-05-09 13:03] mdlincoln commented on #1283
I've ordered sets of ES and FR stickers for ACH - if someone wants to grab some EN ones as well that'd be great :)

[2019-05-09 13:15] #1295 closed, assigned to nobody

[2019-05-09 13:39] lechten commented on #1295
That commit did not change the `dc` prefixes. For example, [line 224](https://github.com/programminghistorian/jekyll/blame/gh-pages/en/lessons/intro-to-linked-data.md#L224) uses `http://purl.org/dc/elements/1.1/` while the RDF/XML document uses `http://purl.org/dc/terms/` in [line 274](https://github.com/programminghistorian/jekyll/blame/gh-pages/en/lessons/intro-to-linked-data.md#L274). I did not

[2019-05-09 14:05] mdlincoln commented on #1284
The time with the most responses was Tuesday May 14th - see you all then!

[2019-05-09 14:07] ZoeLeBlanc commented on #1284
Sadly I need to bow out for a bit until my dissertation defense in August. Looking forward to joining this team in the fall :)

[2019-05-09 16:18] JMParr commented on #1181
Thank you @ladew222 . I hope you are feeling better. Tagging @mdlincoln in case he hasn't seen this yet.

[2019-05-09 17:39] walshbr commented on #1285
Since I've been running and patching the Twitter bot, I suppose I should be added to the Communications team with @jenniferisasi?

[2019-05-09 18:06] mdlincoln commented on #1284
Good luck with the defense!

[2019-05-10 15:50] jenniferisasi commented on #1285
Hi all. I only now have a bit of time to respond, in particular to @acrymble, but this is a call for everyone here specially @JMParr @spapastamkou @arojascastro and @rivaquiroga as you signed to be part of some PH Global role.
I want to raise again the inconvenience of dividing these roles into regions rather than languages as it will not keep things simple as Adam claims. Regions doesn't equate/p

[2019-05-10 16:08] acrymble opened #1296 "PH Global divisions"
As per #1285 @jenniferisasi has raised some concerns about the current planned breakdown of the PH Global roles.

These were:

Head of PH Global (has strategic oversight of PH Global team (leadership))
PH Global - Africa (responsible for promoting the project in a specific region, and listening to the needs of that region to feed them back to the project team)
PH Global - Europe
PH Global - Middle

[2019-05-10 16:10] acrymble commented on #1285
@jenniferisasi I have made a new ticket where we can discuss this further #1296

[2019-05-10 16:18] acrymble commented on #1296
This was my idea to set up in the first place, so I'll try to explain my thinking.

We have lots of activity in the certain parts of the world, and none at all in others. For example, we've hosted events or given talks in Germany, Switzerland, the UK, Canada, the US, Mexico, and Colombia (off the top of my head). But we have never had anyone presenting the project to audiences in Asia or Australia

[2019-05-10 17:51] arojascastro commented on #1296
I have mixed feelings about this issue. I agree that the division into territories is practical but it may be too simplistic. I think we could just define priorities and actions and then assign roles. I do not think we can keep growing for many reasons, I am very happy with three languages and three editions, but I think there is plenty of room for our French team to find collaborators in French A

[2019-05-11 05:03] vgayolrs commented on #1296
This is a truly interesting discussion that shows us the cultural, economic, social and technological problems beyond the divide between the global north and global south.

Let's give an example. Now that I am working on a committee of ADHO 2019, I find that the Utrech conference is focused on Africa: there is a whole program to support the development of the digital humanities in Africa (workshop

[2019-05-11 07:00] acrymble commented on #1296
There's a couple of different issues being raised here, but one of them I want to try to address is

Of course you can't be an expert on Norway. But what a "European" person can do is point out to an American team member that idea X and solution Y doesn't make sense in the European context. You won't always know, but you'll probably know more often than anyone living in the US, and that's a streng

[2019-05-11 11:56] arojascastro commented on #1296
Agreed on *what a "European" person can do is point out to an American team member that idea X and solution Y doesn't make sense in the European context*, but do we need a role for that? Maybe yes to raise awareness. Why we do not do some brain storming about concrete actions that we could develop in 2019?

[2019-05-11 14:07] acrymble commented on #1296
Sure @arojascastro. Here are a few concrete actions I think we could or should pursue. Please feel free to add to it.

- Foster the community developed in Bogotá and encourage more submissions from participants, as many of these lessons are already half-written. Best achieved by someone Spanish speaking.
- Engage with West Africa or South Africa in a similar way, trying to identify and foster a co

[2019-05-12 14:13] jenniferisasi commented on #1296
Thanks everyone! I like the idea of developing strategies or actions for specific communities rather than trying regions as such. It makes more sense to me and, overall, it will be easier to achieve our goals.

In this sense, and merging @arojascastro and @acrymble ideas, plus the people who signed for the roles already, it would look something like this:

- In Spanish: Foster the community develo

[2019-05-12 14:21] jenniferisasi commented on #1296
It is worth checking our analytics not just for one-time users but also the average duration of the session, as it shows (in this map for 2019) very specific places where people are visiting and may be overlooked:

<img width="903" alt="2019may11_duracionmedia" src="https://user-images.githubusercontent.com/11022533/57583532-be695000-7496-11e9-8c24-5c6b07100f0c.png">

[2019-05-12 15:32] acrymble commented on #1296
@jenniferisasi I agree with your sentiments shown in the map, but that seems to support my proposal rather than yours.

[2019-05-13 07:54] drjwbaker commented on #1296
Thanks all for this discussion. Really interesting.

My substantive comment is in support of having PH Global roles that **do not map** with our 3 (current) publications (these don't have to be the roles @acrymble proposed). My worry with - say @arojascastro's proposal at https://github.com/programminghistorian/jekyll/issues/1296#issuecomment-491375947 - is that aligning PH Global with the languag

[2019-05-13 11:21] arojascastro commented on #1296
Can you develop your ideas a little bit more please?

[2019-05-13 15:46] jenniferisasi commented on #1296
Sure @arojascastro! I was checking our analytics on its various options and realized that though we usually see that the US, India, Spain, Mexico, etc. are our main visitors, when we check the average duration of the site other countries stick out as well and will need to be taken into account.

In this case, as far as May 2019, it looks like we have longer stay users in Namibia, Gabon, Togo, Libe

[2019-05-13 16:16] acrymble commented on #1296
I think we might be talking past one another. I think one of the reasons for that is my choice of the term "Latin America", which having grown up far away from Spanish speaking parts of the world means to me "Everything south of Texas". I realize that's not accurate, and I think that it may be confusing things, judging by your points about Haiti and Guyana. What I should have said is "Central and

[2019-05-13 16:18] acrymble commented on #1283
I have some English ones. Can one of you send me your postal address and I'll mail them? Ideally someone with a reliable postal service.

[2019-05-13 16:30] acrymble commented on #1296
And as I said, I don't really mind what geographical divisions we use. If we want someone for each of South America, Central America, and the Caribbean, that's fine with me. We also don't need to fill them all right away, nor do we have to assume they'll be filled by current team members. It can be aspirational.

[2019-05-13 16:44] drjwbaker commented on #1296
My bad. I didn't mean to imply that.

[2019-05-13 17:09] JoshuaGOB commented on #1296
Hi all. This is a vital discussion and one that probably doesn't have an ideal solution. Nevertheless, I would like to suggest some things that have arisen from the work that my institution does outside of the US with digital scholarship and projects.

Geographic divisions definitely make sense when we have a lack of personnel to attend to the needs of a wide area, be it because of the amount of p

[2019-05-13 17:56] mdlincoln commented on #1283
@acrymble I'll email you, thank you!

[2019-05-13 18:30] Gimena commented on #1296
I'd suggest having local chapters in difefrent counties with a coordinator. The concept of region is, from my point of view, too loose.

[2019-05-14 02:14] quinnanya commented on #1296
I'd think that outreach and coordination is going to happen most effectively in a local way -- incorporating lessons into events held at an institution or in a metro area, soliciting them from workshop instructors (and many workshops are similarly held at scales equal to or smaller than a country). I think @Gimena has a good idea in making it national, which would also address the issues raised by

[2019-05-14 12:42] acrymble commented on #1181
I've received the data from @ladew222 and he says there are 2 other minor fixes he wants to make. Once I hear what those are I'll do a pull request with the changes.

[2019-05-14 13:28] rivaquiroga commented on #1288
Looks great! Is it going to be published just in English? Or in the three languages?

[2019-05-14 14:28] acrymble commented on #1296
Thanks for the contributions everyone. Personally, I'd love to have a person in every country! I think we'd need to raise some money to coordinate that though. And by some, I mean a lot.

[2019-05-14 15:22] mdlincoln opened #1298 "June PH Technical Team Call"
The votes are in - we will call on Thursday, June 27th. Time for the call is 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET time.

Team homework:
- [ ] Read [PH's Jekyll lesson](https://programminghistorian.org/en/lessons/building-static-sites-with-jekyll-github-pages)
- [ ] make sure you are able to install and run jekyll on your own computer.
- [ ] Pick one lesson a

[2019-05-14 15:22] mdlincoln commented on #1284
Discussed on the call:

- Went over the basic concept of _layouts and _includes and how they copy&paste from metadata
- looked at the basic Travis & Netlify connection
- next steps:
    - We will try monthly calls for the next few months. Goal is to get each person on the team comfortable enough to do a first pass at a new feature and give feedback to their teammates by 2020.
    - Over the next f

[2019-05-14 15:22] #1284 closed, assigned to mdlincoln

[2019-05-14 16:19] amsichani commented on #1298
This might sound silly but I need to say it: I m glad our tech team (following our main team's ethos) manages to respect gender balance and to support women representation in technical/programming roles - fighting this good fight (together with the DH community in general) against the "brogrammer" stereotype and culture.

[2019-05-14 16:49] amsichani commented on #1283
hey @acrymble we want some EN  stickers for DH2019 in Utrecht this July.

[2019-05-14 19:15] acrymble commented on #1209
Just an update that this has finally been processed internally so I'll be able to start working with the copy editors soon.

[2019-05-14 19:17] acrymble commented on #1298
@mdlincoln can we get confirmation of who is on this team?

[2019-05-14 19:26] acrymble commented on #878
Maybe it's time we look into setting up as a charity to avoid the tax problems? https://www.gov.uk/setting-up-charity

[2019-05-14 19:36] drjwbaker commented on #878
I was thinking the same recently. I'm willing to go through the eligibility check process and report back.

[2019-05-14 19:37] amsichani commented on #1285
this one was tricky - I think the Diversity and Inclusion manager oversees aspects of our inclusion and diversity strategy in various moments of our workflow, not just when it comes to include new members: guidelines, lessons' content, outreach events, publicity, policy /decision making -- all of these are moments where we need to ensure inclusion and diversity (in their various flavours) are take

[2019-05-14 20:47] spapastamkou opened #1299 "Sofia one-month absence: tickets in progress"
I will be absent for one month or so starting on May 15. I provide an overview of open tickets assigned to me so that everyone in the team knows what's on, just in case.

`ph-submissions` repository:
[#240](https://github.com/programminghistorian/ph-submissions/issues/240): is shared with @fdlaramee so it will be followed through
[#232](https://github.com/programminghistorian/ph-submissions/issues

[2019-05-14 20:55] spapastamkou commented on #1298
I will follow this, @acrymble.

[2019-05-14 21:39] mdlincoln commented on #1298
team members as best I understand it (and anyone, please correct me if I'm wrong!)

- myself
- @amsichani
- @spapastamkou
- @ZoeLeBlanc
- @mariajoafana
- @jenniferisasi
- @arojascastro
- @walshbr

Others who have asked not to be on the formal team but wanted to sit in on this first call
- @drjwbaker

[2019-05-14 22:14] amsichani commented on #1298
how about @jenniferisasi ?

[2019-05-15 02:35] jenniferisasi commented on #1298
He forgot about me :'(  (no worries @mdlincoln) I have technically been in the team a few months already and I have tried to make 'technical' changes whenever I was able to or troubleshoot Travis when possible. I think though @mariajoafana won't be part of the team because she's planning on taking a sabbatical in July #1279

If you have some extra time, I recommend building your own jekyll site to

[2019-05-15 07:01] acrymble opened #1300 "typo on front page"
<img width="753" alt="Screenshot 2019-05-15 at 07 59 46" src="https://user-images.githubusercontent.com/646647/57754948-873dad80-76e7-11e9-8087-88a4d4d2ff93.png">

Now that we have more than one lesson it needs to say "lecons" rather than "lecon".

[2019-05-15 07:05] acrymble commented on #1285
I think it's worth implementing these teams (and documenting what they do) in stages, since some of them are already more established than others, and some are still in discussion.

It looks to me like the Technical team is at a point where we could start (maybe on the wiki) writing up a description of what they do and then updating the Project Team page with the relevant new information?

[2019-05-15 07:08] arojascastro commented on #1298
I'd like to be part of the technical team as well if possible :)

[2019-05-15 07:50] drjwbaker opened #1301 "Look into setting up as a legal entity in the UK"
Further to https://github.com/programminghistorian/jekyll/issues/878#issuecomment-492379337, a walkthrough of what I found at https://www.gov.uk/setting-up-charity

1. (a) Check if Setting up a Charity is Right for You.

Possibly. We may be better suited in the first instance to becoming an 'Unincorporated Association' https://www.gov.uk/unincorporated-associations There is advice on this at https

[2019-05-15 08:01] drjwbaker commented on #1301
# More info on being an 'Unincorporated Association' in the UK

- annual income cannot exceed £5,000 https://www.resourcecentre.org.uk/hidden-information/routemap26a/ We can't make a profit
- we'd need a constitution https://www.resourcecentre.org.uk/information/constitutions/
- Individual members are personally responsible for any debts and contractual obligations. https://www.gov.uk/unincorporat

[2019-05-15 08:03] tillgrallert commented on #1296
Thank you so much for having this important discussion and thank you @quinnanya for sharing parts of it on twitter. There seem to be practical and theory-driven views on how to map engagement with the world outside the Global North (however, ill-suited the term might be). In addition to geographic regions and linguistic communities, there is the issue of script and writing systems and how they aga

[2019-05-15 08:10] acrymble commented on #1301
Thanks @drjwbaker . This sounds like a good possible path forward, and more reliable than through a university. Let's put it on the agenda for the next meeting.

[2019-05-15 08:12] drjwbaker commented on #1301
Thanks @acrymble. I'm looking into whether a UK-based Unincorporated Association (because if we go for this it will be as the bank account will be in the UK) can have non-UK based voting members. I'll report back when I hear more.

[2019-05-15 08:12] amsichani commented on #1301
Great , thanks @drjwbaker . I won't be at the next meeting but I m keen to keep an eye and contribute to further investigate this path.

[2019-05-15 08:18] arojascastro commented on #1296
Thank you all for your contributions. We have now a richer view of the problem. I think the ideal approach would be local as @Gimena suggested, but we do not have enough editors to act in each scenario and our team is already big enough so our monthly meetings are a kind of problem.

I also agree with @tillgrallert about Latin script limitations, and I think we are not covering problems derived by

[2019-05-15 08:24] drjwbaker commented on #1301
Thanks @amsichani. If we go for this, the bank account will need three UK-based signatories, so we might need you on that.

[2019-05-15 08:25] tillgrallert commented on #1296
I totally agree. The problem, in a way, is more a social one that cannot be addressed by pure "programming" solutions. Instead our non-Latin-script communities (for the lack of a better word) would need help, for instance in the form of tutorials, in building the necessary infrastructure (such as corpus building by scanning under dire circumstances, how to train ML algorithms for character recogni

[2019-05-15 08:35] amsichani commented on #1296
Thanks @tillgrallert for your useful points on a (somehow hidden) aspect of diversity in digital scholarship, that of non-Latin scripts languages, having impact both on existing (educational) resources, infra and tools.
As a Greek with Arabic origins,  I 've thought several times about the challenges and at the same time the urgency of having a Greek or an Arabic version of PH, but this  kind of s

[2019-05-15 08:37] drjwbaker commented on #1296
Depending on how you define global, or stats say we do reach a global audience. I'm for retaining 'Global' for reasons that build on but are different to @amsichani's comments: it is ambitious, and whilst our voluntary model does impose restrictions on what we can reasonably do, these feels like a moment to think ambitious.

[2019-05-15 08:46] amsichani commented on #1298
Thanks for the HW @mdlincoln ;-)
may I add a couple of things we are expecting from your part:
- [ ] add us to the Slack channel for PH notifications
- [ ] create a new Slack channel for PH tech team day2day comms
- [ ] create a GitHub tech team handle

[2019-05-15 09:13] acrymble commented on #1296
@arojascastro I just wanted to acknowledge your comments about the efficacy of our team size and how that affects group meetings. I know we all agree that's nothing to do with @amsichani and how she runs those meetings, but is instead a practical concern. So that we can address that, I will open a new ticket, as that's separate (but related) to the conversation we're having here.

It's interesting

[2019-05-15 09:15] acrymble opened #1302 "Efficacy of Skype meetings"
As raised by @arojascastro in #1296, the fact that we use Skype for our monthly meetings means that as the team grows, those meetings become more difficult. It raises questions about whether or not those meetings continue to be important, and if so who should attend, and what if any changes should we explore to the way that we hold them.

For those of us who do attend regularly, it is clear that s

[2019-05-15 09:17] acrymble commented on #1191
@JoshuaGOB I'm not sure if you've managed to find a lesson to shadow yet. If so, can we close this? If not, can you let us know and we can find you an opportunity?

[2019-05-15 09:18] arojascastro commented on #1296
Of course it’s has nothing to do with @amsichani - apologies it it sounded like a complaint. It actually wasn’t a complain.

I would ask ourselves:

- do we want to change our technological infrastructure?

- do we want to expand our editorial board?

Once we know the answer - let’s vote - then we should move to more ambitious tasks like this. But I would just relax, edit lessons and fix bugs. So

[2019-05-15 09:24] drjwbaker commented on #1302
Those who need to attend should be defined by role profiles that emerge from https://github.com/programminghistorian/jekyll/issues/1285, no?

[2019-05-15 10:28] acrymble commented on #1296
@arojascastro I believe you've put your name down potentially to be the "European" person under the original model. But your post above makes it sound like that's no longer something you're interested in? We need to be clear that no one is obligated to take on a role or more roles than they want to. The roles should liberate you to make the type of contribution you want.

[2019-05-15 10:34] arojascastro commented on #1296
True @acrymble ! I’m not sure, I’m very conflicted... let me think about and I’ll update the page. I don’t want to commit to tasks I cant or want to develop. I just want to edit and fix bugs at the moment but at the same time I can’t avoid having an opinion on these issues... i guess I should just learn to shut up lol :p

[2019-05-15 10:35] acrymble commented on #1296
@arojascastro voices will always be welcome on all issues, I hope. You can still feed in your views on proposals and ideas without being the one who volunteers to take those ideas forward.

[2019-05-15 10:59] acrymble commented on #1283
Can I give them to Tim Hitchcock to pass to you @amsichani?

[2019-05-15 10:59] acrymble commented on #1283
@mdlincoln can we close this?

[2019-05-15 11:00] #1300 closed, assigned to nobody

[2019-05-15 12:03] #1283 closed, assigned to mdlincoln

[2019-05-15 12:05] amsichani commented on #1283
sure thing !

[2019-05-15 12:34] walshbr commented on #1298
I can see myself contributing here if it's useful @mdlincoln. I didn't immediately sign up for it b/c the meeting time had been set by the time I got off sabbatical. Also just trying to be mindful of how much stuff I'm signing up for. But I've helped out with troubleshooting some of the travis PRs in the past, so seems to make sense. If you'll loop me in and have me as a latecomer, that is.

[2019-05-15 12:39] walshbr commented on #1285
I mentioned this in #1298, but I can also hop on the technical team. I was already trying to informally help troubleshooting PRs anyway before sabbatical. So I'll add myself to that and to the communications team under @mdlincoln and @jenniferisasi. I didn't quite know where to add the twitter bot bit, so I added it as a new line. But feel free to shift it around wherever you want @acrymble

[2019-05-15 13:30] rivaquiroga commented on #1296
Maybe this difference of opinion is precisely why the Spanish team prefers a linguistic approach. We are having this conversation in English. We are using the language of the English Team as _lingua franca_, not only here, but in almost every “visible” conversation in DH, technology, etc.
I don’t think that the Spanish team is not open to a regional approach. Is just that language barriers are som

[2019-05-15 13:45] JoshuaGOB commented on #1191
Hi, thank you for checking in. I haven’t been able to yet. @jenniferisasi is there one around?

[2019-05-15 14:00] drjwbaker commented on #1296
@rivaquiroga Thank you for this vital contribution. My first thought was 'so what do you suggest we do'. But everything I know about '[Ally Skills](https://software-carpentry.org/blog/2018/02/valerie-aurora-keynote.html)', and with [Eddo-Lodge's book](https://www.bloomsbury.com/uk/why-im-no-longer-talking-to-white-people-about-race-9781408870570/) still in my head, I'm aware that asking individual

[2019-05-15 14:19] arojascastro commented on #1296
In "localization studies" they usually talk about *locale*, that is the combination of a language and a territory. Here is some information: https://en.wikipedia.org/wiki/Language_localisation

## French

Tag | Locale
-- | --
fr-BE | Belgian French
fr-CH | "Swiss" French
fr-FR | Standard French (especially in France)
fr-CA | Canadian French

## Spanish

Tag | Locale
-- | --
es-ES | Castilian Spani

[2019-05-15 14:31] drjwbaker commented on #1296
Thanks @arojascastro. If we can fit with existing rationale like this, I'm happy. My worry with language orientated internationalisation only is that the expected 'outcome' of that work should be (and will be seen as) to build a group of editors to launch new language edition for each locale we internationalise into, rather than doing what is good for that locale (and us). If we can use existing f

[2019-05-15 14:35] arojascastro commented on #1296
Very true @drjwbaker - I see your point. But let's suppose that we want to do something for people working in Abu Dhabi or any other speaking Arab country... unless we create a new edition in Arab, we will write and create content for them within the English edition, that is, using English as a *lingua franca*. I am happy with that, but then we have to be aware that the English edition is a *globa

[2019-05-15 14:41] drjwbaker commented on #1296
Exactly. Which is exactly the danger of us dividing our international work by language, as it could imply each language edition is for people who speak that language as a first language, whilst - as you say - EN written is for a global audience of second language speakers (which ES and FR are less likely to be, though will be for some communities in Central/South America and parts of Africa, right

[2019-05-15 15:25] JoshuaGOB commented on #1296
The rationale that comes out of this discussion is going to be truly helpful here and for other projects that are attempting to navigate these issues. Thank you!

Just to add another consideration here. What you propose, @drjwbaker, raises the question for me of the implications of "focusing on we can do for people in geographical areas regardless of the language(s) they speak". For example, does

[2019-05-15 15:35] drjwbaker commented on #1296
As the Bogota and https://github.com/programminghistorian/jekyll/issues/1179 examples show, at the moment 'provid[ing] enough support for those linguistically heterogenous communities to create content' requires partnering with those communities to secure external funding. If the work on finances https://github.com/programminghistorian/jekyll/issues/1301 is successful, I'd like to think we can sta

[2019-05-15 16:59] rivaquiroga commented on #1296
I think a crucial point is to define what we expect as an 'outcome' of having Global Divisions. Right now, it seems that is to be able to reach people from different communities/contexts and see how, within the three languages we currently have, we can write content / run workshops / organize activities that are meaningful for them. Maybe, after a while, we realize through this process that a new

[2019-05-15 17:25] drjwbaker commented on #1296
We should probably remind ourselves of our core purpose here:

We've done things other than this because members of the team have sought out and been granted financial support. Is a potential outcome of PH Global that one day we run 'a local workshop in Somali based in a PH tutorial'? Perhaps. I want to be ambitious, so I would like to think we could do something like that. 4 years ago the team -

[2019-05-15 17:46] jenniferisasi commented on #1191
@acrymble there is currently no lesson/translation process where we could put either of them on shadowing mode from the beginning, so we are waiting on a new lesson however @JoshuaGOB is willing to shadow a lesson with the English team as you are receiving a few of them.

If you want, we can close the ticket as I'm not forgetting this missing task.

[2019-05-15 18:01] acrymble commented on #1296
Keeping @drjwbaker point about our mission in mind, the goal is to grow the audience of authors, reviewers, and readers in new and emerging markets. Good journals foster their communities and learn how to serve them better. That was the purpose of Bogotá and I think it’s done that

[2019-05-15 19:17] drjwbaker commented on #1296
I think we are in agreement Adam.

[2019-05-16 08:26] acrymble commented on #1191
Sure @JoshuaGOB I am about to publish an English lesson. Did you want to shadow me in that process so you can get a feel for it? @rivaquiroga too if you'd like?

[2019-05-16 09:17] drjwbaker commented on #1301
I've been advised that I should seek legal advice on this. I'm looking into if Sussex has expertise than can answer the question. More soon.

[2019-05-17 10:14] acrymble commented on #1301
Let me know if I can help.

[2019-05-17 14:56] drjwbaker commented on #1298
Did you set a date/time for a June call?

[2019-05-17 15:30] acrymble commented on #1181
I've received the data and the author has suggested the following two fixes:

County_Aggregate_Data$RelativeTotal= ((cntyNCG$AV0AA1990/10000)/cntyNCG$CountMembers )

To

County_Aggregate_Data$RelativeTotal= ((County_Aggregate_Data$AV0AA1990/10000)/County_Aggregate_Data$CountMembers )

And

qtm(shp = cntyNCG, fill = "CountMembers",text="NHGISNAM",text.size="A57AA1980")

to

qtm(shp = County_Aggrega

[2019-05-17 15:42] acrymble commented on #1181
We have a new problem.

The shapefiles for this lesson are too large. The file "County1990/US_county_1990.shp" is 79mb, and as a result, the Archive.zip file that contains everything is also very large. Github will only let me upload files of 25mb. That means that even with these fixes a key file is going to be missing.

@mdlincoln is there a solution we can adopt? I've half-completed these change

[2019-05-17 15:44] jenniferisasi commented on #1288
@rivaquiroga that's a very good question...ideal: trilingual, of course! But, for one, I cannot translate the whole thing, and it could become too long a document. But as I am thinking about it, what do you think about highlighting each teams achievements in their language and then having a small version of it in the other two languages? Some type of mix instead of 3 big chunks of text, but that w

[2019-05-17 15:46] ladew222 commented on #1181
I will try to reduce the file and try to limit it to the two states I directly analyzed rather than the entire US.  I will try to reduce on my end with hat 25mb number as a reference.

[2019-05-17 15:49] drjwbaker commented on #1301
@acrymble Will do. Would be useful to chat about it. Are you coming to [my talk Tuesday](https://ihrdighist.blogs.sas.ac.uk/2018/08/james-baker-decolonial-futures-for-colonial-metadata-1838-present/) per chance?

[2019-05-17 16:18] acrymble commented on #1301
If I can get back from exam board I will.

[2019-05-17 16:20] drjwbaker commented on #1301
Okay. If you don't, lets try to have a brief call later in the week.

[2019-05-17 17:18] acrymble commented on #1250
Both fixed.

[2019-05-17 17:18] #1250 closed, assigned to mariajoafana

[2019-05-17 18:36] JoshuaGOB commented on #1191
That sounds good. What’s the schedule like? I only ask because I have too grant apps due this week and a conference the week after.

[2019-05-18 08:31] arojascastro commented on #1273
I guess we can close this since we have separated ticket for each task, right?

[2019-05-18 08:31] #1273 closed, assigned to arojascastro, jenniferisasi, vgayolrs, mariajoafana, jamotilla, rivaquiroga, JoshuaGOB

[2019-05-18 08:32] arojascastro commented on #958
¿Alguna novedad al respecto?

[2019-05-18 08:33] arojascastro commented on #1274
Our poster was accepted! We are still waiting for the participation at the workshop. Kudos!

[2019-05-18 08:36] arojascastro commented on #1302
I would like to clarify that I think our coordinator's work has been amazing. However, I do believe that since our team is growing quickly and members live in different time zones sometimes it is difficult to find a slot convenient for everybody and gather all together. Once we have defined roles perhaps we can organize smaller team meetings.

[2019-05-18 14:31] jenniferisasi commented on #1298
@drjwbaker we didn't

[2019-05-19 14:16] acrymble commented on #1191
I suspect this week or next.

[2019-05-19 15:46] JoshuaGOB commented on #1191
Perfect. Let me know.

[2019-05-19 16:10] jenniferisasi commented on #1288
@drjwbaker I checked Zenodo now that it is back and running, and I see that it's a copy of the whole repository as is. Will you do the upload/review again in November?

[2019-05-20 07:26] drjwbaker commented on #1288
@jenniferisasi Yes, I do the deposit each November (https://github.com/programminghistorian/jekyll/wiki/Service-Integrations#zenodo). So the latest deposit can go in the December newsletter.

[2019-05-20 07:36] arojascastro commented on #1199
As I said in a different issue, at present, each language team has to update their list of pending translations by hand.

It is not a big problem, but maybe we could use only and link in this page the concordance created by @mdlincoln : https://programminghistorian.org/translation-concordance

It is automatically generated, so it is easy to maintain :)

The table should contain only lessons - rath

[2019-05-20 08:17] drjwbaker commented on #1274
Yes! Are you planning to publish it via Zenodo is similar? Would be great to have this to refer to when talking about our multi-lingual approach.

[2019-05-20 14:43] jenniferisasi commented on #1199
Ah, and we should have a little paragraph at the beginning of the guidelines to point to this list. Let me check your other comment... on [ph-submissions #238](https://github.com/programminghistorian/ph-submissions/issues/238#issuecomment-489449752)

[2019-05-20 19:21] arojascastro commented on #1274
We can!

[2019-05-21 00:29] mdlincoln commented on #1205
I'm going to close this because there's not much active discussion and the same roadblocks in place from #64 and #410 still apply - the way we version wepages as the site rebuilds does not match to the way that DOIs are envisioned.

[2019-05-21 00:29] #1205 closed, assigned to amsichani

[2019-05-21 00:31] mdlincoln commented on #1181
Thanks @ladew222 - yes, please simplify the geometry as this lesson doesn't require anything near the resolution of 79mb. https://mapshaper.org/ is a very simple online tool for doing this, or there are methods in R, QGIS, ArcMap for it as well.

[2019-05-21 00:32] mdlincoln commented on #1167
Just sticking a note here @walshbr that, maybe in a few months when you have room and others have been brought up to speed, this could be a great project to pair-program with one of the newer members of our technical team.

[2019-05-21 00:33] mdlincoln commented on #897
Hullo @drjwbaker - did we ever hear back from DOAJ?

[2019-05-21 07:03] drjwbaker commented on #897
No. In spite of repeated emails from me. I think we are being ignored. Very sad.

[2019-05-21 14:27] acrymble commented on #897
I was at a JISC event yesterday, and it might be worth us getting in touch with them instead. There seemed to be some interest in enabling researcher-led initiatives to become findable. In other words, maybe we should close this and look at other options as well?

[2019-05-21 14:28] acrymble commented on #878
As we're exploring a charity option instead, should we close this avenue, which is university-focused?

[2019-05-21 14:29] acrymble commented on #1191
@JoshuaGOB is shadowing me as I publish a lesson. I'll close this on that basis, but we'll also make sure he gets a more substantial opportunity to shadow on editing.

[2019-05-21 14:29] #1191 closed, assigned to jenniferisasi, mariajoafana

[2019-05-21 14:30] acrymble commented on #1232
This is published I believe, so I'm closing.

[2019-05-21 14:30] #1232 closed, assigned to arojascastro, jenniferisasi

[2019-05-21 15:33] ladew222 commented on #1181
Thanks,

I used map shaper and simplified the shape file.  The files is now 23.2 mb.  I can reduce more if needed as well. Here is a link to the modified file: https://we.tl/t-bZ50NVAjwj <https://we.tl/t-bZ50NVAjwj>.

[2019-05-21 20:24] drjwbaker commented on #878
Agreed.

[2019-05-21 20:24] #878 closed, assigned to drjwbaker

[2019-05-21 20:25] drjwbaker commented on #878
Closed as superseded by https://github.com/programminghistorian/jekyll/issues/1301

[2019-05-21 20:25] drjwbaker commented on #897
What specifically can Jisc do for us?

[2019-05-22 06:47] acrymble commented on #897
@drjwbaker nothing immediately, but I think I'm trying to say that maybe we should focus our energy on people who are more interested than DOAJ in what we're doing. Maybe some library friends can advise on what else we should consider. The JISC meeting just reminded me that other people are in these spaces.

[2019-05-22 06:48] acrymble commented on #1181
I've got the smaller file. I'm going to try to do a pull request. @ladew222 I think ideally a much smaller file would make the lesson more globally accessible. We've been reminded recently that some parts of the world still struggle to download files of this size. But this resolves our immediate need.

[2019-05-22 06:52] acrymble commented on #1181
Oops @ladew222 I've just noticed that your new file, when extracted from the zip, is still above 25mb. We've uploaded the files individually into the assets folder, so this too needs to be below the threshold. I haven't opened the file itself to see what extra detail is in there, but is there more that can be cut that allows for a minimally functioning tutorial with small file sizes?

[2019-05-22 09:49] drjwbaker commented on #897
Okay. The purpose of getting on DOAJ is to get our articles listed on a service that pushes data into things like library catalogues. So, what I think you are saying is, we need to take a step back and figure out what other socio-technical infrastructures can do this for us given that DOAJ are proving troublesome.

So I have two questions:

- who on @programminghistorian/project-team are librarian

[2019-05-22 09:50] drjwbaker commented on #1296
Can we?

[2019-05-22 13:03] acrymble commented on #1190
@rivaquiroga is currently working with me to publish a lesson in progress, so I will close this on that basis, again noting that we hope to get her more actively editing soon.

[2019-05-22 13:03] #1190 closed, assigned to jenniferisasi, mariajoafana

[2019-05-22 13:05] acrymble commented on #1296
@drjwbaker I suggested above:

- Foster the community developed in Bogotá and encourage more submissions from participants, as many of these lessons are already half-written. Best achieved by someone Spanish speaking.
- Engage with West Africa or South Africa in a similar way, trying to identify and foster a community of potential contributors, while also learning about the needs in the region and

[2019-05-22 13:07] acrymble opened #1309 "Update /research with new publications"
I believe colleagues @amsichani @drjwbaker @mariajoafana @walshbr ? recently published something. Can I ask them to make sure this ends up on /research in all 3 languages?

Anyone else with research or outputs please also update this page so we have a full record of activity.

[2019-05-22 13:07] ladew222 commented on #1181
Sure. I will cut a bit more and make is well under to prevent any issues.

[2019-05-22 13:34] acrymble commented on #1287
Closing this because @jenniferisasi has initiated #1288 in response. Thanks @Pio82 for the suggestion.

[2019-05-22 13:34] #1287 closed, assigned to jenniferisasi

[2019-05-22 13:36] ladew222 commented on #1181
I reduced the file down further. I apologize for the too large file. I uploaded the entire County1990 folder which is now listed at 16.9 mb.   Here is the file https://we.tl/t-eumryd43pt <https://we.tl/t-eumryd43pt>

https://we.tl/t-Y9buBfVS6s <https://we.tl/t-Y9buBfVS6s>

[2019-05-23 07:35] drjwbaker commented on #1301
Update. Sussex doesn't appear to have this expertise. I've drafted an internal case for funds (matching that provided by University of Hertfordshire https://github.com/programminghistorian/jekyll/issues/1194) to instruct a lawyer to advise us. Deadline 31 May. Money has to be spent by 31 July. So hopefully we can move fast on this.

[2019-05-23 08:09] acrymble opened #1310 "Wiki page: Technical Team"
In order to fully implement the new structure, I think it would be wise of us to add some documentation to the wiki. I've set up blank pages for each of the various teams. @mdlincoln would you please put some information on this page that outlines what the team is and does, and anything you think appropriate to record? It doesn't need to be extensive. Just outlining the purpose of the team and its

[2019-05-23 08:27] acrymble opened #1311 "privacy compliance?"
I note that since we have started publishing laws have changed on privacy and the internet. In particular in the EU the GDPR regulations require greater care by organizations to keep personal information secure and to delete it upon request. In particular, I'm raising the possibility that our ph_authors.yml file may not be GDPR compliant.

Does anyone have GDPR training that can advise?

[2019-05-23 13:39] acrymble opened #1313 "Github Sponsors"
@drjwbaker I just saw this on Github. Is this worth considering for us to crowdfund some money? https://help.github.com/en/articles/about-github-sponsors

[2019-05-23 13:40] acrymble commented on #1181
I've created a pull request where we can preview this lesson.

https://deploy-preview-1312--ph-dev.netlify.com/en/lessons/geospatial-data-analysis

Is anyone available to try out the code to help us make sure it works now?

[2019-05-23 14:26] ladew222 commented on #1181
Thanks for anyone willing to help. I will run through the complete lesson again myself as well over the next couple of days.

[2019-05-23 16:21] drjwbaker commented on #1313
The GitHub match looks good. Still have to sort out our own taxes though.

[2019-05-23 16:42] drjwbaker commented on #1311
I'm on the Research Ethics Group at Sussex so based on http://www.sussex.ac.uk/ogs/policies/information/dpa/processingdata we are processing (which includes holding) personal data lawfully:

1. We need the data in `ph_authors.yml` as part of our function (to inform readers who authors are).
2. The author has given us the data in `ph_authors.yml` with their consent (either by giving it to us or add

[2019-05-23 17:22] acrymble commented on #1311
Thanks for the interpretation @drjwbaker.

@mdlincoln is there any technical reason why we shouldn't try to remove unnecessary data, like email addresses or social media handles for non-team members?

[2019-05-23 19:37] mdlincoln commented on #1018
Haven't looked deeply at it, but Ed Summers just posted about FlexSearch as an optimized alternative to lunr -  https://github.com/nextapps-de/flexsearch

[2019-05-24 07:49] drjwbaker commented on #1296
No (though these are great). I meant more, there is an impasse here on how to structure the PH Global work. I think we need specific tasks to break that impasse. Possible options include:

1. forming a group to make a fresh recommendation.
2. individuals above making alternative proposal to @acrymble's continent based approach, so that we can chose between two (or more) concrete alternatives.
3. a

[2019-05-24 08:28] acrymble commented on #1296
Why don't we try a hybrid approach and see what advantages and disadvantages each has? Then reflect in a year and revise as appropriate?

1. Spanish-speaking Western Hempisphere.
2. Canada & US (short-hand for "North America" in this context)
3. Africa
4. India

That gives us 2 macro-regional, 1 micro-regional, and 1 linguistic.

[2019-05-24 08:42] drjwbaker commented on #1296
I like this. Though I have no preference on the initial divisions within PH Global.

[2019-05-24 11:52] acrymble commented on #1309
This has been added.

[2019-05-24 11:52] #1309 closed, assigned to nobody

[2019-05-24 14:25] drjwbaker commented on #1301
Update. I have [a solicitor](https://www.girlings.com/our-people/caroline-armitage) interested. They are willing to provide an initial consultation and written follow up advice on structuring (note, initial thoughts are that becoming an 'Unincorporated Association' isn't the best idea and, as expected, "the overseas aspects do need to be handled carefully"). I've submitted a bid for internal Susse

[2019-05-25 11:54] acrymble commented on #1272
I think you have to apply for a new page, no?

[2019-05-25 14:50] acrymble commented on #1209
For technical guidance, I've just come across the "Zend Framework" which gives stylistic rules for PHP code writing: https://framework.zend.com/manual/2.4/en/ref/coding.standard.html.

I'm sure there are others. If anyone has expertise in this area please make it known.

[2019-05-25 15:01] acrymble commented on #1209
From an accessibility perspective, there are rules and guidelines covering website accessibility. I dont' think we've ever tackled this directly, but we should make sure our style guidelines help us to achieve this. Relevant documents include:

https://www.w3.org/standards/webdesign/accessibility
http://www.section508.gov/
http://www.section508.gov/test/web-software
http://ec.europa.eu/ipg/standar

[2019-05-25 15:13] acrymble opened #1315 "Website accessibility issues"
I've run a few of our pages through website accessibility tests. Here are some of the issues that we should want to address:

- All lesson icons on the /lessons page should have a machine-readable description that is semantically meaningful. At present these images are linked to the lesson, but a screen reader wouldn't likely know what they are. Related to this, all images should have alternative

[2019-05-26 18:28] acrymble opened #1316 "erroneous information in jekyll lesson"
I have been reading the Intro to Jekyll lesson by @amandavisconti. The introduction contains two pieces of information that are inconsistent.

The lesson is "beginner" according to the metadata, but says "intermediate" here in the text. This needs to be consistent.

The lesson also contains "last updated" information within the text, which is not consistent with the metadata, which automatically u

[2019-05-26 18:43] acrymble commented on #1316
Sorry I forgot the full URL is https://programminghistorian.org/en/lessons/building-static-sites-with-jekyll-github-pages

[2019-05-27 10:29] acrymble opened #1317 "Whitelist of Wikipedia linked terms"
related to #1209 the building of an English language stylesheet. I have put together a list of all links to Wikipedia in lessons. About half of lessons contain Wikipedia links, to what I'd generally call "technical" or "mathematical" terms. In order to ensure that our authors more consistently link these terms to Wikipedia, I think it would be worth trying to articulate which terms should be linke

[2019-05-27 12:48] arojascastro commented on #1317
Maybe we could create a glossary with a standard definition where all lessons point to. This glossary could contain:
- definition in several languages
- links to Wikipedia or other resources
- suggested translation terms into Spanish and French

[2019-05-27 12:50] arojascastro commented on #1315
Great job! I know @jenniferisasi is interested in this topic.

[2019-05-27 14:01] jenniferisasi commented on #1315
Oh, yes! This is something I've been meaning to talk about but I have so many things on my plate that I was waiting to cross a few first. I have been implementing the rules I know, following W3C standards, and so, for instance, in our Voyant-Tools lesson, I told the author to include [this step by step](https://programminghistorian.org/es/lecciones/analisis-voyant-tools#3-guardar-archivo) in writt

[2019-05-28 08:04] drjwbaker opened #1318 "Proposed revisions to lesson workflow documentation"
Based on recent experience, there is a feeling among @programminghistorian/project-team that we need to tighten up the language used in the [Editor](https://programminghistorian.org/en/editor-guidelines) and [Reviewer](https://programminghistorian.org/en/reviewer-guidelines) Guidelines to reflect the following:

- The Editor is not expected to an expert in the lesson content. This is the role of t

[2019-05-28 08:21] arojascastro commented on #1318
I agree with the spirit of these changes if they make our workflow clearer and avoid problems. However, if I’m not wrong, the editor has to do a first review suggestions changes before asking two external reviewers. As it is put after those changes, it seems that the editor has not to do anything but look for reviewers. I think still editors need to know our guidelines and have some expertise on t

[2019-05-28 08:58] acrymble commented on #1318
/editor-guidelines.md

**Fourth:**

In the opening paragraph:

to:

The existing phrasing again takes authority away from the reviewers to be experts.

**Fifth**

to:

It is important that we solicit expert reviews. Particularly on "analysis" articles or articles that are intermediate or advanced. Suggesting anyone can be a reviewer is problematic.

**Sixth**

Jeri Wieringa is no longer part of th

[2019-05-28 09:14] drjwbaker commented on #1318
I think the editor still has lots of work to do before sending to review. From https://programminghistorian.org/en/editor-guidelines#open-peer-review:

- read it
- test that it works
- suggest initial improvements based on their expereince
- initial sustainability review
- clarify the intended audience
- remove jargon

I've edited what I wrote at 'First' for clarity. I hope that helps @arojascastr

[2019-05-28 09:21] drjwbaker commented on #1318
Thanks @acrymble. Except for the Managing Editor bits which required new text, I think we've managed to do most of this by removing, which should assist translation. According to our own policy https://github.com/programminghistorian/jekyll/wiki/Programming-Historian-Governance we need to set a formal deadline for feedback.

@acrymble: would be easier to review as a PR than a ticket?

[2019-05-28 10:50] arojascastro commented on #1318
I would add that bullet list and add a note on writing for a global audience. Being explicit about expected tasks is specially useful for new editors.

[2019-05-28 10:52] arojascastro commented on #1318
There are other members of the team who live on other parts of the Earth who have not even got u yet... please give people a chance to contribute :)

[2019-05-28 10:55] drjwbaker commented on #1318
Agreed. I was just thinking, given the volume of little changes proposed, that commenting on a PR (where you can see the diffs) might be easier than commenting on a ticket.

[2019-05-28 13:49] mdlincoln commented on #1298
The votes are in - we will call on Thursday, June 27th. Time for the call is 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET time.

[2019-05-28 14:12] walshbr commented on #1298
Sounds good - I'll be there.

[2019-05-28 14:49] amandavisconti commented on #1316
Will do!

[2019-05-28 14:53] #1316 closed, assigned to amandavisconti

[2019-05-28 15:37] walshbr commented on #1318
This all seems fine to me. I've generally thought of my role as editor as being to ensure that a lesson is enough in the ballpark of the genre and quality of writing that we're looking for in order to proceed to the review phase. That often hasn't required me to comment from a position of expertise in a particular tool or method - more just as an expert in what the Programming Historian does. So I

[2019-05-28 15:50] drjwbaker commented on #1318
@walshbr Thanks for this. My qualm with your wording - and why I thought this might be easier to see as a PR - is that the Editorial Guidelines are aimed at editors not reviewers or authors, and this seems to stray into aiming at someone other than an editor. To keep it simple, what about:

[2019-05-28 18:56] acrymble commented on #1274
@amsichani I sent some stickers to you via Tim Hitchcock.

[2019-05-29 06:39] acrymble commented on #1209
I would suggest that ideally we accept any recognized form of English, but that we insist that spelling is internally consistent with that choice. It would be nice if we could spell check in the author's chosen form of English. It would also be nice if we could get a list of terms that are dialect specific to flag them up to prospective authors and encourage the use of a more neutral and more wide

[2019-05-29 10:47] acrymble commented on #1209
I've had an initial call and they are working on the first draft of our new English styleguide.

[2019-05-29 11:30] acrymble opened #1320 "Antonio Zampolli Prize?"
The Zampolli prize is calling for nominations. It's a triennially awarded prize to the best project in DH and comes with £1000 in support. Deadline is 15 June. Anyone have time or inclination to put in a nomination? http://adho.org/announcements/2019/call-nominations-antonio-zampolli-prize

[2019-05-29 12:40] drjwbaker commented on #1301
I had a meeting today with the [head of a learned society](https://www.regionalstudies.org/) based on campus (they wanted to quiz me about OA, I wanted to quiz them about charitable status, so it was a fair exchange). A few notes of interest:

- Becoming a charity in the UK creates an admin overhead: e.g. we'd need trustees, an annual meeting, to submit annual returns the Charity Commission and HM

[2019-05-29 14:48] acrymble opened #1321 "Privacy Policy required"
I note that we haven't got a Privacy Policy. This is now required if we are putting cookies on the computers of our readers, which we do by virtue of using Google Analytics.

I'm going to look into what text this needs to include.

[2019-05-29 14:54] mdlincoln commented on #1321
Different functionality is covered here, but we had to work one up for an online journal here at CMU: https://lps.library.cmu.edu/site/privacy/

[2019-05-29 15:02] acrymble commented on #1321
A couple of other examples from sites I'm familiar with:

https://www.rct.uk/about/policies/cookies
https://www.british-history.ac.uk/privacy

[2019-05-29 15:20] drjwbaker commented on #1321
@acrymble are you saying we need a ~'do you accept cookie' pop-up tag thing? If so, we'd need to multi-lingual that, right?

[2019-05-29 15:26] acrymble commented on #1321
Here is a first draft that cobbles together the three pages above:

---

#Privacy Policy

##Publishing Data

As an open access publisher committed to openness, *Programming Historian* collects a number of pieces of information about authors, translators, editors, and reviewers. This information is publicly displayed in the following file: https://github.com/programminghistorian/jekyll/blob/gh-page

[2019-05-29 15:27] acrymble commented on #1321
I dont' think we actually need to translate this @drjwbaker. But I'm not a lawyer.

[2019-05-29 15:39] acrymble commented on #1181
@ladew222 I'm afraid we're still having problems with this, which @mdlincoln has pointed out in his review of the pull request. https://github.com/programminghistorian/jekyll/pull/1312

Can you please address the comments, and completely re-try the lesson before we try another pull request?

If we aren't able to fix this by the end of June, I'm going to propose retiring the lesson.

[2019-05-29 15:43] acrymble commented on #1317
@arojascastro that sounds like a lot of work.

[2019-05-29 15:45] acrymble commented on #1321
If anyone has experience with this can you please suggest any revisions needed?

[2019-05-29 16:03] ladew222 commented on #1181
Thanks everyone. I noted similar issues yesterday and was trying alternative toward simplification of the geometry to deal with the size issues but I think @mdlincoln <https://github.com/mdlincoln> may be right that the best route is to subset North Carolina and South Carolina rather that simplifying the geometry as there appears to have been an issue with map shaper’s simplification. I do cover s

[2019-05-30 09:06] drjwbaker commented on #1321
I don't have any expertise, but this looks reasonable.

[2019-05-30 14:24] acrymble commented on #1317
@mdlincoln would it be technically possible to scan lesson requests with travis to look for a list of terms to check if they are linked to Wikipedia? Or is that going to be a nightmare?

[2019-05-31 01:15] jenniferisasi commented on #1286
Last minute scheduled appointment for tomorrow so, for the first time in many months, I won't be able to make it to the call. I want to leave updates on the agenda above just in case no other Spanish team member joins the call.

- Submissions Pending about the Programming Historian:
Antonio and I submitted a paper proposal to HDH conference in Spain and it got accepted. Nomination for an award sti

[2019-05-31 01:18] walshbr commented on #1286
Thanks @jenniferisasi.

[2019-05-31 07:46] acrymble commented on #1320
I'll close this in a couple of days if no one expresses interest. I think it would be reasonable to say that whomever wrote the application should have access to the money to support the project in a way they find worthwhile.

[2019-05-31 13:27] mdlincoln commented on #1315
These are all great points. I'm going to split these into separate tickets. One question @acrymble - can you provide the site that you used to test this:

I had believed that all(?) of our pages already declared their proper natural language, but perhaps some are missing this, or we haven't formatted it correctly. I need more detail.

[2019-05-31 13:30] mdlincoln opened #1324 "alt-text descriptions for lesson galley images"
re: #1315

Technically, we can set this up to as new variables in the lesson metadata, aka

[code]

We will need to write all those descriptions, though! Perhaps if we can split up the work across a few volunteers so that we each write 10-20 descriptions? I'm happy to take on a set of english descriptions.

[2019-05-31 13:32] mdlincoln opened #1325 "Do not target images with links"
re: #1315

Right now, our figures are wrapped in `a` tags, and they should not be. We can easily fix this - I'll put one of our tech team on it.

[2019-05-31 13:33] mdlincoln commented on #1315
also

This may be from our dropdown menus... I need to see the full accessibility report to diagnose it however.

[2019-05-31 13:36] mdlincoln commented on #1311
The only time we collect those data are for team members, so we could certainly remove it for _former_ team members.

For former members, the only thing we display is institution, start date, and end date of their membership, so we don't need that extra email/contact info any more. (I'd suggest we probably don't need to display institution on that list since for many it'll almost certainly be out

[2019-05-31 14:04] #1310 closed, assigned to mdlincoln

[2019-05-31 14:08] mdlincoln opened #1326 "Update authors data for tech team"
I'll add folks to tech team so it shows on the about page

[2019-05-31 14:27] drjwbaker commented on #1301
Note from https://github.com/programminghistorian/jekyll/issues/1286 on Board of Trustees: think about whether we want to use this tactically to engage senior folks with us, or whether we can perform those roles.

[2019-05-31 14:34] drjwbaker commented on #1311
I think we are compliant then. This discussion and the archiving of it as an Issue should serve the purposes of showing that we have done our due diligence.

[2019-05-31 14:37] mdlincoln commented on #1302
On 2019-05-31 meeting, we discussed the possibility of creating a staggered call schedule where the general editorial team call occurs every 2 months, and the sub-teams meet on the alternate months. This will reduce the total number of calls everyone needs to participate in.

We won't be able to shift to this schedule until more of the sub-teams are formed, but we suggested aiming to start this sc

[2019-05-31 14:41] drjwbaker commented on #1318
I'll get to this and make a PR for comment when I've finished marking :)

[2019-05-31 14:48] mdlincoln commented on #1181
@ladew222 I like that idea a lot!

[2019-05-31 15:03] walshbr commented on #1286
Notes and actionables from the call -

- New Editorial Team Roles #1285 - I'll formally be on the technical team. @drjwbaker will be sitting in but not formally a member. We're going to aim to set in place one of these new teams a month so that we're not doing all at once. We'll open up new tickets for each individual team to that effect. We also suggested year term limits for leadership positions

[2019-05-31 15:06] walshbr commented on #1280
Just a note from the May editorial meeting that it sounds like @rivaquiroga and @jenniferisasi will discuss this further.

[2019-05-31 15:14] #1286 closed, assigned to walshbr

[2019-05-31 15:17] walshbr commented on #1285
Note from #1286 - we decided that we'll aim to implement these new teams in shifts, roughly one a month. Those tickets can contain the discussion for the individual groups. We also noted that the technical team appears to already basically be in motion, so we'll consider that checked off. It makes sense to me to move on the communications team next, if @jenniferisasi is up for it, since I see that

[2019-05-31 15:20] walshbr commented on #1296
Note from #1286 - we thought it might make sense to wrangle a team of 3-5 folks committed to being on the global team to carry the conversation further and make decisions. In other words, rather than waiting until we have a decision on this issue to decide what the team will look like we thought it best to assemble the team and have this decision be their first task. #1285 lists these folks as int

[2019-05-31 15:24] walshbr opened #1327 "Communications team setup"
Opening this ticket as a branch off of #1285 for discussion about setting up the communications team. @jenniferisasi @walshbr @amsichani seem to be the ones associated with the team as of now. We had discussed staggering set up of all these new teams, and I had ballparked June as a time for us to think about setting this up.

[2019-05-31 15:26] walshbr opened #1328 "Editorial Team setup"
Opening this ticket as a branch off of #1285 for discussion about setting up the new structure of the editorial team. This difficult appears to affect most everyone, frankly. We had discussed staggering set up of all these new teams, and I had ballparked July as a time for us to think about setting this up. But open to thoughts! Also not sure exactly what it would mean to "set up" this team, since

[2019-05-31 15:28] walshbr opened #1329 "Global team setup"
Opening this ticket as a branch off of #1285 for discussion about setting up the global team.

Note from #1286 - we thought it might make sense to wrangle a team of 3-5 folks committed to being on the global team to carry the conversation further and make decisions. In other words, rather than waiting until we have a decision on global divisions to decide what the team will look like we thought it

[2019-05-31 15:29] walshbr opened #1330 "Project Development team"
Opening this ticket as a branch off of #1285 for discussion about setting up the project development team. @drjwbaker appears to be the only person associated with this team for now, so it might be a place we need to recruit further? We had discussed staggering set up of all these new teams, and I had ballparked September as a time for us to think about setting this up.

[2019-05-31 17:10] acrymble commented on #1327
I had originally suggested that this team have the following positions (but that is entirely up for discussion):

 *  Communication Manager (Twitter, blog, etc (leadership)) @jenniferisasi
 *  Twitter Bot developer @walshbr
 *  Education Manager (responsible for the overall education aspect of the project (leadership)) @amsichani
 *  Research Impact Manager (supports and enhances research impacts

[2019-05-31 17:11] acrymble commented on #1329
I'm happy to let @JMParr take the leadership role on developing this team if she's still interested.

[2019-05-31 17:13] acrymble commented on #1328
Thinking ahead, is anyone interested in taking on the managing editor role in English next year? This should be someone who isn't already holding another leadership role. @alsalin could also continue in the role if she's happy to do so.

The handover date would be September and it would normally be for one year.

[2019-05-31 17:14] acrymble commented on #1315
the warnings came from testing a few pages with this tool: https://www.webaccessibility.com/

[2019-05-31 17:35] walshbr commented on #1327
I had the same thought. FWIW, the twitter bot is basically a dormant thing that I don't look at for months at a time these days. It required sustained attention at first and for a few weeks after the Spanish tweets started. But now it should be sorted. I think it would make sense to formalize one of these three as the "leader" for reporting purposes.