[2018-08-13 13:15] drjwbaker commented on #977
Love to. Great idea.

[2018-08-13 13:23] drjwbaker commented on #959
Can we point authors at https://zbib.org/ to make a citation?

[2018-08-13 13:30] acrymble commented on #959
For Chicago you mean?

[2018-08-13 13:32] acrymble commented on #977
Great. Is this viable for any of our European friends? @spapastamkou @mpuren or @arojascastro ?

[2018-08-13 13:32] drjwbaker commented on #959
Yes. Unless someone is passionate about us using an alternative.

[2018-08-13 13:33] arojascastro commented on #977
I'd love to!

[2018-08-13 13:35] arojascastro commented on #959
I am happy with Chicago. I am not sure which style we are already using in different sections though - e.g. the footer with the suggested citation or the research section. Maybe we should choose one style and apply it everywhere.

[2018-08-13 13:40] amsichani commented on #977
I can also offer a spare room, if needed ! +my culinary skills

[2018-08-13 13:40] spapastamkou commented on #955
updated in FR

[2018-08-13 16:00] mariajoafana commented on #977
I wish I could join you guys!

[2018-08-13 18:13] jenniferisasi commented on #955
Perfect, thanks!

[2018-08-13 18:13] #955 closed, assigned to jenniferisasi

[2018-08-14 07:03] acrymble commented on #975
I've merged your pull request, so closing this. Make sure you tweet about it and tell the author/reviewrs.

[2018-08-14 07:03] #975 closed, assigned to jenniferisasi

[2018-08-14 10:27] spapastamkou commented on #944
Sorry for my delay to contribute to this, here are some thoughts.
In lines with all above and the CFP objectives we could organize a translation workshop aiming to obtain reviews/corrections for the texts already prepared by the students of the Ecole des chartes (master Digital Technologies applied to History). In particular, translations of the following lessons are either entirely or almost read

[2018-08-14 10:39] spapastamkou commented on #977
this is a great idea, thanks for this @acrymble. I am afraid though that September is utterly impossible for me. If in October, do you think this dinner/work session could be combined with one in Lille, if members of the PH come for the workshop?

[2018-08-14 11:12] spapastamkou commented on #951
I did not forget this and I have worked on it but I am on a lot of things currently. Sorry for the delay, I will come back very shortly.

[2018-08-14 12:53] walshbr commented on #944
@spapastamkou - just a note about the "Intro to Augmented Reality with Unity." That one was retired recently because it doesn't work with the most recent distribution of Unity. We have an updated lesson with  a very similar name -  "Creating Mobile Augmented Reality Experiences with Unity" - that was peer reviewed on [a pull request](https://github.com/programminghistorian/jekyll/pull/974) pending

[2018-08-14 14:05] spapastamkou commented on #944
thank you very much, @walshbr, I was not aware of that. We'd better keep this lesson apart from the rest of the workshop then, to avoid complications, and work it directly with reviewers once the revised version will be ready.

[2018-08-14 14:29] acrymble commented on #944
Thanks for these ideas @spapastamkou. It sounds like it will be very productive for your team.

I am not clear how much or what you hope participants will get out of it. Do they develop skills in translation? Are they doing it for academic credit? Or are they doing it because they want to help the project get off the ground?

It just needs to be clear to a participant if they're giving or taking (

[2018-08-14 18:47] amsichani commented on #944
Hi all, thanks @spapastamkou for the ideas. In addition to what @acrymble notes, I d like to add a couple of thoughts

- correct me if I am wrong, but as the workshop is going to focus mainly on reviewing/finalising existing lessons' translations made by students, we need to have in place a concrete workflow for assessing these translations/submissions. It would be great to have some input here fr

[2018-08-15 08:41] arojascastro commented on #944
We treat translations as tutorial submissions, that means, translators contact the managing editor proposing a translation, we assign it to her/him, we update de list of [pending translations](https://github.com/programminghistorian/ph-submissions/blob/gh-pages/es/lista-de-traducciones.md), and when we receive it, we open an issue where the reviewing process takes place, we assign an editor, we lo

[2018-08-15 08:58] arojascastro commented on #968
done here! https://github.com/programminghistorian/ph-submissions/labels

you can check the colors if you want or add descriptions for clarification - i'm closing!

[2018-08-15 08:58] #968 closed, assigned to nobody

[2018-08-15 09:09] #871 closed, assigned to nobody

[2018-08-15 09:13] acrymble commented on #944
Having read @arojascastro 's comment, I wonder if it wouldn't be helpful to have done at least a couple of published lessons using the traditional system we have adopted, before trying to innovate? Are you confident you understand our system?

[2018-08-15 09:37] amsichani commented on #944
many thanks for your input @arojascastro ! I wasn't aware of the subtle adaptation on the Author guidelines in order to include translators too; I do agree that this is the way to go and I can't second enough your statement "we argue that translations are adaptations to our community, that means that translators are second authors that can and actually do modify the original in order to make it wo

[2018-08-15 09:43] arojascastro commented on #944
Yes, I agree the change is very subtle... Actually, maybe it is a good chance to rethink about it and decide all if we want to separate the guidelines for authors and translators (so they have their own section). We decided not to because in the beginning we focused on translations rather than originals and they have more in common than differences. But maybe at this point of the project it would

[2018-08-15 21:25] mariajoafana commented on #944
I agree with Antonio, maybe its time to separate the guidelines for authors and translators.

[2018-08-16 07:56] arojascastro commented on #944
Anyone wants to open a separate issue to discuss? I think we can talk and reflect about the pros and cons. However, it means that someone will have to create two separate guidelines, rewrite the text, etc. Plus we will have some broken links. I do not want to lead the changes/conversation, so feel free to go ahead with me in the background (I am trying to work less and less).

[2018-08-16 08:28] acrymble commented on #905
Thank you for your feedback everyone. This has been moved to https://github.com/programminghistorian/jekyll/wiki/Neutral-Political-Policy

It did not affect any live pages. Only the Wiki.

[2018-08-16 08:28] #905 closed, assigned to acrymble

[2018-08-16 08:32] spapastamkou commented on #944
A big thanks to all of you for this extremely rich and useful feedback. It
helps a lot. I just take the major points one by one and add some
thoughts/infos.

- what participants will get out of the workshop - thanks @acrymble for
pointing to this: I think the main argument should be that participants
will contribute to something that would benefit to all: have
French-speaking tutorials of good qua

[2018-08-16 08:33] acrymble commented on #970
this has been merged.

[2018-08-16 08:33] #970 closed, assigned to acrymble

[2018-08-16 08:43] acrymble commented on #963
Just to alert them that they can use this feature.

[2018-08-16 09:04] spapastamkou opened #979 "revision of contribute (overview)/contribuciones/contribuer page"
This is for all.
The "Translate a lesson" section of the Contribute page https://programminghistorian.org/en/contribute#translate-a-lesson takes into account only the EN and ES versions of the PH.
Would someone be able to work with me on a new formulation that would be more adapted to the existence of a FR version?

[2018-08-16 09:08] spapastamkou commented on #979
I prepared a draft that follows exactly the existing formulation with addition of FR parts. I am not very happy about it but we could perhaps start work on this basis?

"If you are fluent in both English and Spanish or in English and French, you are invited to get in touch with us about translating one of our published Programming Historian lessons into Spanish or French. This will help us to buil

[2018-08-16 09:18] acrymble commented on #961
Ok I've worked on this and I've made the updates on
https://github.com/programminghistorian/jekyll/tree/issue-%23961

It's almost ready to go but I'm having trouble with the dataset file encoding. I tried downloading the datasets from google drive using the csv format (keeping with our open formats ethos). But this has caused problems on the Spanish versions of the files, because the accented char

[2018-08-16 09:18] spapastamkou commented on #944
Please note that I just opened #979 ticket that could be (in part) relevant
to the discussion on ES (and FR) adaptation of author guidelines.

[2018-08-16 09:19] acrymble commented on #961
Possible solution: make the Spanish version of the dataset downloadable as a .xslx file, or someone with a windows machine can try to save the csv file with utf8 encoding.

[2018-08-16 09:20] acrymble commented on #979
It should be language neutral because we don't want to privilege English.

If you are fluent in more than one of our supported languages (French, English, Spanish)...

[2018-08-16 09:24] acrymble commented on #961
@mariajoafana you worked on the translation. Could you take a look at what I've attempted and see if you know a solution?

[2018-08-16 10:20] drjwbaker commented on #963
We write at https://programminghistorian.org/en/author-guidelines#use-informative-section-headings:

![screen shot 2018-08-16 at 11 16 01](https://user-images.githubusercontent.com/4965300/44203084-d26d6480-a145-11e8-9404-524aa18df6c8.png)

We could add at the end: "Using this convention has the added advantage of creating a URL for each section of your lesson. For example, if you hover over the t

[2018-08-16 10:36] acrymble commented on #939
@jenniferisasi thank you for confirming 2 & 3 need fixing. I've fixed those and will submit a pull request.

For 1, Heather is correct and the text needs to be changed. In that paragraph the author has columns (which go down) and rows (which go across) backwards. So where it says column it hsould say row, and vise versa. The updated English text is:

Please make sure the translation is updated bef

[2018-08-16 10:45] acrymble commented on #930
Thanks @bmschmidt for pointing this out. @nabsiddiqui this was your article originally. Can you suggest a solution to this query so we can make a quick update?

[2018-08-16 11:07] acrymble commented on #918
Having through about this, I'm struggling to come up with an example where the traditional methods of acknowledging support on academic websites wouldn't be sufficient. Some examples:

Migration Observatory, University of Oxford:

<img width="1470" alt="screen shot 2018-08-16 at 12 00 08" src="https://user-images.githubusercontent.com/646647/44204945-9689cd80-a14c-11e8-88c8-174da374b5b6.png">

Old

[2018-08-16 11:10] acrymble commented on #918
If we're thinking of this as people contributing to a general fund that's used to cover ongoing costs, then I think (until we get someone really rich offer us a lot of money), we don't need to let them put conditions on how that money is spent. So maybe it's just a matter of saying that donations are spent in the way the Editorial Board feel could make the biggest impact for the project. Anyone in

[2018-08-16 11:13] acrymble commented on #977
Thanks @spapastamkou, good idea. That Lille Workshop is 15-17 October (Monday-Wednesday). Is the acceptance of your workshop already confirmed? Or is it pending acceptance?

We could do a London event any time really. October, November. Whatever.

[2018-08-16 11:20] acrymble commented on #934
Do we have a list of pages that need to be updated? @mariajoafana has agreed to take on this role this year (I think).

It looks like we need to update:

* https://programminghistorian.org/en/project-team
* https://programminghistorian.org/es/equipo-de-proyecto
* (the french equivalent of the above)
* https://programminghistorian.org/en/feedback
* https://programminghistorian.org/es/retroalimentac

[2018-08-16 11:28] drjwbaker commented on #918
Adam. Thanks for this. I agree that existing models work, but there is no reason to just do what has been done - having viable options on the table for potential sponsors gives us a starting point for conversations.

On https://github.com/programminghistorian/jekyll/issues/918#issuecomment-413509109 this really refers to https://github.com/programminghistorian/jekyll/issues/915#issuecomment-408108

[2018-08-16 11:28] acrymble opened #982 "Update Ombudsperson list"
https://programminghistorian.org/en/reviewer-guidelines
https://programminghistorian.org/en/editor-guidelines

Ian Milligan is still listed on here. He needs to be removed from here and anywhere else he's listed as an ombudsperson.

---

It also looks like the Spanish version of the site lists 3 people, but only @mariajoafana is listed on the project team as an ombudsperson.

https://programminghi

[2018-08-16 11:30] acrymble commented on #934
I'm going to close this and open up a language neutral ticket because we have to update the above pages, but we know who is going to be taking over the new roles.

[2018-08-16 11:30] #934 closed, assigned to jenniferisasi, vgayolrs, mariajoafana, jamotilla

[2018-08-16 11:32] acrymble opened #983 "Managing Editor transition (ES/EN)"
On 1 September 2018, the managing editor roles will shift to the following people

* @mariajoafana (Spanish)
* @alsalin (English)

The technical changes required of the handover are listed on the wiki: https://github.com/programminghistorian/jekyll/wiki/Managing-Editor-Handover

The pages listed at that link will need to be updated at that time.

Since @mariajoafana is also the Spanish ombudsperso

[2018-08-16 12:20] acrymble commented on #918
Is there a difference between what we're calling "Sponsorship" and "Advertising"? I don't think we want to spend the time running advertising. That's why I favour the list of sponsors approach, not unlike the way museum exhibits engrave a wall with the names of benefactors.

[2018-08-16 12:22] acrymble commented on #931
Thanks for the suggestion. We've also got the option of adopting the TaDiRAH taxonomy, which @jamotilla pointed out is also available in Spanish. Maybe that would be a better long-terms olution for us to consider? Any views anyone?

http://tadirah.dariah.eu/vocab/index.php

[2018-08-16 12:23] acrymble commented on #576
@alsalin I believe the plan was that you were going to open new tickets for any findings that came out of the survey which we need to discuss or act upon. If possible, could you do that so we can close this issue?

[2018-08-16 12:30] acrymble commented on #908
@jamotilla you found a Spanish version of TaDiRAH's taxonomy. The participants in Bogotá thought that was a good starting point for a vocabulary. Maybe you can suggest how we take that forward?

[2018-08-16 12:32] arojascastro commented on #908
we are already using TADIRAH's research activities: http://tadirah.dariah.eu/vocab/index.php?tema=6

[2018-08-16 12:32] acrymble commented on #909
@ianmilligan1 this WGET stuff is outside of my area of expertise. Do you by chance have a moment to suggest a solution?

[2018-08-16 12:42] drjwbaker commented on #918
I agree. But the list of exhibit benefactors in a museum is much more visible than our footer or a list of things tucked at the bottom of an about page. Let's say I'm exploring options. This isn't about brash advertising space. Just a way of making this work for us *and* recognising generous contributions.

[2018-08-16 12:45] acrymble commented on #936
@arojascastro thanks so much for your work on this and suggestion. By way of trying to help, I suggest the following categories (based on your original idea):

- Your name (text box - short)
- Email address (text box - short)
- Submission language (dropdown box, English, French, Spanish)
- Proposed lesson title (text box - short)
- Abstract (text box - multiline)
- Case study description (text box

[2018-08-16 12:48] arojascastro commented on #936
I think it is good and I thank you for taking the lead - I'm back from holidays but still not fully working on *PH* until September. Did we agree on a form in the end?

[2018-08-16 13:12] acrymble commented on #936
Yes a form. Do we have a preferred form provider?

[2018-08-16 13:21] alsalin commented on #576
@acrymble yep! It's gotten pushed back but I plan to have this completed before our monthly meeting. Once that's done I'll update this issue and close it out.

[2018-08-16 13:33] drjwbaker commented on #936
Can we not just use a template? https://github.com/programminghistorian/jekyll/issues/936#issuecomment-404513043 No need to force potential authors to give data to a provider for no real benefit.

[2018-08-16 13:37] acrymble commented on #936
Sorry I didn't predict @drjwbaker 's comment when I was working, but I put together a test Google Drive form just to try it out in form format: https://docs.google.com/forms/d/e/1FAIpQLSeqtbftJnltGiWU0d_u5bDm6BvlWjo1zJsLIjcpt4-Xzw-5Zw/viewform?usp=sf_link

Would be good for someone to try it and let us know if it takes too long, is confusing, otherwise needs revision.

My own preference is a form

[2018-08-16 13:42] drjwbaker commented on #936
Okay, but if we go with a Google Form I'd argue that we **need** to offer an alternative ("Alternatively, if you'd rather not use a Google Form please fill in this template and email to EDITOR NAME"). We'd be failing to reflect our own values (e.g. internalization guidelines) were we to assume that every potential author is happy to give their data to a US Google.

[2018-08-16 13:51] acrymble commented on #936
At the moment their alternative is to email Jess on her gmail account. So I'm not sure our alternative is any less Google. Is this coming out of something you've encountered? I've never heard anyone unwilling to use a form on a website for security reasons. Just trying to understand your concern here so we can find a solution that's easy for us and for users.

[2018-08-16 14:13] drjwbaker commented on #936
Yes, so all we need to say is that the alternative is to email Jess and please use our template when doing so.

And yes, it is coming out of people not wanting to fill out a Google Forms / unnecessarily use Google services, which I've encountered in Library Carpentry, teaching, and friendship circle contexts.

[2018-08-16 14:21] acrymble commented on #936
Can we particularly get feedback on this from @mariajoafana and @alsalin who will be the primary users of whatever solution we come up with in their roles as Managing Editor? What would be your preference on a system for receiving submission pitches?

[2018-08-16 14:35] alsalin commented on #936
I'm ok with google forms, but could we add in a submission page using GitHub? It could then send the forms to the PH google account? I'm not sure that fixes anything but just another idea.

[2018-08-16 14:39] drjwbaker commented on #936
(can I just add, I'm not being willfully awkward here I'm just trying to encourage us not default to a Google service in a situation where I'm not sure we necessarily need it, even though I can see the advantages of it)

[2018-08-16 15:05] acrymble commented on #936
Is there a Github powered option?

[2018-08-16 15:33] JMParr commented on #983
No Google or Gmail account.

On Thu, Aug 16, 2018 at 7:32 AM, Adam Crymble <notifications@github.com>
wrote:

[2018-08-16 15:41] alsalin commented on #983
will the incoming folks make these changes? if so, when should we plan on making them?

[2018-08-17 20:48] jenniferisasi commented on #908
I've just been sent this document regarding vocabulary in the archive. I think it could be very useful for us: [GLOSARIO de Preservación Archivística Digital Versión 4.0](http://www.mecd.gob.es/planes-nacionales/dam/jcr:f20a4ba1-0ed2-445d-9be9-b8b0382562ea/mex-glosario-interpares-total0112.pdf)

[2018-08-18 13:04] acrymble commented on #936
Can someone try the Google Form with some fake data just to get a sense of how onerous it is for a potential author? I'm a bit worried it's too long to do.

[2018-08-19 16:55] acrymble commented on #983
Why don't you do it on 1 September? Or as close as possible?

If you need help just let us know

[2018-08-19 16:59] JMParr commented on #983
We've already agreed on Sept 1st as the switch.

On Sun, Aug 19, 2018 at 12:55 PM, Adam Crymble <notifications@github.com>
wrote:

[2018-08-19 17:01] acrymble opened #985 "Antonio Sabattical Checklist"
@arojascastro has informed us that he intends to go on Sabbatical from September 2018 until January 2019.

I thought it would help to have a checklist of outstanding tickets he needs to close or that someone else needs to take over:

TIckets - jekyll repo
- [x] #972 Update metadata block examples in Spanish (@arojascastro to close)
- [x] #965 Correct Typo in Spanish translation (@arojascastro to c

[2018-08-19 17:20] acrymble commented on #966
tried to fix. Someone please review the pull request.

[2018-08-19 23:21] #966 closed, assigned to acrymble

[2018-08-20 07:53] arojascastro commented on #985
Thank you! This is already very helpful. I'll close tickets 164, 965, 929, 972 for sure. I am not sure if I will close tickets 958 and 936 since they need team collaboration. I am pining @mariajoafana @vgayolrs @jamotilla @jenniferisasi so they are aware of them.

[2018-08-20 08:04] acrymble commented on #985
I will continue to help with #936

[2018-08-20 08:06] acrymble commented on #982
This has been amended.

[2018-08-20 08:06] #982 closed, assigned to acrymble

[2018-08-20 09:20] arojascastro commented on #982
Thanks! Yes, she was the only one I think.

[2018-08-20 09:24] acrymble commented on #983
On a related topic, I think it would improve the consistency of our publishing and promotion if the managing editor did all actual lesson publishing (eg, the final pull requests). Is this something you'd feel comfortable with @alsalin and @mariajoafana ?

[2018-08-20 09:48] arojascastro commented on #936
I just submitted a fake proposal. It is long, true, but doable. I think it is good to collect as much as data as possible and it will really help us to take control. If someone really wants to write a lesson, it will fill in the form for sure - shouldn't be a problem to spend 10 minutes. Right? Otherwise, we could reduce the three questions on originality, global reach and sustainability into one.

[2018-08-20 09:57] acrymble commented on #936
Thanks @arojascastro . I didn't get alerted in my email, which I assumed I would. So I guess we'd have to make sure it was set up properly. I'm inclined to agree that we could cut those three questions, and leave that for the editor to encourage during the review stage. I don't know how much they help us come to a decision at that early stage.

[2018-08-20 10:01] acrymble commented on #965
this has been fixed.

[2018-08-20 10:01] #965 closed, assigned to arojascastro

[2018-08-20 10:01] arojascastro commented on #936
Yes, or maybe just leave at the end a free input about originality, sustainability and global reach

Any other comments to the editor --> Comments on originality, sustainability and global reach to the editor

But not required.

Or keep those questions but make them unrequired.

[2018-08-20 10:11] arojascastro commented on #936
Also, maybe in the header of the form we could add the link to the guidelines for authors or copy and paste the text

Or is it too much information?

[2018-08-20 10:27] #939 closed, assigned to acrymble

[2018-08-20 14:13] jenniferisasi opened #989 "Translation of bio for tutorial translation"
I am going to translate the bio line of Taryn Dewar for my translation of R Basics with Tabular Data.

[2018-08-20 14:42] #989 closed, assigned to jenniferisasi

[2018-08-20 15:16] JMParr commented on #936
I would say "tutorials should not exceed 8,000 words (including code). Most
lessons will be between 4,000 and 6,000 words, etc.

I understand the desire to be direct, but I think "without the explicit
permission of the editor, etc" might rub potential authors the wrong way.

On Mon, Aug 20, 2018 at 6:11 AM, Antonio Rojas Castro <
notifications@github.com> wrote:

[2018-08-20 16:08] jenniferisasi commented on #929
@arojascastro en cuanto terminemos de publicar la traducción de datos tabulares hago los cambios que señalas aquí.

[2018-08-20 17:35] alsalin commented on #983
@acrymble to make the edits listed in the link above? i'd be happy to!

[2018-08-20 17:39] alsalin commented on #936
@acrymble

[2018-08-20 17:39] alsalin commented on #936
ack sorry for the button mashing - @acrymble in a quick search, i found some code snippets for creating forms in GitHub - but I'm not GH expert.

[2018-08-20 18:36] acrymble commented on #983
No, I meant that when a lesson has been peer reviewed and is ready to publish, would you be willing and able to actually do that? Note it's a fiddly process and because most people only do 1-2 a year it can be really frustrating (see @JMParr right now struggling with one). I just thought maybe if that was part of someone's role it would be easier because they'd have more experience with it.

Just

[2018-08-20 18:37] alsalin commented on #983
@acrymble ah! thanks for the clarification. I'd be ok with that as long as I could ask a thousand questions for the first attempt or so.

[2018-08-20 18:48] acrymble commented on #983
Of course. That's what we're all here for. Maybe we can try it the first time something is ready and we can decide from there.

[2018-08-20 20:08] arojascastro commented on #929
Ok, pero ya empecé los cambios en esta "branch": https://github.com/programminghistorian/jekyll/tree/issue-929

Ya me queda poco, si acaso cuando haga el pull request, contrólalos, te pongo como revisora.

[2018-08-21 07:44] acrymble commented on #983
What I'm proposing would mean the Managing Editor would do the following steps for each lesson being published (as written in the Editor's guidelines):

1 -  Move the Files

11 -  Confirm all links and YAML headers are functioning correctly

We'd just have to extract those two steps to a "Managing Editor Responsibility" section, and add in a note at the bottom of the current text that says "Inform

[2018-08-21 07:49] acrymble commented on #972
this is also out of date for English:

<img width="724" alt="screen shot 2018-08-21 at 08 48 30" src="https://user-images.githubusercontent.com/646647/44388068-11713080-a51f-11e8-84ea-7ed5740ae8fe.png">

[2018-08-21 07:59] acrymble commented on #972
This is a blank version of what we have on the English site. Could we use this? I've added in translation yaml categories.

[code]

[2018-08-21 08:10] acrymble opened #991 "New Lesson template"
#972 update metadata block example, has made me realise we could simplify our author and editor guidelines quite a lot by just offering a template for people to use in new lessons. It could look like this:

[code]
Code block
[code]

[2018-08-21 08:24] acrymble commented on #949
If @drjwbaker and @amsichani are away then are we able to do #918 or #948? @walshbr maybe we have to postpone those ones? Though it would be nice to get that up and running...

[2018-08-21 08:28] acrymble commented on #991
maybe worth having a live preview link on the main site so they can also see what each of these looks like when rendered.

[2018-08-21 08:30] acrymble commented on #936
@alsalin can you send some links?

@JMParr that text is just pasted from our Author guidelines. If you think it needs changing maybe you can suggest an alternative?

[2018-08-21 08:37] drjwbaker commented on #949
From holiday, #918 has a 7 September policy deadline: you might want to discuss and decide if you'd like to extend this until after the September call.
On #948, perhaps you can discuss and raise potential actions/concerns/things to consider for us before we move to a policy suggestion.

[2018-08-21 08:54] acrymble opened #992 "Shorten Editorial Guidelines"
Pending the outcome of the following tickets:

#991 - New Lesson Template
#972 - Update Metadata example in Auhor Guidelines

We could reduce the number of steps in the Editorial Gudelines, which are becoming dauntingly long, and a number of editors have found it difficult or have missed steps when trying to publish lessons. In particular, the "Acceptance and Publication" checklist, which currentl

[2018-08-21 09:19] acrymble commented on #849
@mdlincoln can you add the Google account to the Netlifly account as an administrator programminghistorian@gmail.com

I think we can then close this issue.

[2018-08-21 10:00] acrymble commented on #918
Continuing to think on this. I'm not sure what you have in mind in terms of sponsorship, but in order to get a logo on our site in some prominent space (your examples 1 and 2 above), I'd think we'd want some pretty major money - like enough to hire someone full time for a year at 100% full economic costing. I'm not sure that's realistic as we start out. I know the head of a department at a major U

[2018-08-21 10:12] arojascastro commented on #992
I like it, it would make everything simpler for most of editors, but this means that the managing editor has to invest more time and effort. I guess the upcoming managing editors should be aware of this. Otherwise, lessons will be stuck in the pipeline.

[2018-08-21 10:15] arojascastro commented on #835
I think I cannot be that person at the moment (since I want to go on a leave for some months). Maybe in the future... sorry.

[2018-08-21 10:20] arojascastro commented on #991
Good idea! I second the template and yes we need to keep updated the examples found in our guidelines. For tanslations though, we need a `original` field. See here:

[code]

I do not think we need a `redirect` field anymore, right? @mdlincoln

[2018-08-21 10:59] drjwbaker commented on #918
@acrymble Thanks for your frankness (I expect nothing less). This issue was designed to create a conversation after all. I've noticed my **BIG** error at https://github.com/programminghistorian/jekyll/issues/918#issuecomment-408109200. It said we should move to not accept:
- Site Sponsorship. Your logo in the header and/or footer of each page of The Programming Historian.
- Activity Sponsorship. T

[2018-08-21 11:11] drjwbaker commented on #918
On the rest (which more correctly address ticket https://github.com/programminghistorian/jekyll/issues/915#issuecomment-408108041):

Perhaps. But we are testing the waters here and we won't know if we are selling ourselves short until we have. So if someone wants to offer some money for their logo in a prominent place for short period of time and there are no reputational risks to us attached (we

[2018-08-21 11:29] arojascastro commented on #918
I think I understand both parts. However, in my opinion, this initiative deserves a try. We can change the policy later or redo it or even remove it after learning about the experience. I have in mind some European infraestructures that may be want to sponsor us: CLARIN and DARIAH. They do a lot of things about teaching and they even create themselves tutorials. I think after approving this policy

[2018-08-21 11:31] acrymble commented on #918
We also have to be wary of transacting services and the legal implications of something goes wrong. If the sponsor doesn't think we've done what they said, who gets sued?

[2018-08-21 12:31] walshbr commented on #949
@drjwbaker's suggestion works for me. We can assess in the call if we need to postpone.

[2018-08-21 12:57] alsalin commented on #936
@acrymble https://medium.com/@asjas/using-formspree-io-on-your-github-pages-a60c290d1ee was one that I saw and in the comments are listed a few other options that I've seen. Again - not a GH master, so not sure how well this could work.

[2018-08-21 14:18] jenniferisasi commented on #835
To clarify, what would be the main tasks you envision for this role? a) translator, b) editor of translation, c) both a & b?

[2018-08-21 14:23] acrymble commented on #835
b.

[2018-08-21 14:24] acrymble commented on #835
I mean, c if that's what the person wants. But given the volume it might entail, I think B is more realistic.

[2018-08-21 14:52] JMParr commented on #936
I'll take another look, Adam. Maybe I'm overthinking this.

On Tue, Aug 21, 2018 at 8:57 AM, alsalin <notifications@github.com> wrote:

[2018-08-21 14:53] JMParr commented on #983
I would endorse this as the outgoing ME. I wish I were much better at
Github.

On Tue, Aug 21, 2018 at 3:44 AM, Adam Crymble <notifications@github.com>
wrote:

[2018-08-21 20:20] ianmilligan1 commented on #909
I think it'd have to be reworked as I'd assume that the National Archives of Australia site itself has changed. The author could have the opportunity to do maybe?

[2018-08-21 21:18] alsalin commented on #576
Moving discussion to individual issues now!

[2018-08-21 21:18] #576 closed, assigned to alsalin

[2018-08-22 14:34] arojascastro commented on #929
Done in https://github.com/programminghistorian/jekyll/commit/bef961edb3097485885e7a5951f9f3b10c61fa41

[2018-08-22 14:34] #929 closed, assigned to arojascastro

[2018-08-23 01:33] nabsiddiqui commented on #930
@acrymble Yes, I will try to come up with a solution and have it for you guys sometime next week.

[2018-08-24 11:22] mdlincoln commented on #949
It looks like I will indeed have a conflict for this month's meeting - sorry to miss it! But now that I know what my CMU calendar looks like, I should be able to make the September one 😄

[2018-08-25 05:39] acrymble opened #994 "Editorial retention strategy"
Conversation starter. I'd love ideas on what we could do to try to retain our team members for as long as possible. We've got sabatticals, we have a consultative approach to decision making, we encourage people to pursue their interests.

If anyone has other ideas for making the project rewarding for editors over the long term, please share them so we can improve the environment we share.

[2018-08-25 05:46] acrymble opened #995 "Page of lessons we'd like to see"
Suggestion coming out of our community survey #576:

- maybe list lessons you would like filled so that less confident authors might feel inclined to write one or collaborate with someone else

We have this on our blog from time to time, but I think this is a good suggestion. To make it easier to keep in sync, I suggest 1 page for all 3 languages, listed by "Requests from X Team".

[2018-08-25 05:51] acrymble commented on #995
I propose linking to this on the contribute menu and in the author's guidelines.

Going back through our blog posts, we already have a number of requests out there, but they may be easy to miss.

## English Project - Requested Lessons
The English-language editorial team is interested in hearing from prospective authors for the following lessons:

1) What can you conclude from topic models?

We req

[2018-08-25 05:56] acrymble commented on #959
Ok, I don't think we probably need a massive discussion on this, so I'll update the English guidelines with a brief note on this, and submit it for translation.

[2018-08-25 06:19] acrymble commented on #957
this has been fixed. Thanks @sharonhoward

[2018-08-25 06:19] #957 closed, assigned to acrymble

[2018-08-25 14:41] #959 closed, assigned to acrymble

[2018-08-25 14:44] acrymble commented on #977
I'll do a doodle poll in september for this (probably to hold in October/November)

[2018-08-25 14:45] acrymble commented on #946
we seem to be doing ok on this as long as editors send messages to @spapastamkou and @mpuren when they do pull requests. So hopefully we can continue as is. Closing this because I think we've solved this through common sense.

[2018-08-25 14:45] #946 closed, assigned to nobody

[2018-08-27 23:50] mariajoafana commented on #936
If a form in GitHub is doable that'll be fine, moreover if we can get alerts. If not Google forms is fine. This form will be particularly useful for the new incoming original Spanish lessons. If we have approved it I'll like to translate it and ask our Bogotá's workshop participants to pitch their lesson filling the form first.

[2018-08-28 09:17] spapastamkou commented on #979
I take care of that this week as I am at the point of finishing 2 translations (of which one is the relevant page)

[2018-08-28 20:33] acrymble commented on #935
we're still tweeting in English. Has this been fixed?

[2018-08-29 07:40] arojascastro commented on #994
This is an important conversation. From my point of view, what is starting to worry me a little is that contributing to the project requires a lot of time - time that I cannot invest on writing and publishing papers on the project itself. For me, a condition to keep working on it in the future will be that the experience allowed me to reflect, write and publish papers/articles. I do not know if so

[2018-08-29 12:31] walshbr commented on #935
Not fixed @acrymble - the tweets still work regardless of whether or not we have working twitter cards. I was waiting for feedback before implementing that line. I'm less familiar with the way the es/en sites are all linked up, so I was reluctant to go about messing with that side of the site. But if @mdlincoln thinks it makes sense it's an easy fix to implement.

[2018-08-29 12:37] walshbr commented on #994
@arojascastro seems like we have sabbaticals for people to take time away from the project entirely. Maybe we should also think about a version of those that make space for the kind of research work you're describing? In other words, in addition to taking several months off just because you need several months off, we might explicitly encourage people to take sabbaticals with the aim of publishing

[2018-08-30 11:15] spapastamkou commented on #836
for info, files that correspond to author guideliens, feedback and lessons pages have been translated in FR thanks to @mpuren. Some more to come soon:)

[2018-08-30 11:18] spapastamkou commented on #949
hi everyone, quite unexpectedly I can make myself available for the meeting so see you all later today

[2018-08-30 12:44] mariajoafana commented on #961
I don't seem to be able to download the .csv files. I think that the easiest way is to view the dataset in raw and copy-paste it directly in Palladio or in Excel sheet and save it if desired

[2018-08-30 12:58] mariajoafana commented on #949
I can be in the meeting as well, for about 30-40 minutes

[2018-08-30 13:51] arojascastro commented on #949
Unfortunately, I cannot make it today. I cleared out all my issues except one pull request. See you in January.

[2018-08-30 16:57] #972 closed, assigned to arojascastro

[2018-08-30 16:57] acrymble commented on #985
Thank you @arojascastro we will see you in January 2019!

[2018-08-30 16:57] #985 closed, assigned to arojascastro

[2018-08-30 17:01] acrymble commented on #983
I've added @alsalin the Managing Editor as listed on Wikipedia. You'll just have to change the contact info on the pages listed here to complete this changeover: https://github.com/programminghistorian/jekyll/wiki/Managing-Editor-Handover

[2018-08-30 17:03] acrymble commented on #884
@vgayolrs did you want to do this still, or should we close this issue? I didn't realise this was unusual in Spanish scholarship.

[2018-08-30 17:05] acrymble commented on #908
It looks like we don't need to do this work from scratch then. Maybe we just need to include links to the above resources on our Spanish author guidelines page? @jenniferisasi what do you think?

[2018-08-30 17:28] walshbr commented on #949
- [x]   #721 - @mariajoafana and @acrymble are going to look into sharing materials from the Bogotá workshop to help people applying for their own PH grants in the future.
- [x]   #918 (comment) Types of Sponsorship we will not accept (Policy, deadline 7 September) - @walshbr will post in thread.
- [x]   #948 New positions: Treasurer + Sponsorship Coordinator @walshbr will post in thread.
- [x]

[2018-08-30 17:31] walshbr commented on #948
@drjwbaker We discussed this and the other funding-related issues in the call. This one, in particular, we had strong feelings about. The consensus and received wisdom based on experiences at Bogotá was that we should probably have one person do these two jobs. And that this one person should be the person who is at whatever institution is able to offer a budget line for PH. The idea being that th

[2018-08-30 17:37] walshbr commented on #918
@drjwbaker we talked about this in #949. The thoughts on the call were that it might make sense to wait until we have a firmer sense of #878 before discussing this or #915 further. Partially because a budget line might have particular stipulations, but also because we can't actually accept any funding until that issue is closed. Maybe this can be discussed internally but not posted as a public-fac

[2018-08-30 17:37] walshbr commented on #915
@drjwbaker (sorry to tag you in three different places!). we talked about this in #949. The thoughts on the call were that it might make sense to wait until we have a firmer sense of #878 before discussing this or #915 further. Partially because a budget line might have particular stipulations, but also because we can't actually accept any funding until that issue is closed. Maybe this can be disc

[2018-08-30 18:51] acrymble commented on #835
We discussed this in the August 2018 call. I'm going to close this because we don't need this person for at least 6 months, so it's premature to take up energy on it at this time. This can be reopened when it becomes more urgent.

[2018-08-30 18:51] #835 closed, assigned to acrymble

[2018-08-30 18:53] acrymble commented on #994
Sounds like what @arojascastro is saying is that he needs it to be more centrally linked to his job or his future. One possible way to do that for certain people (depending on their employment status) is to "buy" some of their time. Maybe 10% of their contract for a year. Then their employer immediately starts to see value in the project, and it frees up their time to do this during the working da

[2018-08-30 20:23] acrymble commented on #995
I will publish this soon. Can someone from the Spanish team add 1 or 2 requests so it looks balanced? @vgayolrs @mariajoafana @jenniferisasi @jamotilla

[2018-08-31 09:03] arojascastro commented on #994
Well, not exactly. I don't hold a teaching position at the moment. I am paid for developing projects, not for doing strict and conventional research. So my current employer doesn't care about my involvement in the PH - it is not relevant. However, I would stay longer if the project allowed me to write articles and organize scholarly events that permit me to apply for more "conventional" jobs - tea

[2018-08-31 09:04] acrymble commented on #994
Ok. Can you help us understand how it doesn't do that? I've been trying to encourage people to apply for grants for years, and no one seems to want to. Same with the research. Is there a sense that it's not what we want from the editorial team?

[2018-08-31 09:05] arojascastro commented on #994
Mostly lack of time - that is why I'm taking a sabbatical now :)

[2018-08-31 10:20] hennyu opened #1000 "Lesson "Getting Started with Topic Modeling and MALLET" - small bugs"
Hi,
while translating the lesson "Getting Started with Topic Modeling and MALLET" into Spanish, I noticed a few typos that could be corrected in the English text:
- In the section "Typing in MALLET Commands": A double hyphen (as with –help above) -> there should be two single hyphens before the parameter name "help" instead of one long one: --help
- The same typo in the section "Your first topic m

[2018-08-31 14:32] jenniferisasi commented on #908
I agree with you @acrymble. I've looked for other vocabularies but nothing comes as complete as the document I shared. I don't see the TADIRAH version in Spanish, though? I see the option of changing languages but it changes a bit of the page, not the content.
If someone else agrees, @mariajoafana @vgayolrs @jamotilla , I'll work on adding the resource myself.

[2018-09-01 18:55] acrymble commented on #983
We're ready for this switch now @alsalin. did you want me to update the files, or would you like to practice the pull requesting?

[2018-09-01 19:16] alsalin commented on #983
@acrymble great timing! i'm just adding my changes now and hopefully not breaking everything.

[2018-09-01 19:52] alsalin commented on #983
@acrymble also, should the GH readme get added to the list for editing as well?

[2018-09-01 19:53] acrymble commented on #983
yes I suppose so.

[2018-09-01 19:57] alsalin commented on #983
@acrymble many thanks for double checking all this!

[2018-09-01 20:04] acrymble commented on #983
@alsalin great work.
@mariajoafana you'll have to update the files as well, with your own contact details. Let me know if you need help.

Then we can close this ticket.

[2018-09-02 21:41] spapastamkou commented on #979
New proposal:

"If you are fluent in more than one of our supported languages (French, English, Spanish), you are invited to get in touch with us about translating one of our published Programming Historian lessons from one language to another. This will help us to assist building Spanish-language and French-language digital humanities communities, and to build your language, method, and technolog

[2018-09-04 13:45] nabsiddiqui commented on #930
Thank you everyone for the feedback and help, especially @nolauren.  @acrymble This can be closed now.

[2018-09-04 13:56] #930 closed, assigned to acrymble

[2018-09-06 10:44] drjwbaker commented on #948
Agreed. Thanks to the team for their input. Leave open for now?

[2018-09-06 10:44] drjwbaker commented on #915
Agreed. Thanks to the team for their input. Leave open for now?

[2018-09-06 10:44] drjwbaker commented on #918
Agreed. Thanks to the team for their input. Leave open for now?

[2018-09-06 10:46] drjwbaker commented on #878
Belated update: I have a meeting next week (TBC) to discuss implementation.

[2018-09-06 11:00] drjwbaker commented on #994
Thanks for starting this @acrymble. One thing I've been thinking off recently is the work that goes into taking a sabbatical: I feel after a year that I now fully **get** the project (technical, editorial, managerial, interpersonal), and I fear that taking time away would only lead to me losing track, and having to invest quite a bit of time in catching up. Which is to say that with our present se

[2018-09-06 13:05] ianmilligan1 commented on #1000
Thanks! Let me take a look at this from the English side - look forward to a pull request.

[2018-09-06 13:30] #1000 closed, assigned to nobody

[2018-09-06 16:06] acrymble commented on #994
Related to @drjwbaker 's idea, maybe we need a clearer option that some people ONLY want to do editorial work, and want to leave these discussions to other people? They can certainly be time consuming.

--
Updated thought:

It's not just the discussions that are time consuming. Checking over pull requests (technical team), etc, is not for everyone. So having clearer roles so that people can opt in

[2018-09-06 16:32] drjwbaker commented on #994
I enjoy our time consuming discussions 😃

[2018-09-07 22:21] spapastamkou commented on #836
contribute page in FR added
editor guidelines in FR added (changes in anchors should be made after publication)

[2018-09-09 08:29] acrymble commented on #995
Ok, I'm going to publish this without Spanish suggestions at this time. We can update this if and when the Spanish team decides to suggest topics.

[2018-09-09 09:11] acrymble opened #1009 "Spanish Technical Team member"
I think we need a member of the Spanish Team to take on a role as a member of the Technical Team. We relied very heavily on @arojascastro for answering questions and checking over pull requests. And now that he's on sabbatical, it's clear we have a need for someone to step into that role.

Is anyone on the current team willing to do so, maybe again on a 1 year basis like we have done with other po

[2018-09-09 09:29] acrymble commented on #977
Doodle poll has been sent via email. Will close this now.

[2018-09-09 09:29] #977 closed, assigned to acrymble

[2018-09-09 09:31] #949 closed, assigned to walshbr

[2018-09-09 09:32] acrymble commented on #884
I'm going to close this for now. We can reopen in future if someone has time to pursue it.

[2018-09-09 09:32] #884 closed, assigned to vgayolrs

[2018-09-09 09:34] acrymble commented on #944
I won't be able to attend this I'm afraid. I have to be in the classroom that day.

Do you need any more feedback on this @mpuren and @spapastamkou or should we close this?

[2018-09-09 14:45] jenniferisasi commented on #1009
@acrymble, first, sorry I haven't been able to check on the pull requests with Spanish this week.
I don't think it would be a good idea to put this role in the search for now, as getting into the flow has a learning curve and could put things in the slow for a bit. I guess I can take on the role.

[2018-09-09 15:02] jenniferisasi commented on #995
Thank you Adam. Yes, please go ahead without suggestions in Spanish, as we have some of the firts originals in the making for now.

[2018-09-09 15:22] acrymble commented on #1009
@jenniferisasi thanks, if you're happy with that, that would be great. Let's go with a 1-year basis for now. Then we can assess if it's ok or if we need to reconsider it.

[2018-09-09 17:17] amsichani opened #1011 "September Editorial Agenda - 28 September 2018"
Friday, 28 September 2018, Time is 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - French time. I (@amsichani) will be facilitating, succeeding @walshbr as Skype call coordinator.

Working agenda follows. Please add by commenting or editing this comment directly.

- [ ] -  #721 Current Research Projects or Submissions Pending about the Programming Historian.
- [ ] - #878

[2018-09-09 18:21] #1009 closed, assigned to jenniferisasi, mariajoafana, jamotilla

[2018-09-10 13:31] mariajoafana commented on #908
Yes, @jenniferisasi the glossary that you shared is very complete. The Spanish version of TAdiRAH is found here:
http://vocabularios.caicyt.gov.ar/portal/index.php?task=fetchLast&v=42

We can add both resources I guess, and also encourage Spanish-language authors and translator to propose new terms to add to TadiraH

[2018-09-10 16:48] amsichani commented on #944
I still need to confirm with my manager, but most probably I 'd be able to attend and help organising. @spapastamkou and @mpuren are you still interested in running this workshop and if yes, should we have a Skype meeting to discuss next steps? #girlspower

[2018-09-10 21:20] spapastamkou commented on #944
Hey everyone, there has been a change of plans on behalf of the Humanisitca
association,  I got final confirmation today: finally, they will not host
workshops in the conference. However, this is not really a problem for our
PH workshop: the director of my establishment agrees that we host it
ourselves but this means that there will be a change in the date (which I
believe is more convenient for a

[2018-09-11 06:46] spapastamkou commented on #1011
Please consider #979 for the agenda as well: I have translated the FR contribute page accordingly. If validated during the meeting, then EN and ES pages should be modified in the same way. If the proposal is further modified, I will make corrections accordingly. (Just in case I won't be able to attend to the meeting, as I will attend a summer school during the last week of September.) I will then

[2018-09-11 07:01] acrymble commented on #979
Thanks @spapastamkou this looks good. I think in future we will want to encourage the translation of Spanish and French materials into English, but maybe we don't need that yet.

[2018-09-12 14:30] jenniferisasi commented on #908
Gracias @mariajoafana, ahora sí veo los términos en español. ¡Está muy bien!
I'll take note to work on this as soon as I can.

[2018-09-12 15:39] An-Old-Hand opened #1012 "Confused by instructions on getting-started-with-github-desktop.md"
Hi,

I've been slowly working my way through https://github.com/programminghistorian/jekyll/blob/gh-pages/en/lessons/getting-started-with-github-desktop.md

I'm using Windows and I got as far as "Making changes remotely" and the part which says "We will see the sync button on 'GitHub Desktop'. I'm afraid I can't see a sync button like the one pictured. Is it a Windows/Mac thing maybe? It's at line

[2018-09-12 17:05] acrymble commented on #1012
Are you reading the live version on the website? Or the markdown file on our repository? The lesson is available here: https://programminghistorian.org/en/lessons/getting-started-with-github-desktop#making-changes-remotely

I didn't edit this lesson, but it might help if you post a screenshot of what you DO see.

[2018-09-13 08:46] An-Old-Hand commented on #1012
Using the live version on the website. Here's a screenshot of my GitHub desktop.
![image](https://user-images.githubusercontent.com/43172655/45477521-983db580-b739-11e8-926a-b9a0671327dc.png)
No sign of a sync button (or the pull request one either but that I did find as a menu option). Hope this helps.

[2018-09-14 12:01] mdlincoln commented on #1012
Thakns for flagging this @An-Old-Hand. Since this lesson was released, GitHub has totally updated their desktop software. The [classic version of GitHub Dekstop for OS X can be downloaded here](https://central.github.com/mac/latest).

We will make a note in the lesson explaining this.

[2018-09-14 13:03] An-Old-Hand commented on #1012
Thanks for getting back to me. I'm so new to it all I was worried I was missing something.  I did get it to update OK although not sync using the new version. Will carry on with the lesson!

[2018-09-14 13:25] drjwbaker commented on #767
@acrymble Why was this closed? I can't see that volume numbers for each year have been implemented on the site.

[2018-09-14 13:35] drjwbaker opened #1013 "September 2018 DOAJ update"
Per https://github.com/programminghistorian/jekyll/wiki/Service-Integrations update our DOAJ for lessons published since March.

NB: no ES lessons have been added as we are still waiting for the new ISSN https://github.com/programminghistorian/jekyll/issues/897#issuecomment-398011111 (this was requested in June, so will be with us in time for the March 2019 update).

[2018-09-14 13:35] drjwbaker commented on #1013
Complete.

[2018-09-14 13:35] #1013 closed, assigned to nobody

[2018-09-14 14:41] acrymble commented on #767
Because #771 took its place I believe.

[2018-09-14 15:21] drjwbaker commented on #767
Ta. Ignore my Friday afternoon madness :)

[2018-09-14 15:33] drjwbaker commented on #1011
For info, I'll need to leave early as I'm teaching at 16:00.

[2018-09-16 17:08] mdlincoln opened #1015 "Getting Started With Mysql Using R - using MySQL version 8 requires additional settings and a command"
Submitted by @jeffblackadar over on https://github.com/programminghistorian/ph-submissions/issues/194 but moved here since it's a published lesson

***

For [Getting Started With Mysql Using R](https://programminghistorian.org/en/lessons/getting-started-with-mysql-using-r):

The problem was reported via [Twitter](https://twitter.com/PegeenLadeau/status/1037752538899066882):

When MySQL version 8 i

[2018-09-16 17:09] jeffblackadar opened #1016 "In Getting Started With Mysql Using R - using MySQL version 8 requires additional settings and a command."
For [Getting Started With Mysql Using R](https://programminghistorian.org/en/lessons/getting-started-with-mysql-using-r):

The problem was reported via [Twitter](https://twitter.com/PegeenLadeau/status/1037752538899066882):

When MySQL version 8 is installed, two issues are evident when starting the _Create an R Script that connects to the database_ section.
1. **Default Character Set**
Error in .

[2018-09-16 17:36] #1015 closed, assigned to nobody

[2018-09-16 17:37] mdlincoln commented on #1016
@jeffblackadar are you comfortable submitting a PR with the required edits to the lesson?

[2018-09-16 19:25] jeffblackadar commented on #1016
Hi @mdlincoln I have looked at making a Pull request, but I am not certain of the sequence of things. (Do I do a Pull request to my repository, work on edits and then ask to merge the updated lesson back to PH?)   If you have a tip, I would appreciate it.
I am confident in updating the lesson content to address the issue with MySQL 8.  (Luckily things do work with MySQL 5.7 which is still supporte

[2018-09-16 23:40] mdlincoln commented on #1016
Yep! "Fork" the repository using the button in the upper right. Then you can commit changes to your copy, and [create a pull request](https://help.github.com/articles/creating-a-pull-request-from-a-fork/) that'll send them to us on this parent repo.

[2018-09-17 10:10] arojascastro commented on #1012
Unfortunately, the Spanish translation also needs this warning...

[2018-09-17 13:08] mdlincoln commented on #1012
You're right @arojascastro - I have made a note of that in the pr: https://github.com/programminghistorian/jekyll/pull/1014

[2018-09-20 13:08] arojascastro opened #1017 "Update translation on Github desktop"
Related to https://github.com/programminghistorian/jekyll/pull/1014

I have to check Matt changes and update my translation: https://github.com/programminghistorian/jekyll/pull/1014/files

[2018-09-20 15:03] arojascastro commented on #1017
No need to duplicate issues

[2018-09-20 15:03] #1017 closed, assigned to arojascastro

[2018-09-20 19:13] alsalin opened #1018 "Full-text search"
Based off of the Community Survey - we had several readers note that there's no easy way to search the website to find lessons. Is this possible? If so, is it hard? If not, what's the possibility of us implementing search capabilities?

On a related note - improving browsing and filtering. Some folks noted that it's not always easy to find things under specific filter headings.

[2018-09-20 19:16] mdlincoln commented on #1018
*ahem* I had a conversation with @ZoeLeBlanc at DH2018 this summer where she said she'd loooove to write a PR that would add full-text search to our site via lunr.js

[2018-09-20 19:17] mdlincoln commented on #1018
I think it'd be a great addition. There are solutions for doing it with a Jekyll site. My bandwidth would be pretty limited until after the launch of the French translations however.

[2018-09-20 19:20] mdlincoln commented on #1018
The one hiccup in implementing this would be that the index (a JSON file) is built via a plugin, which isn't supported by GitHub pages. HOWEVER, since our site builds over at Netlify as well, we might be able to point the javascript over to the netlify-generated&published JSON index even as people are still on the pages served by GitHub.

[2018-09-20 19:22] alsalin opened #1019 "Community Survey Issue: Help for Authors/Reviewers"
From the survey, it seemed as though most folks thought our guidelines were quite clear but we did receive the following comments from 3 survey participants:

- As a reviewer, it is unclear if I need to reapply after every review, or if I stay in the “pool” indefinitely. I’d like to be able to tell you that I’m available.
- Have a static, downloadable, regularly updated guidebook with a sample tut

[2018-09-20 19:24] alsalin opened #1020 "Community Survey Issue: Different Translation Paths"
Along the lines of the following comment:
 "It would be great, when you could provide the opportunity to translate articles or parts of articles into one’s native language, without having to commit to become a whole kind of “Special Interest Group Language X” and having to tackle the overhead coming along with this (I imagine most people don’t have the time to become a full-blown translation proje

[2018-09-20 19:26] alsalin opened #1021 "Community Survey Issue: Show list of lessons in progress"
Along the lines of this comment:
"Could you display in an easily findable place on the website the list of lessons in development, along with estimated timelines for their release? "

Do we want to showcase things in work? If so, at what stage would that be safe? I'm sure some authors may not complete lessons even after they are submitted on rare occasion?

[2018-09-20 19:31] alsalin opened #1022 "Community Survey Issue: Audience and Learning Paths"
Through the survey, we learned a few things about who uses PH:
- less than half of survey participants are in History of any kind
- our readers are pretty confident with technology already

Several folks asked for learning paths that could expand the readership of PH to potentially more novice users while creating a link to existing more advanced pieces. Additionally, the beyond-Historian readersh

[2018-09-20 19:34] alsalin opened #1023 "Community Survey Issue: In-lesson Navigation"
A lot of folks seem to use the lessons to learn things for the first time and for reference, as such, I wonder if toying around with in-lesson navigation would be possible to help folks navigate long lessons easier? Fixed-sidebars, for example, with the TOC would be awesome. That may help folks with responses like this to our question on the ease-of-use of lessons: "I mean, mostly. Some of them re

[2018-09-21 06:41] #995 closed, assigned to acrymble

[2018-09-21 06:48] drjwbaker commented on #1019
I think we can only do this if we can make a pdf autogenerate every time we add a new commit to the relevant page. In my opinion it is not a good use of our time to keep pdfs on this topic maintained in multiple languages each time we make a tweak to our GitHub workflow (or, indeed, each time GitHub make a tweak to their workflow).

[2018-09-21 06:50] drjwbaker commented on #1020
Having gone down the route of having an ISSN for each translation project https://github.com/programminghistorian/jekyll/issues/788, ad-hoc translation no longer fits with our infrastructure.

[2018-09-21 06:58] drjwbaker commented on #1021
This speaks to who we think we are and what we think we are doing. We are a journal who does peer review in the open. However we aren't a pre-print server (like https://arxiv.org/ or https://wellcomeopenresearch.org/) because the nature of our content means that we need lessons that work, both technically and pedagogically. With that in mind, I'm not against the idea of showcasing work-in-progress

[2018-09-21 07:05] drjwbaker commented on #1022
Interesting on audience. I remain in favour of not actively catering for non-Historians: in a way I would say that, but I think it gives us a distinctive identity - we host lessons that use tools for a clear disciplinary purpose.

On calls, this could feed into our periodic calls for Lessons We'd Like to See https://github.com/programminghistorian/jekyll/pull/1008

On tracks, this seems super hard

[2018-09-21 07:07] drjwbaker commented on #1023
On fixed sidebars, something like https://citation-file-format.github.io/1.0.3/specifications/ ?

[2018-09-21 07:08] drjwbaker commented on #1018
(side note: thanks to @alsalin for opening all these issues!)

[2018-09-21 08:39] acrymble commented on #1021
I guess it could sit here James: https://programminghistorian.org/en/lesson-requests

[2018-09-21 08:42] acrymble commented on #1022
Something for the blog? The paths change over time as new lessons are produced.

[2018-09-21 08:43] acrymble commented on #1020
This is something anyone can do because our lessons are published CC-BY. We could address this with a blog post encouraging ad hoc translation.

[2018-09-21 08:45] acrymble commented on #1019
The reviewer question is tricky. I never look who is in the pool. I look for who is an internationally renowned expert in that topic. I don't care if they've signed up to review for us or not. I just send them an email. Maybe that's not clear to people who think they're in a pool. And I imagine what I do isn't consistent with what other editors do.

[2018-09-21 11:59] #983 closed, assigned to alsalin

[2018-09-21 14:27] alsalin commented on #1023
I like the flow of that page, though the sidebar doesn't stay fixed (maybe that might be a lot to ask)

[2018-09-21 15:49] drjwbaker commented on #1023
Yeah, fixed sidebar would be great. I'm assuming - however - that any sidebar would bork mobile (though the info you got on low mobile use may be a reason to deprioritize).

[2018-09-21 16:12] drjwbaker commented on #1022
To say what?

[2018-09-21 16:14] drjwbaker commented on #1021
Changing the page to "Lesson Requests and in Progress"?

[2018-09-21 16:31] acrymble commented on #1022
As a place to publish these "paths". We've had ideas about this for years and nobody's ever written one, so this would need a champion who wanted to do it.

[2018-09-21 16:42] drjwbaker commented on #1022
Right. I agree, this has floated and never been done. I'm wondering why bother blog when that effort might be better used adding a 'now you might want to go here' path to a lesson?

[2018-09-21 16:47] acrymble commented on #936
Nobody has found a form solution, so I'm going to suggest a simple markdown file that we ask people to download and email us.

[2018-09-21 17:20] JMParr commented on #936
Seems fine to me.

On Fri, Sep 21, 2018 at 12:53 PM Adam Crymble <notifications@github.com>
wrote:

[2018-09-21 19:46] amsichani commented on #1020
Ad hoc translation of a (part of a ) lesson is a great idea for impact- internationalisation - engagement with PH! I 'd like to contribute to such a blog post!

[2018-09-21 20:49] vgayolrs commented on #958
hola @arojascastro  @jenniferisasi @mariajoafana y @jamotilla !

Después de revisar varios manuales sobre lenguaje inclusivo (acá le dicen incluyente) que han estado publicando en varias dependencias de gobierno (acá es un tema muy sensible, pero cada manual es más aburrido que el anterior), encontré uno publicado por [INMUJERES](http://cedoc.inmujeres.gob.mx/documentos_download/101265.pdf) que no

[2018-09-22 07:07] acrymble commented on #936
This requires changes to the authors-guidelines.md file, which is currently awaiting a review on a pull request: https://github.com/programminghistorian/jekyll/pull/998

I don't want to complicate things by changing this file in two different locations, so this will have to wait until that pull request is approved.

The form is here:
[Lesson Query Form.txt](https://github.com/programminghistorian/

[2018-09-22 12:34] acrymble commented on #1022
My hesitation to that is that where you want to go in 2018 isn't necessarily where you'll want to go in 2023. The logical links in these paths will, I think, change over time. Hard coding them means that you're never urged to go to a lesson that was published after the one you're reading (and its ANOTHER thing we have to go back and update from time to time).

I think it would be far more useful t

[2018-09-22 15:57] #992 closed, assigned to acrymble

[2018-09-23 09:09] arojascastro commented on #958
¡Genial! Muchas gracias Víctor. Los siete puntos me parecen suficientes, aunque, como dices, podríamos añadir o sustituir algunos ejemplos de "cosecha propia". Además, tenemos que pensar dónde queremos añadir la sección (¿en qué guía?) y cómo implementamos las medidas en las guías y otros textos de soporte (si es necesario; yo creo que sí porque hay que predicar con el ejemplo).

(Este manual edit

[2018-09-23 14:49] acrymble opened #1027 "Mathematical notation rendering in markdown"
I'm writing a tutorial that needs to properly display mathematical formulae.

I found a site that gave instructions on how to do this (http://csrgxtu.github.io/2015/03/20/Writing-Mathematic-Fomulars-in-Markdown/) but they don't render in my lesson. Is this something we can set up somehow? The alternative is probably a few dozen figures, which is quite messy and problematic because you can't cut an

[2018-09-23 15:48] vgayolrs commented on #958
De acuerdo @arojascastro , miraré también el manual que propones. Espero (uf, los pendientes!) en la semana tener una redacción más acorde a algo que tiene que ser sencillo.

[2018-09-24 08:08] drjwbaker commented on #1022
Okay. Point taken. I like the EHR model. Question for me is how do we get authors? (unless you are suggesting that we do the lit review)

[2018-09-24 11:22] mdlincoln commented on #1027
We do enable mathjax on the site, so this should show up. Please post the markup that you're writing.

[2018-09-24 11:37] #961 closed, assigned to acrymble, mariajoafana

[2018-09-24 11:53] mdlincoln commented on #1019
Re: how to use github, I'm always in favor of pointing people to the actual GitHub documentation - we really should not be duplicating it with our own, only adding it details about our specific workflows.

[2018-09-24 14:21] acrymble commented on #1027
I've got quite a lot of it, but here's an example line:

y = \beta_{0} + (\beta_{1}(x_{1}) + (\beta_{2}(x_{2}) + ... + (\beta_{p}(x_{p})

This needs to render properly in both code blocks (```) and in the main text. It's just rendering exactly as I type it at the minute. The file is here: https://github.com/programminghistorian/ph-submissions/blob/gh-pages/lessons/gravity-model.md

[2018-09-24 14:32] mdlincoln commented on #994
A few thoughts from your technical editor:

Over the last few year as we closed off a really major shift in the full redesign of the site and strengthening our editorial workflows, I've been deliberately trying to step back from solving every little technical problem, particularly WRT the most routine pull request work of publishing new lessons and fixing typos. While this was bumpy at first, I'm

[2018-09-24 15:16] acrymble commented on #1027
It looks like the special characters might just work if I use them directly rather than the codes. That won't work for the special formatting though, like subscript, etc.

[2018-09-24 15:44] mdlincoln commented on #1027
Thanks for the example markup Let me take a look locally and see what I can do.

[2018-09-24 15:50] mdlincoln commented on #1027
When you want the markup to render in the main text,  you need to wrap it with double dollar signs

[code]

[2018-09-24 17:03] drjwbaker commented on #994
Thanks for this @mdlincoln: I'm heartened that you see progress in our (though probably not my..) overall competence to run the site without your constant input, and concur on the concern over 'doing new things'. My sense of the latter is that a revised landing page (the redo of https://github.com/programminghistorian/jekyll/pull/914) should be our sole technical/design update for now.

On transla

[2018-09-24 21:40] amsichani commented on #994
Thanks all for your thoughts (BTW- I am also enjoying our time consuming discussions). I took some time to reflect on this .

In fact, if I m reading it correctly,  there is a twofold issue behind @arojascastro 's claim (and I would like somehow to insist on the first aspect):

1)How  can we formalise our PH editorial work and involvement in our CV and in our everyday professional/academic life in

[2018-09-25 14:37] ZoeLeBlanc commented on #1018
Just saw this discussion, thanks for remembering @mdlincoln . I'm still interested in helping add a lunr search since I'm using a lot of tutorials in my teaching this semester. One question would be the layout of the search results, but maybe as a first step I could just get the lunr index generating and working with netlify. I could push a branch in the next few weeks if that's helpful, just let

[2018-09-25 14:53] mariajoafana commented on #958
Buenísimo @vgayolrs
Sobre lo que preguntas @arojascastro Se me ocurre que nos dividamos los textos de guías y otros entre todos y cada cual haga el ejercicio de implementar esto. Por otro lado creo que en todas las guía (revisores, autores y traductores, editores) deberíamos añadir la sección Lenguaje inclusivo.

[2018-09-25 19:24] acrymble commented on #1027
Thanks @mdlincoln I can confirm that this works, but not in code blocks. Only in the running text. I'll adjust my lesson accordingly.

[2018-09-25 19:24] #1027 closed, assigned to mdlincoln

[2018-09-25 19:45] acrymble commented on #963
I am going to close this on the advice of @mdlincoln that we stop tinkering so much with our guidelines! Thanks @drjwbaker for pointing out this solution.

[2018-09-25 19:45] #963 closed, assigned to acrymble

[2018-09-25 21:54] mdlincoln commented on #1018
@ZoeLeBlanc that would be quite cool! Both branch and PR builds will pop up over on https://ph-dev.netlify.com/ on the respective branch/pr subdomains that Netlify does a la https://deploy-preview-1028--ph-dev.netlify.com/ - I bet if you can get the plugin running, it could spit out json at least onto netlify's servers... and then we can go from there :)

[2018-09-26 11:12] muggel8378 opened #1030 "Broken link"
I encountered an error when I tried to navigate to The Programming Historian using this link: [https://programminghistorian.org/lessons/en/creating-mobile-augmented-reality-experiences-in-unity]

[2018-09-26 11:17] acrymble commented on #1030
Where did you find that link?

[2018-09-26 13:32] #1012 closed, assigned to mdlincoln, arojascastro

[2018-09-26 14:00] #991 closed, assigned to acrymble

[2018-09-26 14:05] mariajoafana commented on #936
I'm uploading here the lesson template in Spanish for review by Spanish language team . Once approved @jenniferisasi will create the pull request to add this and other modifications to the Spanish language author guidelines according to the English-language page
[Formulario.Consulta.Lección.txt](https://github.com/programminghistorian/jekyll/files/2420046/Formulario.Consulta.Leccion.txt)

[2018-09-26 16:26] acrymble commented on #1011
@spapastamkou you can add any item you want to the agenda by editing @amsichani 's original post. Click on the ... in the top right corner.

[2018-09-27 16:34] mdlincoln commented on #1030
Thanks for sending this in - however, that's never been a valid or published URL, so I'm afraid the original source must have been in error. You'll find the actual lesson at <https://programminghistorian.org/en/lessons/creating-mobile-augmented-reality-experiences-in-unity>

[2018-09-27 16:34] #1030 closed, assigned to nobody

[2018-09-27 17:52] alsalin commented on #1011
Sorry I can't be there! This may happen a lot as 10am is prime time for meetings in my office :\

[2018-09-27 21:13] mariajoafana commented on #1011
Sorry too, I won't be able to join the meeting, I will be traveling to a conference

[2018-09-28 09:08] spapastamkou commented on #1011
I can't be present, sorry: I am at Corsica for a SNA summer school and will very probably be in a bus at the time of the meeting.

[2018-09-28 09:09] spapastamkou commented on #944
I close this ticket and will come back on this subject in October. Thank you all for the ideas and help.

[2018-09-28 09:09] #944 closed, assigned to mpuren, spapastamkou

[2018-09-28 14:51] vgayolrs commented on #1011
Hello, I just connected because the meeting was scheduled for 10:00 am in Mexico and it's 9:50 ... but I see that the meeting is over!

[2018-09-28 14:57] amsichani commented on #994
An "informal mentoring scheme" from senior PH editors/colleagues to people (like me!) who feel that they need this type of support/guidance in order to formalise their PH involvement CV-wise or for their managers was proposed during our Skype meeting. I can't second this idea enough!

Please feel free to volunteer here as a "mentor". Feel free to grab your mentor and ask for advise on this front,

[2018-09-28 15:06] amsichani commented on #836
@spapastamkou and @mpuren , a quick update here from our Skype call : once you ll finish with translating & editing the branch, we need to inform @mdlincoln so he ll be able to secure some time to work through the integration. Keep up the good work, ladies, and please drop me a line if you need any help!

[2018-09-28 15:07] amsichani commented on #1011
oops! we have the wrong Mexican time? Sorry for missing the Skype , @vgayolrs , and thanks for pointing this out for next time!

[2018-09-28 15:08] walshbr commented on #1011
Oof sorry @vgayolrs - my mistake! Good thing you're in good hands with @amsichani now.

[2018-09-28 16:14] vgayolrs commented on #1011
Oh, do not worry @walshbr @amsichani , I should have noticed the error in the call that equates the time of Mexico with the time of the East when it is central time (UTC-6). My fault.

[2018-09-28 17:30] jenniferisasi commented on #908
Working on this. I don't want to take the definite decision as to where to include the links; rereading the
guidelines, I think the best place (and easiest edit) for these references is under [Traduce una lección](https://programminghistorian.org/es/contribuciones#traduce-una-lección) on the contribute page. Now, inside the different guidelines it could go on "[Escribir para una audiencia global](

[2018-09-28 21:50] jenniferisasi opened #1033 "Data Wrangling and Mng in R: Issue with download data"
While translating this tutorial I noticed that the data for the exercises won't download directly when "[clicking here](https://programminghistorian.org/assets/introductory_state_example.csv)" as directed. One can double click on the link and do "download linked file" but it could be confusing to some users.

Also, two typos (haven't read the whole thing yet), "observent" and  "dicennial"

[2018-09-28 23:03] jenniferisasi commented on #1033
Semi-broken link "We are going to rely on the [history data](
https://www.google.com/search?q=cran%20historydat) a package" opens a search in Google, the site of the package itself being the first result.

[2018-09-29 22:00] jeffblackadar commented on #1016
Updates have been made here ( https://github.com/jeffblackadar/jekyll/blob/gh-pages/en/lessons/getting-started-with-mysql-using-r.md )and I am continuing testing with a Mac.

[2018-09-30 22:05] mdlincoln commented on #1016
@jeffblackadar when you say you're "continuing testing" does that mean you are still working on this? Or is it ready to be submitted as a pull request?

[2018-09-30 22:16] jeffblackadar commented on #1016
@mdlincoln yes testing has gone well, but I am not yet done.  I just want to run this through on another computer I have access to at work where nothing has been installed before. I will be ready in a couple days, when testing and proofreading is done, to do a pull request.

[2018-10-01 07:34] drjwbaker commented on #994
Without wishing to declare myself an expert on this, I'm happy to mentor fellow editors.

[2018-10-01 10:39] spapastamkou commented on #1011
Hi there! Are there any news on #979 after the meeting? Should I close the ticket? Thanks!

[2018-10-01 11:51] amsichani commented on #979
Hey @spapastamkou, as far as I can see you ve proposed a new version of the text on the "translate a lesson" section of Contribute page & you ve got positive feedback on this. We haven't really discussed this during #1011 as the procedure is pretty much straightforward , I guess.
Next steps are 1)to secure a ES and a FR translation of this text, before 2)submitting a PR for all the languages' page

[2018-10-01 11:55] amsichani commented on #721
Hey, just to let you know that our  (@arojascastro, @jenniferisasi + @amsichani ) long paper submission " Data science and the language question in digital humanities pedagogy: the example of Programming Historian" for [EADH2018](EADH2018) has been accepted !

[2018-10-01 12:02] amsichani opened #1034 "October Editorial Agenda - 29 October 2018"
Date TBC - Time is 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - French time. I (@amsichani) will be facilitating the call.

Working agenda follows. Please add by commenting or editing this comment directly.

  - #721 Current Research Projects or Submissions Pending about the Programming Historian.
  - #878 Getting a budget line for PH + progress on  #915 + #948
  - #836

[2018-10-01 12:03] #1011 closed, assigned to amsichani

[2018-10-01 12:07] amsichani commented on #1011
@vgayolrs could you plz confirm that we have the correct Mexican time for our Skype call  **9:00 AM - Mexico time;** 10:00 AM - EST; 3:00 PM - British time; ? cheers!

[2018-10-01 12:27] walshbr commented on #994
One thing that was mentioned in passing (can't recall who said it unfortunately!) that I want to signal boost - the mentoring needed is probably geographically and institutionally specific. Libraries have different priorities from academic departments, and my situation in America would be different from elsewhere in the world. I'm happy to volunteer if someone is in a library, though also not sure

[2018-10-01 12:37] jenniferisasi commented on #979
That text looks great!
I will do the translation/edit in the Spanish version. Shall we wait till the French version launches? That's the only thing that kept me from doing the changes already.

[2018-10-01 12:49] spapastamkou commented on #979
Cool, thank you both, I preferred to be sure:) I propose that you do not
wait for the launch of the FR web site to do the translation. I have
already used this version of the text in the FR file, so once published the
FR web site will be in lines with the rest.

[2018-10-01 12:55] vgayolrs commented on #1011
Hi @amsichani 1 The correct Mexican time is 9:00 AM MxTime (Central, the same as Chicago) = 3:00 PM British time. Thanks!

[2018-10-01 13:31] amsichani commented on #1011
fab -- thanks @vgayolrs !

[2018-10-01 13:34] acrymble commented on #979
@spapastamkou if you close this ticket right now, nothing will be changed. You first have to make the changes in a pull request. Only close the ticket once the change is finished. otherwise it disappears and everyone forgets about it.

[2018-10-01 14:42] spapastamkou commented on #979
Oops, sorry, let's keep it open then.

[2018-10-01 15:36] acrymble commented on #994
What about a Wiki page where we can start to share some ideas and strategies that people can try with their various contexts? That would give us a way to record those ideas and close this ticket productively.

[2018-10-02 08:13] drjwbaker commented on #1020
Another thought on this (were ad-hoc translations to somehow fall into our infrastructure): who is responsible for keeping an ad-hoc lesson translation up to date? (that is, if the original language lesson needs to change slightly, then so does the translation, but if we don't have the language skills to make the change, who does it?)

[2018-10-02 09:12] acrymble commented on #1020
Informally, it's whomever makes the English changes is responsible for finding someone to make the other language changes. It's the same issue we have when changing the about page, for example.

[2018-10-02 09:35] acrymble commented on #948
Can we close this on the assumption that this has to be @drjwbaker in the first instance? Or is that a false assumption?

[2018-10-02 09:40] drjwbaker commented on #948
Okay. Shall I add the roles to my profile?

[2018-10-03 13:42] drjwbaker commented on #948
https://github.com/programminghistorian/jekyll/pull/1035 closes this.

[2018-10-03 13:42] #948 closed, assigned to drjwbaker

[2018-10-03 13:54] drjwbaker commented on #1020
Pulled over from email conversion, there are two actions from this issue.

1. a blog post:

- encouraging ad-hoc translation (in sum: lessons are CC-BY so go ahead!)
- underscoring the effort + commitment + policy it takes to integrate a full translation initiative as justification for why we can’t/won't take all translations in house
- showcasing examples & uses ad-hoc translation
- explaining th

[2018-10-03 20:18] jenniferisasi commented on #936
Thanks @mariajoafana. I made two little changes to the wording, but it's good to go. However, @acrymble do we want to include the French managing editor info? We are asking about the submission language so, though not online yet, I thought the addition will save us a later edit/commit.

As I understand, I will wait to #998 to be closed to work on including this form on the guidelines, together wit

[2018-10-04 13:17] walshbr commented on #1033
Good catches!

I think you're right on the second note here - that should probably link directly to the history package.

For the first note -  the direct download vs double clicking is dependent on which browser you're using. It downloads directly in chrome, opens a popup for opening vs saving in firefox, or just opens the file in window for Safari (so I bet you're using safari?). I was just poki

[2018-10-04 16:38] amsichani opened #1037 "workflow for ad-hoc translation"
The need for a clear workflow for ad-hoc translation resulted from #1020 and I am now working on drafting a text we can host (and probably translate?) on wiki. stay tuned!

[2018-10-04 16:41] amsichani commented on #1020
closed now, as #1037 and a blog post are on their way!

[2018-10-04 16:41] #1020 closed, assigned to amsichani

[2018-10-04 19:04] jenniferisasi commented on #1037
Thanks @amsichani for writing the post! I could translate to Spanish if you think it would be useful (I think so).

[2018-10-05 11:04] acrymble commented on #1037
Is "workflow" the right word here? We aren't going to host these. I thought you were just explaining to people that they could do ad-hoc translations if they wanted to. This sounds much more official to me.

[2018-10-05 22:10] jenniferisasi commented on #1033
Thanks @walshbr! I didn't know about the browser issue but should have checked cos I'm having Safari-not-updated as of late...It downloads if in zip (as in [here](https://programminghistorian.org/en/lessons/basic-text-processing-in-r#alternative-method-for-loading-the-corpus-optional))  I guess we should discuss it in group? It is not terrible so I leave it to you, since you have also more lessons

[2018-10-06 16:48] jenniferisasi opened #1038 "Blog post: Call for editors for Spanish team"
I am going to publish our call for editors in the blog.

[2018-10-07 12:00] acrymble commented on #936
@jenniferisasi we don't have a French managing editor yet, I don't think.

[2018-10-07 12:02] acrymble commented on #849
@mdlincoln this is waiting on you. Do you need help?

[2018-10-07 12:13] #1038 closed, assigned to jenniferisasi

[2018-10-07 12:18] jeffblackadar commented on #1016
Hi @mdlincoln, testing is done (Windows 10 & 7, Mac, DHBox) and the lesson is ready for a pull request.  The getting-started-with-mysql-using-r.md is updated and one the assets (assets/getting-started-with-mysql-using-r/sample-data-submarine.csv) had a few extra lines at the end that caused errors so that's fixed.

[2018-10-07 16:55] jenniferisasi opened #1040 "New lesson template to Author Guidelines in Spanish"
I am making the changes to the author guidelines in Spanish file to follow the changes made with "new lesson template", fixing a few typos and updating the link to the Markdown lesson to the spanish one.

[2018-10-07 18:21] jenniferisasi commented on #1040
I'm following the Author Guidelines that are published - it's difficult to read the changes in the file on issues #991 and #998

[2018-10-08 07:29] drjwbaker commented on #1034
I might have the miss this one (long flight that morning). I'll keep you updated.

[2018-10-08 13:39] walshbr commented on #1034
I'll be there but might be a few minutes late - coming from another meeting w/ our AUL

[2018-10-08 23:44] #1040 closed, assigned to jenniferisasi, vgayolrs, mariajoafana, jamotilla

[2018-10-09 18:11] mdlincoln commented on #849
Added.

[2018-10-09 18:11] #849 closed, assigned to acrymble

[2018-10-10 18:47] alsalin commented on #1034
Mondays at 10 are our regular group meetings, so I can't make it. I'll add any questions/updates here if I have them before hand!

[2018-10-11 11:27] #1016 closed, assigned to mdlincoln, jeffblackadar

[2018-10-11 11:39] mdlincoln commented on #909
So the URLs that it suggests to follow lead to 404s... as far as I can tell this is a change made by NAA.

If the rest of the lesson is still working, I suggest we add a `{% include alert.html %}` to that section with a note that it no longer works for that reason, but that we're leaving the text there for reference.

Any objections?

[2018-10-11 13:00] mdlincoln commented on #931
I'm hesitant to enforce yet another level of labeling on our lessons - and this need would actually be fulfilled by full-text search #1018

[2018-10-11 13:00] #931 closed, assigned to nobody

[2018-10-11 15:20] jenniferisasi commented on #936
Hi @acrymble, have you added the Lesson Query Form.txt anywhere in the guidelines? I made the changes for submission (with the markdown guide) but I can't find the lesson proposal form - just wanna make sure I'm keep track to implement all changes

[2018-10-11 15:27] acrymble commented on #936
@jenniferisasi no I haven't. You could add both of them in one pull request and then we could close this. They just need to be put at an appropriate spot in the Author Guidelines files.

[2018-10-12 09:30] t-duan opened #1050 "Getting Started with Topic Modeling and MALLET: URL not up to date"
Hi there,
the url to Scott Weingarts warnings seems not to be to date. Could you please update the link to the blog post? Thanks a lot for your engagement!
Best regards,
Tinghui

[2018-10-12 11:44] mdlincoln commented on #1050
Thanks @t-duan - what's the updated url that we should post?

[2018-10-12 14:55] mariajoafana commented on #908
Si, me parece que los lugares que señalas está bien, aunque cree que lo dejaría únicamente en Traduce una lección y en la Guía para revisores

[2018-10-12 14:59] #909 closed, assigned to nobody

[2018-10-12 15:40] mariajoafana opened #1051 "Adjusting workflow for Spanish Language submissions"
I bring here a discussion among the Spanish team in order to clarify the workflow for proposal submissions. Here is the step-by-step that @vgayolrs outlined:

1) editor receives lesson proposal following the template according to [#936](https://github.com/programminghistorian/jekyll/issues/936) proposal template. If the editor has doubts (almost always), sends a consultation to the editorial team

[2018-10-15 08:13] acrymble commented on #1051
2) You might not get agreement from the editorial board. But you will likely get a sense of whether or not there's enough support to progress.

[2018-10-15 08:19] arojascastro commented on #1051
I think there is no conditional here. The Managing editor **always** shares each proposal with the board before opening a ticket.

I did not ask the board with proposals coming from Bogotá because I thought that that was the agreement and that these proposals were already read by people organizing the workshop.

[2018-10-15 12:58] vgayolrs commented on #1051
Precisely that exception in [this case](https://github.com/programminghistorian/ph-submissions/issues/190) and [this other](https://github.com/programminghistorian/ph-submissions/issues/185) generated this issue. The first ticket was closed awaiting an editorial decision. The second one is still open but without answers to a review that involves editorial decisions that we should have discussed vi

[2018-10-15 22:15] mdlincoln commented on #1050
The post is accessible just fine - there's just a banner at the top of his site pointing to a new blog for more recent posts.

[2018-10-15 22:15] #1050 closed, assigned to nobody

[2018-10-17 00:54] mdlincoln opened #1054 "markdown not rendered properly in lesson abstracts on lesson page"
![screen shot 2018-10-16 at 8 54 17 pm](https://user-images.githubusercontent.com/4392604/47055501-ac843080-d185-11e8-99d3-b6b959d21817.png)

I need to sneak a call to `markdownify` in the right template...

[2018-10-17 10:33] #1054 closed, assigned to mdlincoln

[2018-10-17 12:15] acrymble commented on #687
I came across an article today that outlines Indian Universities that teach DH: https://www.hindustantimes.com/education/new-bytes-digital-humanities-courses-are-becoming-a-hit-among-students/story-0h0IjdLYhDcskSk7scNHpK.html

It's in the Hindustan times, and outlines the following programmes:

Bengaluru's Srishti Institute of Art, Design and Technology (MDes programme)
Jadavpur University, Kolkat

[2018-10-17 12:18] acrymble opened #1056 "Editor training idea"
We have a editorial onboarding checklist to support new editors (https://github.com/programminghistorian/jekyll/wiki/Onboarding-Checklist-for-New-Editors).

I thought I'd just raise the idea of a 3-day training residency for new people, as an aspiration. Maybe we could have designated hubs that are fairly well connected (London, Virginia, Bogota, etc) where new editors could come visit one of us f

[2018-10-17 17:41] drjwbaker commented on #1056
This feels similar to Carpentries Instructor Training https://carpentries.github.io/instructor-training/

[2018-10-20 14:54] VanjulBhatt opened #1057 "Broken link"
I encountered an error when I tried to navigate to The Programming Historian using this link: https://programminghistorian.org/lessons/en/creating-mobile-augmented-reality-experiences-in-unity

[2018-10-20 15:18] acrymble commented on #1057
The link is wrong. https://programminghistorian.org/en/lessons/creating-mobile-augmented-reality-experiences-in-unity

Where did you find that link so we can fix it?

[2018-10-20 15:33] VanjulBhatt commented on #1057
It was in the AR tutorial saying "Article has been retired. You can find the latest tutorial at the link below"
There is page where i found it:
https://programminghistorian.org/en/lessons/retired/intro-to-augmented-reality-with-unity

[2018-10-20 20:07] walshbr commented on #1057
Thanks for catching this @VanjulBhatt. @acrymble - I corrected this in #1058. Merging that PR should close this.

[2018-10-20 21:13] VanjulBhatt commented on #1057
Not a problem @walshbr . Could you guide me to the correct link which might contain this supposed article . Thanks!

[2018-10-20 21:55] walshbr commented on #1057
The correct links are as follows:

Retired and archived lesson: https://programminghistorian.org/en/lessons/retired/intro-to-augmented-reality-with-unity
Current lesson: https://programminghistorian.org/en/lessons/creating-mobile-augmented-reality-experiences-in-unity

[2018-10-20 22:54] VanjulBhatt commented on #1057
Thank you @walshbr

[2018-10-21 03:30] inxochitl opened #1059 "missing code / código faltante in/en Spanish translation/traducción al español lesson/lección xml-xsl"
I am requiring your attention on the translated lesson / Estoy requiriendo su atención sobre la traducción de la lección

[Transforming Data for Reuse and Re-publication with XML and XSL](https://programminghistorian.org/en/lessons/transforming-xml-with-xsl)

[Transformación de datos con XML y XSL para su reutilización](https://programminghistorian.org/es/lecciones/transformacion-datos-xml-xsl)

I

[2018-10-21 14:31] arojascastro commented on #1059
¡Gracias por avisarnos! Procederemos a corregirlo.

[2018-10-21 16:56] #1057 closed, assigned to nobody

[2018-10-22 07:41] drjwbaker commented on #687
Good spot Adam. I contacted Padmini in the past re PH and India but I didn't receive a reply. Amlan I don't know.

[2018-10-23 12:32] #1059 closed, assigned to arojascastro

[2018-10-23 23:00] walshbr commented on #935
I noticed this still wasn't working. I think this might be because we were still linking out to lesson links w/o the /en/lessons construction (since we populated that spreadsheet a long time ago). Working theory is that the cards weren't working with the redirects that we have in place. I updated the spreadsheet with the new /en/ links, and I'll close once it's clear that this is working. Should j

[2018-10-24 00:17] mdlincoln commented on #935
oooohhh good catch. The cards generated by the actually-published pages are definitely valid from the fix in #1052, but yeah, if the spreadsheet was passing links that had to be redirected, I could imagine that Twitter would balk.

[2018-10-24 01:35] mariajoafana commented on #958
Una propuesta sobre el lenguaje inclusivo: https://sostenibilidad.semana.com/amp/carolina-sanin-una-propuesta-gramatical/35571?__twitter_impression=true

[2018-10-25 14:07] walshbr commented on #935
Yep - was the redirects. We're good now!

[2018-10-25 14:07] #935 closed, assigned to mdlincoln

[2018-10-27 23:34] #908 closed, assigned to mariajoafana

[2018-10-29 12:12] jenniferisasi commented on #1034
Hi everyone,

I think we may have an issue... We didn't take into account that daylight change took place yesterday in Europe?
![screen shot 2018-10-29 at 7 11 41 am](https://user-images.githubusercontent.com/11022533/47649040-ee2fb680-db49-11e8-8f8b-a4093a16f47d.png)

[2018-10-29 12:25] drjwbaker commented on #1034
Good spot Jennifer!
I won't be there I'm afraid. Flew overnight, not slept yet, bit wonky.
On #878 et al, I have no update since my last group email. If you want to discuss that and report back, please beo

[2018-10-29 12:37] walshbr commented on #1034
Oof - thanks @jenniferisasi. Given that James and Anna-Maria can't make it I'm going to propose we leave the time at 10:00 AM EST (so asking the European folks to adjust if possible). Looking at the doodle it looks like leaving it at that time would leave five people unchanged. I also wouldn't be able to coordinate the later time. @spapastamkou and @acrymble are the two remaining people in attenda

[2018-10-29 12:44] mariajoafana commented on #1034
I’ll have to miss this one as well, I have meetings all morning.

Sent from my iPhone

[2018-10-29 12:53] jenniferisasi commented on #1034
@walshbr I think that's a good plan! Hope they can make it.
I forgot to mention on my first post, that I can meet 10AM EST for the full hour or 11AM EST for about 30 min.

[2018-10-29 14:13] mpuren commented on #947
To help contributors to translate and write lessons in French according to inclusive writing, you can find some examples here.

"Author guidelines" can be translated in the following manner:
- consignes aux auteurs/auteures et aux traducteurs/traductrices
- consignes aux auteur(e)s et aux traducteur(trice)s

To translate a word according to the inclusive writing, you can apply the following rules.

[2018-10-29 14:13] #947 closed, assigned to mpuren

[2018-10-29 14:31] acrymble commented on #1056
It's been suggested that this could be done effectively online through a few morning skype sessions with an experienced editor.

[2018-10-29 16:29] walshbr commented on #1034
Follow up -
#721 - @mariajoafana and @jenniferisasi are putting in an ACH abstract.
#836 - French translations are at the point where they are ready to set a time with @mdlincoln to go over next steps.
#901 - i'm going
community survey tickets - going to email the group about this.

[2018-10-29 16:29] #1034 closed, assigned to amsichani

[2018-10-30 13:53] acrymble opened #1064 "Submission Repo previews not updating"
I am working on a lesson on the Submission Repo and it isn't properly rendering the changes I make to the files:

https://github.com/programminghistorian/ph-submissions/blob/gh-pages/lessons/gravity-model.md

The last 2 updates have not been updating properly. Note they both have a red x next to them in the 'history', suggesting an issue. But I don't know what the problem is.

https://github.com/p

[2018-10-30 14:07] walshbr commented on #1064
Thanks for pinging @acrymble - I was going to respond again to the other thread this morning.

Is [this](https://github.com/programminghistorian/ph-submissions/commit/5bfb40d2ab6c1e2ca68241d95494c12b79fe82f7) the commit that is not showing up for you?

I think it looks like the change there you made to make figure 8 into figure 7 is working for me but I'm not familiar enough with the lesson to kno

[2018-10-30 15:15] acrymble commented on #1064
@walshbr thanks for checking. That figure is supposed to be gone as part of the changes.

[2018-10-30 15:17] acrymble commented on #1064
@walshbr that might be the problem. I think I may have deleted the wrong figure, which is why I'm confused. Let me check.

[2018-10-30 18:16] acrymble commented on #1064
I'm not sure what you did @walshbr but it seems to be working now. Thanks.

[2018-10-30 18:16] #1064 closed, assigned to walshbr, mdlincoln

[2018-10-31 08:30] acrymble commented on #994
I have made a Wiki page where I've added some of my ideas https://github.com/programminghistorian/jekyll/wiki

Please contribute to this so that we can have some rich advice for our teammates.

[2018-10-31 08:36] #994 closed, assigned to acrymble

[2018-10-31 08:36] #687 closed, assigned to acrymble, drjwbaker, alsalin

[2018-10-31 11:57] drjwbaker commented on #1018
Re #1034, I'd say this is live but needs a development pathway to be outlined.

[2018-10-31 12:01] drjwbaker commented on #1019
We discussed this at #1011. In particular we discussed the fact that we ask for reviewers to join our pool https://programminghistorian.org/en/contribute#join-our-team-of-reviewers but then don't seem to use them. Which means we either need to use them or stop asking for reviewers to join the pool.

[2018-10-31 12:02] drjwbaker commented on #1021
Re #1034, this looks like we have a plan but need someone to take the job.

[2018-10-31 12:03] drjwbaker commented on #1022
Re #1034 I think this demands further discussion: perhaps at our November meet?

[2018-10-31 12:53] drjwbaker commented on #1023
Re #1034, perhaps we need a list of 'Would Like to Have' features for future technical development. This would take into account a) our lack of resource and b) that we don't want to forget good ideas. @mdlincoln: would this help planning of technical development?

[2018-10-31 17:17] mdlincoln commented on #1023
I think proposed technical features are already well-handed by issues.

[2018-10-31 18:27] drjwbaker commented on #1023
So what is the issue that needs to be opened here?

[2018-10-31 18:51] mdlincoln commented on #1023
I think... this _is_ the ticket for adding a nav sidebar for lessons?

[2018-10-31 19:05] mdlincoln commented on #1023
If we need a system for sorting which issues are backlogged vs. actively being worked on, we should use a [project board](https://help.github.com/articles/about-project-boards/) - I'll happily set one up.

[2018-10-31 21:23] drjwbaker commented on #1023
It *is* but it also isn't likely to be actioned soon, I suspect. So if you think a project board would be useful for parking useful ideas we don't have the capacity to action, let's set one up.

[2018-11-02 08:30] acrymble commented on #936
@mpuren @spapastamkou can you give us an estimate on publishing the French pages? We could then do this at the same time so that the pages in different languages stay syncronised.

Then we can close this issue.

[2018-11-02 08:31] acrymble commented on #901
@walshbr just a reminder from the last editorial call, you're going to look into whether or not your university can publish this worldcat entry, since @vgayolrs does not have a subscription.

[2018-11-02 10:15] drjwbaker opened #1067 "Annual Zenodo deposit (2018)"
I will make the 2018 Zenodo deposit next week (using the process outlined on our wiki https://github.com/programminghistorian/jekyll/wiki/Service-Integrations#zenodo). This will involve light editing our our 'About' pages (EN/ES/FR).

I do not plan to deviate from the [2017 deposit](https://doi.org/10.5281/zenodo.1046738). If you'd like to see something different, let me know on this ticket.

[2018-11-02 11:35] walshbr commented on #901
Yep yep - I talked with Amanda about this, and she gave me some things to follow up on. I'll report back.

[2018-11-02 13:55] walshbr commented on #901
The metadata person who can help with this is out until next week, but we're going to work together on this. I'll update soon.

[2018-11-03 03:37] vgayolrs commented on #901
Thanks @walshbr
Good news. I am in contact with [COLMEX](www.colmex.mx) librarians (whose [library](http://www.worldcat.org/webservices/registry/Institutions/46331) has an OCLC subscription) and next Monday I will request the inclusion of a PH entry in Spanish and also in English (it is better to have several entries in different libraries, as they explain to me). Hope update sun.

[2018-11-03 08:58] amsichani opened #1068 "November Editorial Agenda - 29 November 2018"
Time is 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET. I (@amsichani) will be facilitating the call.

Working agenda follows. Please add by commenting or editing this comment directly.

- [ ] #721 Current Research Projects or Submissions Pending about the Programming Historian.
- [ ] #1070 French Integration (incl  #1096)
    - [ ] #1072 Sample French lessons
- [ ] #

[2018-11-03 09:29] amsichani commented on #836
@spapastamkou @mpuren , as I missed last week's Skype, I see that you have now finish with translation/ editing and we are now at the point to ask @mdlincoln 's magic for merging the branch -he needs to secure extra time for this and it d be nice to have a more-or-less concrete timeframe for this. Do let me know where we are on this and if you need any help.

[2018-11-03 14:11] mdlincoln commented on #1023
OK, i've marked this as backlogged

[2018-11-03 14:40] mdlincoln commented on #836
Thank you for the huge amount of translation work you've all done @programminghistorian/french-team! Here's my plan for the next steps:

1. I'll do a first pass at bringing this branch up to date with all the changes that have happened in the last few months.
2. We will need to do a pass through both the snippets and the team bios, as some of these have been slightly changed and so there are a few

[2018-11-03 14:40] #836 closed, assigned to mdlincoln, amsichani, spapastamkou

[2018-11-03 14:41] mdlincoln opened #1069 "Create a French staging branch"
I'll create this branch that incorporates all the French infrastructure work and all the new changes to PH over the last few months. I will open a PR so that we can look at the live preview on Netlify. All additional work (including adding lessons) will happen on this branch.

[2018-11-03 14:46] mdlincoln commented on #1069
New branch is `french-staging`

[2018-11-03 14:46] #1069 closed, assigned to mdlincoln

[2018-11-04 13:32] mdlincoln opened #1071 "Streamline config.yml logic for lesson languages"
there should only be two properties: `lesson` (true/false) and `lang` (en/es/fr)

[2018-11-04 13:34] mdlincoln opened #1072 "Add one or two translated French lessons"
On the `french-staging` branch, I have created a directory `fr/lecons` to hold files for translated lessons. Would you be able to add one or two of your translations to this directory? It is alright if they are not fully edited, but I do want to test that French lessons and their images are displaying properly.

[2018-11-04 13:35] mdlincoln opened #1073 "Correct broken French links in snippets"
Most of the navigation items for French seem to be broken in the current build - there may be some formatting error in snippets that I need to correct.

[2018-11-04 13:42] mdlincoln opened #1074 "Update French translations for team biographies"
While work was happening on #836 a few author bios have been updated. When I tried to merge these changes, we had a few conflicts, and so I need folks to please review their biographies and check that they're all in sync, and please point out if any translations need to be updated.

We need to compare the `ph_authors.yml` translations in `french-staging` to keep them updated. A few individuals I k

[2018-11-04 13:44] #1071 closed, assigned to mdlincoln

[2018-11-05 08:13] drjwbaker commented on #1074
I think for me, just was just add 'Senior' to job title, plus https://github.com/programminghistorian/jekyll/pull/1035

[2018-11-05 09:13] spapastamkou commented on #1074
Will take care of that.

[2018-11-05 10:41] drjwbaker commented on #1067
Done https://github.com/programminghistorian/jekyll/pull/1075

[2018-11-05 10:41] #1067 closed, assigned to drjwbaker

[2018-11-05 14:56] #1073 closed, assigned to mdlincoln

[2018-11-05 15:12] mdlincoln opened #1076 "Add French translations for treasurer/sponsorship roles"
see `_data/teamroles.yml` on `french-staging`

[2018-11-05 19:59] mdlincoln opened #1077 "Fix favicon"
Not very important, but our site template would display a favicon (the little browser tab icon) if we had one - Jekyll actually complains quietly that we don't have it. I'll make a mini version of our logo.

[2018-11-05 22:50] spapastamkou commented on #1074
At this stage, files should be in sync. Please note that what is not updated in either branch is @mpuren 's bio both in EN and FR and also an ES translation has then to be added. I did not touch to avoid possible conflicts before merging.

[2018-11-05 23:23] spapastamkou commented on #936
I upload the file with the template in FR so that @mpuren has access to take a look. We can update the relevant page while we review our branch with @mdlincoln. Does that help, @acrymble ?
[Formulaire.Tutoriel.txt](https://github.com/programminghistorian/jekyll/files/2551006/Formulaire.Tutoriel.txt)

[2018-11-06 14:56] #1077 closed, assigned to mdlincoln

[2018-11-06 16:56] mdlincoln commented on #1021
I don't think this needs to be particularly fancy - just link to the ph-submissions tickets page.

[2018-11-06 18:29] walshbr commented on #901
Good news - http://uva.worldcat.org/title/programming-historian-en-espanol/oclc/1061292935

Our cataloger had some corrections to send in on the English entry as well. It should be noted as well - we had no place of publication listed because, I assume, we don't really have an office anyway. Our cataloger suggested the "Authors" listed as sponsoring institutions based on current conversations abou

[2018-11-06 18:34] walshbr opened #1079 "Onboarding EN Editor Checklist - LeBlanc"
Welcoming @zoeleblanc to the project! 🎊 This ticket tracks the onboarding process and all of the associated things that need to be done. Check things off as you get to them. We'll do the same, and let us know if you have any concerns?

What we will do

Within 2 weeks of your joining, our current team will ensure that you have been granted access to the following services used by the Project Team:

[2018-11-06 19:17] acrymble commented on #1079
@zoeleblanc can you please email me your google enabled email address so I can add you to the google group.

[2018-11-06 19:33] acrymble opened #1080 "Bogota Event - final blog post"
We've now got our video recap of the event published and we need to make it more visible. I'll write a blog post once the French infrastructural pages have been published (to avoid syncing conflicts):

https://www.youtube.com/watch?v=iO5aSCZgcKw

This will include an update on the outcomes of the event.

[2018-11-07 09:43] arojascastro commented on #901
You are right @walshbr about the Spanish numbering. The team was recruited by October 2016 but we didn't publish anything until 2017. Can we correct the numbering and the catalogue entry? It doesn't make any sense to have a phantom number 1.

[2018-11-07 13:56] walshbr commented on #901
@mdlincoln - this would be a question for you since I didn't work on that aspect of the repo. It would cause an issue for anyone who happens to have cited the current volume numbering system in the last few months since we implemented it, but would probably be better to correct sooner rather than later if we do want to do so.

[2018-11-07 16:30] vgayolrs commented on #901
Hi everybody:
On Monday, I asked the director of the COLMEX library to include PH in its catalog, so Colegio de México Library have incluide PH information as you can see in [this query](http://colmex-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?search_scope=52COLMEX_ALL&institution=52COLMEX&vid=52COLMEX_INST&query=title,contains,programming+historian).
 Hope there will b

[2018-11-08 13:39] acrymble commented on #901
@drjwbaker does this affect #897 ?

[2018-11-08 16:24] mdlincoln opened #1081 "Start ES issue numbering from 2017"
re: #901

[2018-11-08 16:25] mdlincoln opened #1082 "Set up FR issue numbering"
My guess is we won't launch until 2019.

[2018-11-08 16:26] mdlincoln opened #1083 "Worldcat entry for FR"
Post-launch need.

[2018-11-08 16:26] mdlincoln opened #1084 "ISSN for FR"
Post-launch activity

[2018-11-08 16:29] drjwbaker commented on #1084
To add, sooner we apply the better as we need this to get the DOAJ listing which takes at least 6 months (we still haven't got the ES DOAJ listing.. #897)

[2018-11-08 16:33] mdlincoln commented on #1084
@drjwbaker do you know if we actually need to have live content up in order to start the ISSN process? Or can it start ASAP?

[2018-11-08 16:34] mdlincoln commented on #1080
@acrymble don't wait for the French publish - new blog posts and new lessons don't interfere with anything.

[2018-11-08 16:49] spapastamkou commented on #1084
we could ask for more info to the British Library http://forms.bl.uk/bibliographic/index.aspx

[2018-11-08 16:51] acrymble commented on #1084
Our previous ISSN tickets outline the process: #147 #788

[2018-11-08 20:28] mdlincoln commented on #1084
Thanks for those pointers @acrymble - am I being obtuse, or do [these guidelines sound contradictory](http://www.issn.org/understanding-the-issn/assignment-rules/the-issn-for-electronic-media/)?

Well, I suppose it would be useful for someone to start the process anyway and see if they'll mint an ISSN for us in anticipation of the publication. Who is able to take point on this?

Once we have it, p

[2018-11-08 21:53] mdlincoln commented on #1068
Just a note that I will definitely want to talk about #1070 and the roadmap for French integration (which will touch on #918 and sponsorships)

[2018-11-09 00:07] #1081 closed, assigned to mdlincoln

[2018-11-09 00:08] spapastamkou commented on #1083
I have formerly worked in a library and have contacts with librarians. I will ask if an entry can be created when it's time.

[2018-11-09 15:16] drjwbaker commented on #901
@acrymble I don't think so, unless WorldCat can link through to DOAJ.

On publication location, how easy is it for us to request changes? (I see that per what @walshbr says above, PH ES is listed as published in Brighton, which is fine for now but I'd like to think we can diversify..)

[2018-11-09 15:24] walshbr commented on #901
@drjwbaker - I'm a librarian by coincidence rather than training, but my sense is that we'd just need a cataloging librarian to submit the changes.

I think before there was actually no publication listed for the English listing, presumably because there is no real location for the project. We chose Brighton based on TBA conversations, as it seemed like this location was the only real, likely to b

[2018-11-09 15:32] drjwbaker commented on #918
Due to TBA developments, reviving this separate from #878. Two points to consider.

1. I suggest in the first instance that we tweak https://programminghistorian.org/en/about#funding--ownership so that we separate current, legacy, and project based support.
2. I suggest that open a discussion about whether or not we want to add sponsor logos to our footer.

@mdlincoln Does this fit your needs?

[2018-11-09 16:03] acrymble commented on #918
Logo use has to be approved by the organisation who owns it. There are often branding rules about blank space, etc as well. Further, I think will look messy. So I don't think we should include logos in the footer.

[2018-11-09 17:12] JMParr commented on #918
Agree to what @acrymble said. A list of acknowledgements, thanking sponsors ought to be enough.

[2018-11-09 17:14] spapastamkou commented on #1084
thank you @acrymble. I'll start the process, @mdlincoln, and keep track of the progress here.

[2018-11-09 17:31] walshbr commented on #918
From a technical standpoint, given that logos are all unique and consist of different line heights, shapes, branding requirements, we should do this in a way that minimizes our need to re-CSS things with each new sponsor. I've done a footer design for sponsors in the past, and it required a fair amount of work to get the fairly different logos all playing aesthetically. And looking at the project

[2018-11-09 17:41] mdlincoln commented on #918
For the future, sure, maybe we'll need them - but for the immediate needs, if they even want logos, all it would need to be is images on the sponsorship page. So I wouldn't panic about footer logos quite yet.

[2018-11-09 17:49] walshbr commented on #1079
I added her to the twitter team @acrymble

[2018-11-09 18:31] mdlincoln commented on #855
Note that we explored one possibility here: https://github.com/programminghistorian/jekyll/pull/914

[2018-11-09 19:37] walshbr commented on #1079
#1086 will add a post for Zoe as well as the info needed for her bio and avatar. Besides all the other documentation for you to read @ZoeLeBlanc, we'll need to get you shadowing someone through the editorial process. Anyone got a lesson early in the pipeline who would be willing to volunteer?

[2018-11-12 14:15] ZoeLeBlanc commented on #1079
@walshbr I can email you my bio and avatar, and thanks for writing the post. I'll take care of some of the technical to-dos today, but no worries if there isn't a good lesson for me to jump on to right away for shadowing. We could also talk about contributing to the main site repo instead if that's easier right now.

[2018-11-12 14:21] drjwbaker commented on #918
Okay. 2. is out. Are we happy with what I suggest for 1.?

[2018-11-12 14:52] walshbr commented on #1079
@ZoeLeBlanc - there is an open PR where I took a run at your bio and photo - https://github.com/programminghistorian/jekyll/pull/1086. Feel free to edit those directly if you'd like or leave em if you want. They're pulled directly from your site and lightly edited for formatting/color/length is all.

[2018-11-14 07:35] mpuren commented on #1072
We will obtain some translations from the Ecole nationale des chartes. Students have translated some lessons in French for their English class, and their professor will send us soon these texts, and we can make a few tests with them.

[2018-11-15 01:53] mdlincoln opened #1087 "French translation for Zoe LeBlanc's bio"
Add to `french-staging` branch

[2018-11-17 14:58] mdlincoln opened #1089 ""PH in English"?"
Raised in #1088

Should we rename _The Programming Historian_ to _The Programming Historian in English_? What are considerations for/against?

[2018-11-18 20:34] acrymble commented on #1089
We'd have to look at the repercussions for the ISSN, the Wordcat entry, and generally for brand recognition. I'd be against it because I think the advantages are outweighed by possible headaches. I understand the merit of de-anglicizing the project.

[2018-11-19 09:09] acrymble commented on #1079
@ZoeLeBlanc I've added you to the Google Analytics account so you can see the traffic stats. If you could try that out and let me know if it's working that would be helpful.

[2018-11-20 07:56] drjwbaker commented on #1089
Agree there are repercussions for listings. Though I think brand recognition would be unaffected: we'd still be PH, but with PH in E, en ES, and en FR flavours.

[2018-11-20 23:17] vgayolrs commented on #1089
Next to the considerations on the ISSN, I think it should continue calling The Programming Historian. That was the name of the original project and it was the one that attracted us to try some first translations some time ago. Certainly the sites in Spanish and French will be able to create their own lessons - I hope more and more - but they are born as versions. Titling the page as The programmin

[2018-11-21 02:53] jenniferisasi commented on #1089
When I mentioned that I liked the idea of adding "in English" to PH I was only thinking it in terms of the landing page, to make the 3 blocks more uniform, as it still has "The Programming Historian" unaltered in any of the versions on the top-left corner; does that make sense?
I also think the repercussions for listings would be too big.

[2018-11-21 08:19] arojascastro commented on #1089
Yes, I agree with @vgayolrs and @jenniferisasi

[2018-11-21 13:56] ZoeLeBlanc opened #1090 "Zoe Test Ticket"
Test ticket for #1079

[2018-11-21 13:56] ZoeLeBlanc commented on #1090
Ticket exists 🎉

[2018-11-21 13:56] #1090 closed, assigned to nobody

[2018-11-21 13:59] ZoeLeBlanc commented on #1079
@acrymble I'm all set with the Analytics account. Very cool to see where all the traffic is coming from! I just crossed off most of the remaining todos. Now I just have contributing to an open ticket and shadowing someone. Let me know if there's anything I can do to move those issues forward!

[2018-11-21 15:29] CodaBae commented on #175
I'm getting the following when I visit our homepage: "GitHub Pages is temporarily down for maintenance."

https://codabae.github.io/codabae/

[2018-11-21 17:31] mdlincoln commented on #1090
so proud

[2018-11-22 19:27] efung opened #1091 "Improvements for "Reshaping JSON with jq""
- The full title of the lesson: `Reshaping JSON with jq`
- The system you are using: `Mac`

# Core jq filters
- Since there are references to the filename `jq_rkm.json` elsewhere, and the target of the link is to a file named `jq_rkm.json`, it might be clearer to have the anchor text be `jq_rkm.json` also.

# The Pipe: `|`
- In first paragraph, typo: `.artOjbects[]` should be `.artObjects[]`
- `ev

[2018-11-22 23:03] spapastamkou commented on #1084
We got it, just e-mailed this.

[2018-11-25 13:12] #1084 closed, assigned to mpuren, spapastamkou

[2018-11-25 13:12] mdlincoln commented on #1084
I've added this onto `french-staging`

[2018-11-25 13:27] mdlincoln commented on #1089
I do like the idea of making clear on the landing page that one is the PH in english, while still keeping the overall _Programming Historian_ title and not fundamentally introducing a new journal title. It sounds like we might all be in agreement on that.

This still raises a few questions:

1. Users will see a bit of a discrepancy between the apparent "title" of this journal _The Programming Hist

[2018-11-25 13:35] mdlincoln commented on #1091
Thanks very much @efung for finding these typos and suggesting some additions.

I'm going to fix the typos, as they are obviously incorrect!

For the time being, though, I'm probably not going to implement the additional improvements. While they're all well-taken, we'd need to do a fair bit of rewriting and testing to incorporate them all - something we generally try to avoid with _Programming His

[2018-11-25 17:35] mdlincoln commented on #1082
Added to `french-staging`

[2018-11-25 17:35] #1082 closed, assigned to mdlincoln

[2018-11-25 17:36] #1076 closed, assigned to mpuren, spapastamkou

[2018-11-25 19:36] mdlincoln opened #1093 "Recolor favicons based on page language"
Ornamental, but would be nice to have.

[2018-11-25 19:36] mdlincoln opened #1094 "Recolor header bar based on page language"

[2018-11-26 08:13] drjwbaker commented on #1089
Would just '(English version)' suffice? I feel as though we are at a point where a *very short* 'History of PH' could added to the About page (I often get asked and am slightly sketchy on some of the details myself..). This would help explain to readers why we have publications called PH en ES and PH en FR but don't call our EN publication PH in EN.

[2018-11-26 13:10] spapastamkou commented on #1089
does "initial English version" sound correct to you?

[2018-11-26 14:45] mpuren commented on #1074
Hi @jenniferisasi, could you please translate my bio in Spanish?

[2018-11-26 14:54] mpuren commented on #1087
Zoe Leblanc's bio and affiliation have been translated in French

[2018-11-26 14:54] #1087 closed, assigned to mpuren, spapastamkou

[2018-11-26 15:04] spapastamkou opened #1096 "Onboarding FR Editor Checklist - Laramée"
This is the onboarding editor checklist for @fdlaramee. Welcome to the project,François Dominic, you will find below the onboarding process. Please tick the boxes once done and we'll do the same.

## What we will do

Within 2 weeks of your joining, our current team will ensure that you have been granted access to the following services used by the Project Team:

- [x]  Our Google Group email so yo

[2018-11-26 15:10] mpuren commented on #1072
A few updates concerning the lessons already translated in French by the Ecole nationale des chartes students:
- The Ecole des chartes has contacted their students to obtain their agreement to publish the lessons in French.
- There are 4 lessons that have been entirely translated in French: Georeferencing in QGIS 2.0, Cleaning Data with OpenRefine, Creating an Omeka Exhibit, Python Introduction an

[2018-11-26 15:40] mdlincoln commented on #1072
@mpuren thank you for the update. Once you get the agreement, could you put those 4 lessons onto the `french-staging` branch before editing? We can replace them with the edited versions once you are done editing, but I would like to start testing out the French lesson displays as soon as possible.

[2018-11-27 13:12] fdlaramee commented on #1096
Thanks everyone. Will do!

[2018-11-27 13:35] #1091 closed, assigned to mdlincoln

[2018-11-27 13:39] amsichani commented on #1037
Hi team, sorry for the silence. Here is a draft plan for the ad-hoc translations policy (mainly for wiki use) - blog entry on its way in separate ticket for feedback . Please go ahead with suggestions, ideas. Also, we need some existing examples , if you are aware of any plz to let me know.

In my view and proposal , ad-hoc translations are a spin-off of the PH and they are not (necessarily) need

[2018-11-27 13:46] amsichani opened #1098 "Blog post: Linguistic diversity and ad-hoc translation of the Programming Historian’s lessons"
I am going to publish a draft version of the blog post  #1099 about the ad-hoc translations of the Programming Historian’s lessons, as discussed #1037. Please come along with suggestions , comments, ideas!

[2018-11-27 13:53] acrymble commented on #1096
I've added @fdlaramee to the google analytics and the google group.

[2018-11-27 15:04] mdlincoln opened #1100 "Make sure blog posts are automatically checked for absolute links"

[2018-11-27 16:39] mpuren commented on #1072
@mdlincoln : I think @spapastamkou will soon put a first lesson (on OpenRefine) onto the branch.

[2018-11-27 19:06] acrymble commented on #1080
this has been posted. https://programminghistorian.org/posts/model-workshop

[2018-11-27 19:06] #1080 closed, assigned to acrymble

[2018-11-28 10:56] spapastamkou commented on #1037
Hey @amsichani, here's some more info that could help. The context of thesee translations is a master called Digital Technologies Applied to History organised by the Ecole nationales des chartes (Paris, France). Her's their github: @Chartes-TNAH

What they do: tutorials of the PH (parts or on the whole) are translated by the students from English to French as part of their class assignments for th

[2018-11-28 11:36] acrymble commented on #1037
@spapastamkou I think there is some confusion. These ad hoc translations we're talking about are for languages we don't currently support (Russian, German, Chinese). This isn't to do with French translations.

[2018-11-28 12:15] amsichani commented on #1037
hi @acrymble, I see your point - but these FR translations, for when they were initially created, they were perfect examples of ad-hoc translation (they contacted PH about their initiative although they didn't want to share them at that point). In my view, the fact that these translations are now going to form the starting point of the FR full language initiative its a welcomed development and a h

[2018-11-28 12:23] acrymble commented on #1037
You're right that it's a good example, but I think we're confusing things (and incidentally that's how the Spanish initiative started as well - more or less). The purpose of this post, as far as I was aware, was to tell people what to do if they want to do a partial translation in a new language which we don't support. The options are:

a) Pitch a full translation of the project (https://github.co

[2018-11-28 12:31] spapastamkou commented on #1037
If this useful and if it is not already the case, perhaps it would be
interesting for @amsichani to take a look to the message sent at the time
for the FR translations and the discussions of the group that followed. It
gives an interesting insight for what was at the time a case of
spontaneaous ad hoc translations and issues it arose without an infra (and
internal human ressources) existing at the

[2018-11-28 15:15] amsichani commented on #1037
I 'm with you @acrymble and this is what I tried to do at this blogpost, while framing to the language diversity aspect of the project - it seems my attempt wasn't succesful enough.
Actually the paragraph "Although we are excited that.." describes and underscores the effort of the a) and the rest of the post desrcibes and strongly encourages b). Do you want me to make it more clearer?

Also, in te

[2018-11-28 15:30] mdlincoln commented on #1037
IMO option 1 is completely unsustainable. We aren't a personal blog. If they want to do an english, french, or spanish translation, they go through the regular editorial process.

[2018-11-28 21:14] jenniferisasi commented on #1074
Sure @mpuren! I will translate and update the file this weekend.

[2018-11-28 21:20] jenniferisasi commented on #721
María José, Antonio and I have submitted a paper proposal for [ACH 2019 Conference](http://ach2019.ach.org/): "Retos en la producción de tutoriales de HD en contextos hispanohablantes"

[2018-11-28 22:49] amsichani commented on #1089
I think a very _very_ short 'History of PH' would be a welcomed addition to the About page - I was also a bit puzzled when I needed to refer to its early days. Plus, its good now that the project is developing fast to remember our "origins" ;-)

[2018-11-29 08:38] arojascastro commented on #1037
I vote for 2 as well. People can translate and publish on different websites if they want, but we cannot commit ourselves to publish something that has not been reviewed according to our standards and mantain it in the long term. It would damage our "brand" (if we have that thing).

[2018-11-29 08:43] drjwbaker commented on #1037
@arojascastro: we do have that thing.

[2018-11-29 08:57] arojascastro commented on #1089
Definitely a "History of PH" with milestones (2008: Foundation, 2011: open to public in English, 2017: Spanish edition, etc.) would clarify many things.

[2018-11-29 09:16] drjwbaker commented on #1089
Hastily assembled from http://niche-canada.org/2018/03/23/a-decade-of-programming-historians/:

@acrymble: see as you've been here the longest, does that sound about right?

[2018-11-29 09:57] acrymble commented on #1089
Yes that is a correct history

On Thursday, November 29, 2018, James Baker <notifications@github.com>
wrote:

[2018-11-29 10:08] amsichani commented on #1037
Many thanks for your useful comments ! I do agree with your overall rationale.  I will update the ad-hoc translation policy (I guess a wiki page will be enough for this) & the blog post #1098 accordingly.

[2018-11-29 10:30] mpuren commented on #1074
Thank you @jenniferisasi !

[2018-11-29 15:09] drjwbaker commented on #878
No update since team email 22 October.

[2018-11-29 15:24] mdlincoln opened #1101 "Setup FR submission process for ph-submissions repo"
While I do this, I will work on a wholesale update of the submissions site preview pages, which I know have been slightly broken for a long time :(

[2018-11-29 15:25] mdlincoln commented on #1101
re: #967

[2018-11-29 15:46] mariajoafana commented on #1089
If I recall correctly the Spanish team was formed in 2016 and we launched the Spanish website in 2017

[2018-11-29 15:48] drjwbaker opened #1102 "Add 'History of The Programming Historian' to the About page."
Building on #1089. Proposed wording at https://github.com/programminghistorian/jekyll/issues/1089#issuecomment-442761221

Do we agree on this?

[2018-11-29 15:50] mdlincoln commented on #1089
In 2018-11-29 meeting, decided to try out putting a subtitle on the homepage only for the english version saying "initial English version" that will appear in slightly smaller font under the title. This won't be a full title change for the journal, just a useful text cue on the homepage. I'll add this to #1088

@drjwbaker will open up a new ticket for a proposed "history of PH" copy on the about p

[2018-11-29 15:51] arojascastro commented on #1089
"In 2018 we hosted our first Spanish-language writing workshop, started accepting new lessons in Spanish,"... well, we have always from the beginning accepted originals, but we got only a few ones until now, that were rejected... but I guess it is not a big issue how it is worded.

[2018-11-29 15:56] drjwbaker commented on #1022
Not sure what to do with this. Some ideas:

- manually go through adding solid links between lessons (there is an infrastructure for this in the lesson template as @mdlincoln points out).
- consider if the issue is that new users don't know where to go. Perhaps we need a blog on 'Where to Start with PH' given that we now have such an amazing wealth of lessons.
- something else?

[2018-11-29 16:04] drjwbaker commented on #1089
@arojascastro Does the edit here https://github.com/programminghistorian/jekyll/issues/1102#issue-385799569 work?

[2018-11-29 16:08] arojascastro commented on #1089
@drjwbaker thanks! it's better. one more question: "Python and was published open access as a Network in Canadian History & Environment (NiCHE)" - I always thought that that (let's say) *iteration* was a closed publication, not open access. Can @acrymble confirm?

[2018-11-29 16:11] drjwbaker commented on #1102
Replying to @arojascastro https://github.com/programminghistorian/jekyll/issues/1089#issuecomment-442890887 that confused me as well, but I took it from this line at http://niche-canada.org/2018/03/23/a-decade-of-programming-historians/:

[2018-11-29 16:12] acrymble commented on #1089
You can still download it for free and openly. That's open access.

[2018-11-29 16:12] arojascastro commented on #1102
Interesting...

[2018-11-29 16:13] arojascastro commented on #1089
cool, good to know

[2018-11-29 16:22] #1089 closed, assigned to mdlincoln

[2018-11-29 16:50] spapastamkou commented on #979
Hey @programminghistorian/spanish-team, could someone please translate in Spanish in the `french-staging` branch? (I also pin shamelessly @jenniferisasi :-))

Small reminder:
- it is about modifying (partly) this part https://programminghistorian.org/es/contribuciones#traduce-una-lecci%C3%B3n

- the text to insert is the following:
"If you are fluent in more than one of our supported languages (Fr

[2018-11-29 17:12] alsalin commented on #1022
Could we setup some kind of learning paths portal under Lessons? There we could group lessons, a kind of curated list in some sort of order of difficulty, and people could follow that list. We wouldn't have to hard code links into the lessons, just keep that page updated. It being centrally located would be easier to find for newcomers as we could link to that page from anywhere, specifically the

[2018-11-29 18:43] mdlincoln commented on #1022
Is this is a need our `category` and `activity` filters should be meeting, but aren't? We already have that functionality for grouping lessons - do we need to build a whole new thing, or just repurpose existing infrastructure that isn't doing its job?

[2018-11-30 08:22] drjwbaker commented on #1022
Our various filters are great. I'm looking at our yaml setup https://programminghistorian.org/en/editor-guidelines#3-add-yaml-metadata-to-the-lesson-file and perhaps it is something as *simple* (?) as adding a new topic called something like 'Getting Started', in which we put a **very small** number of lessons that are basic building blocks (that is, most of us probably know how to do them) and (i

[2018-11-30 09:00] mpuren commented on #1072
#[https://github.com/programminghistorian/jekyll/commit/14b7e111b356ac4d599e10decbce68b11163d8b3](url)

[2018-11-30 09:10] mpuren commented on #1072
@mdlincoln I've put a new lesson onto the `french-staging` branch

[2018-11-30 10:04] mpuren commented on #1072
@mdlincoln And I'm working on a third lesson ("Building static sites with jekyll and Github Pages). I think I will be able to put it onto the branch next week.

[2018-11-30 10:49] amsichani opened #1103 "December Editorial Agenda - Thursday 20 December 2018"
Thursday 20 December 2018. Time is 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET. I (@amsichani) will be facilitating the call.

Working agenda follows. Please add by commenting or editing this comment directly.

- [ ] #721 Current Research Projects or Submissions Pending about the Programming Historian.
- [ ] #1070 French Integration (incl  #1096)
    - [ ] #1072 Sa

[2018-11-30 10:49] #1068 closed, assigned to amsichani

[2018-11-30 12:11] acrymble commented on #1068
Can we please get in the habit of leaving minutes on these so that people who didn't attend have some context for what happened? Or that we can come back to them in future if needed?

[2018-11-30 12:12] acrymble commented on #1072
Are these authors willing to go through the review process?

[2018-11-30 13:33] spapastamkou commented on #1072
The facts are that they authorized the use of their translations for the PH
in FR; and they all have github accounts we can use for a review process.
Maybe before launching a review process, each editor (of us) can contact
the author in order to explain precisely what is to be done and make sure
we have the author's consent for the review. Would that be okay?

[2018-11-30 13:33] amsichani commented on #1037
Hey team, many thanks for your productive feedback on this. I 've now updated the blogpost #1098, please go ahead with suggestions. II am also happy if we feel is necessary to move this also to the wiki pages. As agreed also at the Skype meeting yesterday (29-11-2018) , I ll start a ticket/list for keeping track of ad-hoc translations.

[2018-11-30 13:56] mdlincoln opened #1104 "Enhanced language switcher on menu bar"
I think it'd clarify what hitting the en/es/fr links in the menu bar would do if we had a button group that displayed all three languages and highlighted the active one, a la https://getbootstrap.com/docs/4.1/components/buttons/#checkbox-and-radio-buttons

[2018-11-30 14:18] amsichani commented on #1068
good point @acrymble --

- [ ] #721 : @arojascastro  @amsichani @jenniferisasi presenting a paper at EADH2018 next week.
- [ ] #1070 :  @mdlincoln to update the submissions site preview pages (now #1101)
@mpuren and @spapastamkou to add 2-3 translated lessons  #1072
separate meeting with @fdlaramee - keep an eye on his boarding process #1096
@programminghistorian/spanish-team to assist FR team on

[2018-11-30 14:19] drjwbaker commented on #1068
By minutes, I presume you don't want full minutes (she said, they said, he said) but rather a list of..

- action points
- decisions made
- major discussion points

..with each attached to Issues?

[2018-11-30 14:20] drjwbaker commented on #1068
(@amsichani: sorry, missed your reply before I posted!)

[2018-11-30 14:27] acrymble commented on #1068
@drjwbaker yes, sorry. Not full minutes. Just a bit of context as we now have. Thanks @amsichani

[2018-11-30 14:29] acrymble commented on #1103
Can I propose we take a break until January, and enjoy the year-end? :)

[2018-11-30 14:33] amsichani commented on #1103
I d say lets see people's availability on these dates based on doodle results (go ahead with zero availability as a choice, I d say) - we can always have smaller Skype meetings, just for the FR and ES task forces, as they need to work on several tickets.

[2018-11-30 14:37] acrymble commented on #1072
I think I'm a bit confused.

I understand that these lessons have been translated by students. I'm less clear if those students want to go through our submission process and follow through with all of the work that entails. As you can see on our submissions site (https://github.com/programminghistorian/ph-submissions/issues) that's a process that typically takes several months and several rounds o

[2018-11-30 15:47] spapastamkou commented on #1072
Oh no, nothing started yet, @acrymble, the question was only raised during November's meeting precisely to see how we can prepare to organize this in time, in view of the FR web site's release, and ask feedback or guidance from the rest of the team.

We have not checked all the lessons yet (some more arrived today) but at least some of them need a considerable editorial work. So I would not say we

[2018-11-30 16:01] acrymble commented on #1072
ok thanks for clarifying. I'm happy to help if that help is useful.

[2018-11-30 16:13] spapastamkou commented on #1072
no way for you to escape:) thanx in advance

[2018-11-30 17:03] jenniferisasi commented on #1103
I can definitely meet with the FR team that week to talk about translations for a global audience and how the revision process works. Plus, I'll be in Spain for Winter break so it should be easier to set up a time

[2018-11-30 17:42] mpuren commented on #1072
Thanks @spapastamkou, you have said everything! Concerning the two lessons we’ve received this morning: one is complete (on Jekyll and Github Pages). I have to add the header and to check the Markdown is well defined. But soon @mdlincoln , there will be a third lesson to test the French version

[2018-11-30 19:02] mlincoln commented on #1072
@mpuren Looks like an interesting project, but I think you meant to tag @mdlincoln

[2018-12-01 14:17] #936 closed, assigned to acrymble

[2018-12-01 14:20] mdlincoln commented on #1072
OK, thank you. I will close this issue for now since I just needed one or two example lessons to start testing.

[2018-12-01 14:20] #1072 closed, assigned to mpuren, spapastamkou

[2018-12-01 15:48] mdlincoln opened #1105 "update translation metadata check"
Needs to work with any translated lesson, not just Spanish lessons

[2018-12-01 15:56] mdlincoln opened #1106 "even out spacing of lesson metadata"
![](https://screenshotscdn.firefoxusercontent.com/images/b1e1f586-1d32-43f7-a735-9ddb955b0e96.png)

This uses bootstrap `col`s right now but should probably use `flexbox` instead for better justification.

[2018-12-01 16:06] #1105 closed, assigned to mdlincoln

[2018-12-01 16:48] mdlincoln commented on #967
I've updated the includes so that the figures ought to now show up for all lessons. You will noticed that I removed most of the metadata displays from the preview pages because they are extremely intricate and didn't make sense to try and maintain for these previews, which just focus on lesson content display and line numbering.

[2018-12-01 16:48] #967 closed, assigned to mdlincoln, vgayolrs

[2018-12-01 17:12] mdlincoln commented on #1101
@programminghistorian/french-team  I have uploaded the first two translations to the ph-submisisons site in the `fr/traductions` folder. You can see the previews now at `http://programminghistorian.github.io/ph-submissions/fr/traductions/LESSONNAME` e.g.  http://programminghistorian.github.io/ph-submissions/fr/traductions/nettoyer-ses-donnees-avec-openrefine

You will still need to upload images t

[2018-12-01 18:46] fdlaramee opened #1107 "Dummy issue created as part of my onboarding process"
Just going through the process. Nothing to see here.

[2018-12-01 18:50] fdlaramee opened #1108 "Missing sentence/fragment in the Editor Guidelines"
On the Editor Guidelines page, section "3) Add YAWL metadata", the **difficulty** bullet point seems to be missing a code snippet. The current text reads as follows:

Nothing follows the colon at the end of the paragraph.

[2018-12-01 18:52] fdlaramee commented on #1096
I will assume that this comment qualifies as the " contribute to one open ticket on our github repository " mandatory task required by my onboarding process. If not, please let me know.

[2018-12-02 17:32] jenniferisasi commented on #1074
Updated through on pull request #1109 and awaiting review.

[2018-12-02 17:50] jenniferisasi commented on #979
I have update our contributions file with the new text (sorry I had forgotten about it), using the `french-staging` branch but no pull-request is showing...

[2018-12-02 17:54] mdlincoln commented on #979
@jenniferisasi that is normal - if you look now on the pull request, you'll see that your commit has been added to the total changes in that PR

![](https://screenshotscdn.firefoxusercontent.com/images/138f6803-0088-4cc7-adc3-0172ffb113c5.png)

[2018-12-02 17:58] mdlincoln commented on #1107
Thank you!

[2018-12-02 17:58] #1107 closed, assigned to fdlaramee

[2018-12-02 18:01] jenniferisasi opened #1110 "New translation: descarga-automatizada-con-wget"
Uploading the translation of descarga-automatizada-con-wget to publish.

[2018-12-03 09:17] arojascastro commented on #967
Many thanks @mdlincoln

[2018-12-03 14:13] fdlaramee opened #1112 "Onboarding process: adding my picture and updated bio to the repository"
As requested in #1096 I am adding a black and white picture in /avatars and updating my bio information in /data/ph_authors.yml

This should complete my part of the onboarding process.

[2018-12-03 18:17] spapastamkou commented on #979
thank you very much @jenniferisasi :)

[2018-12-03 18:17] #979 closed, assigned to mpuren, spapastamkou

[2018-12-04 03:07] mdlincoln opened #1114 "Use slugify filter on team member contact info"
in `_includes/contact_info.html` we have a messy patch that converts selected diacritics to latin. I'd like to use the liquid `slugify: "latin"` filter, but this also lowercases the names. This doesn't actually cause a problem serving the images, but it makes htmlproofer complain.

Will figure out a workaround.

re #1113

[2018-12-04 03:13] #1112 closed, assigned to fdlaramee

[2018-12-04 07:57] acrymble opened #1115 "Laramée at top of project team list"
The alphabetical order filter on the project team list seems to not be working. I suspect this is to do with the workaround to get the avatar of Francois to appear properly: https://programminghistorian.org/en/project-team

[2018-12-04 07:58] acrymble commented on #1103
As we get larger, do we want to adjust to a format in which each subteam nominates someone to give an update on that team's progress that month? It doesn't have to be the same person each month but having one spokesperson might be a way to make sure we all know what's happening?

[2018-12-04 12:49] mdlincoln commented on #1115
It's because he's missing a `sortname` field in his metadata. If you can add that it's be great - I'm on my phone ATM.

[2018-12-04 12:58] mdlincoln opened #1116 "strict liquid filtering"
I'm going to explore enabling [strict liquid filtering](https://jekyllrb.com/docs/configuration/liquid/) which will cause our checks to throw errors when any YAML fields are empty that the site expects to be filled. Our dependence on YAML is very high now, so it probably makes sense to use this, even though it will mean that the Travis checks become even more onerous.

[2018-12-04 13:12] mdlincoln commented on #1116
Set `strict_variables: true`

[2018-12-04 14:09] mdlincoln commented on #1116
This option is only available in jekyll 3.8.0, however github-pages 3.9.3 pins jekyll 3.7.4 instead - we'll need to wait for them to increment their own jekyll.

[2018-12-04 14:24] #1115 closed, assigned to acrymble

[2018-12-04 14:54] drjwbaker commented on #1116
In the meantime what can we do to minimise time spent looking for why a build has failed? (which - I'm hoping - strict filtering has enough verbosity to help us with)

[2018-12-04 15:00] mdlincoln commented on #1116
well, this switch would be to make builds fail more often. Right now problems like #1115 are because jekyll tends to silently ignore when a metadata variable is missing - it just fills it in as a blank string and keeps processing. So it's not that builds are failing, but that they're _working_ and then publishing incorrect content.

[2018-12-04 15:03] mdlincoln commented on #1116
This is a result of us sort of pushing jekyll to its limits. Normally this kind of tight interconnection of different bits of metadata would be handled by a an ORM hooked up to a database that would constantly validate things for us. Jekyll is generally meant to be a lot more lightweight than how we're using it. It's possible to build out the custom lesson metadata checks to also validate the auth

[2018-12-04 15:10] jenniferisasi commented on #1103
@acrymble I think that's a really good idea.

@amsichani, we decided not to extend the deadline for the editor search, as I received a few applications a couple of hours before the deadline US time. I'll update on the next step.

[2018-12-04 15:14] drjwbaker commented on #1116
Okay. So this then is a case of "please read the docs and get the formatting right"?

[2018-12-04 15:17] mdlincoln commented on #1116
Yeah, kind of :( And also for us to be a bit more eagle-eyed during the PR review process. For example, I didn't realize his bio was showing up out of alphabetical order, and I approved it anyway! So.

[2018-12-04 17:20] jenniferisasi opened #1118 "Edit: Procesamiento básico de textos en R"
While preparing some snapshots for a presentation on this tutorial, I found that there is some markdown that is wrong, so I'm fixing it.

[2018-12-05 01:27] mdlincoln commented on #1116
A complicating factor in using this is that, currently, `strict_variables` throws an error _even when you are checking to see if a variable exists!_ Luckily some others agree this is odd behavior, and there's an open ticket: https://github.com/Shopify/liquid/issues/1034#issuecomment-444323003

[2018-12-05 01:27] mdlincoln commented on #1116
also fwiw, even if github-pages hasn't yet adopted jekyll 3.8.0, we can use jekyll 3.8.0 in our build checks with Travis, so that isn't a blocker.

[2018-12-05 01:39] #1118 closed, assigned to jenniferisasi

[2018-12-05 01:39] mdlincoln commented on #1118
closed by #1119

[2018-12-05 02:08] mdlincoln commented on #1108
@acrymble I think you last edited these guidelines - could you please take a look?

[2018-12-05 02:08] #1101 closed, assigned to mdlincoln

[2018-12-05 19:48] SchaeG1 opened #1122 "Broken link"
I encountered an error when I tried to navigate to The Programming Historian using this link: [https://programminghistorian.org/en/lessons/exploring-and-analyzing-networkdata-with-python]

[2018-12-05 19:53] mdlincoln commented on #1122
Thanks for the report! We've never published anything under that url, but we do have a lesson at https://programminghistorian.org/en/lessons/exploring-and-analyzing-network-data-with-python

[2018-12-05 19:53] #1122 closed, assigned to nobody

[2018-12-05 21:12] spapastamkou opened #1123 "Welcome blog post for FD Laramée"
I prepared a blog post to announce @fdlaramee 's joining the PH team (cf. #1096). We checked already together, as I asked for bio info. Any remarks welcome especially for short intro and final part.

[2018-12-05 22:32] spapastamkou commented on #1123
@mdlincoln : I opened an issue instead of a pull request. Please let me know if you prefer that I do the latter

[2018-12-05 22:53] spapastamkou commented on #1102
The comment is for the last phrase.
In the place of: "In 2019, we will launch _The Programming Historian en français_." would it be ok to consider smth like: "In the same year we also added a French language sub-team in order to launch  _The Programming Historian en français_ in 2019"?
Only if this is useful to show some continuity as to the addition of language sub-teams; and maybe avoid to have

[2018-12-06 08:24] acrymble commented on #1123
You might just outline briefly what he will be working on for the French edition, to give people a sense. Otherwise I think it's fine.

Thanks.

[2018-12-06 08:38] acrymble commented on #1122
Where did you find that broken link @SchaeG1 ?

[2018-12-06 08:45] drjwbaker commented on #1102
Good idea @spapastamkou, so can we agree to:

[2018-12-06 09:02] drjwbaker commented on #1123
Added to which, it might be worth using the blogpost to *briefly* make note of how much work has gone into PH-FR so far (FR team understanding how PH works, **lots** of non-lesson page translation, getting the technical and social infrastructure working, first batch of translated lessons coming together) and how close you are to launch.

[2018-12-06 09:35] SchaeG1 commented on #1122
It was posted as a tutorial for one of my Computer Science courses. It worked awhile ago, but it stopped working not too long ago.

On Dec 6, 2018, at 12:38 AM, Adam Crymble <notifications@github.com<mailto:notifications@github.com>> wrote:

Where did you find that broken link @SchaeG1<https://github.com/SchaeG1> ?

—
You are receiving this because you were mentioned.
Reply to this email directly,

[2018-12-06 11:36] acrymble commented on #1122
Thanks. I think it's just a matter of a typo by your lecturer. That's not something we can fix since it isn't on our own website. But thanks for letting us know.

[2018-12-06 14:41] mdlincoln commented on #1108
@acrymble @fdlaramee So when we make changes to any pages that have been translated into multiple languages, it's important to make sure those edits are also applied to the other versions of that page.

This same addition needs to be synced to both the Spanish and French versions of this page.

- [ ] Please open a new PR for the Spanish page.
- [ ] Add this edit to the French pages by directly com

[2018-12-06 14:44] mdlincoln commented on #1108
To see the guidelines for tagging reviews in the alternate languages to help review translations, make sure to check out our wiki: https://github.com/programminghistorian/jekyll/wiki/Making-Technical-Contributions#the-pull-request

[2018-12-06 14:45] fdlaramee commented on #1108
@mdlincoln How would you like me to proceed? Do I just make the changes to french-staging myself (directly in that branch and not opening a new one) and do you want me to tag a Spanish-language reviewer to continue?

[2018-12-06 14:48] acrymble commented on #1108
The problem is unique to the English page, as it was a typo, it wasn't
translated incorrectly.

On Thu, Dec 6, 2018 at 2:45 PM fdlaramee <notifications@github.com> wrote:

[2018-12-06 14:51] mdlincoln commented on #1108
No @acrymble, the English version now includes a code block with example, while the Spanish (and French?) versions don't

currently published english:

![](https://screenshotscdn.firefoxusercontent.com/images/4ffc91a9-0235-4d77-8526-affdfb215dbe.png)

Currently published Spanish

![](https://screenshotscdn.firefoxusercontent.com/images/fa7feb2e-927d-47a5-a4f4-98d1be756e7e.png)

[2018-12-06 14:53] mdlincoln commented on #1108
And yes, [see here](https://github.com/programminghistorian/jekyll/issues/1108#issuecomment-444893167) to add the Spanish edits as a PR, and the french edits as direct commits to the `french-staging` branch

(once we've gotten `french-staging` published this all becomes much easier, as any change to an infrastructure page will have all commits to all languages in one single PR before it's approved

[2018-12-06 19:12] mariajoafana commented on #1051
I'm going to post below the revised workflow and close de issue. It can be reopened if needed and can be searched when a new member joins the team.

1. editor receives lesson proposal following the template according to #936 proposal template. If the editor has doubts (almost always), sends a consultation to the editorial team via email (google-groups). You might not get agreement from the editori

[2018-12-06 19:12] #1051 closed, assigned to acrymble, drjwbaker, arojascastro, jenniferisasi, vgayolrs, mariajoafana, jamotilla

[2018-12-07 00:09] mdlincoln commented on #1123
yes @spapastamkou you can open a pull request from the branch you created. let me know if you need any help doing that

[2018-12-07 14:14] fdlaramee commented on #1108
@mdlincoln The "see here" link you provided just loops to this page.

I ran a PR on the branch but nothing happened because "there is nothing to compare". Probably because the update has already been committed to the English version. (My bad.) Or maybe because one of the Spanish editors intercepted the issue and ran with it?

And apparently someone beat me to the French version.

[2018-12-07 14:20] mdlincoln commented on #1108
:P the "see here" pointed back to my comment where I had already said please open a new PR - sorry for the confusion :D

Did you push new commits to the branch? If so, then it should see differences and allow you to open a PR. If that's giving you problems, just create a brand new branch and put the spanish changes there.

[2018-12-07 16:00] jenniferisasi commented on #1108
Hi all,

Sorry for my confusion here, but, not sure if we want to add the edit/change that @acrymble did.
Our guidelines in that section "Add YAML metadata to the lesson file" has more information or instructions and are a tiny bit different because it points to the translation... and for difficulty, for instance, we explain that there are three levels on the paragrah but on the block we have a "k

[2018-12-07 16:46] mdlincoln commented on #1108
Thanks for that explanation @jenniferisasi. However, won't you need this info for the case when an original lesson - not a translation - is begin submitted in Spanish? How does the Spanish team want to explain those cases in the editor guidelines?

[2018-12-09 13:28] mdlincoln opened #1126 "translation concordance doesn't properly link french lessons"
it's repeating the spanish page titles and URLs in the french column

[2018-12-09 13:40] #1114 closed, assigned to mdlincoln

[2018-12-09 13:41] #1110 closed, assigned to jenniferisasi

[2018-12-09 13:49] mdlincoln opened #1127 "make sure to push to french-infrastructure"
@spapastamkou I noticed that you pushed a commit a few days ago to a branch you called `french-infrastructre` - please make sure that you put commits for the French pages onto the `french-staging` branch instead, otherwise they won't get published when we eventually merge the pages.

[2018-12-09 15:36] jenniferisasi commented on #1108
Thanks @mdlincoln and sorry for my late response! Upon reading both the editors' and authors' guidelines again, I think that we need to adjust the wording a little bit. We are mixing translation and original, or assuming that the editors are going to just drop the fields for translation - and all of us know we can just drop them, but it should be more clear. I'll take care of it.

[2018-12-09 15:55] spapastamkou commented on #1127
I did so, it was a mistake while choosing the branch to commit. Actually, right afterwards, I did the commit onto the right branch (but without the ticket number), it this one here: https://github.com/programminghistorian/jekyll/commit/c684b346053aef91ed51ddd282e2fe2dcd4c604b
Sorry for the confusion!

[2018-12-10 08:04] drjwbaker commented on #897
6 months have now elapsed so I have contacted DOAJ for an update.

[2018-12-10 14:07] mdlincoln commented on #1127
oh ok, good! As long as the change made it on to the `french-staging` branch that is fine :)

[2018-12-10 14:07] #1127 closed, assigned to spapastamkou

[2018-12-10 14:12] mdlincoln commented on #1108
Thank you for taking a look @jenniferisasi. I agree, as we shift to having our first lessons in languages other than English, we will also need to come up with translation guidelines for the English team! It may be worth checking in on the progress of the new Spanish lessons under review and think about timing for launching them...

[2018-12-10 19:00] #1123 closed, assigned to nobody

[2018-12-10 20:19] spapastamkou commented on #1096
I assume @fdlaramee will be shadow editor whenever possible in the near future, so I close this ticket.

[2018-12-10 20:19] #1096 closed, assigned to spapastamkou

[2018-12-11 08:11] acrymble opened #1130 "updated entries on /research"
I came across a few Fred Gibbs contributions I need to add to our research page:

http://fredgibbs.net/posts/reflections-former-PH-editor
http://fredgibbs.net/assets/images/ph-poster/final-board.png

We also need to add the paper just delivered in Ireland.

[2018-12-12 13:28] mdlincoln commented on #1103
I wanted to check in on the schedule for the (two?) original Spanish lessons currently under review (https://github.com/programminghistorian/ph-submissions/issues/185 and https://github.com/programminghistorian/ph-submissions/issues/197) - because these will be our first lessons published originally in Spanish, I want to make sure I'm available to check that they're technically working ok, especia

[2018-12-14 14:05] ZoeLeBlanc commented on #1018
I'll be working on this the next few weeks. Please let me know if anyone has any thoughts or ideas. Thanks!

[2018-12-14 14:05] ZoeLeBlanc commented on #1018
All finished 🎉

[2018-12-14 14:30] acrymble commented on #1018
I think you meant to close #1079

[2018-12-14 14:31] #1079 closed, assigned to walshbr, ZoeLeBlanc

[2018-12-16 08:40] amsichani commented on #1037
hi all, I just wanted to touch base on this - whether we are happy with the blog post text #1098 so we could publish it before holidays.

[2018-12-16 14:12] mdlincoln opened #1131 "rename fr/feedback.md"
Unfortunately, the architecture I have used to link between translated pages means that our pages need to have unique file names, even if they're in different directories. Is it possible to rename `fr/feedback.md` to a different term, so that it doesn't conflict with `en/feedback.md`?

[2018-12-16 14:17] mdlincoln commented on #1131
re: #1126

[2018-12-16 14:31] mdlincoln commented on #1126
closed with #3ba54958

[2018-12-16 14:31] #1126 closed, assigned to mdlincoln

[2018-12-16 22:06] #1108 closed, assigned to jenniferisasi

[2018-12-16 22:56] mdlincoln commented on #1131
thanks!

[2018-12-16 22:56] #1131 closed, assigned to mpuren, spapastamkou, fdlaramee

[2018-12-17 01:57] #1100 closed, assigned to mdlincoln

[2018-12-17 09:04] arojascastro commented on #1037
Thank you @amsichani - it looks good. Maybe in this paragraph:

We could add that we want to keep a record of it and add the bibliographic reference (if available somewhere else online) and provide a link?

Maybe... but it is up to you :)

[2018-12-17 12:07] #1098 closed, assigned to amsichani

[2018-12-17 12:13] mdlincoln commented on #1033
Hi @jenniferisasi just checking in on what needs to be done to close this ticket?

[2018-12-17 12:24] mdlincoln commented on #915
@drjwbaker would you be able to make a PR for this soon, adding the base text to the about page? Then we can get ES and FR translations, and then I can move on to adding particular sponsors to the `french-staging` branch.

[2018-12-17 12:33] #1093 closed, assigned to mdlincoln

[2018-12-17 12:33] #1094 closed, assigned to mdlincoln

[2018-12-17 12:34] mdlincoln commented on #1037
now published at https://programminghistorian.org/posts/ad-hoc-translation

[2018-12-17 12:34] #1037 closed, assigned to amsichani

[2018-12-17 17:21] drjwbaker commented on #915
@mdlincoln I'm afraid there has been a hold up, so the financial mechanism behind this text won't be going live for a bit. I'm guessing we need some wording - however - in recognition of the support we are getting through you for the FR work.

So what about this slimmed down text (below) that we used as a placeholder - and translate - until the financial mechanism is in place?

----

The Programmi

[2018-12-17 17:59] mdlincoln commented on #915
Oh dear, ok - thank you for the update! Yes, I hope we can still go ahead with the sponsor page and then add in direct donation info when that's available - seems like a reasonable compromise.

Any objection to moving "current sponsors" to a more prominent position further up this list, say before the "Donate to us" or before the "sponsor us" subheads?

Also, I'm realizing now this looks quite exp

[2018-12-18 09:11] drjwbaker commented on #915
Re new page, my bad. We agreed above https://github.com/programminghistorian/jekyll/issues/915#issuecomment-408108041 that this would be a new 'Support Us' page. The one remaining question is how this interacts with the 'Funding and Ownership' part of the existing About page https://programminghistorian.org/en/about#funding--ownership @mariajoafana @acrymble Given you are the most recent team memb

[2018-12-18 09:40] acrymble commented on #915
Our lessons are being individually sponsored. The outputs of the British Academy Bogota workshop were sponsored. Anyone who produces a lesson as part of a research grant will be sponsored. It's standard practice in publications for funding to be acknowledge, so we need to keep that option available.

I'm less ideologically driven by the need to justify why we would want money. I don't think we nee

[2018-12-18 10:05] drjwbaker commented on #915
Because we agreed that: a) if we plan to ask for money via donations, we should tell people why they might want to support us; b) if we plan to accept sponsorship, we should tell readers that sponsorship doesn't fundamentally change what we do, our values, that we can be 'bought' (e.g. just because CMU are now involved, doesn't now make this a CMU project that does what CMU wants); c) this is a go

[2018-12-18 14:40] jenniferisasi opened #1132 "Adjust Editor Guidelines in Spanish"
As noted and discussed in issue #1108, I am going to edit the wording in the Editor Guidelines to make a differentiation between original lessons and translations.

My note: Upon reading both the editors' and authors' guidelines again, I think that we need to adjust the wording a little bit. We are mixing translation and original, or assuming that the editors are going to just drop the fields for

[2018-12-18 14:47] jenniferisasi commented on #1033
Hi @mdlincoln. The lesson has to be edited to fix the contextual error in the [arrange function](
https://programminghistorian.org/en/lessons/data_wrangling_and_management_in_R#arrang) section, and the typos. The issue I had with the link to download the date is not an issue in other browsers so it should be fine.  Should I go ahead and make the changes?

[2018-12-18 14:48] mdlincoln commented on #1033
yes, please make a PR. Thanks!

[2018-12-20 11:15] jenniferisasi commented on #1033
Edited.

[2018-12-20 11:15] #1033 closed, assigned to jenniferisasi

[2018-12-20 12:59] #1132 closed, assigned to jenniferisasi

[2018-12-20 15:42] drjwbaker commented on #1102
Close with https://github.com/programminghistorian/jekyll/pull/1135

[2018-12-20 15:47] drjwbaker commented on #1018
If happy to be involved in this piece of work if you need a less techy person on it.

[2018-12-20 15:54] mdlincoln commented on #1018
Yes! From 2018-12-20 meeting:

We need to develop user stories to help guide our implementation:
  - what is the pathway for someone entering the site who doesn't know anything about the site and wants to e.g. see pathways, see different categories of lessons
  - what is the pathway for someone who is looking for a specific tech they know has been discussed (e.g. SPARQL) but needs to find the less

[2018-12-20 15:58] jenniferisasi opened #1136 "Translation Editorial Process - Meeting"
I'm opening this issue to set up a time in January to run the French team on the editorial process of reviewing and publishing translations.
I will also mentor and "oversee" the first translation edition of the French team.

[2018-12-20 16:03] drjwbaker commented on #897
So we have a response:

I find this response very odd given that DOAJ has listed PH EN for some time and that PH ES has an ISSN. I've responded on our behalf. Hopefully they'll change their mind.

For info, pinging @spapastamkou @mpuren @fdlaramee as I think we'd planned to apply for a FR listing on DOAJ once the PH FR ISSN came through.

[2018-12-20 16:05] drjwbaker commented on #1018
- What is the pathway for someone who has just finished a lesson and wants to find another (not necessarily directly related to the one they've done)?

[2018-12-20 17:41] fdlaramee commented on #1136
I should be available at any time Tuesday through Thursday starting Jan 8. Some Fridays may work as well.

[2018-12-20 21:29] amsichani commented on #1103
Minutes of the December meeting, mainly actions points and decisions made - please amend if I misunderstood or skip smth:

- [ ] #721 please update research output accordingly
- [ ] #1070 The FR team is working on setting up the workflow for editing currently 2 lessons. Will need to have a separate meeting with the ES team in order to familiarise with the editing/reviewing process of translations

[2018-12-21 08:51] drjwbaker commented on #915
Agreed at https://github.com/programminghistorian/jekyll/issues/1103#issuecomment-449141377 to launch 'Sponsor Us' page with FR initiative.

[2018-12-21 10:29] drjwbaker commented on #915
@mdlincoln Given that we agreed to launch this with the FR initiative, do you want to me make the changes (edit 'about.md', add 'sponsor-us.md', request ES/FR translations) to the French staging branch?

[2018-12-21 14:21] walshbr opened #1137 "Update Editorial Guidelines for Managing Director Publishing"
I think I'm the first one to push out a lesson since we decided that managing director would be coordinating pull requests for the publishing process. Accordingly, I've noticed some kinks in the editorial guidelines (holdovers from the old system) that would cause confusion if you're strictly following the text step by step. Also caught a couple errors in the metadata guidelines from when we conde

[2018-12-21 14:28] drjwbaker commented on #1137
Good catch (and I'd missed that we'd made this decision about the MD taking on final publication duties - good call!)

[2018-12-21 14:57] mdlincoln commented on #915
yes

[2018-12-21 15:12] walshbr opened #1138 "Inconsistent Gallery Image Sizes"
Our gallery images at present are inconsistent. The editorial guidelines state things should be a square (about 98% of them were) but they also state that they should be scaled down to 200x200. A lot were squares larger than that, which was causing inconsistent design for the lesson pages themselves.

[2018-12-21 15:30] drjwbaker commented on #915
Done: https://github.com/programminghistorian/jekyll/pull/1070/commits/162e871ddf836643269c907669733297b1b2e96b & https://github.com/programminghistorian/jekyll/pull/1070/commits/65c5ab14e89c928a8b6c83beb215e017b59f0d3b (though if you didn't want me to commit straight to branch, **sorry**.....)

[2018-12-21 15:35] walshbr opened #1140 "Column Widths on Lessons w/o Reviewers Too Small"
We have four lessons that have no reviewers and no reviewer ticket. The design doesn't currently account for this scenario, and when we don't have a "peer-reviewed" link present it squeezes the CC note.

Screenshot of how it's expected to look:

<img width="848" alt="screen shot 2018-12-21 at 10 33 12 am" src="https://user-images.githubusercontent.com/2334220/50350078-df430000-050b-11e9-9266-3dcb3

[2018-12-22 22:21] #1140 closed, assigned to walshbr

[2018-12-30 15:22] #1103 closed, assigned to amsichani

[2018-12-30 15:23] walshbr commented on #901
This can be closed, right @vgayolrs?

[2018-12-31 10:13] amsichani opened #1142 "January Editorial Agenda - Friday 25th January"
Friday 25th January. Time is 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET. I (@amsichani) will be facilitating the call.

Working agenda follows. Please add by commenting or editing this comment directly.

- [ ] #721 Current Research Projects or Submissions Pending about the Programming Historian.
- [ ] #1070 French Integration (incl  #1096)
    - [ ] #1072 Sample F

[2019-01-05 12:55] acrymble commented on #897
I've suggested before (without much buyin, admittedly) that we might be able to win over critics by including a journal-like listing of our articles that mimics what people expect to see. I appreciate that many people prefer our facetted browsing system, but adding in a static table of contents by publication date might help us resolve issues like this one. It could be auto-generated of course.

[2019-01-06 08:43] drjwbaker commented on #897
@acrymble Is there a ticket where this idea was rejected? I'd support it as another view (so long as the overhead the generate/maintain is low). And it fits with our desire to make PH better for authors as well (that is, their publications will appear as colleagues expect them to appear)

[2019-01-06 08:58] acrymble commented on #897
#767

[2019-01-06 09:18] drjwbaker commented on #897
I see @mdlincoln's logic at https://github.com/programminghistorian/jekyll/issues/767#issuecomment-377590399 given what we were trying to achieve. If we wanted to reopen this idea for the reasons stated above, perhaps the lesson index could include year published and volume+issue number (alongside the current author, title, abstract), so that a 'sort by date' view becomes - in effect - a tradition

[2019-01-07 20:41] alsalin opened #1143 "Mentioning "future lessons" in lessons to be published - sustainability question"
Working with a lesson that's about to be published: should we encourage authors to not directly mention their proposed "future lessons" since we don't know when or if those lessons will be published? Can we give guidelines for how to phrase "next steps" work without mentioning that the author intends to publish subsequent lessons?

[2019-01-07 20:44] walshbr commented on #1143
My inclination is to have them not mention it in the current lesson under review - only reference what exists. It's easy enough to add one or two sentences to an old lesson as part of a pull request that adds a new one. So when and if a future lesson gets published the two can be bound together more tightly by adding some language at that time.

[2019-01-07 21:10] jenniferisasi commented on #1102
The Programming Historian fue fundado en 2008 por William J. Turkel y Alan MacEachern. Se centró principalmente en Python y se publicó en acceso abierto como un proyecto de "Infraestructura digital" en la Red de Historia y Medio Ambiente de Canada (Network in Canadian History & Environment (NiCHE)). En 2012, The Programming Historian expandió su equipo editorial y se presentó como una revista acad

[2019-01-08 06:45] spapastamkou commented on #1102
"The Programming Historian a été fondé en 2008 par William J. Turkel et Alan MacEachern. Il s'est focalisé principalement sur Python et il a été publié en libre accès, en tant que projet d'infrastructure numérique de NiCHE (Network in Canadian History & Environment / Nouvelle initiative canadienne en histoire de l’environnement). En 2012, The Programming Historian a élargi son équipe éditoriale po

[2019-01-08 07:03] spapastamkou commented on #1136
Perhaps we can choose a date by voting here: https://framadate.org/5mKEjDvP1sBRofBB

[2019-01-08 08:51] drjwbaker commented on #1102
Thanks @spapastamkou & @jenniferisasi. When we have confirmation re NiCHE from @fdlaramee, I'll add these changes to the FR staging branch (as per @mdlincoln's instructions at https://github.com/programminghistorian/jekyll/pull/1135#issuecomment-452138198)

[2019-01-08 15:09] fdlaramee commented on #1102
Hi everyone,

I am not super-familiar with NiCHE, but I have always seen it as (usually) just the acronym or (rarely) as the whole bilingual name: "NiCHE: Network in Canadian History & Environment / Nouvelle initiative canadienne en histoire de l’environnement".

[2019-01-08 15:23] fdlaramee commented on #1136
My votes are in.

[2019-01-09 16:10] walshbr commented on #1137
@mdlincoln - wanted to ping you again on this. I need to confirm that I can make these changes so as to start finish a lesson on the ph submissions repo. These are the two technical changes - I'm happy to just go forth and break things if you want.

- [ ] Update the ph_authors.yml file on ph-submissions with the most recent production version of that file from the main repo.
- [ ] Add a gallery fo

[2019-01-09 20:36] mdlincoln commented on #1143
I agree with you both! Even in spite of good intentions all around, we've had a few hoped-for series that never materialized past the first lesson - definitely understandable given the work involved. So I think erring on the side of caution about future lessons is right.

[2019-01-10 01:34] mdlincoln commented on #1137
oof, sorry I've been remiss in looking at this.

1. no, definitely not. In fixing up all of the design problems for #967, I just totally removed the preview lesson header - it was redundant given that the real thing that was needed for the submissions was the line numbers. As a result, there's no reason to even have ph_authors.yml on ph-submissions anymore 🤦‍♂️ I ought to have accounted for that a

[2019-01-10 01:34] mdlincoln commented on #1137
So maybe you can just... delete ph_authors.yml on programminghistorian/ph-submissions 🙃

[2019-01-10 11:51] spapastamkou commented on #1102
Thank you very much @fdlaramee. I edited and updated the text in the previous comment, so @drjwbaker you can use this updated version.

[2019-01-10 14:38] #1138 closed, assigned to walshbr

[2019-01-10 14:42] drjwbaker commented on #1102
Done at https://github.com/programminghistorian/jekyll/commits/french-staging (10 Jan)

[2019-01-10 14:42] #1102 closed, assigned to drjwbaker

[2019-01-10 14:45] acrymble commented on #878
If it will help things along if I show up wearing a suit, let me know. We can plan a day.

[2019-01-10 14:52] drjwbaker commented on #878
Thanks Adam. We now have an added complication in that the librarian I've been working with on this (who has been working super hard on our behalf!) is leaving and I need to establish who'll she'll be handing this over to to keep pressing. More soon.

[2019-01-10 15:41] walshbr commented on #1137
Sounds good - I'll make these changes and update the guidelines accordingly. Then ping @alsalin when I'm good to go with publishing the thing. I'll close this ticket by the pull request that will update the guidelines.

[2019-01-10 16:29] alsalin commented on #1143
Thanks to you both!

[2019-01-10 16:29] #1143 closed, assigned to nobody

[2019-01-11 09:41] spapastamkou commented on #1136
I propose we retain Tuesday, January 15, do you think you can follow, @mpuren ?

[2019-01-14 02:01] walshbr opened #1146 "Brandon Sabbatical Checklist"
I'll be on sabbatical from the January 2019 call to mid-May 2019. Some of these require action on behalf of others before they can be closed, so the check boxes below will simply track my own role in the tickets and whether they're finished.

Tickets - Jekyll repo

- [x] FFMPEG pull request #1145
- [x] Update publishing guidelines PR #1144 - is just waiting for Spanish translation to be merged. My

[2019-01-14 08:58] drjwbaker commented on #1146
Have fun sabbaticaling!

[2019-01-14 12:34] mpuren commented on #1136
Hi, I can join you tomorrow.

[2019-01-14 14:37] mdlincoln commented on #1146
😭

[2019-01-14 17:21] walshbr opened #1147 "Bogotá Acknowledgement"
@acrymble and @mariajoafana - just wanted to make you aware of this. The new lesson we just pushed live, I believe, was the first Bogotá lesson 🎉. Dave put together a short little acknowledgement of how the lesson was made possible through the Bogotá workshop, but could the two of you take a look to make sure that you don't have required changes to the language? Since this will theoretically be th

[2019-01-14 17:29] acrymble commented on #1147
Looks perfect. Thanks @walshbr and glad to see the first of many coming through!

[2019-01-14 17:29] #1147 closed, assigned to acrymble, mariajoafana

[2019-01-15 16:03] jenniferisasi commented on #1136
It was great to talk to you!
Here are my go-to resources for translations of technical terms/contexts :
- European Union Terminology [https://iate.europa.eu/home](https://iate.europa.eu/home)
- Term Bank [https://termbank.com/en/spanish-english](https://termbank.com/en/spanish-english)
- Linguee [https://www.linguee.es](https://www.linguee.es)

[2019-01-15 16:15] spapastamkou commented on #1136
A big thanks for everything, @jenniferisasi!

[2019-01-15 20:17] amsichani opened #1149 "Shadowing milestones"
As discussed at #1103, it might be useful to somehow standardise expectations and milestones for the shadowing process for new editors.

Here is a draft text I compiled - I used a couple of very useful tips my shadow editor @walshbr  gave me (thanks ;-) . Please go ahead with suggestions, corrections, comments etc esp from experienced editors, so we could add it to the wiki pages. I was also think

[2019-01-15 20:18] amsichani commented on #1056
as decided at #1103 no further action at this point because of lack of financial resources. Alternatively: shadowing milestones (#1149) & a support system for new editors by assigning them a mentor / person of contact during their first editorial task.

[2019-01-16 11:04] arojascastro commented on #1136
I did not know Term Bank, maybe we could add some of these resources on our website for translators... there are also Memory tools like Omega or [this](https://github.com/programminghistorian/ph-submissions/issues/197) that help to segment and align translations.

[2019-01-16 11:47] spapastamkou commented on #1149
Perhaps we could also make a small list of things to check in a translation? We have evoked some ideas now and then with the @programminghistorian/spanish-team

[2019-01-18 12:20] amsichani commented on #721
just a quick update: @drjwbaker , @walshbr , @mariajoafana and I are preparing an article on PH and diversity for [Insights](https://insights.uksg.org) , to be submitted by Feb 2019/

[2019-01-18 14:29] mdlincoln commented on #1142
FYI I'll only be able to be on this call for the first 30-40mins

[2019-01-20 09:34] arojascastro commented on #1142
I'm teaching an unplanned workshop in Paris... I won't make it unfortunately this time...

[2019-01-21 12:41] drjwbaker commented on #1142
Afraid I won't be able to make this one after all.

[2019-01-22 02:23] vgayolrs commented on #1142
So sorry, teaching on Fridays from January until March.

[2019-01-22 14:02] managment1 opened #1150 "Broken link"
If you are reporting a problem with a lesson, please try to provide us with the following information:

- The full title of the lesson
- The system you are using (Mac, Linux, Windows)
- Version numbers of the relevant software you are using
- The exact steps you took that caused the problem

If you'd like, you can delete this template text before posting your issue.

[2019-01-22 15:56] #1150 closed

[2019-01-22 17:19] alsalin commented on #1142
Hi all, I'll try to make it in but we have a day of workshops with the folks at Manifold visiting Emory. In case I can't make it in - an announcement: I'll be on maternity leave again! Woo! From about mid-April to end of June (or so, I'll be able to say more once I get closer to April). That would mean I'd need some help in the ME department for that time.

[2019-01-22 17:31] mariajoafana commented on #1142
Hi all,

I'll also be teaching on Friday mornings this semester.

*Maria José Afanador-Llach, *PhD
Fundación Histórica Neogranadina
mariajose@neogranadina.org

<http://www.neogranadina.org/>

http://www.mariajoseafanador.com

El mar., 22 ene. 2019 a las 12:19, alsalin (<notifications@github.com>)
escribió:

[2019-01-23 13:49] acrymble commented on #1146
Let us know if you need any support Brandon!

[2019-01-24 14:30] walshbr commented on #1142
I have to split at 10:40 to make another appointment at 11, but I'll be there for the first bit! I added one item re: #1144 and bumped it up a little in the agenda order (just so that I can say 10 seconds about it before I leave). Should be very quick.

[2019-01-24 15:36] drjwbaker commented on #1142
Seems lots of us have had to change plans.. @all who are there: feel free to assign us tasks :)

[2019-01-25 12:21] spapastamkou commented on #1142
Hi all, neither I can make it this time (too feverish to be operational today, sorry): concerning #1072 I plan to update the lesson on openrefine with final corrections, add an image in FR and launch the editorial process next week.

[2019-01-25 15:25] ZoeLeBlanc commented on #1018
Updates from January meeting:
-  I'm working with @mdlincoln on technical viability. No rush here but maybe try and have some updates for Feb/March meeting.
- Please comment on this thread if you have ideas about how the search should work. See Matt and James' comments above with some of the considerations for the search.

[2019-01-25 15:29] ianmilligan1 opened #1151 "Wget Installation Instructions Need Updating"
The `wget` lesson that I wrote needs to be updated to reflect new installation instructions.

From an e-mail I received:

You have:

[code]

Not only did that not work, but the Homebrew site (https://brew.sh) now suggests this:

[code]

I will explore this when I find a chance either today or early next week, and can stage a PR for the PH team's review.

[2019-01-25 17:45] mdlincoln commented on #1151
closed by #1152

[2019-01-25 17:45] #1151 closed, assigned to nobody

[2019-01-25 19:31] amsichani commented on #1142
Minutes of the January meeting, mainly actions points and decisions made - please amend if I misunderstood or skip smth:
- [ ] #721 Current Research Projects or Submissions Pending about the Programming Historian: plz update the research page if necessary with conference presentations & publications on PH.
- [ ] #1070 French Integration (incl  #1096)
    - [ ] #1072 Sample French lessons : FR team

[2019-01-25 19:43] amsichani opened #1153 "Assistant Managing editor for April -June"
As @alsalin will be on maternity leave from April until June, it would be good to have an Assistant Managing Editor in place for these months. Please consider to nominate yourself!

[2019-01-25 19:44] alsalin commented on #1153
Thanks in advance all!

[2019-01-26 08:49] arojascastro commented on #721
I saw this cfp for Debates in DH with a focus on Pedagogy: https://www.briancroxall.net/2019/01/24/announcing-debates-in-dh-pedagogy/

We should send a proposal. Who is in? Deadline: 1 April

[2019-01-29 08:21] amsichani opened #1154 "February Editorial Agenda - Friday 22 February 2019"
Friday 22th February 2019. Time is 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET. I (@amsichani) will be facilitating the call.

Working agenda follows. Please add by commenting or editing this comment directly.

- [ ] #721 Current Research Projects or Submissions Pending about the Programming Historian.
- [ ] #1070 French Integration
    - [ ] #1136 Translation Edit

[2019-01-29 08:22] #1142 closed, assigned to amsichani

[2019-01-29 08:30] acrymble commented on #1136
I think this meeting was held. Can we close this @jenniferisasi ?

[2019-01-29 08:31] acrymble commented on #1153
I can cover this for the 3 months. I won't be doing any other editing though.

[2019-01-29 08:32] acrymble commented on #878
Do we need to start exploring other options?

[2019-01-29 08:34] acrymble commented on #915
Is this resolved now @drjwbaker ?

[2019-01-29 08:35] acrymble commented on #951
@spapastamkou can you provide us an update on this? Is this something we're still going forward with? Or should we close this issue?

[2019-01-29 08:35] acrymble commented on #1056
I'm closing this because it's been superceded by #1149

[2019-01-29 08:38] acrymble commented on #901
Is this the entry? https://www.worldcat.org/title/the-programming-historian-en-espanol/oclc/7062703631&referer=brief_results

If so, do we need to add it to the main site under 'add us to your library catalogue'?

[2019-01-29 08:54] arojascastro commented on #901
That's a review of the project: http://clionauta.hypotheses.org/16979

[2019-01-29 09:28] drjwbaker commented on #915
@acrymble It has been committed to the FR staging branch, but isn't on the live site. So if that is enough to close, then we can close.

[2019-01-29 09:28] drjwbaker commented on #878
Maybe..

[2019-01-29 09:45] acrymble commented on #915
Ok let's close it, since it's been taken care of.

[2019-01-29 09:45] #915 closed, assigned to drjwbaker, amsichani

[2019-01-29 10:04] spapastamkou commented on #1074
#1109 has been merged so I close this ticket.

[2019-01-29 10:04] #1074 closed, assigned to mpuren, spapastamkou

[2019-01-29 14:00] walshbr commented on #901
This is the one my library put together - https://uva.worldcat.org/title/programming-historian-en-espanol/oclc/1061292935

[2019-01-29 14:04] walshbr commented on #1146
#1144 and #1137 can be merged and closed once the Spanish team has translated the changes to the guidelines. My role in that PR should be done now. Still feel free to ping me if something comes up with it or anything else, but I'll consider myself sabbatical'ing now. 🎉

[2019-01-29 14:04] #1146 closed, assigned to walshbr

[2019-02-01 18:02] jenniferisasi commented on #1136
You are right, @acrymble we can close as the meeting took place.

[2019-02-01 18:02] #1136 closed, assigned to jenniferisasi, mpuren, spapastamkou, fdlaramee

[2019-02-01 19:54] acrymble commented on #916
Can we close this while we rethink our strategy for a budget line? @drjwbaker ?

[2019-02-01 19:54] acrymble commented on #917
Can we close this while we rethink our strategy for a budget line? @drjwbaker ?

[2019-02-01 19:56] acrymble commented on #878
Ok. I'll start asking around. I feel like conceptually this is going to make the most sense to American universities and their already existing channels for receiving and processing donations. That's not quite as embedded in British culture. Are any of our American-based team members thinking this might be something your institution could provide (infrastructure) for us?

[2019-02-01 19:58] acrymble commented on #901
Thanks @walshbr.

So we need to add this to the /contribute pages:

https://programminghistorian.org/en/contribute
https://programminghistorian.org/es/contribuciones

But I think we need to wait for the French infrastructure page publication to be complete. So this will have to be on hold.

[2019-02-01 20:01] acrymble commented on #1130
This is on hold until the French infrastructure pages are published.

[2019-02-03 12:53] acrymble opened #1155 "Our next great intervention"
We're getting close to launching our French project. What's next for us?

Please share ideas for how we can substantially and productively expand the project into new areas (but not too far from our remit).

[2019-02-03 12:56] acrymble commented on #1153
@alsalin Can you make sure the Managing Editor Handover takes place when you're ready, and just let me know so I can clock on? https://github.com/programminghistorian/jekyll/wiki/Managing-Editor-Handover

[2019-02-03 19:05] acrymble commented on #958
This has been open and inactive for quite some time. Do we need to do anything so that we can close this issue? It strikes me as important.

[2019-02-04 09:24] acrymble commented on #1155
Just a few possible ideas:

- Following up on Bogotá event to pursue greater 'Global South' participation in DH
- Pursuing our connections to India
- Another translation team
- Further workshops like Bogotá around the world (maybe one in London or multiple cities at the same time?)
- Raising money to give fellowships so people can pursue methods research

Other ideas?

[2019-02-04 10:58] drjwbaker commented on #1155
I'd still like to think we ca get ourselves to financial stability.. Of the above I'd vote for more writing workshops. A francophone or English in global south (perhaps with our South African connects?) one would be ace.

[2019-02-04 11:03] drjwbaker commented on #878
:cough: Scholar's Lab :cough: :smile:

[2019-02-04 11:04] drjwbaker commented on #917
closed whilst we have a rethink

[2019-02-04 11:06] drjwbaker commented on #916
Closed whilst we have a rethink. Note, @drjwbaker has an interim Patreon account with programminghistorian@gmail.com login. Ask him for password.

[2019-02-04 15:08] alsalin commented on #1153
@acrymble certainly! I'll touch base in general by mid-April on this

[2019-02-04 18:50] fdlaramee commented on #1154
Apologies; I will be missing this month's call as Feb 22 is my wife's birthday (an important one, arithmetically speaking, with a round number at the end) and we'll be out of town.

Best,
FDL

[2019-02-06 22:44] mdlincoln opened #1156 ""under construction text" for French lesson page"
To publish all the French infra pages, we need placeholder text to go on the lesson page.

[2019-02-06 22:44] mdlincoln opened #1157 ""under construction text" for homepage"
The french box on the front page will show "0" lesson right now - needs to read "coming soon" or some such.

[2019-02-06 22:45] mdlincoln opened #1158 "quick blog about french infra update"
just to explain why the changes are showing up now before the lessons

[2019-02-07 02:10] #1158 closed, assigned to mdlincoln

[2019-02-07 16:51] amsichani opened #1159 "layout issue on lesson under review"
Hey all,
there is an annoying layout issue on a lesson I am currently reviewing and its now on its final stages (Gravity Models of Migration https://github.com/programminghistorian/ph-submissions/issues/204)- any help, esp from @mdlincoln, would be much appreciated.

Here is the lesson preview
http://programminghistorian.github.io/ph-submissions/lessons/gravity-model

* Table 3 does not fit horizo

[2019-02-07 17:04] amsichani opened #1160 "length issue on lesson under review"
Hey all,

a lesson I am currently reviewing and its now on its final stages (Gravity Models of Migration [programminghistorian/ph-submissions#204](https://github.com/programminghistorian/ph-submissions/issues/204) it exceeds the 8.000 word limit of our tutorials. I am wondering whether I should suggest to the author to try and make it more compact.

A couple of necessary remarks, though: I think t

[2019-02-07 18:27] drjwbaker commented on #1160
For reference see #779, where it was agreed that 8k is a guide rather than hard limit. However, long essays make translation more difficult and have in the past been divided up. If the latter isn't possible here, we need to consider the impact on internationalization: long lessons are opposed to that ideal because of the additional work required to translate them.

[2019-02-08 16:49] amsichani opened #1161 "introducing the PH en Français - blogpost in French"
As we are witnessing the successful  launch of the Programming Historian en français 🚀, it would be great to write a blogpost en français introducing the initiative to our French-speaking readers around the world, asking them to contribute with French  tutorials and/or translating existing lessons. Feel free also to use the twitter in order to post tweets  en français - we are also having sporadic

[2019-02-08 17:02] symac commented on #1161
Just adding a +1 there, I have just heard about this upcoming French translation from a tweet, and came there to find more on the best way to join the team and the issues I have found flagged french have not been very helpful.

So would be happy to find more information on this, as the issues I have seen there are not very helpful for the moment. I had already translated some lessons in the past a

[2019-02-08 19:18] #1156 closed, assigned to mdlincoln

[2019-02-08 19:18] #1157 closed, assigned to mdlincoln

[2019-02-09 09:17] drjwbaker opened #1162 "'Support Us' missing from menu bar"
Now the Big FR PR has been pushed (🎉 🎉 🎉 🎉 🎉 🎉 🎉 ), I've noticed that the 'Support Us' `https://programminghistorian.org/support-us` (which was bundled into the Big FR PR) has some problems:

1. It is not in the EN menu bar
2. It has no ES/FR translation

On 1., I think `https://github.com/programminghistorian/jekyll/blob/gh-pages/_includes/menu.html` is the page I need to edit, though I'm not ent

[2019-02-09 10:34] acrymble commented on #1160
I declare a conflict of interest in this matter as it is my lesson. I'm happy to adhere to any decisions made by the board.

[2019-02-09 10:36] acrymble commented on #1153
Ok I will close this since we've agreed on a path.

[2019-02-09 10:36] #1153 closed, assigned to nobody

[2019-02-10 18:37] mdlincoln commented on #1162
Oh, thanks for noticing that @drjwbaker. To add a menu item you need to make two changes:

1. Go to `_data/snippets.yml` and create a new entry in the section with the comment `# top nav bar` following the pattern of items like `menu-about-overview`. For example, you may name it `menu-about-support`, with sub-entries for each language with both the display `title` as well as the proper `link`.

2.

[2019-02-10 18:37] mdlincoln opened #1163 "Add comments to menu.html documenting how to add new items"
re: #1162

[2019-02-10 19:15] mdlincoln commented on #1159
@amsichani it's possible that I may be able to make some adjustments to the CSS so that the particularly large tables can at least scroll horizontally. I can look at this once you move this lesson onto a PR on this main repo.

[2019-02-10 19:44] spapastamkou commented on #1161
ok @amsichani, we'll work on that with @fdlaramee and @mpuren.

@symac thank you! Can we take contact by e-mail? I am spapastamkou on gmail, if you write me I can put in copy the rest of the team to exchange all together.

[2019-02-11 00:30] mdlincoln commented on #855
This has been launched.

[2019-02-11 00:30] #855 closed, assigned to mdlincoln

[2019-02-11 07:19] drjwbaker commented on #1162
Thanks @mdlincoln. Worked for me. Go ahead and merge the PR when you are ready.

[2019-02-11 08:01] mpuren commented on #1161
Ok @amsichani !
Thank you @symac, we'll be happy to work with you

[2019-02-11 09:17] amsichani commented on #1159
fab @mdlincoln - many thanks ! I 'll keep you posted!

[2019-02-11 13:56] walshbr opened #1167 "Twitter Bot and New Languages"
Popping in from sabbatical with this bit I thought of last night and wanted to get down before I forgot. The twitter bot currently tweets out four times a week -

English tweet, Spanish tweet, English ICYMI, Spanish ICYMI.

It's pretty hardcoded for the two languages, and I'll have to do similar work as @mdlincoln did to make it more easily able to add multiple languages in the future. Also worth

[2019-02-11 14:10] #1163 closed, assigned to mdlincoln

[2019-02-11 16:59] #1104 closed, assigned to mdlincoln

[2019-02-11 23:42] mariajoafana opened #1168 "Trying to update my bio"
I've tried to start a pull request to update my bio info but for some reason the Commit button appears unactive. I want to edit my bio and affiliation like this. Can someone try for me:

 affiliation:
    en: |
        University of los Andes, Colombia.
    es: |
        Universidad de los Andes, Colombia.
    fr: |
        Universidad de los Andes, Colombia.
  bio:
    en: |
        Maria José Af

[2019-02-12 08:00] spapastamkou opened #1169 "Update bio Sofia"
My professional affiliation has recently changed and I will now update my bio.

[2019-02-12 08:11] drjwbaker commented on #1168
It might have been inactive as your were trying to push to the main branch? Anyway, I've opened a branch, made a PR, just needs approval to be merged. https://github.com/programminghistorian/jekyll/pull/1170

[2019-02-12 19:58] mdlincoln opened #1172 "visual issues on mobile nav bar"
I think I may have busted the menu button operation on our nav bar on small screens:

![screenshot_20190212-144737](https://user-images.githubusercontent.com/4392604/52664265-95a4df00-2ed6-11e9-8493-261a36c57556.png)

- get the hamburger toggle to show up properly
- make language switcher buttons wider

[2019-02-18 15:38] #1130 closed, assigned to acrymble