[2017-06-07 06:56] acrymble opened #472 "Refining Pitch to Proposed Lesson workflow"
Following up on an editorial email conversation, as a point for discussion at an editorial board call:

There is a bit of difficulty implementing the new proposed lesson tickets on the submission site. Pitches are coming in without learning objectives or a clear scope. The subsequent email exchanges between editors and prospective authors are taking a long time, resulting in Proposed Lesson ticket

[2017-06-07 10:27] arojascastro commented on #471
Thanks @walshbr. Hope to put some effort on this as soon as possible. I understand we just need to replicate that tab and populate with messages in Spanish that take care of our translations, right? I think we may need extra help for this. Do you want to collaborate? @vgayolrs @mariajoafana

[2017-06-07 10:45] walshbr commented on #471
Yep! That's correct. I just made the extra tab for you with the appropriate column headings. You can feel free to just translate the tweets that I have listed for English, if that is easier. I'm perfectly aware that the content there could be improved, and I'd welcome you doing it if you want to generate new, Spanish-specific tweets. But it's a lot of content to generate. So I'd do whatever is eas

[2017-06-07 11:03] walshbr commented on #472
I can imagine having a second, off-GitHub space for tracking all contacts with authors in any stage. Say, a Google Doc where we just log our current engagements. But I worry that would duplicate the work of the tickets on this repo and that having an extra thing to keep track of and log on might complicate things too much. I think there used to be a wiki page where editors logged all of these thin

[2017-06-07 11:33] walshbr opened #473 "Engagement posts"
I'm finishing up working with an author on an engagement post. A question on workflow:

1. Shall I just add it to the repository myself as a pull request for others to take a look at?
2. Just push it live myself w/o a PR?
3. Have the author add it themselves through a PR?

Seems like a small thing to ask someone to learn GitHub for if they've never used it before, so I was going to do number one.

[2017-06-07 11:43] acrymble commented on #473
I would say 2 to your main question. As long as it looks ok, no problemo

On Wednesday, June 7, 2017, Brandon Walsh <notifications@github.com> wrote:

[2017-06-07 12:48] arojascastro commented on #471
I have populated the tab with messages for 7 lessons. Do you want to try @walshbr? Hope @mariajoafana and @vgayolrs can help me to translate the messages on Python series in the following days.

Can we add messages asking for contributions and collaborators? The link should be the home page, or the collaborate page.

[2017-06-07 12:48] ianmilligan1 commented on #473
Great question.. I think I would also lean towards #2.

[2017-06-07 13:57] walshbr commented on #471
Cool! I can use what you've got here to make sure the Spanish bot functions.

And that's a great idea about soliciting contributions and collaborators. I'll make a separate ticket for it. I'll need to modify the functionality slightly so that it tweets those links from a different queue. Were we to just drop those tweets in the present queues, they would be cycled through with everything else and

[2017-06-07 15:38] #418 closed, assigned to walshbr

[2017-06-08 07:26] acrymble commented on #472
You're right, we did use the Wiki, but opted to go with tickets so that all activity was using the same system (github).

I'm in favour of your template idea. It doesn't name the author in case it doesn't move forward, but it would keep things recorded. We don't even really need to close the ticket if it goes through to full proposal stage. We could just continue the thread.

Let's discuss at the

[2017-06-08 22:04] #448 closed, assigned to fredgibbs

[2017-06-08 22:04] #445 closed, assigned to fredgibbs

[2017-06-08 22:05] #222 closed, assigned to fredgibbs

[2017-06-08 22:06] acrymble commented on #222
Sorry, I'm unclear. Was this changed, or no?

[2017-06-08 22:36] #223 closed, assigned to fredgibbs

[2017-06-08 22:54] fredgibbs commented on #225
Because the python library libZotero is only intermittently maintained (https://github.com/fcheslack/libZotero) (although the JS library https://github.com/fcheslack/libZoteroJS seems to be updated more regularly) and because these lessons depend so much on libZotero, our 3 zotero api lessons are strong candidates for deprecation. Although not true when these lessons were created, there are now ve

[2017-06-08 23:18] mdlincoln commented on #225
These seem like very good grounds to deprecate a lesson. It would be good to discuss during the upcoming call.

[2017-06-09 05:54] jerielizabeth commented on #472
Working from @walshbr suggestion -- If we want a ticket for everything that is proposed, regardless of the decision of the editorial team, we could change the workflow so that whomever received the initial email would make a new ticket right away. I think we could keep it as a "proposal" ticket but be even more minimal in the description. Something along the lines of:

"The Programming Historian h

[2017-06-09 21:23] mdlincoln opened #474 "Merge fred/jekyll onto a branch in this repository"
@fredgibbs as soon as you are satisfied with the status of the redesign in your own repo, I'd like to merge all of it into a test branch in this repository, where it will be easier to run travis checks and finish final edits and fixes there. Please let me know when you think you are ready for me to do that.

[2017-06-09 21:29] mdlincoln commented on #454
Closing since there is nothing to do to resolve this.

[2017-06-09 21:29] #454 closed, assigned to mdlincoln

[2017-06-09 21:30] mdlincoln commented on #468
Closed by https://github.com/fredgibbs/jekyll/pull/7

[2017-06-09 21:30] #468 closed, assigned to mdlincoln

[2017-06-10 01:24] walshbr commented on #473
10/4 - I'll just push myself without a PR. I've got the engagement post ready to go. I'll post it once the redesign work has been merged in and I pull down those changes. And if no one has overwhelming sentiment that engagement posts should be advertised more clearly I'll take that as an answer to the question and not worry about it. Will close for now, but can reopen later for discussion if need

[2017-06-10 01:24] #473 closed, assigned to walshbr

[2017-06-10 13:02] acrymble commented on #418
@walshbr this seems to be working really well. But I think I might be getting too much of the fanfare given the large number of python lessons. Do you think it's worth adjusting the spreadsheet to give a greater chance for other lessons to appear?

[2017-06-10 14:41] walshbr commented on #418
@acrymble - yeah I was wondering about that as well before we had this start running. One option would be to collapse the Introduction to Python lessons (the original PH sequence) into a single "lesson" row that advertises the whole sequence. That way rather than you having a statistically massive chance of getting tweeted for each piece you'd just get pulled once for the whole thing. That might m

[2017-06-10 14:49] walshbr commented on #471
@arojascastro - got the bot working now so that it is all set up to start tweeting Spanish messages whenever you're ready. A couple questions:

1. Did you want to add it to the queue now or wait? We could just start it now if you would like - we don't need to wait until the spreadsheet is completed to do so. After all, the bot sits on a single row for a week. So you've already got enough content t

[2017-06-12 06:00] acrymble opened #475 "Editorial Meeting Agenda 29 June 2017"
Suggested items for the next editorial meeting. Please add to this anything you'd like to discuss:

~~1) Managing Editor (Jeri) #477 - Jeri to email group with role description.~~
~~2) Editorial Workflow / Capacity (Jeri) #460 #461 #472~~
~~3) Website development updates (Fred) #474 #437 - goal is to be finished by end of 7 July.~~
~~4) Zotero API lessons (Fred)~~
~~5) Blog post on redesign (Matt)

[2017-06-12 09:04] acrymble commented on #441
This has been posted to the blog: http://programminghistorian.org/posts/roundup2017a

[2017-06-12 09:04] #441 closed, assigned to nobody

[2017-06-12 16:17] fredgibbs commented on #452
on a related note, we need also to translate the new about page; since the new about page is a derivative of the original index page, it seems like this work will be done together with the new index page translation--hence appending the task to this ticket.

[2017-06-12 17:39] arojascastro commented on #452
Great @fredgibbs. Can you remind me where are those files? Thanks.

[2017-06-12 20:10] jerielizabeth commented on #460
By my count, our current max editorial capacity is 10 active lessons. We have 2 editors with multiple (capping at 3) and 3-4 editors who can take on 1 lesson (b/c they have other PH obligations).

In a related note, we are currently at editorial capacity (all 10 slots are taken).

[2017-06-12 23:07] fredgibbs commented on #474
let's try the merge into a test branch! everything is done on my fork apart from a few translation issues, that might be better handled on the test branch instead of my fork.

[2017-06-12 23:08] #341 closed, assigned to fredgibbs

[2017-06-13 03:43] mdlincoln commented on #474
Great - and yes, that way the Spanish editors _should_ be able to edit in this repo directly without having to do pull requests. I'll work on it tonight/tomorrow and post once I've done so.

[2017-06-13 04:37] mdlincoln commented on #474
The redesigned code is now on the ["redesign"](https://github.com/programminghistorian/jekyll/tree/redesign) branch of this repository. All further changes before our final live merge should be made on that branch, or as pull requests based off that branch.

[2017-06-13 04:37] #474 closed, assigned to fredgibbs

[2017-06-13 04:43] mdlincoln opened #476 "Repair incorrect image paths"
A fair number of blog posts have old-style `..` notation for image paths, which needs to be fixed. This would remove a large number of errors.

[2017-06-13 04:59] #469 closed, assigned to nobody

[2017-06-13 05:42] acrymble opened #477 "Managing Editor role to fill"
We will need to fill the Managing Editor role for 2017-18 from the Editorial Board. As this role has unofficially been a 1 year post the last four years, I suggest we just solidify it as such. That lets people plan ahead.

[2017-06-13 05:43] acrymble commented on #474
is there a URL we can view it at?

[2017-06-13 12:06] arojascastro commented on #471
Hi @walshbr, thanks a lot for your work. I am inclined to start using the bot if @mariajoafana and @vgayolrs agree. I would go with those same times so they are published during the day in Europe (let's say  Tuesday) and Latin America (Wednesday). What do you think @mariajoafana and @vgayolrs ?

[2017-06-13 12:07] arojascastro commented on #451
Thank you for this @fredgibbs. I must admit I got lost a little. Can you remind me how to acces to the file containing those topics?

[2017-06-13 14:01] drjwbaker opened #478 "Error with SPARQL lesson"
Re http://programminghistorian.org/lessons/graph-databases-and-SPARQL I think the BM SPARQL endpoint has updated. The line..

.. does correspond to the output of http://collection.britishmuseum.org/sparql?query=SELECT+*%0D%0AWHERE+%7B%0D%0A++%3Chttp%3A%2F%2Fcollection.britishmuseum.org%2Fid%2Fobject%2FPPA82633%3E+%3Fp+%3Fo+.%0D%0A++%7D&_implicit=false&_equivalent=false&_form=%2Fsparql

[2017-06-13 14:16] drjwbaker opened #479 "Workflow for reporting an error or proposing a lesson edit"
When looking to report https://github.com/programminghistorian/jekyll/issues/478 it struck me that the workflow for me to report an error or propose a lesson edit was a little clunky:

- go to https://github.com/programminghistorian/jekyll via the footer
- to go issues
- cut and paste lesson URL

I'm wondering if it is worth changing your footer (and, depending on how much input you want to encour

[2017-06-13 15:00] mdlincoln commented on #479
Thanks so much for this feedback! I believe one concern was not necessarily relying on GitHub per se, but rather that not everyone would know what was happening if they were suddenly dropped into a GitHub new issue form.

However, I recently discovered it's possible to set boilerplate issue text via URL attributes! Which would mean that anyone clicking on "submit feedback" on a given page would la

[2017-06-13 15:08] mdlincoln commented on #478
@drjwbaker yes, it does look like they've done a slight restyling of their results page, and also that they are no longer `PREFIX`ing the BM thesaurus namespace. Therefore, instead of it looking like

[code]

it looks instead like

[code]

The data are still the same.... but they do look different. I won't re-do screenshots, but it may be worth noting that both of those strings mean the same thing

[2017-06-13 15:15] mdlincoln commented on #451
@fredgibbs I think the data structure for lesson topics - both in topics.yml as well as the code to render different topics lesson index search - needs to be set up before translation work can begin?

[2017-06-13 15:18] mdlincoln commented on #452
@arojascastro

- Spanish main page: https://github.com/programminghistorian/jekyll/blob/redesign/es/index.md
- Spanish about page: https://github.com/programminghistorian/jekyll/blob/redesign/es/acerca-de.md

Please note that these files are on the `redesign` branch of this repo. If you are editing in the web interface, please make sure the branch is set to `redesign`:

<img width="287" alt="scree

[2017-06-13 15:30] drjwbaker commented on #479
Even if they have no GitHub account? I totally get the concern, hence the suggestion of multiple routes, indeed making not GitHub default is probably best, but omitting the direct edit or direct issue route for those who do seems inefficient to me.

[2017-06-14 08:57] arojascastro commented on #452
Thank you @mdlincoln. I promise to work on all those pending tasks during this week.

[2017-06-14 17:16] fredgibbs opened #480 "need new mathjax link"
https://www.mathjax.org/cdn-shutting-down/

new link will go in header.html and replace current one with cdn.mathjax.org

[2017-06-14 21:04] fredgibbs commented on #451
topics.yml and the es lessons index page should be ready on the redesign branch with 04665c2

[2017-06-17 14:28] arojascastro commented on #452
@fredgibbs @mdlincoln I have translated both pages. Some internal links might be broken because I wasn't sure about the path. @vgayolrs and @mariajoafana may want to revise my translation though. However this revision should not prevent us from implementing the new design, I believe.

[2017-06-17 14:35] arojascastro opened #481 "Text on Open Access should include some european references"
I just translated the new about page into Spanish: https://github.com/programminghistorian/jekyll/blob/redesign/es/acerca-de.md

While translating I noticed that the text is lacking some important references  to understand the development of open access in Europe. Is this intentional? The references that I suggest are:

- Berlin Declaration promoted by the Max Planck Institute: https://en.wikipedi

[2017-06-17 16:02] arojascastro commented on #451
@fredgibbs @mdlincoln done here: https://github.com/programminghistorian/jekyll/blob/redesign/_data/topics.yml

[2017-06-17 17:05] arojascastro commented on #443
I translated this here: https://github.com/fredgibbs/jekyll/pull/10

[2017-06-17 17:24] acrymble commented on #481
Should we just add a statement that it is also compliant with the Berlin Declaration on open access?

[2017-06-17 19:34] arojascastro commented on #481
Yes, I think so. My point is that when I was translating the text I realized that did not know any of those organisms/policies whereas I was missing the Berlin Declaration. I think those references imply that the reader is English, American or Canadian -- but they do not tell anything to a Hispanic reader. I would like to know other people's views on this though.

[2017-06-17 21:35] acrymble commented on #481
It doesn't have an American reference because as far as I know there is no
US policy that demands scholars publish open access but there is one in
Britain. So if you are British it matters what the open access policy is.
It's sort of like food packaged with a notice that it's suitable for
vegetarians. For most people it doesn't matter.

On Saturday, June 17, 2017, Antonio Rojas Castro <notificatio

[2017-06-18 02:39] Snitro opened #482 "Broken link"
I encountered an error when I tried to navigate to The Programming Historian using this link: [PASTE URL HERE]

[2017-06-18 07:20] #482 closed, assigned to nobody

[2017-06-18 21:05] walshbr commented on #418
Took care of this @acrymble - not the bot will just refer to that lest set of lessons one time as a chunk.

[2017-06-18 23:37] mdlincoln commented on #443
Merged with 222ed02f3a7153ebfbf1a62997459bdd7c450c36

[2017-06-18 23:37] #443 closed, assigned to arojascastro, vgayolrs, mariajoafana

[2017-06-18 23:38] mdlincoln commented on #451
🎉

[2017-06-18 23:38] #451 closed, assigned to fredgibbs, arojascastro, vgayolrs, mariajoafana

[2017-06-18 23:43] mdlincoln commented on #452
Thanks! I'll look for broken links on these pages - there are quite a few that we need to clean up from the redesign, so I'll address those in their own ticket if needed.

[2017-06-18 23:43] #452 closed, assigned to arojascastro, vgayolrs, mariajoafana

[2017-06-19 00:11] mdlincoln commented on #476
Closed with 6e033559cbb9cc54c80fde62059a7924efb2c40c

[2017-06-19 00:11] #476 closed, assigned to mdlincoln

[2017-06-19 00:15] mdlincoln opened #483 "Remaining broken links in redesign"
- ./_site/author-guidelines.html
  - [x]  internally linking to /getting-started-with-markdown, which does not exist (line 195)
     `<a href="/getting-started-with-markdown">Getting Started with Markdown</a>`
- ./_site/blog.html
  - [x]  internally linking to /posts/lanzamiento-PH-español, which does not exist (line 217)
     `<a href="/posts/lanzamiento-PH-espa%C3%B1ol"><img src="/images/Launch-

[2017-06-19 01:45] walshbr commented on #483
@mdlincoln - clearly I'm easily guilted for the common good. Basic GitHub question - is it possible for me to check off items from the task list, or does that have to be done by you since they're technically markdown in a message you created? Google was coming up short…

Update: figured it out! Clicking on buttons with hope in your heart ftw.

[2017-06-19 02:40] mdlincoln commented on #483
Great! I think we've eliminated all but a few external links

[2017-06-19 03:09] mdlincoln opened #485 "redesigned es lecciones page needs translation"
~https://github.com/programminghistorian/jekyll/blob/redesign/es/index.md~

https://github.com/programminghistorian/jekyll/blob/redesign/es/lecciones.md

[2017-06-19 03:17] #483 closed, assigned to mdlincoln

[2017-06-19 03:17] #467 closed, assigned to mdlincoln

[2017-06-19 03:28] mdlincoln commented on #426
Given the number of new YAML fields required for lessons under the redesigned lesson plans, I think it would be good to merge this with the redesign, if only to make sure we've finished configuring each of the lessons for the new page.

I'm setting the current fields as "required" for all english lessons:

- title
- date
- authors
- reviewers
- editors
- difficulty
- activity (must belong to activ

[2017-06-19 07:40] arojascastro commented on #485
I'm confused. I thought I had translated that page... ?

[2017-06-19 12:22] mariajoafana commented on #471
Hi! I just see this. I think that the times are fine and I agree on starting to use the bot right away. I'll also help populate the spreadsheet with new tweets.

[2017-06-19 13:34] walshbr commented on #471
Sounds great! I just flipped the switch, so the bot should be sending the Spanish tweets out at those times Tuesday and Wednesday. I've been keeping an eye on the twitter stream to make sure the bot is functioning as expected, but let me know if anything seems weird or off.

One thing to note when putting together this spreadsheet is that @acrymble felt like it was a bit much for the bot to tweet

[2017-06-19 18:02] mdlincoln commented on #485
Sorry, I linked to the wrong page! I meant this one: https://github.com/programminghistorian/jekyll/blob/redesign/es/lecciones.md

[2017-06-19 18:17] mdlincoln commented on #381
I'm going to close this, and we can open a specific one for ph-submissions once we start updating that repo to reflect changes in the redesign (which can happen in due course - I don't think it need hold up the launch of the redesigned main site)

[2017-06-19 18:17] #381 closed, assigned to mdlincoln

[2017-06-19 20:21] #471 closed, assigned to walshbr, arojascastro, vgayolrs, mariajoafana

[2017-06-19 20:32] mdlincoln commented on #426
see below for latest build update checklist

[2017-06-19 21:07] walshbr opened #486 "Spanish Twitter Translations"
Spanish Twitter bot is implemented, so pulling out these translation-related tasks into their own issue so they don't get lost.

- [ ]  Populate the second tab of the bot spreadsheet with Spanish tweets.
- [x]  Translate the addition to the editorial workflow that informs new authors about how to make additions to the tweet queue.

Let me know if you have any questions!

[2017-06-19 21:39] mdlincoln commented on #426
@fredgibbs Several lessons have `beginning` as an activity right now - do we think this should be added as an activity? Or a topic?

A series of older lessons do not have editors or reviewers listed. @acrymble @wcaleb should these be exceptions to the rule, or do they indeed have reviewers/editors that need to be added?

[2017-06-20 06:06] mdlincoln opened #487 "translation needed for "deprecated" text"
https://github.com/programminghistorian/jekyll/blob/redesign/_includes/deprecated.html

n.b. I don't think this text is used yet on Spanish-language pages, but it will be at some point!

- [x] Translate text
- [x] Move text over to snippets, and implement it via lessons.html

[2017-06-20 06:12] acrymble commented on #487
I think we could do better on the text in English. Something like:

This lesson was published on {% Date% }. The Programming Historian editors do their best to maintain lessons as minor issues inevitably arise. However, since publication, changes to either the underlying technologies or principles used by this lesson have been substantial, to the point where the editors have decided not to further

[2017-06-20 10:59] acrymble opened #488 "Accessibility of external links"
I've just been contacted about the accessibility of some of the sites we link to in lessons, and whether we'd be willing to adopt strategies to ensure our lessons met the Web Content Accessibility Guidelines (https://www.w3.org/TR/WCAG20/).

I'll report back when I know more (this is not an area of strength for me), but I wanted to open a ticket to flag it up in the meantime.

[2017-06-20 11:02] acrymble commented on #481
I see that the Horizon 2020 grants require open acces: http://ec.europa.eu/research/participants/data/ref/h2020/grants_manual/hi/oa_pilot/h2020-hi-oa-pilot-guide_en.pdf. @arojascastro are there more formal requirements in Europe on the way that we could point to? Like a requirement that all publications must be open access after date XXXX? I'm not familiar with this research landscape.

[2017-06-20 12:48] amandavisconti commented on #470
@mdlincoln I'm working on the lessons.md commenting right now

[2017-06-20 12:52] amandavisconti commented on #470
Any formatting rules for how we're commenting within markdown? I've seen:
`[//]: # "Comment"` (which I used in commenting lessons.md)
or
[code]
or
`[](Comment text goes here)`

[2017-06-20 13:19] mariajoafana commented on #486
Great, thanks @walshbr I'm working on the translation.

[2017-06-20 13:29] mariajoafana commented on #486
Translation is done. I'll keep populating the Spanish tweets. Thanks

[2017-06-20 14:40] mdlincoln commented on #470
oh HUH, I was naively using ``... but then I suppose HTML comments would get faithfully copied into the published files by Liquid/Jekyll.

[2017-06-20 14:55] mdlincoln commented on #470
FYI @amandavisconti, we're now committing directly to the [`redesign` branch here on programminghistorian/jekyll](https://github.com/programminghistorian/jekyll/tree/redesign) so don't worry about sending PRs to Fred's repo.

https://github.com/programminghistorian/jekyll/issues/474

[2017-06-20 15:23] mdlincoln commented on #475
FYI, the most recent updates to the `redesign` branch can now be previewed at <http://ph-redesign-preview.netlify.com>

[2017-06-20 15:23] mdlincoln commented on #475
And remaining redesign issues should all be listed here: https://github.com/programminghistorian/jekyll/milestone/1

[2017-06-20 15:31] wcaleb commented on #470
Here's a fairly extensive [discussion of commenting in Markdown](https://stackoverflow.com/questions/4823468/comments-in-markdown).

I think it would be best not to go with the HTML comments because then they will show up in the HTML source, where it won't make sense to someone viewing it because all of the Jekyll stuff will be gone. (An exception would be an HTML comment where you do want the end

[2017-06-20 15:45] wcaleb commented on #475
Also #417 to decide if we still want PDF versions of record and what that should look like.

[2017-06-20 15:53] mdlincoln commented on #470
OK, that makes sense. Let's stick to the liquid comment tags:

[code]

I'll go back and convert some of the additions I've already made to be liquid-compliant

[2017-06-20 17:52] fredgibbs commented on #470
the liquid comments have the advantage, i think, of not spitting out the same HTML comments each time an include file is called. for instance, comments in the lesson_describe.html include file are repeated on the lessons.html once for each lesson--a lot of unnecessary data. whatever method we adopt, we should be sure that our final HTML output doesn't have more comments than we intend.

[2017-06-20 22:51] fredgibbs commented on #426
i think most of the "beginning" lessons are more appropriately labeled as python lessons, as they are predominately about setting up for python coding. i don't like beginning as a category because there are too many things that someone might want to begin.  perhaps it would be useful to have a "basics" topic that could include stuff like the markdown lesson and command line, etc--generic stuff tha

[2017-06-20 22:55] fredgibbs commented on #426
some of the offending lessons are the zotero ones, and they might be going away (i was the editor for these but they weren't really externally reviewed outside of a dh class context). some of the oldest lessons might not have external reviewers, but they should all have an editor.

[2017-06-20 23:14] fredgibbs commented on #487
i think this is very nice @acrymble.

i would also vote to remove the text (and page language logic) from a separate deprecated include file and put this directly in the lesson layout page, since it will only appear there (right?). i think we should reserve include files for code/text snippets that will appear on multiple pages. this will mean adding the text and its translation to the snippets.ym

[2017-06-20 23:19] mdlincoln commented on #426
@fredgibbs Yes, I agree that "beginning" is not a meaningful term. Do all lessons _need_ to have both an activity and a topic? One or or the other? Neither? If they don't need any, I'll modify the plugin to not error on that.

For the older lessons, let's add the appropriate editor. I can also add a special YAML flag to them that releases them from being checked for having their reviewers.

[2017-06-20 23:32] fredgibbs commented on #426
I would say that all lessons should have both, based on the possibly irrational principle that if someone were to click through all the buttons in each set, they should eventually see all the lessons (and wouldn't have to click through both sets to ensure that). i realize probably no one will ever do this, but it makes sense to me anyway. Also, this may have the advantage of, over time, revealing

[2017-06-20 23:52] mdlincoln commented on #426
@fredgibbs yes, I tend to agree with all that.

There's already a `get-ready` topic, so they're covered there. Most of the python lessons are under `transforming`, so I suspect I'd just put the installation lessons under that activity.

[2017-06-22 19:41] arojascastro commented on #485
Done! Sorry for the delay @mdlincoln @fredgibbs

[2017-06-22 21:03] mdlincoln commented on #485
💯

[2017-06-22 21:03] #485 closed, assigned to arojascastro, mariajoafana

[2017-06-22 21:14] mdlincoln commented on #487
I have put the new deprecation text in to this line in the snippets.yml file: <https://github.com/programminghistorian/jekyll/blob/redesign/_data/snippets.yml#L190>

It's ready for translation now.

[2017-06-22 22:46] mdlincoln opened #490 "Move other singleton includes into their respective page layouts"
As we did for #487, should we move some very small includes like `next.html`, `previous.html`, and `reviewers.html` into the `_layouts/lesosn.html` template, since that is the only place they are used, and the are not very verbose?

[2017-06-22 23:07] mdlincoln commented on #490
This is mostly a @fredgibbs question

[2017-06-22 23:19] mdlincoln commented on #426
Updated results:

* In /lessons/getting-started-with-markdown.md:
  - [ ] 'editors' is missing.
* In /lessons/googlemaps-googleearth.md:
  - [ ] 'editors' is missing.
* In /lessons/installing-python-modules-pip.md:
  - [ ] 'editors' is missing.

We either need to add editors, or I need some positive confirmation that these should _not_ have editors.

[2017-06-23 07:38] arojascastro commented on #487
Done! @mdlincoln @fredgibbs

[2017-06-23 07:55] acrymble commented on #426
Just checked the second one and it does have:

![screen shot 2017-06-23 at 08 54 45](https://user-images.githubusercontent.com/646647/27471998-a7da1892-57f1-11e7-9799-aac86cbb1175.png)
![screen shot 2017-06-23 at 08 54 23](https://user-images.githubusercontent.com/646647/27472000-a9822676-57f1-11e7-9b25-5732a7dc11f7.png)

[2017-06-23 07:58] acrymble commented on #426
Markdown one was @ianmilligan1 (https://github.com/programminghistorian/jekyll/pull/61).

And the pip one has no editor. @fredgibbs posted it as a bridge for another lesson.

[2017-06-23 15:15] mdlincoln commented on #487
👍

[2017-06-23 15:15] #487 closed, assigned to arojascastro

[2017-06-23 16:00] #426 closed, assigned to mdlincoln

[2017-06-24 05:16] #490 closed, assigned to nobody

[2017-06-24 05:26] #478 closed, assigned to mdlincoln

[2017-06-24 18:26] #480 closed, assigned to nobody

[2017-06-24 18:32] mdlincoln opened #491 "Delete _config_netlify.yml after redesign is merged"
This is only needed in order to build the redesign preview site at https://ph-redesign-preview.netlify.com/

[2017-06-26 05:46] acrymble commented on #475
I've been having massive internet issues the past couple of weeks. Is anyone able to lead on the call? I'm worried it will drop constantly if I do it.

[2017-06-26 08:06] arojascastro commented on #475
Is there @mdlincoln anything that the Spanish team needs to translate and that we have overlookd? Please let us know.

[2017-06-26 12:20] walshbr commented on #408
This came up in backchannel conversations with the authors of the [Network Analysis with Python lesson](http://programminghistorian.github.io/ph-submissions/lessons/exploring-and-analyzing-network-data-with-python). The authors wanted to know whether they should honor the Python 2 note [here](http://programminghistorian.org/lessons/introduction-and-installation) or go with version 3.

So just to c

[2017-06-26 14:34] ianmilligan1 commented on #408
My vote is for Python 3 being fully acceptable!

[2017-06-26 15:07] jerielizabeth commented on #408
I second the vote for an embrace of Python 3 in new lessons.

[2017-06-26 16:00] mdlincoln commented on #475
@arojascastro We had been waiting on a translation of the new editor instructions for checking Travis CI results (#425) However, I now think that should wait until after the merge, because there have been many modifications to `es/guia-editor.md` during the redesign. I will notify you when it's ready for translation.

[2017-06-26 18:46] acrymble commented on #408
Agree

[2017-06-26 19:00] wcaleb commented on #475
@acrymble I can take the lead on the call if you can get everyone connected at the beginning (or send me everyone's Skype credentials so that I can)

[2017-06-27 05:01] mdlincoln commented on #475
#437 blog posts on the site redesign and technical changes (Matt, Amanda?, Fred?)

[2017-06-27 05:45] acrymble opened #492 "Broken Link working-with-webpages"
reported via twitter by @ed_podesta. /working-with-webpages the following link no longer works:

https://www.oldbaileyonline.org/search.jsp?form=custom&_divs_fulltext=arsenic

This has been replaced by the following, presumably when they updated the security on their site:

https://www.oldbaileyonline.org/search.jsp?form=searchHomePage&_divs_fulltext=arsenic&kwparse=and&_persNames_surname=&_persNa

[2017-06-27 05:50] acrymble commented on #417
I think that rather than invent a new system we should just duplicate the /es/ folder idea for this, using /record/ where a copy of the files will be kept. As it's a version of record, only the original lesson in the language it was originally written would need to be stored. If there are future Spanish-first lessons then they'd be the versions of record.

Then we have a separation between the pub

[2017-06-27 18:36] mdlincoln commented on #417
Saved as _what_ in the `/record` directory? Raw MD files? They'll have no images. As rendered HTML files? How do we make those? If we use jekyll, then they'll get regenerated every time and changed as we make sitewide updates and fixes? And then where do we put their images anyway? And what happens once we change our visual layout or do some other change that then impacts the way the lesson is ren

[2017-06-27 18:36] mdlincoln commented on #417
FWIW my vote is for web.archive.org - it respects the fact that these lessons were conceived as HTML pages rather than printed documents. But I can see arguments for PDF as well.

[2017-06-27 20:15] ianmilligan1 commented on #417
I'm happy with either option, and I think if doing PDFs having them manually "print to PDF" and upload isn't too onerous (rather than scripting a workflow). Saving to the archive is probably the most organic, but PDF might be the best way to make it "count" in the scholarly context?

[2017-06-28 05:14] acrymble commented on #417
@mdlincoln saved as a file no one updates, using the same setup as the /es/ system. I don't think it's a big deal if the page design changes over time. That's like changing the font on an old article.

The key point is that we've got a publishing process, but no actual process to save the results of that published work.

I spoke to one of our past authors whose view was that if the lesson were upd

[2017-06-28 13:20] wcaleb commented on #417
I think Matthew's question, though, is whether we need a duplicate file if all you want is the Markdown file preserved. We can actually link to the original markdown file of any lesson right now by linking to that specific "commit" on GitHub, but it would not be rendered as HTML. But if all an author wants is some record of the original text they wrote, that is already there in our current system

[2017-06-28 14:29] acrymble commented on #417
@wcaleb what's 'print to PDF' mean in this context? Is that a tool?

[2017-06-28 16:02] wcaleb commented on #417
@acrymble On a Mac (and I believe also on Windows 10), there is usually a built-in way to create a PDF from a website. I'm most familiar with the Mac way, which involves going to the "Print" dialogue within Chrome or Firefox or whatever, and then looking for an option within that dialogue menu to save the page as a PDF. There are a variety of ways to do it within Windows [according to this](https:

[2017-06-29 05:09] mdlincoln opened #494 "Brighten color for header banner text?"
The gray used for the header banner is dim to the point of being a little hard to see (at least in my eyes!) Could we change it to match the somewhat brighter footer text?

[2017-06-29 05:57] acrymble commented on #417
I see what you mean.

One outstanding issue is any lesson with attached files. Data and code libraries. These aren't accounted for with the PDF. I'm not sure how many lessons that affects.

[2017-06-29 11:02] acrymble commented on #417
I think I have a solution for an HTML version of record, which is better able to keep associated files together than PDF and can handle long lines of code. This is what people want to read anyway, rather than the .md file.

We can do a 'save-as' on the HTML page, which also means a standalone set of files that will render prettily. This can be bundled with any associated files (see attached 'versi

[2017-06-29 14:22] wcaleb commented on #494
Or brighten the text.

[2017-06-29 15:14] mdlincoln commented on #494
Yes, to clarify, I meant brighten the banner _text_

[2017-06-29 15:56] wcaleb commented on #417
Adam, thanks for outlining this alternative method. I think it gets us back to the question of what we most want these records for. I think we face a tradeoff between (a) design and aesthetic appeal, and (b) comprehensiveness of the snapshot.

The PDF method satisfies (a) but not (b).

Your method satisfies (b) but not (a), at least in my opinion. The HTML file in the zip won't be "styled" by our

[2017-06-29 16:05] fredgibbs opened #495 "some images on mobile look weird"

[2017-06-29 16:11] wcaleb commented on #475
#470 - Fred will complete the inline documentation for the layouts, at which point that will be done.

[2017-06-29 16:13] wcaleb commented on #475
We set a deadline for the redesign milestone of July 7: https://github.com/programminghistorian/jekyll/milestone/1

[2017-06-29 16:14] walshbr opened #496 "Encoding errors for Spanish twitter bot"
If tweets have special characters they are breaking the Twitter bot. This is a pretty big issue for the scheduled Spanish tweets, as a lot of those messages have special characters.

I've left the bot running while I work on the issue. It's working well for English, and any errors or problematic tweets fail quietly - logged on Heroku but not actually out on Twitter. I'll keep working on the encodi

[2017-06-29 16:20] mdlincoln opened #497 "Redesign "launch" blog post"
A few days after the soft launch of the redesign (tentatively scheduled for 2017-07-07) we would like to post a redesign announcement that highlights some of the biggest changes (in particular the enhanced lesson page). @fredgibbs & @amandavisconti co-authored?

[2017-06-29 16:38] wcaleb commented on #477
See email to the list by @jerielizabeth about the role.

[2017-06-29 16:38] mdlincoln commented on #388
There are no incoming links to the "troubleshooting" page on the new site. I think it is just fine to leave the page published, in case someone happens to have the old link saved. I'm going to close for now - please reopen if we think there's more to discuss!

[2017-06-29 16:38] #388 closed, assigned to nobody

[2017-06-29 16:42] mdlincoln commented on #470
@fredgibbs will add remaining comments to _layouts

[2017-06-29 17:32] wcaleb commented on #475
Caleb to close #417 and make new ticket summarizing discussion of it later this afternoon.

[2017-06-29 22:13] wcaleb opened #498 "Create policy regarding ongoing revisions to lessons"
As part of #475, @fredgibbs @jerielizabeth @acrymble and I discussed the question of how to resolve the project's potential interest in keeping lessons up-to-date and relevant for users with an author's potential interest in having his or her original lesson preserved as it was at the moment of publication. This question is related to the discussions in #417, #304, #410 and #408.

At suggestion of

[2017-06-29 22:14] #417 closed, assigned to wcaleb

[2017-06-29 22:14] #410 closed, assigned to nobody

[2017-06-29 22:41] acrymble commented on #498
Thanks @wcaleb that's a great starting point.

Just to note the license (CC-BY) means we cannot prevent others from making substantial derivative works and publishing them elsewhere. However, I believe that anyone who did so (and us doing so on our own site) are obliged to acknowledge that any revisions make the work 'derived from' rather than 'by' the original author. There are some good examples

[2017-06-30 06:16] acrymble commented on #498
Having slept on this, I like the idea of communicating more clearly with authors, but I'm still deeply troubled with the idea that we're the only publication I know of that doesn't keep a clear and easy to access record of what was accepted out of the peer review. I know it exists, but it's not accessible and it's not treated like a particularly important object.

One of the issues I think is what

[2017-06-30 09:52] acrymble opened #499 "Blog post on scoping lessons"
Arising from our #475 call was a notion that new authors tend to come to us with overly ambitious scopes for potential lessons, and that they under-estimate the amount of time and effort that goes into a good lesson.

Rather than updating documentation, would people value a blog post that we could refer people to that gives some perspectives on the above problems, as a means of reducing editorial

[2017-06-30 09:55] arojascastro commented on #496
Sorry to hear that! How can help? :(

[2017-06-30 09:58] arojascastro commented on #481
@acrymble as far as I know Horizon2020 and its policy is the greatest research framework in Europe. In a lower level you only encounter national policies about research and open access. I think each country has its own policy but most of them are currently referring to Horizon 2020 -- at least that's the situation in Spain.

[2017-06-30 10:22] acrymble commented on #498
Building on @wcaleb's text, I wonder if a table is helpful:

| Author decision | Minor issue | Moderate issue | Major issue |
| --------- | --------- | --------- | --------- |
| No changes (leave me alone) | Editor will change anyway | Editor can change, but must do so in a clearly marked aside box that is signed by the editor. | Lesson will be deprecated |
| Consultation only (ok but only if I li

[2017-06-30 12:03] walshbr commented on #496
My fault, not yours @arojascastro! You all can just keep populating the spreadsheet as planned - I'll sort this out. Though you're welcome to take a look if you have more experience with Python encoding (I do not have much) - here is the log:

[code]
Tried to give it pretty substantial logging, and I've increased it even more so as to pinpoint the line. Looks to be happening right at the end of th

[2017-06-30 12:04] walshbr commented on #499
That does seem useful. While each case is different, some boilerplate we can refer people to might be a helpful time saver.

[2017-06-30 13:21] acrymble commented on #499
Proposed text for comment:

---
title: Tips for (finishing) a Good Technical Tutorial
authors:
- Adam Crymble
layout: post
categories: posts
---

So you've got an idea for a tutorial, and you're excited to share it with the readers of the _Programming Historian_. This post outlines a few tips for how to sculpt that idea into a manageable and sustainable lesson, while also giving a sense of the lev

[2017-06-30 15:15] mdlincoln commented on #499
I really like this text - thanks for working it up @acrymble

However, I think it absolutely belongs on a page in our contributions section, rather than a blog post. As a user, I'd expect everything I need to know about contributing to be contained among the contribution sections, not scattered about in a blog post alongside announcements about new editors, etc.

I also think this language superse

[2017-06-30 15:21] acrymble commented on #499
@mdlincoln thanks, I definitely don't want to contradict the Author Guidelines.

I'm also not keen to keep asking our Spanish team to translate our set pages, which is why I thought the blog would be better. I suspect they're getting bored of all of the translation requests!

[2017-06-30 15:22] mdlincoln commented on #499
Well, if the hope is to solicit original lessons in Spanish, not just translations, then we'd better have consistent guidelines.

[2017-06-30 15:31] acrymble commented on #499
Maybe this is something we should leave for our new Managing Editor to leave a mark on then?

[2017-06-30 15:44] mdlincoln commented on #498
I'm sorry I had to sign off from the call punctually yesterday, and hence missed this convo. I really appreciate all these ideas, and I agree that conceiving of "versions of record" only makes sense if we sort out these larger questions first. I want to focus in on this, though:

I certainly understand that you think of the journal, @acrymble, as being 1 - however, having watched _PH_ from a dista

[2017-06-30 15:46] #428 closed, assigned to nobody

[2017-06-30 16:21] acrymble commented on #498
@mdlincoln you're right, from a user perspective that it's number 2. I suspect (but maybe I'm wrong) that from an author's perspective, some people see it as 1 - as a 'publication'.

I'm writing from the perspective of an author. And when I published my lessons (many years ago now) it was with an expectation that they would be treated as enduring objects in the scholarly conversation. Not somethin

[2017-06-30 17:03] jerielizabeth commented on #498
Thank you @acrymble for the thoughtful clarification. It is really helpful for understanding your concerns around updates and the version of record.

If I were publishing a paper on the methods I am using in my dissertation, I agree that I would be very concerned if that were modified or updated -- if it were, it would no longer be describing what I did. But my code is also very particular to the

[2017-06-30 18:30] wcaleb commented on #498
Given my impending departure from the team, I don't want to weigh in too heavily here, but I did want to note that I still think we have a promising way forward for satisfying all the above concerns on both sides of the questions this policy raises.

We've already established that we do in fact keep a record of the original lesson embedded within our `git` history. The discussion yesterday on our

[2017-06-30 18:35] wcaleb commented on #498
P.S. I would add that I think it is important to have a default policy from which authors "opt out," if only for logistical reasons. Given that authors/reviewers sometimes disappear even before publication, we can't always guarantee that we will be able to reach authors down the road and get a firm answer from them about a proposed change that editors feel is vital for keeping the lesson up to dat

[2017-06-30 18:52] wcaleb commented on #496
@walshbr You probably need to tack on an `.encode('utf-8')` to the string that contains the contents of the tweet message. Possibly lines 164 or 167 of `bot.py`?

See this [Stack Overflow](https://stackoverflow.com/questions/9942594/unicodeencodeerror-ascii-codec-cant-encode-character-u-xa0-in-position-20) page for a discussion of this. I've dealt with stuff like this before and can't always remem

[2017-06-30 19:27] walshbr commented on #496
Thanks @wcaleb - investigating now. That video is super helpful!

[2017-06-30 20:05] walshbr commented on #496
Lordie - that was one of those super knotty to figure out but really easy fixes. The problem was that Heroku defaults to Python 2 (so the error wouldn't be reproduced locally), and the error message was pointing me to the Twitter API and not Heroku anyway. So just had to override to be the right version of Python. Thanks for the help - it should be working correctly now @arojascastro. I'll keep an

[2017-06-30 20:05] #496 closed, assigned to walshbr

[2017-07-02 15:18] acrymble commented on #492
Fixed with https://github.com/programminghistorian/jekyll/commit/8004e8b899971b2c0e50856a9608608e1b961eda#diff-ea5ee3180a8c5734bab267c52b97f193

@mariajoafana @vgayolrs @arojascastro This should also probably be updated in line 59 of https://github.com/programminghistorian/jekyll/edit/gh-pages/es/lecciones/trabajar-con-paginas-web.md but I dont' want to touch that file without your permission.

[2017-07-02 15:22] arojascastro commented on #492
Thank you @acrymble. I just replaced the link here ebc6088f95905b4d4b8fe3828efab8f8ad7c098b

[2017-07-02 16:35] #492 closed, assigned to acrymble

[2017-07-05 12:35] acrymble opened #501 "School-Aged Funding Call $5-million (Canada)"
This came in via Twitter from Bill Turkel:

https://www.canada.ca/en/innovation-science-economic-development/programs/science-technology-partnerships/cancode.html
https://www.canada.ca/en/innovation-science-economic-development/programs/science-technology-partnerships/cancode/funding-cancode.html

Up to $5 million to deliver technical training initiatives (including online) aimed at K-12 students

[2017-07-05 14:10] ianmilligan1 commented on #501
Aye, I certainly wouldn't have a cycle to look into this seriously for a few months. But I think this would be a long shot. Apart from me, we don't really have a Canadian presence, nor any demonstrated capacity with working with large numbers of people below the university level.

We'd also have to meet the following criteria:
* Must be a not-for-profit organization incorporated in Canada; and
* M

[2017-07-05 19:31] fredgibbs commented on #494
fixed with fd18f0e

[2017-07-05 19:39] fredgibbs commented on #225
this was indeed discussed and consensus was to deprecate the lessons; done with 91275d1

[2017-07-05 19:39] #225 closed, assigned to fredgibbs

[2017-07-05 20:28] fredgibbs commented on #470
started with 9b5425c; others should scan to see if everything makes sense. directory.html was not commented because it will be removed in a future commit (30f55f8).

[2017-07-05 20:51] fredgibbs commented on #495
fixed with 71f2bd9

[2017-07-05 20:51] #495 closed, assigned to fredgibbs

[2017-07-05 23:30] mdlincoln commented on #470
@fredgibbs I think this reads very well. I'm happy with it if you are.

[2017-07-05 23:42] mdlincoln commented on #494
This commit brightened text in the lesson subheader, but I was talking about the header that shows up on all pages. It's really low-contrast right now, even I have a hard time reading it.

<img width="435" alt="screen shot 2017-07-05 at 4 40 43 pm" src="https://user-images.githubusercontent.com/4392604/27889366-de3a2586-61a0-11e7-8c02-4ff1ac4d1545.png">

[2017-07-06 09:30] arojascastro commented on #486
I have added some #humanidadesdigitales hashtag in those tweets that were not too long. I hope it is working but if not let me know and i will remove the hashtag.

[2017-07-06 09:31] arojascastro commented on #415
Can I ask if this was implemented?

[2017-07-06 12:00] walshbr commented on #486
Looks like it's working to me! Hard to gauge, but I think they're getting about as many engagements as the English tweets, give or take depending on the timing. And I'll keep an eye out to make sure that they're working, but if you're checking the lengths of the tweets on Twitter they should be ok.

[2017-07-06 12:33] walshbr commented on #486
Took a look - most of them are OK but there are a couple that are too long. If you're testing the tweet lengths, keep in mind that you'll need to measure the length by more than just the message column. A tweet is made from the spreadsheet by taking the message, adding a space to it, and then adding the link. Twitter shortens URL's to 23 characters, so that means each message will have 24 characte

[2017-07-06 15:59] acrymble commented on #415
Not that I'm aware of. I think it's largely a matter of deciding on a term and starting to use it.

[2017-07-06 16:02] mdlincoln commented on #415
These were originally needed for the versions-of-record, and that discussion is still ongoing - so there is no rush.

Still, it would be good to have the metadata in the translated lessons no matter what. Please use:

[code]

[2017-07-06 21:50] #470 closed, assigned to fredgibbs

[2017-07-06 22:28] fredgibbs commented on #494
ah. maybe with 6b6339c it looks better?

[2017-07-07 03:58] mdlincoln commented on #494
Way better! Thanks, it's been too long since I've done CSS and I couldn't figure out which attributes were governing the header text...

[2017-07-07 03:58] #494 closed, assigned to fredgibbs

[2017-07-09 15:59] mariajoafana opened #503 "Installing QGIS lesson needs update"
I'm in the process of translating the "[Installing QGIS](http://programminghistorian.org/lessons/qgis-layers)" lesson. Following the instructions, I tried to download QGIS 2.0.1 following this link to the [QGIS Download Page](http://hub.qgis.org/projects/quantum-gis/wiki/Download) but it redirects me to the QGIS [issue page](https://issues.qgis.org/login?back_url=https%3A%2F%2Fissues.qgis.org%2Fpr

[2017-07-10 07:46] acrymble commented on #503
if you haven't already gone through the whole lesson it probably makes sense to collect all problems before we decide how to address them. This looks like a minor change needed to some broken links, but there may be more substantial problems.

[2017-07-10 08:58] arojascastro commented on #486
Thank you @walshbr. I'll have a look at those tweets and fix the issue.

[2017-07-10 14:37] acrymble commented on #501
Ok @ianmilligan1 thanks for responding. I think we'll have to pass this one up - at least in terms of taking any lead. If anyone is looking for partners, we'd be happy to hear from you!

[2017-07-10 14:37] #501 closed, assigned to nobody

[2017-07-10 14:43] #475 closed, assigned to nobody

[2017-07-10 14:45] acrymble opened #504 "Editorial Meeting Agenda - Wed 26 July 2017"
Suggested Topics:

* Welcome Anandi to the editorial team [done]
* #498 policy on revisions of published lessons (and repercussions for Spanish team) [some updates but not fully solved]
* ~~#477 managing editor for 2017/18 - to be filled by @jmparr on a 1 year term~~
* #497 launch redesign blog post (if this isn't already live) [to go up next week]
* #460 additional editors [subteam: @walshbr @JMP

[2017-07-10 15:25] mdlincoln commented on #488
Will you be able to clarify/elaborate on this question for the next editorial meeting? #504

[2017-07-11 06:41] acrymble commented on #488
I don't have a lot more detail. It might be a case of bringing in someone who can advise on high level strategies and policies we could adopt. This was particularly to do with people who use screen readers.

[2017-07-11 06:43] acrymble commented on #481
If you think it's relevant and want to add a note, I don't mind.

[2017-07-11 07:39] arojascastro commented on #481
Yes, I think it is relevant. But of course we cannot expect to cover all countries, languages, cultures, so maybe it is ok as it is.

[2017-07-11 15:24] mdlincoln commented on #488
But what was the issue with external links, specifically?

[2017-07-11 15:39] acrymble commented on #488
It was the links to the W3 html tutorials, which are apparently (ironically) not screen-reader friendly. I haven't been able to look into this further.

[2017-07-11 16:02] mdlincoln commented on #488
The external pages are not screen-reader friendly? In which case... we can't do anything about that?

[2017-07-11 16:11] acrymble commented on #488
The spirit of the suggestion was that we consider the implications of the websites we refer people to.

[2017-07-11 17:11] fredgibbs commented on #406
it seems the last 5 or so lessons published during our redesign work do not have abstracts, which makes them look incomplete on the new lessons index page.
![screen shot 2017-07-11 at 11 05 23 am](https://user-images.githubusercontent.com/515448/28080556-a930199e-6629-11e7-9344-e7d36aca1119.png)

[2017-07-12 03:58] mdlincoln commented on #406
I'm going to write up short abstracts for these five lessons, so that we can launch the redesign. We can always go back in and change them later.

[2017-07-12 03:59] mdlincoln opened #505 "YAML check should validate abstracts"

[2017-07-12 04:15] #406 closed, assigned to mdlincoln

[2017-07-12 04:15] #505 closed, assigned to mdlincoln

[2017-07-12 12:43] mariajoafana commented on #503
Ok, sounds good

[2017-07-12 15:04] acrymble commented on #498
I think we can simplify this all by adopting a policy of altering any lesson as we see fit, but rather than claiming these lessons are 'by' the authors, they become 'derived from'. That lets authors maintain their moral rights without attributing new issues to them.

That opens up all of the revision options I know many people would like to see, and protects the rights of authors.

[2017-07-12 15:49] #491 closed, assigned to mdlincoln

[2017-07-12 16:28] acrymble opened #507 "lesson count incorrect?"
The 'Reset to see all lessons (85)' seems to be showing the full count of English and Spanish lessons. This is confusing because you can't actually view them all at once. Same problem on the Spanish page

http://programminghistorian.org/es/lecciones/

[2017-07-12 16:36] fredgibbs commented on #507
on it.

[2017-07-12 16:38] acrymble opened #508 "guide for translators (es) not on menu"
I presume this is a minor oversight, because all of the other ES contribute links are:

http://programminghistorian.org/es/guia-para-autores.html

[2017-07-12 16:46] fredgibbs commented on #507
fixed with 733b14c

[2017-07-12 16:46] #507 closed, assigned to fredgibbs

[2017-07-12 18:57] fredgibbs opened #509 "sorting by difficulty too flat?"
While I like the difficulty sorting feature, having only 3 levels for many dozens of lessons (and having only a few advanced difficulty lessons), reduces its utility considerably. It might be worth revisiting if we should have finer grained (= more) levels, or maybe add an additional sorting field like time (= expected time to complete tutorial).

[2017-07-12 19:09] mdlincoln opened #510 "Abstracts for Spanish lessons"
Do we want them?

[2017-07-12 19:11] mdlincoln opened #511 "Establish _data file for categories"
Right now we have a `_data/topics.yml`, but the lesson categories are instead hardcoded into the javascript & lesson html, not to mention hardcoded into the plugin that validates lesson YAML before trying to build the site. By abstracting this out into a data file, it'll be easier to edit & add new categories.

[2017-07-12 20:13] acrymble commented on #509
Just tried this sort. There doesn't seem to be a visual indicator of the divisions, so from a usability standpoint it looks like a progression from easy to difficult, with each lesson getting harder.

If there was a numerical count like on the other types of category, that might help encourage people to fill in the gaps in provision (ie, to write more difficult lessons).

[2017-07-12 20:14] mdlincoln commented on #509
@acrymble I think those could both be very good additions.

I'd hesitate to add a fourth level of difficulty, lest we need to parse the difference between slightly-less-than-medium and slightly-more-than-medium difficulty.

[2017-07-12 20:57] arojascastro commented on #510
Yes, why not? @vgayolrs @mariajoafana

[2017-07-12 20:59] arojascastro commented on #508
The guide for translators and the guide for authors are the same page. However, in that link there are two sections missing.

[2017-07-12 23:55] mdlincoln commented on #510
OK - I'll leave it to you to add them when you have time!

[2017-07-12 23:56] mdlincoln opened #512 "Make 'abstract' a required YAML field for all lessons"
Right now, `abstract` is only a required YAML field for english lessons. Once #510 is done, I will configure the validation plugin to check `abstract` on _all_ lessons.

[2017-07-13 04:45] #511 closed, assigned to mdlincoln

[2017-07-13 04:50] mdlincoln commented on #508
@arojascastro What sections are missing?

[2017-07-13 06:49] acrymble opened #513 "redesign has reduced usability of submission site styling"
As noted by Shawn Graham:

line numbers missing, styling gone:

http://programminghistorian.github.io/ph-submissions/lessons/correspondence-analysis-in-R

[2017-07-13 07:06] acrymble commented on #513
to clarify, I mean the preview of lessons in progress. Not the github site itself.

[2017-07-13 09:27] arojascastro commented on #508
Sorry! I was wrong. The problem is that the current list of steps looks a bit confusing to me. They look like headings so I was expecting some text after each step, but I only found text after the third where it actually the text starts.

I think this could be solved if the spacing between the steps was reduced and also if we add a heading for step number 1, which is missing at the moment. Does it

[2017-07-13 13:51] walshbr opened #514 "Twitter Bot and Deprecated Lessons"
A deprecated lesson came up this week on the Twitter Bot, I nabbed it from the Twitter stream once I noticed, but it had gotten an engagement or two already. I'm assuming that we don't want to be actively tweeting those lessons that we're not promoting as current, so the Twitter bot will need to be refactored slightly to account for the fact that lessons might get pulled eventually. We could add a

[2017-07-13 14:16] walshbr opened #515 "Submenus"
Highlight some stuff that is fairly static - Particularly re: Makerspace and Graduate Fellowship application information

[2017-07-13 14:24] #515 closed, assigned to nobody

[2017-07-13 14:25] walshbr commented on #515
Blargh that's what I get for working with issues from the command line with multiple tabs open - wrong repo. Sorry!

[2017-07-13 14:27] mariajoafana commented on #510
Yes

[2017-07-13 14:28] mariajoafana commented on #510
Thanks @mdlincoln

[2017-07-13 14:31] mariajoafana commented on #510
I can take care of adding/translating the abstracts @arojascastro @vgayolrs

[2017-07-13 16:38] wcaleb commented on #513
I can work on this.

[2017-07-14 07:03] acrymble commented on #497
Is it possible for this to go out next week?

[2017-07-14 12:23] acrymble opened #516 "Editorial Meeting Agenda (ES) - 28 July 2017"
Please make suggestions for this meeting:

* #486 - Spanish twitterbot
* #510 - Abstracts in Spanish
* #481 - Open Access text relevant to EU
* Reaching Spanish audiences

[2017-07-14 12:33] acrymble commented on #130
Just noticed this old ticket. It looks like the suggested citation has been fully removed. Is that our intention?

[2017-07-14 13:32] mariajoafana opened #517 ""Editado por" not displaying in Spanish lessons"
Is missing from all the Python series and from the following lessons:
[http://programminghistorian.org/es/lecciones/introduccion-control-versiones-github-desktop](url)
[http://programminghistorian.org/es/lecciones/sparql-datos-abiertos-enlazados](url)
[http://programminghistorian.org/es/lecciones/creando-diagramas-de-redes-desde-fuentes-historicas](url)
[http://programminghistorian.org/es/leccione

[2017-07-14 14:24] fredgibbs commented on #497
that's the plan.

[2017-07-14 14:53] fredgibbs commented on #130
I left it off on purpose because i didn't see a consensus on either this issue or the related #404 about whether they should be displayed at all, or what their ultimate purpose is (presuming that people who want to cite an article will cite it according to their own citation formatting requirements and don't need us to tell them how). It's easy to add to the lesson template once decided.

If one t

[2017-07-14 14:55] wcaleb commented on #513
See initial fixes at https://github.com/programminghistorian/ph-submissions/pull/96.

[2017-07-14 15:01] acrymble commented on #130
I'm actually fine leaving these off for now, if everyone else is. The metadata is a bit easier to see in the new versions. The only case I can see for putting it on is to actually encourage people to cite things on the internet properly. It drives me up the wall when (students) put URLs in footnotes all by themselves. So in that sense it's just a mental reminder to people that they're looking at s

[2017-07-14 15:01] #130 closed, assigned to nobody

[2017-07-14 15:07] wcaleb commented on #517
This raises a larger question. Should the "editor" for the English lesson also be displayed as the editor for the Spanish translation? Is there a "Spanish editor" role that needs to be distinguished from "original editor"? I though the only roles unique to the Spanish lessons were "translator" and "translator reviewer." So, for example, on "creando-diagramas-de-redes...," wouldn't the editor still

[2017-07-14 15:08] wcaleb commented on #517
P.S. The technical issue causing the problem is that the yaml field should be "editors," not "editor". Perhaps my above question could be resolved if the Spanish editor is listed together with the original English editor as "editors."

[2017-07-14 15:09] acrymble commented on #517
I thought she meant in the author listing
![screen shot 2017-07-14 at 16 08 29](https://user-images.githubusercontent.com/646647/28217906-be8a336a-68ae-11e7-8450-057b7ffc902c.png)

[2017-07-14 15:09] acrymble commented on #517
Oh nevermind, I see you'er right @wcaleb . Sorry.

[2017-07-14 15:16] acrymble commented on #404
@fredgibbs has suggested adding date ranges of activity to team members on the Project Team page. We already do this for emeritus members. I don't think we have a list of active members. Is this correct?:

Maria José: 2016
Adam: 2011
Victor: 2016
Fred: 2011
Matt: 2017
Caleb: 2014
Ian: 2014
Jess: 2017
Antonio: 2016
Amanda: 2016
Brandon: 2017
Jeri: 2015

[2017-07-14 15:31] fredgibbs commented on #517
in many cases, there is no editor or editors yaml field listed at all. i think the best solution is actually to make all yaml fields plural (editors, reviewers, translators, translation-reviewers) to minimize future confusion. this would mean updating yaml in all the spanish lessons to have translators and translation-reviewers (the other fields are already plural on all lessons) and update the le

[2017-07-14 18:09] mdlincoln commented on #517
If we do set up the Spanish lesson to display both the translation editor as well as the original editor, I would suggest splitting apart an `editors` and `translation-editors` field in the YAML. Even if we'd like to display both editors in equal positions on the lesson page, I want to make sure we can keep that knowledge structured distinctly, in case we later think of some reason we want to dist

[2017-07-14 18:55] #508 closed, assigned to nobody

[2017-07-14 18:55] mdlincoln commented on #508
@arojascastro I just modified the headings for the instructions - hopefully it's more clear now.

[2017-07-14 19:12] arojascastro commented on #508
@mdlincoln perfect! many thanks :)

[2017-07-15 12:17] walshbr commented on #514
Refactored to remove the ID column. Moved the deprecated tweets to a third sheet in that same google spreadsheet called "Deprecated."

[2017-07-16 13:49] wcaleb commented on #513
Initial adjustments done, so I'm closing this.

[2017-07-16 13:49] #513 closed, assigned to wcaleb

[2017-07-17 23:06] jerielizabeth commented on #404
2015 for me is correct.

[2017-07-17 23:58] ianmilligan1 commented on #404
I think 2014 is correct for me as well.

[2017-07-18 06:15] acrymble commented on #516
this will be part of the Wednesday meeting instead #504

[2017-07-18 06:15] #516 closed, assigned to nobody

[2017-07-18 08:13] arojascastro opened #518 "licence in Spanish should be modified"
Currently, in the footer, we are displaying this legal note: `The Programming Historian en español se publica con CC-BY licencia.`.

It should be:

`The Programming Historian en español se publica con una licencia CC-BY.`

Any ideas how to change this?

[2017-07-18 08:49] acrymble opened #519 "back button to lessons page forgets choices"
This may be impossible, but I just noticed that (Chrome) when using the filters on the lessons page and then going to a lesson, when you use the back button the filters are not remembered because the buttons don't get linked to the URL in any way.

Is this something we can add or is that a nightmare?

[2017-07-18 18:27] mariajoafana commented on #510
I just finished adding all the abstracts for the Spanish lessons.

[2017-07-18 18:29] #510 closed, assigned to arojascastro

[2017-07-18 18:37] #518 closed, assigned to mdlincoln

[2017-07-19 15:13] acrymble commented on #427
Fixed this will https://github.com/programminghistorian/jekyll/commit/2186637831bfaa878cb281201b264cf9c6abf618#diff-27455f84f02fccb1aba2862e3b34cb0e

[2017-07-19 15:13] #427 closed, assigned to acrymble

[2017-07-19 15:38] acrymble commented on #408
The direct issue in this lesson has been addressed with a warning:

## Python Version

This lesson was written using Python v. 2.x. Code may not be compatible with newer versions of Python. '[Python Introduction and Installation](lessons/introduction-and-installation)' provides instructions for how you can install Python 2.x alongside newer versions.

---

I have added this to the python-based les

[2017-07-19 15:39] mdlincoln opened #520 "Python warnings broken link"
@acrymble The warnings you've been adding to python lessons have a broken link. You need to use a leading `/` to create a valid url to the python introduction and installation lesson.

Also, consider saving that python warning in the `_includes` folder and then adding `{% include python_warning.html %}` to the necessary lessons, so that it's easier to change the source text in one place without ma

[2017-07-19 15:49] acrymble commented on #405
Pages this affects (english only)

- [x] /project-team
- [x] /about
- [x] /research
- [x] /contribute
- [x] /reviewer-guidelines
- [x] /author-guidelines
- [x] /index

[2017-07-19 15:59] acrymble commented on #405
All english pages fixed as per @wcaleb suggestions above.

[2017-07-19 15:59] #405 closed, assigned to nobody

[2017-07-19 16:10] acrymble commented on #520
sorry. Fixed them. A separate issue, but do we want includes being used on lesson-specific stuff rather than footer/header type material? That could get messy, no?

[2017-07-19 16:10] #520 closed, assigned to acrymble

[2017-07-19 16:12] acrymble commented on #404
@wcaleb can you confirm 2014?

[2017-07-19 16:13] acrymble commented on #366
I suspect this can now be closed, as these lessons have been translated? Is that true, @vgayolrs ?

[2017-07-19 16:16] mdlincoln commented on #520
Given that you've right now put the python warning within the body of the lesson text, we have to use an include.

I implemented a table of contents include precisely because, depending on the exact heading structure of that lesson, it may or may not make sense to stick it in a predefined location before the start of the lesson text.

[2017-07-19 16:25] mdlincoln commented on #520
On the other hand, if you'd prefer the warning to just display at the top alongside the previous/next lesson banner, then that's easily implemented as a quick YAML flag `python_warning: true`

[2017-07-19 16:26] wcaleb commented on #404
Yes, 2014.

Sent from my iPhone

[2017-07-19 16:50] acrymble commented on #303
@mdlincoln can we repurpose the lessons sorting features for this Project Team page?

[2017-07-19 16:56] mdlincoln commented on #303
I don't see a compelling reason to do so. We don't have 60+ editors.

[2017-07-19 16:57] acrymble commented on #303
As a way of seeing all the people involved in a given aspect of the project. Otherwise I can just hardcode it as a list of keywords.

[2017-07-19 17:17] acrymble commented on #303
Updated listed (minus Fred and Caleb):

- [x] Maria José Afanador-Llach works in the Fundación Histórica Neogranadina, Colombia.
Current Teams: Spanish Team, Ombuds (Spanish); Board

- [x] Adam Crymble is a lecturer of digital history at the University of Hertfordshire, UK.
Current Teams: Editorial Team; Community Development Team; Board

- [x] Víctor Gayol is a professor at El Colegio de Michoacá

[2017-07-19 17:26] acrymble commented on #303
@wcaleb I've tried to make a dev version of this on the submissions site at /project-team but it won't let me visit the URL. Has this been disabled? And if so is there a workaround I can use?

[2017-07-20 17:37] #512 closed, assigned to mdlincoln

[2017-07-20 17:47] mdlincoln commented on #517
OK let's fix one problem at a time. I'm creating a separate issue about plural fields.

For this issue: @mariajoafana @vgayolrs @arojascastro

Please add `editor` fields for editor of the original lesson, and `translation-editors` field with the translation editor.

Once this is done, we can configure display of both fields. We can also then do a find/replace later if we really want to switch all

[2017-07-20 17:49] mdlincoln opened #522 "Configure display of editor & translation-editor fields"
Once #517 has been fixed, we need to ensure that both the editor and translation-editor fields are displayed.

Quick fix?: concatenate both and display as multiple editors

Longer fix?: Create a separate translation editor display heading in the lesson layout.

[2017-07-20 20:07] mdlincoln opened #523 "CSS for tables isn't rendering well/at all"
See e.g. https://programminghistorian.org/lessons/understanding-regular-expressions#lesson-goals

[code]

renders as

<img width="786" alt="screen shot 2017-07-20 at 1 05 26 pm" src="https://user-images.githubusercontent.com/4392604/28436559-295cf9c4-6d4c-11e7-8361-f3ab0798de90.png">

(This also needs fixing in ph-submissions for https://github.com/programminghistorian/ph-submissions/issues/78)

[2017-07-21 03:19] mdlincoln opened #525 "Python 2 lesson warning"
Can one of the Spanish team edit the [python-warning snippet](https://github.com/programminghistorian/jekyll/blob/gh-pages/_data/snippets.yml#L195) to be displayed on any lessons originally written for Python 2?

I've already set the warning to display on the english lessons that @acrymble originally marked, as well as all their Spanish translations.

[2017-07-21 06:06] acrymble commented on #408
This has been coopted into  #525

[2017-07-21 06:06] #408 closed, assigned to nobody

[2017-07-21 12:04] acrymble opened #526 "B&W project team photos?"
Would anyone object to me swapping everyone's photo with a black and white equivalent for the /project-team page?

This will only affect @mdlincoln @ianmilligan1 @JMParr @arojascastro @walshbr

I think the B&W ones look nice and consistent, but I don't want to squash anyone's personal identity expression!

[2017-07-21 13:25] walshbr commented on #526
No objections at all! Also happy to swap out that photo for something without ice cream if you prefer something more professional if you prefer.

[2017-07-21 13:26] ianmilligan1 commented on #526
No objections for me!

(I'm on team ice cream btw, @walshbr) 😉

[2017-07-21 13:34] JMParr commented on #526
No problem. Would you mind swapping out my headshot for the attached? I'd
meant to do it, but haven't had a chance. It's already black and white.

(I am also on team ice cream, @walshbr) :)

On Fri, Jul 21, 2017 at 9:26 AM, Ian Milligan <notifications@github.com>
wrote:

[2017-07-21 13:43] acrymble commented on #526
can you email it to me @JMParr ?

[2017-07-21 13:47] JMParr commented on #526
Done. Thank you!

On Fri, Jul 21, 2017 at 9:43 AM, Adam Crymble <notifications@github.com>
wrote:

[2017-07-21 14:06] acrymble commented on #303
@mdlincoln as the snippets on the project team page are generated from the /authors.yml file, and as these are also used in lesson pages, can I add the tags listed above to this under a new yml thingermabob called 'subteams', and then change the /_includes/contact-info.html accordingly? I want to preserve what we've got but add this new detail.

[2017-07-21 14:08] acrymble commented on #303
Not sure if that's clear. My entry would look like this:

- name: Adam Crymble
  github: acrymble
  email: adam.crymble@gmail.com
  twitter: Adam_Crymble
  url: "http://adamcrymble.org"
  team: true
  sortname: Crymble
  subteams: editorial, community, board
  bio:
    en: |
        Adam Crymble is a lecturer of digital history at the University of
        Hertfordshire.
    es: |
        Adam Cry

[2017-07-21 16:59] mdlincoln commented on #526
OK

[2017-07-21 18:21] arojascastro commented on #526
Done! I tried to add my personal website but it is not working, I think. I tried "www.antoniorojascastro.com", "https://antoniorojascastro.com" and "antoniorojascastro.com"...

[2017-07-21 18:32] arojascastro commented on #525
translated here: https://github.com/programminghistorian/jekyll/blob/fc429f02bb53c8e1e2aff88bfdb09120ac69f7b8/_data/snippets.yml

Thanks

[2017-07-21 18:44] arojascastro commented on #415
I added all dates except those for python here 4cf0ba5c6731f919d5c85fea070dc7aad88f8853

I retrieved them from here https://github.com/programminghistorian/ph-submissions/issues?q=is%3Aissue+label%3Atranslation+is%3Aclosed

@vgayolrs where can I find the translation date for your python lessons?

[2017-07-21 18:53] arojascastro commented on #486
Ok, I think I fixed them: https://docs.google.com/spreadsheets/d/1o-C-3WwfcEYWipIFb112tkuM-XOI8pVVpA9_sag9Ph8/edit#gid=904817529

Should I delete those X and XY?

[2017-07-21 20:06] mdlincoln opened #527 "Add translation_date as required YAML field"
Once #415 is closed

[2017-07-21 20:07] #525 closed, assigned to arojascastro, vgayolrs, mariajoafana

[2017-07-21 20:53] mdlincoln commented on #303
Sure, that would work fine. You'd want to code it like so (I think `team_roles` is more descriptive than `subteams` FWIW)

[code]

Once this is done, we'd need to

1. Create a data file for these roles so that they can get both EN and ES terms and descriptions
2. Decide how to display the tags on the project team page

[2017-07-21 21:16] walshbr commented on #486
Looks good @arojascastro! Nah leave the X/XY as is. That column is used by the bot to track which things it has tweeted and what the most recent tweet was (so that it uses the same lesson twice a week). Not meant to be touched human hands unless you want to alter the queue.

Looks like the remaining work is just to populate tweets for the other translated lessons when you get a chance.

[2017-07-22 07:30] acrymble commented on #526
Thanks everyone. @arojascastro I've fixed your URL.

[2017-07-22 07:30] #526 closed, assigned to nobody

[2017-07-22 07:31] acrymble commented on #477
This will be filled by @JMParr from September 1 2017 until August 31 2018.

@jerielizabeth, can you make sure she has the keys? We'll have to remember to update the website in various places as well.

[2017-07-22 07:31] #477 closed, assigned to nobody

[2017-07-22 07:47] acrymble commented on #303
I've added those as described. Will mockup a display proposal.

[2017-07-22 08:05] acrymble opened #528 "Spanish Outreach strategy"
Opening this because it's on the editorial agenda #504.

We need a strategy for making Spanish-speakers aware of the resource so that all of the work the team have put in is used as widely as possible. I'm sure there are some things already being employed.

[2017-07-22 08:14] arojascastro commented on #486
Thank you @walshbr! Yes, so far we are covering all translations. I am hoping we are publishing new ones soon and we are adding more messages.

[2017-07-22 10:00] acrymble commented on #303
mockup for comment. Also incorporates dates of activity as per #404. Everything from "Community Participants" and below on the existing page would just stay the same.
![teammockup](https://user-images.githubusercontent.com/646647/28490234-c62023c2-6ecc-11e7-9b61-101b1dc7593c.png)

[2017-07-22 11:29] walshbr commented on #486
Ah does that mean you have all the current tweets up there for all current translations? I thought we were a few short, but if we're up to date I can close the issue. Thanks @arojascastro

[2017-07-22 12:51] arojascastro commented on #486
I think so if I'm not mistaken @mariajoafana

[2017-07-22 14:25] mdlincoln commented on #303
Adam I think this looks great! If we decide to move ahead, this should be relatively simple to implement on the back end.

[2017-07-22 14:33] mdlincoln opened #529 "Document technical integrations"
It'd be good for the contributing docs on the wiki to have a page documenting the non-github services we're using, who maintains those integrations, and who holds the keys (if applicable) to each of those.

- Travis CI
    - maintained by: @mdlincoln
    - keys: uses GitHub OAuth, no addt'l pw
- Netlify
    - maintained by: @mdlincoln
    - keys: uses GitHub OAuth, no addt'l pw
- Twitter bot
    -

[2017-07-22 14:50] arojascastro opened #530 "Isn't the home image too big?"
In my MacBook Air 11 inch I just noticed that the name of the website is not visible because the image is too big.

Now it's 100%:
![100](https://user-images.githubusercontent.com/7340111/28492113-17de77b0-6efd-11e7-9154-5bef8a570fd2.png)

If we reduced it to 75% then we could read *The programming historian en español*:
![75](https://user-images.githubusercontent.com/7340111/28492116-28ea4bce-6ef

[2017-07-23 13:15] walshbr commented on #529
Twitter bot involves two keys - Twitter credentials and Google Spreadsheet credentials. The Twitter credentials are embedded in Heroku, but they're ultimately owned directly by our proghist twitter account at https://apps.twitter.com. The Heroku account is owned by me with @mdlincoln and @jerielizabeth as collaborators.

Google Spreadsheet is a bit trickier b/c it wants a keychain file generated f

[2017-07-23 14:50] acrymble commented on #529
We also have the Google Analytics account, which is tied to my Google account, but which everyone should have access to.

[2017-07-24 11:18] mariajoafana commented on #517
Ok, thanks, on it.

[2017-07-25 08:18] symac opened #531 "Programming historian as en epub?"
Hello,
before the holidays I was thinking about getting a copy of the website as en epub to read it offline during the summer. This does not seem seem to be an option at the moment, is this something that is planned or should I write my own parser if I want to have PH on my e-book reader?

[2017-07-25 08:27] acrymble commented on #531
There is a downloadable version from 2016 available on Zenodo: https://zenodo.org/record/49873#.WXcAgNPyui4

Some of the lessons will have been updated, and obviously it doesn't include the newer lessons, but that might be useful to you.

If you don't mind the formatting, you can download all of the lesson files and accompanying images:

https://github.com/programminghistorian/jekyll/tree/gh-pages

[2017-07-25 08:43] symac commented on #531
Thanks @acrymble for the fast answer, if I find time this summer, I will try to write a ph-epub exporter then!

[2017-07-26 04:39] mdlincoln commented on #531
Closing because this has been answered - but @symac do be in touch if you end up writing an exporter!

[2017-07-26 04:39] #531 closed, assigned to nobody

[2017-07-26 04:52] mdlincoln commented on #530
https://reduce-home-img-width--ph-dev.netlify.com/

How does this look @arojascastro? (disregard the different fonts on that preview version of the page - that's another issue I'm about to fix!)

[2017-07-26 07:58] arojascastro commented on #530
Yes @mdlincoln nos it's fitting 💯

[2017-07-26 15:13] #530 closed, assigned to mdlincoln

[2017-07-26 15:14] mdlincoln opened #533 "GitHub permissions/security assessment"
Working on a review of our account setup.

Re: #529

[2017-07-26 16:38] acrymble commented on #498
Decisions:

* minor changes of 1-2 sentences worth of change or less can be done under the existing policies.
* If major issues needed, a new ticket opened
* Spanish team consulted if translation already exists.

Also:

* Require a discussion about sustainability policies and defensive writing to minimise needs for change in future #534
* Require a discussion about deprecation policies #536.

[2017-07-26 16:41] mdlincoln commented on #497
@fredgibbs will post draft of the general blog post for the team to look over. One this general one goes live, I'll post #500 about a week later.

[2017-07-26 16:42] acrymble opened #534 "Sustainability Strategy for lessons"
Coming from #498, we need to develop a strategy for how authors can write in a way that minimises the need for changes in future, and for readers to understand what to expect.

[2017-07-26 17:01] arojascastro commented on #481
Ok, I'll take care of this.

[2017-07-26 17:16] arojascastro commented on #486
We can reopen later

[2017-07-26 17:16] #486 closed, assigned to arojascastro, vgayolrs, mariajoafana

[2017-07-26 17:18] acrymble commented on #528
@vgayolrs mentioned some plans to host some workshops. He'll let us know if he needs any support for those.

We recognise that there's no urgency at the moment as this project is still new.

[2017-07-26 17:20] arojascastro opened #535 "Difficulty is not displayed as metadata in Spanish lessons"
The YAML block contains that information though.

[2017-07-26 17:21] acrymble commented on #460
Decision is to add 1 more editor at this time, via a subcommittee of @acrymble @JMParr and @walshbr .

[2017-07-26 17:21] #460 closed, assigned to nobody

[2017-07-26 17:24] acrymble commented on #472
This is implemented, no? Can close? @jerielizabeth

[2017-07-26 17:24] acrymble commented on #461
I don't think we need this open at the moment, given our latest call discussion about potential pitches not following through. Reopen if needed.

[2017-07-26 17:24] #461 closed, assigned to nobody

[2017-07-26 17:26] fredgibbs commented on #535
the problem is in the difficulty.html include file, which is coded to display only in english. the proper solution is to move what's in that file to the _snippets include and code the difficulty.html file to pull from there as is the process for displaying other translation snippets (see the lessons.html template for examples).

[2017-07-26 17:26] acrymble commented on #404
This will be addressed by the changes from #303 .

We are removing the suggested citation for the whole project (not individual lessons necessarily) in exchange for giving readers more information about who was involved with the project at which times.

[2017-07-26 17:26] #404 closed, assigned to nobody

[2017-07-26 17:26] #366 closed, assigned to vgayolrs

[2017-07-26 17:28] acrymble commented on #534
#499 draft blogpost had relevant text on this. But given Anandi's expertise, perhaps we should wait and do it right.

[2017-07-26 17:31] acrymble commented on #488
I haven't received any more information on this. I'm going to close because there's no capacity to action this at the moment.

[2017-07-26 17:31] #488 closed, assigned to acrymble

[2017-07-26 17:33] acrymble opened #536 "Lesson archiving policy discussion"
Arising from our July 2017 editorial call, we need to come up with a policy for deprecation that we can justify and all stick to (see #498)

[2017-07-26 18:32] acrymble commented on #303
I've half-done this. I've added the Project Team Membership History and Managing Editor bits, but not the simpified project team descriptions.

I've added an affiliation value for each active team member in preparation for the last phase.

[Update: I haven't touched the Spanish page yet]

[2017-07-26 18:34] mdlincoln commented on #303
This is great Adam. Actually displaying the project team descriptions is something that I'd like to structure into the Jekyll layouts of the page (so it's easier to add/change teams AND keep translations in sync) so let me try some drafts of that this weekend?

[2017-07-26 18:40] alsalin commented on #534
I like the info in #499, but there are some things we might want to consider given the conversation during today's meeting:

Making the following explicit in the metadata at the top of each article. In my random survey, articles have this information at different spots in their introductions, which vary greatly.
- sw versions
- dependencies
- data sources
- basically anything needed to get the tut

[2017-07-26 22:37] fredgibbs commented on #497
i'm waiting on this a little longer since i think i can finish filtering/sorting state maintenance in the next few days, which will be nice to have in place before we attract attention to the post and the lessons page. stay tuned!

[2017-07-27 00:01] mdlincoln commented on #536
A practical (if somewhat _laissez-faire_) approach that we are essentially using now is:

1. A lesson has become so out of date that we receive complaints about it AND
2. Issues are not fixable by correcting one or two URLs, but instead demand systemic changes to text, code, and/or figures _such that someone would need to walk through the entire lesson step-by-step to test_ AND
3. After opening a

[2017-07-27 00:06] mdlincoln commented on #407
Is this closeable now that we have the python warnings?

[2017-07-27 00:07] mdlincoln commented on #393
Flagging this for consideration re: #536

[2017-07-27 00:16] mdlincoln commented on #534
One note that I think @JMParr raised in the meeting today by skype message was that a reviewer for an R lesson submission said they'd require that the lesson be resubmitted using currently-maintained R packages. I think this is a great example of peer review _working as intended_, where a specialist in that particular language/software brings subject-specific sustainability issues to the attention

[2017-07-27 00:38] JMParr commented on #534
This sounds like a good bullet point to the reviewer guidelines. Certainly,
we want to encourage the peer reviewers to point out when there are newer
versions of software packages.

On Wed, Jul 26, 2017 at 8:16 PM, Matthew Lincoln <notifications@github.com>
wrote:

[2017-07-27 02:03] ianmilligan1 commented on #393
Why don't us authors talk and see if we can get this updated.

[2017-07-27 07:56] arojascastro commented on #535
I am sorry, I am afraid I am not enough profiency in Github pages to understand the problem. Maybe @mdlincoln can help us?

[2017-07-27 12:20] fredgibbs commented on #535
I can fix this today if @mdlincoln hasn't already started on it.

[2017-07-27 15:04] mdlincoln commented on #535
It's all yours @fredgibbs

[2017-07-27 15:12] mdlincoln commented on #536
One gray area that I can think of after re-reading #393 - there will be cases where earlier versions of software _are still available_ (Mallet 0.7 vs. Mallet 0.8; python 2 vs python 3) and the lesson still works just fine with them. So a minor change in download url, or an extra warning about use of an older version, could be enough to keep the lesson from being deprecated.

If, of course, earlier

[2017-07-27 15:20] mdlincoln opened #537 "Document use of Netlify for ph site preview development"
This will go in the wiki

[2017-07-27 15:31] acrymble commented on #536
This ties with @alsalin 's advice in #534 that we should be foregrounding dependencies in the metadata. It's one thing for our advice not to be the most up to date, and another to give bad advice that leads scholars down a wrong path.

[2017-07-27 16:07] ianmilligan1 commented on #536
The trick in #393 is that while 0.7 is downloadable, people often come to our site after downloading 0.8. We are the de facto manual for a lot of folks for MALLET.

[2017-07-27 16:11] mdlincoln commented on #393
https://github.com/programminghistorian/jekyll/issues/536#issuecomment-318408907

[2017-07-27 16:18] mdlincoln commented on #536
Combined with the dependencies advice, are we missing anything else in this policy?

[2017-07-27 16:40] acrymble commented on #536
Maybe who gets to make the decision. And to what degree we want to avoid doing this?

[2017-07-27 17:00] mdlincoln commented on #536
A ticket is issued, we discuss as a group, we decide. I believe authors should be notified if possible (and we should _definitely_ publish this policy in the submission guidelines) but it's our journal and our decision how to organize and present.

Degree is going to be enforced by our editorial bandwidth. If it is beyond our abilities and will to do something about it within a reasonable timeline

[2017-07-27 17:13] acrymble commented on #536
@mdlincoln It's probably more socially awkward than that.

I suspect our team members won't feel equally comfortable opening those tickets. Especially if it was written or edited by someone else on the team. Lessons edited by emeritus members might find themselves without defenders. I don't think this is as objective as it might seem.

[2017-07-27 17:16] mdlincoln commented on #536
You're right, it's absolutely not objective - hence requiring a discussion specific to the context of each lesson, rather than a blanket "if no fix made within 60 days, lesson deprecated" policy. I'd never advocate for the latter.

Practically speaking, though, what additional policy language would be good to record internally & externally (beyond what we've assembled so far) in order to address t

[2017-07-27 18:14] drjwbaker commented on #536
Chiming in from the outside (because I'm really intrigued how you might handle this and am therefore following along..):

1) Using less software specific language to describe all this might be useful: how many historians use/understand "deprecate" in the way you mean here?
2) All papers age but none are officially 'deprecated' by journals. Making sure authors know that deprecation doesn't mean tha

[2017-07-27 18:17] mdlincoln commented on #536
@drjwbaker these are really excellent points! I especially like 3 - just because we're "retiring" (?) a lesson doesn't mean it was a failure - the very fact that people would raise alarms about it being out of date would suggest that it's a valued resource.

[2017-07-27 20:03] fredgibbs commented on #536
maybe instead of deprecate we should archive. we could also have an "archives" button or something on the lessons index page to improve visibility of those lessons and explain the what and why of our archives (and maybe invite/encourage people to create a derivative lesson with more recent software versions).

[2017-07-27 20:09] fredgibbs commented on #519
should be working better with f8e05f410fb344f78b23ab50c8e4827a72063e5c.

[2017-07-27 21:27] fredgibbs commented on #535
should be working with 8408b52

[2017-07-28 04:58] vgayolrs commented on #303
@acrymble : As soon as @mdlincoln  finishes his drafts, I can lend a hand with the Spanish version.

[2017-07-28 05:17] vgayolrs commented on #528
At this moment I am programming two types of activities. On one hand an inductive talk about the PH project, and on the other hand the realization of a three-day workshop with the most basic topics offered by PH: data management, data manipulation and an introduction to Python. At the moment these are the topics that have already begun to be translated into Spanish, and the idea is also to find mo

[2017-07-28 05:53] #523 closed, assigned to nobody

[2017-07-28 06:05] #535 closed, assigned to fredgibbs

[2017-07-28 06:06] #519 closed, assigned to nobody

[2017-07-28 08:49] acrymble opened #538 "New Editorial Call coordinator"
I'd like to pass the baton on organising and leading our editorial calls. I've been doing it for a couple of years and I think it's time to let someone else have a go. I've also got a pretty punishing teaching schedule coming up this term, so I may not be widely available and that shouldn't hold the project back.

The role involves:

1) Sending out a doodle poll each month to find a date we can ho

[2017-07-28 08:52] acrymble commented on #407
We used to have comments back when we were on Wordpress. It's a shame we've lost that actually because this could be the type of thing solved through a comment (I'm not suggesting we implement that now!). But yes, I suppose we can close it.

[2017-07-28 08:52] #407 closed, assigned to nobody

[2017-07-28 09:37] drjwbaker commented on #536
Quite.

[2017-07-28 12:12] acrymble commented on #536
I think we'll need to distinguish between:

1) (technical) You can't actually do the lesson anymore because the technology doesn't exist / is so difficult to get together that it's unrealistic to expect an intelligent human to do so.
2) (social) There's a better way that you could do this task now.

The first is fairly objective, and in my view is what we're after here. The second type, I'd rather

[2017-07-28 17:08] fredgibbs commented on #497
OK, I've posted a draft in the _posts folder https://github.com/programminghistorian/jekyll/blob/gh-pages/_posts/2017-07-28-new-lessons-page.md; please anyone who's interested have a quick read and make any changes that seem useful. Don't be shy about editing! Maybe sometime this afternoon we can switch published to true if that gives everyone enough time for review.

[2017-07-28 21:12] mdlincoln commented on #497
I'd love to add some screenshots (or better yet, some GIFs) showing the buttons in action. I can do that now.

[2017-07-28 21:31] mdlincoln commented on #497
I think it reads great, @fredgibbs

[2017-07-28 22:20] fredgibbs commented on #497
thanks @mdlincoln for the GIFs and screenshot! Huge improvement. I'm happy to flip the published flag whenever.

[2017-07-28 22:50] mdlincoln commented on #497
😬 oops, I think I accidentally set it to published already when I was trying to preview it locally! So... I think this is now posted.

[2017-07-28 22:50] #497 closed, assigned to fredgibbs, amandavisconti

[2017-07-28 22:55] fredgibbs commented on #497
haha--perfect! one less thing to do now.

[2017-07-28 23:05] mdlincoln commented on #429
It sounds like we're going to see how these topics work for now - we may get feedback as solicited by Fred in the [blog post about the categories](https://programminghistorian.org/posts/new-lessons-page) and can reopen this if needed.

[2017-07-28 23:05] #429 closed, assigned to nobody

[2017-07-29 14:01] arojascastro commented on #522
The second? I would say that we should distinguish between the original editor and the translation editor because our work as translations editors is less important than the original editor's work. I mean, we only guide the conversation but we do not improve the lesson substantially because we must stick to the original content. Right? @vgayolrs @mariajoafana

[2017-07-29 14:35] #481 closed, assigned to acrymble, arojascastro

[2017-07-29 14:36] arojascastro commented on #415
@vgayolrs me puedes recordar la fecha de publicación de tus lecciones de Python, por favor?

[2017-07-29 14:49] vgayolrs opened #539 "Alert-warning in spanish transations"
Hi everybody!
I think that this issue has to be seen directly with @mdlincoln . In the new [lessons's layout](https://github.com/programminghistorian/jekyll/blob/3ac5ba8c0133cba6d4e8c9eb557c82b6d307e2be/_layouts/lesson.html) there is an alert warning that provide a link to the original lessons in the spanish translations (line 115-ss).

[code]

To achieve a more correct form in Spanish, line 117 s

[2017-07-29 14:55] vgayolrs commented on #415
@arojascastro : todas se publicaron ya corregidas a lo largo de la primera quincena de marzo 2017 (se puede ver en los tickets de revisión). Si quieres ponle 15 de marzo, o te hago la lista de cada una con la fecha de cierre del ticket. Tú me dices.

[2017-07-29 15:04] arojascastro commented on #415
Ok, @vgayolrs 15 de marzo va bien. Gracias.

[2017-07-29 15:10] arojascastro commented on #415
added all translation dates f80cfcc923639068b01e6a3b72e8b2e178e740ac

[2017-07-29 15:10] #415 closed, assigned to arojascastro

[2017-07-29 15:34] arojascastro opened #540 "Is it possible to replace "and" by "y" when there are two or more authors?"
For instance, in this lesson https://programminghistorian.org/es/lecciones/introduccion-a-bash we find `Ian Milligan and James Baker` and it should be `Ian Milligan y James Baker`.

A side note: the editor of the original and the editor of the translation is not displayed yet.

![captura de pantalla 2017-07-29 a las 17 32 21](https://user-images.githubusercontent.com/7340111/28745994-1b2f727a-7484

[2017-07-29 16:29] mdlincoln commented on #540
Yes, I can fix this.

[2017-07-29 16:45] mdlincoln commented on #303
Please see the preview available at #541 and add comments on the PR

[2017-07-29 16:47] mdlincoln commented on #539
Thanks @vgayolrs, I'll fix that.

[2017-07-29 18:53] #540 closed, assigned to mdlincoln

[2017-07-29 18:54] #539 closed, assigned to mdlincoln

[2017-07-29 18:58] #527 closed, assigned to mdlincoln

[2017-07-29 19:49] mdlincoln commented on #533
Sorry if you got spammed with a bunch of email notifications from GitHub just now. I was reorganizing our organization/team/repository permissions. In addition to removing a few folks who are no longer part of the editorial team, I migrated most of the team to "write" permissions rather than "admin" permissions.

This should have no effect on our day-to-day raising issues, editing the site, etc.

[2017-07-29 19:49] #533 closed, assigned to mdlincoln

[2017-07-30 13:12] #504 closed, assigned to nobody

[2017-07-30 18:02] mdlincoln opened #542 "Spanish translations for editorial team roles"
For #541 we are now ready to get translations of the editorial sub-team roles and labels. The file is on the `editor_roles` branch and can be edited here:

https://github.com/programminghistorian/jekyll/blob/editor_roles/_data/teamroles.yml

[2017-07-30 18:37] mdlincoln commented on #517
@mariajoafana the following lessons need `editors` added

* In /es/lecciones/contar-frecuencias.md:
  - [ ] 'editors' is missing.
* In /es/lecciones/crear-y-ver-archivos-html-con-python.md:
  - [ ] 'editors' is missing.
* In /es/lecciones/de-html-a-lista-de-palabras-1.md:
  - [ ] 'editors' is missing.
* In /es/lecciones/de-html-a-lista-de-palabras-2.md:
  - [ ] 'editors' is missing.
* In /es/lecci

[2017-07-30 18:40] mdlincoln commented on #522
The lesson layout is now fixed to display this. @arojascastro lesson `editors` still need to be added to many of the ES translations. See #517

[2017-07-30 18:40] #522 closed, assigned to mdlincoln

[2017-07-30 18:48] mdlincoln commented on #540
Also @arojascastro @mariajoafana @vgayolrs I am about to add the translation reviewer to the lesson layout, but the original `editors` still needs to be added to most of the lesson YAML in order to display correctly.

[2017-07-30 22:26] mdlincoln commented on #536
@acrymble That's a useful distinction. I agree with you that 1 is a good candidate for "archiving" (which I definitely like better as a term!). 2 is not enough to archive - although I think it _is_ something worth of consideration by peer reviewers re: #534

As far as explaining this policy publicly: right now, we have a banner that appears on lessons that have been deprecated/archived. I think, i

[2017-07-31 13:02] vgayolrs commented on #542
I'll take this, @mdlincoln .

[2017-07-31 13:33] vgayolrs commented on #542
@mdlincoln : On the first block of translations I have no doubt, but on the second block I would like the meaning to be revised.
i.e.: Ombudsperson = Defensor
In many Spanish-speaking countries *Ombudsperson* is translated as "Defensor del Pueblo" , but many times the term used is the English one. @arojascastro , @mariajoafana , any suggestion?

[2017-07-31 13:35] arojascastro commented on #542
What about "intermediario" o "mediador"? It is true that "defensor del pueblo" is widely used but in a legal context. In this context I am not sure. I would go with "ombudperson" (I never heard of that word before but now I got used to it) or "mediador" (de conflictos, se entiende). Anyway, a side note: I am going on holidays today! Back to work on 22 August 🥇

[2017-07-31 13:40] vgayolrs commented on #542
Thanks @arojascastro , makes sense to me (hapy holidays!). @mariajoafana , any thoughts?

[2017-07-31 13:57] mariajoafana commented on #542
The one that I've heard in the press "defensor del lector". I do like "mediador" and maybe we can keep "ombudperson" in parenthesis. Enjoy your holidays @arojascastro !

[2017-07-31 14:22] vgayolrs commented on #542
So, lets keep "mediador" instead of ""defensor". Thanks @mariajoafana , @arojascastro !

[2017-07-31 15:19] pkiraly opened #543 "introductory_state_example.csv is not accessible"
- The full title of the lesson: Data Wrangling and Management in R
- URL of the lesson: https://programminghistorian.org/lessons/data_wrangling_and_management_in_R
- The system I am using: Linux

The 'Data Wrangling and Management in R' lesson is based on a CSV file which should be download from Dropbox: https://www.dropbox.com/s/8pvgnvg5g14ka59/introductory_state_example.csv?dl=0, but for me it i

[2017-07-31 15:20] mdlincoln commented on #543
@ianmilligan1 Shouldn't this file be hosted on our repo anyway, and not in dropbox?

[2017-07-31 15:25] mdlincoln commented on #542
Thank you all for taking a look! If you are satisfied with the translations, @vgayolrs, you may close this issue.

[2017-07-31 15:30] ianmilligan1 commented on #543
Yes. Let me fix it – thanks for flagging this.

[2017-07-31 15:32] ianmilligan1 commented on #543
Hazzah, fixed. Sorry about this @pkiraly but thank you so much for letting us know. It works now on my end.

[2017-07-31 15:32] #543 closed, assigned to ianmilligan1

[2017-07-31 15:37] vgayolrs commented on #542
I'm closing this issue but, please, @arojascastro and @mariajoafana , if you think that any translation of roles or definitions could be improved, don't hesitate and re-open it. Thanks everybody!

[2017-07-31 15:37] #542 closed, assigned to arojascastro, vgayolrs, mariajoafana

[2017-07-31 15:37] pkiraly commented on #543
You are extremely reactive! Thanks, it works for me as well.

[2017-07-31 15:38] ianmilligan1 commented on #543
A dumb mistake on my end, so am glad I could correct it quickly (and thanks for pinging this to me so quickly too @mdlincoln!).

[2017-07-31 15:43] mdlincoln commented on #543
Hey, you caught me during my morning coffee, so it was no trouble :) Thanks @pkiraly for reporting the issue.

[2017-07-31 19:25] jerielizabeth opened #545 "Error reported in "Data Wrangling and Management in R""
Received via email from Erik Johnson:

Thanks all!

[2017-07-31 19:41] ianmilligan1 commented on #545
Thanks @jerielizabeth – let me ping @nabsiddiqui as well (I will send him an e-mail).

@nabsiddiqui - let me know, if you let me know the change I can make it for you.

[2017-07-31 23:19] nabsiddiqui commented on #545
Hey @jerielizabeth.  Yes, you are correct.  I was using R markdown and copy and pasting from a script.  I must have copied incorrectly from my script.  I'll fix this.

[2017-07-31 23:21] nabsiddiqui commented on #545
@ianmilligan1 I set up a pull request with the fixes.

[2017-08-01 01:44] #545 closed, assigned to ianmilligan1

[2017-08-01 02:02] vgayolrs commented on #517
Hi @mdlincoln , allmost done. In [Installing Python Modules with pip](https://programminghistorian.org/lessons/installing-python-modules-pip) -Spanish version "/es/lecciones/instalar-modulos-python-pip.md"-, there is no editor.

[2017-08-01 03:35] #517 closed, assigned to vgayolrs, mariajoafana

[2017-08-01 03:36] mdlincoln commented on #517
Thanks for fixing these @vgayolrs ! The original lesson never had an editor, actually - so I added a special variable to the YAML that will keep the missing editor from causing an error.

[2017-08-01 03:41] #303 closed, assigned to mdlincoln

[2017-08-01 03:53] mdlincoln opened #547 "Wiki guidelines on CI and Netlify checks"
I'm merging #425 now because it contains an image that I reference in #500 - but it needs further editing.

[2017-08-01 04:03] #437 closed, assigned to mdlincoln

[2017-08-01 04:09] #472 closed, assigned to nobody

[2017-08-01 15:07] walshbr commented on #538
Have been doing the math on this in my head, and it seems like the options for it are pretty limited - maybe only me? Minus people leaving, stepping away for a bit, or heavily involved in technical/managing editor/translation parts of the project I think that would leave @alsalin and myself. Since @alsalin just started, I can take this on.

[2017-08-01 19:51] acrymble commented on #538
Thanks @walshbr.

[2017-08-01 19:53] #538 closed, assigned to nobody

[2017-08-02 14:37] acrymble opened #548 "Spanish /lessons to filter by translation date?"
Just noticed that /es/lecciones auto-sorts by the publication date rather than the translation date. If the purpose is to highlight new contributions from time-to-time, then surely we'd want the translation date to be the default sort column?

[2017-08-02 15:21] mdlincoln opened #549 "Translation integration: GitLocalize"
I don't think we need this yet... but if we were ever to take on additional languages in _PH_, it's good to know there are some systems out there that could help with that workflow

https://github.com/marketplace/gitlocalize

[2017-08-03 12:27] arojascastro commented on #548
True! Yes, I noticed but I thought it was intentional. I agree that maybe it is better to sort by date of translation.

[2017-08-04 07:32] acrymble opened #550 "Eng Managing Editor transition date?"
I just noticed that the new project team page has Jess listed as the Managing Editor in the bios, but Jeri still at the top of the page, and on all the other pages where contact info is present.

Has there been an agreed date to the transition so we can update the website consistently?

[2017-08-04 15:22] jerielizabeth commented on #550
We are making the switch at the end of August / beginning of September.

[2017-08-04 16:00] jerielizabeth opened #552 "Conversation about goals for PH"
Issue to flag a conversation for our Editorial Meeting agenda.

With the change over in editors and with an increase in lesson proposals, it seems time to have a conversation as an Editorial team about what we want to build with _The Programming Historian_. I see this as important given our recent conversations about new lesson proposals and our recent conversations about updating lessons.

Some o

[2017-08-04 16:15] walshbr opened #553 "Editorial Meeting Agenda - 8/24/17"
Will modify with a date when I doodle poll next week, but wanted to get this out since we're already accumulating topics for it.

Suggested topics:

* #552 Conversation about Goals for PH - @jerielizabeth
* #560 Managing Reviewer Requests - @jerielizabeth
* ~#565 Failing Page Build for OpenRefine Lesson~
* #550 Managing Editor Transition Date @JMParr @jerielizabeth
* #534 Sustainability Strategy f

[2017-08-04 16:15] acrymble commented on #552
I've dragged out the original pitch from 2011. The project very quickly evolved, but this is what it was originally pitched as (by me to Bill Turkel):

---

Academic publishing, meet the Internet. Most academics are suspicious of online work. The criticisms are justified; online publishing lacks peer review, the writing tends to be unpolished, and works are impermanent or frequently changed, frust

[2017-08-04 16:36] acrymble commented on #550
Pages that have mention of Jeri as the managing editor that will need to be swapped:

- [x] /project-team
- [x] /contribute (in three places)
- [x] /feedback
- [x] /author-guidelines
- [x] https://github.com/programminghistorian/jekyll read me file

Might be worth swapping that to 'Managing Editor' so we don't need to revise in future, but could use Jess's name if that's preferable.

[2017-08-04 16:41] acrymble commented on #528
This sounds like a good plan for now. I will close this ticket, but it can be reopened if needed.

[2017-08-04 16:41] #528 closed, assigned to nobody

[2017-08-04 17:20] drjwbaker commented on #552
New person two-penneth.

This isn't Software Carpentry. SWC is - really - about the **in person** soft software skills taught in the gaps between the `grep` this and `pull` that bits (it is illuminating that SWC Instructor Training is a 2 day workshop on pedagogy that doesn't teach you how to teach SWC lessons but rather how you should approach teaching SWC lessons).

This - it strikes me - is abo

[2017-08-04 18:06] jerielizabeth commented on #552
Thank you @acrymble for sharing that!

@drjwbaker I agree -- it's not Software Carpentry, though we have had a few conversations with Greg in the last year about whether the lessons could/should be a base for a Carpentry-style curriculum. And I do like the idea of creating bridge pieces, and perhaps blog posts that help identify a "path" through the lessons.

Myself, I have been thinking about PH

[2017-08-04 19:40] walshbr commented on #552
To riff on the responses so far, I think my sense of PH has always been somewhere in between - an "edited collection of documented computational solutions to problems in the study of history that can also serve as a curriculum of study." Virtually nothing new there except that I put the proposed parts in the same sentence. I've always thought of PH as an important model for how teaching and profes

[2017-08-04 20:25] jerielizabeth opened #554 "Cloudflare blocking OpenRefine access to asset file"
I am receiving an error with a new lesson we have in the pipeline. We are hosting an HTML file that users are supposed to pull into OpenRefine for parsing. I uploaded the file to the main site (https://programminghistorian.org/assets/fetch-and-parse-data-with-openrefine/pg1105.html) but when I execute the query in OpenRefine, I get the following error (please forgive the html):

Is there an option

[2017-08-05 01:49] mdlincoln commented on #554
Gosh, I will look in to that right away. There are some additional settings I will look into right now.

[2017-08-05 01:56] mdlincoln commented on #554
@jerielizabeth I tried modifying a setting that was supposed to block suspicious visitors (really, we can just turn this off, as we're only serving static files) Can you try this out again and let me know the results?

[2017-08-05 02:06] jerielizabeth commented on #554
It is now working as expected! Thank you!

[2017-08-05 03:32] jerielizabeth commented on #554
Closing the ticket since it looks good on my end!

[2017-08-05 03:32] #554 closed, assigned to mdlincoln

[2017-08-05 03:35] mdlincoln commented on #554
Oh good, I'm relieved that was an easy fix.

[2017-08-05 08:46] acrymble opened #555 "ISSN in footer"
Our ISSN is no longer present on the home page. This is strongly recommended by the ISSN guidelines (http://www.issn.org/understanding-the-issn/assignment-rules/the-issn-for-electronic-media/). I suggest the most useful and least obtrusive place to put that is in the footer.

To avoid any design issues, I propose we just swap out the 'Hosted by Github' bit. I don't think we need to advertise for a

[2017-08-05 15:42] acrymble commented on #534
One of our ongoing sustainability strategies has been to encourage Wikipedia links for technical terminology and jargon. I think that's worked really well.

[2017-08-05 19:50] mdlincoln commented on #555
What is our ISSN number?

[2017-08-05 20:57] JMParr commented on #550
@jerielizabeth  and I are planning a call together to discuss the transition, but yes, we're making the switch in the end of August/early Sept. If it's not too much of a hassle, would it be okay to have my name? Am on the job market.

[2017-08-06 07:59] acrymble commented on #555
2397-2068

On Sat, Aug 5, 2017 at 8:50 PM, Matthew Lincoln <notifications@github.com>
wrote:

[2017-08-06 15:43] #555 closed, assigned to nobody

[2017-08-06 15:44] #549 closed, assigned to nobody

[2017-08-08 13:37] mdlincoln opened #556 "Translation for Editorial Guidelines step 10) Confirm all links and YAML headers are functioning correctly"
I have updated the Editor Guidelines with a new section on how to check the results of our automated YAML and link testing - it is ready to be translated.

https://github.com/programminghistorian/jekyll/blob/gh-pages/editor-guidelines.md

[2017-08-08 14:46] vgayolrs commented on #556
Thank you @mdlincoln  . I see that the translation is a bit outdated without counting your new aggregates (lacks the new steps 7, 9 y 10). I'll work on it these days if you agree, @mariajoafana  @arojascastro.

[2017-08-08 19:34] jjon opened #557 "TOC "errors in Generating an Ordered Data Set from a Text File""
Some recent (last month) change broke the TOC in the lesson "Generating an Ordered Data Set from a Text File". I've fast-forwarded my local repo to match the upstream repo, and I've pushed it to https://github.com/jjon/jekyll. I'll be happy to make the necessary changes and make a pull request, but I'm not certain what changes need making. My surmise is this:

The TOC directive: `{% include toc.ht

[2017-08-08 19:38] mdlincoln commented on #557
Thanks for the heads up @jjon - yes, we did a switchover to automatically generated markdown TOCs on all lessons in our redesign, and I didn't notice that this lesson had some custom formatted subheaders. If you would remove the spaces and create a pull request, I'd be very happy to merge it! Thanks.

[2017-08-08 19:41] jjon commented on #557
Thanks for responding so quickly @mdlincoln - I'll get to it as soon as I can.

[2017-08-08 19:56] jjon commented on #557
@mdlincoln - Done. Please also post here if I've screwed anything up.

[2017-08-08 20:34] #557 closed, assigned to jjon, mdlincoln

[2017-08-09 04:37] vgayolrs commented on #548
Sounds good to me in order to highlight the new stuff. But I'm worried about the new automatic sorting system. For example, the Python lessons lost their organization as a series to follow step by step. I think that was a good guide for beginners in the old design of the website, because it was covering the procedure consecutively. Thoughts?

[2017-08-09 05:27] vgayolrs commented on #556
@mdlincoln , working on it, first doubt:
On line 129 we read: "If you are not sure how to do that or have any questions, contact Caleb McDaniel for assistance." As Caleb is no longer with us I suppose that the one in charge of clearing the doubts will be you. True?

[2017-08-09 10:43] nubhokage1991 opened #559 "How to import my existing unity project to android studio project"
I am making a project about AR using unity and vuforia sdk. I just want to know if it is possible to run my existing unity project to a android studio project let's say in android studio I have a button, when I press that button my unity project (app) will run just like this one I found on youtube https://www.youtube.com/watch?v=665waHAeA1k&t=32s because I am planning on saving images in sqlite da

[2017-08-09 12:27] mdlincoln commented on #556
Good catch @vgayolrs . I changed both names - also note that in fc5fb360d77a52e316ef28e58831f150fa4820ba I removed some text from the ph-submissions section of the page that was redundant.

[2017-08-09 13:50] vgayolrs commented on #556
@mdlincoln , Line 296 = There is a small error in the internal link; Says: "\#\8-thank-everyone-and-encourage-promotion", should say: "\#\11-thank-everyone-and-encourage-promotion"

[2017-08-09 14:48] vgayolrs commented on #556
@mdlincoln Finished translation. I think It's working OK on the website. You can close this issue, but I encourage @arojascastro & @mariajoafana to review the page and reopen this If they find any defect. Thank you!

[2017-08-09 15:06] mdlincoln commented on #556
Thanks 🎊

[2017-08-09 15:06] #556 closed, assigned to arojascastro, vgayolrs, mariajoafana

[2017-08-09 15:55] arojascastro commented on #556
Great! Reviewed!

[2017-08-10 18:22] mdlincoln commented on #559
Hi @nubhokage1991 - unfortunately we aren't able to answer really specialized questions like this! However you may have better luck finding qualified AR practitioners on stackoverflow.com by searching for "augmented reality" or "virtual reality": https://stackoverflow.com/questions/tagged/augmented-reality

[2017-08-10 18:22] #559 closed, assigned to nobody

[2017-08-11 01:58] jerielizabeth opened #560 "Managing Reviewer Requests"
Another issue for the editorial meeting:

I received feedback asking about how we are managing reviewer requests, as this particular person received multiple review requests (each from a different editor) all within the span of a few weeks.

In the interest of not over-burdening any particular community member with review requests, it appears that a system for communicating internally whom we are

[2017-08-11 01:59] ianmilligan1 commented on #560
I think an internal spreadsheet would be good – I don't think we should make requests public, as it sort of puts people on the spot if they can't do it for whatever reason, and I think that'd be a lot of e-mail to keep track of.

[2017-08-11 13:19] drjwbaker commented on #560
Spreadsheet.

[2017-08-11 15:55] walshbr commented on #560
Yeah spreadsheet seems good to me.

[2017-08-12 20:03] jerielizabeth opened #561 "HTML-Proofer error from Project Gutenberg"
I have managed to break things in (not really) new and (not so) interesting ways.

I am getting the following error message from Travis:

Which is a link in the lesson I am working on pushing up. The trouble is, that link works just fine from a browser or via cURL.

I see in the build.sh file that we are explicitly skipping another PG book link. Would the best way forward be to add this link to th

[2017-08-12 20:08] jerielizabeth commented on #560
Cool! I have a google spreadsheet already with people who have contacted us to express interest in reviewing. It makes sense to me to have this information in the same spreadsheet.

[2017-08-12 20:19] mdlincoln commented on #561
I modified the skip command into a regex, so that it'll skip any project gutenberg link. Unfortunately, their server sends bizarre HTTP response codes even though they load fine in browsers...

[2017-08-12 20:21] #561 closed, assigned to jerielizabeth, mdlincoln

[2017-08-14 14:08] mdlincoln opened #565 "Failing page build for OpenRefine lesson"
Well I've looked up and down but for the life of me I can't understand what is causing GH pages to fail the build when the latest lesson "Fetching and Parsing Data from the Web with OpenRefine" is added in the repository. The site builds perfectly well locally, on Travis, and on Netlify.

I am going to keep looking through troubleshooting docs and see if I can pin this down. Any further related st

[2017-08-14 14:28] jerielizabeth commented on #565
Sounds good. I am also finding that it builds just fine locally, and on Travis and Netlify.

When I removed the Open Refine files, it still failed to build on the gh-pages branch. Is there any chance that there was an update on the Github side of things that is complicating our troubleshooting?

[2017-08-14 15:00] jerielizabeth commented on #565
Question for clarification: Is it correct that with the new theme, we are no longer hand creating the lesson index page, but that it is generated from the files in the lessons folder?

[2017-08-14 15:08] jerielizabeth commented on #565
Huzzah! We have a new error!! Failure to build on netlify.

[update]: it built again as of 10:40. Gremlins I say!

[2017-08-14 15:20] jerielizabeth commented on #565
I am seeing one piece of strangeness on the local build in the dates. It is showing the correct published date (PUBLISHED 2017-08-12) but an earlier modified date (MODIFIED 2017-07-14).

[2017-08-14 17:43] jerielizabeth commented on #565
Should we go back to last commit that built? (https://github.com/programminghistorian/jekyll/commit/b8f1acb4898372130e489ded3485b9b2a47d3014)

[2017-08-14 17:50] mdlincoln commented on #565
@jerielizabeth let me fiddle a bit more with the lesson file first

[2017-08-14 18:18] mdlincoln commented on #565
I've logged an issue with GitHub support.

[2017-08-15 02:38] jerielizabeth commented on #553
Just a thought: #552 should probably be a full team discussion (even though I know it's hard to find a time when every one is available.)

[2017-08-15 12:31] walshbr commented on #553
@jerielizabeth - I agree. We can definitely postpone until we can get the whole group, but do you think it's worth having a preliminary talk with just those people who are able to be there? I don't imagine any iteration of that conversation being final at any rate.

[2017-08-15 14:16] ianmilligan1 commented on #553
As somebody who can't make the call, I'm happy for you all to have a preliminary talk.

[2017-08-16 13:46] mdlincoln commented on #565
Received this morning:

---

Hey Matt,

Thanks for reaching out, and sorry for the delayed response.

We've asked our engineers to help dig into the cause of this. I can't promise an ETA, but we'll let you know as soon as we have any updates to share.

Cheers,
Antonio
GitHub Support

[2017-08-17 22:19] mdlincoln commented on #565
Received today - trying another build in a moment:

---

Hi Matthew,

We just upgraded to Jekyll 3.5.2 yesterday which may resolve this issue. Please try another build of your site and let us know if you continue to receive errors.

Thanks,

Steve
@slgraff
GitHub Support

[2017-08-17 22:32] mdlincoln commented on #565
... Still broken.

[2017-08-19 01:50] mdlincoln opened #569 "British Museum SPARQL endpoint failing again"
[Latest build is failing because the British Museum's SPARQL endpoint is returning HTTP 400 codes for my SPARQL lesson.](https://travis-ci.org/programminghistorian/jekyll/builds/266179298)

This is related to #290 though affects the lesson on a much larger scale, as it means all the British Museum links don't quite work anymore. I'm going to contact Dominic Oldman about this and see if it can't be

[2017-08-20 03:51] mdlincoln commented on #565
This is the song that never ends...

---

Shawna,

Thanks for the suggestion! As you’ll note in our config file (https://github.com/programminghistorian/jekyll/blob/gh-pages/_config.yml#L14-L15), we don’t use the jekyll-seo-tag plugin, so this issue shouldn’t apply. Moreover, our array-like authors.yml works perfectly fine with our existing layouts and includes, and has done so for many hundreds o

[2017-08-20 14:49] mdlincoln commented on #565
Hey Matthew,

Without another theme set in your config, our default theme will be used. The default theme was recently updated to use the jekyll-seo-tag plugin, which is why this error suddenly appeared.

It's possible that the github-pages gem doesn't currently fall back to the Primer theme when building locally. I'm not certain on that, so I've passed that question along to the team as well as a

[2017-08-20 23:51] mdlincoln commented on #569
OK, BM endpoint is back up - but it looks like some tiny ontology namespace changes have broken some of the sample queries in this lesson. This is a very small fix - I need to make sure that `PREFIX`es are supplied for every query explicitly now. Will do that shortly.

It's also worth noting that the interface on their SPARQL endpoint has changed a bit, so the screenshots are now a little out of d

[2017-08-20 23:52] mdlincoln commented on #569
Clarifying thought: I think this kind of superficial interface change is precisely the kind of thing that users should be able to work through without needing to re-screenshot everything. But it may be worth some note in the text that the interface has changed a bit, even if the core data model remains the same.

[2017-08-21 00:33] walshbr commented on #553
Went through and pulled out those topics that seemed to merit discussion in advance of the meeting this week. Feel free to add more.

[2017-08-22 15:46] mdlincoln commented on #565
So I took a wild stab in the dark: given that a _secretly-loaded_ plugin was misusing our `authors.yml` file... I just renamed the file to `ph_authors.yml` (and also renamed all machine-
 and human-readable references to it across the site). This seems to have fixed our build, so now <https://programminghistorian.org/lessons/fetch-and-parse-data-with-openrefine> is live!

*cue 👼 choir*

I'm going

[2017-08-22 15:46] #565 closed, assigned to jerielizabeth, mdlincoln

[2017-08-22 15:46] mdlincoln commented on #553
I'm happy to say that #565 is squashed.

[2017-08-22 15:51] jerielizabeth commented on #565
Oh that is excellent @mdlincoln!! (and I completely agree on the need for better error messaging and documentation on the issue!!) Thank you so much for all your work tracking this down!

[2017-08-23 12:35] walshbr opened #571 "Editor Guidelines Outdated for Authors.yml"
The example syntax for adding to authors.yml is outdated [here](https://programminghistorian.org/editor-guidelines#2-create-an-author-bio)

[code]
Should likely be slightly more verbose based on the recent examples:
[code]

[2017-08-23 14:56] walshbr opened #574 "Sort by API Counting Incorrectly"
Sorting by topic for API on the lessons page is counting the number of lessons on the page incorrectly. It lists 1 as the number of lessons for that topic, but selecting it produces 6 lessons in the sorting interface.

[2017-08-24 05:21] mdlincoln commented on #537
This is now incorporated into https://github.com/programminghistorian/jekyll/wiki/Making-Technical-Contributions

[2017-08-24 05:21] #537 closed, assigned to mdlincoln

[2017-08-24 12:35] #571 closed, assigned to walshbr

[2017-08-24 15:19] mdlincoln commented on #574
I have no javascript-fu, and nothing sticks out in the lesson page HTML or in the lessonfilter.js that would seem to explain why this is happening. FWIW only one of the lessons there - Fetch and Parse Data with OpenRefine - actually has `api` as one of its topics. All the rest are `web-scraping`

@amandavisconti do you have any idea what could be happening here?

[2017-08-24 16:30] mdlincoln opened #575 "Editor guidelines - instructions for tracking reviewers"
Once the spreadsheet for #560 is all set, add instruction for lesson editors to enter their review requests there.

[2017-08-24 16:45] mdlincoln commented on #498
Closing this, as developing a statement for our archiving policy is now all contained at #536, and the clarifications to author, editor, and reviewer guidelines needed for sustainability are going to be developed at #534

[2017-08-24 16:45] #498 closed, assigned to nobody

[2017-08-24 16:47] mdlincoln commented on #536
From 2017-08-24 meeting: I will take point on compiling a draft page with our archiving policy, and then invite comment from our whole team

[2017-08-24 16:48] mdlincoln commented on #534
From 2017-08-24 meeting: @alsalin will compile ideas from this thread and #498 and create a list of changes/additions for author, editor, and reviewer guidelines

[2017-08-24 17:08] walshbr commented on #553
Notes and Actionables

#552 Conversation about Goals for PH - @alsalin suggested revisiting #304 as a way to offer multiple publication venues. She'll open another ticket to discuss her thoughts. Most saliently, we thought this would be a good opportunity to engage the public and ask them how they see the project, what they need from the project, and what they want the project to become.
#560 Mana

[2017-08-24 17:17] walshbr opened #576 "Planning for Community Discussion on Programming Historian Goals"
During the August call - #553 - we discussed #552 and decided that the conversation would be a good opportunity to engage the community again in the same mode as #152. The conversation internally about the goals and mission of PH is one thing, but would be useful to hear from the larger community about how they see the project, what they get out of it, what would be useful, etc. We agreed that a t

[2017-08-24 18:43] walshbr commented on #574
Just took a look - should be fixed in PR #577. Was searching for topic by looking for a substring of a larger string instead of an item in an array.

[2017-08-24 18:46] #574 closed, assigned to nobody

[2017-08-26 11:07] acrymble commented on #576
I think survey monkey will be a good idea

[2017-08-26 11:54] acrymble commented on #576
Sorry I missed the meeting. Who is the target of this consultation? As I've said a number of times, what authors got or thought they'd get out of it might be starkly different from what readers do.

Can we focus this? And what do we intend to do with it? If our readers all suggest that we take a completely different approach than we want to, do we all step down?

[2017-08-26 11:56] acrymble commented on #552
My view is that this project should be a publication of workflows and methods that are peer reviewed. These should be preserved as are any publication throughout higher education. Any additional activity should, in my view, be a spin off initiative.

Sorry that's blunt, but I think we've gone around the houses quite a lot.

[2017-08-26 13:07] walshbr commented on #576
Would you mind weighing in and reframing your thoughts on this @alsalin? I believe the idea was yours, and would want people to respond to it as you articulate it rather than as it gets inflected through my memory of the conversation.

[2017-08-28 14:30] alsalin commented on #576
hi all, actually the initial survey idea came from @mariajoafana, I believe. the sense of it that I recall was that it might be time to check in with our readers/users to get a sense of how they use the materials they find through this publication. the survey might end up being part content survey and UX survey - how do you find our content? what do you do with it? do you use it as a reference? do

[2017-08-28 15:05] #553 closed, assigned to nobody

[2017-08-28 15:07] mdlincoln commented on #548
Let me look in to modifying the code to sort by translation date - I'll have some time next week to work on it.

[2017-08-28 15:08] mdlincoln commented on #509
Note to myself to try out some visual indicator (a colored badge, perhaps) marking lesson difficulty in the lesson index.

[2017-08-28 15:09] walshbr commented on #514
@mdlincoln - is there somewhere for me to add language about removing things from the Twitter bot when lessons are deprecated? Might be missing it, but couldn't find a space to stick that. After we add language somewhere to that effect this can be closed.

[2017-08-28 22:59] mdlincoln commented on #514
Hm, good point! I suppose our "Archiving" guidelines #536 will need to contain a section (or likely a sub-page) for the editorial workflow for moving a lesson from published to archived. I'll stick this in my bucket of stuff then :)

[2017-08-29 09:09] drjwbaker commented on #576
A general survey with elements that help us reframe our goals would be sensible. I'd be keen to ensure that we know who those completing the survey are (crudely, historian or not historian) and where they are from (geographically). I'd also be keen to ensure that we see this as a substantial piece of work, involving things like:
- keeping the survey open for a long period (6 months?)
- clear artic

[2017-08-29 09:11] drjwbaker commented on #576
(I should add, sorry if a) any of this was covered in the meeting I couldn't make b) this is totally off piste and not what you want to do :) )

[2017-08-29 19:16] alsalin opened #579 "community engagement on PH - brainstorming"
possibly in line with discussions #576 and #304

During our August meeting, I suggested that it might be helpful, along the lines of DH and general online coding communities, to have a crowdsourced area of PH. I brought up the idea of hosting a wiki (and now maybe a discussion board) that could serve as an engagement space for our users/readers. I think it's important for us to outline that lesson

[2017-08-29 22:46] jerielizabeth commented on #550
We will switch over on September 4. I'll push up the changes in a pull request at the end of the week so we can confirm that I caught all the references, and merge it in on the 4th.

I like having the name of the managing editor -- it is not hard to find/replace through the files and feels friendlier to me.

[2017-08-30 01:01] mdlincoln opened #581 "Build failure for twitterbot lesson"
It looks like you've some broken links in the twitterbot lesson @JMParr - please take a look!

https://travis-ci.org/programminghistorian/jekyll/builds/269779468?utm_source=slack&utm_medium=notification

[2017-08-30 01:02] mdlincoln commented on #581
also, you can check the status of any corrections by following the instructions in the guidelines: https://programminghistorian.org/editor-guidelines#10-confirm-all-links-and-yaml-headers-are-functioning-correctly

[2017-08-30 01:04] mdlincoln commented on #581
oops, I just noticed you did this as a PR - moving comments over there...

[2017-08-30 01:04] #581 closed, assigned to JMParr

[2017-08-30 13:33] ianmilligan1 opened #582 "Lesson Titles Resolving to Broken URLs"
@shawngraham reported this to me.

Right now, if you click on any of the lesson titles – i.e. "Web Mapping with Python and Leaflet" in the below screenshot, or any other lesson, it resolves to a broken URL: i.e. `https://lessons/mapping-with-python-leaflet`

![screen shot 2017-08-30 at 9 31 11 am](https://user-images.githubusercontent.com/3834704/29874866-0a8d2354-8d66-11e7-8e30-9dea497b6dd0.png)

[2017-08-30 15:59] acrymble commented on #579
we used to have comments on our lessons when we used wordpress. Would that be the same idea?

[2017-08-30 16:04] acrymble commented on #576
We'd need a separate initiative for Spanish, I would think.

Should we start drafting some questions somewhere?

[2017-08-30 16:07] walshbr commented on #576
Like all of those points a lot @drjwbaker.
@acrymble - I had intended this ticket to serve as a space for drafting of questions and the conversations around it, so go ahead. But if you think that deserves its own particular ticket feel free to move the conversation to another issue. Don't really see a problem with having that conversation happen in the open, but we could move to the google group i

[2017-08-30 16:41] acrymble commented on #576
Of course, @walshbr.

Our earlier survey on gender had these questions, which might be repurposable:

1. Which of the following ways have you engaged with the Programming Historian? (reader, reviewer, editor, author, educator, none of the above).
2. On a scale of 1 (novice) to 6 (advanced), how would you rate your confidence with technology?

[2017-08-30 16:46] walshbr commented on #576
I like those. Maybe something like these too -

1. In what ways does the Programming Historian enable your work? What works well for you?
2. What would help the Programming Historian be more useful for you? What could we do better?

But those might be a bit too pointed in the direction of utility, and imagine that we might want more specific questions as well. Those are a bit vague and general, bu

[2017-08-30 18:30] mariajoafana commented on #576
Yes, @alsalin that sounds right. I agree with @acrymble on the need for a separate survey for Spanish.
For the survey we did in the Spanish team last year these questions might be useful here:
1. Choose your disciplinary field(s) (information science, history, art history, linguistics, literature, archeology, etc...)
2. Which digital methodologies, tools and/or workflows do you use often in your r

[2017-08-31 16:15] drjwbaker commented on #576
Quick holding note. I've been reading a great pedagogy book and it has an excellent section on structuring feedback. Takehomes: don't ask about things you don't want to change; structure questions in a particular less-open ended way that means you can easily analyse the results. Anyway, I don't have the book in front of me right now (hence the holding note). More tomorrow!

[2017-08-31 17:03] acrymble commented on #576
Good points @drjwbaker. What do we want to open for change here? Not everything obviously. Presumably we don't want to consult on the lessons page having just spent a year building it. What do we want to know?

We can learn a lot about user behaviour from our Google Analytics, so it should be something we can't already find out. Knowing what proportion of our readers are humanities scholars might

[2017-09-01 14:52] drjwbaker commented on #576
Okay. The module feedback/evaluation thing I found uses the following format.

--

Part 1 is split into two columns. Column 1 is headed 'I like the way the XXX:' and Column 2 'I would like the XXX to:'. It then has 15-20 statements in each columns that the respondent can check if they agree with it.

So, we could do something like:

Column A

Column B

Then in Part 2 of the survey it has one or tw

[2017-09-01 21:15] jerielizabeth opened #585 "URL break in old blog post"
Got a travis notification that there is a link down (http://immigrants.mndigital.org/exhibits/show/immigrantstories-exhibit/page01) in an old blog post (https://programminghistorian.org/posts/digital-storytelling-immigrant-stories). Posting here to keep track of it.

[2017-09-01 21:36] jerielizabeth commented on #585
Two thoughts on where to update the link:
+ http://immigrants.mndigital.org/items/browse
or
+ http://immigrants.mndigital.org/collections?sort_field=name

[2017-09-02 17:05] mdlincoln opened #586 "Antconc sample corpus 404"
It looks like the sample corpus for ["Corpus Analysis with Antconc"](https://programminghistorian.org/lessons/corpus-analysis-with-antconc#tutorial-downloads) was being hosted on Dropbox instead of on our site - and it's now a 404 link.

I've pinged Heather to see if she has a copy of the data so I can commit it directly to our repo.

[2017-09-02 17:06] #585 closed, assigned to nobody

[2017-09-02 17:10] mdlincoln commented on #586
Alternatively, if anyone _here_ happens to have that data downloaded, commit it or email it to me so I can add it.

[2017-09-02 17:17] acrymble commented on #586
Do we have any other drop box links?

On Sat, Sep 2, 2017 at 6:10 PM, Matthew Lincoln <notifications@github.com>
wrote:

[2017-09-02 17:52] mdlincoln commented on #586
@acrymble I'll check and post separate issues as needed

[2017-09-02 17:53] mdlincoln opened #587 "Replace "preserving your research data" dropbox links"
These still work for now, but I am going to make a new PR shortly that converts them to direct asset links to our repo.

re: #586

[2017-09-02 17:56] mdlincoln opened #588 "Replace QGIS dropbox links"
[code]

[code]

[2017-09-02 18:23] #588 closed, assigned to mdlincoln

[2017-09-02 18:24] #587 closed, assigned to mdlincoln

[2017-09-02 19:40] mdlincoln commented on #586
Heather will send me a copy of the data in the coming week.

[2017-09-02 21:58] walshbr opened #591 "Host Audacity Example in Assets"
Given the recent tickets about moving linked assets into the repository itself, I was just investigating the file that the Audacity lesson uses for mixing. The track I use there is in the public domain, so we should be good for hosting it ourselves. I'll move it into the assets folder when I get a chance and rewrite the text of that portion of the lesson so as to link internally rather than from M

[2017-09-04 10:02] drjwbaker commented on #587
Good idea!

[2017-09-04 16:12] #582 closed, assigned to nobody

[2017-09-04 16:22] jerielizabeth commented on #550
Managing editor switched over this morning! Thanks, all!

[2017-09-04 16:22] #550 closed, assigned to jerielizabeth, JMParr

[2017-09-04 16:23] jerielizabeth commented on #304
I am relinquishing control of this issue as I step back for the dissertation.

[2017-09-04 17:57] mdlincoln commented on #304
Indeed! I think I'm going to close this now that it's been picked up by #579

[2017-09-04 17:57] #304 closed, assigned to nobody

[2017-09-05 15:12] #560 closed, assigned to jerielizabeth, JMParr

[2017-09-05 15:12] jerielizabeth commented on #575
This should be all set.

[2017-09-05 15:21] #586 closed, assigned to mdlincoln

[2017-09-05 18:19] #575 closed, assigned to mdlincoln

[2017-09-05 20:33] alsalin commented on #579
@acrymble It could be? right now, I think everything is on the table for brainstorming.

[2017-09-06 07:49] arojascastro commented on #430
Any updates on this?

[2017-09-07 12:41] drjwbaker opened #595 "Annual Zenodo deposit"
Reviving an old idea (see https://github.com/programminghistorian/jekyll/issues/531 and https://github.com/programminghistorian/jekyll/issues/417). Potential benefits:

- Creates a digital object with a DOI that readers/authors can cite when citing PH as a whole
- Creates a digital with a DOI that readers/authors can cite for deprecated lessons or previous versions of lessons.
- Can feed into revi

[2017-09-07 12:49] walshbr opened #596 "Editorial Meeting Agenda - 9/28/17"
Date and time TBD. Feel free to add to the list below as issues become substantial and apparent.

- [ ] #595 - Annual Zenodo Dump - @drjwbaker will draft some copy for this for discussion.
- [ ] #536 - Deprecation Policy Discussion - @mdlincoln will draft the policy.
- [ ] #579 - Community Engagement on PH - wanted to discuss further with rest of board.
- [ ] #576 - Planning for Community Discussi

[2017-09-11 12:40] arojascastro opened #597 "Translate new bios into Spanish"
The file `ph_authors.yml` needs to be updated with a few translations of bios into Spanish -- see entries after Anandi Silva Knuppel. This pending bios correspond to lessons that have not been translated yet.

[2017-09-11 12:44] arojascastro opened #598 "Update Spanish Omeka lesson with new captions"
The English version of this [lesson](https://programminghistorian.org/es/lecciones/poniendo-omeka-a-funcionar) has been updated with new captions as can be seen here: https://github.com/programminghistorian/jekyll/pull/593

We need to check for changes and update the captions.

[2017-09-11 12:45] acrymble commented on #598
Are these English updates being sent for re-translation? Or are we relying on @arojascastro to notice?

[2017-09-11 12:47] arojascastro opened #599 "Translate snippet into Spanish"
In the Spanish version of our [Team project](https://programminghistorian.org/es/equipo-de-proyecto), there is a snippet (`Project Team Roles`) in English that should be available in Spanish.
![captura de pantalla 2017-09-11 a las 14 35 12](https://user-images.githubusercontent.com/7340111/30275005-0b51c76a-9700-11e7-838d-8ffafb7de4d3.png)

I cannot find where is this snippet @mdlincoln

:)

[2017-09-11 12:47] vgayolrs commented on #597
Me parece bien. Si no hay prisa, lo hago esta tarde.

[2017-09-11 12:54] vgayolrs commented on #599
As far as I understand, the head of the list is here:
https://github.com/programminghistorian/jekyll/blob/6b6aa7699238dec6515f001de2c67a42c2897034/_includes/project-team-loop.html
But I do not know how to do the modification so that the automatic translation is done as with the rest of the list.

[2017-09-11 12:55] arojascastro opened #600 "Add data to tracking reviewers spreadsheet"
We should start tracking reviewers to this [spreadsheet](https://docs.google.com/spreadsheets/d/1EMQyVpIYnWjNr4hEQDDilkUl28gGPA2gSLjp61_AFgM/edit#gid=1063152009). Some information is already recorded here: https://github.com/programminghistorian/ph-submissions/blob/gh-pages/es/lista-de-traducciones.md

[2017-09-11 12:58] arojascastro opened #601 "Update list with new translations"
I am not sure this [list](https://github.com/programminghistorian/ph-submissions/blob/gh-pages/es/lista-de-traducciones.md) contains the recent lessons, so we should check. Also, we should decided if we keep this list to track translators or if we want to add a tab to the spreadsheet shared with the English team. What do you think?

After updating the document, we should contact some translators a

[2017-09-11 14:34] arojascastro commented on #601
Our list is structured using the old classification system (such as Data Management, Data Manipulation, etc.). I think we should update the list taking into account the new categories employed after redesigning the website (obtain, analyze, etc.) and remove the lessons that have been already published.

I had a look at the list and we should contact the following translators:
- construccion-de-sit

[2017-09-11 14:37] acrymble commented on #601
I see one of the API lessons is assigned to @vgayolrs. Remember, those were deprecated.

[2017-09-11 15:07] mdlincoln commented on #599
Good catch @arojascastro. I've edited the page so that header is now a snippet that can be translated here: https://github.com/programminghistorian/jekyll/blob/1f9493499f3a9cf20c241e3c3bb0e526071137d9/_data/snippets.yml#L215-L218

[2017-09-11 22:36] vgayolrs commented on #601
Yes @acrymble , I've noticed that, thanks. @arojascastro, I think we have to update that list and keep it public, but we can also add a tab to the spreadsheet.

[2017-09-11 22:51] vgayolrs commented on #599
Thank you very much @mdlincoln ! @arojascastro, @mariajoafana  :  I'm proposing to translate "roles" as "papel" (aunque podría ser "función en el equipo del proyecto"), para no usar el anglicismo, salvo mejor opinión vuestra.

Aprovecho para indicar que también hay que traducir varios segmentos que cambiaron:

Yo me encargo ahora y cuando creas, @arojascastro , cierras el ticket.

[2017-09-12 07:34] arojascastro commented on #601
Ok, let's keep it public. But how about make two sections only and make it simpler?

### Traducciones pendientes
- título en inglés y enlace a la versión inglesa

### Traducciones en proceso
- título en inglés y enlace a la versión inglesa

We can record further details in the private spreadsheet. What do you think? Or only *Traducciones pendientes*?

[2017-09-12 07:36] arojascastro commented on #599
Gracias @vgayolrs, me parece bien. Si quieres que traduzca algo dímelo, otherwise cerraré el ticket cuando me lo digas.

[2017-09-12 07:37] arojascastro commented on #597
Gracias @vgayolrs, como veas. Si te encargas tú, cuando termines puedo revisarlo y cerrar el tícket.

[2017-09-12 07:39] arojascastro commented on #601
Por cierto, enviaré un email jamotilla y a maría jesús colmenero, preguntando. ¿Queréis que me ponga en contacto con el resto? Creo que de los otros no soy editor o no me puse en contacto yo, por lo que es posible que no tenga el email.... ya me decís :)

[2017-09-13 19:54] drodz11 opened #605 "Example missing in Introduction to the Principles of Linked Open Data"
Hello,

Using Chrome browser version 60.0.3112.113 on Mac OSX Yosemite 10.10.5.

Link to lesson: https://programminghistorian.org/lessons/intro-to-linked-data

In the RDF/XML section, there appears to be an example missing after the second paragraph ending in "with the prefixes declared inside the XML snippet, this is:" I have included a sceenshot below.

Thank you to Jonathan Blaney and everyone

[2017-09-13 21:49] mdlincoln commented on #605
Thanks @drodz11 for the report! We'll look in to updating this to fix.

[2017-09-16 05:20] vgayolrs commented on #597
Listas actualizaciones @arojascastro . Si quieres comprobar y cerrar el ticket. Slds!

[2017-09-17 11:20] arojascastro commented on #64
I don't know if this issue is still alive but have a look at what sx-archipelagos achieved. They are publishing articles with DOI and using GitHub as a publication platform as well. Maybe we can ask Alex? https://github.com/sx-archipelagos/sxa

[2017-09-17 11:22] arojascastro commented on #595
Maybe we can have a look at https://github.com/sx-archipelagos/sxa - they are publishing articles with DOI and creating PDF versions with ConTeXt.

[2017-09-17 11:39] arojascastro commented on #597
Question: Can  you be `a PhD candidate in literature at Washington University in St. Louis` and `postdoctoral fellow` at the same time? Maybe he is a `predoctoral fellow`? @acrymble

```John Ladd is a PhD candidate in literature at Washington University in St. Louis and postdoctoral fellow for Six Degrees of Francis Bacon at Carnegie Mellon.```

[2017-09-17 12:24] acrymble commented on #597
It doesn't make sense but it is possible. It's a job title.

On Sunday, September 17, 2017, Antonio Rojas Castro <
notifications@github.com> wrote:

[2017-09-17 12:26] arojascastro commented on #597
Ok, then I am closing this. Thanks!

[2017-09-17 12:26] #597 closed, assigned to arojascastro, vgayolrs, mariajoafana

[2017-09-26 08:30] arojascastro commented on #601
Done in commit (Submissions) 2c9860f4ab50ae2a7bab9120380b6b32ca65780d

While updating our list, I realized that the lesson on data management in R uses undercores in the name of the file: https://programminghistorian.org/lessons/data_wrangling_and_management_in_R

Is there a reason for that @ianmilligan1 ? Thanks.

[2017-09-26 08:31] arojascastro commented on #599
I am closing this.

[2017-09-26 08:31] #599 closed, assigned to mdlincoln, arojascastro, vgayolrs, mariajoafana

[2017-09-26 12:28] MrMethodmanMAN opened #608 "Datasheet"

[2017-09-26 12:59] walshbr commented on #608
Hey @MrMethodmanMAN - I got an email with this content about the issue here. Did you sort this out? I'm suspecting yes, since the issue was edited to have no description. If not, I might need more information. It looks like both links are going to the correct data files to me, so if you could point me to a particular paragraph I can investigate further.

[code]

[2017-09-27 08:21] MrMethodmanMAN commented on #608
Hi Brandon,

Apologies  for the bogus notification.

Yes both links are correct. I was unfamiliar with the format of google docs and did not realise that there was a tab

on the bottom left of the screen for navigating between datasets. I attempted to remove my comment not to distract future commentators, however I could not delete so instead I removed the content. I have just finished the tutoria

[2017-09-27 08:52] acrymble commented on #596
has the date been set for this yet?

[2017-09-27 11:51] walshbr commented on #596
Sorry @acrymble - thought I had set 11 days ago, but accidentally set to the current date at that time. Thursday, Sept. 28th has been the agreed upon date. I'll ping the group to remind in case people were watching this space.

[2017-09-27 11:59] walshbr commented on #608
Glad you found the lesson helpful! I'll close this then as the issue is resolved.

[2017-09-27 11:59] #608 closed, assigned to nobody

[2017-09-27 14:27] ianmilligan1 commented on #596
Please accept my regrets again but baby Auden isn't well behaved on conference calls. I'll be back on full duties by late October.

[2017-09-28 05:44] #601 closed, assigned to arojascastro, vgayolrs, mariajoafana

[2017-09-28 15:35] #605 closed, assigned to mdlincoln

[2017-09-28 16:46] mdlincoln commented on #536
The dog ate my homework! Sorry, I dropped the ball on this. I will submit some text here by 2017-10-15.

[2017-09-28 16:55] drjwbaker commented on #579
As discussed at the Editorial Meeting https://github.com/programminghistorian/jekyll/issues/596 we should decide how we want to **prioritise our modest resources** with regards to community engagement. So, do we want to..
- do a survey https://github.com/programminghistorian/jekyll/issues/576
- create a wiki (this issue)
- add in some sort of comment fucntionality
- encourage people to use https:/

[2017-09-28 17:04] #591 closed, assigned to walshbr, arojascastro

[2017-09-28 17:24] walshbr commented on #596
My quick notes from the talk - particular actionables listed at the top comment of the ticket. Feel free to comment if I mischaracterize anything.

#595 - Annual Zenodo Dump - general thoughts were that it was worth pursuing and drafting a policy for larger discussion with the group. @drjwbaker will draft a policy for further discussion. Relevant notes: Zenodo does not give DOI's for individual le

[2017-09-28 17:35] walshbr commented on #534
Following on the conversation in #596 - @alsalin I'm wondering if there are any other particular things that you (or anyone else) see that should be done for the backlog of lessons? Largely was thinking about this in the context of making sure that we're hosting all of our own assets, which @mdlincoln and others just did for several older lessons. @alsalin were you suggesting a more thorough susta

[2017-09-28 17:39] walshbr commented on #552
Thoughts from #596 were that looking to specific actionables could help move this forward. #576 and #579 are options, in terms of gauging community feedback on our own sense of the PH goals, but open to other suggestions if anyone has them. Also aware that not everyone has been able to weigh in on this by skype yet, so we can revisit at the next call as well.

[2017-09-28 17:39] #596 closed, assigned to walshbr

[2017-09-28 17:41] walshbr commented on #595
As per #596 @drjwbaker will take a look at drafting some language for a policy for this that would fit in the editorial guidelines for discussion.

[2017-09-28 17:55] alsalin commented on #534
@walshbr I've been following the self-hosting of assets and it's a fabulous idea. I hadn't really considered an audit of previous lessons because, as you mentioned, it would be a substantial investment. That's not to say if someone sees an issue in an older article that we shouldn't address it. I was framing my suggestions for future lessons and was considering language for author, editor, and rev

[2017-09-28 17:56] mdlincoln commented on #552
@walsh I want to clarify what I said during the #596 call: this larger discussion is about the mission of PH, and @drjwbaker points out our mission statement appears to be on the front page:

I argue: **let's pin this large, abstract convo to substantive changes to that text in particular**, otherwise I agree entirely with @acrymble that we'll just keep going in circles for no reason. Does anyone

[2017-09-28 18:01] mdlincoln commented on #552
FWIW, I find myself in agreement with that mission and have no changes to propose - but I could be easily convinced otherwise. I'd like to see those suggestions channeled into realized text, however.

[2017-09-28 18:19] JMParr commented on #552
I find myself agreeing with the mission as well.

On Thu, Sep 28, 2017 at 2:01 PM, Matthew Lincoln <notifications@github.com>
wrote:

[2017-09-28 20:58] ianmilligan1 commented on #552
Sorry to have missed the call. For what it's worth, I really agree with the mission statement as published there. My vision has really been that we're a collection of high-quality tutorials that help students, scholars, researchers, etc. learn the basic ropes of digital tools and methods. By keeping it broad, that let's us do bread-and-butter stuff (text analysis) but also more fun stuff (signific

[2017-09-28 20:59] ianmilligan1 commented on #579
My vote would be for comment functionality, encouraging hypothesis, and just trying to be friendly and approachable whenever possible.

[2017-09-29 07:15] arojascastro commented on #591
@walshbr wrote:

Hosts the asset for the Audacity lesson locally instead of on Musopen. Should be more sustainable this way.

Also pinging @arojascastro as this lesson just came up for translation - programminghistorian/ph-submissions#134. Just a couple paragraphs changed in the beginning.

Changes visible here: https://github.com/programminghistorian/jekyll/pull/610/files

[2017-09-29 11:19] arojascastro opened #611 "adding translation editors to YAML metadata"
I have been reviewing some tutorials and I found out that our metatada information is not very consistent.

### tutorial without original reviewers
![sin_revisores_originales](https://user-images.githubusercontent.com/7340111/31013913-97e1864a-a518-11e7-8ab9-0bc7c1c672e1.png)

### tutorial without translation editor
![sin_editor](https://user-images.githubusercontent.com/7340111/31013925-a545a816-

[2017-09-29 11:22] arojascastro commented on #611
By the way the snippet *traducción editado por* should be *traducción editada por* (in femenine).

[2017-09-29 11:37] acrymble commented on #611
Some of the early lessons involving Fred Gibbs didn't have reviewers. That's not inconsistent with what happened. He did the reviewing himself, acting as an editor.

[2017-09-29 11:39] arojascastro commented on #611
Ok, but can we validate the metadata about translations? I just want a list of tutorials that do not contain that info... of course I can check out myself but it is time consuming. If we cant do it automatically please let me know and I will.

[2017-09-29 11:50] drjwbaker commented on #552
My suggestion at https://github.com/programminghistorian/jekyll/issues/596 for https://github.com/programminghistorian/jekyll/issues/576 (the survey, if we choose to allocate resources to do one, per https://github.com/programminghistorian/jekyll/issues/579) would be to have feedback ask those who complete the survey to check (or not) boxes that **directly** reference / pertain to the current miss

[2017-09-29 11:51] drjwbaker commented on #579
@ianmilligan1 In addition to or instead of some of the other things? Setting priorities for resource allocation is what - I think - we want to get out of this.

[2017-09-29 11:53] acrymble commented on #552
I don't think we can drop peer review without having to take on a substantial new workload ourselves. So I'd rather not ask that. I like the idea though of the list.

[2017-09-29 12:12] drjwbaker commented on #552
@acrymble Agreed.. If we do a survey we won't put anything in that we are wedded to and/or don't want to do: I didn't put "I would like the Programming Historian to .. **not be** committed to fostering a diverse and inclusive community of editors, writers, and readers" for that reason :)

My only thought here then - and this is getting into the specifics of a survey we haven't agreed to do so is p

[2017-09-29 12:41] vgayolrs commented on #598
@acrymble : I think @arojascastro realized that the update was made because it was announced at #593. But we need a more precise mechanism to know wich translation needs updating.  Is there no ongoing discussion on this? It would be good to define a workflow for updates that includes a direct warning to Spanish editors (i.e. when somebody make an update, please mention a spanish team member in the

[2017-09-29 12:58] vgayolrs commented on #503
@acrymble  @mariajoafana : As the current QGis version is 2.18.13, there are many deep changes since v.2.0.1. I suggest to follow the spirit of the lesson but to update everything to the latest version of the program to have an accurate and useful spanish version (not a strict translation). By example, I don't think the old GDAL versions (and GRASS) will work fine on Macs with El Capitan or Sierra

[2017-09-29 13:04] mariajoafana commented on #598
I'll take care of this update

[2017-09-29 13:28] ianmilligan1 commented on #579
Instead of other things on your list above, I don’t think we should devote energy to another survey at this point or a wiki. But again I’ve been on leave so I am a bit out of the loop.

[2017-09-29 14:01] JMParr commented on #552
I agree with Adam and James on not dropping peer review.

On Fri, Sep 29, 2017 at 8:12 AM, James Baker <notifications@github.com>
wrote:

[2017-09-29 14:18] drjwbaker commented on #595
# Draft Policy on making a regular citeable export of The Programming Historian

## Why

Making a regular citeable export of The Programming Historian has two clear benefits:
- It creates a digital object that readers can use to cite The Programming Historian as a project.
- It creates a digital object that PH authors/editors can use to refer to archived lessons or previous versions of lessons.

-

[2017-09-29 14:31] drjwbaker commented on #579
Okay. Happy to go with whatever if we have quorum (slight OT: when was the last survey?)

[2017-09-29 14:46] alsalin commented on #552
I wonder if the "I like" section should instead let users rate the importance of all of these factors in their use of PH. a 1-5 system, one being "I don't care" and 5 being "this is so important and why I read PH." Then we can have a list of features and perhaps be better able to gauge what users find important. I think we could do a similar thing for the "I would like" - out of all these features

[2017-09-29 14:49] alsalin commented on #579
I think that there is some momentum being #576 survey (as per #596 call and ongoing discussion). I think the survey is a great idea and could be the initial stages of future changes to the ways in which we do community engagement. I also really like the idea of using hypothes.is.

[2017-09-29 15:01] drjwbaker commented on #552
Maybe. I'm just adapting from an existing template I know of. The advantage of yes/no is that it is quicker and easier to fill out for those taking the survey and that it is easier for us to interpret (1-5 ratings are notoriously hard to interpret).

[2017-09-29 15:10] mdlincoln commented on #552
@alsalin @drjwbaker since you're mostly talking about survey design now, please put those comments over in the appropriate issues.

[2017-09-29 15:20] mdlincoln commented on #552
I certainly do not mean to cut off any discussion, so please by all means please reopen if anyone has more to say... but it seems that there aren't any fundamental changes being requested of our front-page statement as it stands now.

Let's keep that statement in mind as we go forward with things like community engagement and our sustainability/archiving discussions.

[2017-09-29 15:20] #552 closed, assigned to nobody

[2017-09-29 15:27] mdlincoln commented on #611
We do check metadata @arojascastro (#426) however right now `translation_editor` is not validated, because only one lesson actually had a `translation-editor` in it. I'll add that field to the checklist now, and then you'll see all the errors for lessons that are missing it.

[2017-09-29 15:29] drjwbaker commented on #576
If we go ahead with a survey, note idea to tie to mission statement https://github.com/programminghistorian/jekyll/issues/552#issuecomment-333105923

[2017-09-29 15:39] mdlincoln commented on #611
~You can find the list of lessons with missing `translation-editor` here: https://travis-ci.org/programminghistorian/jekyll~

[2017-09-29 17:18] arojascastro commented on #611
Super! @mdlincoln

[2017-09-29 17:34] mdlincoln commented on #536
Any further comments, please add in the review thread for #612

[2017-09-29 18:28] mdlincoln commented on #611
Apologies, the specific build listing the missing YAML is here: https://travis-ci.org/programminghistorian/jekyll/builds/281347660

[2017-09-29 18:29] mdlincoln commented on #509
Closing due to lack of urgency; will revisit if desired.

[2017-09-29 18:29] #509 closed, assigned to mdlincoln

[2017-09-29 18:32] mdlincoln commented on #503
Does this mean that the original QGIS lesson should be considered for archiving? Or can these few broken links be fixed on the original?

[2017-09-29 18:49] mdlincoln opened #613 "Broken documentation links on "Exploring and Analyzing Network Data""
It looks like the python networkx package just moved its documentation, and may have done so in ways that aren't easily find-and-replaceable. @walshbr would you perhaps reach out to the authors and ask if they could take a look? If not, we can Wayback all the links... but that'd be unfortunate for such a major package.

[2017-09-29 18:50] mdlincoln commented on #613
The new home for their docs: https://networkx.github.io/documentation/stable/index.html (they didn't make any redirects!)

[2017-09-29 18:59] mdlincoln commented on #534
Some specific problems that show up in links:

- Do you link to the webpage for corporate commercial software like Apple or Microsoft? These are commonly NOT canonical links, and so break with high incidence. Linking to google search results for software like this can even be more effective!
- When linking to articles, try to use a DOI if possible. Even these sometimes fail, but then at least ther

[2017-09-29 20:29] walshbr commented on #613
Wow. Sure! I'll get in touch with John. And just to clarify @mdlincoln, as with the Audacity tutorial, we're only doing this for the production version of the lesson in the jekyll repo, right? Not touching the archived pre-publication version on ph-submissions.

[2017-09-29 23:26] mdlincoln commented on #613
those never get touched again. Does it say somewhere that they need to be updated?

[2017-09-30 00:15] walshbr commented on #613
Nah I'm likely just paranoid. I'll ping John.

[2017-09-30 14:55] jrladd commented on #613
Thanks for bringing this to my attention. I'd noticed that NetworkX finally updated to a stable v2.0, but I hadn't thought about the documentation links. I'll fork the repo on Monday and make a few changes. They've also changed a couple small syntax things (nx.set_node_attributes, I think) that may have to be updated too.

[2017-10-02 07:44] arojascastro commented on #611
@mdlincoln  🔝  💯

[2017-10-02 12:18] mariajoafana commented on #598
Done

[2017-10-02 12:41] arojascastro commented on #598
Muchas gracias @mariajoafana ! Exactly, @vgayolrs, please take into account our lessons when you make updates! @acrymble @mdlincoln

[2017-10-02 12:41] #598 closed, assigned to arojascastro, vgayolrs, mariajoafana

[2017-10-03 20:00] jrladd commented on #613
Okay, I went ahead and forked the repo, made changes, and opened at pull request at #614. That should fix all the links and update a little bit of the NetworkX syntax. Let me know if there's more I can do!

[2017-10-03 20:02] mdlincoln commented on #611
@arojascastro Is it possible to add these editors soon? Without having the editor metadata in place, we will keep receiving build errors and it makes other development work difficult.

[2017-10-04 00:44] #393 closed, assigned to ianmilligan1

[2017-10-04 04:12] vgayolrs commented on #503
@mdlincoln , @mariajoafana , please give me a couple of days. I think that if we fix some links the lesson will work ok.

[2017-10-04 04:17] vgayolrs commented on #430
Well, here is the call of papers [DH2018](https://dh2018.adho.org/cfp_english/).

[2017-10-04 07:27] arojascastro commented on #611
@mdlincoln sorry, I can't work on this until Sunday... you may turn it off? Now I know that basically all lessons need that feld. Maybe @vgayolrs and @mariajoafana can help me?

[2017-10-04 11:20] vgayolrs commented on #503
@mdlincoln @mariajoafana , Lesson works fine with some minor changes.

Links in  original lessons must change:

Actual [QGIS Download page](https://issues.qgis.org/login?back_url=https%3A%2F%2Fissues.qgis.org%2Fprojects%2Fqgis%2Fwiki%2FDownload)

Must be: [QGIS Download page](http://qgis.org/en/site/forusers/download.html), in Spanish:  [Página de descarga](http://qgis.org/es/site/forusers/downloa

[2017-10-04 14:55] mdlincoln commented on #503
@vgayolrs thank you for researching these changes. Can you please change the files yourself?

[2017-10-04 16:12] mdlincoln commented on #534
@alsalin I think it'll be important to cross-reference the lesson retirement policy with these sustainability guidelines - so I'd like them to go under the same PR #612 (not to mention, it'll help unify all the changes, thus making the Spanish team's job easier.) That means we'll need to get your suggested edits before closing out the lesson retirement policy changes. Do you have a realistic timel

[2017-10-04 16:38] alsalin commented on #534
@mdlincoln I hope to have some drafts up in the next day or so. apologies for the delay, but I've been a bit under the weather the last week or so.

[2017-10-04 16:45] mdlincoln commented on #534
No rush @alsalin - just need a realistic timeline, that's all.

[2017-10-04 20:26] alsalin commented on #534
Hi all, here are some suggestions on verbage for sustainability. These are merely suggestions for placement and content. I've tried to summarize suggestions from a few different places, but please review for accuracy and appropriateness. Rather than repeat everything in every section, I tried to word the guidelines for each audience as best as I could. Question: would it be helpful in any of these

[2017-10-05 00:13] vgayolrs commented on #503
Sure @mdlincoln . Only, I want to know the policy that we'll use in this case. The lesson generally works, but there is an upgrade in the software version and minor modifications to the text that do not harm the authorship or moral rights of those who wrote the lesson. Should we indicate in some note or some other way those changes or just make them? I think it would be the second because it is on

[2017-10-05 10:28] acrymble commented on #430
Is anyone actively interested in putting in a proposal? I think this is going to be too expensive for me.

[2017-10-05 10:29] acrymble commented on #534
This is great. I thin we can add in new advice as and when we come across problems.

[2017-10-05 10:34] acrymble commented on #595
We had some very strong objections to a 'Cite the Project' recently from within the team: #404

[2017-10-05 10:38] drjwbaker commented on #595
Wow. Okay. I always look for 'Cite the Project' bits when I want to cite a project. I would of thought having a standard style helps project owners better understand how their project is being used/talked about because some readers will use the suggested citation. But if you've argued about this already, I don't want to rock the boat.

[2017-10-05 11:03] acrymble commented on #595
I think it was a culture of higher education thing. I find them incredibly useful too. I've never managed to convince someone in North America though.

[2017-10-05 11:07] drjwbaker commented on #430
I might be going (if a panel we are plotting gets accepted)

[2017-10-05 11:38] arojascastro commented on #430
I don't think I can make it, but I am interested in submitting a paper.

[2017-10-05 13:02] ianmilligan1 commented on #430
I’m trying to cut down on travel - having been on the road too much (gotta have time to do work!) - so I’m probably not going to go to DH 2018.

[2017-10-05 13:10] walshbr commented on #430
I'm putting in another proposal or two on other projects, so I'm theoretically planning on being at the conference.

[2017-10-05 13:13] acrymble commented on #430
I was more asking if anything wants to present PH at the conference.

[2017-10-05 13:22] ianmilligan1 commented on #430
Yep, although knowing if people are going to be able to attend or not does let us see if anybody could present it.

[2017-10-05 13:52] vgayolrs commented on #430
@acrymble I would like to present something about PH. Could we work on it? What format do you think of? I want to propose a short paper to show my work in progress about the legal corpus, but up to two works can be proposed by author or co-author.

[2017-10-05 14:12] ianmilligan1 commented on #534
This is really good, thanks @alsalin!

My only hesitation is the verbiage around:

I've always thought that this one of the _Programming Historian_'s strengths: being able to take overall methodological concepts (which are important), but then assuming a low-level of technical knowledge and really breaking things down for users. Reminding them to double-click an archive file to open it, or to chan

[2017-10-05 14:37] walshbr commented on #534
Looks really great to me. And just to underscore what @ianmilligan1 is saying - I had the same thoughts. In general, when I've been involved, those sort of additions have been based on extended back and forth with reviewers/authors who can't figure out how to do something. Ie - "It says click this to download, but it's not downloading. It's still not downloading." etc. And if something requires th

[2017-10-05 14:44] alsalin commented on #534
@ianmilligan1 @walshbr excellent points - I think we can certainly add language that the reviewers and editors should be aware of the level that the lesson is geared towards when making these determinations. also, it may be possible, if we implement something like hypothes.is in the future, for some of these details to be annotated and then updated by our readership. in the meantime, I think it wi

[2017-10-05 14:54] mariajoafana commented on #430
I'm planning to attend as well. I can co-author a proposal about PH with you @vgayolrs if that sounds good. I might send another proposal as well

[2017-10-05 22:31] #613 closed, assigned to walshbr

[2017-10-05 22:32] #503 closed, assigned to mariajoafana

[2017-10-06 14:45] walshbr opened #617 "Editorial Meeting Agenda - 10/25/2017"
Date TBD - 5PM British, 12PM Eastern US, 9AM Pacific US last week of the month.

Feel free to drop tickets here as they become substantial and apparent.

- [x] #612 Retirement Policy and Sustainability Strategy draft language
- [ ] #620 Suggested Workflow for updating translations
- [ ] #626 and #630 Editing via direct commit or PR
- [x] #619 Editorial Board diversity policy
- [ ] #595 Annual Zeno

[2017-10-06 14:48] drjwbaker commented on #617
Review https://github.com/programminghistorian/jekyll/issues/595#issuecomment-333138904

[2017-10-06 16:24] LaFrish opened #618 "Site not working."
The site is not working. I am specifically looking at https://programminghistorian.org/lessons/intro-to-augmented-reality-with-unity#unity. However, the whole site is down.

[2017-10-06 16:27] mdlincoln commented on #618
Thanks for the issue report @LaFrish. I am not having any issues loading the site right now, so please try reloading it, and report back if you are still encountering issues.

[2017-10-06 16:27] #618 closed, assigned to nobody

[2017-10-06 21:21] ianmilligan1 commented on #595
This all looks great @drjwbaker – consider this a vote. As for citing, I think Fred's comments were also getting at some of the difficulties of having a canonical citation for Programming Historian itself.. our editorial team changes, etc. etc., so it's hard to have a right citation for a given time. And it's also unclear whether it should be cited like a journal (where we don't list all the edito

[2017-10-08 05:47] vgayolrs commented on #430
Great @mariajoafana : "echémonos el trompo a la uña"! I wonder if anyone else wants to join us as a co-author and help define the presentation form. I think @acrymble , @ianmilligan1  and other team members have a lot to say. We have until November 27 to present the proposal.

[2017-10-08 09:39] acrymble commented on #430
The theme is 'bridges', and I think this is a good opportunity to share our experience of bridging the PH project into the Spanish Speaking World. It's not a research paper, but more a reflection paper, so I don't know if they'd be interested in that.

[2017-10-08 09:59] acrymble commented on #595
@ianmilligan1 I think you're right about the journal vs collection. Either way I agree the Zenodo dump (which maybe we can give a nicer sounding name) is a great step in the right direction.

[2017-10-08 12:34] vgayolrs commented on #430
@acrymble we can try. I am in contact with several of the local organizers. We can see if they are interested. An interesting point is that this time the conference is bilingual (English-Spanish)

[2017-10-08 12:47] acrymble commented on #534
Good points all. Giving editors something to think about is different from prohibiting screenshots/instructions, etc. So if we're thinking about 'guidelines' then I think it's worth reminding editors and reviewers that certain decisions may have a future sustainability impact.

[2017-10-08 12:49] acrymble commented on #617
#430 DH 2018 presence
#534 Sustainability Strategy
#619 Editorial Board diversity policy

[2017-10-08 13:00] acrymble opened #619 "Editorial board diversity suggestion"
I think we've done a lot to try to diversify ourselves and our intended audiences in the past couple of years. I wanted to raise the idea of adopting a 50%+1 policy for our editorial board members, so that the board never becomes more than 50%+1 person from the same gender / nationality.

Hopefully we'll have some stability in our board for a few years, but I wanted to raise this for comment. We c

[2017-10-08 14:46] vgayolrs opened #620 "Suggested Workflow for updating translations"
In order to keep updated the Spanish translations, I propose that we adopt a transparent mechanism that allows the Spanish team to be aware at the same time English lessons are being updating.

I suggest that, every time someone makes a change in a lesson, give us notice to any of the members of the Spanish team through the same commit window.

If you think there may be another more efficient mech

[2017-10-08 14:47] vgayolrs commented on #617
#620  Suggested Workflow for updating translations

[2017-10-09 13:19] walshbr commented on #619
Sounds good to me - my only comment @acrymble would be that you had a lot of good thoughts when we were last looking for new board members about other kinds of diversity that we might consider in addition to race, gender, and nationality - Academic/GLAM, senior/junior, academic background/current affiliation. Gender/nationality are certainly the biggest and probably the ones worth explicitly bindi

[2017-10-10 12:57] walshbr commented on #617
Date set for 10/25/17.

[2017-10-10 15:19] mdlincoln commented on #595
@drjwbaker where do you suggest we display the list of versions on the website? (I'd suggest somewhere on https://programminghistorian.org/about - as @ianmilligan1 notes, it may be prudent to also link to https://programminghistorian.org/project-team#project-team-membership-history)

[2017-10-10 15:34] mdlincoln commented on #534
🥇  these are really great @alsalin - as for where to reference the retirement policy, I'd link to it in the author guidelines at the end of the _Write Sustainably_ section, e.g.

Please strengthen one statement in the author guidelines:

- ~Consider hosting your lesson's data sources at PH.~
- Data sources for lessons should be hosted at PH.

This aligns the author guidelines with the editor guide

[2017-10-10 15:35] mdlincoln commented on #534
@alsalin can you please go ahead and push these edits to the `archiving-policy` branch of this repository? That way they can become part of the #612 PR and we can preview everything in one place.

[2017-10-10 15:38] alsalin commented on #534
@mdlincoln do we want to wait until #617 discussion to push the edits? i'm fine with either, but i wasn't sure since it seemed like sustainability was on the meeting agenda.

[2017-10-10 15:40] mdlincoln commented on #534
We're not merging the changes yet, just adding them to the PR so that people can preview them as they would appear on the published site - something I think will help anchor conversation. Plus, if they're committed as changes in a PR, then we can do inline commenting, so it's much easier to have concrete discussions.

[2017-10-10 15:41] alsalin commented on #534
@mdlincoln great! i will make my attempts probably tomorrow and hopefully not destroy everything :)

[2017-10-11 07:04] arojascastro commented on #611
I am sorry @mdlincoln but I must postpone this tak for some more days.

[2017-10-11 08:51] drjwbaker commented on #595
Yes, the about page.

[2017-10-12 16:01] alsalin commented on #534
@mdlincoln I gave it the ol' college try. please verify that I didn't ruin PR #612 ;)

[2017-10-12 16:34] mdlincoln commented on #534
You didn't.

All further conversation about this issue should now take place on #612

[2017-10-13 18:07] ianmilligan1 opened #621 "Updating Data Mining the Internet Archive Collection to include IA Configure"
Annie Swafford wrote in to note that a recent update to the [Internet Archive Python library](http://internetarchive.readthedocs.io/en/latest/quickstart.html) now requires archive.org credentials to run in @wcaleb's ["Data Mining the Internet Archive Collection"](https://programminghistorian.org/lessons/data-mining-the-internet-archive). E-mail below:

@wcaleb do you want to update this, or I can

[2017-10-13 19:16] mdlincoln opened #622 "HTRC Solr proxy no longer offered"
[Text Mining in Python through the HTRC Feature Reader](https://programminghistorian.org/lessons/text-mining-with-extracted-features#whats-in-a-volume) mentions a Solr API in passing at the end of the "What's in a Volume?" section. Our dead link checker flagged a 404 on the wiki it links to... and after brief investigation it looks like that API is [no longer supported by HTRC](https://wiki.htrc.i

[2017-10-13 19:20] arojascastro commented on #621
I think this is also relevant for @vgayolrs  since he is the editor of the Spanish translation - currently under review. Right?

[2017-10-13 20:44] ianmilligan1 commented on #622
Thanks for the heads up @mdlincoln.

I'm in turn going to ping the lead author @organisciak - thoughts Peter, re: removing reference entirely or noting that the API is dead?

[2017-10-13 22:23] ianmilligan1 commented on #622
FWIW after thinking on this, my vote would be to just remove the paragraph.

[2017-10-13 23:11] organisciak commented on #622
Quick catch Matt! I'm looking into this with the HTRC people. There's an alternative Solr close to a public release (most of the attention is on the front end, the API has been stable for a bit), so I'm looking into whether it's better to update or remove the references.

[2017-10-13 23:35] vgayolrs commented on #621
Thanks @arojascastro : it is, indeed.

[2017-10-14 02:08] vgayolrs opened #623 "Snipets of Spanish new lesson page must be translated"
@mdlincoln : there's a little detail on the new Spanish lesson page, which you could possibly help me sort out: https://programminghistorian.org/es/lecciones/

When I choose a filter for the types of lessons (by date or by difficulty or by topic), some of that information appears in English and some in Spanish.

For example, "filtering results" should be translated to "resultados de filtrado", "al

[2017-10-14 02:24] vgayolrs commented on #430
Any other interested in participating as a co-author in the presentation of PH apart from Maria and me? Any suggestion of format? I'm meeting with the local organizers next week. Obviously taking into account that we will decide on this at the next editorial meeting, I would like to bring some idea of the collective voice at the meeting next week, if possible.

[2017-10-14 02:35] vgayolrs commented on #600
Perdón, querido @arojascastro , ¿por qué no lo dejamos en público en el registro que ya tenemos en github? Requisitar todo en la hoja de cálculo quizá nos cause doble trabajo e inconsistencias entre una y otra lista que, por cierto, deberíamos hacer más pública invitando a posibles traductores. ¿Qué piensas @mariajoafana ?

[2017-10-14 02:38] vgayolrs commented on #600
Por ejemplo, de la lista en git: https://github.com/programminghistorian/ph-submissions/blob/gh-pages/es/lista-de-traducciones.md, ya quité una traducción que tenía yo pendiente de una lección que se ha quitado del sitio, y así también deberíamos quitar dos perspectivas de traducciones que han sido retiradas (deprecated): 1) https://programminghistorian.org/lessons/deprecated/creating-new-items-in

[2017-10-14 06:22] arojascastro commented on #600
Estoy de acuerdo en que no hay que duplicar, pero en la lista de traducciones no hay datos sobre cuándo contactamos al traductor o al revisor, y otra información importante. Con todo, para mí me es más cómodo no utilizar la hoja de cálculo (fue sugerencia del equipo inglés). También coincido en que debemos quitar las lecciones descartadas (no sé si queda alguna más).

[2017-10-14 06:24] arojascastro commented on #600
Por otra parte, las lecciones ya entregadas se deben eliminar de la de lista; por ejemplo, creo que ya  hay ticket de revisión para tu intro a shell... de esa manera veremos las que están pendients solamente, ¿no? Hay alguna sin fecha de entrega o que ya han pasado la fecha de entrega.

[2017-10-15 16:35] acrymble commented on #430
If it's helpful to what you want to talk about, I can work with you to analyse our traffic statistics to get a sense of where in the Spanish-speaking world we've got people visiting from. If you're going a different road though I don't need to be involved as a co-author. I won't be able to present due to cost.

[2017-10-15 16:43] acrymble opened #624 "slow page loads in India"
Google Analytics has changed and they start now warning you of issues with your various audiences. They've highlighted that people in India are experiencing very slow load times on our site. This is actually our second largest user base. Does anyone know of anything we can do to support that or otherwise improve performance for these people?

<img width="311" alt="screen shot 2017-10-15 at 17 31 2

[2017-10-15 19:34] mdlincoln commented on #624
The actual serving of pages is nothing we have control over, I'm afraid.

[2017-10-15 19:34] #624 closed, assigned to nobody

[2017-10-15 19:59] mdlincoln commented on #623
Thank you for pointing this out. I can see where the issue is: right now, lessonfilter.js tries to reference the snippets.yml file in order to get the proper language terms for these buttons. This does not work like it does on other HTML pages, however - because although lessonfilter.js gets called by both lessons.html and es/lecciones.html, Jekyll only renders the js file once - and when it does,

[2017-10-15 21:18] ianmilligan1 commented on #430
Hi all - I'm happy to bounce ideas around on the ticket or help with a set of eyes on an abstract, but I don't need to be a co-author. As noted I'm probably not going to DH 2018.

[2017-10-16 02:18] vgayolrs commented on #430
Thanks a lot @acrymble  and @ianmilligan1  . I didn't writte anything yet, I just send @mariajoafana an email this weekend to start exchanging ideas. Hope this week we could have something clear. But here is what I have been thinking, and I think that socializing it with both of you (and anyone who wants to throw some ideas) is very important as I believe that we need build this together. I apolog

[2017-10-16 09:08] acrymble commented on #624
I was thinking more along the lines of making sure our files (eg screenshots) weren't overly large. I know we dont' control the servers directly.

[2017-10-16 10:42] drjwbaker commented on #624
Work of the DH Minimal Computing group is relevant here http://go-dh.github.io/mincomp/ I think we are pretty good on this front. My understanding is the fewer interactives and large image files the better.

[2017-10-16 11:41] acrymble commented on #430
In terms of India, from what we can tell it looks like there are a lot of
people using it in the equivalent of India's Silicon Valley to teach
themselves Python. I suspect it's not being used by historians.

Statistics on the Spanish lessons would be a good way of directing our
future efforts. Maybe prioritizing lessons that are similar to popular
lessons.

On Mon, Oct 16, 2017 at 3:18 AM, Víctor

[2017-10-16 15:22] wcaleb commented on #621
Looking into it ...

[2017-10-16 16:06] #621 closed, assigned to nobody

[2017-10-16 16:48] jerielizabeth opened #628 "Sustainability question for lesson with a hosted Virtuoso server"
Hi all,

We have a lesson under development (http://programminghistorian.github.io/ph-submissions/lessons/making-a-small-rdf-database) that uses a hosted Virtuoso server to demonstrate some SPARQL queries. Currently that server is hosted by the author (http://whanley.history.fsu.edu:8890/sparql), which he is willing to continue to do indefinitely. However, that is a rather large external dependenc

[2017-10-16 17:27] alsalin commented on #628
I would recommend leaving it out as it doesn't seem to be critical to the lesson - seems like there's an option for users familiar with SPARQL to download a file hosted at PH. We could also put in a note that takes users to some documentation on how to setup their own environment for testing.

[2017-10-16 17:33] mdlincoln commented on #628
Remove the dependency on an individually-hosted server at all costs. Even pointing to institutionally-hosted ones like Europeana has proven... less than perfect 😬

[2017-10-16 17:39] jerielizabeth commented on #628
Thanks @alsalin and @mdlincoln! I'll work with the author to remove it and rely instead on the reader having their own running server.

[2017-10-16 17:39] #628 closed, assigned to nobody

[2017-10-17 10:24] ndalyrose opened #629 "Basic Text Processing in R: Word Frequency"
Several of us working through this section of the tutorial on word frequency received this error and couldn't figure out how to resolve. We're on Windows machines.:

wf
Error in open.connection(con, "rb") :
  Failed to connect to programminghistorian.org port 80: Timed out

[2017-10-17 10:38] acrymble commented on #629
do you know what it's supposed to be finding? I didn't work on this lesson, but it looks like it's trying to call a file somewhere. Maybe the URL is just wrong?

[2017-10-17 10:39] acrymble commented on #629
https://programminghistorian.org/assets/basic-text-processing-in-r/word_frequency.csv this looks like the correct URL. I suspect there's an issue with "%s/%s" not creating that from the base_url...

[2017-10-17 11:45] drjwbaker commented on #629
I *think* the line should be `wf <- read.csv(sprintf("https://programminghistorian.org/assets/basic-text-processing-in-r/word_frequency.csv"))`, but @statsmaths et al are the experts.

[2017-10-17 18:45] arojascastro commented on #430
I decided to retire from this. I am hoping to submit a proposal for the EADH conference to be held in 2018.

[2017-10-17 20:09] jerielizabeth commented on #629
I think the problem is with the base_url value -- the lesson was pre our switch to https. I tried it locally and got an error using http in the base_url value, and no errors when switching to https. @ndalyrose, could you try changing the base_url value from `base_url <- "http://programminghistorian.org/assets/basic-text-processing-in-r"` to `base_url <- "https://programminghistorian.org/assets/bas

[2017-10-17 20:15] jerielizabeth commented on #629
If that works, I can push up a pull request with the change.

[2017-10-17 20:30] drjwbaker commented on #617
Re conversation at #626, adding an agenda point on pushing minor edits.

[2017-10-17 22:43] taylor-arnold commented on #629
My guess is that @jerielizabeth is correct about it having to do with http versus https. Both the original and the https versions worked fine on my computer though, so I am not a good judge of whether this fixes the original issue (could be that my machine is switching over automatically due to my setup). @ndalyrose, does the https change fix it for you ?

[2017-10-17 23:41] mdlincoln opened #630 "Editing via direct commit vs. PR"
Re: convo in #626

Our current advice for how members of the editorial team should edit the site is a bit of a mishmash, and it's causing confusion: https://github.com/programminghistorian/jekyll/wiki/Making-Technical-Contributions

As author of those ad hoc contribution notes: I am sorry! They're clearly not working well enough for us.

At present, it is possible for team members to make commits

[2017-10-18 07:27] drjwbaker commented on #630
Thanks for the detailed start @mdlincoln.

I'm in favour of using PRs for any changes to any wysiwyg text in any part of PH. In this process those raising the PR should nominate reviewers: one content reviewer, one ES to check translation implications, and - in cases of lessons where more than minor edits are being made - an author. The latter would not have to approve but - I think - should be no

[2017-10-18 12:33] ianmilligan1 commented on #630
Agreed, this is a great conversation to have @mdlincoln!

I think this is a good practice, leveraging the platform to make our workflow more systematic. I think there'll be a learning curve but once we get through that things will be good. I think we should also make it clear that folks are not to merge their own PRs, however trivial they might be. And I think we can set it that each PR needs a re

[2017-10-18 12:51] arojascastro opened #631 "Project Team Membership History should be translated?"
I just realized that this [section](https://programminghistorian.org/project-team#project-team-membership-history) is not translated in the Spanish edition: https://programminghistorian.org/es/equipo-de-proyecto

Should we translate it? @vgayolrs @mariajoafana

[2017-10-18 14:43] acrymble commented on #630
I suppose the PR approach, but I don't know how to do it properly. I've never understood what I'm supposed to do and I find it unintuitive, so I'd need some clear instructions.

[2017-10-18 14:45] acrymble commented on #620
This is related to #630 and a suggestion that we use pull requests for making contributions.

[2017-10-19 00:45] jerielizabeth commented on #629
I've queued up the change, but will leave the issue open for feedback from @ndalyrose et al.

[2017-10-19 00:55] jerielizabeth commented on #629
logging this in case https does not fix the issue. If I remember correctly, @walshbr was a reviewer on this issue and did run into some intermittent trouble with network connectivity on a university network.

[2017-10-19 12:50] walshbr commented on #629
I was having issues with connectivity, but it looked like it was due to running R in the terminal rather than from R Studio or a GUI. So probably a separate issue?

[2017-10-23 02:08] vgayolrs commented on #631
En algún ticket puse el dedo en ese renglón y otros de la misma página. Yo me encargo.

[2017-10-23 02:52] vgayolrs commented on #631
hecho. cierro, siquieren revisar la página por algún error abrimos el ticket,

[2017-10-23 02:52] #631 closed, assigned to arojascastro, vgayolrs, mariajoafana

[2017-10-24 15:57] mdlincoln commented on #617
I just updated the link for sustainability & retirement policy to point to the active PR - all discussion should be based around that draft text.

[2017-10-25 16:26] ianmilligan1 opened #634 "Document Workflow for Branches"
As we move to editing via Pull Requests vs. direct commits (#630), we need documentation for editors on how to (a) open branches; (b) edit on the branch; (c) open up a pull request to bring back to master. This can go in the [Wiki page here](https://github.com/programminghistorian/jekyll/wiki/Making-Technical-Contributions).

#617

[2017-10-25 16:40] acrymble commented on #619
me to draft some text for comment...

suggestion to integrate into the about pages.

[2017-10-25 16:55] drjwbaker commented on #595
Add latest citation under 'Open Source' at https://programminghistorian.org/about

[2017-10-25 16:57] drjwbaker commented on #595
- [x] check I can make a Zenodo dump (using https://guides.github.com/activities/citable-code/ process)
- [x] make a release of the Jekyll repo
- [x] find a place to link the dump on main PH page
- [x] make a dummy dump
- [x] document service integration https://github.com/programminghistorian/jekyll/issues/595#issuecomment-340125178
- [ ] edit my bio to reflect that I manage this process

[2017-10-25 17:09] #629 closed, assigned to nobody

[2017-10-25 17:21] acrymble commented on #619
Draft text. Based on the premise of a section on the /about page, perhaps under the Gold Open Access section?

The Programming Historian is committed to diversity, and we insist on a harassment-free space for all contributors to the project, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age or religion, or technical expe

[2017-10-25 17:23] walshbr commented on #617
Actionables -

#612 - English text can be considered set. @mdlincoln will ping Spanish team to begin translating. And we'll aim to regularly try to have proactive conversations about sustainability issues among ourselves as we try to act in accordance with the guidelines.
#620 #626 #630 - moving to all text changes being done by pull requests. @mdlincoln will experiment with closing our master bra

[2017-10-25 17:23] #617 closed, assigned to walshbr

[2017-10-25 17:48] walshbr opened #636 "Spanish Team and Editorial Responsibilities"
Based on a conversation at #617 - several people thought it would be useful to clarify the responsibilities of the Spanish team as they relate to the editorial duties of the rest of the board more generally.

1. Is the assumption that the Spanish team can also take on regular editing of lessons?
2. Is their work exclusively on translation?
3. Is there a possibility for them to edit lessons origina

[2017-10-25 19:51] ianmilligan1 opened #637 "Missing "contact information" on Project Scholarship page"
Right now, the pre-amble to the "Project Scholarship" page reads like this:

It says "please let us know," but doesn't provide a contact person. We should add an e-mail for the managing editor, as is standard throughout the site.

_NOTE: This is part of a test issue/pull-request sequence to support project documentation._