[2020-04-23 09:48] drjwbaker commented on #1746
Thanks @acrymble: expertise needed in HR, non-profit/charity admin, finance/tax please :)

[2020-04-23 09:50] drjwbaker commented on #1700
Documentation is on the service integrations page.

Bus-factor, nearly. Finance docs with private/sensitive info are only listed, not on the repo. Still struggling with an ideal solution to that (unless it is something like a Dropbox/Box folder that only Ltd Directors have access to).

[2020-04-23 09:53] amsichani commented on #1746
If I can add, it might be clever to also adopt a new strategy for our peer reviewers' recruitment: as we are probably going to have multiple EN lessons' submissions in the next couple of weeks/months , we might be able to ask for specific expertise for reviewers (computer vision, image processing etc) . Perhaps @svmelton might help on this.

[2020-04-23 09:53] acrymble commented on #1700
Why don't we bite the bullet and just keep 3 physical copies and use the Royal Mail ever 3 months? One for me, you and Anna Maria kept in hard copy until we get a better idea?

[2020-04-23 10:01] drjwbaker commented on #1700
I don't have access to a printer.

[2020-04-23 10:02] acrymble commented on #1700
I do (and presumably you will eventually when you get back to the office). Is the volume high? Would it be feasible for me to print and disseminate it in hard copy?

[2020-04-23 10:06] drjwbaker commented on #1700
Volume isn't high. See the listing at https://github.com/programminghistorian/project-and-business-archive/tree/master/business/Finances. We are talking: the accounts + invoices received/issued.

[2020-04-23 10:07] amsichani commented on #1700
I don't have a printer either. It might be clever to keep hard copies , but I don't know if this would be a sustainable option.

[2020-04-23 10:08] acrymble commented on #1700
Should we do a trial and then decide based on that?

[2020-04-23 10:11] drjwbaker commented on #1700
Sure. @acrymble: if I email you the docs in question can you print circulate this quarter?

[2020-04-23 10:18] acrymble commented on #1700
Sounds good.

[2020-04-23 12:24] #1700 closed, assigned to drjwbaker

[2020-04-23 18:30] amsichani opened #1751 "Handling all available versions/translations of the lesson as equals"
During our discussions  on how to group together multiple translations under one banner/ alert message  https://github.com/programminghistorian/jekyll/issues/1738, we were also puzzled on how to handle the alert message notifying on the original version of the lesson. Actually , the current architecture of this message is only set to notify on the English original of the lesson, presupposing that

[2020-04-23 19:07] mdlincoln commented on #1751
There's no underlying data assumption that the originals are in English. If you swap out that `.en` call to `[translation_source.lang]` then you'll get the right language for the source. You could post up a lesson right now in Spanish, translate it to English, add the correct `original` metadata to the English lesson, and the links would be generated. The snippets file already contains the transla

[2020-04-23 19:24] mdlincoln commented on #1751
That said, it's also just fine to keep the underlying original->translation data model, but simply display `Available in: EN | ES | FR | PT | XYZ`

[2020-04-23 19:25] mdlincoln commented on #1751
though I imagine you'd want to make sure "Available in" was using the current page lang, not just english

[2020-04-24 06:46] acrymble commented on #1746
I'm going to collate the ideas here and take them forward in new tickets, since this particular idea (coopting a new temporary team member) doesn't seem viable:

- Tweets about new Spanish lesson proposals sought
- training for editors on finding peer reviewers
- training for @drjwbaker on HR, not-profit/charity admin, and UK finance & tax regulations.

[2020-04-24 06:52] acrymble opened #1752 "Tweets encouraging Spanish original submissions"
As per #1746 one of the suggestions was encouraging Spanish original submissions. This can be a simple series of scheduled tweets.

I might suggest text along the following (in Spanish of course) tweeted on a schedule over the next 10 days or so:

* Have a digital skill you could share with other humanists? The @proghist en espanol wants to hear from prospective authors of Spanish-language digital

[2020-04-24 07:05] acrymble opened #1753 "training for editors on finding peer reviewers"
Coming out of #1746 a sugestion for developing strategy for how to recruit peer reviewers. Linked to this is a realisation on my part that a) I don't think we train people on how to effectively and appropriately find expert peer reviewers. b) there must be resources out there for this and we could improve our collective skills by bringing some of those together.

The aim is to create a Wiki page t

[2020-04-24 07:25] acrymble opened #1754 "Admin training for James"
Coming out of #1746 @drjwbaker has suggested he needs additional training in the following areas:

Human Resources, not-profit/charity admin, and UK finance & tax regulations.

@drjwbaker can you outline briefly what this might look like? Do you want us to try to pair you with a mentor? To work together in a small group to find and learn from existing resources? An online course? Something else?

[2020-04-24 08:04] acrymble commented on #1752
Attempts at translations of the above tweets:

* ¿Tienes una habilidad digital que podrías compartir con otros humanistas? @Proghist en español quiere saber de posibles autores de tutoriales en español.

* Comparta su conocimiento digital relevante para profesionales de bibliotecas y archivos. @Proghist en español está aceptando propuestas de tutoriales en español

* Ayude a sus colegas de todo el

[2020-04-24 08:07] acrymble commented on #1746
With thanks to everyone for their contributions (and warnings). I'm going to close this idea now and we'll take the other ones forward.

[2020-04-24 08:07] #1746 closed, assigned to acrymble

[2020-04-25 10:25] acrymble commented on #1754
I've had a little look around the web for possible options for training:

* There are some London-based in-person charity training workshops (currently postponed obviously) on a range of topics and in the £450 range: https://www.dsc.org.uk/training/
* Coursera has some business management coursess (offered by American universities so possibly a little different), which maybe we could work on in a

[2020-04-27 13:16] mdlincoln commented on #1571
Hello @spapastamkou - I wanted to check on this; I know our commitments have changed radically around the globe since February. Are you still going to be able to try this out in the next month? Or should we close this due to lack of time? I'm happy with either decision, I just want to make sure that we make a decision and then adjust the ticket.

[2020-04-27 13:56] spapastamkou commented on #1571
Hi @mdlincoln, yes, I kind of launched this on April 19: the lesson I will work on is "Downloading Multiple Records Using Query Strings". I uploaded the lesson on our repo and tried to make the connexion with GitLocalize. I did not completely figure out this, and had not much time then, but it is in my pipeline. Once launched, I will open a proposal ticket in the ph-submissions repo, and either cl

[2020-04-27 13:58] mdlincoln commented on #1571
@spapastamkou Great, thank for letting us know you're trying it out on that lesson. I'd report back on what you find out about the tool on this ticket, and then we can figure out if it's really something that the project team would like to use more widely.

[2020-04-27 14:00] spapastamkou commented on #1571
ok, let's do this.

[2020-04-27 15:16] drjwbaker commented on #1690
Sorry. Slow getting to this. Thank you so much for making such a detailed and comprehensive start. Suggested revisions in bold:

Response: Not all publications take the format of a single file. This is especially the case for publications that include appendices or associated datasets and more innovative forms of publication will continue to evolve. Requiring all content to be deposited in a repos

[2020-04-27 15:23] drjwbaker commented on #1690
@acrymble: I think the response to Q19 needs the most work because in your admirable desire to get to the point, you've slightly mis-characterised what we do. E.g. on 'free', we probably can and should dis-aggregate fiscal costs - where we have until recently operated for free - from labour costs - where we rely on time that comes from people having the leisure/privilege/support to give it. That i

[2020-04-27 15:35] acrymble commented on #1690
Ok. What would you like to change? Keeping in mind the purpose of the consultation response is to get a favourable outcome for organizations like us.

[2020-04-27 16:49] drjwbaker commented on #1690
See above in bold, that is my stab at shifting our position slightly.

[2020-04-27 17:01] acrymble commented on #1690
Ah ok, I think all your suggestions are great. Thanks for making them. Anyone else want to comment?

[2020-04-28 14:16] jenniferisasi commented on #1752
Ok, I'll tweet these starting on Monday, May 4. Thanks

[2020-04-28 15:40] drjwbaker commented on #1489
**Update** Report has now been sent to the Project Team for comment, with the aim to publish 7 May.

[2020-04-28 16:52] JMParr commented on #1489
Excellent. Thanks for the update, James.

On Tue, Apr 28, 2020 at 11:41 AM James Baker <notifications@github.com>
wrote:

[2020-04-29 09:27] spapastamkou commented on #1636
@acrymble We consider working on the chart in June. Would this be ok?

[2020-04-29 15:57] drjwbaker commented on #1754
Thanks for investigating Adam. I appreciate it. I guess what I'm looking for is a grounding in what I can feasibly do, and what I'd need help to do. 'For Dummies' might be a start. But I think I really need to shadow someone who does small charity HR and/or books to real get a feel for it. Because I think I'm doing okay, but don't have a clear reference point.

I should add: on running the books,

[2020-04-29 16:33] acrymble commented on #1754
I presume HMRC is a good starting point then? https://www.gov.uk/running-payroll

Or online step-by-step guides: https://startups.co.uk/how-to-pay-employees/

We should have a discussion about who will do this type of work if we do actually hire someone as has been recommended to us. A manager can do their own paperwork, depending on who you hire.

[2020-04-30 07:32] acrymble commented on #1754
A few resources on business mentoring that might be helpful:

https://www.theguardian.com/small-business-network/2015/jan/16/five-steps-finding-perfect-business-mentor-startups

http://www.mentorsme.co.uk/

https://www.charitymentors.co.uk/

[2020-04-30 07:45] acrymble opened #1756 "Identifying Causes of Backlog of old issues"
We've had a gradual buildup of old issues getting stuck for a wide range of reasons. This is a new problem that is worse than we've experienced so far. In order to make sure it doesn't become endemic, I'm opening this ticket and asking our Project Manager at Large @mariajoafana to help identify causes and also to help people responsible for the tickets to action them and complete the tasks or othe

[2020-04-30 07:52] acrymble commented on #1636
I'm wondering if this ticket is stuck because it seems like a bigger task than it actually is. In order to try to make it more manageable, we can break it down into sections that need to be developed (or translated from the English document). There are 3 sections:

A. Style and Audience
 - Language and Style (5 lines)
 - Open Source, Open Access (1 paragraph)
 - Write for a Global Audience (8 bull

[2020-04-30 07:57] acrymble commented on #1752
Thanks @jenniferisasi I will close this. Feel free to adapt or change any of the tweets, as they are just suggestions.

[2020-04-30 07:57] #1752 closed, assigned to acrymble

[2020-04-30 07:58] acrymble commented on #1753
@spapastamkou @rivaquiroga @svmelton I was thinking about asking 2-3 of us to create a short video that shows our "process" for finding peer reviewers for a lesson, which we can put together into a training video. I suspect we all have different approaches to this, and I'd be happy to share my own approach.

However, I dont' want to interfere in the publications if you think that's overstepping my

[2020-04-30 10:31] JohnHenry2020 opened #1757 "django"
I encountered an error when I tried to navigate to The Programming Historian using this link: [PASTE URL HERE]

[2020-04-30 12:01] #1757 closed, assigned to nobody

[2020-04-30 13:42] spapastamkou commented on #1642
@acrymble This finishes today, actually, as it was from February to April. I need to make some final checks to see where we stand (and finish with at least some points I am on personally) but it is planned for this week.
We almost finished to define our next one through exchanges by e-mail, as we had bad connexion in our last meeting this week and were not able to finish the day we met.

[2020-05-01 00:37] svmelton commented on #1753
I think that would be appropriate and useful!

[2020-05-01 09:15] acrymble commented on #1753
Building this up a bit. I'm thinking 3 short videos:

- how to identify subject experts for a review
- how to approach potential reviewers
- how to make sure you're doing an inclusive search to identify reviewers with different characteristics to yourself (sorry not sure how to say that more elloquently).

Each one is maybe a 2-3 minute screencast or audio stream-of-consciousness, with the idea th

[2020-05-01 16:24] drjwbaker commented on #1754
Thanks @acrymble. I rely on HMRC a lot. On the hire, I'd say if we want someone good for the project and seek to avoid the 'hire does everything' pitfall Penny identifies, they perhaps shouldn't be doing this, but arranging for support (e.g. things like https://www.blueumbrella.co.uk/#welcome or https://www.missmps.co.uk/virtual-assistant-kent)

[2020-05-01 17:01] acrymble commented on #1754
Once we have had our AGM and decided if we're going to action that advice of Penny's, lets shift towards a conversation about the tasks that person might do. Then we'll have a better idea of what you'll be continuing to do as well. But I'd like people to have a chance to think about the report.

[2020-05-01 23:13] jenniferisasi commented on #1756
On #1658 I am collecting the list of emails and should be able to do it on Monday. I was planning on earlier, as other tech tickets I have, but ... work, and emails on Friday don't have the same reception.

[2020-05-01 23:23] jenniferisasi commented on #1658
As indicated to @acrymble on #1756 I am working on collecting the emails to send it out as soon as I can. Upon reading the google doc again, I want to clarify:

Our journals can be added to the libraries catalogs without being a IPP member, so I added a sentence that at least could help make us more findable.

[2020-05-02 11:02] #1587 closed, assigned to svmelton

[2020-05-02 11:02] walshbr commented on #1756
#1587 was fixed by a PR - but we forgot to close the issue. I closed it.

[2020-05-02 17:30] fdlaramee opened #1759 "Missing line of code in Stylometry tutorial"
Reader Paul Evans has contacted me to flag a slight discrepancy between the results in the Burrows Delta section of the Introduction to Stylometry tutorial and what he obtained by running the code. After verification, I noticed a missing line in the English version of the code. The French tutorial is accurate and does not require updating.

I will insert the missing line in the appropriate code se

[2020-05-02 19:24] #1759 closed, assigned to fdlaramee

[2020-05-02 20:48] jenniferisasi commented on #1702
@walshbr I have created 21 rows with tweets, so a total of 42; what I have done is create one in English and translate to Spanish and French (which is probably not perfect) to rotate the same ideas but for different audiences. Is that enough to start the bot?

[2020-05-03 12:40] mdlincoln commented on #1646
amended the common travis errors section of the wiki to cover this case

[2020-05-03 12:40] #1646 closed, assigned to mdlincoln

[2020-05-03 13:39] mdlincoln commented on #1370
We've already implemented embedded article-level metadata in `<meta>` tags for each lesson, and XML will be generated as part of the crossref deposit to create DOIs, so most of the technical aspects of this are finished or, with DOIs, waiting on Sussex.

[2020-05-03 14:52] acrymble commented on #1690
I haven't heard anyone else on this, so @drjwbaker I will submit this in the next couple of days, on our behalf.

Thanks for your input.

[2020-05-03 15:54] mdlincoln opened #1761 "Matt Lincoln retirement"
Hi all, I'm starting up this ticket well in advance. As a reminder, I will be stepping down from the project team after we close out the implementation of full-text search and registering DOIs for the project (hopefully complete within the next few months)

My open tickets:

- [x] #1726 - finishing FTS with @ZoeLeBlanc
- [x] #1205 - getting DOIs to display on article pages
- [x] #1683 - workflow f

[2020-05-04 08:09] drjwbaker commented on #1761
@mdlincoln this is incredibly sad news. Your time, effort, and talent will be sorely missed.

[2020-05-04 08:48] drjwbaker commented on #1690
The reassign implies that you will do the submission? If so, thanks.

[2020-05-04 08:48] drjwbaker commented on #1690
(if not, let me know!)

[2020-05-04 08:51] acrymble commented on #1690
Yes, sorry I thought you asked me to. I'll submit it.

[2020-05-04 08:59] drjwbaker commented on #1690
I did. Just double checking that you don't mind :)

[2020-05-04 09:08] drjwbaker commented on #1658
@jenniferisasi Thanks for your efforts on this. I know you've had **a lot** going on. I think it is moving along nicely.

[2020-05-04 09:10] drjwbaker commented on #1658
And I just gave the email a re-read. Looking great.

[2020-05-04 19:47] walshbr commented on #1702
Cool! Yep for sure. I can work on this next week. I'll check back in when it's launched or if I have concerns.

[2020-05-04 21:56] spapastamkou opened #1762 "PH-FR Planning 2020/2 (May-July)"
### Translations
- [x] Sustainable Authorship in Plain Text using Pandoc and Markdown (Marie-Christine) (remaining from #1642)
- [ ] Downloading Multiple Records Using Query Strings (Sofia)
- [ ] Code Reuse and Modularity in Python (FDL)
- [x] Counting Word Frequencies with Python (FDL)
- [x] Downloading Web Pages with Python (FDL)

### Translation editions
- [ ] ~~Analyse de documents avec TF-IDF

[2020-05-04 22:33] spapastamkou commented on #1702
@jenniferisasi If you need input or help from the @programminghistorian/french-team, let us know.

[2020-05-04 22:34] spapastamkou commented on #1744
I think we've nothing more here, so we are ok.

[2020-05-04 22:34] #1744 closed, assigned to spapastamkou

[2020-05-04 23:52] jenniferisasi commented on #1702
Thanks @spapastamkou if any one of you @programminghistorian/french-team have 5 mins to check the French versions, I’d appreciate it just to make sure I didn’t put something terrible in there. And please feel free to add something similar in French that you think would benefit you.

[2020-05-05 06:56] acrymble commented on #1691
I've shifted this to the wiki under funding opportunities (https://github.com/programminghistorian/jekyll/wiki/Funding-Opportunities). I may be able to return to it in future, but I don't think we're currently in a place where I can do this or that we're ready for it, in the next few months.

[2020-05-05 06:56] #1691 closed, assigned to acrymble

[2020-05-05 07:30] acrymble commented on #1690
This has been submitted. Thanks for the input.

[2020-05-05 07:30] #1690 closed, assigned to acrymble

[2020-05-05 07:34] spapastamkou commented on #1642
This ticket will be closed by May 8, new ticket no #1762. Some unfinished tasks are transferred in the new ticket, some are being clarified.

[2020-05-05 07:42] spapastamkou opened #1763 "Ombudsperson (FR)"
During recent exchanges in the @programminghistorian/french-team several names were submitted for discussion to assign an external ombudsperson. The discussion is open by email.

[2020-05-05 07:43] spapastamkou commented on #1763
This ticket will close through a pull request once we have a new ombudsperson.

[2020-05-05 14:12] fdlaramee commented on #1702
@jenniferisasi Sure, I can look it over; can you give me a link to the document please?

[2020-05-05 17:23] jenniferisasi commented on #1702
Merci @fdlaramee, it's [the same one](https://docs.google.com/spreadsheets/d/1o-C-3WwfcEYWipIFb112tkuM-XOI8pVVpA9_sag9Ph8/edit#gid=1625380994) where we already put tweets on lesson, on a new Communications tab.

[2020-05-05 22:36] mariajoafana commented on #1018
This ticket has been open for a while now, are there any pending actions here? The full-text search using listjs ticket is closed, can be close this one too?

[2020-05-05 22:41] mdlincoln commented on #1018
The active PR is #1726 this issue is very much active

[2020-05-05 22:45] mariajoafana commented on #1684
Have you heard from them @mdlincoln ?

[2020-05-05 22:49] mariajoafana commented on #1525
Passing by to see what is the status of this and if you need any support to complete this task

[2020-05-05 22:51] mdlincoln commented on #1684
on May 3 2020:

Annette is chasing up with Crossref as we are still waiting for the new DOI range. Once received we will first need to create DOIs for the journals followed by a test run before adding DOIs to the 3 journal article xml files... will keep you posted

[2020-05-05 22:55] mariajoafana commented on #1571
Looking forward to seeing the results of this experiment

[2020-05-05 22:58] mariajoafana commented on #1633
Yes please, keep us posted

[2020-05-05 23:33] mariajoafana commented on #1635
Revisiting this abandoned ticket. I contacted Riva to rethink the path to follow on this. Following @acrymble advise to the French Team [here](https://github.com/programminghistorian/jekyll/issues/1636#issuecomment-621674930) we could break the work into the three sections and assign different people to translate and adapt, and then have two people review and publish the whole thing. These are the

[2020-05-06 07:31] acrymble commented on #1756
I've renamed this ticket to be about 'identifying causes' rather than 'clearing' these tickets. This lets us better understand the sticking points and possible solutions, whether that's forgetting to close a ticket, or having too much one one's plate.

[2020-05-06 07:41] acrymble commented on #1658
@drjwbaker can you please help me understand why you've removed the project management label from this? I have renamed it from "very old" to "3 months+" to recognize that my phraseology was perhaps poorly thought out. But from the perspective of someone whose role is to identify areas of the project in need of additional support, this feels passive aggressive (which I'm sure you don't intend it to

[2020-05-06 08:13] drjwbaker commented on #1658
"3 months+" is much better. Thanks. "Very old" just made it seem like we weren't working on it, which we are.

[2020-05-06 08:17] drjwbaker commented on #1684
To add, with no slight on my colleagues at Sussex, I don't expect this will come together super quick. They have a lot on, I suspect this isn't top priority, and CrossREF is a large infrastructure that - we can assume - is working below capacity right now.

[2020-05-06 08:27] drjwbaker commented on #1658
I should add. No harm meant. Sincere apology if it was caused.

[2020-05-06 09:42] acrymble opened #1766 "UK Gov't support available"
As ProgHist Ltd is based in England (legally), we're eligible for some of the UK's support schemes related to covid19. There is a very easy questionnaire available on https://www.gov.uk/business-coronavirus-support-finder that helps you determine what schemes your business is eligible for.

In our case, we are eligible for the government backed loans of up to £100k. I open this as information, pri

[2020-05-06 09:51] drjwbaker commented on #1766
Thanks for raising this @acrymble. I'm very nervous about taking out a loan without a clear purpose (and plan to pay it back!)

[2020-05-06 14:47] fdlaramee commented on #1702
@jenniferisasi I had never seen that google spreadsheet before; above my pay grade! 😀

I tweaked a few things; nothing major.

[2020-05-06 15:27] jenniferisasi commented on #1702
Oh @fdlaramee that is probably just because now only the ME does the lesson publishing, so you probably never had to enter tweets. But all of us have access to it.

Merci for the changes

[2020-05-06 16:18] amsichani opened #1767 "Lessons' banners layout - review and implementation"
This ticket aims to group together and address a number of interrelated issues #1751 #1738 https://github.com/programminghistorian/jekyll/issues/1525 https://github.com/programminghistorian/jekyll/pull/1749 regarding the visual layout of the banners in the landing page of a lesson, mainly from a user experience point of view.

Let me first address a couple of theoretical concerns (which also have

[2020-05-06 16:27] amsichani commented on #1751
thanks for these comments @mdlincoln . I will now close this ticket as the information and discussion is now on https://github.com/programminghistorian/jekyll/issues/1767

[2020-05-06 16:27] #1751 closed, assigned to amsichani

[2020-05-06 16:28] amsichani commented on #1738
I will now close this as the information and discussion is now on https://github.com/programminghistorian/jekyll/issues/1767

[2020-05-06 16:28] #1738 closed, assigned to jenniferisasi, amsichani

[2020-05-06 21:12] mdlincoln commented on #1767
Relevant to your larger goals about de-prioritizing the original->translation question: how is this impacting displaying the original author, translator, etc. as well as publication date vs. translation date?

<img width="935" alt="Screen Shot 2020-05-06 at 5 07 23 PM" src="https://user-images.githubusercontent.com/4392604/81228489-23795800-8fbc-11ea-92cb-b20394ec7961.png">

I actually do think it

[2020-05-06 22:34] jenniferisasi commented on #1767
Like @amsichani pointed out, the de-prioritization will occur only in the landing page *in a banner* and not at large, for that would devalue the labor of the original author, which is not our intention at all. In principle, the metadata shown on the image doesn't change. In there, we indicate that the lesson they are seeing is a translation with all the tags that say 'translated/translation', the

[2020-05-07 18:49] mdlincoln commented on #1767
sure, or

[code]

to keep the very tight display

[2020-05-07 18:49] mdlincoln commented on #1767
yeah, because that's the metadata for the particular page you're viewing

[2020-05-08 20:49] #1642 closed, assigned to grandjeanmartin, mariechristineb, spapastamkou, fdlaramee

[2020-05-10 13:53] ElectronGM opened #1768 "Python lesson sequence and urllib.request output bug"
Reporting a problem with a lesson, please try to provide us with the following information:

- The full title of the lesson: ...\python-lessons9\html-to-pretty-print.py
- The system you are using (Mac, Linux, Windows): Windows
- Version numbers of the relevant software you are using: Python 3.8.2150.0 (64bit)
- The exact steps you took that caused the problem: For Lesson 9, I did the exercise from

[2020-05-12 08:57] acrymble commented on #1370
In order to conclude this (very complicated and complex series of recommendations) in this ticket, I propose we categorise the outstanding items into:

- Wont do
- Can't afford to do without funding
- Will do

I propose the following breakdown of those (but welcome in put from anyone interested):

### Won't Do

- The journal/platform must provide, on its website, a detailed description of its edit

[2020-05-12 09:04] drjwbaker commented on #1370
The EN edition is on the old Sherpa/Romeo via our DOAJ listing http://sherpa.ac.uk/romeo/search.php I suspect the email how caught in the shift of Sherpa/Romeo to a Jisc infrastructure (in beta, launches in July) https://v2.sherpa.ac.uk/romeo/search.html We have friends at Jisc, so can we try resending the request to help@jisc.ac.uk to get us listed (ideally, EN/FR/ES and PO) on the new service?

[2020-05-12 09:45] spapastamkou commented on #1762
Je m'assigne un seul suivi de traduction pour cette période, cela est plus réaliste selon mes disponibilités.

[2020-05-12 09:46] spapastamkou commented on #1762
@mariechristineb J'ai ajouté à ton nom un suivi de traduction au choix selon tes choix dans le Gdoc, pour avoir un repère, mais sens-toi libre de modifier comme tu le veux.

[2020-05-12 09:47] spapastamkou commented on #1763
1st e-mail sent.

[2020-05-12 09:52] spapastamkou commented on #1636
According to current disponibilities, some members of the @programminghistorian/french-team could work on this: if have to, in June / July; more easily towards August.

[2020-05-12 10:07] spapastamkou commented on #1762
@fdlaramee ce n'est pas un peu beaucoup? :-)

[2020-05-12 10:22] acrymble commented on #1636
@spapastamkou thanks for the update. It looks like this is not a key priority for the French team (perhaps because you are not yet writing French lessons). Would it be more helpful to have this as a service we could offer your publication, but not one you are obliged to take up right now?

You could then open a ticket to start this process when your team is actually ready for it?

[2020-05-12 11:02] fdlaramee commented on #1762
@spapastamkou bof, ce n’est pas comme si j’avais beaucoup d’alternatives pour occuper mes loisirs par les temps qui courent... mais bon, s’il y a quelques tâches qui débordent sur août ça ne fera pas mal.

[2020-05-12 14:33] mdlincoln commented on #1684
We've gotten _reserved_ DOIs back from Sussex (they're reserved but not yet active). I'm going to add them into our lesson files and set the doi to display with the citation info.

Will update once we hear back on whether CrossRef happily accepted our data

[2020-05-13 09:03] acrymble opened #1770 "Sabbatical Checklist for Sofia"
This ticket will help us track tasks related to @spapastamkou and her various roles while she takes a short sabbatical this summer.

The sabbatical will be from 27 June to 26 July 2020.
@spapastamkou holds the following roles:

- Managing Editor (French @programminghistorian/french-team please be aware)
- Technical Team (@mdlincoln please be aware)
- Global Team (@JMParr please be aware)
- ProgHis

[2020-05-13 13:47] mdlincoln commented on #1682
@drjwbaker following up - we need to store this documentation for editorial teams to consult when making decisions about handling lesson changes. I think adding it to the wiki makes sense? Could you put the text up on a page? (or remind me of the link to the doc you made so I can do it?)

[2020-05-13 13:55] drjwbaker commented on #1682
Thanks for the prod @mdlincoln :)

MEs: @spapastamkou @svmelton @rivaquiroga: where would you like the DOI policy (below) to go, given that it impact on editorial workflows for revising articles? Wiki?

-------

# The Programming Historian Digital Object Identifier Policy (April 2020)

1.	From May 2020, every article published by the Programming Historian will be assigned (or be in the process of

[2020-05-13 15:36] acrymble commented on #1753
I've drafted something that @jenniferisasi is currently taking a look at as we decide how best to disseminate.

I'm not really able to provide any guidance on finding peer reviewers for translations, or finding translators. I wonder if anyone on the @programminghistorian/french-team or @programminghistorian/spanish-team might be interested in sharing that knowledge? I'm happy to work with someone

[2020-05-13 20:18] mdlincoln commented on #1684
🎺

Our DOIs are now live!

They're listed in the suggested citation section of lessons at the bottom of e.g. https://programminghistorian.org/en/lessons/working-with-batches-of-pdf-files

And you'll see that DOI now resolves back to PH! We'll be double checking the linked metadata as it propagates out from crossref, but the back catalog should be uploaded now.

I'll follow up with Sussex for our f

[2020-05-13 20:57] jenniferisasi commented on #1684
Sorry to be informal but this deserves this gif right here:

![msy](https://user-images.githubusercontent.com/11022533/81864559-cd1b9480-953a-11ea-9227-db6172c34bed.gif)

[2020-05-13 23:10] mariajoafana commented on #1635
I just started the translation and adaptation file in progress [here](https://github.com/programminghistorian/jekyll/pull/1771)

[2020-05-13 23:33] fdlaramee commented on #1753
@acrymble I'm terrible at asking for favors, which is what recruiting peer reviewers feels like to me, so I can't help you with good strategies. What I can tell you, however, is that finding peer reviewers for translations has been especially hard because there is no reward system for this sort of thing within academia. Peer reviewing an original tutorial *may* justify a CV line, but a translation

[2020-05-14 07:38] arojascastro commented on #1684
Thank you @mdlincoln and great job!

[2020-05-14 08:50] drjwbaker commented on #1684
@walshbr (you still run the Twitter bot, right?): just a thought, should we move the bot to using DOIs? e.g. https://doi.org/10.46430/phen0088 rather than https://programminghistorian.org/en/lessons/working-with-batches-of-pdf-files. If we want to, we should open a fresh ticket.

[2020-05-14 10:02] acrymble commented on #1753
Thanks @fdlaramee that is a challenge. Would you find it valuable to have some advice or resources to make that process easier? Or perhaps to help try to bring the 'success rate' up on requests turning into actual reviews?

[2020-05-14 10:04] fdlaramee commented on #1753
@acrymble Yes, very much so.

[2020-05-14 10:27] acrymble commented on #1753
@fdlaramee if you're free for a call sometime soon it would be great to talk through a little bit so I can think about what best to put together. If you're too busy that's ok, but I'd like to make something useful so input very welcome.

[2020-05-14 12:14] walshbr opened #1773 "Update Twitter bot to use DOIs for lessons"
^^

[2020-05-14 12:14] walshbr commented on #1684
Yay! This is exciting.

And oof at the thought of editing all those spreadsheet rows 😄.  I opened a ticket - that is a thing we should do.

[2020-05-14 12:17] spapastamkou commented on #1743
I am not sure this can go further than that for the moment. If someone thinks otherwise, please reopen this ticket.

[2020-05-14 12:17] #1743 closed, assigned to spapastamkou

[2020-05-14 13:15] mdlincoln commented on #1770
@spapastamkou I'd prefer to simply close #1571 at this point if you are going to go on sabbatical. You could move it to the old feature request backlog here: https://github.com/programminghistorian/jekyll/wiki/Technical-Team but I don't want "active" tickets hanging open for months when there is not a lot of interest to pursue it

[2020-05-14 13:58] spapastamkou commented on #1721
And for authoring a lesson, on the basis of a work of some 3 weeks for a lesson [as estimated here](https://github.com/programminghistorian/jekyll/issues/1659#issuecomment-613527454 ) in #1659, the estimated cost is some 1 500 € (calculated on the basis of a post-doctoral researcher salary).

[2020-05-14 13:58] #1721 closed, assigned to spapastamkou

[2020-05-14 14:00] acrymble commented on #1770
@spapastamkou just to be clear you are not obliged to close or finish all of these open tickets. These just help us manage them or re-assign them while you are away.

[2020-05-14 15:26] spapastamkou commented on #1770
@mdlincoln This work is combined with [the translation](https://github.com/programminghistorian/ph-submissions/issues/292) I should normally finish by the beginning of July and is part of my [current planning](https://github.com/programminghistorian/jekyll/issues/1762).

[2020-05-14 15:37] spapastamkou commented on #1770
All checked translation proposals are ready and in the repository: we leave the tickets open until one editor is ready to take them so that we do not forget them. One of them is in my planning foe edition. The last lesson is ready for the pull request but open until 25 May in case there were comments by the reviewers and translator.

[2020-05-14 15:45] mdlincoln commented on #1684
I have written up the workflow for managing editors to request new DOIs from Sussex, complete with email templates: https://github.com/programminghistorian/jekyll/wiki/How-to-Request-a-new-DOI

@rivaquiroga will be testing this out and we'll update it as we try out this first pass

[2020-05-14 15:46] mdlincoln commented on #1684
I have also written a blog post draft at #1775 announcing this new partnership - @programminghistorian/communication-team please take a look :)

[2020-05-14 16:09] spapastamkou commented on #1684
@mdlincoln @rivaquiroga @svmelton We should probably update the editor guidelines (and the Managing Editors list) to add this info on the workflow and insert a link to the wiki

[2020-05-14 16:29] drjwbaker commented on #1684
@spapastamkou @rivaquiroga @svmelton And this relates to https://github.com/programminghistorian/jekyll/issues/1682#issuecomment-628003633 (in short, policy on updating articles in light of them having DOIs). I suspect the two issues need to be dealt with together.

[2020-05-14 16:32] jenniferisasi commented on #1684
As we agreed not to do further changes to those pages while de PT team is translating the core pages and, at the same time, this is a change that needs to be made pointing to [this wiki](https://github.com/programminghistorian/jekyll/wiki/How-to-Request-a-new-DOI), I suggest you communicate with @JoshuaGOB on where the PT teams stands and maybe wait.

[2020-05-14 16:39] acrymble commented on #1684
@jenniferisasi just to be clear, we haven't agreed not to do further changes to pages while the PT team is translating them. We've asked the PT to do the following:

This was sent to them in late March 2020 and I haven't heard any more, so from our perspective (unless @JoshuaGOB can tell us otherwise) there are no freezes currently in place.

[2020-05-14 18:03] fdlaramee commented on #1753
@acrymble Certainly; tomorrow (Friday) or next Tuesday, at your convenience. I'm on Eastern time, which is UTC-4 at the moment.

[2020-05-14 18:24] spapastamkou commented on #1659
I post here a document with a budget summary for two options. Both ask for funding for translations and (option 1) a workshop in Dakar, Senegal in 2021 OR (option 2) hiring and paying authors for 5 lessons on areas that would be of special interest for African countries.

Option 1 was the original idea, option 2 came up after the Covid19 crisis and its impact on international events. I assembled b

[2020-05-15 07:36] spapastamkou commented on #1636
I think it could be simpler to agree that it is a team responsibility, rather than externalize so that we fix a timeline. At least 2 members (me and @fdlaramee) can work on it this summer, so if we schedule to have it ready by August, we can open a ticket after my sabbatical? Or directly a pull request based on this ticket (reopened for the purpose).

[2020-05-15 09:07] spapastamkou commented on #1753
Perhaps it is already the case, but it is important to distinguish between review of an original lesson and review of a translation.
I only have one experience of organizing a peer review for an original lesson of the PH (and 1-2 for a conference); the key elements were:
- knowing the field so to easily identify experts;
- trust fellow editors advice
- mix reviewers of different disciplines/profes

[2020-05-15 11:14] acrymble commented on #1766
I hope everyone has had a chance to see this now, so I will close it. And I fully agree with @drjwbaker .

[2020-05-15 11:14] #1766 closed, assigned to acrymble

[2020-05-15 11:16] acrymble commented on #1636
Sure @spapastamkou I will make a note for the ProgHist board that the French Team will contact us if and when they have something ready. Should we close the ticket in the meantime? It might relieve some mental pressure to take this off the agenda if it can't be worked on now.

[2020-05-15 13:46] walshbr commented on #1773
While working on this, @jenniferisasi I noticed that there is a tweet on the ES spreadsheet for the twitter bot to a blog post - https://programminghistorian.org/posts/convocatoria-de-tutoriales. Row 15 of that tab. My Spanish is very rusty, but to my reading it looks like you might want to move that to the new communications tab?

[2020-05-15 14:03] walshbr commented on #1773
The spreadsheet is all updated. So @jenniferisasi once you respond to / act on that question above this can be closed.

[2020-05-15 14:13] drjwbaker commented on #1773
Heroic effort getting that done so quick @walshbr!

[2020-05-15 14:56] rivaquiroga commented on #1684
:heavy_check_mark: workflow tested

The new lesson has it's DOI: https://doi.org/10.46430/phes0046
@mdlincoln instructions are super clear, and the process is faster than I expected.

[2020-05-15 14:58] walshbr commented on #1702
@jenniferisasi I set this up this morning. Keep an eye in the next week and lmk if anything looks amiss. I'll do the same.

[2020-05-15 14:58] mdlincoln commented on #1684
Excellent! I think the worst problems will just be any time difference between UK and the requesting editor :) This is great.

[2020-05-15 15:02] #1684 closed, assigned to mdlincoln

[2020-05-15 15:09] drjwbaker commented on #1682
Further to closing https://github.com/programminghistorian/jekyll/issues/1684#issuecomment-629280389 MEs (@spapastamkou @svmelton @rivaquiroga) I need to know where you want the policy on minor vs major changes (above). Wiki? Once I have your agreement, I'll do the work, and close the issue.

[2020-05-15 15:13] rivaquiroga commented on #1682
I think the Wiki is the best place

[2020-05-15 15:15] rivaquiroga opened #1776 "Update Editor Guidelines: DOI workflow"
As discussed in https://github.com/programminghistorian/jekyll/issues/1684, Editor Guidelines should be updated to include the DOI request workflow.
This will only affect the ME checklist section.

@spapastamkou, @svmelton, I will write a draft, and reach you back for your review

[2020-05-15 15:17] drjwbaker commented on #1659
Agree anything with travel is too risk to plan right now.

Can this be tied in with/via contacts in Senegal? As in, fostering contributions towards FR-first articles from the Global South is still important to us in a post-covid world. That said, I appreciate that potential partners in Francophone Africa may have other priorities, and their priorities should drive our outreach work.

[2020-05-15 15:18] drjwbaker commented on #1682
Okay. I'll get in on there for now, and - unless I hear otherwise - close this issue sometime next week.

[2020-05-15 15:21] walshbr commented on #1776
I might also change the text of the preceding Twitter bot section of the guidelines from

"link (column C) - the link to the lesson."

to

"link (column C) - the DOI for the lesson."

since we're now using the DOI's in the bot.

[2020-05-15 15:22] JMParr commented on #1659
I'm inclined to agree with you and James about travel. And a number of
African countries understandably don't want visitors right now anyway. We
also don't know when things will be safe for international travel again..
Option 2 is probably going to be our best bet, as long as we can work out
the logistics.

On Fri, May 15, 2020 at 11:17 AM James Baker <notifications@github.com>
wrote:

[2020-05-15 15:39] jenniferisasi commented on #1684
Thanks for clarifying the actual plan/wording @acrymble. It makes more sense that way that what I had in mind for sure.

[2020-05-15 15:56] jenniferisasi commented on #1773
Done! We can close.

[2020-05-15 15:56] #1773 closed, assigned to walshbr

[2020-05-15 16:16] drjwbaker commented on #1682
Policy up at https://github.com/programminghistorian/jekyll/wiki/The-Programming-Historian-Digital-Object-Identifier-Policy-(April-2020)

In short MEs: changes to articles may now require the creation of a new .md file with a new DOI, as we can make major changes to an article that has a DOI. Though you still have the power to decide what to do if/when a change to an article is suggested.

[2020-05-16 18:12] svmelton commented on #1768
Thank you, @ElectronGM! Is anyone from @programminghistorian/technical-team and/or @programminghistorian/english-team available to take a look at this? I'm wondering if it's python3 related. (I just received a similar note about a different lesson in my personal email.)

[2020-05-17 13:24] walshbr commented on #1768
@ElectronGM what is the url for the lesson you're trying to follow?

[2020-05-17 14:08] ElectronGM commented on #1768
The lessons are provided from
https://programminghistorian.org/en/lessons/introduction-and-installation.
<https://programminghistorian.org/en/lessons/introduction-and-installation>

In Lesson 9 a file will be offered for download as zip on page
https://programminghistorian.org/en/lessons/output-keywords-in-context-in-html-file

Greetings - ElectronGM

Am 17.05.2020 um 15:24 schrieb Brandon Walsh:

[2020-05-18 08:44] acrymble commented on #1636
Just a note that I've recorded this on the Wiki on a new page for keeping track of these types of services. So we won't forget about it. https://github.com/programminghistorian/jekyll/wiki/ProgHist-services-to-Publications

[2020-05-18 08:49] drjwbaker commented on #1636
This is a useful summary Adam. Without sidetracking this issue, note that we'll need to think about the distinction between this wiki page and the [Service Integrations](https://github.com/programminghistorian/jekyll/wiki/Service-Integrations) page. E.g., the fact that the Ltd pays for use of Netlify beyond the free plan (as a Service to the Publications) is currently listed on the latter page, an

[2020-05-18 13:29] walshbr commented on #1702
Working!

[2020-05-18 13:29] #1702 closed, assigned to jenniferisasi

[2020-05-18 13:47] walshbr commented on #1768
Thanks for sharing @ElectronGM -

As @svmelton suggested, this lesson was recently updated to Python. It looks like the process was tested thoroughly for that one section you're working with. The code expects that you'll be working with a string, but the requests .read() function returns a bytes object I believe. You should be able to get it working by adding a single line to the stripTags functio

[2020-05-18 14:56] drjwbaker commented on #1694
@rivaquiroga @spapastamkou @acrymble @amsichani @svmelton: we have external folks coming to this (IPP representatives), so we can't use of old familiar Skype channel for this meeting. Any objections to me setting this up as a Zoom call? (Sussex have an institutional subscription, so we don't need to worry about timeouts)

[2020-05-18 15:07] svmelton commented on #1694
Zoom works for me!

[2020-05-18 15:23] rivaquiroga commented on #1694
I'm sorry, but I can't make it this time.

[2020-05-18 15:38] spapastamkou commented on #1694
Zoom is ok.
Sofia

Le lun. 18 mai 2020 à 17:24, Riva Quiroga <notifications@github.com> a
écrit :

[2020-05-18 16:10] svmelton opened #1777 "Python lesson sequence and accessing files as binary"
I received a note from a reader who is having problems with this lesson and is using Windows. It appears to be the same error referenced in #1768. @walshbr would you be able to take a look at this, or would you rather I tag someone else in?
![screenshot](https://user-images.githubusercontent.com/7232545/82235160-5c8cc300-9900-11ea-9a75-1f5c9bc74585.png)

[2020-05-18 17:17] walshbr commented on #1777
Same error message as the other one, but a different context. I don't immediately know how to troubleshoot errors like these, and I don't have access to a Windows machine to help facilitate it. Could you check with someone else? Sorry!

[2020-05-18 17:31] svmelton commented on #1777
Would someone from @programminghistorian/technical-team be able to take a look at this?

[2020-05-18 17:43] jenniferisasi commented on #1777
I am afraid I don't know Python nor do I have a Windows machine with me.

[2020-05-18 18:09] acrymble commented on #1777
Sorry we obviously made mistakes when doing to 2 to 3 migration #1460. @JoshuaGOB helped with the Windows files. Maybe he can advise?

[2020-05-19 00:02] JoshuaGOB opened #1778 "Onboarding Checklist for our first Portuguese language publication editor: Daniel"
This is an individual onboarding Managing Editor checklist for Daniel Alves (github username to come) initially found [here](https://github.com/programminghistorian/jekyll/wiki/Onboarding-Checklist-for-New-Editors). Bem-vindo, Daniel!

## Welcome

Welcome to the Programming Historian Editorial Board. We're very pleased to have you on our team. We know that joining a new project and getting up to s

[2020-05-19 00:15] JoshuaGOB commented on #1777
I think it's a matter of eliminating the binary option in open but I don't have a Windows computer to check this on right now. Will try to get access soon but if someone does try:
`f = open('helloworld.html','w')`

[2020-05-19 00:26] walshbr commented on #1777
FWIW - https://github.com/programminghistorian/jekyll/issues/1611 - the wb component was specifically added to address an error on Windows machines. So definitely would want to double check instances of it to make sure that taking it out doesn't re-introduce the other error.

[2020-05-19 12:59] drjwbaker commented on #1682
Closing now as I've not heard any dissent :)

[2020-05-19 12:59] #1682 closed, assigned to drjwbaker

[2020-05-19 14:49] drjwbaker opened #1779 "Commit direct to repo in error"
@programminghistorian/technical-team Can someone please revert this commit? https://github.com/programminghistorian/jekyll/commits/gh-pages/en/research.md Nothing wrong with it. I just hit the wrong button in error. And would rather do the process properly as it requires translation. Sorry!!

[2020-05-19 15:03] drjwbaker commented on #1489
Report now published:

[2020-05-19 15:52] walshbr commented on #1779
FWIW @drjwbaker I actually don't think I can commit directly to the repository to revert this…I'd have to commit a pull request

[2020-05-19 15:52] #1779 closed, assigned to drjwbaker

[2020-05-19 19:47] fdlaramee commented on #1762
@mariechristineb @grandjeanmartin Bonjour à vous deux Martin et Marie-Christine; pensez-vous être en mesure d'assurer une relecture de "Installation de Python sous Windows", traduite par @spapastamkou, pendant le trimestre en cours? Histoire de savoir si je dois recruter à l'externe pour cette tâche. Merci!

[2020-05-19 21:12] mariechristineb commented on #1762
@fdlaramee pas de problème de mon côté

[2020-05-20 14:05] amsichani commented on #1767
Sorry for the delay - I am now working on this together with https://github.com/programminghistorian/jekyll/issues/1525 and I am aiming to close the ticket in the next days.
Thanks @jenniferisasi @mdlincoln for your comments on this.
I think we have a consensus that the information about a lesson's history is to be kept in the metadata and in the header of the lesson and

and in any case we won't

[2020-05-20 16:09] amsichani commented on #1525
I am now working on this ticket and below is a list of tasks for me to do the next couple of days:

- [x] define the lessons' sequences -- currently two series of lessons , Python (15 EN lessons, 5 ES lessons, 2 FR lessons), GIS (4 EN lessons)
- [ ] manually add a bit of markdown to each lesson to mark the sequence:
-the initial proposed solution
[code]
 is not feasible for large lessons' series,

[2020-05-20 17:02] walshbr commented on #1525
The piece you propose after "alternatively we might have" seems like a good solution to me!

[2020-05-20 20:30] jenniferisasi commented on #1525
I agree with @walshbr!

[2020-05-21 13:05] amsichani opened #1782 "Sabbatical checklist for Anna-Maria"
I intend to go on a short sabbatical from July until October 2020.

I'll start gathering my checklist of outstanding tickets here and aim to close them up before I leave

I am currently holding the following roles:
Editor (@programminghistorian/english-team please be aware)
Technical Team (@programminghistorian/technical-team  please be aware)
Education manager (@programminghistorian/communication

[2020-05-21 16:39] mdlincoln commented on #1767
Great, look forward to seeing the PR

[2020-05-22 08:47] acrymble commented on #1723
@spapastamkou @svmelton @rivaquiroga to discuss workflow for translating original Spanish lessons into other languages (#1747)

- I believe you've started this conversation. Can we tick this off our list, or is this still something to-do?

[2020-05-22 12:10] rivaquiroga commented on #1723
Yes!

[2020-05-22 13:12] #1723 closed, assigned to acrymble, mariajoafana

[2020-05-22 16:34] drjwbaker commented on #1658
@jenniferisasi I think we can close this as you've done the first comms round. Please reopen if you feel it should be reopened!

[2020-05-22 16:34] #1658 closed, assigned to jenniferisasi

[2020-05-22 16:43] drjwbaker commented on #1729
# Project Development Team Report

By: @drjwbaker
Date: 22 May 2020

Substantive Actions Completed Since Previous Report:

- Impact Report Published https://github.com/programminghistorian/jekyll/issues/1489
- Institutional Partner Programme: worked on comms mailout with @jenniferisasi  https://github.com/programminghistorian/jekyll/issues/1658
- Implemented private repo for Ltd/Project we don't w

[2020-05-23 07:26] acrymble commented on #1671
@drjwbaker is there anything here you need help with in order to action this ticket? Or is the scope of the ticket actionable?

[2020-05-23 07:28] acrymble commented on #1370
Good idea @drjwbaker.

On the won't do's, I'm going to action this via a blog post explaining why we can't meet the plan S requirements, and use it as a conversation starter within the wider community. Then I think we can close this for now (pending the appearance of additional financial support to help implement the rest).

[2020-05-23 10:18] acrymble commented on #1694
Here is a copy of the Chair's Report, which I'll speak to in the meeting.
[ProgHist Ltd Chairs Report 2020.pdf](https://github.com/programminghistorian/jekyll/files/4671539/ProgHist.Ltd.Chairs.Report.2020.pdf)

[2020-05-23 10:49] acrymble commented on #1729
ProgHist Ltd Report

By: @acrymble
Date: 23 May 2020

### Substantive Actions Completed Since Previous Report:

- AGM later this week #1694 (including Chair's report posted on ticket)
- Copyediting in English system is fully functional.
- 4 of 7 goals in 2020 business plan are complete. 1 more has seen substantial progress.

### Substantive Actions Remaining Open Since Previous Report (and not on

[2020-05-24 12:53] ElectronGM commented on #1768
Thanks for the answer. In the past few days, I have spent many hours
reviewing the proposed solution and translating it into my hand-made
solution.

First in the ZIP program: the program now runs.

In my solution there is this new error message:

Traceback (most recent call last):
   File "html-to-pretty-print.py", line 14, in <module>
     worddict += obo.nGramsToKWICDict(ngrams)
TypeError: 'int'

[2020-05-24 13:27] acrymble commented on #1768
@ElectronGM I appreciate your frustration. Learning a new way of thinking and communicating is at times a frustrating experience. It certainly was for me.

You seem to be having trouble isolating the cause of your error messages. If you are hoping to continue building your python skills, it would be worth spending some time on StackOverflow (https://stackoverflow.com/) searching for tips on how to

[2020-05-25 16:33] arojascastro commented on #1694
Thank you, Adam! This report is very useful and has allowed me to understand some recent changes.

[2020-05-25 20:51] rivaquiroga commented on #1729
## Spanish Team Report

By: @rivaquiroga
Date: 25 May 2020

Substantive Actions Completed Since Previous Report:

- Two original lessons published ([ImagePlot](https://programminghistorian.org/es/lecciones/introduccion-a-imageplot-y-la-visualizacion-de-metadatos) & [Omeka Classic](https://programminghistorian.org/es/lecciones/construir-repositorio-de-fuentes)). The DOI request workflow was tested

[2020-05-25 21:36] jenniferisasi commented on #1729
# Communications Team Report

By: @jenniferisasi
Date: 25 May 2020

Substantive Actions Completed Since Previous Report:
- Sent 10 IPP proposal emails (no response)
- Developed plan for #1767 with @amsichani
- Created promotional tweets in EN/ES/FR that go out Mondays and Wednesdays
- Also within Teach Team, completed #1698

Substantive Actions Remaining Open Since Previous Report:

- Implement pl

[2020-05-26 08:01] drjwbaker commented on #1370
Whose "job" do you think it is to do this?

[2020-05-26 08:06] drjwbaker commented on #1671
@acrymble I think we established since I originally posted this, that we have time. On the other actions listed above my thoughts are:

This is starting to clarify as the Ltd runs (I note your item on team structure in https://github.com/programminghistorian/jekyll/issues/1729). Perhaps we can take some time to consolidate this in the early-Autumn?

Perhaps Ltd could start this at our next Directo

[2020-05-26 08:36] spapastamkou commented on #1770
I add here the ticket #1776: Update Editor Guidelines (doi related).

[2020-05-26 08:45] acrymble commented on #1370
I dont' know, but I can do it. I will start a new ticket though because it's a new issue.

[2020-05-26 08:49] spapastamkou commented on #1763
e-mail resent.

[2020-05-26 08:53] acrymble commented on #1763
If you have to resend the email that might be a sign that the person won’t be responsive enough when you need them. Keep in mind the purpose of the role is to diffuse tension.

[2020-05-26 08:57] drjwbaker commented on #1694
Details of the Zoom call have been sent to all attendees. If you don't have the email, please let me know.

[2020-05-26 10:25] spapastamkou commented on #1729
# FR Editorial Team Report

By: @spapastamkou
Date: 2020-05-26

---

Actions Completed Since Previous Report:
*2 translated lessons published:*
- Manipuler des chaînes de caractères en Python
- Débuter avec Markdown

*1 in pull request status:*

- Introduction aux bots Twitter

Translations

*Accomplished proposals ready for review*
- Installer un environnement de développement pour Python (Window

[2020-05-26 10:28] drjwbaker commented on #1694
On item 4., find attached my Financial Planning summary: [2020-05_ProgHistLTD-financial-planning.pdf](https://github.com/programminghistorian/jekyll/files/4695532/2020-05_ProgHistLTD-financial-planning.pdf)

Note: this document was updated 28/05/2020

[2020-05-26 10:33] JMParr commented on #1694
I am planning to be on the call, but will likely have to be without video/mainly listening in because another member of the household is going to be on a call.

[2020-05-26 11:38] drjwbaker commented on #1694
On item 3., I will attach the Treasurer's report to the call chat at the start of the meeting.

[2020-05-26 11:41] drjwbaker commented on #1370
Thanks Adam.

[2020-05-26 11:57] mariajoafana commented on #1756
All tickets seem to be moving along, I'll recheck today after our meeting

[2020-05-26 12:17] mdlincoln commented on #1778
@JoshuaGOB please remind Daniel to create a github account and let us know the name so we can start to follow through on all these tasks

[2020-05-26 12:21] mdlincoln commented on #1729
# Technical Team Report

By: @mdlincoln
Date: 26 May 2020

Substantive Actions Completed Since Previous Report:

- DOI workflow tested and implemented, DOIs published for entire back-catalog and sucessfully created for new lesson
- Full-text search nearly complete. Waiting on translation of final snippet from @programminghistorian/french-team

Substantive Actions Remaining Open Since Previous Repo

[2020-05-26 12:48] JoshuaGOB commented on #1729
Hello all, I won't be able to make it to today's meeting but I wanted to report the progress so far with the Portuguese language publication.

Substantive items completed since last meeting:

- Daniel, the ME, began his shadowing practice with @rivaquiroga two weeks ago. (Thank you Riva)
- The four editors have been shadowing @amsichani for about a month now. (Thank you for taking this on Anna-Mar

[2020-05-26 13:13] mdlincoln opened #1787 "Technical Team June Meeting - 18 June 2020"
18 June 2020 - 10am Eastern Time

## Agenda

- [x] discuss tech team leadership transition re #1761
- [x] #1767 is closed! Thanks @amsichani for the PR and @walshbr for reviewing, and @jenniferisasi for design discussion
- [x] Still waiting on a new PR for #1525 by @amsichani @jenniferisasi (waiting on PR for these - if you need help, please ask for it before meeting. I'd like these to be resolved

[2020-05-26 13:41] rivaquiroga commented on #1776
@spapastamkou, @svmelton, here is a proposal for the new step of the checklist. The three main points are: 1) be sure that everything is ok before requesting the DOI, 2) link to the stepts for requesting the DOI on the wiki,  3) how long this part of the process might take.
First I thought this should number 5 in our checklist, but now I realized that without the DOI the builds fails, so maybe is

[2020-05-26 13:49] mdlincoln commented on #1776
Just a note that you can request the DOI early in the PR review process - Sussex only needs to know which publication is making a new lesson, they don't need the finalized metadata at that stage - it's only after you merge the PR that you email them to say the new lesson is published and then activated. That way you can put in the DOI early on and attend to other errors like broken links.

However

[2020-05-26 13:53] svmelton commented on #1729
# English Team Report
***
By @svmelton
Date 26 May 2020

Substantive Actions and Updates Since Previous Report:
* Publication of [Understanding and Using Common Similarity Measures for Text Analysis](https://programminghistorian.org/en/lessons/common-similarity-measures)
* [1 lesson](https://github.com/programminghistorian/ph-submissions/issues/278) just returned from copyediting
* 1 lesson awaiti

[2020-05-26 14:15] drjwbaker commented on #1704
@acrymble Re your comments in the call, the spirit of the agreement was to clarify the 'services' the Ltd provides to the project, and the responsibilities of the project in turn. I agree that what we have can't be signed by the Ltd. But it strikes me that by moving some of what we have from Ltd responsibility to Publication Team responsibility, or editing the Ltd responsibility, we get a useful d

[2020-05-26 14:16] drjwbaker commented on #1704
@acrymble: if you want, I can take a stab at this (with suggested edits).

[2020-05-26 14:37] drjwbaker commented on #1787
Further to the conversation at https://github.com/programminghistorian/jekyll/issues/1729 if the @programminghistorian/technical-team is focused on maintaining infrastructure (which I think you should be), I'd like to see the Tech Team periodically audit the health of the tech on which our publications rely (e.g. are they still maintained tech, is there a big upgrade coming that we need to be atte

[2020-05-26 14:41] drjwbaker commented on #1636
Aiming for after the summer (per @spapastamkou comment at https://github.com/programminghistorian/jekyll/issues/1729)

[2020-05-26 14:53] JMParr commented on #1694
Sorry, all. Having trouble with my connect. I'll read the minutes when
they're posted.

On Tue, May 26, 2020 at 7:39 AM James Baker <notifications@github.com>
wrote:

[2020-05-26 15:03] drjwbaker commented on #1729
Just a note for next time, given the limited time available I'm happy for the Dev Team report to come last because a) reports from the publications are more important and b) we are more likely to have tickets for discussion at the meeting than the other teams.

[2020-05-26 15:08] drjwbaker commented on #1729
@mariajoafana On the point Sofia raised regarding ~"if language teams should/can have members that aren't 'full' editors", as mentioned in the call chat by @jenniferisasi this relates to https://github.com/programminghistorian/jekyll/issues/1489 so I can open a new ticket on this. Give me a day or two to find some time :)

[2020-05-26 15:18] mariajoafana commented on #1729
Great @drjwbaker thanks!

[2020-05-26 15:28] walshbr commented on #1768
I might wait to try to work through the remaining lessons until we're able to adequately patch all the things ourselves. I copied the code you shared into my own version of the lessons that I put together as I was assembling this patch, and everything ran fine for me. I think @acrymble is right in this case, and I would double check the code in obo.py in particular, since that was the piece I didn

[2020-05-26 15:31] walshbr commented on #1768
Just a note that I've renamed this ticket to reflect the particular bug that was initially reported. It overlaps with #1777

[2020-05-26 15:32] mariajoafana opened #1788 "July 28 2020 Skype Call - Project Team Agenda"
July 28 2020 , Time is 9:00 AM - Mexico, Colombia; 10:00 AM - Ottawa, Philadelphia, Boston; 10:00 AM Chile; 3:00 PM - London; 4:00 PM - Paris and Berlin. @mariajoafana will be facilitating the call.

Working agenda in progress. The time and day will be scheduled within the next couple of weeks. Please add by commenting or editing this comment directly.

All team leaders please post a small report

[2020-05-26 15:33] walshbr commented on #1777
Just a note that I've renamed this ticket to reflect the particular bug that was initially reported. It overlaps with #1777 as part of larger debugging needed for the python lesson sequence.

[2020-05-26 15:56] acrymble commented on #1704
My understanding of the agreement was to clarify for publications what the 'publisher' provides and what it expects in return. The publisher is only nominally ProgHist ltd. In practice it's the Project Team board.

I think the easiest way forward is just to have team leaders the signees, and maybe clarify that 'ProgHist ltd' is the shell that effectively holds ownership of everything to be used as

[2020-05-26 16:00] drjwbaker commented on #1704
Do we need agreements in writing between sub-teams? (which is more or less what you are proposing) I can see the rationale for one between a company (shell or otherwise) and a project. But between sub-teams feels like slight admin overkill?

[2020-05-26 16:03] acrymble commented on #1704
I can't sign what we've got at the moment because ProgHist doesn't have the ability to guarantee those services. So if you want to rewrite it we can open the discussion again.

Update: this doesn't actually need to be a signed document if it's just a memorandum of understanding between the subteams involved in providing services (the publisher / the project team) and the individual publications. W

[2020-05-26 16:07] acrymble opened #1789 "Actions Arising from May 2020 Project Team Meeting"
The following actions have arisen from the May 2020 Project Team Meeting

- [x] @mdlincoln to report to @acrymble in June 2020 who the Tech Lead (or equivalent) will be.
- [x] @acrymble to speak to colleagues with more than 2 roles about reducing workload
- [x] @mariajoafana  to follow up with owners of older tickets to identify avenues of support, and to follow up on the Wiki idea for saving tick

[2020-05-26 16:08] acrymble opened #1790 "Suggested ProgHist Ltd services for publications"
Arising from May 2020 Project Team Meeting:

Please use this ticket to share ideas on new services that ProgHist ltd could offer (particularly to publications) to make the team member's lives easier, increase the quality of work, and or help them better meet their mandate.

[2020-05-26 16:11] acrymble commented on #1718
A lot of work (particularly technical) has made this easier moving forward. However, we agreed at the May 2020 Project Team meeting that new publications are great for the project but require a huge effort across all teams. Agreed that the remit for new publications falls with the @programminghistorian/global-team but that all team leaders must sign off that their team can commit the necessary res

[2020-05-26 16:11] #1718 closed, assigned to acrymble

[2020-05-26 16:29] drjwbaker commented on #1704
I totally agree. There are some things the Ltd should be able to guarantee, not least as it has spending powers. Let me have a go at suggesting what there might be on the doc (I suggest you make a copy if you want to use it hsa the basis for the memo between teams).

[2020-05-26 16:42] walshbr commented on #1790
+1 for paying someone to help field bug reports that necessitate upgrades to lessons as technology changes. We've typically looped in the authors and then the editors of the lessons as they are the most familiar with the codebase (and then I think managing editors are next in line), so it would be slower for someone else to do that work. But it would be welcome relief for a problem that will only

[2020-05-26 16:49] drjwbaker commented on #1704
@acrymble I've gone through this and it is largely compatible with a Ltd <-> Publication agreement.

[2020-05-26 16:50] drjwbaker commented on #1790
We are thinking here of a specialist upgrades editor, right?

[2020-05-26 16:59] walshbr commented on #1790
Not sure what we'd call it, but that seems fine enough to me. Probably would still need work on our end to vet whether or not it's something quick vs something we'd want to send out for outside help.

[2020-05-26 17:56] #1018 closed, assigned to ZoeLeBlanc

[2020-05-27 12:12] drjwbaker opened #1791 "Working on the Programming Historian without being a "full" editor"
Yesterday in https://github.com/programminghistorian/jekyll/issues/1729 @spapastamkou asked ~"if language teams should/can have members that aren't 'full' editors, e.g. they only work on translation" https://github.com/programminghistorian/jekyll/issues/1729#issuecomment-634085380

This chimes with a theme of [Penny's research-led report](http://doi.org/10.5281/zenodo.3813763) on our work/structur

[2020-05-27 12:15] drjwbaker commented on #1789
Note, I also said I'd do this https://github.com/programminghistorian/jekyll/issues/1729#issuecomment-634085380 which I have done https://github.com/programminghistorian/jekyll/issues/1791

[2020-05-27 12:58] drjwbaker commented on #1790
@walshbr Okay. Can you take this to a @programminghistorian/technical-team meet to discuss?

[2020-05-27 13:00] acrymble commented on #1790
@walshbr I think he means bug fixing, which is editorial, not technical.

[2020-05-27 13:04] drjwbaker commented on #1790
sorry, I read that as tech for some reason. my bad.

[2020-05-27 14:28] acrymble commented on #1753
The first video is with the MEs for comment. If it proves ok we'll start sharing it. Thanks @fdlaramee I will be in touch in the coming weeks about the next one, once we sort this out.

[2020-05-27 14:59] mdlincoln commented on #1787
@spapastamkou are you able to join this meeting, or will you be on sabbatical already? If you can attend, please respond to the poll so we can schedule.

[2020-05-27 15:05] mdlincoln commented on #1525
I'm glad you have come to a solution for the formatting. I would like you to submit a PR for this before our mid-June tech team meeting. If you need help to meet that deadline, please ask for it frankly.

[2020-05-27 15:05] mdlincoln commented on #1767
I would like you to submit a PR for this before our mid-June tech team meeting. If you need help to meet that deadline, please ask now!

[2020-05-27 18:07] svmelton commented on #1790
Definitely +1 for big fixing and upgrades. One of the challenges is that our lessons cover so much ground (different programming languages, methodologies, etc.) that it can be difficult to find help within PH.

[2020-05-27 19:04] mdlincoln commented on #1790
I know I beat this drum constantly, but I'm going to keep doing it while I still work here.

Our retirement policy was very well thought out and is really meant for these occasions where we do not have the capacity to fix a lesson that is no longer usable. We should not hesitate to invoke it. It is not "unpublishing" or "retracting" a lesson - it is humbly acknowledging that technology changes and

[2020-05-28 10:22] acrymble commented on #1370
I've drafted a blog post for why we won't be implementing everything here. I'd welcome comments before I move it over to the blog and close this off.

---

### Why *Programming Historian* is not fully implementing Plan-S Recommendations

*Programming Historian* has been fully Open Access since day one. For a decade now our team has been publishing academic content and making it freely and widely a

[2020-05-28 10:28] acrymble opened #1794 "Sherpa/Romeo registration"
Offshoot of the Plan S implimentation #1370

    Registering the self-archiving policy of the venue in SHERPA/RoMEO. [We tried to reach out to this organization in October 2019 but were ignored -ac]

The EN edition is on the old Sherpa/Romeo via our DOAJ listing http://sherpa.ac.uk/romeo/search.php I suspect the email how caught in the shift of Sherpa/Romeo to a Jisc infrastructure (in beta, launc

[2020-05-28 10:30] acrymble commented on #1790
@mdlincoln this suggested 'bug fixer' could also be a 'bug accessor' who helps editorial teams make decisions on those. I think when a bug comes in it's still a burden for editors, so I can see why having someone to take that off their plate is helpful.

Other suggestions still welcome here. If we have lots to choose from that's a good thing.

[2020-05-28 13:23] mdlincoln commented on #1370
I don't necessarily disagree with the statements in the blog post, Adam.

But it reads very much as a policy statement / screed by the entire Programming Historian team, and that amounts to a significant policy decision that falls under our quorum guidelines, significant enough to make sure to email the listserv and make sure that there's general assent to publishing this.

[2020-05-28 13:48] acrymble commented on #1694
The previous meeting minutes are in the Business repo for those of you with access and need to approve them: https://github.com/programminghistorian/project-and-business-archive/blob/master/business/Board-of-Directors-Meetings/2020/02-2020/2020-02_ProgHistLtd-BoD.docx

[2020-05-28 15:08] amsichani commented on #1694
Hi all, I was waiting for a Skype call and I just realised that this meeting happened in zoom - sorry for any inconvenience caused. Waiting for the minutes now.

[2020-05-28 15:55] drjwbaker commented on #1694
Not to worry. I keep expecting a Teams call, only to realise it was Zoom, or WhatsApp, or BlueJeans, or Skype, or something else. Oh, the complexity of pandemic working :)

[2020-05-28 16:13] acrymble commented on #1694
So sorry @amsichani. We will revert to Skype for future meetings (except maybe next year's AGM). We will try to send out a reminder email the day of next time to avoid the confusion.

[2020-05-28 18:12] drjwbaker commented on #1694
[ProgHist Ltd 2020 AGM minutes](https://github.com/programminghistorian/project-and-business-archive/blob/master/business/AGMs/2020/2020_ProgHistLtd-AGM-minutes.pdf) are up. Please direct any corrections to me. The minutes and papers will be sent to IPP members for their records. Thanks all for attending!

[2020-05-28 18:12] #1694 closed, assigned to drjwbaker

[2020-05-28 18:44] walshbr opened #1795 "Preventing Build Errors on ph-submissions"
The broad proposed action here is that we rethink how we ask authors to upload materials to the ph-submissions repository or otherwise think through the editorial workflow slightly differently.

Ph-submissions has people push directly to it rather than make pull requests (presumably for ease of use by authors). But this means that if the site gets a build error the results are a little more hidden

[2020-05-28 18:59] jenniferisasi commented on #1795
I realized that we don't have a tag for "editors only" or similar so this might be missed by them. I am pinging @rivaquiroga @spapastamkou and @svmelton for a quick check as MEs. And maybe we need that tag.

[2020-05-28 19:49] walshbr commented on #1795
Good point and thanks!

[2020-05-28 20:47] rivaquiroga commented on #1795
This is a very good idea. And you are right, checking the logs is not on the editor guidelines. Actually, in case the rendered version of the page doesn't work, the propose solution is: "let Matthew Lincoln know, and he will try to diagnose it". This is something we editors should try to solve first.

[2020-05-28 21:05] jenniferisasi commented on #1795
Oh no, right, that "contact Matt" solution is NOT good at all. In theory, authors/translators should be using the templates with the YAML in place, etc. but...

[2020-05-28 21:08] walshbr commented on #1795
No wonder he's retiring!

[2020-05-28 21:25] mdlincoln commented on #1795
![](https://media.giphy.com/media/13jCHJXzAJjrDG/giphy.gif)

[2020-05-29 06:42] acrymble commented on #1791
This seems to be a query that only affects people working on Publications, no? We already have people who don't edit lessons anymore.

I don't see why our current 'editor' role can't already cover this. It's perfectly reasonable for a Managing Editor to assign one of their editors only translation work. I'm not sure that needs to be in writing, but I may be missing a use-case.

You're right that t

[2020-05-29 06:53] acrymble commented on #1754
@drjwbaker I think it's going to be a much longer conversation before we end up with anything like a manager. Are there any training elements here (or elsewhere) that you'd like to move forward on? Even if it's just setting up a monthly call with a few of us to learn together online?

[2020-05-29 07:01] acrymble commented on #1370
I've emailed this to the team for comment. If I don't hear any serious concerns or objections by 29 June 2020 I'll post it. Otherwise it will be put on the next meeting agenda.

[2020-05-29 07:03] acrymble commented on #1636
I am closing this while @spapastamkou takes her sabbatical. It can be reopened later in the summer when it is under active development.

[2020-05-29 07:03] #1636 closed, assigned to acrymble, spapastamkou

[2020-05-29 07:06] acrymble commented on #1633
@amsichani this doesn't look to me like a ticket with an active 'to do' task associated with it. Instead it looks like a (very positive) announcement. Can we close the ticket?

[2020-05-29 07:08] acrymble commented on #1683
I think we finished agreeing this, yes?

[2020-05-29 07:31] drjwbaker commented on #1683
Sorry. Yes. Agreement is in the archive repo.

[2020-05-29 07:31] #1683 closed, assigned to drjwbaker

[2020-05-29 07:39] drjwbaker commented on #1754
I like the idea of a regular call. Thanks for suggesting it.

One option would be to work through materials at https://www.resourcecentre.org.uk/information-category/managing-money/looking-after-your-groups-money/ for hour every 3/4 weeks. Resource Centre is a charity aimed at supporting groups like ours, especially those on the smaller end like ours. Going through the info here might be useful sa

[2020-05-29 07:42] acrymble commented on #1754
Ok. I'm happy to participate in that with you. Do any of our other directors want to build their knowledge in this area? @svmelton @rivaquiroga @amsichani @spapastamkou ? (Keeping in mind the advice will be UK-centric).

If so, can you drop me an email? And @drjwbaker let's shift this into practice by connecting on email about when we might like to start and where to focus.

[2020-05-29 07:43] drjwbaker commented on #1791
My sense is that it is more about onboarding than anything else. By default we onboard someone as a "full" Editor, then over time people - like me, for instance - move away from editing. The recommendation from Penny is that we have a clearer route for toe-in-the-water involvement (e.g. someone with web analytics skills whose only "job" is to report monthly on our web traffic), that might then lea

[2020-05-29 07:45] acrymble commented on #1791
What you suggest is fine with me. It's in line with our ProgHist AGM yesterday where I suggested the board might benefit from people with expertise not in the team (eg fundraising) but who might not be interested in the editing side of the project.

[2020-05-29 07:45] drjwbaker commented on #1754
I suspect it would make more sense for UK-based folks to join, but only if they are willing and able. Even if it is just me and you @acrymble, doing it as a working call would be good for focusing my mind.

[2020-05-29 07:48] drjwbaker commented on #1791
Agreed (just not as Directors for now per https://github.com/programminghistorian/jekyll/issues/1694#issuecomment-635511587). And that is the tenor of Penny's report. Hence the ticket.

[2020-05-29 07:48] acrymble commented on #1737
Is @JoshuaGOB involved in this too? I definitely see that there are technical elements that need documenting, but this also heavily involves his role in onboarding the new team. Can we make sure those conversations across teams are happening? And can you let me know if we need help to facilitate that?

[2020-05-29 07:51] acrymble commented on #1754
Ok I will close this, and anyone interested in joining can email us.

[2020-05-29 07:51] #1754 closed, assigned to acrymble

[2020-05-29 07:59] amsichani commented on #1737
yes, @JoshuaGOB should be /is definitely involved in this, esp with his experience with the PT team and as New Publications manager.
Also, I want to invite @programminghistorian/french-team  and @programminghistorian/spanish-team managing editors and team members to add here crucial steps/tasks based on their own experience, so we can create a full list of requirements. It would be great if we can

[2020-05-29 09:07] acrymble commented on #1753
Thanks to everyone who gave help and feedback. This is now available on youtube via our channel, and is listed on the wiki under 'Editorial Guidance'.

https://www.youtube.com/watch?v=jp0yCePvX-k&feature=youtu.be

I hope people find this helpful and that it saves time for everyone onboarding new team members in future.

[2020-05-29 09:07] #1753 closed, assigned to acrymble

[2020-05-29 09:27] drjwbaker opened #1796 "Process for closing a line of spending"
Action from the #1694: as suggested by @mdlincoln, we need a process for closing a line of spending, to complement our process for spending requests https://github.com/programminghistorian/jekyll/wiki/Spending-Requests

My suggestion for wording (to be added to an amended ttps://github.com/programminghistorian/jekyll/wiki/Spending-Requests( is as follows:

Comments/suggestions welcome. I'll aim to

[2020-05-29 09:54] acrymble commented on #1796
I don't think you want to paint yourself into a corner here. You may find a need to very quickly halt spending and may not have time to consult widely. For example, a banking problem makes our money disappear and you actually can't pay bills.

There should be a 'spirit of' this principle that doesn't bind you to act in fulfilling your legal requirements. I'd suggest instead an approach that says t

[2020-05-29 10:33] drjwbaker opened #1797 "ProgHist Ltd Annual General Meeting May 2021"
Further to #1694, ticket to start the process of setting a date for the 2021 ProgHist Ltd Annual General Meeting.

But before we set a date, I propose a slightly different format, specifically:

- now we've had our first ProgHist Ltd AGM, the following AGMs should be quite light (Chair's report, Treasurer's Report) because the remit of the Ltd is relatively limited.
- so, what we could do instead

[2020-05-29 10:42] drjwbaker commented on #1796
So something like:

[2020-05-30 07:09] acrymble commented on #1796
I'm of the view that this is already what would have been required based on our agreed processes. So I don't think this needs to be put into writing. The more rules we have the harder it is to operate and the harder it is to keep track of the rules.

[2020-05-30 07:42] acrymble commented on #1748
This planned meeting falls during a period when 2 of our directors will be on sabbatical.

As there is no urgent business requiring a meeting to take forward, I'd like to propose to @drjwbaker @rivaquiroga @amsichani @spapastamkou @svmelton that we reschedule this for August 2020. Can you all let me know if you have any objections to that?

[2020-05-30 07:55] acrymble commented on #1671
@drjwbaker can you add this to the Ltd meeting agenda then please?

I think we may need to break this into a 'milestone' of several smaller tasks. Otherwise I think this ticket will remain open for a year or more.

[2020-05-30 08:18] amsichani commented on #1796
I am also not if favour of having too many rules , as this might impede us from operating more flexible and quickly in the near future. I think that as of spending, it 'd be wise to set up a straightforward framework: to have a first information from the Treasurer and an initial discussion among directors & impacted team leaders via email, perhaps a quick voting ,and if needed we can open a ticket

[2020-05-30 08:20] amsichani commented on #1794
Good to keep an eye on it. Thanks for the update @acrymble . It 'd be great if we manage to get the rest PH publications listed too.

[2020-05-30 17:40] mdlincoln commented on #1737
Started up the technical page here: https://github.com/programminghistorian/jekyll/wiki/Technical-Tutorial-on-Setting-Up-a-New-Language

I've covered most of the technical tasks I can think of - @amsichani and @programminghistorian/technical-team please give it a look and let me know what needs clarification or if I'm missing anything.

[2020-05-30 17:57] mdlincoln commented on #1722
Should have closed this one a long time back...

[2020-05-30 17:57] #1722 closed, assigned to mdlincoln

[2020-05-31 11:16] spapastamkou commented on #1659
The bid was submitted (with option 2). Thank you all for the contributions: I did not answer to all comments but I took them into consideration either for the bid or for organizing our future actions. I am happy to close this ticket:-)

[2020-05-31 11:16] #1659 closed, assigned to spapastamkou

[2020-05-31 18:36] acrymble commented on #1794
I've sent the request on 31 May 2020. Awaiting response.

[2020-05-31 18:45] acrymble commented on #1704
@drjwbaker I think some confusion has crept in here as to the purpose of this agreement, and I think we're trying to make it do 2 things. I think I've also forgotten along the way, which hasn't made this easier.

This document was originally created to provide a very clear agreement between the publisher and publications, and was crafted in particular with the Portuguese team in mind, who it wasn'

[2020-06-01 08:33] drjwbaker commented on #1704
Okay. I agree that this got muddied. Apologies if I added to the confusion, I guess I was working with my Ltd hat on.

Perhaps I should take a step back and let you unmuddy the purposes of this, then come back in if their are specific Ltd related matters to attend to?

[2020-06-01 08:35] acrymble commented on #1704
Sure @drjwbaker I will try to do that this week. I think it's actually only a few minor little tweaks. We can then re-circulate it for everyone to check.

[2020-06-01 08:44] drjwbaker commented on #1796
Okay, I get the desire to reduce the number of processes/rules. I am also mindful that at the AGM https://github.com/programminghistorian/jekyll/issues/1694 this issue was raised by a ProgHist Ltd Member and we have a duty to respond.

I also think although we have the sub-team policy, it is useful to remind ourselves sometimes of its implications (e.g. that the Global Team could until https://git

[2020-06-01 08:45] drjwbaker commented on #1748
No objections.

[2020-06-01 08:46] drjwbaker commented on #1671
Agreed. The milestones I envisage are at https://github.com/programminghistorian/jekyll/issues/1671#issuecomment-633875139

[2020-06-01 09:14] acrymble commented on #1796
@mdlincoln is there something specific here that you think isn't covered by the agreement to act transparently and to work with other teams as issues arise that affect them? I'm mindful you've also warned us not to make the project more work for its members than needed, so I'd like the leanest possible solution here, because anything new has time implications for volunteers.

[2020-06-01 11:28] amsichani commented on #1748
I am on sabbatical from July-October, butI m happy to take part in one or two BoD meetings during that period. One issue I want to discuss is the SLA - do we have a deadline for this, how are we going to actually 'sign' it and how /for which reasons are we planning to use it?

[2020-06-01 12:40] rivaquiroga commented on #1748
No objections

[2020-06-01 13:10] mdlincoln commented on #1796
I think the language @drjwbaker puts is fine. The treasurer DOES need unilateral authority to act, but we would need to be well into a financial emergency by that point, and I think it is important to codify that the treasurer needs to inform and consult with the project team when deciding how to respond to such an emergency.  That kind of oversight is not the "makework" that I am concerned about,

[2020-06-01 13:15] spapastamkou commented on #1748
Ok for me.
Sofia

Envoyé de mon iPhone

[2020-06-01 13:40] walshbr commented on #1737
@mdlincoln I might add at the front of the process opening a template issue on the repository with a technical tasklist that lists each of these things. It seems like the technical task of onboarding a new team should have its own ticket separate from the social/professional task of onboarding them.

Because my sense is that you've been doing a number of these things for PT because you know to do

[2020-06-01 13:45] mdlincoln commented on #1737
That's a very good idea @walshbr - will add to the instructions and also open such a ticket

[2020-06-01 13:58] acrymble commented on #1791
@drjwbaker does the update to the onboarding checklist resolve this? Can we close?

[2020-06-01 14:04] acrymble commented on #1796
Ok. @drjwbaker I don't have any objection to what you're proposing. I think it's just common sense. But where are you going to keep this? Running this organization is becoming exhaustingly complex, and most of that complexity is socially constructed.

[2020-06-01 14:11] drjwbaker commented on #1791
Why the rush to close? Looking at https://github.com/programminghistorian/jekyll/wiki/Onboarding-Checklist-for-New-Editors it seems, despite the caveat, to heavily lean towards editors-by-default.

I for one would love to know more about the appetite from sub-team leads for toe-in-the-water roles, and - more generally - if we accept the principle (which, per my quote above, there was some dissent

[2020-06-01 14:17] drjwbaker commented on #1796
I can just edit this https://github.com/programminghistorian/jekyll/wiki/Spending-Requests

[2020-06-01 14:17] drjwbaker commented on #1796
@acrymble: you don't need to be on top of everything :)

[2020-06-01 14:24] acrymble commented on #1796
Thanks @drjwbaker can you do that and close this out? I don't think it's controversial enough to need a long discussion.

[2020-06-01 14:33] drjwbaker commented on #1796
Done.

If anyone would like to reopen this (now or at a later date) please do.

[2020-06-01 14:33] #1796 closed, assigned to drjwbaker

[2020-06-01 14:40] drjwbaker commented on #1791
- @JMParr: you had some qualms about the idea of lower-barrier entry roles when I first circulated the report. Any thoughts on the above?
- @spapastamkou: before you go on sabbatical, is there anything you like to add around what how the FR team is currently thinking about not "full" editor roles?

[2020-06-01 15:26] acrymble commented on #1729
Closing as actions arising have been posted #1789

[2020-06-01 15:26] #1729 closed, assigned to mariajoafana

[2020-06-01 15:28] acrymble commented on #1756
It seems like we've been able to learn a few things @mariajoafana that helps us better understand some of the challenges people face closing tickets.

In addition to your support and suggestions to reduce roles to 2, and possibly to bring in help for diagnosing or assessing bugs, is there anything else we want to know or explore? Or should we close this ticket?

[2020-06-01 15:32] acrymble commented on #1778
@JoshuaGOB we normally aim to fully complete this list within 2 weeks. It doesn't look like we've made any progress yet. Is Daniel aware of the checklist?

[2020-06-01 16:04] rivaquiroga commented on #1778
Yes, he is aware. Last week he told us he expected to start completing the tasks on Friday (29) . We'll check again if he needs any help

[2020-06-01 16:07] JoshuaGOB commented on #1778
We spoke over email last Thursday and he was wrapping up the semester. He has more time this week and hopefully can get this done. It seems it was a bit premature on my part to start the ticket so this one is on me.

On Jun 1, 2020, at 11:04, Riva Quiroga <notifications@github.com> wrote:

﻿
Yes, he is aware. Last week he told us he expected to start completing the tasks on Friday (29) . We'll che

[2020-06-01 16:57] rivaquiroga commented on #1795
Some actions arising from this issue:

- Update Author + Editor + Translator guidelines regarding who uploads the initial file for the lesson

- Update Editor Guidelines for checking any build errors after commits from authors/translators

[2020-06-01 17:10] spapastamkou commented on #1795
Would it be simpler to ask authors/translators to make pull requests reviewed by the team members instead of commiting directly? Or not?

[2020-06-01 18:07] svmelton commented on #1748
No objections!

[2020-06-01 18:12] walshbr commented on #1795
Simpler in terms in one sense, maybe, but it would mean that we might have to give people guidance on how to submit pull requests I think. So the burden on authors becomes a little more complicated.

[2020-06-01 18:21] acrymble commented on #1748
@amsichani do you mean the service agreement in #1704 ?

If so, this has shifted to a Programming Historian Project Team thing of which we are a part. I can make sure we circulate it to each of you for comment before anyone on our team signs it.

I will send along a Doodle poll to re-schedule this for August. Anyone who needs to call an unscheduled meeting is still able to do so in the normal way.

[2020-06-01 18:21] #1748 closed, assigned to drjwbaker

[2020-06-01 19:44] DanielAlvesLABDH commented on #1778
Dear all, I'm starting now. Please be patient with my rhythm. Thanks for your warm welcome. And thanks for given us the chance to contribute to this great project. I think we will collaborate smoothly. All the best. Daniel

[2020-06-01 19:47] DanielAlvesLABDH commented on #1778
My Twitter account is @DanielAlvesFCSH
Amazing! Just found out that I have two GitHub accounts. Didn't remember this last one with the same user of my Twitter ;-)

[2020-06-03 14:57] mdlincoln opened #1802 "PT technical onboarding"
This is a tracking ticket for [technical tasks related to starting the PT team](https://github.com/programminghistorian/jekyll/wiki/Technical-Tutorial-on-Setting-Up-a-New-Language).

- [x] Create new defaults in _config.yml
- [x] Add new language line to all snippets
- [x] Copy core pages to the new language directory
- [x] Push core pages to gh-pages branch so language team can begin translation

[2020-06-03 15:01] acrymble commented on #1802
In case it helps the brand guidelines on the wiki give the logo fonts (https://github.com/programminghistorian/jekyll/wiki/Brand-Guidelines). I believe I used a colour-palatte generater in the past to get colours that worked well together, but I can't remember which one.

[2020-06-03 15:04] mdlincoln commented on #1737
done #1802

[2020-06-03 18:05] #1767 closed, assigned to amsichani

[2020-06-04 10:24] amsichani commented on #1802
Thanks for this @mdlincoln! I think its handy to have the technical tasks related to start a new language publication as a distinct wiki page -- we will link to this tutorial from the main wiki page .

[2020-06-04 21:23] rivaquiroga commented on #1776
I'm doing the request process right now for a new lesson, and it seems that starting the request as step 2) might be better.

----

## 2) Request DOI

Request a new DOI for the lesson following the steps described in the [Wiki](https://github.com/programminghistorian/jekyll/wiki/How-to-Request-a-new-DOI).
This part of the process should not take you more than one or two days, depending on the time

[2020-06-05 10:59] drjwbaker commented on #1671
Update: @acrymble and I discussed this today whilst working through https://www.resourcecentre.org.uk/information/charity-reporting-and-accounts/ I have taken away an action to break down the concrete steps we need to take, so that we can construct a timeline. I will block out some time for this next week.

[2020-06-05 16:05] jenniferisasi opened #1804 "Newsletter: 2nd trimester and mid 2020"
Time flies and the end of June will be here before we realize. As usual, I will create a list of accomplishments here and ask that you please add anything I am forgetting for mid-year newsletter:

- [x] search functionality
- [x] DOI in lessons
- [x] New 1 IPP and Patreon subscribers
- [x] Adam's three workshops
- [x] new lessons and translations
- [x] Matt's retirement note to honor his great wor

[2020-06-06 02:52] JoshuaGOB commented on #1802
Thank you @mdlincoln I really needed to see this and the technical tutorial to get a sense of what was going on behind the scenes.

[2020-06-06 06:36] acrymble commented on #1804
3 workshops hosted at Edinburgh (@acrymble and @JMParr).

- Adam Crymble, ‘Documenting Your Digital Methods’, University of Edinburgh, United Kingdom (27 May 2020).
- Adam Crymble & Jessica Parr, ‘Programming Historian Silent Disco’, University of Edinburgh, United Kingdom (18 May 2020).
- Adam Crymble, ‘Do You Need to Learn Programming?’, University of Edinburgh, United Kingdom (14 May 2020).

[2020-06-06 06:41] acrymble commented on #1681
I've created some new videos to support new (and existing) editors to build their skills. https://github.com/programminghistorian/jekyll/wiki/Training-and-Support-for-Editorial-Work

@JoshuaGOB can you let the Portuguese team know about these?

[2020-06-06 06:42] acrymble commented on #1797
This sounds like a great idea. Can we agree to just make it happen? I think it only affects @mariajoafana 's workflow.

[2020-06-06 07:24] JoshuaGOB commented on #1681
﻿
Done. I have to look through since I still have a ton to learn. Thank you, this look like amazing work @acrymble

On Jun 6, 2020, at 01:41, Adam Crymble <notifications@github.com> wrote:

﻿
I've created some new videos to support new (and existing) editors to build their skills. https://github.com/programminghistorian/jekyll/wiki/Training-and-Support-for-Editorial-Work

@JoshuaGOB can you let th

[2020-06-06 19:13] DanielAlvesLABDH commented on #1681
Thanks for this @acrymble I will send the link to the PT editors. Just looked at the first one. Very helpfull

[2020-06-08 16:23] drjwbaker commented on #1797
If there are no objections, sure.

[2020-06-08 21:19] #1698 closed, assigned to jenniferisasi

[2020-06-09 15:04] mariajoafana commented on #1695
Voy a crear un pull request separado para crear la guía para traductores, ahí haré una primera versión de la guía para traductores para que @jamotilla la revise

[2020-06-09 15:12] jamotilla commented on #1695
Perfecto @mariajoafana !

[2020-06-09 15:24] acrymble commented on #1770
@spapastamkou it looks to me like everything is in order for your sabbatical, as long as @mariechristineb is on top of any ME duties.

Let me know if you need any help from anyone, and otherwise we'll see you soon.

[2020-06-09 15:27] acrymble commented on #1756
Closing this conversation so we can move ahead with supporting solutions

[2020-06-09 15:27] #1756 closed, assigned to mariajoafana

[2020-06-09 15:59] acrymble commented on #1704
I've finished editing this and I've sent it to team leaders to check if anyone has any remaining comments. Hopefully we can all sign at the next Project Team meeting.

Update: just keeping track of who I've heard back from so far in case I need to follow up (@jmparr @jenniferisasi @acrymble @svmelton @DanielAlvesLABDH @ZoeLeBlanc @spapastamkou )

[2020-06-09 17:40] spapastamkou commented on #1770
Still have some staff to take care of till then :)

[2020-06-09 19:34] mariajoafana commented on #1797
I agree, yes

[2020-06-10 09:56] drjwbaker commented on #1797
@mariajoafana In which case, can we close this ticket and agree to start work in - say - February 2021 on a joint PH & ProgHist Ltd AGM for May 2021?

[2020-06-10 10:07] drjwbaker commented on #1704
Thanks Adam.

[2020-06-10 12:58] acrymble commented on #1790
Thanks everyone for your views. It looks like we have a one good idea so far. But it does strike me as an idea that benefits the English team most (for now). Do the @programminghistorian/spanish-team @programminghistorian/french-team or @DanielAlvesLABDH (on behalf of the Portuguese team) have any ideas on what we might support to make your jobs as editors easier?

[2020-06-10 13:22] mariajoafana commented on #1797
yes, sounds right, I'll post this on my calendar to remember

[2020-06-10 13:22] #1797 closed, assigned to drjwbaker

[2020-06-10 13:54] DanielAlvesLABDH commented on #1790
As I understand, this "bug fixer" would be paid, correct? He/she will be working with all the teams? From my knowledge the majority of the lessons are in English, and the other teams have translated a good part and only a few are original from the FR, ES (hopefully from PT in the future) teams. This balance could probably change in the future, so the person in charge of this will have to deal with

[2020-06-10 13:58] acrymble commented on #1790
This is a good question @DanielAlvesLABDH. We would have to discuss it, but for copyediting (which we also pay for), we would hire a copyeditor who was fluent in the language. We pay copyeditors for each lesson as and when we need them. So they aren't a member of permanent staff.

I guess a bug fixer could do the same (hired individually and as needed for their skill in a given language).

[2020-06-10 14:00] DanielAlvesLABDH commented on #1790
Ok, more clear now! Thanks

[2020-06-10 14:56] drjwbaker commented on #1671
Our aim to register as a charity in the UK with the Charity Commission once our annual income exceeds £5,000 (which will happen this summer). @acrymble and I have established that we can keep our Company Limited by Guarantee to do this, and then just register with the Charity Commission separately, meaning that existing Ltd Directors will also be Trustees of the Charity (see, for example, Black Cu

[2020-06-10 16:00] jenniferisasi commented on #1790
@acrymble @DanielAlvesLABDH I also see this as a paid position outside PH like the copyeditors.

A bug could arise on monolingual or crosslanguage situations*.  In the case of monolingual, I wanted to add that some translated lesson have edited/different/additional codes to be able to work in say, Spanish, so the bug could arise on a translated version and not in the original (this is unlikely, bu

[2020-06-11 21:35] mariechristineb commented on #1762
Bonsoir @grandjeanmartin @fdlaramee - pensez-vous être disponibles pour faire la relecture de "Construire un site web statique avec Jekyll et GitHub Pages" dans un avenir plus ou moins rapproché? Je crois qu'on avait parlé de faire la plupart du travail d'édition à l'interne pour ce trimestre, n'est-ce pas? Merci :)

[2020-06-12 08:05] amsichani commented on #1737
Hi all, I am now finalising the wiki page on this and I realised that we can also reflect and update the information we have on the New Publications Manager role, currently @JoshuaGOB.
 I guess the role will sit at @programminghistorian/development-team or @programminghistorian/global-team  --- we need to also briefly update the role description, perhaps this is something @JoshuaGOB can do in line

[2020-06-12 08:08] acrymble commented on #1737
@JoshuaGOB has just joined the global team @amsichani since this made the most sense given our conversations at the last team meeting.

[2020-06-12 08:09] amsichani commented on #1737
thanks for the update @acrymble , waiting now for a small on the role at the relevant wiki page.

[2020-06-12 08:12] drjwbaker commented on #1671
I will action these in the first instance, with support from @acrymble. I've scheduled the work in my diary and will report back as/when.

[2020-06-12 14:49] amsichani commented on #1737
Here we are -- https://github.com/programminghistorian/jekyll/wiki/How-to-start-up-a-new-language-publication .
Please feel free to add anything I missed out. I see it as a living document

[2020-06-12 16:54] JoshuaGOB commented on #1737
This is great @amsichani, thank you. Since the process is still ongoing I agree that it should be a living document and I will add any other points as they arise during the rest of the onboarding process.

I was also considering if we should add a "Helpful Suggestions" section for some of the items. For example, how spread out the onboarding of editors should be, setting up an efficient schedule f

[2020-06-13 06:22] spapastamkou opened #1807 "managing editor loop"
I just noticed that in the team's page of every linguistic version (EN example: https://programminghistorian.org/en/project-team) the name of the Managing Editor is followed by a pair of parentheses for no particular reason. I can see it is related to `managing-editor-loop.html` and the include. Can someone of the @programminghistorian/technical-team help me to fix this? Thank you.

[2020-06-13 06:26] spapastamkou commented on #1807
There is a screenshot:

![project-team](https://user-images.githubusercontent.com/27706167/84561774-8d211a80-ad4f-11ea-8608-865a0a4f5126.jpg)

[2020-06-13 07:40] acrymble commented on #1807
That should have the corresponding language in it if I remember correctly (English, Spanish, French).

[2020-06-13 13:20] mdlincoln commented on #1807
Ah, when @amsichani worked up the PR for #1798 we removed some snippets used for the banners - and I'd forgotten that the `language-name` snippet was used on other parts of the site.

[2020-06-14 08:01] acrymble commented on #1791
@drjwbaker it's been a few weeks and we haven't seen any additional comments. Based on the lazy consensus, I think you can assume you have approval here.

[2020-06-14 16:40] svmelton opened #1810 "Possible bug in Downloading Web Pages with Python"
A reader emailed that she's getting `No module named request` when trying to use `urllib.request` She also indicates that she's installed request per https://programminghistorian.org/en/lessons/installing-python-modules-pip#mac-and-linux-instructions and that Atom has been able to run the code so far. (She's using python 3.8 on a Mac.)

Additionally, when I tried to run the code in the lesson, I r

[2020-06-14 16:43] svmelton commented on #1795
Just noting that I think this is a good solution—thanks @walshbr!

[2020-06-14 16:46] acrymble commented on #1810
I think this was what @walshbr was doing with this pull request https://github.com/programminghistorian/jekyll/pull/1785

[2020-06-14 21:38] walshbr commented on #1810
Both of those are different errors than the ones for which I just submitted a pull request. I don't have time to take a look in the next week, but I can look at this if no one has gotten to it by then.  But the full stack trace from the person would be helpful for debugging it if you can get it.

[2020-06-14 23:44] Bibliojo commented on #1810
Traceback (most recent call last):
  File "/Users/bibliojo/Desktop/Documents/PHPython/open-webpage.py", line 3, in <module>
    import urllib.request, urllib.parse, urllib.error
ImportError: No module named request

Process returned 1 (0x1)	execution time : 0.074 s

[2020-06-15 08:09] acrymble commented on #1810
Thanks @Bibliojo. Just making some notes to try to trace this:

https://programminghistorian.org/en/lessons/working-with-web-pages

[2020-06-15 08:13] spapastamkou commented on #1807
thanks!

[2020-06-15 08:17] acrymble commented on #1810
@Bibliojo I've just tried this in two different setups on Mac.

The first was in Komodo Edit and I get the same error as you did.
The second is using the Terminal and putting the commands directly in. That worked as intended.

Can you tell me if you've been trying to run this in Komodo Edit using the suggested setup, or if you're using a different approach? It may be the way we've configured Komod

[2020-06-15 09:20] #1807 closed, assigned to nobody

[2020-06-15 11:49] Bibliojo commented on #1810
I am using Atom and not komodo edit.
 Mostly because i had used atom previously on my work windows machine.
i installed atom-run-python and the first several lessons worked. this is where it stopped.
 both pip and pip3 say that “requests” are installed.
i wonder what the communication problem between and and my mac python installation is?

thank you for looking into this!
 jo

Get Outlook for iOS<

[2020-06-15 12:49] walshbr commented on #1810
@Bibliojo I'm not as familiar with the atom-run-python script - could run these from the same place as you were trying to run the Python script and let us know what the output is (sounds like that is from within Atom)? *edited to include a third line*

import sys
print(sys.version_info)
print(sys.executable)

[2020-06-15 12:53] walshbr commented on #1795
Seems like there is consensus among the managing editors that this is a good idea, so I'll make these changes to the guidelines.

[2020-06-15 12:55] Bibliojo commented on #1810
# open-webpage.py

import urllib.request, urllib.parse, urllib.error

url = 'http://www.oldbaileyonline.org/browse.jsp?id=t17800628-33&div=t17800628-33'

response = urllib.request.urlopen(url)
webContent = response.read()

print(webContent[0:300])
_________________________________
Traceback (most recent call last):
  File "/Users/bibliojo/Desktop/Documents/PHPython/open-webpage.py", line 3, in <mo

[2020-06-15 12:58] Bibliojo commented on #1810
I use F5 to run the script from the saved file, and then the response is in the bash terminal

[2020-06-15 13:02] Bibliojo commented on #1810
it does not work in the terminal? -- although I am not very adept at using the command line
for sh*ts and giggles here is the result :

bibliojo@Joannes-iMac ~ % python3
Python 3.8.3 (v3.8.3:6f8c8320e9, May 13 2020, 16:29:34)
[Clang 6.0 (clang-600.0.57)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

webContent = response.read()

print(webContent[0:300])
Tracebac

[2020-06-15 13:02] acrymble commented on #1810
I've just tried this again on a Windows machine using the command line, and again it worked fine. I even cut and pasted the code from your response above. It seems like the most likely problem is actually something to do with the programme you're using to run Python.

[2020-06-15 13:05] Bibliojo commented on #1810
time to give in and download and run Komodo 🙂
________________________________
From: Adam Crymble <notifications@github.com>
Sent: June 15, 2020 9:02 AM
To: programminghistorian/jekyll <jekyll@noreply.github.com>
Cc: Joanne Paterson <jpater22@uwo.ca>; Mention <mention@noreply.github.com>
Subject: Re: [programminghistorian/jekyll] Possible bug in Downloading Web Pages with Python (#1810)

I've just

[2020-06-15 13:07] acrymble commented on #1810
I'm not sure if that will solve the problem or not. It may be a conflict with you having two versions of Python on your machine at once. It's really difficult to tell since we can't see your machine. The code itself does run though, so it's not that causing the problem.

[2020-06-15 13:07] walshbr commented on #1810
Cool thanks @Bibliojo.

For what it's worth, it looks like switching to the terminal actually fixed the original error you were having and gave you a different one (the same one @svmelton was having). If you add the sys lines I gave to the Python script and try it running the F5 method it might be helpful to see what Python it was trying to run. The reason I was having you do that is that, googlin

[2020-06-15 13:12] Bibliojo commented on #1810
Catalina 10.15.5
thanks so much!
I prefer working on my larger  screen of my mac, but may have to use the windows laptop because it sounds like that will work. without the version problem, or the SSL issue . . .
Thanks again for trying to sort this out! I really appreciate it! :)

[2020-06-15 13:22] Bibliojo commented on #1810
@walshbr
sys.version_info(major=2, minor=7, micro=16, releaselevel='final', serial=0)
/System/Library/Frameworks/Python.framework/Versions/2.7/Resources/Python.app/Contents/MacOS/Python
Traceback (most recent call last):
  File "/Users/bibliojo/Desktop/Documents/PHPython/open-webpage-sis.py", line 5, in <module>
    import urllib.request, urllib.parse, urllib.error
ImportError: No module named req

[2020-06-15 13:23] Bibliojo commented on #1810
Oh look it is calling up 2.7 and not 3.8!

[2020-06-15 13:24] Bibliojo commented on #1810
bibliojo@Joannes-iMac ~ % python --version
Python 2.7.16
bibliojo@Joannes-iMac ~ % python3 --version
Python 3.8.3

[2020-06-15 13:25] walshbr commented on #1810
Yep! That's what I suspected might be going on. I think this is the solution you'd want for the "Atom running Python2 not Python3" problem is here - https://stackoverflow.com/a/49955089. But then you'll get the SSL error - let me try to find the stack overflow thread I followed for that one…

[2020-06-15 13:27] walshbr commented on #1810
You might try this - https://stackoverflow.com/a/43855394.

[2020-06-15 13:29] walshbr commented on #1810
But yeah to underscore @acrymble's point - these are issues with how the technologies are changing around the lessons but not issues with the lesson itself. Doesn't make them any less frustrating though. It might be worth documenting these solutions somewhere though…like an FAQ for common issues that are specific to a user's own setup?

[2020-06-15 13:37] Bibliojo commented on #1810
yes I think that that would be helpful.  Although I did search around on various platforms, as you show above, I'm not always sure that I necessarily trust the answer.  That is, I don't have enough experience to judge whether the solution will help, or blow up my machine! :) so having some "authoritative" solutions would be lovely I think!

[2020-06-15 13:38] walshbr commented on #1810
Absolutely - there are a lot of garbage solutions on stack overflow, and it takes a long time to know what seems reasonable vs what will cause further chaos. :)

[2020-06-15 13:40] Bibliojo commented on #1810
Last login: Mon Jun 15 09:21:15 on ttys000
bibliojo@Joannes-iMac ~ % /Applications/Python\ 3.8/Install\ Certificates.command ; exit;
 -- pip install --upgrade certifi
Requirement already up-to-date: certifi in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (2020.4.5.2)
 -- removing any existing file or link
 -- creating symlink to certifi certificate bundle
 -- setti

[2020-06-15 13:40] mdlincoln commented on #1810
Just a note to the editors - if you do end up revising the code in the lesson, please remember to follow our new DOI policy: https://github.com/programminghistorian/jekyll/wiki/The-Programming-Historian-Digital-Object-Identifier-Policy-%28April-2020%29

[2020-06-15 13:51] Bibliojo commented on #1810
@walshbr
BRILLIANT changed the Atom stettings in run f5 and f6 and it worked!
you are a genius :) thanks.

sys.version_info(major=3, minor=8, micro=3, releaselevel='final', serial=0)
/Library/Frameworks/Python.framework/Versions/3.8/bin/python3
b'\r\n\r\n\r\n\r\n\r\n\r\n\r\n\n\n\r\n\r\n\r\n\r\n\r\n<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-stri

[2020-06-15 13:52] walshbr commented on #1810
Oh good! Glad you could benefit from the headaches I had a few weeks ago. It was worse trying to deal with this problem in Ruby :)

[2020-06-15 13:56] Bibliojo commented on #1810
I can only imagine!  phew -- Now I can work on the rest of the chapters and hopefully with no more glitches . . .she says hopefully? LOL

[2020-06-15 14:03] walshbr commented on #1810
There are a few known errors you'll run into that we're in the process of updating! As you're going and run into them, I'd check here - https://github.com/programminghistorian/jekyll/pull/1785/files to see which lines of codes need changing. There aren't that many of them - just two or three lines - but they show up in multiple places in the lessons.

[2020-06-15 15:50] drjwbaker commented on #1791
I had this in my diary to look at today. Agreed @acrymble. Closing noting lazy consensus that **we are happy** for people to work on PH without being a full editor, being that we can in the future partially onboard individuals to take on specific roles. Penny's line kinds sums up the tenor of this:

[2020-06-15 15:50] #1791 closed, assigned to acrymble, drjwbaker

[2020-06-17 07:49] amsichani commented on #1787
I am afraid I won't be able to attend this meeting. I ve already informed @mdlincoln on a pending ticket from my part - I am happy to finish it in the (near?) future , sorry I can't commit to a date at this point.

[2020-06-17 08:09] acrymble commented on #1810
I think we can close this as it's not actually a bug but a user trying the code on a slightly different setup. There are some things we can take forward here in our attempts to better handle bug reports, which we've begun to think about in #1790

[2020-06-17 08:09] #1810 closed, assigned to acrymble, walshbr, svmelton, ZoeLeBlanc, amsichani

[2020-06-17 15:15] acrymble commented on #1370
Just a reminder to the @programminghistorian/project-team that there is about a week left to comment on this before I post it.

[2020-06-17 15:40] acrymble commented on #1782
@amsichani I would like to suggest that you pass off #1525 to someone else on the @programminghistorian/technical-team before you go on sabbatical. I don't think it helps to have tasks like that hanging over you while you are away.

Since you're busy, I think you could also opt not to write a blog post as you've suggested.

[2020-06-17 19:17] acrymble commented on #1571
With @mdlincoln stepping down and our team entering a phase of reduced new technical features, is this still realistic as a widespread solution?

[2020-06-17 19:27] DanielAlvesLABDH commented on #1571
I gave a look at the website and the video of this tool. It has potential to be helpful but probably it will take some effort to integrate with our current processes. I could try to ask someone from the PT team to give it a try, but with no promises since we are all with too much work at the time. Please let me know what you think.

[2020-06-17 21:17] mdlincoln commented on #1571
Thanks @DanielAlvesLABDH but you have enough work to do now. It's clear no one has bandwidth for this now. I'm moving it to our backlog.

[2020-06-18 07:27] amsichani commented on #1782
Thats the plan @acrymble , I 've already discussed it with Matt. The blogpost can wait too, if thats OK. Thanks for understanding

[2020-06-18 08:36] acrymble commented on #1782
Ok based on that it looks like you've finished everything outstanding before your sabbatical begins. So I'll close this ticket and I'm sure we all hope you manage to relax a bit while you're away. We'll see you again soon.

[2020-06-18 08:36] #1782 closed, assigned to acrymble, amsichani

[2020-06-18 08:37] acrymble commented on #1525
I've closed Anna Maria's sabbatical ticket on the assumption that this ticket is being reassigned. Making a note here just in case that gets missed.

[2020-06-18 08:39] acrymble commented on #1633
I haven't heard any more so I'm going to close this on the assumption that there is no action required for any PH team member. @amsichani you can reopen this if you need it, but please make sure the ticket has an action.

[2020-06-18 08:39] #1633 closed, assigned to amsichani

[2020-06-18 08:42] acrymble commented on #1635
It looks like this is now in a pull request, which is great news. Thanks @mariajoafana. I'm happy to work with @programminghistorian/spanish-team once this has been published to set up a trial on the next lesson, since I've gone through that process with the English team. Can someone message me once the pull request is complete and we can more to the next stage?

[2020-06-18 08:44] acrymble commented on #1712
This ticket does not have an owner @mariajoafana so no one is responsible for it. Can we arrange for someone to either take the idea forward, or to close it if we don't have capacity?

[2020-06-18 11:46] rivaquiroga commented on #1635
Sure! I’ll let you know when we are done.

[2020-06-18 14:17] walshbr commented on #1795
Just a note that when I start working on this I should

Check with the Portuguese team to make sure that they haven't translated the relevant pages. And, depending on that answer, we'll need to make sure to copy the relevant English page after it's been updated into the Portuguese collection of pages that they're working from.

[2020-06-18 14:48] DanielAlvesLABDH commented on #1795
These are the files already translated to PT, although we haven’t send them to GitHub yet: Index.md, Lessons.md, Project-team.md, Feedback.md, Contribute.md, Privacy-policy.md, About.md, reviewer-guidelines.md and support-us.md. We are in the process of translating Editor-guidelines.md (probably more then half already translated).

[2020-06-18 14:58] mdlincoln commented on #1787
Further notes from the meeting:

- @ZoeLeBlanc will be taking over as team leader
- In response to @drjwbaker, we probably should have at least an annual review of the [service integrations](https://github.com/programminghistorian/jekyll/wiki/Service-Integrations). We also are sensitive to how we might change our technical documentation regarding how to do PRs, reviews etc. since GitHub changes it

[2020-06-18 15:05] mdlincoln commented on #1761
@acrymble announced in our technical team meeting just now that @ZoeLeBlanc will be taking over as lead. I'll be updating and reassigning tickets as needed, and start to go through the official list to check off the rest of my retirement.

@ZoeLeBlanc will represent the @programminghistorian/technical-team in the July Meeting.

[2020-06-18 15:37] mdlincoln opened #1814 "Establish a regular internal tech documentation/service integration review process"
Coming out of #1787

[2020-06-18 15:43] mdlincoln commented on #1571
I spoke too soon - @spapastamkou has still been working on evaluating this tool, and hopes to give a more detailed report out to the full team after her sabbatical. I'm going to re-open to mark that this work is actively ongoing.

[2020-06-18 15:45] walshbr commented on #1814
I'll think more about what this should look like, what pieces it should have, and how we might divide up the labor for a first pass.

[2020-06-18 15:45] #1787 closed, assigned to mdlincoln

[2020-06-18 15:54] walshbr commented on #1795
Thanks @DanielAlvesLABDH - in that case I will let you know when I have new text on the Editor Guidelines and Author guidelines and ping you along with the other translation teams. It will be some time until I can get to it anyway, and I don't want to hang you up. The translation shouldn't be super burdensome - I need to look at the text to be certain, but it certainly won't be mass re-translating

[2020-06-18 15:55] mdlincoln commented on #1761
@ZoeLeBlanc @drjwbaker re cloudflare, I think it makes sense to create a free programminghistorian account so that it doesn't need to be managed by a personal account. I'm going to create that now and try to transfer the "ownership" of the site from my account to the central one.

[2020-06-18 17:27] acrymble commented on #1761
@mdlincoln I don't want to usher you out quicker than you want to go. Do you need access to any of the outstanding services still? Or are you handing in your keys now?

[2020-06-18 18:48] mdlincoln commented on #1761
Thanks @acrymble but I think my GitHub-based action items are all done. @ZoeLeBlanc and I will coordinate about the cloudflare handoff via slack in the next few days - it's a bit involved but doesn't involve any code changes to the site.

[2020-06-19 07:49] acrymble commented on #1761
@mdlincoln I've had a look at service integrations and it doesn't look like you had access to any passwords other than Cloudflare. Would you mind taking a quick look at that list and let us know if there were others? I think it's always good practice to change shared passwords when someone steps down, so if you can help us identify those I'd be grateful: https://github.com/programminghistorian/jek

[2020-06-19 17:31] spapastamkou commented on #1770
Just modified the dates as I am in the middle of treating a second original lesson proposal we received. So will start the sabbatical one week later and return one week later (27 June-26 July).

[2020-06-19 23:49] asbjornu commented on #3
Just a note for others finding this issue through search; reference links in Markdown only support links. [Doing something like this](https://raw.githubusercontent.com/programminghistorian/jekyll/6faf2b725b0710b55172ce65d2f1552b555055dc/lessons/googlemaps-googleearth.md) won't work:

[code]

What will work, though, is this:

[code]

The above is equivalent to the following inline link example:

[c

[2020-06-22 08:16] acrymble commented on #1761
@jenniferisasi @drjwbaker just a reminder that you have outstanding actions on this ticket.

[2020-06-22 08:18] drjwbaker commented on #1761
Sorry. Didn't realise I had so had been deleting notifications. Will do that now.

[2020-06-22 18:20] jenniferisasi commented on #1802
@ZoeLeBlanc I think Matt missed a step in this guide. We have to manually add the chunk about the editorial team in Portuguese in this loop right? https://github.com/programminghistorian/jekyll/blob/gh-pages/_includes/project-team-loop.html

[2020-06-22 20:30] walshbr commented on #1701
This is a duplicate of #1768 so I'll close.

Should be resolved by #1785 when we merge that PR.

[2020-06-22 20:30] #1701 closed, assigned to svmelton

[2020-06-22 20:35] walshbr commented on #1662
@archaeocharlie I'm going through and checking on old tickets. Did you get a chance to look at this?

[2020-06-24 08:14] acrymble opened #1817 "Bug Assessment Trial Service"
As per issue #1790 we've had a suggestion for a 'big fixer / bug tester' as a paid service provided by ProgHist. This service would support managing editors (MEs) by assessing and making recommendations on bugs that are reported by users, drawing upon our guidelines for retirement.

In order to asses if this is helpful for MEs (the goal is to both resolve bug tickets faster and reduce the effort r

[2020-06-24 08:16] acrymble commented on #1790
We're going to test the idea of a bug tester #1790 .

As no other suggestions have come in, I will close this ticket and we can open others in future as capacity allows. Thank you everyone.

[2020-06-24 08:16] #1790 closed, assigned to acrymble

[2020-06-24 08:24] acrymble commented on #1817
Possible bug candidates for trial:

* Additional step suggested for Mac users of "Building Static Sites with Jekyll" #1669
* Python lesson sequence and accessing files as binary #1777

I could not tell if the others were or were not covered by the pull request @walshbr has in progress re Python lessons. Maybe he can let me know if there are outstanding python bugs to add to the list.

[2020-06-24 08:28] acrymble commented on #1708
I don't think this ticket is actually being used to keep track of what the Portuguese team is working on. I am going to close it and @JoshuaGOB and @DanielAlvesLABDH can open new tickets as appropriate to keep track of their progress.

[2020-06-24 08:28] #1708 closed, assigned to JMParr, JoshuaGOB

[2020-06-24 08:36] acrymble commented on #1761
@ZoeLeBlanc the only outstanding activities involve taking over the github and cloudflare admin from Matt. Are you able to do this? I presume he can't remove himself from github without being able to put someone else in charge?

[2020-06-24 08:39] drjwbaker commented on #1817
Small note: can we please make sure the bug fixer/tester is made aware of knock on implications of their recommendations (e.g. https://github.com/programminghistorian/jekyll/wiki/The-Programming-Historian-Digital-Object-Identifier-Policy-%28April-2020%29)

[2020-06-24 13:05] walshbr commented on #1817
In the case of #1672, the actionable they decided on was just to remove a particular paragraph. And #1662 the suggestion similarly was to modify the text (we should decide what that means re: DOIs before those changes are made). So I think #1669 or #1777 could be candidates for this (neither of those are covered by the PR I have open, which only closes #1768).

[2020-06-24 21:25] ZoeLeBlanc commented on #1761
@acrymble Sorry was sick the last few days! Already have access to Github so I'll remove Matt's access once we finalize the cloudflare transfer (should hopefully be by Friday!) just in case there's any issues.

[2020-06-24 21:31] ZoeLeBlanc commented on #1817
Agree with @walshbr about potential trial issues. @acrymble Just to clarify would this bug tester be part of the technical team at all? It seems like there's some overlap in regards to work, so would be helpful to delineate the responsibilities.

[2020-06-24 21:32] ZoeLeBlanc commented on #1814
Thanks @walshbr ! Let me know if I can help at all.

[2020-06-25 07:48] acrymble commented on #1817
@ZoeLeBlanc no they would not be a technical team member. As previously agreed, fixing bugs is editorial work not technical work. This would be a service for editors and would only apply to bugs within published lessons. Not wider problems with the website.

[2020-06-25 08:02] acrymble commented on #1802
Yes @jenniferisasi that can just be cut and pasted and amended in place.

[2020-06-25 08:45] drjwbaker commented on #1671
## Draft Charitable Purposes

Per https://github.com/programminghistorian/jekyll/issues/1671#issuecomment-642064734 we need 'Charitable Purposes' to register with the (UK) Charity Commission. So I've put a little time into figuring out what this should be.

These [should say](https://charitysetup.org.uk/checklist/write-your-charitable-objectives/#:~:text=A%20charity%20must%20have%20one,human%20rig

[2020-06-25 09:03] DanielAlvesLABDH opened #1818 "Translating PH to Portuguese"
The Portuguese team has translated pages Index.md, Lessons.md, Project-team.md, Feedback.md, Contribute.md, Privacy-policy.md, About.md, research.md, reviewer-guidelines.md, support-us.md and Editor-guidelines.md (https://github.com/programminghistorian/jekyll/tree/gh-pages/pt). We want now to proceed to the other pages of the platform. The notes we get from @acrymble were that we were supposed to

[2020-06-25 09:50] acrymble commented on #1818
@DanielAlvesLABDH please remember I asked you to let us know when translation of one of these pages starts so that we can make sure no further edits happen to it while your team are working on it. I said we'd put a 1 month pause on changes to any page you were translating. If you don't tell us this your pages may be out of sync with the rest.

[2020-06-25 11:20] DanielAlvesLABDH commented on #1818
@acrymble I remember that talk but has I mentioned to @JoshuaGOB and @rivaquiroga the Portuguese team will work a little bit differently because we will have two translations versions of each of the files, one made by a Brazilian colleague, the other by a Portuguese. That was done for the files mentioned above. We will start now the process of revising both files and merging them in a single final

[2020-06-25 12:21] acrymble commented on #1818
@DanielAlvesLABDH thanks for clarifying.

I think it's best to ask @JoshuaGOB for help on those, and he may need to consult with the tech team. These are the following files:

Activities.yml
ph_authors.yml
snippets.yml
teamroles.yml
topics.yml

Similarly, it might be worth talking to a ME (maybe @rivaquiroga) about:

Translator-guidelines.md
Author-guidelines.md

As these need to be tailored to th

[2020-06-25 13:56] walshbr commented on #1814
The next couple weeks are pretty busy for me but I'll try to look at this when I can.

[2020-06-25 13:58] walshbr commented on #1818
FYI - I'm the tech team contact for this, so just let me know if you have questions.

[2020-06-25 14:04] DanielAlvesLABDH commented on #1818
Thanks both @acrymble for pointing the colleagues I should talk and @walshbr for reminding that you are the person I probably will be asking for more help when we start to upload the translations ;-)

[2020-06-25 14:54] jenniferisasi commented on #1818
Communications manager here: @DanielAlvesLABDH no pressure and no rush on this idea but it would be maravilhoso if, when we write a blogpost signaling the launch of PH in PT, we have a paragraph on the issues you are facing and decisions you are making on translating to Brazilian/Portuguese.

[2020-06-25 15:04] #1768 closed, assigned to svmelton

[2020-06-25 15:19] DanielAlvesLABDH commented on #1818
Great @jenniferisasi ! Nice to meet you. Already in the agenda! The Portuguese team have some peculiarities, glad to share that.

[2020-06-25 15:56] spapastamkou commented on #1818
@DanielAlvesLABDH Congrats for the work of your team! A small reminder here for something that could remain unnoticed: once you prepare to launch the site and make a pull request for the PT `about` page, please ping or ask for review from @rivaquiroga @svmelton and me so that we all modify [this part](https://programminghistorian.org/en/about#history-of-the-project) of our respective pages and add

[2020-06-25 16:02] DanielAlvesLABDH commented on #1818
Hi Sofia! Thanks. Will do that. We already incorporate those changes in the translated versions of that file.

[2020-06-25 16:39] spapastamkou commented on #1818
Great, thank you very much!

[2020-06-26 08:30] acrymble commented on #1814
Just noticing this morning that Matt appears a lot still on our service integrations page. https://github.com/programminghistorian/jekyll/wiki/Service-Integrations

So very much welcome this suggestion. Thanks everyone.

[2020-06-26 12:54] fdlaramee opened #1819 "Discrepancy between code and text in "Downloading Web Pages with Python""
As I was translating "Downloading Web Pages with Python" into French, I noticed two slight discrepancies between the code that was recently upgraded to Python 3 and the surrounding text, which was not changed accordingly:

* Module urllib2 from Python 2 has been renamed urllib in Python 3.
* A link to the module's official documentation on the Python web site still points to the deprecated Python

[2020-06-26 12:57] drjwbaker commented on #1819
@fdlaramee Just in case you hadn't noticed, please run through https://github.com/programminghistorian/jekyll/wiki/The-Programming-Historian-Digital-Object-Identifier-Policy-%28April-2020%29 before making changes to this article. MEs are aware of this, but I'm just reminding folks occasionally do that we don't annoy our DOI partner!

[2020-06-26 12:58] drjwbaker commented on #1819
(in this case, it sounds like a minor edit, so no issue re DOIs)

[2020-06-26 13:04] rivaquiroga commented on #1819
Thanks @fdlaramee. Just checked, and it also needs to be updated in the Spanish translation.
@drjwbaker, yes, it is a minor edit. Just removing one character + changing a link.

[2020-06-26 17:28] acrymble commented on #1770
Just a note to everyone on that @spapastamkou is now on sabbatical for a month. Please direct any relevant correspondence to @mariechristineb or the appropriate team leader.

[2020-06-26 17:32] acrymble commented on #1747
@rivaquiroga It looks like the action here has been agreed, yes? That the English and French teams will make efforts in future recruitment to bring on some bilingual team members and the other teams will help train in translation tasks? Can we close this then?

[2020-06-26 18:11] rivaquiroga commented on #1747
Sure!

[2020-06-26 18:11] #1747 closed, assigned to svmelton, spapastamkou, rivaquiroga

[2020-06-26 19:55] acrymble opened #1822 "Portuguese logo options"
The Portuguese team will need a logo (mentioned in #1802). I thought I'd help by putting together a small selection.

To make sure the colours match our current logo colour scheme and our brand guidelines (which specify the HTML colour codes: https://github.com/programminghistorian/jekyll/wiki/Brand-Guidelines) I've come up with two options available here. I came up with the colours using our exis

[2020-06-26 19:58] walshbr commented on #1822
Thanks for this. I wonder @acrymble - is there a Portuguese appropriate diacritical marking that might be used, in the same way that we did for the French and Spanish teams? Of course, we'll probably eventually run out of such markings if we keep using them for each new language. But I always thought that was a nice touch. You'd know better than I would if it wasn't appropriate or possible though.

[2020-06-26 20:00] acrymble commented on #1778
@DanielAlvesLABDH once you have finished the last tasks we can close this ticket. Then we can onboard another Portuguese team member (to keep you company!)

[2020-06-26 20:05] walshbr commented on #1802
I added that to the wiki template for this issue @jenniferisasi and updated Matt's checklist above.

[2020-06-27 06:52] arojascastro commented on #1822
"Portuguese makes use of five diacritics: the cedilla (ç), acute accent (á, é, í, ó, ú), circumflex accent (â, ê, ô), tilde (ã, õ), and grave accent (à, and rarely è, ì, ò, and ù)". : https://en.wikipedia.org/wiki/Portuguese_orthography

[2020-06-27 07:09] acrymble commented on #1822
I tried a cedilla previously and it looked terrible. I think it would have been best for French anyway given its presence in 'français'.

[2020-06-27 10:42] DanielAlvesLABDH commented on #1778
This process is concluded from my side. I would ask that @daniellesanchesDH (Danielle Sanches) be invited to be the next Portuguese team member for the onboarding process.

[2020-06-27 10:56] acrymble commented on #1778
@mariajoafana can I just confirm that you have Daniel's skype details so we can close the onboarding process?

[2020-06-27 13:16] JoshuaGOB commented on #1778
Hi @DanielAlvesLABDH congrats on finishing your on boarding. Would you like to do the onboarding for @daniellesanchesDH ? I’d like to walk you through it so you get that experience as well.

[2020-06-27 13:25] JoshuaGOB commented on #1822
Thanks for the options @acrymble and the website for creating the colors. I Was looking for something like that last week and couldn’t find it.

I mentioned the circumflex to @jenniferisasi as the communications expert and she agrees that shipped has sailed for the Portuguese team since stickers and promos for the French have already been out for a while. I wonder if @DanielAlvesLABDH has discusse

[2020-06-27 17:51] jenniferisasi commented on #1804
@acrymble just thought about it: Did they record your workshops and are they available? It would be nice to share them if so.

[2020-06-28 09:22] acrymble commented on #1804
No I'm afraid they weren't that type of workshop.

[2020-06-28 09:26] acrymble commented on #1822
Another possibility
![phpt](https://user-images.githubusercontent.com/646647/85943734-d2d20b80-b929-11ea-89e4-f80738150bd4.jpg)

[2020-06-28 09:30] arojascastro commented on #1822
some ideas...

![IMG_8469](https://user-images.githubusercontent.com/7340111/85943812-c0a89b00-b932-11ea-8256-af9383105b07.JPG)

[2020-06-29 12:29] DanielAlvesLABDH commented on #1778
Great @JoshuaGOB thanks. I would appreciate that. What is the first step?

[2020-06-29 15:08] #1370 closed, assigned to acrymble

[2020-06-29 17:18] DanielAlvesLABDH commented on #1818
We expect to start the process of uploading the translations of the first set of files mentioned in my first message during next week. Since my time is very limited until the end of July and I will have my vacations on August, I want to make sure that we finish this first set of files, including the choice of the logo (#1822), during next month. The Portuguese team has two members with a better ex

[2020-06-29 17:28] walshbr commented on #1818
@DanielAlvesLABDH - ultimately, you will want to open a new branch where you will upload your translations.  There are instructions here for doing so - https://github.com/programminghistorian/jekyll/wiki/Making-Technical-Contributions - that you should be able to follow, but let me know if you get confused.

Matt put placeholder versions of all the English texts into a folder here for you - https:

[2020-06-29 17:38] DanielAlvesLABDH commented on #1818
@walshbr very clear and helpful. Thanks! Just two clarifications. First, after we start the process you will stop editing those files, as indicated by Adam, correct? Second, after I create the branch can I share it with my colleagues so they can make the changes? The second question is due to my inexperience with GitHub. I'm guessing it is possible, just to make sure. In the end I will make the fi

[2020-06-29 17:49] walshbr commented on #1818
@DanielAlvesLABDH

1. sure, but since we're somewhat decentralized I'm not certain what the best approach would be for us to make sure no one makes changes to those files. @acrymble do you think letting the managing editors know is enough? We could also email the ProgHist list, which might be the most effective way to reach everyone.
2. Yep - that should be fine. Every pull request gets a link, li

[2020-06-29 17:54] jenniferisasi commented on #1818
@walshbr in reading this, don't we need to grant access / add the other editors to the repo before they can add/change anything on the branch Daniel will create? Since they have not done the onboarding yet, I'm not sure they would have permission to do changes

[2020-06-29 17:56] walshbr commented on #1818
@jenniferisasi yes that's a good catch! @DanielAlvesLABDH - the people on your team would need github accounts to be able to open pull requests as I described above.

[2020-06-29 19:14] DanielAlvesLABDH commented on #1818
@walshbr thanks! Very clear. The translation process has been done exactly as you suggested so we are on the right track. As for the comment from @jenniferisasi I can say that they both have GitHub accounts and experience with MD, so I think everything is set for us to start making those changes. Our schedule is next week but I will let everyone aware in advance.

[2020-06-29 19:16] walshbr commented on #1818
@DanielAlvesLABDH what are the github usernames of your collaborators that will be uploading documents / opening pull requests?

[2020-06-30 09:12] drjwbaker opened #1824 "ProgHist Ltd Board of Directors Meeting 26 August 2020"
## ProgHist Ltd Board of Directors Meeting 26 August 2020

Time is 9:00 AM - Mexico, Colombia; 10:00 AM - Ottawa, Philadelphia, Boston; 10:00 AM Chile; 3:00 PM - London; 4:00 PM - Paris and Berlin. @drjwbaker  will be facilitating the call.

Chair: @acrymble
Secretary: @drjwbaker
Members: @drjwbaker @svmelton @spapastamkou
Apologies: @amsichani @rivaquiroga
Minutes of the last meeting: [2020-02_Pr

[2020-06-30 10:43] acrymble commented on #1818
@DanielAlvesLABDH I think we're still not understanding each other fully. The pages you've been translated have already been altered because we never got word that you were translating them, so we didn't pause work on them. You can see on this page the time that's passed since the last changes https://github.com/programminghistorian/jekyll/tree/gh-pages/en.

If you don't say "Please stop work on p

[2020-06-30 10:50] DanielAlvesLABDH commented on #1818
@acrymble we are going to ask you to stop working on those files probably during next week and for at least 3 weeks.

[2020-06-30 10:56] acrymble commented on #1818
Great. We'll do our best to make that as easy as we can. Thanks @DanielAlvesLABDH

[2020-06-30 13:07] JoshuaGOB commented on #1778
Since @DanielAlvesLABDH is in contact here and in the Programming Historian google group I think we can close this and move on to the next team member.

[2020-06-30 13:07] #1778 closed, assigned to amsichani, mariajoafana, rivaquiroga, JoshuaGOB

[2020-06-30 13:09] walshbr commented on #1818
Thanks @acrymble

[2020-06-30 18:03] DanielAlvesLABDH commented on #1818
Hi @walshbr They are Aracele Torres, username aracele (aracele@protonmail.com), and Josir Gomes, username josircg (josircg@gmail.com).

[2020-06-30 19:54] walshbr commented on #1818
I added them both - they'll have to accept the invitation before they can submit a pull request. @DanielAlvesLABDH

[2020-06-30 21:11] #1819 closed, assigned to fdlaramee

[2020-07-01 08:00] drjwbaker commented on #1370
On reflection based on reaction to https://programminghistorian.org/posts/plan-s, I don't know that we need to comply with the "Requirements for Open Access Repositories" section, but I do think we need to have a workflow for depositing *with* a compliant Open Access Repository. I'll add this to my list and when I get some time, try to work through the detail. I do have some expertise here (I used

[2020-07-01 08:41] drjwbaker opened #1827 "DOAJ listing for ES and FR publications"
@acrymble's recent blog https://programminghistorian.org/posts/plan-s has resulted in the Directory of Open Access Journals reaching out with regards to getting our ES and FR journals listed. It looks like we'll have to go through the application process again, which isn't too onerous and I am happy to do.

We have, however, been asked a question that I'd like input on from MEs (@mariechristineb &

[2020-07-01 09:07] acrymble commented on #1818
@DanielAlvesLABDH @walshbr we really should be onboarding anyone given access to the repository. Otherwise we don't have a clear process for knowing who has access to what. Can we please open onboarding tickets for both?

[2020-07-01 10:55] rivaquiroga commented on #1827
@drjwbaker, I'll have an answer by tomorrow

[2020-07-01 11:02] drjwbaker commented on #1827
Thanks @rivaquiroga. Don't feel like you need to write too much on this.

[2020-07-01 13:03] walshbr opened #1829 "Onboarding for Aracele Torres"
This is an onboarding checklist for @aracele.

## Purpose of this checklist

This checklist is a GUIDELINES for use by anyone responsible for welcoming a new team member onto the project. It was originally written with lesson editors in mind. It therefore may need to be adjusted for people entering non-editing roles to ensure they have the training and support they need to become effective team me

[2020-07-01 13:04] walshbr opened #1830 "Onboarding for Josir Gomes"
This is an onboarding checklist for @josircg

## Purpose of this checklist

This checklist is a GUIDELINES for use by anyone responsible for welcoming a new team member onto the project. It was originally written with lesson editors in mind. It therefore may need to be adjusted for people entering non-editing roles to ensure they have the training and support they need to become effective team mem

[2020-07-01 13:08] walshbr commented on #1818
I opened those tickets @acrymble. It might be worth adding notes in the onboarding wiki about whose job that is in the future - I didn't know who to assign for those tickets or whose job it is to push that onboarding process along. It felt like global/team development, so I added those labels. Can you add the appropriate people and/or change the labels if I did it incorrectly?

[2020-07-01 16:24] drjwbaker commented on #1370
Note for later: our archive is publicly accessible at https://www.webarchive.org.uk/wayback/en/archive/*/http://programminghistorian.org/

[2020-07-01 17:11] JoshuaGOB commented on #1818
Hi @walshbr, my thinking is that the ME and the new publications manager would be the leads in opening the tickets and seeing them through. I think the labels you added are the right ones as well but please chime in @acrymble since it is the first time I go through this.

I had emailed @DanielAlvesLABDH as per his last message in #1778 to walk him through the onboarding for a different member. I'l

[2020-07-01 17:51] walshbr commented on #1818
Cool @JoshuaGOB - I'll assume that you and @DanielAlvesLABDH are in charge of those onboarding tickets then.

[2020-07-01 19:40] DanielAlvesLABDH commented on #1818
Hi to all. I have been following this thread but too busy this week because of a project meeting tomorrow. I will do the onboarding both of Aracele and Josir, but also for Danielle, the other editor of the Portuguese team. I will keep close contact with @JoshuaGOB about this process. I want to learn also by doing but my rhythm is slow because of all the other work. Thanks to you all!

[2020-07-01 21:23] #1804 closed, assigned to jenniferisasi

[2020-07-02 08:17] drjwbaker commented on #1370
Adding some intel from Johan Rooryck at cOAlition S:

- Helpdesk: "this is not applicable to journals, it only applies to repositories". This confirms my feeling that we can safely ignore section 2.
- Long term preservation: this is a requirement, but I think we already comply with Zenodo + UK Web Archive.
- SHERPA/RoMEO: "This is only strongly recommended, not a requirement". Note for https://git

[2020-07-02 08:38] drjwbaker opened #1831 "Archived by the UK Web Archive"
Shooting off from https://github.com/programminghistorian/jekyll/issues/1370, this isn't mandatory, but I think it would be nice to say that since 2018 regular archival snaps of our website have been made publicly available by the @ukwa at https://www.webarchive.org.uk/wayback/en/archive/*/http://programminghistorian.org/ (and thank them for that).

Any thoughts on where this should go?

Perhaps i

[2020-07-02 11:01] mariechristineb commented on #1827
@drjwbaker here are some thoughts on my side:
1. If I am not mistaken, we have one original lesson published at the moment (out of 10), and have received two proposals for original lessons. Our objective is to publish more original content in the future.
2. Our translations often contain additional resources in French, on top of the resources in the original, so there's extra research done on the

[2020-07-02 11:04] drjwbaker commented on #1827
Thanks @mariechristineb. I think capturing some of 2. is vital, so this is really helpful. We know translation isn't trivial, but sometimes it can be treated as such.

[2020-07-02 11:13] acrymble commented on #1827
if we're going to push against this we have to be clear that "research" and "work/effort" are not the same thing in the context in which we operate. We have to be really clear and open that we (generally speaking) are not publishing research findings. In the humanities that usually means an argument-driven, evidence-based answer to a research question.

That may apply to some of our articles that

[2020-07-02 11:23] drjwbaker commented on #1827
@acrymble The context of..

..really was about the ES and FR publications, so I very much read 'original research' as 'original papers', as opposed to being a comment about research. But I can clarify.

[2020-07-02 11:26] acrymble commented on #1827
No it's a general comment about a culture clash that I find a lot in DH projects which try to claim everything they do is 'research' without recognizing or necessarily understanding why all of their colleagues don't agree. We use the word in different ways, and in this case, the definition of the word I suspect DOAJ uses will be very different from the DH one. So if we're going to talk to them pro

[2020-07-02 11:40] drjwbaker commented on #1827
Okay. Notes. For the purposes of this ticket can we agree that the request for info on `original research the journal [ES/FR] publishes` equals in PH-land `original papers the journal publishes`.

[2020-07-02 11:50] acrymble commented on #1827
This is why they rejected the journal originally:

Original ticket for rejection: #897

So unless you address that specifically and persuasively, I don't think it will go our way. They aren't asking how much original content we produce. They want to see we produce original research.

[2020-07-02 11:53] drjwbaker commented on #1827
No, they've clarified that the ES publication was actually rejected because it didn't have an ISSN (even though it did!), so we are good on that count.

Edit: which was a surprise to me, as originally I read the rejection the same you did @acrymble!

[2020-07-02 19:37] svmelton opened #1833 "Footnote issue in Sustainable Authorship in Plain Text using Pandoc and Markdown"
The authors of [Sustainable Authorship in Plain Text using Pandoc and Markdown](https://programminghistorian.org/en/lessons/sustainable-authorship-in-plain-text-using-pandoc-and-markdown) alerted me to an issue with the footnote display. The footnotes cut off, and some of the footnote text appears in the section above.

I've looked through the markdown and can't see an obvious cause for the proble

[2020-07-02 19:52] walshbr commented on #1833
@svmelton - re: the text getting cut it looks like the footnotes in Spanish are differently formatted because the text of each footnote exists on a single line. Whereas for the English lesson the footnotes have some line breaks artificially introduced in the middle of the notes themselves. That's probably the culprit. Were you going to put together a pull request, or should I do so?

[2020-07-02 19:54] walshbr commented on #1833
(maybe worth mentioning what it is implicit in my last comment - that whoever translated this into Spanish did a good job of catching the error and fixing it 🥇 )

[2020-07-02 20:07] rivaquiroga commented on #1827
1. We currently have 45 lessons published; 4 of them are original lessons. It is important to note that since the first original lesson was published (May 2019), the ratio between this kind of lessons and translations has been 2 to 1.
2. Regarding translations, as Marie Christine says, the process involves suggesting additional resources in Spanish. When possible, it also involves adapting the exa

[2020-07-02 20:39] #1833 closed, assigned to svmelton

[2020-07-03 07:58] acrymble commented on #1817
We're moving towards a test on either #1777 or #1669 and will report to everyone when we know more about how it has gone. @svmelton will receive a recommendation in her role as ME and it will be her decision on how to proceed (fix or retire). We'll be doing this with our retirement and DOI policies in mind.

[2020-07-03 15:17] acrymble commented on #1794
In response to our blog post about Plan S I've now had a response to our approach and will follow up accordingly.

[2020-07-03 15:29] acrymble commented on #1794
I've re-submitted our information and asked them to confirm receipt and give an estimated timeline.

[2020-07-03 16:47] drjwbaker commented on #1827
@rivaquiroga This is very helpful. Thanks. Especially..

..which the ES team should also be super proud of.

If DOAJ get fussy, I'll make a point of that fact that the EN edition will "soon" contains lessons translated **from** ES/FR to EN, so if they want to no accept ES/FR on the grounds of unoriginality, they should consider kicking our the EN edition.

In short, my view is that we have all our

[2020-07-03 20:13] jenniferisasi commented on #1827
Just stopping by to say

I appreciate this solidarity.

[2020-07-04 10:11] acrymble commented on #1827
I'd like us to slow down on this ~~and put it on the agenda for our meeting~~. I've read their response to us in the Programming Historian Gmail and I don't agree with @drjwbaker 's reading of it. I also appreciate the offer of solidarity, but I don't think we should hastily move towards removing ourselves from key parts of the scholarly infrastructure (this came up a year ago too in #897). If we

[2020-07-04 10:31] drjwbaker commented on #1827
Okay. Perhaps I got a tad enthusiastic on throwing toys out of the pram. But I still an unenthusiastic about only having our EN publication listed in DOAJ.

Also note that the email thread also asks us to hold off from reapplying until we receive further instruction.

On `peer reviewed original research and/or review papers` I still believe that `research` is probably not the big issue you think i

[2020-07-04 19:28] acrymble opened #1835 "/Lessons page UX questions"
I've been spending some time with the /lessons page and there are a few things I wanted to raise about user experience that I'd suggest the tech team consider. They're largely little things about building in standards widely used on the web now (some of which are newer than our site).

- The 'Start Searching' box doesn't look like a search box to me. If you add the magnifying glass icon I think it

[2020-07-04 19:32] acrymble commented on #1802
@ZoeLeBlanc I most recently worked on the /project-team page so I think I can do the changes to add the Portuguese team without screwing anything up. Would you like me to do that or will that get in the way of your processes? We already have Daniel in there so there is content that would and should appear.

[2020-07-05 17:41] acrymble commented on #1827
I've done some reading and I think the AHA "Guidelines for the Professional Evaluation of Digital Scholarship by Historians" (2015) may provide us with a clear response IF we are again challenged on the research content of our journals as we were last time.

It states that the AHA definition of digital history is 'scholarship that is either produced using computational tools and methods or present

[2020-07-06 10:45] acrymble commented on #1817
Just keeping track of this old page on troubleshooting which is live but not linked anymore: https://programminghistorian.org/troubleshooting

A possible solution for reducing false bug reports, if reworked.

[2020-07-06 10:49] acrymble commented on #1830
Hi @josircg if you want to email me (adam.crymble@gmail.com) with your Google-enabled email address I can add you to Google Analytics so you can see our traffic stats.

[2020-07-06 10:49] acrymble commented on #1829
Hi @aracele if you want to email me (adam.crymble@gmail.com) with your Google-enabled email address I can add you to Google Analytics so you can see our traffic stats.

[2020-07-06 14:36] acrymble commented on #1794
I'm pleased to say that this has been approved and added to their database: https://v2.sherpa.ac.uk/id/publisher/62625

I have added this to the Wiki under service integrations https://github.com/programminghistorian/jekyll/wiki/Service-Integrations

@JoshuaGOB @drjwbaker I'm not sure where this falls in terms of remit. Is this a new publications or an archivist thing moving forward? We'll have to

[2020-07-06 14:36] #1794 closed, assigned to acrymble

[2020-07-06 14:48] fdlaramee commented on #1762
Bonjour @mariechristineb -- Oui, je pourrai le faire d'ici les prochaines semaines. Désolé de ne pas avoir répondu plus rapidement, il semble que je ne reçoive plus beaucoup de notifications de GitHub depuis le mois dernier. 😬

[2020-07-06 14:56] drjwbaker commented on #1794
Great work @acrymble. As archivist, I probably should be in charge of periodically checking that the info is up to date.

[2020-07-06 15:58] drjwbaker commented on #1827
@acrymble. Very kind of you to spend time digging into this. I don't find this boring at all.

[2020-07-06 18:45] aracele commented on #1829
Done! @acrymble Thank you!

[2020-07-07 14:42] acrymble opened #1837 "2020-2021 Goals"
I'd like to put an item on the next project team agenda where we can discuss project-wide goals to try to focus (particularly across teams) what we're all going to work together towards in the next year. In particular to avoid siloed working.

[2020-07-07 17:26] arojascastro commented on #1827
Sorry for jumping here but as Riva suggested I would argue that our translation are not literal, they are most of the time adaptations for a new audience or a remix. Translating is a creative task.

[2020-07-08 00:14] josircg commented on #1830
Hi folks. I'm very pleased to joint the PH team!

@jenniferisasi My twitter account is "@josir"
@mariajoafana skype account: live:josircg_1

[2020-07-08 20:40] josircg opened #1838 "Onboarding process: adding my bio to the repository"
As requested in #1830 I am adding my bio information in /data/ph_authors.yml
Could not add myself as assignees...

[2020-07-09 10:19] DanielAlvesLABDH opened #1840 "Onboarding Checklist for our Portuguese language publication editor Danielle"
This is an individual onboarding Managing Editor checklist for Danielle Sanches (@daniellesanchesDH) initially found [here](https://github.com/programminghistorian/jekyll/wiki/Onboarding-Checklist-for-New-Editors). Bem-vinda, Danielle!
---

## Welcome

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to

[2020-07-09 13:24] josircg commented on #1830
@ZoeLeBlanc my github account is josircg

[2020-07-09 14:06] JoshuaGOB commented on #1822
Hi all, I got some really cool options for the logo from @cloudyfemme Let me know what you all think.
https://ibb.co/B2QtpNg https://ibb.co/0FVWJ35 https://ibb.co/Rvnxbxh https://ibb.co/cYvfjq8 https://ibb.co/KrVz1Mt https://ibb.co/zHNt2Jp https://ibb.co/cYvfjq8
This one is my favorite so far:
![WhatsApp Image 2020-07-02 at 13 33 52 (1)](https://user-images.githubusercontent.com/36772647/87050071-

[2020-07-09 14:32] DanielAlvesLABDH commented on #1822
Dear all, we had today the meeting of the Portuguese team and among other subjects we already decide about the logo. This option presented by Adam with the little "t" near de "P" is the favorite, but the choice was for the mustard color scheme, if possible with the square brackets in white also. The choice was achieved by voting, so democracy rules...

[2020-07-09 15:11] DanielAlvesLABDH commented on #1818
Hi to all. As mentioned in the first message, the Portuguese Team is now on the position to start translating and uploading the core files of the PH platform. For now we will work on these files (Index.md, Lessons.md, Project-team.md, Feedback.md, Contribute.md, Privacy-policy.md, About.md, research.md, reviewer-guidelines.md, support-us.md and Editor-guidelines.md)(https://github.com/programmingh

[2020-07-09 16:20] acrymble commented on #1822
@DanielAlvesLABDH I've created them. As long as you like it all we need to do is convert these to .svg files and upload them here https://github.com/programminghistorian/jekyll/tree/gh-pages/images/logos . I don't have any software that can convert to svg. Can anyone help? I have Tif files but I can't post them here but I can email them to you.

![Screen Shot 2020-07-09 at 17 19 43](https://user-i

[2020-07-09 16:22] acrymble commented on #1669
@mariechristineb is going to test this for us as part of a 'bug testing' trial #1817 . She will make a recommendation to @svmelton about how we should proceed.

[2020-07-09 16:23] acrymble commented on #1817
The trial will take place on ticket #1669 and @mariechristineb is going to conduct it. She will make a recommendation to @svmelton as the Managing Editor. We will then report to the team how this test went.

[2020-07-09 16:44] spswanz commented on #1669
fwiw, I'm not sure this is long term fix with Mac switching from bash to zsh in Catalina OS, but I'm afraid I don't have more insight.

[2020-07-09 16:46] DanielAlvesLABDH commented on #1822
Thanks @acrymble . I don't have that type of software either.

[2020-07-09 18:38] aracele commented on #1822
Hi @acrymble if you email them to me I can try to convert it to svg format.

[2020-07-09 18:53] aracele commented on #1829
Hi @mariajoafana, my skype account is **araceletorres** and my twitter username is @araceletorres

[2020-07-09 19:01] acrymble commented on #1822
Thanks @aracele I've emailed them to you.

[2020-07-09 23:05] jenniferisasi commented on #1669
Will have to keep an eye on this together with @JoshuaGOB because we have a group of DHers in Argentina translating that lesson.

[2020-07-10 07:39] acrymble commented on #1669
@jenniferisasi in general it would be helpful for translating teams to inform us when lessons with bugs are being translated. That's an efficient way for us to address these problems. How can we make sure that information gets where it's needed?

[2020-07-10 10:09] acrymble opened #1841 "Project to track copyedited lessons"
All new original lessons will be copyedited. All lessons that have undergone major updates (eg bug fixes) will also be copyedited. It is likely that in the future it will be difficult to keep track of which lessons have already been copyedited and which have not. To ensure we don't waste money we need a clear way of tracking this.

I think the easiest way would be to add a metadata field "Copyedit

[2020-07-10 13:23] walshbr commented on #1841
Are you intending this to be displayed on the site somewhere @acrymble or otherwise use it somewhere in the site infrastructure? That would be a reason to track it on the lesson's metadata. Otherwise I think I would probably not use the metadata as a project management tool like this - it's sort of clunky, and it won't be easy to see at a glance what it is still left to do. Might make sense to jus

[2020-07-10 13:36] acrymble commented on #1841
@walshbr thanks. No it would not be displayed. As you say it's just for project management purposes.

I think the work associated with keeping this up to date would fall with either MEs or with @drjwbaker when we pay the bill for copyeditors. @drjwbaker maybe we should just keep track as part of our accounting processes? I think ME's jobs are already quite taxing.

[2020-07-10 15:07] walshbr opened #1842 "English Ombudsperson"
As raised at the recent editorial meeting, we need a new English ombudsperson. We'll need to:

- [x] Select a person
- [x] Add them to the project team page and other pages on the site
- [x] Update the associated templates on the ph-submissions page.

[2020-07-10 15:54] drjwbaker commented on #1841
That I like. We mostly need a place to refer to when articles come up for copyediting (e.g. when we make a major change per https://github.com/programminghistorian/jekyll/wiki/The-Programming-Historian-Digital-Object-Identifier-Policy-%28April-2020%29). I don't want us to accidentally pay twice to copyedit a lesson.

[2020-07-10 15:58] rivaquiroga commented on #1841
I like the idea of a project board!

[2020-07-10 16:58] svmelton commented on #1841
I think a project board makes a lot of sense, unless there's a specific
reason to track it in the metadata!

On Fri, Jul 10, 2020 at 11:59 AM Riva Quiroga <notifications@github.com>
wrote:

[2020-07-10 17:20] jenniferisasi commented on #1669
We were informed about the translation of this particular lesson long ago ([Jan 21](https://github.com/programminghistorian/ph-submissions/commit/af9779634408dfdb14d649f21edcc8e2363f4502#diff-4c3049e1135f65166558a4a02c537276) for March 30 but then covid19 happened); so the translation proposal arrived earlier than the bug notification... that to say we need to have a system to inform both ways (bu

[2020-07-10 18:47] walshbr commented on #1814
Going through this now. In terms of service integrations, I think reviewing of those in an abstract sense is already happening whenever someone leaves the team. But I updated our wiki to make that an official part of the retirement process.

[2020-07-10 19:21] walshbr commented on #1814
The most likely changes to affect our day-to-day work, I would think, would be changes to the user interface on places where we have screenshots. I went through the wiki, and these are the four pages where things are most likely to change:

https://github.com/programminghistorian/jekyll/wiki/Making-Technical-Contributions
https://github.com/programminghistorian/jekyll/wiki/Technical-Tutorial-on-Se

[2020-07-10 19:22] walshbr commented on #1814
I reviewed our technical documentation and screenshots for the "making technical contributions" wiki and documented the process here - https://github.com/programminghistorian/jekyll/wiki/Process-for-Reviewing-Internal-Technical-Documentation. I mostly just copied over relevant text from the above comment, noted when I last reviewed them, and made a note that this should probably be done once annua

[2020-07-10 19:24] #1814 closed, assigned to walshbr

[2020-07-11 14:42] acrymble commented on #1841
Thank you everyone for the suggestions. I will create a project board for this and we can see how that goes. Will be in touch if I need anyone.

[2020-07-11 21:05] DanielAlvesLABDH commented on #1829
Hi @aracele, since you already contribute to one open issue (about the logo) you can check the first technical task on the list. Maybe the second and third tasks can be related to the upload of the translation of one platform file as we talked about in our meeting. Um abraço e bom fim-de-semana!

[2020-07-11 21:11] DanielAlvesLABDH commented on #1830
Hi @josircg, since you already sent information about your Twitter and Skype accounts you can check those tasks on the communication list. Regarding the technical task "make a technical contribution on your own..." maybe it can be related also to the upload of the translation of one platform file as we talked about in our meeting, since you already have some experience with GitHub. But don't forge

[2020-07-13 18:09] josircg commented on #1830
Hi @ZoeLeBlanc, I don't have access to project yet.

[2020-07-13 19:40] badagbo1 opened #1846 "Broken link"
I encountered an error when I tried to navigate to The Programming Historian using this link: [PASTE URL HERE]

[2020-07-13 19:40] #1846 closed, assigned to nobody

[2020-07-14 22:49] josircg commented on #1830
Hi Daniel, just to make a follow up. I can't check it because I'm not a PH member yet. I need that someone send me another invite.

[2020-07-15 09:10] #1831 closed, assigned to drjwbaker

[2020-07-15 16:33] drjwbaker opened #1849 "Annual statistics on submissions, reviews, approval rate, time from submission to publication"
Notwithstanding @acrymble's forthright blog, I have - as promised https://github.com/programminghistorian/jekyll/issues/1370#issuecomment-652260114 - gone through the Plan S implementation ticket #1370 and believe that we currently meet all of the **mandatory** conditions with the exception of one, and at that a sub-clause. Specifically we do not comply with:

The question is, given that this is t

[2020-07-16 13:34] drjwbaker commented on #1830
@josircg I've tried adding you to the project repo as an editor, but I can't work out how to add you to the PT team. Sorry. This isn't something I normally do.

@ZoeLeBlanc Can you look at this please? You've taken the repo admin reins from Matt.

[2020-07-16 14:12] drjwbaker commented on #1671
Just documenting here that I'm a little confused.

Looking at the [guidance](https://www.gov.uk/guidance/how-to-write-your-charitys-governing-document), I know what we want to be (a charity company) and what we need (memorandum and articles of association), but I don't know if we need to change our articles of association for the Ltd or write new articles of association for the charity only. If we

[2020-07-16 14:58] josircg commented on #1830
I got the invitation finally!
Thanks for the support @drjwbaker and @DanielAlvesLABDH

[2020-07-16 15:02] josircg commented on #1830
@acrymble my gmail account for the google group is josircg@gmail.com

[2020-07-16 15:11] drjwbaker commented on #1830
@josircg I've worked out that to do this properly, you need to be added to https://github.com/orgs/programminghistorian/people (to which only @ZoeLeBlanc & @walshbr are admins) then we can add you to the jekyll repo as part of the PT team. But in the meantime you have 'outside collaborator' access to the jekyll repo, which should give you what you need.

[2020-07-16 16:42] rivaquiroga commented on #1776
@walshbr, what do do think about adding this update to https://github.com/programminghistorian/jekyll/pull/1844?

[2020-07-17 09:26] daniellesanchesDH commented on #1840
@drjwbaker @ZoeLeBlanc  Hi Zoe and James, I'm delighted to be part of this project!! This is my Github account @daniellesanchesDH. Please, add me to the PH Team.

[2020-07-17 09:28] daniellesanchesDH commented on #1840
This is my twitter account: @dani_sanches

[2020-07-17 09:30] daniellesanchesDH commented on #1840
Hi @mariajoafana my Skype account is: daniellesanchesdealmeida

[2020-07-17 11:35] walshbr commented on #1830
Should be fixed now.

[2020-07-17 11:38] walshbr commented on #1776
That seems fine to me - you want pull requests to do a distinct thing, but it's also probably annoying to get multiple translation requests at the same time. We might as well combine them into one branch. If make the change on the branch that the pull request is using it should show up in the pull request feed. but let me know if it doesn't work.

Also note that we're not merging that in for a lit

[2020-07-17 12:08] DanielAlvesLABDH commented on #1830
@josircg don't forget to send an email via Google Groups and check that task in the communication checklist. I think it's what is missing from your side to finish the onboarding process. Um abraço!

[2020-07-17 12:18] #1822 closed, assigned to DanielAlvesLABDH

[2020-07-17 12:30] acrymble commented on #1835
@ZoeLeBlanc @programminghistorian/technical-team I haven't heard anything here, and I'm not sure what your new workflows are, so I'm not sure how to proceed. If you can let me know that would be very helpful.

[2020-07-17 13:09] josircg commented on #1830
I don't have access to Google Groups yet. :( I am waiting for @jenniferisasi

[2020-07-17 15:56] acrymble commented on #1817
@mariechristineb has now submitted her recommendation to @svmelton who will make a decision on the particular issue. We'll then be able to report to the team on the bug assessment process.

[2020-07-17 16:08] acrymble commented on #1841
@drjwbaker I don't think I have a copy of the invoices because I think they're offline or a way to identify which lessons they were attached to. Can you point me to the info so I can add them to the project cards?

[2020-07-17 16:28] drjwbaker commented on #1841
The invoices don't say which articles were copyedited. But I know only three have been copyedited.

[2020-07-17 16:39] Bibliojo opened #1850 "Marc.py problem (for me) in Data Mining the Internet Archive Collection"
If you are reporting a problem with a lesson, please try to provide us with the following information:

- The full title of the lesson:  Data Mining the Internet Archive Collection
- The system you are using (Mac, Linux, Windows) : MacOS Catalina 10.15.5
- Version numbers of the relevant software you are using:  Python3 (Python 3.8.3 (v3.8.3:6f8c8320e9, May 13 2020, 16:29:34)
- The exact steps you

[2020-07-17 17:45] dstentiford opened #1851 "This command is incorrect. It should be: `$ pandoc main.md --filter pandoc-citeproc -o main.docx`"
This command is incorrect. It should be: `$ pandoc main.md --filter pandoc-citeproc -o main.docx`

_Originally posted by @dstentiford in https://github.com/programminghistorian/jekyll/pull/1834_

[2020-07-18 06:31] acrymble commented on #1841
Which three?

[2020-07-18 06:42] drjwbaker commented on #1841
I don't know @acrymble as I don't really get involved in editing. I'd expect that relevant ME would know.

[2020-07-18 06:54] acrymble commented on #1841
@svmelton can you let us know which lessons have already been copyedited?

@drjwbaker in future can you send back invoices that don't have the lesson title on them?

I've updated the copyeditors wiki page to reflect the need to include this information in invoices. https://github.com/programminghistorian/jekyll/wiki/Copyeditors

[2020-07-18 12:13] walshbr commented on #1835
Thanks for these good suggestions! As per https://github.com/programminghistorian/jekyll/wiki/Technical-Team, we generally to take on one feature request every four months if we can. We haven't had a tech team meeting since Matt left recently, so we could discuss then. I feel like the current priority, for me at least, is to support the PT team coming on.

But, in general, I think the workflow wou

[2020-07-18 13:27] acrymble commented on #1835
Thanks for responding @walshbr. Since I haven't asked for the tech team to do the work (I said I could try myself), does that make this a communication issue instead of a tech one?

[2020-07-18 15:12] walshbr commented on #1835
Yeah that would probably make sense! Can always help troubleshoot if you or the comms team run into issues.

[2020-07-18 16:40] jenniferisasi opened #1852 "Move translation concordance and retirement policy pages to footer"
Opening this ticket to move two current pages on the menu to the footer to declutter the menu as per decisions in the Communication Team.

For
- https://programminghistorian.org/en/lesson-retirement-policy
- [x] add new snippet under footer
- [x] call to menu-contribute-retirement in snippets
- [x] find new icon
- [x] take down page from menu
--- will this break the link?

- https://programminghis

[2020-07-18 17:38] svmelton commented on #1841
Yup, here are the 3:

- [Running a Collaborative Research Website and Blog with Jekyll and GitHub](https://github.com/programminghistorian/ph-submissions/issues/278)

- [Understanding and Using Common Similarity Measures for Text Analysis](https://programminghistorian.org/en/lessons/common-similarity-measures)

- [Working with batches of PDF files](https://programminghistorian.org/en/lessons/worki

[2020-07-18 18:54] svmelton commented on #1776
Sorry for missing this earlier, but it looks good to me!

[2020-07-19 08:21] acrymble opened #1855 "Improve onboarding efficiency by empowering Joshua more"
It's become clear that our onboarding process for new members is too distributed and thus very inefficient (and possibly frustrating for new members).

To improve that we're going to make @JoshuaGOB an administrator on more of the services that people need to be registered with so that they can liase with him directly to get everything set up. This should reduce how long onboarding takes and means

[2020-07-19 08:30] acrymble commented on #1841
Thanks @svmelton . For now I can volunteer to administer this to keep another task off your plate (maybe we can think of a more automated option in future). So I can do that can you just make sure to CC me in when lesson copyediting requests go to @drjwbaker so I know to add a card?

Open to alternative suggestions.

[2020-07-19 08:52] #1841 closed, assigned to acrymble

[2020-07-19 12:12] walshbr commented on #1855
@acrymble did you want to give @JoshuaGOB GitHub admin rights as well? As I mentioned by email, I think that'd be fine. But @ZoeLeBlanc can weigh in on whether or not she is alright with loosening our security slightly. @ZoeLeBlanc - Josh would just be adding people to the repo.

[2020-07-19 12:18] acrymble commented on #1855
Would be great if we could.

[2020-07-19 13:56] JoshuaGOB commented on #1855
All of these are useful and I'd only be using them in the event of onboarding an editor. Thanks @acrymble for suggesting this.

[2020-07-19 14:03] acrymble commented on #1855
Great. I'll close the ticket. Maybe @walshbr you can raise that wider query about access to Github admin at your next tech team meeting and we can proceed accordingly.

[2020-07-19 14:03] #1855 closed, assigned to acrymble, JoshuaGOB

[2020-07-19 15:10] acrymble commented on #1850
@Bibliojo I'm not sure we're going to be able to help you here, as you say you've made amendments to the instructions to try something different. You could try reaching out to the author of the lesson, but unless there's a bug in the instructions, that's not something we'll have the answer to.

[2020-07-19 15:13] walshbr commented on #1855
Will do @acrymble

[2020-07-19 15:56] mariajoafana commented on #1840
Welcome @daniellesanchesDH ! I just invited to our Skype group. Here is the info of our next meeting: https://github.com/programminghistorian/jekyll/issues/1788
The call is mainly for team leaders and optional for the rest of the team, but please let me know whether you will attend or not.

[2020-07-19 15:57] mariajoafana commented on #1830
Welcome @josircg ! I just invited to our Skype group. Here is the info of our next meeting: https://github.com/programminghistorian/jekyll/issues/1788
The call is mainly for team leaders and optional for the rest of the team, but please let me know whether you will attend or not.

[2020-07-19 15:57] mariajoafana commented on #1829
Welcome @aracele ! I just invited to our Skype group. Here is the info of our next meeting: #1788
The call is mainly for team leaders and optional for the rest of the team, but please let me know whether you will attend or not.

[2020-07-19 16:11] JoshuaGOB commented on #1830
Hi @josircg I and @DanielAlvesLABDH will be getting in touch about the shadowing plan soon.

[2020-07-19 16:19] JoshuaGOB commented on #1829
Hello @aracele
@DanielAlvesLABDH and I will be in touch soon about setting up your shadowing plan.

[2020-07-19 17:16] svmelton commented on #1850
Additionally, I'd suggest trying Stack Overflow or other online forums—someone has likely had the same issue before!

I'm going to close this, as it doesn't seem that this is a bug in the lesson instructions.

[2020-07-19 17:16] #1850 closed, assigned to svmelton

[2020-07-20 10:50] DanielAlvesLABDH commented on #1840
Hi @daniellesanchesDH don't forget to check the tasks already completed in the communication and technical sections above. Obrigado!

[2020-07-20 11:03] drjwbaker commented on #1788
# ProgHist Ltd Report

By: @drjwbaker
Date: 20 July 2020

Financial Summary:

- Healthy. We've come a long way in 7 months.
- 4x IPP members https://programminghistorian.org/en/support-us#institutional-partner-programme
- Patreon steadily growing https://www.patreon.com/theprogramminghistorian

Substantive Actions Completed Since Previous Report:

- We ran our first AGM https://github.com/programm

[2020-07-21 08:43] drjwbaker commented on #1814
@walshbr Thanks for setting this up.

Bit late the conversation (sorry!), but does anyone have knowledge of https://github.com/programminghistorian/jekyll/blob/gh-pages/_layouts/crossref.xml & https://github.com/programminghistorian/jekyll/wiki/How-to-Request-a-new-DOI sufficient to make a change to the former if step 6 of the latter (validation errors) were to occur?

If not, perhaps it can go on

[2020-07-21 11:32] walshbr commented on #1814
I think the tech team could figure that out @drjwbaker. I added it to the technical documentation review as something for us to keep track of though.

[2020-07-21 12:54] drjwbaker commented on #1814
Thanks @walshbr. I kinda assumed we'd have enough knowledge in the group to generate some standardised .xml, but didn't want to assume it was in hand. I appreciate @programminghistorian/technical-team documenting this and keeping an eye on it.

[2020-07-22 08:52] acrymble opened #1856 "Job Description for potential future paid role"
As per our recommendations from Penny Andrews and the ProgHist ltd business plan, the ProgHist team is currently working on a suggested (very) part time job within the team that will take on a range of tasks currently undertaken by volunteers. What those tasks are and exactly how this will work will be a matter of discussion across a range of teams. For transparency we will attempt this in the fol

[2020-07-22 09:45] acrymble commented on #1835
I'm going to take this internally to the Comms team for consideration more broadly. So I will close the ticket and maybe the results will re-appear in our #1837 2020-2021 goals agenda.

[2020-07-22 09:45] #1835 closed, assigned to acrymble

[2020-07-22 11:04] DanielAlvesLABDH commented on #1840
Hi @walshbr and @drjwbaker ! Could you please give @daniellesanchesDH access to the PH Github Repository so that she can move forward in the onboarding process? Thanks / Obrigado

[2020-07-22 11:07] walshbr commented on #1840
Done. Also note that the invitations have a seven-day time limit, after which we'd need to re-invite if they haven't accepted.

[2020-07-22 16:39] mariajoafana commented on #1525
Hi @ZoeLeBlanc, what is the status of this? Let us know if you need some support

[2020-07-22 16:49] mariajoafana commented on #1662
Hi @walshbr shall we contact @archaeocharlie via email regarding this?

[2020-07-22 16:50] mariajoafana commented on #1669
I think that is good idea @jenniferisasi

[2020-07-22 16:56] mariajoafana commented on #1672
Following up on this, @svmelton have you had a chance of removing the paragraph from the English-language lesson?

[2020-07-22 16:59] mariajoafana commented on #1681
Just passing by to ask how shadowing practice is coming along and if anyone needs any support

[2020-07-22 17:00] mariajoafana commented on #1695
@jamotilla incorporé las correcciones que mencionaste y queda pendiente añadir la parte de puntuación y mayúsculas de la RAE

[2020-07-22 17:13] mariajoafana commented on #1712
I will bring this up in the next Project Team meeting. This could be stated in the editorial guidelines as something like this:

If the lesson requires substantial computing resources we recommend adding an alert warning explaining the specific resources needed. (e.g. you will need at least 8GB of ram to finish this lesson).

[2020-07-22 17:19] mariajoafana commented on #1737
I'll this issue for discussion in our next meeting

[2020-07-22 17:34] mariajoafana commented on #1777
Lets bring this up in the next Project Team meeting

[2020-07-22 17:46] mariajoafana opened #1857 "Wiki page for saving tickets for the future"
In the last Project Team meeting, we discussed the follow up of older tickets to identify avenues of support. It was also suggested that we created a Wiki idea for saving tickets for the future or to identify any tickets that don't have a clear 'team' behind them.

Once someone proposes an enhancement to the project it is often the case that no one can take the lead to make it happen, but they are

[2020-07-22 18:25] aracele opened #1858 "Adding my bio and avatar"
As part of my onboarding process (issue #1829), I'm adding my bio and my avatar to be included in the Project Team page.

[2020-07-22 20:25] #1830 closed, assigned to JoshuaGOB, DanielAlvesLABDH

[2020-07-22 20:25] #1838 closed, assigned to josircg

[2020-07-22 20:37] walshbr commented on #1662
@mariajoafana - @svmelton said on slack that she would reach out.

[2020-07-22 20:52] aracele commented on #1829
Hi @mariajoafana  Thank you! I've already accepted the invitation. Well, considering it's not mandatory, I prefer not participate since I'll be busy next week. :)

[2020-07-23 13:34] #1858 closed, assigned to aracele

[2020-07-23 14:06] jenniferisasi commented on #1852
Pull request merged

[2020-07-23 14:06] #1852 closed, assigned to acrymble, jenniferisasi

[2020-07-23 14:17] jenniferisasi opened #1860 "Display DOI on lesson header metadata"
Per discussion with Comms team and as suggested by @arojascastro, we will display the DOI number at the beginning of each lesson on the metadata header.

[2020-07-23 23:11] ZoeLeBlanc commented on #1802
Go ahead and make the changes to project-team page @acrymble and I'll take a look at what's left to be done once you do your PR. Thanks!

Seems like it's just the full-text and making pages public though according to the to-do list, which should be easy.

[2020-07-24 12:27] walshbr commented on #1857
We have a version of this on the bottom of the technical team wiki - https://github.com/programminghistorian/jekyll/wiki/Technical-Team. Does make sense to keep track for the project as a whole.

[2020-07-26 00:33] svmelton commented on #1662
I've dropped @archaeocharlie a note!

[2020-07-26 01:06] #1851 closed, assigned to svmelton

[2020-07-26 01:07] svmelton commented on #1842
Just a quick update that I've made some inquiries and will hopefully have more news soon!

[2020-07-26 01:09] #1672 closed, assigned to svmelton

[2020-07-26 11:22] acrymble commented on #1789
We only have one outstanding action here, which is about appointing new English editors. Since our meeting is in a couple of days, I'm going to roll this over to the next agenda (#1788)

Thanks everyone for completing your actions.

[2020-07-26 11:22] #1789 closed, assigned to acrymble, mariajoafana

[2020-07-26 11:24] acrymble commented on #1761
Is Cloudflare still with Matt or did we take that over? That's the only thing left.

[2020-07-26 17:45] aracele opened #1863 "Typo in the author guidelines page"
I've found a typo in the  author guidelines page: https://programminghistorian.org/en/author-guidelines.
In the last section **Holding Us to Account**, where it can be read:

"that the review **proess** has been unnecessarily delayed"

I believe the correct word is **process** instead of **proess**, right?

[2020-07-27 00:13] #1863 closed, assigned to aracele

[2020-07-27 08:01] acrymble commented on #1770
Welcome back @spapastamkou. We hope you're well rested. I'm sure it will take you some time to get back involved, so I will leave this ticket open for a few days as a reminder of some of the things you may have been working on (or you can close it). A reminder also that we have a team call on 28 July #1788

[2020-07-27 22:59] rivaquiroga commented on #1788
## Spanish Team Report

By: @rivaquiroga
Date: 27 July 2020

**Substantive Actions Completed Since Previous Report**

- One original lesson from the Bogotá Workshop published: ["Introducción a Map Warper"](https://doi.org/10.46430/phes0048)
- One translation published: ["Georreferenciar con QGIS"](https://doi.org/10.46430/phes0047)
- One translation ticket archived.

These three tickets were opene

[2020-07-28 00:25] jenniferisasi commented on #1788
## Comms Team Report

By: @jenniferisasi
Date: 27 July 2020

**Substantive Actions Completed Since Previous Report**

- 2nd Newsletter of the year published
- Moved lesson-retirement-policy and translation concordance pages to footer
- onboarded new members to comms platforms

**Substantive Actions Remaining Open Since Previous Report**

- Add DOI numbers on lesson header #1860
- UX changes
- Annu

[2020-07-28 00:40] jenniferisasi opened #1865 "Broken link in support us"
I found a broken link within the Support us page:

- Our [Institutional Partner Programme] members:

Wrong: https://programminghistorian.org/en/en/support-us#institutional-partner-programme

Correct: https://programminghistorian.org/en/support-us#institutional-partner-programme

Will try to fix it myself.

[2020-07-28 01:53] JMParr commented on #1788
Global Team Report
By: @JMParr
Date: 27 July 2020

Global initiatives have been delayed due to the unanticipated Pandemic, and the sabbatical of @JMParr due to additional COVID-related demands on teaching, etc.  @JoshuaGOB has been heavily engaged in helping to bring The Portuguese Team on board and get them up to speed. Initiatives have included:

- Discussions about funding, including how the pa

[2020-07-28 02:05] svmelton commented on #1788
## EN Team Report

By: @svmelton
Date: 27 July 2020

**Actions Since Last Report**

- Three new editors will be joining PH English! (Sylvia Fernandez, Alex Wermer-Colan, and Nabeel Siddiqui) The onboarding process will begin in the upcoming weeks.

- One lesson has just passed peer review: [OCR and Machine Translation](https://github.com/programminghistorian/ph-submissions/issues/285)

- One lesso

[2020-07-28 02:31] ZoeLeBlanc commented on #1761
Still need to take it over! I'll message Matt this week.

[2020-07-28 03:36] ZoeLeBlanc commented on #1525
Thanks! @mariajoafana I'm taking this issue over and will be looking over the previous code this week.

[2020-07-28 05:04] ZoeLeBlanc commented on #1788
# Technical Team Report

By: @ZoeLeBlanc

Date: 28 July 2020

Substantive Actions Completed Since Previous Report:

- #1767  Lessons' banners layout. Completed by @amsichani
- (From our tech team meeting in June and #1787) #1814 Process for Reviewing Internal Technical Documentation. Completed by @walshbr

Substantive Actions Remaining Open Since Previous Report:

- Complete Matt Lincoln's retirem

[2020-07-28 10:16] #1669 closed, assigned to svmelton

[2020-07-28 10:29] acrymble commented on #1817
The pull request with the fix has now been merged.

[2020-07-28 11:11] DanielAlvesLABDH commented on #1788
Portuguese Team Report

By: @DanielAlvesLABDH
Date: 28 July 2020

Substantive Actions Completed Since Previous Report

- Three editors have come on board: Aracele, Josir, and Danielle
- We have a logo!
- Began translation on the following pages: Index.md, Lessons.md, Project-team.md, Feedback.md, Contribute.md, Privacy-policy.md, About.md, research.md, reviewer-guidelines.md, support-us.md and Edi

[2020-07-28 13:07] mariajoafana opened #1867 "Idea for PH sponsored workshops"
A twitter conversation sparked the idea among the Spanish team of organizing an online PH-sponsored workshop about Python for beginners. After discussing it across the Spanish team and with James and Adam, we thought that makes sense to discuss how important this idea might be across the project.

In Spanish-team we believe that organizing online workshops is a way of reinforcing the presence of P

[2020-07-28 13:37] fdlaramee commented on #1788
Apologies, I will not be able to attend today's meeting. Best regards, FDL.

[2020-07-28 13:47] spapastamkou commented on #1788
FR Team Repoty

By: @spapastamkou
Date: 28/07/20

---

Actions Completed Since Previous Report:

Translations: 3 out 5
Translations Editions: 2 out 4
Translation Reviews: 2 out 5 (1 published and 1 to be published)

Actions Remaining Open Since Previous Report:

Translations: 2
Translation Editions: 2
Translation Reviews: 3

(not really in the privious report):1original lesson proposal is in progr

[2020-07-28 13:50] spapastamkou commented on #1763
Not much lack here after contacting a 2nd possible candidate.

[2020-07-28 13:57] JoshuaGOB commented on #1788
Hi @DanielAlvesLABDH I added some of the items that were scattered in emails and tickets to your report so that we could have them in the same place. Hope that's okay.

[2020-07-28 14:28] drjwbaker commented on #1791
Note from https://github.com/programminghistorian/jekyll/issues/1788 that there are 22 members of the PT team, and I'm assuming they are not all will be 'full' editors, so it looks like we are comfortable with this.

This links to https://github.com/programminghistorian/jekyll/issues/1818

[2020-07-28 14:30] drjwbaker commented on #1788
@DanielAlvesLABDH further to your comment in this meeting, it sounds like there is project/funding support for the PT team. Should this be recognised in our 'Supporters' section? https://programminghistorian.org/en/support-us#supporters (sorry if this has already been covered elsewhere)

[2020-07-28 14:34] drjwbaker commented on #1849
I note @jenniferisasi that you've added this to the Comms Team report for #1788. I should make it clear that by tagging this as 'Communication' I'm not assuming I'll be handling this to you. I'm happy to work on this if we collectively want to work on this.

[2020-07-28 14:37] DanielAlvesLABDH commented on #1788
That is fine, Perfect! Thanks

[2020-07-28 14:38] drjwbaker commented on #1788
@ZoeLeBlanc I use LastPass. And yes, I like this idea. The only issue I find is actually remembering the LastPass password (I keep managing to forget mine......)

[2020-07-28 14:39] #1865 closed, assigned to jenniferisasi

[2020-07-28 14:41] DanielAlvesLABDH commented on #1788
Yes, that is something that we plan to do. But the project didn't start yet officially because of the pandemic. Thanks

[2020-07-28 15:02] drjwbaker commented on #1788
@mariajoafana Now we have SO much amazing going on, and especially with a fourth language team, I'm wondering if we need to make more time to discuss issues that team members think we need time to discuss in a whole team meeting (especially `policy` tickets https://github.com/programminghistorian/jekyll/wiki/Programming-Historian-Governance). This is not a criticism of your chairing, rather I feel

[2020-07-28 15:13] drjwbaker commented on #1867
Can I add that given that conference travel restrictions are likely to be in place for some time, one idea is to use funds we would have spent and be spending (~$200 per year) right now on conference stickers https://github.com/programminghistorian/jekyll/issues/1629 on workshops. So there is a short term thing here (replacing some of the sticker goodwill with some workshop goodwill) to go with th

[2020-07-28 15:18] mariajoafana commented on #1788
Yes @drjwbaker I agree that is not entirely productive in terms of discussing issues to devote all meetings to go through the reports. We can have each team leader upload their report for every meeting but only go through the report every other meeting. We can try this out in the September call, ask Team leaders to add tickets that need discussion, and then go through the reports again in the Nove

[2020-07-28 15:19] drjwbaker commented on #1867
To add, we don't have enough money right now to subsidise 4x workshops per year as a sustainable activity (spending priorities are at https://github.com/programminghistorian/jekyll/issues/1788#issuecomment-660959706), but if we think it is worth the effort, if we have the capacity to do this, and if it can become part of our income generation activity, the Ltd is there to try to help make things l

[2020-07-28 15:21] drjwbaker commented on #1788
Fab. So November will be a 'report' focused meeting, is that your meaning?

[2020-07-28 15:26] acrymble commented on #1867
@mariajoafana I think a workshop like this would be very 'fundable' from potential donors. Either a research centre or a department. Have you explored that option within the network of your team? I ask because this is also a good way to build relationships with external partners. Especially since the amount of money is quite small.

[2020-07-28 15:33] acrymble opened #1868 "Actions Arising - Project Team meeting 28/07/2020"
The following actions have arisen from the July 2020 Project Team Meeting

- [x] @mariajoafana & @rivaquiroga to draft copyediting ES guide by next meeting #1635
- [ ] @svmelton to onboard 3 new editors
- [ ] @svmelton to discuss w English team about appointing a deputy editor (@acrymble to support if needed)
- [x] @acrymble to support @spapastamkou on expanding French team capacity
- [x] @DanielA

[2020-07-28 15:51] acrymble commented on #1837
I am sending around a doodle poll to team leaders (non-language teams) to have an initial meeting about this.

[2020-07-28 16:05] drjwbaker commented on #1761
@ZoeLeBlanc now has the shared gmail password. Service integration updated https://github.com/programminghistorian/jekyll/wiki/Service-Integrations

[2020-07-28 16:20] ZoeLeBlanc commented on #1761
Thanks @drjwbaker! Just tried signing in and it's asking to verify using a phone?? Is that yours @drjwbaker or @acrymble ? Let me know so I can get verified, thanks!!

[2020-07-28 16:23] acrymble commented on #1761
I think it's mine?

[2020-07-28 16:24] ZoeLeBlanc commented on #1761
I think my initial request has probably expired. @acrymble can I try again and have you approve the request? Also let me know if you aren't getting the requests. thanks!

[2020-07-28 16:43] acrymble commented on #1761
@ZoeLeBlanc I haven't received any messages on the phone. You can try again.

[2020-07-28 16:57] acrymble commented on #1761
@ZoeLeBlanc I approved a suspicious login email so hopefully you can get in now