[2020-01-25 00:43] rivaquiroga commented on #1633
Congratulations! :rocket:

[2020-01-25 12:36] mdlincoln commented on #1638
No, they should stay there so the URL remains the same. I need to edit our configuration file so that files stored in `es/retiradas` will be processed appropriately. Will do a PR shortly.

[2020-01-26 10:03] acrymble commented on #1622
I have an old Google Adsense account with $65 sitting in it. It's never reached the minimum $100 payment threshold so I've never seen any of the money. I'm happy to donate it to the project if we use that account to reach $100 and then close it down and use another service. But @mdlincoln that may be a non-starter if you're worried about privacy and cookies. Let me know.

[2020-01-26 11:04] #1638 closed, assigned to mdlincoln

[2020-01-26 13:51] mariechristineb opened #1642 "PH-FR 3M Planning 2020/1"
Here is the upcoming FR 3-month plan (February-April):

### Translations
- [ ] Sustainable Authorship in Plain Text using Pandoc and Markdown (Marie-Christine) (expected end of May)
- [x] Introduction to Jupyter Noteboks (FDL)
- [ ] From Hermeneutics to Data to Networks: Data Extraction and Network Visualization of Historical Sources (Martin) (left from #1469)
- [x] Setting Up an Integrated Develo

[2020-01-26 13:58] mariechristineb commented on #1642
@spapastamkou Should we transfer the unfinished tasks form the previous 3M plan here and close the older ticket?

[2020-01-26 15:55] spapastamkou commented on #1642
Thank you @mariechristineb. Let's keep the previous planning ticket open until our forthcoming meeting end of January; we'll be done with all the editions until then (or almost) and we can transfer the rest if any. I'll update in some days and check before closing it.

[2020-01-27 10:54] acrymble commented on #1443
@rivaquiroga this seems stuck.

[2020-01-27 10:54] acrymble commented on #1489
Closing this as the post has been appointed.

[2020-01-27 10:54] #1489 closed, assigned to drjwbaker

[2020-01-27 10:56] acrymble commented on #1628
If anyone has @ZoeLeBlanc 's email, please contact her and let her know I need her to touch base. I've tried every venue I have.

[2020-01-27 14:12] #1590 closed, assigned to mdlincoln, ZoeLeBlanc

[2020-01-27 16:37] jenniferisasi commented on #1443
@acrymble, quick note to say that we are discussing it via email.

[2020-01-27 16:38] jenniferisasi commented on #1635
Quick note to say that we are discussing via email.

[2020-01-27 20:12] #1570 closed, assigned to walshbr

[2020-01-27 20:50] ZoeLeBlanc commented on #1628
@acrymble just replied via email. Sorry for the delays, it's been a crazy few weeks and your email slipped through the cracks! Thanks for following up though 😊

[2020-01-27 20:50] #1628 closed, assigned to ZoeLeBlanc

[2020-01-28 08:48] acrymble commented on #1525
Some of the new apps for learning languages such as Duolingo have fairly simple and intuitive ways of representing this progress. You might want to take a quick look at some of that competition. Things like 8/10, or a progress bar graphic.

[2020-01-28 13:19] drjwbaker commented on #1593
Added to [wiki](https://github.com/programminghistorian/jekyll/wiki/Spending-Requests). Closes unless anyone objects!

[2020-01-28 13:19] #1593 closed, assigned to drjwbaker

[2020-01-28 14:32] acrymble commented on #1615
@spapastamkou It looks like a blog post is all that's left. Are you happy to do this?

[2020-01-28 15:37] drjwbaker commented on #1594
@acrymble @amsichani @spapastamkou @drjwbaker @svmelton @rivaquiroga: I polite reminder about this meeting on 13 Feb. Managing Editors: you are unable to make it, please consider nominating a representative from your team.

[2020-01-28 17:50] spapastamkou commented on #1615
I've been waiting to have the bio elements. Maybe you have planned to send them in the coming days, @mariechristineb? Once I have them, I will be happy to write the blog post.

[2020-01-28 18:52] mariechristineb commented on #1615
Ah, yeah - @spapastamkou I've been meaning to ask about that because I remember seeing a message on that topic and I couldn't figure out where: What kind of bio information do you need? How general vs. detailed should it be?

[2020-01-28 19:51] spapastamkou commented on #1615
Just sent an email:-) @mariechristineb

[2020-01-29 00:12] mjlavin80 opened #1645 "Suggested update to "Analyzing Documents with TF-IDF""
@ZoeLeBlanc I'm wondering if it would be possible to add a small detail to my lesson on TF-IDF. In my mention of Karen Sparck Jones, originator of the algorithm, I would love to add that Jones was actually part of the New York Times's ["Overlooked" obituary series](https://www.nytimes.com/2019/01/02/obituaries/karen-sparck-jones-overlooked.html). She was included in January 2019, which is about wh

[2020-01-29 01:00] mdlincoln opened #1646 "make a cheat-sheet for editors on escaping quotes / special characters"
We need to put strings in to a lot of places:

- YAML
- markdown
- html inside markdown
- code blocks
- arguments added to `includes` like with `{% include figure.html caption="..." %}` (which are a special case too b/c they actually get processed as markdown...)

It's not always intuitive how `'` and `"` will interact in which domain, and there are often mutiple ways to do it which can be confusi

[2020-01-29 06:50] spapastamkou commented on #1645
as @fdlaramee just finished the translation of this lesson into French; and I will edit it somewhere in March, please keep us in copy if changes are brought to the original, to keep the FR version updated. Thank you!

[2020-01-29 13:15] walshbr commented on #1646
Oof I'm not certain I'm really good on all the distinctions either, and I couldn't find any readymade resources for this when googling around - just a thousand stack overflow threads. I could help write this up, but is the following correct? Something like…

YAML - use double quotation marks, with a caveat for escaping the double quotes as necessary
Markdown - should not matter which you use if it

[2020-01-29 14:26] drjwbaker commented on #1370
Quick update. Our proposed partner on the DOI thing are meeting on 10 Feb (I'm not in the meeting) to discuss internal processes for minting our DOIs. I expect that a) this will green light the support and b) will generate some questions for us. I'll do triage on the latter when I have them.

[2020-01-29 14:28] drjwbaker commented on #1570
Note: if we ever hit the 2GB file size limit on Zenodo, let me know - my Lab is willing to support hosting large files if we need it.

[2020-01-29 15:25] mdlincoln commented on #1570
Good to note, however I'd say if a lesson required a 2GB download (or even a 100MB download!) that should raise lots of eyebrows during the review phase, not least of which from an accessibility standpoint (internet bandwidth, storage, processing power it'd demand from readers)

[2020-01-29 15:28] drjwbaker commented on #1570
Agreed. But if we get a lesson with lots of large audio-visual assets, it might happen :)

[2020-01-29 15:29] acrymble commented on #1645
I'm not the editor here, but (while I understand that this would be a nice gesture), I'm not clear that it increases the sustainability, learning outcomes, or clarity of the lesson. The implications of making small updates like this are potentially quite burdensome as we now publish in 3 languages. Is this an important enough change for a learner that it warrants 3 people's time?

[2020-01-29 15:55] jenniferisasi commented on #1646
I can't find anything that is a one-place guide either, sorry (checked in English and Spanish). Are you suggesting this info to be on the Wiki?

I am most familiar with html and I would say what you said @walshbr for it is correct.

[2020-01-29 16:00] mjlavin80 commented on #1645
I respect @acrymble 's concern about the precedent, and the question of folks' time. For me, the best reason to do this is to call a little more attention to people like Karen Sparck Jones, and maybe inspire people to look for others who have been ignored or insufficiently credited for their work. Calling attention to the politics of who is memorialized was always an intended learning goal for me.

[2020-01-29 18:55] spapastamkou opened #1648 "French tweets in the Twitter bot"
@walshbr There are two PR in progress for 2 FR translations which means that we are ready (once merged) for the Twitter bot.
At the moment, there are 2 tweets ready for each of these lessons; and for the five lessons that are already published there is one tweet for each (I kept the texts) which means I shall have to prepare 5 second tweets for these lessons.

My question is: I should put all twee

[2020-01-29 18:58] walshbr commented on #1648
Either one! It doesn't matter at the moment, because the bot currently isn't looking at the French tab. So you're free to add stuff to it as you'd like. Once we turn it on we will want to be careful about putting materials there when they are ready to be tweeted. But for now it's all the same. I'll get to working on adding the French piece to the bot!

[2020-01-29 19:37] spapastamkou commented on #1636
I can start working on adapting the copyediting chart into French and verify with members of the team who wish to do it. I am quite familiar with normalized fr forms because I needed to use them now and then so I can put the bases of this work. I see this as part of my volunteer work for the PH. I will either start a translation edition I am in charge of late this trimestre or I will extend a bit

[2020-01-29 21:33] spapastamkou commented on #1648
Ok, thank you very much! I'll start adding then.

[2020-01-29 23:19] jenniferisasi commented on #1621
Can we add a simple "table of contents" of shorts above? I feel that at this point this page is so long that the user deserves a way to jump directly to a group if they want to. Would it be too much?

[2020-01-30 14:26] svmelton opened #1649 "EN Team Call"
Hi EN team members,

I'd like to schedule a team call to discuss a couple of issues:

- Strategy for the EN publication in 2020

- Editorial capacity

- Lesson updates (e.g. #1672)

I propose we meet at our normal time (9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET). Please [fill out this poll](https://doodle.com/poll/kbytg5i39qi3huuv) by Sunday, 2 February!

[2020-01-30 15:08] acrymble commented on #1636
@spapastamkou can you clarify the dates so I can keep track? When is the end of the trimestre for you?

Thanks for responding.

[2020-01-30 17:53] amsichani opened #1650 "Hand over of Project Manager at Large role"
I am having the Skype facilitator role for 18 months now (wow!) and I am willing to hand it over to the next one , in order to focus more on my Education manager & Tech roles as well as my PML and ProgHist Ltd duties.
Anyone interested? I am happy to facilitate the February call and hand over after this, if that sounds easier.

[2020-01-30 18:05] amsichani commented on #1589
Really appreciated the reports above - can I ask @spapastamkou , @rivaquiroga, @svmelton  and @drjwbaker for a brief report on the FR, ES, EN and Ltd?

[2020-01-30 19:54] spapastamkou commented on #1589
FR Editorial Team Report
By: @spapastamkou
Date: 2020/01/30

---
### Actions Completed Since Previous Report:

**Translations (2/3 + 1 of a volunteer)**
Analyzing Documents with TF-IDF
Getting Started with Markdown
Generating an Ordered Dataset from an OCR Text File

**Translation editions (2/3)**
Préserver ses données de recherche
Comprendre les expressions régulières

(Status: Both in PR awaitin

[2020-01-30 19:57] spapastamkou commented on #1636
Yes, sorry: the current trimestre (for the 3M FR planning) runs from February to April as we established it only days ago.
We can set the end of March as deadline for the copy-editing in FR, would that be ok with what you had in mind? Please let let me know and I can note the date in #1642. Thank you!

[2020-01-30 21:00] spapastamkou commented on #1614
@MaelleAmand y a-t-il quelque chose que tu voudrais qu'on voit ensemble pour avancer avec les tâches, notamment dans la partie technique, de ce ticket et le fermer? On a bien de choses intéressantes pour la suite, mais il faut finir avec cela d'abord:)

[2020-01-31 02:50] svmelton commented on #1589
### EN Editorial Team Report
By: @svmelton
Date: 2020/01/30

**Actions Completed Since Previous Report:**

- Recently published: [Introduction to Jupyter Notebooks](https://programminghistorian.org/en/lessons/jupyter-notebooks)

- Almost ready: [Working with Batches of PDF Files](https://github.com/programminghistorian/ph-submissions/issues/258) --> 1st copyedited lesson!

**Issues Still in Proces

[2020-01-31 09:25] rivaquiroga commented on #1589
### ES Editorial Team Report
By: @rivaquiroga
Date: 2020/01/31

**Actions Completed Since Previous Report:**

- Python lessons updated (2.7 -> 3) + bugs fixed.
- Bogotá participants were contacted. Only two responses.

**New proposals**

- Translation of  "Introduction to MySQL with R". (@JoshuaGOB first lesson as an editor)
- Translation of ""Using Geospatial Data to Inform Historical Research in

[2020-01-31 11:07] acrymble commented on #1650
I've renamed this to Project Manager at Large, as that's the role within our team structure that you're looking to hand over.

[2020-01-31 11:09] acrymble commented on #1650
The role description for this position is here:

### Project Manager at Large

The role of the Project Manager at Large is to keep the team focused on achieving its goals. In practical terms this involves running the bi-monthly Skype calls of the project team, and ensuring open tickets are actioned efficiently and in a reasonable time span. Their job includes identifying a need for extra support o

[2020-01-31 11:12] acrymble commented on #1636
Just for information purposes, I have contacted the public relations firm that created our English styleguide to see if they can work also in French, and to ask what the cost of doing this work for us would be. I will report back when I know. There is no obligation to proceed, but I think it's important for us to know the options.

[2020-01-31 11:12] acrymble commented on #1635
Just for information purposes, I have contacted the public relations firm that created our English styleguide to see if they can work also in Spanish, and to ask what the cost of doing this work for us would be. I will report back when I know. There is no obligation to proceed, but I think it's important for us to know the options.

[2020-01-31 11:13] acrymble commented on #1619
@amsichani shall I get someone else to take this on?

[2020-01-31 11:17] acrymble opened #1652 "Consistency of Team Role labeling"
The new Team Role labels on the Project Team page are not consistent.

The 'Communication Team' and 'Technical Team' labels refer to a team, whereas most refer to specific roles. I think these should be consistently referring to roles.

The Managing Editor label for English also doesn't mention the language, whereas the others do. For consistency sake, this too should say (English).

Unless I hear

[2020-01-31 11:19] acrymble commented on #1564
@svmelton has referred to the only outstanding action in her report for this month, which she intends to carry forward. Therefore, I will close this ticket as all actions have been completed. Thanks everyone.

[2020-01-31 11:19] #1564 closed, assigned to amsichani

[2020-01-31 11:23] acrymble opened #1653 "Patreon Goals - Re-thinking"
Our Patreon income at the time of writing is $99 per month. Our three goal levels (a built in part of Patreon to encourage sponsors to join) are at $100, $500, and $1000.

Over the past three months we've increased our monthly donations by about $20 per month. That means the gap between $100 and $500 is perhaps too big. In order to help us reach the next goal faster and have something to celebrate

[2020-01-31 11:47] drjwbaker commented on #1653
None from me.

[2020-01-31 11:48] drjwbaker commented on #1652
Good spot.

[2020-01-31 12:14] spapastamkou commented on #1611
@fdlaramee Can I count on your help for this? It is about this lesson: https://programminghistorian.org/fr/lecons/travailler-avec-des-fichiers-texte I will make any modification needed but I'll need some guidance, if you have the availability.

[2020-01-31 12:49] grandjeanmartin commented on #1589
I will not be able to be with you today. I wish you an excellent meeting.

[2020-01-31 14:24] mdlincoln opened #1654 "add YAML check for proper date format"
If the date is not entered as YYYY-MM-DD, liquid produces a confusing-sounding error when it tries to order all the lessons by date to generate our RSS feed:

`comparison of Array with Array failed in feed.xml`

We can catch this in the YAML checks and provide a more informative error message.

re: #1651

[2020-01-31 14:28] fdlaramee commented on #1611
@spapastamkou Sure; I will compare the English lesson's current version with our translation ASAP. Shouldn't take much more than a few minutes of work to bring the translation up to date.

[2020-01-31 14:56] rivaquiroga commented on #1635
Thanks. We are curently discussing the details. We want one of the team members to be leading this task.

[2020-01-31 15:09] svmelton commented on #1543
No objections here!

[2020-01-31 15:09] jenniferisasi commented on #1543
No objections.

[2020-01-31 15:10] arojascastro commented on #1589
Sorry I cannot connect today...

[2020-01-31 15:11] amsichani commented on #1543
no objections - thanks for this!

[2020-01-31 15:27] drjwbaker commented on #1489
@JMParr This is what I was referring to. Main outputs are..

- Publish a report on expanding Programming Historian’s outreach and impact activities with a focus on non-historian communities in the Global South.
- Deliver (to the Programming Historian Board of Trustees) a business plan outlining the resources required to make the role of Impact Manager sustainable and potential pathways for funding

[2020-01-31 15:35] JMParr commented on #1489
Thanks! Yes. It's exactly what the Global Team has been up to. I think some of the bigger things she can maybe help with is working on making this sustainable. In our Skype chat earlier in January, Quinn D highlighted groups in So. Korea, Thailand, Hong Kong, Taiwan, etc, doing some great work. There's also robust DH communities in India and the Middle East. So, aside from the language issues inhe

[2020-01-31 15:36] svmelton commented on #1557
The proposed solution brought forward during #1589 was to flag sudo if authors use it in future lessons, and encouraging users to open a ticket with PH if they have questions about using sudo.

[2020-01-31 15:38] walshbr commented on #1648
Just to reiterate what I said on the call - I believe I have the code ready to go for the French tweet. I just need to flip the switch on Heroku. So let me know when you've got tweets there - I'll test it once or twice before automating it.

[2020-01-31 15:39] drjwbaker commented on #1543
I've made the edit to the [Governance Document](https://github.com/programminghistorian/jekyll/wiki/Programming-Historian-Governance) adding the text above about sub-teams. Happy to reopen if anyone has an objection.

[2020-01-31 15:39] #1543 closed, assigned to drjwbaker

[2020-01-31 15:45] JMParr opened #1655 "2020 Feb 14: Global Team Call agenda"
If you are reporting a problem with a lesson, please try to provide us with the following information:

- The full title of the lesson
- The system you are using (Mac, Linux, Windows)
- Version numbers of the relevant software you are using
- The exact steps you took that caused the problem

If you'd like, you can delete this template text before posting your issue.

[2020-01-31 15:49] JMParr commented on #1655
The editing button doesn't seem to be working. I'll add the agenda here:

- [x] Update on current activities.

- [x] Discuss outreach, and set sustainable priorities.

- [x] Determine how best we can work with the new Outreach Manager (who will be joining us)

- [x] Award opportunity mentioned by @drjwbaker

- [x] @rivaquiroga will discuss lessons from the Bogota experience.

- [x] @spapastamkou w

[2020-01-31 16:00] drjwbaker commented on #1625
Seems from https://github.com/programminghistorian/jekyll/issues/1589 what we are happy to think of ourselves as the kind of group that can/should have this kind of relationship with institutions. I'll start setting it up.

[2020-01-31 16:08] #1625 closed, assigned to drjwbaker

[2020-01-31 16:11] acrymble opened #1657 "Actions Arising from Jan 2020 Project Team meeting"
- [x] @drjwbaker to update wiki on #1491 and #1543 which is taken as approved.
- [x] @drjwbaker to liase with @mdlincoln on DOIs options
- [x] @drjwbaker to liase with @JMParr re impact manager's role and effect on global team
- [x] @svmelton to take forward suggestion re use of sudo and flagging warnings to users.
- [x] @spapastamkou to liase with @acrymble and @drjwbaker re a bid to support the

[2020-01-31 16:19] drjwbaker opened #1658 "Communicating the Institutional Partner Programme"
@jenniferisasi You mentioned in the call doing more to spread the word regarding how people can support us. Now we're going ahead with https://github.com/programminghistorian/jekyll/issues/1625 can we have a think about what to do to get this out there.

A few thoughts:

- direct mail to a list of institutions/libraries/research groups we think might want to contribute (perhaps make a list on a go

[2020-01-31 16:24] jenniferisasi commented on #1629
@drjwbaker two people have already sent me an email with plans to attend conferences. How would you prefer me to inform you of funds necessary/available for stickers and the like?

I am going to start a record where I take note of who is attending what to be able to promote it, maybe a spreadsheet, would it help if it's a shared one?

[2020-01-31 16:28] drjwbaker commented on #1629
Spreadsheet works. And ping me each time there is a new addition.

Our problem at the moment is that stickers aren't cheap. So until we get a big uptick in funds, we can only really do a batch every 2 months based on our current Patreon.

[2020-01-31 16:31] drjwbaker commented on #1629
Clarification: stickers are cheaper the more you by. E.g. with my preferred supplier, 50 is £45, 100 is £53, 200 is £68, 500 is £103, 1000 is £153. So it may be better for me or you to buy a bulk amount, and then post them to people.

[2020-01-31 17:13] jenniferisasi commented on #1629
We also should take into account the shipping cost, right?. The company we have been using here in the US has similar prices, 50 for $56, 100 for $67, 200 for $85, etc. (looks a bit cheaper today as per conversion) and then shipping a bunch within the US is super cheap.

[2020-01-31 17:47] spapastamkou commented on #1648
I am done @walshbr, all tweets are there. Please note that the last 2 rows correpond to lessons that are under pull request; I'll let you know when they are out.

[2020-01-31 18:11] walshbr commented on #1648
KK - the script I have set up for the bot will tweet at random anything in the spreadsheet, so in the future it'd be best only to put rows in the spreadsheet for lessons that are active (otherwise we'll be tweeting out dead links). So I'll hold tight until those last two lessons are ready to go! Just ping me when they're both merged. Looking forward to getting the word out!

[2020-01-31 20:50] spapastamkou opened #1659 "FNSO 2019 Call for Funding"
As I said in our #1589 January meeting, the National Fund for Open Science in France recently released a call for funding; technical details (see last 2 attached docs) have been been available through a dedicated application that opened 2 weeks ago; the call runs up to March 31. All documentation is available in English as well.
[Link to the call](https://www.ouvrirlascience.fr/call-for-projects-n

[2020-02-01 16:15] acrymble commented on #1629
Can I suggest we look into eco friendly stickers? I'd hate us to be part of a plastic problem if we can avoid it.

[2020-02-01 16:26] acrymble commented on #1659
@spapastamkou what do you have in mind to request funding for? What would the project be?

[2020-02-01 16:44] acrymble commented on #1461
This plan has been submitted to @drjwbaker to archive. Everyone on the team was sent a draft the other day. We're committed to revising this (within the Team Development team) once a quarter. So this is a living document rather than one set in stone.

[2020-02-01 16:44] #1461 closed, assigned to acrymble

[2020-02-01 16:52] acrymble commented on #1582
I've added these to the wiki. Thanks everyone.

[2020-02-01 16:52] #1582 closed, assigned to acrymble

[2020-02-01 16:54] drjwbaker commented on #1629
Fine idea. I'll investigate. Found these so far https://stickerit.co/custom-stickers/biodegradable-stickers.html

[2020-02-03 02:03] svmelton commented on #1649
Hi all,

Bumping this once more. Please fill out the poll by tomorrow evening!

[2020-02-03 08:17] drjwbaker commented on #1653
Just so I know who is doing what, are you expecting me to make the changes on Patreon? I only ask as you've been taking this on recently (for which I am grateful) but it had previously fallen under my remit. I don't mind who does it though!

[2020-02-03 11:31] acrymble commented on #1653
Right. I've done it this time. But I can leave all Patreon things to you in future if you'd like. You just let me know.

[2020-02-03 11:31] #1653 closed, assigned to acrymble

[2020-02-03 13:06] amsichani opened #1661 "23 March 2020 Skype call - Project Team Agenda"
23 March 2020 , Time is 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET. @amsichani  will be facilitating the call.

Working agenda follows. Please add by commenting or editing this comment directly.

All team leaders please post a small report on your team's activities closer that day.

- [x] Current Research Projects or Submissions Pending about the Programming Histo

[2020-02-03 13:07] acrymble commented on #1661
@amsichani just a reminder we agreed to move these meetings to bi-monthly.

[2020-02-03 13:08] amsichani commented on #1661
@acrymble I was just changing this

[2020-02-03 13:49] drjwbaker commented on #1653
My point is I think I'm 'supposed ' to do them, but I don't care about *my* turf. We both have a vested interest this, so perhaps we can share the load: if you want to run an idea by me and implement it, just say; equally, if you want to run an idea by me *and* have me do it, just say as well.

[2020-02-03 13:59] mdlincoln commented on #1654
I can proceed on this once #1644 is merged, as it also contains a different update to the date-checking

[2020-02-03 17:53] fdlaramee commented on #1611
@spapastamkou OK, I compared the two lessons and the changes that should be performed are minimal:

1. Remove the warning about Python 2.7 in the lesson header as the code has been updated to Python 3.
2. The line of code **f = open('helloworld.txt','w')** should be replaced with **f = open('helloworld.txt','wb')**; that is, the 'w' parameter needs to become 'wb' to be compatible with Windows.
3.

[2020-02-03 18:53] mdlincoln commented on #1555
Hey, I'm going to close this because the latest printing update now removes the suggested printing comment!

[2020-02-03 18:53] #1555 closed, assigned to mdlincoln, jenniferisasi

[2020-02-03 19:51] spapastamkou commented on #1642
I rename this ticket to know the planning corresponds to the 1st quarter of 2020.
I just added what remained undone from the previous planning #1469 so that we can close the other ticket.

[2020-02-03 19:53] spapastamkou commented on #1469
2 unfinished tasks from this ticket were reported to #1642.

[2020-02-03 19:53] #1469 closed, assigned to grandjeanmartin, spapastamkou, fdlaramee

[2020-02-03 21:13] spapastamkou commented on #1659
I thought we'd propose to get funding for the translation of a batch of tutorials, which would allow us to focus on reviewing these translations; and would liberate us for pursuing the creation of original lessons in French (the more representative of all francophone areas possible).

[2020-02-03 21:14] spapastamkou commented on #1659
This said, any ideas welcome here.

[2020-02-03 21:24] acrymble commented on #1659
That would be great @spapastamkou, but I don't think that would be covered by the scope of the call.
<img width="881" alt="grant" src="https://user-images.githubusercontent.com/646647/73692093-8f050e00-46cb-11ea-8034-ff75e4e8a66f.png">

[2020-02-03 21:25] acrymble commented on #1659
were you thinking about a different one of the funding aims?

[2020-02-03 21:29] spapastamkou commented on #1659
Rather the: c) Innovative editorial forms. Defined as: "Innovative editorial forms concern projects that do not use traditional editorial formats. These are formats that renew the form of journals or reinvent them." It is quite large, and it seemed to me the PH fits in.

[2020-02-03 22:10] acrymble commented on #1659
One of the key judgment criteria is how far the project will push the aims of open scholarship. You might want to choose the proposed translations carefully to make sure they promote that aim. Maybe proposing an event like Bogota but in France to seek new tutorials on open science would make the proposal stronger? Just some ideas.

[2020-02-03 23:06] spapastamkou commented on #1615
I will open a pull request for the blogpost from this issue this week and then close this ticket.

[2020-02-03 23:17] spapastamkou commented on #1614
Chère @MaelleAmand, comme cela fait plusieurs jours que ce ticket est ouvert (normalement cela prend vers les deux semaines) et que les tâches n'avancent pas du tout, je me demande si j'aurais peut-être mal ou pas suffisamment expliqué à propos. Peut-être que la période est mal choisie pour toi pour t'en occuper?
Ces tâches sont obligatoires pour tous les nouveaux membres et leur intégration dans

[2020-02-03 23:21] spapastamkou commented on #1659
Yes, absolutely. I had previously made a small selection of tutorials in this spirit but we could organize it better and expand it. And if the form of the proposal allows for it, we could maybe seek to pursue our Senegalese dream:-)

[2020-02-03 23:41] spapastamkou commented on #1648
@walshbr The 6th lesson is now published. I left in the bot the tweets for the 6 active lessons, so you can test your code. Once the next lesson is merged as well, I will add again its tweets. Is this ok for you ?

[2020-02-04 07:46] acrymble commented on #1614
I suspect she doesn't have github notifications turned on, or that they aren't going to her inbox.

[2020-02-04 11:32] spapastamkou commented on #1611
thank you very much, @fdlaramee, for helping with this. I'll wait in case there are further comments on your remarks and then I'll make the modifications.

[2020-02-04 11:51] spapastamkou commented on #1614
@acrymble We also exchanged with @MaelleAmand through skype on 24/01 and sent further explanations on tech tasks by email on 26/01. As this makes a lot of channels, I wonder whether it might not be confusing after all, for a new member. I'll try emailing the link to this ticket so that the discussion is recentered here.

[2020-02-04 12:00] drjwbaker commented on #1659
So do we think we are a good fit? On a practical level, I've got a lot on right now, but could find time to look at an early draft.

[2020-02-04 12:29] spapastamkou commented on #1659
I could try to have one ready for let's say the 15th Feb: we can take a look then and see how solid a proposal we have and further work on it.

[2020-02-04 13:49] drjwbaker commented on #1659
Fab. And if you could produce (alongside the draft) a note on two on how **you think** the draft hits the terms of the call, that would be really useful from a Critical Friend perspective.

[2020-02-04 13:53] walshbr commented on #1648
Yep! I'll get testing. One question for you - what days and times do you want it to run to best reach your audience? Currently we have the thing sending out tweets on this schedule:

Monday: English tweet; 4:00 PM UTC
Tuesday: Spanish tweet; 4:30PM UTC
Wednesday: Spanish tweet; 2:00 PM UTC
Thursday: English follow-up tweet; 1:30 PM UTC

Back when there were just two languages I was trying to keep

[2020-02-04 17:02] noramcgregor opened #1662 "Implementing paths in Visualizing Data with Bokeh and Pandas"
At British Library we frequently choose Programming Historian tutorials for our staff Hack & Yacks each month because they offer awesome and accessible intros to advanced digital topics. This was the latest a room of over 25 BL curators tackled--great tutorial and many thanks to the author! One place where things got muddled for us though was what follows the miniconda install. There are really tw

[2020-02-04 18:54] mdlincoln opened #1663 "Configure netlify TOML to only build PRs, not gh-pages"
Not sure if this is doable, but we might economize our Netlify build minutes slightly if I can set it so that Netlify ONLY builds PRs, instead of building both PRs as well as an extra build when a PR is finally merged.

[2020-02-04 19:14] mdlincoln commented on #1663
https://docs.netlify.com/configure-builds/file-based-configuration/#sample-file

[2020-02-04 22:22] ZoeLeBlanc commented on #1645
I understand @acrymble's hesitation as well but considering this lesson is on Sparck Jones' algorithm and the NY Times obituaries datasets, it seems like an important enough update to the lesson. Would you be willing to contribute a pull request with the changes so we could review them with the French editorial team @mjlavin80 ?

[2020-02-04 23:06] mjlavin80 commented on #1645
Will do. Thanks, everyone!

[2020-02-05 07:55] drjwbaker commented on #1662
Thanks @noramcgregor. I love that you use PH for your Hacks & Yacks: perhaps I can sit in on one in the future to get a sense of how people get on with PH lessons (we're always keep to learn more about our audience).

I spoke with @noramcgregor about this yesterday, and I can see the value of greater clarity around the [Running Code Examples](https://programminghistorian.org/en/lessons/visualizing

[2020-02-05 08:03] spapastamkou commented on #1648
I propose:
Tuesday: 3 pm UTC
Friday: 10 am UTC
Thanks!

Envoyé de mon iPhone

[2020-02-05 13:38] walshbr commented on #1648
Sounds good! I'll get working and let you know if I have any further questions or if I run into any issues.

[2020-02-05 13:44] mariajoafana commented on #1650
I'm rejoining the team after my sabbatical and I'll be glad to take on the Project Manager at Large role after the February call

[2020-02-05 13:55] acrymble commented on #1650
Thanks @mariajoafana. Maybe you and @amsichani can have a conversation about what it entails and what changes you might like to bring to the role?

Once we've done the handover, I will update the project team page.

[2020-02-05 14:53] walshbr commented on #1648
It's alive! https://twitter.com/ProgHist/status/1225069416406188032?s=20

It's definitely tweeting, but I'll leave this issue open for a week or so while I keep an eye on the scheduler aspect of things. Let me know if anything seems amiss in the meantime.

[2020-02-05 16:23] amsichani commented on #1650
Fantastic news @mariajoafana ! Lets talk through email on the transition process.

[2020-02-06 09:10] amsichani commented on #1650
@mariajoafana I am trying to send you an email at your usually used address but something isn't right...any idea?

[2020-02-07 09:26] acrymble commented on #1424
Is this still in progress? Is there an action here that needs doing?

[2020-02-07 09:34] acrymble commented on #1615
I'm going to remove the "blog post" element of this checklist for onboarding, because it's consistently one of the bits that slows the onboarding down, and is covered by @jenniferisasi with her quarterly newsletter, so isn't as necessary anymore. That means we can close this ticket.

[2020-02-07 09:34] #1615 closed, assigned to grandjeanmartin, spapastamkou, fdlaramee

[2020-02-07 09:37] acrymble commented on #1619
@amsichani I'm going to take your silence as a sign that you're too busy for this. I will take on this task for existing sponsors and @drjwbaker and I will have to discuss who should do it moving forward. @amsichani can you please confirm you're still receiving notifications to Github?

[2020-02-07 09:39] drjwbaker commented on #1619
@acrymble Happy to help until we find someone to take it on.

[2020-02-07 09:39] acrymble commented on #1619
It looks like we can set this up in Patreon to send emails automatically to eligible people. Looking into it now @drjwbaker

[2020-02-07 09:42] drjwbaker commented on #1619
Okay. My question is whether we want to ask for ideas only when a $5+ person joins, or whether we want to ask all $5+ people every 6/12 months. The latter is probably better for longer term community engagement.

[2020-02-07 09:45] acrymble commented on #1619
Good question. I've sent out an initial email to the eligible people through Patreon. Let's see what the response rate is to decide if we want to ask more than once. I'll close this for now, and will report to you when I hear more @drjwbaker

[2020-02-07 09:45] #1619 closed, assigned to acrymble

[2020-02-07 09:47] drjwbaker commented on #1619
Thanks Adam. There is a note about this on the wiki https://github.com/programminghistorian/jekyll/wiki/Service-Integrations#patreon that might need updating.

[2020-02-07 09:50] acrymble commented on #1619
@drjwbaker done, thanks

[2020-02-07 10:24] acrymble commented on #1621
This has been merged. Thanks everyone.

[2020-02-07 10:24] #1621 closed, assigned to acrymble

[2020-02-07 15:40] rivaquiroga commented on #1424
We can close it as it overlaps with the Copy Editing guidelines thay is being discussed as part of #1635

[2020-02-07 15:40] #1424 closed, assigned to rivaquiroga

[2020-02-07 18:07] spapastamkou commented on #1615
I had the draft ready and just raised the PR #1665, so all is ok here.

[2020-02-07 18:46] walshbr commented on #1648
Just a note to say that I was watching today, and caught an error on the Heroku scheduler that made the French tweet today hang up. Corrected that, and will keep an eye on next week's tweets. Will close when they're running.

[2020-02-07 18:48] spapastamkou commented on #1648
Thanks, Brandon!

[2020-02-08 00:37] #1654 closed, assigned to mdlincoln

[2020-02-09 11:45] spapastamkou commented on #1648
For info: one new lesson in FR is out (https://programminghistorian.org/fr/lecons/comprendre-les-expressions-regulieres) and I added the tweets in the bot.

I am not very clear about one thing that is of interest for @jenniferisasi so I ping her: now that the FR tweets go into the bot, do I continue (as ME) to send a tweet to Jennifer, so that she can alert for the lesson via twitter? Do I alert o

[2020-02-09 14:27] jenniferisasi commented on #1648
Congrats on publishing another lesson, @spapastamkou! I am very much in favor of a one-time tweet about a new lesson, with a slightly different text than the one you put in the bot. Something like: Our FR team has been working hard and we have a new lesson in French! XYZ has translated comprendre-les-expressions-regulieres by XYZ

(so, something that announces the *newness* of a lesson vs. the "le

[2020-02-09 17:06] walshbr commented on #1648
Yes I think in the past we've usually had people do their own, regular tweets when a new lesson comes out to announce that. The bot only works at random, so it might be a while before a new lesson pops up in the pipeline.

[2020-02-09 18:14] svmelton commented on #1649
It looks like Tuesday, February 18 at 10 am EST is the winner. Please mark your calendars!

[2020-02-09 19:39] acrymble commented on #1652
@walshbr can we fold your Twitter bot work into your technical role? I'm trying to shorten our list of roles, and this one seems like a fairly straightforward maintenance task now that the hard work of setting it up is done. I'm not sure it needs to be flagged permanently in this way. Does that sound ok?

[2020-02-09 19:54] walshbr commented on #1652
Yeah that's probably fine @acrymble.

[2020-02-10 08:21] acrymble commented on #1652
@drjwbaker you've got a number of roles with similar descriptions:

Finance Manager: Responsible for project finances and fundraising
Treasurer: Responsible for project finances
Sponsorship Coordinator: Responsible for managing relationships with our sponsors

Can we fold all 3 into 'finance manager'?

[2020-02-10 09:39] drjwbaker commented on #1652
Go for it.

[2020-02-10 10:41] acrymble opened #1668 "Maximum Number of Roles per person"
I'd like to propose that we adopt a (perhaps informal / soft cap) policy on the number of roles a person will take on within the project at any one time. I propose we cap this at 3, with the understanding that 1 or 2 is probably best for most people.

The reason for this suggestion is to ensure that no one is expected to do too much, that everyone can focus on doing all of their roles to the best

[2020-02-10 14:14] jenniferisasi commented on #1668
I strongly support members having a limited amount of roles.

Following Sofia's example, @acrymble are you suggesting we get rid of the volunteer/supported tags as well? I found these very important to indicate our labor and would like to keep them. Since they are different from roles though, I wonder if changing their color to differentiate them from the roles could be a solution.

[2020-02-10 14:25] acrymble commented on #1668
Yes I think we should keep those @jenniferisasi. I will try to change the colour.

[2020-02-10 18:02] jenniferisasi commented on #1661
Will add it to my calendar, but wanted to say already that I am not a 100% sure I can make it as I will be only on my second week of my new position.

[2020-02-10 18:28] walshbr commented on #1661
I can't make this one but will be on the lookout for tasks.

[2020-02-10 21:42] svmelton commented on #1662
Hi @drjwbaker—I'm happy for you to take this on if you're up for it!

[2020-02-10 23:10] spapastamkou commented on #1668
This makes sense @acrymble and @jenniferisasi , and things can look more "clean" this way on the team page.
Personally speaking, I am not sure I can stick to 3 roles, at least not as long as I am ME. I'll clarify this in the coming days.

[2020-02-11 09:31] drjwbaker commented on #1662
@svmelton I'm a bit stretched (as per my email) but I can make a start.

@archaeocharlie: we have a comment on your lesson (see above). The ask is that there is greater clarity around the [Running Code Examples](https://programminghistorian.org/en/lessons/visualizing-with-bokeh#running-code-examples) section so that readers know that one option for 'taking' the lesson is to not install the VE and

[2020-02-11 14:51] drjwbaker commented on #1662
@svmelton On reflection, any chance that you or one of the EN team could ake this? I'm more over-committed than I realised...

[2020-02-11 16:37] archaeocharlie commented on #1662
Hi @svmelton @drjwbaker. I'm happy that it's getting use and will work on clarifying this section. I should have time to make changes at the end of next week.

[2020-02-11 18:35] #1652 closed, assigned to acrymble

[2020-02-11 18:37] acrymble commented on #1622
I don't have the time to do further research on this right now so will close (and may reopen in future).

[2020-02-11 18:37] #1622 closed, assigned to acrymble

[2020-02-11 22:54] spswanz opened #1669 "Additional step suggested for Mac users of "Building Static Sites with Jekyll""
In the installing Ruby Gems and Jekyll phase, my Mac users have received an error that they don't have write permissions to the ruby gems directory.

This is the suggested fix in the instructions:

That did not working for us, but the following did:

Typing this command:
`echo 'export PATH="/usr/local/opt/ruby/bin:$PATH"' >> ~/.bash_profile`
Then this command:
`source ~/.bash_profile`

That fix de

[2020-02-12 08:22] drjwbaker commented on #1662
@archaeocharlie Fab. I really appreciate it. When you are ready, please raise a PR for the suggested changes and tag @svmelton and I. Though if you'd prefer to post the changes in this thread, that is good as well.

[2020-02-12 08:43] arojascastro commented on #1661
I cannot make it on this day. Apologies.

[2020-02-12 08:51] amsichani commented on #1594
I am afraid I can't make it tomorrow - an urgent family commitment. Looking forward to the minutes. Sorry for any inconvenience.

[2020-02-12 09:10] drjwbaker commented on #1594
@acrymble @spapastamkou @drjwbaker @svmelton @rivaquiroga: who is coming? We need 3 to make quorum.

[2020-02-12 09:11] acrymble commented on #1594
I will be. Best wishes @amsichani

[2020-02-12 11:58] amsichani commented on #1650
I have contacted @mariajoafana almost a week ago with no response so far. I hope she is happy  to facilitate also the [March call ](https://github.com/programminghistorian/jekyll/issues/1661#issuecomment-585094563
). I ll keep you and the relevant tickets updated.

[2020-02-12 12:58] rivaquiroga commented on #1594
I'll be there.
@amsichani, hope everything is fine

[2020-02-12 13:26] svmelton commented on #1594
I’ll be there, as well.

Sent from my iPhone

[2020-02-12 14:18] drjwbaker commented on #1594
Fab. We have quorum. Speak tomorrow.

[2020-02-12 15:46] rivaquiroga commented on #1611
FYI, the pull request fixing the Spanish lessons has been merged

[2020-02-12 15:54] rivaquiroga commented on #1668
I support this. And the color tag is a great idea :art:

[2020-02-12 16:02] rivaquiroga commented on #1655
I would like to share on Friday some lessons we've learned from the Bogotá experience about the follow-up of participants that may be important for future PH workshops.

[2020-02-13 00:19] rivaquiroga commented on #1443
@acrymble, Silvia Gutiérrez will be the ombudsperson of the Spanish team. I'll close this ticket once I've add her to the project team page.

[2020-02-13 12:38] drjwbaker commented on #1658
@jenniferisasi IPP is live https://github.com/programminghistorian/jekyll/pull/1656 Any initial thoughts on a comms plan?

[2020-02-13 14:22] jenniferisasi commented on #1658
Sorry, I had lost sight of this issue for some reason. But yes, I agree with your three ideas above. In my mind, the firsts institutions we should contact are the ones we work in (only when confortable doing it, of course) and the popular ones that we can think of.

We can also check Analytics to see areas where a lot of users are connecting from and check the libraries there? (Sounds a bit survei

[2020-02-13 14:58] drjwbaker commented on #1658
Thanks @jenniferisasi. Agreed.

I've asked my library colleagues for good UK/European lists to spread the word about the IPP. @svmelton: any good north american library lists you could recommend?

We could also look at those institutions that support comparable initiatives.

On analytics, good idea. I'll mention to Penny.

Finally, we'll need to agree some text to send around (I guess a condensed

[2020-02-13 16:14] jenniferisasi commented on #1658
Oh, and I can certainly email my postdoc granting council ([CLIR](https://www.clir.org/)) as they partner with the Digital Library Federation, etc. and ask if they could support us with $ but also for some clues as to whom to ask or to distribute it with their postdoc-alumni, once we have a text.

[2020-02-13 16:27] drjwbaker commented on #1594
Minutes circulated

[2020-02-13 16:27] #1594 closed, assigned to drjwbaker

[2020-02-13 16:28] drjwbaker commented on #1658
Note @jenniferisasi that at https://github.com/programminghistorian/jekyll/issues/1594 @rivaquiroga agreed to help you think through the IPP comms.

[2020-02-13 16:39] acrymble commented on #1636
The quote to get this work done professionally is £1350. @spapastamkou tell me what you think in terms of whether or not you a) want me to get another quote. b) think this quote is reasonable. or c) want to do this yourselves?

[2020-02-13 16:40] acrymble commented on #1635
The quote to get this work done professionally is £1350. @rivaquiroga tell me what you think in terms of whether or not you a) want me to get another quote. b) think this quote is reasonable. or c) want to do this yourselves?

[2020-02-13 17:03] rivaquiroga commented on #1635
I'll discuss this with the Spanish team and reach you back

[2020-02-13 17:19] drjwbaker commented on #1370
Quick update: our proposed partner is checking with CrossREF if they can mint DOIs for us under their current membership, or if - because we are an non-profit org - we need our own membership to mint DOIs. Whatever the result, our proposed partner will support this (e.g. if needs be, pay for an manage our CrossREF membership, pay per DOI minted, et cetera)

[2020-02-13 17:41] jenniferisasi commented on #1635
Out of curiosity @acrymble was that the price for the work in English?

[2020-02-13 17:48] acrymble commented on #1635
No it was £1800

[2020-02-14 07:50] spapastamkou commented on #1636
Thank you for this @acrymble. For b, I do not know bcz I was not able to find an estimation here yet; for c not particularly, but will if have to. For a let me come back in a few days: I'll try and see how this can fit in the grant proposal and if the rest of the @programminghistorian/french-team has ideas on it.

[2020-02-14 08:59] acrymble commented on #1668
Ok I will leave this open for comment for another week and then action this if no one opposes

[2020-02-14 09:03] acrymble commented on #1635
@rivaquiroga it would also help me to know what timeline you would like to try to achieve for having this in place so that we can copyedit new Spanish lessons. Are you hoping to have this ready soon? By mid-year? End-of-year? Then I can help coordinate to your schedule.

[2020-02-14 09:26] acrymble commented on #1658
Just a reminder that the calendar available on #1554 shows how we planned to promote Patreon. it's worked fairly well. Something similar for IPP might be useful, to make sure the right audiences are targeted but not repeatedly so.

[2020-02-14 09:28] acrymble commented on #1648
This is live, no? can we close?

[2020-02-14 12:35] walshbr commented on #1648
All working yes.

[2020-02-14 12:35] #1648 closed, assigned to spapastamkou

[2020-02-14 14:59] acrymble commented on #1589
The minutes of this meeting were circulated to the team.

[2020-02-14 14:59] #1589 closed, assigned to amsichani

[2020-02-14 16:06] JMParr commented on #1655
Here are the meeting notes from our meeting 2020-02-14:

- We went over our updates, and introduced Penny (our PH Outreach/Impact Manager) to the Global Team. @spapastamkou has been making good contacts in Senegal, and mentioned that the timing is good for Open Science in France. She's going to continue these conversations. @acrymble has been in touch with the proposed Portuguese team about bringi

[2020-02-14 16:06] #1655 closed, assigned to JMParr

[2020-02-14 17:15] drjwbaker opened #1671 "Preparing to become a charity in the UK"
Back when we started looking into becoming a legal entity (May 2019, after dropping the 'budget line' idea I'd been working on for a year) https://github.com/programminghistorian/jekyll/issues/1301 one of the options initially proposed was becoming a charity.

We didn't do this at the time because we didn't meet to key criteria: 1) we didn't have a firmly agreed charitable purpose, and 2) we were

[2020-02-14 17:26] drjwbaker commented on #1671
I should add, the company remains in place even when we transition to a charity. So none of that work is lost. We are just doing one at a time rather than both simultaneously!

[2020-02-14 17:29] drjwbaker commented on #1671
Update on 1: I've asked Keith Lawrey at the Foundation of Science and Technology (who generously helped us incorporate) for advice: if anyone will know, Keith will.

[2020-02-14 17:55] acrymble commented on #1671
My understanding is that we have the option but not an obligation to become a charity

[2020-02-14 17:59] rivaquiroga opened #1672 "Possible bug in Georeferencing in QGIS 2.0"
[Georeferencing in QGIS 2.0](https://programminghistorian.org/en/lessons/georeferencing-qgis) is currently [being translated to Spanish](https://github.com/programminghistorian/ph-submissions/issues/163).

One of the reviewers identified a possible bug. Here is the paragraph for context:

Here is a screenshot of what you get when following the links:

![lesson-bug](https://user-images.githubuserco

[2020-02-14 18:05] drjwbaker commented on #1671
When we first incorporated, Keith informed me that they can enforce this on non-profit companies that 'act like' charities. Just now, I've asked his opinion on the likelihood of that. If IPP ramps up, we may need a legal opinion on whether we are sufficiently 'acting like' a charity.

[2020-02-14 18:07] fdlaramee commented on #1636
My two cents: Judging by the rates that usually apply on the translation market here (Quebec), by the amount of adaptation that is likely to be required in addition to said translation, and by my rough estimate of the difference in cost of living between the UK and Canada, I would say that the quote that the current vendor provided to @acrymble is a tad high but well within reasonable parameters.

[2020-02-15 11:08] acrymble commented on #1672
@svmelton I will have to pass this off to your team.

[2020-02-16 20:32] svmelton commented on #1672
Thanks @acrymble—we'll talk about this on our call on Tuesday.

[2020-02-16 20:39] svmelton commented on #1669
Thanks, @spswanz! I'll take a look at it.

[2020-02-16 20:57] svmelton commented on #1658
@drjwbaker I'm not sure about specific lists, but I agree that checking with CLIR/DLF would be a good start. I can think of some potential libraries to target if we decide to go down that route.

[2020-02-17 09:05] drjwbaker commented on #1671
Update: I've been advised that the Charity Commission are unlikely to jump on us the moment we cross the financial threshold. Nevertheless, I will book in some time to start some modest planning as being a charity has some knock-on effects that might change our planning (notably, being unable to move 'profits' to members for services rendered without getting the right legal justifications in place

[2020-02-17 09:05] drjwbaker commented on #1594
Closed as minutes sent to Members.

[2020-02-17 09:28] acrymble commented on #1671
That needs a conversation then, because I am motivated in part by wanting to make sure people are paid for their work. Especially people with humanities backgrounds who tend to believe they should give work away for free

[2020-02-17 09:30] drjwbaker commented on #1671
Agreed. I'll take a look later this week at what changes if we become a charity and report back.

[2020-02-17 09:31] drjwbaker commented on #1671
(of course, charities can pay people for their work, I think it is just a question of who and how that might conflict with our current set up)

[2020-02-17 10:22] acrymble commented on #1671
I believe there are training courses you can take for learning how to manage charities. Maybe we need to think about that. Or some of the team anyway.

[2020-02-17 11:53] spapastamkou commented on #1614
It is currently impossible for Maëlle to follow through and join the PH. So I will close this ticket

Please @acrymble @mdlincoln @jenniferisasi and @amsichani consider this for the tasks you have been involved in (access to the googlegroup, github repo, twitter account and skype group).

[2020-02-17 11:53] #1614 closed, assigned to grandjeanmartin, spapastamkou, fdlaramee

[2020-02-17 13:26] amsichani commented on #1613
I might need to leave a bit earlier today so it would be great if we could discuss #1525 first thing, if thats OK.

[2020-02-17 13:27] mdlincoln commented on #1613
@amsichani OK

[2020-02-17 14:54] ZoeLeBlanc commented on #1613
@mdlincoln I'm really sorry but I can't make today. I thought my flight was later in the day, but turns out it is midday and so I need to head out for the airport now (kicking myself for not checking this earlier!!). I'll try and get to the search before our next meeting, and maybe you and I can try rescheduling our programming session before then?? Would really appreciate your thoughts on the arc

[2020-02-17 15:10] spapastamkou commented on #1613
I can take in charge #1571 to try it for my next translation; I schedule this for somewhere in late spring, most probably in April. I'll let you know further details once I see more clearly.

[2020-02-17 16:23] mdlincoln commented on #1613
- @walshbr will open a new ticket with example of occasional issues with Twitter Bot based on incorrectly-entered data in google sheets. We'll strategize where the best place is to make a fix
- #1525 / #1526 Progress reporting & duration for lesson sequences
    - decided on going for the simple solution for 1525; Anna Maria will ping the group one more time before closing 1526 due to lack of inte

[2020-02-17 16:23] #1613 closed, assigned to mdlincoln

[2020-02-17 16:53] walshbr opened #1674 "Retiring lessons and Twitter bot"
The bot just tweeted out a lesson that was retired.

Reminder that when you retire a lesson you should also move that lesson to the retired spreadsheet tab on the google spreadsheet.

I'll include more explicit instructions for how to do so by opening a pull request for updating the instructions here - https://programminghistorian.org/en/lesson-retirement-policy. Right now it just mentions that th

[2020-02-18 11:15] drjwbaker commented on #1526
Okay, further to our email exchange, one thing about our lessons that we could do better - wrt this ticket - is to at least state when installs will take a little while.

We may not be able to say how long it takes to do the lesson as a whole (users are different), but we should be able to to say that - for example - installing a package may take a little time.

My thought here is that a user may

[2020-02-18 13:54] walshbr commented on #1526
My read on this is similar to @amsichani and @mdlincoln - I wouldn't begin knowing how to estimate the length for any lesson I've edited or even the one I wrote, because there are too many variables: audience, discipline, software, hardware, learning speed, etc. Any number I could provide would feel pretty made up and not useful. The better thing, I think, would be to have the editor ballpark diff

[2020-02-18 14:10] acrymble commented on #1526
I think those are fair observations @walshbr. But I worry we're focusing too much on the minutae of how, when the real question underlying this thread is how can we make our lessons page easier for potential readers to land on the skills they need. In particular, helping educators and students (as opposed to researchers who fall under the mandate of the vacant Research Impact post) to decide if a

[2020-02-18 14:11] drjwbaker commented on #1526
This lesson requires set up time is one..

[2020-02-18 15:25] spapastamkou commented on #1659
Small update (a bigger should come later in the week):
I work on [a googledoc](https://docs.google.com/document/d/1qOKdjeeqqkxsgCduOlVYfiU19UeYjZV8ASLqLI8Ou4c/edit?usp=sharing) in FR on the basis of two objectives: 1) get funding for a batch of translations; 2) get funding for a writing workshop related to OS tutorials.

For the objective 1: I have asked and obtained translation cost estimations f

[2020-02-18 15:39] spapastamkou commented on #1592
We got accepted:-)

[2020-02-18 15:39] #1592 closed, assigned to grandjeanmartin, spapastamkou, fdlaramee

[2020-02-18 15:50] spapastamkou commented on #1571
I'll make the test for this once I am on my next translation; possible schedule on April 2020.

[2020-02-18 16:17] mdlincoln commented on #1674
You'd also mentioned developing either better error reporting or better data validation on the google sheet during #1613 - can you please open up a second issue giving a bit more detail on that?

[2020-02-18 16:18] walshbr commented on #1674
Yep it's on my list of things to do @mdlincoln!

[2020-02-19 09:42] acrymble opened #1675 "Clear out unneeded personal information from author pages"
To avoid carrying personal information we no longer require, I'll go through our author page and make sure to delete any information relating to former team members that we no longer require (eg, email addresses). (Can you tell who just took a data protection test?)

[2020-02-20 11:28] walshbr opened #1677 "Data validation on twitter bot spreadsheet"
As discussed on #1613, the main issues with the Twitter Bot are twofold

1. People forget to update the spreadsheet when a lesson is retired.
2. People incorrectly update the spreadsheet.

So they're largely social issues, but we can try to account for them. Number one is going to be addressed by text in a PR or on the wiki giving clearer reminders and instructions for doing so. As for number two,

[2020-02-20 20:16] #1674 closed, assigned to walshbr

[2020-02-20 23:40] mdlincoln commented on #1677
@walshbr I think google sheets validation should help us out here. I'll edit the english sheet to show how it might work - enforcing set values in `tweet_log`. IDK how sensitive your code is to data validation rules (or if the validation is just warnings that'll pop up for humans). So if it starts to go wonky after I add the rules, I'll revert it!

[2020-02-20 23:50] mdlincoln commented on #1677
hrm, well, I don't see (after a few minutes of googling) anyway to enforce a `NOT NULL` constraint on columns. But I did protect the `tweet_log` column and enforced values for it

[2020-02-21 09:44] acrymble opened #1679 "Portuguese Edition"
@JMParr has been working with a Portuguese team of editors to establish a Portuguese language edition of Programming Historian. We are currently in discussions about training, expectations, etc, with the hope that we can have a team up and running in 2020.

If anyone has any questions, please ask away.

[2020-02-21 13:01] rivaquiroga commented on #1672
Thanks! This is the only thing preventing us for publishing the translated lesson, so as soon as you have news on this please let us know.

[2020-02-21 13:02] rivaquiroga commented on #1635
@acrymble, by mid-year.

[2020-02-21 14:13] svmelton commented on #1672
The EN team didn't feel like we could address this issue, so I've reached out to the authors to see if they can take a look.

[2020-02-24 09:05] acrymble opened #1680 "Patreon phase 3 plan"
We are nearing the end of our recruitment plan for Patreon (end of March).

I'm very pleased to report we've gone from $0 to $110 per month, with 36 subscribers (for whom we're very grateful). It looks to me like our subscribers are almost all what we would describe as "DH" people, meaning that our cause resonates most clearly with them.

I'd like to ask if anyone on the team would be willing to h

[2020-02-24 09:07] acrymble commented on #1668
Ok I think we can say this has been approved informally (and it's informal anyway). No one currently exceeds this so the only action is for me:

- [ ] change the colour of the volunteer / institutionally supported buttons on the project team page

[2020-02-24 09:21] acrymble commented on #1370
There are a lot of steps to this ticket. Would it help if we broke it up into smaller tickets surrounding a milestone? I don't think it's easy to know what needs to be done?

I'd also suggest this might be the type of task we want to pay someone on the team to do, as it's quite complex.

[2020-02-24 10:10] acrymble opened #1681 "Portuguese Team Shadowing practice"
@svmelton our prospective Portuguese team all speak and read English well, and as part of their training to get up to speed with our practices, I'd like to ask that you pair each of them with an English language lesson going through peer review, if that's ok.

I realise this may take a few months. Can you let me know if you foresee any problems? I will put you in touch with them on email if you're

[2020-02-24 12:23] #1675 closed, assigned to acrymble

[2020-02-24 12:57] mdlincoln commented on #1370
I will open a ticket shortly, specifically regarding DOI policy - I have some larger thoughts on it that need a dedicated thread.

[2020-02-24 14:25] jenniferisasi commented on #1681
@acrymble I don't want to step on your toes, but have you considered having them (or at least two of three) shadow translations peer-review processes? If I remember correctly, the PT team will be first doing translations as they have some grant to do so, and I had to help (happily) the FR team understand this particular process as it is slightly different to original lessons.

For communication pu

[2020-02-24 14:27] acrymble commented on #1681
@jenniferisasi that would be great, but none of them said they knew Spanish.

[2020-02-24 14:36] walshbr commented on #1681
To @jenniferisasi's point - I'm never quite clear on the exact distinctions between translation workflows and the process for EN original lessons. This means that when I had ES folks shadowing me I give a lot of caveats about how what I'm telling them might be entirely different for their translation workflow. When I've done shadowing I usually do a skype call to describe the editorial process. I

[2020-02-24 14:40] svmelton commented on #1649
Minutes have been circulated. Major outcomes include:

- We will begin to recruit new editors, with a goal of recruiting 2.

- For lesson updates/bugs: if the original editor is unavailable and no EN team members can work on the issue, we will attempt to contact the original author. If the original author is unavailable, we will put out a community call for help. If none of these steps can resolve

[2020-02-24 14:40] #1649 closed, assigned to svmelton

[2020-02-24 14:46] svmelton commented on #1681
I'm happy to have the Portuguese team shadow lessons, though I think @walshbr's idea of having an ES team member join an editorial process call would be useful.

The EN team is also planning on recruiting 1-2 new editors, so it's possible that a lesson may have multiple people shadowing. I don't think that should be an issue, but I wanted to mention it.

[2020-02-24 14:48] walshbr commented on #1681
When I did shadowing for the ES team last, I had two folks shadowing me at once. @rivaquiroga @JoshuaGOB could speak to how it worked for them, but to me it didn't really seem to cause any problems. It's always a little more difficult to schedule calls with one more person, but we only needed one call. The rest was by email.

[2020-02-24 14:50] acrymble commented on #1681
@svmelton are there any lessons coming up soon that we can start someone on?

[2020-02-24 14:51] svmelton commented on #1681
@acrymble We have a draft that's supposed to come in on March 1, so that could be a possibility!

[2020-02-24 14:55] acrymble commented on #1681
Thanks @svmelton I will find out who is available first and introduce you via email.

[2020-02-25 01:39] rivaquiroga commented on #1681
I agree with @jenniferisasi. Although the workflow is very similar in terms of the general steps, the focus of the editorial and reviewing process is different. In translations the focus is not the aims, contents, or structure of the lesson, but how to communicate them in the new language for a global audience. In many cases that involves adapting examples and/or datasets.
Proposal: we just receiv

[2020-02-25 01:45] rivaquiroga commented on #1681
Two of us shadowing @walshbr worked perfect!

[2020-02-25 08:08] acrymble commented on #1681
Thanks @rivaquiroga  I will find a second PT person to shadow your new lesson. We have 4 people so this will let us get two people trained quicker.

Would it be helpful to have videos of someone talking through each process? That might reduce the future burden of training?

[2020-02-25 12:16] walshbr commented on #1681
Potentially, but it also didn't feel like a huge burden on me. Others might feel differently. Videos might help standardize things if nothing else - I also had a lot of caveats like "this is what I do / look for; others are probably different at this stage in the process." Perhaps inevitable though since we are all different people.

[2020-02-25 14:38] mdlincoln opened #1682 "DOIs and lesson retirement / updating policy"
Branching off of #1370

Committing to use DOIs has implications for how we update published lessons. In this ticket I want to propose a stricter policy around updating and retiring/replacing lessons in response.

From a technical standpoint, implementing DOIs is relatively straightforward once we have established a partnership with a DOI provider (I will open a separate ticket about the technical

[2020-02-25 14:40] mdlincoln opened #1683 "DOI registration partnership"
@drjwbaker Any further public discussion of talks about DOI registration partnership should be broken out into this thread, away from #1370 since it's too big to be one issue. I'm opening a separate ticket for the purely Jekyll-related work that would need to be done after we have determined the DOI workflow with our provider.

[2020-02-25 14:41] mdlincoln opened #1684 "Include DOIs in lessons"
Once we have established a DOI registration workflow #1683 we need to edit the Jekyll layouts to have a field for DOI in the YAML header and to display the DOI on the lesson page & citation.

[2020-02-25 14:44] acrymble commented on #1682
I don't think "retirement" is conducive to being a scholarly journal. There is "published" and "retracted" but no one else that I know of uses this idea of retirement.

[2020-02-25 14:47] svmelton commented on #1682
To add to @mdlincoln's good questions above, I wonder if we should designate someone to be in charge of managing lesson updates. This has come up recently in PH EN conversations, and @acrymble and I just had an email exchange about potentially adding that as a role. With DOIs in the mix, it seems like we might need this role more acutely. (I know we've discussed it as a ME function—but to be hones

[2020-02-25 14:54] mdlincoln commented on #1682
Our "retirement" mechanism would be the way to manage creating versions @acrymble  - rename it if the project team thinks it needs a re-name.

And @svmelton that may be a good idea - but I'd argue that the management should actually be made simpler by being much stricter in saying "No." to updates of a certain type.

[2020-02-25 15:03] acrymble commented on #1682
Whatever the criteria, it should be (in my view) on the side of preserving effort. If 200 hours has gone into producing a lesson and 1 hour and 7 lines can fix it, that's worth it, in my view. It's too easy to say "broken", without remembering how much energy went into creating something in the first place.

I think we can put forth an argument that the DOI is linked to a document with a purpose.

[2020-02-25 19:31] drjwbaker commented on #1682
A few brief thoughts:

- we need to involve our DOI provider *a little* in determining what changes create a new DOI because a) as librarians they are interested in the challenge, and b) they are paying per new DOI.
- agree that we need to say no more often.
- we need to change some of our ~"help us fix stuff!" language (eg https://programminghistorian.org/en/contribute#provide-feedback-or-report-

[2020-02-25 19:34] drjwbaker commented on #1682
Also, huge thanks to @mdlincoln for taking the time to kick this off.

[2020-02-25 19:40] drjwbaker commented on #1682
Final thing, can I propose we assemble some test cases from past edits and compile them as reference examples of New DOI and No New DOI, include our justifications against the DOI guidelines, and use that as a public/working document to guide (but not constrain, because there will always be weird edge cases) our future decisions. Again, I suspect our DOI partner would be interested in seeing this

[2020-02-26 08:46] acrymble commented on #1370
I've started lobbying the Royal Historical Society for support for this work, as there don't seem to be any grants to cover it. Someone on twitter also suggested we approach the Marc Fitch Fund.

[2020-02-26 08:51] acrymble commented on #1682
Re suggestion for updating text asking for updates, the following pages may be relevant:

https://programminghistorian.org/en/contribute#provide-feedback-or-report-problems
https://programminghistorian.org/en/feedback

(and obviously the other language equivalents).

Thanks @mdlincoln for initiating this discussion.

[2020-02-26 08:58] acrymble opened #1685 "Identity - Journal vs Website"
@mdlincoln rightly raised an identity issue in #1682 that we sometimes struggle conceptually with what Programming Historian is, as it takes bits and pieces from both scholarly journals and more flexible websites.

I thought it would be helpful to clarify that through a discussion.

I'd also like to suggest that we present ourselves outwardly as the publisher of 3 independent journals of methodolo

[2020-02-26 12:29] mdlincoln commented on #1370
What parts are the ones that require funding?

[2020-02-26 12:36] acrymble commented on #1370
@mdlincoln any of it could benefit from being able to hire someone to dedicate attention to it. It's a big task. And one brought on by external forces.

[2020-02-26 18:30] acrymble opened #1688 "Priority Pages for new publication translations"
At present we require ALL non-less pages to be translated for a new publication to get up and running. I'd like to suggest this is a big burden, and that we could instead reduce this to some key core pages, while providing a window of time for translating the rest. I'd suggest the following would make a good priority list:

- [ ] about
- [ ] project team
- [ ] privacy policy
- [ ] reviewer guideli

[2020-02-26 18:32] acrymble commented on #1370
It's worth stating that these Plan S guidelines are not yet set in stone, and a public consultation is currently open that we should consider expressing opinions on, as the outcome could result in extra effort required from us (https://www.ukri.org/funding/information-for-award-holders/open-access/open-access-review/)

[2020-02-26 18:35] JMParr commented on #1688
I agree that it's important to be mindful about the workload we're asking of new language teams, and it makes sense to prioritize certain pages - particularly those that involve the public-facing pages that allow new lessons to move forward.

But, certainly this, is a multi-team conversation. I would like some feedback from our existing language teams. @spapastamkou @rivaquiroga can you run this b

[2020-02-26 21:44] spapastamkou commented on #1631
@programminghistorian/french-team cf. PR #1689

[2020-02-26 22:12] spapastamkou commented on #1688
If I may, I'd like also to give some personal thoughts as I am currently almost the only one in the FR team that was involved since the beginning in this (please correct me if I am wrong, @fdlaramee, I can't recall at which stage you walked in).

The high priority pages as set by @acrymble in this ticket are the most demanding in time and energy to translate. Once they are ready, the lower priorit

[2020-02-26 22:19] mdlincoln commented on #1688
Chiming in on the technical front to say this would be fine, but teams would need to be mindful of how they would want to set up the [menu links](https://github.com/programminghistorian/jekyll/blob/gh-pages/_data/snippets.yml#L6-L205) if some pages would be missing for the first few weeks/months.

[2020-02-26 22:26] JMParr commented on #1688
Thank you, @spapastamkou - it's very helpful feedback.

And thanks to @mdlincoln too.

[2020-02-27 00:11] jenniferisasi commented on #1688
I strongly agree that translation does slow things down on some pressing texts/updates that need to be there sometimes. So thanks @acrymble for opening up the conversation.

I want to express some concerns/ideas to add to the conversation, taking into account that you are suggesting to always translate the most relevant pages:

1. How can we keep a 'pipeline/workflow' to know that X page is not go

[2020-02-27 09:59] drjwbaker opened #1690 "Respond to UKRI Open Access Consultation"
Further to https://github.com/programminghistorian/jekyll/issues/1370#issuecomment-591574780 I suggest we make a short and targeted (e.g. responding only to specific questions) response to the UKRI Open Access Consultation, wrt our specific (small, OA, agile, innovative publisher) concerns/hopes/dreams around Plan S.

Deadline is 17 April.

[2020-02-27 09:59] drjwbaker commented on #1370
@acrymble I've opened a fresh ticket re Plan S and the URKI consultation.

[2020-02-27 09:59] drjwbaker commented on #1690
Link https://www.ukri.org/funding/information-for-award-holders/open-access/open-access-review/

[2020-02-27 13:19] drjwbaker commented on #1685
My position: we are a publisher of three journals and we use https://github.com/programminghistorian/jekyll/issues/1682 as a tool to more tightly define (for us, our authors, and our audiences) what we think an 'article' is.

[2020-02-29 16:43] acrymble commented on #1685
If there isn't any controversy here then I'll go through our public pages and identify any places where that messaging isn't clear or consistent.

[2020-02-29 16:59] drjwbaker commented on #1685
Thanks @acrymble

[2020-02-29 17:00] acrymble commented on #1443
@rivaquiroga can we finish this off?

[2020-02-29 17:02] acrymble commented on #1611
@spapastamkou this fix should probably be implemented now, as it means we have a broken french lesson published.

[2020-02-29 17:07] acrymble commented on #1629
@jenniferisasi is there an action waiting for something here? Can we press ahead?

[2020-02-29 17:08] acrymble commented on #1633
@amsichani can you let us know if you need anything from anyone on the team to support this? I'm not sure what your timelines are.

[2020-02-29 17:13] acrymble commented on #1018
@ZoeLeBlanc do you need any support on this? Is it more difficult than expected?

[2020-02-29 17:14] jenniferisasi commented on #1629
Thanks for being on top of everything @acrymble! I need to wrap up all the ideas after talking to a couple more people, created a spreadsheet, etc. so give me about a week to finalize and publish on the wiki.
(Flying today to my new location, if all goes according to plan I should be more than able to complete this)

[2020-02-29 17:16] acrymble commented on #1650
I've sent an email to you both in case you didn't have the most recent email @amsichani

[2020-02-29 18:19] spapastamkou commented on #1659
All - it took a bit more time than I thought but here are the latest news. There is a first draft in the googledoc but I still have to work on the detailed budget.
As it is, the bid proposal has:
- 3 beneficiary parts (direct recipients of funds): a) my research unit via the regional interdisciplinary institute jointly supported by the 3 regional universities and the CNRS => funding is in more fav

[2020-02-29 18:21] spapastamkou commented on #1611
Ok, I was not very sure if I could proceed. I'll work on this next week.

[2020-02-29 18:25] rivaquiroga commented on #1443
I'll upload during this weekend the info + picture she sent me this week

[2020-02-29 18:55] acrymble commented on #1685
Pages that contain text that may need revising in line with this:

- Front page - refers to 'versions' rather than 'publications'
- About page could make distinct publications clearer. Description sounds like a website rather than a journal. Specifically perhaps an intro sentence (this is what we are) and revising the references to "Teams" in the History section at the end, to refer instead to "pu

[2020-03-01 10:05] acrymble opened #1691 "Andrew Mellon Foundation"
I've done some digging and the Open Library of the Humanities got funding from the Andrew Mellon Foundation to support their sustainable financial development. I think we should look into this as an option for building our own sustainable base.

Their Scholarly Communication Stream seems the most appropriate for us: https://mellon.org/programs/scholarly-communications/

It would be worth talking t

[2020-03-01 10:06] acrymble commented on #1691
Note this is liked to our Programme 3 goal from the business plan: To apply for core funding for 1.5FTE posts to project manage ProgHist ltd by August 2020, with the roles to focus on sustainability and project growth

[2020-03-01 16:28] acrymble commented on #1659
Hi Sofia,

Thanks for sending this. I don't see why you can't expect your translators
to respond to corrections. That should be built into their contract (one
round of revision at the direction of the editor).
It might be worth translating a Spanish lesson too, since there are a few
of those now. This makes it look more global.
Make sure the African partners are being fairly compensated and treate

[2020-03-01 17:17] mdlincoln commented on #1018
We're having a call in 2 weeks to go over it one-on-one

[2020-03-01 17:52] #1631 closed, assigned to spapastamkou

[2020-03-01 18:58] fdlaramee commented on #1659
Thanks Sofia. Do we know how many original lessons were produced (or are in the process of being produced) as a result of the Colombia workshop? It seems to me that we'd be lucky to get as much traction in Senegal, unless Humanistica happens to be held there in 2021.

As for organizing two workshops, I know I wouldn't have the bandwidth to do it and I suspect it would overtax our small team, so ma

[2020-03-02 08:20] acrymble commented on #1680
I'll leave this call for help open for a few more days, but if no one has the time or interest, I'll close this and we'll let Patreon run as normal.

[2020-03-02 08:22] acrymble commented on #1668
@mdlincoln do you have a view on the colour for this icon? I don't want to mess with the colour scheme of the whole site by going rogue with my own preferences.

[2020-03-02 08:28] acrymble commented on #1668
Note for myself: the css class used for setting the colour is in an external stylesheet: view-source:https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css so I guess I can either choose one of the other "badge" classes (the current one is using badge-primary) or I can add a new css class to our style.css sheet. I'll also have to add some logic to add a class to the HTML for

[2020-03-02 08:29] acrymble commented on #1635
Just an update that @rivaquiroga and I have had some conversations about this and the Spanish team is still finalizing their plan, but it seems like they will build a styleguide themselves.

[2020-03-02 08:32] acrymble commented on #1679
I'm going to close this ticket as the information has been shared and no questions have arisen.

[2020-03-02 08:32] #1679 closed, assigned to acrymble, JMParr

[2020-03-02 10:42] drjwbaker commented on #1691
@acrymble Note the OLH grant went through Birkbeck https://mellon.org/grants/grants-database/grants/birkbeck-college/21500709/ not direct to OLH the charity (though it might be worth a conversation with Martin re how the finances broke down in reality). If we need to run this through a HEI, we need to think about *who* can/should/is able to lead the grant and then start bringing their Research Off

[2020-03-02 10:43] drjwbaker commented on #1691
For example, I suspect Sussex would be up for it and I could be PI. But I have next to zero grant writing capacity right now, so if we did that we might need to someone else from the team to write the grant on my behalf, and that person shouldn't be expected to do that for free.

[2020-03-02 11:55] drjwbaker opened #1694 "ProgHist Ltd Annual General Meeting 28 May 2020"
## ProgHist Ltd Annual General Meeting 28 May 2020

**Time: 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET**

**The AGM should last no longer than 2 hours**

### People

Chair: @acrymble

Secretary: @drjwbaker

Voting attendees: all ProgHist Ltd Directors (@acrymble @drjwbaker @amsichani @svmelton @spapastamkou @rivaquiroga) and all who are ‘Member (Editorial Board)’

[2020-03-02 11:56] mariajoafana commented on #1661
I'll join the meeting and after this one I'll take over scheduling and running the bi-monthly calls

[2020-03-02 14:07] mdlincoln commented on #1668
If you can, please stick to the Bootstrap "badge" classes.

[2020-03-02 14:12] mdlincoln commented on #1691
So it's true that Mellon has been investing heavily into scholarly publishing _platforms_ as of late, such as OLH's _Janeway_ project, _Manfiold_, and a few others. But the emphasis is on platforms that could support a wide array of publications in the field, not individual publications like ours: https://mellon.org/programs/scholarly-communications/electronic-publishing/

I'm not saying PH is an

[2020-03-02 14:23] mdlincoln commented on #1682
Agreed @acrymble, that's why what I'd be proposing is like this:

1. A lesson is reviewed and published at `/en/lessons/how-to-use-sparql`, and a DOI is registered for it.
2. Some time later, substantive-enough changes are required in the code that it would cross the threshold of needing to be a new version. This could even just entail 7 lines.
3. We make a new copy of the lesson markdown to `/en/

[2020-03-02 14:32] svmelton commented on #1691
I concur with @mdlincoln—Mellon did a big round of funding scholarly publishing platforms in the past 3-5 years, but if we were to try to apply for something, we would really need to demonstrate how PH provides a model that is usable across lots of different types of publications. I don't think we're at that point yet.

But I do think that continuing to partner with libraries, we may find some way

[2020-03-02 14:38] mdlincoln commented on #1691
@svmelton  I won't be in person - I think I'm just named on a paper - but a few of my colleagues will be there, I can try to put you all in touch!

[2020-03-02 15:03] mdlincoln commented on #1557
@svmelton anything need to change in our reviewer guidelines for this? Or can we close it?

[2020-03-02 15:04] mdlincoln commented on #1663
Having done some investigation, this doesn't seem to be an option.

[2020-03-02 15:04] #1663 closed, assigned to mdlincoln

[2020-03-02 15:06] mdlincoln commented on #1677
@walshbr any bot issues since I added data validation? LMK - if not, then I'll add it to es and fr sheets and then we can close

[2020-03-02 16:45] svmelton commented on #1557
I think we can close this!

[2020-03-02 16:45] #1557 closed, assigned to svmelton

[2020-03-02 17:51] amsichani commented on #1526
many thanks to all for your comments and ideas so far. I am planning to work on this and #1525 in the next couple of days and I will update the relevant tickets.

[2020-03-02 17:51] amsichani commented on #1525
many thanks to all for your comments and ideas so far. I am planning to work on this and #1526 in the next couple of days and I will update the relevant tickets.

[2020-03-02 19:08] mdlincoln opened #1695 "Spanish team combined authors & translation guide page"
Hey @programminghistorian/spanish-team I wanted to raise a question for you all that came up during #1673 :

There is no separate ES "translation guide" page. Instead there's the combined ["Guía para autores y traductores" page](https://programminghistorian.org/es/guia-para-autores).

You may want to consider if you want to separate out your author & translator guide - it would be nice from the te

[2020-03-02 19:19] acrymble commented on #1695
@mdlincoln the Spanish team is currently re-writing this as we implement styleguides. @rivaquiroga can we save Matt work here and separate these files?

[2020-03-02 19:24] mdlincoln commented on #1695
for future @programminghistorian/technical-team - will need to remove the if-logic around the menu once these pages are split out

[2020-03-02 19:58] acrymble commented on #1691
Thanks for the feedback @svmelton and @mdlincoln.

Can we position ourselves as creating a model for tech self-learning that's linguistically global? We're small now, but the idea is scalable.

[2020-03-02 21:14] spapastamkou commented on #1659
Thank you @fdlaramee.
- I think there are some 2 original lessons in ES and one more to come or something like that. Maybe @rivaquiroga can give us more exact info.
- We stick to 1 workshop then. I think it really is a good idea to have it in Dakar.
@acrymble Thanks for the remarks, I note all. If part of the badget goes directly to Dakar, this means that they shall have to dedicate someone for ma

[2020-03-02 22:19] spapastamkou commented on #1695
@jenniferisasi just commented on this in the PR #1673: https://github.com/programminghistorian/jekyll/pull/1673#issuecomment-593649644

To provide some context: the initial issue for creating translator guidelines, separating them from the author guidelines, was #1385. We then created separate tickets for the FR and ES guidelines. In the latter case, as Adam said, the ES translator guidelines over

[2020-03-02 22:21] jenniferisasi commented on #1695
haha I deleted that comment cos I saw this issue 3 minutes later. Yes, I remember why we did it, and I believe if FR and EN already have it separate and eventually PT will have it, then we need it the same.

[2020-03-02 22:25] rivaquiroga commented on #1695
Sure. I don’t see any reason why not to separate them

[2020-03-02 22:58] spapastamkou commented on #1682
Maybe it is already considered, but I thought of Zenodo's DOIs versioning with one global DOI for all versions of a digital object and specific DOIs for each version as described [here](https://help.zenodo.org/#versioning).

[2020-03-03 09:51] acrymble commented on #1668
The file where these tags are applied is: https://github.com/programminghistorian/jekyll/blob/gh-pages/_includes/contact-info.html

[2020-03-03 09:54] acrymble commented on #1668
I think this may require moving "volunteer" and "institutionally supported" in ph_authors.yml to a new metadata category in order to tag them separately with a different HTML tag. Are we fine with that @mdlincoln ?

[2020-03-03 12:06] mdlincoln commented on #1682
Zenodo doesn't actually provide DOIs for arbitrary URLs, we're going with @drjwbaker's supplier instead. Also, the DOIs themselves don't have versioning, other than using a string that looks like a version number. The actual content system (zenodo, or Programming Historian) is the one that is responsible for linking together versions of docs.

[2020-03-03 12:07] mdlincoln commented on #1668
Sure. Make a PR and let's see what it looks like.

[2020-03-03 18:20] spapastamkou commented on #1611
Done. Thanks again for the help @fdlaramee.

[2020-03-03 18:20] #1611 closed, assigned to spapastamkou

[2020-03-04 08:10] acrymble commented on #1659
@spapastamkou keep in mind that given the concerns about the virus, a lot of events are being cancelled right now, on short notice. You may want to factor that into your bid.

[2020-03-04 08:14] acrymble commented on #1658
I'd like to suggest this come with some reasonable goals for number of partners in the first year, which we can work towards together.

[2020-03-04 08:16] acrymble commented on #1688
So my sense is that this idea is not one we want to take forward. That's ok. Thanks for the feedback @jenniferisasi and @spapastamkou

[2020-03-04 08:16] #1688 closed, assigned to JMParr

[2020-03-04 08:17] acrymble commented on #1680
@walshbr is it possible for us to add a Patreon page to the twitter bot? That would let us tweet out regularly.

[2020-03-04 13:59] walshbr commented on #1680
This has come up before @acrymble, and we decided against using the bot for things that weren't lesson promotion. The bot is set to regularly cycle through all of our lessons, so it is really best for things where we don't care at all about the frequency/timeline in which things come up. If we did add the patreon to the English sheet a lesson come up once ever 63 weeks. You could add more rows wit

[2020-03-04 14:08] acrymble commented on #1680
Maybe I misunderstood @walshbr. I thought we could add new tabs which would each have their own random tweeting times (eg, one for each language).

[2020-03-04 14:09] walshbr commented on #1680
Theoretically we can - that is an entirely new use of the thing though that we haven't done in the past, and each added tab requires refactoring of the bot to make it work with the new data. It's not a ton of work, but it is work. I suppose we could add promotional spreadsheet tab that does things once a week, but I think there are probably diminishing returns. If I had to guess, our bot gets enga

[2020-03-04 17:06] jenniferisasi opened #1698 "Split translation concordance into lessons vs. other pages sections"
As per conversation in [238 in the ph-submissions](https://github.com/programminghistorian/ph-submissions/issues/238) repo I will attempt to update the [concordance list](https://programminghistorian.org/translation-concordance) we have to show the state of translations of lessons to make it easier for potential translators to decide on tasks.

Matthew Lincoln recommended:
If you use the where liq

[2020-03-05 08:06] spapastamkou commented on #1659
I received the cost estimations for the translation of 50 tutorials: it is estimated to some 37 000 € on the basis of a 12-month contract for someone to work on them full time. Given that max funding to ask is 45 000 €, this means that the bid could not cover much else besides this. I am a bit mitigated on this, perhaps it would be better to ask for less lessons to translate.

Otherwise, the UCAD

[2020-03-05 09:08] acrymble commented on #1659
It's difficult to offer advice because of my limited French. If they are going to hire someone specifically to do your work, why wouldn't you just hire them yourself through ProgHist Ltd? I don't see the advantage of working with an external company.

If I was reviewing the bid, I think I'd also question how the two things you're trying to achieve are related.

[2020-03-05 14:51] spapastamkou commented on #1659
@acrymble The terms of funding are more favorable for scientific establishments rather than enterprises (this is what the ProgHist Ltd will be considered). The Inist is a research unit of the CNRS.

The batch of translations and the workshop are presented as two objectives for reinforcing a francophone open educational resource - in my knowledge, there are no other currently - first by giving body

[2020-03-05 16:06] acrymble commented on #1659
Sorry @spapastamkou I may just be misunderstanding. Who would be the manager of this person, and who would hire them? Is that you? If not, it strikes me as unusual for a project like this (but I recognize France may be different).

I think in future we'll have to start thinking about a memorandum of understanding between ProgHist and universities we work with. We've got a bit of a funny model of o

[2020-03-05 16:14] acrymble commented on #1680
OK @walshbr let's not clutter the twitterbot. I will close this issue then and we'll continue with our current plan of tweeting or sharing from time to time.

It seems like one of the most effective way of getting new sponsors is the Monday tweets we do thanking new sponsors from the previous week.

If anyone has an idea for promoting this, please do tell us. It's really helped us get off the grou

[2020-03-05 16:17] acrymble commented on #1685
Unless I hear otherwise in the next couple of days I will seek to rectify the above pages, with minimal intervention required (so as not to put a big burden on translation).

[2020-03-05 16:49] walshbr commented on #1680
I think I've come around more to the idea the more I think about it, for what it's worth. Related desires for the bot have come up from time to time. But I'll defer to you @acrymble. Something that might be more compelling to me is a sheet that gives regular tweets to a series of related, prog-hist meta things, including Patreon:

- Patreon promotion
- Paypal donations and IPP program promotions
-

[2020-03-05 21:10] jenniferisasi commented on #1680
As the Comm Manager I didn't like the idea of the bot tweeting for money very often either, but @walshbr this plan sounds really nice. I would add:
- PH mission

[2020-03-06 11:42] drjwbaker commented on #1691
If we did that, what publishing infrastructure would the Mellon ultimately fund?

- A toolkit (a document https://themuseumsai.network/toolkit/) that provides a plug-and-play orginsational and documentation structure for multi-lingual open access publication?
- Generalisable technical infrastructure (based on https://github.com/programminghistorian/jekyll/wiki/Technical-Tutorial-on-Translation-Lin

[2020-03-06 11:43] spapastamkou commented on #1659
@acrymble This specific call can be built around
- 1 basic coordinator person and beneficiary establishment (receiving direct funding for a mission)
- Beneficiary partners (receiving direct funding for a mission)
- Partners (not touching funding but bringing their own financial or in kind contribution)

I had first put ProgHist Ltd as basic coordinator but the funding is less interesting in this c

[2020-03-06 11:48] acrymble commented on #1691
My understanding of the Open Library of the Humanities is that Mellon funded a team to build a sustainable business model so that they could offer a service indefinitely. They aren't funding tech. They're funding startups.

[2020-03-06 11:50] drjwbaker commented on #1691
https://mellon.org/grants/grants-database/grants/birkbeck-college/21500709/

The money was to fund the model. My comment above was about that. What model would Mellon be funding by funding us?

[2020-03-06 11:53] acrymble commented on #1691
I think we're talking past each other.

We have a platform and an editorial framework for open access journal article publication in the humanities that relies heavily on sporadic and voluntary labour. We need support to transform that model into one that is sustainable and self-supporting like OLH is (thanks to the support of Mellon). I really don't see a difference.

[2020-03-06 11:58] drjwbaker commented on #1658
Can we link it to items on the business plan @acrymble ? 2 IPPs makes us financially sustainable based on our current ongoings, so that is not much of a target. So if there are specific items on the business plan (or coming out of https://github.com/programminghistorian/jekyll/issues/1489) we want to link our goals to, that would make sense. The one the comes to mind for me is how many IPPs do we

[2020-03-06 12:02] acrymble commented on #1682
I just noticed that our "Goals" on patreon include keeping lessons up to date, if we meet the $200 per month target. We can still change that because we haven't met the target. But I raise it because we'll have to update that text if we make changes to our plans.

[2020-03-06 12:06] acrymble commented on #1659
Thanks @spapastamkou I think I understand better now.

I would strongly encourage you to form a relationship with this partner whereby you are the manager of the translator. Otherwise I'm concerned that you're giving up editorial control. Is the rest of the @programminghistorian/french-team team happy with the proposal?

[2020-03-06 12:08] acrymble commented on #1691
@drjwbaker none of this is necessary of course if you think the IPP can sustainably support a Project Manager (which is part of the business plan, and core to sustainability).

[2020-03-06 12:16] drjwbaker commented on #1691
I don't think the can rely on IPP (though we have news, see the shared inbox!)

And I think what me @mdlincoln and @svmelton are querying is if what you seem to be proposing is what Mellon funds.

For clarity, I suspect the OLH bid was not ~"please help us make OLH sustainable" but "please help us make OLH sustainable + enable us to make OLH a model for sustainable model for OA in the humanities".

[2020-03-06 12:26] acrymble commented on #1691
Thanks for clarifying @drjwbaker. My understanding of what Mellon seeks to fund was different, so thanks for putting us on the same page. I think it would be worth one of us (I can volunteer because I know you're busy) reaching out to OLH for information on what was funded and what they might be willing to teach us. Are you happy for me to pursue that?

[2020-03-06 12:29] drjwbaker opened #1700 "App/platform for shared storage of financial/business/team documentation"
All - we have a bus factor in that I hold on our financial/business documentation for PH Ltd but that we can't quite figure out a *secure* (and GDPR compliant) place to keep this all in a shareable form.

Does anyone have any thoughts, experience, suggestions in this area?

One option is to pay for Box https://www.box.com/en-gb/pricing because it is cheap(ish), GDPR compliant, and trusted as secur

[2020-03-06 12:31] drjwbaker commented on #1700
Also relates to https://github.com/programminghistorian/jekyll/issues/1482: we could do with reducing the bus factor on the offline archive of PH documentation.

[2020-03-06 13:19] walshbr commented on #1700
UVA also has a box subscription, and I could certainly toss things up there. Our file storage limit is obscene. But it sounds like you're after a purely ProgHist hosted solution, right?

Alternatively (and if you haven't already looked into it) we might think about applying for a GitHub education discount, which I think comes with free repositories. I think we'd qualify, and IIRC the process isn't

[2020-03-06 13:19] drjwbaker commented on #1691
I should clarify. I might be wrong. But that it my reading of what they fund.

[2020-03-06 13:20] drjwbaker commented on #1691
And yes, do pursue. I can't imagine that Martin would be unhelpful.

[2020-03-06 13:25] drjwbaker commented on #1700
Yeah, I'd rather not rely on one of the services our universities subscribe to as those are - ultimately - personal accounts linked to individuals.

If @programminghistorian/technical-team could use private repos for other things, an edu discount could be worth pursuing.

[2020-03-06 13:38] drjwbaker commented on #1659
On..

.. what does this specifically mean in terms of:

- € to be paid to ProgHist Ltd
- € to be spent by ProgHist Ltd
- services delivered by ProgHist Ltd

[2020-03-06 13:47] drjwbaker commented on #1682
That was always a slightly vague goal (that is, where is the specific spend associated with that goal). My suggestion is rather than change the goal we make it actionable by doing something like the following:

- we identify a lesson needs to change
- we identify that the change will trigger a new version (based on the criteria we have yet to lay out)
- at that point, we get a copy editor to retro

[2020-03-06 14:26] drjwbaker commented on #1685
Thanks for leading on this @acrymble. A couple of things:

Do you mean here where we try to make it clear that the EN publication came first? If so, there was substantial discussion about this before https://github.com/programminghistorian/jekyll/issues/1089#issuecomment-441440524 and a PR you withdrew because you didn't want to reopen it https://github.com/programminghistorian/jekyll/pull/1417. I

[2020-03-06 14:42] drjwbaker commented on #1680
@walshbr: I like it, especially - outside the patreon, paypal, IPP stuff - promoting work we've done before, things like:

[2020-03-06 15:01] acrymble commented on #1685
Thanks @drjwbaker. In terms of the company and the publications and legal ownership/protection, my understanding is that the company has to "own" the publications to afford its members protection under limited liability. So ProgHist Ltd publishes 3 journals, but has an internal policy of not interfering directly in editorial control within those.

Is that not right? I suspect different views on th

[2020-03-06 15:33] drjwbaker commented on #1685
Correct. I agree this is knotty.

[2020-03-06 16:10] acrymble commented on #1685
Ok. If you adopt the "who do I sue" approach to the text, then I think this is misleading:

It should say (I think, something like):

[2020-03-06 16:18] drjwbaker commented on #1685
You might be right. Rewording that stuff is bigger than this ticket though, I suspect.

[2020-03-06 16:21] grabani opened #1701 "From lesson "HTML to List of Words (part 2)" - Find command does not work (obo.py)"
Running the 'html-to-list1.py' file from the 'python-lessons3.zip' I get the following error:

**_TypeError: argument should be integer or bytes-like object, not 'str'_**

The full title of the lesson
**Lesson Tile: From HTML to List of Words (part 2)**
- The system you are using (Mac, Linux, Windows)
**System = Windows**
- Version numbers of the relevant software you are using
**Python = 3.7.6
Wi

[2020-03-06 16:43] acrymble commented on #1685
I'll add it to discussion at the next team meeting.

[2020-03-06 21:29] fdlaramee commented on #1659
I concur with @acrymble -- We would benefit from a structure that allows you, @spapastamkou, to have direct oversight of the translator. I have worked as a translator on projects where the client wasn't directly involved from the start and they did not always go very well. Compounding the issue is that we have rather unusual content that includes source code that needs to be translated (and tested

[2020-03-07 12:56] mdlincoln commented on #1680
Regarding venues for promoting PR Patreon: after some discussion with @amandavisconti and the rest of the community on digitalhumanities.slack.com, they've opened up a `seeking-funds` channel where it would be appropriate for us to post an occasional message. @jenniferisasi note the guidelines here https://github.com/amandavisconti/DHslack/blob/master/CodeOfConduct.md#messages-involving-money-fund

[2020-03-08 01:21] jenniferisasi commented on #1680
Ok, so now we need a plan to process with:
- new tweets for the bot (I suggest these are in all our languages, mixed, and let the random timing work)
- plan for slack promotion 1-month
-- @drjwbaker do you want me to take care of the promotion on digitalhumanities.slack.com?

[2020-03-08 08:24] acrymble commented on #1680
@jenniferisasi James is away but if you could do that I'd appreciate it.

I think the bot really belongs in a new ticket, so I'll open a new one where we can work on that. Do you want to take the lead, as it feels like a communication thing, ultimately?

[2020-03-08 08:26] acrymble opened #1702 "New Bot Tweets for Communications"
As per #1680 we're going to start a new tab on our twitter bot spreadsheet to do some random tweeting related to various non-lesson issues (but not too often). @jenniferisasi has suggested doing so in all three languages.

Jennifer, can I ask you to start outlining what this looks like, and if you'd like help I am happy to chip in, but this is definitely your remit so I don't want to overstep my b

[2020-03-08 08:40] acrymble opened #1703 "Service Agreement between ProgHist Ltd and New Publications"
Since we've changed our model quite dramatically in the past year, we've now got to come up with terms of service to clearly outline the responsibilities of both ProgHist Ltd (the publisher) and the teams starting new publications.

@JMParr has initiated this through a document that the Global Team is working on. We'll circulate this to the team for comment before making it public.

Ultimately thi

[2020-03-08 08:44] acrymble opened #1704 "Service Agreement between ProgHist Ltd and Existing Publications"
Related to #1703 (Service Agreement between ProgHist Ltd and New Publications) and #1685 (Identity - Journal vs Website), we could benefit substantially from clarifying the responsibilities of ProgHist Ltd towards its publication teams. I'd like to propose a service agreement to be collectively drafted by all teams to outline those responsibilities (and limits). That should clarify the relationshi

[2020-03-08 09:32] acrymble commented on #1658
Once you have something ready @rivaquiroga @jenniferisasi can you let me know so I can post it to Patreon? I think the people there would be likely interested in promoting this option with their libraries.

[2020-03-08 10:08] acrymble commented on #1704
I have drafted a document and sent it via email to all team leaders (whom I've asked to share it with their teams for comment). Can team leaders please tick off here to confirm receipt:

- [x] @mdlincoln (tech)
- [x] @drjwbaker (finance)
- [x] @jenniferisasi (comms)
- [ ] @JMParr (global)
- [x] @svmelton (English)
- [x] @rivaquiroga (Spanish)
- [x] @spapastamkou (French)
- [x] @amsichani (director

[2020-03-08 15:28] #1668 closed, assigned to acrymble

[2020-03-09 08:39] acrymble commented on #1443
This was merged. So closing. Thanks @rivaquiroga

[2020-03-09 08:39] #1443 closed, assigned to rivaquiroga

[2020-03-09 13:15] walshbr commented on #1702
@jenniferisasi I'd suggest we keep all this content in a single spreadsheet, even if that means lumping in multiple languages into a single sheet. And then selecting a single day/time for this particular kind of tweet to go out each week. That would mean we have more content (3x because of the various languages, theoretically), which means it would take longer for it to go through a single cycle.

[2020-03-09 15:59] jenniferisasi commented on #1702
My idea with the multiple languages was to put them "into a single sheet" to precisely have 1) more content to go through the cycle so it feels less like a bot and, of course, 2) have these messages reach our multilingual community.

I'll write a few tweets in a separate spreadsheet before adding anything to the bot spreadsheet.

[2020-03-09 16:01] walshbr commented on #1702
Sounds good! I made a "Communications" tab on the sheet. You can go ahead and add things there. The bot script looks for sheets by name when it goes to tweet, so adding stuff into a separate tab like that is fine until we pull the switch on it.

[2020-03-09 16:07] jenniferisasi commented on #1702
Ah, perfect then, thanks!

[2020-03-09 16:20] jenniferisasi opened #1706 "Newsletter: 1st trimester of 2020"
It is that time of the year again, and I am looking forward to write about all our accomplishments of the first months of 2020. I will create a list and please add anything I am forgetting:

- [x] Instructions on how our multilingual site works
- [x] Number of users in 3 months
- [x] New PH member
- [x] Number of Patreon subscribers in 3 months
- [x] First(s) IPP (one pending)
- [x] X number of ne

[2020-03-09 16:30] acrymble commented on #1706
The Open Scholarship award from  Canadian Social Knowledge Institute

[2020-03-09 17:29] mdlincoln commented on #1706
I've put a more permanent copy (with some more audience context) up at https://matthewlincoln.net/2020/03/01/multilingual-jekyll.html which might be a more appropriate thing to link to than the internal wiki

[2020-03-10 22:46] spapastamkou commented on #1659
@drjwbaker
(definition of the beneficiary): "The Beneficiary is a legal entity receiving funding for a Project selected following the FNSO 2019 call for projects."

**€ to be paid to ProgHist Ltd:**
From what I understood from the call: ProgHist Ltd should be considered as a small and mediumsized enterprise (SME) and this means eligibility to _de minimis_ aid with maximum aid rate at full cost: 45

[2020-03-10 22:58] spapastamkou commented on #1659
@acrymble @fdlaramee
- normally the terms of collaboration between partners will be explicit - this what was proposed by the guy of the Inist.
- the cost estimations were made on the basis of special texts to translate, because of the hybrid form they have, combining humanities and social science vocabulary with use of code.
- define myself as manager of the translation, if I get it correctly (and

[2020-03-10 23:26] mariajoafana commented on #1650
I'm closing this issue since we already discussed this

[2020-03-10 23:26] #1650 closed, assigned to amsichani, mariajoafana

[2020-03-10 23:51] mariajoafana commented on #1695
Hi, just making sure that someone in the Spanish team is taking over the task of separating the author and translator guidelines, anyone? I'm happy to take work on this with someone else

[2020-03-11 00:31] mariajoafana commented on #1681
Passing by to ask about the status of this, @acrymble have you found a second PT person? Can I support you in this?
@rivaquiroga I couldn't find the translation ticket, is it Dave's lesson on audiovisual transcoding?

[2020-03-11 00:33] mariajoafana commented on #1672
Hi @svmelton any updates on this?

[2020-03-11 01:07] mariajoafana commented on #1635
Shall we continue planning this here? @jenniferisasi @rivaquiroga @arojascastro @JoshuaGOB @vgayolrs @jamotilla

[2020-03-11 01:17] jamotilla commented on #1695
I can work with you @mariajoafana

[2020-03-11 08:55] acrymble commented on #1659
@spapastamkou if the spending rules are similar in France to in the UK, then the 55% that ProgHist would be expected to cover would be for direct costs only. So if you're going to hire your translator through a university then that part of the grant has no financial impact on ProgHist. If we wanted to hire someone at ProgHist, the grant would  presumably only agree to cover 45% of their salary.

S

[2020-03-11 08:56] acrymble commented on #1681
Thanks for following up @mariajoafana. I have a zoom meeting with the Portuguese people today.

[2020-03-11 09:11] acrymble opened #1707 "Project Team Page - Ombudspersons"
We've now got Silvia Gutiérrez De la Torre as our Spanish Ombudsperson.

In order for her picture to appear on the project page, she's been listed as an "editor" of the Spanish publication, which isn't correct. Amanda Visconti (our English ombudsperson) isn't shown at all. We need this to be done consistently and it should be accurate.

[2020-03-11 09:18] spapastamkou commented on #1659
@acrymble If we take the example of the Fr copy-editing cost estimation, this was £1800 if I remember correctly. In this case, if we ask for £ 810 (which is the 45%) in this grant, will it be possible to have the rest covered by ProgHist Ltd?

[2020-03-11 09:24] acrymble commented on #1659
You'll have to ask @drjwbaker when he gets back next week. He will probably want to see a full budget with all items on it (those to be covered by ProgHist and those paid in other ways). Usually you'd also add an administrative fee for ProgHist to cover the costs of doing whatever work is required. The scale of the fee depends on how much work is involved. This is something you'll have to define.

[2020-03-11 09:42] acrymble commented on #1680
Given the rather sudden changes in global markets the last week or so as a result of this virus, I think we should hold off on too much promotion of Patreon for a few weeks as people focus their priorities elsewhere, and instead spend a bit of time making our existing patrons feel valued, and focusing on the IPP programming instead. Does that sound reasonable?

[2020-03-11 11:36] acrymble opened #1708 "Portuguese Core Pages Plan"
I had a meeting with the Portuguese team about translating core pages, and have helped them set up a plan for doing this efficiently. They will be translating from English to Portuguese. I've asked them to inform us in one-month blocks of which pages they will be translating at any given time. This will allow us to freeze any changes while they are working, without requiring us to stop work all to

[2020-03-11 11:39] acrymble commented on #1685
As this issue now affects the ability of the Portuguese Team to translate core pages (because of possible future changes), I'm going to suggest the following pages are updated now:

- About page could make distinct publications clearer. Description sounds like a website rather than a journal. Specifically perhaps an intro sentence (this is what we are) and revising the references to "Teams" in the

[2020-03-11 11:54] amsichani commented on #1691
Hi, this is an interesting idea to pursue and it would be great if we could reach OLH to learn what their bid was initially for.

[2020-03-11 12:35] acrymble opened #1710 "Portuguese Title Checklist"
@JMParr can you help me put together a checklist to make sure we do everything? I'll start it but please edit.

- [x] register an ISSN with the British Library.
- [x] translate all core pages.
- [x] onboard all Portuguese members.
- [x] add all Portuguese members's bios to the PH Project Team page (including a small black and white headshot).
- [x] Select a Portuguese Team Managing Editor (should

[2020-03-11 12:38] acrymble commented on #1681
I've had a meeting with the Portuguese team. They weren't clear what this would involve, but now understand and will be sending me a couple of names soon.

[2020-03-11 13:22] JMParr commented on #1708
Hi, @acrymble - this seems more like it's in the Tech Team's domain than Global's.

[2020-03-11 13:29] JMParr commented on #1710
I have added the action items I can think of and have added Team Development as a tag.

[2020-03-11 13:36] acrymble commented on #1708
@JMParr that's worth raising at the next meeting. Whose job is it to follow through with a new publication team? It was pursued by Global, and I don't think there are many tech implications. It's important we all agree who is doing the work.

[2020-03-11 13:43] JMParr commented on #1708
We can also delegate some of this to other members of the Global Team. @rivaquiroga or @spapastamkou , do either of you have the bandwidth to take tracking these ticket on?

[2020-03-11 14:10] jenniferisasi opened #1711 "NEH Infrastructure and Capacity Building Challenge Grants"
The NEH just announced[ a new round of grants](https://www.neh.gov/grants/preservation/infrastructure-and-capacity-building-challenge-grants), one in particular to support:
- **Digital Infrastructure** supports the maintenance, modernization, and sustainability of existing digital scholarly projects and platforms.

It includes a 10% of the grant for fundraising efforts as it has a "matching requir

[2020-03-11 14:11] jenniferisasi commented on #1710
Though it would be the last thing to do, may I add an item on communication?

[2020-03-11 14:20] walshbr commented on #1711
To my understanding the Programming Historian itself is not eligible to apply for grants like this, but the individuals in association with the project are. That's my understanding of other granting agencies, in the US at least, as well. In other words, in this case, if you were interested in applying, it'd be Pennsylvania State University applying with you as the PI. But you'd be applying to work

[2020-03-11 14:24] acrymble commented on #1711
Looks like exactly what we need. @jenniferisasi are you interested in pursuing it?

[2020-03-11 17:19] JoshuaGOB opened #1712 "Technological resources metric or ratings for resource intensive lessons"
I've been in communication with @jenniferisasi over the lesson on ImagePlot #254 and had a number of suggestions from one of the reviewers regarding a disclaimer or warning about the technological resources required to complete that lesson. This concern has come up in other spaces and I wanted to see if there are ways of addressing it beyond the initial review of a proposed lesson or text included

[2020-03-11 18:13] mdlincoln commented on #1712
I agree it makes sense to include an alert at the start noting that it might require relatively substantial computing resources. But you must translate it into real terms (e.g. you will probably need at least 8GB of ram to finish this lesson).

Because this doesn't apply to every single lesson I don't think it warrants a metadata tag like we have for general lesson difficulty. So I'm going to remo

[2020-03-11 22:00] spapastamkou commented on #1659
@acrymble sure, what are your availabilities? I'll do my best to get information in the meantime to see if and how administrative fees can be introduced in the budget.

[2020-03-12 09:15] acrymble commented on #1712
I would suggest this is an editorial matter, and should be up to the editorial boards to implement (I think it's a good idea. Thanks @JoshuaGOB ).

[2020-03-12 09:24] acrymble commented on #1710
Just a note that the managing editor will be Daniel Alves. I will begin the onboarding process slowly in the coming months, to ensure we are not overwhelmed with too much change at once.

[2020-03-12 09:36] acrymble commented on #1691
Just an update that I've reached out to Martin Eve for advice. He's not obliged to give it of course, so I'll report if I hear anything.

[2020-03-12 14:29] mdlincoln opened #1714 "GitHub pages says "Try again later""
We've found our latest commits to the repository aren't being build by GitHub (#1709, #1713), which is reporting a generic error:

This message is not documented in their [troubleshooting guidelines](https://help.github.com/en/github/working-with-github-pages/troubleshooting-jekyll-build-errors-for-github-pages-sites#troubleshooting-build-errors). The exact same code is building without problems o

[2020-03-12 15:42] mdlincoln commented on #1714
They're investigating: https://www.githubstatus.com/incidents/401x671l9z4x

[2020-03-12 16:48] mdlincoln commented on #1714
They've resolved it and the latest commits are now live.

[2020-03-12 16:48] #1714 closed, assigned to mdlincoln

[2020-03-12 19:46] acrymble commented on #1691
I've heard back from Martin Eve who sent me his grant and an article he's written relevant to our search for fiscal sustainability. He's also suggested we contact JISC about having them offer our IPPs to libraries. I have some contacts there so I'm happy to do that (or to leave it to @drjwbaker when he gets back). @rivaquiroga and @jenniferisasi I think that's also relevant to #1658 so I will let

[2020-03-13 19:50] acrymble opened #1715 "Jessica Parr sabbatical"
Due to other pressures and commitments related to the current virus, @JMParr is going to take a 1-month sabbatical until 15 April 2020 (in the first instance). @JMParr if you're able, could you list any tickets or reviews you're working on so we can find cover?

We look forward to your return.

[2020-03-14 09:08] acrymble commented on #1685
The pull request was merged, covering most of the little text issues raised here. There remains a wider issue to work on related to formalising the relationship between ProgHist Ltd and the various publications, but I've opened a new ticket for that: #1704 where I think this conversation can continue.

The outcomes of this thread are that we should endeavour to talk about "Publications" rather tha

[2020-03-14 09:08] #1685 closed, assigned to acrymble

[2020-03-14 09:10] acrymble commented on #1703
As @JMParr is on sabbatical, and as the Portuguese team is likely to begin work soon, I think it's reasonable that we merge this with the #1704 discussion about a general service agreement between ProgHist Ltd and its various publications. Any issues relevant to a "new" publication can simply be included in that, thus keeping our paperwork lighter.

I will close this, but if anyone thinks otherwis

[2020-03-14 09:10] #1703 closed, assigned to JMParr

[2020-03-14 09:12] acrymble commented on #1715
I've had a chance to go through tickets. The following include either Jess or the Global Team (which she leads):

- #1681 Portuguese Team Shadowing Practice (being managed by @acrymble - with support)
- #1704 Service Agreement between ProgHist Ltd and Publications (this can wait as it will be a longer conversation)
- #1708 Portuguese Core Pages Plan (being managed by @acrymble - with support)
- #1

[2020-03-14 09:15] acrymble commented on #1715
Jess is also an editor on one lesson in production: https://github.com/programminghistorian/ph-submissions/issues/278. I've left a note on the ticket that she'll be unavailable. @svmelton please can you make sure everyone is kept informed and supported on that one?

[2020-03-14 16:25] acrymble commented on #1680
I'd already closed this issue but @drjwbaker reopened it, so I'm going to assign the ticket to him if there's more he'd like to pursue.

[2020-03-15 09:55] acrymble commented on #1700
I think we should directly ask Github to give us an in-kind private subscription so we can run our journals on it. I suspect we're one of the only such examples in the world and something they may well want to support.

[2020-03-15 10:23] acrymble commented on #1683
@drjwbaker can we move towards an agreement in writing on this pratnership? I'm worried that cost-cutting resulting from the pandemic may hit good will promises like this if not nailed down.

[2020-03-15 10:51] acrymble commented on #1658
Some additional resources / ideas:

OLH (Open LIbrary of Humanities) is offering a referral discount: https://www.openlibhums.org/plugins/supporters/referrals/codes/ which presumably encourages librarians to do some of the promotion work for you.

The OLH institutional signup page is here: https://www.openlibhums.org/plugins/supporters/signup/

@jenniferisasi can you help us to define what you're

[2020-03-15 12:45] drjwbaker commented on #1683
@mdlincoln and I have a meeting scheduled for the 24th. An agreement is on the draft agenda.

[2020-03-16 19:00] jenniferisasi commented on #1658
@acrymble I was thinking to follow through the three main ideas @drjwbaker had already suggested in his first post: an email, tweets, encourage PH editors to have a slide for conferences.

I can start a list on a Google doc of institutions we can contact. Now, there is no point in doing the contact in the next few weeks until people settle in their day to day work at home or go back to offices. Th

[2020-03-16 19:27] acrymble commented on #1658
Thanks @jenniferisasi for clarifying. You're right about matters of timing. I don't work in a library but I think it's quite central to *someone's* job in most academic libraries. We just need to learn who that is.

[2020-03-16 19:50] jenniferisasi commented on #1702
I've started generating a few tweets on the spreadsheet. Will continue with more soon.

[2020-03-17 13:53] drjwbaker commented on #1659
Okay. I'm back. In short, ProgHist Ltd cannot afford any uncosted activity. That is, we the company is being asked to pay for 55% of something, we can't afford that. Or an I misunderstanding the FNSO funding model?

[2020-03-17 13:54] drjwbaker commented on #1715
Who will be the contact for the Global Team during this sabbatical?

[2020-03-17 14:00] acrymble commented on #1715
We'll have to leave anything new until she gets back, I think. If you need to, I can step in for anything on going, but times may be longer than normal.

[2020-03-17 14:27] drjwbaker commented on #1715
Okay. Thanks for clarification.

[2020-03-17 14:43] drjwbaker commented on #1700
Ambitious thinking. Do you want to ask?

[2020-03-17 14:45] #1680 closed, assigned to drjwbaker

[2020-03-17 14:49] walshbr commented on #1700
Just to be clear: it's been some time since I specifically signed up for a GitHub education plan, but I remember it being very, very easy. And it does what I think you're asking @acrymble. I remember it being a form that you fill out, and it took fifteen minutes. I could do it, but I think it might be need to be @mdlincoln, as I suspect he is listed as the owner/administrator of our GitHub organiz

[2020-03-18 16:40] drjwbaker commented on #1658
On https://github.com/programminghistorian/jekyll/issues/1691#issuecomment-598381364 @acrymble can we wait on contacting Jisc until @jenniferisasi has developed generic wording for inviting people to the IPP?

[2020-03-18 16:42] drjwbaker commented on #1691
I think it is a great idea. Realistically, who can take a lead on this? I can't right now. Sorry.

[2020-03-18 17:25] spapastamkou commented on #1659
Latest news: due to the extraordinary conditions, the deadline is now 30 April.

@drjwbaker Normally this is it. However, as the PH is non-profit, there might be a way to avoid this contribution of 55%, as the person who advised on the bid building told me. We were supposed to talk last Tuesday, but it was finally impossible. I'll try to find out more next week (I want to hope we'll get used to ou

[2020-03-18 17:28] drjwbaker commented on #1659
@spapastamkou Okay. I appreciate that there are language barriers here (the barrier being that my French is rubbish), but if we can get assurances that ProgHist Ltd won't be expected to spend money it doesn't have, that would be amazing.

[2020-03-19 20:57] mdlincoln commented on #1018
From 2020-03-19 call:

The big bottleneck for creating FTS is generating the textual index object. The pure "Jekyll" way of doing this is to have the user's browser create this index on the fly. However, our texts are too long and numerous - this caused our browsers to hang and crash.

We sketched out an alternative solution:

1. Generate JSON files in this repo with the unindexed full text of eac

[2020-03-19 21:03] mdlincoln commented on #1018
For hosting the built index, perhaps we just push it to a separate GH pages site? https://docs.travis-ci.com/user/deployment/pages/

[2020-03-19 21:03] mdlincoln commented on #1018
Also suggest that we use https://docs.travis-ci.com/user/cron-jobs to periodically re-generate the index

[2020-03-20 03:10] ZoeLeBlanc commented on #1018
@mdlincoln pretty much finished 1 & 2 of the list, but ofc a few unforeseen issues that could use your input 👇

So for 1. I need the site to actually build the search json files for en, es, fr (though code is now in branch issue-1018), but that will only happen if my PR gets merged in right?

Then for 2. Once I merge in issue-1018, then I need to update the code in the search-index repo to actuall

[2020-03-20 11:28] mdlincoln commented on #1018
@ZoeLeBlanc Sure, open up a PR from the `issue-1018` branch and I'll review & merge so that you can start the search-index repo off off the live JSON.

[2020-03-20 11:34] acrymble commented on #1629
@jenniferisasi I'm not sure how many conferences there will be this year. Maybe this energy should be shifted into other areas?

[2020-03-20 11:35] mdlincoln commented on #1018
https://github.com/programminghistorian/jekyll/compare/issue-1018

did something odd happen to the permissions or something on your files? This comparison shows you've touched every single file! Might be better to open a fresh branch and re-do the JSON :/

[2020-03-20 12:18] drjwbaker commented on #1629
I've avoided ordering stickers for this precise reason.

[2020-03-20 13:47] ZoeLeBlanc commented on #1018
@mdlincoln super weird that happened but thanks for catching it! I just recreated the branch and files, and made a PR. Thanks!!

[2020-03-20 15:16] drjwbaker commented on #1661
**With apologies I can no longer make the call (our research group brought forward a management meeting as we try to work out how to function in this new locked down world!)**

# Project Development Team Report

By: @drjwbaker
Date: 20 Mar 2020

Substantive Actions Completed Since Previous Report:

- 2-month funded Impact Manager post. We hired Penny. They started 3 Feb. Will finish end of March.

[2020-03-20 15:44] mdlincoln commented on #1677
Doing strict validation on sheets causes the bot to bug out, so we've remove it.

[2020-03-20 15:44] #1677 closed, assigned to walshbr

[2020-03-20 16:01] mdlincoln commented on #1661
Technical Team Report

By: @mdlincoln
Date: 20 Mar 2020

Substantive Actions Completed Since Previous Report:

- With @ZoeLeBlanc settled on a technical architecture for full-text search (#1717 and [search-index](https://github.com/programminghistorian/search-index))
- Refactored translation link generation and created [in-depth documentation](https://github.com/programminghistorian/jekyll/wiki/Te

[2020-03-20 19:09] jenniferisasi commented on #1629
Right, basically all conferences are either cancelled or postponed so I can certainly close the ticket and reopen once we can start going to conferences again.

[2020-03-20 20:13] svmelton commented on #1672
Hi @mariajoafana—sorry for the delay. Still no word from the authors. Does anyone have a relationship with the lesson authors? You might have better luck than I did.

I'm not sure what to do here. We didn't create or host the maps, so I don't know how else we can troubleshoot this.

[2020-03-20 20:36] jenniferisasi commented on #1661
Aaaaand here we go again. The US changed time a few days ago so our hours don't align. Would this work?

<img width="948" alt="Screen Shot 2020-03-20 at 4 36 35 PM" src="https://user-images.githubusercontent.com/11022533/77204368-f8e54580-6ac8-11ea-97d4-5720f582e9de.png">

[2020-03-21 08:03] acrymble commented on #1661
@amsichani will have to decide the time. Thanks for the warning @jenniferisasi

[2020-03-21 08:52] amsichani commented on #1661
updated time is  **8:00 AM - Mexico time; 10:00 AM - EST; 2:00 PM - British time; 3:00 PM - CET time.**
 Hope it works --or is it too early for Mexico ? Thanks @jenniferisasi for the heads up!
Also @spapastamkou @jenniferisasi @JMParr @rivaquiroga @svmelton may I ask for a report for your teams?

[2020-03-21 09:12] acrymble commented on #1681
The following people from the new Portuguese team (being assembled) would like to start shadowing lessons in either English or Spanish as the opportunity arises:

Joana Vieira Paulino
Taciana Sene Lucio
Rômulo Predes Monteiro da Cunha

@rivaquiroga and @svmelton can you please assign them to shadowing the next time a lesson appears for peer review? I can give you their contact info.

[2020-03-21 09:25] acrymble commented on #1708
The latest update is that they are formulating a plan and will communicate it when they are able.

[2020-03-21 09:27] acrymble commented on #1700
@walshbr can you find the link for us?

[2020-03-21 09:33] acrymble opened #1718 "Approval process for new teams"
We need an agreed approval process for new teams that goes beyond an agreement with them, but which also robustly tests that the team is ready and capable, that OUR team has the capacity to support them, and that the new publication will serve a legitimate need within the wider community.

Most recently this decision has rested with the Global team, but I'd like to suggest that all new publication

[2020-03-21 09:36] acrymble commented on #1707
If someone on the technical team could help with this, I'd appreciate it. @programminghistorian/technical-team

[2020-03-21 12:01] walshbr commented on #1672
If we don’t have access to the maps and the authors can’t be reached then we will have to retire it I think.

[2020-03-21 12:36] walshbr commented on #1700
Looks like it cares more about institutional affiliation than I remembered, but since we have many institutional affiliations it might be alright for one of you to apply for yourself and upgrade the team by association -

https://help.github.com/en/github/teaching-and-learning-with-github-education/applying-for-an-educator-or-researcher-discount

[2020-03-21 12:50] acrymble commented on #1672
Was the lesson tried before it was translated? If not, that should probably become standard practice moving forward.

[2020-03-21 17:46] JoshuaGOB commented on #1681
Hi @acrymble I’m sorry to hear that this has been mainly on you #1718 I’m still more than willing to be of help in this. I’m going to be taking on at least one of the new members for a lesson translation that should come in soon. I’ve also contacted the members of the Spanish team to have a sense of where their lessons are to see if they can take part. Obviously talking into consideration the curr

[2020-03-21 21:53] ZoeLeBlanc commented on #1018
so a bit of a crazy update for you @mdlincoln. I hadn't really looked into List.js at all before this (docs are here [https://listjs.com/](https://listjs.com/)) and turns out it has some search functionality already built-in. So I decided to try it out with our current structure and it seems to work 😅. I just pushed up branch search-1018 and if you pull that down, you should be able to search on e

[2020-03-22 09:01] acrymble commented on #1681
Thanks @JoshuaGOB did you get my email about this last week?

[2020-03-22 09:12] acrymble commented on #1704
This is an issue on the agenda tomorrow so please make sure you've had a chance to read and share this with your teams @jenniferisasi @spapastamkou @rivaquiroga

[2020-03-22 11:30] #1707 closed, assigned to acrymble, mdlincoln

[2020-03-22 11:50] mdlincoln commented on #1018
HUH that is... quite impressive! It's like a ctrl-F for the lesson content. Looks like the drawbacks are:

- exact search only, so searching e.g. `principles linked open data` won't return the "Principles of Linked Open Data" lesson
- can't show the keyword-in-context result

But I like that this keeps the architecture super simple and we wouldn't need to go around building indices with a separate

[2020-03-22 13:12] amsichani commented on #1633
Hi @acrymble , I ve started thinking (also with @drjwbaker as my SSI mentor) and planning this event for early autumn 2020. We ve recently been informed that our SSI inaugural period will be extended by 9 months, so this gives me a bit of extra room to plan for the event. The situation is quite insecure in the UK universities for the time being in terms of the next term and event planning , and gi

[2020-03-22 13:13] amsichani commented on #1706
Hi @jenniferisasi , if its of any use, please feel free to mention my SSI fellowship https://github.com/programminghistorian/jekyll/issues/1633.

[2020-03-22 13:36] amsichani commented on #1691
I think too it's a great idea and I am happy to help in writing the bid - difficult for me to lead at this point.

[2020-03-22 14:31] ZoeLeBlanc commented on #1018
Link to PR  here #1720

I wrote this in the PR note but a few things to consider/test.

1. List.js does have fuzzy searching but for some reason I get fewer hits. Might be worth it to dig into the code or have others test out fuzzySearch?
2. We could still use Lunr or write our own fuzzy search and then use List.js filtering
3. We could still do keyword-in-context, though that would involve a few

[2020-03-22 15:41] jenniferisasi commented on #1629
Will re-open this issue whenever conferences start happening again.

[2020-03-22 15:41] #1629 closed, assigned to jenniferisasi

[2020-03-22 15:49] jenniferisasi commented on #1661
## Communication Team Report

By: @jenniferisasi
Date: 22 Mar 2020

Substantive Actions Completed Since Previous Report:
- Temporarily closed plan for promoting PH at conferences
- Agreed to add a Communications tweetflow on our Twitter Bot #1702 (ongoing)
- Closed Plan for promoting PH at conferences given that all are postponed/cancelled until further notice, will re-open #1629

Substantive Acti

[2020-03-22 15:50] jenniferisasi commented on #1661
@mdlincoln did I miss something or did the autocorrect change Portuguese for Polish?

[2020-03-22 16:20] jenniferisasi commented on #1661
@arojascastro can you do it now that the meeting is at your 3PM instead of 2?

[2020-03-22 16:38] jenniferisasi commented on #1706
@acrymble I realized when writing about the new award that we don't have a note to the ones we are receiving on our web? We publish it on the blog and this is not at all a priority right now, but don't you think we should have a list? [didn't want to open a ticket for just a question, if so I'll open one]

[2020-03-22 17:19] acrymble commented on #1706
That is a good idea

On Sun, 22 Mar 2020 at 16:38, Jennifer Isasi <notifications@github.com>
wrote:

--

Adam Crymble
Chair, ProgHist Ltd. ProgHist Ltd is a Not for Profit Company Limited by
Guarantee, Registered in England, Company Number 12192946
https://programminghistorian.org/

[2020-03-22 17:23] arojascastro commented on #1661
@jenniferisasi yes, I can make it tomorrow! Gracias :)

[2020-03-22 20:02] jenniferisasi commented on #1706
@drjwbaker I counted 17 new Patreon subscribers this trimester but I might be off? Could you please let me know how many it is? Thanks! I'll figure a way to keep better track for the next newsletter.

[2020-03-22 20:06] rivaquiroga commented on #1672
@acrymble, not sure if it was tried before. Definitely should be standard practice > be a step in the Translator Guidelines.
@walshbr, the maps are referred on the lesson goals section, as an example of georeferenced historical maps. Maybe we can just remove the paragraph :scissors:. They are before the "Getting Started" section, so they are not really part of the actions involved in the lesson.

[2020-03-22 20:20] acrymble commented on #1706
Jennifer, James can give you the password for the account so you can keep
track on your own

On Sun, 22 Mar 2020 at 20:02, Jennifer Isasi <notifications@github.com>
wrote:

--

Adam Crymble
Chair, ProgHist Ltd. ProgHist Ltd is a Not for Profit Company Limited by
Guarantee, Registered in England, Company Number 12192946
https://programminghistorian.org/

[2020-03-22 21:37] JMParr commented on #1661
GLOBAL TEAM Report

A lot of our initiatives are on hold because of the COVID-19 pandemic. I am also on a short sabbatical until April 15th, owing to some significant COVID-19 related increases in demands on my time.

We had a team meeting on 14 Feb, which included our new Outreach Manager. We discussed some funding opportunities, as well as how best to target our outreach. We still have not heard

[2020-03-22 21:44] rivaquiroga commented on #1712
This is a very good idea @JoshuaGOB. Maybe we can use the alert formatting to warn about technological resources needed to complete the lesson (ram, space, admin privileges, etc.)

[2020-03-22 21:48] rivaquiroga commented on #1708
@acrymble, I can support on this, but after this week.

[2020-03-22 21:51] rivaquiroga commented on #1706
@jenniferisasi, we should mention that Silvia is the new ES Ombudsperson

[2020-03-22 21:53] rivaquiroga commented on #1695
@mariajoafana & @jamotilla, it would be great if you can work on this.

[2020-03-22 22:19] rivaquiroga commented on #1658
I agree with @jenniferisasi about the timing. It might be disregarded, as many libraries are currently concentrated in supporting the transition to online learning in their institutions. But in a couple of weeks or a month they might be interested, as our resources are valuable for online learning.
I would like to suggest developing a prospectus for possible partners the way conferences do to find

[2020-03-22 23:17] rivaquiroga commented on #1661
## ES Team Report

By: @rivaquiroga
Date: 22 Mar 2020

**Substantive Actions Completed Since Previous Report:**
- Silvia Gutiérrez joined as Ombudsperson

**Substantive Actions Remaining Open Since Previous Report:**

- *Awaiting for translations/lesson to be submitted* (4)
 "Introduction to MySQL with R", "Using Geospatial Data to Inform Historical Research in R", "Building a static website with

[2020-03-22 23:23] spapastamkou commented on #1661
Team Name: Editorial French

By: @spapastamkou
Date: 23/03/2020

---

Actions Completed Since Previous Report:
1 translation accomplished (@fdlaramee)
1 translation review accomplished (@mariechristineb)
2 translated lessons published
FR lessons integrated in the Twitter bot
Submitted proposal for the 2020 Humanistica conference - proposal accepted - conference cancelled bcz of Covid19 - awaiting

[2020-03-22 23:28] walshbr commented on #1672
Oh totally - that seems like it'd be a really sensible edit to me @rivaquiroga.

[2020-03-23 02:29] svmelton commented on #1672
That would certainly be preferable to retiring the lesson completely!

[2020-03-23 02:31] svmelton commented on #1661
English Team Report

By: @svmelton
Date: 22 Mar 2020

Actions Completed Since Previous Report:

- 1 lesson published: [Working with Batches of PDFs](https://programminghistorian.org/en/lessons/working-with-batches-of-pdf-files)

- 1 lesson in copyediting stage ([Understanding and Using Common Similarity Measures](https://github.com/programminghistorian/ph-submissions/issues/275))

- 1 lesson almos

[2020-03-23 03:44] jamotilla commented on #1695
Of course @rivaquiroga I'll do it

[2020-03-23 09:47] drjwbaker commented on #1661
So much great work at such a difficult time. You are all awesome.

[2020-03-23 09:48] drjwbaker commented on #1658
@rivaquiroga That is a fabulous idea.

[2020-03-23 09:50] drjwbaker commented on #1706
What date are you counting from? If you want the login, let me know.

[2020-03-23 12:58] mdlincoln commented on #1018
I think seeing a comparison using the Lunr code would be very useful for the tech team - would you be able to create a separate PR using Lunr instead?

[2020-03-23 13:19] spapastamkou opened #1721 "Lessons/translated lessons cost estimation"
This a question for all teams and members. Do you think it is possible to make an effort to estimate the cost of the lessons we produce? This could be useful in many ways, for us and for the grant proposals we prepare from time to time.
Perhaps we can start to do it by estimating the time we invest in each step: receiving a proposal, decision making, looking for reviewers, publishing, communicatin

[2020-03-23 13:24] acrymble commented on #1721
To add some context to this suggestion, this is in response to the occasional need (often on grant applications) for us to cover a portion of costs of any activity. The suggestion here is to assign a value (£) to our publication of and maintenance of a lesson. In order to be able to say activity X costs £5000, of which ProgHist Ltd will provide an in-kind contribution through publication equivalen

[2020-03-23 13:37] walshbr commented on #1721
When we do this for grants we usually estimate the hours it will take and multiply it by the salary (inclusive of benefits) of the staff involved. We don't necessarily break out specific hours per se, but we usually estimate a particular chunk of effort, something like 5% of your work week, over the course of the grant. So in other words, not chunking out cost by individual task but rather by the

[2020-03-23 13:58] jenniferisasi commented on #1706
I am counting Jan-March to say thank to our new X patreons this trimester. But I agree having access to the account would make it easier.

[2020-03-23 14:10] arojascastro commented on #1661
I am online again... I am talking to you and nobody is answering me :( can you add me to the videochat?

[2020-03-23 14:11] jenniferisasi commented on #1661
@arojascastro I am calling you but says you are unavailable.

[2020-03-23 14:13] arojascastro commented on #1661
uhmm weird, this is happening since January... is my contact rojas.castro.antonio@gmail.com? anyway, do not worry, I will just read the reports

[2020-03-23 14:34] mdlincoln commented on #1718
I suggested in 2020-03-23 project team meeting that it may be worth assigning a point-person from @programminghistorian/technical-team to be the first point of contact for when there are technical issues uploading new files and pages. I will follow up at our next tech team meeting.

[2020-03-23 14:41] JoshuaGOB commented on #1718
Per @acrymble suggestion, I will be the point person for the new Portuguese Team that will be joining us. He's already put me in touch with the managing editor and added me to the relevant tickets. As we move forward I'll make some suggestions as to how to define the role.

@mdlincoln If it's possible, could I be included in this upcoming technical team meeting?

[2020-03-23 14:41] mdlincoln commented on #1718
@JoshuaGOB yes I will make a note to include you - I will be creating a Doodle poll after the end of this call

[2020-03-23 14:59] mdlincoln opened #1722 "April Technical team meeting: Monday April 13"
Monday, 13 April 2020, Time is 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET

@JoshuaGOB would like to join us as well to discuss Portuguese team onboarding

Agenda:

- [x] Portuguese team onboarding @JoshuaGOB
- [x] demo of full-text search options #1720 and #1726 @ZoeLeBlanc
- [x] (time-permitting) update on DOI discussion @mdlincoln

[2020-03-23 15:03] jenniferisasi commented on #1718
From a @programminghistorian/communication-team perspective, specially Newsletter and Tweets, the addition of a new team involves +1 language on everything, thus, I suggest something like:
- An internal Communications Translator role
- A Communications liaison/translator (?) on the editorial team

I anticipate that at some point the Communication Manager will not be fluent in all the PH languages,

[2020-03-23 15:29] acrymble commented on #1657
Thank you everyone for your work on these.

[2020-03-23 15:29] #1657 closed, assigned to acrymble

[2020-03-23 15:34] acrymble opened #1723 "Actions Arising from March 2020 Project Team Meeting"
The following actions arise from the project team meeting. Please tick these off as you complete them:

- [x] @jenniferisasi @rivaquiroga to prioritize Institutional Partnership Programme communication (#1658)
- [x] @mdlincoln @drjwbaker to update team on DOI implementation after meeting with Sussex Library.  (#1683)
- [x] @mdlincoln to outline a plan for his stepping down, and helping us identify

[2020-03-23 15:35] rivaquiroga commented on #1672
Great! I'm going to ask to the translator to remove the paragraph then.
I'll be closing the ticket as soon as you confirm me it was also remove from the original lesson.

[2020-03-23 18:48] jenniferisasi commented on #1658
I had a chance to look at the example you provided @rivaquiroga and I really like it. We already have the [specifics of the IPP](https://programminghistorian.org/en/support-us#institutional-partner-programme) on our site, and in my mind I was thinking an email + those details + a link to the site. Do we want to create a PDF too?

(Working on the email; sent you a link to document)

[2020-03-24 10:56] drjwbaker commented on #1721
For the record, I'm slightly uncomfortable with estimating what it costs to make a lesson. Sounds too close to the dreaded 'Article Processing Charges' for comfort. But if we need it for grant writing purposes only, I can be swayed.

[2020-03-24 11:35] acrymble commented on #1721
@drjwbaker I think we should also be aware from a ProgHist ltd perspective, what our costs actually are. It doesn't mean we have to pass them on to authors.

[2020-03-24 11:54] drjwbaker commented on #1721
By 'actually', what do you mean? An estimate of what it would cost to publish a lesson were we to pay everyone who is customarily paid in journal publishing? (not peer reviewers, not authors, not editors) Or an estimate if we paid everyone irrespective of publishing customs? (so the economic cost of all our collective efforts). These are two different things.

[2020-03-24 11:57] drjwbaker commented on #1721
(sorry to be picky here, I've just got a nagging doubt about the value/consequences of both making rough estimates and doing a through accounting..)

[2020-03-24 13:09] acrymble commented on #1721
I suppose I mean full economic cost. But I agree that's difficult for us to calculate at present because we rely on a combination of volunteer labour and paid labour which we don't pay ourselves and don't actually know the value of. A simple measure of full income per annum divided by number of publications might also do the trick.

It's really just so that we can show on a grant that we do provid

[2020-03-24 13:16] drjwbaker commented on #1721
Not sure this measure will work. Every time we get more money, it'll put up the income/publications number.

If we want to do this properly, we could cost all the roles a 'normal' publisher pays people to do (managing editor, tech team, et al) - there must be studies out there that have done this - as a crude metric on the value of our voluntary contributions.

[2020-03-24 17:38] drjwbaker commented on #1683
Right. @mdlincoln had a meeting today with our DOI provider. It was very positive. A few key notes:

- our provider is University of Sussex Library.
- we will run our DOI minting through the subscriptions our provider has with CrossREF.
- there will be no £ cost to PH.
- we will get our own (that is, PH specific) DOI prefix.
- we will use the content type 'Article in Journal'.
- our provider will

[2020-03-25 11:12] acrymble commented on #1690
The deadline for this has been pushed back to 29 May.

[2020-03-26 12:35] mdlincoln commented on #1722
Thanks everyone for submitting availability. The final date is Monday, April 13

[2020-03-26 18:54] mdlincoln opened #1727 "Travis-CI github integration delays"
Tracking ticket just so folks know what's up. This is a recognized issue that is keeping successful builds from being reported to our PRs, and Travis is investigating it: https://www.traviscistatus.com/incidents/rx6fhs3wqcln

If a PR has been reviewed and is ready to merge but still blocked because of an incomplete Travis check, please @mdlincoln and I will force-merge it.

[2020-03-27 16:07] drjwbaker commented on #1682
In light of the meeting with our DOI partner https://github.com/programminghistorian/jekyll/issues/1683#issuecomment-603397639 we need to produce some text that:

Integrating thoughts above I propose the following. @mdlincoln @svmelton @spapastamkou @rivaquiroga: could you please take a look and indicate whether or not you are happy with that.

Note for Managing Editors: per https://github.com/pro

[2020-03-29 14:24] mdlincoln commented on #1682
Thanks very much @drjwbaker for putting this together - it's very well done.

As I underlined in our call, we might want to clarify in this doc (both for Sussex, but also for our internal benefit) that when we talk about "major changes", what we are talking about from a publishing standpoint is creating an entirely new document that has a new URL as well as a new DOI - it's not changing a DOI for

[2020-03-29 14:27] mdlincoln commented on #1682
Likewise,

would instead be

[2020-03-30 00:29] mdlincoln commented on #1727
Seems to be resolved now.

[2020-03-30 00:29] #1727 closed, assigned to mdlincoln

[2020-03-30 08:51] drjwbaker commented on #1682
Thanks @mdlincoln. Edited.

[2020-03-30 14:27] mariajoafana opened #1729 "May 26, 2020 Skype call - Project Team Agenda"
May 26, 2020 , Time is 9:00 AM - Mexico, Colombia; 10:00 AM - Ottawa, Philadelphia, Boston; 10:00 AM Chile; 3:00 PM - London; 4:00 PM - Paris and Berlin. @mariajoafana will be facilitating the call.

Working agenda follows. Please add by commenting or editing this comment directly.

All team leaders please post a small report on your team's activities closer that day.

- [x] Current Research Proje

[2020-03-31 15:30] acrymble commented on #1718
@jenniferisasi I think this is an important point to recognize. It suggests to me that the following positions need to be able to support that new team (whoever they are):

* Communication
* Technical
* New Publications Manager (@JoshuaGOB)
* Finance?

Anyone else? Do we want a system that MEs get involved in on behalf of their own publication team? Or is that unnecessary?

[2020-04-01 11:57] #1706 closed, assigned to jenniferisasi

[2020-04-01 13:37] drjwbaker commented on #1489
**Update**. This work is progressing nicely (Covid-19 notwithstanding). I also managed to repurpose an underspend into 2 more weeks of Penny's time. This means we can add an extra feedback loop into the report writing, specifically time for the wider PH team to comment on the report and Penny action/respond to those comments before we move to publication. I think this is a win. I'll be in touch so

[2020-04-01 13:53] drjwbaker commented on #1718
Main financial impact here are with regards to copyediting and our technical infrastructure.

On the former, at the moment we commit to:

- Copyediting 1 new article per month (assumed to be EN for now, but this will change as copyediting guidelines are in place for ES/FR/PO publications). This is related to our first Patreon goal, which we have reached.
- We also (per https://github.com/programmi

[2020-04-01 13:58] acrymble commented on #1718
Thanks @drjwbaker. So if we were to conservatively estimate 1 article per month, we're looking at the cost of a new publication being in the range of £1000 per year in direct costs. That will have to be costed and approved in future if we bring in new teams.

[2020-04-01 14:01] drjwbaker commented on #1718
I currently budget £600 per annum, but with territorial fluctuations £1k might be more sensible.

[2020-04-01 14:48] drjwbaker commented on #1683
I've created a draft of the agreement described above. Emailing Ltd Directors and Tech lead for comment.

[2020-04-02 14:06] #1661 closed, assigned to amsichani, mariajoafana

[2020-04-02 14:46] acrymble commented on #1704
Thank you everyone for your comments on this draft. I'd like to know if the document (in its current form) is ready to go to a vote at our next Project Team meeting. Can you please re-read it and if you are happy for it to go to a vote, please check off beside your name. This does not mean you necessarily approve it. It just lets us shift it into the meeting for a more formal discussion, and gives

[2020-04-03 10:26] drjwbaker opened #1732 "Institutional Partner Programme in a time of crisis"
This ticket is breaking off from a discussion on a gdoc @jenniferisasi kindly put together that will form the basis of our comms to libraries/institutions 'advertising' our IPP.

@walshbr & @svmelton are of the opinion that we give a little more back in return than what we currently have listed at https://programminghistorian.org/en/support-us#institutional-partner-programme

We previously (though

[2020-04-03 10:31] acrymble commented on #1732
I support this idea. Thanks @walshbr. I think this should be paid for activity.

[2020-04-03 10:43] drjwbaker commented on #1732
To clarify this comment, you mean it should be the sort of thing we offer to IPP members at no extra cost?

[2020-04-03 10:47] acrymble commented on #1732
I mean I think whomever does this work for us (which is essentially a fundraising activity) should be paid to do it. Like copyeditors are. (Update: it's really a suggestion that any new tasks we create from here on in should be - in my view - budgeted and paid for)

[2020-04-03 10:51] drjwbaker commented on #1732
Oh. Okay.

[2020-04-03 12:41] walshbr commented on #1732
I agree - I'd think of it as a fundraising activity that a person is compensated slightly for, even though the vast majority of the funds go to PH. To go off what @acrymble suggested, it might be worth thinking about what a reasonable rate of compensation would be for the people hosting the sessions. And what the content would be -  seems like there have been several types of workshops related to

[2020-04-03 13:05] acrymble commented on #1732
@walshbr you mean in-person events that we send someone to? That sounds expensive.

[2020-04-03 13:10] walshbr commented on #1732
No - I was thinking about online community events like the sort of thing that you both were describing. Could be worth thinking about in-person events as a separate tier, if you really wanted to include stretch goals. But I like the model @drjwbaker was describing above.

[2020-04-03 13:20] acrymble commented on #1732
This will also have to take into consideration who will manage this process, and how much time that will take (plus chasing around to get someone to commit to hosting it and making sure they show up).

[2020-04-03 14:10] drjwbaker commented on #1732
So, I like the ideas here as things to grow into, but I was thinking of something quite simple in the first instance: a monthly virtual call/workshop run by us and available to IPP members only as 'added value' for their IPP membership.

I like the idea of doing something that brings in wider communities, but I don't think we have the capacity for that right now.

Are we roughly on the same page h

[2020-04-03 14:26] walshbr commented on #1732
Yes I think so.

[2020-04-03 18:01] acrymble commented on #1732
I don't work in a library. Are they likely to show up for a call we schedule? (Update - sorry I think that was too brief to get my question across: I thought the original suggestion was to offer a consultation with them at their convenience? I suspect, but don't know, that would have a higher take-up).

[2020-04-06 16:03] svmelton commented on #1732
A scheduled consultation would have more uptake, but I do know that lots of people in libraries are interested in virtual professional development opportunities. Or even community gatherings—several professional orgs I'm in have had calls in that vein that have been well-attended.

...With the caveat that right now, schedules may be a bit more flexible if we were to just schedule a call, but that

[2020-04-07 07:58] drjwbaker commented on #1732
Okay. I appreciate the input. Compromise. Monthly community calls on request. So, we don't have a scheduled a monthly call. Rather, if an IPP member wants to consult with us, we schedule a call on a date that works for them (around our usual 3pm GMT, 11am EST time), and invite all other IPP members (I guess we could make them open calls if the IPP member who made the request is happy?). To manage

[2020-04-07 08:11] acrymble commented on #1732
If that's how you want to promote the IPP that's fine with me. Who will host the calls?

[2020-04-07 08:18] drjwbaker commented on #1732
In the first instance, I can do this seen as I've been working on the IPP and have good overall sense of how we operate.

[2020-04-07 09:10] acrymble commented on #1732
Ok thanks. Can you be careful not to bind us long-term to this, in case either it proves something we don't want to continue, or you decide you can't do it and we haven't got a replacement?

[2020-04-07 09:46] drjwbaker commented on #1732
Sure. I'll propose some vague wording for the IPP email.

[2020-04-07 09:57] drjwbaker commented on #1732
Done. See gdoc. @svmelton: I couldn't work out your gmail so as to tag you properly.

[2020-04-07 09:58] drjwbaker commented on #1732
Next action (for me) is to add some wording on this to our IPP pages, and document as a service integration.

[2020-04-07 14:13] acrymble commented on #1715
@JMParr Can you update us on timelines when you're able, just so we can plan?

Thanks and hope you're well.

[2020-04-07 14:15] acrymble commented on #1691
Just an update that I'm going to put this on hold until after I've been able to read and consider Penny Andrews' report for us. I think that should inform any funding bid directions. So I haven't forgotten. Just pausing.

[2020-04-07 14:20] drjwbaker commented on #1691
And to add: Penny's report is slightly delayed, partly due to Covid, partly because I managed to get their contract extended https://github.com/programminghistorian/jekyll/issues/1489#issuecomment-607254675

[2020-04-07 19:00] mdlincoln commented on #1729
@mariajoafana this looks like it is one hour later than the usual ProgHist meeting time? I believe now that daylight savings has applied everywhere the times are 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET?

[2020-04-09 08:16] acrymble commented on #1635
@rivaquiroga can you update me on the timeline here? I'd really like it if this system could be in place before our AGM on 28 May if possible.

[2020-04-09 08:17] acrymble commented on #1636
@spapastamkou can you update me on the timeline here? I'd really like it if this system could be in place before our AGM on 28 May if possible.

[2020-04-09 11:59] acrymble commented on #1704
Thanks everyone. We've passed a 50% threshold of approval to put this on the agenda (not the same as approving adopting it). I still welcome comments from anyone who hasn't yet responded, but we'll mark this as agreed that we'll take it to a vote with the aim of implementing it after the AGM on May 28.

[2020-04-09 12:09] acrymble commented on #1658
I know we're heading into a long weekend for many of us, but I wonder if we can set a realistic deadline for when we hope to have this messaging ready to distribute? Then we can talk about who will contact whom and such. @drjwbaker is end of April 2020 reasonable? I believe you've mostly got the messaging done, so it's a matter of design with @rivaquiroga . Is that right?

[2020-04-09 12:12] acrymble commented on #1690
@drjwbaker are there specific areas you'd like us to respond to? I'm happy to work up some text with you, but if there are points you're passionate about, let's go with those.

We can also obviously not comment if you're feeling overstretched at the moment.

[2020-04-09 12:13] acrymble commented on #1711
@jenniferisasi is this something that's likely to fit within your new job's remit? Are you interested in pursuing, or should we close this? I can't apply as a non-US-based person.

[2020-04-09 12:15] drjwbaker commented on #1658
@jenniferisasi is leading on this, so it is down to her capacity right now.

[2020-04-09 12:16] acrymble commented on #1718
I've added this to our May 2020 project team agenda for comment from any stakeholders. If you think new publications affect the workload of you or your team, please consider what support or assurances need to be in place to cover that work.

[2020-04-09 12:29] drjwbaker commented on #1690
Sorry. This fell off my radar as the crisis hit.

Looking briefly at the questions (attached), I think we should respond to:

Because this would be hard for an author submitting to an infrastructure like ours (and we think UKRI should encourage innovation like ours).

Because innovative publishers like us would need funding to fully comply.

Because they will. To comply we need investment/support.

[2020-04-09 15:24] acrymble commented on #1658
My mistake. @jenniferisasi is the end of April reasonable for you and @rivaquiroga ?

And @drjwbaker just so everyone is clear. Is @jenniferisasi also going to be reaching out to potential IPP organisations, or does that fall back to your remit? Either way, do we need to open a separate ticket for the strategy on that? It seems distinct from the text itself.

[2020-04-09 15:45] drjwbaker commented on #1658
@jenniferisasi is Comms Lead, so unless she requests for help from us, I expect that having drafted the mailout, Jen will write to identified orgs from our shared gmail account, and I will deal with responses.

[2020-04-09 21:15] mdlincoln opened #1735 "Update docs to reflect different Travis interface"
The latest updates to the GitHub/Travis interface require an additional click to get from a PR page to the Travis status page

[2020-04-10 14:21] acrymble commented on #1635
A recently published lesson had a link in it to a personal website of the author that's broken within a few weeks of publication. The result can be seen in the following ticket: https://github.com/programminghistorian/jekyll/pull/1734#issuecomment-612046199

I'd suggest making sure the styleguide provides advice for avoiding this type of problem in future.

[2020-04-12 17:22] mdlincoln commented on #1735
<img width="744" alt="Screen Shot 2020-04-12 at 1 07 38 PM" src="https://user-images.githubusercontent.com/4392604/79075411-aa3e5c00-7cc0-11ea-818e-113a9cbeb2ac.png">

[2020-04-12 17:22] mdlincoln commented on #1735
<img width="462" alt="Screen Shot 2020-04-12 at 1 18 26 PM" src="https://user-images.githubusercontent.com/4392604/79075415-af031000-7cc0-11ea-8487-ee41417bc0d9.png">

[2020-04-12 17:22] mdlincoln commented on #1735
<img width="908" alt="Screen Shot 2020-04-12 at 1 20 42 PM" src="https://user-images.githubusercontent.com/4392604/79075418-b2969700-7cc0-11ea-8204-4194ab12f1d8.png">

[2020-04-12 17:26] #1735 closed, assigned to mdlincoln

[2020-04-12 23:42] jenniferisasi commented on #1658
Sorry I'm just catching up on this. The message is almost ready (I left a couple of comments) and I believe the end of the month is reasonable (gonna block some time on the calendar). What I need to know, because I am never sure... who in the library would be getting the emails? @drjwbaker you prob can help me, what title did the people who contact you have?

[2020-04-12 23:45] jenniferisasi commented on #1722
Fantastic job @ZoeLeBlanc! I like how #1726 highlights the words it finds.

Small note: the search bar words are now in English, will have to translate if possible once we decide which one keep.

[2020-04-12 23:47] jenniferisasi commented on #1711
@acrymble, sorry, I am going to have to close the ticket as I am afraid I cannot commit to this grant (re-read it again) at this stage since 1) I need to develop a plan for the position at large and then follow it, 2) I am already working on a few collaborations, and 3) covid-19 made developing said plan a bit more difficult now.

[2020-04-12 23:47] #1711 closed, assigned to nobody

[2020-04-12 23:52] ZoeLeBlanc commented on #1722
Thanks @jenniferisasi! Definitely will need to translate search bar words and search button (also let me know if you have other ideas for those... wasn't quite sure what to put 😅).

Let me know if there's any bugs you find when searching, whether with results or not refreshing the html. Thanks for testing it out 😊

[2020-04-13 09:00] acrymble commented on #1711
Absolutely. It's a big job, so unless it fits with your own needs and commitments, I totally understand.

[2020-04-13 13:49] amsichani commented on #1722
(time-permitting) I 'd like to give you a quick update on my thoughts- future actions on https://github.com/programminghistorian/jekyll/issues/1525  and https://github.com/programminghistorian/jekyll/issues/1526

[2020-04-13 14:02] mdlincoln commented on #1722
@rivaquiroga we're on at https://join.skype.com/T6ex4gQnxOuc

[2020-04-13 14:20] mdlincoln opened #1737 "Open a wiki page documenting how to start up a new language section"
- [x] copying existing directory tree for a language to a new named branch
- [x] how to update the snippets file
- [x] adding logos
- ...?

[2020-04-13 14:29] mdlincoln commented on #1525
2020-04-13 meeting discussed:

- replacing the previous/next banners with a single "sequence" banner
- condensing all translation link listings into one banner in order to conserve space (tbd in #1738)

[2020-04-13 14:36] mdlincoln opened #1738 "Condense multiple translation links for a lesson into one banner"
This is a visual change: we would like to put all of the various translation links into a single banner. This will mean editing _layouts/lesson.html to put every "related translation" link into the same `div`

[2020-04-13 15:07] mdlincoln commented on #1738
This is the relevant code: https://github.com/programminghistorian/jekyll/blob/eeb6e1801f97c8ef5edd9439827ec26aba293036/_layouts/lesson.html#L186-L203

[2020-04-13 15:21] mdlincoln commented on #1738
@amsichani I'm going to put you on this since its closely related to #1525 - as you can see, you will just need to edit a tiny bit of HTML for this. Go ahead and make a PR for this now, doesn't need to wait for everything else to be finished.

[2020-04-13 15:23] mdlincoln commented on #1722
Decisions:

- Portuguese translation
    - @walshbr will the be @programminghistorian/technical-team first responder for questions from the Portuguese editorial team. (Not that he will resolve every single qeusiton, but will at least field initial problems)
    - @mdlincoln will create a branch with a copy of files for portuguese team to begin translation of core pages
    - General documentation

[2020-04-13 15:28] walshbr commented on #1722
@mdlincoln - should those questions/concerns about the Portuguese translations come in through the PR thread on the branch you set up? or through email?

[2020-04-13 15:50] mdlincoln commented on #1722
Let's try to keep the process in the GitHub PR (once I make it) as much as possible.

[2020-04-13 16:09] mdlincoln commented on #1722
@JoshuaGOB when will the PT team be ready to start work? We'll need to generally lock the editing of our core pages so they can finish teh translations without the content constantly changing under them.

[2020-04-13 16:47] amsichani commented on #1526
2020-04-13  meeting https://github.com/programminghistorian/jekyll/issues/1722 we ve decided to close this ticket for now.

[2020-04-13 16:47] #1526 closed, assigned to amsichani

[2020-04-13 21:30] mariajoafana commented on #1729
Fixed @mdlincoln I got confused, we don't apply daylight savings in Colombia!

[2020-04-14 00:21] jenniferisasi commented on #1738
@mdlincoln I am not on a race with myself on making you hate me, BUT I am going to suggest something that I believe is easy (on the snippets) and I guess I'll have to change it myself.

As the banners are right now, in general, they are fine "this lesson is also: title in x lang". Now, from a **language accessibility** perspective, you would have "message in x language; title in x lang."
Ex. a Fr-

[2020-04-14 07:40] acrymble opened #1739 "List of Holidays / Religious Days"
I'd like to put together a list of days during the calendar year that we should avoid holding meetings on, on the basis that they are either a religious or a civic holiday for one or more of our team members. Can I ask that everyone on the @programminghistorian/project-team help me put together this list, as this varies widely by country and none of us should expect everyone else to know.

Let's b

[2020-04-14 07:42] acrymble commented on #1715
@JMParr can you check in please? I haven't heard from you so I don't know what your situation is currently.

[2020-04-14 07:54] acrymble commented on #1645
@ZoeLeBlanc just a reminder that as we bring in DOIs soon, this type of change won't really be viable. So if you do intend to make it, please make sure it happens before DOIs are implemented, and then close the ticket.

[2020-04-14 08:02] drjwbaker commented on #1658
@jenniferisasi Absolutely no hurry. We all need not to put too much pressure on each other at this time. My instinct is library directors. In some cases, I've suggested specific people where I know they are likely to be supportive.

[2020-04-14 08:03] acrymble commented on #1658
@jenniferisasi I think @svmelton and @walshbr might be the best people to ask about that. At least in the American context.

[2020-04-14 08:04] drjwbaker commented on #1658
Yes, especially on specific people at specific places.

[2020-04-14 08:31] drjwbaker commented on #1645
@ZoeLeBlanc See https://github.com/programminghistorian/jekyll/issues/1682#issuecomment-605084365 (tl;dr: viable, but discouraged)

[2020-04-14 08:39] drjwbaker commented on #1739
Early May, Spring, and Summer bank holidays move around in the UK (and we get extra ones if Christmas, Boxing Day or NYD fall on a wekend. Best source of info is https://www.gov.uk/bank-holidays.

[2020-04-14 08:52] acrymble commented on #1721
It looks like we're stuck on this. @spapastamkou for the purposes of your grant, do you have a specific amount of work you want us to estimate? Maybe rather than have a cost per lesson we can assign a value to a package of work (eg, editing and copy editing a batch of 10 lessons?). Just want to make sure you've got what you need to submit your application.

[2020-04-14 12:22] walshbr commented on #1658
Hmm…sort of depends on the angle I suppose. Digital scholarship librarians, digital humanities librarians, digital humanities coordinators, and people in those types of positions would be the most engaged in questions of open access. But if the library has subject liaisons, then the history department liaison or someone who educates on digital literacy might be a good bet. My sense is that each li

[2020-04-14 12:52] mdlincoln commented on #1738
If you and @amsichani like it then make a PR and let's see what it looks like.

[2020-04-14 13:11] spapastamkou commented on #1721
Actually the discussion here (and the question I had in mind before opening this ticket and discussed with @acrymble ) is how we can estimate the costs of processing a lesson, once it has been written and received, so that we can estimate somehow the work we do. It is really difficult to estimate as comments show and I am less and less sure we'll get a precise idea. Currently, for finalising the g

[2020-04-14 13:45] svmelton commented on #1658
Library directors would be the simplest, and the most likely to be able to make those decisions. @walshbr is right, though—the people most engaged will likely be DH librarians, scholarly communications librarians, and liaison librarians. One solution might be to send the letter to directors, but also email listservs where those on-the-ground library staff are likely to be.

[2020-04-14 13:51] spapastamkou commented on #1659
I resumed the work on writing the proposal after some time of interruption. Considering the situation created by the Covid19 pandemic and the impact it has on the organisation of physical scientific events, @acrymble had proposed during a discussion we had that rather than proposing a workshop in Senegal, we hire someone instead to produce (or have produced,?) some lessons specifically considering

[2020-04-14 14:07] acrymble commented on #1659
If you are looking to cost the writing of lessons, writing is usually paid by the word or by the assignment. There are writer's associations around the world that can tell you the current going rate for different types of writing.

Not all of our authors have worked for free. Many do it as part of their paid job. And the Bogota participants, one might suggest, were paid.

[2020-04-14 14:18] JMParr commented on #1715
Hi, @acrymble I'd mentioned my return in a separate email, but forgot to post on the Github. I will be back off sabbatical this coming Monday.

[2020-04-14 14:46] acrymble commented on #1659
@spapastamkou are there a couple of specific lessons you could suggest, and I can try to help you cost out what a fair rate might be? The lessons are so different in length and complexity.

[2020-04-14 14:48] spapastamkou commented on #1659
@acrymble Do we have an idea of the actual cost of PH tutorials that have been written? Or, if you and other authors (@drjwbaker ? @fdlaramee?) can help me by estimating how many hours writing a tutorial took you, I could draw an estimate according to a FR researcher's salary so that it speaks to a FR founding institution. What do you think?

[2020-04-14 14:52] spapastamkou commented on #1659
@acrymble Something like [this lesson on Omeka](https://programminghistorian.org/en/lessons/creating-an-omeka-exhibit) or the lesson we look for [on choosing a metadata schema](https://programminghistorian.org/en/lesson-requests) (it should be longer, I guess), or like James' on preserving research data.

[2020-04-14 14:53] JMParr commented on #1739
I'll add religious holidays here, since this could affect both team members as well as authors and collaborators(all variable dates):

- Jewish:https://pjcc.org/jewish-life/jewish-holidays-explained/
- Muslim: https://www.birminghammail.co.uk/whats-on/whats-on-news/islamic-calendar-2020-muslim-holidays-14109325
- Hindu: https://www.learnreligions.com/hindu-festivals-calendar-1770190
- Buddhist: ht

[2020-04-14 14:55] acrymble commented on #1659
The last lesson I wrote (a very long one) https://programminghistorian.org/en/lessons/gravity-model, was about 3 weeks work if I remember correctly. It required a lot of research and time writing. Some other lessons are much shorter. So I'd say 3 weeks is a safe upper estimate.

[2020-04-14 14:57] acrymble commented on #1715
Sorry @JMParr I must have missed the email. It will be great to have you back. I'll close this ticket and we'll look forward to having you next Monday.

[2020-04-14 14:57] #1715 closed, assigned to acrymble, JMParr

[2020-04-14 15:03] fdlaramee commented on #1659
@spapastamkou I did not keep detailed records but from my 2017-18 calendars I can estimate that writing and revising the stylometry tutorial took about 35-45 hours. It is hard to generalize from my experience because 1. the estimate does not take into account the time I had spent coding and writing the seminar project on which the lesson is based, two years earlier; 2. the lesson is a big one (som

[2020-04-14 15:09] amsichani commented on #1739
That s a great initiative/start in line also with our inclusive/internationisatioon strategy. Just to make it clear: are we going to list the various religious/cultural/national celebrations for our @programminghistorian/project-team or also our users?

[2020-04-14 15:09] JMParr commented on #1739
We've got a couple of those here in the USA - if the dates for Washington's Birthday, the 4th of July, or Indigenous People's Day/Columbus Day falls on a weekend, it's often observed on the Monday.

[2020-04-14 15:12] JMParr commented on #1739
@amsichani I just added some links to religious holidays for major global religions.

[2020-04-14 15:37] acrymble commented on #1739
The purpose right now is to avoid our own meetings on these dates @amsichani. So it should be the shortest possible list of dates that affect our members only.

[2020-04-14 15:44] drjwbaker commented on #1739
Given that many of these days change each year, and we aren't the only org to have to navigate these challenges, is there not an API (or multiple) we can plug into to generate a page (rather than us manually update a page) we can refer to when booking meetings? Gov.uk have a public holidays API that will cover the UK side https://www.gov.uk/bank-holidays.json

[2020-04-14 15:46] amsichani commented on #1738
Hi @jenniferisasi , what you are suggesting makes perfect sense to me and thanks for pointing it out.

I am happy to collaborate on this. Just to make it clear , there are two tasks here:

1. alert messages on lessons' translations: amend the language of the message in the landing page --> change on the snippets
2. include various available translation links into a single banner --> change on the

[2020-04-14 15:57] drjwbaker commented on #1659
Always over-estimate how long it takes to write :) But yeah, given the process we have, 3 weeks spread over 3 months (so roughly 1.25/1.5 days per week, or 0.25/0.3 full time equivalent, over 3 months) seems a fair estimate.

[2020-04-14 16:15] spapastamkou commented on #1659
Thanks, this helps greatly, @acrymble, @fdlaramee and @drjwbaker !

[2020-04-14 16:18] #1732 closed, assigned to drjwbaker

[2020-04-14 16:20] drjwbaker commented on #1658
Thanks @walshbr @svmelton. For the institutions on the gdoc, if you know specific people who'd be good/sympathetic "ins" to an org, please add them. Otherwise, let's go with Library Directors.

[2020-04-14 17:41] acrymble commented on #1739
Thanks for the suggestion @drjwbaker. I asked on Twitter and Ulrich Tiedau has suggested the calendars on Google Calendar (for anyone that uses those). I've just added (I think) the regional holidays for every country one of our members live in. I think it also includes minor holidays (like St George's Day in England), but it's a start.

I think we only have a handful of people who set meetings. W

[2020-04-14 17:44] JMParr commented on #1739
Yes, I'd be happy to use that feature.

On Tue, Apr 14, 2020 at 1:42 PM Adam Crymble <notifications@github.com>
wrote:

[2020-04-14 18:25] svmelton commented on #1739
I'd also be happy to use it!

[2020-04-14 22:56] rivaquiroga commented on #1739
Yes!

[2020-04-15 08:29] drjwbaker commented on #1700
Private repos for unlimited users is now free https://help.github.com/en/github/getting-started-with-github/faq-about-changes-to-githubs-plans. And Github has GDPR compliance https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/entering-a-data-protection-agreement-with-github-for-gdpr-compliance. Which means that I can move the offline archive to a private repo, both f

[2020-04-15 08:31] drjwbaker commented on #1700
I should add, at a reduced $4 per month it may still be worth getting Pro anyway. Or investing the edu account, as @walshbr suggested.

[2020-04-15 08:45] drjwbaker commented on #1739
Okay.

[2020-04-15 08:56] acrymble commented on #1739
If you need to know how to do this, you have to add other calendars (on the left pane on my version). You can then 'browse calendars of interest' and choose the 'regional calendars' for the relevant countries. I added the UK, Canada, US, France, Mexico, Colombia, Chile, Germany, Switzerland, Brazil, and Portugal. Did I miss any?

[2020-04-15 22:41] ZoeLeBlanc commented on #1645
Duly noted @drjwbaker & @acrymble . Think this PR was merged in some time ago, so going to close this issue ticket.

[2020-04-15 22:41] #1645 closed, assigned to ZoeLeBlanc

[2020-04-16 16:48] drjwbaker commented on #1739
@acrymble I've added all these to the programminghistorian@gmail.com calendar, which we can keep updated as a resource. My concern is that - just looking at the UK days - not all listed on there are actual holidays: e.g. 23 April is St George's Day but that is not a holiday. I don't know if that same is true for 'Day of Trees' in Colombia, or 'Ascension Day' in Germany. If so, this won't be that u

[2020-04-16 17:30] acrymble commented on #1739
@drjwbaker agreed. Not perfect. But easier than creating from scratch, as you suggested.

[2020-04-17 11:36] mariajoafana commented on #1739
During Easter week, in Colombia, and I guess in all Latin America, we observe not only good Friday but also Thursday, they are "jueves y viernes santo"

[2020-04-17 14:27] mdlincoln commented on #1684
The first part of this work is to produce crossref XML files for each fo the journals. I've started that branch now.

One question for @programminghistorian/spanish-team @programminghistorian/english-team @programminghistorian/french-team : [crossref allows us to set the following contributor roles](http://data.crossref.org/reports/help/schema_doc/4.4.2/NO_NAMESPACE.html#contributor.atts_contribut

[2020-04-17 17:33] arojascastro commented on #1684
yup!

(such a beautiful piece of xml :)

[2020-04-18 00:43] rivaquiroga opened #1742 "PH in Google Scholar"
I was wondering why not all our lessons appear in Google Scholar: https://scholar.google.com/scholar?start=0&q=source:Programming+source:Historian

Is there anything we can do to fix this?

I found an old issue about the same subject: https://github.com/programminghistorian/jekyll/issues/190

[2020-04-18 01:58] mdlincoln commented on #1742
They will once we are indexed by crossref with the doi process.

[2020-04-18 01:59] #1742 closed, assigned to nobody

[2020-04-18 15:56] spapastamkou commented on #1659
While working on the part of the grant entitled "Exemplary criteria" - we fulfill most of them - I have questions coming about two points essentially: accessibility issues, scientific integrity. I will open separate tickets to make the discussion easier and bcz I think they are of more general interest fo the PH.

I attach again here the list of the criteria in case someone wants to have a look.
[

[2020-04-18 16:10] spapastamkou opened #1743 "Content and interface accessibility"
Question related with #1659 but of more general interest. Does the PH have / is interested in defining a policy or think on accessibility issues?

I can think of two cases, but there are surely other ideas to come.
- [ ] Limited Internet connections and speed (this is openly asked in the document of the grant I've been working on recently). Having a static website is an advantage from this point o

[2020-04-18 16:18] spapastamkou opened #1744 "Policy on scientific integrity issues"
Question related with #1659 but of more general interest.
Are we interested in adding a small section in the About page on integrity issues such as plagiarism and data fabrication?

I think that commitment to openness and community minimizes any such risk but yet, does the team think that this is something important that would worth some kind of mention there?

[2020-04-19 07:46] acrymble commented on #1744
I don't know that this is an issue with our type of publication. We aren't publishing scientific results. We're publishing method. So data fabrication isn't going to undermine the value of a work in the same way. Not that we'd want to encourage it.

[2020-04-19 07:52] acrymble commented on #1739
I don't want this to be a huge chore out of this. But can we use this as a starting point when setting a doodle poll? Consider who you're inviting to the meeting and have a quick check of the calendars to see if those people might be affected by holidays?

And if anyone finds a meeting scheduled on a holiday for you, please just let the meeting organizer know. We won't always be able to avoid ever

[2020-04-19 07:52] #1739 closed, assigned to acrymble

[2020-04-19 11:25] acrymble commented on #1681
@JoshuaGOB has this gone ahead? Do you need any guidance?

[2020-04-19 18:04] JoshuaGOB commented on #1681
﻿
Hi @acrymble, got in touch with the PT team to reassess how they’re doing and what their current capacity is with regards to the on boarding tasks. As soon as I receive word from them I’ll update here as well.

[2020-04-20 08:03] drjwbaker commented on #1743
Note, I suspect accessibility will come up in Penny's report #1489

[2020-04-20 15:56] acrymble opened #1746 "Furloughed Staff query"
I have no idea the implications of this, or if it's a good idea or not. But in the UK there are currently thousands of people who have been 'furloughed' in a government scheme whereby 80% of their salary is paid by the state temporarily, to keep people employed rather than putting them on unemployment benefits.

Since many cultural heritage organisations such as libraries have had to close, I susp

[2020-04-20 16:11] mdlincoln commented on #1746
Nice idea. But this generates a lot more organizational tasks for our project team to figure out. That's a considerable consequence, given how many of our tickets in the past year are still dealing with creating new work for ourselves.

Instead of trying to channel volunteer energy towards brand new work and new workflows, why not channel it towards our core competency of publishing new lessons? W

[2020-04-20 16:49] drjwbaker commented on #1746
**If** their expertise in a given area does not cross a line into the very thing that is being furloughed. In short, I don't want to be seen to encourage people to break furlough. In the UK, at least, it seems kinda strict what counts as not acceptable during furlough. Either way, I support the idea of driving engagement, interest, effort if people are bored, sufficiently well (mentally and physic

[2020-04-21 07:30] acrymble commented on #1746
Thanks for the important workload implication reminder @mdlincoln .

I like your idea, but I wouldn't want to pursue it without the permission of @svmelton @rivaquiroga @spapastamkou because that might push them beyond their own capacity. Do any of our MEs think they could handle a bit of a push on submissions at the moment?

@mdlincoln I wonder also if we might just go a simple route of asking fo

[2020-04-21 14:07] mdlincoln commented on #1684
I've submitted a first draft of the XML back to Sussex along with a few technical questions for their review.

[2020-04-21 14:11] mdlincoln commented on #1746
What's stuck on plan S?

[2020-04-21 14:13] svmelton commented on #1746
Speaking for the EN team, we've received at least 5 pre-proposals or proposals over the last two weeks. I'm not sure our team has the capacity (or if it would be wise!) for us to recruit more submissions right now, but we *are* almost ready to send out an announcement to recruit more editors.

[2020-04-21 14:47] drjwbaker commented on #1746
In the spirit of this ticket (and I'm not involved in editing so please feel free to ignore me), would we be willing to take on temporary editors who have capacity now (because furlough) but wouldn't later (because full time job)?

[2020-04-21 15:12] acrymble commented on #1690
Some proposed response text draftings:

Response: Not all publications take the format of a single file. This is especially the case for publications that include appendices or associated datasets and more innovative forms of publication will continue to evolve. Requiring all content to be deposited in a repository may stifle this innovation in publishing format. For publications that do not yet h

[2020-04-21 15:24] acrymble commented on #1746
@mdlincoln I'm a bit confused by that question. It looks to me like the whole ticket is stuck. It's been open for almost a year. It's one of a number of very old tickets, which could mean lots of things.

Maybe we lack capacity. Maybe some people don't feel empowered to close or take the lead on tasks. Maybe some people are overly optimistic about what they can contribute. Maybe some people are be

[2020-04-21 16:13] drjwbaker commented on #1684
Woo! Great job @mdlincoln. Feels like we are making real progress.

[2020-04-21 16:18] rivaquiroga commented on #1746
If there are people willing to submit in Spanish, we can handle editing a couple of lessons.

[2020-04-21 16:22] rivaquiroga opened #1747 "New translations workflows: Spanish > EN, FR / French > ES, EN"
Until now, the only translations we have done are from English to Spanish, and from English to French. As Programming Historian en Español has three original lessons already published and a couple more on their way, it seems a good idea to start planning how we are going to manage this new translation workflow from Spanish to EN and FR.

Currently, our model involves having editors proficient in E

[2020-04-21 17:34] acrymble commented on #1743
I just remembered we did some work on this last year. #1315 There may be something useful there.

[2020-04-21 17:36] acrymble commented on #1746
@drjwbaker maybe there's also someone out there who could help us upskill on the mechanics of running a not-for-profit? Things like gov't paperwork, payments, the annual cycle, etc? I think you're on research leave, but if there are knowledge gaps we have, maybe I could see if anyone out there can help me learn them so I can pass the knowledge on when you've got more time?

[2020-04-21 17:39] JMParr commented on #1743
Hi, All -
Sofia, thank you for raising this. And, Adam, thank you for posting that
ticket. I'd missed that conversation last May, because it was right after
my surgery. Do you know if the issues with machine readability that you
were working on addressing were resolved?

On Tue, Apr 21, 2020 at 1:34 PM Adam Crymble <notifications@github.com>
wrote:

[2020-04-21 18:04] drjwbaker commented on #1746
Thanks for the suggestion @acrymble: any voluntary support I could get from experts in HR, non-profit admin, business finance would be enormously gratefully received, especially in setting us up to run more efficiently. I'm far from drowning, but I can see the limits of my expertise and capacity coming in the next 12-18 months.

[2020-04-21 18:05] drjwbaker commented on #1746
(happy to work on a call for voluntary expertise, though, as you say, I am on research leave..)

[2020-04-21 18:14] spapastamkou commented on #1659
Note the deadline was (again) modified yesterday: new date is June 1st.

[2020-04-21 18:21] acrymble commented on #1659
Are you waiting on anything from any of us? I don't want you being held up (especially if I can help). I note you have opened 2 tickets about policies. Anything else?

[2020-04-21 18:33] spapastamkou commented on #1659
We are on the budget part with the person who helps to build the bid. I may have one things or two to discuss with the global team (esp. the African part) and you, but it won't be until some days and it woud be to finalize. I'll let you know by e-mail most probably. Thanks!

[2020-04-21 18:34] svmelton commented on #1746
I know it's impossible to say how long furloughs will last, but my hesitation here is that it usually takes us at least 2 months to go from a proposal to a submission. I'm not sure that we would have submissions coming in by the time people might be back to work.

That said, if there are people willing to step in for a short time, we could likely find something for them to do. But I'm not sure the

[2020-04-21 18:44] svmelton commented on #1747
This makes sense to me! I'll also note that in our call for new editors, we're putting Spanish and/or French as a desired skill.

[2020-04-22 07:49] drjwbaker commented on #1746
Fair point.

[2020-04-22 07:55] drjwbaker opened #1748 "ProgHist Ltd Board of Directors Meeting 17 June 2020"
## ProgHist Ltd Board of Directors Meeting 17 June 2020

**Time: 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET**

Chair: @acrymble
Secretary: @drjwbaker
Members: @amsichani @spapastamkou @drjwbaker @svmelton @rivaquiroga
Minutes of the last meeting: these are not posted publicly. Please see your email from @drjwbaker 13 February 2020.

### Agenda

1. Apologies
2. App

[2020-04-22 09:51] amsichani commented on #1737
In order to work more efficiently on this, I think it's wiser to create at least three subcategories at this wiki page , mainly corresponding to different teams within the project. The lead of each team should have an overview of the process and check in with the New Publications manager (@JoshuaGOB ) and the managing editor/ contact person of the new publication.
This is a living document and we

[2020-04-22 16:37] acrymble commented on #1737
@amsichani is this a guide for new teams AFTER a publication has been approved? I'm thinking of #1718

[2020-04-22 16:52] amsichani commented on #1737
hi @acrymble , I think yes, its a guide for new teams after the publication has been approved. I am not sure whether we have decided to have a more formal way of approving a publication at this point, but as far as I know the Portuguese team are now working towards their infrastructure. So I guess #1718 would be step 1 and this ticket /tasklist would be step 2 of an onboarding process of a new pub

[2020-04-22 19:33] spapastamkou commented on #1747
All the ideas expressed here make perfectly sense @rivaquiroga.
Just for info, in our previous call for editors for the FR team we had already designated knowledge of Spanish as a particularly appreciated skill and we will of course do it again in the future. The person who had this skill was unfortunately not able to join us in the end. I hope we will eventually find someone in the future.

[2020-04-22 19:50] spapastamkou commented on #1746
To answer the question on our (=FR) capacity to take up new submissions: up until now, we haven't said no to anyone who voluntarily offered translations. We do however have a limited capacity of editing and a pile of translations that are waiting for. We are going to exchange soon in the FR team to see how we can remedy to this.

[2020-04-22 20:39] jenniferisasi commented on #1737
Just chiming in as I saw it on my email, I guess it will also serve as a pointer to new teams when they contact us (wiki-see all that you would have to do), and before we do #1718, no?

[2020-04-23 06:54] JoshuaGOB commented on #1681
Hello, I've put @amsichani and the three PT editors in touch to work on the OCR and Machine Translation lesson. They expressed a preference for lessons in English so if there are any more coming soon I'd like to offer them the chance of shadowing on those as well if the editors are willing.

[2020-04-23 08:21] amsichani commented on #1737
I agree @jenniferisasi . Its best to have something on our wiki for potential teams willing to undertake a whole new publication instead of answering individual emails every now and then.
I think it will also facilitate the role of the new publications manager @JoshuaGOB , and will formalise procedures and necessary tasks. I am all in favour of making guidelines that will make it easier for our re

[2020-04-23 09:27] drjwbaker commented on #1700
Right. This is now done. A private repo is at https://github.com/programminghistorian/project-and-business-archive. A couple of notes on process:

- Seen as I manage this archive, I'm proposing to just push docs to the repo, rather than open pull requests.
- I'm keeping some docs offline, mostly finance related docs that contain private and sensitive info (bank account numbers).

Are we happy with

[2020-04-23 09:32] acrymble commented on #1700
Is it documented and bus-factor proof? If so, yes.

[2020-04-23 09:33] acrymble commented on #1746
Ok. I think the message I'm taking from this (and thanks everyone for feedback) is that there aren't many things we can bring someone in on easily because everything requires training.

But there are a few areas where people might be able to contribute expertise or knowledge, and that we can pursue that through social media requests. I'll liaise with @jenniferisasi about how we might tweet that ou