[2019-06-01 08:16] acrymble commented on #1330
Roles associated with helping aspects of the project and project team to grow.

* Finance Manager (Looks after donations and sponsorship, including reimbursements and payment when money is spent. Point of contact for potential and existing sponsors (leadership)) @drjwbaker
* Team Development Manager (onboarding manager (leadership))

[2019-06-01 08:17] acrymble commented on #1330
I think I've had to step into the Team Development Manager role in a number of ways. I would be happy to take this on. That does leave this team solely UK-based though.

[2019-06-01 08:22] acrymble opened #1332 "Assignee groups for new "teams""
It will be helpful for reviewing pull requests and assigning tickets if we can have new labels for each of our "teams". That way we can request a review of a pull request from the "technical team" or comment on recruitment to our "development team", etc.

If someone tells me how, I can do this.

[2019-06-01 08:23] acrymble commented on #1332
Sorry, I don't mean "Labels" I mean the equivalent of being able to ask a review of the Spanish Team.

[2019-06-01 13:45] #1311 closed, assigned to nobody

[2019-06-01 13:55] mdlincoln commented on #1315
The language warning seems to be triggering erroneously - it's pointing to a `<script>` tag? All of our pages start with `<html lang={{ page.lang }}>`, so I believe this is addressed.

[2019-06-01 14:33] mdlincoln opened #1333 "Add ARIA roles to menubar dropdowns"

[2019-06-01 14:46] acrymble commented on #1326
@mdlincoln a role for you as well? To reflect the new structure?

[2019-06-01 17:57] quinnanya commented on #1329
If there's anything I can do to help out with this (while recognizing that you probably don't need another US-based person here), let me know! The new Global Outlook::DH exec board is interested in helping connect folks where we can for projects like this.

[2019-06-02 11:18] acrymble commented on #1329
@quinnanya can you tell us more?

[2019-06-02 18:39] #1333 closed, assigned to mdlincoln

[2019-06-03 08:40] drjwbaker commented on #1330
Thanks Adam. Depending on what happens over the next few months, I have a feeling this team may need some additional admin support. So I'm happy to stick as it is for no, on the proviso that we are all aware that we might need to rapidly revisit it.

[2019-06-03 15:28] quinnanya commented on #1329
@acrymble GO::DH has been quiet for the last couple years, but after the recent board election, we’ve got a group of people who are very interested in it becoming more active again. Historically, it’s played a role (at least within ADHO) of raising the visibility of DH as it’s practiced outside of the US / western Europe, with a particular focus on the Global South. We’re working on putting togeth

[2019-06-04 07:06] acrymble opened #1335 "Error in Tf-idf code"
The following has been reported in the Analyzing Documents with TF-IDF lesson

https://programminghistorian.org/en/lessons/analyzing-documents-with-tfidf

![Capture_tfidf](https://user-images.githubusercontent.com/646647/58858513-9341dd00-869f-11e9-8c5a-c7e0409d11b9.PNG)

@ZoeLeBlanc can you please check that this is in fact an error in the lesson, or let us know if it's a user error instead?

[2019-06-04 10:20] drjwbaker commented on #1318
I've opened a PR to make it easier for us to see these changes in context (via diff). I recommend that we suggest changes on the PR. If any larger/philosophical questions arise, comment here https://github.com/programminghistorian/jekyll/pull/1336/files

[2019-06-04 17:47] ZoeLeBlanc commented on #1335
uhhh the error message doesn't make sense. It quite literally says that the replace method only takes two arguments but only two were passed in the code 🤔

Replace is a built in Python method [https://docs.python.org/3/library/stdtypes.html#str.replace ](https://docs.python.org/3/library/stdtypes.html#str.replace )that actually should be able to take three arguments (though in case the number of a

[2019-06-06 03:46] maxsullivan commented on #1335
Thanks for looking into this.

I can successfully create the tf_idf_output directory but it is empty.

I have printed the all_txt_files variable and attached it.
[all_txt_files.txt](https://github.com/programminghistorian/jekyll/files/3259894/all_txt_files.txt)

Cheers

[2019-06-06 09:09] arojascastro commented on #1298
Sorry I just moved to Berlin, and I am still getting adapted and looking for a flat. I think I'll drop my name from the technical team. I can join you in the future perhaps. Thank you.

[2019-06-07 07:45] amsichani opened #1337 "June 2019 Editorial Agenda - 26th June"
Date 26th June 2019. Time is 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET. I (@amsichani ) will be facilitating the call.

Working agenda follows. Please add by commenting or editing this comment directly.

All team members, please make an effort to close at least 1 ticket assigned to you.

- [ ] Current Research Projects or Submissions Pending about the Programming

[2019-06-08 03:52] JMParr commented on #1329
Sure. I can take this on.

[2019-06-08 07:24] acrymble commented on #1327
@jenniferisasi and @amsichani I know you had to miss the last meeting, but we're hoping to have this team fully set up and operational by the end of June. I would suggest you have a conversation between the three of you about who will be the "leader" of this team in terms of being the contact with the rest of the group over communication issues. It would also help if you started to add a little bi

[2019-06-08 07:26] acrymble commented on #1279
@mariajoafana do you need any support with this checklist to make sure everything is done on time?

[2019-06-08 07:28] acrymble commented on #1329
@JMParr maybe it would be a good idea to set up a Skype call with the team members?

[2019-06-08 07:29] acrymble commented on #1285
I'm going to close this issue because I think we've got a clear plan to bring each of these new teams online. Thanks everyone for your contributions.

[2019-06-08 07:29] #1285 closed, assigned to acrymble

[2019-06-08 07:30] acrymble commented on #1022
I'm assigning this to @amsichani because this fits under the remit of Eduation Manager

[2019-06-08 07:37] acrymble commented on #1021
Can someone on the technical team take this on?

[2019-06-08 07:41] acrymble commented on #897
@drjwbaker I think we need a librarian on the team.

[2019-06-08 07:42] acrymble commented on #958
This is a very old conversation. Is there some support the rest of the team can offer to help implement these ideas? @mariajoafana is about to go on sabbatical. Can anyone take over for her?

[2019-06-08 07:43] acrymble commented on #1083
@walshbr since you've done this before, would you be able to help get a French one too?

[2019-06-08 07:44] acrymble commented on #1149
I have volunteered to take on the role of supporting new team members. Did you want help with this @amsichani ?

[2019-06-08 07:46] acrymble commented on #1274
@arojascastro can we close this now?

[2019-06-08 07:48] acrymble commented on #1296
This is still an important conversation, but we have opened up a new ticket #1329 so I will close this one to archive the discussion.

[2019-06-08 07:48] #1296 closed, assigned to acrymble

[2019-06-08 10:11] #1274 closed, assigned to arojascastro

[2019-06-09 12:19] walshbr commented on #1083
I can ask - sure. You just need to ask any metadata librarian, as far as I can tell. That's what I did at UVA - they put together the Spanish one.

[2019-06-09 12:34] #1019 closed, assigned to nobody

[2019-06-10 09:24] acrymble commented on #1332
I've added a new Team

https://github.com/orgs/programminghistorian/teams/technical-team

[2019-06-10 09:24] #1332 closed, assigned to nobody

[2019-06-10 09:27] acrymble commented on #1335
How can we determine if this is a bug or not?

[2019-06-10 10:58] drjwbaker commented on #897
Agreed. In the Comms Team? I feel that this is more a social thing than a techncial thing?

[2019-06-10 13:15] mariajoafana commented on #958
Hola, disculpen la demora y desaparición con las cosas de PH, he tenido un mes complicado.
Estuve trabajando en unas recomendaciones que podemos incluir en la guía para autores a partir del manual que compartió @vgayolrs y de la propuesta del artículo que les compartí de Carolina Sanín.
No es tan fácil encontrar ejemplos para todos 7 puntos, pero esto son algunos que pueden ir ampliándose conforme

[2019-06-10 17:39] acrymble opened #1339 "Page build failure on submisison site"
I'm having trouble getting the submission site preview to build due to an error with a new submission. I don't see any way to get detailed information on the error like with Travis.

The error occurs upon uploading the file itself:

https://github.com/programminghistorian/ph-submissions/commits/gh-pages

https://github.com/programminghistorian/ph-submissions/commit/5bb22e17d434a69f4b9d1f5dc79a1618

[2019-06-10 17:53] mdlincoln commented on #1339
Square brackets are a special character in YAML that indicate that you are submitting an array/list of multiple values. all of the `[LEAVE BLANK]` text is therefore invalid, because Jekyll is trying to interpret it as a list for values that shouldn't be lists. If you put a `#` in at the start of the line it'll comment it out, otherwise just put in dummy values that don't have brackets.

[2019-06-10 20:14] acrymble commented on #1339
Thanks, that was part of the problem. There were other syntax issues also. I've fixed them now (but it was a lot of work!)

[2019-06-10 21:18] mdlincoln commented on #1339
I hesitate to change up the editorial guidelines again (#1336) but is it possible that [this section of the guidelines](https://programminghistorian.org/en/editor-guidelines#3-add-yaml-metadata-to-the-lesson-file) needs to be explicit that you actually have to fill in those data? You can't just leave them blank?

[2019-06-12 10:00] amsichani commented on #1327
I d prefer to stick to one role if possible on this team , preferably the Education one ;-) @walshbr are you interested to the research impact one? I see those roles often interrelated, esp when it comes to initiatives, outreach events etc

[2019-06-13 12:26] mdlincoln commented on #1021
We'll assign it as a task to one of the newer tech team folks at our next call

[2019-06-13 13:04] walshbr commented on #1083
I wrote one of our metadata librarians this morning to ask about adding an OCLC record for the French publication. More soon!

[2019-06-13 15:57] walshbr commented on #1327
I'm not really qualified for or interested in the research impact role. And I don't want to step on your toes if you're interested in the education piece. Maybe the impact one is a role that we could recruit for?

[2019-06-13 18:01] walshbr commented on #1083
Here ya go - https://uva.worldcat.org/title/programming-historian-en-franais/oclc/1104391842 - let me know if anything is missing or needs to be added? Otherwise this ticket can probably be closed once the info there gets added to the contribute pages for each language.

[2019-06-13 18:04] acrymble commented on #1083
Please thank your colleague for us.

[2019-06-13 18:13] acrymble commented on #1320
I don't think anyone has time for this.

[2019-06-13 18:13] #1320 closed, assigned to nobody

[2019-06-14 07:22] acrymble commented on #1321
@mdlincoln I believe you were going to check this over and implement it if you were happy. I've had an approval of my ethics application on the basis of us being compliant. If this could get in place in the coming days or weeks, that would be great for that (as well as the wider need).

[2019-06-14 07:26] acrymble commented on #1209
Our first draft has arrived from the copyeditors and I've circulated it to the team via email.

We need to include information on reserved words, variable naming, and comments in code.
The text is very England-centric at the moment, but we can work on these things.

[2019-06-14 07:32] acrymble commented on #1209
Do we have programming languges other than Python, Javascript and R?

Reserved words taken from the Internet:

Python 2:

and       del       from      not       while
as        elif      global    or        with
assert    else      if        pass      yield
break     except    import    print
class     exec      in        raise
continue  finally   is        return
def       for       lambda    tr

[2019-06-14 07:48] acrymble commented on #1209
@mdlincoln do you have opinions on variable naming conventions?

Should we encourage a certain convention? what about multi-word multi_word multiWord variables?

I presume there are standards, but I am not versed in them.

[2019-06-14 07:54] acrymble commented on #1209
Formatting styles of specific types of words, as per O'Reilly style guide. Do we like these?:

Type of element | Final result
-- | --
Filenames, file extensions (such as .jpeg), directory paths, commands in Unix, Oracle, SQL, and Linux books | Body font italic
URLs, URIs, email addresses | Body font italic
Emphasized words (shouting!).Please use italics rather than bold for emphasis. | Body font i

[2019-06-14 07:55] spapastamkou commented on #1083
A big thanks to both of you @acrymble and @walshbr , and to @fdlaramee for approving the PR.

[2019-06-14 07:55] #1083 closed, assigned to spapastamkou

[2019-06-14 08:40] acrymble commented on #1327
We'd like to close this ticket in a few days and know that you all feel confident in your new roles. Can you let us know if you want any extra support in that?

[2019-06-14 09:39] amsichani commented on #1327
I d like us to have a Research Impact manager role in this team , I think is important for the project itself as well as for our own career progression through this. Anyone interested?
skype coordinator : I am happy to take this role for another year, if the team agrees. I d say lets list it as a separate role within the comms team , although the duties are quite limited.
@jenniferisasi I am extre

[2019-06-14 10:26] drjwbaker commented on #1337
I can no longer make this time. But if I have them I will post updates on #1301 in advance.

[2019-06-14 12:16] walshbr commented on #1327
@amsichani that sounds good re: skype call coordinator for another cycle to me. It feels like it's a role that benefits from having done it before - I think you and I both have systems in place that make it an easier lift for us than for others to step into it. I'm happy to sub in when you need and to take over for a rotation when you're done with that one.

[2019-06-14 12:19] walshbr commented on #1337
Oof I think I read the wrong month/week on my calendar. I'll see if I can shift things around make part of this, but I'll be late in either case.

[2019-06-14 13:24] amsichani commented on #1327
fantastic @walshbr ! lets keep it that way!

[2019-06-14 13:26] drjwbaker commented on #1301
Two updates:

- a took a meeting this with a colleague from Sussex in charge of [an externally-funded impact acceleration account](http://www.sussex.ac.uk/broadcast/read/47595). Two pieces of advice came out of this: setting up as a [not-for-profit social enterprise could be a good option](https://www.gov.uk/set-up-a-social-enterprise); once we are a legal entity, I'd be eligible to get financial

[2019-06-17 04:26] silviaegt commented on #1018
In #1210 @rivaquiroga mentioned the possibility of adding R as a category. Although search options will be very useful, R is a particularly-difficult-to-find-language in full-text search so I also vouch to add it as a filter

[2019-06-17 08:59] acrymble commented on #1209
This has been sent back for some further work.

[2019-06-17 09:08] acrymble commented on #1327
To close this issue, can your team please make sure the following tasks are complete:

- [x] Assign someone the "lead" role in this team who will be the key contact for all communication matters for the rest of the editorial board
- [x] Update teamroles.yml with new roles and descriptions for the new roles
- [x] Update ph_authors.yml so that team members are associated with the new roles
- [x] Upd

[2019-06-17 09:12] acrymble commented on #1328
Given @alsalin's current leave, which extends to July, I propose moving this team setup to August instead, to give her time to get back.

[2019-06-17 09:13] acrymble commented on #1330
I'd like to move the setup of this team to July, since @alsalin is currently on leave and we cannot set up the Managing Editor team without her.

@drjwbaker is that ok with you? If so I can start conversations about getting this all integrated into our workflows.

[2019-06-17 13:55] #1339 closed, assigned to nobody

[2019-06-17 18:09] spapastamkou commented on #1299
I close this ticket as I am slowly but surely getting back to work:)

[2019-06-17 18:09] #1299 closed, assigned to spapastamkou

[2019-06-18 12:59] jenniferisasi commented on #1327
Just a note: I am awaiting to decide on #1280 to take on the lead role here or not (it would be too much for me to have both during the next school year as I will be teaching and on the job market).
On the Wiki, my part is done, and I ask that @amsichani and @walshbr write their positions as they see fit with their interest and time.

[2019-06-18 20:12] ladew222 commented on #1181
I was able to simplify the entire U.S. map and test the results which saved me from some additional modifications to the actual lesson.  I went through the lesson and tested the new files to ensure they work properly. The data directory is available here:https://dropmefiles.com/0OP4Q <https://dropmefiles.com/0OP4Q> and is 32 MB.  The .shp file is no 19.2 MB and is the largest file. I updated the l

[2019-06-19 10:29] acrymble opened #1346 "Argentina and Mexico funding opportunities"
There are two current grant calls that should be of interest to us. One to develop links between Argentina and the UK ($500,000 Argentina - about £7k). One to develop workshops between UK and Mexico (£15k).

We are a good fit for both. Is anyone interested in either opportunity?

https://argentina.britishcouncil.org/en/programmes/education/call-higher-education-links?_ga=2.69639440.1896854459.1539

[2019-06-19 15:11] acrymble commented on #1346
@vgayolrs is this interesting to you? If so we can talk. If not it probably won't work for us this time.

[2019-06-19 15:18] acrymble commented on #1181
I believe @JMParr is back in a few days. Can you please take over and re-test this lesson so that we can resolve the issues with the data files?

Let us know if you need help.

[2019-06-21 04:44] weaverbel opened #1347 "Intro to Beautiful Soup lesson failed to work for me on Windows and Linux"
There are a few issues with this lesson.
1) Not always clear where one is meant to be - on the command line, in a Python IDE, in a Jupyter notebook, whatever. All the instructions seem to be written for a command line system, but that is not stated, and if you are not in that kind of system, then you need help on where you can run all of this. It is important to say what tools will be used and wha

[2019-06-21 09:43] drjwbaker commented on #1301
Two updates:

I took a meeting earlier this week with [someone from the Sussex Innovation Centre](https://www.sinc.co.uk/meet-the-team). Two things to note from this:

- First, they provide services such as accountancy (which we'll need) on a fee basis or via funds I can apply to at Sussex.
- Second, they have a lot of expertise in market research, and one thing we discussed is getting evidence of

[2019-06-21 09:46] drjwbaker commented on #1301
To sum up for #1337:

- I'm taking meetings.
- It looks like a Charitable Incorporated Organization or a Social Enterprise are our two best options.
- Sussex has given us some money for a solicitor to take an opinion. I'll ask them to evaluate these two options.
- The Sussex money has to be spent by end of June, so hopefully I'll have a proposal for you all to consider by the end of summer.
- At p

[2019-06-21 11:59] drjwbaker commented on #1347
Thanks for your comments @weaverbel. Sorry you had some problems. On order:

1. The lesson does mention 'terminal' early on and this the implied environment, but I take the point about absolute clarity. It is medium difficulty lesson, so there are some assumptions baked in. Also, I'm not sure Jupyter was that much of thing when the lesson was written in 2012!
2. Okay. This seems like a problem we

[2019-06-22 10:58] weaverbel commented on #1347
Thanks @drjwbaker
The tute starts with the full code so you could just go straight to that. But then it does a step by step thing so you can understand what you are doing as you go. You do the bit with `prettify` and then the next lot of code doesn't have `prettify` at all and it seems that bit is gone altogether. I wasn't sure if it needed to stay in or not as it wasn't in the full code at the st

[2019-06-22 14:06] jerielizabeth commented on #1347
Thank you for the feedback on the lesson. It is definitely starting to show its age.

I can take a look at the html parsers part in August - prepping for a dissertation defense until then. I can run through the whole lesson at that time to make sure it still works. If not, it might be time to consider a new tutorial on beautiful soup using the latest version and python 3.

[2019-06-22 14:14] drjwbaker commented on #1347
Thanks @jerielizabeth for agreeing to take a look later in the summer. We have a lesson retirement policy these days https://programminghistorian.org/en/lesson-retirement-policy so if fixing is a burden, we can go in a retirement direction.

[2019-06-23 07:54] acrymble commented on #1330
I'd like to add another role to this team. Something along the lines of "ticket master". Someone who keeps an overall view of the tickets on this board and helps by offering support and encouragement, otherwise making sure tickets are actioned. I've been doing this (along with some others) for a few years, but it's becoming a bit too much work, and I could really use the support of having this bec

[2019-06-23 17:28] drjwbaker commented on #1298
Sorry, not going to be able to make this. I'll do my homework though 😁

[2019-06-24 07:55] drjwbaker commented on #1330
I agree. You are the de facto "ticket master" at the moment and this is unacknowledged labour.

[2019-06-24 07:56] drjwbaker commented on #1347
I'll make a note to come back to this in September, just in case you don't find the time @jerielizabeth.

[2019-06-24 13:44] GO5IT opened #1348 "Dead links in "Introduction to Populating a Website with API Data""
- The full title of the lesson
Introduction to Populating a Website with API Data

- The system you are using (Mac, Linux, Windows)
Windows, but OS does not matter

- Version numbers of the relevant software you are using
Firefox 67,0,03, but does not matter

- The exact steps you took that caused the problem
1) Go to https://programminghistorian.org/en/lessons/introduction-to-populating-a-website

[2019-06-24 16:20] walshbr commented on #1116
Are we just leaving this open until github-pages increments their version of jekyll?

[2019-06-24 16:21] walshbr commented on #1302
I believe this can be closed as we've identified some action that has grown out of it. Feel free to reopen if I'm misinterpreting.

[2019-06-24 16:21] #1302 closed, assigned to arojascastro

[2019-06-24 16:22] walshbr commented on #1315
Since you've split this into several tickets, can we close this @mdlincoln?

[2019-06-24 16:23] walshbr commented on #1324
I'm happy to help with this.

[2019-06-24 16:28] acrymble commented on #1346
I haven't heard from @vgayolrs so I will close this.

[2019-06-24 16:28] #1346 closed, assigned to nobody

[2019-06-24 17:24] yclepit opened #1349 "problem with static website/Jekyll tutorial installation for Apple Mojave [solution enc.]"
Encountered  error while setting up a static site via the programminghistorian tutorial: iirc, it was 'could not locate gemfile or .bundle/ directory' but exact wording escapes me.

Seems to be common to Mojave (I'm running 10.14.5) and following the protocol on [this website](https://desiredpersona.com/install-jekyll-on-macos/) in conjunction with the tutorial seemed to solve it.

[2019-06-25 00:59] mariajoafana commented on #1280
I can push my sabbatical until September and complete one year as managing editor

[2019-06-25 10:16] amsichani commented on #1330
I agree on the necessity of the 'ticket master' role. I am happy to help on this alongside keeping tidy the [Ticket scheduling project](https://github.com/programminghistorian/jekyll/projects/1), although I m not sure I can be as master as @acrymble is ;-)

[2019-06-25 13:14] mdlincoln commented on #1298
Hi @programminghistorian/technical-team, just a reminder to please do your homework tasks ahead of our call this Thursday!

[2019-06-25 14:51] jerielizabeth commented on #1347
@drjwbaker That sounds great! thank you!

[2019-06-25 18:18] #1225 closed, assigned to mdlincoln, ZoeLeBlanc

[2019-06-26 10:25] spapastamkou commented on #1337
Last minute's reschedule of my afternoon with a work meeting I cannot miss: I am afraid I will either miss the meeting or be really really late.

[2019-06-26 10:26] mdlincoln commented on #1348
@GO5IT are you able to create a pull request updating these links to the ones you prefer?

[2019-06-26 10:27] mdlincoln commented on #1324
We may walk through this on the technical call on Thursday and then can have a template in place for ppl to start adding alt texts

[2019-06-26 10:28] mdlincoln commented on #1337
Oh dear, I'm sorry to add to the list of people who will be arriving late, but I'm walking from a meeting right before this so will likely arrive 10min late.

[2019-06-26 10:57] mdlincoln commented on #1116
@walshbr yes, I'd like to keep it open while tracking updates to liquid

[2019-06-26 10:58] #1315 closed, assigned to mdlincoln

[2019-06-26 13:21] GO5IT commented on #1348
@mdlincoln
It seems I cannot click anything after selecting create "a new branch..."
![image](https://user-images.githubusercontent.com/28560661/60183096-df5aea00-9825-11e9-845e-aea7984b6749.png)
As said above, personally I prefer to remove the links completely. Please tell me exactly what to do. Thank you!

[2019-06-26 13:24] GO5IT commented on #1348
Just a note. I can modify texts in the box, but cannot activate "Propose file change", so I can only cancel.

[2019-06-26 13:25] GO5IT commented on #1348
Same for "Commit directly to the BranchWithoutExtraInfo branch"

[2019-06-26 14:03] jenniferisasi commented on #1288
Please apologize for the late posting; a huge commitment + trip came up at work for the first part of June and then I had my trip home for vacation. I'm finalizing and publishing this by the end of the week so that it is still within June.

[2019-06-26 14:25] jenniferisasi commented on #1327
Note from meeting:
- [x] @jenniferisasi is the lead
- [x] @walshbr will create the PR to update profiles/roles
- [x]  we need to add Education manager and Twitter Bot manager roles on the Wiki @amsichani
- [x] we can recruit the research impact manager in the future
- [ ]  close ticket this month

[2019-06-26 14:38] mdlincoln opened #1352 "Pull Request Review Process"
(placeholder)

[2019-06-26 14:43] #1317 closed, assigned to acrymble

[2019-06-26 14:44] mdlincoln commented on #1317
At 2019-06-26 meeting, decided that the more general technical writing guidelines will advise linking technical terms to wikipedia, so a separate "whitelist" will be redundant.

[2019-06-26 14:58] mdlincoln commented on #1349
@yclepit @amandavisconti would either of you be interested in submitting a pull request that would add a reference to this in the lesson?

[2019-06-26 17:54] acrymble commented on #1330
This team needs to be up and operational by the end of July, as per our schedule. To close this ticket we need to decide the following:

- [x] Team leader (I vote for @drjwbaker)
- [ ] Update teamroles.yml with new roles and descriptions for the new roles
- [ ] Update ph_authors.yml so that team members are associated with the new roles
- [x] Update the wiki to more fully explain the scope of this

[2019-06-26 18:25] acrymble commented on #1337
For the record we had the following people in attendance:

@amsichani @acrymble @mdlincoln @mpuren @jenniferisasi @walshbr

[2019-06-26 18:27] acrymble commented on #1328
In order to close this ticket we need to do the following:

- [ ] Team leader nominated
- [ ] English Managing Editor confirmed (2019-2020)
- [x] Spanish Managing Editor confirmed (2019-2020)
- [x] French Managing Editor confirmed (2019-2020)
- [ ] Update ph_authors.yml so that team members are associated with the new roles
- [x] Update the wiki to more fully explain the scope of this team

[2019-06-26 18:33] acrymble opened #1355 "Team Development Manager Check-in"
In my new role as Team Development Manager I am going to check in with each member of the team to find out how they're doing, what they might like to do, and how we might best support their involvement. I'll leave this open as a checklist to keep track of who I've had a chance to speak with.

- [x] Maria José Afanador Llach
- [x] James Baker
- [ ] Victor Gayol (email sent)
- [x] Jennifer Isasi
- [

[2019-06-26 18:39] acrymble commented on #897
I'm assigning this to the communication team.

[2019-06-26 19:09] amsichani commented on #1288
no worries @jenniferisasi - if you need an extra pair of eyes don't hesitate!

[2019-06-26 20:21] amsichani commented on #1337
Notes from the June call -mainly actions points and decisions made - please amend if I misunderstood or skip smth:

 - [ ] #1328 we need to confirm EN managing editor  &team leader
- [ ] #1329 @JMParr  to set up a Skype call with the team members and proceed on this
- [ ] #1330 pending to fill the 'ticket master' role
- [ ] #1327 the team is up and running
- [ ] #1288 @jenniferisasi  will draft th

[2019-06-27 10:25] drjwbaker commented on #1328
I can't do managing editor right now do to commitments at #1330 and #1301. They are my focus until I know the scale of the work involved.

[2019-06-27 10:30] drjwbaker commented on #1330
Okay. I'll do it.

- Project Development Manager (manages and develops PHs legal infrastructures so as to support project development; manages the Project Development Team).

Anything else?

I'm happy to do this + the Finance Manager role for now. But I'm hopeful once we get the legal entity bit up and running, that I can offload some of the latter, especially the day-to-day administration of fund

[2019-06-27 10:39] drjwbaker commented on #1298
Did my homework. Still not sure I like GH Desktop though..

[2019-06-27 12:10] acrymble commented on #1330
@drjwbaker just to be clear, I'm taking on the Project Development Manager, and you'll be the Finance Manager. In terms of leader, I'm suggesting that you'd be the point of contact for this team. In practical terms, I suspect it's not really much beyond an expectation that you'd try to come to the skype calls and represent what we've been up to. You do that anyway.

[2019-06-27 12:22] drjwbaker commented on #1330
I'm confused. What did you mean by "Team leader (I vote for @drjwbaker)" then? Either way, fine with me. But could you please list out the roles you see within this team again because we seem to be at cross-threads. I also think that whoever leads this team should take ultimate responsibility for managing/delegating the tasks that come out of being a legal entity.

[2019-06-27 12:27] acrymble commented on #1330
I've outlined it more fully here: https://github.com/programminghistorian/jekyll/wiki/Project-Development-Team

Basically each team has a lead contact who will respond when someone says "can someone from Team X ..." even just to say "we'll look into it".

it's to avoid the problem we've developed of no one taking action when teams are asked to contribute in some way (eg, reviewing a pull request).

[2019-06-27 12:33] drjwbaker commented on #1330
Right. I get it. Apologies for the confusion. I think 'Finance' isn't quite the right title then. More of..

..should be in that role as well, for now. But let's leave the title for now. The outcome of #1301 might well create a job title we have to have for someone (probably me) for the purposes of being the type of legal entity we chose.

[2019-06-27 12:52] mdlincoln commented on #1298
@drjwbaker I mean, I always recommend the command line 🤣

[2019-06-27 12:57] amsichani commented on #1298
HW done - me too still struggling with the GH desktop (it might be just a matter of time though )

[2019-06-27 13:30] amsichani commented on #1330
Hi @acrymble , I m afraid I was misunderstood here - I am happy to take on the 'ticket master role' on a trial basis (I am just thinking I might have too much on my PH plate right now).

[2019-06-27 13:45] spapastamkou commented on #1298
I did not do my homework (sorry!), but I am ok with GH desktop. Can I follow silently?

[2019-06-27 13:56] acrymble commented on #1330
@amsichani will take on the Project Manager at Large role. I will. update the Wiki.

[2019-06-27 14:49] #1325 closed, assigned to mdlincoln

[2019-06-27 15:11] #1298 closed, assigned to mdlincoln

[2019-06-27 15:15] acrymble commented on #1298
It would be nice to know what you did. I see a lot of pull requests!

[2019-06-27 15:16] mdlincoln opened #1358 "PH Technical team call - Friday, August 30th"
Friday August 30th. Time for the call is 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET time.

@mdlincoln will:
- [x] put some git/github software tool suggestions on the wiki
- [x] links to liquid template docs
- [x] trial Slack team for PH Tech team to monitor issues/PRs/commits and pair program

We will continue to think through adding alt texts to lesson avatar im

[2019-06-27 15:18] #1321 closed, assigned to acrymble, mdlincoln

[2019-06-27 15:23] mdlincoln opened #1359 "French translation of privacy policy"
During the 2019-06-26 meeting, we thought that because this would be a significant translation task, we published the English version first (since it is most pressing).

https://programminghistorian.org/en/privacy-policy

@programminghistorian/french-team when you have the capacity, this page will need a translation.

[2019-06-27 15:24] mdlincoln opened #1360 "Spanish translation of privacy policy"
During the 2019-06-26 meeting, we thought that because this would be a significant translation task, we published the English version first (since it is most pressing).

https://programminghistorian.org/en/privacy-policy

@programminghistorian/spanish-team  when you have the capacity, this page will need a translation.

[2019-06-27 15:35] walshbr commented on #1358
Not necessarily for next time, and maybe you already did this on the call I couldn't make? But I think eventually it'd be good to take Jekyll and artificially introduce the four or five common things that cause travis / jekyll to break. And just do a session on reading error messages on travis and in the terminal. But that assumes people have jekyll and the site running on their computer.

[2019-06-27 19:28] jenniferisasi commented on #1327
I have edited our Wiki site a bit to include names and roles, but I would like each of you to describe your roles as I did with mine (Manager) to have some control of what you envision and can do.

[2019-06-27 19:33] jenniferisasi commented on #1360
I'll take on this one.

[2019-06-28 09:32] amsichani opened #1362 "Summer Skype call 2019 Editorial Agenda - Wednesday 28th August"
Wednesday 28th August . Time is 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET. @walshbr  will be facilitating the call.

Working agenda follows. Please add by commenting or editing this comment directly.

All team members, please make an effort to close at least 1 ticket assigned to you.

- [ ] Current Research Projects or Submissions Pending about the Programming Hi

[2019-06-28 10:20] acrymble commented on #1362
Can we add some of the really old tickets to this call, to make a decision about whether or not they're going to be actioned or closed?

[2019-06-28 12:14] walshbr commented on #1327
Just a note that I used the stub descriptions of the roles for adding them to the project team page (preview from the PR here) - https://deploy-preview-1354--ph-dev.netlify.com/en/project-team. So if they change substantially we will need to update that pull request. I restructured the page just slightly to make the sections clearer and added the description of the Twitter Developer role.

[2019-06-28 12:43] acrymble commented on #1209
To close this ticket I need information from the Technical Team on the following:

- [ ] variable naming conventions for authors.

[2019-06-28 14:42] mdlincoln commented on #1209
Because there are differing formatting conventions across languages when it comes to variable casing (`snake_case` vs `CamelCase`) we should be agnostic on that.

For the content of the names, though, I think [R's Tidyverse guide](https://style.tidyverse.org/syntax.html#object-names) gives good advice:

[2019-06-30 09:46] amsichani commented on #1327
hi @jenniferisasi @walshbr I was about to update the comms wiki and I ve discovered our team's content is lost - any ideas?Am I missing smth???

[2019-06-30 09:49] acrymble commented on #1327
I think someone renamed it to pluralize communication: https://github.com/programminghistorian/jekyll/wiki/Communications-Team

[2019-06-30 12:14] #1348 closed, assigned to nobody

[2019-06-30 12:21] #1337 closed, assigned to amsichani

[2019-06-30 12:24] acrymble commented on #1280
@rivaquiroga has agreed to take on this role. @mariajoafana is going to skype with her to start training for the hand over.

[2019-06-30 12:24] #1280 closed, assigned to mariajoafana

[2019-06-30 12:26] acrymble commented on #1181
We had suggested retiring this lesson if a fix was not in place by the end of June. @JMParr we're now  at that deadline. Can you please let us know your plan so we can proceed appropriately?

[2019-06-30 12:31] acrymble commented on #1362
It might also be worth using these calls as a chance to make a list of tickets that we expect can and should be closed before the next call. I would suggest:

- [ ] Lenguaje inclusivo en PH es?  #958 @mariajoafana
- [x] Shadowing milestones #1149 @amsichani
- [ ] Twitter Bot and New Languages #1167   @walshbr (cannot be closed yet)
- [ ] Possible bug in "using geospatial data" #1181 @JMParr
- [x]

[2019-06-30 12:50] ladew222 commented on #1181
And please let me know if anything is needed from my end.

Sent from my iPhone

[2019-06-30 13:29] #1326 closed, assigned to mdlincoln

[2019-06-30 14:23] jenniferisasi commented on #1327
Mea culpa! I changed it because I noticed the title of this issue. Then I forgot I needed to add the -s- on the list for the menu. What is the best option for English? Once we settle to one I'll make all changes so that everything

[2019-06-30 22:51] walshbr commented on #1327
Either one seems fine to me!

[2019-07-01 15:23] walshbr commented on #1362
#1167 is meant to remain open until the French team is ready for the bot to start tweeting. They set that goal as when they have six published lessons.

[2019-07-01 16:33] JMParr commented on #1181
Hi, Adam- I'm just back from medical leave, and was away last week. I will
take a look through this tomorrow. Sorry for the delay. I did not see your
previous email.

On Sun, Jun 30, 2019 at 8:26 AM Adam Crymble <notifications@github.com>
wrote:

[2019-07-01 16:33] jenniferisasi commented on #1362
#1272 can be closed if the French team cannot take the translation of the PH entry in Wikipedia. One does not need to create a new page as such but translate content from the "beta" tab on the right-top corner.

[2019-07-01 19:13] amsichani commented on #1327
Education Manager role updated on the wiki !

[2019-07-01 22:39] spapastamkou commented on #1359
@mpuren @fdlaramee how about this? I have several editions running right now and unfortunately cannot take this up.

[2019-07-01 23:11] fdlaramee commented on #1359
I am returning from post-thesis defence vacation tomorrow night. I will review the various pending translation requests on Wednesday and assign some to myself at that time. You can assume that this one will be among them.

--
François Dominic Laramée
Doctorant en histoire (numérique), Université de Montréal
Email: fdl@francoisdominiclaramee.com
Web: www.francoisdominiclaramee.com
Twitter: @fdlaram

[2019-07-01 23:13] spapastamkou opened #1365 "Translation of code snippets in French"
The lesson Working with Text Files in Python has been translated in FR and is ready to be published. Snippets of code in python with the simple phrase "hello world" were not translated. [Translator and one reviewer do not find this necessary](https://github.com/programminghistorian/ph-submissions/issues/232) as it is widely used in FR as well and the phrase is quite simple. I think so as well.
How

[2019-07-01 23:16] fdlaramee commented on #1365
FWIW, not once in my undergrad days studying computer science in a French Canadian university did I ever see Hello World translated. I would leave it as is.

--
François Dominic Laramée
Doctorant en histoire (numérique), Université de Montréal
Email: fdl@francoisdominiclaramee.com
Web: www.francoisdominiclaramee.com
Twitter: @fdlaramee
ORCID ID: http://orcid.org/0000-0001-5542-3754

[2019-07-01 23:24] spapastamkou commented on #1362
I still cannot do this shortly, sorry, @jenniferisasi. On the other hand, I am afraid that if we close #1272, it will never be done. Would you like to assign me the ticket so that we see with the rest of the @programminghistorian/french-team?
@walshbr, this could be the case by the end of the summer.

[2019-07-02 14:13] acrymble commented on #1209
I've  passed this on to the copy editors who are amending the document. I expect a second draft in a few days.

[2019-07-02 14:13] #1209 closed, assigned to acrymble, mdlincoln

[2019-07-02 17:40] acrymble commented on #1360
Closing this as it's been merged.

[2019-07-02 17:40] #1360 closed, assigned to jenniferisasi

[2019-07-03 01:22] JMParr commented on #1181
Just a confirmation that I am working on testing. I'll provide an update by the end of the week.

[2019-07-03 06:51] mpuren commented on #1365
I agree with @fdlaramee. You don't have to traslate with kind of code snippets in French

[2019-07-03 06:55] mpuren commented on #1359
I can translate that in French, but after the DH2019 conference. Would it be ok?

[2019-07-03 08:36] jenniferisasi commented on #1359
That’s fine! We decided that it was important to publish the English version ASAP but our versions could wait. Also, I translated it quite fast into Spanish as it is not very tricky.

[2019-07-03 10:27] jenniferisasi commented on #1327
Thank @amsichani and @walshbr!
To close this ticket we only need to get the French version of our roles in PR #1354

[2019-07-03 13:39] mdlincoln commented on #1358
Slack team for @programminghistorian/technical-team set up at https://programminghistorian.slack.com - I think I sent invites to the relevant folks but lmk if you didn't get one.

[2019-07-03 14:36] mpuren commented on #1359
Ok, perfect. I do that in two weeks (or so) then

[2019-07-03 18:13] fdlaramee commented on #1272
I'll take this one. I have never edited Wikipedia and I figure it's about time I got started! 😀

[2019-07-03 18:40] fdlaramee commented on #1359
@mpuren I have some bandwidth this week and could take care of it if you want, probably as early as tomorrow. Just let me know what's best for you.

@jenniferisasi However, I do not know how to change the site's menus in my pull request to point to the new French page instead of the English version (if we're even supposed to do it ourselves and not let the technical team do it themselves.) Any adv

[2019-07-03 19:10] spapastamkou commented on #1365
Ok, there is general agreement on this:) I'll make things simple and close this ticket with a PR, once I am done with another PR. Thanks.

[2019-07-04 07:12] acrymble commented on #1352
Just so we don't forget, the context of this is to find a way to make sure pull requests  (particularly those requiring language checks by subteams) get performed in a timely manner. It's more of a social issue than a technical one.

[2019-07-04 15:21] fdlaramee commented on #1272
The translation is online at https://fr.wikipedia.org/wiki/Programming_Historian

Please do not hesitate to point out any deficiencies @spapastamkou @mpuren and anyone else who reads French!

[2019-07-04 15:50] fdlaramee commented on #1359
Never mind my proposal to take this one on right away (which I just deleted); an urgent assignment from a client has filled my available bandwidth for the next week.

[2019-07-04 16:01] spapastamkou commented on #1272
thank you so much!

[2019-07-04 17:01] drjwbaker commented on #1301
Update: I'm meeting nominated solicitor on Monday for an initial consultation. I'll update on next steps after the meeting.

[2019-07-05 09:01] acrymble opened #1367 "English Style Guide draft"
I've got a second draft of the English language style guide. We need to revise this very quickly because the invoice has to be paid by the end of July 2019 which means we only have a few days.

[PROGRAMMING HISTORIAN style guide v2-ac.docx](https://github.com/programminghistorian/jekyll/files/3361907/PROGRAMMING.HISTORIAN.style.guide.v2-ac.docx)

Is there a member of the Team who is a native Engli

[2019-07-05 13:16] drjwbaker commented on #1367
Okay. Had a stab. Some more questions in there. And a few things need revising to take into account that we use markdown. Thanks for making this happen @acrymble.

[2019-07-05 13:16] drjwbaker commented on #1367
[2019-07-05_JB-edit_PROGRAMMING.HISTORIAN.style.guide.v2-ac.docx](https://github.com/programminghistorian/jekyll/files/3362818/2019-07-05_JB-edit_PROGRAMMING.HISTORIAN.style.guide.v2-ac.docx)

[2019-07-05 17:37] acrymble commented on #1367
Thanks @drjwbaker these look like fairly minor things that we can integrate. Is anyone else able to look and comment on the draft? I need to submit the invoice ASAP.

[2019-07-08 11:08] jenniferisasi commented on #1367
@acrymble This looks great! I have taken a look at the guide as the non-native English speaker you requested. I wrote a few comments where I was confused or where I though further clarification might be needed for our authors.

Do you recall if talked about having this translated and adapted later on?

[2019-07-08 11:16] acrymble commented on #1367
@jenniferisasi where are your comments? Can you send it to me?

We only have funding for an English version. I would suggest that the needs of each publication are different and that this might prove a useful model but shouldn't be translated. Rather, each publication should create their own with their own language needs at the fore.

[2019-07-08 11:27] jenniferisasi commented on #1367
Oh, I made the changes over James' document...I downloaded the file, here:
[2019-07-05_JB-edit_PROGRAMMING.HISTORIAN.style.guide.v2-ac-2.docx](https://github.com/programminghistorian/jekyll/files/3368115/2019-07-05_JB-edit_PROGRAMMING.HISTORIAN.style.guide.v2-ac-2.docx) or here the [link](https://drive.google.com/file/d/1x6L8m-Wgo6gGSWF4EVMHNZbN0zPGvx9F/view?usp=sharing).

[2019-07-08 12:53] acrymble commented on #1367
Thanks @jenniferisasi. These are good comments and like @drjwbaker they are fairly minor changes. With that being the case, I'm going to pay the invoice and set the copyeditors free. We can do any minor amendments ourselves.

[2019-07-08 14:06] jenniferisasi commented on #1272
Merci @fdlaramee!
This issue is now ready to be closed!

[2019-07-08 14:06] #1272 closed, assigned to jenniferisasi, fdlaramee

[2019-07-08 15:11] drjwbaker commented on #1301
Update. I met the [Caroline from Girlings](https://www.girlings.com/our-people/caroline-armitage) today for a consultation. It went very well. Timetable is as follows:

- by 19 July: Girlings will produce written advice on how to structure as a not-for-profit Company Limited by Guarantee called 'The Programming Historian'. This will include a draft constitution and proposed structure, as well as a

[2019-07-09 04:10] JMParr commented on #1301
Thank you James, for your work on this!

On Monday, July 8, 2019, James Baker <notifications@github.com> wrote:

[2019-07-09 07:28] mpuren commented on #1359
@fdlaramee No problem, I will take care of this next week

[2019-07-09 10:00] drjwbaker commented on #1301
Thanks @JMParr. Exciting times!

[2019-07-09 13:07] #1288 closed, assigned to jenniferisasi

[2019-07-09 13:24] JMParr commented on #1181
Hi, all. Thank you for your patience. I've hit a bump that's probably minor, and I wanted to double check that it was not an issue local to my fairly elderly laptop. That meant getting into campus to try on some other machines (and you can imagine the traffic getting near a Boston campus the week of July 4th).  In trying to run the package installs, I keep getting requests to select HTTPS CRAN mir

[2019-07-09 13:25] JMParr commented on #1181
@ladew222 is this a step that comes up on your end?

[2019-07-09 13:27] mdlincoln commented on #1181
@JMParr If someone has installed R for the first time, then R will prompt them to select a CRAN mirror from the list provided. Once you do that, it ought to continue installation with no problems - were you able to do so?

[2019-07-09 13:34] JMParr commented on #1181
I've had R installed on my laptop for 3 years, and had an updated version. Similar issue on campus, and none of them were new installs. Very strange.

[2019-07-09 13:36] mdlincoln commented on #1181
@JMParr the setting gets stored in an `.Rprofile` file in your home directory, so it's possible that got moved somehow? In any event, nothing in the lesson code would trigger that.

Also - AFTER you selected that, were you able to proceed?

[2019-07-09 13:41] JMParr commented on #1181
Thanks, @mdlincoln . My R skills are admittedly rusty. New error message, asserting that there's no package called "tmap." Here's the full text of the error:

The downloaded source packages are in
	‘/private/var/folders/bb/yy26r_g54_136qgvyj_3c_nm0000gn/T/RtmpFKKvA6/downloaded_packages’
Warning message:
In install.packages("sf") :
  installation of package ‘units’ had non-zero exit status

configu

[2019-07-09 13:43] ladew222 commented on #1181
I will do a raw install on a new machine here today to see if I can replicate any of the issues with the packages in R.  I have not had issues but have had R installed for some time on both my machines.

[2019-07-09 13:49] JMParr commented on #1181
Thanks @ladew222 - I'm also going do a new one to see if that helps. It's possible that something has gone wrong with my install through an update or something else.

[2019-07-09 14:04] JMParr commented on #1181
Hmmm. That didn't help. Very strange.

[2019-07-09 14:06] mdlincoln commented on #1181
ooh, `units` often causes issues because it hooks into a lot of C++ code. First off though, it looks like you're running a very old version of R - the current version is 3.6.1 and it looks like yours is around 3.3? I'm afraid that's the most troubleshooting I can do today, but it may be helpful to just wipe out everything and rebuild from the newest version.

[2019-07-09 14:11] JMParr commented on #1181
Thanks! I thought I had recently updated, but it looks like I was mistaken. Am working on another new wipe and re-install, but need to update my OS first.

[2019-07-09 14:12] mdlincoln commented on #1181
good luck! I had to do all that last month, myself... 😭

[2019-07-09 14:14] ladew222 commented on #1181
Yep. I will try a raw here once I get access to another machine to see how that runs as well.

[2019-07-09 14:14] JMParr commented on #1181
Heh. Thanks! I may have been hedging my bets. New OS update for my laptop is quite recent, but laptop is now 4 years old, "well-loved," and showing its age. Was looking to replace it this summer, but will just have to take the plunge and run those updates now since it's become a productivity/work issue.

[2019-07-09 15:07] jenniferisasi opened #1368 "Blogpost for Premio HDH 2018"
I am going to post a note about PH en español receiving an award by the HDH Association.

[2019-07-09 15:27] acrymble opened #1370 "Plan S implementation"
Plan S is a new European-led initiative to force open access publishing of research. It seems like the most likely outcome will be a massive disruption of current scholarly publishing models (https://en.wikipedia.org/wiki/Plan_S). It is not final yet, but I believe we should start making ourselves as compliant as possible. Full implementation details here: https://www.coalition-s.org/principles-an

[2019-07-09 15:33] acrymble commented on #1370
This seems like a primarily technical team task. Can I pass this to @mdlincoln for consideration and comment?

[2019-07-09 16:53] acrymble opened #1371 "Mobile Usability Issues"
I got an email from Google warning us that we have some mobile usability issues on the site. Full details are available in this report: https://search.google.com/search-console/mobile-usability?resource_id=https://programminghistorian.org/&utm_source=wnc_10030322&utm_medium=gamma&utm_campaign=wnc_10030322&utm_content=msg_100058679&hl=en

They are all technical matters.

[2019-07-10 15:48] #1368 closed, assigned to jenniferisasi

[2019-07-10 18:04] mdlincoln opened #1372 ""À propos des auteur(e)s" not displaying on Antconc lesson"
Haven't looked closely at what's going on here yet, but if someone from @programminghistorian/technical-team wants to take a peek that'd be great 🎉

![Screenshot_2019-07-10 Analyse de corpus avec AntConc](https://user-images.githubusercontent.com/4392604/60993025-a2115480-a31b-11e9-8fe1-7c48ff3cacd4.png)

[2019-07-10 18:05] mdlincoln commented on #1372
ah, might be that @programminghistorian/french-team forgot to add a french bio for Heather?

[2019-07-10 18:06] mdlincoln opened #1373 "Check script should confirm bio is present for author in the required language"
the checks didn't catch the problem in #1372

[2019-07-10 21:41] #1372 closed, assigned to spapastamkou

[2019-07-14 13:45] #1365 closed, assigned to spapastamkou

[2019-07-14 14:45] JMParr opened #1377 "Global Team Meeting Agenda 23 July"
Opening this ticket as a follow-up to issue [#1329](url).

Call time is 23 July, 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET time. Below, I've added some agenda items, but other members of the team should feel free to add suggested items for discussion.

- [x] Defining team member's roles.
- [x] Set team goals for the next six months.
- [x] Discuss recruitment of l

[2019-07-14 17:06] #1327 closed, assigned to jenniferisasi

[2019-07-14 21:55] acrymble commented on #1377
I can report on relevant funding proposals in submission.

[2019-07-14 21:58] JMParr commented on #1377
Great. Let’s add it

On Sunday, July 14, 2019, Adam Crymble <notifications@github.com> wrote:

[2019-07-15 19:22] walshbr opened #1379 "Typo in API's lesson"
"line 416-417: function mentioned should be api_id, not api_root."

https://programminghistorian.org/en/lessons/creating-apis-with-python-and-flask

[2019-07-15 19:41] #1379 closed, assigned to walshbr

[2019-07-16 08:22] acrymble opened #1381 "English Language Copyediting"
As we get ready to publish our style guide in English, I have been thinking about the best way to implement it. I don't want this to become a huge burden for anyone, but I think it is an important step we can take to increase the quality of our writing and reduce the need to spend so much time with authors working on their prose.

I would like to suggest the following workflow (assuming that #1301

[2019-07-16 10:33] spapastamkou commented on #1362
I will close #1199 once we are done with the PR #1260

[2019-07-16 16:01] acrymble commented on #1377
The following institutions are working globally in DH and we should be aware of them or working with them where appropriate:

- GO:DH http://www.globaloutlookdh.org/
- EIFL https://www.eifl.net

[2019-07-17 17:21] acrymble commented on #1199
I would love for the English team to be able to start translating the new lessons from Spanish. Is this being worked on actively?

[2019-07-17 20:27] walshbr opened #1382 "New Lesson Template ToC Error"
Unless I'm missing something, the template for new lessons has an error in it - https://programminghistorian.org/en/author-guidelines.

It lists this as the first entries in the contents of a lesson -

[code]

But I think we actually want to replace all those lines with this piece from the editor's guidelines, correct?

[code]

I think the rest of the template is more clearly meant to be edited, b

[2019-07-17 20:59] jenniferisasi commented on #1199
We have been working on it on pull request #1260, my [last comment](https://github.com/programminghistorian/jekyll/pull/1260#issuecomment-507300171) from half a month ago that no one responded to, so I will keep working on it.

I hope that was what you meant in your question. Also, to help out on that, do you want to open an issue to talk about how to get translators, reviewers, etc.? You need to

[2019-07-18 06:40] acrymble commented on #1382
I've found a few errors on that page as I'm working on the styleguide. I will take this issue on and integrate this fix into the new details. Thanks for pointing it out.

[2019-07-18 10:00] drjwbaker commented on #1381
On 1., what part *specifically* of https://programminghistorian.org/en/author-guidelines are you suggesting be replaced with the Style Guide. I see this as an addition rather than a replacement.

On 3., we need to wait until we have money in the bank until we can commit to £0 non G20 / EU cost for employing a copyeditor. Based on lessons submitted over the last year, how much would this cost us an

[2019-07-18 12:42] walshbr commented on #1382
Thanks @acrymble

[2019-07-18 12:59] acrymble opened #1383 "Author formally giving publishing permission"
We will need to log that authors have given us permission to publish with us under CC-BY, and will need to find a mechanism for recording this. This is a legal requirement moving forward.

[2019-07-18 13:02] acrymble commented on #1318
This has been merged.

[2019-07-18 13:02] #1318 closed, assigned to drjwbaker

[2019-07-18 13:51] acrymble commented on #1149
I have read through the comments on this thread, and they look more like reflections on personal experience rather than guidelines.  Using those as a starting point for guidelines, I would suggest we add the following to the Wiki:

1. The more experienced editor and the shadowee should have a conversation before beginning that  outlines the expectations and needs of both sides. Different people ma

[2019-07-18 14:21] #1199 closed, assigned to arojascastro, jenniferisasi, spapastamkou, rivaquiroga

[2019-07-18 14:41] drjwbaker commented on #1301
Update. @acrymble and I (under the auspices of the Project Development Team) met today to work through the documents prepared by Girlings (sorry @amsichani: all came together quick and we *think* you are away!)

We have responded to Girlings who will produce a final recommendation and articles of incorporation by 26 July (per https://github.com/programminghistorian/jekyll/issues/1301#issuecomment-

[2019-07-18 14:49] #1330 closed, assigned to drjwbaker

[2019-07-18 14:57] acrymble commented on #1383
I think this could be as simple as requiring them to post a set statement to their review ticket at the point of publication.

[2019-07-18 15:02] acrymble opened #1385 "Translator Guidelines Spanish / French"
Note that the Translator Guidelines have now been published in English only: https://programminghistorian.org/en/translator-guidelines

I have a pending pull request ( #1384 )to make minor amendments, but  I wanted to open  a ticket to let the French and Spanish teams know, in case they decide they want to translate this page for their own use. As each publication will have separate needs with reg

[2019-07-18 15:19] drjwbaker commented on #1383
Agree.

[2019-07-18 16:13] JMParr commented on #1301
Hi, James-
Thank you for all of your hard work on this. I have no objection to either
the proposed composition of the Board of Directors or to the proposed name.
I look forward to seeing the documents when they're ready. - Jess

On Thu, Jul 18, 2019 at 10:41 AM James Baker <notifications@github.com>
wrote:

[2019-07-18 16:14] drjwbaker commented on #1301
Thanks @JMParr. I really appreciate your vote of confidence!

[2019-07-18 17:26] amsichani commented on #1301
Hi @drjwbaker and @acrymble - thanks for all your hard work on this (I wasn't able to join you physically, thats true).
Company Limited by Guarantee sounds like a good idea to me. As a newbie to the company world, I searched for some extra information on the nature of the company and obligations of Directors/ members:
 https://www.companylawclub.co.uk/companies-limited-by-guarantee#why (feel free

[2019-07-19 07:52] drjwbaker commented on #1301
@amsichani Thanks for the comments. In turn:

- There won't be shares. That is a different type of company ("Company Limited by Shares"). We will be a "Company Limited by Guarantee", which is common for non-profits. In this strucutre the members are guarantors. See the differences on [gov.uk](https://www.gov.uk/limited-company-formation).

- On the name, we will have a clear explainer page on this

[2019-07-19 08:19] arojascastro commented on #1301
Thank you a lot James for this work. It must be difficult to deal with this kind of tasks, so appreciate and I thank you for your efforts. Just one silly question: do we need to say that we are based in the UK?

[2019-07-19 08:33] drjwbaker commented on #1301
Thanks @arojascastro. I'm learning a lot of new things, so I don't mind putting in the effort.

We don't have to say we are based on the UK, but legally a company has to be registered in a country, and in this case - for reasons of clarity, precision, and transparency - we probably should say where the company based. Perhaps we could adjust the footer text (which I'm just making a suggestion at fo

[2019-07-19 08:37] arojascastro commented on #1301
cool! yes, that little change is much more accurate :)

[2019-07-19 08:40] drjwbaker commented on #1301
Agreed. 'Based in' wasn't the right phrase. Thanks for the correction.

[2019-07-19 11:15] acrymble commented on #1362
Given the fact that we have reorganized and now nearly all tickets belong to one of our new teams, I suggest we change the meetings from being ticket-based to team-reporting-based. So each team will be expected to report on progress, priorities, and future plans, and ask advice/permission of the board on specific matters.

This should help make ticket management more streamlined.

So far we have 3

[2019-07-19 13:31] amsichani commented on #1279
Hi @mariajoafana, just wanted to touch base on where you are in terms of handing over with your open tasks before your sabbatical starts by the end of July -mainly
#958
and open submissions #163 #188 #212
Do let us know if you need extra help. Cheers!

[2019-07-19 14:32] walshbr commented on #1383
That sounds like a fine solution.

[2019-07-19 14:37] amsichani commented on #1383
sounds reasonable.

[2019-07-19 16:08] acrymble commented on #1367
I have now reformatted this to fit our author's guidelines page. I will convert it to markdown and do a pull request to make it live.

[2019-07-20 10:10] acrymble commented on #1381
As I've outlined in the pull request for the style guide, I've integrated the new suggestions into the existing Author's Guidelines and reorganized the material to try to make it more user-friendly. The new Author Guideline page should make it much easier for authors to follow, so I think we should consider numbers 1 and 2 above resolved by that, until we see how it actually gets used.

[2019-07-20 10:12] acrymble commented on #1381
£0 in the past year. But if we start translating lessons from Spanish into English that might go up. Likewise if our globalization efforts start to bear fruit.

[2019-07-20 10:49] acrymble commented on #897
I have now read the DOAJ guidelines very carefully (https://doaj.org/publishers). We do not meet the minimum requirements for inclusion on the basis that we are not a "Research Journal", which they define as:

It is possible that they changed their criteria since the English language Programming Historian was added. However, given their purpose, we will not be able to include our other language pu

[2019-07-20 10:49] #897 closed, assigned to jenniferisasi

[2019-07-20 10:51] #1149 closed, assigned to amsichani

[2019-07-20 11:20] acrymble opened #1387 "Proposal: Privileges and Responsibilities of Editorial Board Members"
As part of my new role of Team Development Manager I'm looking at ways that we can support each other effectively, and reduce energy spent on unproductive tasks. I hope this will result in a happier and healthier team.

One thing I'd like to suggest is that the Editorial Board outline some of the privileges of membership in our organization, but also to adopt a policy of minimum expectations for b

[2019-07-20 11:35] acrymble commented on #1328
I've added descriptions on the Wiki. https://github.com/programminghistorian/jekyll/wiki

Can @rivaquiroga @spapastamkou and @alsalin please review it and make changes if needed?

[2019-07-20 12:53] drjwbaker commented on #897
Just to add, I was aware of this. This was their reason for rejecting the ES publication. The rule has been there for years, so the fact they accepted the EN publication must be an anomaly. Do we withdraw PH EN from DOAJ?

[2019-07-20 12:54] acrymble commented on #897
I don't see any value in doing that. We should be glad it is in there.

[2019-07-20 17:05] jenniferisasi commented on #897
Just catching up on this thread. To make sure I'm understanding it correctly, we (ES and FR) are doing away with the idea of getting into DOAJ because we simply don't fit in it and, thus, we need to find a better "place" without going through the Volume & Issue route (#767). I'll do a bit on research on that

[2019-07-20 17:14] acrymble commented on #1387
I've just had an email from someone about this so I should have started by saying this isn't directed at anyone, or a commentary on anyone. It's just something I became aware of this week because I was inducted as a trustee of a charity and they have policies like this to make it clear what they want me to do and not do. It struck me as something that might help us too.

[2019-07-21 07:59] arojascastro commented on #897
Interesting... this makes me think are we really a journal? I always think ourselves in terms of open educational resource... maybe we can try to get closer to that community instead of librarians... there are websites like this where our web could be indexed: https://www.oercommons.org/

[2019-07-21 21:04] spapastamkou commented on #1385
We've been feeling the need to have guidelines for translators ever since we started communicating about the PH FR and each time there are contacts for a lesson. So yes, we ought to translate them. @acrymble you prefer us to open a separate issue or start a pull request from this one? I think it is better to set a timeline and have them ready let's say for the next team meeting (end of the summer)

[2019-07-21 21:21] spapastamkou commented on #1383
I agree as well. Are translators expected to do likewise?

[2019-07-21 21:32] spapastamkou commented on #1301
Thank you for your work, @drjwbaker and @acrymble. If I can be useful, please let me know.

[2019-07-21 23:09] rivaquiroga commented on #1328
I've just read the descriptions. They seem clear to me.

[2019-07-21 23:18] rivaquiroga commented on #1383
Agree.
I think it would be a good idea to record translators permission too.

[2019-07-21 23:41] rivaquiroga commented on #1385
I agree with the timeline. End of August (the end of winter, in my case :cloud_with_rain:) seems fine.

[2019-07-22 06:35] acrymble commented on #1385
Since there are 2 separate ones to create, maybe it is best to open two new tickets.  Then neither has to wait for the other.

[2019-07-22 06:41] acrymble opened #1388 "Error in Introduction to stylometry with Python lesson"
This bug report has been made on the Submissions site so I have moved it here:

The lesson specifies that the user should be in the "data" directory as the working directory (see "The Dataset"); however, the f-string construct statement assumes that the working directory is one level up:
`with open(f'data/federalist_{filename}.txt') as f:`

suggestion: either change suggested working directory to

[2019-07-22 07:33] drjwbaker commented on #1383
Okay. I've adapted from agreements I have signed. Something like:

`I the author|translator hereby grant a non-exclusive license to ProgHist Limited {FIXME: link to explainer page on the company} to allow The Programming Historian English|en français|en español to publish the tutorial in this ticket (including abstract, tables, figures, data, and supplemental material) under a [CC-BY](https://crea

[2019-07-22 07:35] drjwbaker commented on #1301
Thanks @spapastamkou. If we all agree to go ahead, we'll be sure to fully explain what being a director will entail.

[2019-07-22 07:50] drjwbaker commented on #897
For some of our authors, they want us to be a journal because they want the journal-like credit of publishing with us (hence why we did the issue/volume thing, for example). But yeah, @arojascastro,  we are an OER in many senses. So, yes @jenniferisasi, we need a better venue for all our publications. On keeping DOAJ for PH EN, I guess @acrymble it is sensible to continue, but note that it is an a

[2019-07-22 07:53] drjwbaker commented on #1387
I imagine this might help with recruitment/onboarding. @acrymble: are you proposing that you would monitor this? Might be quite a bit of work..

[2019-07-22 07:54] drjwbaker commented on #1381
Okay.

[2019-07-22 07:54] acrymble commented on #897
We could remove the overhead by re-exploring the automatic update option, which we tried previously.

Personally, I'm not worried about looking odd.  We can let anyone know that we tried to get the other publications in DOAJ but they said no, and it's out of our hands. We aren't being favouritist. Just not cutting off our nose to spite our face when something goes wrong.

[2019-07-22 08:00] drjwbaker commented on #897
Okay.

On the auto update, it is more data out data in than auto. I figured quite quickly that the number of lessons we publish in EN per year was not worth the effort of semi-automating the process. If I hand this off to someone else one day, they can chose to move from manual if they wish.

[2019-07-22 08:03] acrymble commented on #897
As this is a closed ticket, why don't we open a new one to decide if DOAJ is worth the administrative effort given these developments? Maybe that will let us explore multilingual solutions?

[2019-07-22 08:27] acrymble commented on #1387
Good question. Maybe I need to build this into a wider guide on being a member of the team, which can highlight positive elements, and not just negative ones.

I don't view this as something that needs active monitoring, but that can be used as the basis for a conversation with someone if needed.

[2019-07-22 09:44] amsichani commented on #1387
thanks @acrymble . I think this is a sensible way to measure/manage workload and contribution of board members in a volunteer-run project, esp as we are now entering a new phase with the company. Should we also specify tasks for directors ?

[2019-07-22 09:53] drjwbaker commented on #1387
Directors will have minimum requirements for running a company. These will be clear once we have the structure in place. They will be light.

[2019-07-22 11:57] drjwbaker commented on #1301
Short update. Documents will be with us from Girlings soon. In the meantime, note that we'll be looking to take out Charity Directors’ and Officers Indemnity Insurance once we incorporate. For why, see https://www.adviceuk.org.uk/products-and-services/insurance-financial/trustees-directors-and-officers-insurance/. Basically, without the cover, [a director’s personal assets could be at risk if a cl

[2019-07-22 14:58] spapastamkou opened #1389 "Translator Guidelines in French"
I open this ticket following the #1385 issue because we work principally with translations right now and have the translator guidelines in French would greatly facilitate this work.
I propose a 1-month time schedule to achieve this work so that we have them ready for use after the summer vacation. Ideally this ticket should be closed by the end of August in view of the PH team's August meeting.
@f

[2019-07-22 15:19] spapastamkou commented on #1385
Opened ticket #1389 and PR #1390 for the FR translation. I think there is a slight problem with the anchors and their href in EN file but need to check this better.

[2019-07-22 16:00] fdlaramee commented on #1389
@spapastamkou @mpuren I can take care of this translation this week. The text isn't that long so it isn't necessary to split it between the three of us.

[2019-07-22 16:42] drjwbaker commented on #1301
# Opinion and Articles

All. [Caroline Armitage at Girlings](https://www.girlings.com/our-people/caroline-armitage) has delivered an opinion and draft articles on the matter of setting up as a legal entity in the UK. The opinion is consistent with my note at https://github.com/programminghistorian/jekyll/issues/1301#issuecomment-512845046. I attach the documents for your attention below.

@acrymbl

[2019-07-22 19:03] acrymble commented on #1301
Thanks @drjwbaker I have no questions at this time. Thanks for your work.

[2019-07-22 19:04] fdlaramee commented on #1388
Thanks @acrymble -- I have fixed the issue in PR #1391.

[2019-07-22 19:17] acrymble opened #1392 "Incorporated name"
We need a name for the company we're registering as per #1301 - setting up as a legal entity.

We've had a couple of suggestions so far:

- Method Press
- ProgHist Ltd

Please suggest names you think we should go for. My personal view is that I'd like us to think long-term and not try to be too trendy. If you have ideas, please share them.

(postscript: this assumes of course that we go ahead with

[2019-07-22 19:49] drjwbaker commented on #1392
Note, it can't be a name already in use in the UK https://beta.companieshouse.gov.uk/search/companies

[2019-07-22 20:19] spapastamkou commented on #1389
Thank you, @fdlaramee, let me know if I can be useful to something. There is a branch `issue-1389` and I opened a pull request #1390. If you prefer, I can make the pull request for you to share tasks.

[2019-07-22 20:28] spapastamkou commented on #1328
I added some links here: https://github.com/programminghistorian/jekyll/wiki/Managing-Editor-Handover
Otherwise, I found a dead link here the 1st one about the graphics for the stickers): https://github.com/programminghistorian/jekyll/wiki/Things-we-pay-for-%28and-need-budget-for%29

[2019-07-23 08:04] arojascastro commented on #1392
Something that sounds well in English, Spanish and French and it is not proper English? Method Press is English; ProgHist Ltd I think works for all our three languages...

[2019-07-23 08:25] drjwbaker commented on #1392
I like that idea @arojascastro

[2019-07-23 08:26] amsichani commented on #1392
I like ProgHist Ltd mainly for the reason Antonio raised, but also because it has a direct link with the project.

[2019-07-23 09:17] acrymble commented on #1392
I like @arojascastro 's suggestion for something that makes sense across languages.

I've found a site with English-Spanish cognates : https://www.realfastspanish.com/vocabulary/spanish-cognates which might be helpful.

I admit not personally liking the ProgHist name because it's a bit too hipster techy for my liking, and it may be adventageous to look more traditional. Not quite 'Royal Historical

[2019-07-23 14:51] JMParr opened #1393 "Managing inter-team communications / team scopes"
During our Global Team Meeting Call, we had a discussion about team scopes, and particularly how to make sure that the teams aren't stepping on each other's toes. How do we make sure we define who does what?

[2019-07-23 14:58] JMParr commented on #1377
**Six Month Goals**

- Re-apply for British Academy funds for two (smaller) workshops. A follow-up in South or Latin America, and one in Africa.
- Possibility of fundraising for a travel bursar to support ECR in underdeveloped culture.
- See if we can improve our connections in India. (Have tried without success in the past.)
- Figure out other players working on Global DH, and create a list

**Re

[2019-07-23 15:06] acrymble commented on #1329
We have had our first meeting. To close this ticket we need to do the following:

- [ ] Update teamroles.yml with new roles and descriptions for the new roles @rivaquiroga
- [ ] Update ph_authors.yml so that team members are associated with the new role @rivaquiroga
- [ ] Update the wiki to more fully explain the scope of this team @JMParr

Riva, roles should be 'Global Lead'  and 'Global Team'.

[2019-07-23 16:13] spapastamkou opened #1394 "FR team enlargement"
I open this ticket following the #1377 meeting where adding new members in the FR team was discussed among strategies for improving linguistic diversity in the PH. This coincides with real needs as we have already received various translations we have not been able to edit yet - we had evoked these needs within the @programminghistorian/french-team. Finally, this could enable the team to start pro

[2019-07-23 16:43] spapastamkou commented on #1394
Here are some ideas/thoughts of mine:
I think we should consider to recruit at least two new members.
As for geographical diversity, it would be natural to favour members from francophone countries that are not represented yet in the team. A question we might (or might not!) come up with could be mobilities (French living in other francophone or the opposite).
For the way of recruitment, I like th

[2019-07-24 07:33] acrymble commented on #1394
Just a suggestion. The new "roles" we have make it easier to specify exactly what we're recruiting for. I think you probably need someone right now who wants to focus on editing tasks only. So maybe tailor  your advert specifically for that?

I'm not sure you need to wait until the end of the year. Once the French team knows what it's looking for, I think it would be reasonable to start finding th

[2019-07-24 09:15] acrymble commented on #1394
Sorry, another suggestion (thinking as the new Team Development Manager who will help onboard this person). Why not suggest that you're looking for someone to translate a lesson so that they get used to the process, and thereafter become an editor? That way they get to see what the process is like from an author's perspective, and you get a translation at the same time?

[2019-07-24 10:00] acrymble commented on #1392
I'm trying to brainstorm a relevant play on words. The word "red" in Spanish means network and a colour in English that might make for some clever branding opportunities.  Doesn't mean anything in French. But just as another suggestion:

- Digital Red Learning
- Digital Red Societé

etc

[2019-07-24 10:23] acrymble opened #1395 "Mexico + South African workshop grant application"
This is an initiative of the Global Team, and was discussed at our first meeting  #1377 .

The British Academy Workshops Grants are open again (deadline November 2019). We are planning on putting in an application with the hope of hosting two workshops based on our Bogota model, in mid-2020.

At present we are exploring the feasibility of hosting one in South Africa, and on in Mexico.

@acrymble w

[2019-07-24 12:37] arojascastro commented on #1377
I would also like to share this resource - Principles for Digital Development: https://digitalprinciples.org/

[2019-07-24 12:39] acrymble opened #1396 "Tidying /about page in English"
There are a few little formatting issues on the About page in English. These  are  mostly to do with  italics, and  an old note that the French version is coming soon. I will clean this up.

[2019-07-24 14:29] JMParr commented on #1377
Thank you, both!

On Wed, Jul 24, 2019 at 8:37 AM Antonio Rojas Castro <
notifications@github.com> wrote:

[2019-07-24 16:42] fdlaramee commented on #1394
I like @acrymble's proposal of onboarding new editors by having them work on a translation first. That's pretty much what I did (or what I would have done had I already taken an editor's role on something, I should say) and it has at least helped me get somewhat comfortable with GitHub.

As for who and how many to recruit, I guess the first thing to think about is: what are the bottlenecks right n

[2019-07-24 21:32] walshbr commented on #1387
This seems fine.

[2019-07-24 21:48] jamotilla commented on #1395
i´m in @acrymble i can help you and @rivaquiroga  with the draft

[2019-07-25 03:02] jenniferisasi commented on #1394
As we did with the translation review process, I am happy to talk to you three about the process of recruiting new editors for the journal, lessons learned, and things to improve (and failures, why not). A few notes on your steps:
- Number of members to recruit: according to needs, two is a good number.
-  Geographical diversity: the more, the better. Mobility (if I understood you correctly) is al

[2019-07-25 18:28] walshbr commented on #1396
Closed in #1397, which has been merged. Can reopen if I'm mistaken.

[2019-07-25 18:28] #1396 closed, assigned to acrymble

[2019-07-29 17:58] #1388 closed, assigned to fdlaramee

[2019-07-29 18:38] acrymble commented on #1328
@alsalin has informed me that she plans to step down from the role of Managing Editor. The English language Programming Historian therefore needs a new Managing Editor

[2019-07-30 11:15] lukifer195 commented on #407
from urllib.request import Request, urlopen
url = 'https://dict.laban.vn/find?type=1&query=ch%C3%A2n'
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
resource = urlopen(req)
print(resource.read())
content =  resource.read().decode(resource.headers.get_content_charset())
# any who can help me decode that link , i don't know factor when  i tried with another link and it worked

[2019-07-31 12:36] acrymble opened #1400 "Who is responsible for Lesson Bugs?"
I'd like to clearly decide who is responsible for managing any bug reports in lessons that come in. Usually these happen on lessons for which the editor is no longer with the team. It is currently unclear if the person responsible should be the Managing Editor of the relevant language publication, or the technical team.

Can we please decide so that this can be implemented, as at present most of t

[2019-07-31 15:39] jenniferisasi commented on #1400
Good question!
Since the editor of the lesson might not be on the team (in the Spanish team we still are but thinking about the future) I think the managing editor should be the one to take a first look at the reported issue. If it is not an essay fix then maybe contact the tech team, however, it could be also the case that no one in the tech team knows how to fix it, so then contact the author?

[2019-08-01 07:53] drjwbaker opened #1401 "Incorporated Entity: objects and powers"
Further to #1301, we need to agree on our objects (article 2) and powers (article 3) **before** we incorporate (if we choose to do so). These are currently:

2. Object

3. Powers (note I've only included a-b here, c-p are standard text for a non-profit limited by guarantee)

[2019-08-01 07:54] drjwbaker opened #1402 "Incorporated entity: register of members"
Further to #1301, **after** we incorporate (if we choose to do so) we will need a Register of Members of the Company.

[2019-08-01 07:55] drjwbaker opened #1403 "Incorporated entity: Chairperson for Board of Directors"
Further to #1301, **after** we incorporate (if we choose to do so) we will need a Chairperson for the Board of Directors.

[2019-08-01 07:56] drjwbaker opened #1404 "Incorporated entity: Secretary"
Further to #1301, **after** we incorporate (if we choose to do so) we will need a Secretary for meetings of the Board of Directors.

[2019-08-01 08:01] drjwbaker opened #1405 "Incorporated entity: membership"
Further to #1301, **after** we incorporate (if we choose to do so) we will need to create establish criteria for membership and classes of membership.

For example, the Editorial Board will all be members with the class of membership 'Editorial Board' the criteria for joining being to be selected by the existing Editorial Board.

We may then chose to create other classes of membership, for example

[2019-08-01 08:29] acrymble commented on #1401
If I'm not mistaken, these are the ONLY things we can do, is that right? If so, everyone needs to speak up if there's something else they think we should be doing.

[2019-08-01 09:37] drjwbaker commented on #1401
Yes. The objects and powers limit our activities, that is why they are kept broad. We can broaden them further for now, but if we to were to become a charity they need to be around the current level of breadth. Any more and we'd be rejected by the Charity Commission. So, in short, it is useful to hit the right tone here.

Note that we don't need Objects at this stage (it is not a requirement of be

[2019-08-01 16:09] ladew222 commented on #1181
I was able to do a raw install here without problems.  Please let me know if I can be of assistance on the checking/update.

[2019-08-01 16:36] alsalin opened #1406 "New EN Managing Editor Needed"
I'll be finishing up my role at EN-ME in September as I'm transitioning from full-time work at Emory to contract and consulting work for the time being. I hope to be able to stay on the EN team, but I'll need to see how things land in the next month or so. I will need to step down as ME though and we'll need someone to take up the role starting in September. Anyone interested? Anyone know anyone w

[2019-08-01 17:20] JMParr commented on #1181
Looks good on my end as well. I think we can go ahead and update.

On Thu, Aug 1, 2019 at 12:09 PM ladew222 <notifications@github.com> wrote:

[2019-08-01 18:08] mdlincoln commented on #1400
Hey, I think we need to have everyone look once again at our retirement policy: https://programminghistorian.org/en/lesson-retirement-policy

One class of issues are broken URLs, and we have an established process for this. Whoever triggers this in the PR process should be fixing this link, pointing to a new location or the Wayback Machine if possible, or removing the link otherwise. This goes for

[2019-08-01 18:15] #1367 closed, assigned to acrymble

[2019-08-01 18:15] #1382 closed, assigned to acrymble

[2019-08-02 08:11] acrymble commented on #1403
I'd like to volunteer for this in the first instance.

[2019-08-02 09:10] drjwbaker commented on #1403
Thanks Adam. The Chairperson should be elected at the first meeting of the Board of Directors. Note the articles on the chair in the articles of association:

[2019-08-02 12:10] walshbr commented on #1400
Also, 2 of the last 3 bug reports I've gotten have been errors in the code the readers were trying to run - not errors in the lesson itself. I think we could do a better job with the prompt for feedback here - https://programminghistorian.org/en/feedback - encouraging people to check their work by copying and pasting the code blocks in before they assume the lesson is broken. The GitHub issue temp

[2019-08-02 12:12] walshbr commented on #1377
Closing as this meeting already happened. We can reopen if necessary.

[2019-08-02 12:12] #1377 closed, assigned to JMParr

[2019-08-02 12:26] walshbr opened #1407 "Managing Editor Description"
related to #1406

Is the role of the managing editor documented anywhere? I see on the wiki that we have a page on the handover, but that just lists the pages where the managing editor exists. And the [editor guidelines](https://programminghistorian.org/en/editor-guidelines) lists the role of the managing editor as it pertains to the technical process. And the editorial team wiki describes it in t

[2019-08-02 12:31] walshbr commented on #1406
A few things:

1) I opened #1407 because I couldn't find actual documentation for what the role entailed outside of an old email, and the position has changed since then.
2) Since people are getting pulled in a lot of directions with a lot of different roles, we should think seriously about recruiting more folks for the English board that can also help take on lessons.
3) I can take it on, and I'l

[2019-08-02 13:24] mdlincoln commented on #1181
ok, one of you then please start a PR

[2019-08-02 13:28] mdlincoln commented on #1358
@programminghistorian/technical-team please vote for the meeting day here: https://doodle.com/poll/49fkiicyfgavtz5y

[2019-08-02 13:44] mariajoafana commented on #1279
Hi @amsichani , thanks for checking, I'm actually staying on the role until September and I'm trying to wrap up things before I leave

[2019-08-02 14:03] mariajoafana opened #1408 "QGIS lessons upgrade?"
We are grappling in the Spanish team with the translations of the QGIS lessons. Our reviewers and translator have suggested that is necessary to introduce some "upgrades" related to some relevant changes made to the interface through versions 2.0.1 to 2.18.16. According to one of our reviewers, those changes don't make significant modifications to the lesson itself but only to software interaction

[2019-08-02 14:25] mariajoafana commented on #1400
#1408

[2019-08-02 14:51] mdlincoln commented on #1408
From a technical standpoint, I'd strongly suggest using the 2.0 version instead of trying to do a translation on the outdated version.

However, I think it's up to the Spanish team to discuss whether this modifications are so complete that the lesson is no longer a "translation" as such. If you decided to go the route of "adaptation" then I would include a note about the translated lesson, but not

[2019-08-02 22:03] alsalin commented on #1407
Somewhere between steps 5 and 6, I've done initial feedback rounds with authors (just did one today!). It's not just answering questions but actually doing the very initial review before it gets to the editor.

Also, I've been setting up the folders in the repository for my lessons since I'm the initial contact - I think that may have gotten straightened out as I went on leave with the new editori

[2019-08-03 06:49] acrymble commented on #1407
The description of the role on the Wiki is:

Managing Editor

The managing editor is a leadership role which comes with it the ultimate authority for their respective publication. All editors report directly to the managing editor, who has the executive power to accept or reject any paper, and to intervene as they see appropriate in the peer review of any lesson under their remit.

They should be

[2019-08-03 06:56] acrymble commented on #1408
I think you'll have to decide as a Spanish publication if a lesson using an old version of software serves the needs of your audience.

[2019-08-03 12:18] acrymble commented on #1355
I have not been able to make contact with @vgayolrs or @mpuren. Given the time of year they may be on vacation. I will attempt to make contact again in the autumn.

Everyone else has spoken to me and given me an overview of their plans, which has been fed into the new team structure.

[2019-08-03 12:18] #1355 closed, assigned to acrymble

[2019-08-07 04:04] jerielizabeth commented on #1347
Hi @drjwbaker, I've had a chance to start looking at the lesson and the errors reported. Some initial thoughts and a question.

For the issues raised by @weaverbel:
2. I can add instructions on installing and calling an html parser (change needed due to an update in the BeautifulSoup library.) That should keep the lesson working. As a side note, it works ok on my local machine - just gives a warni

[2019-08-08 08:57] acrymble commented on #1407
This is now  managed by  a pending blog post re #1406

[2019-08-08 08:57] #1407 closed, assigned to nobody

[2019-08-08 09:08] acrymble commented on #1329
@rivaquiroga could you let me know if you need help with this? We are ready to close this now once the above is complete.

[2019-08-08 10:28] #1406 closed, assigned to acrymble

[2019-08-11 16:22] mdlincoln commented on #1347
@jerielizabeth just chiming in to say I agree that it'd be better to retire this lesson adn do a new one given that these changes would amount to a significant rewriting

[2019-08-13 13:42] walshbr opened #1412 "RSS Error"
"Hi, not sure if this is the best way for this kind of feedback, but I just recently found my way to the superb Programming Historian website, and wanted to subscribe to the RSS feed - but there seems to be some kind of error in the feed's syntax.

My RSS reader accepted the error as such, but the feed doesn't show any posts since January 2019 (and clearly you've published stuff since).
"

[2019-08-13 13:46] walshbr commented on #1412
Looks like it is the ampersand in the title of the gravity models lesson -

<title>Introduction to Gravity Models of Migration & Trade</title>

IIRC, ampersands need to be escaped for XML to validate properly. I'll try that out and see if the error goes away.

[2019-08-13 14:12] walshbr opened #1414 "Add Fr to RSS Feed"
#1412 reminds me that we need to add the Fr publications to the RSS feed. Because of the wrinkles in how the metadata works for the translation vs original publication, in order to actually get things to show up chronologically, I had to break the different languages into their own sections on our larger feed. Not too hard, but I'll just need to sit down and do it.

[2019-08-13 15:26] #1412 closed, assigned to nobody

[2019-08-14 09:45] mnscholz commented on #569
The BM endpoint seems to be down since quite some time (at least a few months now).
So I wonder whether there are plans to change this lesson to use another endpoint.

[2019-08-14 18:48] mdlincoln commented on #569
This is quite frustrating given the British Museum's pretense to be a leader in the field of museum information.

I'll survey the possibility of swapping out the URLs here to the new, more stable ResearchSpace ones. However, if this is not possible, then I will regretfully recommend both this and the Spanish translation be retired. A new endpoint would mean a new lesson. I will try to report back

[2019-08-15 05:18] mnscholz commented on #569
Thanks, Matthew!
I just realized that Palladio seems to have vanished, too(?). At least the link's domain is abandoned and I couldn't find a working one.

Edit: Palladio moved to http://hdlab.stanford.edu/palladio/

[2019-08-15 15:02] acrymble commented on #569
Can you contact them about it @mdlincoln ?

[2019-08-15 17:31] acrymble commented on #1313
I've moved this to the Team Funding Capabilities page on the wiki, as this isn't something we can action at present. https://github.com/programminghistorian/jekyll/wiki/Team-Funding-Capabilities

[2019-08-15 17:31] #1313 closed, assigned to drjwbaker

[2019-08-15 17:56] acrymble commented on #1387
I've moved these now to the Wiki:

https://github.com/programminghistorian/jekyll/wiki/Privileges-and-Responsibilities-of-Membership

[2019-08-15 18:08] acrymble commented on #1408
@mariajoafana do you need further views on this or can we close it?

[2019-08-15 18:12] acrymble commented on #1018
@ZoeLeBlanc I believe you said you'd be returnning to this soon. Is that so? Do you need any support?

[2019-08-16 07:50] drjwbaker commented on #1347
So, we are patching this lesson for now and @jerielizabeth you might write a new one later that supersedes this?

[2019-08-16 15:12] jerielizabeth commented on #1347
I think so. And with these changes the lesson should weather the move to python3 so there is time.

[2019-08-18 13:09] walshbr opened #1416 "Escaping Quotation Marks in Figure Captions"
Our author guidelines for figures - https://programminghistorian.org/en/author-guidelines#figures-and-images - do not mention escaping quotation marks. In other words,

`{% include figure.html filename="special-paste-values.png" caption="Choose "Values" in the "Paste Special" menu." %}`

Will cause a jekyll build error, because it will assume the first quotation mark after Choose closes the captio

[2019-08-19 14:52] mdlincoln commented on #1358
I have only heard from @jenniferisasi and @walshbr so far; @programminghistorian/technical-team I'm going to edit this poll to push until September to give another chance for team members to respond. If you are UNABLE to make this, but still wish to be part of the team, please respond anyway as unavailable for all dates. I need to know who is interested in working on tech parts of the site but una

[2019-08-20 13:24] mdlincoln commented on #1416
Thanks @walshbr - yeah, in this case, they definitely DO need to escape the quote marks. Another possibility is to use single quote marks for the `caption=''` declaration, and then they can use double quotes with impunity and without escaping inside the caption.

[2019-08-20 13:26] mdlincoln commented on #1400
@acrymble What's the action item here? Do you think we need additional documentation in the wiki about this editorial process? Clarifying the feedback page?

[2019-08-20 13:26] walshbr commented on #1416
Then we have the problem of apostrophes :) I'm good with either single or double quotes, though it does seem like we should mention escaping either way in the documentation. If you let me know what you'd prefer tech boss I can implement it @mdlincoln.

[2019-08-20 13:27] mdlincoln commented on #1383
OK @drjwbaker - is this something to go in the author or editor guidelines for the submission process?

[2019-08-20 13:33] mdlincoln commented on #1393
This seems to be somewhat documented in the wiki pages, for example: https://github.com/programminghistorian/jekyll/wiki/Editorial-Team

Do you think these descriptions can be enhanced further? Or can we close this ticket?

[2019-08-20 13:36] mdlincoln commented on #1392
I agree with @arojascastro @drjwbaker @amsichani - this corporation is solely dedicated to the publication of the Programming Historian, and it's a known name so there's no risk of diluting our well-liked brand. I don't find any of the alternates provided to be compelling.

[2019-08-20 13:37] mdlincoln commented on #1402
Is there a specific format or location that this register needs to be published? e.g. does it go onto a public HTML page? A sheet of paper mailed to some authority? etc.

[2019-08-20 13:38] acrymble commented on #1400
I think you're right that this was already covered by existing policies.  Thanks.

[2019-08-20 13:38] #1400 closed, assigned to nobody

[2019-08-20 13:39] acrymble commented on #1395
Update that I've received  feedback form @rivaquiroga .  Working on that now.

[2019-08-20 13:40] mdlincoln commented on #1401
Does funding promotional materials or even funding some conference expenses for members of ProgHist to promote the project fall under these stipulated powers? I think those are feasible activities.

[2019-08-20 13:45] mdlincoln commented on #1371
I'm unable to view this report, even when signed in under the PH email:

![Screen Shot 2019-08-20 at 9 43 53 AM](https://user-images.githubusercontent.com/4392604/63352509-3d401580-c32f-11e9-8813-9f3665375b16.png)

[2019-08-20 14:27] mdlincoln commented on #1370
- We already deposit content to Zenodo for long term archiving
- Can definitely generate further metadata on the article as well as the license on each page
- DOIs/URNs will require some institutional partnership, such as with a university library that has a contract to a DOI provider and can register the DOIs for us. Given that the incorporation process is going on in the UK, I think this makes s

[2019-08-20 16:56] mdlincoln commented on #1416
haha, true enough. OK, to keep it consistent, let's say `caption="Use \"escaped\" quotes."`

[2019-08-20 17:01] walshbr commented on #1416
Kk - I'll PR it when I get a chance.

[2019-08-20 17:06] #1373 closed, assigned to nobody

[2019-08-20 18:45] #1414 closed, assigned to walshbr

[2019-08-21 14:39] acrymble commented on #1181
@alsalin can you, as ME, make sure this is resolved?

[2019-08-21 14:41] ladew222 commented on #1181
I have not done this before, but if I can help or "sign off" on it, I am more than willing to do that.

[2019-08-21 19:16] mariajoafana commented on #1408
Thanks for the advice, we can close this

[2019-08-21 19:16] #1408 closed, assigned to nobody

[2019-08-23 13:25] #1416 closed, assigned to walshbr

[2019-08-23 15:19] spapastamkou opened #1420 "Update author guidelines in FR"
Once we are done with the PR #1390 and issue #1389, the author guidelines in FR should be updated mainly to delete references in the text to authors AND translators (and thus speak only of authors). Probably also add a link to translator guidelines.

[2019-08-27 09:27] drjwbaker commented on #1383
Can we put it in the template text when a new submission issue is opened on the submission repo?

[2019-08-27 09:31] drjwbaker commented on #1392
I also think we could use ProgHist Ltd to do non-PH publication things that are within the scope of the company, if we wanted to (e.g. absorbing another methods journal is not our of scope of the objects of the company). So, my feeling is, the name won't inhibit our long term ambitions whatever we call it, and ProgHist Ltd makes sense.

[2019-08-27 09:33] drjwbaker commented on #1402
No. We just need to keep a register of members in a form that is legal in the UK (that is, in a way that doesn't controvene the 2018 Data Protection Act). I recommend it is the responsibility of one of the team members to maintain this offline, or in a private repo (they are now free on GitHub..)

[2019-08-27 09:36] drjwbaker commented on #1401
Yes, Caroline wrote them to be legally vague, so we are only restricted by what we think is ethical (and obvious illegal things like embezzlement or false accounting/claims).

[2019-08-27 09:44] acrymble commented on #1401
In keeping with vague, I'd change this:

to

[2019-08-27 11:15] spapastamkou opened #1421 "Dead links in 2016 blogpost and Travis build fails"
In a 2016 blogpost under the title [#ColorOurCollections: Promoting Digital Archives](https://programminghistorian.org/posts/promoting-digital-archives) there are several dead links that cause fails in the Travis builds of current pull requests (I made the experience with PRs #1390 and #1411).
There are not Internet archive links for all to replace them (here is a non-archived one: https://digital

[2019-08-27 11:21] acrymble commented on #1421
@mdlincoln can we remove the blog from these checks? It seems to be one of the most common sources of this type of problem because blog posts don't follow the same rigorous sustainability processes.

[2019-08-27 12:20] drjwbaker commented on #1387
With apologies for reopening this ticket, I note that..

 ..and..

..are incompatible.

Can we comprise and adjust both to 7 working days? (so, excluding weekend and public holidays in our respective places of work)

I know many of us work on the project outside of working hours, but doing this both pegs our responsive time to leave we request from work and encourages a culture of respecting each

[2019-08-27 12:25] drjwbaker commented on #1347
Okay. I'll find some time to take a look this week and close this ticket when I'm happy. Thanks for your efforts @jerielizabeth.

Note I've been on leave, hence the slow response.

[2019-08-27 12:34] mdlincoln commented on #1421
No, I'd go back and remove the links from the blog post and mark them as (now gone) or something in the text.

Many of the errors on blog posts have been authors incorrectly linking even to internal blog pages or not linking to images correctly, so the link checks serve a pretty vital proofreading purpose beyond just notifying us when formerly-good links have gone bad.

[2019-08-27 12:55] #1421 closed, assigned to nobody

[2019-08-27 12:59] mdlincoln commented on #1358
@jenniferisasi @walshbr if you're still a go for this Thursday August 29 let's do it - but if next week is a better option, you'll note that there are new options on the poll.

[2019-08-27 13:02] mdlincoln commented on #1335
I'm closing this out since we've gotten no further updates on this. Re-open if action is necessary.

[2019-08-27 13:02] #1335 closed, assigned to ZoeLeBlanc

[2019-08-27 13:04] walshbr commented on #1358
Ah sorry - filled out the other poll so long ago that my schedule has changed since then. I'm not around this Thursday, but I filled out the other dates I could do!

[2019-08-27 13:07] mdlincoln commented on #1349
I'm closing this due to lack of activity or additional reports.

[2019-08-27 13:07] #1349 closed, assigned to amandavisconti, alsalin

[2019-08-27 13:08] mdlincoln commented on #1383
Go for it - although it's the editor who posts that issue, so some language will be needed about needing the _author_ to copy and paste that text into a comment they post.

[2019-08-27 13:10] mdlincoln commented on #1358
Thanks! And no worries, I was the one being a bit tardy on hunting down the rest of the team to get them to respond

[2019-08-27 13:13] acrymble commented on #1329
This is now complete.

[2019-08-27 13:13] #1329 closed, assigned to acrymble, JMParr

[2019-08-27 13:14] acrymble commented on #1392
It looks like ProgHist Ltd has the support of the majority of those who've expressed an opinion. Let's move ahead on that basis.

[2019-08-27 13:14] #1392 closed, assigned to nobody

[2019-08-27 13:17] acrymble commented on #1387
Should we make it 2 weeks for both? I don't think we want to know every time someone's going away for a short break. But if they're going to be gone for 3 weeks it's useful to know so we can plan.

[2019-08-27 13:22] drjwbaker commented on #1387
Two weeks feels slightly too long for an @

[2019-08-27 13:27] acrymble commented on #1387
Ok  I've adjusted both on the wiki. Thanks for  your input.

[2019-08-27 13:27] #1387 closed, assigned to acrymble

[2019-08-27 13:37] acrymble commented on #1402
Maybe we should move ProgHist Ltd to a new github board?

That would declutter this one for those who aren't interested.

[2019-08-27 13:38] ZoeLeBlanc commented on #1358
I'm back from dissertating so I'm happy to join the call too. I could do this week or next one. Just let me know 😊

[2019-08-27 13:50] mdlincoln commented on #1358
@ZoeLeBlanc you can let US know by filling out that doodle poll ✅

[2019-08-27 14:04] drjwbaker commented on #1402
Good idea. But can we hold off until we get approval from the Editorial Board? We might choose/want to manage that differently.

[2019-08-27 14:05] walshbr commented on #1402
FWIW, I think the ability to mute conversations (it unmutes automatically if you get pinned) and the elaborate tagging system we've set up makes it pretty easy to shuffle the GitHub issues based on the sub-teams you're on. So I'm not sure a separate board is necessary, but that's just me. But I agree with @drjwbaker - it will probably just depend on the volume of conversation and tickets you're im

[2019-08-27 14:11] drjwbaker commented on #1362
@acrymble I think there is agreement with your idea but the call setup looks the same as ever. @walshbr: given that the call is tomorrow, shall we switch to team reports from September?

[2019-08-27 14:14] walshbr commented on #1362
@drjwbaker - I'm happy to facilitate it however you all want. I was planning on just running the agenda that AM set - reports from the teams present before moving to particular tickets. It seems fine enough to do that for tomorrow, so long as we'll have reps from each group there. I'm not committed to either approach.

[2019-08-27 15:06] mdlincoln commented on #1358
OK, Friday the 30th it is!

[2019-08-28 07:19] arojascastro commented on #1362
Sorry I cannot make it this time. Have fun :)

[2019-08-28 08:00] acrymble commented on #1328
This is awaiting the outcome of our advertised post for a new English ME.

[2019-08-28 09:48] spapastamkou commented on #1389
The #1390 has been merged, I can close this ticket.

[2019-08-28 09:48] #1389 closed, assigned to spapastamkou, fdlaramee

[2019-08-28 13:12] JoshuaGOB commented on #1362
Hi all, we’re still getting ready for hurricane Dorian here in Puerto Rico and I won’t be able to make it.

[2019-08-28 13:28] mdlincoln commented on #1362
Sending good wishes @JoshuaGOB.

I also unfortunately have a last-minute faculty meeting today that will prevent me from attending. I've commented on the exiting tickets. We're having our Tech team meeting on Friday to work out a strategy for #1324 and to discuss future tasks.

[2019-08-28 13:58] JMParr commented on #1362
Stay safe, @JoshuaOB! Check in when you can to let us know you’re okay.

On Wednesday, August 28, 2019, JoshuaOB <notifications@github.com> wrote:

[2019-08-28 14:34] mariajoafana commented on #1279
I'm meeting up with @rivaquiroga on Friday to hand her over the Managing editor position and go over the tasks that are still open before I go into the sabbatical

[2019-08-28 15:14] drjwbaker opened #1423 "Diversity Policy and UK law"
So, when we incorporate #1301 all our activities are not bound by UK law but we should assume we need to be careful to not do anything obviously contravening. As Adam mentioned in the Summer call https://github.com/programminghistorian/jekyll/issues/1362 this  is an example.

In the UK positive discrimination (quota based hiring, what in the US is known as 'affirmative action') is illegal but posi

[2019-08-28 15:41] rivaquiroga opened #1424 "Guía para Traductores + Wiki"
Tal como se discutió en https://github.com/programminghistorian/jekyll/issues/1196, https://github.com/programminghistorian/jekyll/issues/1199 y https://github.com/programminghistorian/jekyll/issues/1385, la idea es tener la guía para autores y traductores en páginas separadas + un documento con orientaciones terminológicas para la traducción como Wiki. Tengo un primer borrador de lo segundo y a i

[2019-08-28 15:46] rivaquiroga commented on #1385
I'm closing this ticket as FR and ES teams worked / are working on this in separated issues (https://github.com/programminghistorian/jekyll/issues/1389 and https://github.com/programminghistorian/jekyll/issues/1424)

[2019-08-28 15:46] #1385 closed, assigned to spapastamkou, rivaquiroga

[2019-08-28 15:48] jenniferisasi commented on #1362
Just had word from @JoshuaGOB that the storm just landed in PR and they expect to have 12+ hours of it.

[2019-08-28 15:57] spapastamkou commented on #1394
A quick summary following the #1362 meeting and the existing comments:

Number of members to recruit: 2
Geographical diversity: make clear that we privilege candidates from outside France albeit not excluding this country.
How to recruit (call for new members, invitation...): combine invitation and open call (associated task: prepare a blog post).
Consider privileges and responsibilities of editor

[2019-08-28 16:39] walshbr commented on #1362
Yes - will be thinking of you @JoshuaGOB. Hope you are safe!

- Technical team is continuing training calls. @mdlincoln - based on @acrymble's conversations with team members about their bandwidth and involvement with ProgHist, it'd be worth talking with the technical team to make sure we have a sense of who is really committed and not just observing it to learn.
- Development team has been busy -

[2019-08-28 16:39] #1362 closed, assigned to nobody

[2019-08-28 16:45] drjwbaker commented on #1301
We agreed at https://github.com/programminghistorian/jekyll/issues/1362#issuecomment-525825607 to take forward the proposal to incorporate at https://github.com/programminghistorian/jekyll/issues/1301#issuecomment-513861381. Thanks to everyone who has contributed to this piece of work. It has been a long road since we originally started looking into ways in which we could legally receive and spend

[2019-08-28 16:45] #1301 closed, assigned to drjwbaker

[2019-08-28 16:48] drjwbaker commented on #1401
Unless there are any options, I am going to proceed with @acrymble's suggested edit at https://github.com/programminghistorian/jekyll/issues/1401#issuecomment-525226474. I hope to have a revised Articles of Association done by the weekend.

[2019-08-28 17:04] jenniferisasi commented on #1394
@spapastamkou I've gotten a number of names to contact, mostly based in the US (mainland) but doing work on the Caribbean, so at the same time they will know people based in the region.

[2019-08-28 17:12] jenniferisasi commented on #1424
Gracias por encargarte de la traducción @rivaquiroga. Lleva varias semanas en mi radar pero no logro sacar el tiempo y, bueno, lo escribí en inglés ya. Haré la revisión cuando esté lista la traducción.

Respecto a la página de Wiki, concuerdo con que la deberíamos tener en el repositorio de `ph-submissions` para que los autores y revisores puedan acceder a ella. No le veo ninguna pega, la verdad,

[2019-08-28 17:46] rivaquiroga opened #1425 "Open Publishing Awards?"
[Open Publishing Awards](https://openpublishingawards.org/) accepts self-nominations. The application form has four items:

* _Please describe the project in your own words._
* _Why does this project stands out to you?_
* _Please describe the value and impact of this work._
* _What role does 'open' play in making this project special?_

If you think that applying is a good idea, I can work on this

[2019-08-28 17:49] acrymble commented on #1425
That would be amazing. Thank you so much

[2019-08-28 18:13] rivaquiroga commented on #1425
Do we have application forms from previous nominations to other awards? It would be very useful to have them, specially regarding data about the impact of the project.

[2019-08-29 06:46] drjwbaker commented on #1425
I saw that too, so thanks @rivaquiroga for taking this on. The best data in bids we've made. There is some text at https://github.com/programminghistorian/jekyll/issues/1179#issuecomment-467603354. @acrymble & @spapastamkou recently submitted something relating to West Africa but I can't find.

So I think we need a bid library. Perhaps we can create a private repo for that? I'll open a new ticket

[2019-08-29 06:49] drjwbaker opened #1426 "Private Repo"
So, we need a place to put documents we send to - say - funding councils but don't want to put on our public repo. So I think we need a private repo for things like a bid library (see https://github.com/programminghistorian/jekyll/issues/1425).

@programminghistorian/technical-team: before I open a private repo for this purpose, are there any objections? Alternatively, do you have potential uses f

[2019-08-29 10:10] amsichani commented on #1358
hi, I m currently on holidays until 9th Sept- not able to join this time. Sorry for missing this one!

[2019-08-29 10:19] arojascastro commented on #1425
@jenniferisasi and i wrote something in spanish for the Asociación HDH... is it helpful?

[2019-08-29 10:21] arojascastro commented on #1424
Sí, me parece lógica la división... but let's make sure our English and French colleagues are aware of this @acrymble @spapastamkou

[2019-08-29 10:53] drjwbaker commented on #1358
Sadly I can't make this. In line with something @acrymble said yesterday, much as I really want to know about our technical infrastructure, I think I'm going to have to concede that I don't have the capacity right now. So can you remove me from tech team comms please, and ensure I don't get any credit for being part of your awesome team :)

[2019-08-29 11:07] rivaquiroga commented on #1424
I'll open another ticket for that. I think in the long run having that kind of guide for translating between the three languages would be helpful.

[2019-08-29 11:46] acrymble commented on #1423
Thanks @drjwbaker. Can I suggest a slightly different approach to your a mendments?:

The Programming Historian team is committed to diversity, and we insist on a harassment-free space for all contributors to the project, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, religion, or technical experience. Our commitment

[2019-08-29 13:12] drjwbaker commented on #1423
Much more elegant than my suggestion.

[2019-08-29 13:15] drjwbaker commented on #1426
Note this may also be a place we keep documents associated with ProgHist Ltd, but note that per UK law copies of the records will be kept at the company's registered office address https://www.gov.uk/running-a-limited-company/company-and-accounting-records?step-by-step-nav=37e4c035-b25c-4289-b85c-c6d36d11a763 (which will probably be my office at work).

[2019-08-29 14:33] #1420 closed, assigned to spapastamkou

[2019-08-29 15:43] JoshuaGOB commented on #1362
Sorry to have missed this. Thankfully the storm wasn't severe and all is well. Thank you for the good wishes.

[2019-08-29 19:35] acrymble commented on #1425
The British Academy grant I sent you has some useful phrases in it.

[2019-08-30 12:50] mdlincoln commented on #1426
go for it

[2019-08-30 12:50] spapastamkou commented on #1394
thank you @jenniferisasi !

[2019-08-30 12:50] #1394 closed, assigned to mpuren, spapastamkou, fdlaramee

[2019-08-30 12:51] mdlincoln commented on #1358
@drjwbaker that's alright James! Will make sure you're not spammed - and we'll be here when you have capacity again :)

[2019-08-30 12:52] spapastamkou opened #1428 "blogpost for call for a new member in the FR team (in French)"
I put below a text project in French for the blogpost to publish by mid-September. Please @programminghistorian/french-team integrate directly modifications/additions, if you wish.

### Le Programming Historian en français s'élargit! Appel à candidatures pour de nouveaux membres

Le Programming Historian publie en libre accès des tutoriels ouvertement évalués par des pairs qui permettent l'initiat

[2019-08-30 13:14] drjwbaker commented on #1358
@mdlincoln Ta. Will do.

[2019-08-30 13:15] spapastamkou commented on #1428
Note on missing elements in the text: contact, deadline, CV+letter

[2019-08-30 13:41] mdlincoln commented on #1352
Updated the wiki to include instructions for tagging an entire team as a reviewer

[2019-08-30 13:41] #1352 closed, assigned to mdlincoln

[2019-08-30 13:43] mdlincoln commented on #1371
Can't proceed without more info.

[2019-08-30 13:43] #1371 closed, assigned to mdlincoln

[2019-08-30 13:46] mdlincoln commented on #1021
Will discuss on #1358

[2019-08-30 14:22] fdlaramee commented on #1428
@spapastamkou That works for me!

[2019-08-30 14:41] #1021 closed, assigned to walshbr, mdlincoln, jenniferisasi, spapastamkou

[2019-08-30 15:24] #1358 closed, assigned to mdlincoln

[2019-08-30 15:26] mdlincoln opened #1430 "Wednesday October 9th - Technical Team Call"
Wednesday October 9th, Time is 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET.  @mdlincoln will be facilitating the call

- Check-in on the status of #1324
- Add RSS links to footer/elsewhere? #1224

[2019-08-30 15:37] spapastamkou opened #1431 "Lesson requests FR page"
During #1358 meeting of August 30 we worked on the lesson requests EN and ES pages. This is a good occasion to start planning the creation of the FR page, so I open this ticket to start the discussion about setting a timeline for its publication and deciding on the type of original lessons the @programminghistorian/french-team wishes to call for.

EN and ES pages can be found here:
https://program

[2019-08-30 15:42] spapastamkou commented on #1431
Some first ideas for a time schedule:
- decide on the content and create the page by the beginning of October could be a reasonable target, what do you think @programminghistorian/french-team ?
- at a later stage, we could propose a writing workshop for May 2020 during the first francophone DH conference that will take place in Bordeaux (the CFP should come out shortly).
Thoughts and ideas are wel

[2019-08-30 17:14] mariajoafana commented on #1279
I'm committed to keep my role as editor of this tutorial (212 - Introducción a Map Warper programminghistorian/ph-submissions/issues/212 ) while I'm in sabattical between September 2019 and January 2020.
I'll also revise this one ( 188 - Construir un repositorio de fuentes históricas con Omeka Classic /programminghistorian/ph-submissions/issues/188 ) once the author incorporates the first revision

[2019-08-30 20:43] fdlaramee commented on #1431
@spapastamkou Sounds good. The Bordeaux workshop would look something like the one the @programminghistorian/spanish-team did in Colombia (I think) a while ago?

[2019-08-31 12:43] acrymble opened #1432 "Meeting Report Template"
As we move towards a "team based" reporting style for our group meetings, I thought it might be helpful to have a simple template that could be used by team leaders to disseminate reports before each meeting. I have drafted a template for comment. Does this meet the needs of our team leaders?

---

# General Meeting Report Template

Team Name  (delete as appropriate): Editorial, Technical, Project

[2019-08-31 12:45] acrymble commented on #1426
Can we try to plan a bit of a structure for it so we stay organized?  Maybe by teams +  a space for grants or research details?

[2019-08-31 12:50] acrymble commented on #1370
@mdlincoln can I present this at your next technical meeting? There's a big opportunity for us to be world leading on the technical end of publishing so I think this is important, and I'd value the chance to discuss it with your team.

[2019-09-02 14:08] drjwbaker commented on #1426
What about in the first instance:

- REPO PER TEAM
- Bids-Awards
- ProgHistLtd

Then, within each repo encourage teams to organise documents by year, and to give directory names logical names (e.g. `2019_BA-bid`).

[2019-09-02 14:41] rivaquiroga commented on #1426
Are we using the free Github plan? Private repos have a maximum number of three collaborators for personal users free accounts. Not sure how it works in the case of organizations

[2019-09-03 07:49] drjwbaker commented on #1347
I think we can close this now that the PR https://github.com/programminghistorian/jekyll/pull/1415 is coming along nicely. Any objections, please reopen.

[2019-09-03 07:49] #1347 closed, assigned to drjwbaker

[2019-09-03 07:50] drjwbaker commented on #1383
Okay. I'll try to find some time this week.

[2019-09-03 08:09] drjwbaker commented on #1432
Just so we keep are nomenclature tight, I think this should read "Queries for the Editorial Board" because our all team monthly meetings are technically Editorial Board meetings.

[2019-09-03 08:17] drjwbaker commented on #1426
Ah. Didn't realise the free private repos change came with a collaborators limit. I'll have a play and report back.

[2019-09-03 09:35] spapastamkou commented on #1431
@fdlaramee we could be inspired from this workshop, but we also have to organize something rather costless:-)

[2019-09-04 10:26] drjwbaker commented on #1383
Okay, suggest change..

..to:

[2019-09-04 11:12] drjwbaker commented on #1383
@programminghistorian/technical-team Where is the setting in Github for amending the default text in a new issue? It doesn't appear to be a template so I can a bit confused..

[2019-09-04 11:24] walshbr commented on #1383
@drjwbaker - should be under settings - https://help.github.com/en/articles/creating-issue-templates-for-your-repository.

But I think you have to be an admin/owner on the repository in order to see it. I'm not one, so it might be something that @mdlincoln has to do?

[2019-09-04 11:26] drjwbaker commented on #1383
@walshbr That is what I looked at, but I was confused when clicking through that I was being asked to setup a template when I thought one was already setup.

[2019-09-05 07:10] drjwbaker commented on #1426
Reporting back. We can't have a shared private repo because of the size of our team. Thanks to @rivaquiroga for flagging this. So, question now is: what are our alternatives? If requirements are:

- a secure space to put private documents
- access (read/write) by all members of the Editorial Board
- ideally free, or a small fee
- not tied to one of our employers (e.g. I could make a shared space o

[2019-09-05 12:03] drjwbaker opened #1437 "Incorporation with Companies House (UK)"
As agreed https://github.com/programminghistorian/jekyll/issues/1301, I have now applied to register PROGHIST LTD with Companies House (UK) as a Non-Profit Private Company Limited by Guarantee (there was a small fee for this which I don't mind absorbing). The initial Directors and Guarantors are me, @acrymble and @amsichani. On closure of the company, we each commit to guaranteeing liabilities up

[2019-09-05 14:19] drjwbaker commented on #1423
Any further comments on this? (if the Incorporation https://github.com/programminghistorian/jekyll/issues/1437 goes as planned, we'd ideally have this in place for when we begin operation on 1 October)

[2019-09-05 14:22] drjwbaker commented on #1401
These suggestions were merged and submitted as part of the incorporation application https://github.com/programminghistorian/jekyll/issues/1437

[2019-09-05 14:22] #1401 closed, assigned to drjwbaker

[2019-09-05 14:40] drjwbaker commented on #1432
Oh, and whoever is responsible for our monthly meetings (@walshbr or @amsichani?) can you please @ in the meeting issue those who need to complete this report advance of each meeting.

[2019-09-05 14:47] walshbr commented on #1432
Seems like that will just be the same five people every time, but sure. We can just tag that list.

[2019-09-05 14:50] drjwbaker commented on #1432
Ta. I like a targeted @ notification :)

[2019-09-05 15:53] rivaquiroga commented on #1181
Hi! What is the status of this issue? Any idea when it would be solved? There is someone interested in translating this lesson to Spanish. It would be great if I can tell her when she would be able to start, to not lose the momentum.
If there is anything I can do to help, please let me know :nerd_face:
Thanks!

[2019-09-05 17:43] ladew222 commented on #1181
Thanks River. I am glad to see the interest.  Let me know if I can be of service in the process and let me know if I can help getting this pull request finalized.

[2019-09-05 17:54] JMParr commented on #1181
Hi, Riva- I'm in the process of moving the files. I hope to finish next
week. I've been delayed because our semester just started, and I was asked
to take on a course last minute.  I'll be in touch soon.

On Thu, Sep 5, 2019 at 1:43 PM ladew222 <notifications@github.com> wrote:

[2019-09-06 13:30] drjwbaker commented on #1437
Right, we have officially registered as a company: [https://beta.companieshouse.gov.uk/company/12192946](https://beta.companieshouse.gov.uk/company/12192946) 🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉

[2019-09-06 13:32] drjwbaker commented on #1437
The Certificate of Incorporation is in our mailbox (programminghistorian[at]gmail[dot]com).

I attach here the updated Articles of Association (updated to include the Company Number): [Articles of Association v5.pdf](https://github.com/programminghistorian/jekyll/files/3584150/Articles.of.Association.v5.pdf).

[2019-09-06 13:33] drjwbaker commented on #1437
Closing this. Expect a bunch of other issues to open in its place.. :)

[2019-09-06 13:33] #1437 closed, assigned to drjwbaker

[2019-09-06 13:42] drjwbaker opened #1438 "Annual General Meeting month"
Now we have incorporated https://github.com/programminghistorian/jekyll/issues/1437 we need an AGM at which Members (for now, the Editorial Board) vote on matters brought by them and/or the Board of Directors.

Action for now is for Board of Directors to agree a month for this, which we will use for subsequent AGMs.

[2019-09-06 13:48] drjwbaker opened #1439 "Board of Directors Meeting 10/19"
@acrymble @amsichani: now we have incorporated https://github.com/programminghistorian/jekyll/issues/1437 we need to arrange a Board of Directors meeting for shortly after we begin operating (1 Oct 2019).

This can be remote. I suggest anytime 2-4 October.

Initial business is:

- Nominate a Chair of the Board of Directors (proposal: @acrymble)  https://github.com/programminghistorian/jekyll/issue

[2019-09-06 13:50] drjwbaker opened #1440 "Bank account for ProgHist Ltd"
Now we've incorporated https://github.com/programminghistorian/jekyll/issues/1437, note that I've started looking into this. Ideally, we need it open for once ProgHist Ltd starts operating (1 October 2019).

[2019-09-06 13:51] drjwbaker commented on #1440
@acrymble @amsichani Note that I have you both in mind as co-signatories to the bank account. The company bookkeeper (I have someone in mind) will also be a signatory. I'll keep you updated via email.

[2019-09-06 14:08] drjwbaker opened #1441 "Communication on behalf of ProgHist Ltd"
Directors of ProgHist Ltd https://github.com/programminghistorian/jekyll/issues/1437 should ensure that when communicating in the capacity of a Director they include the Incorporated Name and Company Number (see [gov.uk](https://www.gov.uk/running-a-limited-company/signs-stationery-and-promotional-material)).

I suggest we put the following text in our email signature:

[2019-09-06 14:15] drjwbaker opened #1442 "Explainers re relationship between the Programming Historian and ProgHist Ltd"
We need some text on the site (translated @programminghistorian/spanish-team @programminghistorian/french-team) that describe the relationship between the Programming Historian and ProgHist Ltd. @arojascastro suggested https://github.com/programminghistorian/jekyll/issues/1301#issuecomment-513144094:

I think this should go in the site footer, though I appreciate - pinging @programminghistorian/te

[2019-09-07 07:54] drjwbaker commented on #1425
@rivaquiroga: thanks for taking this on our behalf. If you want someone to take a look at the nomination text after you've drafted it, I'm happy to. Deadline is 19 September, right?

[2019-09-07 09:59] acrymble commented on #1442
I'd suggest we don't add labels for Director. The directorship may be different from the Project Team. It's possible that in future the company will own activities that do not include the projects we currently advertise on that site. I think it should be kept separate. The list of roles is also already quite long and complex.

[2019-09-07 17:31] acrymble commented on #1432
I will add this to the wiki. Thanks for the feedback

[2019-09-07 17:53] acrymble commented on #1432
Added: https://github.com/programminghistorian/jekyll/wiki/Meeting-Report-Template

[2019-09-07 17:53] #1432 closed, assigned to acrymble

[2019-09-07 17:54] acrymble commented on #1438
Is there a mental advantage to  doing it in January so that the "year" maps onto the calendar year?  I don't have a strong preference, but thought I'd raise the idea.

[2019-09-07 17:58] acrymble commented on #1405
We could opt for "friends" instead of paid memberships, which wouldn't automatically come with voting rights.

[2019-09-07 17:59] acrymble commented on #1393
Let's close this for now and reopen if we end up with an issue that looks like there's a cross-team conflict of interest / powers overlapping.

[2019-09-07 17:59] #1393 closed, assigned to acrymble, JMParr, spapastamkou, rivaquiroga

[2019-09-07 18:01] acrymble commented on #1428
If you're happy, we're happy. Make sure you're clear that it isn't a paid role.

[2019-09-07 18:02] acrymble commented on #1279
Are there any outstanding issues here that we need to resolve before you start your sabbatical? Or can we close it?

[2019-09-07 18:02] acrymble commented on #1328
We're currently arranging interviews/discussions with the applicants.

[2019-09-07 20:12] rivaquiroga commented on #1279
The only thing pending is on my side, and is to update the roles in the `ph_authors.yml` and in all the pages that are mention here: https://github.com/programminghistorian/jekyll/wiki/Managing-Editor-Handover. I will have that ready by Monday

[2019-09-07 20:21] rivaquiroga opened #1443 "Ombudsperson (Spanish)"
With María José on Sabbatical, we need someone to take the Ombudsperson role in the Spanish team. @programminghistorian/spanish-team, anyone interested?

[2019-09-07 20:25] rivaquiroga commented on #1425
Thanks @drjwbaker! That would be great. Yes, deadline is on September 19. My plan is to have the first draft by this Thursday.

@arojascastro, it would be great if you can send me that document :rocket:

[2019-09-07 23:11] jenniferisasi commented on #1443
I cannot take on another role for the time being, sorry.

[2019-09-08 07:34] acrymble commented on #1443
I would suggest getting someone to do this who is not an editor. Their job is to be objective and neutral. I don't know that an author would trust an editor to be neutral in a dispute with another editor.

[2019-09-08 10:47] arojascastro commented on #1443
I could take it... we have never had any problem to the date and thus it does not mean actual work. But if we do not accept an editor, then we need to find someone else... but who?

[2019-09-08 11:07] arojascastro commented on #1425
Done via email!

[2019-09-08 15:23] rivaquiroga commented on #1443
That's a good point, @acrymble. As everyone in the Spanish Team is currently an editor, we need someone to join the team in that role (unless someone in the team doesn't want to be an editor anymore; which I think is not the case).
I have a possible candidate. Should we discuss that here or through email?

[2019-09-08 15:25] acrymble commented on #1443
Email

On Sun, 8 Sep 2019 at 16:23, Riva Quiroga <notifications@github.com> wrote:

[2019-09-09 11:08] drjwbaker commented on #1405
Correct. Article 19 gives us flex here:

[2019-09-09 11:11] drjwbaker commented on #1438
Perhaps. I was thinking making this mid-way through our operating year (we start in October) might make sense as well.

[2019-09-09 13:28] drjwbaker commented on #1442
Okay. I guess my suggested link in the footer blurb will direct readers to the Directors anyway.

Any thoughts on the text and @programminghistorian/technical-team how we might best implement?

[2019-09-09 13:30] walshbr commented on #1442
If it's going to live in the footer, I'd add it as new text to this line "The Programming Historian (ISSN: 2397-2068) is released under a CC-BY license."

[2019-09-09 13:40] drjwbaker commented on #1442
@walshbr Okay. Where can I find the EN footer text? (can't find it in the build.....)

[2019-09-09 13:42] drjwbaker commented on #1442
@walshbr Ignore me. Found it https://github.com/programminghistorian/jekyll/blob/gh-pages/_data/snippets.yml

[2019-09-09 13:44] walshbr commented on #1442
Ha I was just looking at it. When you have the language that you want ping me on the PR - the way that we have it set up looks like it might want a little bit of refactoring since that category is called "license" but we'd be putting more than just the license in there.

[2019-09-09 13:49] drjwbaker commented on #1442
Closing to move discussion/refinement to PR https://github.com/programminghistorian/jekyll/pull/1444

[2019-09-09 13:49] #1442 closed, assigned to drjwbaker

[2019-09-10 20:02] acrymble commented on #1359
@fdlaramee @spapastamkou this ticket was assigned to Marie, but she has now left the project. Are either ofy ou willing ot take this on? Or should I close the ticket?

[2019-09-10 20:06] fdlaramee commented on #1359
@acrymble @spapastamkou I’ll take care of it, no problem.

[2019-09-10 20:06] acrymble commented on #1359
Thank you @fdlaramee

[2019-09-10 20:08] acrymble commented on #1428
I think you should post this soon @spapastamkou

[2019-09-10 20:10] acrymble commented on #1439
Can we get this in the diary? I can do anytime on the 3rd of October.  @amsichani ?

[2019-09-11 07:39] drjwbaker commented on #1439
I'll block 3 Oct until we fix a time.

[2019-09-11 09:19] spapastamkou commented on #1428
I just updated the text:
- does no longer specify number of members to recruit;
- does not give specific details on composition of the present team;
- asks for candidatures from all francophone space;
- gives contact info and sets deadline for 10 October.

We can make changes (for example date?) in the PR, if we need to.

[2019-09-11 09:22] spapastamkou commented on #1428
Please @programminghistorian/english-team and @programminghistorian/spanish-team, provide info on how you organised in similar cases. For example, what to do with the incoming candidatures? Forward emails to the rest of the FR team? Keep the the tdm informed @acrymble ? Other?

[2019-09-11 09:25] acrymble commented on #1428
Collect any applications, and wait until the deadline. Then organise interviews with a team including at least two other colleagues. Then propose a candidate to the full team for comment.  Then invite them, assuming no problems.

Make sure you are clear on what applicants should send (eg 1 page cv and 200 word statement)

[2019-09-11 09:47] spapastamkou commented on #1428
created PR #1447.

[2019-09-11 09:48] spapastamkou commented on #1428
thanks @acrymble.

[2019-09-11 10:56] spapastamkou commented on #1359
thank you very much, @fdlaramee

[2019-09-11 10:58] spapastamkou commented on #1443
if all teams should go along similar lines, perhaps I can ask whether Marie is interested continue to assume the role?

[2019-09-11 13:25] #1428 closed, assigned to nobody

[2019-09-11 20:06] mdlincoln commented on #1383
Thanks very much for your patience. You can edit this file: https://github.com/programminghistorian/ph-submissions/blob/gh-pages/.github/ISSUE_TEMPLATE

[2019-09-12 08:33] drjwbaker commented on #1383
Raised a PR. Closing this to discuss in PR.

[2019-09-12 08:33] #1383 closed, assigned to drjwbaker

[2019-09-13 09:47] acrymble commented on #1438
Let's go with May then. That's after teaching for most people too, so it's doable.

[2019-09-13 09:49] acrymble commented on #1181
This remains stuck. Just to clarify, the process for uploading these files is in: https://github.com/programminghistorian/jekyll/wiki/Making-Technical-Contributions

[2019-09-13 11:29] drjwbaker commented on #1438
Okay. We still have to formally agree this at https://github.com/programminghistorian/jekyll/issues/1439 and document our decision.

[2019-09-15 21:20] spapastamkou opened #1448 "Onboarding Checklist for FR New Editor: Martin"
This is an individual onboarding editor checklist for Martin Grandjean @grandjeanmartin, initially found [here](https://github.com/programminghistorian/jekyll/wiki/Onboarding-Checklist-for-New-Editors).
Nous te souhaitons la bienvenue!

We know that joining a new project and getting up to speed can be a challenge. So we've put together this information to help you get up to speed. It includes deta

[2019-09-16 10:33] mdlincoln commented on #1448
Welcome @grandjeanmartin !!! 🎊

[2019-09-16 12:27] acrymble commented on #1448
Bienvenue @grandjeanmartin

[2019-09-16 14:01] amsichani opened #1449 "September 2019 Skype call - Editorial Agenda, Monday 30th September"
Monday 30th September 2019 . Time is 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET. @amsichani  will be facilitating the call.

Working agenda follows. Please add by commenting or editing this comment directly.

All team members, please make an effort to close at least 1 ticket assigned to you.

- [ ] Current Research Projects or Submissions Pending about the Program

[2019-09-16 16:08] JMParr commented on #1181
It's in progress. I've been working 90+ hour weeks and have not yet had a
chance to finish working on it.

On Fri, Sep 13, 2019 at 5:49 AM Adam Crymble <notifications@github.com>
wrote:

[2019-09-16 19:11] acrymble commented on #1439
3pm? Our normal meeting time?

[2019-09-16 19:12] acrymble commented on #1425
This is due in 3 days @rivaquiroga. Is everything progressing?

[2019-09-16 20:17] arojascastro commented on #1439
Is it really really really necessary to call these people "directors"... I may have missed something - I haven't paid attention lately to tickets and I have not attended some of our latest skype meetings- but suddenly I feel like we are not longer a flat structure.

[2019-09-16 20:45] acrymble commented on #1439
It's a legal term for those who are legally responsible for a company, so we can't change the name.

I believe we remain quite flat. Everyone was invited to put themselves forward to whatever roles they wanted, and people were given the option of taking on more or less responsibility, depending on their circumstances. What we don't have any more, is all the same title, regardless of activity. But

[2019-09-16 20:47] arojascastro commented on #1439
Fingers crossed!

[2019-09-17 07:27] drjwbaker commented on #1439
@arojascastro Sorry this surprised you. To add to @acrymble's point, the Board of Directors is only for ProgHist Ltd https://beta.companieshouse.gov.uk/company/12192946, and we've structured the Articles of Association https://github.com/programminghistorian/jekyll/issues/1301#issuecomment-513861381 in such a way that:

a) the Board of Directors only really have oversight over the financial and le

[2019-09-17 11:04] drjwbaker commented on #1423
So we go ahead with this then?

[2019-09-17 12:47] amsichani commented on #1423
Sounds good to me!

[2019-09-17 12:56] amsichani commented on #1224
Hi @jenniferisasi do we have any progress/ ideas on this?

[2019-09-17 13:00] amsichani commented on #1381
Hi @acrymble , once this is now integrated into the existing Author's Guidelines , shall we close the ticket?

[2019-09-17 13:04] acrymble commented on #1381
@amsichani can we discuss this at our next board meeting first?

[2019-09-17 13:07] amsichani commented on #1426
thanks @drjwbaker for the research and the suggestions on this. I d prefer you, as archivist , keeping all the documents in an offline space, with a publicly accessible registry of all the files, and then providing access to them upon request via email. The same goes with any physical paperwork we need to keep for the Ltd.
I can't think of a better alternative -I am open to ideas.

[2019-09-17 14:49] grandjeanmartin commented on #1448
Hello dear friends,
Many thanks for your welcome. I'll immediately write a message on the Google group to say hello.
@amsichani here's my Skype ID: martin.alfred.grandjean
Best, Martin

[2019-09-17 15:24] acrymble commented on #1181
Sure @JMParr we certainly understand. If it helps you to get organized when you do have time, it might be worth posting a list of the files involved that will need to be uploaded. Then it is just a matter of doing the upload when you've got a moment.

We'll have a new managing editor soon who might be able to help with the upload as a way of  practicing the process. @ladew222 if you know the list

[2019-09-17 16:25] drjwbaker commented on #1426
In which case, I'll need to periodically make sure things like bids are passed to me to keep a version of record, should we then need it for reference later. I'm happy with that. I'll bring up at the September meet and close for now.

[2019-09-17 16:25] #1426 closed, assigned to drjwbaker

[2019-09-17 16:27] drjwbaker commented on #1381
With apologies for being the nomenclature pedant around here, I presume you mean Editorial Board. We need to be clear to distinguish that from the Board of Directors so as to avoid confusion.

[2019-09-17 16:32] drjwbaker commented on #1423
Opened PR. Move discussion to there.

[2019-09-17 16:32] #1423 closed, assigned to nobody

[2019-09-17 18:43] JMParr commented on #1181
Thanks, Adam! In addition to updating the YAML, I do need to finish making
a list of the files so that I can insure that everything has been moved
during the process. If the new ME is able to get to the upload before I
have a chance, that would be great. I know this has been sitting for a
while and needs to be finished.

On Tue, Sep 17, 2019 at 11:24 AM Adam Crymble <notifications@github.com>
wrot

[2019-09-18 08:43] acrymble commented on #1448
@grandjeanmartin @spapastamkou I've added another item to the list. I think it's important that the two of you schedule a meeting to talk about tangible goals for the first 3 months Martin is with us. I think we've not done well at that in the past, so here's a chance to correct that with a new team member.

[2019-09-18 12:15] acrymble opened #1451 "PubSweet as publishing platform?"
Just noticed that the team behind the Open Publishing Awards produce a platform designed for online publishing. We've made github work, but it's not the most user friendly. Does anyone know anything about their PubSweet platform? http://pubsweet.coko.foundation/

[2019-09-18 12:54] walshbr commented on #1451
Looking at the technical documentation, migration questions aside (and that would be a lot of work), my sense is that this is far more technically complex and would require dramatically more of the technical team than Jekyll/GitHub does.

[2019-09-18 14:30] grandjeanmartin commented on #1448
@acrymble Good idea, let's schedule something @spapastamkou! (with @fdlaramee i guess?)

[2019-09-18 15:07] spapastamkou commented on #1448
yes, @grandjeanmartin and @acrymble. We had considered a small concertation with @fdlaramee to have a view what we do but we thought we'd better wait Martin is in. 3 months is a good horizon, I send a doodle  to schedule this.

[2019-09-18 15:49] jenniferisasi commented on #1224
@amsichani thanks for reminding me of this ticket. Currently, I have established the 3-month trilingual newsletter (in blog-post form) that covers all the lessons that have been published within that time frame and regardless of them being original or translations + other info. This is also posted on Twitter.

In order for more people to get a note about the newsletter, we could make the RSS link

[2019-09-18 21:21] mdlincoln commented on #1451
Yes, I agree with @walshbr's assessment. A switchover to this would be a massive and unjustifiable increase in complexity.

There are some options for layering a CMS over a jekyll site such as https://www.netlifycms.org/, however I don't see that it's really the need to format YAML that is causing workflow issues, but instead the challenges around coordinating the reviewing of each other's work, w

[2019-09-18 21:21] #1451 closed, assigned to nobody

[2019-09-18 21:27] mdlincoln commented on #1430
Hey @programminghistorian/technical-team FYI the winning option on our doodle poll was Monday, September 30th.

[2019-09-18 21:28] mdlincoln commented on #1449
FYI @amsichani the winning day for our #1430 was September 30th at the usual time, and I've gone ahead and scheduled it - is that going to be OK based on the doodle responses for the editorial team call?

[2019-09-19 06:40] spapastamkou commented on #1430
There might be an overlap with the monthly all PH meeting, where the 30th is the most popular option as well.

[2019-09-19 08:26] amsichani commented on #1449
Hi @mdlincoln thanks for letting me know (I haven't receive a doodle for the TechMeeting;-). Probably we ll go with the 2nd most popular choice here.

[2019-09-19 12:21] mdlincoln commented on #1449
🤦‍♂  or... I misread my long list of doodle polls and thought that your poll was the tech poll haha. Belay that... I'll send another one shortly! Looks like YOU get to have monday after all!

[2019-09-19 12:24] mdlincoln commented on #1430
Ahhh I made a foolish misreading of my Doodle polls 🙃 Here's a poll for early October: https://doodle.com/poll/9zhf88q6yiww6ca4 @programminghistorian/technical-team please fill it out!

[2019-09-19 12:25] walshbr commented on #1430
AM changed the general call to the 26th, so the 30th is still open if you wanted @mdlincoln

[2019-09-19 12:26] mdlincoln commented on #1430
Eh, at this point I wouldn't mind the extra week buffer.

[2019-09-19 12:28] walshbr commented on #1430
Cool! Already deleting it from my calendar.

[2019-09-19 14:58] ZoeLeBlanc commented on #1430
Hey everyone! unfortunately I can't do any of the times on the doodle poll. I could do October 4th if that could be added, but otherwise I need to request a different week in October. Alternatively I could do the search stuff in the November technical call. Let me know what is easiest and thanks for organizing Matt!

[2019-09-19 15:22] spapastamkou commented on #1431
I just copy below the list of lessons from the Lesson Requests page of the PH EN so that there is a basis to make a selection, additions etc.

- [ ] How do you conduct spatial clustering of geographic data?
- [ ] When do you know your network analysis is meaningful?
- [ ] How to Publish Digital Scholarly Editions using a Native XML Database
- [ ] How to Analyse Audio Artefacts
- [ ] How to Choose

[2019-09-19 16:41] drjwbaker commented on #1425
@rivaquiroga confirmed via email that they will submit today.

[2019-09-19 17:46] fdlaramee opened #1453 "Update François Dominic Laramée's institutional affiliation and bio"
Tiny update to reflect my new position at the University of Ottawa.

[2019-09-19 18:12] rivaquiroga commented on #1425
Ready! :crossed_fingers:

![open_publishing_award](https://user-images.githubusercontent.com/31421616/65269478-9e563700-daef-11e9-92c3-a73ac4b48e20.png)

[2019-09-19 18:12] #1425 closed, assigned to rivaquiroga

[2019-09-21 17:26] jenniferisasi opened #1456 "Communication: Blogpost/Newsletter for September"
Issue created to post the second newsletter to be published at the end of the month. So far, I have these accomplishments on my notes:

- new member in the French team (@spapastamkou no formal blogpost yet, do you want to wait or can I mention it here briefly?)
- French team looking for new editorial members
- PH at DH and ACH in the summer (@mdlincoln can you please send me the pic you take at AC

[2019-09-23 08:28] drjwbaker commented on #1456
On https://github.com/programminghistorian/jekyll/issues/1437, ProgHist Ltd is operational from 1 October, so I'm happy for it to go up this month, and use the next newsletter to talk more about the specific purposes of the company. It can be a short note, so something like:

[2019-09-23 08:28] drjwbaker commented on #1456
On people leaving the project, yes I believe we should use the newsletter to thanks people for their contributions.

[2019-09-23 08:35] drjwbaker commented on #1440
An application is in. I'll update when I know more.

[2019-09-23 08:46] drjwbaker opened #1457 "Donation mechanisms"
Now that we are on our way to having a bank account https://github.com/programminghistorian/jekyll/issues/1440 I want to revive the discussion of mechanisms for donation. I'm minded as follows:

- We should keep it simple in the first instance. **Proposal: accept Paypal https://github.com/programminghistorian/jekyll/issues/917, cheque, bank transfer, and cash**. Anything I'm missing?
	- On Paypal

[2019-09-23 08:58] drjwbaker commented on #1405
Note that one way of doing this would be via Patreon https://github.com/programminghistorian/jekyll/issues/916, with a tier that brings membership. They'd get a cut but it could reduce our/my admin headache of - for example - getting to grips with how people might pay us a direct debit or standing order.

[2019-09-23 11:39] spapastamkou commented on #1456
@jenniferisasi Please, do mention that there is a new member in the team. In addition, there is a first draft for a blogpost that is ready. Some updates are on the way but it can be published this week (around Wednesday), and so you can have a link for the newsletter.

Otherwise, yes, it would be nice to have a thought for people who leave the project, thank them for their contribution and wish th

[2019-09-23 11:49] acrymble opened #1458 "Requesting Translation guidance"
We have a sticking point in our workflow when it comes to requests for translation on pull requests. To make that process easier, I'm going to produce some brief guidelines on our wiki that mean the requester makes a more explicit and clearer request to colleagues for specific translation. I invite comment on these once the draft is up.

[2019-09-23 11:58] acrymble commented on #1458
I've added a page to the wiki. If a member of @programminghistorian/french-team and @programminghistorian/spanish-team could look at this and approve, we can adopt this method and close this ticket.  If you want amendments, please either post them here or change the wiki page as appropriate.

[2019-09-23 11:58] acrymble commented on #1458
https://github.com/programminghistorian/jekyll/wiki/Requesting-Translation-Guidelines

[2019-09-23 12:47] spapastamkou commented on #1458
Looks good @acrymble.
One remark on the last phrase: _"Once you receive the translations, it is most efficient for you to add these to the appropriate files, as it is your pull request. This simple approach makes it less time consuming for translators to help us with pull requests."_
If the translator cannot for any reason make the change in the corresponding file, it would be good he/she provides

[2019-09-23 12:50] acrymble commented on #1458
@spapastamkou thanks for the comment. So should we keep it simple and say "Please discuss explicitly with the translator if  you would like to incorporate the translations, or if  you want them to do it? Both parties should be clear and provide enough context to the other to enable efficient publication"?

[2019-09-23 13:09] spapastamkou commented on #1458
@acrymble yes, I think it covers all possible cases

[2019-09-23 14:40] mdlincoln commented on #1430
@ZoeLeBlanc I'm afraid it's the opposite for me, I won't be able to make the week after! Let's have you present in November then? And those able to make the October call, we can look at some small technical things like #1224

Let's schedule (for real this time! 😳) Wednesday October 9th.

[2019-09-23 14:41] jenniferisasi commented on #1458
Thank you @acrymble. I think this works.

[2019-09-24 07:40] acrymble commented on #1458
Thanks for the feedback from both teams. I will try to police this (politely) for a few months as people get used to it. If anyone wants to continue amending the guidance based on experience, please do so directly on the wiki.

[2019-09-24 07:41] #1453 closed, assigned to fdlaramee

[2019-09-24 07:42] acrymble commented on #1395
Due to circumstances beyond our control, we're going to pursue this through the University of Sussex with @drjwbaker

[2019-09-24 07:43] acrymble commented on #1279
@rivaquiroga can we close this?

[2019-09-24 08:05] acrymble commented on #1441
Confirming I have done this.

[2019-09-24 08:56] drjwbaker commented on #1458
Quick question. Do we @ the relevant MEs or the teams (e.g. @programminghistorian/french-team) in the PR?

[2019-09-24 08:59] acrymble commented on #1458
Sounds reasonable. Can you update wiki?

[2019-09-24 09:05] drjwbaker commented on #1458
My question is which would the ES and FR teams prefer. I tend to at both teams, but I'm happy to do what each team prefers.

[2019-09-24 09:38] spapastamkou commented on #1458
Maybe ping both teams AND MEs, what do you think?

[2019-09-24 10:36] rivaquiroga commented on #1279
Yes!

[2019-09-24 10:36] #1279 closed, assigned to mariajoafana, rivaquiroga

[2019-09-24 11:04] drjwbaker commented on #1458
I'm up for that. For clarity, @spapastamkou + @programminghistorian/french-team on every FR translation request.

Does @rivaquiroga @programminghistorian/spanish-team want to do this the same way or differently? (I should say, different is fine, so long as we all know what it is)

[2019-09-24 16:25] acrymble opened #1460 "Python 2 end of life"
The majority of our older Python lessons are written in Python 2. This is now going to be deprecated at the end of 2019.

https://www.activestate.com/blog/python-2-eol-now-what/

These lessons have almost all been translated into Spanish, so any changes require changes to translated lessons as well. I'm a co-author on these, so I'd rather not see us deprecate 34 lessons. That leaves us with a ques

[2019-09-24 16:45] jenniferisasi commented on #1460
Ouch, that is bad news. It is going to require a lot of work to do updates but I agree that deprecating 34 lessons (I did not realize it was that many) all of a sudden is not ideal. Off the top of my head right now, would it be plausible to put a call for updating lessons X-number at a time?  Maybe a few people are willing to workaround the update without the need to write the whole lesson?

Since

[2019-09-24 16:47] walshbr commented on #1460
If the lessons are just using the standard Python library, then it might not be that much work to  update them. But if the lessons depend on an external library (like Beautiful Soup or something similar), then that is a different question that we'll have to handle on a case-by-case basis I think. If that library hasn't itself been updated to Python 3 then we probably won't have any choice but to d

[2019-09-24 16:48] jenniferisasi commented on #1460
@walshbr expressed my concern/idea better, thanks!

[2019-09-24 16:50] walshbr commented on #1460
Oh sorry @jenniferisasi I think we were typing at the same time and I didn't see your response. :)

[2019-09-24 17:09] acrymble commented on #1460
We should probably start with an audit of which lessons are affected. Can anyone on the Spanish or French teams responsible for deciding on priorities make sure Python lessons that may be affected are not chosen for translation until we sort this out?

[2019-09-24 18:13] acrymble commented on #1460
Published lessons that may be affected:

FRENCH (1):

- [x] https://programminghistorian.org/fr/lecons/travailler-avec-des-fichiers-texte (no changes required)

SPANISH (18):
- [x] https://programminghistorian.org/es/lecciones/instalar-modulos-python-pip (no changes required)

Original Python in Spanish
- [x] https://programminghistorian.org/es/lecciones/introduccion-e-instalacion (help requested)

[2019-09-24 18:21] acrymble commented on #1460
Key differences between Python 2 and 3: https://sebastianraschka.com/Articles/2014_python_2_3_key_diff.html

[2019-09-25 06:49] acrymble opened #1461 "2-5-10 year plan"
I think it's time we start building a longer-term strategy to help us reach our project's potential.

I'm going to suggest a "2-5-10" model, whereby we set a vision for 2 years which include changes, to help us achieve our 5 year vision that includes activities that will help us reach a 10 year purpose.

Before going into any more detail, I open this for discussion.

[2019-09-25 06:56] drjwbaker commented on #1440
We now have a bank account. @acrymble @amsichani: have either of you received an email with login details to internet banking? I haven't, but I think they will attach it to my existing banking login.

[2019-09-25 06:57] drjwbaker commented on #1440
nb: our shared gmail is the place where we get notification from the bank. I'll monitor this.

[2019-09-25 06:58] acrymble commented on #1440
Not yet.

[2019-09-25 07:01] drjwbaker commented on #1440
Okay. If/when you do, please let me know so I can chase if needed.

[2019-09-25 08:55] amsichani commented on #1440
not yet .

[2019-09-25 21:41] spapastamkou commented on #1460
There is also a third translation in French that is ready but were not able to edit yet. But yes, we can put further translations in standby.

[2019-09-25 21:48] sgillies commented on #1460
@acrymble if you add me as a collaborator I would be happy to help you migrate a few lessons to Python 3. I know the paths well.

[2019-09-26 00:54] mdlincoln opened #1462 "Demo GitHub Actions to replace travis"
GitHub has begun a beta test of Actions, which is very similar to Travis CI but hosted within GitHub infrastructure entirely. It would be worth us testing this against our build processes to see if it might be able to replace our integration with Travis CI, and cut down on one of our additional service integrations.

I would not replace our use of Travis, however, until Actions comes out of beta.

[2019-09-26 06:42] frederik-elwert commented on #1460
I might also be able to help with a few. Maybe we can set up a mechanism where volunteers can claim articles they are updating, so that we don't accidentally update the same lesson twice? Maybe as a wiki page, here in the issue, or by creating one issue per lesson?

[2019-09-26 07:07] acrymble commented on #1460
Thanks @sgillies and @frederik-elwert for getting in touch. We've got a workflow of submitting changes via pull request (https://github.com/programminghistorian/jekyll/wiki/Making-Technical-Contributions) which I believe anyone can already do.

Before we get started, is this l ikely to involve considerable changes, or are they generally minor code syntax things? I want to make sure we approach thi

[2019-09-26 08:26] spapastamkou opened #1465 "problem with creating a new branch on jekyll"
Hey, I just tried to create a new branch for publishing a blogpost and I do not seem to have sufficient rights to do this. I can only switch between existing branches. I have this problem only on jekyll, and it is the 1st time. On ph-submissions everything works fine. Could you check this @programminghistorian/technical-team please?

[2019-09-26 08:48] spapastamkou commented on #1465
ok, the problem is probably related to #1462, I just saw that. I'll close the ticket after confirmation.

[2019-09-26 09:04] frederik-elwert commented on #1460
I would have to check the details, but I assume in most cases it would be minor syntax changes. In some cases, “modern” Python 2 could be run under Python 3 without changes. I guess the most disrupting changes would be related to external modules.

Maybe it would even be possible to semi-automate this by extracting the code parts and running Python’s conversion utility `2to3` over it to see requir

[2019-09-26 12:53] walshbr commented on #1465
If this is a permissions thing then @mdlincoln (I think) is the only one with permissions to actually change permissions for other people.

[2019-09-26 13:11] spapastamkou commented on #1465
Yes, this is it, thanks @walshbr.
@mdlincoln I've been working locally, nothing in rush about this ticket.

[2019-09-26 13:21] spapastamkou commented on #1359
This is ok (see PR #1452) and the page has been published.

[2019-09-26 13:21] #1359 closed, assigned to fdlaramee

[2019-09-26 14:53] billygriffin opened #1466 "Lesson references a version of GitHub Desktop that is no longer maintained"
Lesson: [An Introduction to Programming Using GitHub Desktop](https://programminghistorian.org/en/lessons/getting-started-with-github-desktop)
OS: Mac and Windows, latest versions

👋 Hi folks! I'm the product manager for GitHub Desktop, and I wanted to let y'all know that the version of GitHub Desktop introduced in this lesson is no longer maintained and we definitely do not recommend that people

[2019-09-26 16:57] DanielBrett opened #1467 "Minor grammatical error"
Hi there!

I noticed a small grammatical error in the Basic Text Processing in R tutorial.  The very last sentence in the Analyzing Barack Obama's 2016 State of the Union Address Exploratory Analysis section hast the words "seem to suggest" repeated twice.

Hope this helps!

Daniel Brett
Brock University Digital Scholarship Lab Technical Support

[2019-09-26 18:29] drjwbaker commented on #1466
Thanks @billygriffin for reaching out. Really nice to know that GitHub staff have our backs on this one. We've got a workflow of submitting changes via pull request (https://github.com/programminghistorian/jekyll/wiki/Making-Technical-Contributions) which I believe anyone can already do. Do you think the work updating the lesson will be more substantial than a few pull requests? If so, and you thi

[2019-09-26 20:47] mdlincoln commented on #1465
@spapastamkou I'm sorry, it wasn't directly related to #1462 but I _did_ modify one of the repo settings and that may have broken permissions. Can you please try again and see if you can open a PR now?

[2019-09-26 20:49] mdlincoln commented on #1466
The interface for the new GH desktop app is significantly different from the old one, so I'd say this is a retire&rewrite/re-review situation @drjwbaker. Does @programminghistorian/english-team have any thoughts on this before we proceed?

[2019-09-26 23:52] billygriffin commented on #1466
Thanks @drjwbaker! I'm in agreement with @mdlincoln after going through the entirety of the course that the content and screenshots are too divergent to realistically update, other than just using it as guardrails and an outline once it gets into specifics of the GitHub Desktop portion. The overall portions about version control more generally do still seem reasonable to bring over to a new page.

[2019-09-27 08:35] drjwbaker commented on #1449
# Project Development Team Report

By: @drjwbaker
Date: 27 Sept 2019

Actions Completed Since Previous Report:

- made this template for reporting to monthly calls https://github.com/programminghistorian/jekyll/issues/1432
- incorporated as a legal entity https://github.com/programminghistorian/jekyll/issues/1437 and added explainers on the the site https://github.com/programminghistorian/jekyll/i

[2019-09-27 09:25] spapastamkou commented on #1465
all ok now @mdlincoln, thank you. I close the ticket.

[2019-09-27 09:25] #1465 closed, assigned to mdlincoln

[2019-09-27 10:45] acrymble commented on #958
I'm going to close this on 1 October 2019 unless someone says otherwise.

[2019-09-27 10:53] acrymble commented on #1404
This person will need some basic training in minute taking.

[2019-09-27 10:55] acrymble commented on #1448
@grandjeanmartin please try to complete your tasks as soon as possible or let us know if you need support with any of them. We don't expect any of the steps to take very long, but they do make sure you understand how to make technical contributions to the site.

[2019-09-27 11:44] mdlincoln commented on #1449
# Tech Team Report

By: @mdlincoln
Date: 27 Sept 2019

Actions Completed Since Previous Report:

- Broke down #1324 into sub-units of work divided across the team

Actions Remaining Open Since Previous Report:

- Website search #1018 will be discussed at November meeting with presentation by @ZoeLeBlanc
- Small addition to footer #1224

Queries for the Team:

- Re: #1458 IT is possible to make PR

[2019-09-27 11:54] grandjeanmartin commented on #1448
@acrymble yep, I was waiting our FR meeting this afternoon to complete these tasks in full knowledge of PH processes and culture.

[2019-09-27 12:43] spapastamkou commented on #1456
Just merged the PR #1468 so there will be a blog post for Martin, if you need a link @jenniferisasi

[2019-09-27 12:47] jenniferisasi commented on #1456
Perfect @spapastamkou! That is exactly what I needed :)

@drjwbaker since my intention is to publish the newsletter around that time, or a few days later, this will work. Thanks for your help with that!

[2019-09-27 16:51] spapastamkou opened #1469 "PH-FR 3M Planning"
@fdlaramee, @grandjeanmartin and me established a basic 3 month planning of our activities. This ticket is our reminder.

### Translations
- [x] Analyzing Documents with TF-IDF: François-Dominic
- [ ] From Hermeneutics to Data to Networks: Data Extraction and Network Visualization of Historical Sources: Martin
- [x] Getting Started with Markdown: Sofia

### Translation editions
- [x] Préserver ses

[2019-09-28 11:10] frederik-elwert commented on #1460
Okay, I created a small script that tries to make the required changes automatically by using 2to3. It will still require manual inspection, but might be helpful:

https://gist.github.com/frederik-elwert/c99ceee72293035aeef05ccbb53dea83

Call like this:

[code]

[2019-09-28 16:01] mdlincoln commented on #1456
![IMG_20190725_104736](https://user-images.githubusercontent.com/4392604/65819199-b745a300-e1e7-11e9-80cb-c579ef61d91c.jpg)

![IMG_20190725_105010](https://user-images.githubusercontent.com/4392604/65819207-bb71c080-e1e7-11e9-80a1-17ffe088f1d5.jpg)

[2019-09-29 08:03] amsichani commented on #1449
Many thanks @drjwbaker and @mdlincoln for these reports ! May I ask also @jenniferisasi to briefly report on Comms, @JMParr on Global and @spapastamkou on the FR front before our meeting (following this template https://github.com/programminghistorian/jekyll/wiki/Meeting-Report-Template)? Thanks!

[2019-09-29 08:55] frederik-elwert opened #1471 "Lesson Transliterating Non-ASCII Characters needs to be reworked for Python 3"
The lesson [Transliterating non-ASCII characters with Python](https://programminghistorian.org/en/lessons/transliterating) needs to be updated to Python 3, see #1460. The lesson heavily deals with unicode and Python strings, where Py3 and Py2 have major differences. Thus, the lesson has to be re-written in parts.

[2019-09-29 08:57] frederik-elwert commented on #1460
This is a tricky one: https://programminghistorian.org/en/lessons/transliterating

I created a separate issue #1471 for it.

[2019-09-29 11:41] acrymble commented on #1469
should we all have plans like this? It seems like a good way to keep everyone focused.

[2019-09-29 13:05] rivaquiroga commented on #1469
This is a great idea!

[2019-09-29 21:52] jenniferisasi commented on #1449
# Communications Team Report
By: @jenniferisasi
Date: 29 Sept 2019

Actions Completed Since Previous Report:

- Completed #1456 as a continuation of the short-term plan to keep users informed
- Published note on @grandjeanmartin joining the team (by @spapastamkou)
- Publicized search for editorial membres for PH en français on Twitter
- Decided to add a footer for RSS feed #1224; project opened by

[2019-09-30 07:17] acrymble opened #1473 "Onboarding Checklist for new English ME: Sarah Melton"
**Welcome**

Welcome to the Programming Historian Editorial Board. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put together this information to help you get up to speed. It includes details of what we will do and a checklist of tasks you should complete, to make sure you know how to perform key tasks. We hope i

[2019-09-30 07:57] acrymble commented on #1328
We have now appointed to this role.

[2019-09-30 07:57] #1328 closed, assigned to acrymble

[2019-09-30 09:46] spapastamkou commented on #1449
# FR team Report
By: @spapastamkou Date: 30/09/2019

Actions Completed Since Previous Report:

- Fr team enlargement (#1394):  @grandjeanmartin joined the team (welcome blogpost published; onboarding checklist in progress #1448; 3 months task planning #1469)
- Translated pages in FR: translator guidelines (#1389); privacy policy (#1359) @fdlaramee
- 1 translated lesson published: Comprendre les pa

[2019-09-30 09:53] spapastamkou commented on #1449
I am likely to miss today's meeting after all, because I might still be in public transports around that time (I need to leave work earlier). If it is the case, I apologize in advance. I just left a report on our activities and @fdlaramee and @grandjeanmartin can provide further info on these.

[2019-09-30 13:26] grandjeanmartin opened #1474 "Adding picture+bio"
Following #1448 I need to add my avatar+bio to the authors file.

[2019-09-30 13:50] grandjeanmartin commented on #1474
pull request #1475 on its way. Waiting for @spapastamkou and/or @fdlaramee to tell me if I did this 1st contribution correctly.

[2019-09-30 13:53] rivaquiroga commented on #1449
# ES team Report
By: @rivaquiroga Date: 30/09/2019

Actions Completed Since Previous Report:

- María José's Sabbatical checklist completed (https://github.com/programminghistorian/jekyll/issues/1279) @mariajoafana @rivaquiroga
- Translated pages in ES: privacy policy (https://github.com/programminghistorian/jekyll/issues/1360) @jenniferisasi

Actions Remaining Open Since Previous Report:

- 3 ori

[2019-09-30 14:14] JMParr commented on #1449
Global Team:

I have created a Wiki page for our Global Team, and have been working on a
list of contacts. I plan to reach out shortly to the other members of The
Global Team for assistance in making contact. (Separately, are there any
team members who speak Italian? I know a little, but I'm very rusty.)

I have also spoken to my colleague who has been working in Rwanda about the
possibility of wo

[2019-09-30 14:35] grandjeanmartin commented on #1448
@jenniferisasi could you please remind me what I'm supposed to do related to the Twitter account/group?

[2019-09-30 14:57] drjwbaker commented on #1449
Thinking about this meeting, I guess we need to get used to thinking about what we want to put in the 'Queries for the Editorial Board' bit of the template rather than - as we had previous - going through by open ticket that needs Editorial Board input. Our meetings should be room for reporting *and* discussing (as we did on the copy editing issue).

[2019-09-30 14:59] acrymble commented on #1381
We discussed this at the September 2019 meeting and we decided to hold on the idea of charging for copy editing while we discuss business model options. There was concerns about the possible arbitrary nature of the decision, and the potential for a surprise cost late in the workflow. It was acknowledged that copy editing does have a cost to the project and must  be accounted for.

We agreed that e

[2019-09-30 15:00] #1381 closed, assigned to acrymble

[2019-09-30 15:08] acrymble opened #1476 "Establishing formal meeting minutes"
It was requested out of our internal team survey that we establish formal minutes to meetings. These should be kept in a central repository for future access. I think in the first instance  this most affects @amsichani who hosts our group meetings. Can we get feedback from her on  this?

[2019-09-30 15:11] drjwbaker commented on #1476
Given that we have the reports, can we just have lists of 'Decisions' and 'Actions'? It is way way easier, and provides 95% of what people coming back to them will need (for context, my department now only records decisions and actions and we are a large academic unit responsible for lots of staff, students, cash, and with statutory responsibilities..)

[2019-09-30 15:12] acrymble opened #1477 "Personal Project Plans"
Our team survey suggested it might be valuable to help people devise plans for their project involvement on an ongoing basis. I'd like to suggest that we first trial this on a voluntary basis before rolling it out to the whole team. This would involve having an informal meeting with me to discuss and then record your project goals for the next 3, 6, and 12 months.

Whether these are public or priv

[2019-09-30 15:34] acrymble commented on #1457
We've got to have a plan for this. If you ask for a one-off donation, that person isn't going to then sign up for a monthly giving plan. We've also got to have messaging that will appeal to potential donors, brand guidelines for keeping that messaging consistent, and an idea of how much we need to achieve our goals (which are not yet decided). So  all to  say  I think we need address a 2-5-10  yea

[2019-09-30 15:39] svmelton commented on #1473
Greetings! Thanks so much for the welcome and the detailed checklist. Here's my info:

- GH: svmelton (@mdlincoln)
- Twitter: WorldCatLady
- Skype: svmelton (@amsichani)
- Email: sarah.melton@bc.edu should work as a Google-activated email, but you can use sarah.melton1@gmail.com as a backup if needed. (@acrymble)

I'll write an email to the group shortly. Thanks, all!

[2019-09-30 16:11] mdlincoln opened #1478 "Raise a build error if a post *.md file doesn't use hyphens"
Because of how Jekyll recognizes dates for posts in our current configuration, the filenames must use hyphens. Any other punctuation and the post _silently_ fails and just doesn't show up.

@programminghistorian/technical-team will add a rule to the build script that will check for this and cause an error during CI checks, so post authors can more easily see what's wrong and how to fix it.

[2019-09-30 16:11] mdlincoln commented on #1478
re: #1472

[2019-09-30 16:15] drjwbaker commented on #1457
A good chunk of the messaging on what we want money for is at https://programminghistorian.org/en/support-us I'd love to be able to say what we need, but we don't know yet. So based on what we say we want money for, some sums:

1) "Maintain our infrastructure" can be interpreted as a social thing, so let's take it to be a hire to run the project. Ideally for a full-time skilled person, £50,000 per

[2019-09-30 18:25] acrymble commented on #1457
We've got £24,000 in grants in preparation or submission at the moment, so I think £10,000 is too low. I'd say £250,000 of which very little is likely to be donations. I also think vision needs to come first. We can continue to do what we do for £10,000 per year. But we have more potential than that.

[2019-09-30 18:32] acrymble commented on #1477
I'll do one for me first, to show what that might look like:

---

Teams: Team Development, Global

3 Months:
- submit British Academy workshop grant for workshop in Mexico/South Africa (£20,000)
- asssist @drjwbaker and @amsichani in the immediate task of getting ProgHist Ltd operational
- assist in the onboarding of new team members
- complete a draft (with the whole team) of a 2, 5, and 10 year

[2019-09-30 18:36] acrymble commented on #1461
I've found a couple of business plan templates for charities or not-for-profits that might be helpful starting points. Please comment on this idea so I know if we're on the right track.

[business-plan-template-non-profits-charities-and-volunteer-organizations.docx](https://github.com/programminghistorian/jekyll/files/3672726/business-plan-template-non-profits-charities-and-volunteer-organizations

[2019-09-30 20:02] drjwbaker commented on #1457
And none of those grants are coming to the company. I'm all for ambition. But I'm also not confident we have the expertise to manage a £250k business so soon.

[2019-09-30 20:04] drjwbaker commented on #1457
For context, for example, once we get above £85k turnover we hit a VAT threshold that'll require administration and expertise. Both of which cost money.

[2019-09-30 22:01] #1456 closed, assigned to jenniferisasi

[2019-10-01 07:09] acrymble commented on #1476
I've attached a possible minutes template for discussion. It's fairly basic, I think. @drjwbaker is this similar to what your department produces? We'd need to store these permanently somewhere accessible.

[PH Minutes Template.docx](https://github.com/programminghistorian/jekyll/files/3674849/PH.Minutes.Template.docx)

[2019-10-01 07:12] drjwbaker commented on #1476
That'll work. I'd suggest not reproducing the reports (to avoid duplication of effort) but just linking to the report in the relevant ticket.
On storage, unless we consider anything here privileged, we may as well just make a folder on the repo.

[2019-10-01 07:15] acrymble commented on #1461
Rather than wait for lazy concensus, I'd like to put together a group who will work collaboratively to draft a business plan proposal to put to the team for comment. This will involve collaborative writing on Google Drive, and possibly a few Skype calls.

The timeline will be from now until Christmas 2019. If you are a member of the team and would like to be involved, please make yourself known on

[2019-10-01 07:17] drjwbaker commented on #1461
I'd love to but I don't have any time to give right now.

[2019-10-01 09:16] acrymble commented on #1461
Just a note to say that this is voluntary. There will be a consultation opportunity for everyone once we have a draft. I have some time now I can devote to this, which is why I'm moving forward and taking advantage of that time. I recognize not everyone is in the same  position.

[2019-10-01 09:22] #1474 closed, assigned to grandjeanmartin

[2019-10-01 09:32] acrymble commented on #1473
Hi @svmelton I have added you to the google group email lists and to Google analytis. Let me know if you want a tour of either.

[2019-10-01 10:43] amsichani commented on #1476
Hi @acrymble @drjwbaker thanks for the idea- I ve started writing down the minutes in the existing ticket but I am happy to explore also this option. So, in order to be clear, for our Skype meetings we are going to produce

**before the Skype meeting**

- [ ] a doodle via email to secure a date
- [ ] a dedicated ticket for the meeting
- [ ] an agenda for the meeting
- [ ] team reports (before the

[2019-10-01 10:50] acrymble commented on #1476
Thanks for highlighting the labour @amsichani

I think the dedicated ticket can continue to be the agenda, so 2 & 3 above can be combined. Team reports contribute to that same ticket.

The minutes can also be in .md (maybe that's better give our approach). So the only new thing is recording the minutes and uploading them to jekyll. It's just a clear time-stamped set of actions and decisions that w

[2019-10-01 10:55] amsichani commented on #1476
I am not sure I understand the suggested procedure @acrymble : I am going to upload the minutes in the ticket or no? And then, a md file of these it should be uploaded in a dedicated jekyll folder as such?

[2019-10-01 11:01] acrymble commented on #1476
The minutes are a new file (let's say it's .md). It's pre-populated with the Agenda items for the meeting. You then record decisions and actions in that .md file, and when complete it's uploaded to a new folder we'll create. At the beginning of each meeting (as is common) we approve or amend the minutes from the previous meeting. It then acts as an agreed record of what took place.

For example:

[2019-10-01 11:07] acrymble commented on #1476
If you think it's too much to chair and be secretary of meetings @amsichani maybe we need a secretary?

[2019-10-01 11:12] amsichani commented on #1476
TBH the last couple of times and esp with the new team structure is really hard to keep track of everything: monitoring the call, participate and record all the discussions, keeping minutes, then trying to formalise them , linking with tickets , upload them, etc. It might be just the new developments or just me be very tired/perfectionist. I think two person team will be a good idea to explore.

[2019-10-01 11:14] amsichani commented on #1476
I am still not sure how you suggest us to proceed with the structure of the minutes. Do you want me to create a new .md file for the minutes besides the existing ticket (.md) opened for the meeting? Sorry for this.

[2019-10-01 11:14] acrymble commented on #1476
Fair. Let's do that. I'll try next time to do a test run of the minutes at our next meeting. And we can revise it to meet our needs.

[2019-10-01 11:15] acrymble commented on #1476
You can just do the same as always. I'll act as secretary while we work on this workflow.

[2019-10-01 11:16] amsichani commented on #1476
thanks @acrymble

[2019-10-01 11:21] amsichani commented on #1449
Notes from the September call -mainly actions points and decisions made - please amend if I misunderstood or skip smth (I hope these notes work well with the new team/call's structure) :

 ## Current Research Projects or Submissions Pending about the Programming Historian
- @acrymble and @mariajoafana will publish a book chapter on PH
- @acrymble and @rivaquiroga will work and @drjwbaker (via Suss

[2019-10-01 11:35] acrymble commented on #1476
I've added the template to the wiki and I will fill it in at our next editorial board meeting.  We can assess it's effectiveness then. Thank you to whomever anonymously suggested we pursue this via  our team survey.

[2019-10-01 11:35] #1476 closed, assigned to amsichani

[2019-10-01 13:28] rivaquiroga commented on #958
@acrymble, I'm closing this one. The result of this discussion will be part of https://github.com/programminghistorian/jekyll/issues/1424

[2019-10-01 13:28] #958 closed, assigned to mariajoafana

[2019-10-01 13:31] rivaquiroga commented on #1458
The same way!

[2019-10-01 13:41] drjwbaker commented on #1458
Added language to the wiki https://github.com/programminghistorian/jekyll/wiki/Requesting-Translation-Guidelines @acrymble: happy to close?

[2019-10-01 13:56] #1458 closed, assigned to acrymble

[2019-10-01 13:59] acrymble commented on #1440
I believe these have now arrived.

[2019-10-01 13:59] #1440 closed, assigned to drjwbaker

[2019-10-01 15:50] jenniferisasi commented on #1448
I just added you to our account, @grandjeanmartin. I had an issue the first time (said you had a private account or similar) but it went through this time. Thank you for bringing this task to my attention (memory).

You should be able to tweet from our account now, for instance, if you publish a blog-post and want to announce it. For published lessons, @spapastamkou has been sending me emails (as

[2019-10-02 08:00] amsichani commented on #1461
I 'd love to be involved ; I don't have enough time at the moment so I can't promise massive amount of commitment on this, but I am happy to contribute on (one or more)' business plans'.

[2019-10-02 12:38] spapastamkou commented on #1448
I see we are okay with this. Only thing missing is the shadow editing but this could take some time, as it did for all of us. I close this ticket.

[2019-10-02 12:38] #1448 closed, assigned to spapastamkou, fdlaramee

[2019-10-02 14:06] jenniferisasi commented on #1461
Same here, I would like to help but I have enough on my plate from now to the winter holidays as to commit to writing a long document. I will happily review it once it is written, though.

I have one question about this, @acrymble is this plan going to be overarching for PH in a way that there is "no need" from individual language-team to write in here their vision for 2-5-10?

[2019-10-02 15:34] jenniferisasi commented on #1467
@DanielBrett thank you warning us about this typo! It has now been fixed.

[2019-10-02 15:34] #1467 closed, assigned to nobody

[2019-10-02 16:05] drjwbaker opened #1482 "Offline archive of bids et al"
As discussed at https://github.com/programminghistorian/jekyll/issues/1449 and following on from https://github.com/programminghistorian/jekyll/issues/1426, as project Archivist I’ve been thinking of ways to store in a private, offline manner, documents we want to have team access to but don’t want to put on GitHub: so, things like bids, internal surveys, et cetera.

You've now started sending me

[2019-10-02 17:49] walshbr commented on #1482
If they're in a directory in this GitHub repo they'd be default public. Anyone could navigate to the pages in the repo or on the site, even if we don't link to them. That'd be the point of adding a new repo I think. We could add a private one so that they weren't publicly available. If you don't mind them being viewable then it's fine to have them here.

[2019-10-02 18:21] drjwbaker commented on #1482
I just want to make a list of files available. And public is fine. So I'll make a new dir.

[2019-10-03 08:47] amsichani opened #1483 "October 2019 Skype call - 1 November 2019 - Editorial Agenda"
Friday 1st November 2019 . Time is 9:00 AM - Mexico time; 10:00 AM - EST; 3:00 PM - British time; 4:00 PM - CET. @amsichani  will be facilitating the call.

Working agenda follows. Please add by commenting or editing this comment directly.

All team leaders please post a small report on your team's activities closer that day.

- [ ] Current Research Projects or Submissions Pending about the Progra

[2019-10-03 09:03] amsichani opened #1484 "errors in the lesson template"
During the review process of this [lesson](https://github.com/programminghistorian/ph-submissions/issues/258) , @maehr noticed two errors in the[ lesson template](https://programminghistorian.org/en/lesson-template.md) . @programminghistorian/technical-team will check and update accordingly the lesson template guidelines.

1.

#### An End Note:

This is some text.[^1]
This is some more text.[^2]

[2019-10-03 10:46] drjwbaker commented on #1439
Going back through our [Articles of Association](https://beta.companieshouse.gov.uk/company/12192946/filing-history) (hit 'View PDF' link) and [gov.uk notes on running a company](https://www.gov.uk/running-a-limited-company/company-and-accounting-records) a few notes in terms of procedure for this meeting today:

- our quorum is 3 (Article 9.1) and our max size 7 (Article 13)
- we vote, and in spl

[2019-10-03 12:29] #1482 closed, assigned to drjwbaker

[2019-10-03 13:10] acrymble commented on #1461
This is going to require a lot of steps. So I'm going to start adding material here to this thread to keep track. Starting with a list of ideas for income streams for ProgHist Ltd, for future comment.

[Possible income and business models.docx](https://github.com/programminghistorian/jekyll/files/3686156/Possible.income.and.business.models.docx)

[2019-10-03 13:15] walshbr commented on #1482
FWIW @drjwbaker - you don't need to close the ticket itself when you have a pull request that states "closes #1482" (though the number changes based on whatever ticket you're talking about. The pull request, once it merges in, will automatically close the associated ticket that you've referenced because of that text. Probably best to let the system do it that way, so that we don't close out issues

[2019-10-03 16:51] acrymble commented on #1441
I've added this instruction to the Wiki.  https://github.com/programminghistorian/jekyll/wiki/Board-of-Directors-Responsibilities

[2019-10-03 16:51] #1441 closed, assigned to drjwbaker

[2019-10-03 16:53] acrymble commented on #1438
We've set the date of the AGM of ProgHist Ltd as 28 May 2020 at 3pm London time (Skype).

[2019-10-03 16:53] #1438 closed, assigned to drjwbaker

[2019-10-03 16:58] acrymble commented on #1404
James Baker has been appointed to this position of ProgHist Ltd.
This is for ProgHist Ltd activities only. Not Editorial Board meetings.

[2019-10-03 16:58] #1404 closed, assigned to drjwbaker

[2019-10-03 16:59] acrymble commented on #1403
Adam Crymble has been appointed to this position by the Board of Directors of ProgHist Ltd.

[2019-10-03 16:59] #1403 closed, assigned to drjwbaker

[2019-10-03 17:35] walshbr opened #1486 "Google Sheets API v3 Being Shutdown"
We're currently using the google sheets API v3 for the twitter bot. Version 3 is being shutdown on March 3, 2020. I'll need to investigate whether or not we can easily migrate to v4 before then.

[2019-10-03 17:39] walshbr commented on #1486
Our use of the API comes through [gspread](https://github.com/burnash/gspread), and it looks like they've migrated since the version that I used when putting together the bot. That should make things easier. So should be a matter of bumping the version of that module that we're using and then making sure that nothing breaks.

[2019-10-03 18:32] drjwbaker commented on #1482
Huh. So if you write..

.. in PR, it closes the issue automatically when the PR is merged?!

[2019-10-03 18:55] walshbr commented on #1482
As I understand it yep @drjwbaker!

[2019-10-04 07:57] acrymble commented on #1439
The minutes of this meeting have been distributed to the Editorial Board on 4 October 2019

[2019-10-04 07:57] #1439 closed, assigned to drjwbaker

[2019-10-04 07:58] acrymble commented on #1473
@alsalin can I suggest you liase with @svmelton to start talking about handover procedures?

[2019-10-04 08:02] drjwbaker commented on #1395
Quick update: this is 95% done with local hosts in South Africa and Mexico. Thanks to @acrymble for getting this into such fine shape. I think we have a great chance.

[2019-10-04 08:04] drjwbaker commented on #1457
@acrymble Further to your recent work on business models and sustainable revenue streams, let's keep this ticket for setting up the practical mechanisms for payment (putting our bank details on the site, setting up Paypal, et cetera) and - when it comes to it - open a separate ticket for everything else.

[2019-10-04 08:21] drjwbaker commented on #1405
Following https://github.com/programminghistorian/jekyll/issues/1439 we have established the membership class **‘Member (Editorial Board)’.** This is defined as follows and will be recorded by me in https://github.com/programminghistorian/jekyll/issues/1402:

@acrymble to invite the Editorial Board.

[2019-10-04 08:31] drjwbaker commented on #1405
Building on https://github.com/programminghistorian/jekyll/issues/1461#issuecomment-537938787 I propose we look at further membership classes **for people who are not members of the Editorial Board** (in response to concerns at https://github.com/programminghistorian/jekyll/issues/1405#issuecomment-539398973, it is worth reiterating the the Editorial Board will not pay membership fees https://gith

[2019-10-04 08:42] drjwbaker commented on #1405
(note: stickers cost us ~50p each, so with postage the first month of a £5 membership would be cost us ~£5, so we'd need a minimum commitment of at least 3 months to make it worthwhile)

[2019-10-04 08:59] acrymble opened #1487 "What Business Models are we Happy with?"
Building on our need for a robust financial plan, we need to discuss what forms of business we'd be happy engaging in so that we can build ourselves accordingly. I've come up with a non-exhaustive list with some pros and cons. Can I ask that members of the editorial board please feed back either here or to me directly on which of these (or others) they like or dislike. Keeping in mind we can't dis

[2019-10-04 09:20] drjwbaker commented on #1487
- Subs X (against our core principles)
- Ads ~ (don't quite see the point because of ad blockers, but I'm happy to be convinced otherwise: I wonder how much Old Bailey Online makes from ads?)
- Print on Demand X (not worth the effort to setup)
- Charging for copy editing X (I think we agreed at https://github.com/programminghistorian/jekyll/issues/1449 that the AB is uncomfortable with this)
- Jou

[2019-10-04 12:36] amsichani commented on #1405
initial comments to the proposed membership classes:
- although is totally pragmatic, the "from non-ODA eligible countries and **with a proper job**" as opposed to "from ODA eligible countries or who can't afford to support us (PhD, precarious academic)" is v problematic as regards to our inclusivity strategy. Furthermore, by saying this we somehow presume that people with precarious job positions

[2019-10-04 12:44] drjwbaker commented on #1405
- on **Supporter A** I should have said that this wasn't my proposed final wording. I was merely trying to express a membership class that was about 'you can probably afford it' without asking people what they earn (like, say, a union does). For example, a political party that I am a member of asks members to self-define which type of membership they want but all members get the same rights: so wh

[2019-10-04 13:10] mdlincoln commented on #1487
I agree with much of @drjwbaker's assessment of these possibilities. I'm a strong proponent of directly asking for monetary support (in the form of one time and/or recurring donations), with no perks attached other than knowing you are supporting the work, and having a nice page on our site listing all donor names for those who would like to be listed.

I'd push back a bit more against one-off pub

[2019-10-04 14:37] mdlincoln commented on #1466
Documenting from the call on #1449 - I'd expressed the opinion that writing a whole tutorial for a generalized piece of software like GH desktop doesn't fall within our purview because it doesn't go significantly beyond the documentation supplied by the developer. If it's not really a tutorial for historians/humanists, then why can't we just defer to the official developer documentation? Another o

[2019-10-04 15:16] jenniferisasi commented on #1466
For reference, I just found that the lesson you suggest is also available in Spanish (https://swcarpentry.github.io/git-novice-es/) - our version of the lesson has been visited 9.802 times this year - and it is not available in French, at least for now.

[2019-10-04 15:23] drjwbaker commented on #1466
I'll all for us not duplicating the great work of the Carpentries. Looking through our lesson, there is not a huge amount that is history/humanities specific. Perhaps if we retire our lesson, we can also point to the SWC material in some way at the same time. On FR, I haven't heard of any plans for SWC to translate into languages other than ES. But we could ask.

[2019-10-04 15:32] alsalin commented on #1473
@acrymble we're on it! @svmelton will be shadowing me this month and into November as opportunities to learn the role become available (like publication of lessons, for example). We are also working on solutions to the ME-EN editorial team communication/lesson transparency issue.

[2019-10-04 15:34] jenniferisasi commented on #1487
I also agree with @drjwbaker's overview of pros and cons of all the suggested models, and with @mdlincoln on the one-off publishing push back, it looks to me this would be more work on us without benefiting much.

I find it unlikely that anyone would fund a workshop given that, at least here in the US, it is already part of too many people's job to teach workshops. We would have to come up with a

[2019-10-04 15:44] drjwbaker commented on #1487
Thanks for your thoughts on workshops @jenniferisasi. I suspect we might be thinking too narrow about who a workshop could target. Lots of the lessons we publish are - and we pretty much know this from our site traffic - being used by people who aren't in the humanities. Even looking only slightly outside the humanities to galleries/libraries/archives/museums, they in some cases have professional

[2019-10-04 15:46] spapastamkou commented on #1430
I am afraid I'll miss the October meeting: I will be at another one in Paris.

[2019-10-05 16:22] acrymble commented on #1487
Thanks for the feedback so far. It would also be helpful for team members to express which models they would be opposed to (as distinct from ones they think wouldn't be effective). For example, if you think it is abhorent for us to use online advertising, now's the time to say.

[2019-10-06 07:01] acrymble commented on #1477
I'll close this in a couple of days if I don't hear from anyone, as it doesn't seem like this is something people want.

[2019-10-06 07:10] acrymble commented on #1460
@frederik-elwert would you be willing to run your script on a few more of the above lessons, and I'll re-test them manually?

[2019-10-06 07:34] frederik-elwert commented on #1460
Yes, that's the plan. Unfortunately, I currently don't have too much time to spend and I got stuck with the transliteration lesson that needs a major rewrite. But I'll try to push things one by one.

If we had a few more volunteers, maybe we could have something like a virtual hackathon? Might be a way to create a bit more momentum.

[2019-10-06 12:00] arojascastro commented on #1477
Teams: Spanish Team (as far as I know)

3 Months:
- I do not have any lesson to edit or proofread
- do this task https://github.com/programminghistorian/jekyll/pull/1357

6 months:
- translate a new lesson (probably this https://programminghistorian.org/en/lessons/building-static-sites-with-jekyll-github-pages)

12 months:
- organize a PH workshop in La Habana, Cuba

[2019-10-06 16:09] frederik-elwert commented on #1471
I started working on the lesson. I think I cannot assign it to myself, I probably don’t have the required rights?

[2019-10-06 16:46] jenniferisasi commented on #1477
Teams: Communications Team, Technical Team, Spanish Team

3 Months:
- Write end of the year Newsletter in three languages
- Edit lesson [#254](https://github.com/programminghistorian/ph-submissions/issues/254)
- Submit lesson for publication
- Continue learning technical skills

6 months:
- Edit lesson after peer-review
- Write two trimestral Newsletters in three languages
- Continue learning tech