[2021-03-15 20:31] rivaquiroga commented on #2058
Thank y'all for your input/comments.

It looks like there are three actions arising from this ticket:

1. Adding an alternate email field (non institutional) to the lesson proposal form (to reduce the possibility of losing contact with authors).
2. Adding a section to the Author Guidelines about what happens when a lesson needs maintenance.
3. Updating the Wiki: https://github.com/programminghisto

[2021-03-16 17:31] InesSalome commented on #2059
Ok @spapastamkou, I've just suppressed the addition of point 2 in my pull request (the use of sudo in the command line) and kept point 1.

[2021-03-16 18:25] svmelton commented on #2059
Thanks @InesSalome! I'll do my review now.

[2021-03-16 20:56] #1524 closed, assigned to walshbr

[2021-03-17 07:56] InesSalome commented on #2059
Thank you @svmelton :)

[2021-03-17 07:56] #2059 closed, assigned to InesSalome

[2021-03-18 21:44] spapastamkou commented on #2065
all ok here? If you need support with something, @giuliataurino, let us know, we'll be glad to help!

[2021-03-19 10:00] acrymble commented on #1943
We've finished this work now for English, Spanish, French.

I'm going to create a new ticket for Portuguese because it's lower priority, needs slightly different bits, and this thread is now too long.

[2021-03-19 10:00] #1943 closed, assigned to acrymble, jenniferisasi

[2021-03-19 10:02] acrymble opened #2074 "New Portuguese Support-Us pages"
Building on #1943 - Translate Support us

We need 3 new pages in Portuguese for our various fundraising pages to bring them in line with the other languages. These are

    /pt/ppi.md
    /pt/doacoes.md
    /pt/apoiadores.md

We also need to add a Middle Band price for middle income countries, set at £400 - see #1988.

We currently have no Portuguese IPP members, and I think it is far more importa

[2021-03-19 15:30] DanielAlvesLABDH opened #2076 "Onboarding Checklist for Portuguese language publication editor: Ricardo Pimenta"
## This is an individual onboarding Editor checklist for Ricardo Pimenta (@pymentha). Bem-vindo, Ricardo!

---

## Bem-vindo

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put together this information to help you get up to speed. It includes details of what we w

[2021-03-19 15:35] DanielAlvesLABDH commented on #2076
Olá @pymentha! Vamos dar início à sua introdução ao GitHub do Programming Historian. Comece pelas tarefas da secção "communication" enviando o seu GitHub user e o seu gmail para o @JoshuaGOB, usando a caixa de comentário abaixo. Qualquer dúvida, não hesite em perguntar. Abraço

[2021-03-20 09:25] #1988 closed, assigned to acrymble

[2021-03-20 10:37] acrymble commented on #1056
I don't think this ticket has a clear action, nor does it have a person assigned to it. I propose closing  at #2019 meeting

[2021-03-20 10:38] acrymble commented on #1710
It looks like this is just waiting for an ISSN. Whose responsibility is that? @mariajoafana #2019

[2021-03-20 10:40] acrymble commented on #1909
I don't think this ticket has a clear action. I propose closing at #2019 meeting

[2021-03-20 10:41] acrymble commented on #1849
This issue is now very old and we haven't had any movement on it. @drjwbaker is this something you want to action, or should we close it at #2019 ?

[2021-03-20 10:42] acrymble commented on #1956
@svmelton @ZoeLeBlanc As AM is currently on leave, are there any actions here that need to be allocated to someone else? If not, can we close this at #2019 ?

[2021-03-20 10:43] acrymble commented on #1857
This hasn't been implemented, and no one has taken a lead on it. So I propose closing it at #2019

[2021-03-20 10:46] acrymble commented on #2030
This ticket needs someone assigned to it. Otherwise it will stay open forever. @hawc2 are you planning on taking this forward?

[2021-03-20 11:25] DanielAlvesLABDH commented on #1710
@acrymble the ISSN for the Portuguese edition is already on the page.  I think we can close this

[2021-03-20 15:46] #1710 closed, assigned to JMParr, JoshuaGOB

[2021-03-20 16:54] spapastamkou commented on #2053
I will keep this ticket open until I make the pull request for the lesson (which should not take much longer). I still have the visualisation problem in ```ph-submissions``` even with `mathjax: true` in YAML and I'll wait to see what will happen once I move the lesson in `jekyll`.

[2021-03-20 23:44] rivaquiroga commented on #2053
@spapastamkou, in `ph-submissions` you should be able to see them correctly.
I think the problem might be the delimeters that the author is using. For in-line formulas (like the ones from the screenshot) you should use `\(...\)`. When they are not in-line, you can use `$$...$$` or `\[...\]`.

[2021-03-21 07:42] spapastamkou commented on #2053
@rivaquiroga Thanks Riva, I'll try this suggestion as I check the syntax of the lesson (I had tested current delimeters in a LaTex editor and there it worked fine).

[2021-03-21 13:00] rivaquiroga commented on #2053
@spapastamkou , yes, on a LaTex editor `$...$` should work fine. But Mathjax don't use it because the dollar sign appears too often in other contexts (like when writing amounts of money).

Maybe we should explain what delimeters are allowed in the Author Guidelines.

[2021-03-21 15:32] svmelton commented on #1956
We can close this on my end—the English team tasks will be on my plate once the author has completed their edits.

[2021-03-21 22:08] spapastamkou commented on #2053
@rivaquiroga We may need to consider documenting the wiki, as this can be tricky. I put here an html block for which it took me some time to find the solution. In case math formulas are in a html block, must also insert a **div with a class mathjax**:
[code]

[2021-03-22 15:04] rivaquiroga opened #2082 "Python Lessons Maintenance: assessor's report"
We just received the report from our bug assessor regarding the Python Lessons. It covers the twenty lessons that have "Python" as a topic. There are other lessons that use Python, but they don't mention it as a topic, so we will have to leave them for a second round of assessment (my mistake :grimacing:).
Some of these lessons are already translated or are currently being translated, so @programm

[2021-03-22 15:14] DanielAlvesLABDH commented on #2082
Olá @josircg , @aracele , @daniellesanchesDH e @joanacvp ! Por favor, verifiquem se será necessário introduzir adaptações nas lições de Python que estamos a traduzir tendo em conta estas recomendações agora recebidas. Obrigado e Abraços!

[2021-03-22 15:15] hawc2 commented on #2030
Yeah, I just assigned it to myself, and the plan was @ZoeLeBlanc will bring it up at the meeting this Wednesday. There are some organizational decisions to make, but this seems like a pretty viable and sustainable option, if we can get a sponsor library on board

[2021-03-22 15:23] walshbr commented on #2082
A few other things to discuss (since I  can't make the call):

1. How do we want to address refactoring (changes to the code that are greater than surface level to make them more organized, as with the obo.py example)? I'm all for refactoring normally, but it will require more translation work. Not necessarily a bad thing, but it's important people know to check the surrounding text for all these

[2021-03-22 15:24] walshbr commented on #2082
Also this is great!  thanks for all this work. It's a big time-saver for us.

[2021-03-22 16:50] jenniferisasi commented on #1908
Done!

[2021-03-22 16:50] #1908 closed, assigned to jenniferisasi

[2021-03-22 20:00] DanielAlvesLABDH commented on #2074
@acrymble I noticed that the menu "Apoie-nos" in the PT version is no longer correct. There is only one sub-menu "Apoiadores" that directs to that specific section of our "Apoie-nos" page. Should we start to translate the pages? Should we make changes in the snippets.yml file to fix this?

[2021-03-22 20:05] rivaquiroga commented on #1995
@programminghistorian/technical-team, we are currently updating the guidelines in https://github.com/programminghistorian/jekyll/pull/2077. So this could be a good moment to introduce these changes.

[2021-03-22 20:17] pymentha commented on #2076
Hello @JoshuaGOB, my Gmail account is ricardo.pimenta@gmail.com

[2021-03-22 20:46] rivaquiroga commented on #2019
## ES Team Report

By: @rivaquiroga
Date: March 22, 2021

**Updates Since Previous Report:**
- The call for three new editors was published. It will remain open until April 30.
- We copyedited a lesson for the first time :rocket:
- We organized two workshops for Open Data Day with funding from the Open Knowledge Foundation. ~50 + ~30 people attended.

**Editorial work**
- 1 original lesson publish

[2021-03-22 22:07] spapastamkou commented on #2056
@icolab We are only an email-to-say-hi away from closing this ticket:-)

[2021-03-22 23:05] jenniferisasi commented on #2019
## Comms Team Report

By: @jenniferisasi
Date: March 22, 2021

**Updates Since Previous Report:**
- Updated 'bug feedback' pages
- Tweeted during events, which brought a lot of traffic on Twitter
- The call for three new editors for ES (with @rivaquiroga)
- Compiled updates for 1st Newsletter of 2021 #2054
- Helped ProgHist with fundraising plan

**3-month focus:**
- Fundraising communications pla

[2021-03-23 00:13] ZoeLeBlanc commented on #1995
Thanks for the heads up @rivaquiroga! Currently I'm planning to email Managing Editors to let them know about this change and then work with them to update their guidelines and templates. But knowing you're already making these changes means I should move faster (pretty much always the case!) since things are already moving.

[2021-03-23 00:17] ZoeLeBlanc commented on #1995
Now wondering if I should add updates to the lesson submission template to your draft PR @rivaquiroga or create a new PR 🤔

Probably a new one, unless you think this would make sense to add? Just let me know. Thanks 😊

[2021-03-23 00:56] rivaquiroga commented on #1995
A new one sounds fine. The update to the template doesn't require translation..

[2021-03-23 09:13] acrymble commented on #2019
# ProgHist Report

By: @acrymble Date: 23/03/2021

## Actions Completed Since Previous Report:

### Funding Related:

* IPP Pages update (French pages now live. Only PT to go)
* Middle band IPP level set at £400 and implemented
* Patreon - one off funding boost of about £300 due to tweaks to strategy. Remains a source of sustainable income.
* IPPs - now have 12 IPPs including new (Software Sustain

[2021-03-23 10:02] acrymble commented on #2074
@DanielAlvesLABDH thank you for pointing this out. I've made a pull request that I think fixes this.

[2021-03-23 11:43] spapastamkou commented on #1056
Just a reminder here that #2035 is on an editorial workshop for FR new editors as an idea to avoid delays in organisation of personal shadowing for each.

[2021-03-23 18:48] spapastamkou opened #2086 "Onboarding Checklist for French language publication editor: Célian Ringwald"
This is an individual onboarding Editor checklist for Célian Ringwald @datalogism. Nous te souhaitons la bienvenue, Célian!

---

## Welcome

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put together this information to help you get up to speed. It includes deta

[2021-03-23 19:16] icolab commented on #2056
Done, sorry, the message was in my draft... and I will be there tomorow for the call

[2021-03-23 19:58] #2056 closed, assigned to spapastamkou

[2021-03-23 20:21] lwrubel opened #2087 "TweetSets changes and updates to Beginner's Guide to Twitter Data"
I'm part of the team that maintains [TweetSets](https://tweetsets.library.gwu.edu), which is featured heavily in the lesson "[Beginner's Guide to Twitter Data](https://programminghistorian.org/en/lessons/beginners-guide-to-twitter-data)". (Thank you for including it! We appreciate it's been useful to researchers.)

Last week, we deployed a new release of TweetSets which has several UI and export f

[2021-03-23 20:59] spapastamkou commented on #2019
## FR Team Report 2

**Actions Completed Since Previous Report:**

3 editors onboarded - 2 in progress: #2065 #2086
1 [original lesson reviewed and author revised](https://github.com/programminghistorian/ph-submissions/issues/329); now under final editorial control #2053
1 translation [under review](https://github.com/programminghistorian/ph-submissions/issues/359), 1 to be reviewed (new FR editor

[2021-03-23 21:11] spapastamkou commented on #2087
Hi @lwrubel, thanks for your ticket. @svmelton is the EN team's Managing Editor and would be your main contact in the team. Sarah, we edited the lesson with @drjwbaker if this can help, please let us know in case you need contact details of the authors of the lesson.

[2021-03-23 23:36] ZoeLeBlanc commented on #1938
@jenniferisasi I'm struggling a bit to remember what each of those orientations means above ☝🏽

looking at a current lesson this is what iPad looks like vertically (which is already too crowded)
![Screen Shot 2021-03-23 at 7 33 39 PM](https://user-images.githubusercontent.com/8355129/112232342-c6f04d00-8c0e-11eb-8464-ca6f4d2ac897.png)
then iPad horizontal orientation
![Screen Shot 2021-03-23 at 7

[2021-03-23 23:49] ZoeLeBlanc commented on #1995
@walshbr wondering if we still think this change is necessary now that editors are the ones uploading submission files rather than authors merging directly into ph-submissions? Mostly just wondering at what stage editors would add the metadata back in 🤔

[2021-03-24 00:18] jenniferisasi commented on #1938
I think I do, now let's see if I can explain it with words, if not I'll draw it.

We want to keep horizontal as it is (iPad or computer) because if the screen is wide enough, it's good.

My suggestion was more for mobile, to make the list in the dark grey are look like the list on the clear grey area.

Instead of:
[code]
make it look like (for vertical, in small screens):
[code]

so that when ther

[2021-03-24 03:23] svmelton commented on #2019
## EN Team Report

By: @svmelton
Date: March 23, 2021

**Updates Since Previous Report:**

- 2 pieces back from copyediting and awaiting authors' final edits
- 2 new submissions received
- [1 piece](https://github.com/programminghistorian/ph-submissions/issues/348) at peer review
- [1 piece](https://github.com/programminghistorian/ph-submissions/issues/325) back from peer review

**Actions Remaini

[2021-03-24 10:33] acrymble opened #2089 "Deleting Lesson Request pages"
I propose deleting the various Lesson Request pages.

https://programminghistorian.org/en/lesson-requests
https://programminghistorian.org/es/solicitud-lecciones
https://programminghistorian.org/fr/appel-contributions
https://programminghistorian.org/pt/licoes-pedidos

This was started years ago when contributions were less forthcoming. It doesn't look like it works very well in terms of actually

[2021-03-24 11:06] walshbr commented on #1995
Most of it doesn't get added until right when it's moved over to the front-facing Jekyll repository, right? So I could see leaving it off the guidelines until that stage.

[2021-03-24 11:54] ZoeLeBlanc commented on #1938
Thanks for this clarification! It's super helpful and I still like the idea but I do have some hesitation after looking at a few translated lessons on mobile.

In this screenshot 👇🏽  from a recent translated lesson you can see that if `TRADUCIDO POR` was horizontal it would be impossible to keep it on the screen without having to wrap the names which would essentially give us a less readable list.

[2021-03-24 12:11] ZoeLeBlanc commented on #2019
# Technical Team Report

By: @ZoeLeBlanc

Date: 23 March 2021

Actions Completed Since Previous Report:

- We closed #1802  and PT went live. We know have DOIs as well 🎉
- We closed #1992 and added low contrast mode to the site
- #2016 is ready to be closed and officially removes Travis from our pipeline which was replaced by Github Actions (and saved us a third of operating budget every month 🙌🏽

[2021-03-24 13:02] drjwbaker commented on #2019
apologies, my previous meeting may overrun so I may be late :(

[2021-03-24 13:12] DanielAlvesLABDH commented on #2019
## Portuguese Team Report

By: @DanielAlvesLABDH
Date: 24 March 2021

**Substantive Actions Completed Since Previous Report**

- Finished onboarding for Jimmy Medeiros
- Blogpost and tweets to announce the new publication

**Substantive Actions Remaining Open Since Previous Report**

- Three lessons about Python translated from English (waiting for final revision from the translators)

**3-month f

[2021-03-24 13:16] jenniferisasi commented on #2089
Stopping by to say if we move ahead with this, we would need to delete a few tweets from the bot.

per meeting: if we do blog posts, then we can link switch the page-links on tweets to the blogpost-links

[2021-03-24 14:09] JoshuaGOB commented on #2065
Hi @giuliataurino I resent the invitation to our github repository as the old one had expired. Please let me know if you need any help with this.

[2021-03-24 14:18] acrymble commented on #1986
We've agreed that we will take this forward at our Project Team meeting #2019 and we will move to step 2 above.

[2021-03-24 14:25] drjwbaker commented on #2082
Related open ticket that this may close https://github.com/programminghistorian/jekyll/issues/1662

[2021-03-24 14:39] drjwbaker commented on #1827
Update: this got lost in some 'politics'. I need to find the time to make these applications. Maybe next week.

[2021-03-24 14:43] acrymble commented on #2089
Agreed at the meeting #2019.

I will take this forward.

[2021-03-24 14:49] drjwbaker commented on #2058
Apologies @rivaquiroga, I missed (3). Can the PH gmail be the point of contact? I monitor that.

[2021-03-24 15:08] jenniferisasi commented on #1938
No strong feelings about this; if you think it will be messier than now (that is not messy, just long) let's just forget I suggested the edits :)

[2021-03-24 15:10] rivaquiroga commented on #2082
@drjwbaker, I'm not sure if this ticket may close that issue, as #1662 is not really a bug. The changes required in that lesson are related to the need of greater clarity in one of the sections, not making changes to the code.

[2021-03-24 15:17] rivaquiroga commented on #2019
Something I forgot to ask to the @programminghistorian/technical-team: are there plans to update [the guide for making technical contributions](https://github.com/programminghistorian/jekyll/wiki/Making-Technical-Contributions ) now that we are using GitHub Actions? This guide is a key part of the onboarding process of new editors. Is there anything the rest of us can do to help?

[2021-03-24 15:25] spapastamkou commented on #2053
Problem resolved, so I sum up:
- for inline formulas, what worked here was: `\\(...\\)` (double antislash)
- for centered formulas, `$$...$$` worked fine
- in a html block, I had to create a `<div class="mathjax">`
Knowing that, I had checked @acrymble 's lesson on gravity models and there inline formulas with (unique) dollars worked fine.

This ticket will be closed with PR #2077

[2021-03-24 15:32] mariajoafana opened #2090 "Actions arising from March 2021 meeting"
PLEASE FEEL FREE TO ADD ANY ACTIONS I MIGHT BE MISSING

- [ ] @mariajoafana to coordinate a plan of timeframes for each one of the roles and start putting this into practice by finding a new Comms leader with @jenniferisasi to take over the role starting in January 2022 #1986

- [x] @rivaquiroga to run the second round of bug testing and engage with English team @svmelton @hawc2 #1777 This is also

[2021-03-24 16:04] drjwbaker commented on #2030
On perma.cc, having had [a look](https://perma.cc/about#perma-partners) the following people are at institutions that are already partners, though I note that in some cases it may be specific (law) libraries that may not provide support to all faculty.

- Princeton University Library, Princeton University @ZoeLeBlanc
- Arthur J. Morris Law Library, University of Virginia School of Law @walshbr
- T

[2021-03-24 16:17] ZoeLeBlanc commented on #2030
I'll reach out the Princeton but was planning to see about getting UIUC to join IPP anyways, so will ask about this with them too!

[2021-03-24 16:19] ZoeLeBlanc commented on #2030
Just to clarify @hawc2 & @drjwbaker is perma.cc free if a library sponsors us? Or does the library already need to be a member and then we just use it with their account? Mostly just wondering how much this costs the sponsoring library. Thanks!

[2021-03-24 16:20] datalogism commented on #2086
Hello @spapastamkou  and @JoshuaGOB,
proud to write my first message within PH :)
You have now my @datalogism
Concerning my gmail, i got this one : celian.ringwald1@gmail.com.
I will immerse myself in the reading 'Onboarding Process for New Editors' & 'Making Technical Contributions' for saterday :)
Have a sunny day !

[2021-03-24 16:21] drjwbaker commented on #2030
My read is that it is free for academic libraries to join, and then any faculty can use the account for any purpose. But my scan may be wrong! It may just be worth starting by asking your library about their perma.cc membership and how you can use it.

[2021-03-24 16:44] #1996 closed, assigned to nobody

[2021-03-24 16:45] rivaquiroga commented on #2082
We've agreed at our Project Team meeting #2019 that we will move forward only with the changes that involve fixing a bug. We thank the other suggestions, but they are "mayor changes" according to our[ DOI policy](https://github.com/programminghistorian/jekyll/wiki/The-Programming-Historian-Digital-Object-Identifier-Policy-%28April-2020%29) and we don't want to follow that path.

Next steps:
1. @ja

[2021-03-24 17:27] acrymble commented on #1986
People with roles affected by this (I'm guessing a bit on times roles began):

@acrymble - ProgHist Chair - began role c. May 2020
@ZoeLeBlanc  - Technical Lead - began role c. June 2020
@mariajoafana  - Project Manager at Large - began role c. May 2020
@jenniferisasi - Comms Lead - began role c. June 2019? - stepping down December 2021
@JMParr - Global Lead - began role c. June 2019?

---

Can I

[2021-03-24 17:34] acrymble commented on #2089
@jenniferisasi thanks. I've removed them from twitterbot.

[2021-03-24 17:40] hawc2 commented on #2030
I'm double-checking with a colleague, and can email perma.cc, but my
understanding is that a library, say Sussex Library, could become a member
for free, and register PH as a journal with the library and perma.cc. Then
we could add Organizational Users who work in the journal.

It seems like each of these Organizational Users wouldn't also have to work
at a member library of perma.cc, but I'm doub

[2021-03-24 17:46] walshbr commented on #2030
That's funny @hawc2 - I didn't realize it was a common thing. But the UVA Law Library is separate institutionally from the rest of our Library, and I similarly would not have access to their account.

[2021-03-24 17:53] hawc2 commented on #2030
My ID card doesn't even get me into the Law School/Library building! Pretty
sure it's the only building on campus for which that's the case. It is
strange.

But maybe our libraries will be more interested in being members with
perma.cc if our Law libraries already are?

On Wed, 24 Mar 2021 at 13:46, Brandon Walsh ***@***.***>
wrote:

[2021-03-24 18:25] giuliataurino commented on #2065
Hi @JoshuaGOB,
I think I might have missed the first invitation to the GitHub repo, but I correctly received this one!
@spapastamkou, would you mind sharing the link to the workshop planned for March 27th?
Thanks!

[2021-03-24 19:58] spapastamkou opened #2093 "Lesson banner issue"
The banner that indicates in which language a (translated) lesson is available presents a problem in the non-EN versions: where it should send to the EN page, it redirects to the ES (and indicates ES language). I put a screenshot of a FR translated lesson here, but I checked and the problem is present in ES and PT versions. FYI @programminghistorian/technical-team

![banner-issue](https://user-ima

[2021-03-24 20:47] jenniferisasi opened #2094 "Alert banner issue with Contrast"
![screen_shot_2021-03-24_at_4 18 05_pm](https://user-images.githubusercontent.com/11022533/112381056-85b87580-8cc0-11eb-8ede-6e79c837508c.png)

We found an issue in contrast/night mode with the alert banners; as you can see it is barely readable.

It should be an easy CSS fix.

[2021-03-25 08:44] drjwbaker commented on #2030
Yeah, I guess law libraries at US universities might be separate things, but thought I'd ping you all anyway just in case :)

[2021-03-25 11:16] walshbr commented on #2072
I'll collect the various elements we need to check and correct here as I go through them. And note that what I'm doing here is (in Chrome) opening developer tools, selecting lighthouse, and generating an accessibility report for each page. That's worth knowing because it tells you in that report how to correct a lot of these.

Pages I've checked so far (I think I got all the big buckets but if the

[2021-03-25 11:35] acrymble commented on #2072
@walshbr does this need £££?

[2021-03-25 11:45] walshbr commented on #2072
@acrymble I think if we wanted something much more thorough and comprehensive maybe? But I think the tech team can probably take care of this list if we're OK with just dealing with the lighthouse suggestions - none of these issues are too difficult…just a lot of small changes that we'll need to divide up so that they happen more quickly. I could take them all on myself but it would just take a wh

[2021-03-25 11:46] walshbr commented on #2072
Also note that most of the stuff flagged above is shared across pages, so if we address those all the pages will improve. But if there are large categories of pages or some that are more unique (like the about the team page) let me know - I can run the audit on those pages as well.

[2021-03-25 12:51] #2094 closed, assigned to walshbr, jenniferisasi

[2021-03-25 13:17] walshbr commented on #2047
Closing b/c this meeting happened.

[2021-03-25 13:17] #2047 closed, assigned to ZoeLeBlanc

[2021-03-25 13:22] #2093 closed, assigned to nobody

[2021-03-25 13:33] #2016 closed, assigned to ZoeLeBlanc

[2021-03-25 15:10] ZoeLeBlanc commented on #2072
Thanks for doing all of this @walshbr !!! This will be especially useful for the frontpage redesign #2020 .

Given the amount of things to do I'm wondering we want to schedule a call earlier than normal to break this up into discrete todos and discuss a game plan 🤔 ?

I feel like this would be a good time to both do some redesign work broadly, and also come up with a style guide documentation for

[2021-03-25 15:13] walshbr commented on #2072
re: a broader redesign - we can talk about that if you want, but I'm not sure I have the capacity to do a whole lot of broad redesign work. And I'm not sure it's necessary wholesale? I'm just always skeptical of redesigns unless they're for a specific purpose. But we could certainly talk about it.

Regardless we definitely should not start work on this unless / until we know whether we would be do

[2021-03-25 15:15] ZoeLeBlanc commented on #2072
Mostly the redesign I had in mind was for the front page and then standardizing what we already have across the site. Adding the color variables has started to help doing that but right now it feels pretty ad hoc, so just wondering if we could produce more of a style guide that would allow us to have some coherency (but that might just be a perfectionist tendency getting in the way of good enough!

[2021-03-25 15:18] walshbr commented on #2072
Yeah that could be good! I like that idea.

[2021-03-25 15:28] ZoeLeBlanc commented on #2072
Alright I think we'll start with chipping away at some of these tasks and then see if standardizing starts emerging as we go! @programminghistorian/technical-team feel free to start spinning out separate tickets for these todos above ☝🏽 and hopefully we can start working on improving accessibility over the next few months 🎉

[2021-03-25 17:54] #2089 closed, assigned to acrymble

[2021-03-27 16:54] DanielAlvesLABDH commented on #2076
@pymentha agora já pode marcar a opção "make a technical contribution" e passar aos outros pontos da secção "technical". Se tiver dúvidas sobre os próximos passos,  não hesite em perguntar. Abraço

[2021-03-29 14:59] drjwbaker commented on #1827
Update: DOAJ request made for ES an FR today. And I've prodded DOAJ to remind them of why and in what context (them rejecting and no answering our emails of protest which they later agreed were well-founded) we are resubmitting ES. I'll do PT when we have a little more in there.

[2021-03-29 23:32] jenniferisasi opened #2100 "Change menu bar from static top to fixed top"
We would like us to fix the menu bar to avoid endless scrolling up and down to navigate pages.

Things to make sure of before changing it:

- [ ] It doesn't interfere with accessibility (screen readers; maybe it helps?)
- [ ] It doesn't interfere with the PDF printing layout (that gets rid of the menu)

Some instructions [https://getbootstrap.com/docs/3.4/components/#navbar-fixed-top](https://getb

[2021-03-30 12:56] walshbr commented on #2100
It shouldn't affect screen readers, but it would pose general issues for someone using a screen magnifier - https://a11y.colorado.edu/node/303. It also shouldn't interfere with the PDF printing layout unless it overrides the print sheet css.

[2021-03-30 13:32] jenniferisasi commented on #2100
Thanks @walshbr! I/we'll take that into account. It looks like it is problematic when behaving in a certain way, so I'll try to figure if it is possible to fix it. And we might need to think about the 'donate' banner since having 2 poses issues (as per that link)

[2021-03-30 14:43] walshbr commented on #2100
Yep! Totally. Also happy to brainstorm with you on this.

[2021-03-30 19:20] hawc2 commented on #2030
Good news regarding perma.cc.

1) I can access perma.cc through Temple Law Library. @walshbr I'm curious what you'll find out about UVA's Law Library.

2) I heard back from perma.cc and it does sound like as long as one library, such as Sussex, is both an IPP for PH and a member of Perma.cc, then @drjwbaker could create an Org account for PH and add any of us PH editors as Org administrators for P

[2021-03-30 21:48] hawc2 commented on #2030
Update on migrating between institutions, from perma.cc support: "If you'd like to migrate an org from one registrar to another, you would just need to send in that request to the perma team and get permission from both the existing registrar and the intended registrar."

[2021-03-30 22:18] jenniferisasi opened #2102 "Broken link found in getting-started-with-markdown"
Our build system found a broken 404 link in "Getting Started with Markdown".

[https://stackedit.io/editor](https://stackedit.io/editor) no longer exists, and it looks like it has been replaced with [https://stackedit.io/app#](https://stackedit.io/app#)

I was going to do the simple edit, but upon reading the instructions that go with the link, I found that they no longer match with the app in que

[2021-03-31 04:33] spapastamkou commented on #2102
For the FR version, only the link has to change, I believe. I (as translator of the lesson) had updated the instructions to fit v.5 and they are in the separate block here: https://programminghistorian.org/fr/lecons/debuter-avec-markdown#la-syntaxe-markdown
The link was kept bcz v.4 was still live although no longer maintained and with a message sending to the app (this helped keep the link with t

[2021-03-31 07:38] drjwbaker commented on #1827
Update: DOAJ rejected us, this time on different grounds ("This application is not for a scientific journal, but for a blog of lessons and tutorials"). I've written to tell them the backstory (and cc in all the DOAJ people who know the backstory) and to thoroughly reject their characterization of our work, including @acrymble's comment above. I tried not to be too grumpy in the email, but I am gru

[2021-03-31 07:56] drjwbaker commented on #2030
@hawc2 Great digging! Will you reply on our behalf via Temple Law Library (ideally using programminghistorian@gmail.com, though I appreciate you probably don't have access - but you can have it)? Or would you like me to? (if I can via your library)

[2021-03-31 08:40] acrymble commented on #1827
This is frustrating. But it looks to me like they've rejected it on exactly the same grounds as the original application:

I don't think we should spend more time on this application. We don't have any evidence that it increases our audience, funding, or mission. It's more of a trophy of acceptance.

[2021-03-31 08:50] drjwbaker commented on #1827
@acrymble Last time we were rejected for not having an ISSN. DOAJ have just replied saying that we were rejected by an automated process. I'm willing to persist with this as a matter of principle: we can't have the EN publication in DOAJ but not the ES/FR/PT. It isn't right. Either they accept our other publications, or they remove the EN publication.

[2021-03-31 14:41] hawc2 commented on #2030
@drjwbaker Do you mean I should set up an Org account for PH through Temple's account?

If I can have access to the gmail account, I'm happy to begin a separate conversation directly with perma.cc user support about the various options we're considering for using their service for the journal.

[2021-03-31 14:44] drjwbaker commented on #2030
Okay. I'll email you the gmail details. If you could do it now(ish) I can be sure to approve the login when the big WARNING sign flashes up on my phone :) (google authentication has caused problems before when sharing access)

[2021-03-31 15:02] DanielAlvesLABDH commented on #2102
I will ask @joanacvp to contact the colleague that is translating this lesson to Portuguese so that he can incorporate that fix.

[2021-03-31 15:13] joanacvp commented on #2102
I already contacted the author and asked him to incorporate that fix. Thank you for the attention

[2021-03-31 20:07] jenniferisasi commented on #2102
Merci @spapastamkou. I'm wondering how to edit everything, cos there is no need maybe for the instructions in version 4, just go with the new way. I see that in Spanish the url is the new one but the instructions don't match. All of us should change to something like: download this document and upload it to the editor with "Import Markdown"?

[2021-03-31 21:33] rivaquiroga commented on #2102
Thanks, @jenniferisasi!
Maybe we can put the link to the raw version of the .md file and ask people to copy paste the content into Stack Edit. I'm not sure if everyone will know how to download a file from GitHub.

[2021-03-31 21:53] spapastamkou commented on #2102
@jenniferisasi Ok, I see what you mean, I just checked better. The instructions for v.4 are indeed in the text because the version was still functionning although obsolete and with a message in the interface saying there was v. 5 available. So we should delete these instructions, yes. And for the FR version we can move the instructions that are now in the block in the main text.

@rivaquiroga The

[2021-04-05 21:17] mariajoafana commented on #2019
I've added your question to ticket #2090 so we can discuss it in the next meeting if not sooner. I'm going to close this now

[2021-04-05 21:17] #2019 closed, assigned to mariajoafana

[2021-04-05 21:18] mariajoafana opened #2103 "May 25 2021 Project Team Zoom Call"
May 2021, Time is 9:00 AM - Colombia, Mexico; 10:00AM EDT; 3:00 PM - London, Portugal; 4:00 PM CET - Paris. @mariajoafana will be facilitating the call. The meeting will start with our Annual PH Meeting #2049

You can use this time converter to double-check the time of the meeting in your time zone: https://www.timeanddate.com/worldclock/

Zoom invitation:
https://universityofsussex.zoom.us/j/9346

[2021-04-06 08:15] acrymble commented on #2036
Correction for the previous minutes (to save time):

Agenda item 9. I'd like this to say that the board voted and approved in principle that we will be hiring when we have the money to do so. There was a vote and we need to minute that.

[2021-04-06 08:22] #1956 closed, assigned to amsichani

[2021-04-06 08:24] acrymble commented on #1986
I haven't had any volunteers. @nabsiddiqui @JMParr are you available to join a working group on how to appoint these roles in future? It will involve a few zoom calls and a google doc, most likely.

[2021-04-06 11:58] nabsiddiqui commented on #1986
@acrymble Yes, I can but it will have to be after this month (even May 1st is fine).

[2021-04-06 20:36] #2045 closed, assigned to spapastamkou, InesSalome

[2021-04-06 20:36] #2035 closed, assigned to spapastamkou

[2021-04-06 20:54] DanielAlvesLABDH commented on #2076
Olá @pymentha , alguma dúvida? Precisa de ajuda?

[2021-04-06 22:01] spapastamkou commented on #2102
There is also a broken link in this post: https://programminghistorian.org/posts/promoting-digital-archives.html The [link](https://www.bodleian.ox.ac.uk/__data/assets/$1) has not been archived anywhere from what I see, I propose we only keep the generic link of the Bodleian.

[2021-04-07 14:43] drjwbaker commented on #2036
Actions arising from the meeting today:

- [x] @drjwbaker to circulate minutes to members.
- [x] @drjwbaker to email Directors re charity registration documents.
- [ ] @rivaquiroga to update wiki and editorial guidelines on bug fixing in line with new process.
	- @rivaquiroga: I'm happy to work on this with you if you want help [says @drjwbaker!]
- [x] @acrymble to ask PT team about clear structur

[2021-04-08 13:28] acrymble opened #2106 "link checker to ignore blog"
Can we please have our link checking service that activates on pull requests just ignore broken links in the blog? They aren't really core maintenance priorities and they really slow down simple updates. Asking @programminghistorian/technical-team if this is easy to do?

[2021-04-08 13:30] walshbr commented on #2106
I think that should be possible. Does that make sense for you @ZoeLeBlanc?

[2021-04-09 17:11] acrymble opened #2107 "Javascript in banner ok?"
We're about to advertise our GoFundMe campaign, and the GoFundMe site has a javascript/html-based button that I thought we could add temporarily to our support us banner at the top of the site. But I wasn't sure if this would be ok from a security and jekyll standpoint. The code is:

`<div class="gfm-embed" data-url="https://www.gofundme.com/f/building-a-multilingual-programming-historian/widget/m

[2021-04-11 16:45] datalogism commented on #2086
@JoshuaGOB can you add me to the gitlab team ? I need to be yours for beginning my first edition task :) Thank you by advance

[2021-04-11 17:24] aracele commented on #2082
Oi Daniel, desculpa a demora em responder! Eu trabalhei com as lições **2.Understanding Web Pages and HTML** e **3.Working with Text Files in Python**, então pelo que conferi não vou precisar fazer revisão, correto?

[2021-04-11 19:11] spapastamkou commented on #2086
Let me know if you need further help for adding your bio once the github access is ok, @datalogism

[2021-04-11 19:28] datalogism commented on #2086
Allright @JoshuaGOB thank you so much !

[2021-04-11 19:35] JoshuaGOB commented on #2086
Hello @datalogism and welcome. You should be setup with everything you need. Feel free to let me know if any of the invites didn't work.

[2021-04-12 11:37] josircg commented on #2082
@DanielAlvesLABDH ainda não trabalhamos com nenhum desses artigos em português. Acredito que quando formos trabalhar nelas, a versão em Inglês já estará corrigida.

De qq forma, antes de fazer o commit, eu sempre testo os códigos existentes para ver se não há nenhum erro.

[2021-04-13 19:15] DanielAlvesLABDH commented on #2082
@aracele e @josircg obrigado pelos esclarecimentos. Estive a olhar melhor a lista de ficheiros alterados e realmente não afecta o nosso trabalho para já. Abraço

[2021-04-14 07:40] drjwbaker commented on #1827
DOAJ have accepted both the ES and FR publications. I will now work through getting the backlog of articles on there, and when doing March/September updates do so for all three publications (per https://github.com/programminghistorian/jekyll/wiki/Service-Integrations#directory-of-open-access-journals-doaj)

At some point we'll need to add the PT edition as well, but I suspect we should wait until

[2021-04-14 07:40] #1827 closed, assigned to drjwbaker

[2021-04-14 08:14] acrymble commented on #1827
Well done @drjwbaker

[2021-04-14 13:44] jenniferisasi commented on #1827
Thank you for fighting this fight, @drjwbaker!

[2021-04-14 15:02] rivaquiroga commented on #1827
This is great news! Thank you, @drjwbaker!

[2021-04-14 15:06] DanielAlvesLABDH commented on #1827
Thanks for the good news and the hard work @drjwbaker !

[2021-04-14 22:01] spapastamkou commented on #2042
@mariechristineb Je crois que ce ticket répond à la question 2 posée dans le [ticket d'évaluation](https://github.com/programminghistorian/ph-submissions/issues/364). Si tu as la possibilité, tu serais la personne idéale pour faire un premier jet pour la partie 2/A qui porte sur les variétés linguistiques. On pourrait peut-être aussi dialoguer avec l'équipe PT qui font face à de telles problématiq

[2021-04-14 22:16] spapastamkou commented on #2082
Pour info @mariechristineb @datalogism @icolab (si cela aide aussi pour [#364](https://github.com/programminghistorian/ph-submissions/issues/364)).

[2021-04-16 10:07] drjwbaker opened #2108 "Filing with Information Commissioner's Office"
Just recording that yesterday I filed with the [ICO](https://ico.org.uk/) (the body that regulates data protection law in the UK) that ProgHist Ltd is exempt from paying a data protection fee to the ICO, the reason being we are a not-for-profit.

For info:

- I did the self-assessment [here](https://ico.org.uk/for-organisations/data-protection-fee/self-assessment/).
- I filed [here](https://ico.or

[2021-04-16 10:07] #2108 closed, assigned to drjwbaker

[2021-04-18 16:30] #1857 closed, assigned to mariajoafana

[2021-04-18 16:31] #1056 closed, assigned to nobody

[2021-04-18 16:32] #1849 closed, assigned to drjwbaker

[2021-04-18 16:33] #1909 closed, assigned to ZoeLeBlanc, mariajoafana

[2021-04-19 12:55] #2102 closed, assigned to svmelton, jenniferisasi, spapastamkou, rivaquiroga, DanielAlvesLABDH

[2021-04-20 06:50] spapastamkou opened #2110 "Update internal links in FR translated lessons"
Ces leçons comptent parmi les premières que nous avons publié en français. Elles contiennent des liens vers d'autres leçons du PH qui, à l'époque, n'étaient pas traduites en français, mais elles l'ont été entretemps. Il faut donc remplacer a) les liens b) les titres des leçons présents dans le texte pour renvoyer aux traductions FR. En français: les titres des leçons auxquelles il faut intervenir;

[2021-04-20 15:01] twitu opened #2111 ""Reshaping JSON with jq" is missing link to json object shown in examples"
If you are reporting a problem with a lesson, please try to provide us with the following information:

- The full title of the lesson
Reshaping JSON with jq

- The system you are using (Mac, Linux, Windows)
Mac

- Version numbers of the relevant software you are using
https://jqplay.org/ vesion 1.6 (current)

- The exact steps you took that caused the problem
The page runs filters on an example J

[2021-04-21 14:58] #2107 closed, assigned to acrymble

[2021-04-23 14:36] dnocera99 opened #2112 "Broken link"
I encountered an error when I tried to navigate to The Programming Historian using this link: [https://programminghistorian.org/en/lessons/creating-network-diagrams- from-historical-sources]

[2021-04-23 14:39] svmelton commented on #2112
Hi,
It looks like there's an extra space in the URL you posted. The correct link is https://programminghistorian.org/en/lessons/creating-network-diagrams-from-historical-sources.

[2021-04-23 14:39] #2112 closed, assigned to nobody

[2021-04-24 09:31] spapastamkou commented on #2086
@datalogism Especially since you started contributing with reviews etc it would be good to go forward with this ticket and finish with remaining tasks. Thanks!

[2021-04-24 16:04] mariechristineb commented on #2042
@spapastamkou Effectivement, c'est de ça dont je parlais. Je pense qu'il sera important d'avoir une politique claire à ce sujet. Il y a aussi la question de l'écriture inclusive qui mériterait notre attenion - ça ne s'applique pas trop à l'anglais, mais la version espagnole a une section dont on pourrait sûrement s'inspirer.

[2021-04-24 17:25] spapastamkou commented on #2042
C'est notre équipe qui a initié l'écriture inclusive, en fait:-) Les principes sont dans le wiki: https://github.com/programminghistorian/jekyll/wiki/French-Translation-Documentation#%C3%89criture-inclusive et bien sûr le but est aussi de les intégrer aux consignes, maintenant que nous les reprenons.

[2021-04-25 12:47] datalogism commented on #2086
I will finish it during the week, i have been busy last week but i didn't forget it !

[2021-04-26 16:07] drjwbaker commented on #1827
Just noting here that I've added all the historic ES/FR journal data to DOAJ: ES https://doaj.org/toc/2517-5769 FR https://doaj.org/toc/2631-9462 (hit the articles tab to see the listings)

[2021-04-28 14:33] datalogism commented on #2086
@spapastamkou  i add some trouble with the add of my bio on  /data/ph_authors.yml and the add my photo on  /avatars.
i was thinking that it was about the name of the photo, and i duplicated a pull request... can you help me on theses points ?

[2021-04-28 14:48] spapastamkou commented on #2086
@datalogism Pas de souci:-) Je vais voir ce qui se passe et te fais signe là-bas.

[2021-04-28 16:37] datalogism commented on #2086
@spapastamkou @JoshuaGOB  As this ticket is still open i am taking advantage of the opportunity to report a problem that i got with my gmail account.
I can no longer access to celian.ringwald1@gmail.com, for this reason i needed to inform you about my new gmail adress :
ringwald.celian@gmail.com.

[2021-04-30 07:09] drjwbaker commented on #2030
@hawc2 How are you getting on with this? Need a hand?

[2021-04-30 08:13] drjwbaker opened #2119 "Recognising former IPPs"
One of our IPPs (Institute of Historical Research) is no longer able to support us. I'm wondering how best to recognise their support whilst also ensuring our ongoing IPPs are most prominent.

So, looking at https://programminghistorian.org/en/supporters, I suggest moving Institute of Historical Research to the bottom of the list, and adding `[2020-2021]` like we do for grants on the same page.

@

[2021-04-30 12:18] acrymble commented on #2072
@walshbr happily, I've got some funding from UCL's Faculty of Arts & Humanities to support some of this work. They've agreed to pay Dr Amy Kavanagh (https://amykavanagh.co.uk/) who is both a historian and a disability rights activist, to take a look at the wider project and make recommendations on supporting visually impaired users in particular. She's going to try to send us a report in the next

[2021-04-30 12:56] jenniferisasi commented on #2119
That sounds good to me @drjwbaker. And to avoid too many brackets and numbers, I suggest we still don't add the [year-Present] to the others (in case you thought about doing it). In the future, as the lists grows both on adds-on and drops, we can create a "past members" inside Institutional Partners section.

[2021-04-30 12:59] drjwbaker commented on #2119
I thought to just add the dates to the *previous* IPPs. I guess the question is if we want a 'past members' section now, or just to move past members to the bottom (hopefully we won't accumulate too many past members!)

[2021-04-30 13:08] jenniferisasi commented on #2119
Yes, that's exactly what I meant :)

Dates only on _previous_ IPPs and "past members" only if the list grows (hopefully not!)

[2021-04-30 13:20] walshbr commented on #2072
That sounds good!

[2021-04-30 14:24] acrymble commented on #2119
can we ask Martin Eve what they do for OLH?

[2021-04-30 14:33] drjwbaker commented on #2119
Looking at https://www.openlibhums.org/plugins/supporters/ OLH have either never had a supporter leave or just scrub them when they do. @MartinPaulEve (with apologies for the cheeky direct ping), right?

[2021-04-30 14:50] MartinPaulEve commented on #2119
Hi all,

We only list "active" supporters. Perhaps ungracious...(!)

Best wishes,

Martin

[2021-04-30 17:53] spapastamkou commented on #2048
Are we going forward with this?

[2021-05-01 14:48] InesSalome commented on #2042
J'ai commencé à compléter mes parties sur le fichier [consignes-auteurs.md](https://github.com/programminghistorian/jekyll/pull/2114/commits/b2ce23b5c4eebd6be4e486355ed25b74e8a61921) ("Dates et heures", "En-têtes" et "Listes"). J'ai parfois laissé plusieurs possibilités (notamment pour la question de l'écriture des décennies ou des heures), mais dites-moi si vous préférez restreindre. Je ne suis p

[2021-05-03 07:12] #2086 closed, assigned to spapastamkou

[2021-05-03 16:21] mariechristineb commented on #2042
@spapastamkou ah voilà! J'avais bien vu cette page sur le wiki dans le passé, mais je ne l'avais plus du tout en tête quand j'ai jeté un coup d'oeil aux consignes aux auteurs :)

[2021-05-03 18:19] #2110 closed, assigned to spapastamkou

[2021-05-03 19:00] spapastamkou commented on #2042
Merci à toutes les deux.
@InesSalome On va partir sur la base qu'on fait chacun(e) confiance à l'autre pour les parties respectivement en charge, et on peut bien sûr discuter de tout ce qui nous pose problème (voire demander l'avis de toute l'équipe). Je pose ici les liens de la documentation officielle que j'utilise souvent et qui, en la mobilisant, peut répondre à la plupart des questions qui se

[2021-05-03 19:04] hawc2 commented on #2030
Temple's Law Library has held up actually creating a Programming Historian
account but I'm starting to experiment with our department's blog. I'll try
to move things forward on my end and follow up. I could definitely use help
evaluating how this would be best tested and used for PH. It's going to be
quite time consuming

On Fri, 30 Apr 2021 at 03:09, James Baker ***@***.***> wrote:

[2021-05-03 19:07] spapastamkou commented on #2042
@InesSalome Pour "inline code font", je crois qu'il s'agit d'éviter des balises de mise en forme imbriquées dans h, du coup ta traduction m'a l'air pertinente, si elle te va.

[2021-05-04 07:46] drjwbaker commented on #2030
Okay.

Too time consuming to be worth it? I guess what we are suggesting here is a) all future articles use perma.cc for link b) when link rot occurs in published articles, perma.cc is used to fix links (that is, we aren't going to go through and make perma.cc links for all published articles)

Right?

[2021-05-04 12:28] drjwbaker commented on #2119
Okay. We'll use this..

..approach in the future, and move to the "ungracious" :) approach if it becomes unwieldy.

[2021-05-04 12:28] #2119 closed, assigned to drjwbaker

[2021-05-04 18:39] InesSalome commented on #2042
@spapastamkou Merci pour les références, je prendrai le temps de regarder par rapport à ce que j'ai trouvé. Ok pour "inline code font", on peut laisser la traduction telle quelle alors :)

[2021-05-04 21:55] jenniferisasi opened #2120 "Update research + Add article by Alves to Research"
I just read @DanielAlvesLABDH's "Ensinar Humanidades Digitais sem as Humanidades Digitais: um olhar a partir das licenciaturas em História" and it includes a section on Programming Historian, so I think it should go on our research page.

[2021-05-04 22:22] DanielAlvesLABDH commented on #2120
Thanks @jenniferisasi

[2021-05-04 22:23] DanielAlvesLABDH commented on #2076
Olá @pymentha podemos avançar com isto? Abraço

[2021-05-05 14:21] hawc2 commented on #2030
I got the PH account set up through Temple Law Library now. I can request
any PH edit to be added - I just need names and emails. I sent a separate
email to you James to discuss.

Agreed our goals are a) and b) first and foremost, but I'm not sure if b)
is something you can do retroactively in some cases? Doing it for all
published articles might be a good long term goal, but we should see about
a

[2021-05-05 14:25] jenniferisasi commented on #2120
In updating the 'research' page to include the article by Daniel Alves, I realized we haven't updated it in a while with our multiple presentations in 2021. Although the branch name has Alves in it, I will use it do to a PR with everything I can collect.

[2021-05-05 15:04] ZoeLeBlanc commented on #2030
Thanks for getting this setup Alex 👏🏽 !

No set number on how often this happen, but I do think it's easily once every month or so that we find a broken link for various reasons.

I agree that focusing on future and current breaking links is the right direction and that we can over time move all lessons to using perma.cc. I think an additional next step is writing up documentation for editors to u

[2021-05-05 15:46] drjwbaker commented on #2030
Two thoughts (that came up in an email thread with @hawc2 ):

1) we should align this with @rivaquiroga's Lesson Maintenance Workflow https://github.com/programminghistorian/jekyll/issues/2058

2) maybe the correct approach here to ask MEs for a list of active editors who need accounts? (and then add getting an account to the onboarding process) Alternatively, might editors log into perma.cc via t

[2021-05-05 15:47] drjwbaker commented on #2030
And thanks @ZoeLeBlanc for contributing. I'm aware that it is often @programminghistorian/technical-team members who resolve issues with broken links.

[2021-05-06 16:33] #2002 closed, assigned to walshbr, jenniferisasi

[2021-05-10 10:18] drjwbaker opened #2123 "ProgHist Ltd Board of Directors Meeting 22 July 2021"
## ProgHist Ltd Board of Directors Meeting 22 July 2021

Time is [13:00 UTC](https://www.timeanddate.com/worldclock/fixedtime.html?iso=20210407T1300). @drjwbaker will be facilitating the call.

Chair: @acrymble
Secretary: @Anisa-ProgHist
Members: @drjwbaker @svmelton @spapastamkou @amsichani @rivaquiroga @drjwbaker
Minutes of the last meeting: [2021-04_ProgHistLtd-BoD.docx](https://github.com/prog

[2021-05-10 12:42] acrymble commented on #1938
@ZoeLeBlanc I have a student about to start on testing lessons for us. I don't need the display ready so there's no hurry on closing this. But can you please tell us the YAML format so that we can start adding the metadata correctly as we go?

Just a simple example of use is great.

[2021-05-10 18:15] hawc2 commented on #2030
Update on for providing access to perma.cc.: all PH members can now access our perma.cc account through our programminghistorian@gmail.com account. @drjwbaker has the account access info.

Agree with @ZoeLeBlanc we should create documentation this summer for using perma.cc.

For now, we'll plan to test it out on specific broken links?

I'm happy to help lead the effort but will need some onboardin

[2021-05-10 22:34] ZoeLeBlanc commented on #1938
@acrymble the branch is just waiting for Spanish translation so hopefully we can get that in the next few days.

The update for the lesson yaml will be adding these fields to existing ones:
[code]
If your student has feedback on the formatting, would be happy to tweak things and let me know if they have more questions.

[2021-05-11 07:34] drjwbaker commented on #2030
I've added this to the service integrations https://github.com/programminghistorian/jekyll/wiki/Service-Integrations

[2021-05-12 02:09] rivaquiroga commented on #2082
@jairomelo, ¿cómo vas con esto?

[2021-05-12 04:24] jairomelo commented on #2082
Hola @rivaquiroga Ya tengo listo el branch desde hace un rato y se me había olvidado pedirte el permiso para hacer el push :(

[2021-05-12 07:45] acrymble commented on #2106
I think this is becoming a larger issue that needs re-thinking. We've now got problems of retired lessons also being checked, and the burden of fixing these is unequally falling on some people.

It's contributing to a long backlog of pull requests not getting actioned, and it's really part of our lesson maintenance commitment, not our day-to-day updating the website with simple changes workflow.

[2021-05-12 10:34] drjwbaker commented on #2106
@acrymble See also https://github.com/programminghistorian/jekyll/issues/2030 There are related issues here.

[2021-05-12 11:57] acrymble commented on #2065
@spapastamkou I've just gone through the members page and @giuliataurino is still not listed there. Can you help her get her profile up please?

[2021-05-12 17:18] JoshuaGOB commented on #2065
Hi @spapastamkou and @acrymble, I just resent the invitation and it appears the account is now in.

@giuliataurino Please let me know if you can now complete this task:

- [ ] make a technical contribution on your own using that ticket. This will normally be adding your bio to the /data/ph_authors.yml file, and uploading a square black and white avatar (.png) of yourself to /avatars. You will then

[2021-05-12 17:29] JoshuaGOB commented on #2076
Olá @DanielAlvesLABDH Revisei a tarefa obrigatória de fazer uma contribuição técnica e @pymentha já fez. Depois de associar com um editor existente, podemos fechar o ticket.

[2021-05-12 20:53] rivaquiroga commented on #2082
@jairomelo, si me indicas cómo se llama la rama de tu fork en la que están los cambios, puedo abrir el pull request directamente.

[2021-05-12 23:00] ZoeLeBlanc commented on #2106
We can have the link checker ignore the blog though we should probably add some documentation somewhere that those links may or may not work. It's also turning out that there's some issues into how we formatted the link checker so trying to fix it now and hopefully that will solve some of this backlog.

[2021-05-13 07:33] acrymble commented on #2030
I wanted to check about perma.cc

Does it mean we no longer link to the live web but instead to archived snapshots? If so there are potential problems for links to frequently updated pages (e.g. wikipedia) that we have used to always provide the most recent knowledge, or to software download sites (again, pointing to the latest version rather than the page at time of publication).

If so then I th

[2021-05-13 09:52] drjwbaker commented on #1671
A revised application has now been submitted. We can expect an answer in 2/3 months. If any small issues arise, West & Berry will handle/triage them.

[2021-05-13 11:03] spapastamkou commented on #2065
Thank you @acrymble and @JoshuaGOB.
@giuliataurino Please let me know if you need any help to complete the tasks here, which is necessary for your eventual integration in the team. Feel free to write me for any problem if you prefer. Thank you very much.

[2021-05-13 15:05] hawc2 commented on #2030
That's a great point @acrymble. In other words, perma.cc may help deal with "link rot," but it could pose an obstacle to PH taking advantage of "link growth"

[2021-05-13 15:31] walshbr commented on #2072
I've been chipping away at these - the plan is for me to do as many of the general checks as I can, and then I'll talk with the tech team about handing off remaining things at a summer meeting. I've done a bunch of them already (as you can see from the checkboxes above).

[2021-05-13 15:45] walshbr commented on #2072
I'm moving onto the contrast issues now, though, and one issue is a little dicey. These are issues for people who have difficulty distinguishing text that has lower contrast with the background color. The shade we used for the PT logo fails contrast tests everywhere there is white text on it, which is pretty much everywhere. The two options for fixing it are:

a) change the color of the PT brandin

[2021-05-13 15:53] walshbr commented on #2072
We can also wait on this @acrymble until after the person you contacted has a chance to look at the site. Sorry - didn't mean to shift things under them. Just suddenly had a lot more time after my semester ended and was trying to get to things that had been on my list for a while!

[2021-05-13 15:57] acrymble commented on #2072
No need to wait @walshbr. PH has to fit around all of our lives. I'm grateful for the effort you've put into accessibility.

[2021-05-14 13:22] walshbr commented on #2020
Going to remove myself from this ticket since I'm leaving at the end of the summer and assume work will be ongoing on it. I'm trying to prioritize finishing other tickets of mine.

[2021-05-14 16:13] acrymble commented on #2074
@DanielAlvesLABDH you had a very busy day today! I see you now have 7 published lessons. Is there someone on the @programminghistorian/portuguese-team you would like me to work with on updating these support pages so that they are the same as the other language teams?

[2021-05-14 18:44] walshbr commented on #2072
Okay I think my work on this is done for now once the remaining pull requests are merged! Remaining work on the accessibility audit:

- [ ] we should consider using only blue alert/warning boxes instead of the current (green/red/blue). This can be fixed with a CSS fix to adjust the colour of the red and green ones.
- [ ] we should consider adopting icons to differentiate between different alert/wa

[2021-05-14 18:51] DanielAlvesLABDH commented on #2074
Hi @acrymble , once you mention this a couple of moths ago, @JimmyMedeiros82 offer to help in the translation of those pages. Jimmy, a oferta ainda está de pé? Abraço

[2021-05-14 18:56] DanielAlvesLABDH commented on #2006
Hi @walshbr , we now have 7 lessons live! Maybe it is time to include things on the Twitter bot. Let me know about the next steps. Do we have documentation about that?

[2021-05-14 18:57] DanielAlvesLABDH commented on #2076
Obrigado @JoshuaGOB. É preciso que o @pymentha nos diga se está pronto para a próxima fase. Abraço

[2021-05-14 19:26] walshbr commented on #2006
Yep! @DanielAlvesLABDH It's in the Author Guidelines - https://programminghistorian.org/en/editor-guidelines#6-incorporate-your-lesson-into-our-twitter-bot. I just added you to the spreadsheet - let me know if it didn't go through. I made a tab for Portuguese. The first step is for you to fill in the first three columns on that tab. You can look at the tabs for the other lessons for guidance, but

[2021-05-14 21:37] DanielAlvesLABDH commented on #2006
Thank you @walshbr. I already asked @joanacvp and @daniellesanchesDH to take a look and add the info in the spreadsheet.

[2021-05-15 12:45] acrymble commented on #1986
3. A group of 3 people come up with a plan for how this all works in practice, taking into account issues such as sabbaticals, family leave, illness, if more than one person wants a role, if no one wants a role, if we want to change/remove a role, etc.

## Proposed solution (that I hope takes into ideas expressed above):

- As the affected roles are currently occupied by people on undefined terms,

[2021-05-17 12:32] JimmyMedeiros82 commented on #2074
A oferta segue de pé, @DanielAlvesLABDH

[2021-05-17 12:39] DanielAlvesLABDH commented on #2074
Obrigado @JimmyMedeiros82. Hi @acrymble, Jimmy has agreed to collaborate in this. If you need any help from me please let me know.

[2021-05-17 16:14] walshbr commented on #1932
I worked more on the onboarding docs today that came out of the collective experience of working with the three new English editors and sent them to @svmelton to check out just now. More soon.

[2021-05-18 08:38] acrymble commented on #2072
https://kdl.kcl.ac.uk/accessibility-statement/

This looks like a very comprehensive DH approach to accessibility so I wanted to share it.

[2021-05-18 12:18] acrymble commented on #2036
@rivaquiroga @drjwbaker did that last action get done? I know sometimes these lists are forgotten.

[2021-05-18 12:24] walshbr commented on #2072
Ah this is interesting. I have some thoughts to discuss with the tech team on it. I like that it explicitly mentions non-compliance with certain things, rather than pretending like they don't exist. A lot of the things in that report are covered by what I have in the list above - but not everything.

[2021-05-18 14:34] drjwbaker commented on #2036
not sure on the maintenance workflow

[2021-05-18 18:04] jairomelo commented on #2082
Hola @rivaquiroga Ya hice el pull request hace unos días, pero no sé si ya lo pudiste ver o tal vez me salté un paso...

[2021-05-19 16:27] acrymble commented on #2074
Thank you @JimmyMedeiros82 I will be in touch after our AGM on 25 May to discuss this. I hope it will be easy.

[2021-05-20 13:27] JimmyMedeiros82 commented on #2074
All right @acrymble . I await your contact.

[2021-05-25 01:47] rivaquiroga commented on #2036
@acrymble, I have a raw draft for both.
It looks like a better idea to wait until we hire the Publishing Assistant to move forward with this. Lesson maintenance will be part of their tasks, so working together in updating the guidelines and wiki might help them to get involved/familiar with the process.

[2021-05-25 12:40] ZoeLeBlanc commented on #1938
Closed with PR #1994

[2021-05-25 12:40] #1938 closed, assigned to ZoeLeBlanc, jenniferisasi

[2021-05-25 13:20] ZoeLeBlanc commented on #2103
# Technical Team Report

By: @ZoeLeBlanc

Date: 25 May 2021

Actions Completed Since Previous Report:

- We closed #1938, so we now have yaml metadata for lesson testing
- We closed #2093 that fixed some of the logic problems we had with lesson banners, removing the yaml field redirect_from and rewriting our translations logic.
- We closed #2094 that tweaked our nightmode for color contrast (thank

[2021-05-25 13:59] spapastamkou commented on #2103
## FR Team Report 25 May 2021

**Actions Completed Since Previous Report:**

1 editor onboarded - total of 4 new onboarded
1 original-first lesson published
2nd original lesson received - ready to review
3 translations under review
Training workshop for new editors took place on 27 March

**Actions Remaining Open Since Previous Report:**
FR Copy Editing Chart: in progress
1 translation proposal re

[2021-05-25 14:00] rivaquiroga commented on #2103
## ES Team Report

By: @rivaquiroga
Date: May 25, 2021

**Updates Since Previous Report:**
- We received 13 applications for new editors. We are currently shortlisting the candidates.
- @jenniferisasi and @rivaquiroga gave a talk + workshop at INTELE about PH.

**Editorial work**
- 3 original lessons being edited (one is currently under copyediting)
- 2 translations being edited
- All the proposal

[2021-05-25 14:10] walshbr commented on #2072
Just a note for @programminghistorian/technical-team to say that @acrymble shared the accessibility report from Dr. Amy Kavanagh with me. I reviewed it briefly - some of it is addressed by work I already did associated with this ticket, and some is captured by the remaining issues outstanding above. There are a few things from it that are more substantial to discuss at our next meeting as we discu

[2021-05-25 14:18] JMParr commented on #2103
**Global Team Report**
By: @JMParr
Date: May 25, 2021

Updates Since Previous Report:

- Members of the team have presented on The Programming Historian and multilingual DH at NewsEye International (March), Cambridge (CRASSH) Data School (March), and the MSUGlobal DH Seminar.

- Zoe LeBlanc led a meeting to discuss a US-based funds for Programming Historian initiatives.

- Jess has been in convers

[2021-05-25 14:19] svmelton commented on #2103
## EN Team Report

By: @svmelton
Date: May 25, 2021

**Updates Since Previous Report:**
- We published two new lessons
- Several EN team members participated in the April Global DH panel

**Editorial work**
- 3 new submissions
- 2 pieces back from peer review
- 1 piece ready for peer review

**3-month focus:**
- Offboard @walshbr
- Finalize onboarding documentation

[2021-05-25 15:04] ZoeLeBlanc commented on #2111
Thanks for letting us know about this bug @twitu . @svmelton would this be something the @programminghistorian/english-team or @programminghistorian/technical-team should investigate?

[2021-05-25 16:40] acrymble commented on #2072
@walshbr there are probably two distinct conversations. There were some technical recommendation in Dr. Kavanagh's report, but a lot that touch on editorial practice. As I've mentioned, I've got a MA student starting on a placement with us in June for a few weeks who I will have consider how we can adopt (and learn) the editorial stuff. If it's helpful I can have her extract the technical bits for

[2021-05-25 16:43] walshbr commented on #2072
That sounds good to me @acrymble!

[2021-05-25 20:29] #1945 closed, assigned to jenniferisasi, amsichani

[2021-05-25 20:56] jenniferisasi opened #2141 "Process to avoid content overlap in original lessons in different languages"
With more original lessons arriving in now our four languages, a new and exciting issue arises: how to avoid content/methodology overlap in new lessons instead of getting the already published ones translated.

Originally, there was no such problem because EN lessons were being translated into ES|FR|PT with datasets or examples sometimes changed (localized). Now we are receiving new lessons that a

[2021-05-26 07:54] drjwbaker commented on #2141
I agree with @rivaquiroga on this.

[2021-05-26 07:56] drjwbaker commented on #2141
Keep it simple? - e.g., MEs check their articles + concordance for potential overlap, and if they think there is overlap in another publication but aren't sure, write to them to discuss.

[2021-05-26 08:03] drjwbaker commented on #2141
This is the one about mission and ownership. Two observations:

1. My understanding is that the 'missions' of the ES, FR and PT publications are to publish articles (in translation or otherwise) for their language **audiences** given the historic/systemic under-representations of digital history/humanities methods publications in those languages.

2. My understanding is also that none of our publi

[2021-05-26 08:03] drjwbaker commented on #2141
(and many many thanks @jenniferisasi for so skillfully summarising our discussion!)

[2021-05-26 12:14] acrymble commented on #2141
If this were happening in biomedical sciences, or another history research journal, I think we'd expect the editor to be responsible - with the help of the peer reviewers - to make sure that tutorials made a substantial new contribution to knowledge.

When I submit an article I _always_ have to put my contribution in the wider context of what we already know about that topic (the historiographical

[2021-05-26 12:17] drjwbaker commented on #2141
Agreed. But we can still help the reviewers by, say, pushing them to look at the concordance as @rivaquiroga describes doing so for authors, no?

[2021-05-26 12:28] acrymble commented on #2141
Yes. That feels like a good training opportunity. Maybe we can host an upskilling workshop from time to time aimed at editors and best practices, with issues decided by the full team in advance based on need?

[2021-05-26 12:42] drjwbaker commented on #2141
And/or put - ~"look at the concordance" - in the review guidelines wrt assessing it for originality.

[2021-05-26 14:22] acrymble commented on #2074
@JimmyMedeiros82 thank you for your patience and for your help.

As it says above, we made changes to the Support Us pages in each language. These are now in 3 different pages. For Portuguese they will be:

/pt/ppi.md
/pt/doacoes.md
/pt/apoiadores.md

They have been designed so that a non-Portuguese speaker should be able to update them in future.

Some of the text is the same as is currently on h

[2021-05-26 14:41] acrymble commented on #2074
@JimmyMedeiros82 I think we should also include currency options in Brazilian Real for the PT pages.

[2021-05-26 14:42] DanielAlvesLABDH commented on #2141
Hi to all! I agree that it has to be more clear the need for a first check about overlapping lessons, and I agree that some extra sentences or words on translation, author, editor and reviewer guidelines will help. But that is also the task of the editor. A couple of months ago the PT team received a new lesson about Python. Although it was original and applied to a specific Brazilian online resou

[2021-05-26 15:12] mariajoafana commented on #2141
I'm not sure that I'm getting your point here. We could say that tutorials written in languages other than English are not only aimed at amplifying those under-represented voices, but those tutorials can make substantial new contributions to the field and to global anglophone audiences and as such are worthy of translation as much as the English language tutorials are worthy of translation into ot

[2021-05-26 15:31] drjwbaker commented on #2141
Totally agree! My point is that none of our 4 publications currently have a mission to do just that. I'm suggesting we consider creating a role dedicated to doing that.

[2021-05-26 16:13] jenniferisasi commented on #2141
The situation that @DanielAlvesLABDH shares is both the issue at hand and the ideal solution: checking that there is overlap, ask to reformulate, and (I would add) cite the existing lesson. And so that would be another note for the author guidelines when submitting a lesson.

@drjwbaker yes, we need to make this mission explicit. And to @acrymble's point, exactly, one is supposed to check for exis

[2021-05-26 16:16] jenniferisasi commented on #2141
This is a good problem to have, by the way.

[2021-05-26 16:36] walshbr commented on #2141
Just a note on "look at the concordance" in the guidelines. I like this in spirit, but the translation concordance would get you close but probably not _quite_ serve as is for what you're describing. I'm imagining two situations, in particular (languages just sort of picked arbitrarily for the examples below):

1) Author who does not speak French proposes a lesson on a particular tool in Spanish,

[2021-05-26 17:56] jenniferisasi commented on #2141
@walshbr, that's a good observation. I think on n1 is where we need to decide what the MEs do and the proposed role by James, for example. There is already a case in the works, and @mariajoafana put a comment on the EN ticket for the editors.
On your second thought, I think having the titles translated is a very good idea and not extremely difficult or a lot of work. I am already thinking of the t

[2021-05-26 18:02] walshbr commented on #2141
Yep that was what I was thinking too @jenniferisasi. Though I'd have to look at the logic for the concordance to see how easy that is to slide in.

[2021-05-27 03:11] vgayolrs opened #2142 "Just a typo in a es/lesson translate"
Hi everybody!

In es/lesson translate [Introducción a los datos abiertos enlazados](http://programminghistorian.org/es/lecciones/introduccion-datos-abiertos-enlazados), there is a typo on line 166

It says: “Ongology”
Should say; “Ontology”

Best for all!
vg

[2021-05-27 13:20] jenniferisasi commented on #2141
Adding to the translation concordance improvement: I would also add a link to the issue in ph-submissions of translations that are under review, to point at those lessons that are on their way. The links my have a different color or we could add a parenthesis for those (under review).

And then we would have to make that concordance more prominent on our site.

[2021-05-27 15:39] rivaquiroga commented on #2142
Thanks, @vgayolrs!

[2021-05-27 22:40] jenniferisasi commented on #2141
<img width="763" alt="Screen Shot 2021-05-27 at 6 39 38 PM" src="https://user-images.githubusercontent.com/11022533/119905800-e52e3e00-bf1a-11eb-8403-3ce608b8555f.png">

This is how a new translation concordance will look with all titles translated (I used google translate with no editing at all for FR and PT so ignore any mistake in there)

[2021-05-27 23:42] DanielAlvesLABDH commented on #2141
Thanks @jenniferisasi! I think this is a good solution. We can collaborate in the translation

[2021-05-28 07:16] drjwbaker commented on #2141
So it looks like this ticket has a solution to the issue of overlap. I'll make a ticket for ownership of translation out of ES/FR/PT.

[2021-05-28 07:36] drjwbaker opened #2143 "Ownership of translations **from** ES, FR, PT"
Branching off from https://github.com/programminghistorian/jekyll/issues/2141, now we are growing the number of original articles submitted in languages other than English, we need to figure out who owns translations of original articles **from** ES, FR, PT into other languages, but especially into English.

In #2141 I observe:

@mariajoafana adds:

To which I add:

My feeling is that we don't wan

[2021-05-28 11:08] acrymble commented on #2143
I agree wholeheartedly that I'd really like to see the English publication translating from other languages.

I would like to flag some concerns with this approach though.

1. Our service agreement (re-approved for another year just this week) ensures "The Publication Team is granted editorial autonomy of their publication within the limits of the terms outlined above." This suggestion strikes me

[2021-05-28 11:48] drjwbaker commented on #2143
Thanks @acrymble, in turn:

1. Translation proposals can still be accepted/rejected under that agreement, right? (not least as translation involves localisation, e.g. of datasets)
2. On spending £ on this, fair point. I'm was prioritizing not interrupting the missions of the ES/FR/PT publications when I wrote this. On the justification for translating into EN - £ or no - I echo @mariajoafana's poi

[2021-05-28 13:40] rivaquiroga commented on #2143
Currently, each team "owns" the translations to their language. I'm not sure why this should be different for the EN team. So the first question we need to ask is if the EN team does have interest in editing translations of original lessons of the other publications to that language. If they don't, then we might explore other options to solve that need. But this is an editorial decision of the EN

[2021-05-28 13:56] jenniferisasi commented on #2143
Well I think @rivaquiroga expressed all my thoughts and concerns already, so I won't repeat them. But, specially 4, yes, we are on it and we just need to assign capacity and promote it.

Similar to @acrymble, perhaps more strongly, I kind of "disapprove" of releasing central money to translate into English, as Adam said, because we have been successfully doing translation work in three teams by wa

[2021-05-28 13:59] jenniferisasi commented on #2141
To clarify, that preview/image is a .md file that I typed, vs. the current one that is automatically created with a couple of coding sentences. So we still need to decide what would be the easiest way of creating such a file with the least amount of work - and tech team is on it.

[2021-05-28 14:05] JMParr commented on #2143
I agree with @jenniferisasi and @acrymble re: releasing central money to translate into English for the reasons they have outlined. I also agree with @rivaquiroga 's observations regarding 4.  On @acrymble 's point re: the role of the Global Team, it seems worth having a conversation regarding the role of the team (and perhaps discussing it in our next team meeting). Perhaps it would be helpful to

[2021-05-28 14:27] drjwbaker commented on #2143
Thanks all. I hear you.

Let's focus on that then.

[2021-05-29 11:40] matgille commented on #2048
@spapastamkou should I start with the PR ?

[2021-05-30 20:15] spapastamkou commented on #2048
@matgille Sure! I think all is ok, but in any case EN, ES and PT teams can review the PR and ask changes if needed. Thanks!

[2021-05-30 20:18] spapastamkou commented on #2065
@JoshuaGOB There has been no progress at all here, will you hate me if I ask you to retire access from the Ggroup and the repository? Please accept my sincere apologies. Once you confirm, I will close this ticket. Thank you very much.

[2021-05-31 00:01] JoshuaGOB commented on #2065
No problem at all @spapastamkou. It's all set and I'll close this now.

[2021-05-31 00:01] #2065 closed, assigned to spapastamkou

[2021-05-31 18:14] spapastamkou commented on #2065
Thanks @JoshuaGOB !

[2021-05-31 20:47] svmelton commented on #2141
Thanks, all—I agree that this is a good problem to have! I love @jenniferisasi's concordance draft and agree that it would be useful to add this to the submission guidelines. It sounds like we're reaching a consensus: is there anything else we need to do to move this forward, or anything I'm missing?

[2021-06-01 12:23] matgille commented on #2048
Ok, thanks !
I've just created PR  #2144. I hope the changes I made won't have unattended side effects.

[2021-06-03 08:20] acrymble opened #2146 "Error in English Author Guidelines?"
I'm just reading the English Author Guidelines and I think there's a confusing typo in this line:

I think this should read:

@svmelton does that seem correct to you?

[2021-06-04 14:59] nabsiddiqui commented on #1986
@acrymble This looks largely good to me. In terms of the sabbatical policy, it should be noted that not all places provide a 12 month sabbatical. I am assuming that the affiliation of the role does not make a difference to the length provided by Programming Historian, but I would make this explicit. In addition, I think that we should frame our suggestions in more positive terms. Research shows th

[2021-06-04 19:54] vgayolrs opened #2147 "Error in python es-lesson: "instalacion-mac""
Hi everybody!

In lesson "[Creación de un entorno de desarrollo integrado para Python (Mac)](https://programminghistorian.org/es/lecciones/instalacion-mac)", there is an error that can make that the following lessons do not work in Python3.

In line 71, it says:

[code]
It should say:

[code]
The syntax (python, without the number 3), will call Python 2.x.x which mac computers have by default. The

[2021-06-04 20:33] jenniferisasi commented on #2141
Hey @svmelton no need to do anything else here if you like the concordance and future addition of it to guidelines. But you might want to comment on #2143 as the decision whether/how to accept translations into EN and a pipeline for it is a decision the EN team needs to make

[2021-06-06 09:58] InesSalome commented on #2042
Je pense avoir fait le tour pour mes parties ("Dates and Time", "Headings", "Lists" "Capitalisation"). N'hésitez pas si vous pensez qu'il y a des choses à modifier/améliorer :)
@spapastamkou, veux-tu que je rédige une courte en-tête introductive entre le titre **Règles typographiques** et la section **Dates et heures** ?

[2021-06-08 18:50] JimmyMedeiros82 commented on #2074
Hi @acrymble , sorry for the delay.
Do you have a value suggestion in Brazilian Real? Is it a simple conversion of current values ​​from GBP/USD/EUR to Real at today's rate?

I did the translation of /pt/doacoes.md
Can I create a pull request for this first step?

[2021-06-09 06:30] acrymble commented on #2074
@JimmyMedeiros82 thanks. Let's go with 7,000 Real for the full price.

If you have a pull request ready go ahead and we can check it.

[2021-06-09 13:43] Amber202106 commented on #2072
Hi Brandon, Please check the below suggestions of Dr Kavenagh for navigation.

1.	Keyboard Functionality: Not friendly to keyboard-only users: Three dropdown submenus can’t be operated by keyboard (also missing in screen reader).
2.	Cannot skip to content: website should allow users to skip this content, like a Skip to Content link anchoring them directly to the main content on each page.
3.	Text

[2021-06-09 13:47] walshbr commented on #2072
Thanks @Amber202106! Great to meet you. Just as a note - I think I addressed point 3 when doing a variety of pull requests a few weeks ago (I was sort of working on them at the same time or slightly after the report was written, I think). There certainly might still be issues with contrast, but I corrected a _lot_ of contrast issues. So the bulk of our templates and layouts should hopefully be bet

[2021-06-09 14:58] DanielAlvesLABDH commented on #2143
Sorry for being so late into the discussion. I totally agree with the comments of @rivaquiroga and @jenniferisasi. Programming Historian as a whole should has as its first mission to deliver tutorials that can expand knowledge about Digital Humanities regardless of the language. Most PT colleagues already used PH before PT team joined the project. Most use EN lessons, because there are more, but a

[2021-06-09 16:02] drjwbaker commented on #2143
Thanks for writing @DanielAlvesLABDH: no need for apologies.

To add, as a more general point, I've had this on my mind a lot recently, as I know I went too far in jumping to a solution before hearing to what people wanted and didn't want. Apologies. I sometimes feel slightly stuck between a) an impulse not to allow the labour for making change happen to fall on those less white/male/full-time tha

[2021-06-09 17:35] acrymble opened #2148 "programminghistorian.org email"
We'll have to set up an email address for our new Digital Humanities Publishing Assistant soon.

I'd like to suggest we try to use the @programminghistorian.org URL for the email address moving forward. I'll look into what this means in practical terms, since RRCHNM pays for our URL, but I know this can be integrated into Gmail somehow.

[2021-06-10 05:44] drjwbaker commented on #2148
Thanks Adam.

[2021-06-10 08:51] acrymble commented on #2148
To do this via Gmail costs $6/month. https://workspace.google.com/intl/en/products/gmail/?utm_medium=et&utm_source=gmail-en-ui&utm_campaign=FY19-Q2-global-xsell-referralgoogle-ft-Gmail_settings_G_Suite&utm_content=var1

It also comes with other things they think businesses would like to use, like large Google Hangout capacity, storage, etc.

[2021-06-10 08:55] drjwbaker commented on #2148
I wonder if it is UK business (e.g. GDPR compliant)?

[2021-06-10 08:59] acrymble commented on #2148
I've emailed CHNM about the domain as well to let them know about the new needs to see what they think.

@drjwbaker good question.

[2021-06-10 09:55] pao-chuan opened #2150 "Error/broken link "Penflip" of Markdown lesson"
Hi, I'm Pao-Chuan, a new member that joining this program as the work placement of UCL. I'm working with Adam and feel really interesting and enjoyable, because I do learn something new continuously when checking if the tutorials/lessons still work properly.

When working on the lesson called "Sustainable Authorship in Plain Text using Pandoc and Markdown", I found that the link of "Penflip" appea

[2021-06-10 11:53] acrymble commented on #2150
Thank you @pao-chuan for finding this problem. I've checked and this also affects the Spanish translation of the same lesson:

https://programminghistorian.org/es/lecciones/escritura-sostenible-usando-pandoc-y-markdown

The lesson is translated into French but this link is not listed in that version.

[2021-06-10 12:27] acrymble commented on #2150
@pao-chuan and I have looked at this @svmelton and @rivaquiroga and I am confident that this link can be removed from the lesson without any adverse effects to the learning. It is a suggested resource for further learning that seems no longer to be available and that presents a security warning when visited. I have suggested to @pao-chuan that she attempt to remove the link to fix this bug.

We wi

[2021-06-12 09:36] acrymble commented on #1986
Thanks @nabsiddiqui I think these suggestions maybe need to go into our sabbatical policy text to clarify that policy:  https://github.com/programminghistorian/jekyll/wiki/Checklist-for-Sabbaticals.

I'll amend the above as well.

[2021-06-13 08:04] acrymble commented on #2049
Confirming that the service agreement has been re-agreed for this year. Point 7 on the above agenda.

[2021-06-13 08:06] acrymble commented on #2123
@drjwbaker can we check if it's possible to re-schedule this to a Wednesday, Thursday, or Friday so that our new publishing assistant can join?

[2021-06-13 11:40] spapastamkou commented on #2042
@InesSalome Merci beaucoup pour ton travail! Si tu souhaites introduire des parties qui facilitent la lecture, aucun souci:)
De mon côté, je ferai en sorte que l'on dispose d'une première version pour l'ensemble d'ici à la fin du mois.

[2021-06-14 08:15] drjwbaker commented on #2123
Afraid not according to the poll, unless @rivaquiroga has become free on 22 July.
![Screenshot from 2021-06-14 09-14-46](https://user-images.githubusercontent.com/4965300/121860694-03ed4c80-ccf1-11eb-8fb8-ca25c40eba42.png)

[2021-06-14 12:51] rivaquiroga commented on #2123
I'm not sure yet.
I'm presenting at the ACH Conference (21-23 July), but the schedule hasn't been published.

[2021-06-15 12:00] drjwbaker commented on #2123
Thanks for letting us know @rivaquiroga. @acrymble: what would be the purpose of moving so that that new publishing assistant can attend? Just to say hi, or something more?

[2021-06-15 12:58] acrymble commented on #2123
To act as secretary so you don't have to do it anymore.

[2021-06-15 13:52] drjwbaker commented on #2030
Is the making progress @hawc2? (and, do we know the steps that look like progress?)

[2021-06-15 13:55] drjwbaker commented on #2058
@rivaquiroga - is progress being made on (1) & (2) or do you need a hand?

[2021-06-15 14:00] drjwbaker commented on #2058
Also, thinking more generally about article maintenance, just leaving a note here that it might make sense for us to start thinking about article maintenance (for all articles) as starting with copyediting, because that gives them the greatest chance of needing less intervention later (I know it won't stop bugs happening, but it would make revisions to text less likely). Our new publishing assista

[2021-06-15 14:04] drjwbaker commented on #2123
@acrymble and I just spoke and I think we agreed not to move this meeting, but to schedule future meetings for days the publishing assistant can make so that they can take minutes.

[2021-06-15 14:37] rivaquiroga commented on #2058
The plan is to work in this with the publishing assistant, so they can get involved with the workflow.

[2021-06-15 14:43] drjwbaker commented on #2058
Okay. That makes sense to me. **Exciting**.

[2021-06-15 14:52] hawc2 commented on #2030
Now that we have general access to use it, could we have a meeting to discuss how to proceed, both with testing and implementation?

I am still learning the ropes of some PH processes, so I'm not sure who should be involved and what are the most efficient ways to integrate perma.cc into our workflows.

It shouldn't be a hard tool to use, but as @acrymble mentioned, there are some complex decisions

[2021-06-15 15:01] drjwbaker commented on #2030
It feels like the aim is to get it into the author/editor guidelines as our preferred implementation of URLs where we do not expect the content at those URLs to change / be usefully dynamic (as @acrymble notes). A route to implementation might be to test this with a live article submission (perhaps one you edit?) but that decision is better made by a Managing Editor than me. Perhaps we can add thi

[2021-06-15 19:52] #2090 closed, assigned to acrymble, drjwbaker, svmelton, ZoeLeBlanc, jenniferisasi, mariajoafana, spapastamkou, rivaquiroga, DanielAlvesLABDH

[2021-06-15 20:29] mariajoafana opened #2158 "Actions arising from May 2021 Meeting"
PLEASE FEEL FREE TO ADD ANY ACTIONS I MIGHT BE MISSING

- [x] @mariajoafana to coordinate a plan of timeframes for each one of the roles and start putting this into practice by finding a new Comms leader with @jenniferisasi to take over the role starting in January 2022 #1986

- [x] @mariajoafana  Clarification of Global Team and Education manager roles. Will revist this topic with @Anisa-ProgHist

[2021-06-15 20:30] mariajoafana opened #2159 "July 28 2021 Project Team Meeting"
July 28 2021, Time is 9:00 AM - Colombia, Mexico; 10:00AM EDT; 3:00 PM - London, Portugal; 4:00 PM CET - Paris. @mariajoafana will be facilitating the call.

You can use this time converter to double-check the time of the meeting in your time zone: https://www.timeanddate.com/worldclock/fixedtime.html?iso=20210728T1400

Zoom invitation:  https://uniandes-edu-co.zoom.us/j/89661075902

Working agend

[2021-06-18 14:30] rivaquiroga commented on #2123
Hi! The schedule was published and I'm presenting on the afternoon of the 22. So I'm available at 13:00 UTC that Thursday if you still want to re-schedule the meeting.

[2021-06-21 08:37] drjwbaker opened #2160 "pronouns in author guidelines"
I've been encouraged to suggest a revision to the author guidelines so that authors use the singular 'they' when referring to an author, unless a person has declared their pronouns (and/or refers to themselves as 'she' or 'he' in a public document). I believe this is [good practice](https://eige.europa.eu/publications/gender-sensitive-communication/challenges/stereotypes/avoid-gendered-pronouns-he

[2021-06-21 09:23] spapastamkou commented on #2160
@drjwbaker For the FR: we have put all this on the [wiki ](https://github.com/programminghistorian/jekyll/wiki/French-Translation-Documentation) to document the french translation and the part on the inclusive writing is already in the draft pull request for revising the author guidelines in French.

[2021-06-21 12:28] DanielAlvesLABDH commented on #2160
Hi James! We made the initial translation of the PT platform taking into consideration some of these concerns, but in Portuguese the use of "they/them" is not simple because they translated into pronouns with gender related info: eles/elas; deles/delas. But I will put the topic in the agenda for our next team meeting.

[2021-06-22 14:21] svmelton commented on #2160
Thank you @drjwbaker! This is a good policy, and I'm happy for it to move forward on the EN side.

[2021-06-22 16:00] rivaquiroga commented on #2160
The ES Author Guidelines already has a section about inclusive and non-discriminatory language, that covers not only gender: https://programminghistorian.org/es/guia-para-autores#lenguaje-inclusivo-y-no-discriminatorio.
It would be great if the EN team uses the singular "they" only when there is really really really no information about the declared pronouns of an author, or when that is actually

[2021-06-22 17:04] svmelton commented on #2160
That's a good point @rivaquiroga. Perhaps we could place it (with that caveat about using "they" when that's the author's pronoun or when the pronoun is unknown) under the language and style section, since we have a bullet point about using the 2nd person you in that section.

[2021-06-22 17:07] acrymble commented on #2160
Good discussion. Is it more multilingual friendly to take the smaller step of saying something like “PH acknowledges and encourages the use of alternative pronouns where appropriate”?

[2021-06-23 05:33] drjwbaker commented on #2160
Totally agree @rivaquiroga

I didn't see that section. Seems like a good fit.

[2021-06-23 05:36] drjwbaker commented on #2160
@rivaquiroga great point and "[for ES] the translation would be diferent if the pronoun of choice is unknown, or if the person uses "they" because they identify as non-binary" was not something I was aware of (but now I am!). Great example of why doing our multi-lingual work creates richer publications.

[2021-06-23 10:19] drjwbaker commented on #2123
@rivaquiroga Belatedly, thanks. @acrymble: would you still prefer we move this?

[2021-06-23 16:24] acrymble commented on #2123
It would be my preference but I don't want to cause problems by it.

[2021-06-24 12:01] #2150 closed, assigned to acrymble

[2021-06-24 18:18] DanielAlvesLABDH opened #2164 "Erro na página Directrizes para Autores"
Erro de tradução na página "Directrizes para Autores" do Programming Historian em português.

[2021-06-25 10:32] DanielAlvesLABDH commented on #2164
Obrigado @josircg Abraço

[2021-06-25 10:32] #2164 closed, assigned to DanielAlvesLABDH

[2021-06-25 12:14] pao-chuan opened #2167 "Topic Modelling on Windows Instructions"
I've tested the lesson on Mac and the instructions are ok.
But for Windows, the problem is Figure 1 to 3, which can't be followed through Windows 10 because the control panel has changed. One solution may be that we can add some instructions for Windows 10.
The lesson: https://programminghistorian.org/en/lessons/topic-modeling-and-mallet

[2021-06-25 15:33] drjwbaker commented on #2123
Meeting moved per discussion via email.

[2021-06-25 17:50] acrymble commented on #2074
@JimmyMedeiros82 is this ready to check?

[2021-06-26 08:21] acrymble opened #2168 "Markdown errors on /en/translator-guidelines"
There are a few markdown typos making links not render properly. Eg:

Also a grammatical problem:

---

I will fix.

[2021-06-26 09:25] #2168 closed, assigned to nobody

[2021-06-26 11:54] mmtffm opened #2173 "Exploring and Analyzing Network Data with Python - https://programminghistorian.org/en/lessons/exploring-and-analyzing-network-data-with-python#fnref:density"
Exploring and Analyzing Network Data with Python - https://programminghistorian.org/en/lessons/exploring-and-analyzing-network-data-with-python#fnref:density

"Since there is no **shortest** path between nodes of one component and nodes of another, nx.diameter() returns the “not connected” error."

should be:

"Since there is no **longest** path between nodes of one component and nodes of another,

[2021-06-26 12:00] #2054 closed, assigned to jenniferisasi

[2021-06-27 07:59] acrymble commented on #2141
Can this conversation be summarized into any actions? Otherwise I fear it will just sit open.

[2021-06-27 07:59] acrymble commented on #2076
A reminder that this checklist is supposed to take no more than 2 weeks.

[2021-06-27 08:00] #2036 closed, assigned to drjwbaker

[2021-06-27 08:01] #2049 closed, assigned to drjwbaker

[2021-06-27 08:02] acrymble commented on #2006
Is this now ready to go live @DanielAlvesLABDH ?

[2021-06-27 08:03] acrymble commented on #1712
@rivaquiroga I'm going to close this ticket because it's been more than a year, and it looks like it will resolve when you merge your pull request.

[2021-06-27 08:03] #1712 closed, assigned to rivaquiroga

[2021-06-27 08:03] acrymble commented on #1932
@walshbr Can you provide an update? Is this a task with specific actions?

[2021-06-27 08:07] acrymble commented on #2120
@jenniferisasi did this happen already?

[2021-06-27 08:09] acrymble commented on #2143
@drjwbaker is there an actionable item that's come from this discussion that needs doing, or has the conversation come to a natural end?

[2021-06-27 08:10] #2103 closed, assigned to nobody

[2021-06-27 11:13] acrymble commented on #2148
I've emailed again, this time to our contact at CHNM

[2021-06-27 11:43] jenniferisasi commented on #2141
Let's try, but add if I'm missing anything:

- [x] 1. Create/edit concordance page to facilitate translations: existing lessons have a link, the rest show what would be the title in another language. @jenniferisasi via @programminghistorian/technical-team started to work on it, will require linguistic review
- [x] 2. Add a note on author guidelines to check for existing lessons in other languages

[2021-06-27 11:45] jenniferisasi commented on #2120
Yes! Sorry, I had forgotten that I opened this one.

[2021-06-27 11:45] #2120 closed, assigned to jenniferisasi

[2021-06-27 14:19] DanielAlvesLABDH commented on #2006
@acrymble this is ready. Just confirmed with Joana and Danielle.

[2021-06-27 16:09] drjwbaker commented on #2143
It reads like the third bullet at https://github.com/programminghistorian/jekyll/issues/2141#issuecomment-869147838 provides an actionable direction. So I'll post this thread there for info and close.

[2021-06-27 16:09] #2143 closed, assigned to drjwbaker

[2021-06-27 16:10] drjwbaker commented on #2141
The third bullet here effectively closes/supersedes https://github.com/programminghistorian/jekyll/issues/2143. Linking here as it provides useful context/discussion.

[2021-06-28 12:43] walshbr commented on #2006
@DanielAlvesLABDH there are only four lesson tweets in the spreadsheet - were you going to add others there or did you want me to go ahead and finish it up?

[2021-06-28 12:45] walshbr commented on #1932
I sent a draft of the documentation to @svmelton to review, but we still need meet to discuss any changes that might be needed to it before I leave the team. @hawc2 has also given some helpful feedback on it.

[2021-06-28 14:12] acrymble commented on #2072
@walshbr we've now completed our final assessment (with @Amber202106) helping us to identify a number of issues for people with colour vision deficiency that touch on technical matters. The key ones are:

- [ ] we should consider using only blue alert/warning boxes instead of the current (green/red/blue). This can be fixed with a CSS fix to adjust the colour of the red and green ones.
- [ ] we sho

[2021-06-28 14:39] DanielAlvesLABDH commented on #2006
Hi @walshbr, the info is now corrected and we have 7 lesson tweets. By mistake, some of the tweets were introduced in the English table ;-)

[2021-06-28 15:00] acrymble opened #2174 "Visual Accessibility & Editorial Practices"
We have commissioned a report on visual accessibility, by Dr Amy Kavenagh, which has given our technical team a number of suggestions #2072 (Accessibility Audit). Thanks also to our summer placement student, Yifan Wang, who has helped us identify other issues related to colour vision deficiency.

Editorial-relevant issues include:

- [x] lessons should consider moving to a template for early secti

[2021-06-28 15:23] jenniferisasi opened #2175 "Newsletter: June/Mid-Year 2021"
This time of the year once again :) I am going to be collect here the things I need to write about on the newsletter for the time period between April 1st and June 30th give or take. As usual, I ask that if anyone sees anything missing, please edit or comment. Thanks!!

- [ ] New lessons:

- [ ] New supporters:

- [ ] Additional Supporters:

- [ ] New members:
- I think no one this time? or @acrym

[2021-06-28 15:25] rivaquiroga commented on #2174
Thanks, @acrymble. This doesn’t feel to me like a copyediting task. Looks more like something we as editors should take into account. So yes, training on accessibility and editing would be great.
We should definitely add these points to the editorial guidelines. Regarding item number two, I find very useful these suggestions for writing alt text for  data visualizations: https://medium.com/nightin

[2021-06-28 16:08] walshbr commented on #2174
I'd also add them to the author guidelines - that's really where the work should take place for a number of these things. And the editorial load would just be to double check.

[2021-06-28 16:18] DanielAlvesLABDH commented on #2174
Thanks for this @acrymble! I totally agree we should include a closer look at these issues, and we should try to implement those suggestions and specifications. I agree with @walshbr that author guidelines is the first place we should look. But we should also be aware that it's not feasible to promise a full compliance.

[2021-06-28 18:58] walshbr commented on #2072
Thanks! I added these to the checklist above.

[2021-06-28 22:39] rivaquiroga commented on #2175
I added to the list the ES original lesson we published today.
With this one we hit the 50 lessons milestone :tada: :rocket: :avocado:

![Captura de pantalla de 2021-06-28 18-34-14](https://user-images.githubusercontent.com/31421616/123712268-fc28be80-d83f-11eb-8e61-21b700837772.png)

[2021-06-29 08:17] acrymble commented on #2175
@jenniferisasi yes you can announce but she wont start until 7 July so if you want to talk to her about it first for details, it depends on when you plan to publish the newsletter.

[2021-06-30 14:00] walshbr commented on #2006
Ha! Ah good. I'll work on this as I'm able. Just wanted to note here that I think I did everything correctly and updated some of the documentation, but ran into a couple errors while testing that I'll need to troubleshoot.

[2021-06-30 14:43] walshbr commented on #2006
I think I got this set up @DanielAlvesLABDH. It successfully tweeted out from my terminal, but the final step is always making sure that the scheduler worked correctly. So keep an eye out July 1st at 1:30PM UTC for the first one. And then let's circle back in a week to make sure it worked right and we can close this out. When I added French I accidentally made it tweet in French every ten minutes

[2021-06-30 14:47] DanielAlvesLABDH commented on #2006
Thanks a lot @walshbr! I will take a look. It was literally a "French revolution"! ;-)

[2021-06-30 21:59] DanielAlvesLABDH commented on #2076
@acrymble, just had a talk with @pymentha today, and due to an excess of working duties he is going to suspend is collaboration with us. We will keep collaborating with the DH Lab that Ricardo coordinate, because Josir, one of our editors, is a close collaborator in that Lab. So, for now, we are going to suspend this onboarding process. Thanks

[2021-06-30 22:02] walshbr commented on #2006
Oh actually the way it schedules is a bit confusing - I have to give it days of the week as numbers 1-7, and it starts over on Mondays. So I _think_ the first tweet should come out on Monday.

I wrote about this on the documentation for the bot earlier, but in case you're interested -

The bot actually runs a series of terminal commands every day at particular times. And each of those commands has

[2021-07-01 07:54] DanielAlvesLABDH commented on #2006
Thank you @walshbr! Just to let you know that the fist tweet is out!

[2021-07-01 09:00] drjwbaker commented on #2123
@svmelton @rivaquiroga @spapastamkou @DanielAlvesLABDH Further to our email correspondence and an update to the [Spending Requests](https://github.com/programminghistorian/jekyll/wiki/Spending-Requests) process, I've added an agenda item here: "11 - Approval of publication budgets for 2021/22 - *input required from MEs*"

I'd be grateful if in advance of 22 July, you could each give me an estimate

[2021-07-01 10:26] DanielAlvesLABDH commented on #2123
Dear James, I would say 3 times for the PT team, thinking essentially in new articles, since for now we are more focused on translations and for now we can still manage the copyediting of those.

[2021-07-01 12:25] walshbr commented on #2006
That first tweet yesterday was me testing it manually :) Let's give it a week before closing this to make sure it runs on its own, but fingers crossed!

[2021-07-02 09:54] acrymble opened #2183 "Removing New Publication Manager Role"
A huge thank you to @JoshuaGOB for supporting the new PT publication this past year and a half and for helping all teams with onboarding support.

I've corresponded with @JoshuaGOB and he's agreed that we're going to transfer this role into the work of our new Publication Assistant who is starting next week. Therefore I'll remove this role from the Project Team page.

@JoshuaGOB is still staying w

[2021-07-02 10:23] DanielAlvesLABDH commented on #2183
Many thanks for all your help Joshua! Um abraço!

[2021-07-02 12:48] #2183 closed, assigned to acrymble

[2021-07-02 13:05] #2074 closed, assigned to acrymble, DanielAlvesLABDH

[2021-07-02 14:05] #2146 closed, assigned to acrymble

[2021-07-02 14:44] acrymble opened #2185 "Technical Onboarding of Anisa"
This is a checklist of items (@acrymble) needs to work through with our new Digital Humanities Publishing Assistant, Anisa.

- [ ] establish an email address #2148
- [x] add to Github
- [x] work station assessment
- [x] introduce to Project documentation on website
- [x] introduce to Wiki
- [x] introduce to Github tickets
- [x] add to project team page & practice pull request
- [x] add to Google A

[2021-07-03 09:31] spapastamkou opened #2187 "Need to update EN lesson/FR translation for Python 3"
During review of the French  translation of lesson [Generating an Ordered Data Set from a Text File](https://programminghistorian.org/en/lessons/generating-an-ordered-data-set-from-an-OCR-text-file), see issue [362](https://github.com/programminghistorian/ph-submissions/issues/362) on ```ph-submissions```, we noticed that the original lesson proposes code in Python v.2.  The review of the translat

[2021-07-03 09:34] spapastamkou commented on #2187
@InesSalome is the editor of the FR translation, I tag her to follow progress. Not sure who should be assigned this ticket yet:)

[2021-07-06 09:17] spapastamkou commented on #2123
@drjwbaker I edited the estimates to add 5 times of expected copyediting for the FR edition next year (on the basis that we had 9 publications in 2020). Includes originals and (long) translations.

[2021-07-06 15:33] svmelton commented on #2123
Thanks @drjwbaker! We can keep it at 8 for EN, since we may start including translations as well.

[2021-07-07 10:49] anisa-hawes opened #2189 "Adding Anisa to the Programming Historian project team"
Add Anisa to the project team pages.

[2021-07-07 11:57] #2189 closed, assigned to anisa-hawes

[2021-07-07 13:45] anisa-hawes commented on #2058
Hello there @rivaquiroga! I've joined the team today! Looking forward to connecting with you, and working on this together.

[2021-07-07 13:54] anisa-hawes commented on #1932
Hello there @svmelton and @walshbr. I have joined the team today! Adam has asked me to contribute to your review of the Onboarding Documentation, as I will soon be supporting new editors at this stage. Looking forward to meeting with you both, and learning how I can be part of this process.

[2021-07-07 14:01] anisa-hawes commented on #2175
Hello @jenniferisasi. I've joined the team today and I'd like to be able to help with this! Let me know if you have scope to connect sometime soon.

[2021-07-07 14:08] anisa-hawes commented on #2159
Hello there @mariajoafana. I've joined the team today, and would be interested to speak with you about contributing to the Project Team Meeting! Let me know when you have scope to connect.

[2021-07-07 14:30] anisa-hawes commented on #1955
Hello there @svmelton. I'm going to work on closing this issue. It seems like a fix has already been implemented on the Spanish version of the lesson. I'm going to work through the English tutorial to make sure the proposed fix works well here too. I'll send you an update when I can confirm what edits are needed.

[2021-07-07 15:05] svmelton commented on #1955
Thanks @Anisa-ProgHist!

[2021-07-07 15:21] anisa-hawes opened #2191 "Write a blog post to introduce myself"
I'm going to write a short blog post to introduce myself – already started on Branch: Blog-Post-Anisa-Welcome

[2021-07-07 16:14] walshbr commented on #1932
@Anisa-ProgHist Thanks! This is sitting with @svmelton for review, but I'll send an email to you with the link for you to check out.

[2021-07-08 09:54] acrymble commented on #2148
I've had contact with them and they're looking into the best options.

[2021-07-08 11:10] anisa-hawes opened #2192 "Edit the Projects page to add Anisa as archivist."
I'm going to edit the Projects page to add myself as archivist.

[2021-07-08 11:50] acrymble commented on #1932
I've had a conversation with @Anisa-ProgHist to help her understand the various bits of onboarding / training material. To help keep track of it here are some relevant pages:

* https://programminghistorian.org/en/editor-guidelines
* https://programminghistorian.org/en/translator-guidelines
* https://programminghistorian.org/en/reviewer-guidelines
* https://programminghistorian.org/en/author-guide

[2021-07-08 12:01] anisa-hawes commented on #1932
Thank you, @walshbr! My role will include providing training for new editors, so I'm really keen to contribute to the development of these documents and this thinking. May I ask if you could clarify which of the materials Adam has linked above, your document is intended to supersede?

[2021-07-08 12:11] #2192 closed, assigned to anisa-hawes

[2021-07-08 13:32] acrymble commented on #2058
Just collating a list of the different resolution strategies we have available to us.

* Ask the author
* Ask the wider team
* Ask our community on Twitter
* Try to resolve it (@Anisa-ProgHist)
* Hire an outside consultant (if other options fail)

Decide if solution is minor/major/requires retirement. (has DOI implications)

[2021-07-08 13:51] anisa-hawes commented on #2058
Thank you, @acrymble! We've been looking at/thinking through your diagram this afternoon @rivaquiroga. I'll prepare some feedback and suggestions ahead of our first meeting next week. I wonder if we might also consider making adjustments to the  https://programminghistorian.org/en/feedback page of the live site too. I think it could be sensible to a) shift current Option 3: Email us to Option 1, a

[2021-07-08 13:55] walshbr commented on #1932
@hawc2 might be able to best advise, since he was recently part of the cohort that felt the documents we had weren't adequate for the onboarding process and helped put together that document. I was just trying to answer questions and compile what seemed to be left out. But I think my sense was that the document I worked on just tried to fill in all of the social elements and implicit knowledge tha

[2021-07-08 14:09] anisa-hawes commented on #1932
Thank you, @walshbr! @hawc2 and I can take this forward.

[2021-07-08 14:14] anisa-hawes commented on #2006
Hello @walshbr, Have you already re-assigned the management of our Twitter Bot, or is this something I can take on for you?

[2021-07-08 14:20] walshbr commented on #2006
We have not! I think it probably makes sense for @ZoeLeBlanc to take over the management of it in her capacity as technical lead given the technical weirdness of how I set the thing up, but if you feel comfortable you totally can. Day to say the thing doesn't require much management beyond adding to the spreadsheet. But adding a new language involves adding about 15 lines of Python to a script (I

[2021-07-08 14:25] acrymble commented on #2006
@walshbr sounds great to have it with @ZoeLeBlanc . Can we please update the https://github.com/programminghistorian/jekyll/wiki/Service-Integrations to reflect that new ownership? I believe it needs a new token for it to work in your absence.

[2021-07-08 14:28] walshbr commented on #2006
I'll need to share the credentials json file with her by email. We could also rotate the credentials and re-generate them if she really wanted to practice good security hygiene, but that would also require updating things in the Heroku account as well. Updated the wiki.

[2021-07-08 15:21] #2191 closed, assigned to anisa-hawes

[2021-07-08 15:33] acrymble commented on #2185
We will not be able to resolve the email address immediately but it has its own ticket so I will close this checklist.

Welcome aboard @Anisa-ProgHist

[2021-07-08 15:33] #2185 closed, assigned to acrymble

[2021-07-08 15:55] anisa-hawes opened #2195 "Investigate options for installing a VM running Windows on my Mac."
I'm going to investigate the options for installing a VM running Windows on my Mac to support my lesson maintenance activities.

[2021-07-08 19:51] hawc2 commented on #1932
Hi @Anisa-ProgHist, happy to work with you on this.

It definitely makes sense to me to use the Google Doc we created to update existing webpages. I'm not sure if we need a separate page, or if there are other ways this might lead us to consolidate the number of separate links.

[2021-07-09 10:08] anisa-hawes commented on #1932
Thank you, @hawc2. I'll start to look through the various pages on the live site + the existing WikiPages, alongside the Google Doc. I'll collate some feedback, and we can work on this together from there.

[2021-07-09 17:26] anisa-hawes commented on #1955
I worked through the early steps of this tutorial today, and have been able to successfully install the Ruby Gems update. However, I am not 100% sure whether it was the snippet suggested by Quinn which provided the fix.

A couple of thoughts:

1. _I'm uncertain because I don't think I've isolated this as the only variable._
The notes which open the lesson do specify that "macOS Catalina, zsh has r

[2021-07-09 17:36] anisa-hawes commented on #2195
Some additional thoughts:

a virtual machine running Windows and macOS / or separate testing laptops which can be repeatedly cleaned to factory settings could be important to establishing safer and more effective lesson testing and lesson maintenance practice.

Performing lesson maintenance on VMs/testing laptops would help us to understand how lessons work beyond specific dependancies of the auth

[2021-07-10 12:43] spapastamkou commented on #2187
update: @datalogism + @matgille will check with @InesSalome
FYI @svmelton @programminghistorian/english-team as it concerns also the original in EN.

[2021-07-10 14:26] rivaquiroga commented on #2187
@spapastamkou, this one is on the list the bug assesor is currently checking

[2021-07-12 08:18] spapastamkou commented on #2187
Thank you @rivaquiroga  for this information. Of course we would not want to obstruct the assessor's work or have @matgille  and @datalogism  working on the same lesson.
Would it be possible to have information about expected ~~delays~~ timeline to estimate the translated lesson's publication? More importantly, is it possible to have the list of the lessons under check? There were further ideas to

[2021-07-12 11:03] datalogism commented on #2187
After a first look i understood that the tutorial is based on OCR output data example. But for testing the code we will need to test it on a concrete dataset. Is https://programminghistorian.org/assets/Roman_to_Arabic.txt the only file linked to the tutorial ?

[2021-07-12 17:10] InesSalome commented on #2187
In fact, the code is based on the OCR version of _The Cartolare di Giovanni Scriba_ : if you want to test the code, you can find the dataset on the digital library of  Biblioteca europea di informazione e cultura : https://www.beic.it/it/articoli/biblioteca-digitale (typing "Giovanni Scriba" in the search bar).

[2021-07-12 19:12] spapastamkou commented on #2187
@InesSalome @datalogism thank you very much, however we need to freeze this for the moment since un assessment is already in progress

[2021-07-13 09:13] acrymble commented on #2148
They're going to help us set up using Google Mail.

GDPR details about Google are available here for those concerned: https://cloud.google.com/security/gdpr/

[2021-07-13 17:23] mariajoafana commented on #2159
Sure @Anisa-ProgHist I'll contact you via email so we can coordinate

[2021-07-14 08:05] tcouch opened #2198 "Python + Leaflet lesson census.csv download link broken"
Lesson title: Web Mapping with Python and Leaflet
System: Windows 10 (v1909) + Google Chrome (v91)

Steps to reproduce:
* Navigate to page
* Got to [Getting Data: Download the CSV](https://programminghistorian.org/en/lessons/mapping-with-python-leaflet#getting-data-download-the-csv)
* Internal link to /assets/mapping-with-python-leaflet/census.csv is displayed as raw markdown rather than being con

[2021-07-14 10:47] anisa-hawes commented on #2195
Virtual Box is an open source option: https://www.virtualbox.org/

Alternatively, Fusion could be a good solution: https://www.vmware.com/uk/products/fusion/fusion-evaluation.html
https://store-uk.vmware.com/vmware-fusion-12-pro-5434554600.html
but the cost of a licence is £199.00

Using either, I believe I could install virtual Windows and MacOS environments on my computer, for use specifically a

[2021-07-14 12:00] DanielAlvesLABDH opened #2200 "Correção de link e verificar utilização do Komodo Edit nas lições de Python"
A lição https://programminghistorian.org/pt/licoes/instalacao-windows tem um erro no link do Komodo Edit e o software aparentemente já não se encontra disponível, apenas a versão IDE (https://www.activestate.com/products/komodo-ide/download-ide/). Peço ao @josircg que faça uma verificação no link quando possível (https://github.com/programminghistorian/jekyll/blob/gh-pages/pt/licoes/instalacao-win

[2021-07-14 14:01] anisa-hawes commented on #1955
Found this on Stack Overflow: https://stackoverflow.com/questions/14607193/how-to-install-a-gem-or-update-rubygems-if-it-fails-with-a-permissions-error?answertab=active#tab-top

This will fix the issue on MacOS Mojave and Catalina in a clean way:

`brew install ruby`
Then set `GEM_HOME` to your user directory. On the terminal:

Bash:

`echo '# Install Ruby Gems to ~/gems' >> ~/.bashrc`
`echo 'expo

[2021-07-14 14:09] anisa-hawes commented on #1955
N.B. The Spanish version of this section reads:

(Si estás utilizando el sistema operativo Catalina, puede que recibas un error de permisos luego de instalar Ruby. Puedes arreglar esto incluyendo la dirección de Gems en tu sistema. Ingresa el siguiente comando: export `GEM_HOME="$HOME/.gem"`)

Looks like the command to suggest should in fact be: `export GEM_HOME="$HOME/.gem"`

[2021-07-14 14:20] anisa-hawes commented on #2195
N.B. An OEM license would be required to install an instance of Windows on the VM

[2021-07-14 14:44] anisa-hawes commented on #2195
Snapshots in Virtual Box: https://www.virtualbox.org/manual/ch01.html#snapshots
Snapshots in Fusion: https://docs.vmware.com/en/VMware-Fusion/12/com.vmware.fusion.using.doc/GUID-4C90933D-A31F-4A56-B5CA-58D3AE6E93CF.html

The snapshots feature would be ideal for Lesson Maintenance activities. It allows a user to take 'snapshot' copy of a VM's current state, and later restore to that state.

[2021-07-14 15:29] #2082 closed, assigned to rivaquiroga

[2021-07-14 17:21] tebain opened #2201 "Cleaning Data with OpenRefine - Windows, OpenRefine 34.1"
I seem to be having a problem with the Cleaning Data with OpenRefine lesson and was wondering if anyone else had this same error. I followed all the steps and up until the very end of the article, I had everything correct.
 However, on the last step of ad-hoc transformations (before I am instructed to export the clean data) it says "You will notice that 33,008 cells are affected" but every time I

[2021-07-14 18:23] josircg commented on #2200
Na verdade, a única vez que eu vi esse Komodo foi aqui no Programming Historian. Não sei em portugal mas aqui no Brasil, não conheço uma viva alma que utiliza ele! Mas não sei te temos abertura para sugerir outro editor pois ficaria muito diferente das outras versões.

O link correto deve ser: https://www.activestate.com/products/komodo-ide/downloads/edit/

Mas eu vou testar a instalação em uma má

[2021-07-14 18:31] DanielAlvesLABDH commented on #2200
Obrigado @josircg! Acho que nós falámos nisso na altura da tradução, mas temos todas as outras lições de Python a falar desse editor, acho, pelo que a questão pode ser mais complexa. Por mim não há problema em mudar, mas isso teria de ser consistente em todas as lições. Talvez seja de agora fazermos apenas esta correção e depois com tempo, com mais lições de Python publicadas fazermos uma edição g

[2021-07-15 10:14] anisa-hawes commented on #1932
Alex and I have arranged to meet and discuss this next Friday 23rd July.

[2021-07-15 10:28] #2198 closed, assigned to acrymble

[2021-07-15 11:46] walshbr commented on #2006
I noticed this was not working correctly, and I think I caught the syntax error that was causing the PT bot to fail. Will keep an eye over the next week to make sure that it works correctly and then close if it does!

[2021-07-15 12:02] DanielAlvesLABDH commented on #2006
Thanks for keeping an eye on this @walshbr

[2021-07-16 15:27] anisa-hawes opened #2203 "Updating feedback.md"
I am updating the options for leaving feedback/reporting bugs, reflecting revisions to our Lesson Maintenance Workflow.

[2021-07-16 17:13] anisa-hawes commented on #2058
Reflecting revisions discussed within this Conversation, I have:

- updated the Wiki page https://github.com/programminghistorian/jekyll/wiki/Lesson-Maintenance-Workflow (feedback is welcome) + changed the title of the Wiki page from Bug Assessment to Lesson Maintenance Workflow.

- opened an Issue #2203 to update `en/feedback.md` which outlines options for reporting bugs

- contributed to the Dra

[2021-07-16 17:20] anisa-hawes commented on #2058
A further possible action mentioned in the Conversation above is adding an alternate email field (non institutional) to our lesson proposal form (to reduce the possibility of losing contact with authors).

The potential change would be here:
https://github.com/programminghistorian/jekyll/blob/gh-pages/assets/forms/Lesson.Query.Form.txt

This form is linked from https://programminghistorian.org/en/

[2021-07-17 08:04] amsichani commented on #2058
That was the case with a lesson I ve been editing - the author changed job/email addresses, however we could always reach them via GitHub if we have this info - but I second the idea of having an authors' alternate non-institutional email address in hand.

[2021-07-18 14:02] acrymble commented on #2028
@Anisa-ProgHist I think this is the same problem as #1955. Maybe you can close both at the same time?

[2021-07-18 14:03] #2175 closed, assigned to jenniferisasi, anisa-hawes

[2021-07-18 15:07] acrymble commented on #2142
@Anisa-ProgHist I know this one is in Spanish but it's a really quick and easy fix, so I'm tagging you when you have time.

[2021-07-19 06:23] drjwbaker commented on #2058
@Anisa-ProgHist on..

..I suggest we edit to align with https://github.com/programminghistorian/jekyll/wiki/Spending-Requests#ongoing-costs

We currently budget for 8 paid-for bug fixes per year (financial year, starting in October), so I'm happy for you / Publishing Assistant to contact a bug fixer without approval, then only contact me if we get to to 5 or 6 spends to see if we need to increase

[2021-07-19 06:36] drjwbaker commented on #2159
I now can't make this, apologies.

[2021-07-20 16:11] acrymble opened #2205 "Expenses form"
At the request of our finance manager @drjwbaker we are going to need to get an expenses procedure, including paperwork trail, in place in the coming few months, to accommodate new types of spending.

We'll try to find the least bureaucratic process we can.

[2021-07-20 18:55] svmelton commented on #2123
Apologies, all—I've had a meeting scheduled to onboard someone at work from when we first filled out the poll, and I won't be able to make the new date. Also @drjwbaker my calendar invite was still for today, but that may just be something weird with my calendar?

[2021-07-21 05:34] drjwbaker commented on #2123
Apologies @svmelton. Digging through my email, I realise that I resent the call details with the new date but failed to resend the calendar invite.

[2021-07-21 10:22] anisa-hawes commented on #2058
Thank you @drjwbaker. Understood. I will make this edit. May I confirm, is the budget for 8 fixes in total, or 8 fixes per journal?

I can certainly keep a note of the budgets used, and monitor this through the year.

[2021-07-21 10:41] drjwbaker commented on #2058
Total. But this can and should be revisited.

And thanks.

[2021-07-21 11:05] anisa-hawes commented on #2058
I have edited the Wiki page to reflect feedback from James and Riva. 1. That the Publishing Assistant will monitor the annual budget for external assessors, rather than contacting the Finance Manager in each case. 2. That the Publishing Assistant will be the point of contact for external assessors.

[2021-07-21 11:16] #1984 closed, assigned to nobody

[2021-07-21 11:16] #2053 closed, assigned to spapastamkou

[2021-07-21 14:02] walshbr commented on #2006
Seems to be working @DanielAlvesLABDH. So I'll close this.

[2021-07-21 14:02] #2006 closed, assigned to walshbr, DanielAlvesLABDH

[2021-07-21 14:56] #2142 closed, assigned to rivaquiroga, anisa-hawes

[2021-07-22 10:08] acrymble commented on #2148
@drjwbaker are you happy for me to get us going with a Google account? It costs $6/mo

[2021-07-22 10:10] drjwbaker commented on #2148
Yes. What is the payment method?

[2021-07-22 10:14] acrymble opened #2209 "Type setting"
I think it's time we talk about type setting as a service, that's distinct from copyediting in that it focuses on consistent use of layout / structure in new lessons, and does a check on any associated files, image formatting, etc. This is something that can be done even if the typesetter doesn't read the language in question (whereas copyediting requires very strong language skills).

I think thi

[2021-07-22 10:22] drjwbaker commented on #2209
I'm for this.

That said, semantics perhaps, is 'typesetting' the right word for this? We aren't producing pretty pdfs after all.

[2021-07-22 10:52] anisa-hawes commented on #2209
Within the Author Guidelines, we sub-divide the tasks of *Step 2. Writing and Formatting a New Lesson* into three parts:
- Style and Audience
- Specific Style Guidelines
- Formatting Guidelines

Perhaps our typesetting service and workflow can be developed from the Formatting Guidelines section. I think it could also absorb some aspects from the Specific Style Guidelines, such as the instructions

[2021-07-22 11:33] acrymble commented on #2148
@drjwbaker I will have to put it on my credit card.

[2021-07-22 11:34] drjwbaker commented on #2148
billed annually or monthly? Ideally we'd do the former (because that is less paperwork for me)

[2021-07-22 11:36] acrymble commented on #2148
Actually we can do paypal or direct debit. Preference?

[2021-07-22 11:43] drjwbaker commented on #2148
Paypal is slightly easier to process.

[2021-07-22 12:09] acrymble commented on #2148
Ok we have an account with Google. I just need to wait for our partners to verify that we can use the domain (I've sent an email). Then we should be able to set this up and close the ticket.

[2021-07-22 12:43] amsichani commented on #2148
I propose to use this email or at least cc it in every ltd-related process/comm/project email.

[2021-07-22 12:46] drjwbaker commented on #2148
I prefer not. We have the shared gmail for that. This is just for Anisa to do their job. And there are many Ltd related things that it isn't right for Anisa to see (e.g. our interactions with payroll, HMRC, etc)

[2021-07-22 12:49] amsichani commented on #2148
Do we need then to set up an ltd email as well?

[2021-07-22 12:51] acrymble commented on #2148
Its possible. It's £4 per email address per month. We can definitely discuss @amsichani

[2021-07-22 13:53] josircg commented on #2148
Hi folks, you can try Google for Nonprofits!

https://www.google.com/nonprofits/

You definitely are eligible.

Josir.

Em qui., 22 de jul. de 2021 às 09:51, Adam Crymble ***@***.***>
escreveu:

[2021-07-22 14:13] drjwbaker commented on #2148
So many systems are plugged into the shared gmail the idea makes me **really** nervous (unless we can do some clever forwarding to a new @programminghistorian.org email address).

[2021-07-22 14:42] drjwbaker commented on #2209
Okay. Happy to be corrected.

[2021-07-22 15:01] josircg commented on #2148
It's easy to do as well. I do it all the time for my customers.
The most "dangerous" part is to change the DNS settings for the domain.
Josir.

Em qui., 22 de jul. de 2021 às 11:14, James Baker ***@***.***>
escreveu:

[2021-07-23 08:24] drjwbaker commented on #2148
@josircg When we chose to do this, would you be willing to help?

[2021-07-23 10:38] anisa-hawes opened #2210 "Updating fr/consignes-auteurs.md and pt/directrizes-autor.md"
In dialogue with Riva, I have updated `en/author-guidelines.md` to reflect recent revisions to the Lesson Maintenance workflow. I have proposed a new paragraph (see below). Within #2077, Riva has provided an ES translation. This update requires translation into FR and PT so that it can also be added to `fr/consignes-auteurs.md` and `pt/directrizes-autor` as well.

--

Hello @programminghistorian/f

[2021-07-23 10:39] anisa-hawes commented on #2058
Above, we have discussed the question of whether we should we should ask authors to provide an alternative email address (personal rather than institutional) at the Lesson Proposal stage: https://github.com/programminghistorian/jekyll/issues/2058#issuecomment-881600065

A concern raised by Adam, is whether this means we may be collecting/holding too much personal data. In dialogue with Adam and al

[2021-07-23 10:39] #2058 closed, assigned to drjwbaker, rivaquiroga, anisa-hawes

[2021-07-23 11:27] josircg commented on #2148
Sure! Count on me.
We can make a "Anydesk" or GRD connection and do it together.

Em sex., 23 de jul. de 2021 às 05:24, James Baker ***@***.***>
escreveu:

[2021-07-23 13:36] rivaquiroga commented on #2210
In #2077 we also updated the author guidelines regarding software citation and computational resources, ans the editor guidelines regarding the use of formulas: https://github.com/programminghistorian/jekyll/pull/2077/files#diff-dbb0ad10d5e3662eaa385051ddad999b946d167c497e5745bea6a3c3ddfc0498

[2021-07-23 13:43] anisa-hawes commented on #2210
Apologies, @rivaquiroga! I should have noted these updates within this Issue!

[2021-07-23 14:10] #2123 closed, assigned to acrymble, drjwbaker, anisa-hawes

[2021-07-23 15:43] #2203 closed, assigned to anisa-hawes

[2021-07-23 17:21] anisa-hawes commented on #2030
Hello @hawc2. I'd like to be part of this conversation!

[2021-07-26 12:34] jenniferisasi commented on #2141
For the record, I have started to work on item 1, create the 4-lang titles in a gSheets as it will be easier to share for language checks (and it's easy to transform into .md later if needed).

[2021-07-27 12:10] acrymble commented on #2205
I've sent a draft to @drjwbaker for comment.

[2021-07-27 13:39] acrymble commented on #2205
Ok @drjwbaker is happy. We've updated the Wiki to reflect the simple change of making a spending request. If there are further things that need clarifying they will be fixed when they're noticed. But for now I am closing this.

https://github.com/programminghistorian/jekyll/wiki/Spending-Requests

[2021-07-27 13:39] #2205 closed, assigned to acrymble

[2021-07-27 16:25] drjwbaker commented on #2205
Fab. Thanks @acrymble. I've edited the contact point to me at the PH gmail.

[2021-07-27 16:28] acrymble commented on #1981
I've just spoken to GMU's web admin person and they claim not to have any access to this. I can only assume that this is Matt's personal account. @ZoeLeBlanc can you please attend to this? I can't proceed with #2148 Email Adddress for @Anisa-ProgHist until we have access to this Cloudflare account to verify we actually own our domain.

[2021-07-27 16:31] drjwbaker commented on #1981
This was done in January. Someone associated the PH gmail with Cloudflare. Those with access, search the gmail account.

[2021-07-27 16:32] drjwbaker commented on #1981
(25 Jan to be specific)

[2021-07-27 16:41] acrymble commented on #1981
If that's the case then this ticket should be closed and we need the Service Integrations page updated so I know who I can contact to help me with Cloudflare: https://github.com/programminghistorian/jekyll/wiki/Service-Integrations

Can someone on the @programminghistorian/technical-team please make this update?

[2021-07-27 16:46] ZoeLeBlanc commented on #1981
We didn't close the cloudflare ticket because I hadn't done the DNS servers yet I thought (honestly can't remember at the moment since I'm in the middle of packing my house to move Thursday). I can close this ticket and make a new one for the DNS issue specifically if that makes the most sense.

[2021-07-27 16:48] drjwbaker commented on #1981
Good luck with the move @ZoeLeBlanc (I hate moving house, you have my sympathies). If you need to get into the gmail again and run into two-factor authentication issues, let me know and we can resolve this over a quick call.

[2021-07-27 17:09] acrymble commented on #2148
I've spoken to the RRCHMN web administrator and he says he's unable to help us set up our Google email because they only pay for the domain and have no access to our hosting.

There are 3 ways I can verify our domain and get the email working:

1) Log in to our cloudflare.com account (possible if we have sign in access to the domain host)
2) create a TXT record (only possible if we can edit the do

[2021-07-27 17:25] josircg commented on #2148
Hi Adam, in fact there are more steps to take. But the first on is access the registar. Probably www.domain.com

https://whoisnote.com/whois/programminghistorian.org

And here are the generic steps:

https://support.google.com/a/answer/140034

[2021-07-27 17:27] ZoeLeBlanc commented on #2148
@acrymble I can log into our cloudflare account but I need to transfer over the DNS to our account for any of those options to be viable (at least I think that's true, maybe @josircg can weigh in?). Currently I thought the DNS records were through GMU but maybe they are still under Matt Lincoln's account 🤔 ?

[2021-07-27 17:28] ZoeLeBlanc commented on #1981
Thanks @drjwbaker !! Turns out I still have access to both gmail and cloudflare so should be good for now 🤞🏽

[2021-07-27 17:36] josircg commented on #2148
Hi Zoe. In theory, you don't need to transfer accounts or other dangerous actions. The process is:

1) log in the registar.
2) add the MX records supplied by Google.

and never touch the www configuration. kkk...

See an live example:

![mxrecords](https://user-images.githubusercontent.com/634507/127201313-32403481-d296-4123-8846-b180677c1825.png)

[2021-07-27 18:04] acrymble commented on #2148
@ZoeLeBlanc if you email me the login details I can try to follow the steps for option 1. If it doesn't work, I promise not to mess with any other details. Otherwise, I can give you the Google Workspace login details and you can try instead?

[2021-07-28 08:59] acrymble commented on #2159
Team Name: ProgHist

By: Adam Crymble Date: 28 July 2021

Actions Completed Since Previous Report:

- Hired & onboarded Digital Humanities Publishing Assistant @Anisa-ProgHist
- Established Lesson maintenance workflow and started fixing lessons (@Anisa-ProgHist / @rivaquiroga )
- Hosted 2 UCL digital humanities students to help us with lesson maintenance & accessibility work @acrymble
- Have appro

[2021-07-28 09:24] acrymble opened #2213 "New £300 budget for publications (outreach)"
This is an action arising from 22 July 2021 ProgHist meeting #2123:

ProgHist has been able to approve an additional budget of £300 per journal per year for outreach and community activity. This was originally suggested by @arojascastro (thank you). This ticket is a space for deciding what guidance and limits should be offered that ensure it is used appropriately and to good effect.

# It has been

[2021-07-28 09:41] drjwbaker commented on #2213
Just to two notes from a process/finance perspective:

- this is in addition to ongoing spending (e.g. on copyediting)
- I'd be grateful if spending was for 1 or 2 purchases rather than lots of little receipts (because lots of little receipts take a lot more time for us to process!)

[2021-07-28 11:48] ZoeLeBlanc commented on #2148
Happy to email you the login details @acrymble! Thanks for taking the lead on this 👍🏽

[2021-07-28 12:36] ZoeLeBlanc opened #2214 "Brandon Walsh Retirement 😭"
Sadly our beloved @walshbr is retiring at the end of the Summer!

As far as I can tell the only remaining open ticket assigned to you is #2072 which we'll discuss at our Summer meeting (hopefully next week).

A few other remaining things that I'm sure you're already on top of Brandon is making sure we hand over any of your remaining duties, remove you from any documentation so that you don't get u

[2021-07-28 12:49] walshbr commented on #2214
Happy to do an exit interview if ya want - @svmelton had talked about it as well, and we could do the two together if you want. This is the full checklist:

- [x] Remove Google Groups access (@jenniferisasi)
- [x] Remove Google Analytics access (@acrymble)
- [x] Remove Github Jekyll access (@ZoeLeBlanc)
- [x] Remove from ProgHist Ltd register of members (@drjwbaker)
- [x] Remove Twitter access (@j

[2021-07-28 13:01] ZoeLeBlanc opened #2215 "Onboarding Alex to Tech Team"
This is a pretty redundant ticket but wanted to make sure that we had officially both welcomed @hawc2 to the Tech Team and also made sure to add him to any official documentation, as well as answer any questions about our processes (or lack thereof 😅 )

[2021-07-28 13:02] ZoeLeBlanc opened #2216 "August Tech Team Meeting: August 24 2021"
Hiya @programminghistorian/technical-team here's our agenda for our Summer Tech Team Meeting.

We're tentatively scheduled for August 3 2021 from 10-11:30am EST (pending my move) and I've already emailed the Zoom link.

Our agenda is pretty thick so hopefully we can get through everything and if I've missed anything below please feel free to add it.

-  Deal with initial metadata ticket #1995
- @w

[2021-07-28 13:06] ZoeLeBlanc commented on #2159
# Technical Team Report

By: @ZoeLeBlanc

Date: 28 July 2021

Actions Completed Since Previous Report:

- @walshbr closed #2006 (Adding PT to Twitter Bot)
- @jenniferisasi closed  #1945 (Lesson sequence banners in ES)
- #2106 is pretty much ready to merge once we decide on language to add to the blog to indicate that  we'll no longer have our html-proofer check the blog for links or html formattin

[2021-07-28 13:26] spapastamkou commented on #2159
## FR Team Report
by @spapastamkou on 28 July 2021

**Actions Completed Since Previous Report - New Actions:**
1 translated lesson reviewed and published
1 translated lesson that was received is now under review
1 original lesson (2nd) that was received is now under review
3rd original lesson proposal accepted - lesson to be received by end of September

**Actions Remaining Open Since Previous Rep

[2021-07-28 13:39] jenniferisasi commented on #2159
# Communications Team Report

By: @jenniferisasi

Date: 28 July 2021

Actions Completed Since Previous Report:
- published mid year newsletter

Substantive Actions Remaining Open Since Previous Report:
- Front page redesign #2020 overlapping with @programminghistorian/technical-team
- Change menu bar from static top to fixed top #2100 overlapping with technical-team
- Process to avoid content over

[2021-07-28 13:43] acrymble commented on #2148
@ZoeLeBlanc I'm not able to do this because our account isn't authorized to make changes. So this is currently stuck.
![Screen Shot 2021-07-28 at 14 42 25](https://user-images.githubusercontent.com/646647/127332720-0286a981-c3f6-418a-aeb4-f1bdd01c37eb.png)

[2021-07-28 14:28] hawc2 commented on #2030
Per our team meeting discussion on July 28 #2159, @Anisa-ProgHist and I will test out perma.cc for a PH lesson using the one I just finished editing, currently under copyedit stage with Anisa, issue #325 in ph-submissions: https://programminghistorian.github.io/ph-submissions/lessons/clustering-with-scikit-learn-in-python.

As we finalize this lesson for publication, we'll try to develop some basi

[2021-07-28 14:30] hawc2 commented on #2215
Thanks for the formal welcome! I do need to update the profile page in a few ways.

Not to make this ticket complicated or anything, but just to say the work I've been doing with @walshbr and @Anisa-ProgHist updating the docs for Onboarding new Editors has been fruitful, and if there's anything I can do to help formalize onboarding process for the tech team, let me know!

[2021-07-28 14:58] rivaquiroga commented on #2159
## ES Team Report
by @rivaquiroga on 28 July 2021

**Actions Completed Since Previous Report**
- 2 new original lessons published. We hitted the 50 lessons milestone :tada:
- we shortlisted the candidates for new editors

**Actions Remaining Open Since Previous Report:**
- 3 original lessons under review
- 1 translation under review
- candidates interviews will be held during the first weeks of Au

[2021-07-28 15:16] spapastamkou opened #2217 "Adding the PT project in EN, FR and ES About pages"
I noticed that the About / A propos / Acerca pages do not list the PH in PT in the History of the project part (see here for the EN page: https://programminghistorian.org/en/about#history-of-the-project). We should add a phrase that in 2021 we added a Portuguese version just like in the [PT page](https://programminghistorian.org/pt/sobre#hist%C3%B3ria-do-projeto).

[2021-07-28 15:21] #2158 closed, assigned to mariajoafana

[2021-07-28 15:22] jenniferisasi commented on #2217
Oh, good catch @spapastamkou we totally forgot about that little but important part 😳😅

How does this sound? EN and ES
- A year later, we were joined by a Portuguese-speaking team and launched [Programming Historian em português](https://programminghistorian.org/pt/) in early 2021.
- Un año después, un equipo de habla portuguesa se unió a nosotros e inauguramos [Programming Historian em português]

[2021-07-28 15:23] acrymble commented on #1986
@Anisa-ProgHist it was agreed today at the Project Team meeting that I'd add this to the wiki and close the ticket. Do you have a suggestion for where this should go on the wiki?

[2021-07-28 15:33] spapastamkou commented on #2217
Cool, thanks @jenniferisasi, let's keep this pattern. I will open a pull request shortly. It will be a good occasion to also clean these pages from all the "The" of Programming Historian (there are plenty everywhere) :-)

[2021-07-28 15:34] jenniferisasi commented on #2217
You can ping me to do the review and approve and anything else if needed :)

[2021-07-28 15:40] anisa-hawes commented on #1986
Thank you, @acrymble. I feel it would fit best within the Human Resources section, e.g., following the pages detailing Privileges-and-Responsibilities-of-Membership and Admin-when-team-members-step-down.

Would you like me to create a new page?

I notice that the Human Resources section doesn't appear on the Wiki's Home page, neither the heading nor contents. Does this need adjusting too?

[2021-07-28 15:51] JMParr commented on #1986
Agree with Anisa's suggestions.

On Wed, Jul 28, 2021 at 11:40 AM Anisa Hawes ***@***.***>
wrote:

[2021-07-28 15:59] anisa-hawes commented on #2141
Hello @jenniferisasi. Would you like to share a link to the Google Sheets document you've created? If it's useful I can include it within the Minutes of today's Project Team Meeting. Do you envisage that this list of lesson titles/concordance document will eventually be part of the Wiki?

The other aspect which has been discussed above, is how this might be woven into our Lesson Proposal Form and

[2021-07-28 16:42] jenniferisasi commented on #2141
Sure thing, here it is: [ph-lesson-concordance](https://docs.google.com/spreadsheets/d/1vrvZTygZLfQRoQildD667Xcgzhf_reQC8Nq4OD-BRIA/edit?usp=sharing)

On n.2, I agree that a warning of shorts should go in the Author Guidelines. We could link to this spreadsheet once it is ready (and it will update continuously) or the translation concordance page if we at the tech-team decide it is plausible to up

[2021-07-28 17:03] acrymble commented on #1986
Thanks everyone. Added it and fixed the Wiki.

[2021-07-28 17:03] #1986 closed, assigned to acrymble

[2021-07-28 18:47] DanielAlvesLABDH commented on #2217
Obrigado! 😉

[2021-07-29 15:37] anisa-hawes commented on #2159
Dear @mariajoafana and dear all,

Thank you for your time yesterday.

I have added the Minutes to our private repository. They are available for you to view via this link:

https://github.com/programminghistorian/project-and-business-archive/blob/master/project/Meetings/2021/07_2021_ProjectTeamMeeting.md

Please let me know if you feel I have missed any important points, or mis-represented somethi

[2021-07-29 15:48] #2210 closed, assigned to anisa-hawes

[2021-07-29 15:51] acrymble commented on #2159
@Anisa-ProgHist you've done a brilliant job. Just one very minor note that this line doesn't technically apply to the "Project Team" (only to ProgHist):

Quorum of 3 reached (per Article 9 of the Articles of Association).

[2021-07-29 15:54] anisa-hawes commented on #2159
Ah! Thank you, @acrymble! Didn't realise this. I will remove that statement.

[2021-07-29 17:19] anisa-hawes commented on #1955
Note to self: Also consider feedback received via email from the Centre for Data, Culture and Society at the University of Edinburgh.

[2021-08-01 08:30] acrymble commented on #2216
I raised this in the Project Team meeting @ZoeLeBlanc but I think it would be worth the tech team assessing https://janeway.systems/ as a possible platform solution. It's developed by the DH team behind the Open Library of the Humanities.

[2021-08-02 15:55] drjwbaker opened #2220 "Technical Onboarding of Tiago"
This is a checklist of items that @drjwbaker needs to work through with our new Digital Humanities Publishing Assistant (in support of the Jisc and TNA funded project ‘Programming Historian publications: developing computational skills for digital collections’), @tiagosousagarcia (from 9 August 2021).

- [x] add to Github
- [x] work station assessment
- [x] dedicated email?
- [x] introduce to Proj

[2021-08-02 15:56] drjwbaker commented on #2220
@tiagosousagarcia Please ignore any notifications from me and/or this repo until next week :)

[2021-08-02 15:59] drjwbaker commented on #2214
@walshbr I note you are an admin on the repo https://github.com/orgs/programminghistorian/teams/administrators Do we need to nominate someone to take over this or are 4 people enough?

[2021-08-02 16:00] walshbr commented on #2214
That'd be up to @ZoeLeBlanc I think. I believe ML (when he was technical lead) wanted to have fewer folks as admins, and I was only added later for whatever particular work I was doing at that time.

[2021-08-02 16:01] drjwbaker commented on #2214
ML did. Happy to @ZoeLeBlanc to make the call if having a second @programminghistorian/technical-team person as repo admin is useful.

[2021-08-02 16:04] drjwbaker commented on #2220
@acrymble Could you please make @tiagosousagarcia a member of https://github.com/orgs/programminghistorian/people. I don't appear to have those admin rights.

[2021-08-02 19:20] acrymble commented on #2220
@drjwbaker it says he isn't a github member, so I can't add him.

[2021-08-03 05:59] drjwbaker commented on #2220
That is weird @acrymble. I checked with one of my non-PH organisations/repos, and I can invite @tiagosousagarcia.

[2021-08-03 06:21] acrymble commented on #2220
got it. Sorry. You don't include the @ symbol :P

[2021-08-03 06:51] acrymble commented on #2213
@programminghistorian/english-team @programminghistorian/spanish-team @programminghistorian/portuguese-team @programminghistorian/french-team can I ask that each team discuss this internally and post to this ticket before the next Project Team meeting.

I presume we all agree that MEs should not use this money to buy themselves cigarettes and alcohol. What I'd like us to agree is the more realisti

[2021-08-04 15:53] anisa-hawes opened #2221 "Newsletter: September 2021"
Hello all,

I am opening this Issue to collate content for our September Newsletter. I'll be collaborating with @jenniferisasi to produce this one, and will be taking it forward as part of my role.

Please let me know if you have ideas for inclusion under the headings I've sketched out below, or if you'd like to suggest a another section. Edits and comments are very welcome!

Thank you!

Anisa

1.

[2021-08-05 10:30] anisa-hawes opened #2222 "Lesson Maintenance request: Tradução da lição Using Geospatial Data to Inform Historical Research in R"
In https://github.com/programminghistorian/ph-submissions/issues/389 @joanacvp and @dianarebelorodriguez have reported some problems with the lesson *[Using Geospatial Data to Inform Historical Research in R](https://programminghistorian.org/en/lessons/geospatial-data-analysis)*. Two issues with the lesson's code were identified during the process of translation.

I am opening this Issue to docume

[2021-08-05 10:41] joanacvp commented on #2222
thank you very much for all your help @Anisa-ProgHist

[2021-08-05 14:34] walshbr commented on #2214
@svmelton I just moved the last lesson I'm editing along to copyediting. So I think we should be good for going ahead with the rest of these now that that piece is moving through the finale stages and we have a tech call scheduled to discuss the last open ticket on my plate.

[2021-08-05 14:34] walshbr commented on #1932
Removing myself from assignment on this as I'm leaving the group and the two of you seem to have it from here!

[2021-08-05 14:35] walshbr commented on #2072
Removed myself from assignment on this as we have a final meeting scheduled to chat about it before I leave the team, at which point it will be taken over by others.

[2021-08-05 17:15] anisa-hawes opened #2223 "Project Team Meeting: Thursday 30th September 2021"
Minutes of our July meeting are [here](https://github.com/programminghistorian/project-and-business-archive/blob/master/project/Meetings/2021/07_2021_ProjectTeamMeeting.md)

Date: Thursday 30th September. Thank you for filling in the [Doodle Poll](https://doodle.com/poll/6rgvfdfuypfpwudp?utm_source=poll&utm_medium=link)
Time: 09:00 COT / UTC−05:00

Maria José @mariajoafana will initiate our call.

[2021-08-05 17:16] #2159 closed, assigned to anisa-hawes

[2021-08-06 15:19] anisa-hawes commented on #2030
As part of our pilot implementation of perma.cc on [Submission #325](https://github.com/programminghistorian/ph-submissions/issues/325), I have collated a list of all links which appear in the lesson (numbers represent the line/paragraph where the links appear).

This list includes links featured in tables, links referenced within code, and links in footnotes.

Note to self: I would be interested

[2021-08-09 07:34] acrymble opened #2226 "Lost copy of Daniel's research"
We've lost the live link to a paper @DanielAlvesLABDH  wrote

Daniel Alves, ‘Ensinar Humanidades Digitais sem as Humanidades Digitais: um olhar a partir das licenciaturas em História’, Revista EducaOnline, v. 15, n. 2 (2021).

This was possibly due to a fire. In order to continue merging pull requests we have to remove the link: http://www.latec.ufrj.br/revistas/index.php?journal=educaonline&page=

[2021-08-09 07:39] acrymble opened #2227 "clarification on rebasing pull requests service"
We've been all very well treated by @walshbr who has I think quite unofficially been our "I can't get this pull request to work" fixer over the past year or so. Especially helping when pull requests fall behind the main branch.

With his retirement, I just wanted to clarify who or how we're going to manage this moving forward? @programminghistorian/technical-team do we have a plan or a preferred m

[2021-08-09 10:57] drjwbaker commented on #2220
@acrymble: would you be willing to talk to @tiagosousagarcia briefly about the project structure? E.g. anything they needs to know in addition to that which is on the wiki https://github.com/programminghistorian/jekyll/wiki (note: Tiago works on Monday only)

[2021-08-09 10:59] drjwbaker commented on #2220
Note to discuss with @peterwebster via email about setting up a dedicated email for this project that he and @tiagosousagarcia can access (e.g. for cfp submissions). Note that this may not be possible as a programminghistorian.org email as that ticket is a little stuck https://github.com/programminghistorian/jekyll/issues/2148 (correct @acrymble?)

[2021-08-09 13:18] acrymble commented on #2220
@drjwbaker I'm just about to go on leave, so I don't think I'll be able to reach @tiagosousagarcia in time. I can reconnect in September though if it's still useful at that stage.

[2021-08-09 13:22] drjwbaker commented on #2220
Thanks @acrymble. September is still useful.

[2021-08-09 13:44] acrymble opened #2228 "Difficulty on /lesson pages - suggestion from ipp"
We've had a suggestion from an IPP potential member that it would be helpful to make the "difficulty" rating of lessons visible on the /lessons page so that educators and learners can easily find lessons that are manageable in a workshop setting with users of varied abilities.

It might be worth us doing some focus group work to get feedback on the /lessons page layout more generally, as I've had

[2021-08-09 14:52] amsichani commented on #2220
do let me know if I can be of help on the email front in the meantime -

[2021-08-09 15:18] tiagosousagarcia commented on #2220
Hi @drjwbaker, @acrymble and @amsichani! Very excited to join the team! Rather embarrassingly, my first contribution here is to ask for help -- I seem not to have permissions to create a branch (so that I can add myself to the project team) -- anything anyone can do on that front, or am I just missing something really obvious?

[2021-08-09 15:22] drjwbaker commented on #2220
Ack. I think you might need to be added to the Project Team https://github.com/orgs/programminghistorian/teams/project-team/members?query= @acrymble @walshbr @JoshuaGOB @ZoeLeBlanc: as maintainers of this team, am I right?

[2021-08-09 15:23] acrymble commented on #2220
@tiagosousagarcia you should have received an invite. Can you check your github or spam to see if one is waiting?

[2021-08-09 15:23] drjwbaker commented on #2220
@tiagosousagarcia If this doesn't get fixed by the end of today, hopefully we can ensure you are ready to go next Monday!

[2021-08-09 15:25] tiagosousagarcia commented on #2220
@acrymble I received an invite to join the organisation, but I'm guessing I need a different permission to work in this repo -- nothing in spam/github boxes, I'm afraid

[2021-08-09 15:27] tiagosousagarcia commented on #2220
@acrymble @drjwbaker I'm guessing that someone might have done something, because I can now do it! Thanks!

[2021-08-09 15:28] drjwbaker commented on #2220
Ah the mysteries of github.

[2021-08-09 15:30] amsichani commented on #2220
Fantastic @tiagosousagarcia ! Please go ahead and add yourself on the project team page, so we can tick (almost) all the boxes of this ticket. As @acrymble and @drjwbaker are soon going on holidays, happy to answer any questions (today or next Monday) here or via email/zoom ( I am off from 23rd Aug).

[2021-08-09 15:31] tiagosousagarcia commented on #2220
Thanks @amsichani!

[2021-08-09 17:43] ZoeLeBlanc commented on #2227
Thanks for starting off this thread @acrymble! I think this is an important question especially because @walshbr is just incredibly responsive in a way that I think we would love to continue but we'll hard pressed to do. I think it's important to set reasonable expectations for how quickly everyone can reply to Github tickets, especially considering we are all in different time zones and almost al

[2021-08-09 18:36] svmelton commented on #2214
Thank you @walshbr!! We're going to miss you :(

[2021-08-09 20:24] #2106 closed, assigned to nobody

[2021-08-10 06:39] #2217 closed, assigned to spapastamkou

[2021-08-11 06:01] drjwbaker commented on #2227
Thanks for your thoughtful response @ZoeLeBlanc. I'm aware that @acrymble is taking a well earned break, so I thought I'd add a few thoughts seen as this issue is likely to be a slow burn.

Very much agree here. Ideally tech team shouldn't be tech support but about maintaining/improving our infrastructure, and different tags should be able to distinguish those different kinds of labour.

On urgenc

[2021-08-11 10:30] anisa-hawes commented on #2228
Thank you, Adam. This idea relates to another conversation you & I had recently, about the possibility of exposing further metadata on the Lessons page. One of the other aspects of information which might be useful to see at first glance is the date of publication. Although it is possible to 'sort' Lessons according to their publication date or difficulty rating, this is implicit rather than expli

[2021-08-11 11:28] walshbr commented on #2227
FWIW, there's a range of needs here - a difference between deep technical training to really be able to respond to technical issues and what's needed for some of these things.

1. Updating a branch because it's out of date before it can be merged.
2. Correcting URLs
3. Things that need more in-depth attention.

I tended to be responsive to 1 and 2 because they were almost always quick fixes that I

[2021-08-11 13:06] drjwbaker commented on #2227
I would hope most of us can resolve 2, or be shown how: the recent(ish) change to the build fail interface threw me at first, but I got my head around it quickly.

On 1., agree: we need to know who here is comfortable working with git on the command line (I am). There is a professional development angle here as well: it would be lovely to send some of the PH team on a Software Carpentry workshop h

[2021-08-11 13:25] jenniferisasi commented on #2227
On 1, I have tried several times in the past but was always unsuccessful and gave up because it was not working. However, @ZoeLeBlanc graciously showed me all the process the other day; turns out I needed an SSH connection that, of course, I didn't know about, so the "push" from my terminal was not working. I think if we can set up a few more people with that connection and write a simple instruct

[2021-08-11 17:09] anisa-hawes commented on #2030
Another example which I think may be useful to consider: [Submission #348](https://github.com/programminghistorian/ph-submissions/issues/348)

LINKS

- [ ] 23 [The Entertainment Software Association](https://www.theesa.com/esa-research/2019-essential-facts-about-the-computer-and-video-game-industry/)
- [ ] 25 [*Red Dead Redemption II*](https://en.wikipedia.org/wiki/Red_Dead_Redemption_2)
- [ ] 27

[2021-08-11 19:02] ZoeLeBlanc commented on #2227
Thanks for chiming in everyone! Completely agree with everything so far and will add that I had never really looked at the git commands generated on a Github issue until yesterday, but I think they are not really the ideal git workflow for our site or editorial workflows, and might be why we tend to have branch conflicts a lot (besides the link checker at least).

I'm happy to take the lead writin

[2021-08-12 17:18] DanielAlvesLABDH commented on #2226
New copy found... https://github.com/programminghistorian/jekyll/pull/2218#issuecomment-897804819

[2021-08-13 10:43] anisa-hawes commented on #2030
Thinking about citations, and wondering whether it would be useful to include both the original URL and the perma.cc URL in our bibliographies/footnotes.

e.g., [http://ceur-ws.org/Vol-2253/paper22.pdf](http://ceur-ws.org/Vol-2253/paper22.pdf) *archived at* [https://perma.cc/---](https://perma.cc/---)

Looking at the recently published lesson [Detecting Text Reuse with Passim](https://programmingh

[2021-08-13 10:52] anisa-hawes commented on #2030
Also, this guide looks useful: https://guides.law.stanford.edu/c.php?g=588091&p=4063422

It shows how it is possible to 'batch create' links, and organise links within folders. Both these features will be useful to us.

PDFs can also be archived. This could be useful for an example such as that given above ([http://ceur-ws.org/Vol-2253/paper22.pdf](http://ceur-ws.org/Vol-2253/paper22.pdf)) of conf

[2021-08-13 11:40] anisa-hawes commented on #2195
Hello @ZoeLeBlanc. Having worked on this over a couple of sessions, I'm still struggling to get set up. Last night, I even enlisted the help of a friend – but actually that didn't help because suddenly, the workflow was out of my hands. I'm clear that I need to understand the methodology I'm using. I want to be able to re-produce my steps and install further VMs later.

Someone definitely needs to

[2021-08-13 12:25] josircg commented on #2195
Hi @Anisa-ProgHist I have a lot of experience on VirtualBox and, on my opinion, VirtualBox is *much* better than Fusion. My suggestion is to focus on it.

I can help you with that because I had some Win7 and Win10 appliances available. With that, you don't need to install windows from scratch. We can go on here or we can continue on email josircg at gmail dot com.

[2021-08-13 12:26] josircg commented on #2195
Important question: how many RAM do you have on your MAC?

[2021-08-13 12:34] anisa-hawes commented on #2195
Thank you so much, @josircg! It sounds like I could learn a lot with your support!

I have 8GB of RAM. Do you think this will be sufficient? My hope is to install two VMs within VirtualBox to start with, one running macOS Catalina, and one running Windows. I will email you, and perhaps we can organise a time to connect.

[2021-08-18 08:09] #2220 closed, assigned to drjwbaker

[2021-08-18 10:14] anisa-hawes commented on #2227
Hello all. Thank you! Brandon mentioned this workflow for updating a branch to bring it up to date in a previous ticket, but I don't feel entirely confident in my understanding at the moment. There is an option within each pull request to "open in GitHub Desktop" or "view command line instructions".

`git fetch origin
git checkout -b Issue-\#[Issue] origin/Issue-\#[Issue]
git merge gh-pages
git pu

[2021-08-18 10:31] anisa-hawes opened #2230 "Update en/research, es/investigacion, fr/recherche, pt/pesquisa"
I am updating the link to Daniel's article ‘Ensinar Humanidades Digitais sem as Humanidades Digitais: um olhar a partir das licenciaturas em História’, *Revista EducaOnline*, v. 15, n. 2 (2021).

[2021-08-18 12:47] #2226 closed, assigned to anisa-hawes

[2021-08-18 12:47] #2230 closed, assigned to anisa-hawes

[2021-08-19 01:35] ZoeLeBlanc commented on #2227
Thanks for letting me know about your interest @Anisa-ProgHist ! I'm not sure when I'll be able to organize the workshop but happy to do a one-on-one git session if you're stuck on a particular branch.

Generally the workflow I use to update a branch from gh-pages is the following:
[code]
Once you have the gh-pages locally in that branch you can repeat the steps from git status to git push.

Now t

[2021-08-19 10:12] anisa-hawes commented on #2227
Thank you @ZoeLeBlanc! I'm not stuck with a particular Issue at the moment, but I think this would be a good workflow to understand and become familiar with. I'd be really happy to connect in a couple of weeks when you have more scope in your schedule. Shall we put something in our calendars?

[2021-08-19 14:26] jenniferisasi commented on #2227
@ZoeLeBlanc you two need to make sure @Anisa-ProgHist has that special access :)

[2021-08-23 14:07] svmelton opened #2232 "Offboarding Sylvia Fernández"
- [x] Remove Google Groups access (@jenniferisasi)
- [x] Remove Google Analytics access (@acrymble)
- [x] Remove Github Jekyll access (@ZoeLeBlanc)
- [x] Remove from ProgHist Ltd register of members (@drjwbaker)
- [x] Remove Twitter access (@jenniferisasi)
- [x] Change team: true to team: false, and add team_end: YYYY to the _data/ph_authors.yml file to remove the person from the Project Team page

[2021-08-23 14:15] svmelton commented on #2232
@sferna109 currently has one lesson in the workflow, which we're working on reassigning to another editor.

[2021-08-23 14:24] walshbr commented on #2214
@jenniferisasi @acrymble @ZoeLeBlanc @drjwbaker just a note to start checking off these items. I'm meeting with the tech team tomorrow to discuss the last things I'd been working on with them, so might be good to wait until after that to remove my push access to the repository. But other than that I'm sailing away.

[2021-08-23 14:34] walshbr commented on #2214
DM'd @svmelton and @ZoeLeBlanc about a debrief if they wanted it. We've got one scheduled.

[2021-08-24 13:43] ZoeLeBlanc commented on #2216
Also adding to our agenda #2227 to discuss both git workshops for editors and overall processes

[2021-08-24 14:00] DanielAlvesLABDH commented on #2213
Hi @acrymble and all. I already had the opportunity to talk with the PT team and the idea was to organize a workshop around one or two lessons / methods of the PH and use the money to pay for the speaker and to expand the outreach on social media. Do you think that is feasible / acceptable? What is the timetable for this? Thanks in advance

[2021-08-24 14:07] ZoeLeBlanc commented on #1995
Discussed at #2216 mostly just on @ZoeLeBlanc to talk with editors. Might also reach out to @Anisa-ProgHist to discuss revamping on-boarding processes and initial lesson submission

[2021-08-24 14:16] ZoeLeBlanc commented on #2072
Discussed #2216 with @walshbr and agreed to immediately tweak the PT color contrast and then discuss next steps for accessibility.

[2021-08-24 14:27] walshbr commented on #2072
FWIW there is a branch with the PT color change up already - https://github.com/programminghistorian/jekyll/tree/pt-color-change. Lots of merges have happened since I worked on it though.

[2021-08-24 20:01] walshbr commented on #2214
Opened #2233 to remove me from the project team page (no need to make @acrymble do it for me).

[2021-08-24 20:11] jenniferisasi commented on #2232
I will keep @sferna109 in the google groups until the end of the off-boarding process so she can receive goodbye emails

[2021-08-25 09:59] anisa-hawes commented on #1995
Thank you, @ZoeLeBlanc! Let's connect to  discuss this. I am currently revising the on-boarding documentation to run a pilot with the EN team this autumn ahead of wider implementation.

[2021-08-27 14:23] hawc2 opened #2235 "Clean up PH-Submissions repo"
The [PH-Submissions repo](https://github.com/programminghistorian/ph-submissions) has been renovated over the last couple years to make it look more like the Jekyll repo's directory structure. However, a legacy [lessons folder](https://github.com/programminghistorian/ph-submissions/tree/gh-pages/lessons) still exists, and it has caused confusion for new editors on the English and Portugues team, w

[2021-08-27 14:46] DanielAlvesLABDH commented on #2235
Hi @hawc2, I have started to move the files of the lessons to the "pt" folder before the vacation, but there is still two files that are under revision right now. If the links in the tickets can be updated, for me those files can move to the "pt" folder and the old one can be deleted. Thanks for this

[2021-08-27 22:44] rivaquiroga opened #2237 "Onboarding Checklist for Spanish language publication editor: Nicolás Vaughan"
This is an individual onboarding Editor checklist for Nicolás Vaughan (@nivaca). ¡Bienvenido, Nicolás!

## Bienvenido

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put together this information to help you get up to speed. It includes details of what we will do

[2021-08-27 22:48] rivaquiroga opened #2238 "Onboarding Checklist for Spanish language publication editor: Isabelle Gribomont"
This is an individual onboarding Editor checklist for Isabelle Gribomont (@isag91). ¡Bienvenida, Isabelle!

## Bienvenida

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put together this information to help you get up to speed. It includes details of what we will

[2021-08-27 22:52] rivaquiroga opened #2239 "Onboarding Checklist for Spanish language publication editor: Nicolás Llano"
This is an individual onboarding Editor checklist for Nicolás Llano (@nllano). ¡Bienvenido, Nicolás!

## Bienvenido

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put together this information to help you get up to speed. It includes details of what we will do an

[2021-08-28 00:04] jenniferisasi opened #2240 "Blogpost to announce 3 new editors in the Spanish-speaking team"
I am opening this ticket to keep track of the blogpost I need to prepare to welcome and announce our three new editors: @nllano @isag91 and @nivaca. We are asking them to provide a short paragraph of themselves and I will take pictures from their ph_authors update or from their professional profiles online.

@Anisa-ProgHist I am tagging you here, but the blogpost will be primarily in Spanish. We c

[2021-08-28 00:22] jenniferisasi commented on #2100
At the August Tech Team meeting we decided to let this go for now, since we are planning on either changing our framework/service or improving the current one to go back to faster build times. I'm closing this ticket.

[2021-08-28 00:22] #2100 closed, assigned to jenniferisasi

[2021-08-28 12:20] spapastamkou commented on #2238
this is so cool, welcome!!

[2021-08-30 06:46] isag91 commented on #2238
¡Gracias por la bienvenida! I'm really looking forward to meeting everyone and working with you!

@Anisa-ProgHist my gmail address is isabelle.gribomont@gmail.com

[2021-08-30 08:29] isag91 opened #2243 "make a technical contribution on your own using those guidelines. This will normally be adding your bio to the /data/ph_authors.yml file, and uploading a square black and white avatar (.png) of yourself to /avatars. You will then submit a pull request for approval so that this bio information can be added to the Project Team page. Please, make this contribution in only one pull request. If you are not sure how to do it, please let us know."

[2021-08-30 13:26] #2243 closed, assigned to isag91

[2021-08-30 14:42] acrymble opened #2246 "Updating ProgHist membership list"
We have a number of changes we need to add/remove:

Removals:

- Sylvia & Brandon & Ricardo Pimenta

Additions (to be invited by @acrymble):

- Nicolas Llano
- Isabelle Gribomont
- Nicolas Vaughan

To be complete by end of October 2021.

[2021-08-30 14:46] nivaca commented on #2246
@acrymble Hi, I think in both cases is "Nicolas" without an "h". Thanks.

[2021-08-30 15:25] rivaquiroga commented on #2076
@DanielAlvesLABDH , while adding the new Spanish editors to our Project Team page, I realized Ricardo Pimenta still appears there as an [PT editor](https://programminghistorian.org/en/project-team#programming-historian-em-portugu%C3%AAs). Is that correct? If the onboarding was suspended, then the related tasks that were completed must be reverted.

[2021-08-30 16:34] acrymble commented on #2227
@ZoeLeBlanc thanks for the suggestions and everyone else too.

It sounds like a combination of training, and updates to outdated documentation (https://github.com/programminghistorian/jekyll/wiki/Technical-Team & https://github.com/programminghistorian/jekyll/wiki/Making-Technical-Contributions), are good first steps for this specific matter about pull request rebasing.

I think there may also be

[2021-08-31 03:13] ZoeLeBlanc commented on #2227
Thanks for the reply and feedback @acrymble. I believe that @hawc2 and @Anisa-ProgHist are already taking the lead on updating some of the documentation, though I believe they are maybe focusing on editorial workflows and ph-submissions initially (feel free to correct me though!). I think having a discussion at the next project team meeting about the remit of technical and how more paid help, or i

[2021-08-31 07:22] drjwbaker commented on #2213
Short note on timescales, the budget is available from the start of the new financial year (1 October)

[2021-08-31 08:01] acrymble commented on #2076
Good catch @rivaquiroga!

* [x] Remove Google Groups access
* [x] Remove Github Jekyll access
* [x] Remove from ProgHist Ltd register of members (will be done via #2246)
* [x] Remove Twitter access (@jenniferisasi) - Jenn does he have access to Twitter? I know not everyone does.
* [x] Change team: true to team: false, and add team_end: YYYY to the  _data/ph_authors.yml file to remove the person fr

[2021-08-31 08:11] acrymble commented on #2232
@jenniferisasi the google group is the last outstanding item here.

[2021-08-31 08:14] acrymble commented on #2215
@ZoeLeBlanc is this complete?

[2021-08-31 08:20] acrymble commented on #2216
@ZoeLeBlanc when you are able can you please update me on the status of the Cloudflare account? I can't set up Anisa with an email address until that's complete, and I can't do it myself.

[2021-08-31 08:24] acrymble commented on #2195
@Anisa-ProgHist this looks stuck. Would it be faster for us to see if we can find you a used Windows machine? Our goal is lesson maintenance, not VMs, after all.

[2021-08-31 08:47] DanielAlvesLABDH commented on #2076
Dear @rivaquiroga and @acrymble thanks for this

[2021-08-31 10:29] acrymble commented on #2227
In keeping with our longstanding use of tickets to keep track of tasks not yet finished, I think it's important that we update the documentation and then close this issue. @hawc2 are you happy to action this by updating the documentation so that more of us know how to rebase an out of date pull request branch?

[2021-08-31 12:18] drjwbaker commented on #2246
I'll edit the register of members

[2021-08-31 12:26] drjwbaker commented on #2246
Done https://github.com/programminghistorian/project-and-business-archive/tree/master/business/Register-of-Members/2021

[2021-08-31 12:27] #2246 closed, assigned to acrymble

[2021-08-31 12:44] peterwebster opened #2249 "Translation required for (one sentence of) the Call for Papers for the JISC/TNA project"
We could use FR/ES/PT translations of the following text:

"The Programming Historian invites proposals of new tutorials dealing with computational analysis of large-scale digital collections, as a part of a special series developed in partnership with the National Archives and Jisc."

Could @drjwbaker assign some folk to help?

[2021-08-31 13:33] DanielAlvesLABDH commented on #2249
If it helps, here is the translation for Portuguese: "O Programming Historian convida à apresentação de novos tutoriais relacionados com a análise computacional de coleções digitais em grande escala, como parte de uma série especial desenvolvida em parceria com os National Archives e o Jisc."

[2021-08-31 14:10] jenniferisasi commented on #2249
Here it is in Spanish:

"Programming Historian los invita a presentar propuestas para lecciones nuevas relacionadas con el análisis computacional de colecciones digitales a gran escala, como parte de la serie especial desarrollada en colaboración con los National Archives y Jisc."

[2021-08-31 14:25] jenniferisasi commented on #2232
Ok, done!

[2021-08-31 14:35] jenniferisasi commented on #2076
Checking on Twitter ... he didn't have access yet.

[2021-08-31 15:55] drjwbaker commented on #2249
Thanks all. Looks like @spapastamkou has seen it but tagging @programminghistorian/french-team for completeness.

[2021-08-31 15:57] drjwbaker commented on #2249
For context, the call is coming out in English but it felt sensible to have at least the opening line translated into ES/FR/PT. If colleagues feel strongly that the whole call should be translated and are willing and able to do that, please say.

[2021-08-31 15:57] jenniferisasi commented on #2249
So @spapastamkou or anyone else only needs to edit:

"Le Programming Historian lance un appel à contributions pour de nouveaux tutoriels qui traitent de l'analyse computationnelle de grands corpus de collections numériques, dans le cadre d'une série spéciale développée en partenariat avec les Archives nationales du Rayaume-Uni (The National Archives) et l'organisation Jisc."

[2021-08-31 15:58] jenniferisasi commented on #2249
@drjwbaker once @peterwebster sends me the call to add it to our blog I can have a better sense (well, and everyone else) if we need to translate it in full :)

[2021-08-31 16:00] drjwbaker commented on #2249
@peterwebster Note that the submission form is already translated at https://github.com/programminghistorian/jekyll/tree/gh-pages/assets/forms (at least the sections we are using for CFP responses)

[2021-08-31 16:15] #2232 closed, assigned to svmelton

[2021-08-31 18:27] spapastamkou commented on #2249
Thanks @jenniferisasi! I edited slightly. You can copy the French text from Jennifer's comment directly, @peterwebster

[2021-08-31 18:39] hawc2 commented on #2227
Yes, we can update that portion of the docs. If there are other technical
tasks that should be added to documentation, please let us know.

On Tue, Aug 31, 2021, 6:30 AM Adam Crymble ***@***.***> wrote:

[2021-09-01 01:24] ZoeLeBlanc commented on #2148
Sorry for not following back up on this @acrymble ! I don't really know what to do with the cloudflare issue so wondering if we could set up a meeting with @josircg maybe? I feel like this might go quicker via video chat than github issue, so let me know if that makes sense and I can start an email chain. Thanks!

[2021-09-01 01:28] ZoeLeBlanc commented on #2235
This all sounds fantastic @hawc2 and @Anisa-ProgHist! Let me know if there's anything else I can do to help. Should I open a separate issue for updating our ph-submissions repo documentation? Mostly wondering if we should fold #1995 into a larger overall ticket for ph-submissions workflows. Lmk what you think. Thanks!

[2021-09-01 01:46] ZoeLeBlanc commented on #2215
Pretty much! Final thing I wanted to check was with @hawc2 and if he had SSH (or HTTPS) for this repo setup locally? I'm assuming you do but since Jenn didn't I want to double check. Thanks!

[2021-09-01 11:26] anisa-hawes commented on #2195
Thank you, @acrymble. This has certainly been more challenging than I envisaged, but with with @josircg's kind
help (and great patience) I have now got Windows 10 and Ubuntu running on Virtual Box. In the end, I organised use of an alternative MacBook (secondhand, via a friend) with greater RAM than my own computer. The VM still feels a little slow, but I will test it on a Windows-based Lesson Mai

[2021-09-01 13:52] hawc2 commented on #2235
Opening a separate repo for ph-submissions docs makes sense to me. Once
ticket #1995 is finished it'll be easier to update docs accordingly

On Tue, 31 Aug 2021 at 21:28, Zoe LeBlanc ***@***.***> wrote:

[2021-09-01 13:56] hawc2 commented on #2215
Yep should be all set!

On Tue, 31 Aug 2021 at 21:46, Zoe LeBlanc ***@***.***> wrote:

[2021-09-01 17:21] anisa-hawes commented on #2222
Hello @joanacvp and @dianarebelorodriguez. Sincere apologies for the long delay in getting back in touch with you about this. I'm afraid I am encountering the same issue, I am unable to get R to recognise the data file in the first instance. I’m uncertain if I’ve established the working directory correctly, and the text doesn't go into any specific details about this path naming. I have reached ou

[2021-09-01 17:27] joanacvp commented on #2222
Hello. Thank you very much for your help @Anisa-ProgHist. We will wait for the technical team feedback

[2021-09-01 17:41] rivaquiroga commented on #2222
@Anisa-ProgHist, I'm happy to help with issues related to R lessons. If you want I can take a look

[2021-09-01 18:04] anisa-hawes commented on #2222
Thank you, @rivaquiroga! That would be so much appreciated!

[2021-09-01 18:40] rivaquiroga commented on #2222
**Issue 1 (folder path)**

The instructions and code are correct **BUT** they are not easy to follow because of the structure of the zip file. When you unzip it you get `Archives/geospacial-data-analysis/`... and then the files of the lesson:

[code]
The author is expecting you to put the files inside `geospatial-data-analysys` into a folder called `data` in your current working directory. If you

[2021-09-01 20:55] rivaquiroga commented on #2222
**Issue 2 (last plot)**

I tried to recreate the plot and got the same problem. It looks like there have been some changes in the newer versions of plotly that broke the code.

An updated version would be:

[code]
Please note that I made two changes in the code:

1. I added two arguments to avoid getting a warning (`type = "scatter", mode = "markers"`)
2. I removed the argument that set the hover

[2021-09-01 21:13] DanielAlvesLABDH commented on #2222
Dear @rivaquiroga what a great help! Many,  many thanks!

[2021-09-02 09:57] joanacvp commented on #2222
@rivaquiroga thank you very much for your precious help!
@Anisa-ProgHist how should be proceed now? Should @dianarebelorodriguez make the changes on the lesson?

[2021-09-02 10:11] anisa-hawes commented on #2222
Wow! @rivaquiroga, you are brilliant! 🌟  Thank you so much!

I may need your help to update the assets and image content in this case. I know how to adjust the plot code within the EN lesson file itself. For the PT translation, does it make sense for @dianarebelorodriguez to incorporate these changes directly? How does it usually work for assets associated with translated lessons?

I very much app

[2021-09-02 10:55] anisa-hawes commented on #2167
Thank you, @pao-chuan! Working through these steps, I can confirm that the Windows 10 interface looks identical to Windows 7 at steps illustrated by Figure 2
<img width="423" alt="Screenshot 2021-09-01 at 14 27 01" src="https://user-images.githubusercontent.com/87070441/131686952-36fc800a-ded1-402d-bb77-f914ab41716a.png">
 and Figure 3
<img width="631" alt="Screenshot 2021-09-01 at 15 05 27" src="

[2021-09-02 12:49] rivaquiroga commented on #2222
Sure, I will make the changes on that branch and let you know when I'am ready.

Regarding translated lessons: if we don't translate images and assets, the translations points to the files of the original lesson. If we do translate them, we add the new files to the original lesson folder. You can see an example [here](https://github.com/programminghistorian/jekyll/tree/gh-pages/images/building-stat

[2021-09-02 13:58] svmelton commented on #2167
Thank you for your work on this @Anisa-ProgHist! Yes, please generate a PR, and I think it would be helpful to replace the figures with the screenshots you've taken.

[2021-09-02 14:02] rivaquiroga commented on #2222
@Anisa-ProgHist, the zip file and the plot are now updated in the branch` Issue-#2222`.
Please note that I merged a PR after you created that branch, so there is chance that we will need to update your branch. If you need help with that, let me know

[2021-09-02 16:15] acrymble commented on #1932
Update from conversation with @Anisa-ProgHist the goal for this test is to have 1 document where editors can go to both learn the process / best practices of editing, and to refresh their memory as needed.

This should be in 1 place only and not spread across multiple pages / websites / wikis

[2021-09-02 16:50] acrymble commented on #1932
Suggestions for simplifying editorial work and therefore making it easier to learn (from a conversation w @Anisa-ProgHist ):

- Stop having separate proposal/submission tickets. Just do the whole thing on one ticket only. Easier for authors and editors.
- Help editors understand the chronology of editing a lesson. This then this then this...
- Don't assume editors have experience with peer review

[2021-09-02 17:23] anisa-hawes commented on #1981
Hello @programminghistorian/technical-team. I'm really keen to get my PH gmail address set up, so I can join the Google Group, manage new members, and set up a work calendar. Reading through this thread as well as #1761, I understand that our domain is managed via Cloudflare and that there have been some complexities involved in transferring the DNS admins over. Is there any update? Please let me

[2021-09-02 17:36] anisa-hawes commented on #2195
I am closing this Issue as I've now got Windows 10 and Ubuntu running on Virtual Box on a (borrowed) laptop, + macOS running on my own machine. This will suffice for now, but in conversation with @acrymble we agree that the Lesson Maintenance tasks I undertake for Windows-based Issues could be more efficient if I acquire a secondhand Windows computer.

[2021-09-02 17:36] #2195 closed, assigned to anisa-hawes

[2021-09-03 14:01] joanacvp commented on #2222
Hello. Thank you so much for your help once again @rivaquiroga and @Anisa-ProgHist. @dianarebelorodriguez can you please incorporate the changes in the lesson? Thank you!

[2021-09-03 14:14] dianarebelorodriguez commented on #2222
Good morning! Thank you very much @rivaquiroga and @Anisa-ProgHist for your help! Sorry, I wasn't talking a lot in here, but I'm going to change our translation later on today @joanacvp :)

[2021-09-03 14:19] joanacvp commented on #2222
Thank you so much for the great work @dianarebelorodriguez

[2021-09-03 14:24] anisa-hawes commented on #2222
Thank you for your patience, @joanacvp and @dianarebelorodriguez!

You will be able to see the specific changes made within the [[Commit History for the related PR](https://github.com/programminghistorian/jekyll/commits/Issue-%232222)].

One detail which I almost forgot, was updating the name of the zip file where it is mentioned in the lesson (at line 73 of the EN) so you may need to make a note

[2021-09-03 15:56] rivaquiroga commented on #2223
@Anisa-ProgHist, it is possible to set the date for the meeting in the next few days?

[2021-09-03 16:04] anisa-hawes commented on #2223
Thank you, @rivaquiroga! This was on my list! Thursday 30th September appears to be the best choice.

[2021-09-03 16:07] jenniferisasi commented on #2223
Ok, then, I will see to leave a work meeting earlier if I can or join a bit late (we set regular meetings every other Thursday now at 9:30AM)

[2021-09-03 21:01] svmelton opened #2255 "Regular ME meetings"
In a couple of recent conversations with members of the English and tech teams, I'd like to suggest that we set up standalone Managing Editor meetings, maybe on a quarterly basis. The full team meetings are useful for updates, but I think we might benefit from time to talk specifically about editorial matters. Curious to know how others feel!

[2021-09-03 21:22] rivaquiroga commented on #2255
Sounds great!

[2021-09-03 21:40] spapastamkou commented on #2255
I'm in

[2021-09-04 11:05] acrymble commented on #2240
@jenniferisasi I just wanted to note that this isn't something we do consistently for all new editors. A number of editors never got a blog post. So I wonder if we should cease this practice moving forward to create consistency and reduce extra tasks?

[2021-09-04 11:09] acrymble opened #2256 "Using PH in teaching event on November 18th - UK targeted virtual"
We've won some funding from the Institute of Historical Research in London to put on a virtual workshop for how to use PH lessons in teaching settings.

I will be the host.

The date is not yet set, but I've spoken to @anisa-hawes and will wait until more of our lesson maintenance backlog has been closed to increase choices for educators. Aiming for something in either October or November 2021.

[2021-09-04 14:07] jenniferisasi commented on #2240
🤔 we add a note of new (and retiring) editors in the newsletter so I guess we could do away with an individual blogpost. We have been doing it in FR and Es regularly, and to some extend organically, as the main editor takes it as their role to write a short note on new editors; but you are right that I haven't received those note for publication from everyone.

[2021-09-04 14:12] jenniferisasi commented on #2256
Fantastic news, @acrymble!

Just fyi, Brandon and I are going to be using some lessons for what we've called "PH Bookclub" for ACH, we will work on a lesson together on Zoom, so it's more showing people how to learn from it, also in Oct and Nov.

[2021-09-05 12:51] #2167 closed, assigned to anisa-hawes

[2021-09-05 12:52] #2222 closed, assigned to anisa-hawes

[2021-09-05 13:10] anisa-hawes commented on #2030
I suspect that [Submission #348](https://github.com/programminghistorian/ph-submissions/issues/348) is an unusual case, but it does raise some interesting challenges.

It included several links to the interactive games which are currently playable on the live web. Perma.cc cannot effectively render this kind of complex content, so upon following the link I think readers would be dissatisfied. Howe

[2021-09-05 13:47] hawc2 commented on #2030
Thanks Anisa, this is just what we were hoping to test. The YouTube issue
is more surprising than itch.io games. I can reach out to perma.cc to hear
their perspective on the problem of archiving dynamic content and emulation
systems. I also might consult a couple scholars who work in archiving
digital games.

This article suggests webrecorder may succeed in some cases where perma.cc
has not:
https

[2021-09-05 14:58] acrymble opened #2257 "Patreon new leadership needed"
I've been running our Patreon donations system since December 2019. But I'm out of ideas and energy for it and it's really stagnated now. We are seeing a slow decline of income via this stream.

https://www.patreon.com/theprogramminghistorian

Since this is a ProgHist task, I will put it on our next Proghist meeting agenda in the first instance.

[2021-09-05 16:18] anisa-hawes commented on #2030
Ah! Yes ! I almost included in my previous comment, that when I am not at PH, I am a freelance web archivist and I use Webrecorder daily ! It is my tool of choice: brilliantly powerful. Definitely capable of capturing these interactive games - I have tested it to archive several, similarly complex, sites/artefacts in the past. I know the web archivists at the British Library very well, including t

[2021-09-05 16:26] anisa-hawes commented on #2030
The developers of Webrecorder are among my direct contacts, and I'd be delighted to chat with them about our use case ✨

[2021-09-06 10:36] isag91 opened #2258 "Portuguese version not mentioned in 'Contribute' pages in French, Spanish and English"
I was reading the [/contribuciones](https://programminghistorian.org/es/contribuciones)  page of the Spanish site as part of my onboarding and noticed that it does not mention Portuguese alongside French and English.
The Portuguese version is also omitted from the [French](https://programminghistorian.org/fr/contribuer) and [English](https://programminghistorian.org/en/contribute) equivalent pages

[2021-09-06 10:51] DanielAlvesLABDH commented on #2258
@isag91 I believe this was mentioned in another ticket a couple of weeks ago, but not sure if it was @jenniferisasi to mentioned it or othwr colleague

[2021-09-06 11:40] rivaquiroga commented on #2258
Thanks, @isag91! @spapastamkou identified the same problem on the About page ([#2217](https://github.com/programminghistorian/jekyll/issues/2217)). But it seems we missed the mention on Contributions!
It would be great if you can make the changes 🚀

[2021-09-06 13:26] jenniferisasi commented on #2239
I am going to upload an avatar photo for the blogpost; @nllano

[2021-09-06 13:57] #2240 closed, assigned to jenniferisasi, rivaquiroga

[2021-09-06 14:54] svmelton commented on #2255
Thanks, @spapastamkou and @rivaquiroga! @DanielAlvesLABDH if that sounds good to you, I can set up a poll for a first meeting.

[2021-09-06 14:56] svmelton commented on #2223
Thanks all! I will give my update a bit closer to the date, and I'll likely be unable to attend. A couple of items to mention in advance:

- @ZoeLeBlanc and I have been having some conversations about how to help onboard editors, and how a position in the tech team might be able to facilitate that. @hawc2 suggested recruiting a "technical editor" who could help teach some of the initial lesson lay

[2021-09-06 15:19] DanielAlvesLABDH commented on #2255
Sorry for the late reply. I agree with the idea

[2021-09-06 15:31] #2258 closed, assigned to isag91

[2021-09-06 19:55] spapastamkou commented on #2223
In the meantime I have become unavailable for at least one hour thirty min after the agreed hour; I will see who can assist on behalf of the @programminghistorian/french-team and update here.

[2021-09-07 17:47] nllano commented on #2239
Hey @JoshuaGOB  my email is llano.nicolas@gmail.com
Thanks!

[2021-09-07 18:40] nllano commented on #2239
Thanks @jenniferisasi

[2021-09-08 06:13] #2249 closed, assigned to jenniferisasi

[2021-09-08 06:13] drjwbaker commented on #2249
https://github.com/programminghistorian/jekyll/pull/2262

[2021-09-09 10:17] anisa-hawes opened #2264 "Update /ph_authors.yml"
I am updating /ph_authors.yml, removing the label 'archivist' from my roles. I will continue to take this responsibility, as detailed on the wiki (https://github.com/programminghistorian/jekyll/wiki/ProgHist-services-to-Publications), but I am removing this from the /project-team pages so that our list of roles is shorter.

[2021-09-09 10:43] Anisa-ProgHist commented on #2227
The [UC Carpentries Fall 2021 Workshop Series](https://ti.to/ucsd-carpentries/uc-carpentries-fall-workshop) looks interesting. I am thinking about signing up for Intro to Git/Github - 09/17 - Day 5.

[2021-09-09 12:26] #2264 closed, assigned to anisa-hawes

[2021-09-09 14:58] anisa-hawes opened #2266 "ProgHist Ltd Board of Trustees Meeting: Thursday 21st October 2021"
## ProgHist Ltd Board of Trustees Meeting October 2021 **Date TBC**

Date: Thursday 21st October 2021. Thank you for confirming your availability via this [Doodle Poll](https://doodle.com/poll/hsmkh8fs4fagrud6?utm_source=poll&utm_medium=link)
Time: [13:00 UTC](https://www.timeanddate.com/worldclock/fixedtime.html?iso=20210407T1300)

@acrymble  will initiate our call.
Meeting link: https://ucl.zoom

[2021-09-09 15:04] drjwbaker commented on #2266
Note I no longer have a institutional Zoom account. So if I set up the call it'll be on Soton Teams. Or we can use something easy and broswer based like [jitsi](https://meet.jit.si/).

[2021-09-09 15:11] anisa-hawes commented on #2266
Ah! Sorry, @drjwbaker! Jitsi is usually good, and I would be happy to initiate this if my Google mail account is set up by then (to schedule a Jisti meet in advance, I believe it is necessary to integrate with either a Gmail or Outlook calendar). Alternatively, perhaps @acrymble could initiate our call?

[2021-09-09 15:53] anisa-hawes commented on #1876
Hello all. I've been looking at this Issue today, after an exchange with a researcher on Twitter:

![Screenshot 2021-09-09 at 16 28 06](https://user-images.githubusercontent.com/87070441/132715698-ed02a305-53f7-4560-aa63-91f957671e10.png)

I think this might be the lesson she was having difficulties with.

I'm wondering if we are happy for the resolution @rivaquiroga has suggested (above) to be im

[2021-09-09 16:12] acrymble commented on #2266
I can set up a zoom @Anisa-ProgHist if you confirm the date when you know more.

[2021-09-09 16:16] DanielAlvesLABDH commented on #1876
Hi @Anisa-ProgHist I agree with the first proposed answer, it's more complete and the Portuguese is clear and correct ;-)

[2021-09-09 16:20] anisa-hawes commented on #2235
As a general step towards tidying up the Submissions Repo (and keeping it organised going forwards) it might be worth us updating the README.md for `ph-submissions`.

We need to clarify which file directory location editors should put lesson .md files. The current instruction is not correct.

--

The URLs for lessons in the Submissions Repository should be:

https://github.com/programminghistorian

[2021-09-09 16:21] anisa-hawes commented on #1876
Thank you, @DanielAlvesLABDH! I will reply to the researcher now, and make a note to be in touch with her again when we have solved this Issue.

[2021-09-09 16:26] DanielAlvesLABDH commented on #2235
I can change the folder structure for the PT team if needed. The logic was to differentiate between original lessons pt/licoes/originais ; translations pt/licoes/traducoes ; and published lessons pt/licoes/publicadas

[2021-09-09 16:42] anisa-hawes commented on #2235
Thank you, @DanielAlvesLABDH.

I think your system of having a sub-folder for published lessons is a really good idea. I've noticed that the @programminghistorian/french-team do this too. @hawc2 and I were chatting recently about an 'archive' folder to which lessons can be moved once they have been published. Your published folder achieves this aim, and makes a lot of sense to me.

It might be goo

[2021-09-09 16:46] DanielAlvesLABDH commented on #2235
That sounds great. Thanks!

[2021-09-10 11:45] anisa-hawes commented on #2221
Hello @programminghistorian/english-team @programminghistorian/spanish-team @programminghistorian/french-team @programminghistorian/portuguese-team Please let me know if you have news to share within the September Newsletter!

[2021-09-10 11:54] DanielAlvesLABDH commented on #2221
Sorry for the late reply Anisa. Yes, do include this, please. Thanks