[2018-04-24 13:48] drjwbaker commented on #651
@arojascastro To clarify, when you say ..

.. what are you referring to here? The first ES proposal that has been received?

[2018-04-24 13:52] arojascastro commented on #651
Yes, exactly, by *we* I meant the *Spanish team*. The author is sending the final *proposal* in the following days.

[2018-04-24 13:55] drjwbaker commented on #651
Thanks for the clarification @arojascastro.

[2018-04-24 14:11] walshbr commented on #651
Just explicitly saying here that I support this and the conversations around it. Have been keeping silent because the other opinions rendered here have been very thoughtful and useful - I trust your judgements. The new text looks good to me. As I mentioned on the call, guidelines like these are also helpful for new editors as we try to find specific points of intervention with new proposals.

[2018-04-24 20:20] arojascastro commented on #651
Just let me add three things.

In my original proposal, I stated the following:

- Be aware of cultural differences related to display capabilities, time and date formats, and personal names.

- Provide information and links to further resources and bibliographical references in several languages.

In the latest proposal we have:

- Use internationally recognised formats for time, dates, etc.

- W

[2018-04-24 21:12] acrymble commented on #651
Sorry @arojascastro I guess I misunderstood.

For the first one, is this something that authors can actualy follow? Other than making them better people, what will being aware of different ways of showing the date do to the lessons?

* Be aware of cultural differences related to display capabilities, time and date formats, and personal names.

[2018-04-25 07:54] drjwbaker commented on #651
On ..

.. can we resolve this by making a distinction between dates/times in free text and dates/times in code or metadata.

So, for dates in free text we accept that there are many ways of representing dates or times.

But for dates/times in code or metadata there are international standards that are useful for ensuring interoperability of code/metadata and that I recommend we use. Specifically,

[2018-04-25 08:38] arojascastro commented on #651
Absolutely @drjwbaker

I took the idea from W3C: https://www.w3.org/International/articles/definitions-time/

I guess this is relevant if we expect tutorials that need input from users (for instance, forms) or about web design. It may be less relevant in text analysis -- but maybe those tutorials focuse on creating a list of dates using XSLT, python or R as well. In any case, if you think it is no

[2018-04-25 08:45] drjwbaker commented on #651
- When choosing your methods or tools, try try to make choices with multi-lingual readers in mind. This is particularly important when working on textual analysis methods, or where users may reasonably want to have support for different character sets (eg, accented characters, non-Latin, etc).
- When choosing primary sources, images, producing figures, or taking screen shots, consider how they wil

[2018-04-25 10:50] acrymble commented on #651
Ok continuing to revise based on feedback:

## Write For a Global Audience

Programming Historian readers live all around the world, and operate in a range of cultural contexts. To help reach that global audience, we have been publishing in more than one language since 2017, and aim to translate all tutorials. **While we recognise that not all methods or tools are fully internationally accessible*

[2018-04-25 13:55] jenniferisasi commented on #651
I like this! Only, on "When choosing your methods or tools, try try to make choices with multi-lingual readers in mind." there are two "try"

[2018-04-25 16:30] mdlincoln commented on #812
If we do want to expose this, it doesn't make sense to _only_ put it in the metadata but not display it somewhere on the rendered HTML page.

I agree with the idea of the discreet approach. We could add a link to the editorial history at the bottom of the lesson page near the suggested citation. (for technical reasons, it would be awkward to place it literally in the footer next to the "page histo

[2018-04-25 17:27] amsichani commented on #788
great- thanks for the update @drjwbaker . Let's wait until 7th May to see how consensus on #378 goes.

[2018-04-26 08:57] acrymble commented on #378
@drjwbaker I suppose the key is yes, fairly independent, but at the pleasure of the Editorial Board which reserves the right to act should it feel the need to do so to ensure quality is maintained.

[2018-04-27 09:49] arojascastro commented on #812
Ok, so from a tecnical point of view, there are some difficulties. Maybe it is not a good idea to implement this suggestion. The link to the review would increase the transparency and credit but I am not sure it would translate into impact (in contrast to the display of number of views). On the other hand, I think Matthew is already working on linking EN to SPA lessons.

[2018-04-27 09:52] acrymble commented on #812
We already record review tickets in the YAML. Is this a different suggestion?

[2018-04-27 09:55] arojascastro commented on #812
Do we? Maybe in the translations we do not... I cannot find it. The suggestion was to display the number in the footer or add a link to the actual ticket, but as I said maybe it is not good idea because there are some difficulties and no clear benefit.

[2018-04-27 10:02] acrymble commented on #812
<img width="787" alt="screen shot 2018-04-27 at 11 03 26" src="https://user-images.githubusercontent.com/646647/39357310-6dcf03e0-4a0a-11e8-8fa0-57fdc21aaec2.png">

[2018-04-27 10:05] arojascastro commented on #812
[code]
Uhmmm. Can't find it

[2018-04-27 10:10] acrymble commented on #812
You obviously forgot to put it in. That's a different issue entirely. Maybe we should be numbering our YAML fields so it's more obvious when one is missing, or providing a template for editors to use so they don't forget?

This is also related to the problem of needing #681 Copy Editing.

[2018-04-27 10:12] arojascastro commented on #812
Yes, I must have forgotten. Can we make it compulsory so TRAVIS alerts us? I do not think we have added that number in any of our translations 😮

[2018-04-27 10:13] acrymble commented on #812
It's easy to forget. I'm sure you're not the only one.

[2018-04-27 11:52] walshbr commented on #812
It's also easy to forget since the fields don't have to be in a particular order. Makes me check over multiple times myself.

[2018-04-27 12:41] ianmilligan1 commented on #812
Yep. In theory moving to the Pull Request -> Review system should move us to reviewing persnickety things like this, esp. as we get used to the new workflow. On my other projects we use that workflow to catch things that we might not set Travis or other automated service to catch.

[2018-04-27 16:31] mdlincoln commented on #812
1. Indeed, I don't currently check for a ticket number in the Travis checks. We can do that for sure. But first we really need to not just put the number, but the full URL, because as I said above:

[2018-04-27 16:49] acrymble commented on #812
Actually I think the oldest lessons tended to be reviewed via email. Is it easiest just to do this as a moving-forward thing where only those lessons with a review ticket are included in this? The rest can have a note: Open Review was not used when this lesson was in submission. Or something like that?

[2018-04-27 17:07] mdlincoln commented on #812
Sure, the very oldest lessons can be excluded from the check. With that exception though, I don't think there's any point in "half" doing this by only implementing this for future lessons. Either fix up the metadata for those that we can, or just stop doing it, otherwise we're going to have a strange patchwork of metadata standards.

[2018-04-27 17:09] acrymble commented on #812
is there any way to get a quick list of which ones don't have it? Maybe I can help.

[2018-04-27 17:12] mdlincoln commented on #812
@acrymble working on it as we speak :)

[2018-04-27 17:16] mdlincoln commented on #812
~Here's a listing from Travis: https://travis-ci.org/programminghistorian/jekyll/builds/372131689~

See more recent build below: https://github.com/programminghistorian/jekyll/issues/812#issuecomment-385187898

[2018-04-27 17:46] acrymble commented on #812
The following (english only) I can fix via pointing to submission site tickets:

 - [x] 3 /lessons/building-static-sites-with-jekyll-github-pages.md:
 - [x] 78 /lessons/correspondence-analysis-in-R.md:
 - [x] 14 /lessons/getting-started-with-github-desktop.md:
 - [x] 6 /lessons/installing-omeka.md:
 - [x] 17 /lessons/intro-to-augmented-reality-with-unity.md:
 - [x] 23 /lessons/json-and-jq.md:
 - [

[2018-04-27 19:08] mdlincoln commented on #812
While I think it's good to go ahead in fixing up the metadata in these the lessons, I still want to make sure we've reached some consensus about **displaying a link to that review ticket on the lesson page**.

![screenshot-2018-4-27 reshaping json with jq](https://user-images.githubusercontent.com/4392604/39380468-81a121c4-4a13-11e8-861f-804bdf58dd59.png)

Are there any strong reactions to display

[2018-04-28 06:13] acrymble commented on #812
I'd prefer something more discrete. And since it's metadata, I feel it should be in the metadata block at the top. LInking a 'peer review' icon makes sense to me.

<img width="1359" alt="example-peer-review" src="https://user-images.githubusercontent.com/646647/39392767-ad6753fa-4ab3-11e8-8c8d-e43a77475bbb.png">

Or even more discrete, just a (?) next to the 'Reviewers' label.

[2018-04-28 16:22] mdlincoln commented on #812
n.b. @arojascastro @mariajoafana Here is the remaining list of lessons that need their review tickets 😬

* In /es/lecciones/contar-frecuencias.md:
  - [x] 'review-ticket' is missing.
* In /es/lecciones/creando-diagramas-de-redes-desde-fuentes-historicas.md:
  - [x] 'review-ticket' is missing.
* In /es/lecciones/crear-y-ver-archivos-html-con-python.md:
  - [x] 'review-ticket' is missing.
* In /es/l

[2018-04-29 13:26] arojascastro commented on #812
Thank you @mdlincoln. I can add the ticket number to the lessons that I edited and you @mariajoafana  can add it to yours and if there are still missing we can split them. Is that ok? This will take me some days though.

[2018-04-30 15:03] mdlincoln commented on #812
Thank you @arojascastro - take your time.

[2018-05-02 20:37] acrymble opened #820 "editorial instructions - review ticket"
@mdlincoln wants the full URL rather than the review ticket number in the 'review-ticket' yaml field.

The instructions in /editor-guidelines currently say:

Needs to be updated in both languages, as well as the example YAML in the same files.

[2018-05-02 20:45] mdlincoln commented on #717
Now the out-of-date lesson has now been retired, @walshbr, I'm going to go ahead and close this issue for now, given that discussion on the new lesson(s) is now happening over on https://github.com/programminghistorian/ph-submissions/issues/169.

[2018-05-02 20:45] #717 closed, assigned to walshbr

[2018-05-03 09:22] arojascastro commented on #820
Ok, I can translate.

[2018-05-03 09:33] arojascastro commented on #820
Done in committ https://github.com/programminghistorian/jekyll/commit/6745800c23cb3dee5387603b0c00f058b6f4714e

[2018-05-03 16:24] acrymble commented on #820
Merged. Closing.

[2018-05-03 16:24] #820 closed, assigned to acrymble, arojascastro

[2018-05-05 11:49] arojascastro commented on #812
Done with all translations! After merging and publishing maybe @mariajoafana @vgayolrs @jenniferisasi @jamotilla could click on each link and make sure I pasted the right ticket.

[2018-05-05 12:05] arojascastro commented on #378
I think this [proposal](https://github.com/programminghistorian/jekyll/issues/378#issuecomment-369307840) is great. However, I do not undestand if that proposal has been replaced with [this](https://github.com/programminghistorian/jekyll/issues/378#issuecomment-383653376). If not, I do not understand how are they related structurally in the wiki/website. Can you clarify the place of each text in o

[2018-05-05 12:06] arojascastro commented on #651
I just want to add that I'm very happy with the final proposal -- it is better and more balanced than my original text. I thank you all also for the collaborative spirit of this issues. You helped a lot to shape my thoughts and I also learned and changed my perspective thanks to your criticisms and comments.

[2018-05-05 13:07] acrymble commented on #378
@arojascastro the idea was to ammend the second one to the first.

We proposed putting it on the wiki just so it didn't need to be translated. 99.99% of our readers won't care about those issues, so I just figured why not keep it off the main site? If you think it should be live and translated, I guess that's fine by me.

[2018-05-05 13:58] arojascastro commented on #378
I think there are some important details in the first proposal that maybe should be included in the second likewise the monthly skype meeting and the paratextual contents that need to be translated before the launch of a new version. I'm happy that this goes to the Wiki only as long as we make sure that potential new editors  read it - that means, that we point out to it in our conversations. I ho

[2018-05-05 14:38] drjwbaker commented on #651
I feel the same @arojascastro. This has been an excellent, passionate, therapeutic discussion.

[2018-05-05 15:16] jenniferisasi commented on #751
I agree too.

[2018-05-05 16:34] mdlincoln commented on #812
Please see the examples of rendering peer review links on lesson headers: https://github.com/programminghistorian/jekyll/pull/816#issuecomment-386817783

(And please leave any comments about them in the pull request - not here!)

[2018-05-05 19:11] #785 closed, assigned to mdlincoln

[2018-05-06 10:17] acrymble commented on #378
Just for total clarity, here is the proposed final text:

The _Programming Historian_ is controlled entirely by the central Editorial Board, comprised of all active members of the project team. In order to ensure that the project continues to thrive, we expect all language sub-teams (English, Spanish, French, etc.) to adhere to the following principles:

1. The sub-team is required to adhere to th

[2018-05-06 12:10] JMParr commented on #378
Sounds good, Adam.

On Sun, May 6, 2018 at 6:17 AM, Adam Crymble <notifications@github.com>
wrote:

[2018-05-06 17:13] mdlincoln opened #823 "Bug in a handful of translation links"
e.g. the selected English page for  <https://programminghistorian.org/es/investigacion> is <https://programminghistorian.org/lessons/preserving-your-research-data>. This is due to a subtle mistake in how I did the string pattern matching. I'm looking into it.

[2018-05-07 07:58] acrymble opened #825 "Request for RSS"
We've had a request via twitter for an RSS feed for new lessons.
<img width="305" alt="screen shot 2018-05-07 at 09 00 22" src="https://user-images.githubusercontent.com/646647/39691238-ce41169c-51d4-11e8-9fc2-c170f46a2f07.png">

[2018-05-07 08:01] acrymble commented on #825
We have this for blog posts (https://programminghistorian.org/feed.xml) - though I don't know that it's advertised anywhere.

[2018-05-07 08:04] acrymble opened #826 "move English pages to /en directory"
As we're getting ready for a third language, does it make sense to shift all English pages to an /en directory in the same fashion as /es or /fr? This obviously means building in redirects and updating links. But it would mean ending the assumption that English is the default or most important language.

@mdlincoln you are the one who knows how complex this would be, so I'll defer to you.

[2018-05-07 11:57] #823 closed, assigned to mdlincoln

[2018-05-07 21:08] mdlincoln commented on #825
We should definitely make this - but I'd love it if someone else took a crack at it :) I'll be glad to review a PR though.

[2018-05-07 21:25] mdlincoln commented on #826
This is a very important question that I'd been thinking about during the recent language refactoring work. I agree completely that structuring every language within a sub-directory would be an important way to underline that the journal is language independent, and doesn't structurally privilege English.

On the technical side of things, this does mean a fair amount of work, though not necessaril

[2018-05-08 08:59] acrymble commented on #378
Thank you everyone for your input on this. This policy has now been moved to the Wiki:

https://github.com/programminghistorian/jekyll/wiki/Additional-Language-Sub-Teams-Policy

[2018-05-08 08:59] #378 closed, assigned to acrymble

[2018-05-08 09:07] acrymble commented on #651
I have created a pull request. This is awaiting translation before being published. Thanks for your views everyone.

[2018-05-08 09:23] acrymble commented on #751
This involves amending the same files as currently being amended for issue #651 so I will change this once that ticket has been closed.

[2018-05-08 09:24] acrymble commented on #779
This involves changing the same files as being amended in #651 so I will adjust that once the first ticket has been closed.

[2018-05-08 09:26] arojascastro commented on #651
Thank you! I can translate the texts on the weekend -- unless someone else can / want.

[2018-05-08 12:46] walshbr commented on #825
I can take a look as per #828 - I'll play around and report back.

[2018-05-08 13:27] walshbr commented on #825
It looks like this actually did used to be part of the behavior of our RSS feed, but [the filtering line](https://github.com/programminghistorian/jekyll/blob/d032ccf998a0d987247de1c70bf8b109489cccd3/feed.xml#L28) is searching for lessons by whether or not they have the default template. Looks like we moved lessons to a different template without updating the feed, so we were missing the lessons an

[2018-05-08 15:23] walshbr commented on #825
Refactored the sorting a bit on the PR based on the fact that we now have translations and will anticipate having more in the future. Will comment further on the PR but once that is merged this can be closed I think.

[2018-05-09 07:09] acrymble commented on #651
It would be great if someone else on the Spanish team would help with this. We rely on @arojascastro a lot for this type of work. I'm sure he would appreciate more help.

[2018-05-09 22:04] jenniferisasi commented on #651
@acrymble and @arojascastro here is a preliminary version of the translation; in this manner, I hope someone can review it and make the necessary changes and paste it where appropriate cos I'm not sure where this goes and last thing I want is break the guidelines website :)

## Escribir para una audiencia global

Los lectores de Programming Historian viven por todo el mundo y, como tal, trabajan e

[2018-05-10 06:31] acrymble commented on #651
I've added this to the pull request. Just need a reviewer to look it all over.

[2018-05-10 06:38] drjwbaker commented on #812
Loving this work. Great job all. Close the ticket?

[2018-05-10 06:41] drjwbaker commented on #826
This sounds like it needs a team and a clear plan. Can we acknowledge at this stage that we want to do this in order to not privilege English, but accept that we need capacity to do it which we don't have right now?

[2018-05-10 07:58] drjwbaker commented on #765
So who else will be at DH besides me and @mariajoafana? (I lost track, sorry!)

[2018-05-10 08:34] arojascastro commented on #651
I can take care later today.

[2018-05-10 08:37] acrymble commented on #826
Part of that process might need to include separating the English editorial "Managing Editor" from a language neutral first point of contact for queries about the whole project (such as wanting to add a new sub team). At the minute this is bundled inherently in the English language representative.

[2018-05-10 08:45] acrymble commented on #826
I've started working on this on a new branch: https://github.com/programminghistorian/jekyll/tree/issue-826

Just to help this along. Here is a list of the pages that would have to be moved:

/lessons

- [x] applied-archival-downloading-with-wget.md
- [x] automated-downloading-with-wget.md
- [x] basic-text-processing-in-r.md
- [x] building-static-sites-with-jekyll-github-pages.md
- [x] cleaning-da

[2018-05-10 09:24] drjwbaker commented on #826
I think we need a list of all the activities that need to happen to deAnglicise our infrastructure (tech and social), give them separate tickets, divide up the work.

So alongside this, I can think of:
- clarity and consistency on contact points for feedback/enquiries by language
- whether https://programminghistorian.org/ should land on a language selection page
- the ISSN work that kinds sparked

[2018-05-10 10:29] arojascastro commented on #651
Done.

[2018-05-10 10:39] acrymble commented on #651
Thanks everyone, and especially @arojascastro for this important policy change.

[2018-05-10 10:39] #651 closed, assigned to acrymble, amandavisconti, mdlincoln, arojascastro, jenniferisasi, amsichani, vgayolrs, mariajoafana, jamotilla

[2018-05-10 12:07] walshbr commented on #765
I'll be there

[2018-05-10 12:43] walshbr commented on #825
Updated in #828 - our feed has the most recent posts, original language lessons, and translations now. Though it might be worth thinking about how we could advertise it better on the site, that seems like a separate issue. So closing this request for now as it has been fulfilled.

[2018-05-10 12:43] #825 closed, assigned to walshbr

[2018-05-10 12:48] acrymble commented on #825
@walshbr can you let the person who requested it know? Maybe good to advertise it generally on Twitter?

[2018-05-10 12:51] walshbr commented on #825
Yep can do @acrymble.

[2018-05-10 15:12] mdlincoln commented on #812
No @drjwbaker we can close the ticket when the PR is finished.

[2018-05-10 15:16] mdlincoln commented on #826
@acrymble already did this: https://github.com/programminghistorian/jekyll/wiki/Additional-Language-Sub-Teams-Policy (also as https://programminghistorian.org/translation-concordance notes, that is a page of actually-translated pages, not should-be-translated pages.

[2018-05-10 15:43] drjwbaker commented on #826
@mdlincoln My bad. Forgive me :)

[2018-05-11 06:51] acrymble opened #833 "Change to funding declarations"
The current funding declaration on the about page is no longer up to date given our upcoming workshp funded by the British Academy. Propose:

## Funding & Ownership

The project is grateful for the following support:

* Seed funding and project management support from the Network in Canadian History & Environment (NiCHE) [2011-2013].
* Ongoing hosting support from the Roy Rosenzweig Center for New

[2018-05-11 07:14] acrymble commented on #826
is there someone on the English editorial team that would be willing to work on some of these matters?

[2018-05-11 20:27] mdlincoln commented on #826
One correction, Adam - given the way our architecture works, both `images` and `assets` must stay exactly where they are. Many (like lesson avatars or our team member profile pics) are referenced across lessons.

[2018-05-12 12:11] acrymble opened #835 "Workflow for translating from Spanish to English"
As we now accept Spanish-language lessons, we need to consider how we will manage the translation of lessons from Spanish into English.

Our workshop in Bogota in August may result in a number of Spanish lessons, so we should be prepared for this workflow for whenever we need to implement it. Please share thoughts on how best to manage this new task.

[2018-05-13 09:08] acrymble commented on #725
If anyone would like to continue this discussion please reopen the ticket. Closing as we haven't had any activity for a few months.

[2018-05-13 09:08] #725 closed, assigned to drjwbaker

[2018-05-13 16:17] acrymble opened #836 "French Translation infrastructure pages"
Before we can publish any French lessons, we need the following pages translated, reviewed, and published:

- [x] index.md
- [x] README.md
- [x] 404.md
en/
- [x] about.md
- [x] author-guidelines.md
- [x] contribute.md
- [x] editor-guidelines.md
- [x] feedback.md
- [x] lesson-retirement-policy.md
- [x] lessons.md
- [x] project-team.md
- [x] research.md
- [x] reviewer-guidelines.md
- [x] /_data/acti

[2018-05-13 16:22] mdlincoln commented on #812
Closed by #816

[2018-05-13 16:22] #812 closed, assigned to mdlincoln, arojascastro, mariajoafana

[2018-05-13 16:23] acrymble opened #837 "Language change icons (header)"
Our header currently only really supports space for 1 additional language.

<img width="1345" alt="screen shot 2018-05-13 at 17 24 17" src="https://user-images.githubusercontent.com/646647/39969339-3c816b28-56d2-11e8-85e1-97c975a54de3.png">

We will need to alter the design a little to allow for choice between 3 languages. Perhaps a "Language" drop down icon? https://thenounproject.com/search/?q=l

[2018-05-13 16:42] mdlincoln commented on #826
@acrymble I notice you are repeating a lot of commits to add the issue urls back on to lessons. This work is done and now merged onto the gh-pages branch, so you shouldn't re-do it, otherwise there will be a huge number of merge conflicts.

[2018-05-13 16:45] acrymble commented on #826
@mdlincoln ya I had made the mistake of updating files that were being updated elsewhere, so I had changed internal links to /en/lessons/..

It seemed faster to add in the review-ticket metadata for the entries I'd already done than to go through looking for links to change, which takes longer.

[2018-05-13 16:53] mdlincoln commented on #826
OK, I think we erred in not setting down a general strategy for this move. It's important to fully sketch out necessary changes, and to rule out unnecessary changes. I'm sorry for not doing that.

1. I'd restart this work by creating a new branch off of the current gh-pages, which contains all the changes to lesson metadata from the review ticket PR.
2. I strongly suggest moving entire directories

[2018-05-13 17:02] acrymble commented on #826
Ok. Does the redirect_from just go in the yml of the file that's moved? I'm not totally clear how the server finds it. Is there a master redirects file somewhere that acts like a map?

[2018-05-13 17:08] mdlincoln commented on #826
No central action is needed. You just add a field in the YAML metadata like so:

[code]

It should contain the path of the old location of the lesson, no `https://programminghistorian.org` required.

[2018-05-13 18:21] jenniferisasi opened #838 "Typo on lesson "R Basics with Tabular Data""
Hi @acrymble,

While reviewing my translating of this lesson ([#164](https://github.com/programminghistorian/ph-submissions/issues/164)), we found a typo on "[R Basics with Tabular Data](https://programminghistorian.org/lessons/r-basics-with-tabular-data)" regarding the code to upload data into R
- The Ós on **read.csv(file=Ófile-name.csvÓ,header=TRUE,sep=Ó,Ó)** should be quotes and read: **read.c

[2018-05-13 19:08] acrymble commented on #826
Ok, I've done this ,but it's on my desktop computer. So I just have to figure out how to do a pull request.

[2018-05-14 07:58] acrymble commented on #838
Thanks, I will fix this after finishing #826 because it involves fixing the same files.

[2018-05-14 08:05] acrymble commented on #814
Can we talk about who has their github set up to receive email alerts? Particularly when tagged in posts? I get the sense that some people have turned this off, which is challenging when we're trying to close tickets that rely on participation.

[2018-05-14 08:23] arojascastro commented on #814
Are the French friends taking part of this meeting?

[2018-05-14 14:27] drjwbaker commented on #835
Perhaps we need a list of all the relevant translation that editors can do and then figure out who is responsible for what. Thus far relevant translations are:

- EN > ES
- ES > EN
- EN > FR
- FR > EN
- ES > FR
- FR > ES

I guess then each team (EN, ES, FR) needs a person responsible for editing incoming translations that have already been edited (I should add, that of course I trust my ES colleag

[2018-05-14 15:03] drjwbaker commented on #837
In the first instance, can't we just list them (whilst making it clear that ES / FR / EN are language options)? We have the space between the title and the options.

[2018-05-14 15:25] drjwbaker commented on #814
@acrymble I have everything on.

[2018-05-14 16:07] jenniferisasi commented on #814
I believe I have all notifications on.

[2018-05-14 16:09] alsalin commented on #814
I have everything on - which may be a problem because it's so much! Things might get lost in there.

[2018-05-15 12:56] walshbr commented on #814
I've got all notifications on, though I selectively mute particular threads depending on the discussion (usually once I've already weighed in or if the content is pretty outside my wheelhouse - a typical example would be a ticket that is being conducted in Spanish, which I have a lot of difficulty reading). As I understand it, if you mute a thread but are mentioned in it you will be unmuted for it

[2018-05-15 14:01] amsichani commented on #814
I have all notifications on.

[2018-05-15 14:21] arojascastro commented on #814
I have them all on as well.

[2018-05-15 17:27] arojascastro commented on #814
I think #812 was closed and it needs not further discussion - but I may be wrong.

[2018-05-15 17:28] arojascastro commented on #756
I think we can close this for the moment and reopen later.

[2018-05-15 17:28] #756 closed, assigned to arojascastro, jenniferisasi, vgayolrs, mariajoafana

[2018-05-15 19:15] drjwbaker opened #841 "Broken logo links on editorial team page"
I'm seeing github and twitter logos broken at [https://programminghistorian.org/project-team](https://programminghistorian.org/project-team). I know there is a some shuffling of files going on - eg at #826 - but not sure if this is connected. Happy to fix if someone points me the right way (I need to start getting more comfortable with our web deployment).

[2018-05-15 19:19] drjwbaker commented on #814
@arojascastro May be nice just to make everyone in the call aware that this happened. It is a nice technical solution that responds to author concerns about institutional credit (eg #730)

[2018-05-15 19:54] walshbr commented on #841
Check out PR #842 @drjwbaker - it will take a second for the netlify preview to update. I think I got them fixed locally though. Sorry to not give you a chance to work on this! In trying to figure out where to point you it turned out to be a pretty easy fix. I'm happy to talk a bit more with you about the web deployment, if you'd like, though I'm certainly no expert.

[2018-05-15 20:01] drjwbaker commented on #841
No worries. Thanks for the fix. Another time.

[2018-05-15 20:01] #841 closed, assigned to nobody

[2018-05-15 20:08] mdlincoln commented on #841
Whoops, sorry for breaking that. Thanks @walshbr for fixing it.

[2018-05-15 21:31] walshbr opened #843 "Membership History"
Realized with Jeri leaving that our membership history is out of date. I can take care of this pretty easily, but not sure when to do so. Should I go ahead and fix, or do we want to wait until they've phased out of editing their final lessons (and thus properly and completely out)?

<img width="597" alt="screen shot 2018-05-15 at 5 28 55 pm" src="https://user-images.githubusercontent.com/2334220/4

[2018-05-15 21:34] acrymble commented on #843
Can you wait until I have managed to close #826 which involves moving almost all English pages? That's currently waiting on #830 pull request which is awaiting a review.

[2018-05-15 22:00] #751 closed, assigned to arojascastro

[2018-05-15 22:00] acrymble commented on #779
This has been closed via #830 pull request.

[2018-05-15 22:00] #779 closed, assigned to acrymble

[2018-05-16 00:34] walshbr commented on #843
Yep!

[2018-05-16 06:27] acrymble commented on #826
@mdlincoln I've managed to create a pull request using Github desktop, but it's to my own repository rather than ours: https://github.com/acrymble/jekyll/pull/1

Can you advise how I get that pull request to our site instead? Sorry I'm just a bit confused.

[2018-05-16 06:39] acrymble commented on #760
I'm not sure I'm going to be able to do this in time to send people stickers to Mexico. We're just needing to make sure our budget is ok before we make this order. So if someone has a pressing need, it might be worth making an individual order in the short term.

I'll still try, but don't rely on me!

[2018-05-16 07:45] drjwbaker commented on #760
Thanks for the update @acrymble. So, those of us going to DH #765 I'm happy to make an order and bring them with me for distribution: say 100 EN and 100 ES?

[2018-05-16 11:45] M0nica opened #847 "Make Tech Install Instructions More Visible"
I attempted to add instructions to running site locally with this PR [https://github.com/programminghistorian/jekyll/pull/844](https://github.com/programminghistorian/jekyll/pull/844) since technical instructions weren't explicitly provided in the README. However, I now see that there is a guide in the Wiki on making technical contributions [https://github.com/programminghistorian/jekyll/wiki/Maki

[2018-05-16 12:03] acrymble commented on #847
Hi @M0nica thanks for opening this. At the minute we put things on the Wiki that are ONLY in English. All other material is subject to translation. Maybe the easiest solution is adding a "Technical Contributions" link to the /Contribute menu, and then continue to add to it on the Wiki?

I definitely agree with you that the README should be updated to make the Wiki content more visible.

[2018-05-16 18:08] acrymble commented on #843
Amanda is still part of the team. She is our ombudsperson.

[2018-05-16 18:39] walshbr commented on #843
Modified accordingly in the to do's above

[2018-05-17 09:55] arojascastro opened #848 "Deleting branches"
This is not urgent neither important, but I think we should try to delete some Github branches that are not longer needed in both repositories and try to re-use others for recurring tasks.

Here are some screenshots:

![branches_2](https://user-images.githubusercontent.com/7340111/40170587-1173c922-59c9-11e8-99b3-81276c299330.png)
![branches_1](https://user-images.githubusercontent.com/7340111/401

[2018-05-17 11:19] walshbr commented on #814
Would be good to get our regular update of #721 in case anyone has news

[2018-05-17 13:42] acrymble opened #849 "Reduce bus factor for service integrations."
At the moment a number of our services are tied to people's personal email accounts.

https://github.com/programminghistorian/jekyll/wiki/Service-Integrations

These need to be centralized into "Programming Historian" controlled accounts in case anyone leaves or otherwise gets hit by a bus.

[2018-05-17 15:23] mdlincoln commented on #848
Yes, we should be deleting branches once they've been merged from PRs. Note, though, that branches aren't meant to be re-used.

Make one, do the PR, and then delete it.

What would also help is if people make informative branch names, commit messages, and PR descriptions.

[2018-05-17 19:02] arojascastro commented on #848
Ah, good to know, I thought it was a good practice, but yes, it makes sense to delete after accepting the PR and not reusing it anymore.

I also agree with the informative names of the branches. I added this to the agenda so we can discuss in our meeting and maybe clarify in the wiki (it it is not already there).

[2018-05-18 01:29] M0nica commented on #847
@acrymble So are you saying that it's okay for the contribute menu _only_ on the English version of the site to have a link to the technical contributions wiki?  <img width="1351" alt="screen shot 2018-05-17 at 9 28 18 pm" src="https://user-images.githubusercontent.com/6998954/40211554-45c76cb0-5a19-11e8-97df-10ca90ce209b.png">

[2018-05-18 06:41] acrymble commented on #847
We have an editorial call in a few days. I've added this to our agenda in case anyone on the team wants to comment before we make changes. I think you've rightly pointed out that our Wiki and the information on it could be much more visible.

[2018-05-18 08:23] drjwbaker commented on #849
Is there a downside of having an proghist email address (eg gmail) that we use for these things? (especially, if we don't expose that email anywhere online as a point of contact, therefore don't need to check, and setup forwarding redirects to our group chat)

[2018-05-19 07:00] acrymble commented on #849
is it possible for it to be a @programminghistorian.org email instead? Or do we lack that ability?

[2018-05-19 07:03] acrymble commented on #760
I've just managed to put this order in @drjwbaker . For 500 Spanish only. No promises when they will arrive.

[2018-05-19 09:30] drjwbaker commented on #760
Huh. As it happened, I ordered 100 ES stickers from Stickermule yesterday as well. I've just tried to share the reorder code with our email list (which might not work..)

[2018-05-19 09:30] drjwbaker commented on #760
(mine will be with me by 29 May)

[2018-05-19 09:35] drjwbaker commented on #849
Custom email domains are usually linked to custom web domains, so CHNM might be able to help here.

[2018-05-19 09:35] drjwbaker commented on #849
Or we could just pay for it.

[2018-05-19 11:51] acrymble opened #850 "French sticker logo"
for comment. I tried a cedilla accent but it didn't work. Looked hindi.
![programminghistorianfrgreen](https://user-images.githubusercontent.com/646647/40268331-57064a32-5b63-11e8-95bc-e4f5035c57dc.jpg)

[2018-05-19 11:55] acrymble commented on #849
List of services linked to personal accounts:

- Directory of Open Access (DOAJ) @drjwbaker
- Twitter @jerielizabeth
- Heroku @walshbr
- Google sheets keychain @walshbr
- Google Analytics @acrymble
- Cloudflare @mdlincoln
- Netlify @mdlincoln
- Zenodo @drjwbaker

[2018-05-19 11:57] acrymble commented on #848
Is this just a matter of deleting old branches? If they were mistakenly left open I would think you could just delete them? I have a couple related to active pull requests or tickets.

[2018-05-19 12:10] drjwbaker commented on #850
Does an acute accent or circumflex work? (in the same way you have the tilde on the ES sticker)

[2018-05-19 12:33] acrymble opened #851 "blog post to replace Wiki impact page"
There is a fairly old page on the Wiki for keeping track of people using the project. It took a lot of time to put together so I dont' want to lose it, but it doesn't need to stay on the Wiki.

https://github.com/programminghistorian/jekyll/wiki/People-who-use-the-Programming-Historian

Moving it to a blog post instead.

[2018-05-19 12:36] acrymble commented on #847
As a start I've updated the Wiki to make its purpose and contents clearer.

@mdlincoln there are a number of pages I've put in a "up for Deprecation" list on the wiki front page. https://github.com/programminghistorian/jekyll/wiki

A few of them are marked "deprecated". But can we just delete them?

[2018-05-19 12:49] acrymble commented on #850
attempt with all 5 accents.
![programminghistorianfrgreen2](https://user-images.githubusercontent.com/646647/40268751-6db8af92-5b6b-11e8-8d71-10cfe39364cc.jpg)

[2018-05-19 12:51] drjwbaker commented on #850
I kinda like it.

[2018-05-19 12:51] drjwbaker commented on #850
Though I guess our FR team should have a say :)

[2018-05-19 14:43] acrymble commented on #847
Ok, for our call, to make this super clear:

1) Are we happy to add "Technical Contributions" to our /contribute page and menu (I see no reason not to)
2) However, since it is on the Wiki and only available in English, is the Spanish / French team happy with the link pointing to the English wiki page. And if so, should the link say (English only) on the menu?
3) if the answer to 1 is yes, and 2 is

[2018-05-19 14:50] acrymble commented on #837
Ok, that sounds reasonable.

[2018-05-19 14:50] #837 closed, assigned to nobody

[2018-05-19 15:37] #851 closed, assigned to acrymble

[2018-05-19 16:05] mdlincoln commented on #848
I've cleaned out the stale ones, and emphasized in the wiki that merged branches should be deleted. The instructions already state that it's important to put informative commit messages, but I will reinforce this during the call.

[2018-05-19 16:05] #848 closed, assigned to nobody

[2018-05-19 16:30] mdlincoln commented on #849
It is easy to add more administrative accounts to Netlify.

Transferring a cloudflare site is a bit more involved as we'd need to have CHNM update our nameservers again.

[2018-05-20 07:44] arojascastro commented on #847
We can translate them, it is not a big problem :)

[2018-05-20 08:03] acrymble commented on #847
Ok maybe this is easier than I thought then. @mdlincoln is the Technical Contributions page complete and up to date and viable for translation, or should we revisit it first?

[2018-05-20 14:58] acrymble commented on #826
Tihs was merged with #846. Other than the /index.md, everything should now be moved. Hopefully nothing broken.

[2018-05-20 21:41] mdlincoln opened #854 "Internal links should use relative paths only"
I'd like to update our guidelines to make it clear that internal links (aka pointing from one lesson to another on PH) should use relative links only. For example, instead of:

[code]
we should instead use
[code]

This makes any future site changes and page movements much simpler.

I was going to include this in the editor guidelines - do we think it should be in the author guide as well, or is th

[2018-05-20 22:04] mdlincoln opened #855 "Language-independent landing page"
Now that all English pages are under the `/en` path except the current `index.html`, we still need to settle on what our lading page at <https://programminghistorian.org> should look like.

One possibility could be showing this intro paragraph in each language on the front page, maybe running as three columns across the screen.

![screenshot-2018-5-20 the programming historian programming historia

[2018-05-20 22:09] mdlincoln commented on #691
I'm closing this as there's been no updates for a few months. Please reopen if needed.

[2018-05-20 22:09] #691 closed, assigned to mdlincoln

[2018-05-20 22:11] mdlincoln commented on #681
Do we think there's an action item for this ticket at the moment? I know it's something to bear in mind in the future but until the bigger funding question is sorted out, perhaps we can close this out?

[2018-05-20 22:11] #681 closed, assigned to acrymble

[2018-05-20 22:48] mdlincoln commented on #789
I have tried to write up some guide to our lazy consensus: https://github.com/programminghistorian/jekyll/wiki/Programming-Historian-Governance

This is very much a draft, so comments are welcomed.

[2018-05-21 06:15] acrymble commented on #843
You can do this now. That pull request is closed.

[2018-05-21 06:19] acrymble commented on #768
is this still an active task?

[2018-05-21 06:23] acrymble commented on #789
very happy with what you wrote.

[2018-05-21 06:29] drjwbaker commented on #789
Ditto. Thanks for taking this Matt.

[2018-05-21 06:34] drjwbaker commented on #768
I *think* #651 was a big step in this direction. I expect Bogota, DH2018, and FR will all demand we return to these issues, but I'm happy to close with a note that we haven't addressed this in our [Reviewer Guidelines](https://programminghistorian.org/en/reviewer-guidelines#openness-and-inclusivity) yet.

[2018-05-21 06:36] drjwbaker commented on #681
Note that ticket on 'the bigger funding question' is #724.

[2018-05-21 06:42] drjwbaker commented on #855
I fear columns would render terribly on mobile.
Rather than repeat three times, is there anyway to randomise which translation of the blurb visitors land on? We can then just put 'English', 'French', & 'Spanish' under the text.

[2018-05-21 06:43] drjwbaker commented on #854
Editors.

[2018-05-21 06:47] acrymble commented on #855
Default to English page unless your language settings are set to EN or FR?

Default to English seems to be quite common for multilingual journals out of Canada: https://www.acadiensis.ca/
https://www.utpjournals.press/loi/cjh

Alternatively we could take this opportunity to re-think what is presented on our homepage. We've had a request to make the site look more like a traditional academic journa

[2018-05-21 06:48] drjwbaker commented on #826
I clicked around for a few minutes and nothing broken that I've noticed. Only thing I did notice was slight hang/redirect when going into EN menu items

[2018-05-21 06:51] drjwbaker commented on #849
Is the action here to take a look at how easily we can reduce the bus factor for the logins we 'own', or to investigate moving to a generic email address?

[2018-05-21 06:54] drjwbaker commented on #855
Added policy tag because I think this is important. I suggest - per our new guidelines at https://github.com/programminghistorian/jekyll/wiki/Programming-Historian-Governance - a formal deadline for feedback of 1 June.

[2018-05-21 07:09] acrymble opened #857 "Wikipedia article"
Just a note to say that I've added a Wikipedia article for the project, which is currently under review: https://en.wikipedia.org/wiki/Draft:Programming_Historian

I just copied and pasted another journal and changed the info.

[2018-05-21 07:12] acrymble commented on #826
Thanks James. I noted that too. I think we should change the menu items to directly point to the new pages. There's really no need to have redirecting.

[2018-05-21 07:15] acrymble commented on #849
second option solves first one too, no?

How about we adopt @drjwbaker gmail suggestion and then physically mail out the password details to the editorial board so they can keep them safe on a bulletin board or something?

[2018-05-21 07:17] drjwbaker commented on #857
If we fail to pass the notability threshold, we can chuck the stats at them :)

[2018-05-21 07:18] drjwbaker commented on #826
Want me to do anything?

[2018-05-21 07:20] drjwbaker commented on #849
It does. Just trying to avoid duplicating effort.

Send round a wetransfer file with a short expiry date?

[2018-05-21 07:23] acrymble commented on #826
Would be awesome if you could do a pull request just updating the menu links (the redirects on the actual pages should still work I think).

[2018-05-21 07:29] drjwbaker commented on #826
Nope. No idea how to do this. Presume we are looking to change https://github.com/programminghistorian/jekyll/blob/gh-pages/_includes/menu.html ?

[2018-05-21 08:28] arojascastro commented on #789
Very accurate! Thank you

[2018-05-21 08:31] arojascastro commented on #847
Let us know when you have a final version and one of us can start translating.

[2018-05-21 08:56] acrymble commented on #857
I'm pretty sure you can update it to make it more notable if you've got ideas.

[2018-05-21 08:57] acrymble commented on #854
Can travis flag that at the pull request stage?

[2018-05-21 08:59] drjwbaker commented on #857
Okay, well keep us posted on whether the article is published.

[2018-05-21 12:48] walshbr commented on #789
Looks great!

[2018-05-21 14:12] acrymble commented on #843
@amsichani maybe you'd like to update this?

[2018-05-21 15:19] #838 closed, assigned to acrymble, jenniferisasi

[2018-05-21 15:31] #768 closed, assigned to drjwbaker, arojascastro

[2018-05-21 15:58] mdlincoln commented on #854
I'm still looking for a solution to that @acrymble. There are a handful of occurrences across the site we _do_ in fact want to have full links, such as in suggested citations, markdown examples, etc. If I can figure out a way to exclude errors from those examples, I will certainly add it.

Either way, we'll still want to make sure that the editor guidelines are updated so they would know why Travi

[2018-05-21 17:55] acrymble commented on #847
Ok, since I've been assigned this task, I hereby declare this a "Policy" issue and request that all team members edit this English page on the Wiki https://github.com/programminghistorian/jekyll/wiki/Making-Technical-Contributions by no later than 10 June 2018, at which time I will make it a page on the website and request translation.

@jenniferisasi you've been doing pull requests lately and sai

[2018-05-21 18:16] acrymble commented on #857
I don't think there's an explicit action with this ticket. I just wanted to record that I'd done it.

I will close this now and let everyone know when it has been approved or rejected.

[2018-05-22 05:27] mdlincoln commented on #826
@drjwbaker look in the `_data/snippets.yml` file, you'll see all the menu labels and links there

[2018-05-22 06:43] acrymble commented on #760
Can I close this then?

[2018-05-22 08:01] drjwbaker commented on #760
@acrymble: I opened this because I wanted to document how we go about ordering stickers so it is clear for new members that we: a) have sticker templates b) do it ad-hob and c) mostly pay for it ourselves (at present). Where can we document this? https://github.com/programminghistorian/jekyll/wiki/Service-Integrations?

[2018-05-22 08:04] acrymble commented on #760
Oh ok. Maybe we need a new page on the wiki for things we pay for that we need to find a budget for?

[2018-05-22 08:14] drjwbaker commented on #847
Checked and happy. If someone else has a qualm with the first person language I'm happy to support that change, but disinclined to edit without a wider sense that it needs it :)

[2018-05-22 08:21] drjwbaker commented on #826
Thanks @mdlincoln. PR ready.

[2018-05-22 09:21] drjwbaker commented on #760
Done. Edit as you see fit https://github.com/programminghistorian/jekyll/wiki/Things-we-pay-for-%28and-need-budget-for%29

[2018-05-22 09:21] #760 closed, assigned to acrymble

[2018-05-22 15:38] #826 closed, assigned to acrymble, drjwbaker

[2018-05-22 16:21] walshbr commented on #843
Good point! Given the good news from @amsichani circulating on Twitter I've added her to the list.

[2018-05-22 16:57] acrymble commented on #849
~~I've asked Jeri for access to the gmail account.~~

[2018-05-22 20:43] acrymble commented on #849
I've set up a new gmail account:

programminghistorian@gmail.com

The following services have been shifted to this account, and the details updated on the Wiki:

- [x] Directory of Open Access (DOAJ) @drjwbaker
- [x] Twitter @jerielizabeth
- [x] Google Group email @acrymble
- [x] Heroku @walshbr
- [x] Google sheets keychain @walshbr
- [x] Google Analytics @acrymble
- [ ] Cloudflare @mdlincoln
- [

[2018-05-22 20:43] acrymble commented on #849
Can I please ask @drjwbaker @walshbr and @mdlincoln to shift the services they control to the above address and tick off the list above?

[2018-05-23 08:10] drjwbaker commented on #849
Done for DOAJ. Question is now, where to store the passwords?

On Zenodo, the process doesn't connect it to any specific account. Anyone of us can follow the process at https://github.com/programminghistorian/jekyll/wiki/Service-Integrations to make the annual deposit (the only downside of which is that only the person who made the deposit can edit the deposit, but I can't see that being necessary

[2018-05-23 12:54] walshbr commented on #849
Could you use the Programming Historian's GitHub organization for Zenodo (not sure what email is associated with that)? Or does it have to be a user account?

I'll take a look at heroku and google sheets - it might take some tweaking to the bot script to update the credentials, and I won't have time to take a look at this for a week or so.

[2018-05-23 14:56] walshbr commented on #843
Closed in #861

[2018-05-23 14:56] #843 closed, assigned to walshbr

[2018-05-23 16:00] amsichani opened #862 "Layout issue - 'Uses of the Programming Historian' blogpost"
I think there is a layout issue / broken link at Cheryl LaGuardia's ref on https://programminghistorian.org/posts/Uses-Of-The-Programming-Historian related to #852 - probably @acrymble you might want to have a look on it! Fab resource for PH visibility / impact!

[2018-05-24 06:34] acrymble commented on #862
Thanks, you're right. If you're happy to fix it, that would be great.

[2018-05-24 06:37] acrymble commented on #849
Is Github one of our services we need to list too? @walshbr. I didn't think about that one.

[2018-05-24 06:47] acrymble commented on #849
I realize the bus factor is getting worse until I communicate the password to everyone.

@drjwbaker are you in your office today? I can call you and then let you know verbally so you can share with Anna Maria, and we can disseminate further at the Skype call.

[2018-05-24 07:49] acrymble commented on #849
Our twitter account has the following approved apps. Are any of these vital before I remove them?
<img width="599" alt="screen shot 2018-05-22 at 21 38 09" src="https://user-images.githubusercontent.com/646647/40471693-57ea9d5c-5f2f-11e8-881e-21df030a732c.png">

[2018-05-24 09:59] acrymble commented on #849
@drjwbaker now knows the password and will tell @amsichani .

[2018-05-24 10:52] amsichani commented on #862
done #863

[2018-05-24 11:32] amsichani commented on #849
@acrymble @drjwbaker looking forward to hear the top secret password. Privacy and security protocols can't really beat the good old-school way ;-)

[2018-05-24 12:03] amsichani opened #864 "Onboarding FR editor checklist - Sofia"
This is a individual onboarding editor checklist for @spapastamkou, initially found [here
](https://github.com/programminghistorian/jekyll/wiki/Onboarding-Checklist-for-New-Editors). Please do also have a look at the [specific FR team milestone ](https://github.com/programminghistorian/jekyll/milestone/7) and the [French Translation infrastructure pages ](https://github.com/programminghistorian/je

[2018-05-24 12:18] walshbr commented on #849
@acrymble - ProgHistBot is the twitter bot, so don't revoke that. I'm not sure about the other ones. It's been a while since I've made a GitHub organization, but I believe you have to give a billing email address (even if you're a free account). Presumably we have someone's associated with the organization, but I can't see the settings to be able to tell.

[2018-05-24 12:36] acrymble commented on #849
@wcaleb originally set up our Github. It must be connected to his account.

[2018-05-24 13:25] drjwbaker commented on #849
No. The way it works is that in Zenodo you link your Zenodo account to a GitHub account so that Zenodo can 'see' all the GitHub repos that the linked GitHub can make releases of (that is, that account has the GitHub privileges to do so).

[2018-05-24 15:22] wcaleb commented on #849
@acrymble As far as I can tell, I've been removed from the PH organization, so I don't have access to its settings anymore and it's no longer connected to my account.

[2018-05-24 15:23] acrymble commented on #849
Thanks for clarifying @wcaleb.

[2018-05-24 15:42] drjwbaker commented on #849
@amsichani has the password.

[2018-05-24 18:39] acrymble opened #866 "5 lessons we'd like to see blog post"
I'm going to write another "lessons we'd like to see" blog post (original from 2017 : https://programminghistorian.org/posts/call-to-action). It's a good time of year to get people thinking about writing.

Please suggest topics for the post. 4 of the original 5 haven't actually ever been written. They are:

- What can you conclude from topic models?
- How do you conduct spatial clustering of geogr

[2018-05-24 19:53] grandjeanmartin commented on #850
Hi! @drjwbaker is referring to the ES logo, is it available somewhere for comparison? Not sure putting an accent will be understandable for the French speakers (as there's no accent in "l'historien programmeur"). Same for the "le", btw, if the abbreviation/name stays in english?

[2018-05-24 19:58] acrymble commented on #850
@grandjeanmartin the Spanish one is here: https://github.com/programminghistorian/jekyll/blob/gh-pages/_promo/programmingHistorianESBlue.png

[2018-05-25 06:40] acrymble commented on #864
@spapastamkou I've added you to our Twitter team. But that only works if you use Tweetdeck. I think a number of our team do not, so we might have to find another solution to this problem.

[2018-05-25 08:23] spapastamkou commented on #864
thank you. That's fine with me, I just accepted the invitation on tweetdeck
and everything seems ok.

Le ven. 25 mai 2018 à 08:40, Adam Crymble <notifications@github.com> a
écrit :

[2018-05-25 08:45] drjwbaker commented on #850
@grandjeanmartin Thanks for joining in! I'm guessing the ~ above ES on the Spanish sticker is intended to a) be playful and b) signal something Spanish language. Something similar for the French sticker is what we'd be looking for (so it may be linguistically inaccurate, but it shouldn't be incongruous)

[2018-05-25 08:53] drjwbaker commented on #866
Well after https://ihrdighist.blogs.sas.ac.uk/2018/04/16/22-may-2018-workshop-using-space-syntax-methods-to-explore-the-distribution-of-meeting-places-in-19th-century-historic-maps/, I'd like to see something on Spatial Network Analysis of historical data (with DepthMap)

[2018-05-25 09:40] PonteIneptique commented on #850
Hi there !

While I am not bought by the accent (though it mimics the Spanish logo and it makes sense to copy it), I find the "LE PH" much more problematic, as it is not gender neutral, and the only way to make it would be to use "LES" which is also Spanish if my basics serve me well ?

[2018-05-25 09:42] acrymble commented on #850
Ok. Some clear resistance to this idea. Which is fine. We're looking for a solution that doesn't equate "French" with "France". So if anyone has symbolic suggestions that would be great!

[2018-05-25 10:03] inactinique commented on #850
Hi all. And why not keeping [PH] and under it writing "francophone". The word francophone would take the same width as [PH] which means a smaller font size.
It's not symbolic but may work.
Best,
Frédéric

[2018-05-25 10:12] drjwbaker commented on #850
@inactinique I like that.

[2018-05-25 10:12] acrymble commented on #850
![programminghistorianfrgreen3](https://user-images.githubusercontent.com/646647/40539398-8f2350f6-600c-11e8-90c3-20d9bbce8e5b.jpg)

[2018-05-25 10:17] acrymble opened #867 "new French project team tags needed"
For Project Team page. Need:

Ombudsperson (French)
Editorial Team (French)
Managing Editor (French)

[2018-05-25 10:19] spapastamkou commented on #850
1) I like this last "francophone" version. 2) Another idea was to maybe add something like "#jesuis" (not gendered, contemporary, easily understood). But "PH francophone" is definitely better in my view.

[2018-05-25 10:23] amsichani opened #868 "Onboarding FR editor checklist - Marie"
This is a individual onboarding editor checklist for @mpuren,  initially found [here
](https://github.com/programminghistorian/jekyll/wiki/Onboarding-Checklist-for-New-Editors). Please do also have a look at the [specific FR team milestone ](https://github.com/programminghistorian/jekyll/milestone/7) and the [French Translation infrastructure pages ](https://github.com/programminghistorian/jekyll/

[2018-05-25 10:27] inactinique commented on #850
Another solution would be to use the french guillemets instead of the brackets.

[2018-05-25 10:28] amsichani opened #869 "Onboarding FR editor checklist - Thibault"
This is a individual onboarding editor checklist for @PonteIneptique, initially found [here
](https://github.com/programminghistorian/jekyll/wiki/Onboarding-Checklist-for-New-Editors). Please do also have a look at the [specific FR team milestone ](https://github.com/programminghistorian/jekyll/milestone/7) and the [French Translation infrastructure pages ](https://github.com/programminghistorian/

[2018-05-25 10:31] arojascastro commented on #855
I agree with Adam that we should "re-think what is presented on our homepage".

I am happy with the English page as a default, but in that case it would be good that it is mentioned that is a multilingual project and that visitors may want to access to the Spanish or French version.

In other words, the landing page should do two functions:

- introduce the english version to the english reader
-

[2018-05-25 10:32] spapastamkou commented on #850
That would be certainly exact but more subtle. "Francophone" tells it like it is, no thing to search or risk to confuse. And fits graphically as well.

[2018-05-25 10:35] acrymble commented on #850
![programminghistorianfrgreen4](https://user-images.githubusercontent.com/646647/40540347-bf42822c-600f-11e8-8c9d-bdfc95de10cc.jpg)

[2018-05-25 10:37] amsichani opened #870 "Onboarding FR editor checklist - Frédéric"
This is a individual onboarding editor checklist for @inactinique , initially found [here
](https://github.com/programminghistorian/jekyll/wiki/Onboarding-Checklist-for-New-Editors). Please do also have a look at the [specific FR team milestone ](https://github.com/programminghistorian/jekyll/milestone/7) and the [French Translation infrastructure pages ](https://github.com/programminghistorian/je

[2018-05-25 10:51] amsichani commented on #850
I like more the francophone one. Its clear and it works graphically. Just wondering if we could find something that is a bit more 'playful' and less eloquent/formal, as we 've managed well to do with the ES logo, IMHO

[2018-05-25 10:56] PonteIneptique commented on #869
I think there has been a mistake here :) I have vouched to support the project by integrating participation in the curriculum of my students, but I unfortunately can't find the time to be an editor.

But thanks for the invitation :)

[2018-05-25 11:02] amsichani commented on #869
Thanks for the clarification @PonteIneptique ! We had a list of names for the FR team and I thought you are all going to be joining as editors. Given this, probably we need to rethink about project's role types in general.

[2018-05-25 11:53] acrymble opened #871 "Language sub-team communication channels"
This was raised in an email exchange with the editors and is related to #849 - "Reduce bus factor for service integrations".

Do the various sub-teams have methods of communicating that do not involve all members of the PH Editorial Board? If so, can we please document these on the Wiki under "Service Integrations" so we know what they are should we need to pass them on to another administrator in

[2018-05-25 12:25] #869 closed, assigned to amsichani

[2018-05-25 12:31] #870 closed, assigned to amsichani

[2018-05-25 12:47] amsichani commented on #870
this issue is now closed until we further clarify FR-member's degree/ status of engagement with the project

[2018-05-25 12:47] amsichani commented on #869
this issue is now closed until we further clarify FR-member's degree/ status of engagement with the project

[2018-05-25 12:59] arojascastro commented on #850
If I am allowed to say my opinion, I think *francophone* works better, because in Spanish we also use *french* quotation marks... although we call them *latin*...

[2018-05-25 13:25] amsichani commented on #789
Looks great to me! Thanks @mdlincoln !

[2018-05-25 13:44] amsichani commented on #866
I think the 4 topics should still be among our top suggestions. I d like to add also topics such as  named entity recognition and information extraction ; there are a number of OS tools and technologies out there , mainly from the NLP world eg https://nlp.stanford.edu/software/CRF-NER.shtml.

[2018-05-25 14:42] walshbr commented on #866
Would love to get some sort of audio lesson in the mix - I've reached out to a handful of people in the past year but haven't been able to find someone who has the time to commit just yet. And I agree that the original four topics should also stay in the mix if there is room.

[2018-05-25 14:43] walshbr commented on #855
In that vein, what about defaulting to English, with translated text just below that also directs visitors as to how to navigate to the appropriate translation appropriate for them?

[2018-05-25 15:59] acrymble commented on #724
@drjwbaker I'm not getting far with this. I don't know if you've had more luck.

[2018-05-25 16:04] drjwbaker commented on #724
@acrymble I'd like to keep it open. Slow progress. Perhaps worth a chat offline.

[2018-05-25 16:55] jenniferisasi commented on #866
@amsichani though I think having a tutorial on how to use NER is a great idea, it doesn't work well yet in Spanish. Of course, the fact that it didn't work for my dissertation (using R) doesn't mean that the system is disqualified (it works great in English) but I just wanted to let you know about potential problems for a global audience. I include two examples:
![screen shot 2018-05-25 at 11 54 1

[2018-05-26 06:29] inactinique commented on #850
Thanks for the remark Antonio, that reminds us also that French tend to be culturally imperialistic in the latin world ;) I think the Francophone logo works very well, though not really fun.

[2018-05-26 07:44] grandjeanmartin commented on #850
The "francophone" version looks good to me.

[2018-05-26 07:53] acrymble commented on #850
just one thought, if we go with the "francophone" logo then people will probably call that version of the project "Programming Historian francophone".

[2018-05-26 17:07] jenniferisasi commented on #847
Hi @acrymble and all,
I read the instructions and I think they are pretty clear, can't see any issue with them.

[2018-05-26 21:21] #867 closed, assigned to acrymble

[2018-05-27 00:54] #862 closed, assigned to amsichani

[2018-05-27 08:08] inactinique commented on #850
That might not be a problem, as we still don't know how to call it in a gender balanced way.

[2018-05-27 16:24] arojascastro commented on #866
I agree with @jenniferisasi - my experiments with NER (specially geographical places) were a bit disappointing. I heard that for Spanish Freeling is better than Stanford... but I am not sure, I have not tried. In any case, if we ever get a submission about NER or NLP, please take into account the difficulties pointed out here.

[2018-05-27 18:28] acrymble commented on #724
I've tested out a Patron page. Looks easy enough. They take 5% as a fee, and 1% fee if you use paypal for the money handling. I think we should give it a go, but we'd need a specific use for the money that we could tell patrons about.

This would also have to go to a university or charity, otherwise there are income tax implications.

[2018-05-28 07:21] acrymble commented on #868
Does Marie know about this list? I haven't got her email so I can't contact her about the google group.

[2018-05-28 07:29] acrymble commented on #850
I think I would go with the latin quotation marks personally, since virgulilla is not exclusive to Spanish either, but is a clever cultural hint. But it looks like francophone is the most popular option, so I'll put that in our /_promo folder for safe storage. We aren't planning on ordering any stickers at the minute (unless someone wants to donate some money - £140 or so) so we can always revisit

[2018-05-28 07:52] acrymble commented on #866
@walshbr can you give a more specific request I can include on audio?

[2018-05-28 12:27] walshbr commented on #866
@acrymble sure. How about -

How can we analyze audio artifacts?
We have one lesson on [how to use Audacity to edit audio files](https://programminghistorian.org/en/lessons/sonification) and another on [how to transform you transform your data into audio to better understand it](https://programminghistorian.org/en/lessons/sonification). But you can do much more! How are you using tools to get quan

[2018-05-28 14:32] drjwbaker commented on #866
@walshbr So something similar to what some colleagues and I did here https://sro.sussex.ac.uk/71250/?

[2018-05-28 14:49] walshbr commented on #866
Yep exactly that'd be one good approach @drjwbaker! MIR would be great to have in the mix, if you, your colleagues, or anyone else wants to take a swing at it.

[2018-05-28 15:01] arojascastro commented on #866
Another topic if possible:

- How to publish your digital scholarly edition using a native XML databases?

Digital scholarly editions are usually modelled as XML documents. Although there are some publication tools such as TAPAS, editors often encounter that predefined solutions do not fit their rendering needs. Open source XML databases like eXistDB or BaseX offer a great flexibility for storing,

[2018-05-28 15:15] arojascastro commented on #600
Cómas vas con esto @jamotilla ?

[2018-05-28 16:08] acrymble commented on #866
Ok so a list:

- What can you conclude from topic models?
- How do you conduct spatial clustering of geographic data?
- When do you know your network analysis is meaningful?
- TF-IDF to Historical Research
- Spatial Network Analysis of historical data (with DepthMap)
- How can we analyze audio artifacts?
- How to publish your digital scholarly edition using a native XML database?

[2018-05-28 20:02] arojascastro opened #874 ""Escritura sostenible" is not displaying review ticket but it is in the yaml block"
I just noticed [this](https://programminghistorian.org/es/lecciones/escritura-sostenible-usando-pandoc-y-markdown):
![escritura](https://user-images.githubusercontent.com/7340111/40628008-a4e29524-62c2-11e8-8bb0-e692dee5e7bf.png)

But the metadata block seems ok to me: https://github.com/programminghistorian/jekyll/blob/gh-pages/es/lecciones/escritura-sostenible-usando-pandoc-y-markdown.md

Any id

[2018-05-29 07:03] drjwbaker commented on #866
@walshbr If it makes the list, I can prod them.

[2018-05-29 07:04] drjwbaker commented on #866
- Spatial Network Analysis of historical data (e.g., with depthmapX)

[2018-05-29 07:07] drjwbaker commented on #724
That is part of what I can working on. So thanks for taking a look at this. We could just float a Patreon on the site.

[2018-05-29 12:45] amsichani commented on #868
@acrymble email sent -

[2018-05-29 15:04] mdlincoln commented on #874
Ah, it's because this lesson has no reviewers, but it does have translation reviewers. I can fix this.

[2018-05-29 15:39] #874 closed, assigned to mdlincoln, arojascastro

[2018-05-29 20:42] aurelberra commented on #850
Sorry to be late to the party… First of all, it's absolutely great to see that a francophone PH is getting off the ground!

In case this discussion is re-opened at some point, I'd like to say that the idea of a single symbol to distinguish language-based versions is really nice. In my opinion, adding a whole word, "francophone", breaks the unity with the Spanish version, makes for a heavier logo a

[2018-05-30 18:30] jenniferisasi commented on #814
Hi all! I'm sorry I won't be able to make it to the call tomorrow. I've tried my best to schedule my moving around several meetings and, unfortunately, I will be driving during this call. I will check on all the items/issues on the agenda after the meeting to see if there's anything new posted.

[2018-05-30 22:27] spapastamkou commented on #836
Should we include as well a translation of the "Technical Contributions" part of the wiki as discussed in #847 ?

[2018-05-30 22:43] spapastamkou commented on #850
thank you Aurélien! More details to come soon:)

[2018-05-31 07:45] drjwbaker commented on #836
@arojascastro Do we have a prior justification for not translating this section?

[2018-05-31 07:48] arojascastro commented on #836
I do not think so @drjwbaker. If we are moving that section from the wiki to the main page, we should translate it. @jenniferisasi @vgayolrs @mariajoafana @jamotilla anyone wants to try it?

[2018-05-31 07:52] acrymble commented on #836
potential for frequent change was the only reason. So if everyone wants it
translated, that's fine. It isn't really needed for the general public.

On Thu, May 31, 2018 at 8:48 AM, Antonio Rojas Castro <
notifications@github.com> wrote:

[2018-05-31 07:57] drjwbaker commented on #836
Okay. That makes sense. If frequent change is the issue, maybe it can be decided by each language initiative if they need their own Technical Contributions page? (eg, there may be language specific materials out there that cover what is required) I'm imagining that as each language initiative diverges per https://github.com/programminghistorian/jekyll/wiki/Additional-Language-Sub-Teams-Policy they

[2018-05-31 11:13] spapastamkou commented on #814
Hi everybody. I prepared a small list with some points it would be useful to raise in this meeting. They are relevant to issues #378 #836 and #788:
- title of the Francophone edition
- information about previous efforts to make translations of the PH in French
- ISSN for FR edition: is it up to us to take contact with the BL? Or global demand?
- Web archives: it could be possible to suggest the UR

[2018-05-31 12:03] walshbr commented on #814
Sorry to miss!

[2018-05-31 15:04] mdlincoln commented on #836
Right - because there are frequent changes AND because it is about the internal operations of the journal, and so used by a far smaller number of people, I don't believe it is worth the considerable effort involved to publish them.

[2018-05-31 15:06] mdlincoln commented on #814
Because the list of possible discussion items has become so massive, I propose that we quickly get through the "policy" tickets at the very start of the meeting, as they're all now at the stage of being finished work, and are only open for finally comments on today's call.

[2018-05-31 15:18] spapastamkou commented on #814
Okay with me - slight possibility of being a bit late

[2018-05-31 15:18] alsalin commented on #814
To add - I'd like to give an update on the PH Community Survey #576 - i can always provide an overview here if we run out of time.

[2018-05-31 15:54] acrymble commented on #814
@amsichani I don't think I have you as a contact on skype. You can find me at adam.crymble.

[2018-05-31 15:56] amsichani commented on #814
OK for prioritising the policy tickets and I d add the FR integration process. Lets try to keep things on time. @acrymble no need , I think, I ll just call the Skype group.

[2018-05-31 16:08] drjwbaker commented on #814
In the future can we make our calls no video by default? And can we all agree that Skype is terrible and we need to investigate using a different platform for calls if they are going to be important to how we make decisions?

[2018-05-31 16:09] drjwbaker commented on #814
(and perhaps not use Skype)

[2018-05-31 16:16] mdlincoln commented on #855
From 2018-05-31 call, we're generally agreed upon the idea that we want to have the front page show the brief english description of what readers will find in the site, and also make sure alternate language sides of the Programming Historian are prominently shown in the body of the page (aka user won't have to scroll or open a sidebar to see the links on the front page alone)

I'll mock up a possi

[2018-05-31 16:17] mdlincoln commented on #855
(Fyi I'm removing the policy tag now because we seem generally agreed on the goals of the front page. I'll keep this ticket open for further comments on the implementation of that goal)

[2018-05-31 16:36] drjwbaker commented on #788
@JMParr to get ES ISSN. Update me when you have it so I can action #698.

- [x] apply for ISSN at [http://forms.bl.uk/bibliographic/index.aspx](http://forms.bl.uk/bibliographic/index.aspx)

[2018-05-31 16:38] mdlincoln commented on #789
After the 2018-05-31 call I'm closing out this issue. For any other specific ?s that come up with this, please open up a new issue.

[2018-05-31 16:38] #789 closed, assigned to mdlincoln

[2018-05-31 16:44] drjwbaker commented on #814
On..

.. I think the BL Web Archive selective captures the EN work.

[2018-05-31 16:45] mdlincoln commented on #836
I will set up a new branch for `french-infrastructure` and start a `/fr` directory for French team members to begin editing.

[2018-05-31 16:55] mdlincoln commented on #847
Decided on 2018-05-31 that we don't need to translate & publish this wiki page. However, we strongly encourage our editors to please look at it and try it out, so that we can edit and add more things as needed!

[2018-05-31 16:58] JMParr commented on #788
I have applied and requested an ES ISSN. Confirmation, etc, will go to @acrymble because I used the same information he used to apply for the EN ISSN.

[2018-05-31 17:01] acrymble commented on #814
I think the BL captures all of our site in their web archive. I got a tweet about that many years ago saying we'd been specially nominated.

[2018-05-31 17:02] acrymble commented on #788
Can we close this issue then?

[2018-05-31 17:03] spapastamkou commented on #814
the EN edition is also on the Internet archive from 2012 on. The ES is
there as well, I checked yesterday.

Le jeu. 31 mai 2018 à 18:44, James Baker <notifications@github.com> a
écrit :

[2018-05-31 17:03] acrymble commented on #724
I think we're now onto a new issue here. We're agreed that we're going to try to get an income to cover our costs. Our current issue is how are we going to do that in practice. Should we start a new issue about getting a budget line, and close this one?

[2018-05-31 17:04] amsichani commented on #849
we still don’t know the passwords for a couple of services, such as Github, mailing list.

[2018-05-31 17:04] drjwbaker commented on #788
When our application for an ISSN for the ES site is successful, yes.

[2018-05-31 17:06] drjwbaker commented on #724
You do love closed issues @acrymble :)

[2018-05-31 17:06] #724 closed, assigned to acrymble

[2018-05-31 17:06] acrymble opened #877 "Expectation of email notifications for @ messages (editorial board)"
I'd like to suggest that we strongly request that all members of the editorial team set up their github so that they receive any tickets in which their name has be @ to their email, and that they acknowledge those emails in a reasonable timeframe.

I suspect we've got a few people who have this turned off, and it makes it difficult to close certain issues.

[2018-05-31 17:07] drjwbaker opened #878 "Getting a budget line for PH"
We need a budget line somewhere so that we can manage money we received (eg, from individual sponsors via Patreon or other mechanisms we might look into per #724).

[2018-05-31 17:07] amsichani opened #879 "Title for the FR version"
@spapastamkou proposed two (2) alternatives for the title of the French version .

1. the Programming Historian francophone
3. the Programming Historian en français

please note that the title shouldn't dictate the logo  of the site and vice versa.

[2018-05-31 17:13] drjwbaker commented on #855
In response to this very sensible action, I've updated https://github.com/programminghistorian/jekyll/wiki/Programming-Historian-Governance to say we remove the policy tag once we have consensus.

[2018-05-31 18:00] alsalin commented on #721
May Update!
- 39 submissions so far
- All submissions so far consider themselves to be more advanced than novice, >4 (1-6)
- 2 non-academic positions
- primary discipline: History
- Text analysis reigns supreme 26/39, data cleaning 25/39, GIS 1, data vis, 21, network analysis 11/39, web development 17/39, statistical analysis 1/39, VR 2/39
- People are finding PH through primarily social media and

[2018-05-31 18:07] amsichani commented on #721
Hi @alsalin fab stuff! should we move this comment to #576?

[2018-05-31 18:09] alsalin commented on #721
@amsichani ack! I had too many tabs open! sorry >.<

[2018-05-31 18:09] alsalin commented on #576
May Update!
- 39 submissions so far
- All submissions so far consider themselves to be more advanced than novice, >4 (1-6)
- 2 non-academic positions
- primary discipline: History
- Text analysis reigns supreme 26/39, data cleaning 25/39, GIS 1, data vis, 21, network analysis 11/39, web development 17/39, statistical analysis 1/39, VR 2/39
- People are finding PH through primarily social media and

[2018-06-01 08:22] arojascastro commented on #576
Thank you @alsalin for the report. Very interesting findings! I'll share on my social networks and list in the following days.

[2018-06-01 08:27] arojascastro commented on #721
The deadline for the EADH conference is 18 June. Is anyone submitting a proposal? I want to write something about the Spanish translations, but I am open to co-author as well. The topic should be about "data in the Humanities"...

[2018-06-01 13:04] acrymble commented on #879
I prefer 2 personally. It's in line with the Spanish version.

[2018-06-01 13:08] acrymble commented on #877
Check off your name if you are receiving emails when someone @ mentions you in a post please.

- [x] @acrymble
- [x] @alsalin
- [x] @amsichani
- [x] @drjwbaker
- [x] @JMParr
- [x] @jenniferisasi
- [x] @jamotilla
- [x] @mariajoafana
- [x] @arojascastro
- [x] @vgayolrs
- [x] @mdlincoln
- [x] @walshbr
- [x] @spapastamkou
- [x] @mpuren

[2018-06-01 13:09] acrymble commented on #871
@arojascastro says the Spanish team does not have any such channels.

@spapastamkou can you please list the French ones if there are any?

[2018-06-01 13:11] #814 closed, assigned to amsichani

[2018-06-01 13:13] acrymble commented on #864
Who is writing the blog post? @amsichani ?

[2018-06-01 13:22] walshbr commented on #849
I just signed programminghistorian@gmail.com up for a Heroku account. I don't have the password yet, though, and I'll need to get it before I can continue with the sign up and transfer of the Twitter bot. Anyone up for a thirty-second Skype call?

[2018-06-01 13:25] acrymble commented on #849
sure. one sec.

On Fri, Jun 1, 2018 at 2:22 PM, Brandon Walsh <notifications@github.com>
wrote:

[2018-06-01 13:32] walshbr commented on #849
Got the password - I'll try to take a look at Heroku and the Google Sheets setups this afternoon and switch everything over. Should hopefully be a quick fix, but wanted to make sure I had time in case something got weird with deploying.

[2018-06-01 14:51] jenniferisasi commented on #721
@arojascastro I was not going to submit anything myself (lack of time to do so) but I am willing to co-write something with you and, potentially, others about our translations and data. I'm thinking something along the lines of our impossibility to translate the tutorials in full due to data in other languages.

[2018-06-01 15:44] spapastamkou commented on #879
I prefer The PH en français for the same reasons and bcz it could be in lines with future editions in other languages.
But in this case, the sticker « PH francophone » could perhaps create confusion as for the title. In this case prefer a sticker with a symbol instead of text?

[2018-06-01 16:08] spapastamkou commented on #871
We created this list as working group list: proghist-fr@groupes.renater.fr
I suggest that we add it in the wiki only if it proves to be sustainable and in this case also add at least one member of the global DH as admin.
If ok, then set a span of time to decide whether sustainable/useful.

[2018-06-01 16:26] walshbr commented on #849
Changed over the Heroku account and added the gmail account as a co-owner on the google drive app that is running the bot. I think that is what you meant by google sheets keychain @acrymble, but let me know if I misinterpreted. I also transferred ownership of the Twitter spreadsheet itself to the gmail.

Our joint gmail account should be capable of generating another keychain in the future, but we

[2018-06-01 16:32] walshbr opened #880 "Document JSON Keychain Generation for Twitter Bot"
Now that the Twitter bot has been transferred over to the new Programming Historian gmail, that account should be able to generate its own JSON keychain. We need to document how that process works, though, so that other people know how to easily do so.

[2018-06-01 16:53] walshbr commented on #880
Done in the proghistbot repo in - https://github.com/programminghistorian/proghistbot/commit/7cdd6f8db235b07c8cb6d83230d5821290d402e9

[2018-06-01 16:53] #880 closed, assigned to walshbr

[2018-06-01 17:52] acrymble commented on #850
At the request of @spapastamkou and on @aurelberra 's suggestion, here's also the circumflex option. The font name is "Crete Round" and is downloadable for free if anyone wants to try others. This was mentioned in #879
![programminghistorianfrgreen5](https://user-images.githubusercontent.com/646647/40855639-f4d4bcbc-65cc-11e8-9084-14455824a956.jpg)

[2018-06-01 17:55] acrymble commented on #871
Is there anything you feel you can't use github for? One disadvantage of using a different email list is that we can't help you because the rest of us don't know what conversations you are having.

[2018-06-01 17:57] acrymble commented on #847
@mdlincoln I thought we still intended to put a link on the "Contribute" menu for this?

[2018-06-01 19:54] mdlincoln commented on #847
@acrymble ah you're right - sorry, I thought that'd been done already. I'll do a PR

[2018-06-01 20:11] mdlincoln commented on #877
Related to this - I'm never quite sure to ping specific members of the Spanish teacm when we need a review of a translation (I've noticed @arojascastro has been taking on the brunt of this work and it feels rather uenven)

GitHub allows us to establish sub-teams so that if you want to ping the whole team, you can now call @programminghistorian/spanish-team . I will set up parallel ones for the eng

[2018-06-01 20:48] mdlincoln commented on #877
For what it's worth, these team pages also have a discussion functionality that could replace needing to use google groups - personally I'd _love_ to only monitor github and not have to look for emails too... but I think I'm probably an outlier as far as working habits of this group goes.

[2018-06-02 08:39] acrymble commented on #877
I think we need to find out why @vgayolrs @mariajoafana and @jamotilla have turned off their notifications. I'm sure they have good reasons why this system isn't working for them, but we'll need to find a workaround so that we can communicate with everyone effectively

[2018-06-02 08:44] acrymble commented on #857
My attempt at getting us a Wikipedia article keeps getting rejected for lack of "reliable" sources.

https://en.wikipedia.org/wiki/Draft:Programming_Historian

Could I ask that a few people try to add a couple of sentences and good references so that we can get this accepted? I note that we've already got a fuller entry than some of the really quite substantial journals in the field, but the bar h

[2018-06-02 11:18] arojascastro commented on #877
I think they should simply turn them on. Victor was or is on sabbatical though.

[2018-06-02 13:06] vgayolrs commented on #877
Hi, I am receiving all emails. I'm back starting this weekend.

[2018-06-02 14:54] mariajoafana commented on #877
Actually, my notifications are on but they are sent to my old utexas email to which I don't have access now. I have tried a few times to change my email in Github but it when I try to verify the new one I never get the email to do so. Keeping up with the tickets in Github is difficult without getting the notifications.

[2018-06-02 14:59] mariajoafana commented on #871
The Spanish team communicates via email every once in a while. We don't use a group list, but we  send email among all members of the tram us to discuss some issues before the Skype meetings. If we need support from the rest of the team we bring the issue to GitHub

[2018-06-02 15:08] arojascastro commented on #721
Thank you @jenniferisasi. That topic is super interesting and I am 100% in. We shall also provide some data as well because the main theme is "data in the humanities" so maybe the "untranslatability" may be a liminar case only? I'll create a Google Doc and then we can start drafting a proposal.

For the record: I am happy with collaborating and submitting any proposal with anyone - either they can

[2018-06-02 15:13] mariajoafana commented on #877
I just found a way around it, and I'm good now to receive the notifications

[2018-06-02 15:32] mariajoafana commented on #857
I just added one reference

[2018-06-02 15:55] #847 closed, assigned to acrymble

[2018-06-02 15:57] #854 closed, assigned to mdlincoln

[2018-06-02 21:10] walshbr commented on #857
Are there any Spanish language sources or any reviews of the Spanish PH that we could incorporate?

[2018-06-03 06:57] acrymble commented on #857
@walshbr no there aren't any reviews in Spanish yet, but I think we should solicit one. I will make a ticket

[2018-06-03 06:58] acrymble opened #884 "Solicit an academic review of Spanish PH"
Suggested by @walshbr. We have 2 reviews of the English project, listed on the /research page. Since we've now got over 30 Spanish lessons, it seems like a good time to approach a Spanish journal to do a review. Can anyone suggest an appropriate publication(s) to approach? I approached 4 last time and we ended up with 2 reviews, so many suggestions welcome.

[2018-06-03 07:03] acrymble commented on #849
@walshbr Good point about monitoring emails. I wonder, do we want to make this the managing editor email, so that person could forward relevant warnings to the appropriate person, rather than add to the email inboxes of the entire group? @JMParr would you be happy to have this box forwarded to you while you hold that role? Or do you prefer not?

[2018-06-03 07:39] arojascastro commented on #884
This could work for the whole project: https://dhcommons.org/

Some Spanish journals:

- Revista Caracteres: http://revistacaracteres.net/
- Revista de Humanidades Digitales: http://revistas.uned.es/index.php/RHD/index

I'll keep thinking.

[2018-06-03 07:45] acrymble commented on #884
what are the "history" journals in Spanish?

[2018-06-03 07:48] arojascastro commented on #884
- Culture and History (it's a Spanish journal despite its title): http://cultureandhistory.revistas.csic.es/index.php/cultureandhistory
- Revista de Historiografía: https://e-revistas.uc3m.es/index.php/REVHISTO/index

I have peer reviewed some articles about digital history for both of them, so I think they would welcome reviews.

[2018-06-03 08:08] acrymble commented on #884
My Spanish is not good, but it looks like only Revista de Historiografía does reviews.

[2018-06-03 08:54] arojascastro commented on #721
I am analyzing the original lessons in order to get some data:

## Authors
- Name
- Gender
- Affiliation
- Status
- Research Field
- PubYear
- Place

## Editors
- Name
- Gender
- Affiliation
- Status
- Research Field
- PubYear
- Place

## Contents
- Title
- Topic
- Keywords
- Mentions
- Examples
- References
- Language (obviously English)
- PubYear

I also want to analyzie the *ideal* reader / use

[2018-06-03 11:22] acrymble commented on #721
What's your research question?
And secondly, do you need ethical approval for your research?

[2018-06-03 11:24] arojascastro commented on #721
My research question is about translation as a communication act. In order to assess translations I need to characterize the source authors and the source message.

Why I need ethical approval? I am not publishing their personal data, only showing numbers.

[2018-06-03 11:26] arojascastro commented on #721
I remember @acrymble you sent us some charts about editors weeks ago.

[2018-06-03 11:46] acrymble commented on #721
It's generally up to your university's ethics board (assuming they do such things in Germany) to decide if you need ethical approval or not. You're dealing with living persons as research subjects, so they might think so. I merely raise it to suggest you check with them so you dont' get into trouble.

I can check if I still have those data you mention. Give me a few days.

[2018-06-03 11:48] arojascastro commented on #721
Thanks. I will wait for your data if you want to share.

[2018-06-03 14:17] JMParr commented on #849
Sure.

On Sun, Jun 3, 2018 at 3:03 AM, Adam Crymble <notifications@github.com>
wrote:

[2018-06-03 14:29] #866 closed, assigned to acrymble

[2018-06-03 17:15] mariajoafana commented on #884
In Colombia I can recommend Fronteras de la Historia, which is the journal of the Colombian Institute of Anthropology and History, they receive reviews: http://www.icanh.gov.co/?idcategoria=1252

In Mexico there is Estudios de Historias NovoHispana: http://www.historicas.unam.mx/publicaciones/revistas/novohispana/novohispana.html I guess that @vgayolrs and @jamotilla can give us a better sense of

[2018-06-03 17:16] mariajoafana commented on #879
I agree with @acrymble

[2018-06-03 18:01] amsichani commented on #864
Sure thing! I was thinking maybe it 'd be good to write one blogpost for the FR task force (aka Sofia& Marie) but wait first for them both to complete their onboarding editor's checklists. Thoughts?

[2018-06-03 18:09] amsichani commented on #721
@arojascastro @jenniferisasi  I am very keen to collaborate / contribute on a PH article for the EADH2018! I like also the topic of translation - multilingualism for pedagogy purposes. Lets move the discussion to a new ticket.

[2018-06-03 19:07] arojascastro commented on #721
Cool @amsichani. We may discuss our ideas via email all three? From my point of view translation and multilinguism are different topics; there are different types of contributions (short papers, long papers and panels), so I am sure we will sort it out something.

[2018-06-03 19:59] acrymble commented on #857
Thanks @mariajoafana it has now been accepted:

https://en.wikipedia.org/wiki/Programming_Historian

[2018-06-03 19:59] #857 closed, assigned to acrymble

[2018-06-03 20:11] acrymble commented on #877
Can someone on the Spanish team reach out and ask @jamotilla? I see him contribute to the editorial process all the time, but I'm not sure he's set up to receive these messages.

[2018-06-03 20:20] jamotilla commented on #877
Hi Adam, i’ll check the settings of my email account.
El El dom, 3 de junio de 2018 a la(s) 15:11, Adam Crymble <
notifications@github.com> escribió:

[2018-06-03 21:32] spapastamkou commented on #864
We'll speed up with @mpuren so that you have all you need

[2018-06-04 02:18] jamotilla commented on #884
In mexico we have Relaciones Estudios de Historia y Sociedad which is a very prestigious journal and @vgayolrs is the editor. We also have Historia Mexicana from El Colegio de México. There are another journals like Revista del Colegio de San Luis

[2018-06-04 02:24] jamotilla commented on #877
it´s done @acrymble , i´m receiving the notifications

[2018-06-04 02:25] jamotilla commented on #765
i´ll be there @drjwbaker!

[2018-06-04 06:18] acrymble commented on #877
Thanks @jamotilla.

I've also added @mpuren to the list. Can you please confirm if you're receiving messages to your email inbox before I close this ticket?

[2018-06-04 06:53] drjwbaker commented on #724
This https://mashable.com/2018/06/03/microsoft-github-acquistion exactly the kind of thing I meant re 'Protect the Programming Historian from changes to service agreements of those ‘free’ services upon which we rely.'

[2018-06-04 06:56] drjwbaker commented on #849
Thanks @JMParr. If you decide it is appropriate to reroute emails to the shared gmail to our googlegroup list, let us know.

[2018-06-04 08:23] mpuren commented on #879
I prefer the option 2 for the title : "the PH en français", because it's in line with the Spanish version, and with potential future editions in other languages.

[2018-06-04 09:01] amsichani opened #886 "June Editorial Meeting Agenda - TBC"
Time is 5PM British, 12PM Eastern US, 9AM Pacific US.

Working agenda follows. Please add by commenting or editing this comment directly.

- [ ] #721 Current Research Projects or Submissions Pending about the Programming Historian.
- [ ] #849 Reduce bus factor for service integrations.

[2018-06-04 09:05] amsichani commented on #721
@arojascastro do we really need a separate gh issue or should we work directly on gDoc for the proposal?

[2018-06-04 09:07] arojascastro commented on #721
I think on Gdoc. I'm sending you the link now.

[2018-06-04 10:08] acrymble commented on #879
Looks like we're agreed?

I've updated this on the Wiki on a new "brand guidelines" page (how very corporate of me).

https://github.com/programminghistorian/jekyll/wiki/Brand-Guidelines

[2018-06-04 10:54] walshbr commented on #724
We'll have to watch that closely I think

[2018-06-04 12:21] vgayolrs commented on #884
let me think about that

[2018-06-04 14:30] jamotilla commented on #600
Ahora lo reviso @arojascastro, hoy mismo queda

[2018-06-04 15:16] vgayolrs commented on #765
Me too

[2018-06-04 20:47] #833 closed, assigned to acrymble, mariajoafana

[2018-06-04 21:31] mdlincoln commented on #765
me!

[2018-06-04 22:52] mdlincoln commented on #724
Copying in what I sent over the listserv since it bears repeating here. tl;dr: don't foster FUD where none is needed

[2018-06-05 03:43] vgayolrs commented on #884
### Spanish
En Humanidades hay cerca de 406 revistas académicas digitales en español y portugués en línea que utilizan recursos digitales para su publicación. Habría que descartar muchas para llegar a las que se dedican a historia. Pero, generalmente en nuestro medio, las cuestiones digitales están todavía más en el ámbito de las Humanidades Digitales que en el de la Historia Digital (que es muy d

[2018-06-05 06:18] acrymble commented on #884
It really needs to be a journal that does "Book Reviews", because they'll need someone in charge of organizing these. We should contact the book review editor, not potential reviewers.

[2018-06-05 09:10] ivanhercaz opened #889 "Minor suggestions in the lesson about plain text using Pandoc and Markdown"
Hi everyone,
I read "Escritura sostenible en texto plano usando Pandoc y Markdown", translated by @vgayolrs, and I would like to give you some minor suggestions:

  - Gitit link is broken, so there are two options:
    1. Change by its [last snapshot](https://web.archive.org/web/20171020184351/http://gitit.net:80/) in the Internet Archive.
    2. Or change by [its GitHub repository url](https://gi

[2018-06-05 09:17] arojascastro commented on #889
¡Muchas gracias! Estudiaremos los cambios que propones.

[2018-06-05 09:35] ivanhercaz commented on #889
De nada, @arojascastro. Ya me pondré en contacto contigo para proponerte alguna de las lecciones que tengo en mente. De momento me mantengo a la espera.

[2018-06-05 11:29] acrymble commented on #765
would be great if you could all take a photo of those of you there, so we can put it on the site!

[2018-06-05 13:44] acrymble commented on #864
@spapastamkou can you let us know if you need help adding your picture and bio to the project team page? We'd like to get this up soon so we can announce you have joined us.

[2018-06-05 13:44] acrymble commented on #868
@mpuren can you let us know if you need help adding your picture and bio to the project team page? We'd like to get this up soon so we can announce you have joined us.

[2018-06-05 14:02] mariajoafana commented on #889
Muchas gracias Ivan.
@vgayolrs Nos llegan estas sugerencias para corregir en este tutorial que traduciste. ¿Cómo las ves?

[2018-06-05 14:32] spapastamkou commented on #864
I'll do my best to arrange that this evening, sorry for the delay.

[2018-06-05 16:27] mpuren commented on #868
@acrymble I'm not sure of what I should do... So yes, a little help will be very useful!

[2018-06-05 16:39] acrymble commented on #868
Of course @mpuren. It can be difficult the first time, but once you know how it is easy.

* First, you make a new ticket on Github and give it a relevant name and description (eg, Adding Myself to the Project Team page).

* Then you find an image of yourself, crop it to a square, convert it to black and white, save it as marie-puren.png (you can see an example here:
https://github.com/programmingh

[2018-06-05 21:50] spapastamkou commented on #864
before I send my commits and open a pull request, I would like to be sure
whether the branch I work in has to be named after this ticket or be
gh-pages. Can you confirm please @mdlincoln ? Thanks in advance

[2018-06-05 21:54] mdlincoln commented on #864
Create a new branch. See the instructions here: https://github.com/programminghistorian/jekyll/wiki/Making-Technical-Contributions#the-branch

[2018-06-06 04:56] spapastamkou commented on #864
thank you

[2018-06-06 08:09] drjwbaker commented on #765
@acrymble Good call. I presume you will be taking some snaps in Bogota as well. If possible, let's keep these organised as promo shots.

[2018-06-06 08:38] arojascastro opened #891 "Adding PH to Publons?"
I am not sure if this is relevant for the project, but I created a Publons profile in order to track my tasks as editor and journal reviewer: https://publons.com

My profile is empty because I still need to fill in: https://publons.com/author/1402241/antonio-rojas-castro#profile

 I would like to add *The Programming Historian* to **Editorial Board Memberships**, but it is not listed in their data

[2018-06-06 08:39] acrymble commented on #891
I don't know anything about it, but happy to hear more.

[2018-06-06 08:56] arojascastro commented on #891
I can't find if this is a free service for publishers here: https://publons.freshdesk.com/support/solutions/articles/12000012231-what-is-publons-and-why-partner-with-us-

Should I contact them?

[2018-06-06 13:17] vgayolrs commented on #884
Ok @acrymble . I'm going to contact Ernesto Priani and Gimena del Río who are the editors of [Revista de Humanidades Digitales](http://revistas.uned.es/index.php/RHD/index). They have a call of papers that include reviews. They do not look for the reviewers but they call freely (it is the common practice in the world of academic journals in Spanish, most of them do not have "book review editors" a

[2018-06-06 13:28] acrymble commented on #884
Ok thanks, I didn't realize it was different in Spanish journals.

[2018-06-06 14:54] mpuren commented on #868
@acrymble Thanks a lot! That's very clear, I think I can manage. I add my picture and a bio asap.

[2018-06-06 21:28] #879 closed, assigned to spapastamkou

[2018-06-06 21:29] mdlincoln commented on #879
I'll use "The Programming Historian en français" in the mockup for our new title page, which is coming soon!

[2018-06-06 21:43] mdlincoln opened #892 "Conditional ISSN display based on page language"
Once we have a distinct ISSN for Spanish PH (re: #788), we need to

- [ ] make the footer display the correct ISSN depending on page language.
- [ ] About pages show correct ISSN per language

[2018-06-06 22:53] acrymble commented on #892
Lets just have it display both and make it clear there ate two

On Wednesday, June 6, 2018, Matthew Lincoln <notifications@github.com>
wrote:

[2018-06-06 23:08] mdlincoln commented on #892
@acrymble I'm concerned that the "show them all simultaneously" solution breaks down once we have three with the French team?

[2018-06-07 03:20] vgayolrs commented on #889
@ivanhercaz , ¡mil gracias por las observaciones! @arojascastro , si no tienes inconveniente me dedico a ello el finde (que ahora estoy liado)

[2018-06-07 07:00] arojascastro commented on #889
Gracias @ivanhercaz. Ojalá nos envíes una propuesta.

Me parece bien arreglar el enlace y traducir `Bibliographie`. Ahora bien, revisando la lección me pregunto si no se podría además traducir los metadatos:

[code]

[code]

(Hay otros casos)

Es decir, en lugar de `title` poner `título`, en lugar de `author` poner `autor`, etc.

[2018-06-07 07:13] drjwbaker commented on #892
Agree with @mdlincoln. Footer for EN pages should display EN ISSN, footer for ES pages should display ES ISSN, et cetera.

[2018-06-07 07:46] acrymble commented on #864
We haven't finished this checklist yet, so reopening.

[2018-06-07 07:48] acrymble commented on #892
Just to be clear what I'm suggesting, it's a vertical listing of all of the project's ISSNs in the footer, looking something like this:

ISSN XXXX-XXXX (English)
ISSN XXXX-XXXX (Spanish)
ISSN XXXX-XXXX (French)

--

That would involve slightly redesigning the footer css because at the minute it is in a sentence. The advantage of this is it provides an easy way to put some extra links to the other

[2018-06-07 07:56] ivanhercaz commented on #889
@vgayolrs, de nada :smile: Cualquier otro detalle lo comunicaré. Gracias a ti por traducir el artículo.

Traducir los metadatos no es posible, o al menos hasta donde yo tengo conocimiento. Para ello habría que modificar la plantilla latex encargada de la transformación del texto markdown a documento PDF, cambiando los campos `title` por `título`, y así con cada uno de ellos.

Lo que sí se puede ha

[2018-06-07 07:57] arojascastro commented on #889
Ok, gracias por la aclaración. Quizás podríamos añadir esta información en forma de destacado o nota del traductor o incluso en un paréntesis.

[2018-06-07 08:01] ivanhercaz commented on #889
@arojascastro, y leyendo más sobre las [variables de idiomas](http://pandoc.org/MANUAL.html#language-variables), sigo creyendo que ninguna puede hacer que se entiendan los metadatos en otro idioma que no sea el inglés, sino que para ello habría que adaptar una plantilla latex.

No es mala idea la verdad.

[2018-06-07 08:02] ivanhercaz commented on #889
De nada @arojascastro, me apasiona el conocimiento colaborativo, así que es un placer. Entre las ideas que tengo de propuestas que quiero enviar, una tiene que ver con Pandoc y Markdown. A ver si le doy forma y, si la veo viable, contactaré contigo.

[2018-06-07 08:28] ivanhercaz commented on #889
Se me olvidaba, otra forma para que los metadatos salgan traducidos (aquellos que contengan texto o un formato diferente en otro idioma) es utilizar `\usepackage[spanish]{babel}` en la variable `header-includes`. Algo así:

[code]
Además, se puede hacer incluso que se añada un bloque de metadatos yaml por defecto. Si quien escribe el artículo lo suele hacer siempre en inglés, puede especificar ese

[2018-06-07 12:20] spapastamkou commented on #864
@acrymble in order to be done with my part of tasks, in particular that of opening a new ticket: can I do that for discussing the idea of a workshop for the FR version in a forthcoming DH conf in France or I'd better place the discussion in #721 ?

[2018-06-07 12:24] acrymble commented on #864
you can open a ticket for anything. It's just to make sure you've had experience doing it.

But yes, that sounds appropriate if you would like feedback from the team.

[2018-06-07 13:48] acrymble commented on #788
Dear Dr Crymble,

INTERNATIONAL STANDARD SERIAL NUMBER (ISSN)

Thank you for your recent enquiry.  We have assigned the following ISSN:

The programming historian en español    ISSN 2517-5769

We would be grateful if the ISSN could be printed in all issues of the serial, preferably on the top right-hand corner of the front cover or title screen in the form given above, i.e. preceded by the letters

[2018-06-07 14:22] drjwbaker commented on #788
Thanks @acrymble. Close and add getting an ISSN to the FR setup workflow?

[2018-06-07 14:29] drjwbaker commented on #698
We have an ISSN https://github.com/programminghistorian/jekyll/issues/788#issuecomment-395426637

So, to confirm from https://github.com/programminghistorian/jekyll/issues/698#issuecomment-379298822 for the DOAJ listing of ES publication we will:

- List in the 'author' field both original authors and translators.
- Use the `Traducido` date rather than the `Publicado` date as the 'Publication Date

[2018-06-07 14:42] arojascastro commented on #698
Very happy and grateful!

[2018-06-07 14:57] mdlincoln commented on #892
I see where you're coming from @acrymble - you are right that it can also help to make clear that there _are_ different ISSNs for the different languages.

What about: listing all three ISSNs in the footer, but highlighting or **bolding** the one for the present page language? And/or adding text like `current page` next to the ISSN?

[2018-06-07 15:42] walshbr opened #895 "API Lesson Asset"
This came through on Twitter - https://twitter.com/aliciapeaker/status/1004396407111995394

But I'm able to find the download for the lesson and get it working on all browsers. The URL she shared leads me to believe she might be looking at the ph-submissions version, but will investigate, confirm, and fix if necessary.

[2018-06-07 18:09] walshbr commented on #895
Confirmed she was looking at the lesson under review. Opening separate issue on hiding these lessons from google.

[2018-06-07 18:09] #895 closed, assigned to walshbr

[2018-06-07 18:19] walshbr opened #896 "PH-Submissions and Search Results"
We've gotten a couple bug notices now from people who were reading the ph-submissions version of a lesson rather than the live, published version. re: #895 - Alicia Peaker found her way to the ph-submissions repo by doing a google search (our ph-submissions lesson was a top hit). Am I right in thinking that we want to hide the ph-submissions repo from search results so that people aren't pushed to

[2018-06-07 18:40] mdlincoln commented on #896
Like, do we make the THIS ISN'T THE REAL PH banner even bigger? idk

[2018-06-07 18:51] walshbr commented on #896
Ha - I was wondering if there was something like

<meta name="robots" content="noindex">

we could do for the ph-submissions site, but I'm not familiar enough with SEO to have any real recommendations. If not, then yeah we can just leave it.

[2018-06-07 18:51] mdlincoln commented on #896
In all seriousness, the other possibility is to exclude the `/lessons/published` folder from the jekyll build, so that published lessons no longer have their drafts published on the ph-submissions website. This would mean you would need to look at the raw markdown file instead of a rendered html page if you wanted to go look at the early draft of a lesson. But it seems like we have far more users

[2018-06-07 18:55] mdlincoln commented on #896
As for hiding the still-under-review lessons, I suppose we can add a `robots.txt` that ought to stop Google from crawling the pages... I'll research it.

[2018-06-07 18:56] walshbr commented on #896
Yeah I was thinking the latter

[2018-06-07 19:07] mdlincoln commented on #896
Because `robots.txt` is a little tricky to establish with GitHub pages, I'm giving the robots `meta` tags a try: https://moz.com/learn/seo/robots-meta-directives

[2018-06-08 08:57] drjwbaker opened #897 "Add ES to DOAJ"
Building on https://github.com/programminghistorian/jekyll/issues/698 Es publication needs to be added to [DOAJ] and our workflow. Actions are:

- [x] Apply for ES listing at DOAJ (8 June 2018)
- [x] Add ES articles to DOAJ
- [x] Add ES DOAJ work to our [service integration](https://github.com/programminghistorian/jekyll/wiki/Service-Integrations)

[2018-06-08 08:59] drjwbaker commented on #897
For adding ES to DOAJ we agreed https://github.com/programminghistorian/jekyll/issues/698#issuecomment-395441428:

- List in the 'author' field both original authors and translators.
- Use the `Traducido` date rather than the `Publicado` date as the 'Publication Date'.
- List one issue per year
- List 2017 translations as Volume 1, 2018 translations as Volume 2, et cetera.

[2018-06-08 09:00] drjwbaker commented on #698
Closing this as specific tasks moved to new issue for ES publication https://github.com/programminghistorian/jekyll/issues/897

[2018-06-08 09:00] #698 closed, assigned to acrymble, drjwbaker

[2018-06-08 11:31] acrymble commented on #877
@mpuren can you please let us know if your github is set up to receive emails when someone messages you like this? If I don't hear from you, I'll assume not and get in touch via email so we can help you do so.

[2018-06-08 17:41] mdlincoln opened #899 "SVG versions of logos"
@acrymble are you able to produce SVG versions of the logos? It will be useful to have that format if we want to experiment with integrating them into the site homepage.

Please email them to me for the moment - I want to experiment a bit more first before committing them into the repo.

[2018-06-08 18:39] acrymble commented on #899
I've attempted to do this on a couple of websites and it's turning the background colour black. Does anyone have experience with this?

[2018-06-08 20:20] mdlincoln commented on #899
What software did you originally use to make the images?

[2018-06-09 11:07] acrymble commented on #899
I did them in GIMP

[2018-06-09 11:09] acrymble opened #901 "Worldcat entry in Spanish"
Thanks to @amandavisconti we have a Worldcat entry for the project in English (http://www.worldcat.org/title/programming-historian/oclc/951537099). Does anyone have any library friends that could help us get one in Spanish as well?

[2018-06-09 11:23] acrymble commented on #886
I believe this meeting has been postponed until July

[2018-06-09 11:23] #886 closed, assigned to amsichani

[2018-06-09 12:18] acrymble commented on #849
@JMParr I have enabled forwarding. I had a look at the account and it's receiving a lot of promotional spam from Heroku. @walshbr could you make sure that isn't clogging up Jess's email? On a related note, @JMParr please do let us know if any of our services are spamming you and the maintainer will make sure it stops.

[2018-06-09 12:24] acrymble commented on #849
Ok, I'd like to close this soon. A few outstanding items:

1) @walshbr, @drjwbaker and @mdlincoln can you please make sure the wiki is up to date and all accounts linked to the new google account now explicitly say so.
2) Will we be able to recover all passwords with the information we have, or do we need to share those/standardize those too?

[2018-06-09 12:34] acrymble opened #902 "Missing line of code in stylometry lesson"
We've had a bug reported in the stylometry lesson, but it's been submitted on the /submissions repo. Just moving it over here so I can address it: https://github.com/programminghistorian/ph-submissions/issues/177

[2018-06-09 14:15] walshbr commented on #849
The Heroku email settings should be updated now. Updated the wiki as well.

The Heroku password at least has different character requirements than gmail, so we'd have to modify the original to standardize. I checked, and we should just be able to recover the password via a link emailed to the programminghistorian gmail account.

[2018-06-09 15:02] arojascastro opened #904 "Europeana SPARQL endpoint?"
I'm revising all lessons in order to get data about the resources employed and I bumped into @mdlincoln's beautiful lesson on lod. There is a note here about the Europeana endpoint: https://programminghistorian.org/en/lessons/graph-databases-and-SPARQL#linking-multiple-sparql-endpoints

I think the Endpoint now is available here: http://sparql.europeana.eu/

More info: https://pro.europeana.eu/pos

[2018-06-09 17:22] mdlincoln commented on #899
Mind just emailing me the gimp files and I'll look at them?

[2018-06-09 18:55] mdlincoln commented on #904
😬 thanks for noting this - I can check if the queries still work (maybe they changed their ontologies 🤢) and update the lesson appropriately. I'll ping the Spanish team to review for the translated version once I'm done.

[2018-06-09 21:30] #902 closed, assigned to acrymble

[2018-06-10 07:10] acrymble commented on #899
I'm afraid I haven't kept the gimp files. The versions I've got are the ones on the PH site.

[2018-06-10 07:18] acrymble commented on #891
what benefit do you see from it?

[2018-06-10 09:06] arojascastro commented on #904
I hope they did not. Thank you for pinging us.

[2018-06-10 09:08] arojascastro commented on #891
The only benefit is that I could list the Programming Historian in my profile. There's no free text where you can type the name of the journal, you can only select journals from their database. But we are not in their database :(

[2018-06-10 09:38] acrymble commented on #891
This isn't somethign I'd personally find beneficial, but I recognize other people may. What would we need to do to get in their database (and stay in it)? Does it require maintenance work on our part?

[2018-06-10 09:40] arojascastro commented on #891
I dunno know yet. I should contact and ask because their instructions are not clear.

[2018-06-10 09:52] acrymble commented on #899
I can remake them if you need. I kept the details on our wiki: https://github.com/programminghistorian/jekyll/wiki/Brand-Guidelines

It's just a font on a coloured background, so easy to replicate.

[2018-06-10 10:04] acrymble opened #905 "neutral Political Views policy"
In the past we've had a policy that meant that the Programming Historian remained neutral in all contemporary political matters. Particularly with regards to expressing opinions (from the project, or implying with the support of the project) on elections, electoral candidates, and contemporary international politics. This extends to content appearing in lessons that might be viewed as partisan.

T

[2018-06-10 13:24] vgayolrs commented on #889
@mdlincoln I found the Gitit link problem also in the original lesson, so we should make a decision between the two teams and edit the original lesson and the translation simultaneously.

[2018-06-10 22:21] spapastamkou commented on #721
Hi all, Humanistica, the French-speaking association of Digital Humanities, fosters DH workshops on 17 October in Lille, France (as part of the dhnord2018 conference). @mpuren and I are interested in proposing a workshop on the FR version of the PH. The aim would be to make known it exists, work on finishing existing translations, for example by inviting reviewers (and respecting the usual procedu

[2018-06-10 22:27] spapastamkou commented on #836
Thank you.
I suppose we should update and start use the Reviewer Tracking googlesheet that is available at #600 , is that correct?

[2018-06-10 23:34] andrewtothemax commented on #891
Hi all,  Andrew Harrison here from Publons.  I've added [Programming Historian](https://publons.com/journal/91925/programming-historian) to our database so that you can add your peer reviews, editorial board memberships, and handling editor records for the journal to your Publons profiles.

If you would be interested in learning more about our reviewer recognition product (providing automated reco

[2018-06-11 06:54] drjwbaker commented on #905
Out of curiosity, is this motivated by anything in particular or are you seeking to formalise something that was once informally agreed (among previous editors)?

[2018-06-11 06:57] drjwbaker commented on #849
Done

[2018-06-11 07:05] drjwbaker commented on #896
To confirm, do this mean we keeping draft builds? I suspect they are useful for reviewer readability.

[2018-06-11 07:14] acrymble commented on #905
Not anything anyone has done recently. We just observed that in the past
and I thought it would be useful to formalize it now that we have a way to
do so and have lots of new members

On Monday, June 11, 2018, James Baker <notifications@github.com> wrote:

[2018-06-11 07:47] arojascastro commented on #905
As long as that statement doesn't impede us to discuss about "ethics of technology, education, or publishing", I'm happy if people are happy.

[2018-06-11 07:50] arojascastro commented on #891
Many thanks @andrewtothemax for adding the journal to your database and for the clarifications. I'll update my profile on Publons.

[2018-06-11 09:10] amsichani commented on #836
I think we're still waiting for @mdlincoln to set up the new branch and fr/ directory - do you want me to set them up ?
then, @spapastamkou and @mpuren we should start translating pages - it would be good to allocate things and set up a workflow alongside a timeframe. I am happy to help with the overall procedure while refreshing my French.
@spapastamkou I think the reviewer tracking gsheet is ope

[2018-06-11 09:24] amsichani commented on #905
this is indeed an important addition to our internationalisation/diversity policy and thanks @acrymble  for raising it. In line with @arojascastro 's comment, lets make sure we are still able to discuss PH within the OA agenda (having a distinct socio-economical approach).

[2018-06-11 16:54] acrymble commented on #788
I don't think we need an issn for French until we have French content. Maybe we can revisit it once we have a launch date?

[2018-06-11 16:54] #788 closed, assigned to amsichani

[2018-06-11 16:55] acrymble commented on #892
English ISSN: 2397-2068
Spanish ISSN: 2517-5769

[2018-06-11 16:59] acrymble commented on #877
I've emailed @mpuren to see if she needs help with her settings on this. Then I can close.

[2018-06-12 06:08] mpuren commented on #877
@acrymble I confirme that I receive the Github notifications

[2018-06-12 06:21] #877 closed, assigned to nobody

[2018-06-12 07:38] arojascastro commented on #889
Gracias a todos. El cambio ya ha sido realizado.

[2018-06-12 07:38] #889 closed, assigned to vgayolrs, mariajoafana

[2018-06-12 07:39] #891 closed, assigned to arojascastro

[2018-06-12 13:34] spapastamkou commented on #836
thank you @amsichani. Overall, I finish some pressing obligations in the days to come and I can be regularly available for this work to progress, roughly from the week of 25 June until the end of July.

For the 1st point: Let's see how @mdlincoln prefers we proceed. If it is up to the new members to do it, we will. In any case I am okay with whatever solution is judged best for the team (and does

[2018-06-12 14:09] acrymble commented on #836
@amandavisconti @spapastamkou there is already a /fr directory on the submissions site. Everything should be put there until it is ready to publish. https://github.com/programminghistorian/ph-submissions/tree/gh-pages/fr

You don't need external peer reviewers for the infrastructure pages (I don't think), as long as both you and @mpuren are happy with the text. Unless you think it is worth doing.

[2018-06-12 14:19] amsichani commented on #836
I saw this one @acrymble but I thought we were planning to have a new branch and a fr/ directory on the jekyll site for the infrastructure pages (as we 've done with the es/)
@spapastamkou I am fine with that plan - mid July sounds good for a recap. I will keep an eye on the progress, offer review and help, if needed - just drop me a line.

[2018-06-12 14:39] acrymble commented on #836
If you put them on the jekyll site people can see them. We don't want that until there's some content for them to look at.

[2018-06-12 14:43] amsichani commented on #836
okey, I thought a new branch on the Jekyll site was just enough for this type of experimentations  ;-)

[2018-06-12 15:14] mdlincoln commented on #836
And to clarify, I will create a new branch on THIS repository so that @programminghistorian/french-team can begin translating all of the other _non-lesson pages_ there, while the lesson translations go through the usual process on the submissions repo. I'll post here when that's ready - sorry, my schedule had been overtaken by events at work this past week.

[2018-06-12 16:07] mdlincoln commented on #836
@programminghistorian/french-team I've now added a new branch to this repository: [`french-infrastructure`](https://github.com/programminghistorian/jekyll/tree/french-infrastructre) If you switch to that branch, you'll see a new `fr` directory with the content pages - I just copied over the ones from `en`.

Youu can see a preview version of this branch at https://french-infrastructre--ph-dev.netli

[2018-06-12 16:10] mdlincoln commented on #836
FYI you will occasionally see a special comment in the content of these files, like this:

[code]

You do not need to translate this text.

[2018-06-12 19:09] arojascastro commented on #836
Sorry to jump into this, but maybe that information name about files and ASCII should be added to our guidelines: https://programminghistorian.org/en/author-guidelines#choose-a-searchable-name

I'm saying this because I recently chose a file name with an accent and it was displayed weirdly on the browser.

[2018-06-12 21:27] spapastamkou commented on #836
a huge thanks @mdlincoln for all this. It is all very clear, @mpuren and I will keep you updated here. I will start working on all that around June 25 and regularly afterwards.
Thank you @acrymble and @amsichani as well. We'll make it simple for the reviews of the infra pages:) I count on your help @amsichani and will let you know in time:-)
I do not use diacritics in file names but @arojascastro

[2018-06-13 03:31] vgayolrs commented on #901
Yes, @acrymble , I know someone. Let me take this.

[2018-06-13 17:57] mariajoafana commented on #901
So happy to see that @vgayolrs is back ;)

[2018-06-13 18:11] mariajoafana opened #908 "Spanish DH Jargon"
Adam and I discussed today the importance of having a list of approved DH terms in Spanish that can help us ease the translation and revision processes, and for sure the writing of original tutorials in Spanish. This could also be useful for the Spanish-speaking DH community.

We can start to compile some terms here and then ¿create a section in the webpage? or circulate them internally. I think i

[2018-06-13 18:16] mdlincoln commented on #908
This sounds like it might be a good wiki page, since it is mostly for reference for our internal processes and will need to be frequently updated. It'd still be publicly viewable if its on the wiki - you could do a blog post pointing out the wiki page to make sure prospective authors know about it?

[2018-06-13 19:21] jenniferisasi commented on #908
These are great ideas! We would benefit greatly from a vocabulary list on a wiki page - we could also link said terms to their Wikipedia entries?
Another idea (that will make it more difficult but I think it's needed): We need to check with people from several countries and/or varieties of Spanish to make sure we reach consensus to call it "approved DH terms in Spanish."

I have a few terms that I

[2018-06-13 20:27] mdlincoln commented on #904
Problem number 1: they no longer allow remote queries of RDF data aka no `SERVICE` statements... which directly undercuts the whole point of that section. I'm reaching out to them for comment, since the [link they provide for details about that decision is dead](http://sparql.europeana.eu/sparql?help=enable_sponge)

[2018-06-13 20:35] mdlincoln commented on #904
I'm also not expecting them to be forthcoming - despite a few waves of interest, Europeana hasn't really committed to LOD like it seemed they had in 2015...

If I don't hear anything back in a week, I'll reword the warning on the lesson to note that their SPARQL endpoint is available but no longer supports the exact query we show in the lesson.

[2018-06-14 08:04] arojascastro commented on #904
I think it's a pity. But maybe you can just remove that section about connecting different endpoints.

Note to myself: we did not update the lesson with the alert / warning in the Spanish translation: https://programminghistorian.org/es/lecciones/sparql-datos-abiertos-enlazados#enlazando-m%C3%BAltiples-puntos-de-entrada-sparql

[2018-06-14 09:34] arojascastro commented on #908
I think it is a good idea. Professional translators usually use *Translation memories*, which are basically chunks of texts that have been previously translated: https://en.wikipedia.org/wiki/Translation_memory

I am currently experimenting with a translation tool that helps you to create memories. The tool is open source - OMEGA: http://omegat.org/

I do not know yet for sure but, after uploading

[2018-06-14 09:37] arojascastro commented on #908
On the other hand, it would be good to have a similar list of terms in English.

[2018-06-14 09:59] acrymble commented on #908
I'd suggest publishing this as a more formal initiative. This could help set an agenda for DH in Spanish.

[2018-06-14 15:03] amsichani commented on #908
this is a great idea that could help a number of non-English DH initiatives, in languages with no standard DH terminology yet, and it will also boost our internationalisation agenda. I can see here a useful case-study for an edit-a-thon too, prob for the Bogota workshop? "creating a Spanish DH dictionary/glossary" -have a look on a [ similar attempt](https://folgerpedia.folger.edu/Glossary_of_digi

[2018-06-14 15:33] drjwbaker opened #909 "Applied Archival Downloading with Wget"
- Mac
- GNU Wget 1.19.1 built on darwin16.6.0.
- Python 3.6.3 :: Anaconda, Inc.
- The [The National Archives of Australia](https://programminghistorian.org/en/lessons/applied-archival-downloading-with-wget#a-second-example-the-national-archives-of-australia) section appears to no longer work. View doesn't allow for `right click -> view image` bit of the lesson. Script downloads html files. Wget ca

[2018-06-14 21:38] mariajoafana commented on #908
We can plan an activity on the last day of the workshop in Bogotá to work on this Spanish DH glossary. After the participants had spent some hours writings their own tutorials I guess we will have some terms to discuss. What do you think @acrymble ? Maybe be can get some of the participants to engage on the initiative

[2018-06-16 13:57] acrymble opened #911 "English Managing Editor & Call Coordinator (2018/19)"
@JMParr and @walshbr have done a fantastic job taking on the roles of English Managing Editor and Skype Call Coordinator this year. We had originally said this would be an annual September-August role, following on from previous people holding those roles.

Does anyone on the editorial board want to step forward for either of these positions next year? I think it's a really great way for a new per

[2018-06-16 14:24] amsichani commented on #911
This title/role of Skype Call Coordinator looks so tempting to me - happy to give it a try. Thanks so much @JMParr and @walshbr for the fantastic job!

[2018-06-16 15:33] alsalin commented on #911
I'd also be interested in in the Skype call coordinator. Not sure if we could split duties?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Anna-Maria Sichani <notifications@github.com>
Sent: Saturday, June 16, 2018 10:24:54 AM
To: programminghistorian/jekyll
Cc: Subscribed
Subject: Re: [programminghistorian/jekyll] English Managing Editor & Call Coordinator

[2018-06-16 15:44] amsichani commented on #911
yes - this is absolutely fine by me ! we can have 6months each, perhaps? how that sounds @alsalin ? any objection ?

[2018-06-16 16:45] alsalin commented on #911
@amsichani that sounds good to me!

[2018-06-16 16:59] acrymble commented on #911
It's not a really big role, and might be awkward rather than helpful to split it. Are either of you interested in the managing editor role?

[2018-06-18 10:28] drjwbaker commented on #897
Note, I'm checking the PH gmail regularly for news of PH ES approval on DOAJ. Timescales from automated response are:

[2018-06-18 10:45] drjwbaker commented on #765
DH is next week! A couple of things:

- @mariajoafana is presenting on PH ES at a Thursday 4pm session (before the Fiesta!) https://www.conftool.pro/dh2018/index.php?page=browseSessions&form_session=317&presentations=show I hope we can all make it.
- I will have ~180 ES stickers with me.
- when do we want to aim to get together to chat + share stickers? One option is to meet Monday after the works

[2018-06-18 11:01] drjwbaker opened #915 "Sponsorship/donations wording."
Building on #724, we need some wording that states what we do with sponsorship/donations. Suggest as a starter:

---

The Programming Historian is a volunteer-driven project. In order for it to grow, improve, and sustain our work since FIXME 2018 the Editorial Board of the Programming Historian have accepted sponsorship and donations. This enables us to:

- Pay for professional publishing services

[2018-06-18 11:02] drjwbaker commented on #915
(note: FIXME PAGE could be lower down the same page)

[2018-06-18 11:45] drjwbaker opened #916 "Patreon"
Issue on [Patreon](https://www.patreon.com/) as a mechanism for accepting donations of #915.

- [x] Test [Patreon]
- [x] Add Patreon widget/button to site design. Info https://www.patreon.com/brand/guidelines. @walshbr working on this.
- [x] Agree donation tier(s)
- [x] Agree goal(s)
- [x] Agree text on page
- [x] Add to [Service Integrations](https://github.com/programminghistorian/jekyll/wiki/Se

[2018-06-18 12:05] drjwbaker commented on #916
Patreon's model is about monthly donations. Patreon runs a 'Rewards' system whereby patrons get things in exchange for the £$€ level at which they donate (see https://www.patreon.com/timsherratt for an eg).

I suggest we have :

- a minimum tier (£$€1 or more) where we thank people by name on the site
- a second tier (£$€5 or more) where we thank people by name on the site and send them some stick

[2018-06-18 12:08] acrymble commented on #916
I reserved us the most logical page on this by the way. "Programming Historian".

[2018-06-18 12:11] drjwbaker commented on #916
Oops, I've just done that as well..

[2018-06-18 12:11] drjwbaker commented on #916
(at 'The Programming Historian')

[2018-06-18 12:18] drjwbaker commented on #916
Patreon has a goal based system:

I suggest we have one for copy-editing, based on [Society for Editors and Proofreaders](https://www.sfep.org.uk/resources/suggested-minimum-rates/) minimum costs, and a (conservative) estimate of 3 hours to copy edit each lesson, and ~2 new lessons each month (which I know is more than we get), one goal can be:

We may also choose to have a second goal for copy-ed

[2018-06-18 12:27] drjwbaker commented on #916
Page mockup (preview before submitting for review with Patreon)

![screen shot 2018-06-18 at 13 26 30](https://user-images.githubusercontent.com/4965300/41535728-51f57ed2-72fb-11e8-8ff7-82275c466bdf.png)

[2018-06-18 12:28] drjwbaker commented on #916
Once submitted for review, we get a chance to add bank details. Given that this is not confirmed, we are in no hurry. Thanks!

[2018-06-18 12:30] acrymble commented on #916
I'm sure you saw Tim Sherratt's page: https://www.patreon.com/timsherratt

[2018-06-18 12:37] drjwbaker commented on #916
@acrymble Yes. Drew some ideas from it.

[2018-06-18 12:42] drjwbaker opened #917 "PayPal"
Issue on PayPal as a mechanism for accepting donations of #915. Purpose: Patreon #916 is setup to accept monthly donations rather than one-off payments.

[2018-06-18 12:43] acrymble commented on #917
You should check with your university. UofL wouldn't let us use this a few years ago for British History Online.

[2018-06-18 12:43] drjwbaker commented on #917
We can't setup on the [not-for-profit or charity route](https://www.paypal.com/uk/webapps/mpp/not-for-profit) as we aren't either of these things (that is, we don't have the requisite paperwork).

[2018-06-18 12:44] drjwbaker commented on #917
Yes @acrymble. This seems more fraught with problems. I think we'll have to await confirmation of how the setup will work before looking at this further.

[2018-06-18 13:00] acrymble commented on #916
Just looked into the Patreon cut, and it's 2.9% + $0.35 per transaction. I'd raise the minimum number to at least $3 in that case, otherwise there won't be any money coming in at all.

[2018-06-18 13:03] drjwbaker opened #918 "Recognition of sponsorship/donations/support"
Building on #724, we need to agree how best to recognise sponsorship and donations on the site.  At present this is buried on https://programminghistorian.org/en/about. I propose:

**For donations**

A list of all individuals (if you want to be named) who have contributed money to the project and a link to the Patreon page where current patrons are listed. Perhaps an extension of https://programmi

[2018-06-18 13:05] drjwbaker commented on #916
I think this didn't happen https://blog.patreon.com/updating-patreons-fee-structure/

[2018-06-18 13:06] drjwbaker commented on #916
https://patreon.zendesk.com/hc/en-us/articles/204606125-How-do-you-calculate-fees-

[2018-06-18 13:07] drjwbaker commented on #916
From page today.

![screen shot 2018-06-18 at 14 06 32](https://user-images.githubusercontent.com/4965300/41537590-dd653e80-7300-11e8-9d0e-05b7b649a486.png)

[2018-06-18 14:26] walshbr commented on #911
Just to underscore @acrymble's point - the call coordinator (and I imagine the ME as well) will get easier the longer you do it. So for efficiency's sake it probably makes sense to keep it in year rotations. That way you have time to get comfortable and it becomes less of an ask.

[2018-06-18 14:33] alsalin commented on #911
@walshbr @acrymble I do see your points here - if the position won't begin until September, then I think I would like to do the ME position (I should have a dissertation draft by September, so that will release me to be able to take on regular responsibilities - that was my only hesitation honestly).

[2018-06-18 14:34] walshbr commented on #765
I could aim for the Tuesday reception. We're doing one of the excursions, but theoretically we should be back by then. Monday after the workshops might be a bit more difficult for me.

I think we should absolutely invade the DH hashtag. I'm happy to tweet in English, but I think it'd be better if we had someone tweet in Spanish given that the stickers are specifically about PH ES.

I'll try to mak

[2018-06-18 15:05] drjwbaker commented on #765
@walshbr You are going on a Tuesday excursion?

[2018-06-18 15:37] walshbr commented on #765
Yeah a couple of us who weren't doing the Tuesday workshops found that was the only time we were free.

[2018-06-18 15:51] drjwbaker commented on #765
Okay. Well in that case, let's endeavour to meet up during the reception (rather than right at the beginning), which should give you some time.

Do we want a group chat (WhatsApp?) to co-ordinate, say hi, during DH?

[2018-06-18 15:54] amsichani commented on #911
thanks for the input @acrymble @walshbr . I was hesitant to propose myself for the ME at this point, as I 'd like to spend more time and familiarize myself with the editorial & overall workflow- happy to take the Skype call coordinator role then . @alsalin #girlspower

[2018-06-18 15:57] walshbr commented on #911
For what it's worth @amsichani, @JMParr and I had only been on the board for about five or six months before we took over those roles. I'd definitely want you to feel comfortable with whatever you decide to take on, but you'll have about as much experience as we did! So I guess I'm just saying - feel confident that you'd have our support in whatever you decide you're comfortable with. And we can h

[2018-06-18 22:02] JMParr commented on #911
The workload for the ME role fluctuates. There tend to be more emails
during semester breaks and up through early September, when many campuses
start their fail term (which probably won't surprise you). I think when we
transitioned the role from Jeri to me, we wound up switching over in the
2nd week of Sept.

On Mon, Jun 18, 2018 at 10:33 AM, alsalin <notifications@github.com> wrote:

[2018-06-18 22:03] JMParr commented on #911
And yes, I think it's been fine to be in the ME role as a relatively new
editor. It does mean that you may have to ask the rest of the board more
questions, but I have found it helpful as a learning experience.

On Mon, Jun 18, 2018 at 6:02 PM, Jessica Parr <jparr1129@gmail.com> wrote:

[2018-06-18 22:47] mariajoafana commented on #765
The whatsapp group is a good idea. (My number +3123513693) I can meet on Tuesday during the reception.
I'm working on my presentation, it's short, 10 minutes.  I will deliver in Spanish but will have bilingual slides. Or should I present in English? I have mixed feeling about this, since more people will understand the talk if I deliver it in English, but is paradoxical since we are talking about

[2018-06-19 05:06] mdlincoln commented on #765
I've got the PH session on my calendar!

And do add me on whatsapp: +1 570 854 9695

[2018-06-19 08:05] acrymble commented on #918
There's a lot in this. Can we put this on the July agenda?

[2018-06-19 08:59] drjwbaker commented on #918
Sure (cc @amsichani for when you pull the agenda together). I should add that I'm aware there is a lot here and that we'll need to split into separate issues / workstreams. This is just my initial overview of what recognition for donors/sponsors might look like.

[2018-06-19 09:41] acrymble commented on #911
Thanks for volunteering. I haven't heard any other voices here. Are we happy to go ahead with @amsichani as Call Coordinator and @alsalin as Managing Editor for next year?

I'm sure they'll do a great job.

[2018-06-19 09:43] acrymble commented on #899
Sorry @mdlincoln I saw you made a mockup. Does that mean we can close this?

[2018-06-19 09:45] acrymble commented on #918
I'd suggest a small team of 3 people (or so) could probably put together a strong proposal to bring to the group on this. That might mean we get further faster. But just a suggestion.

[2018-06-19 10:04] drjwbaker commented on #918
Sure. Hadn't planned to take all of this myself.

Who wants to work on proposal? And what parts of the above (site design, models, process) are you interested in leading on?

[2018-06-19 10:18] JMParr commented on #911
Okay with me. Amandi can just let me know when she'd like to transition in
to ME.

On Tue, Jun 19, 2018 at 5:41 AM, Adam Crymble <notifications@github.com>
wrote:

[2018-06-19 13:50] alsalin commented on #911
Sounds like fun everyone! @JMParr shall we chat on email to figure out a transition schedule?

[2018-06-19 13:54] walshbr commented on #765
@mariajoafana speaking as someone who will only understand glances of your talk in Spanish, I think presenting in Spanish with bilingual slides sounds great and makes a lot of sense. I think there are really strong reasons for presenting in Spanish like you say, and if you have a couple main points in English on slides I think people will understand and appreciate the presentation even if they're

[2018-06-19 13:58] walshbr commented on #911
Sounds good - I'll continue doing the Skype calls for July and August and then hand off to @amsichani, assuming that transition schedule works for her. Sorry, everyone - two more months of me!

[2018-06-19 13:59] amsichani commented on #911
@walshbr sounds great ! both our transition schedule and the two more months of you!

[2018-06-19 14:03] acrymble commented on #911
Thanks everyone. Closing this, as I thinkw e're agreed.

[2018-06-19 14:03] #911 closed, assigned to acrymble

[2018-06-19 14:03] walshbr opened #919 "July Editorial Call Agenda - 25/7/2018"
#868 Time is 5PM British, 12PM Eastern US, 9AM Pacific US. I'll be facilitating.

Working agenda follows. Please add by commenting or editing this comment directly.

#721 Current Research Projects or Submissions Pending about the Programming Historian.
#849 Reduce bus factor for service integrations.
#918 Recognition of Sponsorship/Donations
#864 #868 onboarding of French team
#836 & #940 French t

[2018-06-19 14:05] walshbr commented on #918
Added this to the agenda for July - #919.

[2018-06-19 14:42] arojascastro commented on #919
I am on holidays in July 💃

[2018-06-19 14:47] arojascastro commented on #721
Last update about EADH2018: Anna-Maria, Jennifer and I managed to author a proposal, that we submited yesterday - notification will be sent in some weeks.

Now, replying to @spapastamkou - I think a workshop on Markdown, Github and maybe Pandoc can facilitate a lot collaboration because these are mainly the tecnologies that we use to edit and publish our lessons. On the other hand, Köln is not ver

[2018-06-20 07:18] acrymble commented on #918
If we have someone on the team in the US who is in a role where they are eligible for applying for grants, it would be good to get them involved so that we can make sure American culture is represented by this approach we take.

[2018-06-20 08:05] drjwbaker commented on #765
Note, we can take chat to WhatsApp now. I'll close this after the event (we may have some more actions we'd like to add to this)

[2018-06-20 13:16] walshbr commented on #918
There are some bureaucratic reasons that staff w/o faculty status at our institution have difficulty applying for grants, but it's something we're actively trying to work against and around. So I can weigh in if it's helpful.

[2018-06-20 13:42] drjwbaker commented on #918
To be clear, I had thus far seen the sponsorship/donation activity as distinct from grant capture. Though in terms of recognising all these activities on our site, there is overlap.

[2018-06-21 08:42] acrymble commented on #849
Just a reminder to @mdlincoln this is just waiting for your input.

[2018-06-21 08:43] acrymble commented on #765
@drjwbaker if you want more Spanish stickers and will be in London next week, let me know.

[2018-06-21 09:02] drjwbaker commented on #765
@acrymble We shall be in Mexico next week! :)

[2018-06-21 09:03] acrymble commented on #765
Woops, right. Nevermind :)

[2018-06-21 10:50] vgayolrs commented on #765
Hi
@drjwbaker, please, add me on WhatsApp: +1 52 351 127 9521
I'll there on Tuesday. ... and ready to invade the DH hashtag in Spanish with PH ES

[2018-06-21 11:18] drjwbaker commented on #765
@vgayolrs Do you have a WhatsApp account? I've added you as a phone contact but can't find you in the app.

[2018-06-21 11:23] vgayolrs commented on #765
Hi @drjwbaker , yes, I just join the WhatsApp group with the link you sent by email... and sorry, I just woke up and dyslexia is worse ... wrong number. The right one: +52 1 351 127 9521

[2018-06-25 03:51] #892 closed, assigned to mdlincoln

[2018-06-25 03:51] mdlincoln commented on #892
Closed by #912

[2018-06-25 23:22] mpuren opened #926 "Adding Marie Puren to the Project Team Page"
Adding my picture and my bio to the project team page.

[2018-06-25 23:51] mpuren commented on #765
Hi @drjwbaker, I'm in Mexico, and I can meet you during the reception on Tuesday. I have a WhatsApp account and I just join the group. Here my number +33 6 36 70 50 96.

[2018-06-26 07:21] arojascastro opened #929 "Pending changes in "Procesamiento básico de textos con R""
As pointed out here https://github.com/programminghistorian/jekyll/pull/922, in that lesson there was a internatl link that I removed in order to pass Travis. The link should be added in footnote 2 once the translation is published:

[2018-06-26 13:47] mdlincoln commented on #926
Closed by #927

[2018-06-26 13:47] #926 closed, assigned to nobody

[2018-06-26 18:09] acrymble commented on #868
@amsichani would you mind doing the blog post welcoming our new French members now that the profiles are up? I'm swamped at the minute :(

[2018-06-27 06:47] amsichani commented on #868
I am planning to do so by next Wed, 4th July (viva is on its way) - collecting additional info from @mpuren and @spapastamkou at the moment.

[2018-06-27 08:04] arojascastro commented on #929
Also fix the markdown in the abstract - by removing it? (it is not displayed correctly):

`(*high-level patterns*) `

In:

[2018-06-27 13:05] arojascastro commented on #929
Also I think this block of code is not displayed ok:

   word     count language frequency
   <chr>    <dbl> <chr>        <dbl>
 1 america    28. en          0.0232
 2 people     27. en          0.0817
 3 just       25. en          0.0787
 4 world      23. en          0.0734
 5 american   22. en          0.0387
 6 work       22. en          0.0713
 7 make       20. en          0.0689
 8 want

[2018-06-29 20:15] bmschmidt opened #930 "Data Wrangling format issues."
The data wrangling article doesn't display well in a way that makes it difficult to understand.. Consider the following:

https://programminghistorian.org/en/lessons/data_wrangling_and_management_in_R

[code]

You can't observe it, because the columns the text refers to are being truncated.

[2018-07-02 09:04] acrymble commented on #765
Can someone make sure that we get a great blog post out of this and that any papers are added to /research if they presented (even loosely) on PH activity?

[2018-07-09 08:50] drjwbaker commented on #765
@mariajoafana Perhaps we could write something that takes the highlights from your slides in terms of a) what ES has done b) impact of ES c) challenges and next steps?

[2018-07-09 08:51] drjwbaker commented on #765
(plus, of course, a little on the conference itself: team meeting up, nomination of @mariajoafana's paper, ~200 stickers circulated)

[2018-07-09 14:52] mariajoafana commented on #765
Yes, I agree. Should we write the post in English and then translate it into Spanish?

[2018-07-09 15:28] drjwbaker commented on #765
If that works for you, yes. Perhaps you could start by cutting/pasting some relevant bits from your talk into a draft post at https://github.com/programminghistorian/jekyll/tree/gh-pages/_posts and I can then try to weave it all together! Plan?

[2018-07-09 15:40] mariajoafana commented on #765
Yes, plan!

[2018-07-09 20:05] magdmartin opened #931 "Tag by technology"
It will be useful to filter [lessons available](https://programminghistorian.org/en/lessons/ ) by technology or language (python, OpenRefine, MySQL, R ...)

[2018-07-10 07:40] drjwbaker commented on #765
Drafting here https://github.com/programminghistorian/jekyll/pull/932#issuecomment-403715143

[2018-07-10 07:40] #765 closed, assigned to drjwbaker

[2018-07-10 14:52] arojascastro opened #934 "Replacement for ES first contact for translators and authors"
Hi,

I would like to step down from the role of "first contact" for authors and translators of the PH ES. I think that means finding someone else and replacing my name with his/hers in these pages:

- https://programminghistorian.org/es/contribuciones#%C3%BAnete-a-nuestro-equipo-de-revisores
- https://programminghistorian.org/es/guia-para-autores#traducir-o-proponer-una-lecci%C3%B3n-nueva

Additio

[2018-07-10 16:39] mariajoafana commented on #934
Hi, I can take the role starting in September, as right now I have plenty on my plate, mainly the preparation for the PH writing workshop on August. After this, I'll be happy to take the role.
If you want to step down right away, I suggest that someone else volunteers.

[2018-07-10 17:29] wcaleb opened #935 "Twitter cards not working for English lessons"
I noticed today that Twitter cards for English lessons are not working (see #402 for discussion of Twitter cards). It looks like maybe something in https://github.com/programminghistorian/jekyll/commit/c4ee8761d26c14fedb3f9a7a380985d0d5bd3df8 is creating double backslashes in the URL to the image needed to generate the card.

[2018-07-10 17:41] mdlincoln commented on #935
Thanks for the heads up - I'll take a look.

[2018-07-10 17:46] walshbr commented on #935
@mdlincoln should line 4 of _includes/twitter-card.html just be

`<meta name="twitter:image" content="{{ site.redirect_from }}/gallery/{{ page.url | remove_first:'/lessons/' }}.png" />`

instead of

`<meta name="twitter:image" content="{{ site.liveurl }}/gallery/{{ page.url | remove_first:'/lessons/' }}.png" />`

That seems to copy the es logic, at least, and i looks to construct the URLs correctl

[2018-07-11 06:29] arojascastro commented on #934
I guess it could be a rotating role. So if someone is wanting to try for some months from now on, it would be great. If not, I'll wait until Maria can take it. It's up to you really.

[2018-07-11 06:31] acrymble commented on #934
On the English team we have made the Managing Editor role (which is what this is) a September-September one-year thing. Up to you, but that might make it easier to coordinate, and gives people an idea of how long they're committing to something.

[2018-07-11 06:34] arojascastro commented on #934
Yes, that's the name: "managing editor" rather than "first contact".

[2018-07-11 06:47] arojascastro opened #936 "Standarization of new proposals?"
Hi,

You know I love standarizing things. I actually that's my main work and resarch field. So... despite of risking your patience, I would like to suggest to standarize the submission of new proposals (originals, mainly).

From my experience (and maybe @JMParr agrees) as "managing editor" for the ES edition (which is very small because we only got two proposals), we always have to exchange a lot

[2018-07-11 18:53] mdlincoln commented on #936
I think this is a really great idea!

[2018-07-11 18:55] walshbr commented on #936
Ditto! Think this is a great idea. I think having an intake form that sends a notification to the managing editor would help streamline things.

[2018-07-11 19:09] alsalin commented on #936
I love standardization and as the incoming ME, i double vote for this :P

[2018-07-11 19:54] JMParr commented on #936
Add me to the supporters.

On Wed, Jul 11, 2018 at 3:09 PM, alsalin <notifications@github.com> wrote:

[2018-07-11 23:21] jamotilla commented on #934
Hi, i can help with that, next semester i´ll only teach one course.

[2018-07-12 03:59] symac commented on #531
It has been a long time but I have been working on a first draft of something that would answer this request for an epub export. You can see a live version at http://phepub.geobib.fr/
The scripts used are available on github at https://github.com/symac/phepub

The most important thing to do at the moment would be to improve the CSS of the epub and check that it looks nice on various devices. At th

[2018-07-12 09:27] arojascastro commented on #934
Oki doki, I can wait until September. No problem :)

[2018-07-12 12:35] arojascastro commented on #936
Thank you! Very cool :)

Do you have any preference about how we should create the form? A Google form is ok? Do we have a PH gmail account where we can create the form and store the answers in a spreadsheet?

On the other hand, should we create three forms in English, Spanish and French? Or a unique single form that contains the fields in those languages? For instance: `title / título / titre`?

[2018-07-12 13:32] drjwbaker commented on #936
A simple template potential authors can cut/paste should suffice.

[2018-07-13 07:16] drjwbaker commented on #531
Thanks @symac! Does any of the editorial team regularly use an epub compatible device (I don't). If so, could you take a look?

[2018-07-13 09:11] amsichani commented on #936
@arojascastro you are our standardisation hero!

[2018-07-13 09:21] acrymble commented on #936
Love the idea. Should simplify life. A few comments on your proposed fields:

- Author's name
- Affiliation (optional?) **[I don't think this is relevant]**
- Email
- Title of the lesson
- Summary in English or Spanish (if the original is Spanish I think the author should provide a summary in English because otherwise the managing editor has to translate it) **[The Spanish team has editorial indep

[2018-07-13 11:43] JMParr commented on #936
A query - I do think, in theory, people could just cut and paste the
required sections, but I wonder if we're more likely to get cooperation if
there's a Google form or something.

On Fri, Jul 13, 2018 at 5:21 AM, Adam Crymble <notifications@github.com>
wrote:

[2018-07-13 18:02] arojascastro commented on #936
Hi all,

@acrymble the "Activity" field is what you called "Categories" e.g. "acquire", "transform", etc.

Yes, "learning outcomes" is better than "objectives", I agree.

I think the English and future French team should have an opinion on the Spanish submissions if we are all committed to translation. I am not sure how "independent" are we ones from each others and actually in the past we have sh

[2018-07-13 19:19] mdlincoln commented on #936
Definitely do a form - I agree with @JMParr it's easier for users and much more professional than asking them to cut/paste.

[2018-07-14 11:52] acrymble commented on #868
@mpuren the last actions on this are yours. Can you complete this checklist soon so we can close this ticket and move on to more exciting things?

[2018-07-14 11:54] acrymble commented on #864
@spapastamkou can you please finish this off so we can close this ticket?

[2018-07-14 11:54] #850 closed, assigned to acrymble

[2018-07-14 11:58] acrymble commented on #836
Do we have any progress to report here? Some of the pages are very short and could be a good place to start to make sure you know how everything works. For example, 404.md only has 2 sentences to translate:

[2018-07-14 12:54] amsichani commented on #836
We are having a series of Skype calls and intense working sessions next week with the FR task force so hopefully we ll be having few things to report on this during our regular Skype meeting.

[2018-07-14 18:30] spapastamkou commented on #836
Hi to all. I have been working on the fr-infrastructure branch as agreed
with Matthew. The fr directory has been prepared <
https://github.com/programminghistorian/jekyll/commit/1973685eb99e0a465577ada479e02c416079ce38>
and I added fr translations in  _data <
https://github.com/programminghistorian/jekyll/tree/french-infrastructre/_data>.
I currently work on the about page which is almost finished

[2018-07-15 08:13] acrymble opened #939 "possible typos in R with Tabular Data lesson"
following has been reported as potentially wrong in the R with Tabular data lesson (with thanks to Heather Bennett:

In the Matrices section, I spotted three things:

1. When explaining the apply() function, the author writes: "If you want to find the mean of each row, you would use 2 instead of 1 inside of the function.” I think this is backwards? Based on the examples given it looks like 1 is fo

[2018-07-15 08:25] arojascastro commented on #939
We are reviewing the translation of that lesson here: https://github.com/programminghistorian/ph-submissions/issues/164

Can you @jenniferisasi have a look at this? Gracias.

[2018-07-15 08:27] acrymble commented on #939
Thanks @arojascastro that would be amazing to get another opinion.

[2018-07-15 09:13] jenniferisasi commented on #939
Hi!

- 2&3 Yes, that 90 should be a () ; cbind() and apply()
I have cbind() and apply() on my translation, I think I automatically put the () after the functions.

- 1 I'm not an expert and I assumed the tutorial was right, but, yes, with ?apply in R it indeed says:

[2018-07-15 22:06] spapastamkou opened #940 "Elementary documentation on translation of FR infrastructure file names and basic terms"
_(Update 27 July 2018: this ticket was originally created to document the process of translation of the FR infrastructure files. Its creation was also part of the tasks of #864. The ticket has proved to be ill-conceived as various issues arise for which distinct tickets are needed. This ticket has been renamed in order to reflect exactly its current content and will soon be closed. Part of its con

[2018-07-15 22:10] spapastamkou commented on #864
I just opened a ticket (#940), so I believe I am done and this one can be closed. Thank you.

[2018-07-15 22:20] spapastamkou commented on #936
I also find the idea excellent. I believe a summary in English in case of a Spanish or French submission would be useful because it is good to have knowledge of what is going on in the linguistic areas covered by each team.

[2018-07-16 08:26] #864 closed, assigned to amsichani

[2018-07-16 15:25] mdlincoln commented on #850
FYI, I have standardized URL and non-URL versions of the logos as SVG files and moved them to `/images/logos` so that they can be referenced across the site.

[2018-07-16 15:43] #904 closed, assigned to mdlincoln

[2018-07-17 08:24] mpuren commented on #868
Sorry, I'm on it

[2018-07-18 08:38] arojascastro commented on #600
I think we can close this issue, right? @jamotilla ?

[2018-07-20 06:53] acrymble opened #942 "DH2018 papers to /research please"
If you gave a paper about PH at DH2018, please add it to /research

@mariajoafana I know you gave one. I don't know if anyone else did.

[2018-07-23 22:37] spapastamkou commented on #940
##Contributors: basic terms choices

This part refers to following terms: author, reviewer, editor and, in general, to terms in relation with the organisation of a scientific journal.
Main reference text: Guide pour les revues numériques de l'ENSSIB (Ecole nationale supérieure des sciences de l'information et des bibliothèques), 2001, http://revues.enssib.fr/titre/1ed/4organisation/1comites.htm

E

[2018-07-23 22:50] spapastamkou commented on #940
of interest to @programminghistorian/spanish-team : I think @drjwbaker 's bio in ph_authors.yml needs a little update in Spanish

Qs for all @programminghistorian/project-team on about.md file (for elements of the About page common to all editions) :
- link to RCUK's website has changed. Redirection works (15 secs). Do we keep the same link or replace with new one?
- link to HEFCE web site: works

[2018-07-23 22:56] spapastamkou commented on #836
@mpuren : 404.md, apropos.md, index.md added 21/07/18

[2018-07-24 07:09] acrymble commented on #940
@spapastamkou it might be worth documenting some of these decisions you want to remember (like what form of terms to use) on the Wiki. Tickets like this one tend to get forgotten once they are closed. The Wiki is a place where we keep things relevant to the Project Team which we might need to refer to more regularly: https://github.com/programminghistorian/jekyll/wiki

[2018-07-24 07:13] acrymble commented on #940
@spapastamkou Thanks for pointing out the link issues on the /index page. The HEFCE and RCUK links were mentioned because they have policy implications for any UK-based authors. Essentially, your work will only 'count' in future if it is open access. This statement merely notes that we are compliant. If we need to highlight compliance for other regions then I agree it's worth adding more notes/lin

[2018-07-25 09:35] drjwbaker opened #943 "Accidental commit on main branch"
So I managed to make an accidental commit on the main branch https://github.com/programminghistorian/jekyll/commit/601f10c08ea37d056750e55d6184eec34e68302d#diff-0c23acdb6f8128d6724d9e248b32888e I didn't think this was possible?

(note this also needs very minor Spanish translation)

[2018-07-25 12:20] mpuren commented on #940
@spapastamkou
##Gendered common names and inclusive writing: I was thinking about how translating gendered terms in French, and I propose to open a dedicated ticket on this subject (if you agree, I'll open it). Because this is a current and important debate in the French-speaking community (especially in France) and we should be totally clear on this subject and make decisions that we'll be able t

[2018-07-25 12:38] mpuren commented on #836
@spapastamkou Thanks. I'm going to review the translations next week as it is mentionned in the speadsheet (one day will be enough, I think), and I'll begin to translate the remaining texts in English and hopefully finish this work next week too.

[2018-07-25 12:46] mpuren commented on #868
Surprisingly, I've completed my onboarding checklist. So I think I can close this ticket.

[2018-07-25 12:46] #868 closed, assigned to amsichani

[2018-07-25 12:52] mpuren commented on #940
@spapastamkou Dernière chose : doit-on employer la nouvelle orthographe qui rentre en vigueur en septembre? En ce qui me concerne, je ne suis pas particulièrement pour, mais cela se discute évidemment.

[2018-07-25 13:22] jamotilla commented on #600
Let me check this today @arojascastro , i let you know later

[2018-07-25 15:05] mdlincoln commented on #943
Currently, team administrators have the ability to push to the protected `gh-pages` branch. I kept this as an option in case of emergency fixing needed without needing to go through the PR/review process.

Just be careful in the future!

[2018-07-25 15:05] #943 closed, assigned to nobody

[2018-07-25 15:27] drjwbaker commented on #943
Sorry!

[2018-07-25 15:29] mdlincoln commented on #943
And congrats on your promotion @drjwbaker !!! 🍾

[2018-07-25 16:22] drjwbaker commented on #943
@arojascastro One word here needs a translation 😄

[2018-07-25 16:28] drjwbaker commented on #878
This is coming along. Hoping to update mid-August.

[2018-07-25 16:30] drjwbaker commented on #576
Details of PH gmail account here https://github.com/programminghistorian/jekyll/wiki/Service-Integrations

[2018-07-25 16:32] spapastamkou commented on #721
@arojascastro @amsichani @mpuren on the Fr workshop, please find info here for the CFP https://www.meshs.fr/page/dhnord2018_aac
We could further  exchange on the form this workshop can take in the coming days. Thank you

[2018-07-25 17:09] spapastamkou commented on #940
@mpuren about inclusive writing I provide further context: I think that the decision can be safely done by the editors because there are the theoretical foundations (= rules set by the Office québécois de la langue française:
- Formation de noms féminins http://bdl.oqlf.gouv.qc.ca/bdl/gabarit_bdl.asp?Th=1&Th_id=358&niveau=
 - Principes généraux de la rédaction épicène http://bdl.oqlf.gouv.qc.ca/bd

[2018-07-25 17:11] amsichani commented on #721
thanks @spapastamkou . Correct me if I am wrong, but the deadline for workshops' proposals was 31st May . Do you have any insights on this?

[2018-07-25 17:11] acrymble commented on #905
Proposed by @walshbr that we also add a link to the editorial guidelines in this blurb, to highlight the areas in which we are political (open access) and not (jokes). This avoids needed to update any of the live site pages.

If you have any further views on this please post them here by August 15 2018 at which point I'll move it to the Wiki if I hear nothing more.

[2018-07-25 17:16] jamotilla commented on #942
@acrymble i think only @mariajoafana talked about PH, in my case i mentioned the project and talked about the possibilities that our tutorials give to scholars that work with historical data sets.

[2018-07-25 17:17] walshbr commented on #905
And regarding my comment in the call about adding a clause to reflect that this is something we're expecting authors to abide by as well as editors - I think it's probably fine as is. Upon rereading I think the fact that you refer to the PH as a unit as well as the board conveys that. This looks good to me.

[2018-07-25 17:29] spapastamkou commented on #721
Yes, we had presented a proposal with @mpuren in the original deadline but
after thought it was maybe premature, especially as we had not yet
discussed the idea with the rest of the team. So we told the organizers
that it was perhaps better not to count us in but they are really
interested in the workshop. This is why I posted. If we can agree on the
form, I think that the summer holidays really w

[2018-07-25 17:31] walshbr commented on #919
Actionables/Notes from Meeting
- [ ] #849 Reduce bus factor for service integrations. waiting on @mdlincoln
- [ ] #918 Recognition of Sponsorship/Donations -  @drjwbaker is looking for others to help draft a proposal for this. @amsichani will assist.
- [X] #864 #868 onboarding of French team
- [ ] #836 & #940 French translation infrastructure pages - goal is to have main things translated by end o

[2018-07-25 17:31] #919 closed, assigned to nobody

[2018-07-25 17:34] amsichani commented on #721
Can you share in a new ticket this original proposal, so we can start discussing it there and see how it might evolve?

[2018-07-26 05:34] mpuren opened #944 "Proposal for a PH workshop during the DH Nord 2018 conference"
@amsichani @arojascastro @spapastamkou  This is the original version of a proposal for a workshop around the Programming Historian:

**Ressources en libre accès pour la formation et l'autoformation des historien•ne•s aux méthodes numériques**

**Objectifs**
La proposition de cet atelier part d'un constat : alors que les usages de documents et de données numériques de la part des historien.ne.s évo

[2018-07-26 05:40] mpuren commented on #940
Thank you @spapastamkou for these precisions, that's clearer for me. And I agree: we can follow the rules proposed by the Office québécois de la langue française.

[2018-07-26 07:51] arojascastro commented on #940
This is very interesting for the Spanish team as well! We did not think about *inclusive language* in gender terms yet. I think we use *masculine* as *universal*, but at the moment there is a lot of debate about the need of using feminine terms as well in Spain (I do not know about other countries like Mexico or Colombia).

The English version does not have this issue, it is a translation problem

[2018-07-26 08:00] acrymble opened #946 "keeping unpublished french pages in sync"
I just realised (because James updated his bio) that we're in the habit of requesting updates to Spanish pages when we update an English one. But because the French pages are all being developed offline and are currently unpublished, those changes will not necessarily be noticed and incorporated into the French site.

We either need to start publishing (and not advertising) French pages so that th

[2018-07-26 08:02] acrymble commented on #940
As we discussed in the Skype call, this ticket does not contain a single issue that can be completed and closed. That means the ticket will always remain open.

@spapastamkou can you please identify any discrete issues in this thread and open new tickets for them? This will help us keep organised as a group.

If you think there is one discrete issue here, you could change the name of the ticket to

[2018-07-26 08:03] arojascastro commented on #940
Sure! Yes, that's more convenient. I'll open a new for the Spanish case and discuss there when I am back from holidays (unless someone else can open it earlier).

[2018-07-26 08:07] drjwbaker commented on #946
We could moratorium changes core non-lesson pages until the FR team are ready? The mechanism for this would be to stage pull requests but not action them until FR are ready. Downside is that it might put unrealistic time pressures on the FR team to complete translations.

[2018-07-26 08:51] spapastamkou commented on #940
I will do this, @acrymble , the soonest I can work on it is tonight.

[2018-07-26 10:38] mpuren opened #947 "Translation of genderered terms in French"
Cf #940
If we take the example of the roles attached to contributors, the problem in French is that these terms are gendered. In small contexts, such as the menu, we used the male form (auteurs, évaluateurs etc) as inclusive for all (according to the rule of the Académie française) and mainly bcz a Menu provides limited space.

Wherever the context of a phrase allowed it, we used both genders in p

[2018-07-26 10:44] mpuren commented on #940
@spapastamkou I opened a new ticket concerning the translation of gendered terms in French. Do you think we need to open a ticket on "les nouvelles règles orthographiques" for French?

[2018-07-26 13:07] drjwbaker commented on #915
Sub-tasks of this on types of sponsorship at https://github.com/programminghistorian/jekyll/issues/918

[2018-07-26 13:08] drjwbaker commented on #918
@amsichani Agreed to support this work.

[2018-07-26 14:02] drjwbaker commented on #915
Okay this is my first draft of a proposed new 'Support Us' page, which I guess should be a child of 'Contribute' header but might also be flagged elsewhere in our page design. Anyhow, try to keep this issue for wording, and we'll open new tickets for process and design issues.

@amsichani: perhaps we can discuss this offline - I'm in the office Friday 27th, Monday 30th, and Wednesday 1st if you ar

[2018-07-26 14:06] drjwbaker commented on #918
https://github.com/programminghistorian/jekyll/issues/915#issuecomment-408108041 notes proposed types of sponsorship we will not accept. These are:

- Headline Sponsorship. For example, 'The Programming Historian in association with..' or 'The Programming Historian powered by..'.
- Individual or Selective Lesson Sponsorship. For example, your logo on a single lesson page or lessons pages about a s

[2018-07-26 14:07] acrymble commented on #918
This needs a new 'Treasurer' role on the Project Team. Which is fine and easy. But it definitely needs to be done.

[2018-07-26 14:10] drjwbaker commented on #918
@acrymble The next task on my to-do list is: "open a ticket about Treasurer role" 😃

[2018-07-26 14:12] drjwbaker opened #948 "Treasurer & Sponsorship Coordinator"
We need a two new roles to handle the obligations that arise from accepting donations and sponsorship as listed in the draft statement at https://github.com/programminghistorian/jekyll/issues/915#issuecomment-408108041

These are:
- Treasurer. Looks after the money (in and out) from donations and sponsorship, sorts out reimbursements/payment when money is spent.
- Sponsorship Coordinator. Point of

[2018-07-26 14:22] walshbr opened #949 "August Editorial Agenda - 8/30/2018"
Time is 5PM British, 12PM Eastern US, 9AM Pacific US. I'll be facilitating. Date is 8/30/2018.

Working agenda follows. Please add by commenting or editing this comment directly.

- [ ] #721 Current Research Projects or Submissions Pending about the Programming Historian.

Funding Related Issues:
- [ ] https://github.com/programminghistorian/jekyll/issues/918#issuecomment-408109200 Types of Sponso

[2018-07-26 14:56] drjwbaker commented on #949
I'm on leave. @amsichani: if you are able to attend can you take #918 & #948 for me please.

[2018-07-26 15:11] acrymble commented on #948
I'd say same person until we know how much work it is. We'll need a reporting mechanism to make sure it all stays above board.

[2018-07-26 22:44] mariajoafana commented on #942
I've uploaded my paper. I think no one else presented on PH so I'm closing this issue

[2018-07-26 22:44] #942 closed, assigned to mariajoafana

[2018-07-27 05:51] spapastamkou commented on #944
I remind some elements about the context here.
Humanistica, the French-speaking association of DH, hosts a series of workshops in Lille, France, on 17 October. The day is associated to the dhnord conference (15-16/10) but independently organised by the association.
CFP ban be consulted here: https://www.meshs.fr/page/dhnord2018_aac#dhnord2018_ateliers
A very large proposal was presented (cf. supra

[2018-07-27 05:52] spapastamkou commented on #721
Info and exchanges on Fr workshop are now on #944.

[2018-07-27 06:15] spapastamkou commented on #944
Just an idea we can discuss on: since @amsichani and @arojascastro could very probably participate, the workshop could maybe look like smth like that:
- intro to the PH (global and ES editions, short prez of the FR one)
- prez of the way work is done on github for publication/translations of the lessons
- organise with the participants reviews of translations of the lessons we can have from studen

[2018-07-27 08:28] acrymble commented on #944
I suppose the question is what do you want out of it? Do you want to attract reviewers? readers? authors? team members? do you want other people to adopt our github system? If we know the goal, maybe we can suggest more targeted ideas.

[2018-07-27 11:27] amsichani commented on #949
I am on leave too - sorry for this @drjwbaker

[2018-07-27 11:36] amsichani commented on #944
I agree with @acrymble - we need to focus on a specific & well-structured task/goal, given that the workshop is only 3h.

[2018-07-27 12:20] spapastamkou opened #951 "Link issues on the /about page"
The issues are relevant to the [Gold Open Access part of the page](https://programminghistorian.org/en/about#gold-open-access) and were first raised in #940.

I copy/paste exactly from there:
- link to RCUK's website has changed. Redirection works (15 secs). Do we keep the same link or replace with new one?
- link to HEFCE web site: works but the web site is "historical and no longer maintained" b

[2018-07-27 12:31] drjwbaker commented on #949
No worries, you are allowed a break!

[2018-07-28 17:06] acrymble commented on #951
The first question should be: which countries/regions have mandated open access publishing requirements?

[2018-07-30 09:40] amsichani commented on #915
@drjwbaker 1st August, I ll be around, having a 1-4 meeting. Meet up before this? I ll have a look and add comments on the draft beforehand.

[2018-07-30 23:45] mdlincoln commented on #896
In absence of further work on this, I'm closing.

[2018-07-30 23:45] #896 closed, assigned to nobody

[2018-07-30 23:54] mdlincoln commented on #946
This is an important challenge @acrymble.

I agree with @drjwbaker that probably the most tenable solution is a moratorium on changing the core pages like editor guides etc., while maybe saving for last some more mutable files like the `ph-authors.yml`. I can make sure to periodically merge new changes in the english/spanish pages over to the french translations branch, to ensure that they are wor

[2018-07-31 06:14] jamotilla commented on #600
It´s done @arojascastro, you can close the issue.

[2018-07-31 06:47] drjwbaker commented on #946
I can live with a hiatus on #951 #915 #905 #918 *if* we have clear timescales for the FR work to happen (without, that is, creating unrealistic expectations)

[2018-07-31 06:55] mpuren commented on #946
Can we give you clear timescales by the end of the week? I want to be sure we have realistic expectations with @spapastamkou.

[2018-07-31 07:34] mpuren commented on #944
Our goal would consist in starting to create a strong French-speaking community around the project, and by doing so attracting new participants  - especially reviewers because we need to build and maintain an active and wide community of reviewers.

Concerning Github, it was first mentioned in the proposal that some basic Github knowledge was a pre-requisite. But I deleted this sentence because it

[2018-07-31 07:47] arojascastro commented on #600
Gracias! @jamotilla

[2018-07-31 07:47] #600 closed, assigned to arojascastro, jenniferisasi, vgayolrs, mariajoafana, jamotilla

[2018-07-31 07:48] arojascastro commented on #936
Hello everybody, I am on holidays until next Monday. I'll re-read the messages and try to sum up some conclusions before acting -- sharing a newer proposal. Help is welcomed!

[2018-07-31 10:12] amsichani commented on #915
@drjwbaker  this looks great to me- many thanks for drafting this. Minor comment/idea:
- how about try and keep [this](https://github.com/programminghistorian/jekyll/wiki/Things-we-pay-for-(and-need-budget-for)) updated so we can also point here for current/ongoing needs? I think it helps to have them all listed in one place and also keep track on past& future tasks/needs.

Btw, where are we plann

[2018-07-31 10:18] amsichani commented on #940
Just a minor note : as for the FR translation of file names, once finished it could/will live also [here](https://programminghistorian.org/translation-concordance), alongside the translated ES filenames.

[2018-07-31 10:22] drjwbaker commented on #915
I agree that we should keep that wiki page updated. Though as it is more for us than readers, perhaps keeping it updated should be the responsibility of the treasurer https://github.com/programminghistorian/jekyll/issues/948? (see as they will see payments/claims come in/out)

On where the text should go, I agree that is should be a child of the Contribute menu.

[2018-07-31 10:24] drjwbaker commented on #915
If you are happy with the wording @amsichani, I will move to make this a policy issue to be agreed by set deadline (probably after our September call given that we are both away for the August call).

[2018-07-31 15:34] acrymble commented on #949
If I'm not mistaken, with @mdlincoln moving to EST, I think we can condense our timezone spread by 3 timezones. That means that in future we might be able to move the time so that our European colleagues aren't having to do the call outside of business hours? (sorry, forgot about Mexico and Colombia, but I still think we can condense it)

[2018-07-31 15:45] acrymble commented on #946
#905 - Npov policy should be possible on the Wiki only.

The tickets about sponsorship can also be put on the Wiki to begin with, so we don't need to hold those up.

[2018-07-31 15:48] acrymble commented on #946
Are there any French pages we can start publishing soon? I don't think we need them all to go live in one pull request, do we? As long as it's not linked in the menu and there is a holding page on the /lessons page, then I think it's ok to publish, no?

[2018-07-31 15:56] walshbr commented on #949
Excellent point @acrymble. I'll make a note on the agenda to discuss this.

[2018-08-01 12:45] jenniferisasi opened #955 "Update Jennifer's bio"
I am going to update my bio both in English and Spanish.

[2018-08-01 15:03] drjwbaker commented on #955
We also need to think about FR https://github.com/programminghistorian/jekyll/issues/946

[2018-08-01 20:55] spapastamkou commented on #940
Thanks a lot for the useful note @amsichani.
For the new orthography rules, @mpuren, I do not personally see any issues raised but if you think a ticket would be useful in relation with the PH, it is really up to you to decide.

[2018-08-01 20:55] #940 closed, assigned to mpuren, spapastamkou

[2018-08-01 21:43] spapastamkou commented on #955
I can update the bio in FR as well, the file has already been committed in our branch since some time actually. I will check with @mdlincoln how we'd best do

[2018-08-01 22:37] spapastamkou commented on #946
The file related to #955 and the one corresponding to the page mentionned in #951 are translated and committed in the FR branch actually. Updates can be done quickly if needed. What could soon be published in FR are the index and about pages, the 404 page, the parts of the yml files. Translation of the editors guidelines is also in progress but needs some time. If a modest start is not a problem t

[2018-08-02 02:00] jenniferisasi commented on #955
Sorry, I totally overlooked that talk about the FR team updates on #946.

[2018-08-02 06:24] sharonhoward opened #957 "Geocoding Historical Data using QGIS - truncated data file"
The AlumniCounties.csv file attached to this lesson appears to have got truncated somewhere during the publication pipeline. It ends at Merionethshire. I compared it to the version in ph-submissions/assets/ and that file looks complete (it has a further 24 rows of data).

[2018-08-02 07:13] drjwbaker commented on #915
@amsichani & I have discussed, and we move that the 'Support Us' page wording at https://github.com/programminghistorian/jekyll/issues/915#issuecomment-408108041 is a policy issue.

Per https://github.com/programminghistorian/jekyll/wiki/Programming-Historian-Governance we give this a deadline of 1 October (so that it falls after our September meeting)

[2018-08-02 07:15] drjwbaker commented on #948
Okay. And agreed. These are on my todo list :)

[2018-08-02 07:15] drjwbaker commented on #915
Note: this wording may change due to decision on "sponsorship types we do not accept" policy issue (deadline 7 Sept) https://github.com/programminghistorian/jekyll/issues/918#issuecomment-408109200

[2018-08-02 12:41] arojascastro commented on #918
I am trying to follow up this discussion. I do not have much to say but thank you for working on it.

[2018-08-02 12:42] drjwbaker commented on #918
@arojascastro I appreciate your thanks 😄

[2018-08-02 12:44] arojascastro commented on #915
Thank you for writing this! It sounds all very good. I have some doubts or questions:

- small gift fro us. --> small gift from us.
- what is FIXME?
- Are we sure Patreon and the bank account are accepting money from all countries and currencies? Sometimes there are payment problems.

Thanks again.

[2018-08-02 13:11] drjwbaker commented on #915
@arojascastro:

- [x] small gift fro us. --> small gift from us. *Typo. Fixed now*
- [x] what is FIXME? *this indicates that there is something for me to fix. It is just my preferred placeholder for text that I cannot confirm yet*
- [x] Are we sure Patreon and the bank account are accepting money from all countries and currencies? Sometimes there are payment problems. *Good point. I don't know. I'

[2018-08-02 13:12] drjwbaker commented on #916
Comment from @arojascastro at https://github.com/programminghistorian/jekyll/issues/915#issuecomment-409913275

To be investigated.

[2018-08-02 13:25] arojascastro opened #958 "Lenguaje inclusivo en PH es?"
Hola,

A raíz de lo que está haciendo el equipo francés aquí https://github.com/programminghistorian/jekyll/issues/940#issuecomment-408056054 en relación con el lenguaje inclusivo (básicamente, desdoblar el masculino y el fememino, entre otras estrategias), he pensado que podríamos debatir si queremos reflexionar al respecto y/o hacer cambios o decir algo en nuestras guías para autores.

Un ejempl

[2018-08-02 14:14] vgayolrs commented on #958
Hola equipo!
Me parece  que el uso del lenguaje inclusivo en PH-es iría de acuerdo con una serie de políticas que tiene el proyecto en general y que se han discutido en diversos momentos (equidad de género, inclusión de la diversidad). De adoptarlo, concuerdo con @arojascastro en desdoblar los géneros cuando sea posible y no implique demasiadas repeticiones que pueden llegar a ser exageradas o can

[2018-08-02 14:33] walshbr commented on #915
"Your logo in the header and/or footer of each page of The Programming Historian." - do we really want to offer up the header as well? My sense was that the footer was more common for something like this. But I can also imagine this getting to be pretty onerous if, say, we had more than a handful of sponsors of this kind. I might offer up the footer for now, leave header off, and consider creating

[2018-08-02 14:34] arojascastro commented on #958
Mucho mejor lo que propones @vgayolrs - "las y los editores" etc. Supongo que hay varias estrategias. ¿A alguien le apetecería leer/investigar sobre el tema y proponer una lista de alternativas/estrategias?

[2018-08-02 14:37] arojascastro commented on #958
También se podrían adoptar distintas estrategias en función del lugar: paratextos editoriales (en donde tenemos control) Vs tutoriales (en donde tenemos menos control) etc.

[2018-08-02 14:49] acrymble opened #959 "Preferred endnote style"
We are currently in our Bogota writing workshop and someone has asked about our citation format. Newer lessons are increasingly using academic citations. Do we have a preferred style?

@mariajoafana @jamotilla and I are currently there advising writers.

[2018-08-02 14:52] drjwbaker commented on #915
A few notes re header:

- I envisage footer being more common and header costing a fair few £ more.
- How often do you see our page footer? 😄
- I didn't envisage having more than one active logo in header at one time (that is, a sponsorships are fixed period and for defined real estate)
- We have the header space
- You write: "consider creating a page that collects all of these sorts of sponsors i

[2018-08-02 14:54] drjwbaker commented on #959
To be clear, is this about how to cite our lessons or how to write citations in our lessons?

[2018-08-02 14:57] walshbr commented on #915
Fair enough - one active logo at a time addresses some of that. To the last point, I think I was suggesting collecting in one place instead of proliferating markers of sponsorship on multiple pages on the site. But you're the one working and thinking on this, so I'm happy to defer to you.

I think I was also not 100% clear on whether this language is going on the main site or the wiki, but now as

[2018-08-02 15:03] jamotilla commented on #958
De acuerdo con lo que plantean @arojascastro y @vgayolrs, es necesario tener claridad en la materia.

[2018-08-02 15:05] jamotilla commented on #959
@drjwbaker its about how to write citations in our lessons

[2018-08-02 15:11] drjwbaker commented on #959
It is a good point. We don't have a style guide for that.

[2018-08-02 15:13] drjwbaker commented on #915
I'm thinking there might be some in one place, some proliferated. But each case will - I suspect - be unique, and all will require approval from the team.

Main site but per https://github.com/programminghistorian/jekyll/issues/946 it may initially go on the wiki.

[2018-08-02 17:16] jamotilla opened #960 "publishing "Transformación de datos con XML y XSL para su reutilización""
https://github.com/programminghistorian/ph-submissions/issues/162

[2018-08-02 17:31] mariajoafana opened #961 "Creating network diagrams - Move Sample Datasets"
The sample data of the tutorial on Data extraction and network visualization is in the author's Google drive, and in the Spanish version is on my Google drive. For sustainability we should move this elsewhere. How do we move them to our repository?

This is the tutorial:
https://programminghistorian.org/en/lessons/creating-network-diagrams-from-historical-sources

These are the links for the sampl

[2018-08-02 18:08] jenniferisasi commented on #961
Someone correct me if I'm wrong, but these need to be downloaded as CSV files and uploaded on the [jekyll/assets](https://github.com/programminghistorian/jekyll/tree/gh-pages/assets) folder, updating the links both lessons.

[2018-08-02 18:38] mdlincoln commented on #961
@jenniferisasi is correct! `/assets/creating-network-diagrams-from-historical-sources/FILE.csv` etc.

[2018-08-02 20:21] acrymble commented on #957
Thanks @sharonhoward I will check it out when I can.

[2018-08-02 21:49] acrymble opened #963 "internal section links - instructions to author guidelines"
Another suggestion or query from Bogotá.

One of our workshop participants said she would like to be able to internally link to a section within another tutorial, since it provides a useful overview for her own tutorial and she wants to avoid duplicating instructions.

If it is not already possible, is there scope to make each markdown section linkable with a unique URL? Maybe heading levels 1-2 w

[2018-08-02 21:50] acrymble commented on #963
An example of what I mean from Wikipedia: https://en.wikipedia.org/wiki/Digital_humanities#Textual_mining,_analysis,_and_visualization

The bit after the # is the section title.

[2018-08-02 21:53] drjwbaker commented on #963
We do do this in some lessons. E.g. https://programminghistorian.org/en/lessons/visualizing-with-bokeh#categorical-data-and-bar-charts-munitions-dropped-by-country

[2018-08-02 21:57] acrymble commented on #963
oh does it just work out of the box?

[2018-08-03 02:13] jenniferisasi commented on #958
Concuerdo en que debemos tomar una decisión. Una estrategia que evita la pesadez a la que alude @vgayolrs es el uso del colectivo, la actividad (?), el grupo, o lo abstracto: "El equipo editorial se compromete a promocionar la diversidad en la comunidad editorial, de autoría y de lectura" (queda algo forzado en este caso pero para hacernos una idea). Otra opción es el plural "nos comprometemos"

@

[2018-08-03 07:04] drjwbaker commented on #963
Yeah. See https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#lists Basically if you do something like..

`______`
`# My first section`

`Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure d

[2018-08-03 08:01] arojascastro commented on #959
Well, we don't have pages, so we need to use endnotes. I think so far we have encouraged the use of highlighted blocks to add extra information. This is cool because translators make extensive use of footnotes. If both authors and translators use endnotes, then we have to distinguish them with "Nota del traductor" or similar. In any case, it would be good to be clearer in our author guidelines.

[2018-08-03 16:44] jamotilla commented on #960
This is now published

[2018-08-03 16:44] #960 closed, assigned to nobody

[2018-08-03 19:11] acrymble commented on #963
Even better, I've just been told that if you hover over the title on a published lesson you get a little "link" icon that you can click to save that section's url to your clipboard.

<img width="836" alt="screen shot 2018-08-03 at 14 10 00" src="https://user-images.githubusercontent.com/646647/43661225-177118ac-9727-11e8-8946-b20c0db233bf.png">

It's been suggested by one of our Bogota workshop pa

[2018-08-04 10:07] arojascastro opened #965 "Correct typo in Spanish translation of tutorial about AntConc"
I was alerted on Twitter about a typo here: https://programminghistorian.org/es/lecciones/analisis-de-corpus-con-antconc#operador--o

I think

*Tarea: busca _she*

should be changed to

*Tarea: busca she|he*

Because the original looks like

*Task: Search on she|he.*

[2018-08-04 10:10] arojascastro opened #966 "Weird visualization in English tutorial on Antconc"
I'm revising a typo in the Spanish translation and I found out something weird in the original: https://programminghistorian.org/en/lessons/corpus-analysis-with-antconc#the--operator-or

This paragraph is visualized weirdly, right? It seems it's kinf of splitted into two columns:

![captura de pantalla 2018-08-04 a las 12 07 17](https://user-images.githubusercontent.com/7340111/43675121-42c9c4aa-9

[2018-08-04 10:19] drjwbaker commented on #966
Good spot. I think the pipe between 'the she' and 'he search' has caused the text to format into two columns.

[2018-08-06 07:12] drjwbaker commented on #963
Correct. Re adding this to the author guidelines, what would be the purpose: to make it clear to authors to why we use this heading convention, to alert authors to the fact that they can link to sections of previously published PH lessons, or something else?

[2018-08-06 12:44] arojascastro opened #967 "Problem with preview in Spanish original"
We have received our first original proposal in Spanish. The file is here: https://github.com/programminghistorian/ph-submissions/tree/gh-pages/es/lecciones

We divided the contents in two directories:

- lecciones (original)
- traducciones (translations)

I believe the preview of the lesson only works if the file is in `traducciones`,  right? @mdlincoln

At the moment we have these:

- (not worki

[2018-08-06 13:30] vgayolrs commented on #958
Hola de nuevo!
Creo que con lo vertido hasta aquí podríamos redactar unos breves lineamientos para la adopción del lenguaje inclusivo tanto para ir editando las páginas de PH-es que lo requieran así como para proponerle a las y los traductores y autores su utilización. Si les parece, puedo trabajar en ello en estos días.

[2018-08-06 14:10] vgayolrs commented on #967
Me asigno también para darle seguimiento.

[2018-08-06 14:13] vgayolrs commented on #934
OK. I'll wait until the beginning of September to make the changes in the pages.

[2018-08-06 15:57] arojascastro opened #968 "Labels on Submissions repository"
Hi,

I would like to discuss about the labels used in the submission repository:

![captura de pantalla 2018-08-06 a las 17 51 22](https://user-images.githubusercontent.com/7340111/43727224-a954731e-99a1-11e8-9284-0849cc40b809.png)

Should we have labels for submissions and translations in each language (e.g. `spanish translation`, `english submission`, `spanish submission`) or use a combination o

[2018-08-06 15:59] walshbr commented on #968
That's a good point. I think your proposal to have a language label separate from a submission proposal makes a lot of sense.

[2018-08-06 16:42] acrymble opened #969 "blog post about Bogota workshop"
I will write this. @mariajoafana to translate into Spanish.

[2018-08-06 16:42] acrymble opened #970 "Add Bogota workshop to /research.md"
I will do this. Also need to add to /fr and /es versions.

[2018-08-06 16:44] vgayolrs commented on #968
Agree w/ @walshbr . The second option is more practical. If not, we will be full of specific labels.

[2018-08-07 07:46] drjwbaker commented on #899
Where have the non-svg versions of the logos gone? I can only find https://github.com/programminghistorian/jekyll/tree/gh-pages/images/logos (also, note that link to logos at https://github.com/programminghistorian/jekyll/wiki/Brand-Guidelines is broken, note sure where it is intended to go: the svg folder?)

[2018-08-07 07:56] drjwbaker commented on #899
Second thoughts, let's just keep svg. And I've fixed the broken wiki link.

[2018-08-07 07:56] #899 closed, assigned to acrymble, mdlincoln

[2018-08-07 13:32] jamotilla commented on #968
It´s a good idea, i think the second option (submission + language label) is better

[2018-08-07 16:20] mdlincoln commented on #967
Hmm, I can't say off the top of my head, but I suspect that the `ph-submissions` site was set up assuming all Spanish lessons are translations. I did a lot of work on _this_ repository to get it to be language agnostic but didn't migrate all of it over to `ph-submissions` yet. We definitely should make the submissions language agnostic - I'll open a ticket over there and look at how hard it would

[2018-08-07 16:21] mdlincoln commented on #968
I also vote for second option.

[2018-08-07 17:00] acrymble commented on #968
Just a quick note that I think I changed some of these in the past and it screwed things up. So @mdlincoln would have to check that isn't going to be the case again. I can't remember what the problem was, but it is in the back of my mind that it did cause an issue.

[2018-08-07 20:18] spapastamkou commented on #970
I note for the /fr, no problem.

[2018-08-07 23:07] mariajoafana commented on #958
De acuerdo con los comentarios, quedamos pendientes de los lineamientos para continuar la discusión a partir de estos

[2018-08-08 09:20] arojascastro commented on #967
Thank you @mdlincoln - take it easy, you must be moving away if I am not wrong and that it takes a lot of time and effort

[2018-08-08 09:21] arojascastro commented on #968
Just to be clear you prefer:

- spanish + submission
- spanish + translation

rather than

- spanish submission
- spanish translation

Right?

[2018-08-08 15:22] arojascastro opened #972 "Update metadata block examples in Spanish guidelines for authors"
I think both examples are outdated: https://programminghistorian.org/es/guia-para-autores#a%C3%B1ade-un-bloque-de-metadatos

[2018-08-08 22:25] spapastamkou commented on #836
FYI @mpuren recherche, politique-retrait-lecons, equipe-projet just added

[2018-08-11 17:02] acrymble commented on #835
I think the best solution for this is to recruit someone specifically to take on this task. That is, unless someone on the team wants to devote their energy to it. I don't think we need to worry about French just yet.

[2018-08-11 17:06] acrymble commented on #946
Thanks @spapastamkou this sounds great. It looks like you are nearly finished translating these core pages! You can definitely do the updates on the French branch. As long as you make a note of it on any relevant tickets (eg, #955 - Update Jennifer's bio) so that we know it's been done.

[2018-08-12 22:27] jenniferisasi opened #975 "Tutorial crear exposicion con Omeka"
Publishing the translation of "Creating an Omeka exhibit".
Doing it for the first time.

[2018-08-13 08:26] drjwbaker commented on #835
And/or reshuffle existing translation resource so that people are allocated to specific types of translation. Agreed that FR > EN is not an issue right now.

[2018-08-13 08:39] acrymble commented on #835
Fine, if someone is interested. Does anyone on the Spanish team want to be the Spanish-to-English person? @mariajoafana @arojascastro @jenniferisasi @vgayolrs @jamotilla ?

[2018-08-13 12:00] acrymble commented on #969
this has been posted.

[2018-08-13 12:00] #969 closed, assigned to acrymble

[2018-08-13 12:01] acrymble commented on #955
I think this has been updated, no? Can we close?

[2018-08-13 12:34] acrymble opened #977 "Dinner in London?"
@amsichani and I wondered if there might be interest for some of us to get together and have dinner in London, maybe in September/October? I know not everyone would be able to make it, but we had so much fun in Colombia getting to know each other, that I thought it might be a good way to team build, and maybe even spend a day working on some issues that would be easier to tackle by a team in the s

[2018-08-13 12:44] acrymble commented on #959
What are our options for endnotes? I've grown up with Chicago Manual of Style. But I think they're locking down their guide increasingly behind a paywall. Are there any universal open standards that work well for history/humanities?

[2018-08-13 13:14] amsichani commented on #977
count me in. I can help with the logistics, aka offering my living room for the occasion ;-)