[2021-09-10 12:29] mariajoafana commented on #2221
Hi @Anisa-ProgHist Yes, please include the "Globally Unequal Promise..." publication

[2021-09-10 12:45] rivaquiroga commented on #2239
@JoshuaGOB, ¿es posible reenviar la invitación a GitHub a @nllano? Al parecer todavía no tiene acceso.

[2021-09-10 14:13] joanacvp commented on #2221
Hello @Anisa-ProgHist !

In the Portuguese Team, during September, we are having 4 students with fellowships working with us in the translation of lessons regarding GIS, digital archives and platforms, data managment and python. Those fellowships were awarded to the Institute of Contemporary History from NOVA FCSH and are funded by the Portuguese Foundation for Science and Technolgy, through the s

[2021-09-10 14:20] jenniferisasi commented on #2221
@joanacvp that is fantastic! Maybe when you have a minute you could write something similar to what @acrymble and his students wrote in June? https://programminghistorian.org/posts/ucl-placement-2021 That way we have a brief announcement of the support in the newsletter and then we also have a more extended record of their collaboration.

[2021-09-10 15:13] anisa-hawes commented on #2221
Hello there @tiagosousagarcia! Could you tell me a little bit about the projects you are contributing to at *Programming Historian*? I'd like to write a few lines about what you are working on in our September Newsletter.

[2021-09-10 15:15] joanacvp opened #2269 "Updating information in the PT "Nossos apoiadores" page"
Dear @Anisa-ProgHist. I am not quite sure I am doing this correctly or in the right place.

The portuguese team just got a 1 month funding from the Portuguese Foundation for Science and Technology for 4 students to work with us in the translation of lessons. Taking that into account, we would like to add that information to the page "Nossos apoiadores" in "Apoie-nos", if possible after the referen

[2021-09-10 15:18] joanacvp commented on #2221
@jenniferisasi that should be great! We should definitely do it

[2021-09-10 15:32] JoshuaGOB commented on #2239
Listo @rivaquiroga!

On Fri, Sep 10, 2021 at 8:45 AM Riva Quiroga ***@***.***>
wrote:

[2021-09-10 15:35] JoshuaGOB commented on #2237
Saludos @nivaca: cuando tengas oportunidad, por favor envíame tu correo de gmail para añadirte al Google Group del equipo. ¡Gracias!

[2021-09-10 15:43] drjwbaker commented on #2221
@tiagosousagarcia works Monday/Tuesday so I'll chip in with a little info now that he can add to later:

- he is working in support of the Jisc/TNA/PH partnership, in particular articles selected as part of the [cfp](https://programminghistorian.org/posts/cfp-jisc-ph).
- at the moment he is getting to grips with our publication workflows by doing some work with the PT team.
- when not working for

[2021-09-10 15:53] anisa-hawes commented on #2221
Super, thank you @drjwbaker! I'll wait to hear from @tiagosousagarcia if he'd like me to add anything else!

[2021-09-10 16:34] anisa-hawes commented on #2201
I have tested this, and I can confirm that when I ran the final GREL function, `value.split('|').uniques().join('|')` I had transformed **33008** cells in column Categories, as indicated in the lesson.

[2021-09-10 16:34] #2201 closed, assigned to anisa-hawes

[2021-09-10 17:03] anisa-hawes commented on #2148
Hello @josircg! Do you think you might have capacity to help us to move forward with this & Issue #1981?
I'm working on Thursday and Friday next week – let me know if you have time to connect!
Thank you ✨

[2021-09-12 08:20] acrymble commented on #2042
@anisa-hawes this ticket is related to the setup of French copyediting, which still needs to finalise the copyediting guidelines. This is a ProgHist goal for this year, and it needs some project management support. Can you please liaise with the people involved about completing this task?

[2021-09-13 02:15] #2215 closed, assigned to ZoeLeBlanc

[2021-09-13 07:16] tiagosousagarcia commented on #2221
Hi @anisa-hawes! @drjwbaker already gave you the gist of it, I'll just add a few more lines of background (if at all relevant):

- I've been using and following *PH* for years, and I'm incredibly excited to be part of the team;
- Supporting the Jisc/TNA/PH partnership is a particularly well-suited task for me, as I have long been interested in how to use big data methods with humanistic datasets;

[2021-09-13 11:29] amsichani commented on #2221
hi @anisa-hawes , a bit of outreach news from my part to be included @ the newsletter if you feel that it fits: my opening keynote @ [DH Benelux](https://2021.dhbenelux.org/schedule/) on 2nd June was entitled "Sustaining communities in Digital Humanities: diversity, collaboration, and capacity building in digital scholarship and pedagogy" where I showcased our PH work.

[2021-09-13 11:37] acrymble commented on #2221
@amsichani you should put this on https://programminghistorian.org/en/research

[2021-09-13 14:09] tiagosousagarcia opened #2274 "PT -- Review of author guidelines"
Olá a todos,

A pedido de @drjwbaker e @DanielAlvesLABDH, estou a rever as [Directrizes para Autores](https://programminghistorian.org/pt/directrizes-autor#b-directrizes-espec%C3%ADficas-de-estilo) do PH em Português, com vista a consolidá-las e corrigi-las quando necessário. Entretanto, deixo esta *issue* aberta para identificar as mudanças mais relevantes, ou discutir algumas questões em particu

[2021-09-13 14:10] DanielAlvesLABDH commented on #2274
Muito obrigado pela ajuda Tiago. Qualquer dúvida, estou disponível! Abraço

[2021-09-13 15:31] nabsiddiqui commented on #2221
A bunch of us presented at the Global Digital Humanities Symposium: https://msuglobaldh.org/abstracts/#programming-historian.

I gave a talk entitled "Programming Historian and the Challenges of Globally Distributed Learning" at  Seshadripuram Evening Degree College in Bengaluru, India. @JMParr and I will be giving a talk called "The Programming Historian as Pedagogical Tool" at the Center for Urb

[2021-09-13 17:16] tiagosousagarcia commented on #2274
Depois da primeira ronda de revisões, algumas questões que merecem discussão (mais ou menos na ordem em que as encontrei):
- [ ] code -> código ou código-fonte?
    Talvez seja só eu, mas 'código' por si só soa-me mal (quando diz respeito a código computacional, claro)
- [ ] referências culturais -> localizadas aos contextos lusófonos? (i.e., Beatles, Kleenex)
    Valerá a pena substituir os exemp

[2021-09-13 17:37] jenniferisasi commented on #2221
We included the Global DH Symposium presentation on the newsletter in April.

@nabsiddiqui can you tell us the dates for your talk in Bengaluru and the one with Jessica? thanks

[2021-09-13 17:44] JMParr commented on #2221
@Jennifer Isasi ***@***.***> Our talk is 29 September. Have we
also covered the NewsEye conference that a big group of us presented at
this past March. I also gave a presentation to the University of Cambridge
Data School on 30 March.

On Mon, Sep 13, 2021 at 1:37 PM Jennifer Isasi ***@***.***>
wrote:

[2021-09-13 19:54] spapastamkou commented on #2221
@anisa-hawes Some info about the NewsEye conference where we presented with Jess and Riva:
[programme ](https://www.newseye.eu/international-conference/conference-programme/day-2-17-march-2021/)(see session 4)
[slides](https://www.newseye.eu/fileadmin/user_upload/Challenges_for__Digital_Literacy_in_the_Humanities.pdf) and abstract in the[ book of abstracts](https://zenodo.org/record/5167375) of th

[2021-09-13 21:29] jenniferisasi commented on #2221
@JMParr and @spapastamkou yes, the NewsEye conference information was also included in the first newsletter of the year.

[2021-09-14 15:07] #2200 closed, assigned to josircg, DanielAlvesLABDH

[2021-09-14 18:29] nabsiddiqui commented on #2221
@jenniferisasi The one I gave in India was on June 29th, 2021

[2021-09-15 09:37] drjwbaker commented on #1671
Note that application came back positive, but with some queries. These were resolved by me, with support of Ltd Directors and West & Berry.

[2021-09-15 09:42] drjwbaker commented on #2257
Sorry @acrymble. I really can't right now.

[2021-09-15 10:09] drjwbaker opened #2276 "Implications of becoming a Charity in the UK"
In prepartion for becoming a Charity (which is going well, see https://github.com/programminghistorian/jekyll/issues/1671#issuecomment-919862049), @acrymble @rivaquiroga and I read through document produced by the Charity Commission (UK) to better understand the roles of the ProgHist Ltd Directors as this role morphs into being Charity Trustees (side note, the Ltd will still exist simulateously, s

[2021-09-15 14:17] spapastamkou opened #2277 "Marie-Christine Boucher sabbatical"
@mariechristineb will be on sabbatical from October 1st 2021 to March 31 2022 to finish her PhD - sera en sabbatique du 1er octobre prochain au 31 mars 2022 pour finir sa thèse.
Marie-Christine, tu peux ajouter tout ce que tu souhaites à ce ticket.

[2021-09-15 14:44] rivaquiroga commented on #2276
@drjwbaker, sure. We will discuss it at that meeting.

[2021-09-16 09:46] acrymble commented on #2276
@drjwbaker On 7.7, it was just the "Longer Term Objectives" google doc conversation on #2223, which may affect the structure of the "Project Team" moving forward

[2021-09-16 09:51] #2050 closed, assigned to anisa-hawes

[2021-09-16 09:51] #1955 closed, assigned to anisa-hawes

[2021-09-16 09:51] #2028 closed, assigned to anisa-hawes

[2021-09-16 12:11] drjwbaker commented on #2276
Thats the one. Thanks.

[2021-09-16 12:28] #2269 closed, assigned to joanacvp, anisa-hawes

[2021-09-16 13:45] #2147 closed, assigned to anisa-hawes

[2021-09-16 13:53] anisa-hawes commented on #1662
Hello @drjwbaker and @rivaquiroga. Based on the suggestion in the initial comment, I'd like to propose that we add an alert information box at the Running Code Examples step.

I've drafted the following, in a Branch called [Issue-1662](https://github.com/programminghistorian/jekyll/commit/7440e78d21a59ca0ce04734708993df6f1e0f056). Let me know if you feel this sufficiently clarifies the options rea

[2021-09-16 14:08] drjwbaker commented on #1662
Looks good to me @anisa-hawes. And I agree, it should like to assets in the main repo, not the subs one. I should have caught that when editing this!

[2021-09-16 14:16] anisa-hawes commented on #2221
Super! Thank you, all!

It feels that through the process of gathering content for this Newsletter, we have learned a lot about each other's recent work and activities.

I have added the question of how we might be able to adapt and improve our external Communications strategies to the [agenda for our next Project Team Meeting](https://github.com/programminghistorian/jekyll/issues/2223), but I am

[2021-09-16 14:18] anisa-hawes commented on #1662
Super! Thank you, @drjwbaker! I'll update all links to assets in the lesson via the same branch.

[2021-09-16 16:06] anisa-hawes opened #2280 "Adding Anna-Maria Sichani's keynote at DH Benelux to our research pages"
I am adding Anna-Maria Sichani's keynote at DH Benelux to the following pages:

en/research
es/investigacion
fr/recherche
pt/pesquisa

[2021-09-16 17:33] #1662 closed, assigned to svmelton, anisa-hawes

[2021-09-16 17:37] anisa-hawes commented on #2280
Hello @amsichani. Just to let you know that I've added your recent keynote to the research pages :slightly_smiling_face:

[2021-09-17 09:53] #2280 closed, assigned to anisa-hawes

[2021-09-17 10:41] anisa-hawes opened #2282 "Updating Research Pages"
I am updating the following pages:

en/research
es/investigacion
fr/recherche
pt/pesquisa

1. add a link to abstracts of the _Global Digital Humanities Symposium_
2. add Nabeel Siddiqui's talk at Seshadripuram Evening Degree College (29 June 2021)
3. add Jessica Parr's talk at the University of Cambridge (30 March 2021)

[2021-09-17 11:14] anisa-hawes commented on #2282
Hello @nabsiddiqui and @JMParr. Just to let you both know that I've added your recent talks to our research pages. I'll set myself a reminder to update again after 29th September to add your next talk in Ukraine.

[2021-09-17 11:41] nabsiddiqui commented on #2282
Thank you @anisa-hawes. Let me know if there is anything I can do on my end to help.

[2021-09-17 11:46] #2282 closed, assigned to anisa-hawes

[2021-09-17 11:49] anisa-hawes commented on #2282
All done, @nabsiddiqui!

[2021-09-20 13:08] mariechristineb commented on #2277
Merci Sofia! Je reprends ici la checklist du wiki:

- [x] Please make sure that you communicate with the rest of the team how long your sabbatical will last. This should include a specific date at which you intend to return.
- [x] Indicate whether your sabbatical will mean you will be completely away from the project, or if you plan to participate in board meetings, or otherwise continue certain t

[2021-09-20 15:05] tiagosousagarcia commented on #2274
Pull request #2286 adiciona as correções sugeridas no ultimo ponto acima

[2021-09-20 20:54] DanielAlvesLABDH commented on #2274
Acho que chegámos a falar sobre isso e a equipe acabou por decidir manter código, mas talvez o @josircg tenha outra ideia

Concordo com a ideia e a opção por Beatles. Já Kleenex, em PT é apenas uma marca de lenços de papel. Nesse caso tem valores diferentes em PT e em BR

Não sei se a resposta que dei acima ajuda aqui?

Concordo

Poderíamos dar alguns exemplos, mas isso vai variar muito e teríamos

[2021-09-20 20:56] DanielAlvesLABDH commented on #2274
Reparei agora que não tenho o teu email @tiagosousagarcia

[2021-09-21 08:18] acrymble commented on #2256
Plan tentatively is to host this late morning on 18 November.

[2021-09-21 09:22] amsichani commented on #2256
@acrymble @anisa-hawes more than happy to support/attend if needed!

[2021-09-21 10:42] acrymble commented on #2213
This hasn't received any real suggestions for practical limits. I want to be able to approve and close this at the team meeting #2223.

So I will suggest:

- the budget is to be spent at the discretion of MEs, in line with the Spending Request policy: https://github.com/programminghistorian/jekyll/wiki/Spending-Requests-and-Reimbursement.
- that the whole publication team should be consulted by th

[2021-09-21 10:45] drjwbaker commented on #2213
Any reason? These may be reasonable expenses for outreach work.

[2021-09-21 13:09] drjwbaker commented on #2276
Now we are a charity (!!!) I've added to this list the following:

If there are other parts of the website I need to propose changes to, do please say.

[2021-09-21 13:21] #2173 closed, assigned to nobody

[2021-09-21 13:38] tiagosousagarcia commented on #2274
É o mesmo username que no GitHub [at]gmail.com :)

[2021-09-21 17:46] ZoeLeBlanc opened #2289 "PH-Submissions Build Review"
From our @programminghistorian/english-team team meeting discussions, realizing that we need to potentially review our build process for ph-submissions and whether adding a more robust build pipeline similar to Jekyll's Github Actions html checker would help limit errors when lessons are initially submitted.

Would be good to discuss further with @programminghistorian/technical-team, as well as @a

[2021-09-21 18:03] ZoeLeBlanc opened #2290 "Bug in Intro to BeautifulSoup Lesson"
If you are reporting a problem with a lesson, please try to provide us with the following information:

- The full title of the lesson
Intro to Beautiful Soup https://programminghistorian.org/en/lessons/intro-to-beautiful-soup

- The system you are using (Mac, Linux, Windows)
Mac, running Python locally and in Google colab notebooks

- Version numbers of the relevant software you are using
- The e

[2021-09-21 19:17] jerielizabeth commented on #2290
I think we could find an archived version of the old site so that the tutorial still makes some sense, but I think it is time to retire the lesson as is and produce a new one that uses Python 3.

[2021-09-21 19:18] jerielizabeth commented on #2290
Hey! The bioguide now has a download option :) Maybe they got tired of everyone practicing web scraping.

[2021-09-21 19:21] spapastamkou commented on #2290
Hi @ZoeLeBlanc (and @jerielizabeth). A French translation of this lesson was submitted earlier this year and is currently [under review](https://github.com/programminghistorian/ph-submissions/issues/400). I drop this here so that we are able to track progress of this ticket and act accordingly cc @InesSalome

[2021-09-21 19:24] spapastamkou commented on #2277
Merci @mariechristineb C'est moi qui assurerai la révision de la sections en question dans les consignes aux auteurs, comme c'était prévu.

[2021-09-21 20:10] mariechristineb commented on #2277
Parfait @spapastamkou :)

[2021-09-22 09:57] drjwbaker commented on #2266
@anisa-hawes per https://github.com/programminghistorian/jekyll/issues/2276 this is now a trustees meeting, so I've changed the header and need to change some of the blurb above that refer to our articles of association.

I've also created a template for board of trustees meetings here, to be used from now on https://github.com/programminghistorian/project-and-business-archive/tree/master/charity/

[2021-09-22 10:13] drjwbaker commented on #2276
Realised the IPP page needs attention.

[2021-09-23 10:19] anisa-hawes commented on #2266
Thank you, @drjwbaker! I've saved the template and can work from this going forwards. Maria José and I decided to minute  the Project Team meetings in Markdown, rather than in Word. Maybe we could chat about the best approach for the BoT meetings, but I'm happy to do either.

[2021-09-23 10:33] anisa-hawes commented on #2276
Thank you, @drjwbaker!

- In terms of a deadline for adding new items to our Trustee meetings agenda, do you think 14 days ahead would be sufficient?

- I'm happy to make a note that each September, we re-share Section 5 of the Essential Trustee Guidance document and add an item to that month's BoT agenda for a discussion about any adjustments that we may need to make to our working practices.

[2021-09-23 12:02] drjwbaker commented on #2276
Yes. And many thanks.

[2021-09-23 14:02] anisa-hawes commented on #2111
I think the example code block of JSON related to Rembrandt's _Nightwatch in the Rijksmuseum_ is solely provided to illustrate how `{}`, `id` keys, and `[]` operate.

It is in the following section, titled [Lesson Setup](https://programminghistorian.org/en/lessons/json-and-jq#lesson-setup) that readers follow the lesson using the [sample JSON provided here](https://programminghistorian.org/assets/

[2021-09-23 14:54] anisa-hawes commented on #2277
Best wishes with the completion of your PhD, @mariechristineb!

As all the tasks on the checklist above have been completed, and @spapastamkou and I are working together to revise the Author Guidelines/Consignes aux Auteur(e)s in #2042, I think this Issue ready to be closed.

[2021-09-23 14:54] #2277 closed, assigned to mariechristineb, spapastamkou

[2021-09-23 14:58] anisa-hawes commented on #2255
Thank you, @svmelton. Please let me know if there's any way you'd like me to support these meetings, either by sitting in and co-ordinating minutes or by sharing a general summary of your collected notes with the broader team.

[2021-09-23 15:01] svmelton commented on #2111
Thanks @anisa-hawes! Yes, please close the issue.

[2021-09-23 15:09] tiagosousagarcia opened #2294 "Potential FAQs derived from PH/JISC/TNA author event"
Hello everyone,

Following our very successful author event, I came up with a list of possible FAQs to add to the [CfP/Blog post](https://programminghistorian.org/posts/cfp-jisc-ph). These are (in no particular order right now, though I will organise them thematically):

- Can I still publish my lesson in *The Programming Historian* even if it hasn't been selected for this call?
- How will I know

[2021-09-23 15:13] #2111 closed, assigned to anisa-hawes

[2021-09-23 15:28] anisa-hawes commented on #2294
Hello @tiagosousagarcia. I think it is @peterwebster.

[2021-09-23 15:33] tiagosousagarcia commented on #2294
Thanks @anisa-hawes -- I don't think @peterwebster is assignable for some reason (though I think he will be notified now), and in the process ended up getting rid of James and Anna-Maria by mistake! Not very graceful today, am I?

[2021-09-23 15:37] anisa-hawes commented on #2294
Ah! I see! I'm not sure why that isn't possible.... but I think @drjwbaker will be able to help 🤞🏼

[2021-09-23 15:39] anisa-hawes commented on #2148
Hello @programminghistorian/technical-team 👋🏼  Just following up: Have we got hold of the information we need to transfer the DNS to our own server?

I'm cross-referencing related Issue #1981 for context.

[2021-09-23 15:40] drjwbaker commented on #2294
Thanks @tiagosousagarcia. I think that is an excellent summary. Maybe add a general one about 'are you able to take personal circumstanes into account? (e.g. parental leave)', the answer to which - I think - if we will try to and do so on a case by case basis.

[2021-09-23 15:45] tiagosousagarcia commented on #2294
Thanks @drjwbaker -- added to the list above

[2021-09-23 17:17] anisa-hawes commented on #2087
Hello @svmelton.

I've been having a look at this lesson, and reading its [Review Issue](https://github.com/programminghistorian/ph-submissions/issues/248). If I understand the comment above correctly, one of the options available at that time was to export  a data file representing 'edges' – which in this context was two columns of Twitter user IDs, representing pairs of users: one who posts a tw

[2021-09-23 17:24] lwrubel commented on #2087
I wanted to add that we're about to release an update to TweetSets that will bring back mentions nodes/edge files for full datasets. I can update you when datasets will begin to have that content again, and which datasets will have those files generated and available first. It will be accessible in a slightly different way and not (yet) for custom datasets where there have been filters applied to

[2021-09-23 17:28] anisa-hawes commented on #1885
Hello @rivaquiroga and @jairomelo. Do you have any updates on this fix? (Are you also working on #2187? That is another Lesson Maintenance Issue that focusses on Python 3)

Let me know if there's anything I can do to support the next steps.

[2021-09-23 17:33] anisa-hawes commented on #2087
Oh! Amazing news, @lwrubel! Thank you for your incredibly swift and generous response! I would certainly be keen to learn more. I know Justin Littman from when he was working on Social Feed Manager at GWU, and have also collaborated with Ed Summers (one of the reviewers of this lesson) on past projects, so this subject is very interesting to me.

[2021-09-23 17:34] svmelton commented on #2087
Perfect, thanks @lwrubel!

[2021-09-23 17:51] rivaquiroga commented on #1885
@anisa-hawes, this lesson was updated. It looks like we forgot to close the ticket. Regarding #2187 we will post the fix this week.

[2021-09-23 17:56] anisa-hawes commented on #1885
Thank you, @rivaquiroga! That's excellent news. I'll close this now.

[2021-09-23 17:56] #1885 closed, assigned to nobody

[2021-09-24 11:12] acrymble opened #2296 "New Activities to add to website"
Collecting here for future pull request. Please add others if we've not kept up to date.

Brandon Walsh has written a blog post. When Matt Lincoln did something similar we added it to the /research pages under Media Contribution. https://walshbr.com/blog/lessons-from-the-programming-historian/

[2021-09-24 12:44] anisa-hawes commented on #2290
Hello @jerielizabeth and @ZoeLeBlanc. I found [an archived version of this webpage via the Wayback Machine](https://web.archive.org/web/20121225235545/http://bioguide.congress.gov/biosearch/biosearch.asp) that is contemporaneous to the lesson's publication, but (as I suspected) it isn't possible to perform a search enquiry here – so a researcher wouldn't be able to retrieve the data, download and

[2021-09-24 12:55] drjwbaker opened #2297 "FR/PT translation needed: changes related to becoming a charity in England and Wales"
Further to https://github.com/programminghistorian/jekyll/issues/2276 and https://github.com/programminghistorian/jekyll/pull/2292 I merged the pull request with EN and ES text only in three places because the PR contained a broken URL that was stopping builds.

The pages where translation is needed are:

So you'll see that the changes are small and tend to repeat themselves.

@programminghistoria

[2021-09-24 13:01] jenniferisasi commented on #2221
Hi @anisa-hawes looks like we have a lot to share on this newsletter! Do you want me to wrap it up and you review, or viceversa?

[2021-09-24 13:02] jenniferisasi commented on #2296
You are faster than me! I was going to add Brandon's post today :)

I don't know of any other contribution that's already out there, latest is on #2221

We have 2 articles coming up, I'm involved in both, so I will update as soon as I see them published (one at least not until December)

[2021-09-24 13:13] anisa-hawes commented on #2221
Thank you, @jenniferisasi! I am just finishing writing this up! When I'm done, I'll create a new Branch with my draft and connect with you so that you can review it for me. I really appreciate your support 🙂

[2021-09-24 13:15] anisa-hawes commented on #2296
And I have set myself a reminder to add this next week:

Jessica Parr & Nabeel Siddiqui, '_Programming Historian_ and the Challenges of Globally Distributed Learning', [Sharing Digitally: Seminar on Digital Tools and Infrastructures](https://www.lvivcenter.org/en/conferences/sharing-digitally-2/), Center for Urban History at Lviv, Ukraine, 29 September 2021.

[2021-09-24 13:19] anisa-hawes commented on #2296
Am I right that we are thinking specifically about the Research pages here? I have added a few items recently, and noted some inconsistencies with typesetting on that page which I would be happy to set myself as a task to tidy up.

I have also noticed that this is a place of frequent link breakage. Perhaps this page is a good candidate for a perma.cc overhaul.

[2021-09-24 13:24] acrymble opened #2298 "Anisa Website/Service Integration Training plan"
This is a checklist of website-inclined / Service integration things we need to work to invest in @anisa-hawes who will then help us document & share that knowledge with the right people when they need it, including through onboardings or professional development. At a minimum, I think she needs to know what all these do and how they work (and how to step in during an emergency). Please add to the

[2021-09-24 13:27] jenniferisasi commented on #2221
Fantastic! Thanks @anisa-hawes

[2021-09-24 14:28] #2294 closed, assigned to drjwbaker, amsichani, tiagosousagarcia

[2021-09-24 16:36] DanielAlvesLABDH commented on #2297
Hi @drjwbaker! The change in the PT files are here: https://github.com/programminghistorian/jekyll/pull/2300

[2021-09-24 17:09] #2221 closed, assigned to anisa-hawes

[2021-09-24 18:49] rivaquiroga commented on #2187
Hi, everyone!
Here are @jairomelo's suggestions to update this lesson to Python 3.
@anisa-hawes, it looks like this is a case where we you and @svmelton should decide if these are major changes that will require a [DOI update](https://github.com/programminghistorian/jekyll/wiki/The-Programming-Historian-Digital-Object-Identifier-Policy-%28April-2020%29).

## Generating an Ordered Data Set from an

[2021-09-24 19:49] rivaquiroga opened #2301 "Update "Web Mapping with Python and Leaflet" to Python 3"
Hi, @anisa-hawes!
Here are @jairomelo's suggestions to update this lesson to Python 3. It looks like there are really major changes to introduce, some of which involve rewriting some parts of the lesson.

## Web Mapping with Python and Leaflet

slug: "mapping-with-python-leaflet"

- [x] ### line 175

`# versions used: geopy 1.10.0, pandas 0.16.2, python 2.7.8`

lesson tested with the following ver

[2021-09-25 08:27] DanielAlvesLABDH commented on #2213
I think travel costs can be justified for outreach work, we could invite someone for a conference or a workshop and some help to pay the travel expenses could be useful

[2021-09-25 14:07] DanielAlvesLABDH opened #2302 "Onboarding Checklist for Portuguese language publication editor: Eric Brasil"
This is an individual onboarding Editor checklist for Eric Brasil @ericbrasiln. Bem vindo Eric!

---

## Welcome

Welcome to the Programming Historian Project Team. We're very pleased to have you on our team. We know that joining a new project and getting up to speed can be a challenge. So we've put together this information to help you get up to speed. It includes details of what we will do and a

[2021-09-25 20:57] spapastamkou commented on #2297
@mariechristineb do you believe you can lend a hand here for the translation? Your (Canadian) ear must be more used to these terms and their equivalent in French (I have not the slightest idea how "charity" is translated in this context). Thanks!

[2021-09-26 03:20] ericbrasiln commented on #2302
Thanks, @DanielAlvesLABDH
I am very happy to be part of the team.

@JoshuaGOB my gmail is profericbrasil@gmail.com

Until Monday I'll create a branch called `issue-2302` and then I'll submit the PR with the changes to the /data/ph_authors.yml file and my avatar.

[2021-09-26 14:51] svmelton commented on #2187
Thanks @rivaquiroga! Yeah, this seems significant enough to warrant a new DOI in my view. @anisa-hawes the [DOI policy](https://github.com/programminghistorian/jekyll/wiki/The-Programming-Historian-Digital-Object-Identifier-Policy-%28April-2020%29) indicates that lessons published before 2020 should go through copyediting. I can make a copy of the lesson for you to copyedit, if that works for you.

[2021-09-26 14:55] svmelton commented on #2290
I think it's time to retire the lesson, sadly. We would love a new version if you're interested at some point, @jerielizabeth!

[2021-09-26 15:56] svmelton commented on #2290
Just created the PR to retire the lesson. After it's retired, I'll [update the list here](https://programminghistorian.org/en/lesson-retirement-policy) and [remove it from the Twitter bot](https://github.com/programminghistorian/jekyll/wiki/Retiring-a-Lesson-from-the-Twitter-Bot).

[2021-09-26 17:30] mariechristineb commented on #2297
@spapastamkou I've added the translations to #2305

[2021-09-26 23:35] nivaca commented on #2
I suppose this is a related issue. I was wondering why syntax highlighting in markdown code blocks, which normally looks great in GitHub, is ignored here.

For instance, this code:
[code]
which as you can see looks great here (rendered by GitHub), looks like so in PH:

![image](https://user-images.githubusercontent.com/2309005/134827999-034bee88-fc6c-4ee1-baf4-a85e433e9c38.png)

I don't know if th

[2021-09-27 07:47] drjwbaker commented on #2187
@svmelton: is this the first time we've had to go through the 'major changes' part of our workflow? If so, @anisa-hawes, I'm happy to be looped in as I'm curious how it work in reality (for context: we kinda made it up during DOI implementation so it hasn't really been tested).

[2021-09-27 07:54] #2076 closed, assigned to JoshuaGOB, DanielAlvesLABDH

[2021-09-27 08:26] acrymble commented on #2302
@DanielAlvesLABDH we will do invites to the ProgHist ltd less frequently, and normally after the person has started doing editorial work. The checklist says this will be done within 2 weeks, but please don't let that prevent you from closing this ticket.

[2021-09-27 09:54] #2297 closed, assigned to drjwbaker

[2021-09-27 13:32] svmelton commented on #2187
@drjwbaker It is! We're about to have a similar situation with a [lesson that needs to be retired](https://github.com/programminghistorian/jekyll/issues/2290), as well.

[2021-09-27 13:57] drjwbaker commented on #2187
Excellent!

But that shouldn't necesitate a new DOI, right?

[2021-09-27 13:59] rivaquiroga commented on #2187
#2301 might involve a new DOI too

[2021-09-27 14:16] svmelton commented on #2187
@drjwbaker No, it shouldn't need a new DOI. I'm wondering if we need to notify Sussex if we retire lessons (the URL technically changes even though the user won't notice it.) I might be overthinking it—did this come up at all in our convos about getting DOIs?

[2021-09-27 15:04] drjwbaker commented on #2187
Hmm. If the object is the same but the URL changes, then - technically - that shouldn't affect the DOI, because the DI is for the O, rather than the I for the DO (if that makes sense). But, you are right, I don't think we checked that scenario. Best check with Sussex what they'd prefer.

[2021-09-28 07:08] acrymble commented on #1981
@ZoeLeBlanc @anisa-hawes can you both please set up a zoom meeting to work through this together? It's a major sticking point on a number of tickets and the documentation we've got doesn't make it clear what has and hasn't yet been done so no one else can step in.

[2021-09-28 07:13] acrymble commented on #2298
@drjwbaker I believe DOAJ is a September archivist task. Would you be willing to train @anisa-hawes on what this involves, and make sure she also has access to any relevant login details?

[2021-09-28 07:18] drjwbaker commented on #2298
Did it already. Next one in March (I've been doing it every 6 months). Reminder is in the PH gmail, so I'll change it to remind myself to hand over to @anisa-hawes then.

[2021-09-28 07:39] acrymble commented on #2298
Ok I will update the service integration wiki to note that. Also noting that I don't have the password for this anymore so I'm going to remove my name from the list of password holders.

[2021-09-28 13:06] #2290 closed, assigned to ZoeLeBlanc

[2021-09-28 13:33] JMParr commented on #2223
### Global Team Report

by @JMParr  on 28 September 21

- @amsichani and I have had the start of a conversation about converting Global to a solo role, in part to help meet The Programming Historian's larger goal of reducing dependency on volunteer labor. I have had similar conversations with @acrymble about revisions to the role of Global, and this is part of a 6-month goal.

- @nabsiddiqui and I

[2021-09-29 20:26] svmelton opened #2312 "Updating editor guidelines"
At our most recent managing editor meeting (#2255), @spapastamkou @rivaquiroga and I discussed some ways to improve our current editor guidelines. Specifically, we identified these items:

- Ensuring that editors know to change absolute to relative links when reviewing lessons
- Creating a checklist for editors, as the current text is quite long and difficult to read through

Are there other items

[2021-09-29 20:26] svmelton commented on #2255
@spapastamkou @rivaquiroga and I met today and decided that it would be useful for MEs to meet the week before the full project team meetings. @anisa-hawes would you be able to help us coordinate these?

We also discussed ways to improve our current editor guidelines (#2312)

[2021-09-29 21:27] svmelton commented on #2223
I'll be unable to attend our meeting, but please let me know if you have any questions about these items.

## EN Team Report
by @svmelton on 29 September 21

**Actions Completed Since Previous Report**
- 1 new lesson published
- 1 lesson retired
- New [Call for Editors](https://programminghistorian.org/posts/call-for-editors-en) is out (we would love help promoting, especially to non-US audiences!

[2021-09-29 22:21] rivaquiroga commented on #2312
@isag91, @nivaca & @nllano, your views as new editors will be extreamly valuable in this discussion.

[2021-09-29 22:31] rivaquiroga commented on #2223
## ES Team Report
by @rivaquiroga on 29 September 2021

**Actions Completed Since Previous Report**
- 1 new original lessons published.
- We selected theree candidates as new editors: welcome Isabelle, Nicolás and Nicolás :tada:

**Actions Remaining Open Since Previous Report:**
- 3 original lessons and 1 translation in the pipeline

**3-month focus:**
- Finish the onboarding of the new editors

*

[2021-09-29 22:46] jenniferisasi commented on #2223
# Comms Team Report

by @jenniferisasi on 29 September 2021

**Actions Completed Since Previous Report:**
- Met with @anisa-hawes to establish actions she can do in her role, and actions to discontinue
- @anisa-hawes and I published the September or third newsletter of the year
- continue the promotion of relevant events/actions on Twitter

**3-month focus:**
- the Comms Lead role will be disconti

[2021-09-30 01:43] ZoeLeBlanc commented on #2072
Closing this issue since we now have the PT color change. Thanks to @walshbr for all his hard work 🎉 👏🏽

[2021-09-30 01:49] ZoeLeBlanc commented on #2214
Closing this since @walshbr is officially retired 😭 ! We miss you Brandon ❤️

[2021-09-30 01:49] #2214 closed, assigned to walshbr, ZoeLeBlanc

[2021-09-30 01:50] ZoeLeBlanc commented on #2020
Closing this ticket since redesigning front page is now part of broader infrastructure redesign.

[2021-09-30 01:50] #2020 closed, assigned to ZoeLeBlanc, jenniferisasi

[2021-09-30 02:11] ZoeLeBlanc commented on #2216
Closing this issue since most of these issues have been closed now.

[2021-09-30 02:11] #2216 closed, assigned to ZoeLeBlanc

[2021-09-30 02:17] ZoeLeBlanc commented on #2223
# Tech Team Report

by @ZoeLeBlanc  on 29 September 2021

**Actions Completed Since Previous Report:**
- Met with tech team in August to discuss a number of issues #2216
- Officially retired @walshbr #2214
- Discussed future of rebuilding the site's infrastructure and potentially applying for NEH funding to support the rebuild

**Actions Remaining Open Since Previous Report:**
- #1995 and #2235 to

[2021-09-30 04:27] spapastamkou commented on #2223
Can't be there this time and unfortunately no other team member either, please let us know if need for further information.

## FR Team Report 30 September 2021

**Actions Completed Since Previous Report - New Actions:**
1 translated lesson reviewed and published
1 translated lesson reviewed soon to be published
1 translation completed by new editor in Python series - now working on a second

**Ac

[2021-09-30 05:08] spapastamkou commented on #2213
Most popular idea in the FR team: use this budget for workshops.

[2021-09-30 08:01] DanielAlvesLABDH commented on #2223
## Portuguese Team Report

By: @DanielAlvesLABDH
Date: 30 September 2021

**Substantive Actions Completed Since Previous Report**

- Publication of 10 new translated lessons

**3-month focus**
- Onboarding of Eric Brasil as editor of the PT team already started
- Publication of 6 new translated lessons

**6-month focus**
- Publication of 6 new translated lessons
- Publication of 3 original lessons

[2021-09-30 08:31] acrymble commented on #2223
## ProgHist Team Report
by @acrymble on 30 September 21

**Actions Completed Since Previous Report**
- Many lesson maintenance tickets closed by @anisa-hawes (system now much more functional)
- @anisa-hawes actively now working 2.5 days per week supporting workflow simplification/improvements
- ProgHist ltd is now fully registered as a charity (thanks @drjwbaker). This saves us taxes
- I'm not sur

[2021-09-30 08:35] acrymble commented on #2209
@svmelton has suggested something that sounds very similar in #2223 to support "the technical setup of a lesson. One of the major pain points for our editors is working with the metadata and getting the lessons setup".

@svmelton I'd be happy for you to nominate this as a goal for the coming year if you think this would reduce the workload for MEs.

[2021-09-30 08:44] acrymble commented on #2256
Will launch the sign up 1 month in advance (so 18th October).

I will be looking for a @programminghistorian/spanish-team member to help translate the materials (we can pay for this). So if any Spanish speaking team members are interested please let me know (@rivaquiroga I don't think it can be you because of your trustee role).

[2021-09-30 11:45] #2296 closed, assigned to anisa-hawes

[2021-09-30 12:37] anisa-hawes commented on #2298
Thank you for co-ordinating this @acrymble! I have already got the credentials for Twitter and Perma.cc so I have checked these.

[2021-09-30 12:48] anisa-hawes commented on #2255
Yes, absolutely. I'll add this task to my calendar for the months ahead.

[2021-09-30 13:19] anisa-hawes commented on #2255
As our Project Team Meetings take place every two months in late-January, late-March, late-May, late-July, late-September and late-November, I have set myself a reminder to coordinate your ME meetings for mid-January, mid-March, mid-May, mid-July, mid-September and mid-November. I'll circulate a Doodle Poll to agree the date 2 weeks ahead of each meeting.

[2021-09-30 13:19] #2255 closed, assigned to spapastamkou, rivaquiroga, DanielAlvesLABDH

[2021-09-30 13:38] jenniferisasi commented on #2256
@acrymble I could do it if no one else is available.

[2021-09-30 14:14] drjwbaker commented on #2030
Per @anisa-hawes @hawc2 introduction at https://github.com/programminghistorian/jekyll/issues/2223 given the labour involved in using perma.cc is there a case with future new articles for a) encouraging authors to only include *essential* links, b) discouraging authors from pointing to complicated links (e.g. YouTube playlists). Both these can be justified under our sustainability criteria https:/

[2021-09-30 14:37] hawc2 commented on #2030
@anisa-hawes how much additional time would you say perma.cc linking added to the copyedit stage? given that was your first time, how much faster do you think it could become?

@drjwbaker the perma.cc process definitely made it apparent a number of ways we could clarify guidelines for authors/editors on when to use links and what kind. Reducing links overall isn't a bad idea, and we could ask peop

[2021-09-30 15:08] svmelton commented on #2209
Thanks @acrymble. Yes, I think this is pretty closely related and I'd be happy to nominate it. @ZoeLeBlanc was there anything that came up in our convo around that paid role that might not be encapsulated here?

[2021-09-30 15:52] svmelton opened #2314 "Broken link in /es/retroalimentacion.html"
There's a 404 for [this link](https://docs.github.com/es/github/getting-started-with-github/quickstart). I found [an alternative](https://docs.github.com/es/get-started) but it doesn't appear to actually be translated into Spanish. Tagging the @programminghistorian/spanish-team to see if there's a different resource or if we should remove it entirely.

[2021-09-30 16:04] rivaquiroga commented on #2314
@svmelton, from which lesson is the link?

[2021-09-30 16:28] anisa-hawes commented on #2030
Here is a brief summary of what I said (although did not express as clearly as I would have liked) at today's Project Team Meeting:

- Our first lesson including Perma.cc links has now been [published](https://programminghistorian.org/en/lessons/clustering-with-scikit-learn-in-python).
    - the Perma links were generated as part of the copyediting workflow
    - it was a straight forward process,

[2021-09-30 16:35] anisa-hawes commented on #2030
Yes, I think this is something we could consider... In one of the two lessons I read, I found that the author had doubled up on links multiple times, rather than defining it/providing a link upon first mention only. Elsewhere, in that lesson I found myself suggesting additional links to define technical terms. I wonder how typical these two lessons were in terms of the number of links they include

[2021-09-30 16:35] drjwbaker commented on #2030
Thanks for the summary @anisa-hawes. I think..

..is ultimately the key positive. So long as we have an infrastructure where updates fail because a link on another part of the site has gone down, perma.cc has the advantage of reducing our exposure to that, thus gradually making working with the site much easier.

[2021-09-30 16:39] drjwbaker commented on #2030
Personally, I think some authors use links in our articles as they would be blog rather than a journal, because we've always encourged it, and are now seeing the downside as links break and cause work. Now, I don't want to encourage the inflexibility of journal policies towards links/urls, but I think we could advise more parsimonious use of links and/or a use of links that is clearly justifiable/

[2021-09-30 16:40] anisa-hawes commented on #2030
I estimate that it added another couple of hours to copyediting, but it felt worthwhile for the reasons explained above. But, you are right to observe that the process can be speeded up as I become more familiar with the workflow.

I'm not certain how often authors link out to YouTube Playlists / individual videos or exceptionally complex content (e.g. the interactive narratives), but I think it's

[2021-09-30 16:41] anisa-hawes commented on #2030
That's an interesting thought, @drjwbaker. Thank you!

[2021-09-30 16:50] anisa-hawes commented on #2030
In another [recent Issue](https://github.com/programminghistorian/jekyll/issues/2296), we were talking about updates to the research/investigacion/recherche/pesquisa pages. I note that links on these pages break frequently. Perhaps these are good candidates for perma.cc overhauls too!

[2021-09-30 17:08] svmelton commented on #2314
@rivaquiroga It's from the /es/retroalimentacion.html page

[2021-09-30 17:45] rivaquiroga commented on #2314
Sorry!!! Was on the ticket title 😳
I'll look for a better option tomorrow. I can't do it today, so if you need to merge something, feel free to change it for the english version until I have a solution.

[2021-09-30 18:06] acrymble commented on #2213
This was agreed at the September 2021 project team meeting #2266.

- the budget is to be spent at the discretion of MEs, in line with the Spending Request policy: https://github.com/programminghistorian/jekyll/wiki/Spending-Requests-and-Reimbursement.
-  that the whole publication team should be consulted by the ME about the plan in advance, and should clearly promote the publication or its langua

[2021-09-30 19:57] DanielAlvesLABDH commented on #2312
Thanks for this. Sorry for not being able to attend the meeting. One thing I think we need is a clearer separation between the task of the Editor and the ME. Probably in different pages

[2021-10-01 10:12] anisa-hawes opened #2315 "Correcting two typing errors in clustering-with-scikit-learn-in-python.md"
I am correcting two typing errors in clustering-with-scikit-learn-in-python.md.

[2021-10-01 12:12] anisa-hawes commented on #2213
Do you think it would be useful to set up a new Project Board for MEs to track their outreach spending, @drjwbaker?

[2021-10-01 12:31] drjwbaker commented on #2213
Thanks for the idea. However, I'm hoping MEs submit spend in chunks, so I'm hopeful we won't need to track it in too much detail.

[2021-10-01 13:03] anisa-hawes commented on #2213
Okay, that makes good sense. With these agreements in place, I'll close this Issue. But let me know if you feel anything further is needed.

[2021-10-01 13:03] #2213 closed, assigned to acrymble

[2021-10-01 14:52] anisa-hawes commented on #2314
Hello @rivaquiroga. Just to let you know that we've updated the link at paragraph 42 of `/es/retroalimentacion.html` with this: https://docs.github.com/es/get-started/quickstart. Sarah and I think it is a reasonable temporary fix. It seems that the Spanish translation of GitHub's Quickstart Guide is incomplete, but 'in progress'!

[2021-10-01 15:41] #2314 closed, assigned to svmelton

[2021-10-01 22:13] rivaquiroga commented on #2312
We should add more specific guidelines on how editors can fix errors on the build of the ph-submissions repo. Most of the time they are due to unescaped quotes within the caption or alt text.

[2021-10-02 06:27] #2315 closed, assigned to anisa-hawes

[2021-10-02 08:43] DanielAlvesLABDH commented on #2302
Following @acrymble suggestion I'm signaling @anisa-hawes here so that she could help @ericbrasiln having access to the Google Group email. Thanks!
After that I will scheduled a meeting with Eric so he can start to known how PH works and how the PT team is developing.

[2021-10-02 08:46] acrymble commented on #2274
@tiagosousagarcia sorry my Portuguese is rusty. The ProgHist team is aiming to get copyediting set up in Portuguese soon, and I think, but I'm not sure, that's what you're helping to do here by establishing the expanded author guidelines as we did in other languages. Is that right? I ask so I can report to the Proghist team at our upcoming meeting.

[2021-10-02 10:42] tiagosousagarcia commented on #2274
@acrymble yes, I believe so -- essentially, I've been reviewing the author guidelines in order to make them more pertinent to a Portuguese-speaking context (as well as some minor copyediting for typos and regularisations).

[2021-10-02 11:39] acrymble commented on #2276
I have read their guidance. We are already compliant in most areas. I will send a separate email to those with relevant fundraising responsibilities on the specifics. But nothing major needs to change.

[2021-10-04 07:43] acrymble commented on #2174
@anisa-hawes I know you're working on improving editor training. Is this something we can fold into that? #1932

[2021-10-04 21:10] spapastamkou commented on #2312
In addition to what @svmelton and @DanielAlvesLABDH say:
- specifically for translations, remind to check the translation of the anchors, meaning that if the authors use an anchor as a link to send to another part of the lesson, in most cases the translator does not realize this link has to change since they mostly work on the text; the editor should check and change the link in this case.
- in cu

[2021-10-04 21:12] spapastamkou commented on #2312
@InesSalome @datalogism @matgille @icolab If during your current or recent editorial work you found the editors guidelines were not clear on something, please let everyone know here so that we can make them better.

[2021-10-05 10:13] drjwbaker commented on #2223
@JMParr I just wanted to pick up on..

..with two comments. First, if you are looking to make this a sustained programme with multiple sources of funding/resource, I'm pretty sure the charity can/should consider providing some of those funds (that is, given our staffing commitments the charity will struggle to fund every initiative we have, but can certainly look at matching/contributing other sou

[2021-10-06 10:08] anisa-hawes commented on #1981
Thank you, @acrymble. Zoe and I are meeting this Friday 8th October to work through this.

[2021-10-06 10:12] anisa-hawes commented on #2302
Hello @DanielAlvesLABDH. Unfortunately, I'm not part of the Google Group myself yet. There is a technical hold-up related to the credentials of our Cloudflare account , see #1981 and #1761. Zoe and I are meeting this Friday 8th October to work on resolving the issue, but in the meantime, I will need to ask if @JoshuaGOB or someone from the @programminghistorian/technical-team if they could please

[2021-10-06 11:00] anisa-hawes opened #2321 "IPPs pack - renewal"
As part of the annual renewal process for existing IPPs, we are preparing a brief update on our activities during the past year. Our objective is to say 'thank you', and show them that we value their contribution.

@programminghistorian/english-team @programminghistorian/spanish-team @programminghistorian/french-team @programminghistorian/portuguese-team Please let us know if you have suggestions

[2021-10-06 13:32] DanielAlvesLABDH commented on #2321
Dear @anisa-hawes , from the PT team I think the number of lessons published in 9 months of the project (12) is something to mention. Also the fact that we manage to get four scholarships from the Portuguese Science and Technology Foundation to have four students to work with us during September (they translated 8 more lessons; to be reviewed). Finally, we are implementing the project "Literacia D

[2021-10-06 13:33] DanielAlvesLABDH commented on #2302
Thank you @anisa-hawes

[2021-10-06 13:36] anisa-hawes commented on #2174
Thank you, @acrymble. I have integrated these into my current re-draft of the Editorial Guidelines. I've also added the resources @drjwbaker collated on colour vision deficiency to [the Accessibility page of our Wiki](https://github.com/programminghistorian/jekyll/wiki/Accessibility).

[2021-10-06 13:36] #2174 closed, assigned to acrymble

[2021-10-06 13:39] anisa-hawes commented on #2321
Thank you, @DanielAlvesLABDH! These achievements are exactly the kinds I think we will want to highlight.

[2021-10-06 15:57] jenniferisasi commented on #2302
I just added @ericbrasiln to the google group

[2021-10-06 15:59] anisa-hawes commented on #2302
Thank you, @jenniferisasi!

[2021-10-06 16:03] DanielAlvesLABDH commented on #2302
Many thanks for this @jenniferisasi

[2021-10-06 16:09] DanielAlvesLABDH commented on #2302
@ericbrasiln agora é oficial! Vamos combinar uma reunião por estes dias para dar inicio à colaboração. Bem vindo! Abraço

[2021-10-06 16:12] rivaquiroga commented on #2238
All the tasks have been completed, so I'm closing this ticket :rocket:

[2021-10-06 16:12] #2238 closed, assigned to rivaquiroga

[2021-10-06 18:13] ericbrasiln commented on #2302
Thanks, @jenniferisasi !
Obrigado pela acolhida, @DanielAlvesLABDH
Podemos marcar para a próxima semana. Abraços

[2021-10-06 18:20] hawc2 commented on #2235
@anisa-hawes and I have set up a branch for cleaning up the PH-submisions repo and standardizing the organization of the language directories: https://github.com/programminghistorian/ph-submissions/tree/ReorgDirectory

Preview images, etc. are working fine in my local build. @anisa-hawes is still in the process of moving each lesson to its proper directory.

We've currently settled on a directory

[2021-10-06 19:59] DanielAlvesLABDH commented on #2302
Sendo assim vou dar por concluído este processo e encerrar este ticket. Obrigado a todos. Thanks to to all. The ticket will be closed.

[2021-10-06 19:59] #2302 closed, assigned to JoshuaGOB, DanielAlvesLABDH, anisa-hawes

[2021-10-07 10:06] anisa-hawes commented on #2312
Editor Guidelines
- [x] include a note to explain relative links, asking editors to check them at initial and final stages
- [ ] create a checklist
- [x] a clearer separation between the tasks of the Editor and the ME
- [x] notes on fixing build errors, including how to use escaped quotes within captions and alt text

Editor of Translations
- [ ] reminder about translation of section anchors, and

[2021-10-07 10:35] DanielAlvesLABDH commented on #2235
Dear @hawc2, thank you!
Here is my suggestion:
pt/documentacao
pt/propostas/originais
pt/propostas/traducoes
pt/publicadas/originais
pt/publicadas/traducoes

[2021-10-07 12:32] anisa-hawes commented on #2235
Thank you, @DanielAlvesLABDH. What do you think about "esboços" instead of "propostas", to indicate that the proposal has been approved and the lesson is in progress?

[2021-10-07 12:43] DanielAlvesLABDH commented on #2235
@anisa-hawes I agree, I understand the meaning

[2021-10-07 13:07] anisa-hawes opened #2322 "Add new 'Educator' to Supporters pages"
I am adding the name of a new 'Educator' tier Patreon to the following pages:

en/supporters
es/colaboradores
fr/nos-soutiens
pt/apoiadores

[2021-10-07 13:45] #2322 closed, assigned to anisa-hawes

[2021-10-07 15:01] svmelton commented on #2235
This is so exciting—thank you so much @anisa-hawes and @hawc2! The structure makes a lot of sense to me, I just want to flag that we'll need to update the [editor guidelines](https://programminghistorian.org/en/editor-guidelines) (I know you're also working on those!), particularly the managing editor piece on [moving the files](https://programminghistorian.org/en/editor-guidelines#3-move-the-file

[2021-10-07 15:47] acrymble commented on #2266
@rivaquiroga @svmelton @spapastamkou @amsichani @drjwbaker @anisa-hawes

I have uploaded the three papers for the meeting under "Papers" in the agenda above. I've done this 2 weeks before the meeting so that you have time to review them in advance. We won't necessarily be going through each one page by page, but they all contain information you should be familiar with as trustees.

[2021-10-08 15:10] datalogism commented on #2312
The only contribution that I can give you on at the view of my tiny experience concerns how to underline the name of file / variables / and functions. In the guidelines, we only talk about file names, and as we often have to speak about these objects it could be an idea to "normalize" how to write each kind of thing (to discriminate cognitively easily these). That is not a big contribution but I a

[2021-10-08 15:42] anisa-hawes commented on #2312
Thank you, for your contribution @datalogism! I think it is possible to use html \<u> tags to underline text, but Markdown syntax doesn't include an underline option, and our Author Guidelines advise against using underlines in lessons.

In terms of standardising the way we write variables and functions, our Author Guidelines ask that variable names should be nouns (for example, “counter”) and fun

[2021-10-08 17:50] ZoeLeBlanc opened #2324 "Troubleshoot search building"
After discussing the search with @anisa-hawes she pointed out that for some reason the Gravity Models isn't returned in the search.

I need to do some testing to understand what's going on but please let me know if you've had other search-related issues.

[2021-10-08 18:34] rivaquiroga opened #2325 "Criteria for assigning lesson difficulty"
Currently, our editorial guidelines only mention the existence of three difficulty levels but don’t explain the criteria for assigning them:

It will be great to have more explicit criteria that helps us editors decide the difficulty level of a lesson. And also for consistency across lessons.

Here are some ideas to discuss:

**Beginner**
The lesson does not require prior knowledge. All the steps

[2021-10-08 18:45] svmelton commented on #2325
Thank you for raising this, @rivaquiroga! I also want to add that I think making dependencies and set up requirements more prominent is important.

To your questions:

- Yes, I think that the level of setup involved increases the mental load, particularly because setting up one package or dependency often requires setting up others. (I set up Hugo yesterday, lol)
- It may depend on the tool, but y

[2021-10-08 18:50] DanielAlvesLABDH commented on #2325
Dear Riva, these are great ideas to discuss. In the PT team we faced some problems once we started translating lessons of intermediate and advanced level. Most of us don't have a technological background. I agree with the texts proposed for each of the level. Regarding the questions, I would answer yes to the first two. For the third I would suggest a translation note at the beginningof the lesson

[2021-10-10 09:20] InesSalome commented on #2312
My short experience in editorial work concerns mainly translations, and I notice it may be useful to clarify when we must translate or not code terms and examples, because the translator guidelines indicate "translating code terms and examples, if possible", but what does "if possible" actually mean ? Does it mean only that the translation must not break the code ? Are any other limits suggested ?

[2021-10-10 18:57] datalogism commented on #2312
I join @InesSalome  on this suggestion, i also worked on an original 15 lessons of PH, and i really doubtful about this recommendation. Do the translation the well known "hello world" print exemple giving more literacy ? Is it really strategic to translate every variable names while the current standard is to naming even in France variable with english names ? Wouldn't it be a better option to add

[2021-10-11 16:04] matgille commented on #1876
If there is still a need of updating this lesson, I can start working on it, but I may have missed something...

As @acrymble mentioned, a good workaround would be to use the saxon transformation engine, that provides a CLI. There is one free/libre version, and this solution would allow to use xpath / xslt 2.0 functions. I'm using it regularly and I can try to explain how to use it. Should it be i

[2021-10-11 19:30] matgille opened #2327 "Typo in french translation of lesson in _data/teamroles.yml"
There is a small typo in the translation of "lesson" in this file, instead of "leçon".

[2021-10-12 10:39] #2327 closed, assigned to spapastamkou, matgille

[2021-10-13 10:11] amsichani opened #2329 "Editor recruitment process documentation"
Related to our [forthcoming recruitment process for EN editors](https://programminghistorian.org/posts/call-for-editors-en), it might worth documenting our processes and criteria for future reference. This might be an ongoing, collaborative output - reference document of all publications  @programminghistorian/french-team @programminghistorian/english-team @programminghistorian/spanish-team @progr

[2021-10-13 11:23] anisa-hawes commented on #2301
Thank you, @rivaquiroga and @jairomelo! I really appreciate your work on this!

I have begun updating this lesson in [a new branch #2301](https://github.com/programminghistorian/jekyll/tree/Issue-2301). You will be able to [review the edits I've made in the commit history](https://github.com/programminghistorian/jekyll/commit/0c3b96827c2e1472975b94bbe8b8917478c9a167). I have also checked off the c

[2021-10-13 12:52] anisa-hawes commented on #2187
Hello @rivaquiroga. Thank you for co-ordinating this!
Hello @jairomelo. Thank you for your amazing work!

I have made the updates you've suggested in [a new branch #2187](https://github.com/programminghistorian/jekyll/tree/Issue-2187). You can review the [changes to the lesson](https://github.com/programminghistorian/jekyll/commit/03f9eaf235e45332705ae7023bb358e8e3cedc8c) and the associated [.txt

[2021-10-13 12:56] anisa-hawes commented on #2325
Thank you, @rivaquiroga. This is really interesting. Perhaps this guidance could form an appendix to the Editorial Guidelines? It could be part of the reference documentation on our Wiki.

[2021-10-13 13:09] anisa-hawes commented on #1876
Hello @matgille. Thank you! We would really appreciate your support with updating this lesson!

If it is agreed that the workaround @rivaquiroga [suggests above](https://github.com/programminghistorian/jekyll/issues/1876#issuecomment-734526062) is a good solution, we also have the option to add in an information box which could help us to clarify the steps and identify key troubleshooting methods.

[2021-10-13 13:41] matgille commented on #1876
Hi @anisa-hawes, thank you for your answer ! Yes, that is a good idea. The author of the post in SO seems to have enough authority to allow a link to his answer (I don't know if PH has any rule about that).

However, I think the solution should allow the user to produce output files, and I don't know if with  `http.server` module it is possible. Maybe saving the result document ?

[2021-10-13 14:44] anisa-hawes commented on #1876
Thank you, @matgille.

I see... By linking to the Stack Overflow thread we open an extra risk of link rot, because the secondary links might break too... We could consider creating [Perma.cc](https://perma.cc/) links to secondary pages (we've recently begun piloting this as part of our copyediting workflow). But perhaps what would be best of all, is if we could summarise the information and troubl

[2021-10-13 15:28] anisa-hawes commented on #1985
Hello @hawc2 and @nabsiddiqui. I've noticed that this report was submitted by a user whose account is now deleted. I'm not familiar with Unity, but if you think this is a genuine Lesson Maintenance issue, I would be happy to set aside time to install the software and test this lesson. Please let me know how you'd like to move forwards.

[2021-10-13 15:29] matgille commented on #1876
I hadn't think about that ! What does perma.cc do ? I agree with you,  we can search for more sources on the matter, and summarise them along with the SO posts.  I'll search in the O'Reilly books.

Ok ! How should I do it ? Create a new branch, and work directly on the lesson's file ?

[2021-10-13 15:44] hawc2 commented on #1985
The problem for me was I didn't understand the nature of the error
message/how to replicate it. If we have someone available to do a full test
of the session, it's not a bad idea, but I don't think we should take too
seriously bug reports like this with no follow up.

Generally I'd say, in cases like this, close the issue, and put on the
docket for testing at a later point. Sustaining a Unity less

[2021-10-13 15:46] nabsiddiqui commented on #1985
@anisa-hawes I agree with @hawc2 . This was a bug that was posted a while ago, and I believe we tried to do a follow up but did not get a response. These types of errors are too specific for us to troubleshoot. I'm going to go ahead and close it.

[2021-10-13 15:46] #1985 closed, assigned to nabsiddiqui, hawc2

[2021-10-13 15:50] jairomelo commented on #2187
Hi @anisa-hawes :)

About your questions:

1) Those two lines are deprecated in Py3. You can delete them without any fear.
2) Excelent! I think is a great source of information :)

[2021-10-13 15:54] hawc2 opened #2330 "Standarding Editorial Onboarding Documentation"
@anisa-hawes  and I have been drafting updated editorial onboarding documentation (tickets #1932 and #2312) and reorganizing the PH submission repo (ticket #2235). This process has brought up various ways different languages for the journal currently use different file structures, editorial processes, and documentation for onboarding to the ph-submissions repo.

We were hoping that the four langau

[2021-10-13 16:10] anisa-hawes commented on #1876
Perma.cc generates archived versions of web pages, with stable URLs. Using it is one of the ways we can improve the sustainability of our lessons.

But the other crucial way to increase the longevity of our lessons, is to encourage authors to write tutorials that list any software dependencies and focus on providing general, methodological overviews rather than software-specific instructions. Havi

[2021-10-13 16:16] anisa-hawes commented on #2187
Thank you for your reply, @jairomelo! And thank you so much for all the energy you have given to this.
I'll make that small additional change to the Roman_to_Arabic.txt asset now.

[2021-10-13 16:24] anisa-hawes commented on #2187
Hello @svmelton. The updates are now complete in the branch named [Issue-2187](https://github.com/programminghistorian/jekyll/tree/Issue-2187). How would you like me to go forwards with copyediting? Shall I merge this branch first, so that the lesson is usable in the meantime?

[2021-10-13 16:25] spapastamkou commented on #2187
And just to be clear for the workflow about the modifications to make on the French translation: the suggested changes should rather be made in the `ph-submissions` repository (where the translation review of the python 2 version has been achieved); or would it be preferable to create a new branch on Jekyll, push the existing translation, then add the changes on this jekyll branch and finally publ

[2021-10-13 16:33] anisa-hawes commented on #1985
Understood. Thank you @hawc2 and @nabsiddiqui! We are getting through the Lesson Maintenance backlog now 🙂   so I will soon be able to start working through our older lessons, doing preventative maintenance instead of rescue. I'll prioritise our oldest lessons and those which are frequently accessed according to our site traffic data.

[2021-10-13 16:35] matgille commented on #1876
Thanks for your answers @anisa-hawes ! I will start with saxon CLI.

Ok ! Maybe then we should not update the lesson, except for the xsl transformation : XSLT 1.0 is still in use and is not announced to be deprecated soon (but maybe someone will disagree?). As far as I can tell, there is no syntax difference between the two versions, just new functions, and some changes in functions (like in `xsl:

[2021-10-13 16:44] spapastamkou commented on #2235
Thanks for your work @hawc2 and @anisa-hawes. For the FR repo, if current proposed naming is maintained, there are some slight changes to make to be in accordance with "leçons" (plural, feminin): `brouillon` => `brouillons` and `publie` => `publiees`
I wonder if something like `en-cours` (in progress) would fit better instead of `brouillons` but I invite the @programminghistorian/french-team to gi

[2021-10-13 16:45] anisa-hawes commented on #2187
Sorry, @svmelton. I meant to say in my previous comment that I would be interested to learn more about the process of requesting a new DOI, if you'd be happy to share that workflow with me.

[2021-10-13 16:47] anisa-hawes commented on #2235
Thank you for these thoughts, @spapastamkou. I'd be happy use whichever terminology you feel is most appropriate and natural.

[2021-10-13 17:07] jenniferisasi commented on #2256
Hi @acrymble any update on this? Wondering if you still need translation since October 18th is coming up pretty fast 😬

[2021-10-13 17:08] anisa-hawes commented on #2256
Hello @jenniferisasi! The signup launches on October 18th, but the event itself is not until November 18th!

[2021-10-13 17:56] jenniferisasi commented on #2256
Ah, @anisa-hawes thanks! I thought translation was also needed for the registration period, so no problem :) more time then.

[2021-10-14 08:16] matgille commented on #1876
Hi ! This would be a first draft of the section on saxon command line interface. If anyone could take a screenshot of the java help message, I would appreciate it, my OS is located in french. I don't know how to use the command line with Windows and I don't know neither if these commands would work with this OS.

There is a problem with the saxonica webpage. I'm unable to access the website, and i

[2021-10-14 09:59] acrymble commented on #2239
Is this done @rivaquiroga ?

[2021-10-14 10:00] acrymble commented on #2237
@rivaquiroga is there a problem with this onboarding?

[2021-10-14 11:28] rivaquiroga commented on #2237
The are some task that haven't been completed yet

[2021-10-14 11:28] rivaquiroga commented on #2239
Yes 🚀

[2021-10-14 11:28] #2239 closed, assigned to rivaquiroga, nllano

[2021-10-14 11:59] rivaquiroga commented on #1876
Hi everyone!
There is something important to consider when maintaining (and writing) a lesson: Mac + Linux users only represent around 25% of our readers (18.3% + 7.1% this last month, to be precise). Any solution to the problem this lesson has must work on Windows. Or we can offer two solutions, depending on the OS the reader is using, but we must address Windows users.
Also to consider: the diff

[2021-10-14 13:22] peterwebster opened #2331 "Mark JISC/TNA CfP as closed"
I suggest that, now that the deadline has passed, the text be left there as an aid to those who have applied, but a prominent note be added to state that the deadline has passed.
https://programminghistorian.org/posts/cfp-jisc-ph

One for @tiagosousagarcia ?

[2021-10-14 13:27] matgille commented on #1876
Hi @rivaquiroga, thank you for your answers.

I don't have the knowledge and the OS to produce a tested tutorial for Windows users; we could also use JEdit to to the transformation, I don't know !

As for the difficulty of the lesson, if we use saxon with the terminal, we have to assume some previous knowledge; otherwise, we would repeat what's in other lessons (navigating through the file system

[2021-10-14 13:37] drjwbaker commented on #2331
Good idea. @tiagosousagarcia: no hurry on this, just pick it up on your next working day please.

[2021-10-14 13:41] tiagosousagarcia commented on #2331
I'll do that :)

[2021-10-15 10:34] anisa-hawes commented on #1876
Thank you so much for your hard work on this, @matgille.

Thank you for raising the question of the lesson's difficulty, @rivaquiroga. I agree that it is very important that we don't create barriers to readers using Windows operating systems. And that for a lesson that we label suitable for Beginners `difficulty: 1`, we must avoid making any assumptions of understanding.

I have a sense that the p

[2021-10-15 12:09] InesSalome commented on #2235
I agree with you @spapastamkou, `en-cours` seems more appropriate than `brouillon`.

[2021-10-15 12:12] InesSalome commented on #2235
Thanks for all this work @hawc2 and @anisa-hawes ! It's a very clear organization :)

[2021-10-15 12:14] anisa-hawes commented on #2235
Thank you for your feedback, @InesSalome! I will make this change.

[2021-10-15 14:00] matgille commented on #1876
Thanks for you message @anisa-hawes. If you need anything, I can try to help.

I don't know if this could be a useful information, but there is no security issue and the transformation works fine with firefox ESR, which is the extended support release version of firefox, available for the three OS. It's the default version for my OS, I should have tried before. I suppose the security policy will c

[2021-10-15 14:01] anisa-hawes commented on #2141
Hello @jenniferisasi! I'm keen to incorporate this concordance checking as a step within the Editorial Guidelines I am drafting.

My understanding from this thread, is that:

- Authors/MEs could refer to it during the pre-submission / proposal phase
- Editors could add a new row when they start working on a new lesson *this is the step I would like to add now

Is the [Google Sheet](https://docs.go

[2021-10-15 14:33] hawc2 commented on #2330
Hey all, just to clarify, I didn't mean to say each language team will need to sign off on the current drafted guidelines any time soon.

@anisa-hawes and I would more so like to confirm that all the language journals do in fact want to standardize editorial processes across the journals, and that we can do so through a workflow that involves first improving the English team's processes, and then

[2021-10-15 14:33] hawc2 commented on #2330
Hey all, just to clarify, I didn't mean to say each language team will need to sign off on the current drafted guidelines any time soon.

@anisa-hawes and I would more so like to confirm that all the language journals do in fact want to standardize editorial processes across the journals, and that we can do so through a workflow that involves first improving the English team's processes, and then

[2021-10-15 15:56] anisa-hawes commented on #2030
I am currently finalising a draft of revised Editorial Guidelines (to be tested in an Onboarding pilot study with the English team this autumn) which include detailed steps for the Copyediting phase of the workflow. My draft integrates step-by-step instructions for link archiving using perma.cc, but recognises that it doesn't have to be the same person who undertakes both tasks. For example, I cou

[2021-10-15 15:56] #2030 closed, assigned to hawc2, anisa-hawes

[2021-10-16 10:12] acrymble commented on #2329
Maybe we could start storing all advertisements for new editors in a central place on our business repository? Then anyone who needs to advertise has something to reference?

Althought I think they're all already on the blog.

[2021-10-16 10:19] acrymble commented on #2330
@hawc2 almost all of these "on boarding" skills and checklists are basically instructions on how to use our website. Almost none of our training or support for new editors is actually about how to be an effective editor of humanities-focused content.

I know @anisa-hawes has been working with @svmelton to re-balance that, and that conversations about a #2209 Technical Editor should help actually f

[2021-10-16 13:22] jenniferisasi commented on #2329
Correct, @acrymble. The last calls for editors at least going 3-4 years back are published in the blog. We could copy them in the business repository (and leave them up or take them down from the blog)

[2021-10-16 13:25] jenniferisasi commented on #2141
Hi @anisa-hawes, happy to hear this idea might be added to the editorial guidelines.

I haven't updated it since July 29th because it was not "approved" to be used yet, as you/they figured new Editorial Guidelines and how to check for overlap. I can make a note to update it soon, and in the meantime I am also sharing the document with the editors and the PH gmail.

[2021-10-16 18:04] svmelton commented on #1876
Yes, I believe we'll need to generate a new DOI for this. We've actually never had to do this; I believe the process is just for the ME to contact Sussex and explain that we think the lesson has changed enough to warrant a new DOI.

[2021-10-18 13:05] #2256 closed, assigned to acrymble, anisa-hawes

[2021-10-18 16:15] #2331 closed, assigned to tiagosousagarcia

[2021-10-18 20:50] #2048 closed, assigned to matgille

[2021-10-19 12:44] peterwebster opened #2336 "Banner/tagging of JISC/TNA-funded lessons"
As per the project meeting on 19th October, two presentational issues to investigate:

(i) the provision of a banner or other visual indication that these lessons were funded by this route, in the lesson itself;
(ii) (possibly) a new tag such that a listing of the whole group can be retrieved.

In both cases, the language is of a 'special issue'.

(Tagging @drjwbaker @amsichani  so they can assign

[2021-10-19 12:50] drjwbaker commented on #2336
@peterwebster 'special series' is preferable.

@programminghistorian/technical-team flagging now (as we aren't expecting these lessons to enter peer review until the new year) that on ii) it would be nice to have a way to filter to all the articles published as part of this series: e.g. like `https://programminghistorian.org/en/lessons/?activity=analyzing` but perhaps something like `https://progr

[2021-10-19 13:42] ZoeLeBlanc commented on #2336
Thanks for the updates @drjwbaker and @peterwebster ! I think one thing is whether we are planning to do more of these special series in the future? If yes, will it be with other institutions also or always through this same mechanism? Also if yes, would you want future lessons to be grouped with this current batch?

We do have the full text searching so hypothetically someone could find all the l

[2021-10-19 13:47] drjwbaker commented on #2336
Not with the current funders. So I don't know.

That might work. I guess I'm thinking here both of making the funding source clear and providing some binding between articles (they don't follow each other content wise, but they are all on the same over theme - analysing large datasets)

Will do.

I'd forgotten that https://programminghistorian.org/en/lessons/?search=jisc would be a URL we could po

[2021-10-19 14:25] jenniferisasi commented on #2336
@drjwbaker if I may jump in, I want to offer the example from the workshop in Colombia:

In [Análisis de corpus con Voyant Tools](https://programminghistorian.org/es/lecciones/analisis-voyant-tools), we added this banner at the end of the lesson:
![Screen Shot 2021-10-19 at 10 17 33 AM](https://user-images.githubusercontent.com/11022533/137928985-83f7384a-abad-4beb-951d-46756f6fad8e.png)

You coul

[2021-10-19 17:07] svmelton commented on #2187
Yes, please go ahead with copyediting! I think it's ok to merge the branch in the meantime. As I mentioned, it's just a matter of requesting a new DOI from Sussex, as far as I know (since we haven't actually run into this before!) I can get that started if we're ready, and I can cc you on the email if you'd like.

[2021-10-20 08:46] acrymble commented on #2336
It's also feasible to create a (virtually) bound version of the files if you want something you can distribute as a "special issue".

[2021-10-20 08:48] drjwbaker commented on #2336
"Special series" is better for this, as I don't want to get into a muddle with issue numbers (as these articles may cross over more than one volume/calendar year). But yeah, we could bundle as well.

[2021-10-20 10:36] anisa-hawes commented on #2141
Thank you, @jenniferisasi. Let's work on this together!

[2021-10-20 15:44] anisa-hawes commented on #2223
Dear @mariajoafana and dear all,

Apologies for the delay in uploading the Minutes of this meeting. I have now added them to our private repository, where they are available for you to view via this link:

https://github.com/programminghistorian/project-and-business-archive/blob/master/project/Meetings/2021/09_2021_ProjectTeamMeeting.md

Please let me know if you feel I have missed any important p

[2021-10-20 15:44] #2223 closed, assigned to anisa-hawes

[2021-10-20 18:07] anisa-hawes commented on #2187
Thank you, @svmelton! The branch representing the update to Python3 is now ready to merge. I've requested your review on the PR. I'll work on the copyedits separately, and let you know when the revised text is ready so we can connect with Sussex re: the new DOI.

@InesSalome and @spapastamkou – as soon as PR #2338 is merged, you will be able to use the live EN version of the lesson to update the c

[2021-10-20 18:42] spapastamkou commented on #2187
@anisa-hawes thanks!

[2021-10-21 09:52] #2187 closed, assigned to datalogism, InesSalome, matgille, anisa-hawes

[2021-10-21 16:54] anisa-hawes opened #2339 "Remove Global Team"
I am removing the Global Team from `teamroles.yml` and `ph_authors.yml`.

[2021-10-21 18:21] spapastamkou commented on #2235
thank you @InesSalome for the feedback.

[2021-10-21 18:35] spapastamkou commented on #2235
@anisa-hawes @hawc2 I drop here that once these changes are live, we should update the links we provide in Authors guidelines for the ph-submissions repo (even check all guidelines just in case). Maybe this is noted somewhere, but it is no harm to remind so that we do not forget. cc @svmelton @DanielAlvesLABDH @rivaquiroga

[2021-10-22 10:01] anisa-hawes commented on #2235
Thank you, @spapastamkou. I hadn't realised that links within the ES, FR and PT Author Guidelines directed to specific directories within Submissions. I will make sure to update those when this work is complete.

[2021-10-22 10:09] #2339 closed, assigned to anisa-hawes

[2021-10-22 10:40] anisa-hawes opened #2341 "Adding tested-date: to two lessons"
I am adding a `tested-date:` field to the yaml headers of basic-text-processing-in-r and cleaning-data-with-openrefine, which I have worked through recently.

[2021-10-22 10:57] anisa-hawes commented on #2341
Hello @jenniferisasi. Please let me know if you'd like me to add in the date you tested es/lecciones/procesamiento-basico-de-textos-en-r (you mentioned that the corpus and commands differed in this case).

[2021-10-22 11:16] anisa-hawes opened #2343 "Updating 2x screenshots in Setting Up an Integrated Development Environment for Python (Mac) EN, ES, PT"
The text of EN, ES, and PT lessons Setting Up an Integrated Development Environment for Python (Mac) has been updated for Python3 but the terminal screenshots have not been replaced. This is noticeable because the print statement shown in the second screenshot doesn't include parentheses.

[2021-10-23 15:17] jenniferisasi commented on #2341
@anisa-hawes I just checked, and everything still also works on the lesson in Spanish. Only part of it is different and the main functions are not altered.

[2021-10-27 10:28] anisa-hawes opened #2344 "Re-test Introducción a Map Warper"
A [recent thread on Twitter ](https://twitter.com/NYPLMaps/status/1452668555992965122?s=20) indicates that the NYPL Maps Division are closing their MapWarper project. It would be good to re-test our ES tutorial https://programminghistorian.org/es/lecciones/introduccion-map-warper, and see what the implications are/check that the lesson still works.

I can have a go at this, guided by the screensho

[2021-10-27 10:29] anisa-hawes commented on #2344
![Screenshot 2021-10-27 at 11 19 28](https://user-images.githubusercontent.com/87070441/139048860-29bd91a8-dc7f-4c05-948c-6ba0eae8a39c.png)

[2021-10-27 10:39] anisa-hawes commented on #2341
Thank you so much, @jenniferisasi ! I have added the `tested_date` metadata to the ES lesson too.

[2021-10-27 14:18] #2341 closed, assigned to anisa-hawes

[2021-10-27 14:23] anisa-hawes commented on #2341
Hello @ZoeLeBlanc and @jenniferisasi. Let me know how you feel we should move forwards to make `_layout/lesson.html` and `_data/snippets.yml` consistent? When we've made a decision, I can add the correct "tested date" metadata to these and the other lessons which Jenn identified, so that this shows on our website in all cases.

sustainable-authorship-in-plain-text-using-pandoc-and-markdown.md
up-a

[2021-10-27 15:07] anisa-hawes commented on #2266
Dear all,

I have added the minutes of our October Board of Trustees Meeting to our Project and Business repository. You can review them here: https://github.com/programminghistorian/project-and-business-archive/blob/master/business/Board-of-Directors-Meetings/2021/10-2021/BoT_minutes.md. These minutes are formatted in Markdown for your convenience.

As before, please write me a note if you feel I

[2021-10-27 15:07] #2266 closed, assigned to anisa-hawes

[2021-10-27 15:20] anisa-hawes commented on #2276
Hello @drjwbaker. You mentioned in the BoT meeting that very little has changed in terms of what it means to be a Member of the Editorial Board. Is there anything you'd like me to add to the Minutes to clarify this?

I've also added a note in the Minutes to reflect a comment you made about how we distinguish the roles/our expectations of volunteers vs employees. Is there further action to take her

[2021-10-27 16:13] nllano commented on #2344
Hi @anisa-hawes! Thanks for the heads up. I can help you re-test it and see if the lesson still works properly.

[2021-10-27 16:14] anisa-hawes commented on #2344
Ah! thank you, @nllano! Much appreciated!

[2021-10-28 08:30] drjwbaker commented on #2276
A bit of background. We agreed some time back to have one class of membership when we became an Ltd: "Member (Editorial Board)". This is what you see in the list of members. The action now is to move this membership over to the charity, though I just haven't found the time to properly go back to the relevant bit of '[The Essential Trustee](https://assets.publishing.service.gov.uk/government/upload

[2021-10-28 08:49] acrymble commented on #2276
I don't believe the charity has any volunteers. It only has trustees and staff (though it did have some summer students back in June, briefly).

The volunteers are volunteers of the Project Team.

[2021-10-28 09:25] drjwbaker commented on #2276
Blurred lines.

Are team members using Charity money to run outreach https://github.com/programminghistorian/jekyll/issues/2213 not volunteering for the Charity?

As we get used to being a charity I'd lean towards at least defining the distinction between paid and voluntary labour as set out by the guidance (e.g. generic: volunteers do not have set hours, are assumed to be responsible for their ow

[2021-10-28 10:01] acrymble commented on #2276
I don't agree, just like me spending IHR money doesn't make me a volunteer of the IHR.

We need to be careful here. A volunteer is someone operating under the direction and with the permission of someone within the charity. We don't direct the global lead, for example, so she isn't our volunteer.

[2021-10-28 10:09] anisa-hawes commented on #2276
Thank you @drjwbaker. I am meeting with Maria José next week and will raise these questions.

Some thoughts: It sounds as though we could usefully integrate the descriptions of voluntary work and staff work into the [Privileges-and-Responsibilities-of-Membership](https://github.com/programminghistorian/jekyll/wiki/Privileges-and-Responsibilities-of-Membership) page of the Wiki. Reviewing this, I t

[2021-10-28 10:22] drjwbaker commented on #2276
Okay. But we are a publisher. We provide loads of guidance for editors https://github.com/programminghistorian/jekyll/wiki And we call people volunteers https://programminghistorian.org/en/project-team When - say Alex - is working with Anisa on implementing permacc, is he working for himself, the project, or the Ltd?

I appreciate that the Ltd was designed to administer the legal and financial asp

[2021-10-28 10:49] acrymble commented on #2276
I agree our structure at the moment makes this very problematic. That's why I've been pushing for ProgHist ltd to replace the Project Team as the administrator of day-to-day publishing activities in their entirety. That clarifies these legal issues, but hasn't been popular so far.

[2021-10-28 11:57] drjwbaker commented on #2276
This has been a really helpful to and fro. I suggest we a) keep an eye on where work is happening and b) draw up a *brief* doc to say what we think a volunteer for the Charity is (which excludes editorial work).

[2021-10-28 14:58] amsichani commented on #2321
We 'd like to ask for some highlights from the @programminghistorian/french-team to be included to this update . Thanks !

[2021-10-28 18:28] amsichani commented on #2321
many thanks to all of you for contributing on this esp @anisa-hawes ! I ll close this as the final text is now with @drjwbaker

[2021-10-28 18:29] #2321 closed, assigned to amsichani, anisa-hawes

[2021-10-29 11:54] anisa-hawes opened #2346 "Meeting of MEs: Thursday 13th January 2022 at 14:00 UTC"
Hello @DanielAlvesLABDH, @rivaquiroga @svmelton and @spapastamkou.

As agreed in #2255, I am opening this Issue to agree an agenda and a date for the forthcoming meeting of MEs.

**Thursday 13th January at 14:00 UTC**.

**09:00 Boston / 11:00 Santiago / 14:00 Lisbon / 15:00 Paris**

The link to join our Zoom is: https://us05web.zoom.us/j/81129395969?pwd=RUlJazlZZ3dnNWJwdE5qemVVU3J2UT09

Meeting ID

[2021-10-29 12:27] anisa-hawes commented on #2209
Hello all.

Thank you for your thoughts on this. I am adding this Issue to the Better Editorial Onboarding Milestone because I have accounted for this in my re-draft of the Editorial Guidelines (soon to be tested in a pilot with the EN team).

I see Typesetting as one of the components of the Copyediting process, but agree with Adam that it can be understood as a distinct task which could be done

[2021-10-29 12:34] anisa-hawes commented on #1995
Hello @ZoeLeBlanc. I'm adding this Issue to the Better Editorial Onboarding Milestone, because the revised guidelines include instructions for the (proposed) technical editor, who would be supporting/undertaking this initial set up of the YAML header. Tagging @hawc2 here too, who is supporting me to revise the technical side of the guidance.

[2021-10-29 12:41] anisa-hawes commented on #2325
I've made a note within my re-draft of our Editorial Guidelines about adding in some guidance on how to define ‘difficulty` when we have agreed it here.

[2021-10-29 23:31] jenniferisasi commented on #2237
I think now all the items in the on-boarding process have been completed - the missing one was adding Nicolás to the google group.

[2021-10-29 23:31] #2237 closed, assigned to rivaquiroga

[2021-10-29 23:36] jenniferisasi commented on #2289
In order to keep track of things we try, I want to add in this ticket that:

@ZoeLeBlanc updated her Ruby version (thanks to a tip by Brandon Walsh) and it cut the build speed in half; from 7 minutes down to 3 and a half.

She's now thinking about how everyone can update their Ruby or if we should start trying to created a docker instance.

More TBD.

[2021-11-01 09:43] acrymble commented on #2346
It would be very helpful for other teams if this was minuted and those minutes were circulated.

[2021-11-01 13:39] svmelton commented on #2346
Thank you, @anisa-hawes! I am unfortunately going to be away that week for the US Thanksgiving holiday, and I'm not sure I'll have reliable internet access. Would it be possible to try for the week after? If that won't work, I can miss this meeting.

[2021-11-01 13:59] anisa-hawes commented on #2346
Ah! Sorry, @svmelton! I didn't think of this. I have added some further options to [the Doodle](https://doodle.com/poll/33dpyh3eg5cmcsq3?utm_source=poll&utm_medium=link).

Hello @spapastamkou and @DanielAlvesLABDH, Thank you for adding in your availability already. If you have a moment, please take another look to see if any of the additional options are possible within your schedules. Hopefully w

[2021-11-02 16:12] spapastamkou opened #2347 "Link problem EN lesson and ES translation: Introduction to the Principles of Linked Open Data"
I transfer here a dead link problem that became evident in PR #2114 and is exposed in [this comment](https://github.com/programminghistorian/jekyll/pull/2114#issuecomment-956191578).
I copy the essential part of the comment here:

Lessons affected:
/es/lecciones/introduccion-datos-abiertos-enlazados
/en/lessons/intro-to-linked-data

Relevant link:
```http://dbpedia.org/snorql/ ```
One the link tes

[2021-11-02 16:14] spapastamkou commented on #2347
@anisa-hawes Not sure if the issue needs further labels, please let me know if need to add spanish and english labels.

[2021-11-02 21:20] nllano commented on #2344
Hi, @anisa-hawes! The lesson is still running smoothly, aside from a couple of specific functionalities of Mapwarper's system. Here is a rundown of the key elements of the lesson.

- _Registro_: I was able to create an account on Mapwarper (using my email).
- _Cargar Mapa_: I sucessfully uploaded and deleted a map. I also was able to download the .csv file (no relation to Mapwarper’s system).
- _M

[2021-11-02 21:24] nllano commented on #2344
Let me know if I can help you with something else! :)

[2021-11-02 21:38] spapastamkou opened #2349 "Martin Grandjean offboarding"
- [x] Remove Google Groups access (@anisa-hawes or @jenniferisasi?)
- [x] Remove Google Analytics access (@acrymble) - only applicable to longer-serving members
- [x] Remove Github Jekyll access (@anisa-hawes or @ZoeLeBlanc?)
- [x] Remove from ProgHist Ltd register of members (@drjwbaker)
- [x] Remove Twitter access (@anisa-hawes)
- [x] Change team: true to team: false, and add team_end: YYYY to t

[2021-11-02 21:52] spapastamkou commented on #2349
@anisa-hawes I followed the latest instructions available on the wiki and see you are assigned most of the tasks. I put interrogations where I believe you do not have access yet (and I think @jenniferisasi contributed already - thanks!). Please let me know if the ticket seems ok and feel free to ask me if you want me to do something here. Thanks!

[2021-11-03 10:46] drjwbaker commented on #2276
I had a chance to look at this, and this is now resolved: see https://github.com/programminghistorian/project-and-business-archive/tree/master/business/Register-of-Members/2021 (in short, updated Register of Members template, changed article references, checked membership type fits [our articles](https://github.com/programminghistorian/project-and-business-archive/blob/master/charity/application/2

[2021-11-03 11:52] anisa-hawes commented on #2347
Thank you, @spapastamkou. You are right, that this is a Lesson Maintenance issue. I notice that the author actually pre-empts this, mentioning that end points such as the snorql one he uses in the example, "occasionally seem to go offline". He advises searching online for an alternative, via the term 'dbpedia sparql'.

However, the Query Editor offered here https://dbpedia.org/sparql has a much ch

[2021-11-03 12:14] anisa-hawes opened #2351 "Updating initial contact information on Research pages"
I am updating the initial contact information on the Research pages of our website, so that our MEs are no longer listed as first point of contact for academic researchers using the project.

[2021-11-03 12:24] spapastamkou commented on #2347
@datalogism?

[2021-11-03 12:45] anisa-hawes commented on #2298
Just a note to let the @programminghistorian/portuguese-team & all others know that _Programming Historian em português_ is now listed on Sherpa Romeo!

You can view the publication's entry here: https://v2.sherpa.ac.uk/id/publication/40243, and find our publisher information here: https://v2.sherpa.ac.uk/id/publisher/62625

[2021-11-03 13:08] josircg commented on #2298
Excelent news Anisa!

[2021-11-03 13:10] datalogism commented on #2347
Hey, you knocked on the right door, as i'm responsive of the french DBpedia chapter, of course that i can help you !
The snorql endpoint is GUI which is not longer used by the DBpedia project for requesting a Sparql endpoint.
This one declared for us some useful and commonly used prefix, that's why the request does not specify them within it.

As this entry is not available today we may need to re

[2021-11-03 13:43] anisa-hawes commented on #2347
Hooray! Thank you so much Célian @datalogism!

Do you think we could work together to update this tutorial? It is currently available in both English and Spanish.

If I understand correctly, to solve the immediate problem, we will need to:

- [x] replace the broken link to https://dbpedia.org/sparql
- [x] remove all mentions of snorql
- [x] replace screenshots fig1, 2, 3, 4 which show the snorql G

[2021-11-03 14:21] anisa-hawes commented on #2349
Thank you, @spapastamkou. I have initiated a PR to update `ph_authors.yml` and @acrymble has kindly removed Martin's Jekyll access.

Hello @ZoeLeBlanc, I don't currently have "owner" credentials to our repositories, so I'm unable to add/remove members or change their roles in our Teams. Let me know if you want to review this so I can help take care of these tasks in the future.

[2021-11-03 15:24] DanielAlvesLABDH commented on #2298
Great news @anisa-hawes! Many thanks!

[2021-11-03 16:05] #2351 closed, assigned to anisa-hawes

[2021-11-03 17:30] anisa-hawes commented on #2347
Hello @svmelton and @rivaquiroga,

I've made the changes listed above to the EN version of this lesson within [Branch #2347](https://github.com/programminghistorian/jekyll/tree/Issue-2347).

Please let me know if you feel this solution seems suitable? Unfortunately, one of the aspects of the lesson that is lost here, relates to recognising prefix declarations, because they are not shown in the upd

[2021-11-03 17:33] datalogism commented on #2347
@anisa-hawes no problems, for more advanced updates we keep in touch, i will do it next months

[2021-11-03 17:35] anisa-hawes commented on #2349
Just a note to say that I've checked the most recent [Register of Members](https://github.com/programminghistorian/project-and-business-archive/blob/master/business/Register-of-Members/2021/2021-11_ProgHistLtd_Register-of-Members.docx) and Martin's name has already been removed.

[2021-11-03 18:26] anisa-hawes commented on #2344
Thank you for your thorough work @nllano! This is an enormous effort and is much appreciated.

Is there any chance you have time to translate this note into Spanish?

1. "As of April 2021, Mapwarper will no longer be updated by NYPL and has been archived. This means all embedded views utilizing Mapwarper will no longer work once the site is archived. However, all contributions and data have been r

[2021-11-03 18:58] anisa-hawes commented on #2341
Hello @ZoeLeBlanc. What are your thoughts about how we should make `_layout/lesson.html` and `_data/snippets.yml` consistent? Another lesson has just been tested and I'd like to add a tested date there too!

[2021-11-03 19:16] anisa-hawes opened #2353 "Suggested edit to Introduction to stylometry with Python"
A reader has suggested that we make an edit to the introductions of

en/lessons/introduction-to-stylometry-with-python
fr/lecons/introduction-a-la-stylometrie-avec-python

to remove notes about differences in syntax between Python2 and Python3. I agree with him that these notes are no longer required, because this lesson as well as the two older lessons the author refers to (https://programminghis

[2021-11-03 19:31] anisa-hawes commented on #2344
I'm happy to create the new branch & implement these changes, but I do need a hand to get the Spanish right! 🙂

[2021-11-03 19:34] anisa-hawes commented on #2301
Hello @jairomelo. Are you able to help me to resolve the two questions above? With many thanks!

[2021-11-03 19:58] nllano commented on #2344
Happy to help! Sure, I can work on the translations, no problem.
I like the idea of the blue "alert information" box, and the yellow "warning alert" on those two sections that are not working properly.

[2021-11-03 20:25] jairomelo commented on #2301
oop! sorry, I thought I already answered :man_facepalming:. I don't know where my head is.

1. I think the best is to delete all mentions to GoogleV3. This could lead to confusion and even frustration for users who could get stuck when tried to use this tool. Also, as a corporative product, they'll trend to update them more often, hindering the lesson maintenance over time.
2. "Do you want me to r

[2021-11-04 07:56] drjwbaker commented on #2349
Indeed. I was in there sorting out https://github.com/programminghistorian/jekyll/issues/2276#issuecomment-958890016 so thought I may as well remove Martin at the same time.

[2021-11-04 08:38] acrymble commented on #2072
@anisa-hawes when you're able can you please audit this ticket so we can create a new list of recommendations that aren't yet implemented? The thread has become very long.

[2021-11-04 10:54] anisa-hawes commented on #2344
Wonderful, thank you @nllano!

[2021-11-04 10:55] anisa-hawes commented on #2349
Thank you, @drjwbaker 🙂

[2021-11-04 12:18] anisa-hawes commented on #2347
Ah! Hello again all,

Before I started working on this yesterday, I emailed Dbpedia <dbpedia@infai.org> to ask if the broken link to the SNORQL query explorer (at http://dbpedia.org/snorql) represented a temporary problem or if the service was to be discontinued...

After the work done yesterday ... I have just received a reply from them! They say: "We fixed the problem. The links are available ag

[2021-11-04 12:44] datalogism commented on #2347
Did you already update it ?
If the service is now available the better may be to not modifying it, no ?

[2021-11-04 12:46] anisa-hawes commented on #2347
I've updated it in a Branch, but have not merged it. I think it might be better to hold off modifying it.

[2021-11-04 13:28] #2347 closed, assigned to datalogism, anisa-hawes

[2021-11-04 14:50] #2349 closed, assigned to spapastamkou, anisa-hawes

[2021-11-04 16:51] anisa-hawes commented on #2301
Thank you so much, @jairomelo!

Working on the same branch, #[2301](https://github.com/programminghistorian/jekyll/tree/Issue-2301), I've made the following edits:

line 238 deleted "# geolocator = GoogleV3()"
line 378 removed "#" so that the line `# geolocator = Nominatim(timeout=5)` is uncommented

line 119: removed GoogleV3
line 130: removed GoogleV3
line 167: removed the sentence "Generally, G

[2021-11-04 17:24] anisa-hawes commented on #2298
@drjwbaker & I worked together this morning to create our 2021 citable deposit: https://zenodo.org/record/5645020#.YYQUt73P25M. We've updated the Service Integrations Wiki page with the latest information.

Next steps: we are in the process of setting up a generic project-owned GitHub account with webhook to Zenodo enabled. This account will be linked to the project email address too, rather than

[2021-11-04 17:47] anisa-hawes commented on #2343
Noted that Text Wrangler has changed its name: https://www.barebones.com/products/textwrangler/ so I need to update mentions of this too.

Meanwhile, the latest Komodo Edit v.12 is unstable for use on BigSur. I have also tried v.11 and v.10, but upon performing any click, the application crashes...

Will see if I can create the new screenshots needed on a friend's computer. Unless someone else on

[2021-11-04 17:54] anisa-hawes opened #2356 "Edits required to Georeferencing in QGIS 2.0"
In the process of translating the EN and ES lesson into PT @joanacvp and @Angelaimp have noted the following issues:

--

See: Submissions [#409](https://github.com/programminghistorian/ph-submissions/issues/409)

Good morning @anisa-hawes. Hope everything is ok with you. When translating this lesson @Angelaimp spotted some incorrections in the english version (she used QGIS 3.0):

- [x] In "Open

[2021-11-04 18:39] anisa-hawes commented on #2356
Dear @joanacvp and @angelaimp,

I have re-positioned the links and the corrected Markdown syntax at the following lines:

line 47 [Intro to Google Maps and Google Earth](/lessons/googlemaps-googleearth)
line 59 [rubber-sheeting](http://en.wikipedia.org/wiki/Rubbersheeting)
line 80 [Coordinate Reference System](http://en.wikipedia.org/wiki/Spatial_reference_system)
line 81 [Installing QGIS 2.0 and

[2021-11-04 18:40] anisa-hawes commented on #2356
P.S. I've removed the 'Spanish' label, because these issues do not appear in in that version of the lesson.

[2021-11-04 18:57] jairomelo commented on #2301
Sure! All that paragraph and table must be updated too. I suggest something like the following:

Next, select the geolocator .  Here we're creating one geolocator: Open Street Map's Nominatim.  Here's a quick list of characteristics:
| Geolocator                       | Nominatim()                                                                 |
| -------------------------------- | --------------

[2021-11-04 19:02] anisa-hawes commented on #2301
Thanks again, @jairomelo! I will make these final changes tomorrow. Very best for now, Anisa

[2021-11-05 08:16] drjwbaker commented on #2266
@anisa-hawes for info, I've moved these docs to the `Charity` directory where BoT minutes/papers should go from now on https://github.com/programminghistorian/project-and-business-archive/tree/master/charity/Board-of-Trustees-Meetings/2021/10-2021

[2021-11-05 08:23] drjwbaker commented on #2298
Further to this, can somebody with the right permissions (@ZoeLeBlanc?) please add https://github.com/proghist as a member of our repo? Context here that the github-to-zenodo webhook is connected to my personal account, which is a dependency issue, so @Anisa Hawes and I agreed to migrate to a generic github attached to the shared gmail.

[2021-11-05 08:28] acrymble commented on #2298
done @drjwbaker

[2021-11-05 10:40] drjwbaker commented on #2298
Request made to @zenodo per this ticket https://github.com/zenodo/zenodo/issues/826

[2021-11-05 12:17] anisa-hawes commented on #2301
Enormous thanks, @jairomelo! ✨
Changes are complete.

[2021-11-05 13:13] anisa-hawes commented on #2276
Hello @drjwbaker. I've drafted a brief text, which I think might provide a good start towards fulfilling Section 7.7. I have adapted this from the [Privileges and Responsibilities of Membership](https://github.com/programminghistorian/jekyll/wiki/Privileges-and-Responsibilities-of-Membership) page of the Wiki. Let me know what you think.

--

What does being a volunteer for _Programming Historian_

[2021-11-05 14:41] drjwbaker commented on #2276
Many thanks for drafting @anisa-hawes. I think that does the trick. @acrymble: would having wording like this that we could point to as a 'description of our voluntary roles' ease the concerns you've expressed above?

[2021-11-05 15:17] acrymble commented on #2276
If someone fails to meet those standards, who has to have the conversation with them about moving on? If that's me, then no I don't agree to this because it's thankless and emotionally exhausting. If it's someone in the Project Team, then I don't think it matters what I think.

Editors aren't ProgHist volunteers. They're our members. We're responsible to them, not the other way around.
Project tea

[2021-11-05 15:23] anisa-hawes commented on #2276
Let's chat, Adam. I think I have mis-understood the distinction between volunteers of the Project Team and volunteers of the Editorial Board.

I'm also happy to draft a further section about the procedures for how we remove members who don't meet those requirements/fulfil their responsibilities.

[2021-11-05 15:35] drjwbaker commented on #2276
I don't think this was intended as a job for you. A community of practice should maintain its own community standards. This isn't a requirement. It is a polite ask.

I refer back to my point at https://github.com/programminghistorian/jekyll/issues/2276#issuecomment-953712508.

First, we call people volunteers on our [About page](https://programminghistorian.org/en/project-team). Second, in terms o

[2021-11-05 15:36] joanacvp commented on #2356
Thank you very much for your support @anisa-hawes

[2021-11-05 15:51] acrymble commented on #2276
It's a big issue for me because if something goes wrong, it will be up to me to spend the time and energy to handle it. I'm not willing to be responsible everyone on the project. Our project structure is very clear and disseminated in our business plan among other places. ProgHist's remit is not for the entire project, so everyone who engages with PH is not a ProgHist volunteer.

Under our current

[2021-11-05 16:01] drjwbaker commented on #2276
Adam. I think we are speaking past each other. I am not proposing changing the project structure. I am acknowledging the reality of being a charity in the UK and that Charity Commission asks us to make clear the difference between paid work and voluntary work. We already basically have this text https://github.com/programminghistorian/jekyll/wiki/Privileges-and-Responsibilities-of-Membership. What

[2021-11-05 16:22] #2353 closed, assigned to anisa-hawes

[2021-11-05 16:22] #2356 closed, assigned to anisa-hawes

[2021-11-05 17:21] nllano commented on #2344
**NYPL Note:** "A partir de abril de 2021, la NYPL dejará de actualizar Mapwarper, y este quedará archivado. Esto significa que todas las vistas incorporadas (_embedded_) que utilicen Mapwarper dejarán de funcionar una vez que la página sea archivada. Sin embargo, todas las contribuciones y datos han sido guardadas por la Biblioteca para usos e investigaciones futuras.”

**Georreferenciación** "De

[2021-11-05 18:28] anisa-hawes commented on #2344
Thank you so much, @nllano! I have run out of time today, but I will update the lesson file next week ✨

[2021-11-05 19:31] nllano commented on #2344
Great. You're welcome, @anisa-hawes!

[2021-11-05 20:29] anisa-hawes opened #2359 "Project Team Meeting: Thursday 16th December 2021"
Minutes of our September meeting are [here](https://github.com/programminghistorian/project-and-business-archive/blob/master/project/Meetings/2021/09_2021_ProjectTeamMeeting.md).

Date: Thursday 16th December. Thank you for filling in your availability in the [Doodle Poll](https://doodle.com/poll/x7uqypnt3rchwwsg?utm_source=poll&utm_medium=link)
Time: 09:00 COT / UTC−05:00

Maria José @mariajoafan

[2021-11-06 16:55] rivaquiroga opened #2360 "tools to facilitate editorial tasks + discussion about yaml fields & naming images"
Hi, everyone!

The Spanish team is currently working on creating tools to facilitate our editorial tasks. While developing these tools, we realized that there are some parts of our workflow that we need to standardize. The aim of this ticket is to share what we have been working on, and to start (or continue) the discussion around some parts of our workflow.

## The tools

They are all in their fi

[2021-11-08 08:47] drjwbaker opened #2362 "Possibility to a Code of Conduct (to take advantage of new GitHub feature)"
In the same way that a `license.md` file is highlighted on the right side of a repo page, GitHub [now highights](https://twitter.com/github/status/1456635470339788803) `code_of_conduct.md`.

We have a few CoC-like docs scattered around - e.g. https://github.com/programminghistorian/jekyll/wiki#social-guidance and https://programminghistorian.org/en/author-guidelines#holding-us-to-account - so I wo

[2021-11-08 09:59] rivaquiroga commented on #2362
Yes! That would be great.

[2021-11-09 15:30] drjwbaker commented on #2362
@rivaquiroga: how about something like this? https://github.com/programminghistorian/jekyll/pull/2363

[2021-11-09 15:47] rivaquiroga commented on #2362
Great! We can add a section in that same file for the other three languages.

[2021-11-09 15:59] drjwbaker commented on #2362
I kept the text minimal for that reason (and the opening block of text is largely copied from https://programminghistorian.org/en/editor-guidelines#anti-harassment-policy)

[2021-11-10 11:10] drjwbaker commented on #2298
Any chance you could redo this @acrymble (or someone else with permissions). I hit the link whilst logged in with the wrong account. Very sorry!

[2021-11-10 11:41] anisa-hawes opened #2364 "Newsletter: December 2021"
Dear all, I am opening this Issue to collate content for our December Newsletter. Please let me know if you have ideas for inclusion under the headings I've set out below, or if you'd like to suggest something else. Edits and comments are very welcome!

Thank you!

Anisa

Newsletter: December 2021
---

1. **Recent research activities**: Have you contributed to articles or events that you'd like me

[2021-11-10 11:56] #2362 closed, assigned to drjwbaker

[2021-11-10 13:45] datalogism commented on #2042
TO DO (resumption of remarks of #2312) :
* Being more precise concerning how to underline the name of file / variables / and functions (taking a look on english guidelines)
* taking a concrete position on the translation issue of the codes content

[2021-11-10 14:01] anisa-hawes opened #2366 "Translation of our Code of Conduct."
@drjwbaker has created a Code of Conduct for us! See #2362. Thank you, James!

With PR #2363 we've merged the EN text into Jekyll, but translations into ES, FR and PT would be welcome!

The text is [here](https://github.com/programminghistorian/jekyll/blob/gh-pages/CODE_OF_CONDUCT.md) if anyone in the @programminghistorian/spanish-team, @programminghistorian/french-team and @programminghistorian/p

[2021-11-10 16:09] joanacvp commented on #2366
Hi @anisa-hawes! Here follows the PT translation.
@DanielAlvesLABDH do you agree with everything? Also, do we have the first linked document translated?

# Código de Conduta do Programming Historian

O *Programming Historian* não tem um código de conduta único, mas sim um conjunto de documentos que representam a nossa dedicação em providenciar um ambiente aberto que ofereça à comunidade de partici

[2021-11-10 16:26] anisa-hawes commented on #2366
Thank you, @joanacvp! The Wiki is only available in English at the moment, so maybe for that link we can add a note to say _(em Inglês)_?

[2021-11-10 16:44] jenniferisasi commented on #2366
_Programming Historian_ no tiene un único código de conducta. Más bien, tenemos varios documentos que presentan nuestra dedicación a proporcionar un entorno académico abierto que ofrece a sus participantes la libertad de analizar a fondo ideas, de hacer preguntas, de hacer sugerencias o de solicitar aclaraciones, pero siempre desde un espacio libre de acoso para quienes contribuyan al proyecto, in

[2021-11-10 16:48] joanacvp commented on #2366
Yes @anisa-hawes, we can add the note "(em inglês)". It will be better. Thank you :)

[2021-11-10 16:51] anisa-hawes commented on #2366
Thank you, @jenniferisasi!

[2021-11-10 17:34] acrymble commented on #2364
There are some new IPPs that may or may not be complete. @drjwbaker can let you know the ones that are ready to announce closer to the date.

[2021-11-10 18:02] anisa-hawes commented on #2343
I borrowed a mac running macOS Mojave, and have been able to work through the steps on Komodo Edit v.12.0...
<img width="1262" alt="Screenshot 2021-11-10 at 17 30 46" src="https://user-images.githubusercontent.com/87070441/141164582-72f556c0-81ad-4ef4-971c-08a00b663db6.png">

And I've worked through the steps in Terminal too...
![Screenshot 2021-11-10 at 17 44 26](https://user-images.githubusercon

[2021-11-10 18:13] anisa-hawes commented on #2343
Done 🙂

So typical, when I have just asked for help/given up!

![Screenshot 2021-11-10 at 18 12 30](https://user-images.githubusercontent.com/87070441/141169689-adf7ceaf-93f8-4100-9325-a47571c5f2a0.png)

[2021-11-11 00:07] ZoeLeBlanc commented on #2298
Just sent you another invite (this time to the Project Team so you would have access to multiple repos). Let me know if that works or not @drjwbaker !

[2021-11-11 07:40] drjwbaker commented on #2298
Perfect. Thanks @ZoeLeBlanc.

[2021-11-11 12:46] anisa-hawes opened #2370 "Fix typing error in OCR-and-Machine-Translation.md"
A reader has alerted us to a typing error at paragraph 79 of the EN lesson OCR and Machine Translation.

[2021-11-11 12:52] anisa-hawes opened #2371 "Insert missing word into analyzing-documents-with-tfidf.md"
A reader has alerted us to a missing word at paragraph 289 of the EN lesson Analyzing Documents with TF-IDF.

[2021-11-11 13:50] anisa-hawes opened #2372 "Remove 'Technical Issues' warning in naive-bayesian.md"
A reader has alerted us to the fact that the warning which prefaces our EN lesson _Supervised Classification: The Naive Bayesian Returns to the Old Bailey_ is no longer required, because the Old Bailey Online API is fixed.

[2021-11-11 13:57] anisa-hawes opened #2373 "Correct typing error in September Newsletter and update my GitHub handle on Project Team page"
Correcting a typing error in our September Newsletter
Updating my GitHub handle on our Project Team page

[2021-11-11 14:12] #2373 closed, assigned to anisa-hawes

[2021-11-11 14:25] #2371 closed, assigned to anisa-hawes

[2021-11-11 14:26] #2370 closed, assigned to anisa-hawes

[2021-11-11 16:25] anisa-hawes commented on #2366
Hello @programminghistorian/french-team. Let me know if anyone has time to offer a translation into French? If so, I can create a new branch and make all the additions in a single pull request. Thank you

[2021-11-11 16:28] matgille commented on #2366
Hi @anisa-hawes @programminghistorian/french-team, I can submit a translation if you want ! Just let me a day or two, if possible.

[2021-11-11 16:32] anisa-hawes commented on #2366
Excellent! Thank you, @matgille! Next week is fine -- whenever you have time! The paragraph is [here](https://github.com/programminghistorian/jekyll/blob/676cb0d947581580eb209f544dd1ceab1a6377ac/CODE_OF_CONDUCT.md) in English.

[2021-11-11 16:38] matgille commented on #2366
Thanks ! I have a question not related to this issue (I want to know if it's worth opening a new issue): I was searching for the Code of Conduct page in the website and couldn't find it; is there a search bar available ? I see a search bar for lessons, but no tool to search the entire website... I think it could be useful for editors and / or translators-reviewers.

Matthias

[2021-11-11 16:48] anisa-hawes commented on #2366
Oh! I asked the same question! Actually the Code of Conduct isn't a page on our website, but rather within our Jekyll repository. If you navigate to the Code tab, you will find it in the right-hand column. It is in the About section, underneath the Readme.

![Screenshot 2021-11-11 at 16 44 50](https://user-images.githubusercontent.com/87070441/141336591-b3022c5f-c4b2-4ece-8d51-724518c54190.png)

[2021-11-11 16:51] anisa-hawes commented on #2366
There is also [an Issue](https://github.com/programminghistorian/jekyll/issues/2324) open about troubleshooting/improving the Search facility, which you could maybe add this idea to @matgille.

[2021-11-11 16:52] matgille commented on #2366
Thanks @anisa-hawes, I'll do it = )

[2021-11-11 17:04] anisa-hawes commented on #2346
Hello there @spapastamkou. I wonder if you have had time to review the new options in [the Doodle](https://doodle.com/poll/33dpyh3eg5cmcsq3?utm_source=poll&utm_medium=link)? It looks as though Thursday December 2nd would be the best date for all, if you are able to join then?

[2021-11-12 06:45] spapastamkou commented on #2346
I am unfortunately not available, sorry.

[2021-11-12 09:59] drjwbaker commented on #2364
If everyone pays on time, by then we'll have added:

- Georg-August-Universität Göttingen (just paid!)
- MIT Libraries
- Purdue University
- University of Nebraska-Lincoln

[2021-11-12 11:01] #2301 closed, assigned to anisa-hawes

[2021-11-12 11:01] #2372 closed, assigned to anisa-hawes

[2021-11-12 11:01] #2343 closed, assigned to anisa-hawes

[2021-11-12 11:05] anisa-hawes commented on #2346
Please don't worry, Sofia.

What do you all think? @spapastamkou, @svmelton, @rivaquiroga and @DanielAlvesLABDH

At the moment, Thursday 2nd December at 14:00 (UTC) is the only slot when at least three of you are available.
Would you like me to try to find further options? Or shall we settle on this?

[2021-11-12 11:18] DanielAlvesLABDH commented on #2346
How about 8 or 9 of December?

Anisa Hawes ***@***.***> escreveu no dia sexta, 12/11/2021
à(s) 11:05:

--

*Daniel Alves*

Subdirector Adjunto da NOVA FCSH

Editor IJHAC: A Journal of Digital Humanities (
https://www.euppublishing.com/loi/ijhac)
Editor The Programming Historian PT (https://programminghistorian.org/pt/)

Coordinator of the IHC Digital Humanities Lab (dhlab.fcsh.unl.pt)

Departament

[2021-11-12 11:27] DanielAlvesLABDH commented on #2364
Hi @anisa-hawes. The PT team has published two new lessons since September: Noções básicas de R com dados tabulares (https://programminghistorian.org/pt/licoes/nocoes-basicas-R-dados-tabulares) and Processamento Básico de Texto em R (https://programminghistorian.org/pt/licoes/processamento-basico-texto-r)
We also finished the programme "Fundação para a Ciência e Tecnologia, através do apoio especi

[2021-11-12 11:29] anisa-hawes commented on #2087
Hello @lwrubel and @svmelton.

I've added the On Hold label to this Issue, to reflect that we will be returning to update this lesson in the future but a solution isn't available right away.

In the meantime, I would like to suggest that we add an info/warning box to the live site, to let readers know that the export options available for Tweet Sets are limited in the current release, and that we'

[2021-11-12 11:33] anisa-hawes commented on #2346
Unfortunately, I am contributing to an external event on one of those two days but the date has not yet been confirmed...
I will follow up and come back to you!

[2021-11-12 11:40] anisa-hawes commented on #2364
Thank you, @DanielAlvesLABDH!

Apologies! I did a quick check of Noções básicas de R and Processamento Básico de Texto em R but noted that the translation dates were 2021-08-28 and 2021-07-13 so I was thinking they were older, but can see now that they have been modified more recently! I'll add them to my notes for the Newsletter.

[2021-11-12 11:55] DanielAlvesLABDH commented on #2364
That is probably my fault. I usually use the date the translators send the file to us as the date of translation, but in reality the publication of that translation is a couple of weeks or moths later, after peer review.

[2021-11-12 11:58] anisa-hawes commented on #2364
Understood, but don't worry!

I checked the Mid-year Newsletter and didn't see them there, so I could have guessed that they weren't yet published!

[2021-11-14 14:28] DanielAlvesLABDH commented on #2366
Obrigado pela tradução Joana e obrigado todos por mais este documento.

[2021-11-14 17:36] matgille commented on #2366
Hi @anisa-hawes, here comes the french translation:

---

Programming Historian n'a pas de code de conduite proprement dit. Nous proposons plutôt un ensemble de documents qui présentent notre engagement à promouvoir un environnement académique ouvert qui puisse offrir à ses participants et participantes la possibilité d'analyser finement des idées, de poser des questions, de faire des suggestions,

[2021-11-14 20:55] spapastamkou commented on #2366
thank you very much, @matgille! it is perfect. I edited directly (to save you time) to make the following changes:

contributeur(ices)s => contributeurs et contributrices _(pour être en harmonie avec participants et participantes qui précède)_
aucun attaque => aucune attaque _(e oublié)_

And in the end of the text these forms only because we have them already like this in the various guidelines.

[2021-11-15 09:10] spapastamkou commented on #2364
@anisa-hawes We may have a new FR translation published until then, I'll let you know when/if this is the case.
Update, 22 Nov: added

[2021-11-15 11:37] rivaquiroga commented on #2364
@anisa-hawes, we will publish a new lesson this week. I'll let you know when it's done.

[2021-11-15 13:40] anisa-hawes commented on #2346
Hello @DanielAlvesLABDH, @rivaquiroga, @svmelton and @spapastamkou. I have added some new options to our [Doodle Poll](https://doodle.com/poll/33dpyh3eg5cmcsq3?utm_source=poll&utm_medium=link). Hopefully we can find an option that is possible for all!

The date of my other commitment has been confirmed for the 9th, so I'm not able to offer that day.

[2021-11-15 13:51] matgille commented on #2366
@spapastamkou Thanks ! That's perfect.

[2021-11-15 14:00] lwrubel commented on #2087
Hi @anisa-hawes,

I've almost got a PR ready with suggested revisions to the lesson, sorry for the delay! I think an info box is a good idea. It could say something like:

"TweetSets export options have changed since this lesson's last update. Users should select one dataset at a time to export. Nodes and edges files for mentions are available for selected full datasets and more will be available

[2021-11-15 14:04] jenniferisasi commented on #2364
I just edited the name of UNL as it was Lincoln first, then Nebraska. As their alumn, it was easy to spot :)

[2021-11-15 14:32] rivaquiroga commented on #2366
@jenniferisasi, I made a small change: "no tiene un código de conducta" -> "no tiene un único código de conducta"

[2021-11-15 14:49] svmelton commented on #2364
We'll be publishing a new lesson, as well. You could also add our presentation on this Wednesday Nov. 17 at the [Open Publishing Fest](https://openpublishingfest.org/calendar.html#event-69/).

[2021-11-15 22:01] spapastamkou commented on #2360
Hi Riva, on point 2: here is some information on the FR experience.
In the very first case that remains unique, we followed the logic found in the file for the EN and ES image to be in harmony with the rest. You can see the file [here](https://github.com/programminghistorian/jekyll/blob/gh-pages/images/cleaning-data-with-openrefine/vueRegroupementValeurs.png) and the folder of the lesson [here](ht

[2021-11-15 22:35] spapastamkou commented on #2042
@datalogism En fait, j'ai ouvert à nouveau ce ticket car les consignes aux auteurs n'ont pas été mergés et cela sert de rappel:)
Pour les questions que tu évoques, nous pouvons les discuter au sein de l'équipe et, s'il en ressort des propositions concrètes, soit les appliquer aux traductions fr, soit, si elles concernent plus largement les autres équipes langagières, discuter ces propositions avec

[2021-11-17 11:16] anisa-hawes commented on #2364
Thank you, @svmelton! I'll add this to the Research pages of our website too.

[2021-11-17 11:28] anisa-hawes opened #2377 "Update broken link in detecter-la-reutilisation-de-texte-avec-passim.md"
I am updating a broken link <http://dharchive.org/paper/DH2014/Panel-106.xml> at line 914 of `detecter-la-reutilisation-de-texte-avec-passim.md`. I am replacing it with <https://wiki.digitalclassicist.org/Text_Reuse>.

This link features in both the FR translation and EN original versions of this lesson.

[2021-11-17 12:14] anisa-hawes opened #2380 "Add Gold Tier IPP membership option"
I am adding a Gold Tier IPP membership option to en/ipp, es/pia, fr/pi, pt/ppi.

[2021-11-17 12:29] anisa-hawes opened #2381 "Update USD IPP rate"
I am updating the USD membership rate, increasing it to $1400 at the £1k level. This is to reflect the fall in the value of the dollar against the pound.

[2021-11-17 12:58] anisa-hawes commented on #2380
Thinking about how best to do this....

I suggest we could amend the title of the existing table 'Partnership Rates:' to make that '**Standard Partnership Rates**:'
Then add another table below to set out our '**Gold Partnership Rates**:'. e.g., for EN

| Upper Income Countries  | Middle Income Countries | [ODA eligible countries](http://www.oecd.org/dac/financing-sustainable-development/developme

[2021-11-17 13:03] anisa-hawes commented on #2380
It might be worth us talking about what further incentives we are able to offer our Gold partners. Can we specify what their special benefits would be in the text below?

[2021-11-17 13:19] anisa-hawes opened #2384 "Modify code in Python lesson sequence across EN, ES, FR and PT"
An "str/bytes" error is produced at the [Saving a Local Copy of a Web Page](https://programminghistorian.org/en/lessons/working-with-web-pages#saving-a-local-copy-of-a-web-page) step of Downloading Web Pages with Python (lesson 5 of 15 in the Python lesson series).

The command `response = urllib.request.urlopen(url)` appears to return a bytes object, which Mac and Windows handle differently when

[2021-11-17 13:56] drjwbaker commented on #2380
Comparable initiatives don't really offer extra incentives, apart from pretty badges https://www.openlibhums.org/plugins/supporters/, and an extra glow of satisfaction. Going way way back to when we setup IPP, we said we don't want to promise person time we can't deliver, or create extra services (e.g. a workshop service) that adds work and distracts from core mission. So my instinct is that we ju

[2021-11-17 14:07] rivaquiroga commented on #2384
@jairomelo, what do you think about this?

[2021-11-17 14:14] anisa-hawes commented on #2384
I have just tested:

[code]

on my mac, and was able to download the .html file, then view its source:

![Screenshot 2021-11-17 at 14 10 49](https://user-images.githubusercontent.com/87070441/142216399-1927bd45-034c-4bdc-966c-deb889921ee3.png)

![Screenshot 2021-11-17 at 14 10 44](https://user-images.githubusercontent.com/87070441/142216436-35c1482b-737b-4a24-9937-0016369dbe8d.png)

I needed to br

[2021-11-17 14:18] anisa-hawes commented on #2380
Okay, thank you @drjwbaker. This makes sense. Personally, if I was a Gold supported I don't think I would need any extra special rewards other than an acknowledgement of that support.

[2021-11-17 14:34] ericbrasiln commented on #2384
Hello @anisa-hawes
I've tested the code with `decode ('UTF-8')` on Ubuntu with Python 3.9 and it worked perfectly.
No further action was required.

[2021-11-17 14:51] anisa-hawes commented on #2384
Thank you so much, @ericbrasiln! This is great.

I think I will need to look onwards into the sequence, because it seems that any step we currently instruct the command `= response.read()` It should instead be `= response.read().decode('UTF-8')`. Because this error would be an issue anytime a user attempts to web scrape...

[2021-11-17 14:54] anisa-hawes commented on #2384
And I would need to update the Zip files of the code for these lessons as well!

[2021-11-17 15:00] anisa-hawes commented on #2384
**Important note**: Credit for this brilliant fix is not mine. Enormous thanks due to ✨@walshbr✨  + his co-worker @shane-et-al!

[2021-11-17 15:05] walshbr commented on #2384
I found the fix on stack overflow but @shane-et-al confirmed it was the right approach and gave some useful context!

[2021-11-17 15:07] anisa-hawes commented on #2346
Thank you all for your patience with this scheduling. We'll meet on **Thursday December 2nd at 14:00 UTC**. Please add your ideas for our agenda into the initial comment of this Issue.

[2021-11-17 15:14] rivaquiroga commented on #2346
@anisa-hawes, 14:00 or 15:00 UTC? The ticket name says 15:00

[2021-11-17 15:15] anisa-hawes commented on #2346
Apologies! 14:00 UTC.

[2021-11-17 15:19] rivaquiroga commented on #2346
Great! See you then :tada:

[2021-11-17 15:25] #2377 closed, assigned to anisa-hawes

[2021-11-17 15:28] jairomelo commented on #2384
I think all is resolved now :sweat_smile: And it's a great solution because it assures backwards compatibility.

[2021-11-17 15:29] acrymble commented on #2380
Thanks @anisa-hawes. I'm aware this will be really visually intensive if we have a second table. And it didn't really occur to me that we'd have a Gold Tier for ODA and Middle Income countries (I was thinking 1 new tier, not 3).

I believe we're trying to encourage high resource groups to give more, rather than create lots of more options across the sector.

[2021-11-17 15:38] anisa-hawes commented on #2380
I see. Apologies for mis-understanding.

| Gold Tier Rate  |
|---|
| £3,000 GBP  |
| $4,200 USD  |
| €3,600 EUR  |
| $5,100 CAD  |

And to avoid introducing another table we could simply add a sentence underneath the existing one:

_If your institution has resource to offer us even greater support, we also welcome Partnerships at our Gold Tier. Gold Tier Partnership rates are £3,000 GBP / $4,200 U

[2021-11-17 17:06] #2344 closed, assigned to nllano, anisa-hawes

[2021-11-17 17:28] anisa-hawes commented on #2359
Dear all,

Many of you have already filled in the [Doodle Poll](https://doodle.com/poll/x7uqypnt3rchwwsg?utm_source=poll&utm_medium=link) with your availability.

If any one who hasn't yet had a moment to do so, wants to add their preference – I can confirm the date this week.

Thank you!

[2021-11-17 17:38] anisa-hawes opened #2385 "Activities to add to the research / investigacion / recherche / pesquisa pages"
Hello all,

I will soon be updating the research / investigacion / recherche / pesquisa pages of our website with some recent activities:

- [Training the Teacher: Giving your first Digital History Workshop](https://www.history.ac.uk/our-century/centenary-events/training-teacher-giving-your-first-digital-history-workshop) with IHR. 18th November 2021 @acrymble and @anisa-hawes

- [Open Publishing

[2021-11-17 17:44] jenniferisasi commented on #2385
I'm not sure when in December it will come out, so it depends when you do the updates; but we will soon have an article on _Hispania_ that is an analysis of the translations with do in Spanish. Unless anything changes on their end, this would be the citation:

Jennifer Isasi and Antonio Rojas Castro. “Sin equivalencia: Una reflexión sobre la traducción al español de recursos educativos abiertos.”

[2021-11-17 17:51] anisa-hawes commented on #2227
I think I've finally got the hang of this! I successfully re-based a batch of PRs via the Command Line this afternoon. Thank you all for your patience.

[2021-11-17 17:51] #2227 closed, assigned to ZoeLeBlanc, anisa-hawes

[2021-11-17 21:13] anisa-hawes commented on #2384
Thank you, all!

These are the lessons which need to be updated:

- [x] en/lessons/working-with-web-pages

- [x] es/lecciones/trabajar-con-paginas-web

- [x] fr/lecons/telecharger-des-pages-web-avec-python

- [x] pt/licoes/download-paginas-web-python

- [x] en/lessons/from-html-to-list-of-words-1

- [x] es/lecciones/de-html-a-lista-de-palabras-1

- [x] en/lessons/from-html-to-list-of-words-2

- [x

[2021-11-17 22:56] jairomelo commented on #2384
Hi @anisa-hawes

In ES and FR lessons just replace the command with `respuesta.read().decode('UTF-8')` and that'll do the trick :)

[2021-11-17 23:07] ericbrasiln commented on #2384
Hi, @anisa-hawes
As `reponse` and `respuesta` are variables and `.decode()` is a method that converts the object into a string, you could keep the variable names and add `.decode(UTF-8')`, no need for translation.

However the [French lesson](https://programminghistorian.org/fr/lecons/telecharger-des-pages-web-avec-python) uses `wb` which writes as binary. So if we use the `decode()` method, it wi

[2021-11-18 05:59] spapastamkou commented on #2384
Thank you all for helping with the French lesson. @matgille @datalogism @icolab please be aware of this issue, thanks.

[2021-11-18 06:28] spapastamkou commented on #2346
Thank you @anisa-hawes for the energy you put in the organisation of this meeting. Unfortunately, I won't be able to attend, I hope I'll make it next time.

[2021-11-18 09:30] #2381 closed, assigned to anisa-hawes

[2021-11-18 09:31] anisa-hawes commented on #2346
Thank you, @spapastamkou. Please don't worry – this is a very busy time for you. We'll share the minutes after the meeting.

[2021-11-18 09:50] anisa-hawes commented on #2384
Thank you for this very thorough reply @ericbrasiln! In the FR lesson, I'll replace `= reponse.read()` with `= reponse.read().decode('UTF-8')` and change the `wb` to `w` in the following command as you suggest.

I will update the ES sequence too, replacing the command `= respuesta.read()` with `=respuesta.read().decode('UTF-8')`. Thank you, @jairomelo!

[2021-11-18 16:19] datalogism commented on #2042
Sans soucis @spapastamkou  !

[2021-11-18 17:24] anisa-hawes opened #2388 "Undo commit 4414e0b"
I am reverting [commit 4414e0b](https://github.com/programminghistorian/jekyll/commit/4414e0b874391b6ef010a4b08947eb9405b9b4bd) which I mistakenly pushed directly to gh-pages.

[2021-11-18 18:06] anisa-hawes commented on #2388
Done! I learned how to resolve the conflict. Thank you for your patience, @rivaquiroga!

[2021-11-18 18:06] #2388 closed, assigned to anisa-hawes

[2021-11-19 11:42] rivaquiroga commented on #2364
The new ES lesson is now published: http://dx.doi.org/10.46430/phes0055 🎉

[2021-11-19 11:46] anisa-hawes commented on #2364
Hooray! Thank you, @rivaquiroga! Our December Newsletter is going to be filled with wonderful new lessons!

[2021-11-19 11:50] DanielAlvesLABDH commented on #2364
We have a new one, also! https://doi.org/10.46430/phpt0016

[2021-11-19 11:54] drjwbaker commented on #2298
@ZoeLeBlanc: so it looks like to do this, @proghist needs sufficient permissions to access the repo settings (especially https://github.com/programminghistorian/jekyll/settings/hooks). Any chance you could update the settings when you get a minute {not urgent though!}

[2021-11-19 12:46] anisa-hawes opened #2391 "Adding info-alert box to Beginner's Guide to Twitter Data"
I am adding an info-alert box to the EN lesson Beginner's Guide to Twitter Data.

In advance of implementing an update to this lesson (under discussion in [Issue 2087](https://github.com/programminghistorian/jekyll/issues/2087)) I am adding a note to the Exporting the Dataset step to let readers know that the export options available for Tweet Sets are limited in the current release.

[2021-11-19 12:51] anisa-hawes commented on #2087
Thank you, @lwrubel. This is much appreciated. I've prepared a PR to add the info-alert box.

I'd also be happy to take care of the PR for revisions to the lesson. If you would like to suggest the changes here in the Issue, then I can implement them.

No need at all to apologise for any delay. Whenever you're ready, there is no rush.

[2021-11-19 13:49] anisa-hawes commented on #1876
Hello all,

Apologies for the hiatus in my work on this Issue. I have started some work in Branch [1876](https://github.com/programminghistorian/jekyll/tree/Issue-1876) but I’d appreciate your advice to complete it.

So far:

- I've added an alert box at the beginning of the lesson, to explain the reason for and nature of recent updates
- I've made an adjustment to the Transformers section, amendi

[2021-11-19 16:14] anisa-hawes commented on #2141
Hello all @programminghistorian/english-team @programminghistorian/spanish-team @programminghistorian/french-team @programminghistorian/portuguese-team,

@jenniferisasi and I have been working on the [Lesson Concordance](https://docs.google.com/spreadsheets/d/1vrvZTygZLfQRoQildD667Xcgzhf_reQC8Nq4OD-BRIA/edit?usp=sharing_eil_m&ts=616ad2b3) document and it is now ready to use.

- We've linked all pu

[2021-11-19 16:40] spapastamkou commented on #2141
I checked the Fr column and made modifications but did not write you right away and then I forgot:-)

Envoyé de mon iPhone

[2021-11-19 16:41] anisa-hawes commented on #2141
Ah! Thank you, @spapastamkou! 🙂

[2021-11-19 17:26] DanielAlvesLABDH commented on #2141
Dear @anisa-hawes i have made a revision, smaller changes. I agree with the idea of a link in the guidelines. Thanks for all the work!

[2021-11-19 19:32] rivaquiroga commented on #1876
Mmm.. it is a difficult decision. Too much depth could be a digression from the main focus of the lesson and the original aim of the author. What do you think of putting all the possible workarounds (using Saxon, launching a web server with R or Python, etc.) as some kind of appendix at the end of the lesson? In the body of the lesson we can add a warning box explaining why that step is not possib

[2021-11-19 19:33] jenniferisasi commented on #2141
Thanks for the update @anisa-hawes. I hope this eases the overlapping issue a bit, and at the same time it might prompt translations and new ideas.

[2021-11-19 21:00] #2391 closed, assigned to anisa-hawes

[2021-11-19 21:08] svmelton commented on #1876
I like @rivaquiroga's suggestions of offering an appendix for possible workarounds. Of course, we'll need to be aware that adding those workarounds in will increase the possible maintenance, but I think that's probably just the cost of keeping the lesson up to date.

[2021-11-21 16:51] InesSalome opened #2396 "Little imprecision in documentation of lev's fonction (Lesson "Generating an Ordered Data Set from an OCR Text File")"
As mentioned in a [comment](https://github.com/programminghistorian/ph-submissions/issues/362#issuecomment-972935952) from the issue #362 _in_ ph-submissions repository, I noticed during my work of editor for lesson's translation _[Generating an Ordered Data Set from an OCR Text File](https://programminghistorian.org/en/lessons/generating-an-ordered-data-set-from-an-OCR-text-file)_ e little imprec

[2021-11-21 19:55] lwrubel commented on #2087
I've submitted a PR with suggested revisions and new screenshots: https://github.com/programminghistorian/jekyll/pull/2397

Happy to make any further edits or answer questions.

[2021-11-23 14:55] rivaquiroga commented on #2346
Hi, everyone! I'm so so sorry, but I won't be able to attend :broken_heart:

[2021-11-24 11:39] anisa-hawes commented on #2346
Dear @rivaquiroga and dear all,

I'm wondering if it is more sensible that we postpone this meeting until the new year?
Indeed, it may be that after the Project Team Meeting (in which we will discuss our goals and planning for 2022) you will have a lot you want to talk about between you. I've been in touch with Maria José, and hope to fix the date of our PTM today or tomorrow.

This is only an ide

[2021-11-24 12:08] anisa-hawes commented on #2396
Thank you for noting this, @InesSalome. I can take care of making the change!

[2021-11-24 12:21] anisa-hawes commented on #2087
Enormous thanks, @lwrubel! I have just been reading through the adjustments you've suggested. Your changes to the text are written very clearly – thank you. I'm running the build workflow now, so that I can check everything looks right in the Netlify Preview (new screenshots, adjusted captions, etc.). After that, I'll ask @svmelton to review, and confirm we're okay to merge the PR.

Thank you agai

[2021-11-24 12:29] anisa-hawes opened #2400 "Fixing broken link research / investigacion / recherche / pesquisa"
I am replacing a broken link on the research / investigacion / recherche / pesquisa pages of our website.

The link <https://cas.au.dk/center-for-digital-history-aarhus/events/show/artikel/teaching-digital-history-workshop-a-one-day-seminar/> representing Sofia Papastamkou's presentation, ‘A Beating Heart of Digital History: The Programming Historian’ at Teaching Digital History Workshop, Center f

[2021-11-24 13:55] #2400 closed, assigned to anisa-hawes

[2021-11-24 14:58] #2366 closed, assigned to anisa-hawes

[2021-11-24 15:52] DanielAlvesLABDH commented on #2346
Dear Anisa and all, I think this is a good idea. Unfortunately, today I was scheduled for yet another meeting in the university and it is not possible to attend this meeting. Sorry

[2021-11-24 15:54] anisa-hawes commented on #2346
Thank you, Daniel.

I will put this Issue "On Hold" and I'll be in touch in the new year to re-schedule.

[2021-11-24 18:07] anisa-hawes commented on #2325
Hello all. In the discussion session which followed [our Workshop last week](https://programminghistorian.org/posts/first-teaching-workshop), @acrymble and I received some feedback from educators which I think is relevant to mention in this thread.

Many asked about how to find lessons suitable for their students' ability level. We demonstrated the sorting facility that is available in our Lesson

[2021-11-24 18:26] anisa-hawes opened #2402 "Improving communication with our IPPs"
We've recently received some feedback from one of our new IPPs, relating to how our Communications with them could be improved.

One idea proposed is that we could send a "Welcome" email upon their joining, including general information about the AGM and how/when memberships are renewed. This could be something we create once, as a template to re-use.

Another idea is that we create an IPP mailing

[2021-11-24 20:04] jenniferisasi commented on #2402
@anisa-hawes for one thing, creating a pretty PDF out of the markdown file that we use to create the newsletters is super easy

[2021-11-24 21:26] drjwbaker commented on #2325
Thanks for reporting this to us. Great feedback.

My read. In part, we've been here before (PH once had a pathway of lessons). More pertinently, the problem is that what is 'core' is in the eye of the beholder. For example, until recently, Carpentries thought - for years - that the basics of scientific computing were shell + git + python + sql https://software-carpentry.org/lessons/ Then they swit

[2021-11-24 21:52] acrymble commented on #2325
It may be helpful to tag lessons that we know have successfully been used in workshop settings or classrooms.

[2021-11-25 11:08] miguel-dm commented on #1876
Hello everyone. Nice to meet you.
Few days ago I emailed @anisa-hawes, after finishing the lesson in question, sharing my way around the two noted issues.
As Anisa pointed this open issue url, I'm here sharing a few screenshots with you, on how to overcome those.

01. In previous comments, the "local server" was mentioned, and that is exactly what I did on Atom editor, through a package called [at

[2021-11-25 11:10] anisa-hawes commented on #1876
Welcome, @miguel-dm! Thank you for contributing 🙂

[2021-11-25 11:28] anisa-hawes commented on #2402
A few ideas which have come out of a conversation with Adam:

The Issue is really about "community building" and so it may be worth bringing our Patreon supporters into this circle of people who we would like to keep better informed.

Perhaps the revised newsletter format should become something aimed at the Team + IPP contacts + Patreon members + potential supporters? Rather than an update aimed

[2021-11-25 11:30] drjwbaker commented on #2402
I'm concerned about your workload. Do you really have capacity?

[2021-11-25 11:48] anisa-hawes commented on #2402
Thank you, James. I'm not sure... I would certainly need to better understand what Patreon leadership requires. But if it was writing and circulating a Newsletter (a version of which I am writing anyway, for the moment) I think I could do (at least this share of) it.

[2021-11-25 11:50] drjwbaker commented on #2402
I guess it depends if we want to maintain what we have on Patreon (a group of patrons who got us going, but are losing numbers as people's bank details become out of date), or grow that part. I'd assume the former, seen as IPPs are more fundamental to our economic sustainability.

[2021-11-25 12:00] anisa-hawes commented on #2402
I think this is something we could discuss within our forthcoming Project Team Meeting. As we agree which goals we want to focus on in the coming year, we will be able to clarify which areas we want to dedicate our energy and resources to.

[2021-11-25 12:18] matgille commented on #1876
Thanks @miguel-dm for your contribution; the atom workaround could be a good solution too, but the second solution you provide seems too complex to me. I think it is better to use XSLT (or the transformation engine) to produce directly the output document (with `xsl:output-document` for instance).

I like @rivaquiroga 's solution too !

[2021-11-25 12:43] miguel-dm commented on #1876
Just confirmed on the Visual Studio Code similar steps for the first issue.
Install [Live Server](https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer) extension, turn it on, select XML file.

<details><summary>screenshots</summary>
<br/>

![2_01_visual_studio_code_extension](https://user-images.githubusercontent.com/12372981/143441573-f13cb28f-7a2b-4f24-88a3-b0b6fcfffc24.png)

[2021-11-25 12:57] anisa-hawes commented on #2346
Hello @DanielAlvesLABDH, @rivaquiroga, @spapastamkou and @svmelton,

I've created a [new Doodle Poll](https://doodle.com/poll/zgpuptp3ce9ubdng?utm_source=poll&utm_medium=link) so that we can fix a date in our calendars for January.

Thank you, Anisa

[2021-11-25 13:51] anisa-hawes commented on #1953
Hello all,

I have started trying this lesson today (running macOS BigSur v.11.5.2), to see if I can better understand/reproduce the error @jenniferisasi encountered.

I actually ran into another problem, as early as the first example command. I applied the "patch" to the `setup` file as explained, but when I ran the command an error message popped up: “lxreplace” cannot be opened because the deve

[2021-11-25 14:11] anisa-hawes commented on #2325
Thank you, @drjwbaker. This is interesting and useful context.

If we would rather avoid making those decisions about which are "core" skills, and simply surface the relative 'difficulty' levels of our lessons, then maybe designing a way to click "Beginner", "Intermediate", or "Advanced" would be enough to help educators and their students find what they're looking for.

We could also consider sha

[2021-11-25 14:47] rivaquiroga commented on #1876
[The TEI lessons published in PH en español ](https://programminghistorian.org/es/lecciones/introduccion-a-tei-1#software-que-usaremos)use VS Code, so it sounds like a great idea to propose the Live Server extension as a solution.

[2021-11-25 15:15] drjwbaker commented on #2325
I guess I'm actually for us curating places to start, because I can see the need. I guess my point is I'm happy so long as we are reflexive enough to make clear that they aren't *the* places to start, but the places to start that we have chosen (or, continue to chose through regular revision of the choices).

[2021-11-25 15:44] anisa-hawes commented on #2325
Understood. Thank you @drjwbaker. Maybe we can do all three:

- curate a set(s) of lessons which we think could be places to start
- make it easier for readers to filter lessons by difficulty
- make it clearer what our difficulty levels mean (to editors who assign them, and to readers who interpret them)

[2021-11-25 17:21] jenniferisasi opened #2403 "Remove "about the author" from TEI part 2"
While working on a translation for a presentation, I found that the lesson "Introducción a la codificación de textos en TEI (parte 2)" has a section, at the end, dedicated to the information about the author. We don't need this, as it is included within our framework and not the text for the lesson.

Simply opening this issue to remove that part myself with a PR.

[2021-11-25 17:27] anisa-hawes commented on #2359
Dear all,

Thank you for filling in your availability in the [Doodle Poll](https://doodle.com/poll/x7uqypnt3rchwwsg?utm_source=poll&utm_medium=link)

We'll meet on **Thursday 16th December at 09:00 COT / UTC−05:00**

[2021-11-26 10:23] drjwbaker opened #2405 "Programming Historian - Reviewer Tracking sheet"
I've just noticed that @jerielizabeth is the owner of this sheet. Should we move ownership onto the shared gmail?

[2021-11-26 11:14] anisa-hawes commented on #2405
Good idea, @drjwbaker. Shall we also do this for these two Google Sheets:

- Twitter Bot
- Lesson Concordance (are you the owner at the moment, @jenniferisasi?)

[2021-11-26 11:22] #2384 closed, assigned to anisa-hawes

[2021-11-26 11:55] drjwbaker commented on #2364
@anisa-hawes Purdue University have joined, if you have some time to celebrate that on twitter!

[2021-11-26 11:56] drjwbaker commented on #2405
I guess the priority are docs not currently owned by a member of the team. But as good practice, yes, the shared gmail should own all critical documents.

[2021-11-26 13:34] #2380 closed, assigned to anisa-hawes

[2021-11-26 14:08] anisa-hawes opened #2407 "Add Purdue University to IPP list"
I am adding Purdue University to our lists en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores

[2021-11-26 14:39] #2407 closed, assigned to anisa-hawes

[2021-11-26 15:25] drjwbaker commented on #2359
I'm afraid I'm tentative for this. I'll probably be running some training with people in Syria.

[2021-11-26 16:49] #2141 closed, assigned to svmelton, jenniferisasi, JMParr, spapastamkou, rivaquiroga, DanielAlvesLABDH, anisa-hawes

[2021-11-26 18:01] #2087 closed, assigned to anisa-hawes

[2021-11-28 21:02] spapastamkou opened #2411 "Fix revision of FR author guidelines"
The FR author guidelines have been revised (see issue #2042) but the revised version is not live on the site (small problem with PR #2114). I open a new ticket so we can fix this with a new PR.

[2021-11-28 23:33] spapastamkou commented on #2042
Les consignes révisées devraient être mises en ligne vie l'issue #2411 et le PR #2412.

[2021-11-28 23:33] #2042 closed, assigned to spapastamkou, InesSalome, anisa-hawes

[2021-12-01 12:56] anisa-hawes opened #2414 "Fix broken link in intro-to-linked-data and introduccion-datos-abiertos-enlazados"
A link to the Digging Into Linked Parliamentary Data (Dilipad) project <http://dilipad.history.ac.uk> has broken.

This link is featured in the EN lesson intro-to-linked-data as well as ES introduccion-datos-abiertos-enlazados

It seems that the Project website is no longer live.

I'd like to suggest that we replace this with a link to the project's abstract on the Jisc repository, <https://reposi

[2021-12-01 13:09] anisa-hawes opened #2416 "Correct typing error in EN Lesson.Query.Form.txt"
A member of our community has identified a typing error at line 16 of our EN Lesson.Query.Form.txt.

[2021-12-01 14:18] #2414 closed, assigned to anisa-hawes

[2021-12-01 17:03] #2411 closed, assigned to spapastamkou

[2021-12-02 12:49] anisa-hawes commented on #2359
Thank you for letting us know, @drjwbaker. After the meeting, I will share the workshop materials with those who were unable to attend, so that they can contribute ideas too. (Alas, we will miss you).

[2021-12-02 13:03] anisa-hawes commented on #2298
Hello all,

Who is the best person to introduce me to our Twitter Bot?

December has arrived so quickly! I'm keen to gather the knowledge and skills listed above before the end of the year.

Should have clarified:

I already know where to find our Twitter Bot Google Sheet, how to add a new Lesson to the pipeline, and how to move a Retired Lesson to the "Deprecated" tab. Is there anything else I ne

[2021-12-02 13:44] anisa-hawes opened #2417 "Adding new Patreon to en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores"
I am adding Mike Bess to our lists en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores

[2021-12-02 14:58] drjwbaker commented on #2417
Is he a Patron or Educator level supporter? (if so, apologies for missing that)

[2021-12-02 16:09] anisa-hawes commented on #2417
Thank you, @drjwbaker! I have spoken with Adam, who explained that Apprentice level supporters aren't added to the website. I've closed this Issue. Apologies for the misunderstanding!

[2021-12-02 16:39] drjwbaker commented on #2417
I did wonder. It says here https://programminghistorian.org/en/supporters which 'levels' we recognise on the site. No worries, we have complicated ways of doing things!

[2021-12-02 16:52] #2417 closed, assigned to anisa-hawes

[2021-12-02 17:15] anisa-hawes commented on #2257
I am closing this Issue because, in agreement with Adam, I am going to take on the week-to-week management of our Patreon account. This will include: replying to messages from our Patreons; adding new Educator and Patron Level supporters to the Supporters pages of our website; collating names of new supporters at all levels for our Newsletters; and Tweeting our thanks for all new support.

In ongo

[2021-12-02 17:15] #2257 closed, assigned to acrymble

[2021-12-02 18:36] anisa-hawes commented on #1932
As my second draft of our editorial guidelines are now with the English team, I am closing this Issue.

The revised documentation is going to be tested in a pilot study for new English editors. When their onboarding is complete, I will collate feedback and open a new Issue for consultation.

[2021-12-02 18:36] #1932 closed, assigned to anisa-hawes

[2021-12-02 18:38] anisa-hawes commented on #2312
Thank you for all your insights and ideas, which have been invaluable in guiding this work.

As my second draft of our editorial guidelines are now with the English team, I am closing this Issue.

The revised documentation is going to be tested in a pilot study for new English editors. When their onboarding is complete, I will collate feedback and open a new Issue for consultation.

[2021-12-02 18:39] #2312 closed, assigned to svmelton, anisa-hawes

[2021-12-02 18:41] anisa-hawes commented on #2209
My second draft of our editorial guidelines (including a distinct section on Typesetting) are now with the English team, so I am closing this Issue.

The revised documentation is going to be tested in a pilot study for new English editors. When their onboarding is complete, I will collate feedback and open a new Issue for consultation.

[2021-12-02 18:41] #2209 closed, assigned to anisa-hawes

[2021-12-02 18:43] anisa-hawes commented on #1995
As my second draft of our editorial guidelines (including a section on setting up YAML metadata) are now with the English team, I am closing this Issue.

The revised documentation is going to be tested in a pilot study for new English editors. When their onboarding is complete, I will collate feedback and open a new Issue for consultation.

[2021-12-03 12:24] anisa-hawes commented on #2385
Hello @jenniferisasi. Just a quick note to say that I've added your & @arojascastro's article to my notes for the Newsletter, as issue 104.4 of _Hispania_ doesn't seem to have been published yet.

[2021-12-03 12:42] #2403 closed, assigned to jenniferisasi

[2021-12-03 12:49] anisa-hawes commented on #2396
Apologies for the delay, @InesSalome! I made a mistake within the previous PR, so have closed it and created a fresh one.
Thank you again for spotting this error!

[2021-12-03 17:59] #2385 closed, assigned to anisa-hawes

[2021-12-03 17:59] jenniferisasi commented on #2385
Fab. I think it will come out around the 15th (checking on previous Dec volumes of theirs). I will also open a PR to add it to the research pages once I am notified that it is published.

[2021-12-03 18:16] #2416 closed, assigned to anisa-hawes

[2021-12-03 18:23] jenniferisasi opened #2423 "Create banner on "Report a bug" page"
After several users creating PRs (from forks in their repo) directly to make changes to our materials, @anisa-hawes and I have decided to add a banner on the "Report a bug" site explicitly telling users NOT to do PRs. It might not be followed by all, but it doesn't cost us to add a banner and also gives Anisa a place to direct PR creators and say "it is a rule".

[2021-12-03 18:25] InesSalome commented on #2396
No problem !

[2021-12-03 18:43] anisa-hawes commented on #2423
Thank you, @jenniferisasi. Things would certainly be much simpler for me to manage if we could discourage this.

I'd like to suggest that we also remove these sentences:

"If you believe you know how to fix the problem in the lesson, you may wish to consider forking our repository and making a pull request.

For more information about pull requests, see the GitHub Guide on Forking Projects or Rich

[2021-12-03 18:48] anisa-hawes commented on #2396
Hmmm... Although I used the phrase "Closes #2396" in [PR 2420](https://github.com/programminghistorian/jekyll/pull/2420) this Issue hasn't closed. So I am closing it now.

[2021-12-03 18:48] #2396 closed, assigned to InesSalome, anisa-hawes

[2021-12-05 17:47] svmelton opened #2430 "Creating new topics"
@anisa-hawes noted an issue: in the [editorial guidelines](https://programminghistorian.org/en/editor-guidelines#3-add-yaml-metadata-to-the-lesson-file) there's a mention of editing the lessonfilter.js file:

`Edit /js/lessonfilter.js so the filter button to filter the lesson page to that topic works. Search the file for the ten-line chunk of code beginning with $('#filter-api'), copy and paste th

[2021-12-05 18:35] jenniferisasi commented on #2430
Per my perusal through multiple files and on #2429, I arrived at this conclusion:

`Inspecting the lessonfilter.js file, I believe you might be correct (though I am no expert on JS, more like super novice 😅). I understand that if you add a new topic to the lesson and then to /_data/topics.yml it should show on the button options (until you add it to _data I think it will ignore said topic in the l

[2021-12-06 15:38] jerielizabeth commented on #2405
Hi all - sorry for the delay. End of term.

What is the shared gmail? I am happy to transfer ownership of the document.

[2021-12-06 15:55] #2423 closed, assigned to jenniferisasi

[2021-12-06 18:23] anisa-hawes commented on #2405
Thank you, @jerielizabeth. Our shared Gmail address is <programminghistorian@gmail.com>

[2021-12-06 19:00] jerielizabeth commented on #2405
Ownership transfer initiated on my end.

[2021-12-07 08:47] drjwbaker commented on #2405
Got it. Thanks @jerielizabeth.

[2021-12-07 08:47] #2405 closed, assigned to anisa-hawes

[2021-12-08 11:26] anisa-hawes commented on #2430
Thank you, @svmelton and @jenniferisasi.

To confirm, if editors want to add a new topic, they need to update `/_data/topics.yml` following this format:

[code]

I'll add this to our re-draft of the EN guidelines.

[2021-12-08 11:31] anisa-hawes opened #2432 "Adding new IPPs to en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores"
I am adding the following new IPPs to our lists en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores

- MIT Libraries

- University of Nebraska-Lincoln

[2021-12-08 12:53] anisa-hawes commented on #2298
I noticed that on the [Admin when team members step down](https://github.com/programminghistorian/jekyll/wiki/Admin-when-team-members-step-down) page of our Wiki, I am listed as responsible for removing access to our Jekyll repo and Twitter account.

At the moment, I'm not clear on how to do this (or whether I have the admin permissions to do so).

I tried to remove a former editor from the French

[2021-12-08 13:40] jenniferisasi commented on #2430
That format but on the [/_data/topics.yml](https://github.com/programminghistorian/jekyll/blob/gh-pages/_data/topics.yml) file, not the `js/lessonfilter.js`

[2021-12-08 13:43] #2432 closed, assigned to anisa-hawes

[2021-12-08 13:57] anisa-hawes commented on #2430
Yes! Thank you, @jenniferisasi!

[2021-12-08 14:14] anisa-hawes commented on #2430
I will add these instructions to the re-draft of our editorial guidelines (which are now in review with the English team). I am closing this Issue.

[2021-12-08 14:14] #2430 closed, assigned to svmelton, anisa-hawes

[2021-12-09 22:06] jenniferisasi commented on #2364
@anisa-hawes something else to add :) We are one of the three recipients of the Open Publishing Award 2021 on the Open Content category, by Coko https://openpublishingawards.org/results/2021/index.html

[2021-12-09 22:58] jenniferisasi commented on #2298
@anisa-hawes I think that should cover your responsibilities (although even adding a lesson is the task of the editor publishing the lesson). The bot itself is taken care of my the tech-team if something goes wrong (hope not, cos it was Brandon who created it). I don't think there is anything else to it, but happy to chat about it if you have any question.

[2021-12-09 23:53] svmelton commented on #2364
New EN lesson! https://doi.org/10.46430/phen0095

[2021-12-10 08:29] acrymble commented on #2298
@jenniferisasi @anisa-hawes the purpose isn't so much who will fix it, but who has admin access and passwords to the bits of all the services we use. We're trying to make sure that no matter who retires from the project, we know all of the logins, what everything is for, etc.

At the moment a lot of these are distributed quite widely and attached to personal accounts in complicate ways.

[2021-12-10 08:31] acrymble commented on #1981
@ZoeLeBlanc this seems still to be stuck. I'm not sure what the problem is, but can we try fully transferring this to a new account that's owned by the project instead of linked to a personal account? At the moment I don't think anyone can even go in and look to figure out what needs to happen. And that's the big problem with the current setup.

There are a number of workflows we want to simplify

[2021-12-10 11:09] anisa-hawes commented on #2298
Thank you, @acrymble. Yes, understood. I have the password for our shared Twitter account, but I don't think I have admin access?

[2021-12-10 12:04] anisa-hawes opened #2435 "Adding a new Patreon supporter to our lists en/supporters, es/colaboradores, fr/nos-soutiens, pt/apoiadores"
I am adding a new Patreon supporter.

Ajit Balakrishnan has joined at our Patron tier

[2021-12-10 12:18] anisa-hawes commented on #2402
This is a small thing: but it would help me to know which Twitter handle(s) to mention when I post our "welcome" Tweet.

Earlier this week, I used the University of Nebraska-Lincoln handle https://twitter.com/UNLincoln but realise now that I should have used https://twitter.com/CDRH_UNL to connect directly with The Center for Digital Research in the Humanities.

[2021-12-10 12:25] anisa-hawes commented on #2324
Just noted that I don't retrieve [Exploring and Analyzing Network Data with Python](https://programminghistorian.org/en/lessons/exploring-and-analyzing-network-data-with-python) when I filter by [Topic Python](https://programminghistorian.org/en/lessons/?topic=python)....

[2021-12-10 12:57] anisa-hawes opened #2437 "Fix broken link in EN lesson exploring-and-analyzing-network-data-with-python"
I am fixing a broken link to Mark Granovetter's article “The Strength of Weak Ties” which features in the EN lesson exploring-and-analyzing-network-data-with-python.

<https://sociology.stanford.edu/sites/default/files/publications/the_strength_of_weak_ties_and_exch_w-gans.pdf> is broken.

<https://snap.stanford.edu/class/cs224w-readings/granovetter73weakties.pdf> as replacement.

[2021-12-10 13:30] #2437 closed, assigned to anisa-hawes

[2021-12-10 14:07] #2435 closed, assigned to anisa-hawes

[2021-12-10 14:28] anisa-hawes commented on #2346
Hello @DanielAlvesLABDH, @rivaquiroga, @spapastamkou and @svmelton,

I've updated the [Doodle Poll](https://doodle.com/poll/zgpuptp3ce9ubdng?utm_source=poll&utm_medium=link) for our January meeting with further date and time options.

Please fill in your availability when you can. It would be great if we could put this date in our calendars for the new year!

Thank you.

[2021-12-10 14:55] jenniferisasi commented on #2298
Let me look that up, but because we need to share private info, I'll touch base on Slack.

[2021-12-10 16:09] anisa-hawes commented on #2298
Thank you, @jenniferisasi! I'm now set up on TweetDeck and can manage Team access + roles.
I've updated the documentation [here](https://github.com/programminghistorian/jekyll/wiki/Service-Integrations), including link to instructions for Managing Teams and Team Roles.

[2021-12-10 16:27] anisa-hawes commented on #2405
Just to confirm: the shared Gmail is now the owner of both the Twitter Bot & Lesson Concordance Google Sheets as well as the Reviewer Tracker. Thanks all!

[2021-12-10 18:48] anisa-hawes commented on #2359
Dear all,

Ahead of our Project Team Meeting next Thursday 16th December at 09:00COT / UTC-05:00, Maria José and I would like to share a diagram we've created for [Goals_Planning_Dec_2021.pdf](https://github.com/programminghistorian/jekyll/files/7694853/Goals_Planning_Dec_2021.pdf).

![Screenshot 2021-12-10 at 18 43 44](https://user-images.githubusercontent.com/87070441/145625737-c731dba9-b03e-400

[2021-12-13 17:16] rivaquiroga commented on #2364
@anisa-hawes, we will publishing a new ES lesson this week 🥑🎉

[2021-12-14 09:04] DanielAlvesLABDH commented on #2359
Dear all, dear @anisa-hawes, thanks for sharing this schema and the ideas behind that. I'm sorry to say that I will not be able to attend the meeting this time. I will ask some of my colleagues from the editorial board to be present. Best

[2021-12-14 09:06] DanielAlvesLABDH commented on #2359
Olá @joanacvp e @JimmyMedeiros82, não sei se um de vocês pode ir a esta reunião em representação da equipe PT? Eu tenho compromissos na Faculdade e na Biblioteca Nacional e não vou conseguir estar presente. Desde já agradeço!

[2021-12-14 09:52] joanacvp commented on #2359
Bom dia. Eu tenho a reunião do projeto Alcáçovas e o mesmo compromisso na BN. Se conseguir estar presente será apenas por 30min no intervalo entre uma coisa e a outra.

[2021-12-14 09:55] DanielAlvesLABDH commented on #2359
Dia 16, @joanacvp?

[2021-12-14 10:01] joanacvp commented on #2359
Verdade, enganei-me no dia. Dia 16 tenho uma consulta pelas 17h30, poderei estar presente na parte inicial

[2021-12-15 11:01] anisa-hawes commented on #2364
Excellent! I'll keep an eye out for it!

[2021-12-15 11:07] anisa-hawes commented on #2359
Thank you, @joanacvp! We look forward to seeing you then. Happy that there will be a voice from the Portuguese team!

[2021-12-15 11:43] anisa-hawes commented on #2298
Apologies. Although I have the password for our shared YouTube account, I've just tested logging in and it has generated a verification code which appears to have been sent to a mobile phone. Whose mobile is linked? Is it yours @mariajoafana?

[2021-12-15 12:17] drjwbaker commented on #2298
That would be me I think. Usually when trying to share the gmail logins, we need to have a call where I tell the person trying to log in the codes I can see on my phone.

[2021-12-15 12:31] anisa-hawes commented on #2298
Ah! I see. I don't actually need to log in to YouTube now, I just wanted to test it out. Apologies!

[2021-12-15 15:37] ZoeLeBlanc commented on #1981
Agree with all your points @acrymble Adam and definitely asking for help here!! I don't know much of anything about DNS or cloudflare so I'm pretty much flying blind.

Today I tried to add programminghistorian.org to our cloudflare account and got this message. Do we know who has our administrator for the DNS? Also do we want to transfer ownership of the domain name?
![Screen Shot 2021-12-15 at 9

[2021-12-15 15:43] ZoeLeBlanc opened #2441 "December Tech Team Meeting"
Here's our agenda for today's tech team meeting.

- #2324 still need to work on troubleshooting search building
- #1981 Still trying to figure out cloudflare transfer (anyone with any experience feel free to chime in!)
- should we offer to help with #2360  tools to facilitate editorial tasks + discussion about yaml fields & naming images?
- #2289 any thoughts on PH-Submissions build review (also r

[2021-12-15 17:47] anisa-hawes commented on #2346
Thank you! We will meet on **Thursday 13th January at 14:00 UTC**.

09:00 Boston / 11:00 Santiago / 14:00 Lisbon / 15:00 Paris

*I have spoken with @spapastamkou, who will join us if she can.

[2021-12-15 17:52] acrymble commented on #1981
Thre's very limited documentation on the wiki about this, which is partly why this is so difficult. But I think Matt is still the owner.

It would be great if Programming Historian fully controlled this so we don't have this problem again in future.

[2021-12-15 17:52] anisa-hawes commented on #1981
Thank you, @ZoeLeBlanc! From the notes on our Service Integrations, it seems like the Domain Name is maintained by colleagues at George Mason University.

[>>](https://github.com/programminghistorian/jekyll/wiki/Service-Integrations#domain-name)
maintained by: Jessica Otis jotis2@gmu.edu. If contact required, email Jessica cc'ing chnm@gmu.edu (center administrator) or webmaster@chnm.gmu.edu (syste

[2021-12-15 17:54] drjwbaker commented on #1981
GMU offer this service as an IPP, and Jessica confirmed relatively recently that they are our contact point for web hosting, so they shouldn't be surprised by an email from PH.

[2021-12-15 17:55] anisa-hawes commented on #1981
For Cloudflare, the [notes indicate](https://github.com/programminghistorian/jekyll/wiki/Service-Integrations#cloudflare) that we'd need to ask Matt to remove programminghistorian.org from his Cloudflare account, allowing a new admin (our shared Gmail?) to add it to our account.

[2021-12-15 18:03] acrymble commented on #1981
I contacted the George Mason team back in July about this and they already responded that they don't control this:

[2021-12-15 18:12] ZoeLeBlanc commented on #1981
Thanks for all of this @acrymble @anisa-hawes and @drjwbaker 🙏🏽 ! I just messaged Matt on twitter to see if he has time to chat about this and see if we can set up a time to get this migrated over from his account. I'll update here once I hear back from him and fingers crossed we can get this sorted sooner than later 🤞🏽

[2021-12-15 18:31] ZoeLeBlanc commented on #1981
Matt and I are going to meet next week on Wednesday! I'll add any updates or remaining issues here but hoping that we can do the transfer then and have it sorted going forward 🥳

[2021-12-15 20:43] jenniferisasi opened #2442 "New section to display awards in About page"
Programming Historian was the recipient of an Open Content category award in the Open Publishing Award 2021 https://openpublishingawards.org/results/2021/index.html

This has prompted a conversation about displaying our awards somewhere in our website. The simple addition can happen in the About page in a new section that we can create; if we want to display logos for each award I believe it will

[2021-12-15 22:12] rivaquiroga commented on #2359
## ES Team Report

**Actions Completed Since Previous Report**
- 1 original lesson published.
- We start the onboarding process of the new editors

**Actions Remaining Open Since Previous Report:**
- 3 original lessons and 1 translation in the pipeline

**3-month focus:**
- Finish the onboarding of the new editors

**Other items**
- We have been working on #2360

[2021-12-15 22:58] svmelton commented on #2359
## EN Team Report

**Actions Completed Since Previous Report**
- 1 new lesson published
- We are going to begin onboarding 6 (!) new editors
- 1st lesson in the JISC series has just been submitted

**Actions Remaining Open Since Previous Report:**
- 2 lessons awaiting editor assignment, 3 lessons at peer or editor review, 3 lessons awaiting author revisions

**3-month focus:**
- Pilot new onboardi

[2021-12-15 23:00] svmelton commented on #2359
I'm very much hoping to make it to at least part of the meeting, but there are some things that are popping up with my new role, and I'm kind of on standby for a call.

[2021-12-16 09:06] drjwbaker commented on #2442
Thanks for opening this. One option could be to make a version of https://github.com/programminghistorian/jekyll/blob/gh-pages/images/about.png that contains logos. But that might get messy. Or noting also what OLH does https://www.openlibhums.org/site/about/ something on the about page, but between sections rather than at the bottom, perhaps around the 'open' section.

[2021-12-16 11:11] anisa-hawes commented on #2442
Yes, I think that sounds good. And agree that, in this case, it would fit well with the Open Source and Gold Open Access sections. But considering previous (and future) awards that may not be specific to "openness" a dedicated section headed "Awards" might be preferred. Perhaps at the very top of the About page, we could add a general introductory section to say what _Programming Historian_ is, an

[2021-12-16 12:44] anisa-hawes commented on #2360
Hello @rivaquiroga. Thank you for making time to share these ideas with me yesterday!

As we discussed, it would be interesting to consider an extension of these tools to support typesetting across all four languages. The aspects of typesetting work which I think could be automated:

- Numbers: ensuring that numbers one to nine are written as words, numerals 10 and above
- Headings: ensuring that

[2021-12-16 12:44] anisa-hawes commented on #1995
Hello @rivaquiroga,

As we discussed, this Issue answers the question you've posed in #2360 about which are the minimum required fields for a lesson to be rendered on ph-submissions:

[code]

In our conversation, you explained that the three dashes `---` are needed both above and below the YAML fields. Thinking together, we also agreed that it would be good to keep in the `authors:` field, so that

[2021-12-16 13:23] spapastamkou commented on #2359
## FR Team Report
Team Name: Editorial, French

By: Célian, Gwenaëlle, Sofia
Date: 16 December 2021

---

**Actions Completed Since Previous Report - New Actions:**
2 translated lessons published published translations
Author guidelines revised
1 forthcoming original lesson in French in the JISC series
1 translated lesson under review put aside because the lesson became obsolete in the meantime

*

[2021-12-16 14:10] joanacvp commented on #2359
## Portuguese Team Report

By: @joanacvp
Date: 16 December 2021

**Substantive Actions Completed Since Previous Report**
- Publication of 5 new translated lessons
- Onboarding of Eric Brasil as editor of the PT team

**3-month focus**
- Publication of 6 new translated lessons
- A presentation on the International Conference Programming in Digital Humanities on the Portuguese participation on the P

[2021-12-16 15:14] ZoeLeBlanc commented on #2360
Thanks for tagging me @anisa-hawes and thanks @rivaquiroga and @nivaca for all your hard work with these tools!

If you have time in the new year it would be good to chat about long term plans for these tools (should we migrate them to PH repos for example?) and whether we could incorporate them more directly into the ph-submissions build pipeline so editors wouldn't have to download them separate

[2021-12-16 16:13] anisa-hawes opened #2444 "Fix broken link in EN transforming-xml-with-xsl and ES transformacion-datos-xml-xsl"
There is a broken link to in EN transforming-xml-with-xsl and ES transformacion-datos-xml-xsl.

Inscriptions of Roman Tripolitania, by J. M. Reynolds and J. B. Ward-Perkins, enhanced electronic reissue by Gabriel Bodard and Charlotte Roueché (2009). ISBN 978-1-897747-23-0.

<http://inslib.kcl.ac.uk/irt2009/> is broken
<https://irt.kcl.ac.uk/irt2009/> is the alternative

[2021-12-16 16:43] anisa-hawes opened #2446 "Update x3 http:// links to https://"
I am updating x3 problem links across the site.

A Mixed Content error in [PR 2443](https://github.com/programminghistorian/jekyll/pull/2443) drew our attention to two problem links in assets/fetch-and-parse-data-with-openrefine/pg1105.html

line 3 http://purl.org/dc/terms/ resolves to https://dublincore.org/specifications/dublin-core/dcmi-terms/
line 4 http://id.loc.gov/vocabulary/relators/ now r

[2021-12-16 16:47] #2444 closed, assigned to anisa-hawes

[2021-12-16 17:04] #2324 closed, assigned to ZoeLeBlanc

[2021-12-16 17:42] anisa-hawes opened #2448 "Clarify which Python parameter is required, `w` or `wb`?"
Hello there @jairomelo,

I'd like to ask for your help to clarify an inconsistency across one of the lessons in our Python sequence. A reader got in touch to let us know about a mistake the EN lesson working-with-text-files. He noticed that one of the code blocks (which gives the parameter `w`) is followed by a textual explanation of what the parameter is doing (referencing the parameter `wb`). Th

[2021-12-16 17:49] anisa-hawes commented on #2448
This also relates to a [previous Issue](https://github.com/programminghistorian/jekyll/issues/2384), in which we updated the command `= response.read()` to `= response.read().decode('UTF-8')`.

In the case of one of the other FR lessons, [we discussed and decided](https://github.com/programminghistorian/jekyll/issues/2384#issuecomment-972704960) in collaboration with @ericbrasiln that we would mak

[2021-12-16 19:06] #2446 closed, assigned to anisa-hawes

[2021-12-17 10:40] joanacvp commented on #2359
Dear all.
I am really sorry that I couldn't make it to the meeting, but I was confused about the schedule and thought it was at 5 p.m. UTC. I apologize once again

[2021-12-17 11:09] anisa-hawes commented on #2359
No problem, @joanacvp. I will email you separately, so that you can contribute to the brainstorming activity.

[2021-12-17 14:04] anisa-hawes commented on #2359
Dear all,

Sincere thanks for the energy and contributions you gave to our Project Team Meeting yesterday.

The minutes are in our private repository [here](https://github.com/programminghistorian/project-and-business-archive/blob/master/project/Meetings/2021/12_2021_ProjectTeamMeeting.md). As always, please let me know if I've missed any important points, or mis-represented something you said. I

[2021-12-17 14:04] #2359 closed, assigned to anisa-hawes

[2021-12-17 14:21] anisa-hawes commented on #2289
I just want to link this to #2360.

@ZoeLeBlanc wonders if the tools @rivaquiroga and @nivaca are creating could eventually be integrated into checks that the submissions repository runs on new lesson file uploads.

[2021-12-19 09:44] acrymble commented on #2448
This problem originated with some advice from a reader that wasn't tested fully and was implemented: https://github.com/programminghistorian/jekyll/issues/1611

[2021-12-19 13:31] acrymble commented on #2442
If you're updating the page it might be worth switching "Gold" to "Diamond" in our publishing model, as Gold implies that you pay to make it open. Diamond is open by default. That may be on other pages too

[2021-12-19 16:39] drjwbaker commented on #2442
So annoying that 'Gold' as been tainted by association with APCs. Anyway, we should cite this diagram as explanation https://doi.org/10.6084/m9.figshare.6900566.v1

[2021-12-21 14:05] anisa-hawes opened #2449 "Happy Holidays / Merry Christmas / Feliz Navidad / Joyeux Noël / Feliz Natal"
Tomorrow will be my last working day of 2021 and I wanted to take this opportunity to thank you all for making me feel so welcome at _Programming Historian_. I am enormously grateful for your generosity and patience as I have found my way these past six months.

Wishing you all a restful break, whatever traditions or celebrations you may share.

Thank you for the very generous Book Token gift. It

[2021-12-22 08:39] spapastamkou commented on #2449
Merry Xmas to you too, @anisa-hawes! A huge thanks for all you have accomplished here.

[2021-12-22 13:39] anisa-hawes commented on #2448
Thank you, Adam. This is useful. I've read through the thread of #1611, which seems to [conclude that `wb` is the best solution](https://github.com/programminghistorian/jekyll/issues/1611#issuecomment-581536470).... But I've also read a more recent thread #1777 [which notes that](https://github.com/programminghistorian/jekyll/issues/1777#issuecomment-630504065) the `wb` was added to avoid an error

[2021-12-22 15:10] #2448 closed, assigned to anisa-hawes

[2021-12-22 15:29] anisa-hawes opened #2451 "Alternative reference link in en/introduction-to-ffmpeg es/lecciones/introduccion-a-ffmpeg?"
A reader has got in touch to suggest introducing an alternative reference link in:

EN Introduction to Audiovisual Transcoding, Editing, and Color Analysis with FFmpeg
ES Introducción a la transcodificación, edición y visualización de datos audiovisuales con FFmpeg

The section [Graphing Color Data](https://programminghistorian.org/en/lessons/introduction-to-ffmpeg#graphing-color-data) / [Visualiz

[2021-12-22 15:57] anisa-hawes opened #2453 "Update to Pandoc citation filter"
A reader (working on a Windows system) has got in touch to suggest an update to Sustainable Authorship in Plain Text using Pandoc and Markdown

en/lessons/sustainable-authorship-in-plain-text-using-pandoc-and-markdown
es/lecciones/escritura-sostenible-usando-pandoc-y-markdown
fr/lecons/redaction-durable-avec-pandoc-et-markdown

She explains that in the section [Working with Bibliographies](https:/

[2021-12-22 16:53] mariajoafana commented on #2449
Merry Christmas @anisa-hawes ! Best wishes and thanks for all your hard work

[2021-12-22 19:12] #1995 closed, assigned to ZoeLeBlanc

[2021-12-22 19:33] jenniferisasi commented on #2449
¡Feliz Navidad, @anisa-hawes! Lovely 3D 'card' in 2D photographs 😃 My best wishes for a restful break after so much hard work all these months 🙏

[2021-12-22 19:38] jenniferisasi commented on #2451
It is great to hear about how our readers find lessons useful!

Regarding that personal website, it opens other promotional websites for me within 10 seconds of landing. So it is not secure and will not be sustainable in the long term. My 2 cents

[2021-12-22 19:42] DanielAlvesLABDH commented on #2449
Dear @anisa-hawes , many thanks for the message, for the wishes and for all your wonderful work with us. Boas Festas e Feliz Ano Novo!

[2021-12-22 19:46] anisa-hawes commented on #2451
Thank you, @jenniferisasi. Yes, I do feel it's best to leave it as is (WikiHow) to avoid those advertisements and sponsored links. Just thought I should ask for others' thoughts before replying to explain that choice.

[2021-12-22 19:57] #2364 closed, assigned to anisa-hawes

[2021-12-22 20:00] #2449 closed, assigned to anisa-hawes

[2021-12-22 20:44] rivaquiroga commented on #2451
I agree. Better to keep it as is.

[2021-12-22 20:46] rivaquiroga commented on #2449
¡Feliz navidad y próspero año nuevo! Thank you for all your hard work.

[2021-12-30 22:36] jenniferisasi opened #2455 "New research publication to add"
Leaving a note today to update the 'Research' pages when we come back in January.

Isasi, Jennifer, and Antonio Rojas Castro. "¿Sin equivalencia? Una reflexión sobre la traducción al español de recursos educativos abiertos." Hispania 104, no. 4 (2021): 613-624. [muse.jhu.edu/article/842253](muse.jhu.edu/article/842253).

[2022-01-05 11:53] acrymble commented on #1981
Hi @ZoeLeBlanc is this now resolved?

[2022-01-05 15:03] anisa-hawes commented on #2451
I have replied to the reader, explaining our decision to leave the WikiHow link unchanged. Thank you both!

[2022-01-05 15:03] #2451 closed, assigned to anisa-hawes

[2022-01-05 16:06] anisa-hawes opened #2456 "User reported issues: Intro to Google Maps and Google Earth"
A reader has got in touch to let us know about two issues they encountered within our lesson 'Intro to Google Maps and Google Earth'

en/lessons/googlemaps-googleearth
es/lecciones/intro-a-google-maps-y-google-earth

1. In the Google Earth section, the reader suggests that we replace this link <http://www.google.com/earth/index.html> to the browser-based version of GE with this <https://www.google

[2022-01-05 16:13] DanielAlvesLABDH commented on #2456
@joanacvp this issue is similar to the one reported by Angela on the translation to pt isn't?

[2022-01-05 16:18] joanacvp commented on #2456
yes it is @DanielAlvesLABDH.
I will send it to Angela

[2022-01-05 16:24] anisa-hawes commented on #2456
Thank you, @DanielAlvesLABDH and @joanacvp. I'll update you both here when I have tested this so you can pass on the information to your translator Angela. Which Issue is her report detailed in?

[2022-01-05 17:47] #2455 closed, assigned to jenniferisasi

[2022-01-05 18:28] anisa-hawes opened #2458 "Update PayPal link on Twitter Bot Google Sheet"
We [recently Tweeted](https://twitter.com/ProgHist/status/1475391142065848323?s=20) a link to our PayPal donations page, and received [a reply](https://twitter.com/11enbeinturm/status/1475402559422615554?s=20) to let us know that the link was broken!

[I've replied](https://twitter.com/ProgHist/status/1478788336869384199?s=20) to share the correct link, but would like to update our Twitter Bot Goo

[2022-01-05 20:28] jenniferisasi commented on #2458
I made the change that same day @anisa-hawes, apologies because I forgot to open a ticket about it though.

[2022-01-06 11:00] anisa-hawes commented on #2458
Ah! Thank you, @jenniferisasi! You are steps ahead!

[2022-01-06 11:00] #2458 closed, assigned to anisa-hawes

[2022-01-06 13:15] anisa-hawes commented on #2453
I have tested this suggestion. Indeed, the command `pandoc main.md --filter pandoc-citeproc -o main.docx` returns the following `[WARNING] Deprecated: pandoc-citeproc filter. Use --citeproc instead`.

I have created [a PR](https://github.com/programminghistorian/jekyll/pull/2459) with the changes, updating the code and the accompanying textual instruction across EN, ES, and FR.

One thing I am uns

[2022-01-11 20:41] spapastamkou opened #2460 "Change of professional affiliation"
I open the ticket to raise a pull request to change my professional affiliation.

[2022-01-12 14:11] anisa-hawes commented on #2346
Hello @rivaquiroga, @DanielAlvesLABDH, @svmelton and @spapastamkou,

Looking forward to meeting with you all tomorrow **Thursday 13th January at 14:00 UTC**.

**09:00 Boston / 11:00 Santiago / 14:00 Lisbon / 15:00 Paris**

The link to join our Zoom is: https://us05web.zoom.us/j/81129395969?pwd=RUlJazlZZ3dnNWJwdE5qemVVU3J2UT09

Meeting ID: 811 2939 5969
Passcode: 3w22Y5

(N.B. My Zoom account will

[2022-01-12 15:38] anisa-hawes commented on #1981
Happy New Year, @ZoeLeBlanc!

Did you have an opportunity to talk this through with Matt in the end?
Let me know if there's anything I can help with to move this forwards.

Thank you,
Anisa

[2022-01-13 11:01] #2460 closed, assigned to spapastamkou

[2022-01-13 15:57] ZoeLeBlanc commented on #1981
Hi @anisa-hawes and @acrymble ! Thanks for checking in. Met with Matt before the holidays and it looks like we no longer need cloudflare at all actually. All we need to do is have GMU update our domain records to point to different Github servers, and then we can do all our hosting from Github now.

I was planning to email the GMU people to set up a time to get this sorted but I've been a bit unde

[2022-01-13 16:04] acrymble commented on #1981
@ZoeLeBlanc I'm glad you've figured out the issue. Can you please delegate the work to someone else on the @programminghistorian/technical-team if you haven't got the time?

[2022-01-13 16:07] ZoeLeBlanc commented on #1981
Sure! Does anyone @programminghistorian/technical-team have the expertise to work with setting up DNS records? If yes, please feel free to reply here and I'll send you the email info for getting in touch with GMU. Thanks in advance 😊

[2022-01-13 16:14] jenniferisasi commented on #1981
Unfortunately, I have no clue whatsoever about DNS records, much less at this level 😬

[2022-01-13 16:27] hawc2 commented on #1981
I can try to help move this forward - can you email me the relevant info?

On Thu, 13 Jan 2022 at 11:14, Jennifer Isasi ***@***.***>
wrote:

--

*Alex Wermer-Colan, PhD *

*Digital Scholarship Coordinator*

*Temple University, Scholars Studio*

[2022-01-14 10:57] #2453 closed, assigned to anisa-hawes

[2022-01-14 11:29] anisa-hawes opened #2462 "User reported Issue: Building a static website with Jekyll (on Windows)"
A user has reported that the command `choco install ruby -y` is not recognised by GitBash on Windows.

They are following the instructions given in the [On Windows](https://programminghistorian.org/en/lessons/building-static-sites-with-jekyll-github-pages#on-windows-) section of en/lessons/building-static-sites-with-jekyll-github-pages.

I note that the [En Windows](es/lecciones/sitios-estaticos-c

[2022-01-14 11:51] DanielAlvesLABDH commented on #2462
Hi @anisa-hawes also in the Portuguese translation we had some difficulties on that section and we suggest a different path. The translation will be submitted this moth I think.
Here are the translation of that section if it helps (in Portuguese):

### No Windows <a id="sectionWindows"></a>

_As instruções para usuários do Windows diferem das instruções para usuários do Mac, apenas nesta seção “In

[2022-01-14 11:52] DanielAlvesLABDH commented on #2462
Look for the several "Nota de tradução:" where we explain why we change several things in this section

[2022-01-14 11:53] anisa-hawes commented on #2462
Thank you, @DanielAlvesLABDH. It is extremely helpful. I really appreciate you sharing this.

[2022-01-14 12:52] anisa-hawes commented on #2456
Okay. I have tested this twice now (on Windows 10 and on my macOS Big Sur v.11.5.2), and I am encountering the same issue as our reader.

I'm able to successfully load the KML file into Google Earth Pro desktop (7.3.4.8248 (64-bit)) but I don't see the old canals or current Seaway routes that were traced in different line colours and widths onto Dan’s Seaway map. Is this what your colleague Angela

[2022-01-14 15:22] bmschmidt opened #2463 "Rescale oversized gallery images"
Most lesson thumbnails in the gallery are about 50K and an appropriate size (like 128x128 or something).

But three are much larger, and should be rescaled in `/gallery` to save everyone storage and bandwidth costs.

[code]

[2022-01-14 15:45] anisa-hawes commented on #2462
Hello @DanielAlvesLABDH,

Thank you so much for these insights!

I've tested your method for these steps to see how they help Windows users move forwards through the lesson. **Success!** Using the alternative step-by-step you've proposed I have installed Ruby Gems onto Windows 10.

If my (very rough) translation is correct, the first thing your team observed is that Step 3 (the step to install of

[2022-01-14 16:01] anisa-hawes commented on #2463
Hello @bmschmidt. Thank you for noticing this. Yes, we aim to resize our Gallery images so that their dimensions are ~200x200 pixels. Perhaps that step has been missed in these cases. I'll take care of resizing them to put it right.

[2022-01-14 16:45] joanacvp commented on #2456
Hello @anisa-hawes . Sorry for the late reply. In the PT version Angela tried to explain how to get to the desktop version to solve that problem. I already contacted Angela to see if she can help us with this.

[2022-01-14 16:49] anisa-hawes commented on #2456
No problem, @joanacvp. I know how busy you all are!

I used the desktop version (Google Earth Pro desktop v.7.3.4.8248 (64-bit)) but was unable to see any of the pre-traced lines or routes.

I would be really interested to hear about Angela's proposed solution when she has time.

[2022-01-14 18:25] Angelaimp commented on #2456
Hello @anisa-hawes. Also sorry for the late reply. Yes, those were the same issues I identified. I could not see any of the details that should be featured in the the KML-file. Regarding the link for the GE Desktop version, in the translation I made I used the link provided in the lesson (in its portuguese version) and explained how to get to this version. (But I gess a direct link to it is easier

[2022-01-14 18:46] Angelaimp commented on #2456
About a solution for the KML-file issue, in the translation we kept it the same (and used the images from the original lesson), and were also going to do a report about it once it was really finished.

[2022-01-14 19:32] anisa-hawes commented on #2456
Thank you, @Angelaimp. Okay.

In this case, perhaps it would be worth us connecting with the original authors to see if they could re-issue/update the KML file.

This is a popular entry-level lesson, which I know has been used by colleagues at Edinburgh University in their undergraduate teaching programme. I think it would be good to try to resolve this problem if we can.

How would you feel about

[2022-01-14 19:48] anisa-hawes commented on #2346
Dear @DanielAlvesLABDH @svmelton, @spapastamkou and @rivaquiroga,

Thank you for your time yesterday.

I've uploaded the Minutes of your Managing Editors' Meeting to our Project and Business Archive. You can review the minutes [here](https://github.com/programminghistorian/project-and-business-archive/blob/master/project/Meetings/2022/Managing-Editors-Meetings/01_2022_ManagingEditorsMeeting.md).

[2022-01-14 19:48] #2346 closed, assigned to anisa-hawes

[2022-01-14 20:16] svmelton commented on #2456
Thanks for raising this @anisa-hawes! Yes, please go ahead and contact the authors.

[2022-01-14 20:21] anisa-hawes commented on #2456
Thank you, @svmelton. I will put it on my list for next week!

I'll keep you updated too, @Angelaimp!

[2022-01-14 20:45] svmelton commented on #2462
Thanks @anisa-hawes! Yes, let's update.

[2022-01-15 20:24] bmschmidt opened #2465 "Don't accidentally bundle lessons in content."
The single HTML file (not images, not js, etc) at `https://programminghistorian.org/en/lessons/index.html` is about 869K, which is much larger than it should be. Viewing the source, it appears to include the full text of all English language lessons inside of it as comments that no one will ever see.

I believe the problem should be solved [here](https://github.com/programminghistorian/jekyll/pull

[2022-01-15 20:58] ZoeLeBlanc commented on #2465
Thanks for finding this @bmschmidt ! Definite mea culpa since I was the one that added that comment. Just waiting for the build to finish and then we'll merge this in and close the issue 👍🏽

[2022-01-15 21:04] #2465 closed, assigned to ZoeLeBlanc

[2022-01-17 11:07] DanielAlvesLABDH commented on #2462
Dear @anisa-hawes I think you interpreted our Portuguese correctly ;-) Thanks!

[2022-01-17 18:18] Angelaimp commented on #2456
Thank you so much @anisa-hawes !
We will finish the translation and adapt it if necessary

[2022-01-19 00:31] rivaquiroga commented on #2462
@anisa-hawes, the ES translation is currently using an alternative method that avoids the need of Chocolatey. As far as I know, it is working as expected, so we better keep it as is.

[2022-01-19 14:03] anisa-hawes commented on #2462
Hello @rivaquiroga. Yes, I noticed that too.

I'll go ahead and test the method used in the ES lesson. If it works smoothly, perhaps it is best that we update the EN (and forthcoming PT) to use the same method. Do you agree that we should try to keep all three lessons consistent?

[2022-01-19 14:09] DanielAlvesLABDH commented on #2462
I agree to keep all versions of the lesson consistent, with the PT option or the ES option

[2022-01-19 14:14] anisa-hawes commented on #2462
Thank you, @DanielAlvesLABDH. I'll update you here when I've tested the method used in the ES lesson.

[2022-01-19 15:55] anisa-hawes commented on #2462
Okay – I've roughly translated the ES method and have tested these steps. I've successfully installed Ruby Gems and Jekyll onto Windows 10. I did find some parts of these instructions slightly confusing, but this could definitely just be me misunderstanding the Spanish!

--

- I wasn't sure if I should have been working on Git Bash or the Command Prompt app. Is it optional?
- The steps are numbere

[2022-01-19 17:47] anisa-hawes commented on #2456
Hello @Angelaimp. Just a quick update: I've written to the authors today and will let you as soon as I hear back from them.

[2022-01-20 07:05] vidhyav656 opened #2466 "How does suggestion citiation work on the site?"
The need is exact steps to take the implementation.

[2022-01-20 10:49] acrymble commented on #2466
Hi @vidhyav656 the suggested citation is based on the format in the Chicago Manual of Style, which is a fairly common format used by historians who publish in English (I don't know about in other languages).

[2022-01-20 10:59] vidhyav656 commented on #2466
How is the implementation is done on the site? I want to use the same. I am looking for some wiki or docs to implement.

[2022-01-20 11:04] anisa-hawes commented on #2466
Hello @programminghistorian/technical-team. Is anyone able to advise @vidhyav656 about how our citations are implemented? Thank you!

[2022-01-20 11:05] acrymble commented on #2466
It's built up from metadata we collect. On our site you can find the code here:

https://github.com/programminghistorian/jekyll/blob/gh-pages/_layouts/lesson.html

on lines 282-291. But our site is custom, so it's unlikely that you could just cut and paste the code.